@(view: String = "")

@content = {
<div class="curtain-l">
  <div class="curtain-logo-l"></div>
  <a class="curtain-action curtain-signup" href="javascript:">
    <div class="curtain-a-title">Sign up</div>
    Let me in
  </a>
  <p class="curtain-note">
    Note: Kifi is currently in stealth mode and open to beta testers by invitation only.
  </p>
</div>
<div class="curtain-r">
  <div class="curtain-logo-r"></div>
  <a class="curtain-action curtain-login" href="javascript:">
    <div class="curtain-a-title">Log in</div>
    I have an account
  </a>
</div>
<h2 class="curtain-welcome">
  <span class="curtain-welcome-l">Welcome to our</span>
  <span class="curtain-welcome-r">private beta</span>
</h2>
<a class="curtain-back" href="javascript:" tabindex="1">Back</a>

<h1 class="main-logo">kifi</h1>

<div class="signup"@if(view == "signup") { style="display:block"}>
  <form class="signup-1" data-title="Sign up" novalidate>
    <div class="form-sides">
      <div class="form-l">
        <h3>Use a social network</h3>
        <a class="form-network facebook" href="@com.keepit.controllers.core.routes.AuthController.signup("facebook")">
          <span class="form-network-icon"></span>
          <span class="form-network-text">Sign up using Facebook</span>
        </a>
        <a class="form-network linkedin" href="@com.keepit.controllers.core.routes.AuthController.signup("linkedin")">
          <span class="form-network-icon"></span>
          <span class="form-network-text">Sign up using LinkedIn</span>
        </a>
      </div>
      <div class="form-r">
        <h3>Use your email address</h3>
        <input class="form-email-addr" type="email" name="signup-email" placeholder="Your email address"@if(view == "signup") { autofocus}>
        <label class="password-label">
          <input class="form-password" type="password" name="signup-password" placeholder="Your new password">
        </label>
        <button class="form-submit primary-button">Sign up</button>
      </div>
    </div>
  </form>

  @helper.emailSignupForm2()

  <p class="terms">
    By signing up, you agree to Kifi’s <a target="_blank" href="">Terms of Service</a>.
  </p>
</div>

<form class="login" data-title="Log in" novalidate@if(view == "login") { style="display:block"}>
  <div class="form-sides">
    <div class="form-l">
      <h3>Use a social network</h3>
      <a class="form-network facebook" href="@com.keepit.controllers.core.routes.AuthController.login("facebook")" tabindex="1">
        <span class="form-network-icon"></span>
        <span class="form-network-text">Log in using Facebook</span>
      </a>
      <a class="form-network linkedin" href="@com.keepit.controllers.core.routes.AuthController.login("linkedin")" tabindex="1">
        <span class="form-network-icon"></span>
        <span class="form-network-text">Log in using LinkedIn</span>
      </a>
    </div>
    <div class="form-r">
      <h3>Use your email address</h3>
      <input class="form-email-addr" type="email" name="login-email" placeholder="Your email address" required tabindex="1"@if(view == "login") { autofocus}>
      <label class="password-label">
        <input class="form-password" type="password" name="login-password" placeholder="Your password" required tabindex="1">
        <a class="password-forgot" href="javascript:" tabindex="2">I forgot</a>
      </label>
      <button class="form-submit primary-button" tabindex="1">Log in</button>
    </div>
  </div>
</form>

@* down here to prevent transition side effects (1px shifting) in Chrome *@
<h2 class="page-title">
  @view match {
    case "login" => {Log in}
    case "signup" => {Sign up}
    case _ => {}
  }
</h2>

@helper.photoDialog()
@helper.resetPasswordDialog()
}

@scripts = {
<script src="/assets/js/jquery-ui-position.min.js"></script>
<script src="/assets/js/jquery-ui-slider.min.js"></script>
<script src="/assets/js/auth.js"></script>
}

@helper.page(curtainsDrawn = view != "", content = content, scripts = scripts)
