@(view: String = "", emailAddress: String = "", firstName: String = "", lastName: String = "", picturePath: String = "", network: Option[com.keepit.social.SocialNetworkType] = None, titleText: String = "", titleDesc: String = "", inviteVideo: Boolean = false)(implicit secureSocialClientIds: com.keepit.social.SecureSocialClientIds)
@import com.keepit.controllers.core.routes.{AuthController => routes}
@headScripts = {
    <meta property="og:image" content="https://www.kifi.com/assets/images/kifi-fb-preview.png">
    <meta property="og:title" content="@if(titleText==""){kifi.com}else{@titleText}">
    <meta property="og:description" content="@if(titleDesc==""){}else{@titleDesc}">
    <meta property="og:site_name" content="Kifi">
}
@content = {
<main>
<h1 class="main-logo">kifi</h1>

@* down here to prevent transition side effects (1px shifting) in Chrome *@
@if(view == "signup2Email" || view == "signup2Social") {
  <h2 class="page-title obsolete">Sign up</h2>
}
<h2 class="page-title">
  @view match {
    case "login" => {Log in}
    case "signup" => {Sign up}
    case "signup2Email" => {Finalize your account}
    case "signup2Social" => {Finalize your account}
    case _ => {}
  }
</h2>

@if(inviteVideo) {
<h3 class="intro-header">Watch a quick introduction to Kifi</h3>
<a href="javascript:" class="video-still" onclick="this.setAttribute('data-clicked','');void 0" data-uri="//player.vimeo.com/video/99569714?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=1" data-w="960" data-h="540" data-track-action="clickvideo"></a>
}

<div class="signup"@if(view == "signup" || view == "signup2Email" || view == "signup2Social") { style="display:block"}>
  <form class="signup-1" data-title="Sign up" action="@routes.userPasswordSignup()" novalidate@if(view == "signup") { style="display:block"} data-track-source="signup1" method="POST">
    <div class="form-sides">
      <div class="form-l">
        <h3>Use a social network</h3>
        <a class="form-network facebook" href="@routes.signup("facebook")" data-track-action="clickauthFacebook">
          <span class="form-network-icon"></span>
          <span class="form-network-text">Sign up using Facebook</span>
        </a>
        <a class="form-network twitter" href="@routes.signup("twitter")" data-track-action="clickauthTwitter">
          <span class="form-network-icon"></span>
          <span class="form-network-text">Sign up using Twitter</span>
        </a>
      </div>
      <div class="form-r">
        <h3>Use your email address</h3>
        <input class="form-email-addr" type="email" name="signup-1-email" placeholder="Your email address"@if(view == "signup") { autofocus}>
        <label class="password-label">
          <input class="form-password" type="password" name="signup-1-password" placeholder="Your new password">
        </label>
        <button class="form-submit form-submit-sexy primary-button" data-track-action="clicksignUpButton">
          <span class="progress"></span>
          <span class="text">Sign up</span>
        </button>
      </div>
    </div>
  </form>


  <form class="signup-2 signup-2-email" data-title="Finalize your account" action="@routes.userPassFinalizeAccountAction()" novalidate@if(view == "signup2Email") { style="display:block"} data-track-source="signup2Email" method="POST">
    @if(view == "signup2Email") {
      <div class="signup-resume">
        <div class="signup-2-label">Welcome back</div>
        <div class="signup-resume-email">@emailAddress</div>
        <a class="signup-resume-not-you" href="@securesocial.controllers.routes.LoginPage.logout()" data-track-action="clicknotYou">Not you?</a>
      </div>
    }
    <div class="form-name">
      <label class="signup-2-label">Your name</label>
      <input class="form-first-name" type="text" name="first-name" placeholder="First" value="@firstName" required>
      <input class="form-last-name" type="text" name="last-name" placeholder="Last" value="@lastName" required>
    </div>
    <div class="form-pic">
      <label class="signup-2-label">Your photo</label>
      <div class="form-photo-box">
        <div class="form-photo unset" data-uri="@routes.uploadBinaryPicture()" data-form-uri="@routes.uploadFormEncodedPicture()"><div class="form-photo-progress"></div></div>
        <div class="form-photo-grab">Grab photo from</div>
        <a class="form-photo-a facebook" href="javascript:" data-uri="@routes.popupBeforeLinkSocial("facebook")" data-track-action="clickphotoFacebook"></a>
        <a class="form-photo-a linkedin" href="javascript:" data-uri="@routes.popupBeforeLinkSocial("linkedin")" data-track-action="clickphotoLinkedIn"></a>
        <div class="form-photo-drop">Drop photo here</div>
      </div>
      <div class="form-photo-upload">
        Or
        <label>
          <a class="form-photo-file-a" href="javascript:" data-track-action="clickphotoUpload">upload from your computer</a>
          <input class="form-photo-file" type="file" name="photo">
        </label>
      </div>
    </div>
    <button class="form-submit form-submit-sexy alt-button alt-blue" data-track-action="clicksignUpButton">
      <span class="progress"></span>
      <span class="text">Sign me up</span>
    </button>
  </form>

  @if(view == "signup2Social") {
  <form class="signup-2 signup-2-social" novalidate data-first="@firstName" data-last="@lastName" action="@routes.socialFinalizeAccountAction()" novalidate@if(view == "signup2Social") { style="display:block"} data-track-source="signup2Social" method="POST">
    <div class="social-info">
      <div class="social-photo form-photo"@if(picturePath != ""){ style="background-image:url(@picturePath)"}></div>
      <div class="social-text-info">
        <div class="social-name">@firstName @lastName</div>

        @if(emailAddress == "") {
          <input class="social-email" type="email" name="signup-2-email" value="@emailAddress" placeholder="Your email address">
        } else {
          <input class="social-email" type="email" name="signup-2-email" value="@emailAddress" placeholder="Your email address" disabled>
          <a class="social-change-email" href="javascript:" data-track-action="clickchangeEmail">Change email</a>
        }

      </div>
    </div>
    <button class="form-submit form-submit-sexy alt-button alt-blue" data-track-action="clicksignUpButton">
      <span class="progress"></span>
      <span class="text">Sign me up</span>
    </button>
  </form>
  }
</div>

<form class="login" data-title="Log in" action="@routes.logInWithUserPass()" novalidate@if(view == "login") { style="display:block"} data-track-source="login" method="POST">
  <div class="form-sides">
    <div class="form-l">
      <h3>Use a social network</h3>
      <a class="form-network facebook" href="@routes.loginSocial("facebook")" tabindex="1" data-track-action="clickauthFacebook">
        <span class="form-network-icon"></span>
        <span class="form-network-text">Log in using Facebook</span>
      </a>
      <a class="form-network twitter" href="@routes.loginSocial("twitter")" tabindex="1" data-track-action="clickauthTwitter">
        <span class="form-network-icon"></span>
        <span class="form-network-text">Log in using Twitter</span>
      </a>
      <a class="form-network linkedin" href="@routes.loginSocial("linkedin")" tabindex="1" data-track-action="clickauthLinkedIn">
        <span class="form-network-icon"></span>
        <span class="form-network-text">Log in using LinkedIn</span>
      </a>
    </div>
    <div class="form-r">
      <h3>Use your email address</h3>
      <input class="form-email-addr" type="email" name="login-email" placeholder="Your email address" required tabindex="1"@if(view == "login") { autofocus}>
      <label class="password-label">
        <input class="form-password" type="password" name="login-password" placeholder="Your password" required tabindex="1">
        <a class="password-forgot" href="javascript:" tabindex="2" data-track-action="clickforgot">I forgot</a>
      </label>
      <button class="form-submit primary-button" tabindex="1" data-track-action="clickloginButton">Log in</button>
    </div>
  </div>
</form>

@helper.photoDialog()
@helper.resetPasswordDialog()
@if(view == "signup2Social") {
  @helper.claimAccountDialog(network.get)
}
</main>
}

@scripts = {
@helper.authScripts(secureSocialClientIds)
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6012675515696';
fb_param.value = '0.00';
fb_param.currency = 'USD';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6012675515696&amp;value=0&amp;currency=USD" /></noscript>
}

@styles = {
  <link rel="stylesheet" href="/assets/css/auth2.css">
  <link rel="stylesheet" href="/assets/css/auth-footer.css">
}
@title = @{
  if(view == "login") "Kifi | Login"
  else "Kifi | Sign up"
}

@views.html.marketing.helper.page(bodyClass = if (view == "") "" else if (view == "signup2Email" || view == "signup2Social") "curtains-drawn finalizing" else "curtains-drawn", title = title, styles = styles, content = content, scripts = scripts, dataTrack=view, htmlClass = if (view == "login") "login-page" else "signup-page", isLoggedIn = false, headerType = "grey", footerType = "minimalist", headScripts = headScripts)
