@(emailAddress: String, network: com.keepit.social.SocialNetworkType, logInAttempted: Boolean)(implicit secureSocialClientIds: com.keepit.social.SecureSocialClientIds)

@import com.keepit.controllers.core.routes.{AuthController => routes}

@content = {
<main>

<h1 class="main-logo">kifi</h1>
<h2 class="page-title">Connect @network.displayName</h2>

<section>
  <p class="copy-1">
    @if(logInAttempted) {
      This is the first time you’ve used your @network.displayName account here.
    } else {
      We already have an account for <b>@emailAddress</b>.
    }
  </p>
  <p class="copy-2">Please enter your Kifi password to connect @network.displayName.</p>

  <form class="login" action="@routes.logInWithUserPass(network.name)" novalidate>
    <input class="form-email-addr" type="email" name="login-email" placeholder="Your email address" required tabindex="1" value="@emailAddress">
    <label class="password-label">
      <input class="form-password" type="password" name="login-password" placeholder="Your password" required autofocus tabindex="1">
      <a class="password-forgot" href="javascript:" tabindex="2">I forgot</a>
    </label>
    <button class="form-submit primary-button" tabindex="1">Log in</button>
  </form>
</section>

@helper.resetPasswordDialog()
</main>
}

@scripts = {
@helper.authScripts(secureSocialClientIds)
<script>
  $('.sign-up-link').on('mousedown click', function(e) {
    e.preventDefault();
    $.post($(this).data('cancelUri'), function(e) {
      window.location = "/signup";
    });
    return false;
  });
</script>
}

@styles = {
  <link rel="stylesheet" href="/assets/css/auth2.css">
  <link rel="stylesheet" href="/assets/css/auth-footer.css">
<style>
section {
  width: 96%;
  margin: 0 auto;
  text-align: center;
}
.login {
  display: block;
  margin: 0 auto;
  width: 50%;
  min-width: 240px;
  max-width: 320px;
}
.copy-1,
.copy-2 {
  color: #515051;
}
.copy-1 {
  margin: 32px 0 0;
}
.copy-2 {
  margin: 12px 0 42px;
}
.email-address {
  text-align: left;
  border: 2px solid #e5e5e5;
  padding: 0 .8em;
  line-height: 36px;
  font-size: 16px;
}
</style>
}

@views.html.marketing.helper.page(styles = styles, content = content, scripts = scripts, dataTrack = "loginConnectNetwork", htmlClass = "login-page", isLoggedIn = true, headerType = "grey", footerType = "minimalist")
