@(emailAddress: String, picturePath: String, firstName: String, lastName: String)

@content = {
<div class="curtain-l"></div>
<div class="curtain-r"></div>

<h1 class="main-logo">kifi</h1>

<div class="signup-resume">
  <div class="signup-2-label">Welcome back</div>
  <div class="signup-resume-email">@emailAddress</div>
  <a class="signup-resume-not-you" href="@securesocial.controllers.routes.LoginPage.logout()">Not you?</a>
</div>
@helper.emailSignupForm2(firstName, lastName)

@* down here to prevent transition side effects (1px shifting) in Chrome *@
<h2 class="page-title">Finalize your account</h2>

@helper.photoDialog()
}

@scripts = {
<script src="/assets/js/jquery-ui-position.min.js"></script>
<script src="/assets/js/jquery-ui-slider.min.js"></script>
<script src="/assets/js/auth.js"></script>
<script>
$('body').addClass('curtains-drawn');
setTimeout(function() {
  $('.form-first-name').focus().select();
}, 100);
</script>
}

@helper.page(title = "kifi.com • Finalize Your Account", content = content, scripts = scripts)
