@(code: String = "", error: String = "")(implicit secureSocialClientIds: com.keepit.social.SecureSocialClientIds)

@import com.keepit.controllers.core.routes.{AuthController => routes}

@content = {
<main>

<h1 class="main-logo">kifi</h1>
<h2 class="page-title">Password Reset</h2>

<section class="password-reset">
  @error match {
    case "" => {
      <p>Enter a new password to complete the reset process.</p>
      <form action="@com.keepit.controllers.core.routes.AuthController.setPassword()" method="POST" data-code="@code">
        <input type="password" class="password-1" name="password-1" placeholder="New Password" autofocus>
        <input type="password" class="password-2" name="password-2" placeholder="New Password (again)">
        <button class="form-submit alt-button">Submit</button>
      </form>
    }
    case "already_used" => {
      <p>The link you followed has already been used.</p>
    }
    case "expired" => {
      <p>The link you followed has expired.</p>
    }
    case _ => {
      <p>The link you followed is not valid.</p>
    }
  }
</section>
</main>
}

@scripts = {
@helper.authScripts(secureSocialClientIds)
<script>
  $('.sign-up-link').on('mousedown click', function(e) {
    e.preventDefault();
    $.post($(this).data('cancelUri'), function(e) {
      window.location = "/signup";
    });
    return false;
  });

(function () {
  'use strict';
  var promise;
  $('section>form').submit(function (e) {
    e.preventDefault();
    if (promise && promise.status() === 'pending') {
      return false;
    }
    var password = kifi.form.validateNewPassword($('.password-1'));
    if (password) {
      var $p2 = $('.password-2');
      var p2 = $p2.val();
      if (p2 !== password) {
        Tracker.track('visitor_viewed_page', { error: 'notMatchedPasswords' });
        kifi.form.showError($p2, p2 ? 'Passwords do not match' : 'Please retype your new password');
        $p2.focus().select();
      } else {
        var $form = $(this);
        promise = $.postJson(this.action, {
          code: $form.data('code'),
          password: password
        })
        .done(function (o) {
          if (o.uri) {
            window.location = o.uri;
            return;
          }
          var $btn = $form.find('.form-submit');
          switch (o.error) {
            case 'already_used':
              Tracker.track('visitor_viewed_page', { error: 'linkAlreadyUsed' });
              kifi.form.showError($btn, 'This link has already been used');
              break;
            case 'invalid_code':
            case 'expired':
              Tracker.track('visitor_viewed_page', { error: 'linkExpired' });
              kifi.form.showError($btn, 'This link has expired');
              break;
            default:
              Tracker.track('visitor_viewed_page', { error: 'unknownError', errorValue: o.error });
              kifi.form.showError($btn, 'An error occurred. Try again?');
          }
        })
        .always(function () {
          promise = null;
        });
      }
    }
  });
}());
</script>

}

@styles = {
  <link rel="stylesheet" href="/assets/css/auth2.css">
  <link rel="stylesheet" href="/assets/css/auth-footer.css">
<style>
.password-reset {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
.password-reset>p {
  color: #515051;
  margin-bottom: 24px;
}
.password-reset>form {
  padding-bottom: 50px;
}
.password-1,
.password-2 {
  display: block;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}
.password-reset .form-submit {
  margin: 30px auto 0;
  height: 48px;
  font-size: 18px;
  width: 170px;
}
</style>
}

@views.html.marketing.helper.page(title = "kifi • Set your password", styles = styles, content = content, scripts = scripts, dataTrack = "passwordReset", htmlClass = "login-page", isLoggedIn = true, headerType = "grey", footerType = "minimalist")
