@(errorMessage: Option[String] = None, email: Option[String])

@helper.main(title = "Complete your signup", hiddenElements = Seq("header")) {
  <section class="content clearfix text_center welcome">
    <h1>Complete your account</h1>
    @errorMessage.map { msg => <p class="error-message">@msg</p> }
    <form action="" method="post">
      <input type="hidden" name="confirm" value="true">
      <input type="text" name="firstname" value="" placeholder="First Name"><br>
      <input type="text" name="lastname" value="" placeholder="Last Name"><br><br>
      <input type="submit" class="blue btn" value="Complete Signup">
    </form>
    <p>
      <a href="@securesocial.controllers.routes.LoginPage.logout()">No thanks. I'd rather not sign up now.</a>
    </p>
  </section>
}
