@(email: String, network: com.keepit.social.SocialNetworkType, errorMessage: Option[String] = None)

@helper.main(title = "Email exists", hiddenElements = Seq("header")) {
  <section class="content clearfix text_center welcome">
    <h1>Email exists</h1>
    @errorMessage.map { msg => <p class="error-message">@msg</p> }
    <p>We found an account with the same email address as your @network.displayName account. Log in to link it.</p>
    <form action="@com.keepit.controllers.core.routes.AuthController.passwordLoginAndLink(network.authProvider)" method="post">
      <input type="text" name="username" value="@email" placeholder="Email"><br>
      <input type="password" name="password" placeholder="Password"><br>
      <input type="submit" class="blue btn" value="Log in"><br>
    </form>
    <p>
      <a href="@securesocial.controllers.routes.LoginPage.logout()">No thanks. I'd rather not sign up now.</a>
    </p>
    </section>
}
