@(user: User)

@styles = {
<link rel="stylesheet" href="/assets/css/getting-started.css">
}

@content = {
  <div class="curtain-l"></div>
  <div class="curtain-r"></div>

  <h1 class="main-logo">kifi</h1>
  <h2 class="page-title">Learn how Kifi works</h2>

  <a href="https://fast.wistia.net/embed/iframe/arn4nh8il4?popover=true" class="wistia-popover[height=540,playerColor=7b796a,width=960] video-still"></a>
  <div class="skip-wrap">
    <a class="skip" href="@com.keepit.controllers.website.routes.HomeController.home">Skip</a>
  </div>
}

@scripts = {
<script charset="ISO-8859-1" src="https://fast.wistia.com/assets/external/popover-v1.js"></script>
}

@views.html.auth.helper.page(title = "kifi.com • Getting Started", styles = styles, curtainsDrawn = true, content = content, scripts = scripts)
