@(user: User)

@views.html.website.helper.main(title = "Getting started with KiFi") {
  <div class="user_avatar">
  <img src="@com.keepit.controllers.assets.routes.UserPictureController.get(112, user.externalId)" width="112" height="112">
  </div>

  <section class="content clearfix">
    <header class="content_header">
        <!--<div class="watch_video">
          <span>Watch a video</span>
            <div class="video_thumb">
              <img src="@routes.Assets.at("images/video_thumb.jpg")" width="138" height="85">
                <div class="play_video" data-popup="video"></div>
            </div>
        </div>-->

        <h2>Yay @user.firstName, you’re in!</h2>
        <h3>Welcome to the KiFi Private Beta</h3>
    </header>

    <h2 class="blue text_center">Watch this video to learn how Kifi works</h2>

    <div class="how_to clearfix">
      <iframe
        src="https://fast.wistia.net/embed/iframe/b7qisfubnv?version=v1&videoHeight=431&videoWidth=766&volumeControl=true"
        allowtransparency="true" frameborder="0" scrolling="no" width="766" height="431">
      </iframe>
    </div>
  </section>
}
