@(isSuccess: Boolean, redirectUrl: Option[String], numImported: Option[Int] = None)

@content = {
<main>
    <h1 class="main-logo">kifi</h1>
    <section>
        <h3>
            @if(isSuccess){
                @if(numImported.isEmpty){Your}else{@{numImported.get}} gmail contacts were successfully imported!
            } else {
                Failed to import your gmail contacts.
            }
        </h3>
        @if(redirectUrl.isEmpty){
            <a class="kifi-action" href="javascript:window.close();">Close</a>
        } else {
            <a class="kifi-action" href="@{redirectUrl.get}">Go back</a>
        }
    </section>
</main>
}

@styles = {
<link rel="stylesheet" href="/assets/css/auth2.css">
<link rel="stylesheet" href="/assets/css/auth-footer.css">
<link rel="stylesheet" href="/assets/css/userAction.css">
}

@views.html.marketing.helper.page(title = "kifi • Import contacts", styles = styles, content = content, dataTrack = "contactsImport", htmlClass = "login-page", isLoggedIn = true, headerType = "none", footerType = "minimalist")
