@(user: User)

@styles = {
<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/fpjooibalklfinmkiodaamcckfbcjhin">
<link rel="stylesheet" href="/assets/css/install.css">
}

@headScripts = {
<script>
!function () {
  var isChrome = window.chrome && chrome.webstore && chrome.webstore.install;
  var isFirefox = !isChrome && ('MozBoxSizing' in document.documentElement.style) || ~navigator.userAgent.indexOf('Firefox');
  var majorVersion = +(navigator.userAgent.match(/(?:Chrome|Firefox)\/(\d+)/) || [,999])[1];
  var supported = isChrome && majorVersion >= 26 || isFirefox && majorVersion >= 20;
  document.documentElement.className += (supported ? ' supported ' : ' unsupported ') + (isChrome ? 'chrome' : isFirefox ? 'firefox' : 'other');
}();
</script>
}

@content = {
  <h1 class="main-logo">kifi</h1>
  <h2 class="page-title">Welcome</h2>

  <section>
    <img class="user-pic" src="@com.keepit.controllers.assets.routes.UserPictureController.get(200, user.externalId)">
    <h2>Yay @user.firstName, you’re in!</h2>
    <h3>Welcome to the Kifi Private Beta</h3>

    <div class="install">
      <p class="install-title">Install the browser extension to start using Kifi</p>
      <a class="install-button" href="javascript:">Install <span class="browser-name"></span> Extension</a>
    </div>
    <div class="install-old">
      <p class="install-title">You’re running an old version of <span class="browser-name"></span>.</p>
      <p class="browser-newer">Please update your browser and then come back to install the Kifi browser extension.</p>
      <a class="browser-button chrome" href="https://www.google.com/chrome">Get Chrome</a>
      <a class="browser-button firefox" href="https://www.mozilla.org/firefox">Get Firefox</a>
    </div>
    <div class="install-other">
      <p class="install-title">This browser does not support Kifi.</p>
      <p class="browser-newer">Please come back with one of the browsers below to install the Kifi browser extension.</p>
      <a class="browser-button chrome" href="https://www.google.com/chrome">Get Chrome</a>
      <a class="browser-button firefox" href="https://www.mozilla.org/firefox">Get Firefox</a>
    </div>
  </section>
}

@scripts = {
<script src="/assets/js/install.js"></script>
}

@views.html.auth.helper.page(title = "kifi.com • Install", headScripts = headScripts, styles = styles, content = content, scripts = scripts)
