@(email: String, opts: Seq[com.keepit.common.mail.ElectronicMailCategory], msg: Option[String])

@import com.keepit.common.mail.PostOffice.Categories
@invite = @{ !opts.contains(Categories.ALL) && !opts.contains(Categories.User.INVITATION) }
@message = @{ !opts.contains(Categories.ALL) && !opts.contains(Categories.User.MESSAGE) }
@all = @{ !opts.contains(Categories.ALL) }

@content = {
<main>
  <h1 class="main-logo">kifi</h1>
  <h2 class="page-title">Opt-out of Kifi Emails</h2>

  <section>
    <h3>@email@if(msg.isDefined){ — @msg }</h3>
    <p>Uncheck any email types you do not want to recieve, or opt-out of all Kifi emails.</p>
    <p>You current may recieve emails about:</p>
    <form id="optout" method="POST">

      <label>
        <input type="checkbox" name="message" value="true" @if(message){checked}> Kifi Messages from friends
      </label>
      <label>
        <input type="checkbox" name="invite" value="true" @if(invite){checked}> Invitations to join Kifi from friends
      </label>
      <input type="hidden" name="all" value="if(all){true}else{false}" id="can-recieve-emails">

      <span class="optout" id="update">Update email preferences</span>
      <span class="optout" id="all">Opt-out of all emails</span>
    </form>
  </section>
</main>
}

@scripts = {
<script src="/assets/js/jquery-ui-position.min.js"></script>
<script src="/assets/js/jquery-ui-slider.min.js"></script>
<script src="/assets/js/auth.js"></script>
<script src="/assets/js/auth-footer.js"></script>
<script src="//connect.facebook.net/en_US/all.js" id="facebook-jssdk" async data-app-id="@play.api.Play.current.configuration.getString("securesocial.facebook.clientId").get"></script><div id="fb-root"></div>
<script src="//platform.linkedin.com/in.js">
api_key:@play.api.Play.current.configuration.getString("securesocial.linkedin.clientId").get
onLoad:onLoadLinkedInApi
authorize:true
</script>
  <script>
    $(function() {
      $form = $("#optout");
      $("#update").click(function() {
        $("#can-recieve-emails").val("true");
        $form.submit();
      });
      $("#all").click(function() {
        $("#can-recieve-emails").val("false");
        $form.submit();
      });
    });
  </script>
}

@styles = {
  <link rel="stylesheet" href="/assets/css/auth2.css">
  <link rel="stylesheet" href="/assets/css/auth-footer.css">
  <link rel="stylesheet" href="/assets/css/optout.css">
}

@views.html.marketing.helper.page(title = "kifi • Opt-out of emails", styles = styles, content = content, scripts = scripts, dataTrack = "optOutEmails", htmlClass = "login-page", isLoggedIn = true, headerType = "grey", footerType = "minimalist")
