@(email: String, opts: Seq[NotificationCategory], msg: Option[String], secureSocialClientIds: com.keepit.social.SecureSocialClientIds)

@import com.keepit.model.NotificationCategory
@invite = @{ !opts.contains(NotificationCategory.ALL) && !opts.contains(NotificationCategory.NonUser.INVITATION) }
@message = @{ !opts.contains(NotificationCategory.ALL) && !opts.contains(NotificationCategory.User.MESSAGE) }
@digest = @{ !opts.contains(NotificationCategory.ALL) && !opts.contains(NotificationCategory.User.DIGEST) }
@activity = @{ !opts.contains(NotificationCategory.ALL) && !opts.contains(NotificationCategory.User.ACTIVITY) }
@gratification = @{ !opts.contains(NotificationCategory.ALL) && !opts.contains(NotificationCategory.User.GRATIFICATION_EMAIL) }
@all = @{ !opts.contains(NotificationCategory.ALL) }

@content = {
<main>
  <h1 class="main-logo">kifi</h1>
  <h2 class="page-title">Opt-out of Kifi Emails</h2>

  <section>
    <h3>@email</h3>
    @if(msg.isDefined){<p>@msg</p>}
    <p>Uncheck any email types you do not want to receive, or opt-out of all Kifi emails.</p>
    <p>You currently may receive emails about:</p>
    <form id="optout" method="POST">

      <label>
        <input type="checkbox" name="message" value="true" @if(message){checked}> Kifi Messages from friends
      </label>
      <label>
        <input type="checkbox" name="invite" value="true" @if(invite){checked}> Invitations to join Kifi from friends
      </label>
      <label>
        <input type="checkbox" name="digest" value="true" @if(digest){checked}> Kifi Digest recommendation emails
      </label>
      <label>
        <input type="checkbox" name="activity" value="true" @if(activity){checked}> Kifi Activity emails
      </label>
      <label>
        <input type="checkbox" name="gratification" value="true" @if(gratification){checked}> "Your Week on Kifi" emails
      </label>
      <input type="hidden" name="all" value="@if(all){true}else{false}" id="can-recieve-emails">

      <span class="kifi-action" id="update">Update email preferences</span>
      <span class="kifi-action" id="all">Opt-out of all emails</span>
    </form>
  </section>
</main>
}

@scripts = {
  @auth.helper.authScripts(secureSocialClientIds)
  <script>
    $(function() {
      $form = $("#optout");
      $("#update").click(function() {
        $("#can-recieve-emails").val("true");
        $form.submit();
      });
      $("#all").click(function() {
        $("#can-recieve-emails").val("false");
        $form.submit();
      });
    });
  </script>
}

@styles = {
  <link rel="stylesheet" href="/assets/css/auth2.css">
  <link rel="stylesheet" href="/assets/css/auth-footer.css">
  <link rel="stylesheet" href="/assets/css/userAction.css">
}

@views.html.marketing.helper.page(title = "kifi • Opt-out of emails", styles = styles, content = content, scripts = scripts, dataTrack = "optOutEmails", htmlClass = "login-page", isLoggedIn = true, headerType = "grey", footerType = "minimalist")
