@(email: Option[String] = None)

@helper.main(title = "Reset your Kifi password", hiddenElements = Seq("header")) {
<section class="content clearfix text_center welcome">
  <h1>Reset your Kifi Password</h1>
  @email.map { address =>
    <p>We have received your password reset request for @address. You should be receiving a link there shortly.</p>
  }.getOrElse {
    <p>Please enter the email address you use to sign in.<br>
        We will send you a link you can use to reset your password.</p>
    <form action="" method="post">
      <input type="text" name="email" placeholder="Email"><br>
      <input type="submit" value="Reset Password">
    </form>
  }
  <p><a href="/">Go back to kifi.com.</a></p>
</section>
}
