@(valid: Boolean = false, done: Boolean = false, error: Option[String] = None)

@helper.main(title = "Reset your Kifi password", hiddenElements = Seq("header")) {
  <section class="content clearfix text_center welcome">
    <h1>Reset your Kifi Password</h1>
    <p class="error">@error</p>
    @if(done) {
      <p>Congrats! You successfully set your password.</p>
    } else {
      @if(valid) {
        <p>Enter the new password that you'd like to use</p>
        <form action="" method="post">
          <input type="password" name="password.1" placeholder="Password"><br>
          <input type="password" name="password.2" placeholder="Confirm Password"><br>
          <input type="submit" value="Reset Password">
        </form>
      } else {
        <p>The link you followed is not valid.</p>
      }
    }
    <p><a href="/">Go back to kifi.com.</a></p>
 </section>
}
