@(error: String = "")

@helper.main(title = "Reset your Kifi password", hiddenElements = Seq("header")) {
  <section class="content clearfix text_center welcome">
    <h1>Reset your Kifi Password</h1>
    @error match {
      case "" => {
        <p>Enter the new password that you'd like to use</p>
        <form action="" method="post">
          <input type="password" name="password.1" placeholder="Password"><br>
          <input type="password" name="password.2" placeholder="Confirm Password"><br>
          <input type="submit" value="Reset Password">
        </form>
      }
      case "already_used" => {
        <p>The link you followed has already been used.</p>
      }
      case "expired" => {
        <p>The link you followed has expired.</p>
      }
      case _ => {
        <p>The link you followed is not valid.</p>
      }
    }
    <p><a href="/">Go back to kifi.com.</a></p>
 </section>
}
