@(errorMessage: Option[String] = None, network: Option[com.keepit.social.SocialNetworkType],
  firstName: Option[String], lastName: Option[String], email: Option[String])

@helper.main(title = "Sign up for Kifi!", hiddenElements = Seq("header")) {
<section class="content clearfix text_center welcome">
  <h1>Sign up for Kifi!</h1>
  @network.map { network =>
    <p>
      Your new Kifi account will be automatically connected with @network.displayName,<br>
      so you can share with all your @network.displayName connections who use Kifi!
    </p>
  }
  @errorMessage.map { msg => <p class="error-message">@msg</p> }
  <form action="" method="post">
    <input type="text" name="firstname" value="@firstName" placeholder="First Name"><br>
    <input type="text" name="lastname" value="@lastName" placeholder="Last Name"><br>
    <input type="text" name="email" value="@email" placeholder="Email"><br>
    <input type="password" name="password.1" placeholder="Password"><br>
    <input type="password" name="password.2" placeholder="Confirm Password"><br><br>
    <input type="submit" class="blue btn" value="Create Account">
  </form>
  <p>
    <a href="@securesocial.controllers.routes.LoginPage.logout()">No thanks. I'd rather not sign up now.</a>
  </p>
</section>
}
