@(emailString: String, firstName: String, secureSocialClientIds: com.keepit.social.SecureSocialClientIds)


@content = {
<main>
  <h1 class="main-logo">kifi</h1>
  <h2 class="page-title">Email Address Verification</h2>

  <section>
    Thanks for verifying @emailString, @firstName. <a href="/">Go to Kifi.com »</a>
  </section>
</main>
}

@scripts = {
  @auth.helper.authScripts(secureSocialClientIds)
}

@styles = {
  <link rel="stylesheet" href="/assets/css/auth2.css">
  <link rel="stylesheet" href="/assets/css/auth-footer.css">
<style>
section {
  width: 96%;
  margin: 0 auto;
  padding-bottom: 40px;
  color: #515051;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
</style>
}

@views.html.marketing.helper.page(title = "kifi | Email Address Verification", styles = styles, content = content, scripts = scripts, dataTrack = "verifyEmailThanks", htmlClass = "login-page", isLoggedIn = true, headerType = "grey", footerType = "minimalist")


