@(error: String, secureSocialClientIds: com.keepit.social.SecureSocialClientIds)

@content = {
<main>
  <h1 class="main-logo">kifi</h1>
  <h2 class="page-title">Email Address Verification</h2>

  <section>
    @error match {
      case "invalid_code" => {
        <p>Sorry, this is not a valid email address verification link.</p>
      }
      case "expired" => {
        <p>This email address verification link has expired.</p>
      }
    }
  </section>
</main>
}

@scripts = {
  @auth.helper.authScripts(secureSocialClientIds)
}

@styles = {
  <link rel="stylesheet" href="/assets/css/auth2.css">
  <link rel="stylesheet" href="/assets/css/auth-footer.css">
<style>
section {
  width: 96%;
  margin: 0 auto;
  padding-bottom: 40px;
  color: #515051;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
</style>
}

@views.html.marketing.helper.page(title = "kifi | Email address verification", styles = styles, content = content, scripts = scripts, dataTrack = "verifyEmailError", htmlClass = "login-page", isLoggedIn = true, headerType = "grey", footerType = "minimalist")


