@(emailString: String, firstName: String)


@content = {
<main>
  <h1 class="main-logo">kifi</h1>
  <h2 class="page-title">Email Address Verification</h2>

  <section>
    Thanks for verifying @emailString, @firstName. <a href="/">Go to Kifi.com »</a>
  </section>
</main>
}

@scripts = {
<script src="/assets/js/jquery-ui-position.min.js"></script>
<script src="/assets/js/jquery-ui-slider.min.js"></script>
<script src="/assets/js/auth.js"></script>
<script src="/assets/js/auth-footer.js"></script>
<script src="//connect.facebook.net/en_US/all.js" id="facebook-jssdk" async data-app-id="@play.api.Play.current.configuration.getString("securesocial.facebook.clientId").get"></script><div id="fb-root"></div>
<script src="//platform.linkedin.com/in.js">
api_key:@play.api.Play.current.configuration.getString("securesocial.linkedin.clientId").get
onLoad:onLoadLinkedInApi
authorize:true
</script>

}

@styles = {
  <link rel="stylesheet" href="/assets/css/auth2.css">
  <link rel="stylesheet" href="/assets/css/auth-footer.css">
<style>
section {
  width: 96%;
  margin: 0 auto;
  padding-bottom: 40px;
  color: #515051;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
</style>
}

@views.html.marketing.helper.page(title = "kifi • Email Address Verification", styles = styles, content = content, scripts = scripts, dataTrack = "verifyEmailThanks", htmlClass = "login-page", isLoggedIn = true, headerType = "grey", footerType = "minimalist")


