@(id: Option[ExternalId[Invitation]] = None, socialUser: Option[SocialUserInfo] = None,
    msg: Option[String] = None, skipLetMeIn: Boolean = false)

@helper.main(title = "Welcome to Kifi!", scripts = Seq("website/welcome"), hiddenElements = Seq("header")) {
  <section class="content clearfix text_center welcome">
    <h1>Welcome to the <img src="@routes.Assets.at("images/logo2.png")" width="103" height="58" class="logo2"> private beta!</h1>

    @msg.map { m =>
      <p class="error-message">@m</p>
    }.getOrElse {
      <p>KiFi is still in stealth-mode and is open for<br>beta testers upon invitation only.</p>
    }

    <div class="welcome_btn@if(skipLetMeIn){ clicked}">
      <div class="letmein">
        <a href="javascript:" class="big blue btn" id="letmein">
          @if(id.isDefined && socialUser.isDefined) {
            It's me, @socialUser.get.fullName.
          }
          Let me in!
        </a>
      </div>
      <div class="networks">
      @for(network <- SocialNetworks.ALL.sortBy(network => !socialUser.exists(_.networkType == network))) {
        @if(socialUser.isEmpty || socialUser.get.networkType == network) {
          <a href="@com.keepit.controllers.core.routes.AuthController.login(network.name)" class="big blue btn">
            Log in with @network.displayName
          </a>
        } else {
          <br>
          <a href="@com.keepit.controllers.core.routes.AuthController.login(network.name)" class="btn">
            I want to log in with @network.displayName instead
          </a>
        }
      }
      </div>
      <div class="powered">Powered by Kifi Konnect</div>
    </div>
  </section>
}

<script>
$(function() {
  $("#letmein").click(function() {
    $(".welcome_btn").addClass("clicked");
  });
});
</script>
