@(ctx: email.helpers.Context)
@import email.helpers._

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td height="14" style="font-size:1px;line-height:1px;">&nbsp;</td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td width="20">&nbsp;</td>
                    <td  align="left">
                        <table width="33" border="0" cellspacing="0" cellpadding="0" align="left">
                            <tr>
                                <td align="left" width="33" height="19">
                                    <a href="@ctx.kifiLogoUrl" target="_blank">
                                        <img src="@black.assetUrl("kifi-logo.png")" width="33" height="19"  style="display:block;" border="0"/>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="14" style="font-size:1px;line-height:1px;">&nbsp;</td>
    </tr>
</table>
