@(name: String, first: String, last: String, imageUrl: String, unsubLink: String)


@helper.kifiTemplate(title = "Kifi - your Kifi network just got bigger", unsubLink=unsubLink) {

  <table class="row">
    <tr>
      <td class="wrapper">
        <table class="two columns">
          <tr>
            <td>
              <img height="80" width="80" src="@imageUrl">
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </td>

      <td class="wrapper last">
        <table class="ten columns">
          <tr>
            <td>
              Hey @name, <br><br>
              @first @last just joined Kifi. <br><br>

              <font color="#A3C879">So, what does it mean?</font>
              <ul>
                <li> @{first}'s keeps will enhance your Kifi results </li>
                <li> You can start a conversation with @first on any page </li>
              </ul>

              Want to make it a party? <a href="https://www.kifi.com/invite"> Invite more friends to Kifi </a> <br><br>

              Have a great day, <br>
              The Kifi Team
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>


}
