@(toUserId: Id[User], otherUserId: Id[User])
@import com.keepit.common.mail.template.helpers._

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td width="78" class="hide">&nbsp;</td>

    <td class="aside">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td height="46">&nbsp;</td>
        </tr>

        <tr>
          <td align="left" valign="middle" style="font-family:Arial,sans-serif; font-size:22px; font-weight:bold; color:#333333; line-height:24px;">Hey @firstName(toUserId)</td>
        </tr>

        <tr>
          <td height="22">&nbsp;</td>
        </tr>

        <tr>
          <td align="left" valign="middle" style="font-family:Arial,sans-serif; font-size:16px;color:#333333; line-height:23px;">@firstName(otherUserId) accepted your Kifi friend request.</td>
        </tr>

        <tr>
          <td height="22">&nbsp;</td>
        </tr>

        <tr>
          <td bgcolor="#F3F3F3" style="font-size:1px;line-height:1px;">&nbsp;</td>
        </tr>

        <tr>
          <td height="26">&nbsp;</td>
        </tr>

        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="73"><img src="@avatarUrl(otherUserId)" alt="@fullName(otherUserId)" width="73" height="73" style="display:block;" border="0" /></td>

                <td width="30">&nbsp;</td>

                <td valign="middle">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" valign="middle" style="font-family:Arial,sans-serif; font-size:16px;color:#333333; line-height:23px;">You and @fullName(otherUserId) are now Kifi friends</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td height="26">&nbsp;</td>
        </tr>

        <tr>
          <td bgcolor="#F3F3F3" style="font-size:1px;line-height:1px;">&nbsp;</td>
        </tr>

        <tr>
          <td height="28">&nbsp;</td>
        </tr>
      </table>
    </td>

    <td width="58" class="hide">&nbsp;</td>
  </tr>
</table>
