@(yourFirstName: String, otherFirstName: String, otherLastName: String, yourImageUrl: String, otherImageUrl: String, unsubLink: String)

Hi @yourFirstName,
You are now friends with @otherFirstName @otherLastName on Kifi.  Enjoy @otherFirstName’s keeps in your search
results and message @otherFirstName directly on any page!

Find more friends already on Kifi: https://www.kifi.com/invite

Have a great day,
The Kifi Team


Don't want to receive these messages from Kifi? Unsubscribe here: @unsubLink

Kifi.com | 883 N Shoreline Blvd, Bldg A200, Mountain View, CA 94043 United States

