@(name: String, friendName: String, friendImageUrl: String, unsubLink: String)


@helper.kifiTemplate(title = "Kifi — Getting popular, huh?", unsubLink=unsubLink) {
  @helper.oneColumnRow {
    Hey @name,<br><br>
    @friendName wants to be your Kifi friend. Woo hoo.
  }
  @helper.oneColumnRow {
    <table class="six columns" align="left">
        <tbody><tr>
          <td>
              <table class="button radius green">
                <tbody><tr>
                  <td class="cta-button">
                    <a href="https://www.kifi.com/friends"><img src="@friendImageUrl" height=55 alt="">Respond</a>
                  </td>
                </tr>
              </tbody></table>

          </td>
          <td class="expander"></td>
        </tr>
      </tbody>
    </table>
  }
  @helper.oneColumnRow {
    Have a great day,<br>
    The Kifi team
  }
}
