@(name: String, first: String, last: String, imageUrl: String, unsubLink: String)

Hey @name,
@first @last just joined Kifi. So, what does it mean?
-@{first}'s keeps will enhance your Kifi results
-You can start a conversation with @first on any page

Want to make it a party? Invite more friends to Kifi: https://www.kifi.com/friends/invite

Have a great day,
The Kifi Team


Don't want to receive these messages from Kifi? Unsubscribe here: @unsubLink

Kifi.com | 883 N Shoreline Blvd, Bldg A200, Mountain View, CA 94043 United States
