@(yourFirstName: String, otherFirstName: String, otherLastName: String, yourImageUrl: String, otherImageUrl: String, unsubLink: String)



@helper.kifiTemplate(title = "Kifi - Congratulations!", unsubLink=unsubLink) {
  @helper.oneColumnRow{
    Hi @yourFirstName, <br><br>
    @otherFirstName @otherLastName accepted your Kifi friend request. <br><br>
  }
  <table class="row" bgcolor="#F7F7F7" style="background-color:#F7F7F7;">
    <tr>
      <td class="wrapper last">
        <table class="twelve columns">
          <tr>
            <td class="center">
              <center>
                <font color="#A3C879">You and @otherFirstName are now Kifi friends</font>
              </center>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </td>
  </tr>
  </table>


  <table class="row" bgcolor="#F7F7F7" style="background-color:#F7F7F7;">
    <tr>

      <td class="wrapper">
        <table class="four columns">
          <tr>
            <td>
              <!-- Empty on Purpose. Padding for Manual Centering. -->
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </td>

      <td class="wrapper">
        <table class="two columns">
          <tr>
            <td class="center">
              <center>
                <img class="center rounded-left" height="80" width="80" src="@yourImageUrl">
              </center>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </td>

      <td class="wrapper">
        <table class="two columns">
          <tr>
            <td class="center">
              <center>
                <img class="center rounded-right" height="80" width="80" src="@otherImageUrl">
              </center>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </td>


      <td class="wrapper last">
        <table class="four columns">
          <tr>
            <td>
              <!-- Empty on Purpose. Padding for Manual Centering. -->
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </td>

  </tr>
  </table>




  @helper.oneColumnRow{
    <br>
    Have a great day, <br>
    The Kifi Team
  }

}
