@(firstName: String, lastName: String, imageUrl: String, message: String, acceptLink: String, unsubLink: String)

@firstName invites you to Kifi:
@message


What is Kifi and Why should I join?

Kifi (short for keep it find it) allows you to easily keep and tag anything you find online - an article, video, picture, email, anything - then quickly find it on top of your favorite search engine results, together with relevant pages that your friends kept, too.

Kifi also lets you message your friends about what you keep and find alongside any webpage, to get their opinion and gain from their expertise.
Join Kifi: https://www.kifi.com

Kifi is available for desktop only on chrome and firefox.
Safari, Internet Explorer and mobile are coming soon!


Don't want to receive these messages from Kifi? Unsubscribe here: @unsubLink

Kifi.com | 883 N Shoreline Blvd, Bldg A200, Mountain View, CA 94043 United States
