@(firstName: String, lastName: String, imageUrl: String, message: String, acceptLink: String, unsubLink: String)


@helper.kifiTemplate(title = "Kifi - " + firstName + " invites you to Kifi", unsubLink=unsubLink) {
  <table class="row">
  <tr>

    <td class="wrapper">
      <table class="two columns">
        <tr>
          <td>
            <!-- Image -->
            <img src="@imageUrl"></img>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>

    <td class="wrapper last">
      <table class="ten columns">
        <tr>
          <td>
            <!-- Greeting -->
            <br>
            @message
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>

  </tr>
  </table>


  <table class="row">
  <tr>

    <td class="wrapper">
      <table class="four columns">
        <tr>
          <td>
            <!-- Padding -->
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>

    <td class="wrapper">
      <table class="six columns">
        <tr>
          <td>
            <!-- Button -->
            <table class="button radius green">
              <tbody><tr>
                  <td class="cta-button">
                    <a href="@acceptLink">Accept @{firstName}s invitation</a>

                  </td>
              </tr></tbody>
            </table>


          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>

    <td class="wrapper last">
      <table class="two columns">
        <tr>
          <td>
            <!-- Padding -->
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>

  </tr>
  </table>

  <table class="row">
  <tr>

    <td class="wrapper">
      <table class="two columns">
        <tr>
          <td>
            <!-- Padding -->
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>

    <td class="wrapper last">
      <table class="ten columns">
        <tr>
          <td>
            <!-- Body -->
            <br>
            <font color="#A3C879">What is Kifi and Why should I join?</font> <br><br>

            Kifi (short for keep it find it) allows you to easily keep and tag anything you find online - an article, video, picture, email, anything - then quickly find it on top of your favorite search engine results., together with relevant pages that your friends kept, too. <br><br>

            Kifi also lets you message your friends about what you keep and find alongside any webpage, to get their opinion and gain from their expertise. <br><br>

            <a href="https://www.kifi.com">Join Kifi</a> <br><br>

            Kifi is available for desktop only on chrome and firefox. <br>
            Safari, Internet Explorer and Mobile are coming soon.
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>

  </tr>
  </table>

}
