@(inviteeId: Option[Id[User]],
inviterId: Id[User],
inviteMsg: Option[String],
libraryInfo: com.keepit.model.LibraryInfo,
passPhrase: Option[String],
authToken: String,
inviteAccess: LibraryAccess)
@import com.keepit.common.mail.template.helpers._
@libraryAssetUrl(path: String) = @{assetUrl("library/" + path)}
@libraryUrl = {@{baseUrl}@{libraryInfo.url}?@{KifiMobileAppLinkFlag.arg}&authToken=@authToken}
@inviteAction = @{if (inviteAccess == LibraryAccess.READ_ONLY) "follow" else "collaborate on" }

@fullName(inviterId) invited you to @inviteAction a library on Kifi
@inviteMsg.map { msg =>
  "@msg"
}
@libraryInfo.name

@libraryInfo.shortDescription.getOrElse("")

@libraryUrl
@{passPhrase map { phrase =>
s"Passphrase: $phrase"
}}

Cheers!
The Kifi team
