@(inviteeId: Option[Id[User]],
inviterId: Id[User],
inviteMsg: Option[String],
libraryInfo: com.keepit.model.LibraryInfo,
authToken: String,
inviteAccess: LibraryAccess
)

@import com.keepit.common.mail.template.helpers._
@libraryUrl = @{htmlUrl(baseUrl + libraryInfo.url + "?authToken=" + authToken + "&", "libraryInviteLink", inviteeId.nonEmpty)}

@* setting up message components that depend on conditionals *@
@salutation = {
@if(inviteeId.isEmpty) {
<p>Hello,</p>
} else {
<p>Hi @firstName(inviteeId.get),</p>
}
}

@description = @{ libraryInfo.shortDescription.filter( description => description.length < 250 ).map ( des => "Here's what it's about: " + des).getOrElse("") }

@emailMessage = {
@if(inviteAccess == LibraryAccess.READ_ONLY) {
<p>I'm using Kifi to publish useful links I've collected. Check out the "@libraryInfo.name" library I created at <a href="@libraryUrl">www.kifi.com@libraryInfo.url</a>.</p>
<p>@description</p>
} else {
<p>Please help me build the "@libraryInfo.name" Kifi library - <a href="@libraryUrl">www.kifi.com@libraryInfo.url</a>,
    so we can collaborate together. It's a great way to organize the links that we find.</p>
}
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
@if(inviteMsg.isEmpty) {
@salutation
@emailMessage
@firstName(inviterId)
} else {
@inviteMsg.get
<p><a href="@libraryUrl">www.kifi.com@libraryInfo.url</a></p>
@firstName(inviterId)
}
</body>
</html>
