@(inviteeId: Option[Id[User]],
inviterId: Id[User],
inviteMsg: Option[String],
libraryInfo: com.keepit.model.LibraryInfo,
passPhrase: Option[String],
authToken: String,
inviteAccess: LibraryAccess)
@import com.keepit.common.mail.template.helpers._
@libraryAssetUrl(path: String) = @{assetUrl("library/" + path)}
@libraryUrl = {@{baseUrl}@{libraryInfo.url}?@{KifiMobileAppLinkFlag.arg}&authToken=@authToken}
@inviteAction = @{if (inviteAccess == LibraryAccess.READ_ONLY) "follow" else "collaborate on" }

Hello@{if (!inviteeId.isEmpty) { " " + firstName(inviteeId.get) } },

Please help me build the @libraryInfo.name Kifi library - @libraryUrl, so we can collaborate together.
It's a great way to organize the links we find.

@{if(passPhrase.isEmpty) { "If you're asked for a passphrase, here it is: @passPhrase.get" } }

@firstName(inviterId)
