@*
@(inviteeId: Option[Id[User]],
inviterId: Id[User],
inviteMsg: Option[String],
libraryInfo: com.keepit.model.LibraryInfo,
passPhrase: Option[String],
authToken: String,
inviteAccess: LibraryAccess
)
@import com.keepit.common.mail.template.helpers._
@libraryAssetUrl(path: String) = @{assetUrl("library/" + path)}
@libraryUrl = @{htmlUrl(baseUrl + libraryInfo.url + "?authToken=" + authToken + "&", "followLibraryButton", inviteeId.nonEmpty)}
@inviteAction = @{if (inviteAccess == LibraryAccess.READ_ONLY) "follow" else "collaborate on" }
@invitedHeader = {@firstName(inviterId) invited you to @inviteAction a library on Kifi}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
Hi @firstName(inviteeId), @invitedHeader

<p>@firstName(inviterId) says "@inviteMsg"</p>

<p>Happy Keeping,<br>
    Eishay Smith, CEO</p>
</body>
</html>
*@