@(inviteeId: Option[Id[User]],
  inviterId: Id[User],
  inviteMsg: Option[String],
  libraryName: String,
  libraryDescription: Option[String],
  libraryLink: String)
@import com.keepit.common.mail.template.helpers._

<!-- title = "Kifi - @firstName(inviterId) invited you to join @libraryName" -->
<table class="row">
    <tr>
        <td class="wrapper">
            <table class="two columns">
                <tr>
                    <td>
                        <img height="80" width="80" src="@avatarUrl(inviterId)">
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>
        </td>

        <td class="wrapper last">
            <table class="ten columns">
                <tr>
                    <td>
                        @inviteeId match {
                            case Some(id) => {Hey @firstName(id),}
                            case None => {"Hello!"}
                        } <br><br>
                        @fullName(inviterId) would like to share @libraryName with you <br><br>

                        @inviteMsg match {
                            case Some(msg) => {@firstName(inviterId) sent you a message: @msg}
                            case None => {}
                        }

                        <font color="#A3C879">Come check it out here!</font><br>
                        <a href="@libraryLink"><u>@libraryName</u></a><br>
                        @libraryDescription match {
                            case Some(descr) => {Library Description: @descr}
                            case None => {}
                        }
                        <br><br>

                        Cheers! <br>
                        The Kifi Team
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
