@(unsubLink: String)

  @helper.kifiTemplate(title = "kifi — Boom! You're on the wait list", unsubLink=unsubLink) {

    @helper.oneColumnRow{
      Thank you for your interest in kifi! <br><br>

      <font color="#A3C879">We added you to the wait list</font> <br>
      We'll make sure to let you know when the Kifi mobile app is ready. <br><br>

      <font color="#A3C879">Get kifi on your Desktop today</font> <br>
      The good news is that you can easily try kifi on your Desktop today using Chrome and Firefox.
    }

    @helper.oneColumnRow{
      <table class="six columns" align="left">
          <tbody><tr>
            <td>
              <a href="https://www.kifi.com/">
                <table class="button radius green">
                  <tbody><tr>
                    <td class="cta-button">
                      <a href="https://www.kifi.com/">Let me try on my desktop »</a>
                    </td>
                  </tr>
                </tbody></table></a>
                <small> (Please click from your computer) </small>
            </td>
            <td class="expander"></td>
          </tr>
        </tbody>
      </table>
    }

    @helper.oneColumnRow{
      Have a great day, <br>
      The kifi team
    }

  }

