@(unsubLink: String)

Boom! You're on the wait list

Thank you for your interest in kifi! We added you to the wait list
We'll make sure to let you know when the Kifi mobile app is ready. Get kifi on your Desktop today.
The good news is that you can easily try kifi on your Desktop today using Chrome and Firefox.

Let me try on my desktop: https://www.kifi.com/  (Please click from your computer)

Have a great day,
The kifi team


Don't want to receive these messages from Kifi? Unsubscribe here: @unsubLink

Kifi.com | 883 N Shoreline Blvd, Bldg A200, Mountain View, CA 94043 United States
