@(email: String, muted: Boolean, msg: Option[String])

@content = {
<main>
    <h1 class="main-logo">kifi</h1>
    <h2 class="page-title">Kifi discussion preferences</h2>
    <section>
        <h3>@if(msg.isDefined){@msg}else{@email}</h3>
        @if(muted){
            <p>Changed your mind? Just click below to start receiving email updates again.</p>
        } else {
            <p>Click below to stop receiving email updates for this discussion.</p>
        }
        </p>
        <form id="optout" method="POST">
            <input type="hidden" name="should-mute" id="can-receive-emails">
            <span class="kifi-action" id="update">@if(muted){Unmute}else{Mute}</span>
        </form>
    </section>
</main>
}

@scripts = {
  <script>
    $(function() {
      $form = $("#optout");
      $("#update").click(function() {
        $("#can-receive-emails").val(@if(muted){"false"}else{"true"});
        $form.submit();
      });
    });
  </script>
}

@styles = {
<link rel="stylesheet" href="/assets/css/auth2.css">
<link rel="stylesheet" href="/assets/css/auth-footer.css">
<link rel="stylesheet" href="/assets/css/userAction.css">
}

@views.html.marketing.helper.page(title = "kifi | Opt-out of emails", styles = styles, content = content, scripts = scripts, dataTrack = "optOutEmails", htmlClass = "login-page", isLoggedIn = true, headerType = "grey", footerType = "minimalist")
