@(inviteeId: Option[Id[User]],
inviterId: Id[User],
inviteMsg: Option[String],
organization: Organization,
authToken: String
)

@import com.keepit.common.mail.template.helpers._
@organizationUrl = @{htmlUrl(baseUrl + "/" + organization.handle.value + "?authToken=" + authToken + "&", "organizationInviteLink", inviteeId.nonEmpty)}

@* setting up message components that depend on conditionals *@
@salutation = {
@if(inviteeId.isEmpty) {
<p>Hello,</p>
} else {
<p>Hi @firstName(inviteeId.get),</p>
}
}

@emailMessage = {
<p>Please join the <a href="@organizationUrl">@organization.name</a> team on Kifi
    so you can access and add to our team's knowledge.</p>
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
@if(inviteMsg.isEmpty) {
@salutation
@emailMessage
@firstName(inviterId)
} else {
@inviteMsg.get
<br><br>
<p><a href="@organizationUrl">@organization.name</a></p>
@firstName(inviterId)
}
</body>
</html>
