@(recipient: User, authors: Seq[String], unreadMessages: Seq[com.keepit.eliza.model.ThreadItem], url: String, title: String, allUsers: Map[Id[User], User])
Hi @recipient.firstName @recipient.lastName,

There are @unreadMessages.size unread messages in a
conversation between @authors.mkString(", ") and you on "@title".

Here's what you missed:
@for(message <- unreadMessages) {
@{message.userId.map(uid => allUsers(uid).firstName + " " + allUsers(uid).lastName).getOrElse(message.nonUser.getOrElse("Kifi User"))}: @message.message
}
Visit the page at: @url
