@(toUserId: Id[User], verifyUrl: String, sharedDomainOrgOpt: Option[Id[Organization]])
@import com.keepit.common.mail.template.helpers._

@orgName = @{sharedDomainOrgOpt.map { orgId => organizationName(orgId) } }
@orgLink = @{sharedDomainOrgOpt.map { orgId => organizationLink(orgId, None, "") } }

<div style="color:#333;font:13px 'Helvetica Neue',Helvetica,Arial,sans-serif;padding:20px;">

<p>Hi @firstName(toUserId),</p>

<p>To protect your privacy and security, please confirm your email address by clicking the link below:</p>

<p><a href="@verifyUrl">@verifyUrl</a></p>

@if(orgName.isDefined) {
<p>Upon verification, you'll join <a href="@orgLink" target="_blank">@{orgName.get}'s</a> Kifi team.</p>
}

<p>We look forward seeing you on Kifi,</p>

<p><br>
The Kifi Team</p>

</div>
