.kf-nav-lib-item
  font-size: 14px
  user-select: none
  padding: 10px 0 0 0

.kf-nav-lib-info
  display: inline-block

.kf-nav-lib-name
  font-size: 13px
  padding: 0 0 0 9px
  color: textDarkColor
  font-weight: 400
  vertical-align: 5px

.kf-nav-lib-count
  font-size: 12px
  padding: 0 0 0 9px
  color: countGreyColor
  font-weight: 200

.kf-nav-lib-card-sprite
  background-image: url('/img/library-card-temp.png')
  width: 26px
  height: 34px
  background-repeat: no-repeat
  display: inline-block
  vertical-align: middle

.kf-nav-lib-bar
  padding: 8px 0 8px 0
  border-bottom: 1px solid separatorColor

.kf-lib-input-box
  padding: 14px 0 10px 0
