<ul ng-if="librariesEnabled">
  <li class="kf-nav-lib-item kf-nav-recos" ng-class="{ active: isActive('/recommendations') }">
    <a class="kf-nav-link" href="/recommendations" ng-if="inRecoExperiment()">
      <span class="sprite sprite-clover-small"></span>
      <span class="kf-nav-name">Recommendations</span>
    </a>
  </li>
  <div class="kf-nav-lib-bar"></div>
  <li class="kf-nav-lib-item kf-nav-keeps" ng-class="{ active: isActive('mainLib.url') }">
	<a class="kf-nav-link" ng-href="{{mainLib.url}}">
	  <div class="kf-nav-lib-card-sprite"></div>
	  <div class = "kf-nav-lib-info">
	      <div class="kf-nav-lib-name">{{mainLib.name}}</div>
	      <div class="kf-nav-lib-count" ng-class="{ empty: !mainLib.numKeeps }">{{mainLib.numKeeps}} keeps </div>
  		</div>
	</a>
  </li>
  <li class="kf-nav-lib-item kf-nav-keeps" ng-class="{ active: isActive('secretLib.url') }">
	<a class="kf-nav-link" ng-href="{{secretLib.url}}">
	  <div class="kf-nav-lib-card-sprite"></div>
	  	<div class = "kf-nav-lib-info">
	      <div class="kf-nav-lib-name">{{secretLib.name}}</div>
	      <div class="kf-nav-lib-count" ng-class="{ empty: !secretLib.numKeeps }">{{secretLib.numKeeps}} keeps </div>
  		</div>
	</a>
  </li>
  <div class="kf-nav-lib-bar"></div>
</ul>
