<div ng-if="librariesEnabled">
<br>
<!--
<div class="kf-lib-input-box" ng-class="{'focused': isFilterFocused}">
    <a class="kf-lib-input-clear" href="javascript:" ng-click="clearFilter(true)" ng-show="filter.name">&times;</a>
    <input class="kf-lib-filter-input" placeholder="Find a library..." maxlength="32">
</div>-->
<ul class="kf-nav-group">
	<li ng-repeat="library in userLibraries" class="kf-nav-item kf-nav-keeps" ng-class="{ active: isActive(library.url) }">
    <a class="kf-nav-link" ng-href="{{library.url}}">
      <span class="sprite sprite-cards-small"></span>
      <span class="kf-nav-lib-name">{{library.name}}</span>
      <span class="kf-nav-lib-txt" ng-class="{ empty: !library.numKeeps }">{{library.numKeeps}} keeps</span>
      <!--<span class="kf-nav-num-follows" ng-class="{ empty: !library.numKeeps }">10 followers</span> fix this line-->
    </a>
  </li>
</ul>
</div>