.kf-structured-text
  display: inline-block

.kf-tooltip-parent.kf-structured-text-hover
  display: inline-block
  cursor: help

.kf-structured-text-user
.kf-structured-text-library
.kf-structured-text-organization
.kf-structured-text-text
  display: inline
  font-smoothing: antialiased
