/*
.kifi-dialog-networks {
  height: 65px;
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px);
}
*/

html {
  font: 16px/140% Arial, sans-serif;
}
html.mac {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
}
h1 {
  margin: 8px 0 0;
  text-align: center;
  line-height: 42px;
  font-size: 32px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: #555;
}
a:link,
a:visited {
  text-decoration: none;
}
input[type=text],
input[type=email],
input[type=password] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  padding: 0 0.8em;
  font-size: 16px;
  line-height: 130%;
  -webkit-font-smoothing: antialiased;
}
::-webkit-input-placeholder {
  color: #a9a9a9;
}
::-moz-placeholder {
  color: #989898;
}
.form-login {
  text-align: center;
  position: relative;
}
.form-sides {
  display: table;
  margin: 10px auto 24px;
  width: 100%;
  max-width: 800px;
}
.form-l,
.form-r {
  display: table-cell;
  width: 50%;
  text-align: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-l>.form-fields {
  padding: 0 30px 0 50px;
  border-right: 1px solid #e5e5e5;
}
.form-r>.form-fields {
  padding: 0 30px;
  text-align: right;
}
.form-sides h3 {
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #999;
}
.form-network {
  display: table;
  width: 100%;
  margin-top: 16px;
  border-radius: 3px;
}
.form-network.facebook {
  background: #597ab1;
}
.form-network.facebook:hover {
  background: #6a87b9;
}
.form-network.facebook:active {
  background: #506e9f;
}
.form-network.twitter {
  background: #55acee;
}
.form-network.twitter:hover {
  background: #66b4ef;
}
.form-network.twitter:active {
  background: #52a7e7;
}
.form-network.linkedin {
  background: #2786c5;
}
.form-network.linkedin:hover {
  background: #3d92cb;
}
.form-network.linkedin:active {
  background: #2379b1;
}
.form-network-icon {
  display: table-cell;
  height: 48px;
  width: 72px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 0;
}
.form-network-icon:empty:before {
  content: '';
  display: inline-block;
  font-size: 0;
  height: 24px;
  width: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.facebook > .form-network-icon:empty:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAAqklEQVR4Ae3RIU7FUBCG0dOX68h7AYsoBIVB49gABoPDo9kBsAnSXbEEQOArIGAorqPaaUNw9+j2S/9OIzVsnLtwas8BuPJhVAaJGw9OEAqhmNN4cmvWxpy75PUksHPPXwLXtlLFtEvhXecb8LU0cCY86tZPOBae10/YKsLn+p+4E+iXfUHRAjgUaONJL36MmkHQepXb1+cTUjUwdYXpixx5+9cJNVADNfALbWEYRTXJa3gAAAAASUVORK5CYII=);
}
.twitter > .form-network-icon:empty:before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 15"><path fill="%23fff" fill-rule="evenodd" transform="translate(-17, -14)" d="M25.74,17.99 L25.78,18.64 L25.13,18.56 C22.76,18.26 20.69,17.22 18.94,15.49 L18.08,14.63 L17.86,15.26 C17.39,16.68 17.69,18.18 18.66,19.18 C19.19,19.74 19.07,19.82 18.17,19.49 C17.86,19.38 17.59,19.3 17.56,19.34 C17.47,19.43 17.78,20.64 18.03,21.12 C18.37,21.78 19.05,22.43 19.81,22.81 L20.45,23.11 L19.69,23.13 C18.96,23.13 18.94,23.14 19.02,23.42 C19.28,24.28 20.3,25.19 21.45,25.59 L22.25,25.87 L21.55,26.29 C20.51,26.9 19.29,27.25 18.07,27.27 C17.48,27.29 17,27.34 17,27.38 C17,27.51 18.59,28.25 19.51,28.54 C22.28,29.4 25.57,29.03 28.04,27.56 C29.8,26.52 31.55,24.44 32.37,22.43 C32.82,21.35 33.26,19.39 33.26,18.45 C33.26,17.84 33.3,17.77 34.02,17.04 C34.45,16.61 34.86,16.15 34.94,16.02 C35.07,15.77 35.05,15.77 34.39,15.99 C33.28,16.39 33.13,16.34 33.67,15.74 C34.08,15.32 34.56,14.55 34.56,14.32 C34.56,14.28 34.36,14.35 34.14,14.47 C33.91,14.6 33.39,14.8 33,14.92 L32.3,15.14 L31.66,14.71 C31.31,14.47 30.81,14.2 30.55,14.12 C29.89,13.94 28.87,13.97 28.28,14.18 C26.65,14.77 25.62,16.31 25.74,17.99 Z"></path></svg>');
}
.linkedin > .form-network-icon:empty:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABL0lEQVR42u3VMUtCURjG8aOEXAqvCI0N0tTo2tTe4ujUF3CxoW8QQV+hqb3RSXBqqClobqkr2OCiN4SGDJ+eRYjznuM9Xs49QvnADxxe4Q9euQrARi0/HNATLTegOGRAH3I3oQJ2aQG5caiAHZpB7iXkT3ANuU7IgDJ16YHu6Szwv0D6VwFlOjRoaMcNy52yiKjuElCDeal2nJKYdtOinnY7p2e6pP2iAqrUQ/amdJo34B3mVegR7pvTSZ6AIcy7wvp7o4qvgE/kW3vdgAnc9kEjWmD17rw8hNor/Jh+v+IHsG/oM+CWSqQ0e5TAvG9fAa8UkbK4gH1VHwHnpFZowr6aj4CjjIB60QERqQxfRQYoB+k2YBvgI2C26QD82YCYJgaJfB1LjgGJ5buxOA7tB1SVtJndS479AAAAAElFTkSuQmCC);
}
@media (min-resolution: 1.3dppx) {
.facebook > .form-network-icon:empty:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAQAAAAAYLlVAAABI0lEQVR4Ae3SP0oDURhF8TNJLBKJxj8ghICdnYVWAbUQQV3AbMDKNNZWgkuw0D2I9ja2bsDGXoiVxWiEaQSfrSTviclM3odwzwp+cG+NEnMVOrRZosHPbiFczVFCVbY4ZI916oyW/AqgaC1O6NFmoooDUi5ZAbAAVLniGMAGkHBNCnaAc1KwA+xwBnaAhAsSS8ABm2AJ6IElYJZ9W8AudVtAl1A3nNIHmtMFbODvlSNyALLpAtbwd08eZ4JV/D1CDMAyM/h7iQNYIFQWB9Ag1CAOoEmoPA4g3Kc1gPIBFebHmGDOe1DH2+SADs/8vQd8vdP6xxMIIIAAAgjQZ5Hhutzhb5snRnNFAF9kDPdBqAGZPjB+AggggAACCCCAAAIIIIAA35DUJ6SaCe4pAAAAAElFTkSuQmCC);
}
.linkedin > .form-network-icon:empty:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAQAAAAAYLlVAAACIUlEQVR4Ae3Z32eFdQDH8dfZTk8rTTaRVNZaXc0sJYm6zDb9UEwiWbFGFDF2kSJTXdRVttEu+nVTUYsURSbWkrooTWxSoo5u5iRbm7K2E5HN8X12do7v+Z6LPa/nH3j7fHl8H49OKwHUMo+63/UOfetN76slCqgBgz407NinJu1IoAtcatWwk+7wllK6gDmD6t1pMl3AlJCpVAGXuVLISKqAbmFZqoBtvwvZTBVwZEXIO6kCmFdV7zuvpwuouLcu4Qd3OUgXwLpRr6iCn827SSXtqxgoudyBKpA+oCO6nPeAIqCMq2wI2XGNY1+7Tki/ele7xbD+/56/7anYsO7X/IAufRqv06NPI5lpM0aFfONVb9hv5xHcY8uSUWE3WvKjB9oV0G3BBwad7gpve00WPyDzrsedzSPek8UOWHafs7vbQisBu/I85mHNmTERb4EBL2reoqzZgF5hz7pE8671YKwFHtKa6VgB3Vpzq4FAQEIlY/ED/rLiCeNuNuEpW053G5TFcmjR87b97xMvmfOckjwjMRf4w5gnbTvpHy+YlW8oXsC+catCXvalPL16YwXM+krYkafl64sTsGZZvs/8JE9PnIBn1OSr+UieC2MEbFpzui/iXEozYR9r5Ps4ARcJ+1wjv8gV5wga2bPbzoCqxg46HfBnOwNqxbdhEVAEnJuAizsdcEGSgPSKgCKgCCjjN0NCjpx0Q+uxblcWUin+F/Avo8duRK1SujMAAAAASUVORK5CYII=);
}
}
.form-network-pic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.form-network-text {
  display: table-cell;
  height: 48px;
  padding-right: 12px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
.password-label {
  display: block;
  position: relative;
}
.password-label::after {
  content: '';
  position: absolute;
  top: 15px;
  right: 14px;
  width: 12px;
  height: 16px;
  background-size: contain;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAAAeUlEQVR42sXRsQ2AMAxEUc+QdcgIsEooWYC50sAqWQAqKnPFgSyEpYSG4hW29SuLqt5KKQNk2ClDD3IRM8ygjvkZ9DwckCBQ4k5hsEHmcuRsTbxlG2xchpcg8LbZQEkcSt+CFbTSwrqeF0SqDoR+DqwInRu0aP3DegJzDobNoXlc6AAAAABJRU5ErkJggg==);
  cursor: text;
}
@media (min-resolution: 1.3dppx) {
.password-label::after {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAgCAYAAAAIXrg4AAABMUlEQVR42u1VsUrEQBR8IHiNH6DcR6hdvsFO8a7xfuhsRPwHG231T4JFilvIJgfb2mgVZ+AKGdaY1Q0iZGDIYzNvJpvdbKwPZVnue++XTdPcgxvU77i+gi8c4z1q7Cdo2/YcBhWMuj5SA+2FDUXXdXtoXLM5kWv22neA8Foak0KsD5juQpt27/0W1yKEcECyxtgd70X0l18uKAS1iBvgtOeBTqiREE+v2KJeifkbDUQWCzmm9nMvvFYx4YME3NhAUCu9j7HFdSIqEgIKeU3OFDrNlA+oqqqZbgxT6G6wRGj/FDC8v67rMyxKy8HM3NLbxDwr6W0sxuSfBuh0n51zRyTr7AE0th1YZw8wwRQwBfxum4YQDsf40J5ojANszvofHBWZKMd1dm6NPwUWI5h7en8ANarzKGKRlt4AAAAASUVORK5CYII=);
}
}
.form-email-addr,
.form-password {
  display: block;
  width: 100%;
}
.form-submit {
  float: left;
  width: 50%;
  border: 0;
  padding: 0;
  height: 48px;
  line-height: 48px;
  font-size: inherit;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  color: #fff;
  background: #92c152;
  border-radius: 3px;
  cursor: pointer;
}
.form-submit:hover,
.form-submit:focus {
  background: #9dc763;
}
.form-submit:active {
  background: #83ae4a;
}
.password-forgot {
  vertical-align: top;
  line-height: 16px;
  font-size: 13px;
  font-weight: 300;
  color: #a9a9a9;
  position: relative;
  top: 16px;
  right: 3px;
}
.password-forgot:hover {
  text-decoration: underline;
}
.form-error {
  position: absolute;
  z-index: 10;
  padding: 10px 18px;
  border-radius: 3px;
  background-color: #ef6f6e;
  color: #fff;
  line-height: 16px;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}
.form-error:before {
  content: ' ';
  position: absolute;
  top: -8px;
  width: 0;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 8px;
  border-color: transparent transparent #ef6f6e;
  font-size: 0;
}
.form-error-title {
  display: block;
  font-weight: 500;
}
.form-error-explanation {
  margin-top: 6px;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
}
.no-account {
  text-align: center;
  font-weight: 300;
  color: #555;
}
.no-account>a {
  margin-left: 3px;
  text-decoration: none;
  color: #3ea9f5;
}
.no-account>a:hover {
  text-decoration: underline;
}
.alt-button {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  background: #6fa6ef;
  border-radius: 3px;
}
.alt-button:hover,
.alt-button:focus {
  background: #7daff1;
}
.alt-button:active {
  background: #6495d7;
}
.alt-button:focus {
  outline-color: #888;
}
.cancel-button {
  display: inline-block;
  white-space: nowrap;
  color: #888;
  background: #e8e8e8;
  border-radius: 3px;
}
.cancel-button:hover,
.cancel-button:focus {
  background: #ededed;
}
.cancel-button:active {
  background: #d1d1d1;
}

.dialog {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(195, 195, 195, .5);
  opacity: 0;
  transition: opacity 0.25s linear;
}
.dialog-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.dialog-box {
  margin: 0 auto;
  background: white;
  text-align: left;
  border-radius: 6px;
  position: relative;
  -webkit-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
  transition: -webkit-transform 0.25s ease-in;
  transition: transform 0.25s ease-in;
}
.dialog-showing {
  opacity: 1;
}
.dialog-showing .dialog-box {
  -webkit-transform: none;
  transform: none;
  transition-timing-function: ease-out;
}
.dialog-x {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 24px;
  width: 24px;
  z-index: 2;
  border-radius: 50%;
}
.dialog-x:before,
.dialog-x:after {
  content: ' ';
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 50%;
  width: 1px;
  background: #aaa;
  font-size: 0;
}
.dialog-x:before {
  -webkit-transform: translate3d(-0.5px, 0, 0) rotate(45deg);
  transform: translate3d(-0.5px, 0, 0) rotate(45deg);
}
.dialog-x:after {
  -webkit-transform: translate3d(-0.5px, 0, 0) rotate(-45deg);
  transform: translate3d(-0.5px, 0, 0) rotate(-45deg);
}
.dialog-x:hover {
  background: #e8e8e8;
}
.dialog-x:active {
  background: #d8d8d8;
}
.dialog-x:focus {
  outline-color: #ccc;
}
.dialog-title {
  padding: 20px 0 10px;
  line-height: 32px;
  font-size: 28px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: #515051;
}
.dialog-text {
  margin: 0;
  line-height: 19px;
  font-size: 15px;
  font-weight: 300;
  color: #515051;
}
.reset-password .dialog-box {
  width: 480px;
  text-align: center;
  overflow: hidden;
}
.reset-password .dialog-box:before,
.reset-password .dialog-box:after {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 70px;
  z-index: 1;
  border-radius: inherit;
}
.reset-password .dialog-box:before {
  left: 0;
  background-image: linear-gradient(to right, #fff, rgba(255,255,255,0));
}
.reset-password .dialog-box:after {
  right: 0;
  background-image: linear-gradient(to left, #fff, rgba(255,255,255,0));
}
.reset-password-email {
  width: 300px;
}
.reset-password-buttons {
  padding: 2px 0 20px;
}
.reset-password-cancel,
.reset-password-submit {
  display: inline-block;
  margin: 0 4px;
  padding: 10px 30px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
.reset-password-success {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  -webkit-transform: translate(80%, 0);
  transform: translate(80%, 0);
  visibility: hidden;
}
.reset-password-success > .dialog-text {
  margin: 16px 0 0;
}
.reset-password-sent .reset-password-form {
  -webkit-transform: translate(-80%, 0);
  transform: translate(-80%, 0);
  visibility: hidden;
  transition: visibility 0s 0.2s, -webkit-transform 0.2s ease-in-out;
  transition: visibility 0s 0.2s, transform 0.2s ease-in-out;
}
.reset-password-sent .reset-password-success {
  -webkit-transform: none;
  transform: none;
  visibility: visible;
  transition: visibility 0s, -webkit-transform 0.2s ease-in-out;
  transition: visibility 0s, transform 0.2s ease-in-out;
}
.reset-password-addresses {
  margin: 10px 0 20px;
  padding: 0;
  font-size: 15px;
  line-height: 19px;
  list-style: none;
}
.reset-password-address:only-child {
  padding: 8px 0 10px;
}
