<div class="kf-header" ng-controller="HeaderCtrl">
  <div class="kf-header-inner">
    <div class="kf-header-left">
      <div class="kf-header-toggle-menu closed sprite sprite-burger" ng-click="toggleMenu()"></div>
      <div class="kf-header-toggle-menu open sprite sprite-burger-open" ng-click="toggleMenu()"></div>
      <div class="kf-header-left-separator"></div>
      <a href="/" target="_self"><span class="svg-kifi-clover-white-text kf-header-logo"></span></a>
    </div>

    <div class="kf-header-search-bar">
      <div class="kf-query-lib-container" ng-class="{empty: isEmpty()}">
        <div class="kf-query-lib-icon" ng-class="{'focused': isFocused}"></div>

        <a ng-if="inUserProfileBeta" href="{{userProfileUrl}}">
          <img class="kf-search-bar-lib-owner-img" ng-show="search.showName" ng-src="{{library.owner.picUrl || 'https://www.kifi.com/assets/img/ghost.200.png'}}" title="{{library.owner.firstName + ' ' + library.owner.lastName}}"></img>
        </a>
        <img ng-if="!inUserProfileBeta" class="kf-search-bar-lib-owner-img" ng-show="search.showName" ng-src="{{library.owner.picUrl || 'https://www.kifi.com/assets/img/ghost.200.png'}}" title="{{library.owner.firstName + ' ' + library.owner.lastName}}"></img>

        <div class="kf-search-bar-lib-name" ng-show="search.showName" ng-class="library.kind != 'user_created' ? 'system-created' : library.visibility == 'secret' ? 'secret' : 'published'"> {{library.name}} </div>
        <div class="kf-search-bar-lib-name-clear" ng-show="search.showName" ng-class="library.kind != 'user_created' ? 'system-created' : library.visibility == 'secret' ? 'secret' : 'published'" ng-click="clearLibraryName()">&times;</div>

        <div class="kf-query-lib" ng-class="{'extend': !search.showName}">
          <input type="text" placeholder="Search Kifi…" ng-model="search.text" ng-focus="focusInput()" ng-blur="blurInput()" ng-change="changeSearchInput()" ng-keydown="onKeydown($event)" ng-click="onSearchBarClicked()">
        </div>
        <div class="kf-search-bar-clear" ng-show="search.text" ng-click="clearInput()">Clear</div>
      </div>
    </div>

    <div class="kf-header-right">
      <div class="sprite sprite-add-link" ng-click="addKeeps(library)">Add a link</div>
      <div kf-callout class="kf-callout-bubble-bottom kf-callout-tags" ng-if="showCallout()">
        <div>Your tags are safe. Creating a new library from a tag is a snap.</div>
        <div class="kf-callout-bubble-action">
          <div class="kf-callout-bubble-button" ng-click="closeCallout()">Got it</div>
        </div>
      </div>
      <a href="/tags/manage" class="kf-header-manage-tags sprite svg-tag-black" ng-class="{'svg-tag-hover': hover, 'kf-callout-tags-button': showCallout()}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">Manage your tags</a>
      <div class="kf-header-icon-hover-container kf-header-friends">
        <a href="/friends" class="kf-header-icon-friends sprite sprite-friends">Friends</a>
        <menu class="kf-dropdown-menu">
          <a class="kf-dropdown-menu-item" href="/friends">Your Kifi Friends</a>
          <a class="kf-dropdown-menu-item" href="/invite">Invite a friend to Kifi</a>
        </menu>
      </div>
      <div class="kf-header-icon-hover-container kf-header-profile">
        <a href="{{inUserProfileBeta ? userProfileUrl : '/profile'}}">
          <div class="kf-header-profile-picture" ng-style="{'background-image': 'url(' + me.picUrl + ')'}"></div>
        </a>
        <menu class="kf-dropdown-menu">
          <a ng-if="inUserProfileBeta" class="kf-dropdown-menu-item" href="{{userProfileUrl}}">Your Profile</a>
          <a class="kf-dropdown-menu-item" href="/profile">Settings</a>
          <a class="kf-dropdown-menu-item" href="javascript:" ng-click="logout()">Log out</a>
        </menu>
      </div>

    </div>
  </div>
</div>
