.kf-header
  position: fixed
  top: 0
  width: 100%
  height: 62px
  background-color: #333
  z-index: 500
  user-select: none

.kf-header-inner
  height: 100%
  max-width: userAppMaxWidth
  margin: 0 auto
  transition: padding 0.5s
  box-sizing: border-box

.kf-header-left
  float: left
  height: 100%
  width: 240px
  margin-left: 30px
  line-height: 62px
  box-sizing: border-box

.kf-header-toggle-menu
.kf-header-left-separator
.kf-header-profile-picture
.kf-header-logo
  vertical-align: middle

.kf-header-toggle-menu
.kf-header-left-separator
  display: none

.kf-header-profile-picture
.kf-header-logo
  display: inline-block

.kf-header-toggle-menu
  cursor: pointer
  margin: 0 13px

.kf-header-left-separator
  height: 35px
  border: 1px solid #7d7d7d

.kf-header-profile-picture
  width: 32px
  height: 32px
  margin: 0 6px 0 6px
  border-radius: 100%
  background-size: 100%

.kf-header-logo
  width: 70px
  height: 27px
  margin-left: 10px

@media (max-width: 1024px)
  .kf-header-toggle-menu
  .kf-header-left-separator
    display: inline-block

  .kf-header-inner
    .kf-header-search-bar
      width: calc(100% - 380px)

  .kf-logged-in & .kf-header-left
    margin-left: 20px
    width: 140px

  .kf-header-toggle-menu
    &.open
      display: inline-block
    &.closed
      display: none

  .kf-sidebar-inactive
    .kf-header-toggle-menu
      &.open
        display: none
      &.closed
        display: inline-block


a.kf-header-callout
  position: relative
  top: 12px
  width: 60px
  font-size: 10px
  line-height: 10px
  font-weight: 300
  font-style: italic
  font-smoothing: antialiased
  color: #fff
  text-decoration: none

a.kf-header-callout:hover
  text-decoration: underline


.kf-header-search-bar
  float: left
  box-sizing: border-box
  max-width: 850px
  width: calc(100% - 530px)
  padding-top: 7px

.kf-query-lib-container
  position: relative
  z-index: 1
  box-sizing: border-box
  width: 90%
  margin-left: 30px
  margin-top: 5px
  padding: 5px 0
  border: defaultBorder
  border-radius: 3px
  background-color: #fff

.kf-query-lib
  position: relative
  top: 3px
  display: inline-block
  vertical-align: bottom
  width: calc(70% - 125px)
  height: 24px

  &.extend
    width: calc(100% - 90px)
    margin-left: 8px

  input
    width: 100%
    color: textDarkGray


.kf-query-lib:focus + .kf-query-lib-icon
  sprite2x($search-icon-active)

.kf-query-lib-icon
  display: inline-block
  margin-left: 5px
  sprite2x($search-icon-default)
  vertical-align: bottom

  &.focused
    sprite2x($search-icon-active)

.kf-search-bar-lib-owner-img
  position: relative
  left: 9px
  z-index: 1
  width: 24px
  height: 24px
  border-radius: 100%

.kf-search-bar-lib-name
  position: relative
  left: -10px
  vertical-align: bottom
  display: inline-block
  padding: 4px 5px 4px 24px
  max-width: 25%
  border-radius: 8px 0 0 8px
  font-size: 13px
  font-weight: 100
  color: #fff
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

  &.system-created
    background-color: kifiBlack

  &.secret
    background-color: libraryRed

  &.published
    background-color: libraryGreen

.kf-search-bar-lib-name-clear
  position: relative
  left: -10px
  vertical-align: bottom
  display: inline-block
  padding: 3px 8px 4px 2px
  border-radius: 0 8px 8px 0
  font-size: 14px
  color: #fff
  cursor: pointer

  &.system-created
    background-color: kifiBlack

  &.secret
    background-color: libraryRed

  &.published
    background-color: libraryGreen

.kf-search-bar-clear
  float: right
  margin-top: 3px
  margin-right: 8px
  font-weight: 200
  font-size: 16px
  color: blueColor
  cursor: pointer

.kf-header-right
  overflow: hidden
  height: 100%
  margin-right: 60px
  line-height: 62px
  text-align: right
  font-size: 14px
  box-sizing: border-box

  .kf-dropdown-menu
    display: none

    :hover
      background-color: #eee
    :active
      background-color: #ccc

    .kf-dropdown-menu-item
      cursor: pointer

  .sprite
    cursor: pointer
    margin: 0 5px

  @media screen and (max-width: 1280px)
    margin-right: 30px

  .sprite-add-link
    &:hover
      sprite2x($add-link-active)

.kf-header-manage-tags
  height: 32px
  width: 32px

.kf-header-icon-hover-container
  display: inline-block

  &:hover
    .kf-dropdown-menu
      display: block
      margin-top: -10px
    .on-icon
      display: none

.kf-header-friends
  .kf-dropdown-menu
    margin-left: -128px

.kf-header-profile
  .kf-dropdown-menu
    margin-left: -50px

.kf-header-icon-friends
  position: relative

.kf-friend-invite-badge
  width: 12px
  height: 12px
  border-radius: 50%
  background-color: redColor
  animation: badge-zoom 1s infinite linear alternate

.kf-friend-invite-badge.on-icon
  position: absolute
  top: -2px
  left: 21px
.kf-friend-invite-badge.on-item
  float: left
  margin-left: 16px
  margin-top: 9px

@keyframes badge-zoom {
  from {
    transform: scale(0.8)
  }
  to {
    transform: scale(1)
  }
}


//
// Public header styles.
//
.public-header
  &.kf-header
    background-color: #f9fafb
    border-bottom: 1px solid #dbdbdb

  .kf-header-inner
    width: 745px

  .kifi-clover-logo-icon
    display: inline-block
    vertical-align: middle
    margin-right: 2px
    width: 28px
    height: 28px
    background-repeat: no-repeat

  .kf-header-logo
    margin-right: 4px
    width: 40px
    height: 21px
    background-repeat: no-repeat

  .public-header-tagline
    display: inline-block
    vertical-align: -7px
    width: 100px
    font-size: 11px
    color: #7d7d7d
    line-height: 1.1

  .public-header-link
  .public-header-dot
    color: #818692

  .public-header-link
    &:focus
    &:hover
      color: #686d79

  .public-header-dot
    margin: 0 10px
