<div class="kf-header public-header" ng-controller="PublicHeaderCtrl">
  <div class="kf-header-inner">
    <div class="kf-header-left">
      <a href="/" target="_self">
        <span class="kifi-clover-logo-icon svg-kifi-clover-logo"></span>
        <span class="kf-header-logo svg-kifi-name"></span>
        <span class="public-header-tagline">Connecting people with knowledge</span>
      </a>
    </div>

    <div class="kf-header-right">
      <a ng-click="join($event)" href="{{navBase}}/signup" target="_self" class="public-header-link">Join Kifi</a>
      <span class="public-header-dot">•</span>
      <a ng-click="login($event)" href="{{navBase}}/login" target="_self" class="public-header-link" rel="nofollow">Log in</a>
    </div>
  </div>
</div>
