<div class="kf-header public-header" ng-controller="PublicHeaderCtrl">
  <div class="kf-header-inner">
    <div class="kf-header-left">
      <a href="/">
        <span class="reco-icon svg-reco-icon"></span>
        <img class="kf-header-logo" src="/img/kifi-logo-color.png">
        <span class="public-header-tagline">Connecting people with knowledge</span>
      </a>
    </div>

    <div class="kf-header-right">
      <a href="{{navBase}}/signup" class="public-header-link">Join Kifi</a>
      <span class="public-header-dot">•</span>
      <a href="{{navBase}}/login" class="public-header-link">Log in</a>
    </div>
  </div>
</div>
