
.si-org-selector-container-wrapper
  display: flex
  flex-direction: column
  align-items: center
  padding: 40px 0

.si-org-selector-container
  display: flex
  flex-direction: column
  width: 600px
  padding: 20px
  background-color: white
  border-radius: 10px
  box-shadow: 0px 1px 1px 1px #00000022

  .si-org-selector-header
    font-size: 30px
    color: #333
    font-weight: bold
    text-align: center

  .si-org-selector-inner-container
    display: flex
    flex-direction: column
    margin-top: 20px
    margin-left: 50px
    margin-right: 50px

  .si-org-selector-spinner-wrapper
    width: 100%
    display: flex
    flex-direction: row
    justify-content: center

  .si-org-selector-spinner
    width: 100px
    height: 100px

.si-org-selector-org-row
  display: flex
  justify-content: flex-start
  flex-direction: row
  align-items: center
  height: 64px
  cursor: pointer

  &:hover
    background-color: #F3F3F3

  img
    margin: 8px
    width: 48px
    height: 48px
    border-radius: 10%
    box-shadow: 0px 1px 1px 1px #00000022

.si-org-selector-org-row-title
  font-size: 18px
  text-align: center
  margin-left: 5px
  font-weight: bold
  color: #333

.si-org-selector-svg-wrapper
    display: flex
    justify-content: center
    align-items: center
    margin: 8px
    width: 48px
    height: 48px
    border-radius: 10%
    box-shadow: 0px 1px 1px 1px #00000022

.si-org-selector-org-row-selected
  background-color: #EEEEEE !important

.si-org-selector-bottom
  display: inline-flex
  flex-direction: column
  align-items: center
  margin: 10px auto 0
