<div class="kf-my-identity">
  <a class="kf-my-settings-wrapper" href="/profile">
    <span class="kf-my-pic" ng-style="{'background-image': 'url(' + me.picUrl + ')'}"></span>
    <span class="kf-my-settings-shade"></span>
    <span class="kf-my-settings">
      <span class="kf-my-settings-icon"></span>
      <span class="kf-my-settings-text">Settings</span>
    </span>
  </a>
  <div class="kf-my-name">{{me.firstName}} {{me.lastName}}</div>
  <div class="kf-my-description" ng-if="me.description">{{me.description}}</div>
  <div class="kf-help-rank" ng-if="me.totalKeepsClicked > 0" ng-click="openHelpRankHelp()">
    <hr ng-if="me.description" />
    <div><span class="kf-heart">♥</span> Your Keeps helped friends {{me.totalKeepsClicked}} times </div>
  </div>
  <div kf-modal ng-if="data.showHelpRankHelp" show="data.showHelpRankHelp">
    <div kf-basic-modal-content centered="true" single-action="false">
      <div class="kf-help-rank-help">
        <div class="kf-block-top">The vision of Kifi is about people helping people. <br> Here's where you come in:</div>
        <div class="kf-block"><span class="kf-emph">{{me.uniqueKeepsClicked}}</span> of your public keeps have been clicked on <span class="kf-emph">{{me.totalKeepsClicked}}</span> times by your friends <br> when they searched on Google or Kifi.com</div>
        <div class="kf-block-bottom">Do you like this feedback?
          <div class="dialog-buttons">
            <button ng-click="yesLikeHelpRank()">Yes</button>
            <button ng-click="noLikeHelpRank()">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
