.kf-bio-input
  width: 100%
  height: 120px
  resize: none;
  border-radius: 8px
  border: 1px solid #ccc
  padding: 10px
  box-sizing: border-box
  font-size: 1.1em
  line-height: 1.6em

.kf-bio-chars
  margin-top: 10px
  color: accentGreen
  float: right

  &.over
    color: #d50000

.kf-bio-buttons
  margin-bottom: 20px

.kf-bio-save
  display: block
  height: 15px
  width: 100px
  margin: -20px auto 0 auto
  padding: 10px 0
  border-radius: 5px
  border: none
  outline: none
  background-color: accentGreen
  color: white
  cursor: pointer

  &:hover
    background-color: #6ab875

  &.over
    opacity: 0.4
    cursor: initial

    &:hover
      background-color: accentGreen