.kf-learn-more-icons
  display: flex
  justify-content: center

.kf-learn-more-icon
  width: 42px
  height: 42px

.kf-learn-more-ampersand
  line-height: 42px
  text-align: center
  color: textLightGrey
  font-family: sans-serif
  font-weight: bold
  font-size: 22px
  margin-right: -2px

.kf-learn-more-org-icon
  fill: orgsBlueColor
