<a class="profile-manage-account-title-wrapper" href="javascript:" ng-click="toggle('uninstall');">
  <div class="profile-setting-arrow" ng-class="{'active':isOpen.uninstall}"></div>
  <div class="profile-manage-account-title" ng-class="{'active':isOpen.uninstall}">Uninstall the browser extension</div>
</a>
<div class="profile-uninstall-change" ng-show="isOpen['uninstall']">
  <ul>
    <li>
      <a href="https://support.mozilla.org/en-US/kb/disable-or-remove-add-ons#w_how-to-remove-extensions-and-themes" target="_blank">Instructions to uninstall Firefox extensions</a>
    </li>
    <li>
      <a href="https://support.google.com/chrome_webstore/answer/2664769?hl=en#uninstall" target="_blank">Instructions to uninstall Chrome extensions</a>
    </li>
  </ul>
</div>

<a class="profile-manage-account-title-wrapper" href="javascript:" ng-click="toggle('close');">
  <div class="profile-setting-arrow" ng-class="{'active':isOpen.close}"></div>
  <div class="profile-manage-account-title" ng-class="{'active':isOpen.close}">Close your account</div>
</a>
<div class="profile-manage-account-close-account-change" ng-show="isOpen.close">
  <p>
    Since Kifi has joined Google, all accounts will soon be closed when Kifi is shut down.
  </p>
</div>
