<a class="profile-manage-account-title-wrapper" href="javascript:" ng-click="toggle('uninstall');">
  <div class="profile-setting-arrow" ng-class="{'active':isOpen.uninstall}"></div>
  <div class="profile-manage-account-title" ng-class="{'active':isOpen.uninstall}">Uninstall the browser extension</div>
</a>
<div class="profile-uninstall-change" ng-show="isOpen['uninstall']">
  <ul>
    <li>
      <a href="http://support.kifi.com/hc/en-us/articles/203735045-How-do-I-remove-the-Keeper-entirely-in-Firefox-" target="_blank">Instructions to uninstall the Firefox extension</a>
    </li>
    <li>
      <a href="http://support.kifi.com/hc/en-us/articles/203012909-How-do-I-remove-the-Keeper-entirely-in-Chrome-" target="_blank">Instructions to uninstall the Chrome extension</a>
    </li>
  </ul>
</div>

<a class="profile-manage-account-title-wrapper" href="javascript:" ng-click="toggle('close');">
  <div class="profile-setting-arrow" ng-class="{'active':isOpen.close}"></div>
  <div class="profile-manage-account-title" ng-class="{'active':isOpen.close}">Close your account</div>
</a>
<div class="profile-manage-account-close-account-change" ng-show="isOpen.close">
  <p>
    Please request to close your account via the <a ng-click="closeAccount()" href="http://support.kifi.com/hc/en-us/articles/205385755-How-to-close-your-account-">support page</a>.
  </p>
</div>
