<div class="kf-pw">

  <div class="kf-pw-badge">
    <a ng-href="{{ me | profileUrl }}" ng-click="registerEvent('Photo')" class="kf-pw-profileImg">
      <img ng-src="{{ me | pic:100 }}" />
    </a>
    <aside>
      <a
        class="kf-pw-title-link"
        ng-href="{{ me | profileUrl }}"
        ng-click="registerEvent('Name')"
        ng-bind="me.firstName + ' ' + me.lastName"
      ></a>
      <p>
        <a
          ng-class="me.biography ? '' : 'no-bio'"
          ng-click="bioClick()"
          kf-ellipsis
          full-text="me.biography || 'Add a Bio'"
          max-num-lines="2"
        ></a>
      </p>
    </aside>
  </div>

  <div class="kf-pw-stats">
    <a ng-href="{{ me | profileUrl }}" ng-click="registerEvent('Libraries')" class="kf-link-parent kf-pw-stat">
      <span class="kf-pw-stat-label kf-link">Libraries</span>
      <span class="kf-pw-stat-value" ng-bind="me.numLibraries"></span>
    </a>
    <a ng-href="{{ me | profileUrl:'connections' }}" ng-click="registerEvent('Connections')" class="kf-link-parent kf-pw-stat">
      <span class="kf-pw-stat-label kf-link">Connections</span>
      <span class="kf-pw-stat-value" ng-bind="me.numConnections">
        <span class="kf-pw-stat-notification" ng-if="me.pendingFriendRequests > 0" ng-bind="'+' + me.pendingFriendRequests"></span>
      </span>
    </a>
    <a ng-href="{{ me | profileUrl:'followers'}}" ng-click="registerEvent('Followers')" class="kf-link-parent kf-pw-stat">
      <span class="kf-pw-stat-label kf-link">Followers</span>
      <span class="kf-pw-stat-value" ng-bind="me.numFollowers"></span>
    </a>
  </div>

  <div class="kf-pw-orgs" ng-if="organizations">
    <div ng-repeat="org in organizations" ng-if="!org.declined" class="kf-pw-org" ng-class="{ 'kf-pw-org-pending': org.pending }" >
      <p ng-if="org.pending" class="kf-pw-org-pending-label">You've been invited to join</p>
      <p ng-if="org.potential" class="kf-pw-org-potential-label">Verify your email to join</p>
      <a ng-href="{{ org.handle }}" ng-click="registerEvent('clickedOrgFromProfile')">
        <img class="kf-pw-org-img" ng-src="{{ org | pic:200 }}" />
      </a>
      <div class="kf-pw-org-bio">
        <a
          class="kf-pw-title-link"
          ng-href="{{ org.handle }}"
          ng-click="registerEvent('clickedOrgFromProfile')"
          ng-bind="org.name"
        ></a>
        <table class="kf-pw-org-stats">
          <tr class="kf-link-parent">
            <td>
              <a
                class="kf-pw-org-stat-value"
                ng-href="{{ org | profileUrl }}"
                ng-click="registerEvent('clickedOrgLibrariesProfileWidget')"
                ng-bind="org.numLibraries"
              ></a>
            </td>
            <td>
              <a
                class="kf-link kf-pw-org-stat-label"
                ng-href="{{ org | profileUrl }}"
                ng-click="registerEvent('clickedOrgLibrariesProfileWidget')"
                ng-pluralize
                count="org.numLibraries"
                when="{'1': 'Library', 'other': 'Libraries'}"
              ></a>
            </td>
          </tr>
          <tr class="kf-link-parent">
            <td>
              <a
                class="kf-pw-org-stat-value"
                ng-href="{{ org | profileUrl:'members' }}"
                ng-click="registerEvent('clickedOrgMembersProfileWidget')"
                ng-bind="org.numMembers"
              ></a>
            </td>
            <td>
              <a
                class="kf-link kf-pw-org-stat-label"
                ng-href="{{ org | profileUrl:'members' }}"
                ng-click="registerEvent('clickedOrgMembersProfileWidget')"
                ng-pluralize
                count="org.numMembers"
                when="{'1': 'Member', 'other': 'Members'}"
              ></a>
            </td>
          </tr>
        </table>
      </div>
      <button class="kf-pw-org-btn kf-pw-org-btn-accept" ng-if="org.pending && !org.declined" ng-click="acceptInvite(org)">Accept</button>
      <button class="kf-pw-org-btn kf-pw-org-btn-decline" ng-if="org.pending && !org.declined" ng-click="declineInvite(org)">Decline</button>
      <div class="kf-pw-org-email" ng-if="org.potential && org.viewer.emails">
        <div ng-repeat="email in org.viewer.emails">
          <p class="kf-pw-org-email-txt" ng-bind="email"></p>
          <button class="kf-pw-org-btn kf-pw-org-btn-accept kf-pw-org-btn-verify" ng-if="org.potential && !org.declined" ng-click="sendMemberConfirmationEmail(email, org)">Verify</button>
          <button class="kf-pw-org-btn kf-pw-org-btn-decline kf-pw-org-btn-ignore" ng-if="org.potential && !org.declined" ng-click="hideOrgDomain(org)">Hide</button>
        </div>
      </div>
    </div>
  </div>
  <div class="kf-pw-create-org" ng-repeat="teamName in prepopCreateTeamNames" >
    <div class="kf-pw-create-org-wrapper kf-link-parent" ng-click="createTeam(teamName)">
      <span class="kf-pw-create-org-icon"><svg kf-symbol-sprite icon="plus"></svg></span>
      <button class="kf-pw-create-org-label kf-link" ng-bind="'Create a team' + (teamName ? ' for ' + teamName : '')"></button>
    </div>
    <button
      class="kf-link kf-link-underline kf-pw-learn-more"
      ng-if="$last"
      ng-click="openLearnMoreModal(teamName)"
    >
      Learn more
    </button>
  </div>
</div>
