<div class="profile-input-box profile-name-input-box">
  <!-- First Name -->
  <div class="profile-input-container" ng-class="{ error: badFirstName }">
    <input type="text" name="firstName" placeholder="first name" class="profile-input-input profile-name-input" ng-class="{editing: editing}" ng-disabled="!editing" ng-model="name.firstName" kf-focus-if focus-cond="editing" novalidate>
    
    <div class="input-error" ng-show="badFirstName">
      <div class="error-header" ng-bind-html="errorHeader"></div>
      <div class="error-body" ng-bind-html="errorBody"></div>
    </div>
  </div>
  <!-- Last Name -->
  <div class="profile-input-container" ng-class="{ error: badLastName }">
    <input type="text" name="lastName" placeholder="last name" class="profile-input-input profile-name-input" ng-class="{editing: editing}" ng-disabled="!editing" ng-model="name.lastName" novalidate>
    
    <div class="input-error" ng-show="badLastName">
      <div class="error-header" ng-bind-html="errorHeader"></div>
      <div class="error-body" ng-bind-html="errorBody"></div>
    </div>
  </div>
  <!-- Edit Button -->
  <a class="profile-input-edit" href="javascript:" ng-if="explicitEnabling" ng-hide="editing" ng-click="edit()">Edit</a>
  <!-- Save Button -->
  <a class="profile-input-save" href="javascript:" ng-show="!explicitEnabling || editing" ng-click="save()">Save</a>
</div>
