<div class="profile-change-password">
  <a class="profile-change-password-title-wrapper" href="javascript:" ng-click="toggle()">
    <div class="profile-setting-arrow" ng-class="{'active':isOpen}"></div>
    <div class="profile-change-password-title" ng-class="{'active':isOpen}">{{passwordAction}}</div>
  </a>
  <div class="profile-change-password-change" ng-show="isOpen">
    <input ng-if="!hasNoPassword" class="profile-input-password" ng-model="inputs.oldPassword" type="password" name="old-password" placeholder="Enter your current password" value="" novalidate>
    <input class="profile-input-password" ng-model="inputs.newPassword1" type="password" name="new-password1" placeholder="Choose a new password" value="" novalidate>
    <input class="profile-input-password" ng-model="inputs.newPassword2" type="password" name="new-password2" placeholder="Confirm new password" value="" novalidate>
    <div class="profile-change-password-error">{{errorMessage}}</div>
    <div><a class="profile-change-password-save" href="javascript:" ng-click="updatePassword()">Update password</a></div>
  </div>
  <div class="profile-change-password-success">{{successMessage}}</div>
</div>
