<div class="profile-image-wrapper">
  <div class="profile-image" ng-click="selectFile()" ng-style="{'background-image': 'url(' + picUrl + ')'}"></div>
  <label class="profile-image-label">
    <input class="profile-image-file" type="file" name="photo" accept="image/*" onchange="angular.element(this).scope().fileChosen(this.files)">
  </label>
  <div kf-modal show="showImageEditDialog.value">
    <div kf-basic-modal-content with-cancel title="Position and size of your photo" action-text="Submit" action="uploadImage()" cancel="resetChooseImage()">
      <div class="kf-profile-image-dialog-image">
        <div class="kf-profile-image-dialog-mask"></div>
      </div>
      <div class="kf-profile-image-dialog-slider" ui-slider="zoomSlider" ng-model="zoomSlider.value"></div>
    </div>
  </div>
  <div kf-modal no-user-hide show="showImageUploadingModal.value">
    <div class="dialog-body-wrap">
      <div class="dialog-header">Uploading image...</div>
    </div>
  </div>
  <div kf-modal show="showImageUploadFailedDialog.value">
    <div kf-basic-modal-content with-warning>
      <div class="dialog-header dialog-warning">Sorry, we could not upload your image. Please try again later.</div>
    </div>
  </div>
</div>
