<div ng-controller="ProfileCtrl">
  <div class="profile">
    <div class="antiscroll-inner">
      <h2>Settings</h2>
      <div class="profile-container">
        <div kf-profile-image pic-url="me.picUrl"></div>
        <div class="profile-input-wrapper">
          <div class="profile-input-title">Name</div>
          <div class="profile-input-box profile-input-box-name">
            <span class="profile-input-placeholder">
              <span class="profile-placeholder-first-name">{{me.firstName}}</span> <span class="profile-placeholder-last-name">{{me.lastName}}</span>
            </span>
            <input class="profile-input-input profile-first-name" disabled type="text" name="firstName" placeholder="First name" value="{{me.firstName}}" required novalidate>
            <input class="profile-input-input profile-last-name" disabled type="text" name="lastName" placeholder="Last name" value="{{me.lastName}}" required novalidate>
          </div>
        </div>
        <div class="profile-input-wrapper">
          <div class="profile-input-title">Description tagline <span class="profile-input-remaining-chars"></span></div>
          <div kf-profile-input input-state="descInput" input-save-action="saveDescription(value)" explicit-enabling="true">
            <input class="profile-input-input profile-description-input"
              ng-disabled="!descInput.editing"
              kf-focus-if focus-cond="descInput.editing"
              ng-model="descInput.value"
              type="text" name="description" placeholder="Enter your description tagline" maxlength="50">
          </div>
        </div>
        <div class="profile-input-wrapper profile-email">
          <div class="profile-input-title">Contact email</div>
          <div kf-profile-input input-state="emailInput" input-validate-action="validateEmail(value)"  input-save-action="saveEmail(value)" explicit-enabling="true">
            <input class="profile-input-input profile-email-input"
              ng-disabled="!emailInput.editing"
              kf-focus-if focus-cond="emailInput.editing"
              ng-model="emailInput.value"
              type="text" name="email" placeholder="Enter your email address" novalidate>
          </div>
          <div kf-modal show="showEmailChangeDialog.value">
            <div kf-basic-modal-content with-cancel action-text="Continue" action="confirmSaveEmail()" cancel="cancelSaveEmail()">
              <p>You are about to change your primary email to <span class="email-address">{{me.primaryEmail.address}}</span>.</p>
              <p>We will send a verification email to this email address to prove that you own it. To verify, please click on a verification link on the email.</p>
            </div>
          </div>
        </div>
        <div class="profile-email-address-unverified" ng-if="isUnverified({value: me.primaryEmail})">
          Your email is pending your verification
          (<a class="profile-email-pending-resend" href="javascript:" ng-click="resendVerificationEmail()">Resend verification</a>).
        </div>
        <div class="profile-email-address-pending" ng-if="me.primaryEmail.isPendingPrimary">
          Your new primary email, <span class="profile-email-address-pending-email">{{me.primaryEmail.address}}</span>, is pending your verification
          (<a class="profile-email-pending-resend" href="javascript:" ng-click="resendVerificationEmail()">Resend verification</a>,
          <a class="profile-email-pending-cancel" href="javascript:" ng-click="cancelPendingPrimary()">Cancel</a>).
        </div>
        <div kf-profile-email-addresses input-state="addEmailInput" email-list="me.emails" validate-email-action="validateEmail(value)" add-email-action="addEmail(value)" resend-verification-email-action="resendVerificationEmail(value)"></div>
        <div kf-modal show="showResendVerificationEmailDialog.value">
          <div kf-basic-modal-content title="{{emailForVerificationModalTitle}}">
            <p>You will shortly receive a verification email from us at the following address: <span class="email-address">{{emailForVerification}}</span>.</p>
            <p>To verify, please click on a verification link on the email.</p>
          </div>
        </div>
        <div kf-profile-change-password></div>
      </div>
      <div class="profile-section">
        <h3>Connect your social networks to Kifi</h3>
        <h5>Find which of your friends are using Kifi</h5>
        <ul class="profile-networks">
          <li data-network="facebook" kf-facebook-connect-button ng-class="{ 'not-connected': !isFacebookConnected() }">
            <a class="profile-nw nw-facebook" href="javascript:" ng-click="connectFacebook()">Facebook</a>
            <span class="profile-nw-connected">
              <span class="profile-placeholder">&nbsp;</span>
              <span class="profile-connected">Connected</span>
              <a class="profile-disconnect" href="javascript:" ng-click="disconnectFacebook()">Disconnect?</a>
            </span>
          </li>
          <li data-network="linkedin" ng-class="{ 'not-connected': !isLinkedInConnected() }">
            <a class="profile-nw nw-linkedin" href="javascript:" ng-click="connectLinkedIn()">LinkedIn</a>
            <span class="profile-nw-connected">
              <span class="profile-placeholder">&nbsp;</span>
              <span class="profile-connected">Connected</span>
              <a class="profile-disconnect" href="javascript:" ng-click="disconnectLinkedIn()">Disconnect?</a>
            </span>
          </li>
        </ul>
      </div>
      <hr class="profile-section-divider">
      <div class="profile-section" kf-email-import></div>
    </div>
  </div>
</div>
