<div class="profile-email-addresses">
  <a class="profile-email-addresses-title-wrapper" href="javascript:" ng-click="toggle()">
    <div class="profile-setting-arrow" ng-class="{'active':isOpen}"></div>
    <div class="profile-email-addresses-title" ng-class="{'active':isOpen}">Manage your email addresses</div>
  </a>
  <div class="profile-email-address-manage" ng-show="isOpen">
    <div class="profile-email-address-manage-description" ng-show="emailList.length > 0">
      NOTE: These are the email addresses associated with your Kifi account.
      You may log in with them and Kifi members can find you using these email addresses via search.
    </div>
    <ul class="profile-email-address-list">
      <li ng-repeat="email in emailList" class="profile-email-address-item">
        <span class="profile-email-address-item-email" ng-class="{'profile-email-address-item-email-important': email.isPrimary || email.isPendingPrimary || email.isPlaceholderPrimary}">{{email.address}}</span>
        <span class="profile-email-address-item-primary" ng-if="email.isPrimary || email.isPlaceholderPrimary">(primary)</span>
        <span class="profile-email-address-item-pending-primary" ng-if="email.isPendingPrimary && !email.isPrimary && !email.isPlaceholderPrimary">(pending primary)</span>
        <span class="profile-email-address-item-unverified" ng-if="!email.isVerified">(<a class="profile-email-pending-resend" href="javascript:" ng-click="resendVerificationEmail(email.address)">unverified</a>)</span>
        <div class="profile-email-address-item-arrow" href="javascript:" ng-if="!(email.isPrimary || email.isPendingPrimary || email.isPlaceholderPrimary)" ng-click="openDropdownForEmail($event, email.address)">
          <img class="profile-email-address-item-arrow-image" src="../img/placeholder-icon.png">
          <ul class="profile-email-address-item-dropdown" ng-show="emailWithActiveDropdown === email.address">
            <li>
              <a class="profile-email-address-item-make-primary" href="javascript:" ng-if="email.isVerified" ng-click="makePrimary(email.address)">Make primary</a>
            </li>
            <li>
              <a class="profile-email-address-item-delete" href="javascript:" ng-click="deleteEmail(email.address)">Delete</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <a class="profile-email-address-add" href="javascript:" ng-click="enableAddEmail()" ng-show="!(state.editing || state.invalid)">+ add a new email address</a>
    <div class="profile-email-address-add-box" ng-show="state.editing || state.invalid">
      <div kf-profile-input input-state="state" input-validate-action="validateEmail(value)" input-save-action="addEmail(value)" action-label="Add">
        <input class="profile-email-address-add-input"
               kf-focus-if focus-cond="state.editing"
               ng-model="state.value"
               type="text" name="new_email" placeholder="Type a new email address">
      </div>
    </div>
    <div kf-modal show="showEmailDeleteDialog.value">
      <div kf-basic-modal-content with-cancel with-warning title="Delete {{emailToBeDeleted}}?" action-text="Delete" action="confirmDeleteEmail()">
        <p>Are you sure you want to delete this email address?</p>
        <ul>
          <li>You will not be able to login with this email address</li>
          <li>Your friends will not be able to find you by this email address</li>
        </ul>
      </div>
    </div>
    <div class="profile-email-address-manage-footer"></div>
  </div>
</div>
