nav-item()
  position: relative
  display: block
  padding: 0 6px 0 40px
  line-height: 36px
  color: #818692

.kf-tags
  .kf-nav-group-name
    position: relative
    padding-bottom: 2px
    margin-top: 15px

.kf-tag-input-box
  nav-item()
  cursor: text
  background: #fff
  white-space: nowrap
  transition: background-color .16s

  input
    width: 100%
    margin: 0
    border: 0
    padding: 0
    padding-left: 22px
    padding-right: 23px
    background-color: transparent
    color: inherit
    font: inherit
    line-height: 1.35
    background-image: url(../img/tag-icon-blue.png)
    background-repeat: no-repeat
    background-size: auto 16px
    box-sizing: border-box

.kf-tag-input-clear
  position: absolute
  top: -1px
  right: 0
  font-size: 1.45em
  padding: 0 12px
  cursor: pointer

  &.kf-tag-input-clear
    color: #99a3b3

  &:hover
    color: #6fa6ef

.kf-tag-list-hidden
  position: relative
  height: 0
  width: 0

.kf-tag-list
  position: relative
  left: 0
  right: -1px
  overflow: hidden
  width: 100%

  .antiscroll-inner
    position: relative
    overflow-x: hidden

  .sortable-placeholder
    background: #6fa6ef
    height: 2px
    min-height: 0

  .antiscroll-scrollbar
    z-index: 2

.kf-tag
  position: relative
  line-height: 36px
  white-space: nowrap

  .kf-nav-link
    // for some reason kf-nav-link may remain stuck in :hover state when using Chrome
    // - may be due to DOM manipulation such as adding/removing elements.
    // so we override :hover so that it does nothing and manually enable/disable a "hover" class on mouseenter/mouseleave events
    &:hover
      background-color: #eff2f7
    &.hover
      background-color: #e9ecf2

  .highlight,
  .kf-drag-target.kf-drag-target.kf-drag-target // specificity
    background-color: #6fa6ef
    color: white

    .kf-tag-caption
    .kf-tag-name
      color: white

    .kf-tag-count
      color: #628196
      border-color: white
      background-color: white

  &.new
    .kf-nav-link
      background-color: #f9edbe

  &.active
    .kf-nav-link
      background-color: #e3e6ee

  .kf-nav-link

    &.renaming
      background-color: white

    &.renaming
    &.renamed
      transition: background-color .16s

.kf-tag-info
  display: inline-block

.kf-tag-name
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  display: inline-block
  vertical-align: middle
  line-height: 100%

.kf-tag-count
  font-size: 12px
  line-height: 20px
  padding: 2px 12px
  border-radius: 10.5px
  margin-left: 4px
  color: #93a7bc
  background: #e3e6ee

  .kf-tag.active &
    background-color: #eff2f7
    color: #93a7bc

.kf-tag-icon
  display: inline-block
  width: 14px
  height: 16px
  margin-right: 4px
  vertical-align: middle
  background-size: auto 16px
  background-repeat: no-repeat
  background-image: url(../img/tag-icon-gray.png)

  .kf-tag.active &
    background-image: url(../img/tag-icon-white.png)

  .kf-tag .renaming &
      background-image: url(../img/tag-icon-gray.png)

.kf-tag
  .kf-tag-tools
    display: none
    position: absolute
    top: 0
    bottom: 0
    right: 0

    &.open
      display: block

  .hover .kf-tag-tools
    display: block

  .renaming .kf-tag-tools
    display: none

  .dropdown-toggle
    display: inline-block
    width: 22px
    background-color: #e3e6ee
    text-align: center
    cursor: pointer

    &:before
      content: " "
      border-width: 4px 4px 0
      border-style: solid
      border-color: #b8c5d2 transparent
      font-size: 0
      line-height: 0
      vertical-align: 1px

  &.active
    &:before
      border-top-color: white


.kf-tag-new-location-mask
  pointer-events: none
  border-style: solid
  display: block
  border-color: rgba(184,197,211,1)

  &.hidden
    border-color: rgba(184,197,211,0)
    transition: all 1.5s


.kf-tag-rename.kf-tag-rename
  padding: 0
  border: 0
  margin: 0
  font: inherit
  line-height: 1.35
  color: black
  background-color: transparent

.kf-tag-new
  background-color: #d4e4f9

  &:hover
    background-color: #c4d4e9

  &.highlight
    background-color: #6fa6ef

  a
    nav-item()
    color: #858585
    line-height: normal
    padding-top: 9px
    padding-bottom: 9px

.kf-tag-caption
  display: block
  font-size: 11px
  font-weight: 500
  text-transform: uppercase
  margin-bottom: 1px

.kf-tag-icon-create
  position: relative
  float: left
  left: -4px
  width: 18px
  height: 18px
  border-radius: 50%
  margin: 5px 4px 0 0
  background: url(../img/plus.png) center/8px no-repeat #b8c5d2
  image-rendering: -moz-crisp-edges
  image-rendering: -webkit-optimize-contrast
  image-rendering: crisp-edges

  .kf-tag-new.highlight &
    background-color: #dbdee3

.kf-tag-handle
.kf-tag-dropdown-toggle
  display: inline-block
  height: 100%
  width: 21px
  background-color: #e9ecf2

  &:hover
    background-color: #e3e6ee

.kf-tag-dropdown-toggle

  .kf-tag-tool-icon
    background: url(../img/arrow-gray-down.png) center/10px no-repeat

.kf-tag-handle
  cursor: move

  .kf-tag-tool-icon
    background: url(../img/drag-handle-tag.png) center/10px no-repeat

.kf-tag-tool-icon
  height: 100%
  width: 100%
