.kf-tags
  .kf-nav-group-name
    position: relative
    padding-bottom: 2px
    margin-top: 15px

.kf-tag-input-box
  position: relative
  display: block
  padding: 0 6px 0 40px
  color: #818692
  cursor: text
  background: #fff
  transition: background-color .16s

  input
    width: 100%
    margin: 0
    border: 0
    padding: 0
    padding-left: 22px
    padding-right: 23px
    background-color: transparent
    color: inherit
    font: inherit
    line-height: 1.35
    background-image: url(../img/tag-icon-blue.png)
    background-repeat: no-repeat
    background-size: auto 16px
    box-sizing: border-box

.kf-tag-input-clear
  position: absolute
  top: -1px
  right: 0
  font-size: 1.45em
  padding: 0 12px
  cursor: pointer

  &.kf-tag-input-clear
    color: #99a3b3

  &:hover
    color: #6fa6ef

.kf-tag-list
  position: absolute
  bottom: 0
  left: 0
  right: -1px

.kf-tag
  line-height: 36px
