kfTagHeight = 30px
highlightColor = #eeeeee

.kf-tag
  position: relative
  border-radius: 2px
  height: kfTagHeight
  border: 1px dashed transparent
  box-sizing: border-box

  &.active
    .kf-tag-icon
      sprite2x($tag-blue-active)

  &.renaming
    background-color: #f6f6f6

  .kf-tag-inner-container.hover
  &.kf-dragged
    .kf-tag-tool
      display: block

  .kf-tag-inner-container.hover
    background-color: highlightColor

  &.kf-dragged
    .kf-tag-inner-container.hover
      background-color: transparent

  .kf-dropdown-menu
    right: 0

.kf-tag.animate
  .hover
    background-color: transparent
    .kf-tag-tool
      display: none

.kf-tag-list-reordering
  .kf-tag
    .hover
      background-color: transparent
    &.kf-dragged
      background-color: yellowColor
      border-color: #cccccc
    .kf-tag-tool
      display: none

  .kf-tag-drag-mask
    display: block

.kf-tag-list-reordering.kf-dragged
.kf-keep-dragover-tag
  background-color: yellowColor
  border-color: #cccccc

.kf-tag-drag-mask
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1
  display: none

.kf-tag.animate
  animation: tag-blink 0.1s linear 6 alternate

@keyframes tag-blink {
  from {
    background-color: transparent
    border-color: transparent
  }
  to {
    background-color: yellowColor
    border-color: #cccccc
  }
}

.kf-dragged-clone
  background-color: yellowColor

.kf-dragged-clone-mask
  background-color: appBackgroundColor

.kf-tag-info
  cursor: pointer
  padding: 0 20px 0 20px
  line-height: kfTagHeight

.kf-tag-name-holder
  padding: 0 15px 0 0
  font-size: 13px
  color: textDarkColor
  vertical-align: middle
  width: 100%

.kf-tag-icon
  sprite2x($tag-blue-default)
  float: left
  margin-top: 4px
  margin-right: 7px

.kf-tag-name
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.kf-tag-count
  font-size: 12px
  color: countColor
  font-weight: 200

.kf-tag-tool
  position: absolute
  display: none
  height: 100%
  width: 10px
  padding: 0 5px
  top: 0

.kf-tag-dropdown-toggle
  right: 0
  background: url(/img/arrow-gray-down.png) center/10px no-repeat

.kf-tag-handle
  left: 0
  cursor: move
  background: url(/img/drag-handle-tag.png) center/10px no-repeat

.kf-fake-tag-item
  .kf-tag-container
    visibility: hidden
