section-border = defaultBorder
section-border-radius = 10px

.kf-feature-upsell
  padding: 10px 16px
  line-height: 16px
  font-size: 13px
  margin-top: 10px
  overflow: hidden
  border-radius: section-border-radius
  border: section-border
  background-color: #fff
  text-align: center

  &:hover
    .kf-fu-hide
      opacity: .7

.kf-fu-hide
  position: relative
  float: right
  top: -12px
  right: -5px
  opacity: 0

  &:hover
    cursor: pointer


.kf-fu-header
  margin-top: 10px
  margin-bottom: 10px
  font-size: 15px
  text-align: center
  margin-left: 16px

.kf-fu-slack-icon
  display: inline-block
  height: 15px
  width: 15px

.kf-fu-body
  display: inline-block
  color: alpha(black, .8)
  margin-bottom: 14px

.kf-fu-body-line
  display: inline-block

.kf-fu-body-line + .kf-fu-body-line
  margin-top: 1px

.kf-fu-slack-start-btn
  display: block
  background-color: libraryGreen
  color: white
  border: none
  border-radius: 3px
  margin: auto
  padding: 3px 5px

  &:hover
    opacity: .9
    cursor: pointer

  &:hover:active
    opacity: 1

.kf-fu-slack-learn-link
  display: block
  margin: auto
  padding-right: 2px

.kf-fu-slack-start-btn + .kf-fu-slack-learn-link
  margin-top: 4px

