section-border = defaultBorder
section-border-radius = 10px

.kf-feature-upsell
  padding: 10px 16px
  line-height: 16px
  font-size: 13px
  overflow: hidden
  border-radius: section-border-radius
  border: section-border
  background-color: #fff
  text-align: center

.kf-fu-slack-icon
  display: inline-block
  height: 15px
  width: 15px

.kf-fu-header
  margin-bottom: 10px
  font-size: 15px
  text-align: center
  margin-left: 16px

.kf-fu-slack-start-btn
  display: inline-block
  background-color: libraryGreen
  color: white
  border: none
  border-radius: 3px

  &:hover
    opacity: .9

  &:hover:active
    opacity: 1

.kf-fu-slack-learn-link
  display: inline-block

.kf-fu-slack-start-btn + .kf-fu-slack-learn-link
  margin-left: 7px

