<div class="kf-feature-upsell" ng-show="::showFeatureUpsell">
  <div class="kf-fu-slack">
    <span class="kf-fu-header kf-flex-row"><span class="svg-slack kf-fu-slack-icon"></span><b>Integrate Kifi with Slack</b></span>
    <p class="kf-fu-body">Automatically keep URLs from Slack. Search within Slack using "/kifi".</p>
    <button class="kf-fu-slack-start-btn" ng-click="clickedGetStarted()">#get-started</button>
    <a class="kf-fu-slack-learn-link kf-link" href="https://www.kifi.com/integrations/slack" target="_blank" ng-click="clickedLearnMore()">#learn-more</a>
  </div>
</div>
