<div>
  <div ng-if="modal">
    <div ng-if="data.showEmailModal" ng-include="'home/emailModal.tpl.html'"></div>
  </div>

  <div class="kf-main-head">
    <h1 class="kf-main-title">Your keeps library</h1>
    <div class="kf-subtitle">
      <div class="kf-edit-keeps" ng-click="toggleEdit()">
        <span class="sprite sprite-edit-pencil-icon"></span>
        <span class="kf-edit-keeps-label">{{editKeepsLabel()}}</span>
      </div>
      <div class="kf-subtitle-text">{{getSubtitle()}}</div>
    </div>
  </div>
  <div kf-keeps
    keeps="keeps"
    keeps-loading="loading"
    keeps-has-more="hasMore()"
    scroll-disabled="scrollDisabled"
    scroll-next="getNextKeeps()"
    edit-mode="editMode"
    toggle-edit="toggleEdit"
  ></div>
</div>
