@(isLoggedIn: Boolean)

@styles = {
  <link rel="stylesheet" href="/assets/css/about.css">
}
@content = {
    <div class="kifi-content">
      <div id="top" class="kifi-splash-bg">
        <div class="kifi-splash-bg-image"></div>
        <div class="kifi-splash">
          <h2><span class="kifi-splash-term">Keep it</span> - <span class="kifi-splash-term">Find it</span></h2>
          <h3>Introduction to kifi</h3>
          <div class="kifi-scroll-down"></div>
        </div>
      </div>
      <div id="what-is-kifi" class="kifi-about-page kifi-what-is-kifi">
        <h2>What is kifi</h2>
        <span class="kifi-image-what-is-kifi"></span>
        <div class="kifi-about-page-body">
          <p>
          Kifi (short for keep it find it) allows you to easily keep and tag
          anything you find online – an article, video, picture, email,
          just anything – then quickly find it on top of your favorite search
          engine results, together with relevant pages that your friends kept,
          too.
          </p>
          <p>
          kifi also lets you message your friends about what you keep and find
          alongside any webpage, to get their opinion or gain from their expertise.
          kifi even lets you highlight specific sections of the page and add
          them to your conversation with a simple 'look here'
          shortcut, helping you and your friends find those sections easily,
          in real-time.
          </p>
          <p>
          Finally, kifi lets you browse and organize all your keeps and tags on
          kifi.com. This is also where you invite friends from your contact lists
          and social networks to join you on kifi.
          </p>
        </div>
        <div class="kifi-about-page-more">
          Missed the video?
          <a href="javascript:" class="video-still" onclick="this.setAttribute('data-clicked','');void 0" data-uri="//player.vimeo.com/video/84696926?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=1" data-w="960" data-h="540" data-track-action="playVideo"><span class="kifi-about-page-more-icon"></span><span class="kifi-link-text">Watch it here</span></a>
        </div>
      </div>
      <div class="kifi-available">
        <h3>kifi currently available on</h3>
        <div class="kifi-platform">
          <div class="kifi-platform-type">Browsers:</div>
          <div class="kifi-platform-vendors">
            <span><a href="http://www.google.com/chrome" target="_blank" data-track-action="clickDownloadChrome">Google Chrome</a> &amp; <a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank" data-track-action="clickDownloadFirefox">Firefox</a></span>
            <span class="kifi-separator">|</span>
            <span>coming soon - Safari and Internet Explorer</span>
          </div>
        </div>
        <div class="kifi-platform">
          <div class="kifi-platform-type">Mobile:</div>
          <div class="kifi-platform-vendors">
            <span>coming soon - iPhone, iPad and Android</span>
          </div>
        </div>
      </div>
      <div id="vision-behind-kifi" class="kifi-about-page kifi-vision-behind-kifi">
        <h2>The vision behind kifi</h2>
        <span class="kifi-image-vision-behind-kifi"></span>
        <div class="kifi-about-page-body">
          <p>
          We built kifi to serve as an extension of your brain and the
          collective brain of the people you trust. Just imagine a world where
          people could help each other find what they were
          looking for by simply keeping the things they found valuable.
          </p>
          <p>
          This is what we set out to do with kifi. It required the
          development of a new technology – the 'Find Engine' – which
          personalizes your search results based on who you are, who your
          friends are, and all your shared interests.
          </p>
          <p>
          When using kifi, not only can you gain from the fruits of your past
          research, but you can gain from the time put in by your friends, as well.
          So instead of starting every search from scratch, you can build upon all
          the discoveries made by the people you trust the most.
          </p>
          <p>
          It's a world where friends help each other simply by being
          themselves. Where discoveries are shared for the benefit of us all. One
          of greater connectivity, and deeper validation. It's the world of kifi. Welcome.
          </p>
        </div>
        <div class="kifi-about-page-more">
          Start helping others by helping yourself <a href="/signup" data-track-action="clickJoinKifi"><span class="kifi-about-page-more-icon kifi-join-kifi"></span><span class="kifi-link-text kifi-join-kifi">Join kifi</span></a>
        </div>
      </div>
      <div class="kifi-content-divider-wrapper">
        <hr class="kifi-content-divider">
      </div>
      <ul class="kifi-learn-more">
        <li>Learn about the people building kifi <a href="http://www.kifi.com/about/team.html" data-track-action="clickTheTeam"><span class="kifi-learn-more-icon kifi-learn-more-icon-team"></span><span class="kifi-link-text">FortyTwo Team</span></a></li>
        <li>Read about the technology we're building <a href="http://eng.42go.com" data-track-action="clickTheTechnology"><span class="kifi-learn-more-icon kifi-learn-more-icon-tech"></span><span class="kifi-link-text">Engineering Blog</span></a></li>
      </ul>
    </div>
}
@earlyScripts = {
}
@scripts = {
  <script src="/assets/js/video.js"></script>
  <script src="/assets/js/header.js"></script>
}
@views.html.marketing.helper.page(title = "Kifi • About", styles = styles, content = content, scripts = scripts, dataTrack="about", htmlClass="about", earlyScripts = earlyScripts, isLoggedIn = isLoggedIn)
