<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<link rel="stylesheet" href="/assets/m/s/iphone-landing.css">
<link rel="shortcut icon" href="/assets/images/kifi-favi-50.png" type="image/png">
<title>Kifi • Search like normal, find like never before</title>
<main>
  <section class="k-intro">
    <h2>The easiest way to organize and share the pages that matter to you online</h2>
    Find something online that you love? Just keep the page, and it’s instantly stored and organized in your Kifi Library where it’s accessible from your favorite search engine, along with great finds from your friends’ libraries, too.
  </section>
  <section class="k-card k-card-1">
    <h2>Keeping and finding made easy</h2>
    Easily collect everything that matters to you in one click. Quickly find it later in your very own Kifi Library, or with your favorite search engine.
  </section>
  <section class="k-card k-card-2">
    <h2>Find what your friends kept too</h2>
    Save time searching by discovering the pages your friends kept publicly in their own Kifi Libraries when relevant to your search.
  </section>
  <section class="k-card k-card-3">
    <h2>Share and collaborate on pages of interest</h2>
    Send a page or even start a private discussion on any page that inspires you, with a friend or a group of friends.
  </section>
</main>
<div class="k-top">
  <img class="k-logo" src="/assets/m/i/landing/logo.png" alt="kifi">
  <h1 class="k-h1">Never lose the pages<br>that matter to you</h1>
  <img class="k-phone k-t0" src="/assets/m/i/landing/iphone.png" alt="iPhone running Kifi">
  <div class="k-play k-t0"></div>
  <div class="k-top-bottom">
    <a class="k-install" href="http://itunes.apple.com/app/id740232575">Get Kifi</a>
  </div>
</div>
<div class="k-top-behind">
</div>
<script defer async src="/assets/m/j/iphone-landing.js"></script>
</html>
