<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<link rel="shortcut icon" type="image/png" href="/assets/images/kifi-favi-50.png">
<link rel="stylesheet" href="/assets/m/s/iphone-landing.css">
<title>Kifi • Search like normal, find like never before</title>
<section class="k-top">
  <img class="k-logo" src="/assets/m/i/kifi-logo-white.png" alt="kifi">
  <h1 class="k-h1">Upgrade your mobile browsing with the social library</h1>
  <ul class="k-why">
    <li>Easily keep pages you <img class="k-heart" src="/assets/m/i/heart.png" alt="love"></li>
    <li>Discover what your friends kept too</li>
    <li>Share &amp; Chat right from your browser</li>
  </ul>
  <img class="k-iphone k-initial" src="/assets/m/i/held-iphone.png" alt="iPhone running Kifi">
  <div class="k-top-bottom">
    <a class="k-download" href="javascript:">Download Kifi</a>
  </div>
</section>
<main>
  <section class="k-card k-card-1">
    <h2>Keep and find</h2>
    Easily Keep the things you love.<br>Quickly find them in your
    Kifi<br>library alongside your<br>Google search results
  </section>
  <section class="k-card k-card-2">
    <h2>Share and chat without leaving the browser</h2>
    Quickly and privately share or chat<br>with friends
    about any<br>page without leaving<br>your Kifi browser
  </section>
  <section class="k-card k-card-3">
    <h2>Discover what your friends kept too</h2>
    Discover the pages your friends<br>kept in their
    Kifi library<br>when you need them<br>most
  </section>
  <section class="k-card k-card-4">
    <h2>Cross Platform</h2>
    Kifi is available for iPhone and<br>for computers
    running Chrome or<br>Firefox. Android and iPad<br>
    coming soon
  </section>
</main>
<script defer async src="/assets/m/j/iphone-landing.js"></script>
