<!DOCTYPE html>
<html lang="en" class="">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta name="author" content="Alexandru Stoicescu"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title></title>

<link rel="stylesheet" type="text/css" href="/assets/m/s/style.css"/>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

</head>

<body>

    <main id="main_content">

        <div class="home_banner align_center">

          <div class="wrap">

                <h1>Never lose the recipies you want to try</h1>

                <img class="home_phone" src="images/homepage_phone.png">

                <div class="video-still duration3" data-uri="//player.vimeo.com/video/84696926?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=1" data-w="960" data-h="540" data-track-action="playVideo"></div>

                <a href="#" class="button blue bigger duration2">Get kifi</a>

            </div>

        </div>

      <div id="page_content" class="block">
          <div class="wrap2">
                <h2>The easiest way to organize and search for
    the pages that matter to you online</h2>
                <p>Find something online that you love? Just keep the page, and it’s instantly stored and
    organized in your kifi Library where it’s accessible from your favorite search engine,
    along with great finds from your friends’ libraries, too.</p>
      </div>
        </div>

        <section class="block no_top_padding">

          <div class="wrap3">

                <ul class="kifi_features">
                    <li class="clearfix">
                        <div class="image">
                            <img src="/assets/m/i/home_icon1.png" width="210" height="138">
                        </div>
                        <div class="description">
                            <h3>Keeping and finding made easy</h3>
                            <p>Easily collect everything that matter to you in one click . Quickly find it later in your very own kifi library, or when searching your favorite search engine</p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="image">
                            <img src="/assets/m/i/home_icon2.png" width="210" height="138">
                        </div>
                        <div class="description">
                            <h3>Find what your friends kept too</h3>
                            <p>Save time searching by discovering the pages your friends kept
    publicly in thier own kifi libraries when relevant to your search.</p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="image">
                            <img src="/assets/m/i/home_icon3.png" width="210" height="138">
                        </div>
                        <div class="description">
                            <h3>Share and collaborate on pages of interest</h3>
                            <p>Send a page or even start a private discussion on any page
    that inspire you, with a friend or a group of friends</p>
                        </div>
                    </li>
                </ul>

            </div>

        </section>

    </main><!--end main_content-->



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/m/j/jquery-1.9.1.min.js"><\/script>')</script>
<script src="/assets/m/j/jquery-1.9.1.min.js"></script>
<script src="/assets/m/j/jquery.anythingslider.min.js"></script>
<script src="/assets/m/j/video.js"></script>
<script src="/assets/m/j/main.js"></script>

</body>
</html>
