@()
@styles = {
  <link rel="stylesheet" href="/assets/css/landing.css">
}
@content = {
  <div class="kifi-content">
    <div class="kifi-video-bg">
      <div id="video" class="kifi-video">
        <h2>Search like normal, find like never before</h2>
        <div class="kifi-video-play-box">
          <a href="//fast.wistia.net/embed/iframe/arn4nh8il4?popover=true" class="wistia-popover[height=540,playerColor=7b796a,width=960] video-still" data-track-action="playVideo">
            <div class="kifi-video-play"></div>
          </a>
          <div class="kifi-video-caption">Watch a quick introduction to kifi</div>
          <div class="kifi-video-play-shadow"></div>
        </div>
        <div class="kifi-scroll-down">Scroll down<span class="kifi-scroll-down-arrow"></span></div>
      </div>
    </div>
    <div id="while-browsing" class="kifi-while kifi-while-browsing">
      <div class="kifi-while-text">
        <h3>While browsing</h3>
        <h2>Easily keep what you find</h2>
      </div>
      <img class="kifi-image-keep-it" alt="Easily keep what you find" src="/assets/images/section1.png">
    </div>
    <div id="while-searching" class="kifi-while kifi-while-searching">
      <div class="kifi-while-text">
        <h3>While searching</h3>
        <h2>Quickly find what you &amp;
          your friends kept</h2>
      </div>
      <img class="kifi-image-search" alt="Quickly find what you &amp; your friends kept" src="/assets/images/search.png">
    </div>
    <div id="while-on-the-page" class="kifi-while kifi-while-on-the-page">
      <div class="kifi-while-text">
        <h3>While on the page</h3>
        <h2>Message friends about your finds
          and gain from their expertise</h2>
      </div>
      <img class="kifi-image-message" alt="Message friends" src="/assets/images/group3.png">
    </div>
    <div id="try-kifi" class="kifi-try-kifi">
      <h3>Any Questions? <a href="http://support.kifi.com" data-track-action="clickFindOutMore">Find out more...</a></h3>
      <hr>
      <h2>The best things in life are kept
        and now easily found!</h2>
      <a class="kifi-try-kifi-button" href="/signup" data-track-action="clickTryKifi">Try kifi</a>
    </div>
    <div class="kifi-two-more-things-bg">
      <div id="two-more-things" class="kifi-two-more-things">
        <div class="kifi-more-column kifi-kifi-com">
          <h2>Organize your keeps and
            friends list on <span class="kifi-fake-link">kifi.com</span></h2>
          <img class="kifi-image-laptop" alt="kifi.com" src="/assets/images/flatmacBook.png">
          <h3>Search, find, tag and preview your keeps.
            You can also invite and manage your
            connections and friends lists.</h3>
        </div>
      </div>
    </div>
  </div>
}
@scripts = {
  <script type="text/javascript" src="/assets/js/header.js"></script>
  <script>
  !function(d, t) {
    var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//fast.wistia.com/assets/external/popover-v1.js';
    s.parentNode.insertBefore(g, s);
  }(document, 'script');
  </script>
}
@views.html.marketing.helper.page(title = "Kifi • Search like normal, find like never before", styles = styles, content = content, scripts = scripts, dataTrack="landing", htmlClass="landing", isLoggedIn = false)
