@(pageUrl: String = "https://www.kifi.com/", useCustomMetaData: Boolean = false, titleText: String = "", titleDesc: String = "")
@styles = {
  <link rel="stylesheet" href="/assets/css/landing.css">
}
@content = {
  <div class="kifi-content">
    <div class="kifi-video-bg">
      <div id="video" class="kifi-video">
        <h2>Search like normal, find like never before</h2>
        <div class="kifi-video-play-box">
          <a href="javascript:" class="video-still" onclick="this.setAttribute('data-clicked','');void 0" data-uri="//player.vimeo.com/video/99569714?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=1" data-w="960" data-h="540" data-track-action="playVideo">
            <div class="kifi-video-play"></div>
            <div class="kifi-video-play-hover"></div>
          </a>
          <div class="kifi-video-caption">Watch a quick introduction to kifi</div>
          <div class="kifi-video-play-shadow"></div>
        </div>
        <div class="kifi-scroll-down"></div>
      </div>
    </div>
    <div id="while-browsing" class="kifi-while kifi-while-browsing">
      <div class="kifi-while-text">
        <h3>While browsing</h3>
        <h2>Easily keep what you find</h2>
      </div>
      <img class="kifi-image-keep-it" alt="Easily keep what you find" src="/assets/images/section1.png" data-at2x="/assets/images/section1@@2x.png">
    </div>
    <div id="while-searching" class="kifi-while kifi-while-searching">
      <div class="kifi-while-text">
        <h3>While searching</h3>
        <h2>Quickly find what you &amp;
          your friends kept</h2>
      </div>
      <img class="kifi-image-search" alt="Quickly find what you &amp; your friends kept" src="/assets/images/search.png" data-at2x="/assets/images/search@@2x.png">
    </div>
    <div id="while-on-the-page" class="kifi-while kifi-while-on-the-page">
      <div class="kifi-while-text">
        <h3>While on the page</h3>
        <h2>Message friends about your finds
          and gain from their expertise</h2>
      </div>
      <img class="kifi-image-message" alt="Message friends" src="/assets/images/group3.png" data-at2x="/assets/images/group3@@2x.png">
    </div>
    <div id="try-kifi" class="kifi-try-kifi">
      <h3>Any Questions? <a href="http://support.kifi.com/customer/portal/articles/1397866-welcome-to-kifi-" data-track-action="clickFindOutMore">Find out more...</a></h3>
      <hr>
      <h2>The best things in life are kept
        and now easily found!</h2>
      <a class="kifi-try-kifi-button" href="/signup" data-track-action="clickTryKifi">Try kifi</a>
    </div>
    <div class="kifi-two-more-things-bg">
      <div id="two-more-things" class="kifi-two-more-things">
        <div class="kifi-more-column kifi-kifi-com">
          <h2>Organize your keeps and
            friends list on <span class="kifi-fake-link">kifi.com</span></h2>
          <img class="kifi-image-laptop" alt="kifi.com" src="/assets/images/flatmacbook.png" data-at2x="/assets/images/flatmacbook@@2x.png">
          <h3>Search, find, tag and preview your keeps.
            You can also invite and manage your
            connections and friends lists.</h3>
        </div>
      </div>
    </div>
  </div>
}
@earlyScripts = {
}
@scripts = {
  <script src="/assets/js/retina-1.1.0.js"></script>
  <script src="/assets/js/video.js"></script>
  <script src="/assets/js/header.js"></script>
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6012675509696';
fb_param.value = '0.00';
fb_param.currency = 'USD';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6012675509696&amp;value=0&amp;currency=USD" /></noscript>
}
@metaProperties = @{
  if(useCustomMetaData) {
    Some(Html(s"""
    <meta name="robots" content="noindex">
    <meta property="og:image" content="https://www.kifi.com/assets/images/facebook-90x90.png">
    <meta property="og:title" content="$titleText">
    <meta property="og:description" content="$titleDesc">
    <meta property="og:site_name" content="Kifi">
    <meta property="og:url" content="$pageUrl">"""))
  }
  else {
    None
  }
}
@views.html.marketing.helper.page(title = "Kifi • Search like normal, find like never before", styles = styles, content = content, scripts = scripts, dataTrack="landing", htmlClass="landing", earlyScripts = earlyScripts, isLoggedIn = false, metaProperties = metaProperties)
