@(isLoggedIn: Boolean, hideHeader: Boolean)

@styles = {
  <link rel="stylesheet" href="/assets/css/privacy.css">
}
@content = {
  <div class="kifi-content">

  <h1>Kifi Terms of Service</h1>

  <p>
  Thank you for using Kifi!  These terms of service ("Terms of Service") are a legally binding contract between
FortyTwo Inc. (referred to in this document as "Kifi,” "we," "us," "our") and you with respect to your use of the Kifi
 services, website, mobile applications and browser plug-ins or extensions (collectively, the "Kifi Services").  It is
important that you carefully read and understand the terms and conditions of these Terms of Service. By using
the Kifi Services, you agree to be bound by these Terms of Service. If you do not agree to these Terms of Service,
 you may not use the Kifi Services.  These Terms of Service contains disclaimers of warranties and limitations on
liability that may be applicable to you.
  </p>

  <p class="kifi-reserve-right">We reserve the right at any time, with or without cause, to:</p>
  <ul>
    <li>change these Terms of Service;</li>
    <li>change the Kifi Services; or</li>
    <li>deny or terminate your use of and/or access to the Kifi Services.</li>
  </ul>

  <p>
  Any changes we make will be effective immediately upon our making such changes available on the Kifi Services
or otherwise providing notice thereof. You agree that your continued use of the Kifi Services after such changes
constitutes your acceptance of such changes. You acknowledge that you have carefully read all of the terms and
conditions of our Privacy Policy (which can be accessed at <a href="http://kifi.com/privacy">http://kifi.com/privacy</a>) and that you agree to it. Be sure to review these Terms of Service periodically to
ensure familiarity with the most current version of these Terms of Service.
  </p>


  <h2 id="permitted-use-of-kifi-services">Permitted Use of Kifi Services</h2>
  <p>
  The Kifi Services are provided for personal use only and not for any for-profit or commercial activities or purpose
or for resale. Without the written consent of Kifi, no Kifi Services or any Kifi content, materials, information or
other property may be copied, reproduced, displayed, republished, downloaded, posted, digitized, translated,
modified, transmitted, distributed or commercially exploited in any way, except as expressly permitted herein.
  </p>


  <h2 id="permitted-use-of-kifi-software">Permitted Use of Kifi Software</h2>
  <p>
  The Kifi browser plug-in, extension and/or other Kifi software made available to you in connection with the Kifi
Services is the proprietary software of Kifi, and may not be reproduced, modified, adapted, translated, reverse
engineered, decompiled or disassembled.  You may download and use such Kifi software only during the term
of these Terms of Use, only as permitted by these Terms of Use, only for your own personal use, and only to
 make use of the Kifi Services.  We reserve the right to revoke such permission to use such Kifi software at any
 time for any reason.
  </p>


  <h2 id="registration">Registration</h2>
  <p>
  Access to certain functionalities of the Kifi Services will require you to register with and provide certain
information to Kifi. We reserve the right to decline to provide the Kifi Services to any person for any or no reason.
If and when you register with or provide information to Kifi, you agree to (a) provide accurate, current and
complete information about yourself as prompted (including your email address) and (b) maintain and update
your information (including your email address) to keep it accurate, current and complete. You acknowledge that,
if any information provided by you is untrue, inaccurate, not current or incomplete, we reserve the right to
terminate these Terms of Service and your use of the Kifi Services. You understand that any information you
provide will be treated by Kifi in the manner described in our Privacy Policy, which can be found at <a href="http://kifi.com/privacy">http://kifi.com/privacy</a>.  You should not share your Kifi account
 information with other persons.  Kifi will not have any liability to you as a result of such sharing.
  </p>


  <h2 id="terms-regarding-kifi-keeps">Terms Regarding Kifi “Keeps”</h2>
  <p>
  The Kifi Services allow you to capture certain bookmarking information regarding third-party websites and related
content in order to facilitate its subsequent retrieval by you or by third parties (such bookmarking information,
 “Keeps”).  You agree not to capture any Keeps with respect to third-party website or content the access or use of
 which would be in violation of any applicable law or regulation, or which would violate any third-party rights.
 You further agree that Kifi may use and disclose such Keeps and all related information in accordance with our
Privacy Policy (which can be accessed at <a href="http://kifi.com/privacy">http://kifi.com/privacy</a>).
  </p>

  <p>
  We reserve the right to reject, refuse or later delete or remove any Keeps for any reason, and we do not guarantee
that all Keeps will be preserved.  We further do not guarantee that Keeps that may be shared with you will not be
offensive, defamatory or objectionable, or will not relate to links, website or content that may be in violation of
applicable laws or regulations.
  </p>

  <p>
  Although we reserve the right to remove without notice any Keeps for any reason, we have no obligation to delete
Keeps which may be shared with you that you personally may find objectionable or offensive. In addition to other
disclaimers found in these Terms of Service, we do not endorse or make any warranties or representations with
respect to the accuracy, completeness or timeliness of any Keeps accessible via the Kifi Services.
  </p>


  <h2 id="submissions">Submissions</h2>
  <p>
  As part of your use of the Kifi Services, you may send to Kifi messages, content, ideas or feedback. Your
participation in this respect is voluntary; however, by choosing to provide us with any such content or information,
you acknowledge and agree that any such communications, messages, content, ideas, feedback or other
information may be used by Kifi and our affiliates, licensees and sublicensees, without compensation to you or
others, to copy, adapt, create derivative works of, reproduce, incorporate, distribute, publicly display or otherwise
use or exploit such content and information throughout the world in any format or media (whether now known or
hereafter created), and such permission shall be perpetual and may not be revoked for any reason. Further, to the
extent permitted under applicable law, you waive and release and covenant not to assert any moral rights that
 you may have in any such content and information provided by you.
  </p>

  <p>
By providing any such content or information to Kifi, you represent and warrant to Kifi that you own or have the
right to use and permit us to use and license such content and information in the manner stated in these
Terms of Service.
  </p>


  <h2 id="third-party-links">Third-Party Links</h2>
  <p>
  The Kifi Services may contain links to third-party websites, applications or services for your convenience. We do
not control the linked websites, applications or services or the content provided through such websites,
applications or services, and we have not reviewed, in their entirety, such websites, applications or services. Your
use of such third-party websites, applications or services is subject to the privacy practices and terms of use
established by the third-party operating such websites, applications and services, and we disclaim all liability for
such use. The fact that we offer such links does not indicate any approval or endorsement by us of any linked
website, application or service or any material accessible thereby, and we disclaim any such approval or
endorsement.
  </p>


  <h2 id="acceptable-use-policy">Acceptable Use Policy</h2>
  <p>You agree not to use the Kifi Services to take any action or actions that: </p>

  <ul>
  <li>are contrary to Kifi's public image, goodwill or reputation;</li>
  <li>infringe on our or any third-party's copyright, patent, trademark, trade secret or other proprietary rights or
  rights of publicity or privacy, or which may cause Kifi to infringe on any such rights;</li>
  <li>violate any applicable law, statute, ordinance or regulation, or encourage any conduct that could constitute a
  criminal offense or give rise to civil liability, or which may cause Kifi to violate any such laws, statutes, ordinances
  or regulation, or which may expose Kifi to civil liability;</li>
  <li>are libelous, defamatory, threatening, harassing, invasive of privacy, abusive, tortious, hateful, discriminatory,
  pornographic or obscene;</li>
  <li>transmit any trade secret or other material, non-public information about any person, company or entity without
  the authorization to do so;</li>
  <li>express or imply that any of your statements, activities or causes are endorsed by us, without our prior written
  consent in each instance;</li>
  <li>restrict or inhibit any other visitor from using the Kifi Services, including, without limitation, by means of
   "hacking" or defacing any portion of the Kifi Services;</li>
  <li>modify, adapt, sub-license, translate, sell, reverse engineer, decompile, or disassemble any portion of the Kifi
  Services, including without limitation, any Kifi browser plug-ins or extensions or other Kifi software;</li>
  <li>remove any copyright, trademark, or other proprietary rights notices contained in or on the Kifi Services;</li>
  <li>sublicense, sell, rent, lease, transfer, assign, or convey any rights under these Terms of Service to any third party,
  or otherwise commercially exploit or profit from the Kifi Services, or any portion thereof, in any manner
   whatsoever;</li>
  <li>"frame" or "mirror" any part of the Kifi Services without our prior written authorization;</li>
  <li>distribute any virus, worm or other similar or deleterious files, scripts or programming routines;</li>
  <li>interfere with or disrupt any services or equipment with the intent of causing an excessive or disproportionate
   load on the infrastructure of Kifi or its licensors or suppliers;</li>
  <li>involve the preparation or distribution of junk mail, spam, chain letters, pyramid schemes, or other deceptive or
   unsolicited bulk or commercial email, or violate in any way the Controlling the Assault of Non-Solicited
  Pornography and Marketing Act (CAN-SPAM Act of 2003);</li>
  <li>use any robot, spider, site search/retrieval application, or other manual or automatic device or process to
  retrieve, index, "data mine" the Kifi Services or any related databases or in any way reproduce or circumvent the
  navigational structure or presentation of the Kifi Services or its contents, authentication and security measures;</li>
  <li>forge headers or otherwise manipulate identifiers in order to disguise the origin of any submission;</li>
  <li>execute any form of network monitoring or run a network analyzer or packet sniffer or other technology to
   intercept, decode, mine or display any packets used to communicate with the Kifi Services' servers or with
   respect to any data not intended for you; or </li>
  <li>harvest or collect information about any Kifi Services visitors or members without their express consent.</li>
  </ul>

  <p>Improper use of the Kifi Services may result in termination of your access to and use of the Kifi Services, and/or
  civil or criminal liabilities.</p>


  <h2 id="limitations-on-use">Limitations on Use</h2>
  <p>
Kifi reserves the right to apply limits on your use of the Kifi Services, including (a) limitations on rate of use, such
as limits on the number of new Keeps, new connections, new messages in a given time period, and (b) limitations
on overall use, such as overall number of Keeps, connections or messages per user.  Kifi further reserves the right
to publish such limitations, have them differ from user to user, or change such limitations at will, in each case in
 Kifi’s sole discretion.
  </p>


  <h2 id="ownership">Ownership</h2>
  <p>
  The Kifi Services are owned and operated by Kifi, and the Kifi Services and all intellectual property and other
 rights relating thereto are and will remain the property of Kifi and its licensors and suppliers. The Kifi Services
and all related Kifi content are protected by U.S. and international copyright, trademark and other laws, and you
acknowledge that these rights are valid and enforceable. Except as set forth in these Terms of Service, you may
not copy, reproduce, modify, adapt, translate, republish, upload, post, transmit, distribute, sub-license, sell, reverse
engineer, decompile, or disassemble any part of the Kifi Services without our prior written permission. The Kifi
Services may be used solely (a) to the extent permitted in these Terms of Service or (b) as expressly authorized
in writing by Kifi. Use of the Kifi Services for any other purpose is strictly prohibited. You acknowledge that you
do not acquire any ownership rights by using the Kifi Services.
  </p>

  <p>
The trademarks, logos, and service marks displayed on the Kifi Services (collectively, the "Trademarks") are the
registered and unregistered trademarks of Kifi, Kifi licensors and suppliers and/or others. Nothing contained in
these Terms of Service or otherwise on the Kifi Services should be construed as granting, by implication,
estoppel, or otherwise, any license or right to use any Trademark(s) without the express written permission of
Kifi, Kifi licensors or suppliers, or the third party owner of any such Trademark.
  </p>


  <h2 id="no-use-by-children-under-13">No Use by Children Under 13</h2>
  <p>
You hereby affirm that you are over the age of 12, as the Kifi Services are not intended for children under 13. If
you are under 13 years of age, then you may not use the Kifi Services. You further affirm that you are fully able
and competent to enter into the terms, conditions, obligations, affirmations, representations, and warranties set
forth in these Terms of Service, and to abide by and comply with these Terms of Service.
  </p>


  <h2 id="claims-of-copyright-or-trademark-infringement">Claims of Copyright or Trademark Infringement</h2>
  <p>
  The Digital Millennium Copyright Act (the "DMCA") provides recourse for copyright owners who believe that
material appearing on the Internet infringes their rights under U.S. copyright law. Kifi also reviews claims of
trademark infringement. If you believe in good faith that materials hosted or linked to by Kifi infringe your
copyright or trademark rights, you (or your agent) may send us a notice requesting that the material be
removed, or access to it blocked. The notice must include the following information: (a) a physical or electronic
signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;
(b) identification of the copyrighted work or trademark claimed to have been infringed (or if multiple copyrighted
works or trademarks or links thereto are covered by a single notification, a representative list of such works);
 (c) identification of the material that is claimed to be infringing or the subject of infringing activity, and
information reasonably sufficient to allow Kifi to locate the material on the Kifi Services; (d) the name, address,
telephone number, and email address (if available) of the complaining party; (e) a statement that the complaining
party has a good faith belief that use of the material in the manner complained of is not authorized by the
copyright or trademark owner, its agent, or the law; and (f) a statement that the information in the notification is
accurate and, under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of
an exclusive right that is allegedly infringed. Please be advised that Kifi will not respond to complaints that do
not meet these requirements. If Kifi determines that the materials alleged to infringe your copyright or trademark
rights do not require removal, Kifi will remove those materials only pursuant to a court order declaring the
content or use of the materials unlawful.
  </p>

  <p>
If you believe in good faith that a notice of copyright infringement has been wrongly filed against you, the DMCA
permits you to send us a counter-notice. Counter-notices must include the following information: (a) your name,
address, and telephone number; (b) the source of the content that was removed; (c) a statement under penalty
of perjury that you have a good faith belief that the content was removed in error; (d) a statement that you
consent to the jurisdiction of Federal District Court for the judicial district in which your address is located, or if
your address is outside of the United States, for any judicial district in which Kifi may be found, and that you will
accept service of process from the person who provided the original complaint; and (e) a physical or electronic
signature (for example, typing your full name).
  </p>

  <p>
Notices and counter-notices with respect to the Kifi Services must meet the then-current statutory requirements
imposed by the DMCA (see <a href="http://www.loc.gov/copyright" target="_blank">http://www.loc.gov/copyright</a> for details)
and should be sent to the agent identified below. We suggest that you consult your legal advisor before filing a
notice or counter-notice. Also, be aware that there can be penalties for false claims under the DMCA.
  </p>

  <p>
Agents to Receive Notices of Claimed Infringement<br>
Contact us <a href="http://support.kifi.com/customer/portal/emails/new">here</a><br>
DCMA Complaints<br>
FortyTwo Inc.<br>
883 N Shoreline Blvd Suite A200<br>
Mountain View, CA 94043<br>
Tel: 650-963-9967<br>
  </p>

  <h2 id="term-and-termination">Term & Termination</h2>
  <p>
These Terms of Service are effective from the date that you first access the Kifi Services or submit any information
to Kifi, whichever is earlier, and shall remain effective until terminated in accordance with these Terms of Service.
Kifi may immediately terminate these Terms of Service, and/or your access to and use of the Kifi Services, or any
portion thereof, at any time and for any reason, with or without cause, without prior notice. Upon termination of
these Terms of Service by either party, your right to use the Kifi Services shall immediately cease, and you shall
destroy all copies of information that you have obtained from the Kifi Services, whether under these Terms of
Service or otherwise. All disclaimers and all limitations of liability and all Kifi rights of ownership shall survive any
such termination.
  </p>

  <p>
We reserve the right at any time and from time to time to modify, discontinue, temporarily or permanently, the
Kifi Services, or any part or portion thereof, with or without notice to you. You agree that we shall not be liable
to you or to any third party for any modification, suspension or discontinuance of the Kifi Services, or any part of
portion thereof. Nothing in these Terms of Service shall be construed to obligate Kifi to maintain and support the
Kifi Services, or any part or portion thereof, during the term of these Terms of Service.
  </p>

  <h2 id="disclaimers">Disclaimers</h2>
  <p>
THE KIFI SERVICES ARE PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR
IMPLIED, AND ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED
WARRANTIES OF TITLE, NON-INFRINGEMENT, ACCURACY, COMPLETENESS, MERCHANTABILITY, FITNESS FOR
A PARTICULAR PURPOSE, ANY WARRANTIES THAT MAY ARISE FROM COURSE OF DEALING, COURSE OF
PERFORMANCE OR USAGE OF TRADE, AND ANY WARRANTIES THAT THE KIFI SERVICES OR INFORMATION
AVAILABLE VIA THE KIFI SERVICES IS CURRENT AND/OR UP-TO-DATE ARE HEREBY EXPRESSLY DISCLAIMED
TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW.
THERE IS NO WARRANTY, REPRESENTATION OR GUARANTEE THAT THE KIFI SERVICES, OR YOUR USE OF THE
KIFI SERVICES, WILL BE UNINTERRUPTED, COMPLETE, ACCURATE, CURRENT, RELIABLE, ERROR-FREE, SECURE,
OR THAT ANY PROBLEMS WILL BE CORRECTED, OR THAT THE KIFI SERVICES, OR ANY INFORMATION,
SOFTWARE OR OTHER MATERIAL ACCESSIBLE FROM THE KIFI SERVICES, IS FREE OF VIRUSES OR OTHER
HARMFUL COMPONENTS. YOU ASSUME ALL RESPONSIBILITY AND RISK FOR YOUR USE OF THE KIFI SERVICES.
  </p>

  <h2 id="limitation-of-liability">Limitation of Liability</h2>
  <p>
NOTWITHSTANDING THE FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY OF ANY KIND, NEITHER
KIFI NOR ANY OF ITS LICENSORS, SPONSORS, AGENTS, SUCCESSORS, OR ASSIGNS, NOR OUR OR THEIR
DIRECTORS, OFFICERS, EMPLOYEES, CONSULTANTS OR OTHER REPRESENTATIVES ARE RESPONSIBLE OR
LIABLE FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY OR PUNITIVE DAMAGES
(INCLUDING WITHOUT LIMITATION ANY LOSS OF PROFITS, LOST SAVINGS, OR LOSS OF DATA) UNDER ANY
CONTRACT, NEGLIGENCE, STRICT LIABILITY, OR OTHER THEORY ARISING OUT OF OR RELATING IN ANY
MANNER TO THE KIFI SERVICES AND/OR ANY LINKED WEBSITE OR SERVICES, WHETHER OR NOT WE HAVE
BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGES OR LIABILITIES. YOUR SOLE REMEDY WITH
RESPECT TO THE KIFI SERVICES OR ANY LINKED WEBSITE OR SERVICES IS TO STOP USING THE KIFI
SERVICES OR LINKED WEBSITE OR SERVICES, AS APPLICABLE. NEITHER KIFI NOR ANY OF ITS LICENSORS,
SPONSORS, AGENTS, SUCCESSORS, OR ASSIGNS, NOR OUR OR THEIR DIRECTORS, OFFICERS, EMPLOYEES,
CONSULTANTS, OR OTHER REPRESENTATIVES WILL HAVE ANY LIABILITY TO YOU FOR ANY DAMAGES,
EXPENSES OR OTHER LIABILITY INCURRED BY YOU AS A RESULT OF ANY INACCURACY, INCOMPLETENESS
OR MISREPRESENTATION OF ANY INFORMATION, CONTENT, POSTINGS OR SUBMISSIONS PROVIDED OR
POSTED ON OR VIA THE KIFI SERVICES BY THIRD PARTIES.
  </p>

  <h2 id="indemnification">Indemnification</h2>
  <p>
You agree to fully indemnify, defend, and hold Kifi, our licensors, suppliers, agents, successors, and assigns and
our and their directors, officers, employees, consultants, and other representatives, harmless from and against
any and all claims, damages, losses, costs (including reasonable attorneys' fees), and other expenses that arise
directly or indirectly out of or from: (a) your breach of these Terms of Service, including but not limited to the
Acceptable Use Policy; (b) any allegation that any materials you submit to us or transmit to or via the Kifi
Services infringe or otherwise violate the copyright, patent, trademark, trade secret, or other intellectual property
or other rights of any third party; (c) your activities in connection with the Kifi Services or other websites or
 services to which the Kifi Services are linked; and/or (d) your negligence or willful misconduct.
  </p>

  <h2 id="jurisdictional-issues">Jurisdictional Issues</h2>
  <p>
Kifi makes no representation that the Kifi Services operate (or are legally permitted to operate) in all geographic
areas, or that the Kifi Services are appropriate or available for use in all geographic areas. Accessing the Kifi
Services from territories where the Kifi Services or any content or functionality of the Kifi Services is illegal is
expressly prohibited. If you choose to access the Kifi Services, you agree and acknowledge that you do so on
your own initiative and at your own risk, and that you are solely responsible for compliance with all applicable
laws.
  </p>

  <h2 id="notice-for-california-users">Notice for California Users</h2>
  <p>
Under California Civil Code Section 1789.3, California users of the Kifi Services are entitled to the following specific
consumer rights notice: The Complaint Assistance Unit of the Division of Consumer Services of the California
Department of Consumer Affairs may be contacted in writing at 1625 N. Market Blvd., Suite S-202, Sacramento,
California 95834, or by telephone at (800) 952-5210.  You may contact us <a href="http://support.kifi.com/customer/portal/emails/new">here</a> or at:<br>
FortyTwo Inc.<br>
883 N Shoreline Blvd Suite A200<br>
Mountain View, CA 94043<br>
  </p>

  <h2 id="dispute-resolution-governing-law">Dispute Resolution/Governing Law</h2>
  <p>
These Terms of Service shall be governed by and construed in accordance with the laws of the State of California,
excluding that body of law relating to conflict of laws. The parties agree that any controversy or claim arising out
of or relating to these Terms of Service, or the breach thereof, will be settled by binding arbitration in accordance
with California Code of Civil Procedure Section 1280 et seq., and the then-current rules and procedures of JAMS.
The arbitration shall be a confidential proceeding, closed to the general public. The arbitration will take place in
Mountain View, California and be conducted in the English language. The decision rendered by the arbitrator will
be binding upon the parties hereto, and any judgment upon the award rendered by the arbitrator may be entered
in any court having jurisdiction thereof. The parties consent to the jurisdiction of all federal and state courts in
Santa Clara County, California. Venue will lie exclusively in Santa Clara County, California. For the sake of clarity,
nothing in this paragraph shall affect Kifi's ability to seek from a court injunctive or equitable relief at any time.
If any arbitration or other proceeding is brought to enforce or interpret these Terms of Service or matters relating
to it, the substantially prevailing party, as determined by the arbitrator's award, will be entitled to recover
reasonable attorneys' fees and other costs and expenses incurred in such arbitration or proceeding from the
other party, in addition to any other relief to which such prevailing party is entitled; provided that in no event will
the arbitrator have the authority to award punitive damages.
  </p>

  <h2 id="miscellaneous">Miscellaneous</h2>
  <p>
If any provision of these Terms of Service is found to be unlawful, void or for any reason unenforceable, then that
provision shall be deemed severable from these Terms of Service and shall not affect the validity and
enforceability of any remaining provisions. This is the entire Agreement between you and us relating to the
subject matter herein and supersedes any and all prior or contemporaneous written or oral agreements between
you and us with respect to such subject matter. These Terms of Service may not be changed, waived or modified
except by Kifi as provided herein or otherwise by written instrument signed by Kifi. Neither these Terms of Service
nor any right, obligation, or remedy hereunder is assignable, transferable, delegatable, or sublicensable by you
except with Kifi's prior written consent, and any attempted assignment, transfer, delegation, or sublicense shall
be null and void. Kifi may assign, transfer, or delegate these Terms of Service or any right or obligation or remedy
hereunder in its sole discretion. No waiver by either party of any breach or default hereunder shall be deemed to
be a waiver of any preceding or subsequent breach or default.
  </p>

  <h2 id="operated-by">The Kifi Services are Operated By</h2>
  <p>
FortyTwo Inc.<br>
<br>
Effective November 12, 2013<br>
LAST UPDATED: November 25, 2013
  </p>

    </div>
}
@scripts = {
}

@views.html.marketing.helper.page(title = "Kifi • Terms", styles = styles, content = content, scripts = scripts, dataTrack="terms", htmlClass="terms", isLoggedIn = isLoggedIn, headerType = if(hideHeader) {"none"} else "")
