.kf-sidebar
  position: fixed
  width: 270px
  padding: 0 0 0 20px
  border-right: 1px solid #dbdee3
  z-index: 10

  .kf-tag-count
    float: right

.kf-sidebar-nav
  margin: 0 40px 0 20px
  border-bottom: 1px solid separatorColor

.kf-sidebar-lib-nav
  margin: 0 40px 0 20px

@media only screen and (max-width: 1024px)
  .kf-sidebar
    left: 0
    z-index: 1
    -webkit-transition: left sidebarTransitionDuration, z-index sidebarTransitionDuration 0
    transition: left sidebarTransitionDuration, z-index sidebarTransitionDuration 0

    .kf-tag-count
      position: static

  .kf-sidebar-inactive .kf-sidebar
    left: -135px
    z-index: -1
