.kf-sidebar
  position: fixed
  width: 270px
  padding: 0 0 0 20px
  z-index: 2

.kf-sidebar-inner
  margin-top: 15px
  border-right: 1px solid #dbdee3

.kf-sidebar-nav
  margin: 0 40px 0 20px
  border-bottom: 1px solid separatorColor

.kf-sidebar-lib-nav
  margin: 0 40px 0 20px

@media only screen and (max-width: 1024px)
  .kf-sidebar
    transition: transform, opacity, visibility
    transition-duration: sidebarTransitionDuration

    .kf-sidebar-inactive &
      transform: translate(-50%)
      opacity: 0
      visibility: hidden
      transition-delay: 0, 0, sidebarTransitionDuration
