.kf-page-bottom-cta
  position: fixed
  bottom: 0
  width: 100%
  background: rgba(0, 0, 0, 0.75)
  opacity: 1
  transition: opacity 0.8s ease 0.8s
  z-index: 1000

  &.ng-hide
    opacity: 0
    transition: opacity 0

.kf-pbc-content
  padding: 40px 0
  text-align: center

.kf-pbc-title
  margin-bottom: 5px
  font-size: 32px
  font-weight: bold
  color: #fff

.kf-pbc-subtitle
  margin-bottom: 20px
  font-size: 17px
  color: #ccc

.kf-pbc-link
  display: block
  vertical-align: top
  margin: 0 auto
  border-radius: 5px
  width: 225px
  line-height: 35px
  font-size: 18px
  font-smoothing: auto
  &:focus
    outline: none

.kf-pbc-link-continue
  margin-bottom: 15px
  background: #32c561
  color: #fff

.kf-pbc-link-login
  background: #fff
  color: #333
