.kf-page-bottom-cta
  position: fixed
  bottom: 0
  margin: 0 auto
  width: 100%
  background: rgba(0, 0, 0, 0.75)
  z-index: 1000

.kf-pbc-content
  padding: 50px 0
  text-align: center

.kf-pbc-title
  margin-bottom: 5px
  font-size: 32px
  font-weight: bold
  color: #fff

.kf-pbc-subtitle
  margin-bottom: 20px
  font-size: 17px
  color: #ccc

.kf-pbc-button
  display: block
  margin: 0 auto
  border-color: transparent
  width: 225px
  height: 35px
  font-size: 18px

.kf-pbc-button-continue
  margin-bottom: 15px
  background: #32c561
  font-weight: bold
  color: #fff

.kf-pbc-button-login
  background: #fff
  color: #333


