<div class="kf-page-bottom-cta" ng-show="show">
  <div class="kf-pbc-content">
    <div class="kf-pbc-title">There's more to see...</div>
    <div class="kf-pbc-subtitle">Sign up to see the rest of what's here!</div>
    <a class="kf-pbc-link" ng-click="join($event)" href="/signup" target="_self">
    	<button class="kf-button kf-pbc-button kf-pbc-button-continue">Continue</button>
    </a>
    <a class="kf-pbc-link" ng-click="login($event)" href="/login" target="_self" rel="nofollow">
      <button class="kf-button kf-pbc-button kf-pbc-button-login">Log in</button>
    </a>
  </div>
</div>
