<div class="kf-page-bottom-cta" ng-show="show">
  <div class="kf-pbc-content">
    <div class="kf-pbc-title">{{title}}</div>
    <div class="kf-pbc-subtitle">{{subtitle}}</div>

    <div ng-if="twitterHandle">
      <a class="kf-pbc-link kf-pbc-link-continue" ng-click="join($event, 'twitter')" href="/twitter/request" target="_self">Join Now</a>
    </div>

    <div ng-if="!twitterHandle">
      <a class="kf-pbc-link kf-pbc-link-continue" ng-click="join($event)" href="/signup" target="_self">Continue</a>
      <a class="kf-pbc-link kf-pbc-link-login" ng-click="login($event)" href="/login" target="_self" rel="nofollow">Log in</a>
    </div>
  </div>
</div>
