<div class="kf-pbc" ng-if="&& visible">
  <div class="kf-pbc-content">
    <div class="kf-pbc-title">{{twitterHandle ? 'Create a library of your tweeted links' : 'There’s more...'}}</div>
    <div class="kf-pbc-subtitle">{{twitterHandle ? 'Sign up for the Twitter Deep Search Beta' : 'Sign up to see the rest!'}}</div>
    <div ng-if="twitterHandle">
      <a class="kf-pbc-continue" ng-click="join($event)" href="/twitter/request" target="_self">Join Now</a>
    </div>
    <div ng-if="!twitterHandle">
      <a class="kf-pbc-continue" ng-click="join($event)" href="/signup" target="_self">Continue</a>
    </div>
  </div>
</div>
