.sprite
  display: inline-block
  vertical-align: middle
  font-size: 0

.sprite-add-a-tag-button-active,
.sprite-add-a-tag-button:active
  sprite2x($add-a-tag-button-active)

.sprite-add-a-tag-button
  sprite2x($add-a-tag-button-default)

.sprite-add-a-tag-button-hover,
.sprite-add-a-tag-button:hover
  sprite2x($add-a-tag-button-hover)

.sprite-add-link-active,
.sprite-add-link:active
  sprite2x($add-link-active)

.sprite-add-link
  sprite2x($add-link-default)

.sprite-burger
  sprite2x($burger-default)

.sprite-burger-hover,
.sprite-burger:hover
  sprite2x($burger-hover)

.sprite-burger-open
  sprite2x($burger-open-default)

.sprite-burger-open-hover,
.sprite-burger-open:hover
  sprite2x($burger-open-hover)

.sprite-checkbox-icon-active,
.sprite-checkbox-icon:active
  sprite2x($checkbox-icon-active)

.sprite-checkbox-icon
  sprite2x($checkbox-icon-default)

.sprite-checkbox-icon-hover,
.sprite-checkbox-icon:hover
  sprite2x($checkbox-icon-hover)

.sprite-checkbox-icon-partial
  sprite2x($checkbox-icon-partial)

.sprite-close-x-icon
  sprite2x($close-x-icon-default)

.sprite-close-x-icon-hover,
.sprite-close-x-icon:hover
  sprite2x($close-x-icon-hover)

.sprite-edit-pencil-icon
  sprite2x($edit-pencil-icon)

.sprite-find-friends-icon
  sprite2x($find-friends-icon)

.sprite-friends-active,
.sprite-friends:active
  sprite2x($friends-active)

.sprite-friends
  sprite2x($friends-default)

.sprite-friends-hover,
.sprite-friends:hover
  sprite2x($friends-hover)

.sprite-grabbericon
  sprite2x($grabbericon)

.sprite-guide-icon
  sprite2x($guide-icon)

.sprite-heart-icon
  sprite2x($heart-icon)

.sprite-import-bookmarks-icon
  sprite2x($import-bookmarks-icon)

.sprite-import-from-other-services-icon
  sprite2x($import-from-other-services-icon)

.sprite-install-extension-icon
  sprite2x($install-extension-icon)

.sprite-kifi-logo-white
  sprite2x($kifi-logo-white)

.sprite-lock-private-icon
  sprite2x($lock-private-icon)

.sprite-my-keeps-library-active,
.sprite-my-keeps-library:active
  sprite2x($my-keeps-library-active)

.sprite-my-keeps-library
  sprite2x($my-keeps-library-default)

.sprite-search-icon-active,
.sprite-search-icon:active
  sprite2x($search-icon-active)

.sprite-search-icon
  sprite2x($search-icon-default)

.sprite-settings-active,
.sprite-settings:active
  sprite2x($settings-active)

.sprite-settings
  sprite2x($settings-default)

.sprite-settings-hover,
.sprite-settings:hover
  sprite2x($settings-hover)

.sprite-small-checked-box
  sprite2x($small-checked-box)

.sprite-tag-add-plus
  sprite2x($tag-add-plus-default)

.sprite-tag-blue-active,
.sprite-tag-blue:active
  sprite2x($tag-blue-active)

.sprite-tag-blue
  sprite2x($tag-blue-default)

.sprite-tag-new-plus-icon
  sprite2x($tag-new-plus-icon)

