.kifi-guide-4-stage {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999999999993;
}
.kifi-guide-4-stage.kifi-gone {
  opacity: 0;
  transition: opacity .34s linear;
}
.kifi-guide-screen {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .8;
}
.kifi-guide-feature {
  position: absolute;
  display: none;
  list-style: none;
  opacity: 0;
  transition: opacity .26s linear;
}
.kifi-guide-feature.kifi-opaque {
  opacity: 1;
}

.kifi-guide-4-h1 {
  margin: 12px 0;
  font: bold italic 26px/36px Georgia,Times,serif !important;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
.kifi-guide-li {
  font: 300 16px/24px 'Helvetica Neue',Arial,sans-serif !important;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.kifi-guide-em {
  color: #f38283;
}

.kifi-guide-4-welcome {
  display: none;
  position: fixed;
  bottom: 36%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  transform: translate(-50%);
  text-align: center;
  white-space: nowrap;
  opacity: 0;
  transition: opacity .26s linear;
}
.kifi-guide-4-welcome.kifi-opaque {
  opacity: 1;
}
.kifi-guide-4-welcome>.kifi-guide-4-next {
  margin: 40px auto 0;
  min-width: 40px;
  max-width: 120px;
  visibility: hidden;
  opacity: 0;
}
.kifi-guide-4-welcome>.kifi-guide-4-next.kifi-opaque {
  transition: visibility 0s, opacity .26s linear;
  visibility: visible;
  opacity: 1;
}
.kifi-guide-4-next {
  display: block;
  border: 3px solid #fff;
  border-radius: 7px;
  padding: 0 40px;
  line-height: 50px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
.kifi-guide-4-next:hover,
.kifi-guide-4-next:focus {
  color: #fff;
  background-color: rgba(255,255,255,.05);
}
.kifi-guide-4-next:active {
  color: #fff;
  background-color: rgba(255,255,255,.15);
}

.kifi-guide-farewell {
  display: none;
  position: fixed;
  top: 25%;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  text-align: center;
  opacity: 0;
  transition: opacity .2s linear;
}
.kifi-guide-farewell.kifi-opaque {
  opacity: 1;
}
.kifi-guide-farewell>.kifi-guide-4-next {
  margin: 0 auto;
  max-width: 190px;
}
.kifi-guide-farewell>.kifi-guide-4-import {
  margin: 36px auto 20px;
  border-color: transparent;
  background-color: #449fcc;
}
.kifi-guide-4-import:hover,
.kifi-guide-4-import:focus {
  background-color: #60add4;
}
.kifi-guide-4-import:active {
  background-color: #367fa3;
}
