.kifi-guide-0-stage {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999999999993;
  background-color: rgba(0,0,0,.85);
  opacity: 0;
  transition: opacity .34s linear;
}
.kifi-guide-0-stage.kifi-open {
  opacity: 1;
}
.kifi-guide-pages {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.kifi-guide-page {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
}
[kifi-p='1']>.kifi-guide-page {
  -webkit-transform: translate3d(-100%,-50%,0);
  transform: translate3d(-100%,-50%,0);
}
.kifi-guide-page-1 {
  left: 100%;
}
.kifi-guide-pic {
  height: 100px;
  width: 100px;
  border: 5px solid #dcdcdc;
  border-radius: 50%;
  margin-bottom: 10px;
}
.kifi-guide-0-h1 {
  margin: 12px 0;
  font: bold italic 26px/36px Georgia,Times,serif !important;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
.kifi-guide-0-p {
  line-height: 24px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
.kifi-guide-em {
  color: #f38283;
}
.kifi-guide-0-next {
  margin-top: 32px;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 7px;
  padding: 0 32px;
  line-height: 50px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
.kifi-guide-0-next:hover,
.kifi-guide-0-next:focus {
  color: #fff;
  background-color: rgba(255,255,255,.05);
}
.kifi-guide-0-next:active {
  color: #fff;
  background-color: rgba(255,255,255,.15);
}

.kifi-guide-page-1>.kifi-guide-0-h1 {
  margin: 0 0 20px;
  line-height: 36px;
  font-size: 24px;
}
.kifi-guide-site-a {
  margin-top: 40px;
  display: inline-block;
  vertical-align: top;
  background: #fff 0/cover;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.kifi-guide-site-a:not(:hover):not(:focus)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.05);
}
