.kifi-spotlight {
  position: fixed;
  z-index: 999999999993;
}

.kifi-guide-stage {
  position: fixed;
  z-index: 999999999993;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(-50px,0,0);
  transform: translate3d(-50px,0,0);
  transition: opacity linear, -webkit-transform ease-out;
  transition: opacity linear, transform ease-out;
  transition-duration: .3s;
}
.kifi-guide-stage.kifi-from-right {
  -webkit-transform: translate3d(50px,0,0);
  transform: translate3d(50px,0,0);
}
.kifi-guide-stage.kifi-open {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
.kifi-guide-stage.kifi-done {
  opacity: 0;
  transition: opacity .12s linear;
}
.kifi-guide-h1 {
  margin: 12px 0;
  font: bold italic 26px/36px Georgia,Times,serif !important;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
.kifi-guide-p {
  line-height: 24px;
  font-size: 16px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .7px;
  color: #fff;
  transition: opacity linear, -webkit-transform ease-out;
  transition: opacity linear, transform ease-out;
  transition-duration: .2s;
}
.kifi-guide-p.kifi-off-left {
  opacity: 0;
  -webkit-transform: translate3d(-40px,0,0);
  transform: translate3d(-40px,0,0);
}
.kifi-guide-em {
  color: #f38283;
}
.kifi-guide-next {
  margin-top: 20px;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 7px;
  padding: 0 60px;
  line-height: 50px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
.kifi-guide-next:hover,
.kifi-guide-next:focus {
  color: #fff;
  background-color: rgba(255,255,255,.05);
}
.kifi-guide-next:active {
  color: #fff;
  background-color: rgba(255,255,255,.15);
}
.kifi-step0,
.kifi-step1,
.kifi-step2,
.kifi-step3,
.kifi-step4,
.kifi-step5 {
  display: none;
}
.kifi-guide-stage[kifi-step='0'] .kifi-step0,
.kifi-guide-stage[kifi-step='1'] .kifi-step1,
.kifi-guide-stage[kifi-step='2'] .kifi-step2,
.kifi-guide-stage[kifi-step='3'] .kifi-step3,
.kifi-guide-stage[kifi-step='4'] .kifi-step4,
.kifi-guide-stage[kifi-step='5'] .kifi-step5 {
  display: block;
}
.kifi-guide-stage[kifi-step='4'] .kifi-step4.kifi-guide-next,
.kifi-guide-stage[kifi-step='5'] .kifi-step5.kifi-guide-next {
  display: inline-block;
}
.kifi-guide-stage[kifi-step='0'] .kifi-step0.kifi-guide-p,
.kifi-guide-stage[kifi-step='1'] .kifi-step1.kifi-guide-p,
.kifi-guide-stage[kifi-step='2'] .kifi-step2.kifi-guide-p,
.kifi-guide-stage[kifi-step='3'] .kifi-step3.kifi-guide-p {
  display: inline-block;
}
