.kifi-guide-stage {
  position: fixed;
  bottom: 150px;
  right: 160px;
  z-index: 999999999993;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(-20px,-5px,0);
  transform: translate3d(-20px,-5px,0);
  transition: opacity linear, -webkit-transform ease-out;
  transition: opacity linear, transform ease-out;
  transition-duration: .2s;
}
.kifi-guide-stage.kifi-open {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
.kifi-guide-stage.kifi-done {
  opacity: 0;
  transition: opacity linear .1s;
}
.kifi-guide-stage[kifi-step='3'] {
/*
  bottom: 200px;
  right: 200px;
*/
}
.kifi-guide-stage[kifi-step='4'] {
  bottom: 200px;
  right: 300px;
}
.kifi-guide-h1 {
  margin: 12px 0;
  line-height: 48px;
  font-size: 26px;
  font-family: Georgia,Times,serif !important;
  font-weight: bold;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
.kifi-guide-h1+.kifi-guide-h1 {
  margin-top: -20px;
}
.kifi-guide-p {
  line-height: 24px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
.kifi-guide-em {
  color: #f38283;
}
.kifi-step0,
.kifi-step1,
.kifi-step2,
.kifi-step3,
.kifi-step4,
.kifi-step5,
.kifi-p0,
.kifi-p1,
.kifi-p2,
.kifi-p3 {
  display: none;
}
.kifi-guide-stage[kifi-step='0'] .kifi-step0,
.kifi-guide-stage[kifi-step='1'] .kifi-step1,
.kifi-guide-stage[kifi-step='2'] .kifi-step2,
.kifi-guide-stage[kifi-step='3'] .kifi-step3,
.kifi-guide-stage[kifi-step='4'] .kifi-step4,
.kifi-guide-stage[kifi-step='5'] .kifi-step5 {
  display: block;
}
.kifi-guide-stage[kifi-p='0'] .kifi-p0,
.kifi-guide-stage[kifi-p='1'] .kifi-p1,
.kifi-guide-stage[kifi-p='2'] .kifi-p2,
.kifi-guide-stage[kifi-p='3'] .kifi-p3 {
  display: inline;
}
