.kifi-guide-stage {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999999999993;
  background-color: rgba(0,0,0,.85);
  opacity: 0;
  transition: opacity .34s linear;
}
.kifi-guide-stage.kifi-open {
  opacity: 1;
}
.kifi-guide-pages {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.kifi-guide-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-top: 10%;
  text-align: center;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
}
[kifi-p='2']>.kifi-guide-page {
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}
.kifi-guide-page-2 {
  left: 100%;
}
.kifi-guide-pic {
  height: 100px;
  width: 100px;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  border: 5px solid #dcdcdc;
  border-radius: 50%;
}
.kifi-guide-h1 {
  margin: 12px 0;
  line-height: 48px;
  font-size: 26px;
  font-family: Georgia,Times,serif !important;
  font-weight: bold;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
.kifi-guide-p {
  line-height: 24px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
.kifi-guide-em {
  color: #f38283;
}
.kifi-guide-next {
  margin-top: 32px;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 7px;
  padding: 0 32px;
  line-height: 50px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
.kifi-guide-next:hover,
.kifi-guide-next:focus {
  color: #fff;
  background-color: rgba(255,255,255,.05);
}
.kifi-guide-next:active {
  color: #fff;
  background-color: rgba(255,255,255,.15);
}

.kifi-guide-page-2>.kifi-guide-h1 {
  margin: 0 0 30px;
  line-height: 36px;
  font-size: 24px;
}
.kifi-guide-site-a {
  display: inline-block;
  position: relative;
  width: 158px;
  height: 220px;
  background: #fff top/158px 155px no-repeat;
  border-radius: 4px;
  margin: 0 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 155px;
  font-size: 11px;
  color: #bcbfc2;
  -webkit-font-smoothing: antialiased;
}
.kifi-guide-site-a:hover,
.kifi-guide-site-a:focus {
  color: #868b91;
}
.kifi-guide-site-a[kifi-n="1"] {
  background-image: url(/images/guide/site_1.jpg);
}
.kifi-guide-site-a[kifi-n="2"] {
  background-image: url(/images/guide/site_2.jpg);
}
.kifi-guide-site-a[kifi-n="3"] {
  background-image: url(/images/guide/site_2.jpg);
}
.kifi-guide-site-a[kifi-n="4"] {
  background-image: url(/images/guide/site_2.jpg);
}
.kifi-guide-site-a::before {
  content: 'Site ' attr(kifi-n);
  display: block;
  margin: 16px 0 5px;
  color: #444;
  font-family: Georgia, Times, sans-serif !important;
  font-size: 16px;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
}
.kifi-guide-site-a:not(:hover):not(:focus)::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.05);
}
