# kifi-backend dirs
kifi-backend/logs
kifi-backend/project/project
kifi-backend/project/target
kifi-backend/target
kifi-backend/tmp
kifi-backend/.classpath
kifi-backend/.project
kifi-backend/.settings/*
kifi-backend/.settings
kifi-backend/dist/*
kifi-backend/.pydevproject
kifi-backend/app_version.txt
kifi-backend/conf/app_version.txt
kifi-backend/conf/app_compilation_date.txt
kifi-backend/access*
kifi-backend/log/*
kifi-backend/log
kifi-backend/.target
kifi-backend/.target/*
kifi-backend/cx.properties
kifi-backend/.idea
kifi-backend/*.iml
kifi-backend/.idea_modules
kifi-backend/modules/securesocial/.classpath
kifi-backend/modules/securesocial/.project
kifi-backend/modules/securesocial/.cache
kifi-backend/modules/securesocial/.target
kifi-backend/modules/securesocial/.settings
kifi-backend/modules/securesocial/bin/*
kifi-backend/kifi-backend.sublime-project
kifi-backend/kifi-backend.sublime-workspace
*.swp
kifi-backend/modules/common/.target/*
kifi-backend/modules/common/.classpath
kifi-backend/modules/common/.project
kifi-backend/modules/common/.settings/*
kifi-backend/modules/common/.cache
kifi-backend/modules/shoebox/.target/*
kifi-backend/modules/shoebox/.classpath
kifi-backend/modules/shoebox/.project
kifi-backend/modules/shoebox/.settings/*
kifi-backend/modules/shoebox/.cache
kifi-backend/modules/search/.target/*
kifi-backend/modules/search/.classpath
kifi-backend/modules/search/.project
kifi-backend/modules/search/.settings/*
kifi-backend/modules/search/.cache
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# IDE Files   #
###############
workspace.xml
*.sublime-project

# Logs and databases #
######################
*.log

# OS generated files #
######################
.DS_Store*
ehthumbs.db
Thumbs.db
fabfile.pyc
kifi-backend/.cache
kifi-backend/conf/app_compilation_date.txt
kifi-backend/conf/app_version.txt
kifi-backend/bin/*
kifi-backend/bin
nohup.out
kifi-backend/mem.h2.db
kifi-backend/mem.trace.db
.metadata/*
kifi-backend/data/*
