# kifi-backend dirs
kifi-backend/logs
kifi-backend/project/project
kifi-backend/project/target
kifi-backend/target
kifi-backend/tmp
kifi-backend/.classpath
kifi-backend/.project
kifi-backend/.settings/*
kifi-backend/.settings
kifi-backend/dist/*
kifi-backend/.pydevproject
kifi-backend/app_version.txt
kifi-backend/conf/app_version.txt
kifi-backend/conf/app_compilation_date.txt
kifi-backend/access*
kifi-backend/log/*
kifi-backend/log
kifi-backend/.target
kifi-backend/.target/*
kifi-backend/cx.properties
kifi-backend/.idea
kifi-backend/*.iml
kifi-backend/.idea_modules
kifi-backend/modules/securesocial/.classpath
kifi-backend/modules/securesocial/.project
kifi-backend/modules/securesocial/.cache
kifi-backend/modules/securesocial/.target
kifi-backend/modules/securesocial/.settings
kifi-backend/modules/securesocial/bin/*
kifi-backend/kifi-backend.sublime-project
kifi-backend/kifi-backend.sublime-workspace
*.swp
kifi-backend/modules/macros/.target/*
kifi-backend/modules/macros/.classpath
kifi-backend/modules/macros/.project
kifi-backend/modules/macros/.settings/*
kifi-backend/modules/macros/.cache
kifi-backend/modules/common/.target/*
kifi-backend/modules/common/.classpath
kifi-backend/modules/common/.project
kifi-backend/modules/common/.settings/*
kifi-backend/modules/common/.cache
kifi-backend/modules/shoebox/.target/*
kifi-backend/modules/shoebox/.classpath
kifi-backend/modules/shoebox/.project
kifi-backend/modules/shoebox/.settings/*
kifi-backend/modules/shoebox/.cache
kifi-backend/modules/search/.target/*
kifi-backend/modules/search/.classpath
kifi-backend/modules/search/.project
kifi-backend/modules/search/.settings/*
kifi-backend/modules/search/.cache
kifi-backend/modules/bender/.target/*
kifi-backend/modules/bender/.classpath
kifi-backend/modules/bender/.project
kifi-backend/modules/bender/.settings/*
kifi-backend/modules/bender/.cache
kifi-backend/modules/sqldb/.target/*
kifi-backend/modules/sqldb/.classpath
kifi-backend/modules/sqldb/.project
kifi-backend/modules/sqldb/.settings/*
kifi-backend/modules/sqldb/.cache
kifi-backend/modules/eliza/.target/*
kifi-backend/modules/eliza/.classpath
kifi-backend/modules/eliza/.project
kifi-backend/modules/eliza/.settings/*
kifi-backend/modules/eliza/.cache
kifi-backend/modules/heimdal/.target/*
kifi-backend/modules/heimdal/.classpath
kifi-backend/modules/heimdal/.project
kifi-backend/modules/heimdal/.settings/*
kifi-backend/modules/heimdal/.cache
kifi-backend/modules/abook/.target/*
kifi-backend/modules/abook/.classpath
kifi-backend/modules/abook/.project
kifi-backend/modules/abook/.settings/*
kifi-backend/modules/abook/.cache
kifi-backend/modules/scraper/.target/*
kifi-backend/modules/scraper/.classpath
kifi-backend/modules/scraper/.project
kifi-backend/modules/scraper/.settings/*
kifi-backend/modules/scraper/.cache


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# IDE Files   #
###############
workspace.xml
*.sublime-project

# Logs and databases #
######################
*.log

# OS generated files #
######################
.DS_Store*
ehthumbs.db
Thumbs.db
fabfile.pyc
kifi-backend/.cache
kifi-backend/conf/app_compilation_date.txt
kifi-backend/conf/app_version.txt
kifi-backend/bin/*
kifi-backend/bin
nohup.out
kifi-backend/mem.h2.db
kifi-backend/mem.trace.db
.metadata/*
kifi-backend/data/*
kifi-backend/modules/common/conf/app_compilation_date.txt
kifi-backend/modules/common/conf/app_version.txt
shoebox/.target
shoebox/.settings/org.eclipse.core.resources.prefs
shoebox/conf/app_compilation_date.txt
shoebox/conf/app_version.txt
shoebox/modules/common/target
shoebox/project/target
shoebox/target
shoebox.sublime-workspace
kifi-backend/modules/common/common.iml
kifi-backend/modules/search/search.iml
kifi-backend/modules/shoebox/shoebox.iml
target

# Node.js #
###########
node_modules
kifi-backend/modules/common/.idea
assets.tsv
patch.diff

# IDEA #
###########
kifi-backend/modules/shoebox/angular/.idea/*
