@(history: com.keepit.common.healthcheck.HealthcheckErrorHistory)

@quote(daQuote: com.keepit.common.admin.DouglasAdamsQuote) = {
  <br>
  <br>
  <blockquote>
    @daQuote.quote.map{ line =>
      <p>@line</p>
    }
    <small>Douglas Adams <cite title="Source Title">"@daQuote.cite"</cite></small>
  </blockquote>
}

<div style="color:#600000;font:14px 'Helvetica Neue',Helvetica,Arial,sans-serif">
  Check out the <a href="https://app.asana.com/0/5363166029963/5363166029963">Production health Asana Project</a> to discuss or mark error as resolved.
</div>

<h2>Summary</h2>
<div style="color:#333;font:13px 'Helvetica Neue',Helvetica,Arial,sans-serif">
<p>
  @Html(history.lastError.titleHtml)
  <ul>
    <li><b>Total Errors since start:</b> @{history.count}</li>
    <li><b>Total Errors since last alert:</b> @{history.countSinceLastAlert}</li>
    <li><b>Signature:</b> @{history.signature.value}</li>
  </ul>
</p>
</div>

<h2>Full Details</h2>
<div style="color:#333;font:13px 'Courier New', monospace">
<p>
  @Html(history.lastError.toHtml)
</p>
</div>

<p>
  <font style="font-size: 8px">If you want to stop being notified about comments on this page please help the team write more tests!</font>
</p>

@quote(com.keepit.common.admin.DouglasAdamsQuotes.random)
