@(sender: User, recipient: User, url: String, pageTitle: String, text: String)

<div style="color:#333;font:13px 'Helvetica Neue',Helvetica,Arial,sans-serif">
Hi @recipient.firstName,

<p>
@sender.firstName @sender.lastName left a new comment at:
</p>

<p><a href="@url">@pageTitle</a></p>

<p>
@sender.firstName wrote: "@text"
</p>

<p>
	<a href="@url" style="display:inline-block;margin-top:16px;background:#777;color:#fff;padding:5px 10px;text-decoration:none;font:12px LucidaGrande,tahoma,verdana,arial,sans-serif;border-radius:4px">
  	See Comment
	</a>
</p>

<p>
  <font style="font-size: 10px">If you want to stop being notified about comments on this page, visit the page and click the "Following" button on KiFi.</font>
</p>

<p>
  <font style="font-size: 10px">This is an automated notification. Please do not reply to this email. Kindly carry on the conversation via KiFi.</font>
</p>

</div>
