@(sender: User, recipient: User, uri: NormalizedURI, comment: Comment)

<div style="color:#333;font:13px 'Helvetica Neue',Helvetica,Arial,sans-serif">
Hi @Html(recipient.firstName),

<p>
@Html(sender.firstName) @Html(sender.lastName) left a new comment at:
</p>

<p><a href="@uri.url">@Html(comment.pageTitle)</a></p>

<p>
@Html(sender.firstName) wrote: "@Html(comment.text)"
</p>

<p>
<a href="@uri.url" style="display:inline-block;margin-top:16px;background:#777;color:#fff;padding:5px 10px;text-decoration:none;font:12px LucidaGrande,tahoma,verdana,arial,sans-serif;border-radius:4px">
See Comment
</a>
</p>

<p>
<font style="font-size: 10px">If you want to stop being notified about comments on this page, visit the page and click the "Following" button on KiFi.</font>
</p>

</div>
