.kf-bm
  position: fixed
  left: 0
  right: 0
  top: 42px
  text-align: center
  z-index: 500

.kf-bm-box
  display: inline-block
  height: 18px
  padding: 0 12px
  border: 1px solid #f8f4e8
  border-radius: 2px
  font-size: 13px
  font-weight: 300
  line-height: 17px
  background-color: #ffc
  white-space: nowrap

.kf-bm-undo
  font-weight: 500
  margin-left: 4px

  &:hover
    text-decoration: underline
