bigLinksMinWidth = 480px
searchMinWidth = 740px
search-height = 28px
search-dur = .36s

.kf-loh
  position: fixed
  top: 0
  left: 0
  right: 0
  height: appHeaderHeight2
  background-color: #f9fafb
  box-shadow: 0 1px rgba(0,0,0,.14)
  z-index: 500
  user-select: none

  @media (max-height: appHeaderHeight1MaxDim) and (max-width: appHeaderHeight1MaxDim)
    height: appHeaderHeight1
    box-shadow: 0 .5px rgba(0,0,0,.14)

  [kifi-pane-parent] &
    transition: width .25s ease-in

  [kifi-with-pane] &
    width: calc(100% - 322px)

.kf-loh-inner
  display: table
  table-layout: fixed
  width: 100%
  height: 100%
  max-width: appMaxWidth
  box-sizing: border-box
  margin: 0 auto
  padding: 0 appSidePad1

  @media (min-width: appSidePad2MinWidth)
    padding: 0 appSidePad2

.kf-loh-left
  display: table-cell
  vertical-align: middle
  font-size: 0
  white-space: nowrap

  @media (min-width: searchMinWidth)
    overflow: hidden
    transition: width search-dur
    width: 270px

    .kf-lit>&
      width: 100px

.kf-loh-logo
  display: inline-block
  vertical-align: middle
  width: 80px
  height: 36px
  background-position: left center
  background-repeat: no-repeat
  background-size: 70px auto
  outline-color: #fff

  @media (max-height: appHeaderHeight1MaxDim) and (max-width: appHeaderHeight1MaxDim)
    width: 78px

.kf-loh-tagline
  display: inline-block
  vertical-align: middle
  padding-top: 2px
  line-height: 13px
  font-size: 11px
  font-smoothing: antialiased
  color: #7d7d7d
  cursor: default
  transition: opacity linear search-dur

  .kf-lit &
    opacity: 0

  @media (max-height: appHeaderHeight1MaxDim) and (max-width: appHeaderHeight1MaxDim)
    line-height: 9px
    font-size: 8px

.kf-loh-center
  display: none
  vertical-align: middle
  text-align: right

  @media (min-width: searchMinWidth)
    display: table-cell

.kf-loh-search
  border-width = 1px
  display: inline-table
  box-sizing: border-box
  width: 220px
  height: search-height + 2 * border-width
  border: border-width solid alpha(defaultBorderColor, .6)
  border-radius: 3px
  background-color: transparent
  transition: width search-dur

  .kf-lit &
    width: 100%
    border-color: defaultBorderColor
    background-color: #fff

search-icon-width = 15px
search-icon-left-pad = 7px

.kf-loh-search-left
  display: table-cell
  vertical-align: middle
  padding-left: search-icon-left-pad
  white-space: nowrap
  font-size: 0
  position: relative  // for svg-search-icon-gray
  transition: background-color search-dur, padding-left 0s

  .kf-loh-inner:not(.kf-lit) &
    padding-left: search-icon-left-pad + search-icon-width + 1px
    background-color: alpha(#fff, 0) !important  // overrides inline library color
    transition-delay: 0s, search-dur

.kf-loh-search-icon
  position: absolute
  top: 0
  left: search-icon-left-pad
  width: search-icon-width
  height: search-height
  background-position: center
  background-repeat: no-repeat
  background-size: contain

.kf-loh-search-lib-icon
  display: inline-block
  vertical-align: middle
  width: search-icon-width
  height: search-icon-width
  background-repeat: no-repeat
  background-size: contain
  position: relative  // to overlap svg-search-icon-gray
  transition: width 0s, opacity search-dur

  .kf-loh-inner:not(.kf-lit) &
    width: 0
    opacity: 0
    transition-delay: search-dur, 0s

lib-owner-img-radius = 12px

.kf-loh-search-lib
  display: inline-block
  vertical-align: middle
  box-sizing: border-box
  max-width: 0
  padding: 0
  line-height: search-height
  font-size: 13px
  color: #fff
  text-align: left
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  opacity: 0
  visibility: hidden
  transition: max-width search-dur, padding search-dur, opacity search-dur, visibility 0s search-dur

  .kf-lit &
    max-width: 180px
    padding: 0 5px 0 0
    opacity: 1
    visibility: visible
    transition-delay: 0s

.kf-loh-search-lib-owner-img
  display: inline-block
  vertical-align: top
  position: relative
  z-index: 1
  top: 2px
  left: 6px
  width: 2 * lib-owner-img-radius
  height: 2 * lib-owner-img-radius
  border-radius: 50%
  background-size: contain
  margin-right: 10px

.kf-loh-search-center
  display: table-cell
  width: 99%
  padding-left: 4px
  transition: padding-left search-dur

  .kf-lit &
    padding-left: 8px

input.kf-loh-search-input
  width: 100%
  line-height: search-height
  background-color: transparent

.kf-loh-search-right
  display: table-cell
  width: 1%
  white-space: nowrap
  vertical-align: middle

.kf-loh-search-clear
  border: none
  background-color: transparent
  padding: 0 8px 0 0
  line-height: search-height
  font-weight: 200
  font-size: 16px
  color: blueColor
  cursor: pointer

.kf-loh-right
  display: table-cell
  vertical-align: middle
  text-align: right
  line-height: 12px
  font-size: 11px
  position: relative  // for follow button

  @media (min-width: bigLinksMinWidth)
    width: 144px
    line-height: 16px
    font-size: 14px

.kf-loh-links
  position: relative  // for follow button
  color: #818692

.kf-loh-link
  color: #1990ea

  @media (min-width: bigLinksMinWidth)
    color: inherit

  &:focus
  &:hover
    color: #686d79

.kf-loh-dot
  line-height: inherit
  margin: 0 1ex
  cursor: default

  @media (min-width: bigLinksMinWidth)
    font-size: 18px
    position: relative
    top: 1px
