<div class="kf-loh" ng-controller="LoggedOutHeaderCtrl">
  <div class="kf-loh-inner" ng-class="{'kf-lit': search.focused || search.text}">
    <div class="kf-loh-left">
      <a class="kf-loh-logo svg-kifi-clover-dark-text" href="/?{{authTokenParam}}" target="_self" ng-click="clickLogo()"></a>
      <span class="kf-loh-tagline">Connecting people<br>with knowledge</span>
    </div>
    <div class="kf-loh-center" ng-if="library">
      <label class="kf-loh-search">
        <span class="kf-loh-search-left" ng-style="{ 'background-color': library.color }">
          <span class="kf-loh-search-icon svg-search-icon-gray"></span>
          <span class="kf-loh-search-lib-icon svg-search-icon-white"></span>
          <span class="kf-loh-search-lib">
            <a class="kf-loh-search-lib-owner-img" ng-style="{ 'background-image': 'url(' + (library.owner | pic:100) + ')' }" href="{{library.owner|profileUrl}}" title="{{library.owner|name}}"></a>
            {{library.name}}
          </span>
        </span>
        <span class="kf-loh-search-center">
          <input class="kf-loh-search-input" type="text" placeholder="Search this library…" ng-model="search.text" ng-focus="onInputFocus()" ng-blur="onInputBlur($event)" ng-change="onQueryChange()" ng-keydown="onKeydown($event)" ng-click="onSearchBarClicked()">
        </span>
        <span class="kf-loh-search-right" ng-if="search.text">
          <button class="kf-loh-search-clear" ng-click="clearInput()">Clear</button>
        </span>
      </label>
    </div>
    <div class="kf-loh-right">
      <div class="kf-loh-links">
        <a class="kf-loh-link" ng-click="login($event)" href="/login?{{authTokenParam}}" target="_self" rel="nofollow">Log in</a>
      </div>
    </div>
  </div>
</div>
