<div class="kf-lih" ng-controller="LoggedInHeaderCtrl">
  <div class="kf-lih-inner">
    <div class="kf-lih-left">
      <div class="kf-callout-lib-menu kf-callout-bubble kf-callout-bubble-bottom" ng-if="showCallout()">
        We’ve tidied up a bit.<br>Your libraries are now<br>listed here.
        <div class="kf-callout-bubble-action">
          <button class="kf-callout-bubble-button" ng-click="closeCallout()">Got it</button>
        </div>
      </div>
      <button class="kf-lih-toggle-menu" ng-class="{'kf-lih-toggle-menu-visible': libraryMenu.visible}" ng-click="toggleMenu()"><span class="sprite sprite-burger"></span></button>
      <div class="kf-lih-left-separator"></div>
      <a class="kf-lih-logo svg-kifi-clover-white-text" ui-sref="home"></a>
    </div>
    <div class="kf-lih-center">
      <label class="kf-lih-search" ng-class="{'kf-lit': search.focused || search.text}">
        <span class="kf-lih-search-left">
          <span class="kf-lih-search-icon svg-search-icon-gray"></span>
          <span class="kf-lih-search-icon-lit svg-search-icon-blue"></span>
          <a class="kf-lih-search-lib-owner-img" ng-if="search.libraryChip" style="background-image:url({{libOwnerPicUrl || 'https://www.kifi.com/assets/img/ghost.100.png'}})" href="{{libOwnerProfileUrl}}" title="{{library.owner.firstName}} {{library.owner.lastName}}"></a>
          <span class="kf-lih-search-lib-name" ng-if="search.libraryChip" style="background-color:{{library.color}}">{{library.name}}</span>
          <a class="kf-lih-search-lib-x" ng-if="search.libraryChip" style="background-color:{{library.color}}" ng-click="onClickLibX()" href="javascript:">&times;</a>
        </span>
        <span class="kf-lih-search-center">
          <input class="kf-lih-search-input" type="text" placeholder="Search Kifi…" ng-model="search.text" ng-focus="onInputFocus()" ng-blur="onInputBlur($event)" ng-change="onQueryChange()" ng-keydown="onKeydown($event)" ng-click="onSearchBarClicked()">
        </span>
        <span class="kf-lih-search-right" ng-if="search.text">
          <button class="kf-lih-search-clear" ng-click="clearInput()">Clear</button>
        </span>
      </label>
    </div>
    <div class="kf-lih-right">
      <button class="kf-lih-add-link sprite sprite-add-link" ng-click="addKeeps(library)">Add a link</button>
      <a href="/tags/manage" class="kf-lih-manage-tags sprite svg-tag-black" ng-class="{'svg-tag-hover': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">Manage your tags</a>
      <span class="kf-lih-dropdown-parent">
        <a href="/friends" class="kf-lih-friends sprite sprite-friends">Friends</a>
        <menu class="kf-dropdown-menu">
          <a href="/friends">Your Kifi Friends</a>
          <a href="/invite">Invite a friend to Kifi</a>
        </menu>
      </span>
      <span class="kf-lih-dropdown-parent">
        <a href="{{userProfileUrl}}" class="kf-lih-profile" style="background-image:url({{me.picUrl}})"></a>
        <menu class="kf-dropdown-menu">
          <a href="{{userProfileUrl}}">Your Profile</a>
          <a href="/profile">Settings</a>
          <a href="{{logoutUrl}}" target="_top">Log out</a>
        </menu>
      </span>
    </div>
  </div>
</div>
