<div class="kf-lih" ng-controller="LoggedInHeaderCtrl">
  <div class="kf-lih-inner kf-width-bounded">
    <div class="kf-lih-left">
      <div class="kf-callout-lib-menu kf-callout-bubble kf-callout-bubble-bottom" ng-if="calloutVisible">
        We’ve tidied up a bit.<br>Your libraries are now<br>listed here.
        <div class="kf-callout-bubble-action">
          <button class="kf-callout-bubble-button" ng-click="closeCallout()">Got it</button>
        </div>
      </div>
      <button class="kf-lih-toggle-menu kifi-guide-target-1" ng-class="{'kf-menu-visible': libraryMenu.visible}" ng-mousedown="toggleMenu()"><span class="kf-lih-burger"></span></button>
      <a class="kf-lih-logo svg-kifi-clover-white-text" ui-sref="home"></a>
    </div>
    <div class="kf-lih-center">
      <label class="kf-lih-search kifi-guide-target-2" ng-class="{'kf-lit': search.focused || search.text}">
        <span class="kf-lih-search-left">
          <span class="kf-lih-search-icon svg-search-icon-gray"></span>
          <span class="kf-lih-search-icon-lit svg-search-icon-blue"></span>
          <a class="kf-lih-search-lib-owner-img" ng-if="search.libraryChip" style="background-image:url({{library.owner | pic:100}})" href="{{library.owner|profileUrl}}" title="{{library.owner.firstName}} {{library.owner.lastName}}"></a>
          <span class="kf-lih-search-lib-name" ng-if="search.libraryChip" style="background-color:{{library.color}}">{{library.name}}</span>
          <a class="kf-lih-search-lib-x" ng-if="search.libraryChip" style="background-color:{{library.color}}" ng-click="onClickLibX()" href="javascript:">&times;</a>
        </span>
        <span class="kf-lih-search-center">
          <input class="kf-lih-search-input" type="text" placeholder="Search Kifi…" ng-model="search.text" ng-focus="onInputFocus()" ng-blur="onInputBlur($event)" ng-change="onQueryChange()" ng-keydown="onKeydown($event)" ng-click="onSearchBarClicked()">
        </span>
        <span class="kf-lih-search-right" ng-if="search.text">
          <button class="kf-lih-search-clear" ng-click="clearInput()">Clear</button>
        </span>
      </label>
    </div>
    <div class="kf-lih-right kifi-guide-target-3">
      <button class="kf-lih-add-link sprite sprite-add-link" ng-click="addKeeps(library)">Add a link</button>
      <a href="/tags/manage" class="kf-lih-tags"><span class="svg-tag-white"></span>Manage tags</a>
      <span class="kf-lih-dropdown-parent" kf-hover-menu>
        <a href="/connections" class="kf-lih-friends"><span class="svg-friends-white"></span>Connections</a>
        <menu class="kf-dropdown-menu">
          <a href="/connections">Your Kifi connections</a>
          <a href="/invite">Invite someone to Kifi</a>
        </menu>
      </span>
      <span class="kf-lih-dropdown-parent" kf-hover-menu>
        <a href="{{me|profileUrl}}" class="kf-lih-profile" style="background-image:url({{me | pic:100}})"></a>
        <menu class="kf-dropdown-menu">
          <a href="{{me|profileUrl}}">Your Profile</a>
          <a href="/profile">Settings</a>
          <a href="/logout" target="_top">Log out</a>
        </menu>
      </span>
    </div>
  </div>
</div>
