.kf-lih
  position: fixed
  top: 0
  width: 100%
  height: appHeaderHeight
  background-color: pageHeaderColor
  z-index: 500
  user-select: none

.kf-lih-inner
  height: 100%
  width: 100%
  max-width: appMaxWidth
  margin: 0 auto
  display: table
  table-layout: fixed

left-height = 37px
left-burger-width = 32px
left-sep-width = 2px
left-logo-width = 92px

.kf-lih-left
  display: table-cell
  vertical-align: middle
  width: left-burger-width + left-sep-width + left-logo-width + 14px

.kf-lih-toggle-menu
  display: inline-block
  margin-right: 3px
  height: left-height
  width: left-burger-width
  vertical-align: middle
  text-align: left
  cursor: pointer
  border: none
  background-color: transparent
  padding: 0
  outline-color: #fff

  &:hover:not(.active)
    .sprite-burger
      sprite2x($burger-hover)

  .sprite-burger
    border: 5px solid pageHeaderColor

.kf-lih-toggle-menu-visible
  .sprite-burger
    background-color: #555
    border-color: #555
    border-radius: 15%
    sprite2x($burger-hover)

.kf-lih-left-separator
  display: inline-block
  vertical-align: middle
  height: left-height
  width: left-sep-width
  background-color: #7d7d7d

.kf-lih-logo
  display: inline-block
  vertical-align: middle
  width: left-logo-width
  height: left-height
  background-position: center
  background-repeat: no-repeat
  background-size: 70px auto
  outline-color: #fff

.kf-lih-center
  display: table-cell
  vertical-align: middle

search-height = 28px

.kf-lih-search
  display: table
  width: 100%
  height: search-height
  border-radius: 3px
  background-color: alpha(#fff, .1)
  transition: background-color .7s

  &.kf-lit
    background-color: #fff
    transition-duration: .4s

.kf-lih-search-left
  display: table-cell
  vertical-align: middle
  padding: 0 5px
  white-space: nowrap
  font-size: 0

.kf-lih-search-icon
  display: inline-block
  vertical-align: middle
  transform: scale(.8)
  sprite2x($search-icon-default)

  .kf-lit &
    sprite2x($search-icon-active)

lib-owner-img-radius = 12px

.kf-lih-search-lib-owner-img
  display: inline-block
  vertical-align: middle
  position: relative
  z-index: 1
  width: 2 * lib-owner-img-radius
  height: 2 * lib-owner-img-radius
  margin-left: 3px
  border-radius: 50%
  background-size: contain

.kf-lih-search-lib-name
  display: inline-block
  vertical-align: middle
  margin-left: -(lib-owner-img-radius)
  padding: 0 5px 0 (4px + lib-owner-img-radius)
  line-height: search-height - 4px
  font-size: 13px
  font-weight: 100
  color: #fff
  max-width: 170px
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.kf-lih-search-lib-x
  display: inline-block
  position: relative
  vertical-align: middle
  border-radius: 0 8px 8px 0
  padding: 0 6px 0 4px
  line-height: search-height - 4px
  font-size: 14px
  color: #fff

  &:hover::before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    border-radius: '%s' % inherit  // github.com/tj/nib/issues/271
    background-color: alpha(#fff, .15)

  &:hover:active::before
    background-color: alpha(#fff, .075)

.kf-lih-search-center
  display: table-cell
  width: 99%

input.kf-lih-search-input
  width: 100%
  line-height: search-height
  background-color: transparent

.kf-lih-search-right
  display: table-cell
  width: 1%
  white-space: nowrap
  vertical-align: middle

.kf-lih-search-clear
  border: none
  background-color: transparent
  padding: 0 8px 0 0
  line-height: search-height
  font-weight: 200
  font-size: 16px
  color: blueColor
  cursor: pointer

btn-diam = 32px
btn-space = 10px

.kf-lih-right
  display: table-cell
  width: btn-diam * 4 + btn-space * 4 + 12px
  vertical-align: middle
  text-align: right
  font-size: 0

.kf-lih-add-link
  background-color: transparent
  border: none
  padding: 0
  width: btn-diam !important
  height: btn-diam !important  // our sprite generator sets height to 33px
  cursor: pointer

  &:hover
    sprite2x($add-link-active)

.kf-lih-dropdown-parent
  display: inline-block
  position: relative
  margin-left: btn-space

  .kf-dropdown-menu
    dur = .08s
    top: 100%
    right: -24px
    transform: translate(0, 6px)
    transform-origin: 80% top
    transition: visibility 0s, opacity linear dur, transform dur

  &:not(:hover)>.kf-dropdown-menu:not(:hover)
    dur = .05s
    visibility: hidden
    opacity: 0
    transform: scale(.5)
    transition-duration: 0s, dur, dur
    transition-delay: dur, 0s, 0s

  &:hover::before
    content: ''
    position: absolute
    top: 100%
    left: -6px
    right: -6px
    height: 6px

.kf-lih-manage-tags
  margin-left: btn-space

.kf-lih-profile
.kf-lih-friends
.kf-lih-manage-tags
  width: btn-diam !important
  height: btn-diam !important  // our sprite generator sets some of these to 33px

.kf-lih-profile
  display: inline-block
  vertical-align: middle
  border-radius: 50%
  background-size: cover
