@()
@import com.keepit.common.mail.template.helpers._

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="8" class="side1">&nbsp;</td>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <table width="350" border="0" cellspacing="0" cellpadding="0" align="left" class="wrapper">
                            <tr>
                                <td class="aside">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="left" class="center1" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#333333;line-height:22px;">
                                                <a href="@kifiFooterUrl" target="_blank" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#85a4ea;line-height:18px;text-decoration:underline;">Kifi.com</a>
                                                Your recommendations network<br/>Follow us on
                                                <a href="@kifiTwitterUrl" target="_blank" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#85a4ea;line-height:18px;text-decoration:underline;">Twitter</a>
                                                &nbsp;
                                                <a href="@kifiFacebookUrl" target="_blank" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#85a4ea;line-height:18px;text-decoration:underline;">Facebook</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table width="105" border="0" cellspacing="0" cellpadding="0" align="right" class="wrapper">
                            <tr>
                                <td class="top_space">
                                    <table width="105" border="0" cellspacing="0" cellpadding="0" align="center">
                                        <tr>
                                            <td><a href="@iOsAppStoreUrl" target="_blank"><img src="@assetUrl("app_store.png")" alt="Available on the App Store" width="105" height="35" style="display:block;" border="0" /></a></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="24"></td>
                </tr>
                <tr>
                    <td class="aside">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left" class="center1" style="font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#333333;line-height:22px;">
                                    Sent by Kifi @kifiAddress<br/>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" class="center1" style="font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#333333;line-height:22px;">
                                    View our <a href="@privacyUrl" target="_blank" style="font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#85a4ea;line-height:22px;text-decoration:underline;">privacy policy</a>.
                                    <a href="@unsubscribeUrl" target="_blank" style="font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#85a4ea;line-height:22px;text-decoration:underline;">Click to unsubscribe</a>
                                    from updates like this.<br class="br"/>
                                    &copy; 2015 FortyTwo Inc. All rights reserved.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="30"></td>
                </tr>
            </table>
        </td>
        <td width="8" class="side1">&nbsp;</td>
    </tr>
</table>
