.kf-card-style-selector
  display: flex
  flex-direction: row

  button
    border-color: transparent
    border-left: 0
    border-right: 0
    padding-left: 0px
    background-position: left center
    background-size: auto 15px
    background-repeat: no-repeat
    color: accentGreen

    &:not(:first-child)
      padding-left: 5px
    &
    &:hover
    &:hover:active
      background-color: transparent

    &:hover
      text-decoration: underline

  .kf-card-style-selector-icon
    display: inline-block
    background-size: cover
    width: 20px
    height: 20px