.kf-alert-banner
  background-color: #FFEDA5
  margin: 20px 0px
  padding: 15px
  color: #F68980
  border-radius: 2px
  position: relative
  font-size: 110%

  .kf-alert-banner-head
    font-weight: 600

  .kf-alert-banner-body
    width: 75%
    display: inline-block

  .kf-alert-banner-button
    position: absolute;
    right: 15px
    bottom: 12px
    background-color: #FBB44C
    color: white
    padding: 3px 15px
    border-radius: 2px
    cursor: pointer
