@()

<form class="signup-2 signup-2-email" data-title="Finalize your account" novalidate>
  <div class="form-name">
    <label class="signup-2-label">Your name</label>
    <input class="form-first-name" type="text" name="first-name" placeholder="First" required>
    <input class="form-last-name" type="text" name="last-name" placeholder="Last" required>
  </div>
  <div class="form-pic">
    <label class="signup-2-label">Your photo</label>
    <div class="form-photo-box">
      <div class="form-photo unset"><div class="form-photo-progress"></div></div>
      <div class="form-photo-grab">Grab photo from</div>
      <a class="form-photo-a facebook" href="javascript:"></a>
      <a class="form-photo-a linkedin" href="javascript:"></a>
      <div class="form-photo-drop">Drop photo here</div>
    </div>
    <div class="form-photo-upload">
      Or
      <label>
        upload from your computer
        <input class="form-photo-file" type="file" name="photo">
      </label>
    </div>
  </div>
  <button class="form-submit alt-button">Sign me up</button>
</form>
