<div class="dialog reset-password" style="display:none">
  <div class="dialog-cell">
    <div class="dialog-box">
      <a class="reset-password-x" href="javascript:"></a>
      <div class="reset-password-title">
        I forgot my password
      </div>
      <form class="reset-password-form" action="@com.keepit.controllers.core.routes.AuthController.forgotPassword()" novalidate>
        <p class="reset-password-text">To reset your password, please enter<br>the email address you use to log in.</p>
        <input class="reset-password-email" type="email" name="reset-password-email" placeholder="Your email address">
        <div class="reset-password-buttons">
          <a class="reset-password-cancel cancel-button" href="javascript:">Cancel</a>
          <a class="reset-password-submit alt-button" href="javascript:">Submit</a>
        </div>
      </form>
      <div class="reset-password-success">
        <p class="reset-password-text">We just sent instructions for resetting your password to:</p>
        <ul class="reset-password-addresses"></ul>
        <div class="reset-password-buttons">
          <a class="reset-password-cancel cancel-button" href="javascript:">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>
