@(abooks:Seq[ABookInfo])(implicit flash: Flash)

@admin(abooks.length + " Address Books") {

    <table class="table table-condensed table-striped">
        <tr>
            <th class="span1">Id</th>            
            <th class="span2">createdAt</th>
            <th class="span2">updatedAt</th>
            <th class="span1">state</th>
            <th class="span1">user ID</th>
            <th class="span1">owner Email</th>
            <th class="span1">origin</th>
            <th class="span1"># contacts</th>
        </tr>
        @for(abook <- abooks) {
        <tr>
            <td>@abook.id</td>
            <td>@abook.createdAt</td>
            <td>@abook.updatedAt</td>
            <td>@abook.state</td>
            <td>@abook.userId</td>
            <td>@abook.ownerEmail</td>
            <td>@abook.origin</td>
            <td>@abook.numContacts</td>
        </tr>
        }
    </table>

}
