@(abooks:Seq[ABookInfo], page: Int, abooksCount: Int, pageSize: Int)(implicit request: com.keepit.common.controller.UserRequest[_], flash: Flash)

@otherPagesRoute(page: Int) = {@com.keepit.controllers.admin.routes.ABookAdminController.abooksView(page)}

@admin(abooksCount + " Address Books") {
    <h2> Showing @abooks.length address books (page @(page + 1)) </h2>

    @adminHelper.pagination(page, abooksCount, pageSize, otherPagesRoute _) {
        <table class="table table-condensed table-striped">
            <tr>
                <th class="span1">Id</th>
                <th class="span2">createdAt</th>
                <th class="span1">state</th>
                <th class="span1">user ID</th>
                <th class="span1">owner Email</th>
                <th class="span1">origin</th>
                <th class="span1"># contacts</th>
                <th class="span1"># processed</th>
            </tr>
            @for(abook <- abooks) {
            <tr>
                <td>@abook.id</td>
                <td>@adminHelper.dateTimeDisplay(abook.createdAt)</td>
                <td>@abook.state</td>
                <td><a href="@com.keepit.controllers.admin.routes.AdminUserController.userView(abook.userId)">@abook.userId</a></td>
                <td>@abook.ownerEmail</td>
                <td>@abook.origin</td>
                <td>@abook.numContacts</td>
                <td>@abook.numProcessed</td>
            </tr>
            }
        </table>
    }
}
