@(data: Seq[com.keepit.controllers.admin.ClusterMemberInfo])(implicit request: com.keepit.common.controller.UserRequest[_])

    @randomColor(hash: String) = {
        <font color="@{
            val colors = Array[String]("0000cd", "006400", "b8860b", "cd5c5c", "ff0000", "9400d3", "8b8989", "000000", "8b4513", "ff8c00", "4682b4")
            colors(Math.abs(hash.hashCode) % colors.length)
        }">@hash</font>
    }

    @admin("Clusters Overview") {
        <table class="table table-condensed table-striped">
            <thead>
              <th>Type</th> <th>Name</th> <th>ZK Id</th> <th>IPs</th> <th>State</th> <th>Compiled At</th><th>Commit</th> <th>Type</th> <th># DB Conn. (M/S) </th> <th>AWS Details</th>
            </thead>
            <tbody>
            @for(cmi <- data) {
                <tr class="@(if (!(cmi.state.name=="up" || cmi.state.name=="backing_up" || cmi.state.name=="offline")) "error" else "")" style="font-weight: @(if (cmi.isLeader) "bold" else "normal");">
                    <td>@cmi.serviceType.name</td>
                    <td>@cmi.instanceInfo.name.getOrElse("")</td>
                    <td>@cmi.zkid</td>
                    <td>@cmi.instanceInfo.localIp / @cmi.instanceInfo.publicIp </td>
                    <td>@cmi.state.name</td>
                    <td>@{cmi.version.date}-@{cmi.version.time}</td>
                    <td><a href="https://github.com/kifi/keepit/commit/@{cmi.version.hash}">@{randomColor(cmi.version.hash)}</a></td>
                    <td><a href="http://www.ec2instances.info/">@{cmi.instanceInfo.instanceType}</a></td>
                    <td>@{cmi.numDbConnections.getOrElse("N/A")}</td>
                    <td>
                      @adminHelper.instanceInfoModal(cmi.instanceInfo.instanceId.toString, cmi.instanceInfo)
                      <button type="button" data-toggle="modal" data-target="#@cmi.instanceInfo.instanceId" style="width: 100%;">Show</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        Leaders in Bold
    }

