@()

@admin("Search Blind Test"){

	<form id = "queryForm">
		<div>
			<input id = "userId" type = "text" value = "" placeholder = "userId">
			<input id = "queryText" type = "text" value = "" placeholder = "queryText">
			<input id = "maxHits" type = "text" value = "" placeholder = "maxHits">
			<button type = "submit">submit</button>
	  </div>
	</form>

  <p id = "result"></p><br>
	<p id = "hits1" name = "someConfig"></p><br><br>
	<p id = "hits2" name = "someConfig"></p>


<script type="text/javascript">

	$(document).ready(function(){
		$("#queryForm").submit(function(event) {
			event.preventDefault();
			$.post(
				'@com.keepit.controllers.admin.routes.AdminSearchController.blindTest',
				{userId: $("#userId").val(), query: $("#queryText").val(), maxHits: $("#maxHits").val()},
				function(data) {

	      	$("#result").empty();
	      	$("#hits1").empty();
	      	$("#hits2").empty();

	      	var msg = data.msg

	      	if (msg == "OK"){

	      		var hits1 = data.result1.hits
	      		var hits2 = data.result2.hits

	      		$("#hits1").append("<div><strong>" + hits1.length + " hits from config 1:" + "</strong></div>")
	      		$("#hits2").append("<div><strong>" + hits2.length + " hits from config 2:" + "</strong></div>")

	      		for(var i = 0 ; i < hits1.length; i++){
	      			var item = hits1[i]
	      			$("#hits1").append("<div>" + item.title + "</div>");
	      		  $("#hits1").append("<div><a href = " + item.url + "/a>" + item.url + "</div><br>");
	      		}

	      		for(var i = 0 ; i < hits2.length; i++){
	      			var item = hits2[i]
	      			$("#hits2").append("<div>" + item.title + "</div>");
	      		  $("#hits2").append("<div><a href = " + item.url + "/a>" + item.url + "</div><br>");
	      		}

	      	} else {
	      		$("#result").append(msg)
	      	}

      	},
				"json"
			)

		}) <!--submit-->

	});

</script>

}