@(configs: Seq[SearchConfigExperiment])(implicit request: com.keepit.common.controller.UserRequest[_])

@admin("Search BlindTest",
			stylesheets = List("search_blind_test") ){

	<form id = "queryForm" class = "center">
		<div>
			<input id = "userId" type = "text" value = "" placeholder = "userId">
			<input id = "queryText" type = "text" value = "" placeholder = "queryText">
			<input id = "maxHits" type = "text" value = "" placeholder = "maxHits">
			<button type = "submit">search</button>
	  </div>
	</form>

	<br><br>


	<table id = "configs" class = "center">
		<thead>
			<tr>
				<th> Select
				<th> Search Config Id
				<th> Search Config Description
			</tr>
		</thead>


		@for(config <- configs){
			<tr>
				<td><input type="checkbox" class="checkbox" name = "selectedConfigs" value ="@config.id.get" @if(configs.size == 2) {checked}>
				<td>@config.id.get</td>
				<td>@config.description</td>
			</tr>
		}

	</table>
	<br><br>
	<form id = "vote" class = "center">
		<div>
			<div>which search result is better? </div>
			<input type="radio" name="win" value="config1"> left
			<input type="radio" name="win" value="config2"> right
			<input type="radio" name="win" value="equallyGood"> equally good
			<input type="radio" name="win" value="equallyBad"> equally bad
			<button type="submit"> submit </button>
		</div>
	</form>
	<p id = "result" class = "center"></p><br>


	<table id = "hitsTable" class = "center">
		<tr>
			<th> left </th>
			<th> right </th>
		</tr>

		<tr>
			<td id = "tablehits1" name = "configId" class = "center" value = "1">result1</td>
			<td id = "tablehits2" name = "configId" class = "center" value = "1">result2</td>
		<tr>
	</table>


	<script type="text/javascript">

	$(document).ready(function(){

		$("#vote").hide()
		$("#hitsTable").hide()

		$("#queryForm").submit(function(event) {
			event.preventDefault();
			var selected = Array()
			$("input:[name=selectedConfigs]:checked").each(function(){ selected.push($(this).val()) })

			if (selected.length != 2){
				alert("please select 2 and only 2 config ids")
			} else{

				$.post(
					'@com.keepit.controllers.admin.routes.AdminSearchController.blindTest',
					{userId: $("#userId").val(), query: $("#queryText").val(), maxHits: $("#maxHits").val(), id1: selected[0], id2: selected[1], shuffle: "true"},
					function(data) {

		      	$("#result").empty();
		      	$("#tablehits1").empty();
		      	$("#tablehits2").empty();
		      	$("#hitsTable").show()

		      	var msg = data.msg

		      	if (msg == "OK"){

		      		var hits1 = data.result1.hits
		      		var hits2 = data.result2.hits

		      		var id1 = data.result1.id
		      		var id2 = data.result2.id

		      		$("#tablehits1").attr("value", id1)
		      		$("#tablehits2").attr("value", id2)

		      		$("#tablehits1").append("<div><strong>" + hits1.length + " hits" + "</strong></div>")
		      		$("#tablehits2").append("<div><strong>" + hits2.length + " hits" + "</strong></div>")

		      		for(var i = 0 ; i < hits1.length; i++){
		      			var item = hits1[i]
		      			$("#tablehits1").append("<div>" + item.title + "</div>");
		      		  $("#tablehits1").append("<div><a href = " + "\""  + item.url + "\">" + item.url + "</a></div><br>");
		      		}

		      		for(var i = 0 ; i < hits2.length; i++){
		      			var item = hits2[i]
		      			$("#tablehits2").append("<div>" + item.title + "</div>");
		      		  $("#tablehits2").append("<div><a href = " + "\""  + item.url + "\">" + item.url + "</a></div><br>");
		      		}

		      		$("#vote").show()

		      	} else {
		      		$("#result").append(msg)
		      	}

	      	},
					"json"
				)	// post
			}		// else

		}) 		//submit


		$("#vote").submit(function(event){
			event.preventDefault();

			var checked = $('input[name="win"]:checked')
			if (checked.length == 0){
				alert("please check one radio button")
			} else {
				var voted = checked.val()
				var id1 = $("#tablehits1").attr("value")
				var id2 = $("#tablehits2").attr("value")
				var data = null
				if (voted == "config1") data = {configId1: id1, configId2: id2, vote: id1}
				else if (voted == "config2") data = {configId1: id1, configId2: id2, vote: id2}
				else if (voted == "equallyGood") data = {configId1: id1, configId2: id2, vote: "equallyGood"}
	 			else data = {configId1: id1, configId2: id2, vote: "equallyBad"}


	 			$("#vote").hide()
	 			$('input[name="win"]').attr("checked", false)
	 			$("#result").empty().append("Thanks. Vote was submitted!")
		    $("#hitsTable").hide()

				$.post('@com.keepit.controllers.admin.routes.AdminSearchController.blindTestVoted', data)
			}

		})


	});

</script>


}
