@(title: String, scripts: List[String] = Nil, stylesheets: List[String] = Nil)(content: Html)(implicit request: com.keepit.common.controller.UserRequest[_])

<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap-theme.min.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.min.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("tablesorter/theme.green.min.css")" />
    @for(stylesheet <- "admin_main" :: stylesheets) {
      <link rel="stylesheet" href="@routes.Assets.at("stylesheets/" + stylesheet + ".css")">
    }
    @defining(if (play.api.Play.isDev(play.api.Play.current)) ".js" else ".min.js") { ext =>
      <script src="@routes.Assets.at("javascripts/jquery" + ext)"></script>
      <script src="@routes.Assets.at("bootstrap/js/bootstrap" + ext)"></script>
    }
    <script src="@routes.Assets.at("tablesorter/jquery.tablesorter.combined.min.js")"></script>
    @for(script <- scripts) {
      <script src="@routes.Assets.at("javascripts/" + script + ".js")"></script>
    }
  </head>
  <body>
    <a id="scrlTop" title="Top" href="javascript:" style="position: fixed; top: 100px; right: 20px;"><i class="icon-chevron-up"></i></a>
    <a id="scrlBotm" title="Bottom" href="javascript:" style="position: fixed; top: 133px; right: 20px;"><i class="icon-chevron-down"></i></a>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <ul class="nav navbar-nav">

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" >Dashboards</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="@com.keepit.controllers.admin.routes.AdminDashboardController.index">Product</a>
              <li><a href="@com.keepit.controllers.admin.routes.AdminEngineeringDashboardController.overview">Engineering</a>
            </ul>
          </li>


            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:">Keeps</a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="@com.keepit.controllers.admin.routes.AdminLibraryController.index(0)">Libraries</a>
                <li><a href="@com.keepit.controllers.admin.routes.AdminBookmarksController.bookmarksView(0)">Keeps</a>
                <li><a href="@com.keepit.controllers.admin.routes.AdminPornDetectorController.pornUrisView(0, false)">Sensitive URIs</a>
                <li><a href="@com.keepit.controllers.admin.routes.AdminPornDetectorController.pornUrisView(0, true)">Sensitive Public URIs</a>
              </ul>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:">Users</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="@com.keepit.controllers.admin.routes.AdminUserController.usersView(0)">All Users</a>
              <li><a href="@com.keepit.controllers.admin.routes.AdminUserController.registeredUsersView(0)">Registered Users</a>
              <li><a href="@com.keepit.controllers.admin.routes.AdminUserController.topKeepersNotInOrg()">Top Keepers not in Org</a>
              <li><a href="@com.keepit.controllers.admin.routes.AdminUserController.fakeUsersView(0)">Fake Users</a>
              <li><a href="@com.keepit.controllers.admin.routes.ABookAdminController.allABooksView">Address Books</a>
              <li><a href="@com.keepit.controllers.admin.routes.AdminLDAController.peopleLikeYou(20)">People Like You</a>
            </ul>

          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:">Organizations</a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="@com.keepit.controllers.admin.routes.AdminOrganizationController.organizationsView(0)">All Organizations</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AdminOrganizationController.liveOrganizationsView()">Live Organizations</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AdminOrganizationController.realOrganizationsView(0)">Real Organizations</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AdminOrganizationController.fakeOrganizationsView(0)">Fake Organizations</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AdminUserController.usersPotentialOrgsView(0)">Users with Potential Organizations</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AdminUserController.linkedInUsersWithoutOrgsView(0)">LinkedIn Users Without Organizations</a>
              </ul>

          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:">Payments</a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="@com.keepit.controllers.admin.routes.AdminPaymentsController.paymentsDashboard">Dashboard</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AdminPaymentsController.activityOverview(0, None)">Activity Overview</a>
              </ul>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:">Keeper</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="@com.keepit.controllers.admin.routes.SliderAdminController.getVersionForm">Keeper Versions</a>
              <li><a href="@com.keepit.controllers.admin.routes.SliderAdminController.getPatterns">Automatic Engagement</a>
            </ul>

               <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:">Search</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="@com.keepit.controllers.admin.routes.PhraseController.displayPhrases()">Phrases</a>
                </ul>
               </li>

               <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:">Cortex</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="@com.keepit.controllers.admin.routes.AdminLDAController.index">LDA</a>
                    <li><a href="@com.keepit.controllers.admin.routes.AdminLDAController.unamedTopics(5)">LDA Naming</a>
                    <li><a href="@com.keepit.controllers.admin.routes.AdminBookmarksController.userBookmarkKeywords">User Keywords</a>
                    <li><a href="@com.keepit.controllers.admin.routes.AdminPornDetectorController.index">Porn Detector</a>
                </ul>
               </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="@com.keepit.controllers.admin.routes.AdminHealthController.serviceView">Service</a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="@com.keepit.controllers.admin.routes.AdminHealthController.serviceView">General Health</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AdminBenchmarkController.benchmarks">Benchmarks</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AmazonInstanceController.instanceInfo">Amazon Instance Info</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AdminIndexInfoController.all">Index</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AdminIndexInfoController.viewIndexGrowth">Index Growth</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AdminSearchPerformanceController.viewSearchPerformance">Search Performance</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AdminCacheController.modifyCache">Modify Cache</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AdminCacheController.serviceView">Cache Overview</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AdminWebSocketController.serviceView">WebSocket Performance</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AdminClusterController.clustersView">Clusters Overview</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AdminClusterController.zooKeeperInspector">ZooKeeper Inspector</a>
                </ul>
              </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="@com.keepit.controllers.admin.routes.AdminHealthController.serviceView">Data Integrity</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@com.keepit.controllers.admin.routes.UrlController.normalizationView(0)">URL Normalization</a>
                        <li><a href="@com.keepit.controllers.admin.routes.UrlController.searchDomain">Find Domain</a>
                        <li><a href="@com.keepit.controllers.admin.routes.UrlController.getDomainTags">Domain Tags</a>
                        <li><a href="@com.keepit.controllers.admin.routes.UrlController.getDomainOverrides">Domain Overrides</a>
                        <li><a href="@com.keepit.controllers.admin.routes.UrlController.getPatterns">URL Pattern Rules</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"  href="@com.keepit.controllers.admin.routes.AdminHealthController.serviceView">Graph</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@com.keepit.controllers.admin.routes.GraphAdminController.statistics()">Graph Statistics</a>
                        <li><a href="@com.keepit.controllers.admin.routes.WanderingAdminController.wander()">Hopeful Wanderer</a>
                    </ul>
                </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" >Rover</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="@com.keepit.controllers.admin.routes.AdminRoverController.searchUrl()">Search for URL</a></li>
                    <li><a href="@com.keepit.controllers.admin.routes.AdminRoverController.getAllProxies()">Proxies</a></li>
                    <li><a href="@com.keepit.controllers.admin.routes.AdminRoverController.getAllUrlRules()">URL Rules</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Goodies</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="@com.keepit.controllers.admin.routes.AdminGoodiesController.testRegex()">Test Regex</a></li>
                </ul>
            </li>
        </ul>
      </div>
    </div>
    <header class="admin-head" id="overview">
      <div class="container">
        <h1>@title</h1>
      </div>
    </header>
    <div class="container">
      @for(warning <- request.flash.get("warning")) {
        <div class="alert alert-warning"><strong>Warning:</strong> @warning</div>
      }
      @for(error<- request.flash.get("error")) {
        <div class="alert alert-danger"><strong>Error:</strong> @error</div>
      }

      @content
    </div>
    <div class="integrity-reminder" style="background-image:url(//djty7jcqog9qu.cloudfront.net/users/@{request.user.externalId}/pics/100/@{request.user.pictureName}.jpg)">
      <img class="integrity-halo" src="/assets/images/halo.png">
      <div class="integrity-hover">
        @request.user.firstName, when accessing private information, make sure<br>you follow the <a href="/assets/conduct.html">FortyTwo Code of Conduct</a>.
      </div>
    </div>
    <div class="prod-issues">
      <div class="prod-hover">
        Serious Production Problem and no-one around?<br>Email <a href="mailto:email-alert@@fortytwo.pagerduty.com">email-alert@@fortytwo.pagerduty.com</a>.
      </div>
    </div>
    <script>
    $(function() {
      $("#scrlBotm").click(function() {
        $("html,body").animate({scrollTop: $(document).height()}, 500);
        return false;
      });
      $("#scrlTop").click(function() {
        $("html,body").animate({scrollTop: 0}, 500);
        return false;
      });
      $(".navbar").on("mouseenter mouseleave", ".dropdown", function(e) {
        if ($(this).hasClass("open") != (e.type == "mouseenter")) {
          var $a = $(this).find(".dropdown-toggle").dropdown("toggle");
          if (e.type == "mouseleave") {
            $a.blur();
          }
        }
      });
    });
    </script>
  </body>
</html>
