@(data: Map[String, String])(implicit request: com.keepit.common.controller.UserRequest[_])

@admin("Analytics Overview - Being deprecated, do not trust this data."){
  <h2>Users</h2>
  @analyticsView(data("installMetrics"), "install", "sum", "merged", "Total Invites sent vs. total unique users with the extension installed")
  @analyticsView(data("userMetrics"), "user", "simple", "merged", "Connected unique users vs. active (message,keep,kifi search result click) unique users by week")
  @analyticsView(data("userMetrics"), "user_frac", "simple", "compare", "Fraction of unique connected users who were active (message,keep,kifi search result click) by week")

  @analyticsView(data("keeperFraction"), "keeper_frac", "simple", "compare", "Fraction of unique connected users who are keeping by week")
  @analyticsView(data("messagerFraction"), "messager_frac", "simple", "compare", "Fraction of unique connected users who are messaging by week")
  <h2>Keeping</h2>
  @analyticsView(data("keepActivityMetrics"), "keep_activity", "simple")
  @analyticsView(data("keepMetrics"), "keep", "simple")
  @analyticsView(data("keepMetrics"), "keep_sum", "sum")
  <h2>Messaging</h2>
  @analyticsView(data("messageMetrics"), "message", "simple")
  <h2>Search</h2>
  @analyticsView(data("searchMetrics"), "simple")
}
