@(article: Option[com.keepit.search.Article], uri: com.keepit.model.NormalizedURI, info: Option[com.keepit.model.ScrapeInfo])(implicit request: com.keepit.common.controller.UserRequest[_])

@admin(article.map("Article: " + _.title).getOrElse("No article available")) {

  <h2><a href = "@{com.keepit.controllers.admin.routes.AdminLDAController.similarURIs(uri.id.get)}">similar uris</a></h2>

  <table class="table table-bordered">
      <tr>
        <th>Created at</th><td>@adminHelper.dateTimeDisplay(uri.createdAt)</td>
      </tr>
      <tr>
        <th>Updated at</th><td>@adminHelper.dateTimeDisplay(uri.updatedAt)</td>
      </tr>
      <tr>
        <th>Last scrape</th><td>@info.map(scrapeInfo => adminHelper.dateTimeDisplay(scrapeInfo.lastScrape))</td>
      </tr>
      <tr>
        <th>Next scrape</th><td>@info.map(scrapeInfo => adminHelper.dateTimeDisplay(scrapeInfo.nextScrape))</td>
      </tr>
      <tr>
          <th>Restriction</th>
          <td>@uri.restriction.map { restriction =>
              <form class="form-inline" action="@com.keepit.controllers.admin.routes.UrlController.clearRestriction(uri.id.get)" method = "POST">@restriction.context <button type="submit" class="btn">Clear</button></form>
          }.getOrElse {
            <form class="form-inline" action="@com.keepit.controllers.admin.routes.UrlController.flagAsAdult(uri.id.get)" method = "POST"><button type="submit" class="btn">Flag as adult</button></form>
          }</td>
      </tr>
      <tr>
        <th>URL</th><td><a href="@uri.url">@uri.url</a></td>
      </tr>
      <tr>
        <th>URI title</th><td><a href="@uri.url">@uri.title</a></td>
      </tr>
      <tr>
        <th>Article Canonical URL</th><td><a href="@article.flatMap(_.canonicalUrl)">@article.flatMap(_.canonicalUrl)</a></td>
      </tr>
      <tr>
        <th>Article title</th><td>@article.map(_.title)</td>
      </tr>
      <tr>
        <th>Article description</th><td>@article.flatMap(_.description)</td>
      </tr>
      <tr>
        <th>Article keywords (URI|meta-tag)</th><td>@article.flatMap(_.keywords)</td>
      </tr>
      <tr>
        <th>Article media</th><td>@article.flatMap(_.media)</td>
      </tr>
      <tr>
        <th>Http ContentType</th><td>@article.flatMap(_.httpContentType)</td>
      </tr>
      <tr>
        <th>Http Original ContentCharset</th><td>@article.flatMap(_.httpOriginalContentCharset)</td>
      </tr>
      <tr>
        <th>State</th><td>@article.map(_.state)</td>
      </tr>
      <tr>
        <th>Error message</th><td>@article.flatMap(_.message)</td>
      </tr>
      <tr>
        <th>Article content</th><td>@article.map(_.content)</td>
      </tr>
  </table>
}
