@(user: User, bookmark: Keep, normalizedUri: NormalizedURI, imgUrl:String, screenshotUrl: String, keywords: com.keepit.commanders.KeywordsSummary, libraryOpt: Option[Library])(implicit request: com.keepit.common.controller.UserRequest[_])

@import com.keepit.controllers.admin.routes

@admin("Bookmark: " + bookmark.title.getOrElse("")) {
   <table class="table table-bordered">
      <tr>
        <th>Title</th><td><a href="@bookmark.url">@{bookmark.title.getOrElse("NO TITLE")}</a></td>
      </tr>
      <tr>
        <th>Page Content</th><td>@adminHelper.articleDisplay(normalizedUri)</td>
      </tr>
      <tr>
        <th>Bookmark ID</th><td>@bookmark.id.get.id</td>
      </tr>
      <tr>
        <th>URI ID</th><td>@normalizedUri.id.get.id</td>
      </tr>
      <tr>
        <th>IsPrimary?</th><td>@bookmark.isPrimary</td>
      </tr>
      <tr>
        <th>State/Visibility</th><td>@adminHelper.bookmarkBadge(bookmark)</td>
      </tr>
      <tr>
        <th>Library</th><td>@libraryOpt.map(lib => adminHelper.libraryDisplay(lib))</td>
      </tr>
      <tr>
        <th>Saved by</th><td>@adminHelper.userDisplay(user)</td>
      </tr>
      <tr>
        <th>Creation time</th><td>@adminHelper.dateTimeDisplay(bookmark.createdAt)</td>
      </tr>
      <tr>
        <th>Note</th><td>@{bookmark.note.getOrElse("No note")}</td>
      </tr>
      <tr>
        <th>Article Keywords</th><td>@keywords.article.mkString(" ")</td>
      </tr>
      <tr>
        <th>Embedly Keywords</th><td>@keywords.embedly.mkString(" ")</td>
      </tr>
      <tr>
        <th>Word2Vec Cosine Keywords</th><td>@keywords.word2vecCosine.mkString(" ")</td>
      </tr>
      <tr>
        <th>Word2Vec Freq Keywords</th><td>@keywords.word2vecFreq.mkString(" ")</td>
      </tr>
      <tr>
        <th>Word2Vec Word Counts</th><td>@keywords.word2vecWordCount</td>
      </tr>
      <tr>
        <th>keywords best guess</th><td>@keywords.bestGuess.mkString(" ")</td>
      </tr>
      <tr>
        <th>Screenshot</th>
        <td><img src="@screenshotUrl"></td>
      </tr>
      <tr>
        <th>Image (Primary)</th>
        @if(imgUrl.isEmpty){
          <td>No Image Available</td>
        }else{
            <td><img src="@imgUrl" alt="no image available"/></td>
        }
      </tr>
   </table>
   <p>
     @helper.form(action = com.keepit.controllers.admin.routes.AdminBookmarksController.delete(bookmark.id.get)) {
       <input type="submit" value="Delete">
     }
   </p>

   <p>
     @helper.form(action = com.keepit.controllers.admin.routes.AdminBookmarksController.inactive(bookmark.id.get)){
       <input type="submit" value="Inactive">
     }
   </p>
}
