@()(implicit request: com.keepit.common.controller.UserRequest[_])

@admin("Secret bulk messager", stylesheets = List("admin_user")) {
  <table>
    <tr>
      <td>
          URL:<br/><textarea id="admin-chat-url" rows="1" cols="80">http://</textarea><br/>
          Page Title:<br/><textarea id="admin-chat-title" rows="1" cols="80"></textarea><br/>
          Message:<br/><textarea id="admin-chat-text" rows="5" cols="80">Hey {firstName}, hope you're loving Kifi.</textarea><br/>
          <small>The following are supported: {firstName}, {kifiProfileUrl}, {teamUrl}, {teamName}</small><br>
          Recipients (internal or external, comma separated):<br/><textarea rows="2" cols="80" id="admin-chat-recipients"></textarea><br/>
          <button id="admin-chat-button" class="btn btn-default">Send test message</button><br>
          This will cause your extension to rapidly send messages. You must send a test message before being able to send a real one.<br>
          In an emergency, reload the page to stop sending.
    </tr>
  </table>
}

<script>
  $(function () {
    var hasSentTestMessage = false;

    $('#admin-chat-button').on('click', function() {
      sendGroup($('#admin-chat-recipients').val().replace(/\s/g, '').split(',') , $('#admin-chat-url').val(), $('#admin-chat-title').val(), $('#admin-chat-text').val());
    });

    function formatString(text, user) {
      var firstName, kifiProfileUrl, teamUrl, teamName;

      if (user.user.firstName && user.user.firstName.length > "3" && user.user.firstName.indexOf(" ") === -1) {
        firstName = user.user.firstName.charAt(0).toUpperCase() + user.user.firstName.toLowerCase().slice(1);
      } else {
        firstName = "there";
      }
      kifiProfileUrl = "https://www.kifi.com/" + user.user.username;
      if (text.indexOf("{teamUrl}") !== -1) {
        if (user.org && user.org.handle.original) {
          teamUrl = "https://www.kifi.com/" + user.org.handle.original;
        } else {
          alert("You tried to use teamUrl on a user without a team.")
          return;
        }

      }
      if (text.indexOf("{teamName}") !== -1) {
        if (user.org && user.org.name) {
          teamName = user.org.name;
        } else {
          alert("You tried to use teamName on a user without a team.")
          return;
        }
      }

      text = replaceAll(text, "{firstName}", firstName);
      text = replaceAll(text, "{kifiProfileUrl}", kifiProfileUrl);
      text = replaceAll(text, "{teamUrl}", teamUrl);
      text = replaceAll(text, "{teamName}", teamName);

      if (text.indexOf("{") !== -1 && text.indexOf("}") !== -1) {
        alert("You may have screwed up the template. {} are not allowed.\n\n" + text);
        return;
      }

      return text;
    }

    function escapeRegExp(str) {
      return str.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
    }

    function replaceAll(str, find, replace) {
      return str.replace(new RegExp(escapeRegExp(find), 'g'), replace);
    }

    function sendSingle(user, url, title, text) {
      text = formatString(text, user);
      url = formatString(url, user);
      title = formatString(title, user);

      if (!text) return;

      var id = user.user.externalId;

      $.ajax({
          url: "https://eliza.kifi.com/eliza/messages",
          type: 'POST',
          dataType: 'json',
          data: JSON.stringify({
              "url": url,
              "title": title,
              "text": text,
              "recipients": [id]
          }),
          contentType: 'application/json',
          xhrFields: { withCredentials: true }
      });
    }

    function fetchUserData(userId) {
      return $.get("/admin/user/" + userId + "/json");
    }

    var testUserIds = [
      "df7ba036-700c-4f5d-84d1-313b5bf312b6", // Werdna
      "@{request.userId}"
    ];

    function sendGroup(userIds, url, title, text) {
      if (!hasSentTestMessage) {
        userIds = testUserIds;
      }
      var delay = 1250;
      userIds.map(function (u, i) {
        setTimeout(function () {
          fetchUserData(u).then(function (user) {
            sendSingle(user, url, title, text);
          });
        }, i * delay);
      });
      setTimeout(function () {
        if (!hasSentTestMessage) {
          setReal();
          alert("Test message sent. Go verify your Kifi message box to see if it sent correctly. You may now send to real users.");
        } else {
          alert("Done. Sent to " + userIds.length + " users.");
          setTest();
        }
      }, (userIds.length * delay) + 1000);
    }

    function setReal() {
      hasSentTestMessage = true;
      $("#admin-chat-button").text("!!! Send REAL message !!!");
    }

    function setTest() {
      hasSentTestMessage = false;
      $("#admin-chat-button").text("Test");
    }

    setTest();

  });
</script>