@import com.keepit.model.Organization
@(domain: com.keepit.classify.Domain, orgs: Set[Organization])(implicit request: com.keepit.common.controller.UserRequest[_])

@admin("View Domain", stylesheets = List("admin_slider")) {
    <table class="table table-bordered">
        <tr>
            <th>ID</th><td>@domain.id.get.id</td>
        </tr>
        <tr>
            <th>Hostname</th><td>@domain.hostname</td>
        </tr>
        <tr>
            <th>Auto Sensitive</th><td>@domain.autoSensitive.getOrElse(false)</td>
        </tr>
        <tr>
            <th>Manual Sensitive</th><td>@domain.manualSensitive.getOrElse(false)</td>
        </tr>
        <tr>
            <th>State (active?)</th>
            <td>
                <label>
                    @domain.state.value
                </label>
            </td>
        </tr>
        <tr>
            <th>Email provider</th>
            <td>
                <form id="email-provider" class="email-provider-check">
                    <input type="checkbox" @if(domain.isEmailProvider) {checked}>
                </form>
            </td>
        </tr>
        <tr>
            <th>Created At</th><td>@adminHelper.dateTimeDisplay(domain.createdAt)</td>
        </tr>
        <tr>
            <th>Updated At</th><td>@adminHelper.dateTimeDisplay(domain.updatedAt)</td>
        </tr>
        <tr>
            <th>Owned by</th>
            <td>
                @adminHelper.orgsDisplay(orgs)
            </td>
        </tr>
    </table>

    <script type="text/javascript">
      $("#email-provider").on("click", "input", function() {
        var $td = $(this).closest("#email-provider");
        var $sp = $("<img src=/assets/images/spinner.15.gif>").appendTo($td);
        $.post('@com.keepit.controllers.admin.routes.UrlController.domainToggleEmailProvider(domain.id.get)')
            .done(done).fail(fail);
        function done() {
          $sp.after($("<i class=icon-ok-sign>").delay(1000).fadeOut()).remove();
        }
        function fail() {
          $sp.after($("<i class=icon-exclamation-sign></i> Error. Reload?").delay(3000).fadeOut()).remove();
        }
      });
    </script>

}
