@(rules: Seq[com.keepit.model.UrlPatternRule], page: Int, totalCount: Int, pageCount: Int, maxPageSize: Int, searchTerm: Option[String])

@pagination(page: Int, pageCount: Int) = {
  <div class="pagination pagination-centered pagination-mini">
    <ul>
      <li>
        @if(page > 0) {
          <a href="@com.keepit.controllers.admin.routes.UrlController.normSchemePageView(page - 1)">
        } else {
         <a href="#">
        }
        Prev
        </a>
      </li>
      @for(i <- 0 to (pageCount - 1)) {
        @if(i == page) {
          <li class="disabled">
            <a href="com.keepit.controllers.admin.routes.SliderAdminController.normSchemePageView(i)">@{i + 1}</a>
          </li>
        } else {
          <li class="active">
            <a href="com.keepit.controllers.admin.routes.SliderAdminController.normSchemePageView(i)">@{i + 1}</a>
          </li>
        }
      }
      <li>
        @if(rules.size > 0) {
          <a href="com.keepit.controllers.admin.routes.SliderAdminController.normSchemePageView(page + 1)">
        } else {
         <a href="#">
        }
        Next
        </a>
      </li>
    </ul>
  </div>
}

@admin(totalCount + " domains with normalization scheme") {
  <h2>Showing @rules.size (page @{page + 1})</h2>
  @pagination(page, pageCount)
  <form class="form-inline" action="@com.keepit.controllers.admin.routes.UrlController.searchDomainNormalization()" method="POST">
    @if(searchTerm.isDefined){
      <input type="text" name="searchTerm" value="@{searchTerm.get}"/>
    } else {
      <input type="text" name="searchTerm" placeholder="type prefix of hostname here"/>
    }
    <input type="submit" value="Search"/></br>
    @if(searchTerm.isDefined){
      <a href="@com.keepit.controllers.admin.routes.UrlController.normSchemePageView(0)">Clear search</a>
    }
  </form>

  <table class = "table table-bordered">
    <tr>
      <th>#</th>
      <th>rule id</th>
      <th>pattern</th>
      <th>state</th>
      <th>scheme</th>
    </tr>
  
  @for((rule, i) <- rules.zipWithIndex) {
    <tr>
      <td>@{i + 1 + page*maxPageSize}</td>
      <td>@rule.id.get</td>
      <td><a href="@com.keepit.controllers.admin.routes.UrlController.editDomainNormScheme(rule.id.get)"> @rule.pattern</td>
      <td>@rule.state</td>
      <td>@rule.normalization.map(_.scheme)</td>
    </tr>
  }

  </table>
  @pagination(page, pageCount) 

}
