@admin("Engineering Dashboard", scripts = List("graphite")) {

<div class="container" style="clear: both">
  <div style="display: inline-block">
    <h3><a href="@com.keepit.controllers.admin.routes.AdminWebSocketController.serviceView">WebSocket Performance</a></h3>
    <p><img id="websocket" class="img-polaroid"></p>
  </div>

  <div style="display: inline-block">
    <div style="float: right" class="form-horizontal">
      <select class="input-medium" id="timerange"></select>
      <button class="btn btn-primary" type="button" id="update">Update Now</button>
    </div>

    <h3><a href="@com.keepit.controllers.admin.routes.AdminSearchPerformanceController.viewSearchPerformance">Search Performance</a></h3>
    <p><img id="search" class="img-polaroid"></p>
  </div>

  <div style="display: inline-block">
    <h3><a href="@com.keepit.controllers.admin.routes.AdminCacheController.serviceView">Cache Performance</a></h3>
    <p><img id="cache" class="img-polaroid"></p>
  </div>

  <div style="display: inline-block">
    <h3>Message &amp; Notification Performance</h3>
    <p><img id="message" class="img-polaroid"></p>
  </div>
</div>

<script>

  var timeranges = {
  "10 Minutes": "-0h10min",
  "30 Minutes": "-0h30min",
  "1 Hour": "-1h",
  "3 Hours": "-3h",
  "6 Hours": "-6h",
  "12 Hours": "-12h",
  "24 Hours": "-24h",
  "48 Hours": "-48h",
  "1 Week": "-1w",
  "2 Weeks": "-2w",
  "1 Month": "-1mon",
  "3 Months": "-3mon"
  };

  $.each(timeranges, function (name, timerange) {
  $("#timerange").append($("<option>").val(timerange).text(name));
  });
  $("#timerange").find('option[value="-12h"]').prop('selected',true)

  function renderCharts() {
  var options = $.fn.graphite.defaults = {
  url: "https://www.hostedgraphite.com/a3d638f9/b4e709e5-45b0-4b89-904b-a6cc7e517e04/graphite/render/",
  lineMode: "connected",
  width: 570,
  height: 280,
  hideGrid: "true",
  from: $("#timerange").val(),
  lineWidth: 2
  };

  var baseTargets = ['alias(drawAsInfinite(stats.counters.search.deploys.count),"Search Deploys")','alias(drawAsInfinite(stats.counters.shoebox.deploys.count),"Shoebox Deploys")', 'alias(drawAsInfinite(stats.counters.eliza.deploys.count),"Eliza Deploys")'];
  var searchBaseTargets = ['alias(drawAsInfinite(stats.counters.search.deploys.count),"Search Deploys")'];

  // Search Chart

  var searchTargets = searchBaseTargets.concat('alias(summarize(scale(stats.counters.search.extSearch.total.count, 10),"1h"),"Searches per Hour")').concat(['alias(secondYAxis(stats.timers.search.routes.search.get.mean_99),"99% Mean Time (ms)")');
  options.target = searchTargets;
  options.title = "Searches per Hour vs 99% Mean Time in Milliseconds";
  options.yMinRight = 0;
  options.yMaxRight = 150;
  $("#search").graphite(options);

  // Cache Chart

  function sumSeries(metric) {
    return "sumSeries(" + ["stats.counters.{search,shoebox}.Cache.*", metric, "count"].join(".") + ")"
  }

  var cacheCountTargets = ["hits"].map(function (metric) {return "alias(summarize(" + sumSeries(metric) + ',"1min"),"Hits per Minute")'});
  var cacheRatioTarget = ["alias(secondYAxis(asPercent(" + sumSeries("hits") + "," + "sumSeries(" + sumSeries("hits") + "," + sumSeries("misses") + '))), "Hit Ratio")'];
  var cacheTargets = baseTargets.concat(cacheCountTargets).concat(cacheRatioTarget);
  options.target = cacheTargets;
  options.title = "Hits per Minute vs Hit Ratio";
  options.yMinRight = 70;
  options.yMaxRight = 100;
  $("#cache").graphite(options);

  // Websocket Chart

  var pingTarget = 'alias(summarize(stats.counters.eliza.websocket.handler.ping.count,"1min", "avg"),"Pings per Minute")'
  var connectedClientTarget = ['alias(secondYAxis(stats.gauges.eliza.websocket.channel.user.client),"Connected Clients")'];
  var websocketTargets = baseTargets.concat(pingTarget).concat(connectedClientTarget)
  options.target = websocketTargets;
  options.title = "WebSocket Pings per Minute vs Connected Clients";
  options.yMinRight = null;
  options.yMaxRight = null;
  $("#websocket").graphite(options);

  // Message Chart


  var newMessageTarget = 'alias(stats.timers.eliza.messaging.newMessage.mean,"New Message")';
  var messageReplyTarget = 'alias(stats.timers.eliza.messaging.replyMessage.mean,"Reply")';
  var noticeRemoteTarget = 'alias(stats.timers.eliza.websocket.delivery.remote.notice.mean,"Notification (remote)")';

  var messageAndNotificationTargets = baseTargets.concat(newMessageTarget).concat(messageReplyTarget).concat(noticeRemoteTarget)
  options.target = messageAndNotificationTargets;
  options.title = "Messaging Latency";
  options.yMin = null;
  options.yMax = 600;
  $("#message").graphite(options);
}

  $("#timerange").change(renderCharts);
  $("#update").click(renderCharts);
  setInterval(renderCharts, 300000);
  renderCharts()
</script>
}


