@(descriptorsByRepo: (String, Seq[com.keepit.heimdal.EventDescriptor])*)(implicit request: com.keepit.common.controller.UserRequest[_])

@admin("Heimdal Events", stylesheets = List("admin_analytics")) {

<form class="descriptors" action="@com.keepit.controllers.admin.routes.AdminAnalyticsController.updateEventDescriptors" method="POST">
    @for((eventTypeCode, descriptors) <- descriptorsByRepo) {
        <h3>@eventTypeCode.capitalize</h3>
        <table class="table table-condensed table-striped">

    <thead>
      <tr>
        <th>Type
        <th>Event Name
        <th>Description
        <th>Send to Mixpanel
        <th>Latest Events
    </thead>
      @for(descriptor <- descriptors) {
        <tr>
          <td> @eventTypeCode
          <td> @descriptor.name.name
          <td><input type="text" name="@eventTypeCode:@descriptor.name.name:description" placeholder="Add a description for this event" value="@descriptor.description.getOrElse("")">
          <td><input type="checkbox" class="checkbox" name="@eventTypeCode:@descriptor.name.name:mixpanel" @if(descriptor.mixpanel) {checked}>
          <td><a href="@com.keepit.controllers.admin.routes.AdminAnalyticsController.getEvents(eventTypeCode, Some(descriptor.name.name))">See Events</a>
      }
  </table>
    }
    <button type="submit" class="btn btn-primary" data-loading-text="Saving...">Save</button>
  <button type="reset" class="btn">Clear unsaved changes</button>
</form>
}

<script>
$(function() {
  $(".descriptors").submit(function() { $(this).find("button[type=submit]").button("loading");})
});
</script>
