@()

@admin("Query feeds"){

<form action = "@com.keepit.controllers.admin.routes.AdminFeedController.queryFeeds" method = "POST">
  <div>
      <label for = "user">userId </label>
      <input type="text" id="user" name="user"
          value = "" >
      </input>

      <label for = "limit">num of feeds</label>
      <input type = "text" id = "limit" name = "limit"
      	value = "">
      </input>

      <input type="checkbox" name="smart" value="smart">Be smart<br>

      <button type="submit">submit</button>
  </div>
</form>

}
