@(userId: Id[User], limit: Int, feeds: Seq[com.keepit.search.feed.Feed], elapsedSeconds: Float)

@admin("Feeds"){
	<div>user: @userId </div>
	<div>num of feeds: @feeds.size</div>
	<div>Time elapsed: @elapsedSeconds seconds</div>
	<br>

	<table class = "table table-bordered">
	<tr>
		<th>#</th>
		<th>fields</th>
		<th></th>
	<tr>

	@feeds.zipWithIndex.map{ case (feed, i) =>
		<tr>
			<th rowspan = "5"> @i </th>
			<th>uri</th><td> <a href = "@feed.uri.url">@feed.uri.title.getOrElse("No Title")</td>
		</tr>

		<tr>
			<th>uriId</th><td>@feed.uri.id.get.id</td>
		</tr>

		<tr>
			<th>sharing users</th><td>@{
			val firstFew = feed.sharingUsers.toSeq.take(5).map{u => u.firstName + " " + u.lastName}.mkString(", ");
			val extra = feed.sharingUsers.size - 5;
			val additional = if (extra > 0) "and " + extra + " others" else "";
			firstFew + additional
		 }</td>
		</tr>

		<tr>
			<th>firstKept</th><td>@feed.firstKeptAt</td>
		</tr>

		<tr>
			<th>total number of keepers</th><td>@feed.totalKeepersSize</td>
		</tr>
	}

	</table>

}
