@(imageInfos:Seq[com.keepit.model.ImageInfo])

@admin("Image Infos") {

<table class="table table-striped">
    <th><tr><td>Id</td><td>state</td><td>image URL</td><td>name</td><td>width</td><td>height</td><td>size</td></tr></th>
    @for(image <- imageInfos){
    <tr>
        <td>@image.id</td>
        <td>@image.state</td>
        <td><a href="@image.url">@image.url</a></td>
        <td>@image.name</td>
        <td>@image.width</td>
        <td>@image.height</td>
        <td>@image.size</td>
    </tr>
    }
</table>

}