@()

@admin("Images") {
  <h2>Side-by-side comparison</h2>
  <form class="form" method="POST" action="@com.keepit.controllers.admin.routes.AdminScreenshotController.imagesCompare">
      <input type="text" name="uriIds"/>
      <input type="submit" name="compare" />
  </form>

  <h2>Fetch Images</h2>
  <form class="form" method="GET" action="@com.keepit.controllers.admin.routes.AdminScreenshotController.imagesForUri(Id[NormalizedURI](42))">
    <input type="number" name="uriId"/>
    <input type="submit" name="fetch" />
  </form>

}