@(tuples:Seq[(NormalizedURI, Option[String], Option[String])])(implicit request: com.keepit.common.controller.UserRequest[_])

@admin("Screenshot/Image Comparison") {
  <table class="table table-striped">
    <tr><th>URI</th><th>Screenshot</th><th>Image(S3)</th></tr>
    @for(t<-tuples){
      <tr>
          <td>
              <table class="table table-striped table-condensed">
                  <tr><td>@t._1.id.getOrElse(-1)</td></tr>
                  <tr><td>@t._1.externalId</td></tr>
                  <tr><td><a href="@t._1.url">@t._1.url</a></td></tr>
              </table>
          </td>
          <td>
              @if(t._2.isEmpty){
                <b>Screenshot not available</b>
              }else{
                <img src="@t._2" alt="Screenshot not available" />
              }
          </td>
          <td>
              @if(t._3.isEmpty){
                <b>Image not available</b>
              }else{
                <img src="@t._3" alt="Image not available" />
              }
          </td>
      </tr>
    }
  </table>
}
