@(uri:NormalizedURI,
  screenshotUrl:Option[String],
  imageInfos:Seq[com.keepit.common.store.ImageInfo]
)

@admin("ImageInfos") {
    <h2>Images for URI: @uri.id.get</h2>
        Link: <a href="@uri.url">@uri.url</a>
        <br/>
    <h3>Screenshot</h3>
    @if(screenshotUrl.isEmpty){
        <b>No screenshot available</b>
    }else{
        <table class="table">
            <tr>
                <td>@screenshotUrl.get</td>
                <td><img src="@screenshotUrl.get" alt="screenshot"/></td>
            </tr>
        </table>
    }
    <h3>Images</h3>
    @if(imageInfos.isEmpty){
        <b>No images available</b>
    }else{
        <table class="table">
            @for(info <- imageInfos) {
            <tr>
                <td>@info.url</td>
                <td><img src="@info.url" alt="@info.url" height="@info.height" width="info.width"/></td>
            </tr>
            }
        </table>
    }
}