@(indexInfos: Seq[(Option[com.keepit.controllers.admin.ClusterMemberInfo], com.keepit.search.index.ReadableIndexInfo)],
  totalSizeInfos: Seq[(Option[com.keepit.controllers.admin.ClusterMemberInfo], String, String)]
)(implicit request: com.keepit.common.controller.UserRequest[_])

@admin("Index Infos") {

  <table class="table table-condensed table-striped">
    <thead>
      <th> ZK Id</th>
      <th>Name</th>
      <th>Shards</th>
      <th style="text-align:right;">Total ArticleIndex Size</th>
      <th style="text-align:right;">Total Index Size</th>
    </thead>

    @totalSizeInfos.map{ case (cmi, asz, sz) =>
      <tr>
        <td>@{cmi.map(_.zkid).getOrElse("")}</td>
        <td>@{cmi.map(i => i.instanceInfo.name.getOrElse(i.instanceInfo.localIp + " / " + i.instanceInfo.publicIp)).getOrElse("")}</td>
        <td>@{cmi.map(i => i.instanceInfo.tags.get("ShardSpec").getOrElse("-")).getOrElse("-")}</td>
        <td style="text-align:right;">@{asz}</td>
        <td style="text-align:right;">@{sz}</td>
      </tr>
    }
  </table>
  <br><br>

  <table class="table table-condensed table-striped">
    <thead>
      <th> ZK Id</th>
      <th>Name</th>
      <th>Index Name</th>
      <th style="text-align:right;">Number of Docs</th>
      <th style="text-align:right;">Index Size</th>
      <th style="text-align:right;">Sequence#</th>
      <th>Committed At</th>
    </thead>
    @indexInfos.map{ case (cmi, indexInfo) =>
      <tr>
        <td>@{cmi.map(_.zkid).getOrElse("")}</td>
        <td>@{cmi.map(i => i.instanceInfo.name.getOrElse(i.instanceInfo.localIp + " / " + i.instanceInfo.publicIp)).getOrElse("")}</td>
        <td>@{indexInfo.name}</td>
        <td style="text-align:right;">@{"%1$,d" format indexInfo.numDocs}</td>
        <td style="text-align:right;">@{indexInfo.indexSize.getOrElse("NA")}</td>
        <td style="text-align:right;">@{indexInfo.sequenceNumber}</td>
        <td>@{indexInfo.committedAt.getOrElse("NA")}</td>
      </tr>
    }
  </table>
}
