@(keepInfos:Seq[(com.keepit.model.RichKeepClick, Option[com.keepit.model.PageInfo], Option[com.keepit.model.ImageInfo])], showImage:Boolean, page:Int, keepInfosCount:Int, pageSize:Int)

@otherPagesRoute(page:Int) = {@com.keepit.controllers.admin.routes.AdminAttributionController.keepClicksView(page, pageSize, showImage)}

@admin(keepInfosCount + " Keep Clicks") {

    <h2>Showing @keepInfos.length keep clicks (page @(page + 1))</h2>

    @adminHelper.pagination(page, keepInfosCount, pageSize, otherPagesRoute _) {
        <table class="table table-striped">
            <th><tr>
                <td>Id</td>
                <td>Date</td>
                <td>uuid</td>
                <td>numKeepers</td>
                <td>keeper</td>
                <td>keep</td>
                <td>uriId</td>
                <td>title</td>
                <td>origin</td>
                @if(showImage){ <td>image</td> }
            </tr></th>
            @for((click, pageOpt, imgOpt) <- keepInfos){
            <tr>
                <td>@click.id</td>
                <td>@adminHelper.dateDisplay(click.createdAt)</td>
                <td>@click.hitUUID.toString().takeRight(5)</td>
                <td>@click.numKeepers</td>
                <td>@adminHelper.userDisplay(click.keeper)</td>
                <td>@click.keep.id.get</td>
                <td>@click.uri.id.get</td>
                <td><a href="@click.uri.url">@click.uri.title</a></td>
                <td>@click.origin.getOrElse("")</td>
                @if(showImage && imgOpt.isDefined){ <td><img src="@imgOpt.get.url" width="50" height="50" alt="no image" /></td> }
            </tr>
            }
        </table>
    }
}