@(keepInfos:Seq[(com.keepit.model.RichKeepDiscovery, Option[String])], showImage:Boolean, page:Int, keepInfosCount:Int, pageSize:Int)(implicit request: com.keepit.common.controller.UserRequest[_])

@otherPagesRoute(page:Int) = {@com.keepit.controllers.admin.routes.AdminAttributionController.keepDiscoveriesView(page, pageSize, showImage)}

@admin(keepInfosCount + " Keep Discoveries") {

    <h2>Showing @keepInfos.length keep discoveries (page @(page + 1))</h2>
    <ul>
        <li>The following shows a <i>global</i> list of, essentially keep <i>discovery</i> events.</li>
        <li>There are current two sources of keep discoveries: Search and Messaging</li>
        <li><b>Privacy</b>: the discoverer's ID is <b>not</b> recorded, to honor our current privacy policy.</li>
        <li>See <a href="@com.keepit.controllers.admin.routes.AdminAttributionController.rekeepsView(0, 50, false)">ReKeeps page</a> for the <i>global</i> rekeep time line.</li>
    </ul>

    @adminHelper.pagination(page, keepInfosCount, pageSize, otherPagesRoute _) {
        <table class="table table-striped">
            <th><tr>
                <td>Id</td>
                <td>Date</td>
                <td>uuid</td>
                <td>numKeepers</td>
                <td>keeper</td>
                <td>keep</td>
                <td>uriId</td>
                <td>title</td>
                <td>origin</td>
                @if(showImage){ <td>image</td> }
            </tr></th>
            @for((keepDisc, keepImageOpt) <- keepInfos){
            <tr>
                <td>@keepDisc.id</td>
                <td>@adminHelper.dateDisplay(keepDisc.createdAt)</td>
                <td>@keepDisc.hitUUID.toString().takeRight(5)</td>
                <td>@keepDisc.numKeepers</td>
                <td>@adminHelper.userDisplay(keepDisc.keeper)</td>
                <td>@keepDisc.keep.id.get</td>
                <td>@keepDisc.uri.id.get</td>
                <td><a href="@keepDisc.uri.url">@if(keepDisc.uri.title.getOrElse("").trim.nonEmpty){ @keepDisc.uri.title } else { @keepDisc.uri.url }</a></td>
                <td>@keepDisc.origin.getOrElse("")</td>
                @keepImageOpt.map { imageUrl => { <td><img src="@imageUrl" width="50" height="50" alt="no image" /></td> } }
            </tr>
            }
        </table>
    }
}
