@(keepInfos:Seq[(com.keepit.model.RichKeepClick, Option[com.keepit.model.PageInfo], Option[com.keepit.model.ImageInfo])], showImage:Boolean, page:Int, keepInfosCount:Int, pageSize:Int)

@otherPagesRoute(page:Int) = {@com.keepit.controllers.admin.routes.AdminAttributionController.keepDiscoveriesView(page, pageSize, showImage)}

@admin(keepInfosCount + " Keep Discoveries") {

    <h2>Showing @keepInfos.length keep discoveries (page @(page + 1))</h2>
    <ul>
        <li>The following shows a <i>global</i> list of, essentially keep <i>discovery</i> events.</li>
        <li>There are current two sources of keep discoveries: Search and Messaging</li>
        <li><b>Privacy</b>: the clicker's (or message recipient's) ID is <b>not</b> recorded, to honor our current privacy policy.</li>
        <li>See <a href="@com.keepit.controllers.admin.routes.AdminAttributionController.rekeepsView(0, 50, false)">ReKeeps page</a> for the <i>global</i> rekeep time line.</li>
    </ul>

    @adminHelper.pagination(page, keepInfosCount, pageSize, otherPagesRoute _) {
        <table class="table table-striped">
            <th><tr>
                <td>Id</td>
                <td>Date</td>
                <td>uuid</td>
                <td>numKeepers</td>
                <td>keeper</td>
                <td>keep</td>
                <td>uriId</td>
                <td>title</td>
                <td>origin</td>
                @if(showImage){ <td>image</td> }
            </tr></th>
            @for((click, pageOpt, imgOpt) <- keepInfos){
            <tr>
                <td>@click.id</td>
                <td>@adminHelper.dateDisplay(click.createdAt)</td>
                <td>@click.hitUUID.toString().takeRight(5)</td>
                <td>@click.numKeepers</td>
                <td>@adminHelper.userDisplay(click.keeper)</td>
                <td>@click.keep.id.get</td>
                <td>@click.uri.id.get</td>
                <td><a href="@click.uri.url">@if(click.uri.title.getOrElse("").trim.nonEmpty){ @click.uri.title } else { @click.uri.url }</a></td>
                <td>@click.origin.getOrElse("")</td>
                @if(showImage && imgOpt.isDefined){ <td><img src="@imgOpt.get.url" width="50" height="50" alt="no image" /></td> }
            </tr>
            }
        </table>
    }
}