@(numTopics: Int, version: Int)(implicit request: com.keepit.common.controller.UserRequest[_])

@admin("LDA"){
  <h2>version: @version</h2>
  <div>For other versions, try /admin/cortex/lda/version?version=xyz</div>
  <h2>@numTopics topics</h2>

  <div>show topN topic words for topics with id between fromId and toId. Note: fromId >=0. toId < @numTopics. If fromId = toId, return one single topic. </div>
  <form id = "show_topics">
    <input id = "fromId" type = "text" value = "fromId">
    <input id = "toId" type = "text" value = "toId">
    <input id = "topN" type = "text" value = "topN words">
    <button type = "submit">submit</button>
  </form>


  <table id = "topic_words_table" class = "table table-bordered">
    <thead>
      <tr>
        <th> id
        <th> words
        <th> topic name
        <th> Is Active
        <th> Is Nameable
      <tr/>
    </thead>
    <tbody></tbody>
  </table>

  <form id = "save_changes">
    <button type = "submit">Save Above Changes</button>
  </form>

  <br><br>
  <div>Show word topic. Only the top few topics are returned.</div>
  <form id = "word_topic">
    <input id = "word" type = "text" value = "">
    <button type = "submit">submit</button>
  </form>

  <p id = "word_topic_result"></p>


  <br><br>
  <div>Paste some text here. Identify topics</div>
  <form id = "doc_topic">
    <textarea id = "doc"></textarea>
    <button type = "submit">submit</button>
  </form>

  <p id = "doc_topic_result"></p>

  <br><br>
  <div> user interest score for a uri </div>
  <form id = "user_uri_interest">
     <input id = "user_id" type = "text" placeholder = "userId">
     <input id = "uri_id" type = "text" placeholder = "uriId">
     <button type = "submit">submit</button>
  </form>
  <p id = "user_uri_interest_result">

  <br><br>
  <div>user topics mean</div>
  <form id = "user_topic_mean">
    <input id = "user_id_for_topic_mean" type = "text" placeholder = "userId">
    <button type = "submit">submit</button>
  </form>
  <p id = "user_topic_mean_result">

  <br><br>
  <div>Library topic</div>
  <form id = "library_topic">
    <input id = "libId_for_library_topic" type = "text" placeholder = "library Id">
    <button type = "submit">submit</button>
  </form>
  <p id = "library_topic_result">


  <br><br>
  <div>User Library Score</div>
  <form id = "user_lib_score">
    <input id = "userId_for_user_lib_score" type = "text" placeholder = "userId">
    <input id = "libId_for_user_lib_score" type = "text" placeholder = "library Id">
    <button type = "submit">submit</button>
  </form>
  <p id = "user_lib_result">



  <script type="text/javascript">

    $(document).ready(function(){
      $.postJson = function (uri, data, done) {
        return $.ajax({
          url: uri,
          type: 'POST',
          dataType: 'json',
          data: JSON.stringify(data),
          contentType: 'application/json',
          success: done || $.noop
        });
      };

      $("#show_topics").submit(function(event){
        event.preventDefault();

        $.post('@com.keepit.controllers.admin.routes.AdminLDAController.showTopics',
          {fromId: $('#fromId').val(), toId: $('#toId').val(), topN: $('#topN').val(), version: @version}
        ).done(done).fail(fail);

        function done(data) {
          x = data
          var topicIds = x.ids
          var topicWords = x.topicWords
          var topicNames = x.topicNames
          var states = x.states
          var nameables = x.nameables

          var sz = topicWords.length

          $("#topic_words_table > tbody").empty()
          for(var i = 0; i < sz; i++){

            var isActive = (states[i] == true)
            var isNameable = (nameables[i] == true)
            var url = '@com.keepit.controllers.admin.routes.AdminLDAController.topicDetail(0, version)'.replace('0', topicIds[i])
            var idLink = $('<a>').attr('href', url).text(topicIds[i])

            $("#topic_words_table").append(
              "<tr>" +
              "<td class = \"ids\" >" + idLink.prop('outerHTML') + "</td>" +
              "<td><pre>" + topicWords[i] + "</pre></td>" +
              "<td class = \"tnames\">" + $("<input>",{value: topicNames[i]}).prop('outerHTML') + "</td>" +
              "<td class = \"active\">" + $("<input/>", {type: "checkbox", checked: isActive}).prop('outerHTML') + "</td>" +
              "<td class = \"nameable\">" + $("<input/>", {type: "checkbox", checked: isNameable}).prop('outerHTML') + "</td>" +
              "</tr>"
            )
          }
        }

        function fail() { alert("bad things happened") }

      })


      $('#save_changes').submit(function(event){
        event.preventDefault();

        var ids = $(".ids")
        var retIds = []
        for(var j = 0; j < ids.length; j++){
          retIds[j] = $(ids[j]).text()
        }

        var names = $(".tnames")
        var retNames = []
        for(var j = 0; j < names.length; j++){
          retNames[j] = $(names[j]).find("input").val()
        }

        var states = $(".active")
        var retStates = []
        for(var j = 0; j < states.length; j++){
          retStates[j] = $(states[j]).find("input").prop("checked")
        }

        var nameable = $(".nameable")
        var retNameable = []
        for(var j = 0; j < nameable.length; j++){
          retNameable[j] = $(nameable[j]).find("input").prop("checked")
        }

        $.postJson('@com.keepit.controllers.admin.routes.AdminLDAController.saveEdits',
          {topic_ids: retIds, topic_names: retNames, topic_states: retStates, topic_nameable: retNameable, version: @version}
        ).done(done).fail(fail);

        function done(data){ alert("changes saved") }
        function fail() { alert("bad things happened") }


      })



      $('#word_topic').submit(function(event){
        event.preventDefault();

        $.post('@com.keepit.controllers.admin.routes.AdminLDAController.wordTopic',
          {word: $('#word').val(), version: @version}
        ).done(done).fail(fail);

        function done(data){ $("#word_topic_result").empty().prepend(data) }
        function fail() { alert("bad things happened") }

      })


      $('#doc_topic').submit(function(event){
        event.preventDefault();

        $.post('@com.keepit.controllers.admin.routes.AdminLDAController.docTopic',
          {doc: $('#doc').val(), version: @version}
        ).done(done).fail(fail);

        function done(data){ $("#doc_topic_result").empty().prepend(data) }
        function fail() { alert("bad things happened") }

      })

      $('#user_uri_interest').submit(function(event){
        event.preventDefault();

        $.post('@com.keepit.controllers.admin.routes.AdminLDAController.userUriInterest',
          {userId: $('#user_id').val(), uriId: $('#uri_id').val(), version: @version}
        ).done(done).fail(fail);

        function done(data) { $("#user_uri_interest_result").empty().prepend(data)}
        function fail() { alert("bad things happened") }

      })

      $('#user_topic_mean').submit(function(event){
        event.preventDefault();
        $.post('@com.keepit.controllers.admin.routes.AdminLDAController.userTopicMean',
          {userId: $('#user_id_for_topic_mean').val(), version: @version}
        ).done(done).fail(fail);

        function done(data) { $("#user_topic_mean_result").empty().prepend(data)}
        function fail() { alert("bad things happened") }

      })

      $('#library_topic').submit(function(event){
        event.preventDefault();
        $.post('@com.keepit.controllers.admin.routes.AdminLDAController.libraryTopic',
          {libId: $('#libId_for_library_topic').val(), version: @version}
        ).done(done).fail(fail);

        function done(data) { $("#library_topic_result").empty().prepend(data)}
        function fail() { alert("bad things happened") }

      })

      $('#user_lib_score').submit(function(event){
        event.preventDefault();
        $.post('@com.keepit.controllers.admin.routes.AdminLDAController.userLibraryScore',
        {userId: $('#userId_for_user_lib_score').val(), libId: $('#libId_for_user_lib_score').val(), version: @version}
        ).done(done).fail(fail);

        function done(data) { $("#user_lib_result").empty().prepend(data)}
        function fail() { alert("bad things happened") }

      })



    });

  </script>


}
