@(version: Int, data: com.keepit.cortex.models.lda.LDATopicDetail)(implicit request: com.keepit.common.controller.UserRequest[_])

@admin("LDA Topic Detail"){
  <h2>Version: @version</h2>
  <div>Sampled URIs for topic @data.topicId . You can refresh this page to see a different set of samples.</div>

  <table class = "table table-bordered">
  <tr>
    <th>uriId</th>
    <th>score</th>
    <th>title</th>
  </tr>

  @data.sampleURIs.zip(data.topicScores).map{ case (uri, score) =>
    <tr>
      <td>@uri.id.get</td>
      <td>@score</td>
      <td><a href = "@{com.keepit.controllers.admin.routes.UrlController.getURIInfo(uri.id.get)}">@uri.title.getOrElse("No Title")</a></td>
    </tr>
  }

  </table>

}
