@(numTopics: Int, version: Int)(implicit request: com.keepit.common.controller.UserRequest[_])

@admin("LDA Persona"){
    <h2>version: @version</h2>
    <h2>@numTopics topics</h2>
    <div>For other versions, try /admin/cortex/lda/persona/version?version=xyz</div>

    <div>
      <h3>Define Persona Feature Vector</h3>
      <form id = "define_persona">
        <input id = "dp_pid" type = "text" value = "persona id">
        <input id = "dp_tids" type = "text" value = "topic ids, seperated by comma">
        <button type = "submit">submit</button>
      </form>
    </div>

    <p id = "dp_result"></p>





    <script type="text/javascript">

    $(document).ready(function(){


      $("#define_persona").submit(function(event){
        event.preventDefault();

        $.post('@com.keepit.controllers.admin.routes.AdminLDAController.generateLDAPersonaFeature',
          {personaId: $('#dp_pid').val(), topicIds: $('#dp_tids').val(), version: @version}
        ).done(done).fail(fail);

        function done(data) {
          $("#dp_result").empty().prepend(data.sampleSize + " samples used to generate the feature. Feature saved to database. You can view actual data in developer tool, but that may not help much.")
        }

        function fail() { alert("bad things happened") }

      });















    });

    </script>
}
