@(library: Library,
  owner: User,
  keepCount: Int,
  contributors: Seq[User],
  followers: Seq[User],
  publicId: com.keepit.common.crypto.PublicId[Library],
  relatedLibs: Seq[Library],
  suggestedSearches: String,
  transfer: Boolean
)(implicit request: com.keepit.common.controller.UserRequest[_])

@admin(owner.firstName + " " + owner.lastName + "'s " + library.name, stylesheets = List("admin_library")) {
  <table class="library-summary table table-bordered">
    <tr>
      <th>Name/URL</th><td><a href="https://www.kifi.com/@{owner.username.value}/@{library.slug.value}">@library.name</a></td>
    </tr>
    <tr>
      <th>Id</th><td>@library.id</td>
    </tr>
    <tr>
      <th>Public Id</th><td>@publicId.id</td>
    </tr>
    <tr>
      <th>Owner</th><td><img src="@com.keepit.controllers.assets.routes.UserPictureController.get(100, owner.externalId)" height=25 width=25>@adminHelper.userDisplay(owner)</td>
    </tr>
    @if(transfer) {
    <tr>
      <th>Transfer Ownership</th>
      <td>
        <form action="#" method="POST" class="transfer-ownership">
          <input id="toUserId" type="text" name="toUserId" placeholder="User Id of new Owner">
          <input type="submit" value="Change Owner">
        </form>
      </td>
    </tr>
    }
    <tr>
      <th>Description</th><td>@library.description</td>
    </tr>
    <tr>
      <th>Slug</th><td>@library.slug.value</td>
    </tr>
    <tr>
      <th>Visibility</th><td>@library.visibility.value</td>
    </tr>
    <tr>
      <th>Kind</th><td>@library.kind</td>
    </tr>
    <tr>
      <th>Universal Link</th><td>@library.universalLink</td>
    </tr>
    <tr>
      <th>Contributors</th><td>@for(u <- contributors) { <div>@adminHelper.userDisplay(u)</div> }</td>
    </tr>
    <tr>
      <th>Followers</th><td>@for(u <- followers) { <div>@adminHelper.userDisplay(u)</div> }</td>
    </tr>
    <tr>
      <th>Created At</th><td>@adminHelper.dateTimeDisplay(library.createdAt)</td>
    </tr>
    <tr>
      <th>Last Update</th><td>@adminHelper.dateTimeDisplay(library.updatedAt)</td>
    </tr>
    <tr>
      <th>Seq Num</th><td>@library.seq</td>
    </tr>
    <tr>
      <th>Experiments</th>
      <td>
      </td>
    </tr>
    <tr>
      <th>State</th>
      <td class="form-inline">
        <select id="state">
        @for(state <- Seq(LibraryStates.ACTIVE, LibraryStates.INACTIVE)) {
          <option  @if(library.state.value == state.value){selected}>@state.value</option>
        }
        </select>
      </td>
    </tr>
  </table>

  <div>
    <h3>View and Edit Tag Clouds</h3>
    <form id = "tag_cloud_form">
     <textarea disabled id = "tag_cloud">@suggestedSearches</textarea>
     <button type = 'button' id = "edit_tc">edit</button>
     <button type = 'submit' id = 'save_tc'>save</button>
     <button type = 'button' id = 'cancel_edit_tc'>cancel</button>
  </form>

  </div>

  <p>
    <a href="@com.keepit.controllers.admin.routes.AdminLibraryController.libraryKeepsView(library.id.get, 0)">Library Keeps</a>
  </p>
  <p>
    <a href="@com.keepit.controllers.admin.routes.AdminLibraryController.getLuceneDocument(library.id.get)">Lucene Document</a>
  </p>


  <h3>@relatedLibs.size Related Libraries</h3>
  <table class="library-summary table table-bordered">

  <tr>
      <th>id</th>
      <th>name</th>
  </tr>

  @for(lib <- relatedLibs){
    <tr>
      <td>@lib.id.get.id</td>
      <td><a href="@com.keepit.controllers.admin.routes.AdminLibraryController.libraryView(lib.id.get)">@lib.name</td>
    </tr>
  }
}

<script type="text/javascript">


  $(function() {

    document.getElementById("edit_tc").addEventListener("click", startEdit, true);
    disableEdit(true)

    @if(transfer) {
      var transferring = false;
      $('.transfer-ownership').on("submit", function() {
        if (transferring) return false;
        transferring = true;
        var value = $('#toUserId').val();
        $.post('@com.keepit.controllers.admin.routes.AdminLibraryController.updateLibraryOwner(library.id.get, library.ownerId, Id[User](-111L))'.replace('-111', value))
        .done(function(data) {
          alert("Library Owner Updated")
          transferring = false;
        }).fail(function(data) {
          if (data.status == 408) {
            // timeout
            alert("Library transferring in progress");
          } else if(data.status == 500) {
            // internal server error
            alert("An Internal Server Error has occurred - check the dev console for more information");
            console.log(data);
            transferring = false;
          } else {
            alert(data.responseText);
            transferring = false;
          }
        });
        return false;
      });
    }

    function disableEdit(disabled){
        if (disabled){
          $("#edit_tc").show()
          $("#save_tc").hide()
          $("#cancel_edit_tc").hide()
          document.getElementById("tag_cloud").setAttribute('disabled', 'true')
        } else {
          document.getElementById("tag_cloud").removeAttribute('disabled')
          $("#edit_tc").hide()
          $("#save_tc").show()
          $("#cancel_edit_tc").show()
        }
      }

    function startEdit() {
      var old = $("#tag_cloud").val()
      disableEdit(false)
      document.getElementById("cancel_edit_tc").addEventListener("click", function(){ cancelEditWith(old)}, true);
    }

    function cancelEditWith(old){
      document.getElementById("tag_cloud").value = old
      disableEdit(true)
    }

    $("#tag_cloud_form").submit(function(event){
      event.preventDefault();

      var text = $("#tag_cloud").val()
      $.post("@com.keepit.controllers.admin.routes.AdminLibraryController.saveSuggestedSearches", {libId: @library.id, tc: text}).done(done).fail(fail);

      function done(data) { disableEdit(true) }
      function fail() { alert("bad things happened") }

    });


    $("#state").change(function() {
      var $td = $(this).closest("td");
      var $sp = $("<img src=/assets/images/spinner.15.gif>").appendTo($td);
        $.post('@com.keepit.controllers.admin.routes.AdminLibraryController.changeState(library.id.get, "____")'.replace("____", $(this).val()))
          .done(function () {
            $sp.after($("<i class=icon-ok-sign>").delay(1000).fadeOut()).remove();
          });
    });



  });
</script>
