@(library: Library,
  owner: User,
  totalKeepCount: Int,
  keepInfos: Seq[(Keep, NormalizedURI, Option[User], Seq[Hashtag])],
  page: Int,
  pageSize: Int
)(implicit request: com.keepit.common.controller.UserRequest[_])
@import com.keepit.controllers.admin.routes

@otherPagesRoute(page: Int) = {
  @com.keepit.controllers.admin.routes.AdminLibraryController.libraryKeepsView(library.id.get, page)
}

@admin(library.name, stylesheets = List("admin_library")) {
    <br/>
    <table class="library-summary table table-bordered">
      <tr><th>Name</th><td>@library.name</td></tr>
      <tr><th>Id</th><td>@library.id</td></tr>
      <tr><th>Owner</th><td>@adminHelper.userDisplay(owner)</td></tr>
    </table>

  <h2>Library contains @totalKeepCount Keeps</h2>
  <h3>Showing @keepInfos.size Keeps of total @totalKeepCount</h3>
    @adminHelper.pagination(page, totalKeepCount, pageSize, otherPagesRoute _) {
		  <table class="table table-bordered">
		    <tr>
		      <th>#</th>
		      <th>Keep ID</th>
		      <th>Private</th>
		      <th>Active</th>
		      <th>Keep</th>
          <th>Collections</th>
          <th>Source</th>
          <th>Created At</th>
          <th>State</th>
		    </tr>
			 @for(((keep, uri, _, tags), i) <- keepInfos.zipWithIndex) {
			   <tr>
		        <td>@{i+1}</td>
		        <td><span class="badge">@keep.id.get.id</span></td>
		        <td>
              <input type="hidden" name="active_@{keep.id.get.id}" value="0" />
							<center><input type="checkbox" id="active_@keep.id.get.id" name="active_@{keep.id.get.id}" value="1" @if(keep.state.value == "active") {checked="checked"}></input></center>
		        </td>
		        <td>@adminHelper.bookmarkDisplay(keep)</td>
                <td><div class="collections" data-id="@keep.id.get.id">@{tags.mkString(", ")}</div></td>
                <td>@keep.source</td>
            <td>@adminHelper.dateTimeDisplay(keep.createdAt)</td>
            <td>@adminHelper.uriStateDisplay(uri)</td>
			   </tr>
			 }
			</table>
    }

}
