@(libraryData: com.keepit.controllers.admin.LibraryPageInfo)(implicit request: com.keepit.common.controller.UserRequest[_])
@import com.keepit.controllers.admin.routes

@otherPagesRoute(page: Int) = {
  @com.keepit.controllers.admin.routes.AdminLibraryController.index(page)
}

@admin(libraryData.libraryCount + " " + "Total Libraries") {
  <h2>Top libraries by followers in past 24 hours</h2>
  <table class="table table-bordered">
    <tr>
      <th>New followers</th>
      <th>Owner</th>
      <th>Name</th>
      <th>Keeps</th>
      <th>Members</th>
      <th>Invites</th>
      <th>Date Created</th>
      <th>Date Updated</th>
    </tr>
  @for((count,libStat) <- libraryData.topDailyFollower) {
    <tr>
      <td>@count</td>
      <td>@adminHelper.userDisplay(libStat.owner)</td>
      <td>@adminHelper.libraryDisplay(libStat.library) <b><a href="https://www.kifi.com/@{libStat.owner.username.value}/@{libStat.library.slug.value}">→</a></b></td>
      <td>@libStat.numKeeps</td>
      <td>@libStat.numMembers</td>
      <td>@libStat.numInvites</td>
      <td>@adminHelper.dateTimeDisplay(libStat.library.createdAt)</td>
      <td>@adminHelper.dateTimeDisplay(libStat.library.updatedAt)</td>
    </tr>
  }
  </table>

  <h2>Hot libraries in past 24 hours</h2>
  <table class="table table-bordered">
    <tr>
      <th>Growth</th>
      <th>Owner</th>
      <th>Name</th>
      <th>Keeps</th>
      <th>Members</th>
      <th>Invites</th>
      <th>Date Created</th>
      <th>Date Updated</th>
    </tr>
  @for((growth,libStat) <- libraryData.hotTodayWithStats) {
    <tr>
      <td>@{"%.0f%%".format(growth*100)}</td>
      <td>@adminHelper.userDisplay(libStat.owner)</td>
      <td>@adminHelper.libraryDisplay(libStat.library) <b><a href="https://www.kifi.com/@{libStat.owner.username.value}/@{libStat.library.slug.value}">→</a></b></td>
      <td>@libStat.numKeeps</td>
      <td>@libStat.numMembers</td>
      <td>@libStat.numInvites</td>
      <td>@adminHelper.dateTimeDisplay(libStat.library.createdAt)</td>
      <td>@adminHelper.dateTimeDisplay(libStat.library.updatedAt)</td>
    </tr>
  }
  </table>

  <h2>Top libraries by keeps in past 24 hours</h2>
  <table class="table table-bordered">
    <tr>
      <th>New keeps</th>
      <th>Owner</th>
      <th>Name</th>
      <th>Keeps</th>
      <th>Members</th>
      <th>Invites</th>
      <th>Date Created</th>
      <th>Date Updated</th>
    </tr>
  @for(((count,libStat),i) <- libraryData.topDailyKeeps.zipWithIndex) {
    <tr>
      <td>@count</td>
      <td>@adminHelper.userDisplay(libStat.owner)</td>
      <td>@adminHelper.libraryDisplay(libStat.library) <b><a href="https://www.kifi.com/@{libStat.owner.username.value}/@{libStat.library.slug.value}">→</a></b></td>
      <td>@libStat.numKeeps</td>
      <td>@libStat.numMembers</td>
      <td>@libStat.numInvites</td>
      <td>@adminHelper.dateTimeDisplay(libStat.library.createdAt)</td>
      <td>@adminHelper.dateTimeDisplay(libStat.library.updatedAt)</td>
    </tr>
  }
  </table>

  <h2> Showing @libraryData.libraryStats.length libraries (page @(libraryData.page + 1))</h2>

  @adminHelper.pagination(libraryData.page, libraryData.libraryCount, libraryData.pageSize, otherPagesRoute _) {
      <table class="table table-bordered">
        <tr>
          <th>#</th>
          <th>Id</th>
          <th>Owner</th>
          <th>Name</th>
          <th>URL</th>
          <th>Slug</th>
          <th>Keeps</th>
          <th>Members</th>
          <th>Invites</th>
          <th>State</th>
          <th>Kind</th>
          <th>Date Created</th>
          <th>Date Updated</th>
        </tr>
      @for((libStat,i) <- libraryData.libraryStats.zipWithIndex) {
        <tr>
          <td>@{i+1}</td>
          <td><span class="badge">@libStat.library.id.get</span></td>
          <td>@adminHelper.userDisplay(libStat.owner)</td>
          <td>@adminHelper.libraryDisplay(libStat.library)</td>
          <td><a href="https://www.kifi.com/@{libStat.owner.username.value}/@{libStat.library.slug.value}">https://www.kifi.com/@{libStat.owner.username.value}/@{libStat.library.slug.value}</a></td>
          <td>@libStat.library.slug.value</td>
          <td>@libStat.numKeeps</td>
          <td>@libStat.numMembers</td>
          <td>@libStat.numInvites</td>
          <td>@{libStat.library.state.value match {
                case "active" => {
                  <span class="label label-success">{libStat.library.state.value}</span>
                }
                case "inactive" => {
                  <span class="label label-warning">{libStat.library.state.value}</span>
                }
              }}
          </td>
          <td>@libStat.library.kind</td>
          <td>@adminHelper.dateTimeDisplay(libStat.library.createdAt)</td>
          <td>@adminHelper.dateTimeDisplay(libStat.library.updatedAt)</td>
        </tr>
      }
      </table>
  }
}
