@(changes: Seq[(NormalizedURI, NormalizedURI, String)], page: Int, totalCount: Int, pageCount: Int, maxPageSize: Int)

@pagination(page: Int, pageCount: Int) = {
  <div class="pagination pagination-centered pagination-mini">
    <ul>
      <li>
        @if(page > 0) {
          <a href="@com.keepit.controllers.admin.routes.UrlController.mergedUriView(page - 1)">
        } else {
         <a href="#">
        }
        Prev
        </a>
      </li>
      @for(i <- 0 to (pageCount - 1)) {
        @if(i == page) {
          <li class="disabled">
            <a href="@com.keepit.controllers.admin.routes.UrlController.mergedUriView(i)">@{i + 1}</a>
          </li>
        } else {
          <li class="active">
            <a href="@com.keepit.controllers.admin.routes.UrlController.mergedUriView(i)">@{i + 1}</a>
          </li>
        }
      }
      <li>
        @if(changes.size > 0) {
          <a href="@com.keepit.controllers.admin.routes.UrlController.mergedUriView(page + 1)">
        } else {
         <a href="#">
        }
        Next
        </a>
      </li>
    </ul>
  </div>
}

@admin(totalCount + " migrated uris"){
  <h2> Showing migrated uris </h2>
  <h2> showing @changes.size (page @{page + 1}) </h2>
  @pagination(page, pageCount)
  <table class = "table table-bordered">
  <tr>
    <th>#</th>
    <th>date migrated</th>
    <th>uri id</th>
    <th>uri</th>   
  </tr>
  
  @changes.zipWithIndex.map{ case ((old, newUri, date), i) => 
    <tr>
      <th rowspan="2"> @{i+1} </th>
      <th rowspan="2"> @date </th> 
      <td>@old.id</td> <td><a href = "@old.url">@old.url</td>
    </tr>
    <tr>
      <td>@newUri.id</td> <td><a href = "@newUri.url" >@newUri.url</td>
    </tr> 
    
  }
  
  
  
  </table>

}
