@(user: User,
  rawInfos: Seq[SocialUserRawInfo],
  socialUserInfos: Seq[SocialUserInfo],
  sentElectronicMails: Seq[com.keepit.common.mail.ElectronicMail])

@admin("User: " + user.firstName + " " + user.lastName) {
  <h2>User details </h2>
   <br/>
   <table class="table table-bordered">
      <tr>
        <th>Name</th><td>@user.firstName @user.lastName</td>
      </tr>
      <tr>
        <th>OAuth</th><td><textarea class="json-textArea">@socialUserInfos</textarea></td>
      </tr>
      <tr>
        <th>Social Raw info</th><td><textarea class="json-textArea">@rawInfos</textarea></td>
      </tr>
      <tr>
        <th>Social User</th>
        <td>@for(socialUserInfo <- socialUserInfos) {
            @adminHelper.socialUserDisplay(socialUserInfo, true)
        }</td>
      </tr>
  </table>

   <h2>User has sent @sentElectronicMails.size emails</h2>
   <table class="table table-bordered">
    <tr>
      <th>#</th>
      <th>From</th>
      <th>To</th>
      <th>Subject</th>
      <th>Creation</th>
    </tr>
  @for((electronicMail, i) <- sentElectronicMails.zipWithIndex) {
    <tr>
      <td rowspan="2">@{i+1}</td>
      <td>@electronicMail.fromName</td>
      <td>@{electronicMail.to map {a => a.address} mkString(",")}</td>
      <td>@electronicMail.subject</td>
      <td>@adminHelper.dateTimeDisplay(electronicMail.createdAt)</td>
    </tr>
    <tr>
      <td colspan="4">@electronicMail.htmlBody</td>
    </tr>
  }
  </table>
}
