@(user: User,
  rawInfos: Seq[SocialUserRawInfo],
  socialUserInfos: Seq[SocialUserInfo],
  socialConnections: Seq[SocialUserInfo],
  abookInfos: Seq[ABookInfo],
  contacts: Seq[com.keepit.abook.RichContact]
)

@admin("User: " + user.firstName + " " + user.lastName) {
  <h2>User details </h2>
   <br/>
   <table class="table table-bordered">
      <tr>
        <th>Name</th><td>@user.firstName @user.lastName</td>
      </tr>
      <tr>
        <th>OAuth</th><td><textarea class="json-textArea">@socialUserInfos</textarea></td>
      </tr>
      <tr>
        <th>Social Raw info</th><td><textarea class="json-textArea">@rawInfos</textarea></td>
      </tr>
      <tr>
        <th>Social User</th>
        <td>@for(socialUserInfo <- socialUserInfos) {
            @adminHelper.socialUserDisplay(socialUserInfo, true)
        }</td>
      </tr>
  </table>

    <h2>@socialConnections.size Social Users</h2>
    <div class="scrollArea">
        <ol>
            @for(socialConnection <- socialConnections) {
            <li>@adminHelper.socialUserDisplay(socialConnection)</li>
            }
        </ol>
    </div>

  <h2>User has uploaded @abookInfos.size Address Book(s)</h2>
    @if(abookInfos.size > 0) {
      <br/>
      <h3>Address Book(s)</h3>
      <table class="table table-condensed table-striped">
          <tr><th>ABookId</th><th>Origin</th><th>State</th><th>RawInfoLoc</th></tr>
          @for(abookInfo <- abookInfos) {
              <tr><td>@abookInfo.id</td><td>@abookInfo.origin</td><td>@abookInfo.state</td><td>@abookInfo.rawInfoLoc</td></tr>
          }
      </table>
    }
  @if(contacts.size > 0) {
    <br/>
    <h3>Active Contacts (total = @contacts.size)</h3>
    <div class="scrollArea">
        <table class="table table-condensed table-striped">
            <tr><th>Name</th><th>Email</th><th>ContactUserId</th></tr>
            @for(contact <- contacts) {
            <tr><td><td>@contact.name</td><td>@contact.email</td><td>@contact.userId</td></tr>
            }
        </table>
    </div>
  }
}
