@(user:User, clicks:Seq[com.keepit.model.RichKeepClick], rekeeps:Seq[com.keepit.model.RichReKeep], rekepts:Seq[com.keepit.model.RichReKeep])

@admin("My Keep Infos") {

<ul>
    <li>The following shows <i>personalized</i> lists of recognized <i>keep_click</i> and </i><i>rekeep</i> events in the last week.</li>
    <li>For the <i>global</i> list, check out the <a href="@com.keepit.controllers.admin.routes.AdminAttributionController.keepDiscoveriesView(0,50,false)">Keep Discoveries Timeline</a> page and
        <a href="@com.keepit.controllers.admin.routes.AdminAttributionController.rekeepsView(0,50,false)">ReKeeps Timeline</a> page for more information.</li>
    <li><b>Note</b>: that we started tracking the relevant events only very recently -- on <b>2 May</b> (Friday) to be exact. If the stats do not look good now -- check back in a few days
    (or better yet -- find, keep and re-keep more!)</li>
</ul>

<p/>
<h2>Are my keeps being discovered?</h2>
<i>Your keeps have been viewed @clicks.length times last week!</i>

<h3>Events</h3>
<table class="table table-striped">
    <th><tr>
        <td>Id</td>
        <td>Date</td>
        <td>uuid</td>
        <td>numKeepers</td>
        <td>keep</td>
        <td>uriId</td>
        <td>title</td>
        <td>origin</td>
    </tr></th>
    @for(click <- clicks){
    <tr>
        <td>@click.id</td>
        <td>@adminHelper.dateDisplay(click.createdAt)</td>
        <td>@click.hitUUID.toString().takeRight(5)</td>
        <td>@click.numKeepers</td>
        <td>@click.keep.id.get</td>
        <td>@click.uri.id.get</td>
        <td><a href="@click.uri.url">@if(click.uri.title.getOrElse("").trim.nonEmpty){ @click.uri.title } else { @click.uri.url }</a></td>
        <td>@click.origin.getOrElse("")</td>
    </tr>
    }
</table>

<p/>
<h2>Who Re-Kept my keeps?</h2>
<i>@rekeeps.length people have kept new discoveries into their libraries because of you!</i>
<i>See <a href="@com.keepit.controllers.admin.routes.AdminAttributionController.myReKeeps()"><b>My</b>ReKeeps</a> page for a more in-depth look</i>

<h3>Events</h3>
<table class="table table-striped">
    <th><tr>
        <td>Id</td>
        <td>Date</td>
        <td>keep</td>
        <td>Re-keeper</td>
        <td>Re-keep</td>
        <td>attr_factor (1/n)</td>
        <td>uriId</td>
        <td>title</td>
    </tr></th>
    @for(rekeep <- rekeeps){
    <tr>
        <td>@rekeep.id</td>
        <td>@adminHelper.dateDisplay(rekeep.createdAt)</td>
        <td>@rekeep.keep.id.get</td>
        <td>@adminHelper.userDisplay(rekeep.srcUser)</td>
        <td>@rekeep.srcKeep.id.get</td>
        <td>@rekeep.attributionFactor</td>
        <td>@rekeep.uri.id</td>
        <td><a href="@rekeep.uri.url">@rekeep.uri.title</a></td>
    </tr>
    }
</table>

<p/>
<h2>Whose keeps have I re-kept?</h2>
<i>You have kept @rekepts.length new discoveries into your library because of your friends!</i>

<table class="table table-striped">
    <th><tr>
        <td>Id</td>
        <td>Date</td>
        <td>Keeper</td>
        <td>Keep</td>
        <td>Re-keep</td>
        <td>attr_factor (1/n)</td>
        <td>uriId</td>
        <td>title</td>
    </tr></th>
    @for(rekept <- rekepts){
    <tr>
        <td>@rekept.id</td>
        <td>@adminHelper.dateDisplay(rekept.createdAt)</td>
        <td>@adminHelper.userDisplay(rekept.keeper)</td>
        <td>@rekept.keep.id.get</td>
        <td>@rekept.srcKeep.id.get</td>
        <td>@rekept.attributionFactor</td>
        <td>@rekept.uri.id</td>
        <td><a href="@rekept.uri.url">@rekept.uri.title</a></td>
    </tr>
    }
</table>

}