@(user:User, n:Int, rekeepsByDeg:Seq[(Keep, Int, Int, Seq[Seq[User]])])

@admin("My ReKeeps") {

  <ul>
    <li>The following shows <i>personalized</i> list of ReKeeps</li>
    <li>See <a href="@com.keepit.controllers.admin.routes.AdminAttributionController.rekeepsView(0, 50, false)">ReKeeps Timeline</a> page for a timeline-based <i>global</i> view</li>
  </ul>

  <table class="table table-bordered">
  <th><tr>
      <td>Id</td>
      <td width="20%">Url</td>
      <td>Direct#</td>
      <td>Total#</td>
      @for(i <- 0 until n) {
        <td>Deg+@i</td>
      }
      </tr></th>
  @for((keep, directCount, totalCount, usersByDeg) <- rekeepsByDeg) {
    <tr>
      <td>@keep.id.get</td>
      <td><a href="@keep.url"/>@keep.url</a></td>
      <td>@directCount</td>
      <td>@totalCount</td>
      @for(users <- usersByDeg) {
        <td>
          <table class="table table-striped table-condensed">
          @for(u <- users) {
            <tr><td>@adminHelper.userDisplay(u)</td></tr>
          }
          </table>
        </td>
      }
    </tr>
  }
  </table>
}