@(applied: Seq[(NormalizedURI, NormalizedURI, String)], page: Int, appliedCount: Int, pendingCount: Int, pageCount: Int, maxPageSize: Int)(implicit request: com.keepit.common.controller.UserRequest[_], flash: Flash)

@pagination(page: Int, pageCount: Int) = {
  <div class="pagination pagination-centered pagination-mini">
    <ul>
      <li>
        @if(page > 0) {
          <a href="@com.keepit.controllers.admin.routes.UrlController.normalizationView(page - 1)">
        } else {
         <a href="#">
        }
        Prev
        </a>
      </li>

      @if(page - 20 > 0){
        <li class="disabled">
          <a href="@com.keepit.controllers.admin.routes.UrlController.normalizationView(0)">...</a>
        </li>
      }


      @for(i <- (0.max(page - 20) to (pageCount - 1).min(page + 20))) {
        @if(i == page) {
          <li class="disabled">
            <a href="@com.keepit.controllers.admin.routes.UrlController.normalizationView(i)">@{i + 1}</a>
          </li>
        } else {
          <li class="active">
            <a href="@com.keepit.controllers.admin.routes.UrlController.normalizationView(i)">@{i + 1}</a>
          </li>
        }
      }

      @if(page + 20 < pageCount - 1){
        <li class="disabled">
          <a href="com.keepit.controllers.admin.routes.UrlController.normalizationView(pageCount - 1)">...</a>
        </li>
      }

      <li>
        @if(applied.size > 0) {
          <a href="@com.keepit.controllers.admin.routes.UrlController.normalizationView(page + 1)">
        } else {
         <a href="#">
        }
        Next
        </a>
      </li>
    </ul>
  </div>
}

@admin(appliedCount + " Redirection Events"){
    <div class="container"><button class="btn btn-primary pull-right" type="button" id="process" style="margin-bottom: 10px">Process @pendingCount Pending Events Now</button></div>

    <form class="form-horizontal pull-right" action="@com.keepit.controllers.admin.routes.UrlController.submitNormalization" method = "POST">
      <div class="input-append">
        <input type="text" name="referenceUrl" placeholder="Reference Url">
        <select name="correctNormalization">
          <option name="" value="" selected>Current Normalization
          <option value="reset">Reset Normalization
          <option value="@com.keepit.model.Normalization.MOVED.scheme">HTTP 301
        </select>
      </div>
      <div class="input-append">
        <input type="text" name="candidateUrl" placeholder="Candidate Url">
        <select name="candidateNormalization">
          <option value="" selected>Unknown Normalization
          <option value=@com.keepit.model.Normalization.CANONICAL.scheme>Canonical
          <option value=@com.keepit.model.Normalization.OPENGRAPH.scheme>OpenGraph
        </select>
      </div>
      <button type="submit" class="btn">Submit</button>
      <input type="checkbox" name="verified"> Verified
      <div class="text-success">@flash.get("result").getOrElse("")</div>
    </form>

    <h2> Showing @applied.size (page @{page + 1}) </h2>

  @pagination(page, pageCount)
  <table class = "table table-bordered">
  <tr>
    <th>#</th>
    <th>Time</th>
    <th>IDs</th>
    <th>URLs</th>
    <th>Normalizations</th>
  </tr>

  @applied.zipWithIndex.map{ case ((oldUri, newUri, time), i) =>
    <tr>
      <th rowspan="2"> @{applied.size - i} </th>
      <th rowspan="2"> @time </th>
      <td>@oldUri.id</td> <td><a href = "@oldUri.url">@oldUri.url</td><td>@oldUri.normalization.map(_.scheme)</td>
    </tr>
    <tr>
      <td>@newUri.id</td> <td><a href = "@newUri.url" >@newUri.url</td><td>@newUri.normalization.map(_.scheme)</td>
  </tr>

  }

  </table>

}

<script>
  $("#process").click(function() { location = "@com.keepit.controllers.admin.routes.UrlController.batchURIMigration"; } );
</script>
