@(applied: Seq[(NormalizedURI, NormalizedURI, String)], page: Int, appliedCount: Int, pendingCount: Int, pageCount: Int, maxPageSize: Int)

@pagination(page: Int, pageCount: Int) = {
  <div class="pagination pagination-centered pagination-mini">
    <ul>
      <li>
        @if(page > 0) {
          <a href="@com.keepit.controllers.admin.routes.UrlController.normalizationView(page - 1)">
        } else {
         <a href="#">
        }
        Prev
        </a>
      </li>
      @for(i <- 0 to (pageCount - 1)) {
        @if(i == page) {
          <li class="disabled">
            <a href="@com.keepit.controllers.admin.routes.UrlController.normalizationView(i)">@{i + 1}</a>
          </li>
        } else {
          <li class="active">
            <a href="@com.keepit.controllers.admin.routes.UrlController.normalizationView(i)">@{i + 1}</a>
          </li>
        }
      }
      <li>
        @if(applied.size > 0) {
          <a href="@com.keepit.controllers.admin.routes.UrlController.normalizationView(page + 1)">
        } else {
         <a href="#">
        }
        Next
        </a>
      </li>
    </ul>
  </div>
}

@admin(appliedCount + " Redirection Events"){
    <div style="float: right" class="form-horizontal">
        <button class="btn btn-primary" type="button" id="process">Process @pendingCount Pending Events Now</button>
    </div>
  <h2> Showing @applied.size (page @{page + 1}) </h2>
  @pagination(page, pageCount)
  <table class = "table table-bordered">
  <tr>
    <th>#</th>
    <th>Time</th>
    <th>IDs</th>
    <th>URLs</th>
    <th>Normalizations</th>
  </tr>
  
  @applied.zipWithIndex.map{ case ((oldUri, newUri, time), i) =>
    <tr>
      <th rowspan="2"> @{applied.size - i} </th>
      <th rowspan="2"> @time </th>
      <td>@oldUri.id</td> <td><a href = "@oldUri.url">@oldUri.url</td><td>@oldUri.normalization.map(_.scheme)</td>
    </tr>
    <tr>
      <td>@newUri.id</td> <td><a href = "@newUri.url" >@newUri.url</td><td>@newUri.normalization.map(_.scheme)</td>
  </tr>
    
  }

  </table>

}

<script>
  $("#process").click(function() {
    $.get("@com.keepit.controllers.admin.routes.UrlController.batchMerge");
    location = "@com.keepit.controllers.admin.routes.UrlController.normalizationView(0)";
  });
</script>
