@(
orgAnalyticsCards: Map[Id[Organization], AnalyticsOrganizationCard],
fakeOwnerId: Id[User],
candidatesInfos: Map[Id[Organization], Map[Id[User], OrganizationMembershipInfo]]
)(implicit request: com.keepit.common.controller.UserRequest[_])

@orgDisplay(orgId: Id[Organization]) = {
    <a href="@com.keepit.controllers.admin.routes.AdminOrganizationController.organizationViewById(orgId)">@orgId</a>
}

@admin(orgAnalyticsCards.size + " organizations", stylesheets = List("admin_user")) {
<table class="orgs-summary table table-bordered">
    <tr><th>Id</th>
        <th>Public Id</th>
        <th>Name</th>
        <th>Number of Members</th>
        <th>Number of Membership Candidates</th>
        <th>Number of Libraries</th>
    </tr>
    @for(orgId <- orgAnalyticsCards.keys.toSeq.sorted) {
        <tr>
            <td>@orgDisplay(orgId)</td>
            <td>@orgAnalyticsCards(orgId).orgCard.orgId.id</td>
            <td>@orgAnalyticsCards(orgId).orgCard.name</td>
            <td>@orgAnalyticsCards(orgId).orgCard.numMembers</td>
            <td>@candidatesInfos(orgId).size</td>
            <td>@orgAnalyticsCards(orgId).orgCard.numLibraries</td>
        </tr>
    }
</table>
<form action="#" method="POST" class="form-inline create-org">
    <input id="create-org-owner-id-input" type="text" name="owner-id" value="@fakeOwnerId" placeholder="Creater Id (default @fakeOwnerId)">
    <input id="create-org-input" type="text" name="name" placeholder="Organization Name">
    <input type="Submit" value="Create">
</form>
<script type="text/javascript">
    $(function() {
      $('.create-org').on("submit", function() {
        $.post("@com.keepit.controllers.admin.routes.AdminOrganizationController.createOrganization()", $('.create-org').serialize())
        .done(function(data) {
          alert("Added an organization: " + data);
        }).fail(function(data) {
          alert("Bad Request: " + data.responseText);
        });
        return false;
      });
    });
</script>
}
