@(orgAnalyticsCards: Map[Id[Organization], AnalyticsOrganizationCard],
candidatesInfos: Map[Id[Organization], Map[Id[User], OrganizationMembershipInfo]]
)(implicit request: com.keepit.common.controller.UserRequest[_])

@orgDisplay(orgId: Id[Organization]) = {
    <a href="@com.keepit.controllers.admin.routes.AdminOrganizationController.organizationViewById(orgId)">@orgId</a>
}

@admin(orgAnalyticsCards.size + " organizations", stylesheets = List("admin_user")) {
<table class="orgs-summary table table-bordered">
    <tr><th>Id</th>
        <th>Name</th>
        <th>Number of Members</th>
        <th>Number of Membership Candidates</th>
        <th>Number of Libraries</th>
    </tr>
    @for((orgId, acard) <- orgAnalyticsCards) {
        <tr>
            <td>@orgDisplay(acard.orgCard.orgId)</td>
            <td>@acard.orgCard.name</td>
            <td>@acard.orgCard.numMembers</td>
            <td>@candidatesInfos(orgId).size</td>
            <td>@acard.orgCard.numLibraries</td>
        </tr>
    }
</table>
}
