@(pageInfo:PageInfo)(implicit request: com.keepit.common.controller.UserRequest[_])

@admin("PageInfo") {

  <table class="table table-striped">
    <tr>
        <th>Id</th><td>@pageInfo.id.get</td>
    </tr>
    <tr>
        <th>Created At</th><td>@pageInfo.createdAt</td>
    </tr>
    <tr>
        <th>Updated At</th><td>@pageInfo.updatedAt</td>
    </tr>
    <tr>
        <th>State</th><td>@pageInfo.state</td>
    </tr>
    <tr>
        <th>URI Id</th><td>@pageInfo.uriId</td>
    </tr>
    <tr>
        <th>Safe</th>
        <td>
            @if(pageInfo.safe){
              @pageInfo.safe
            }else{
              <b>@pageInfo.safe</b>
            }
        </td>
    </tr>
    <tr>
        <th>Title</th><td>@pageInfo.title</td>
    </tr>
    <tr>
        <th>Language</th><td>@pageInfo.lang</td>
    </tr>
    <tr>
        <th>Description</th><td>@pageInfo.description</td>
    </tr>
    <tr>
        <th>favicon</th><td><img src="@pageInfo.faviconUrl" width="50" height="50" alt="no favicon"/></td>
    </tr>
    <tr>
        <th>Image Id</th><td>@pageInfo.imageInfoId</td>
    </tr>
  </table>

}
