@(pageInfos:Seq[PageInfo])

@admin("PageInfos") {

  <table class="table table-striped">
    <th><tr><td>Id</td><td>state</td><td>URI ID</td><td>title</td><td>safe</td><td>lang</td><td>favicon</td><td>ImageInfo ID</td></tr></th>
    @for(page <- pageInfos){
      <tr>
          <td><a href="@com.keepit.controllers.admin.routes.AdminPageInfoController.pageInfo(page.id.get)">@page.id.get</a></td>
          <td>@page.state</td>
          <td>@page.uriId</td>
          <td>@page.title</td>
          <td>
            @if(page.safe){
              @page.safe
            }else{
              <b>@page.safe</b>
            }
          </td>
          <td>@page.lang</td>
          <td><img src="@page.faviconUrl" width="50" height="50" alt="no favicon"/></td>
          <td>@page.imageInfoId</td>
      </tr>
    }
  </table>

}