@import com.keepit.payments.{ AdminPaymentsDashboard, DollarAmount, History }

@(dash: AdminPaymentsDashboard)(implicit request: com.keepit.common.controller.UserRequest[_])

@formatDiff[A](h: History[A])(implicit n: Numeric[A]) = {
    @if(n.compare(h.cur, h.old) > 0)  { @h.cur (<span class="positive-diff">+@n.minus(h.cur, h.old)</span>) }
    @if(n.compare(h.cur, h.old) < 0)  { @h.cur (<span class="negative-diff">@n.minus(h.cur, h.old)</span>) }
    @if(n.compare(h.cur, h.old) == 0) { @h.cur }
}


@views.html.admin.admin(s"Payments Dashboard (comparing to ${dash.diffPeriod} ago)", stylesheets = List("admin_user", "payments_dashboard"), scripts = List("typeahead.bundle.min")) {
    <h1>We are making ~@formatDiff(dash.totalAmortizedIncomePerMonth) a month</h1>

    <table class="table table-condensed table-striped">
        <thead>
        <th>Credit Changes</th><th>RewardsGranted</th><th>Charges</th>
        </thead>
        <tbody>
        <tr>
            <td>@formatDiff(dash.creditChanges)</td>
            <td>@formatDiff(dash.rewardsGranted.map(_.values.sum))</td>
            <td>@formatDiff(dash.chargesMade)</td>
        </tr>
        </tbody>
    </table>

    <h3>Paid plans breakdown</h3>
    <table class="table table-condensed table-striped">
        <thead>
        <th>Plan</th><th>Number of Accounts</th><th>Number of Active Users</th>
        </thead>
        <tbody>
        @for(plan <- dash.plans) {
        <tr>
            <td>@{plan.fullName}</td>
            <td>@formatDiff(dash.planEnrollment.map(_.apply(plan).numAccounts))</td>
            <td>@formatDiff(dash.planEnrollment.map(_.apply(plan).numActiveUsers))</td>
        </tr>
        }
        </tbody>
    </table>

    <h3>Rewards breakdown</h3>
    <table class="table table-condensed table-striped">
        <tbody>
        @for(kind <- dash.rewardsGranted.cur.keySet) {
        <tr>
            <td>@kind</td>
            <td>@formatDiff(dash.rewardsGranted.map(_.apply(kind)))</td>
        </tr>
        }
        </tbody>
    </table>

    @if(dash.frozenAccounts.nonEmpty) {
    <h2>Frozen Accounts!</h2>
    <ul>
        @for(account <- dash.frozenAccounts) {
            <li>
                @adminHelper.orgDisplay(account.organization)
            </li>
        }
    </ul>
    }

    @if(dash.failedAccounts.nonEmpty) {
    <h2>Some accounts have failed their most recent payment</h2>
    <ul>
        @for(account <- dash.failedAccounts) {
            <li>
                @adminHelper.orgDisplay(account.organization)
            </li>
        }
    </ul>
    }

}
