@import com.keepit.controllers.admin.AdminPaymentsDashboard
@import com.keepit.common.controller.PaginatedRequest

@(dash: AdminPaymentsDashboard)(implicit request: com.keepit.common.controller.UserRequest[_])

@views.html.admin.admin("Payments Dashboard", stylesheets = List("admin_user"), scripts = List("typeahead.bundle.min")) {

    <h1>We are making @{dash.totalAmortizedIncomePerMonth.cur.toDollarString} a month (from @{dash.totalAmortizedIncomePerMonth.old.toDollarString})</h1>

    <table class="table table-condensed table-striped">
        <thead>
        <th>Plan</th><th>Number of Accounts</th><th>Number of Active Users</th>
        </thead>
        <tbody>
        @for((plan, enrollmentHistory) <- dash.planEnrollment) {
        <tr>
            <td>@{plan.displayName}</td>
            <td>@{enrollmentHistory.cur.numAccounts} (from @{enrollmentHistory.old.numAccounts})</td>
            <td>@{enrollmentHistory.cur.numActiveUsers} (from @{enrollmentHistory.old.numActiveUsers})</td>
        </tr>
        }
        </tbody>
    </table>

    @if(dash.frozenAccounts.nonEmpty) {
    <h2>Frozen Accounts!</h2>
    <ul>
        @for(account <- dash.frozenAccounts) {
            <li>
                @adminHelper.orgDisplay(account.organization)
            </li>
        }
    </ul>
    }

    @if(dash.failedAccounts.nonEmpty) {
    <h2>Some accounts have failed their most recent payment</h2>
    <ul>
        @for(account <- dash.failedAccounts) {
            <li>
                @adminHelper.orgDisplay(account.organization)
            </li>
        }
    </ul>
    }
}
