@(rekeeps:Seq[(com.keepit.model.RichReKeep, Option[String])], showImage:Boolean, page:Int, rekeepsCount:Int, pageSize:Int)(implicit request: com.keepit.common.controller.UserRequest[_])

@otherPagesRoute(page:Int) = {@com.keepit.controllers.admin.routes.AdminAttributionController.rekeepsView(page, pageSize, showImage)}

@admin(rekeepsCount + " Re-Keeps") {

    <h2>Showing @rekeeps.length ReKeeps (page @(page + 1))</h2>

    <ul>
        <li>The following shows a <i>global</i> list of recognized <i>rekeep</i> events.</li>
        <li>See the <a href="@com.keepit.controllers.admin.routes.AdminAttributionController.keepDiscoveriesView(0,50,false)">Keep Discoveries page</a> for more information.</li>
    </ul>

    @adminHelper.pagination(page, rekeepsCount, pageSize, otherPagesRoute _) {
        <table class="table table-striped">
            <th><tr>
                <td>Id</td>
                <td>Date</td>
                <td>keeper</td>
                <td>keep</td>
                <td>Re-keeper</td>
                <td>Re-keep</td>
                <td>attr_factor (1/n)</td>
                <td>uriId</td>
                <td>title</td>
                @if(showImage){ <td>image</td> }
            </tr></th>
            @for((rekeep, keepImageOpt) <- rekeeps){
            <tr>
                <td>@rekeep.id</td>
                <td>@adminHelper.dateDisplay(rekeep.createdAt)</td>
                <td>@adminHelper.userDisplay(rekeep.keeper)</td>
                <td>@rekeep.keep.id.get</td>
                <td>@adminHelper.userDisplay(rekeep.srcUser)</td>
                <td>@rekeep.srcKeep.id.get</td>
                <td>@rekeep.attributionFactor</td>
                <td>@rekeep.uri.id</td>
                <td><a href="@rekeep.uri.url">@if(rekeep.uri.title.getOrElse("").trim.nonEmpty){ @rekeep.uri.title } else { @rekeep.uri.url }</a></td>
                @keepImageOpt.map { imageUrl => { <td><img src="@imageUrl" width="50" height="50" alt="no image" /></td> } }
            </tr>
            }
        </table>
    }

}
