@(renorms: Seq[(String, String, String, String)], page: Int, totalCount: Int, pageCount: Int, maxPageSize: Int)(implicit request: com.keepit.common.controller.UserRequest[_])

@pagination(page: Int, pageCount: Int) = {
  <div class="pagination pagination-centered pagination-mini">
    <ul>
      <li>
        @if(page > 0) {
          <a href="@com.keepit.controllers.admin.routes.UrlController.renormalizationView(page - 1)">
        } else {
         <a href="#">
        }
        Prev
        </a>
      </li>
      @for(i <- 0 to (pageCount - 1)) {
        @if(i == page) {
          <li class="disabled">
            <a href="@com.keepit.controllers.admin.routes.UrlController.renormalizationView(i)">@{i + 1}</a>
          </li>
        } else {
          <li class="active">
            <a href="@com.keepit.controllers.admin.routes.UrlController.renormalizationView(i)">@{i + 1}</a>
          </li>
        }
      }
      <li>
        @if(renorms.size > 0) {
          <a href="@com.keepit.controllers.admin.routes.UrlController.renormalizationView(page + 1)">
        } else {
         <a href="#">
        }
        Next
        </a>
      </li>
    </ul>
  </div>
}

@admin(totalCount + " URL Renormalization Events"){

  <h2> Showing @renorms.size (page @{page + 1}) </h2>

  @pagination(page, pageCount)
  <table class = "table table-bordered" style="table-layout:fixed; word-wrap: break-word">
  <col width = "5%"><col width = "10%"><col width = "10%"><col width="75%">
  <tr>
    <th>#</th>
    <th>state</th>
    <th>fields</th>
    <th>URLs</th>
  </tr>

  @renorms.zipWithIndex.map{ case ((state, url, oldUri, newUri), i) =>
    <tr>
      <th rowspan="3"> @i </th>
      <th rowspan="3"> @state </th>
      <th>original url</th> <td><a href = "@url" >@url</td>
    </tr>

    <tr>
      <th>previous uri</th> <td><a href = "@oldUri" >@oldUri</td>
    </tr>
    <tr>
      <th>current uri</th> <td><a href = "@newUri" >@newUri</td>
    </tr>
  }

  </table>

}
