@(user: User, configs: Seq[(String, String)])

@paramValue(parameter: String, value: String, description: Option[String]) = {
  <tr> <td>@parameter</td> <td><input type="text" name="@{parameter}" value="@{value}"></td><td>@description.getOrElse("")</td> </tr>
}

@admin("Search Configuration") {
  <h2>@user.firstName @user.lastName</h2>
  <form action="@com.keepit.controllers.admin.routes.AdminSearchConfigController.setUserConfig(user.id.get)" method="POST" class="form-inline">
    <table class="table table-bordered">
      <tr> <th>Parameter</th><th>Value</th><th>Description</th> </tr>
      @configs.map{ case (p, v) => @paramValue(p, v, com.keepit.search.SearchConfig.getDescription(p)) }
    </table>
    <button type="submit" class="btn">Update</button>
  </form>
  <form action="@com.keepit.controllers.admin.routes.AdminSearchConfigController.resetUserConfig(user.id.get)" method="GET" class="form-inline">
     <button type="submit" class="btn">Revert To Defaults</button><br/>
  </form>
}
