
@admin("Search Performance", scripts = List("graphite")) {

<div align="right" class="form-horizontal">
  <select class="input-medium params" id="timerange"></select>
  <button class="btn btn-primary" type="button" id="update">Update Now</button>
</div>

<div align="center">
<figure>
<img id="mainSearch">
<figcaption><font size="5">Main Search Performance</font></figcaption>
</fiugre>
<select class="input-medium params" id="metric"></select>
<select class="input-medium params" id="yscale"></select>
</div>

<div align="center">
<figure>
<img id="extSearch">
<figcaption><font size="5">Ext Search Performance</font></figcaption>
</fiugre>
<select class="input-medium params" id="metric2"></select>
<select class="input-medium params" id="yscale2"></select>
</div>


<script>

  var timeranges = {
    "10 Minutes": "-0h10min",
    "30 Minutes": "-0h30min",
    "1 Hour": "-1h",
    "3 Hours": "-3h",
    "6 Hours": "-6h",
    "12 Hours": "-12h",
    "24 Hours": "-24h",
    "48 Hours": "-48h",
    "1 Week": "-1w",
    "2 Weeks": "-2w",
    "1 Month": "-1mon",
    "3 Months": "-3mon"
  };

  $.each(timeranges, function (name, timerange) {
    $("#timerange").append($("<option>").val(timerange).text(name));
  });
  $("#timerange").find('option[value="-12h"]').prop('selected',true)

  //make offsets so log will always work
  var metrics = {
    "mainSearch total" : "offset(stats.timers.search.mainSearch.total.mean_99, 1.0)",
    "social graph info" : "offset(stats.timers.search.mainSearch.socialGraphInfo.mean_99, 1.0)",
    "get clickboost" : "offset(stats.timers.search.mainSearch.getClickboost.mean_99, 1.0)",
    "query parsing" : "offset(stats.timers.search.mainSearch.queryParsing.mean_99, 1.0)",
    "personalized searcher" : "offset(stats.timers.search.mainSearch.personalizedSearcher.mean_99, 1.0)",
    "Lucene Search" : "offset(stats.timers.search.mainSearch.LuceneSearch.mean_99, 1.0)",
    "processHits" : "offset(stats.timers.search.mainSearch.processHits.mean_99, 1.0)"
  };

  var yscales = {
    "Linear Scale": "linear",
    "log": "log"
  };

  $.each(metrics, function (name, metric) {
    $("#metric").append($("<option>").val(metric).text(name));
  });

  $.each(yscales, function (name, scale) {
    $("#yscale").append($("<option>").val(scale).text(name));
  });

  var metrics2 = {
    "ext search total": "offset(stats.timers.search.extSearch.total.mean_99, 1.0)",
    "search factory": "offset(stats.timers.search.extSearch.factory.mean_99, 1.0)",
    "mainSearch": "offset(stats.timers.search.extSearch.searching.mean_99, 1.0)",
    "postsearch": "offset(stats.timers.search.extSearch.postSearchTime.mean_99, 1.0)"
  };

  var yscales2 = {
    "Linear Scale": "linear",
    "log": "log"
  };

  $.each(metrics2, function (name, metric) {
    $("#metric2").append($("<option>").val(metric).text(name));
  });

  $.each(yscales2, function (name, scale) {
    $("#yscale2").append($("<option>").val(scale).text(name));
  });

  var options = $.fn.graphite.defaults = {
    url: "https://www.hostedgraphite.com/a3d638f9/b4e709e5-45b0-4b89-904b-a6cc7e517e04/graphite/render/",
    lineMode: "connected",
    width: 1200,
    height: 600
  };

  function renderChart(chart) {
    var baseTargets = ["drawAsInfinite(stats.counters.{shoebox,search}.deploys.count), 1.0)"];
    var baseTargetsForLogScale = []

    options.from = $("#timerange").val();
  
    if (chart == "mainSearch") {
      options.target = ($("#yscale").val() == "log" ? baseTargetsForLogScale : baseTargets).concat([$("#metric").val()])
      options.logBase = $("#yscale").val() == "log" ? 2 : null;
    }

    if (chart == "extSearch") {
      options.target = ($("#yscale").val() == "log" ? baseTargetsForLogScale : baseTargets).concat([$("#metric2").val()])
      options.logBase = $("#yscale2").val() == "log" ? 2 : null;
    }

    $("#" + chart).graphite(options);
  }

  function renderAll() {
    renderChart("mainSearch")
    renderChart("extSearch")
  }

  $(".params").change(renderAll);
  $("#update").click(renderAll);
  setInterval(renderAll, 300000);
  renderAll()
</script>
}
