
@admin("Search Performance", scripts = List("graphite")) {

<div align="right" class="form-horizontal">
  <select class="input-medium params" id="timerange"></select>
  <button class="btn btn-primary" type="button" id="update">Update Now</button>
</div>

<div align="center">
  <p><img id="mainSearch"></p>
  <select class="input-medium params" id="yscale"></select>
</div>

<div align="center">
  <p><img id="extSearch"></p>
  <select class="input-medium params" id="yscale2"></select>
</div>

<div align="center">
  <p><img id="articleIndex" class="img-polaroid"></p>
</div>

<div align="center">
  <p><img id="bookmarkIndex" class="img-polaroid"></p>
</div>

<div align="center">
  <p><img id="collectionIndex" class="img-polaroid"></p>
</div>


<div align="center">
  <p><img id="otherIndex" class="img-polaroid"></p>
</div>


<script>

  var timeranges = {
    "10 Minutes": "-0h10min",
    "30 Minutes": "-0h30min",
    "1 Hour": "-1h",
    "3 Hours": "-3h",
    "6 Hours": "-6h",
    "12 Hours": "-12h",
    "24 Hours": "-24h",
    "48 Hours": "-48h",
    "1 Week": "-1w",
    "2 Weeks": "-2w",
    "1 Month": "-1mon",
    "1 Month": "-1mon",
    "3 Months": "-3mon"
  };

  $.each(timeranges, function (name, timerange) {
    $("#timerange").append($("<option>").val(timerange).text(name));
  });
  $("#timerange").find('option[value="-12h"]').prop('selected',true)


  var yscales = {
    "Linear Scale": "linear",
    "log": "log"
  };

  $.each(yscales, function (name, scale) {
    $("#yscale").append($("<option>").val(scale).text(name));
  });

  var yscales2 = {
    "Linear Scale": "linear",
    "log": "log"
  };

  $.each(yscales2, function (name, scale) {
    $("#yscale2").append($("<option>").val(scale).text(name));
  });

  var options = $.fn.graphite.defaults = {
    url: "https://www.hostedgraphite.com/a3d638f9/b4e709e5-45b0-4b89-904b-a6cc7e517e04/graphite/render/",
    lineMode: "connected",
    width: 1200,
    height: 600
  };

  function renderChart(chart) {
    var baseTargets = ['alias(drawAsInfinite(stats.counters.search.deploys.count),"Search Deploys")','alias(drawAsInfinite(stats.counters.shoebox.deploys.count),"Shoebox Deploys")'];
    var baseTargetsForLogScale = []

    options.from = $("#timerange").val();

    if (chart == "mainSearch") {
      options.title = "Main Search Performance"
      //make offsets so log will always work
      options.target = ($("#yscale").val() == "log" ? baseTargetsForLogScale : baseTargets).concat("offset(stats.timers.search.mainSearch.*.mean_99,0.1)")
      options.logBase = $("#yscale").val() == "log" ? 2 : null;
    }

    if (chart == "extSearch") {
      options.title = "Ext Search Performance"
      //make offsets so log will always work
      options.target = ($("#yscale2").val() == "log" ? baseTargetsForLogScale : baseTargets).concat("offset(stats.timers.search.extSearch.*.mean_99,0.1)")
      options.logBase = $("#yscale2").val() == "log" ? 2 : null;
    }

    if (chart == "articleIndex") {
      options.title = "Article Index"
      options.target = baseTargetsForLogScale.concat("stats.gauges.search.index.article_*.size")
      options.logBase = 2
    }

    if (chart == "bookmarkIndex") {
      options.title = "Bookmark Index"
      options.target = baseTargetsForLogScale.concat(["stats.gauges.search.index.bookmarkStore_*.size", "stats.gauges.search.index.urigraph_*.size"])
      options.logBase = 2
    }

    if (chart == "collectionIndex") {
      options.title = "Collection Index"
      options.target = baseTargetsForLogScale.concat(["stats.gauges.search.index.collectionName_*.size", "stats.gauges.search.index.collection_*.size"])
      options.logBase = 2
    }

    if (chart == "otherIndex") {
      options.title = "Other Indices"
      options.target = baseTargetsForLogScale.concat(
        ["stats.gauges.search.index.user.size", "stats.gauges.search.index.message.size",
        "stats.gauges.search.index.userGraph.size", "stats.gauges.search.index.searchFriend.size"]
      )
      options.logBase = 2
    }

    $("#" + chart).graphite(options);
  }

  function renderAll() {
    renderChart("mainSearch")
    renderChart("extSearch")
    renderChart("articleIndex")
    renderChart("bookmarkIndex")
    renderChart("collectionIndex")
    renderChart("otherIndex")
  }

  $(".params").change(renderAll);
  $("#update").click(renderAll);
  setInterval(renderAll, 300000);
  renderAll()
</script>
}
