@(experiments: Seq[com.keepit.search.SearchConfigExperiment], defaultParams: Map[String,String])
@import com.keepit.common.db.Id
@import com.keepit.controllers.admin.routes.AdminSearchConfigController

@paramValue(parameter: String, value: String, description: Option[String], editable: Boolean, showDefault: Boolean) = {
  <tr>
    <td>@parameter</td>
    <td>
      @if(editable) {
        <input type="text" size="10" class="search-param" name="@parameter" value="@value">
      } else {
        <input type="hidden" class="search-param" name="@parameter" value="@value">@value
      }
      @if(showDefault) { (default @{defaultParams.get(parameter)}) }
    </td>
    <td>@description.getOrElse("")</td>
  </tr>
}

@admin("Search Experiments",
    scripts = List("d3-2.10.3", "experiment_charts"),
    stylesheets = List("admin_search_config")) {
  <h2>Experiment config</h2>
  <ul class="experiments">
    @experiments.map { experiment =>
    <li class="@if(experiment.isActive) { active-experiment }" data-id="@experiment.id">
      <div class="experiment-desc">
        <input class="experiment-description" value="@experiment.description">
        @if(experiment.isRunning) {
          <button type="button" class="btn pause-experiment">Pause</button>
          [Started at <em>@experiment.startedAt.map(adminHelper.dateTimeDisplay(_))</em>]
        }
        @if(experiment.isStartable) {
          <button type="button" class="btn start-experiment">Start</button>
        }
        <div class="basic-settings">
          <strong><input class="experiment-weight" value="@{(experiment.weight * 100).toInt}">%</strong>
          <button class="btn show-settings">Show settings</button>
          <button class="btn show-chart">Show chart</button>
          <button type="button" class="btn update-experiment">Update</button>
          <button type="button" class="btn delete-experiment">Delete</button>
        </div>
      </div>
      <div class="charts">
        <div class="experiment-chart">
          <h3 class="chart-title">Kifi vs. Google</h3>
          <div class="growth-chart"
            data-uri="@AdminSearchConfigController.getKifiVsGoogle(experiment.id.get)"></div>
        </div>
        <div class="experiment-chart">
          <h3 class="chart-title">Kifi had results</h3>
          <div class="growth-chart"
            data-uri="@AdminSearchConfigController.getKifiHadResults(experiment.id.get)"></div>
        </div>
      </div>
      <table class="table table-bordered experiment-settings">
        <tr> <th>Parameter</th><th>Value</th><th>Description</th> </tr>
        @defining((experiment.config.params.toSet -- defaultParams.toSet).toSeq.sortBy(_._1)) { nonDefaults =>
          @nonDefaults.map { case (p, v) =>
            @paramValue(p, v, com.keepit.search.SearchConfig.getDescription(p), experiment.isEditable, true)
          }
          @{(defaultParams -- nonDefaults.map(_._1)).toSeq.sortBy(_._1).map { case (p, v) =>
            paramValue(p, v, com.keepit.search.SearchConfig.getDescription(p), experiment.isEditable, false)
          }}
        }
      </table>
    </li>
    }
    <li class="default">
      <div class="experiment-desc">
        <strong>Default Values</strong>
        <div class="basic-settings">
          <button class="btn show-settings">Show settings</button>
          <button class="btn show-chart">Show chart</button>
        </div>
      </div>
      <div class="charts">
        <div class="experiment-chart">
          <h3 class="chart-title">Kifi vs. Google</h3>
          <div class="growth-chart" data-uri="@AdminSearchConfigController.getKifiVsGoogle(Id(0))"></div>
        </div>
        <div class="experiment-chart">
          <h3 class="chart-title">Kifi had results</h3>
          <div class="growth-chart" data-uri="@AdminSearchConfigController.getKifiHadResults(Id(0))"></div>
        </div>
      </div>
      <table class="table table-bordered experiment-settings">
        <tr> <th>Parameter</th><th>Value</th><th>Description</th> </tr>
        @defaultParams.map { case (p, v) =>
          @paramValue(p, v, com.keepit.search.SearchConfig.getDescription(p), false, false)
        }
      </table>
    </li>
  </ul>
  <button type="button" class="btn" id="save-all-experiments">Save All Changes</button>
  <button type="submit" class="btn" id="add-new-experiment">Add New Experiment</button><br/>
}
<script>
$(function() {
  function updateExperiment(element, callback) {
    var $li = $(element).closest("li");
    var data = {
      id: +$li.data("id"),
      description: $li.find(".experiment-description").val(),
      weight: (parseFloat($li.find(".experiment-weight").val()) || 0) / 100
    };
    if ($(element).hasClass("pause-experiment")) {
      data["state"] = "paused";
    } else if ($(element).hasClass("start-experiment")) {
      data["state"] = "active";
    }
    $li.find(".search-param").each(function() {
      data["param_" + $(this).attr("name")] = $(this).val();
    });
    $.post("@AdminSearchConfigController.updateExperiment()", data, callback);
  }

  $(".experiments").on("change", ".experiment-weight", function() {
    var max = 100;
    $(".experiment-weight").not(this).each(function() {
      max -= parseFloat($(this).val()) || 0;
    });
    var value = parseFloat($(this).val()) || 0;
    $(this).val(Math.min(value, max));
  });
  $(".experiments").on("click", ".delete-experiment", function() {
    var $li = $(this).closest("li")
    var data = {
      id: +$li.data("id")
    };
    $.post("@AdminSearchConfigController.deleteExperiment()", data, function() {
      window.location.reload();
    });
  });
  $(".experiments").on("click", ".update-experiment, .pause-experiment, .start-experiment", function() {
    updateExperiment(this, function() {
      window.location.reload();
    });
  });
  $(".experiments").on("click", ".show-settings", function() {
    $(this).closest("li").find(".experiment-settings").toggle();
  });
  $(".experiments").on("click", ".show-chart", function() {
    $(this).closest("li").find(".experiment-chart").toggle();
  });
  $("#save-all-experiments").on("click", function() {
    var updating = 0;
    $(".experiments").find(".update-experiment").each(function() {
      updating++;
      updateExperiment(this, function() {
        console.log(updating);
        if (!--updating) window.location.reload();
      });
    });
    $(this).closest("li").find(".experiment-settings").toggle();
  });
  $("#add-new-experiment").on("click", function() {
    $.post("@AdminSearchConfigController.addNewExperiment()", function() {
      window.location.reload();
    });
  });
});
</script>
