@()

@admin("Semantic Vector"){
  <div><strong>Semantic Context Analysis</strong></div>
  <div>Enter a query, check how subsets of terms preserve semantic similarity</div>
  <form id = "context">
    <div>
      <input id = "query" type = "text" value = "">

      <select id = "subsetLevel">
        <option value="leaveOneOut">Leave One Out</option>
        <option value="allSubsets">All Subsets</option>
      </select>

      <select id = "stem">
        <option value="true">Stem</option>
        <option value="false">No Stem</option>
      </select>

      <select id = "sketch">
        <option value="true">Use Sketch</option>
        <option value="false">Use Bits</option>
      </select>

      <button type = "submit">submit</button>
    </div>
  </form>
  <p id = "result"></p>

  <br><br><br>


  <div><strong>Similarity Analysis</strong></div>
  <div>Check semantic similarity of words or phrases</div>
  <form id = "similarity">
    <div>
      <input id = "query1" type = "text" value = "">
      <input id = "query2" type = "text" value = "">

      <select id = "stem2">
        <option value="true">Stem</option>
        <option value="false">No Stem</option>
      </select>

      <button type = "submit">submit</button>
    </div>
   </form>
   <p id = "similarScore"></p>


   <div><strong>Semantic Vector Visualization</strong></div>
  <div>Compare semantic vectors of two words or phrases</div>
  <form id = "visualize">
    <div>
      <input id = "visualQuery1" type = "text" value = "">
      <input id = "visualQuery2" type = "text" value = "">
      <button type = "submit">submit</button>
    </div>
   </form>
   <p id = "visualizeResult"></p>



<script type="text/javascript">

  $(document).ready(function(){

    <!-- context analysis -->

    $("#context").submit(function(){
      event.preventDefault();
      $.post('@com.keepit.controllers.admin.routes.AdminSemanticVectorController.analysis',
        {query: $("#query").val(), subsetLevel: $("#subsetLevel").val(),
        stem: $("#stem").val(), sketch: $("#sketch").val()}
      ).done(done).fail(fail);

        function done(data) { $("#result").empty().prepend(data) }
        function fail() { alert("bad") }
    })

    <!-- similarity -->

    $("#similarity").submit(function(){
      event.preventDefault();
      $.post('@com.keepit.controllers.admin.routes.AdminSemanticVectorController.similarity',
        {query1: $("#query1").val(), query2: $("#query2").val(), stem: $("#stem2").val()}
      ).done(done).fail(fail);

      function done(data) { $("#similarScore").empty().prepend(data) }
      function fail() { alert("bad") }

    })

    <!-- visualization -->
    $("#visualize").submit(function(){
      event.preventDefault();
      $.post('@com.keepit.controllers.admin.routes.AdminSemanticVectorController.visualize',
      {query1: $("#visualQuery1").val(), query2: $("#visualQuery2").val()}
      ).done(done).fail(fail);

      function done(data) { $("#visualizeResult").empty().prepend(data) }
      function fail() { alert("bad") }
    })

  });
</script>

}
