@(currentService: com.keepit.common.service.ServiceType,
  currentVersion: com.keepit.common.service.ServiceVersion,
  compilationTime: String, started: String, errorCount: Int,
  recentErrors: Seq[com.keepit.common.healthcheck.AirbrakeError],
  cacheStats: Seq[(String, Int, Int, Int, Int)], totalHits: Int, totalMisses: Int, totalSets: Int)

@admin(currentService + " service") {
   <table class="table table-bordered">
      <tr>
        <th>Version</th><td>@currentVersion</td>
      </tr>
      <tr>
        <th>Compiled at</th><td>@compilationTime</td>
      </tr>
      <tr>
        <th>Started at</th><td>@started</td>
      </tr>
      <tr>
        <th>Error count (<a href="@com.keepit.controllers.admin.routes.AdminHealthController.resetErrorCount()">reset</a>)</th><td>@errorCount</td>
      </tr>
      <tr>
        <th>Recent errors</th>
        <td>
          @for(e <- recentErrors) {
            @e.id : @e.signature.value
            <br/>
            @Html(e.titleHtml)
            <hr/>
          }
        </td>
      </tr>
      <tr>
        <th>Cache Health</th>
        <td>Since start: @totalHits hits, @totalMisses misses, @totalSets updates
        <table>
          <thead>
            <tr>
              <td>Name</td>
              <td>Hits</td>
              <td>Misses</td>
              <td>Sets</td>
              <td>%(misses / (hits + misses, sets))</td>
            </tr>
          </thead>
          <tbody>
          @for(stat <- cacheStats) {
            <tr>
              <th>@stat._1</th>
              <td>@stat._2</td>
              <td>@stat._3</td>
              <td>@stat._4</td>
              <td>@{stat._5}%</td>
            </tr>
          }
          </tbody>
        </table>
        </td>
      </tr>
  </table>
}
