@(groupName: String, rules: Map[String, SliderRule])

@checkbox(name: String) = {
  <input type="checkbox" class="checkbox" name="@name" @if(rules(name).isActive) {checked}>
}

@admin("Keeper Rules", stylesheets = List("admin_slider")) {
<h3>Rules for Automatic Engagement (Friends Who Kept)</h3>

<div><span class="label">Note:</span> Changes take effect immediately for all kifi users when you click <b>Save</b> below.</div>

<form class="slider-rules" action="@com.keepit.controllers.admin.routes.SliderAdminController.saveRules" method="POST">
  <input type="hidden" name="group" value="@groupName">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Enabled
        <th>Show
        <th>Rule
        <th>Notes/Parameters
    </thead>
    <tr>
      <td>&check;
      <td class="n">
      <td>clicked never for this site
      <td>hides keeper entirely
    <tr>
      <td>&check;
      <td class="n">
      <td>sensitive domain
      <td>hides keeper entirely
    <tr>
      <td>@checkbox("url")
      <td class="n">
      <td>URL pattern
      <td><a href="@com.keepit.controllers.admin.routes.SliderAdminController.getPatterns">view patterns</a>
    <tr>
      <td>@checkbox("shown")
      <td class="n">
      <td>shown recently (~90 days)
      <td>
    <tr>
      <td>&check;
      <td class="n">
      <td>kept
      <td>
  </table>
  <button type="submit" class="btn btn-primary" data-loading-text="Saving...">Save</button>
  <button type="reset" class="btn">Clear unsaved changes</button>
</form>
}

<script>
$(function() {
  $(".slider-rules").submit(function() {
    $(this).find("button[type=submit]").button("loading");
  });
});
</script>
