@(topics: Seq[TopicName], page: Int, count: Int, pageCount: Int, maxPageSize: Int)

@pagination(page: Int, pageCount: Int) = {
  <div class="pagination pagination-centered pagination-mini">
    <ul>
      <li>
        @if(page > 0) {
          <a href="@com.keepit.controllers.admin.routes.TopicModelController.topicsView(page - 1)">
        } else {
         <a href="#">
        }
        Prev
        </a>
      </li>
      @for(i <- 0 to (pageCount - 1)) {
        @if(i == page) {
          <li class="disabled">
            <a href="@com.keepit.controllers.admin.routes.TopicModelController.topicsView(i)">@{i + 1}</a>
          </li>
        } else {
          <li class="active">
            <a href="@com.keepit.controllers.admin.routes.TopicModelController.topicsView(i)">@{i + 1}</a>
          </li>
        }
      }
      <li>
        @if(topics.size > 0) {
          <a href="@com.keepit.controllers.admin.routes.TopicModelController.topicsView(page + 1)">
        } else {
         <a href="#">
        }
        Next
        </a>
      </li>
    </ul>
  </div>
}

@admin(count + " topics") {
  <h2>showing @topics.size (page @{page + 1})</h2>
  @pagination(page, pageCount)
  <table class="table table-bordered">
    <tr>
      <th>#</th>
      <th>Topic Name</th>
    </tr>
  @for((topic, i) <- topics.zipWithIndex) {
    <tr>
      <td>@{i + 1 + page*maxPageSize }</td>
      <td><div class="topic" data-id="@topic.id.get.id">@topic.topicName </div></td>
    </tr>
  }
  </table>
  @pagination(page, pageCount)
  
  <script type="text/javascript">
    $(function() {
        $('.table').on('click', 'div.topic', function () {
          var $input = $('<input type="text">').addClass('topic').val($(this).text());
          $(this).hide().parent().append($input);
          $input.focus();
        });
        $('.table').on('keydown', 'input.topic', function (e) {
          if (e.keyCode === 13) {
            e.preventDefault();
            $(this).blur();
          }
        });
        $('.table').on('change', 'input.topic', function () {
          var $div = $(this).parent().find('div.topic');
          var $td = $div.closest("td");
          var $sp = $("<img src='/assets/images/spinner.15.gif'>").appendTo($td);
          var topicId = $div.data("id");
          $.post('@com.keepit.controllers.admin.routes.TopicModelController.updateTopicName(Id(-1))'
              .replace('-1', topicId), { topicName: $(this).val() }).done(done).fail(fail);
          function done(data) {
            $div.text(data.topicName).show();
            $sp.after($("<i class=icon-ok-sign>").delay(1000).fadeOut()).remove();
          }
          function fail() {
            $sp.after($("<i class=icon-exclamation-sign></i> Error. Reload?").delay(3000).fadeOut()).remove();
          }
          return false;
        });
        $('.table').on('blur', 'input.topic', function () {
          $(this).parent().find('.topic').show();
          $(this).remove();
        });
     });
  </script>
}
