@(topics: Seq[TopicName], page: Int, count: Int, pageCount: Int, maxPageSize: Int)

@pagination(page: Int, pageCount: Int) = {
  <div class="pagination pagination-centered pagination-mini">
    <ul>
      <li>
        @if(page > 0) {
          <a href="@com.keepit.controllers.admin.routes.TopicModelController.topicsView(page - 1)">
        } else {
         <a href="#">
        }
        Prev
        </a>
      </li>
      @for(i <- 0 to (pageCount - 1)) {
        @if(i == page) {
          <li class="disabled">
            <a href="@com.keepit.controllers.admin.routes.TopicModelController.topicsView(i)">@{i + 1}</a>
          </li>
        } else {
          <li class="active">
            <a href="@com.keepit.controllers.admin.routes.TopicModelController.topicsView(i)">@{i + 1}</a>
          </li>
        }
      }
      <li>
        @if(topics.size > 0) {
          <a href="@com.keepit.controllers.admin.routes.TopicModelController.topicsView(page + 1)">
        } else {
         <a href="#">
        }
        Next
        </a>
      </li>
    </ul>
  </div>
}

@admin(count + " topics") {
  <h2>showing @topics.size (page @{page + 1})</h2>
  @pagination(page, pageCount)
  <table class="table table-bordered">
    <tr>
      <th>#</th>
      <th>Topic Name</th>
    </tr>
  @for((topic, i) <- topics.zipWithIndex) {
    <tr>
      <td><a href = "@com.keepit.controllers.admin.routes.TopicModelController.viewTopicDetails(i + 1 + page*maxPageSize)"> @{i + 1 + page*maxPageSize} </a></td>
      <td> @topic.topicName </td>
    </tr>
  }
  </table>
  @pagination(page, pageCount)
  
}
