@(index: Int, topic: TopicName, numDocs: Int, topicWords: String, randArticles: Seq[(Id[NormalizedURI], String)])

@admin("Topic Details") {
  <table class = "topicDetail table table-bordered">
    <tr>
      <th>Index</th> <td>@index</td>
    </tr>
    
    <tr>
      <th>Topic Name</th>
      <td><div class = "topic" data-id="@topic.id.get.id"> @topic.topicName </div></td>
    </tr>
    
    <tr>
      <th>Num docs in topic</th>
      <td>@numDocs</td>
    </tr>
    
    <tr>
      <th>Top words in topic</th>
      <td> 
        <pre>@topicWords</pre>
      </td>
    </tr>
    
    @for((uriId, content) <- randArticles){
     <tr>
      <td><a href="@com.keepit.controllers.admin.routes.ScraperController.getScraped(uriId)"> @uriId.id </td>
      <td><pre> @content </pre></td>
     </tr> 
    }
    
   </table> 
   
   
   <script type="text/javascript">
    $(function() {
        $('.table').on('click', 'div.topic', function () {
          var $input = $('<input type="text">').addClass('topic').val($(this).text());
          $(this).hide().parent().append($input);
          $input.focus();
        });
        $('.table').on('keydown', 'input.topic', function (e) {
          if (e.keyCode === 13) {
            e.preventDefault();
            $(this).blur();
          }
        });
        $('.table').on('change', 'input.topic', function () {
          if ($(this).val().trim() != "") {
            var $div = $(this).parent().find('div.topic');
            var $td = $div.closest("td");
            var $sp = $("<img src='/assets/images/spinner.15.gif'>").appendTo($td);
            var topicId = $div.data("id");
            $.post('@com.keepit.controllers.admin.routes.TopicModelController.updateTopicName(Id(-1))'
                .replace('-1', topicId), { topicName: $(this).val() }).done(done).fail(fail);
            function done(data) {
              $div.text(data.topicName).show();
              $sp.after($("<i class=icon-ok-sign>").delay(1000).fadeOut()).remove();
            }
            function fail() {
              $sp.after($("<i class=icon-exclamation-sign></i> Error. Reload?").delay(3000).fadeOut()).remove();
            }
            return false;
          }
        });
        
        $('.table').on('blur', 'input.topic', function () {
          $(this).parent().find('.topic').show();
          $(this).remove();
        });
     });
  </script>
}