@(
  currentModel: String,
  vocabularySizeA: Int,
  numTopicA: Int,
  vocabularySizeB: Int,
  numTopicB: Int,
  topicCounts: Seq[(String, Int)]
)

@admin("Topic Model Summary") {
  <table class="table table-bordered">
    <tr>
      <th>Current Active Model</th>
      <td>@currentModel</td>
    </tr>
    
    
    <tr>
      <th rowspan="2">Model A info</th>
      <th>vocabulary size</th> <td>@vocabularySizeA</td>
    </tr>
      
    <tr>
      <th>num of topics</th>
      <td>@numTopicA</td>
    </tr>
    
    <tr>
      <th rowspan="2">Model B info</th>
      <th>vocabulary size</th> <td>@vocabularySizeB</td>
    </tr>
      
    <tr>
      <th>num of topics</th>
      <td>@numTopicB</td>
    </tr>
    
    <tr>
      <th>Top Topics</th>
      <td>
      @for( (topicName, count) <- topicCounts){
        <div>@topicName: @count</div>
      }
      </td>
    </tr>
  
  </table>

}
