@(entriesList: Seq[(TwitterWaitlistEntry, Option[TwitterSyncState])]
)(implicit request: com.keepit.common.controller.UserRequest[_])


@admin("Twitter Waitlist", stylesheets = List("admin_user")) {
    <br>

    <h2>Showing All @{entriesList.length} Twitter Waitlist Entries</h2>

    <table class="table table-bordered">
        <tr>
            <th>idx</th>
            <th>Request Time</th>
            <th>State</th>
            <th>Twitter Handle</th>
            <th>User Id</th>
            <th>Accept to Waitlist</th>
            <th>Pulled from Twitter</th>
        </tr>
        @for((entry, i) <- entriesList.zipWithIndex) {
            <tr>
                <td>@{i+1}</td>
                <td>@adminHelper.dateTimeDisplay(entry._1.createdAt)</td>
                <td>@{entry._1.state}</td>
                <td><a href="https://twitter.com/@{entry._1.twitterHandle}">@{entry._1.twitterHandle}</a></td>
                <td><a href="/admin/user/@{entry._1.userId.id}">@{entry._1.userId.id}</a></td>
                <td>@if(entry._1.state.toString == "accepted"){
                    <a href="/admin/twitter/accepted?userId=@{entry._1.userId.id}" target="_blank">View</a>
                }else{
                    <a href="/admin/twitter/accept?handle=@{entry._1.twitterHandle}&userId=@{entry._1.userId.id}" target="_blank">Accept</a>
                }</td>
                <td>@{entry._2.map(_.lastFetchedAt).flatten.map(_.toString).getOrElse("Never")}</td>
            </tr>
        }
    </table>
}

<script type="text/javascript">
</script>
