@(user:User)

@admin("Typeahead Search", stylesheets=List("admin_user")) {

    <h2>Prefix Search</h2>
    <br/>
    <table class="table table-striped">
        <tr>
            <form class="form-inline" method="get" action="@com.keepit.controllers.admin.routes.TypeaheadAdminController.socialSearch(user.id.get)" target="socialSearch_frame">
                <div class="form-group">
                    UserId:<input type="number" name="userId" value="@user.id.get">
                </div>
                <div class="form-group">
                    Prefix:<input type="text" name="search">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Search Social Connections">
                </div>
            </form>
        </tr>
    </table>
    <iframe name="socialSearch_frame" src="@com.keepit.controllers.admin.routes.TypeaheadAdminController.socialSearch(user.id.get)" width="500"/>
    <br/>
}
