@(infos: Seq[com.keepit.cortex.dbmodel.LDAInfo], topicWords: Seq[String], version: Int)(implicit request: com.keepit.common.controller.UserRequest[_])

@admin("unnamed topics"){

<h2>LDA version: @version</h2>
<div>This page shows up to 5 unnamed topics. They are ordered by number of docs in the topic in decreasing order.</div>
<div>For different versions, try /admin/cortex/lda/unamedTopics?version=xyz</div>


<table id = "topic_words_table" class = "table table-bordered">

  <tr>
    <th> id
    <th> num Docs
    <th> words
    <th> topic name
    <th> Is Active
    <th> IsNameable
  <tr/>

  @infos.zip(topicWords).map{ case (info, words) =>
    <tr>
      <td class = "ids"><a href = "@{com.keepit.controllers.admin.routes.AdminLDAController.topicDetail(info.topicId, version)}">@info.topicId</a></td>
      <td>@info.numOfDocs</td>
      <td><pre>@words</pre></td>
      <td class = "tnames"> <input type = "text" value = "@info.topicName"></td>
      <td class = "active"><input type = "checkbox" @if(info.isActive) {checked}> </td>
      <td class = "nameable"><input type = "checkbox" @if(info.isNameable) {checked}> </td>
    </tr>
  }

</table>


<form id = "save_changes">
  <button type = "submit">Save Above Changes</button>
</form>



<script type="text/javascript">

    $(document).ready(function(){
      $.postJson = function (uri, data, done) {
        return $.ajax({
          url: uri,
          type: 'POST',
          dataType: 'json',
          data: JSON.stringify(data),
          contentType: 'application/json',
          success: done || $.noop
        });
      };

      $('#save_changes').submit(function(event){
        event.preventDefault();

        var ids = $(".ids")
        var retIds = []
        for(var j = 0; j < ids.length; j++){
          retIds[j] = $(ids[j]).text()
        }

        var names = $(".tnames")
        var retNames = []
        for(var j = 0; j < names.length; j++){
          retNames[j] = $(names[j]).find("input").val()
        }

        var states = $(".active")
        var retStates = []
        for(var j = 0; j < states.length; j++){
          retStates[j] = $(states[j]).find("input").prop("checked")
        }

        var nameable = $(".nameable")
        var retNameable = []
        for(var j = 0; j < nameable.length; j++){
          retNameable[j] = $(nameable[j]).find("input").prop("checked")
        }

        $.postJson('@com.keepit.controllers.admin.routes.AdminLDAController.saveEdits',
          {topic_ids: retIds, topic_names: retNames, topic_states: retStates, topic_nameable: retNameable, version: @version}
        ).done(done).fail(fail);

        function done(data){ alert("changes saved"); location.reload() }
        function fail() { alert("bad things happened") }


      })

    });

  </script>
}



