@(uri: com.keepit.model.NormalizedURI, articleInfos: Set[com.keepit.rover.model.ArticleInfo], aggregateContent: com.keepit.rover.article.content.ArticleContentExtractor)(implicit request: com.keepit.common.controller.UserRequest[_])

@admin(uri.title.getOrElse("Title Not Found")) {

<h2><a href = "@{com.keepit.controllers.admin.routes.AdminLDAController.similarURIs(uri.id.get)}">similar uris</a></h2>

<table class="table table-bordered">
    <tr>
        <th>URI URL</th><td><a href="@uri.url">@uri.url</a></td>
    </tr>

    <tr>
        <th>External Id</th><td>@uri.externalId</a></td>
    </tr>

    <tr>
        <th>State</th><td>@uri.state</a></td>
    </tr>

    <tr>
        <th>Created At</th><td>@uri.createdAt</a></td>
    </tr>

    <tr>
        <th>Updated At</th><td>@uri.updatedAt</a></td>
    </tr>

    <tr>
        <th>Normalization</th><td>@uri.normalization</a></td>
    </tr>

    <tr>
        <th>Redirect</th><td>@uri.redirect</a></td>
    </tr>

    <tr>
        <th>Redirect Time</th><td>@uri.redirectTime</a></td>
    </tr>

    <tr>
        <th>Restriction</th>
        <td>@uri.restriction.map { restriction =>
            <form class="form-inline" action="@com.keepit.controllers.admin.routes.UrlController.clearRestriction(uri.id.get)" method = "POST">@restriction.context <button type="submit" class="btn">Clear</button></form>
            }.getOrElse {
            <form class="form-inline" action="@com.keepit.controllers.admin.routes.UrlController.flagAsAdult(uri.id.get)" method = "POST"><button type="submit" class="btn">Flag as adult</button></form>
            }</td>
    </tr>

    <tr>
        <th>Aggregate Content</th>
    </tr>

    <tr>
        <th>Title</th><td>@aggregateContent.title.getOrElse("None")</a></td>
    </tr>

    <tr>
        <th>Description</th><td>@aggregateContent.description.getOrElse("None")</a></td>
    </tr>

    <tr>
        <th>Keywords</th><td>@aggregateContent.keywords.mkString(",")</a></td>
    </tr>

    <tr>
        <th>Authors</th><td>@aggregateContent.authors.mkString(",")</a></td>
    </tr>

    <tr>
        <th>Content</th><td>@aggregateContent.content.getOrElse("None")</a></td>
    </tr>

    <tr>
        <th>Published</th><td>@aggregateContent.publishedAt.getOrElse("None")</a></td>
    </tr>

    <tr>
        <th>Content Type</th><td>@aggregateContent.contentType.getOrElse("None")</a></td>
    </tr>


    @for(articleInfo <- articleInfos) {
        <tr>
            <th>Article Kind</th><td>@articleInfo.kind</td>
        </tr>
        <tr>
            <th>Best Version</th><td>@articleInfo.bestVersion.getOrElse("None")</td>
        </tr>
        <tr>
            <th>Latest Version</th><td>@articleInfo.latestVersion.getOrElse("None")</td>
        </tr>
        <tr>
            @*
            <th href="@com.keepit.controllers.admin.routes.UrlController.getArticle(uri.id.get, articleInfo.kind, articleInfo.bestVersion.getOrElse(articleInfo.latestVersion).get)">Best Version Content</th>
            *@
            <th href="@com.keepit.controllers.admin.routes.UrlController.getBestArticle(uri.id.get, articleInfo.kind)">Best Version Content</th>
        </tr>
    }
    </table>
}