@(patterns: Seq[UrlPatternRule], proxies: Seq[HttpProxy])(implicit request: com.keepit.common.controller.UserRequest[_])

@admin("Url Pattern Rules", stylesheets = List("admin_data_integrity")) {
<h3>URLs with specific behavior</h3>

<div><span class="label">Note:</span> Top active rules have higher precedence. Changes take effect immediately (next page load) for all kifi users when you click <b>Save</b> below.</div>

<form class="url-patterns" action="@com.keepit.controllers.admin.routes.UrlController.savePatterns" method="POST">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Active
        <th>Pattern
        <th>Test It
        <th>Do They Match?
        <th>Non Sensitive
        <th>Do Not Scrape
        <th>Scrape via Proxy
        <th>Normalize Url Scheme
        <th>Restrict Normalization
    </thead>
    @for(pattern <- patterns) {
    <tr>
      <td><input type="checkbox" class="checkbox" name="active_@pattern.id.get" @if(pattern.isActive) {checked}>
      <td class="control-group"><input type="text" class="url-pattern" name="pattern_@pattern.id.get" value="@pattern.pattern">
      <td class="control-group"><input type="text" class="url-example" name="example_@pattern.id.get" value="@pattern.example.getOrElse("")">
      <td class="url-match">

      <td><select name="non_sensitive_@pattern.id.get">
        <option name = "None" value = "None" @if(pattern.nonSensitive.isEmpty) {selected}>None
        <option name = "true" value = "true" @if(pattern.nonSensitive == Some(true)) {selected}>WhiteList
        <option name = "false" value = "false" @if(pattern.nonSensitive == Some(false)) {selected}>BlackList
        </select>
      </td>

      <td><input type="checkbox" class="checkbox" name="unscrapable_@pattern.id.get" @if(pattern.isUnscrapable) {checked}>
      <td><select name="proxy_@pattern.id.get">
        <option name="None" value="None" @if(pattern.useProxy.isEmpty) {selected}>Don't
        @for(proxy <- proxies) { <option name="@proxy.alias" value="@proxy.id.get" @if(pattern.useProxy == proxy.id) {selected}>@proxy.alias }
      <td><select name="normalization_@pattern.id.get">
        <option name="None" value="None" @if(pattern.normalization.isEmpty) {selected}>Don't
        @for(norm <- com.keepit.model.Normalization.schemes.toSeq.sorted) { <option name="@norm.scheme" value="@norm.scheme" @if(pattern.normalization == Some(norm)) {selected}>@norm.scheme }
      <td><input type="text" class="trusted-domain" name="trusted_domain_@pattern.id.get" value="@pattern.trustedDomain.getOrElse("")">
              }
    <tr data-new="true">
      <td><input type="checkbox" class="checkbox" name="new_active">
      <td class="control-group"><input type="text" class="url-pattern" name="new_pattern">
      <td class="control-group"><input type="text" class="url-example" name="new_example">
      <td class="url-match">
      <td><select name="new_non_sensitive">
        <option name="None" value="None" selected>None
        <option name="true" value="true">WhiteList
        <option name="false" value="false">BlackList
      <td><input type="checkbox" class="checkbox" name="new_unscrapable">
      <td><select name="new_proxy">
        <option name="None" value="None" selected>Don't
        @for(proxy <- proxies) { <option name="@proxy.alias" value="@proxy.id.get">@proxy.alias }
      <td><select name="new_normalization">
        <option name="None" value="None" selected>Don't
        @for(norm <- com.keepit.model.Normalization.schemes.toSeq.sorted) { <option name="@norm.scheme" value="@norm.scheme">@norm.scheme }
      <td><input type="text" class="trusted-domain" name="new_trusted_domain">
  </table>
  <button type="submit" class="btn btn-primary" data-loading-text="Saving...">Save</button>
  <button type="reset" class="btn">Clear unsaved changes</button>
</form>


<br><br>

<form id = "mark_domain_porn">
    <input id = "porn_regex" type = "text" value = "" placeholder="sql regex, e.g. youporn.com">
    <select id = "mode">
      <option value = "preview">preview urls</option>
      <option value = "readWrite">read-write mode</option>
    </select>

    <button type = "submit">Apply</button>

</form>

<p id = "previewList"></p>
<br><br>

}

<script>
$(document).ready(function() {
  $(".url-patterns")
  .on("keydown keypress keyup mousedown mouseup blur", ".url-pattern,.url-example", updateRow)
  .submit(function(e) {
    if ($(this).find(".error").focus().select().length) {
      e.preventDefault();
    } else {
      $(this).find("button[type=submit]").button("loading");
    }
  })
  .find(".url-pattern").each(updateRow);

  function updateRow() {
    var $tr = $(this).closest("tr");
    var $pat = $tr.find(".url-pattern"), pat = $pat.val(), $patGrp = $pat.closest(".control-group"), re;
    var $url = $tr.find(".url-example"), url = $url.val();
    var $match = $tr.find(".url-match").removeClass("match-y match-n");
    if (pat) {
      try {
        re = new RegExp(pat)
      } catch (e) {
        $patGrp.addClass("error");
        return;
      }
    } else if (!$tr.data("new")) {
      $patGrp.addClass("error");
      return;
    }
    $patGrp.removeClass("error");
    if (!/^\s*$/.test(url)) {
      $match.addClass(re.test(url) ? "match-y" : "match-n");
    }
  }


  $("#mark_domain_porn").submit(function(event){
      event.preventDefault();
      $("#previewList").empty().prepend("Loading...")

      $.post('@com.keepit.controllers.admin.routes.UrlController.pornDomainFlag()',
        {regex: $("#porn_regex").val(), mode: $("#mode").val()}
      ).done(done).fail(fail)

      function done(data) { $("#previewList").empty().prepend(data) }
      function fail() { alert("bad things happened") }
    })



});



</script>
