@(userId: Option[String], topic: Option[String])

@admin("User Topic"){
  <form action = "@com.keepit.controllers.admin.routes.TopicModelController.getUserTopic" method = "POST">
    <div>
      <label for = "user">Type userId </label>
      <input type="text" id="user" name="user" 
          value = "@{ userId match { 
            case Some(id) => id  
            case None => "" } }" >
      </input>
    </div>
    <div>
      <label for = "topic">topic ids and counts </label>
      <textarea id="topic" name="topic" rows = "10" cols = "30">@topic.getOrElse("")</textarea>
    </div>
    <div class="buttons">
      <button type="submit">Show User Topics</button>
    </div>
  </form>
}
