@(userData: com.keepit.controllers.admin.UserStatisticsPage, searchTerm: Option[String])(implicit request: com.keepit.common.controller.UserRequest[_])
@import com.keepit.controllers.admin.routes
@import com.keepit.controllers.admin.UserViewTypes._

@userSetDescription = {
    @userData.userViewType match {
        case All => {Total Users}
        case TopKeepersNotInOrg => {Top Orgless Keepers}
        case Registered => {Registered Users}
        case Fake => {Fake Users}
        case ByExperiment(exp) => {@exp.value}
        case UsersPotentialOrgs => {Users with Potential Organizations}
        case LinkedInUsersWithoutOrgs => {LinkedIn Users without Organizations}
    }
}

@otherPagesRoute(page: Int) = {
    @userData.userViewType match {
        case All => {@com.keepit.controllers.admin.routes.AdminUserController.usersView(page)}
        case TopKeepersNotInOrg => {@com.keepit.controllers.admin.routes.AdminUserController.topKeepersNotInOrg()}
        case Registered => {@com.keepit.controllers.admin.routes.AdminUserController.registeredUsersView(page)}
        case Fake => {@com.keepit.controllers.admin.routes.AdminUserController.fakeUsersView(page)}
        case ByExperiment(exp) => {@com.keepit.controllers.admin.routes.AdminUserController.byExperimentUsersView(page, exp.value)}
        case UsersPotentialOrgs => {@com.keepit.controllers.admin.routes.AdminUserController.usersPotentialOrgsView(page)}
        case LinkedInUsersWithoutOrgs => {@com.keepit.controllers.admin.routes.AdminUserController.linkedInUsersWithoutOrgsView(page)}
    }
}

@formatKifiInstallations(kifiInstallations: Seq[KifiInstallation]) = {
  <ul>
    @for(installation <- kifiInstallations) {
      <li>@{installation.version}; @{installation.userAgent.name} @{installation.userAgent.version}; @{installation.userAgent.operatingSystemName}</li>
    }
  </ul>
}

@networkLogoLink(sui: SocialUserInfo) = {
  <a href="@com.keepit.controllers.admin.routes.AdminSocialUserController.socialUserView(sui.id.get)">
    @sui.networkType.name.take(2)
}

@newUsersInfo(newUsers: Option[Int]) = {
    @newUsers match {
        case Some(count) => {(@count new)}
        case None => {}
    }
}

@invitesBreakdown(invites: Seq[Invitation]) = {
    @if(invites.size > 0) {
        @defining(invites.partition(_.recipientSocialUserId.isDefined)) { case (social, email) =>
            <table width="40%" border="1">
                @if(social.size > 0) {
                  <tr><th>Social</th><td>@social.size</td></tr>
                }
                @if(email.size > 0) {
                  <tr><th>Email</th><td>@email.size</td></tr>
                }
            </table>
        }
    } else {}
}

@userAndInvitationStats(recentUsers: Seq[Id[User]], invitationInfo: Option[com.keepit.controllers.admin.InvitationInfo]) = {
    <h4>User & Invitation stats in the last 24 hours</h4>
    <ul>
    <li># Users Registered: @recentUsers.size</li>
    @invitationInfo match {
      case Some(info) => {
        <li> # Invites Sent: @info.activeInvites.size
            @invitesBreakdown(info.activeInvites)
        </li>
        <li> # Invites Accepted: @info.acceptedInvites.size
            @invitesBreakdown(info.acceptedInvites)
        </li>
      }
      case None => {}
    }
    </ul>
}

@admin(userData.userCount + " " + userSetDescription + " " + newUsersInfo(userData.newUsers)) {
  <h2> Showing @userData.users.length (page @(userData.page + 1)) </h2>

  @userAndInvitationStats(userData.recentUsers, userData.invitationInfo)

  @adminHelper.pagination(userData.page, userData.userCount, userData.pageSize, otherPagesRoute _) {
      <form class="form-inline" action="@com.keepit.controllers.admin.routes.AdminUserController.searchUsers()" method="POST">
        @if(searchTerm.isDefined){
          <input type="text" name="searchTerm" value="@{searchTerm.get}"/>
        } else {
          <input type="text" name="searchTerm" placeholder="User first and/or last name"/>
        }
        <input type="submit" value="Search"/></br>
        @if(searchTerm.isDefined){
          <a href="@otherPagesRoute(0)">Clear search</a>
        }
      </form>
      <table class="table table-bordered">
        <tr>
          <th>Id</th>
          <th>User</th>
          <th>Last Kept</th>
          <th>org mem/cand</th>
          <th>kifi Conns</th>
          <th>Invited By</th>
          <th>Invite Sent</th>
          <th>Messages all/active/started</th>
          <th>Lib create/follow</th>
          <th>Network</th>
          <th>Keeps PRV/PUB</th>
          <th>Email Address</th>
          <th>Version</th>
          <th>Date Joined</th>
          <th>Experiment</th>
        </tr>
      @for(userStatistics <- userData.users) {
        <tr>
          <td><span class="badge">@userStatistics.user.id.get.id</span></td>
          <td>@adminHelper.userDisplay(userStatistics.user)</td>
          <td>@userStatistics.dateLastManualKeep.map(d => adminHelper.dateTimeDisplay(d)).getOrElse("Never!")</td>
          <td>@adminHelper.orgsDisplay(userStatistics.orgs) / @adminHelper.orgsDisplay(userStatistics.orgCandidates)</td>
          <td>@userStatistics.connections</td>
          <td>@for(i <- userStatistics.invitedBy){ @adminHelper.userDisplay(i) }</td>
          <td>@userStatistics.invitations</td>
          <td>@{userData.getUserThreadStats(userStatistics.user).all}/@{userData.getUserThreadStats(userStatistics.user).active}/@{userData.getUserThreadStats(userStatistics.user).started}</td>
          <td>@{userStatistics.librariesCreated}/@{userStatistics.librariesFollowed}</td>
          <td>@for(u <- userStatistics.socialUsers){ @networkLogoLink(u) }</td>
          <td>@userStatistics.privateKeeps / @userStatistics.publicKeeps</td>
          <td>@userStatistics.emailAddress.map(_.address).getOrElse("n/a")</td>
          <td>@formatKifiInstallations(userStatistics.kifiInstallations)</td>
          <td>@adminHelper.dateTimeDisplay(userStatistics.user.createdAt)</td>
          <td>@userStatistics.experiments.mkString(", ")</td>
        </tr>
      }
      </table>
  }
}
