@(user: User,
  totalBookmarks: Int,
  experiments: Set[ExperimentType],
  socialUsers: Seq[SocialUserBasicInfo],
  fortyTwoConnections: Seq[User],
  kifiInstallations: Seq[KifiInstallation],
  allowedInvites: Int,
  emails: Seq[UserEmailAddress],
  abookInfos: Seq[ABookInfo],
  econtactCount: Int,
  contacts: Seq[com.keepit.abook.model.RichContact],
  invitedBy: Seq[User]
)(implicit request: com.keepit.common.controller.UserRequest[_])

@admin("User: " + user.firstName + " " + user.lastName, stylesheets = List("admin_user")) {
    <button class="btn" id="library_push" onclick="libraryPush()">Lib Push</button>
    <button class="btn" id="reset_mixpanel" onclick="resetMixpanelProfile()">Reset Mixpanel Profile</button>
    <button class="btn" id="refresh_sui" onclick="refreshAllSocialUserInfo()">Refresh Social User Info!</button>
    <button class="btn" onclick="impersonate()">Impersonate User</button>
    <button class="btn" onclick="unimpersonate()">Stop Impersonating</button>
    <button class="btn" onclick="configSearch()">Config Search</button>
    <br/>
    <table class="user-summary table table-bordered">
      <tr>
        <th>Name</th><td><img src="@com.keepit.controllers.assets.routes.UserPictureController.get(100, user.externalId)" height=25 width=25><a href="https://www.kifi.com/@{user.username.value}">@user.firstName @user.lastName</a></td>
      </tr>
      <tr>
        <th>Id</th><td>@user.id</td>
      </tr>
      <tr>
        <th>Total Bookmarks</th><td>@totalBookmarks</td>
      </tr>
      <tr>
        <th>Social Users</th>
        <td>
          @for(u <- socialUsers) { <div>@adminHelper.socialUserDisplay(u, true)</div> }
        </td>
      </tr>
      <tr>
        <th>Invited By</th>
        <td>
          @for(u <- invitedBy) { <div>@adminHelper.userDisplay(u)</div> }
        </td>
      </tr>
      <tr>
        <th>Created At</th><td>@adminHelper.dateTimeDisplay(user.createdAt)</td>
      </tr>
      <tr>
        <th>Last Update</th><td>@adminHelper.dateTimeDisplay(user.updatedAt)</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>
          <form action="@com.keepit.controllers.admin.routes.AdminUserController.updateUser(user.id.get)" method="POST" class="form-inline">
            <input type="text" name="emails" value="@{emails.map(_.address).mkString(",")}">
            <input type="submit" value="Save">
          </form>
        </td>
      </tr>
      <tr>
        <th>Recommendations</th>
        <td>
          <form action="@com.keepit.controllers.admin.routes.AdminUserController.sendEmail(user.id.get, "feed")" class="form-inline send-email" method="POST" style="display: inline-block;">
            <input type="submit" value="Send Feed Digest">
          </form>
          <form action="@com.keepit.controllers.admin.routes.AdminUserController.refreshRecos(user.id.get)" class="form-inline refresh-recos" method="POST" style="display: inline-block;">
            <input type="submit" value="Refresh Recommendations">
          </form>
          <form action="@com.keepit.controllers.admin.routes.AdminUserController.sendEmail(user.id.get, "activity")" class="form-inline send-email" method="POST" style="display: inline-block;">
            <input type="submit" value="Send Activity Email">
          </form>
        </td>
      </tr>
      <tr>
        <th>Allowed Invites</th>
        <td>
          <form action="@com.keepit.controllers.admin.routes.AdminUserController.setInvitesCount(user.id.get)" class="form-inline" method="POST">
            <input type="text" name="allowedInvites" value="@allowedInvites">
            <input type="submit" value="Save">
          </form>
        </td>
      </tr>
      <tr>
        <th>Connect to other user</th>
        <td>
          <form action="@com.keepit.controllers.admin.routes.AdminUserController.connectUsers(user.id.get)" class="form-inline" method="POST">
            <input type="text" name="user2" value="">
            <input type="submit" value="Connect to this User ID">
          </form>
        </td>
      </tr>
      <tr>
        <th>Experiments</th>
        <td id="experiments" class="form-inline">
          @for(exp <- ExperimentType._ALL) {
            <label class="checkbox">
              <input type="checkbox" data-exp="@exp.value" @if(experiments.contains(exp)) {checked}>@exp.value
            </label>
          }
        </td>
      </tr>
      <tr>
        <th>State</th>
        <td class="form-inline">
          <select id="state">
          @for(state <- Seq(UserStates.ACTIVE, UserStates.INACTIVE, UserStates.PENDING, UserStates.BLOCKED)) {
            <option  @if(user.state.value == state.value){selected}>@state.value</option>
          }
          </select>
        </td>
      </tr>
      @if(user.state != UserStates.ACTIVE) {
      <tr>
        <th>Merge to User ID</th>
        <td><form class="form-inline" method="post"
            action="@com.keepit.controllers.admin.routes.AdminUserController.merge">
          <input type="hidden" name="from" value="@user.id.get">
          <input type="text" name="to">
          <input type="submit" value="Merge!">
        </form></td>
      </tr>
      <tr>
        <th>Deactivate User</th>
        <td><form class="form-inline" method="post"
        action="@com.keepit.controllers.admin.routes.AdminUserController.deactivate(user.id.get)">
          <input type="submit" value="Deactivate!">
          <input type="checkbox" name="doIt" value="true"> I know what I'm doing.
        </form></td>
      </tr>
    }
    </table>
    <p>
      <a href="@com.keepit.controllers.admin.routes.AdminUserController.moreUserInfoView(user.id.get)">More User Info</a>
    </p>
    <p>
      <a href="@com.keepit.controllers.admin.routes.AdminUserController.userKeepsView(user.id.get)">User Keeps</a>
    </p>
    <p>
      <a href="@com.keepit.controllers.admin.routes.AdminUserController.userLibrariesView(user.id.get)">User Libraries</a>
    </p>
    <p>
      <a href="@com.keepit.controllers.admin.routes.AdminSearchConfigController.showUserConfig(user.id.get)">User Search Config</a>
    </p>

      <h2>@fortyTwoConnections.size Kifi Users</h2>
      <div class="scrollArea">
        <ol>
        @for(u <- fortyTwoConnections) {
          <li>@adminHelper.userDisplay(u)</li>
        }
        </ol>
      </div>

  <h2>Prefix Search</h2>
  <br/>
    <table>
        <tr>
            <form class="form-inline" method="get" action="@com.keepit.controllers.admin.routes.AdminUserController.prefixSocialSearch(user.id.get)">
                <input type="text" name="query">
                <input type="submit" value="Search Social Connections">
            </form>
        </tr>
        <tr>
            <form class="form-inline" method="get" action="@com.keepit.controllers.admin.routes.AdminUserController.prefixContactSearch(user.id.get)">
                <input type="text" name="query">
                <input type="submit" value="Search Contacts">
            </form>
        </tr>
        <tr>
            <form class="form-inline" method="get" action="@com.keepit.controllers.admin.routes.AdminUserController.prefixSearch(user.id.get)">
                <input type="text" name="query">
                <input type="submit" value="Search All">
            </form>
        </tr>
    </table>
  <br/>
  <h2>User has uploaded @abookInfos.size Address Book(s)</h2>
  @if(abookInfos.size > 0) {
    <br/>
    <h3>Address Book(s)</h3>
    <table class="table table-condensed table-striped">
        <tr><th>ABookId</th><th>Origin</th><th>State</th><th>OwnerId</th><th>OwnerEmail</th><th>RawInfoLoc</th><th>OAuth2TokenId</th><th># Contacts</th><th># Processed</th></tr>
        @for(abook <- abookInfos) {
            <tr>
                <td>@abook.id</td>
                <td>@abook.origin</td>
                <td>@abook.state</td>
                <td>@abook.ownerId</td>
                <td>@abook.ownerEmail</td>
                <td>@abook.rawInfoLoc</td>
                <td>@abook.oauth2TokenId</td>
                <td>@abook.numContacts</td>
                <td>@abook.numProcessed</td>
                @if(experiments.contains(ExperimentType.ADMIN)) {
                  <td>
                      <form class="form-inline" style="display:inline" action="/refreshContacts" method="GET">
                          <input type="hidden" name="abookId"  value=@abook.id>
                          <input type="hidden" name="provider" value=@abook.origin>
                          <button type="submit" class="btn">Refresh</button>
                      </form>
                  </td>
                }
            </tr>
        }
    </table>
  }
  @if(econtactCount > 0) {
    <br/>
    <h3>Contacts (total=@econtactCount; display up to 500)</h3>
    <div class="scrollArea">
        <table class="table table-condensed table-striped">
            <tr><th>Email</th><th>Name</th><th>ContactUserId</th></tr>
            @for(contact <- contacts) {
            <tr><td>@contact.email</td><td>@contact.name</td><td>@contact.userId</td>
              @if(experiments.contains(ExperimentType.ADMIN)) {
                <td>
                    <form class="form-inline" style="display:inline" action="/invite" method="POST">
                        <input type="hidden" name="fullSocialId" value="email/@contact.email">
                        <input type="hidden" name="subject" value="You've been invited to join Kifi!">
                        <input type="hidden" name="message" value="Come join us!">
                        <button type="submit" class="btn">Invite</button>
                    </form>
                </td>
              }
            </tr>
            }
        </table>
    </div>
  }

  <script type="text/javascript">
    function libraryPush() {
      $.post("@com.keepit.controllers.admin.routes.AdminUserController.pushLibraryActivity()")
    }
    function resetMixpanelProfile() {
      $("#reset_mixpanel").prop("disabled", true).text("Resetting Mixpanel Profile...");
      location.href="@com.keepit.controllers.admin.routes.AdminUserController.resetMixpanelProfile(user.id.get)"
    }
    function refreshAllSocialUserInfo() {
      $("#refresh_sui").prop("disabled", true).text("Refreshing Social User Info...");
      location.href="@com.keepit.controllers.admin.routes.AdminUserController.refreshAllSocialInfo(user.id.get)"
    }
    function impersonate() {
      $.post("@com.keepit.controllers.admin.routes.AdminAuthController.impersonate(user.id.get)")
    }
    function unimpersonate() {
      $.post("@com.keepit.controllers.admin.routes.AdminAuthController.unimpersonate()")
    }
    function configSearch() {
      location.href="@com.keepit.controllers.admin.routes.AdminSearchConfigController.showUserConfig(user.id.get)"
    }
    $(function() {
      $('.send-email').submit(function () {
        var form = this;
        if (form.sent) return false;
        form.sent = true;
        var input =  $(form).find('input:submit').get(0);
        if (typeof input.origVal === 'undefined') input.origVal = input.value;
        input.disabled = 'disabled';
        input.value = input.origVal.replace('Send', 'Sending');
        $.post(form.action, $(form).serialize(), function () {
          input.value = input.origVal.replace('Send', 'Sent');
          setTimeout(function () {
            input.value = input.origVal.replace('Send', 'Resend');
            form.sent = false;
            input.removeAttribute('disabled');
          }, 10000);
        });
        return false;
      });

      $('.refresh-recos').submit(function () {
        var form = this;
        if (form.sent) return false;
        form.sent = true;
        var input =  $(form).find('input:submit').get(0);
        if (typeof input.origVal === 'undefined') input.origVal = input.value;
        input.disabled = 'disabled';
        var req = $.post(form.action, $(form).serialize(), function () {
          alert("Refresh has been triggered. This is a somewhat expensive operation. Please don't click this too often.");
        });
        req.fail(function (r, c, m) {
          alert("An error ocurrect: " + m);
        });
        return false;
      });

      $("#state").change(function() {
        var $td = $(this).closest("td");
        var $sp = $("<img src=/assets/images/spinner.15.gif>").appendTo($td);
          $.post('@com.keepit.controllers.admin.routes.AdminUserController.changeState(user.id.get, "____")'.replace("____", $(this).val()))
            .done(function () {
              $sp.after($("<i class=icon-ok-sign>").delay(1000).fadeOut()).remove();
            });
      });

      $("#experiments").on("click", "input", function() {
        var $td = $(this).closest("#experiments");
        var $sp = $("<img src=/assets/images/spinner.15.gif>").appendTo($td);
        if (this.checked) {
          console.log($(this).data("exp"))
          $.post('@com.keepit.controllers.admin.routes.AdminUserController.addExperiment(user.id.get, "____")'.replace("____", $(this).data("exp")))
            .done(done).fail(fail);
        } else {
          $.ajax('@com.keepit.controllers.admin.routes.AdminUserController.removeExperiment(user.id.get, "____")'.replace("____", $(this).data("exp")),
            {type: "DELETE"}).done(done).fail(fail);
        }
        function done() {
          $sp.after($("<i class=icon-ok-sign>").delay(1000).fadeOut()).remove();
        }
        function fail() {
          $sp.after($("<i class=icon-exclamation-sign></i> Error. Reload?").delay(3000).fadeOut()).remove();
        }
      });
    });
  </script>
}
