@(userData: com.keepit.controllers.admin.UserStatisticsPage, searchTerm: Option[String])
@import com.keepit.controllers.admin.routes
@import com.keepit.controllers.admin.UserViewTypes._

@userSetDescription = {
    @userData.userViewType match {
        case AllUsersViewType => {Total Users}
        case RealUsersViewType => {Real Users}
        case FakeUsersViewType => {Fake Users}
    }
}

@otherPagesRoute(page: Int) = {
    @userData.userViewType match {
        case AllUsersViewType => {@com.keepit.controllers.admin.routes.AdminUserController.usersView(page)}
        case RealUsersViewType => {@com.keepit.controllers.admin.routes.AdminUserController.realUsersView(page)}
        case FakeUsersViewType => {@com.keepit.controllers.admin.routes.AdminUserController.fakeUsersView(page)}
    }
}

@kifiInstallations(kifiInstallations: Seq[KifiInstallation]) = {
  <ul>
    @for(installation <- kifiInstallations) {
      <li>@{installation.version}; @{installation.userAgent.name} @{installation.userAgent.version}; @{installation.userAgent.operatingSystemName}</li>
    }
  </ul>
}

@networkLogoLink(sui: SocialUserInfo) = {
  <a href="@com.keepit.controllers.admin.routes.AdminSocialUserController.socialUserView(sui.id.get)">
    <img src="/assets/securesocial/images/providers/@{sui.networkType}.png"
      alt="@sui.networkType" width="16" height="16"></a>
}

@admin(userData.userCount + " " + userSetDescription) {
  <h2> Showing @userData.users.length (page @(userData.page + 1)) </h2>

  @adminHelper.pagination(userData.page, userData.userCount, userData.pageSize, otherPagesRoute _) {
      <form class="form-inline" action="@com.keepit.controllers.admin.routes.AdminUserController.searchUsers()" method="POST">
        @if(searchTerm.isDefined){
          <input type="text" name="searchTerm" value="@{searchTerm.get}"/>
        } else {
          <input type="text" name="searchTerm" placeholder="User first and/or last name"/>
        }
        <input type="submit" value="Search"/></br>
        @if(searchTerm.isDefined){
          <a href="@otherPagesRoute(0)">Clear search</a>
        }
      </form>
      <table class="table table-bordered">
        <tr>
          <th>#</th>
          <th>Id</th>
          <th>User</th>
          <th>Networks</th>
          <th># of bookmarks</th>
          <th>Date joined</th>
          <th>Experiments</th>
          <th>Version</th>
        </tr>
      @for((userStatistics, i) <- userData.users.zipWithIndex) {
        <tr>
          <td>@{i+1}</td>
          <td><span class="badge">@userStatistics.user.id.get.id</span></td>
          <td>@adminHelper.userDisplay(userStatistics.user)</td>
          <td>@for(u <- userStatistics.socialUsers){ @networkLogoLink(u) }</td>
          <td>@userStatistics.bookmarksCount</td>
          <td>@adminHelper.dateTimeDisplay(userStatistics.user.createdAt)</td>
          <td>@userStatistics.experiments.mkString(", ")</td>
          <td>@kifiInstallations(userStatistics.kifiInstallations)</td>
        </tr>
      }
      </table>
  }
}
