@(user: User,
  totalBookmarks: Int,
  bookmarks: Seq[(Keep, NormalizedURI, Seq[Hashtag])],
  bookmarkSearch: Option[String]
)(implicit request: com.keepit.common.controller.UserRequest[_])

@admin("User: " + user.firstName + " " + user.lastName, stylesheets = List("admin_user")) {
    <br/>
    <table class="user-summary table table-bordered">
      <tr>
        <th>Name</th><td><img src="@com.keepit.controllers.assets.routes.UserPictureController.get(100, user.externalId)" height=25 width=25>@user.firstName @user.lastName</td>
      </tr>
      <tr>
        <th>Id</th><td>@user.id</td>
      </tr>
    </table>

  <h2>User kept @totalBookmarks Bookmarks</h2>
  <h3>Showing @bookmarks.size Bookmarks of total @totalBookmarks</h3>
  <form class="form-inline" action="@com.keepit.controllers.admin.routes.AdminUserController.userView(user.id.get)" method="POST">
    @if(bookmarkSearch.isDefined){
      <input type="text" name="bookmarkSearch" value="@{bookmarkSearch.get}"/>
    } else {
      <input type="text" name="bookmarkSearch" placeholder="query"/>
    }
    <input type="submit" value="Search"/>
  </form>
			<table class="table table-bordered">
		    <tr>
		      <th>#</th>
		      <th>BID</th>
		      <th>Private</th>
		      <th>Active</th>
		      <th>Bookmark</th>
              <th>Source</th>
          <th>Created At</th>
          <th>State</th>
		    </tr>
			 @for(((bookmark, uri, tags), i) <- bookmarks.zipWithIndex) {
			   <tr>
		        <td>@{i+1}</td>
		        <td><span class="badge">@bookmark.id.get.id</span></td>
		        <td>
              <input type="hidden" name="active_@{bookmark.id.get.id}" value="0" />
							<center><input type="checkbox" id="active_@bookmark.id.get.id" name="active_@{bookmark.id.get.id}" value="1" @if(bookmark.state.value == "active") {checked="checked"}"></input></center>
		        </td>
		        <td>@adminHelper.bookmarkDisplay(bookmark)</td>
                <td><div class="tags" data-id="@bookmark.id.get.id">@{tags.mkString(", ")}</div></td>
                <td>@bookmark.source</td>
            <td>@adminHelper.dateTimeDisplay(bookmark.createdAt)</td>
            <td>@adminHelper.uriStateDisplay(uri)</td>
			   </tr>
			 }
			</table>
}
