@(versions: Seq[(KifiExtVersion, org.joda.time.DateTime, Int)], details: com.keepit.common.store.KifiInstallationDetails)(implicit request: com.keepit.common.controller.UserRequest[_])

@import com.keepit.common.store._

@admin("Latest Kifi Extension Versions", stylesheets = List("admin_slider")) {

<style>
.gold {
  box-shadow: inset 0px 0px 11px -7px #fff6af;
  background: linear-gradient(to bottom, #fff4b0 5%, #ffe121 100%);
  background-color: #fff4b0;
  background-image: url(/assets/images/gold.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px;
  border-radius: 9px;
  border: 1px solid #ffdb24;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 14px 4px 40px;
}
.gold:active {
  position:relative;
  top:1px;
}

.gold-release {
  background-image: url(/assets/images/gold.png);
  background-repeat: no-repeat;
  background-position: 6px;
  background-size: 35px;
  display: inline-block;
  vertical-align: middle;
  color: #333333;
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  padding: 0 0 0 48px;
}

.gold-row {
  background-color: #FFFBDC;
}

.nuke {
  background: rgb(230, 108, 108);
  border-radius: 9px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #3C4C4F;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 20px 4px 20px;
}
tr:first-child .nuke {
  display: none;
}
.nuke:active {
  position:relative;
  top:1px;
}

.nuked {
  display: inline-block;
  cursor: default;
  color: #220000;
  font-family: arial;
  font-size: 30px;
  font-weight: bold;
  padding: 0 6px 0 8px;
  vertical-align: middle;
}
.unnuke {
  font-size: 10px;
}

.version {
  font-size: 18px;
  font-weight:bold;
}

td.old-version {
  color: #999999;
}
</style>

<div class="row">
  <p>An extension will try to force update when it connects if its version is killed or pre-golden.</p>
  <table class="kifi-versions table table-bordered" style="width:640px">
  <thead>
    <tr>
      <th>Version</th>
      <th>Earliest activity</th>
      <th>User Count</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for(version <- versions) {
      @if(details.gold == version._1) {
      <tr class="gold-row">
        <td class="version">@version._1</td>
        <td>@adminHelper.dateTimeDisplay(version._2)</td>
        <td>@version._3</td>
        <td><span class="gold-release">Golden Release</span></td>
      </tr>
      } else {
      <tr>
        <td class="version@if(version._1 < details.gold){ old-version}">@version._1</td>
        <td>@adminHelper.dateTimeDisplay(version._2)</td>
        <td>@version._3</td>
        <td>
        @if(version._1.build <= 0) {
          @if(details.killed.contains(version._1)) {
            <span class="nuked">☠</span> <a class="unnuke" href="javascript:">resurrect</span>
          } else {
            <a href="javascript:" class="gold">make it gold!</a>
            @if(version._1 > details.gold) {
              <a href="javascript:" class="nuke">毙 kill it</a>
            }
          }
        }
        </td>
      </tr>
      }
    }
  </tbody>
</table>
</div>

  <form class="kifi-ver-form form-inline" action="@com.keepit.controllers.admin.routes.SliderAdminController.broadcastLatestVersion("X")" method="POST">
    <input name="ver" type="text" value="@details.gold" class="input-small" autofocus autocomplete="off" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}" title="The current latest version (e.g. &quot;2.3.4)&quot;">
    <button>Broadcast</button>
  </form>
}

<script>
$(function() {
  var killAction = '@com.keepit.controllers.admin.routes.SliderAdminController.killVersion("X")';
  $('.kifi-versions').on('click', '.nuke', function() {
    var $self = $(this);
    var version = $self.parents('tr').find('.version').text();
    $.post(killAction.replace('X', version))
    .done(function () {
      location.reload();
    });
  });

  var goldAction = '@com.keepit.controllers.admin.routes.SliderAdminController.goldenVersion("X")';
  $('.kifi-versions').on('click', '.gold', function() {
    var $self = $(this);
    var version = $(this).parents('tr').find('.version').text();
    $.post(goldAction.replace('X', version))
    .done(function () {
      location.reload();
    });
  });

  var unkillAction = '@com.keepit.controllers.admin.routes.SliderAdminController.unkillVersion("X")';
  $('.kifi-versions').on('click', '.unnuke', function() {
    var $self = $(this);
    var version = $self.parents('tr').find('.version').text();
    $.post(unkillAction.replace('X', version))
    .done(function () {
      location.reload();
    });
  });

  var $f = $(".kifi-ver-form").submit(function(e) {
    e.preventDefault();
    $.post(this.action.replace("X", $f.find("input[name=ver]").val()))
     .done(function() {
      $f.find("button").after($("<i class=icon-ok-sign style=margin-left:10px>").delay(1000).fadeOut(function() {
        $(this).remove();
      }));
    });
  });
});
</script>
