@(richWhoKeptMyKeeps: Seq[com.keepit.commanders.RichWhoKeptMyKeeps], since: org.joda.time.DateTime, userCount: Int)(implicit request: com.keepit.common.controller.UserRequest[_])

@admin(userCount + " people kept your keeps on KiFi") {
  <h2>Showing @richWhoKeptMyKeeps.size keeps since @adminHelper.dateDisplay(since)</h2>
  <ul>
    <li>The following list shows who publicly kept any of your keeps since @adminHelper.dateDisplay(since).</li>
    <li>The others who kept it may have kept that keep any time (even before the @adminHelper.dateDisplay(since)).</li>
    <li>The person who kept may or may not be connected to you directly and may or may not have kept that keep because of you.</li>
    <li>We do not show keeps kept privatly by others though the list may show things that you kept privatly and others kept publicly.</li>
    <li>We try to keep the list to have less then 15 articles, the most popular articles or latest kept ones will be trimmed out</li>
    <li>[Kifi] is not a pissing contest. It’s an ant farm. So stop acting like a dog. (Léo Grimaldi, 2014)</li>
  </ul>

  <table class="table table-bordered" style = "clear: both">
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Last kept on</th>
      <th>By</th>
      <th>Others who kept it</th>
    </tr>
    @for((keep, i) <- richWhoKeptMyKeeps.zipWithIndex) {
    <tr>
      <td>@{i+1}</td>
      <td><a href="@com.keepit.controllers.admin.routes.UrlController.getURIInfo(keep.uri.id.get)">@keep.uri.title.getOrElse("No Title")</td>
      <td>@adminHelper.dateDisplay(keep.latestKeep)</td>
      <td>@adminHelper.userDisplay(keep.users.head)</td>
      <td>@for(user <- keep.users.tail) {
        @adminHelper.userDisplay(user)
      }</td>
    </tr>
  }
  </table>
}
