@(richWhoKeptMyKeeps: Seq[com.keepit.commanders.RichWhoKeptMyKeeps], since: org.joda.time.DateTime, userCount: Int)

@admin(userCount + " people kept your keeps on KiFi") {
  <h2>Showing @richWhoKeptMyKeeps.size keeps since @adminHelper.dateDisplay(since)</h2>
  The following list shows who publicly kept any of your keeps since @adminHelper.dateDisplay(since).
  The others who kept it may have kept that keep any time (even before the @adminHelper.dateDisplay(since)).
  The person who kept may or may not be connected to you directly and may or may not have kept that keep because of you.
  We do not show keeps kept privatly by others though the list may show things that you kept privatly and others kept publicly.

  <table class="table table-bordered" style = "clear: both">
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Last kept on</th>
      <th>By</th>
      <th>Others who kept it</th>
    </tr>
    @for((keep, i) <- richWhoKeptMyKeeps.zipWithIndex) {
    <tr>
      <td>@{i+1}</td>
      <td><a href="@com.keepit.controllers.admin.routes.ScraperAdminController.getScraped(keep.uri.id.get)">@keep.uri.title.getOrElse("No Title")</td>
      <td>@adminHelper.dateDisplay(keep.latestKeep)</td>
      <td>@adminHelper.userDisplay(keep.users.head)</td>
      <td>@for(user <- keep.users.tail) {
        @adminHelper.userDisplay(user)
      }</td>
    </tr>
  }
  </table>
}
