@(word: Option[String], topic: Option[String])

@admin("Word Topic"){
  <form action = "@com.keepit.controllers.admin.routes.TopicModelController.getWordTopic" method = "POST">
    <div>
      <label for = "word">Type your word </label>
      <input type="text" id="word" name="word" value = "@word.getOrElse("")" ></input>
    </div>
    <div>
      <label for = "topic">topic ids and scores </label>
      <textarea id="topic" name="topic" rows = "10" cols = "30">@topic.getOrElse("")</textarea>
    </div>
    <div class="buttons">
      <button type="submit">Show Word Topics</button>
    </div>
  </form>
}
