.kf-ops
  padding-top: 35px
  text-align: left

  // Prevent the fixed header from covering up any #anchored headings.
  // via https://css-tricks.com/hash-tag-links-padding/
  h1,h2,h3,h4
    &[id]:before
      display: block
      content: " "
      margin-top: -80px
      height: 80px
      visibility: hidden

.kf-ops-nav
  flex: 3

  .kf-ops-nav-inner
    margin-top: 5px

    > li
      margin-left: 10px
      margin-bottom: 7px

.kf-ops-main
  flex: 9

  h2
    heading_lg()

  h3
    font-size: 16px

.kf-ops-setting-select
  width: 100%

.kf-ops-push
  display: block
  height: 80vh

.kf-ops-main-fields
  margin-top: 15px

.kf-ops-setting-desc
  margin: 10px 0 20px
  font-size: 14px
  color: #666
