<div class="kf-org-profile-libraries" smart-scroll scroll-distance="'100%'" scroll-disabled="!hasMoreLibraries()" scroll-next="fetchLibraries()">
  <div class="kf-upl-card-list">
    <button class="kf-upl-card kf-upl-create-card" ng-click="openCreateLibrary()">
      <span class="kf-upl-create-card-add-icon svg-create-library"></span>
      <div class="kf-upl-create-card-text">Create a Library</div>
    </button>
    <div kf-user-profile-library-card="::library" ng-repeat="library in libraries" profile-id="{{::userProfile.id}}"></div>
  </div>
</div>
