.kf-org-member
  text-align: left
  font-size: 14px
  color: textBlackColor

.kf-org-member-link
  img
    margin-right: 10px

.kf-org-member-info
  &:hover
    text-decoration: underline

.kf-org-member-info,
.kf-org-member-link img
  display: inline-block
  vertical-align: middle

.kf-org-member-info-name
  font-weight: bold
  color: textBlackColor

.kf-org-member-info-email
  font-style: italic

.kf-org-member-upper-left
  float: left
  width: 50%

.kf-org-member-upper-right
  float: right

.kf-org-member-lower
  clear: both
  margin-top: 10px

.kf-org-member-lower-left
  float: left
  width: 50%

.kf-org-member-lower-right
  float: right

.kf-org-member-pic
  display: inline-block
  border-radius: 100%
  width: 42px
  height: 42px

.kf-org-member-action-button
  border: 0
  background: none
  font-size: 14px
  color: textBlackColor

.kf-org-membership-action
  text-decoration: underline

.kf-org-member-admin-action
  border: 1px solid black
  background: none

.kf-org-member-no-actions
  padding: 0
  margin: 0
  color: gray
  text-align: right

.kf-org-member-invite-sent
  color: #56b263

.kf-dropdown-arrow-icon
  width: 15px
  height: 8px
  margin-left: 10px
  fill: none
  stroke: lightgray
  stroke-width: 30px

.kf-org-member-action-button:hover
  text-decoration: underline

  .kf-dropdown-arrow-icon
    stroke: clearBlueColor

.kf-dropdown-arrow-icon-inverted
  transform: scaleY(-1)
