.kf-org-create
  .kf-org-create-title
    heading_xl()
    margin: 20px 0

  .kf-org-create-name
    display: block
    width: 300px

  p
    line-height: 1.4rem
    color: textBlackColor
    margin-top: 0
