ophSmallMaxDim = 736px // for @media max-height and max-width
ophImageWidth = 200px

.kf-oph
  background: pageHeaderColor
  color: #fff
  padding-bottom: 75px

  @media (max-height: ophSmallMaxDim) and (max-width: ophSmallMaxDim)
    padding-bottom: 12px

.kf-oph-top
  position: relative
  padding-top: 75px
  max-width: 480px
  margin: 0 auto
  display: flex

  input[type="text"].kf-edit-field,
  textarea.kf-edit-field
    background: transparent

  &.kf-editing
    input[type="text"].kf-edit-field,
    textarea.kf-edit-field
      background: white
      color: textDarkGrey

  @media (max-height: ophSmallMaxDim) and (max-width: ophSmallMaxDim)
    padding-top: 12px
    margin-left: 20px
    margin-right: 20px

.kf-oph-actions
  position: absolute
  top: 10px
  right: 0

.kf-oph-pic-a
  width: ophImageWidth

.kf-oph-pic
  width: 100%
  border-radius: 10px

.kf-oph-about
  text-align: left
  width: 100%
  width: 'calc(100% - %s)' % ophImageWidth
  margin-left: 25px

.kf-oph-name
  margin-top: 6px
  line-height: 31px
  font-size: 21px
  font-weight: normal
  color: inherit
  box-sizing: border-box

  @media (max-height: ophSmallMaxDim) and (max-width: ophSmallMaxDim)
    line-height: 20px
    font-size: 14px

.kf-oph-description
  margin: 0 auto 20px
  color: #d8d8d8
  line-height: 1.6em
  font-size: 0.9em
  font-smoothing: antialiased
  word-break: break-word
  border-bottom: 1px solid white
  width: 100%
  padding-bottom: 20px

  @media (max-height: ophSmallMaxDim) and (max-width: ophSmallMaxDim)
    line-height: 16px
    font-size: 10px

  &>a[href]
    color: inherit

    &:hover
      text-decoration: underline

.kf-oph-link
  color: accentGreent

.kf-oph-stats
  width: 175px
  text-align: center
  margin: 0px auto

  th
    text-transform: uppercase
    font-weight: 100
    font-size: 0.7em

  td
    font-size: 1.2em

    a
      color: white
