ophSmallMaxDim = 736px // for @media max-height and max-width
ophImageWidth = 100px

.kf-oph
  background: userAndTeamHeaderColor
  color: #fff

.kf-oph-wrapper
  wrapper()
  padding: 0
  position: relative

.kf-oph-top
  padding-top: 50px
  max-width: 480px
  margin: 0 auto

  .profile-image-widget
    width: ophImageWidth
    height: ophImageWidth
    overflow: hidden
    border-radius: 5%
    margin: auto
    margin-bottom: 15px

.kf-oph-upper-right
  color: rgba(255,255,255,0.8)
  margin: 0 20px
  padding: 10px
  border-top: 1px solid textLightGrey
  border-bottom: 1px solid textLightGrey

  @media (min-width: 480px)
    position: absolute
    top: 15px
    right: 0
    left: 0
    margin: auto 10px
    padding: 0
    border: 0
    text-align: right

  .kf-oph-credit-banner
    margin-top: 10px

    &.ng-enter
      transition: .33s
      opacity: 0

    &.ng-enter-active
      opacity: 1

.kf-oph-invite-button.kf-link
  color: rgba(255, 255, 255, 0.8)

  &:hover
    color: #fff

  svg
    fill: currentColor

.kf-oph-input
  margin: 0 5px

  @media (min-width: 480px)
    margin: 0

  + .kf-oph-input
    margin-top: 2px

.kf-oph-name
  font-size: 30px

.kf-oph-description
  color: #d8d8d8
  line-height: 1.6em
  font-size: 0.9em
  font-smoothing: antialiased

.kf-oph-admin-link
  position: absolute

.kf-oph-url
  color: lighten(accentGreen, 15%)
  font-size: 0.85rem
  text-decoration: underline

.kf-oph-stats
  text-align: center
  margin: 25px auto 0

  @media (max-height: uphSmallMaxDim) and (max-width: uphSmallMaxDim)
    &::before
      transform: scale(1,.5)  // half-pixel border workaround crbug.com/236371

.kf-oph-stats-a
  display: inline-flex
  margin: 0 1px
  padding: 6px 14px
  background-color: alpha(#fff, 5%)
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  color: #9fa3aa
  font-size: 14px
  line-height: 24px

  &:hover:not(.active)
    background-color: alpha(#fff, 10%)

  &:focus
    outline: none

  &.active
    background: appBackgroundColor
    color: textBlackColor

  > * + *
    margin-left: 5px

@keyframes pop-up
  0%
    bottom: -40px
    transform: scaleY(.5)

  75%
    transform: scaleY(1.1)
    bottom: 0

  100%
    transform: scaleY(1)

.profile-image.editable
  overflow: hidden
  position: relative

  &:after
    content: 'Upload new'
    position: absolute
    right: 5%
    bottom: -50px
    left: 5%
    padding: 7px
    background: secondaryTextGray
    border-top-left-radius: defaultBorderRadius
    border-top-right-radius: defaultBorderRadius
    font-size: 0.85rem
    transition: bottom 0.25s ease-out

  // Show 'Upload new' on hover
  &:hover
    &:after
      bottom: 0

  // Animate in 'Upload new' when the logo is the default
  &.default-image
    &:after
      transform-origin: bottom
      animation: pop-up ease-in-out .75s
      bottom: 0

.kf-oph-upsell-invite .kf-tooltip-body
  width: 175px

.kf-oph-upsell-members
  position: absolute
  right: 8px
  top: 7px

.kf-oph-stats-a-members
  position: relative
  display: inline-block

.kf-oph-upsell-members + .kf-oph-stats-a
  padding-right: 30px
