.kf-org-profile-slack-upsell-logos
  display: flex
  justify-content: space-around
  margin: 0 15px

.kf-org-profile-slack-upsell-logo
  width: 64px
  height: 64px
  background-size: contain
  background-position: center
  background-repeat: no-repeat

.kf-org-profile-slack-upsell-slack
  background-image: url('/img/svg/slack.svg')

.kf-org-profile-slack-upsell-arrow
  height: 50%
  background-image: url('/img/svg/arrow-right.svg')

.kf-org-profile-slack-upsell-arrow-left
  transform: scaleX(-1)

.kf-org-profile-slack-upsell-kifi
  background-image: url('/img/svg/kifi-clover-logo.svg')

.kf-org-profile-slack-upsell-learn-wrap
  text-align: center

.kf-org-profile-slack-upsell-lib
  white-space: nowrap

.kf-org-profile-slack-upsell-card
  position: relative
  top: 3px
  display: inline-block
  width: 14px
  height: 18px
  border-radius: 17%
  box-shadow: 1px 1px 0px #ddd, 2px 2px 0px #aaa
