.kf-org-create
  .kf-org-create-title
    heading_xl()
    margin: 20px 0

  .kf-org-create-name
    display: block
    width: 300px

  p
    line-height: 1.4rem
    color: textBlackColor

  .kf-org-create-slug
    span
    .kf-org-create-name
      display: inline-block
      vertical-align: middle

    .kf-org-create-name
      width: 150px

  .kf-org-create-field
    margin-bottom: 20px

    label
      font-weight: bold
      margin-bottom: 10px
      display: block
