.kf-organization-member
  text-align: left
  font-size: 14px

.kf-organization-member-link
  float: left
  margin-right: 15px

.kf-organization-member-info
  float: left

.kf-organization-member-info-email
  font-style: italic

.kf-organization-member-upper-left
  float: left
  width: 50%

.kf-organization-member-upper-right
  float: right

.kf-organization-member-lower
  clear: both
  margin-top: 10px

.kf-organization-member-lower-left
  float: left
  width: 50%

.kf-organization-member-lower-right
  float: right

.kf-organization-member-pic
  display: inline-block
  border-radius: 100%
  width: 42px
  height: 42px

.kf-organization-member-action-button
  border: 0
  background: none
  font-size: 14px

.kf-organization-membership-action
  text-decoration: underline

.kf-organization-member-admin-action
  border: 1px solid black
  background: none

.kf-organization-member-no-actions
  padding: 0
  margin: 0
  color: gray
  padding-left: 15px

.kf-organization-member-invite-sent
  color: #56b263
