.kf-org-member-manage
  box-sizing: border-box
  width: 80%;
  max-width: 700px
  min-width: 320px
  margin: 40px auto
  overflow: hidden

.kf-org-members
  margin: -(defaultPadding)

.kf-org-member
  padding: 10px defaultPadding

  &:nth-child(odd)
    background: whitesmoke

.kf-org-member-email
  width: 42px
  height: 42px
  background-repeat: no-repeat
  background-position: center
  background-color: #eeeeee
  border: 1px solid #ebebeb
  border-radius: 50%

.dialog-content[kf-org-profile-member-remove]
  .dialog-buttons
    text-align: right
    padding-left: 25px
    padding-right: 25px

    button
      box-sizing: border-box
      width: auto
      min-width: 100px
      padding: 13px 10px 10px

.kf-opmr-wrapper
  display: flex
  align-items: center

.kf-opmr-member-pic
  flex: 1 0 0
  margin-right: 10px

  img
    border-radius: 50%
    width: 65px
    height: 65px

.kf-opmr-member-descriptions
  flex: 3 0 0
  text-align: left
  font-size: 13px
