.kf-org-profile-libraries
  margin: 15px

.kf-upl-move-card-text
.kf-upl-create-card-text
  font-size: 14px
  text-transform: uppercase

.kf-upl-card.kf-opl-move-libraries
  position: relative
  background-color: #e7e7e7
  border: 2px dashed #979797
  line-height: 23px

  .kf-opl-move-libraries-wrapper
    display: flex
    width: 100%
    height: 100%
    justify-content: center
    align-items: center

.kf-upl-card-setting-example
  position: absolute
  top: 5px
  right: 5px
  z-index: 2

.kf-upl-gear-icon-example
  display: inline-block
  width: 20px
  height: 20px
  vertical-align: text-bottom
  border-radius: 4px
  background-color: lightslategray
  background-position: 2px 3px
  background-size: 15px 15px
  background-repeat: no-repeat

  &:hover
    opacity: .7

  text-transform: uppercase

.kf-opl-move-libraries-steps
  list-style: numbers
