<main class="kf-ops kf-wrapper">
  <div class="kf-row">
    <ul class="kf-ops-nav">
      <li><a class="kf-link" href="#team-settings">Team Settings</a></li>
      <li><a class="kf-link" href="#team-plan">Team Plan</a></li>
      <li><a class="kf-link" href="#team-contacts">Contacts</a></li>
      <li><a class="kf-link" href="#credit-card">Credit Card</a></li>
      <li><a class="kf-link" href="#history">History</a></li>
    </ul>
    <div class="kf-ops-main">
      <h1 id="team-settings">Team Settings</h1>
      <h2>Library settings</h2>

      <div class="kf-ops-setting kf-row">
        <div class="kf-ops-setting-desc kf-main-pane">
          <h3>Who can create public libraries within your team?</h3>
          <p>Select who is able to make your teams' libraries public. Public libraries
          are discoverable in search engine's results, like Google.</p>
        </div>
        <select 
          class="kf-ops-setting-select kf-side-pane"
          ng-model="settings.publish_libraries"
          ng-options="key as value for ( key, value ) in options"
        >
        </select>
      </div>

      <div class="kf-ops-setting kf-row">
        <div class="kf-ops-setting-desc kf-main-pane">
          <h3>Who can edit libraries within your team?</h3>
          <p>Select who is able to edit any library settings such as visibility, title,
          and membership.</p>
        </div>
        <select class="kf-ops-setting-select kf-side-pane">
        </select>
      </div>

      <div class="kf-ops-setting kf-row">
        <div class="kf-ops-setting-desc kf-main-pane">
          <h3>Who can move libraries out of the team space?</h3>
          <p>Select who is able to move libraries out of the company and into another
          location ex. another team.</p>
        </div>
        <select class="kf-ops-setting-select kf-side-pane">
        </select>
      </div>

      <h2>Member settings</h2>

      <div class="kf-ops-setting kf-row">
        <div class="kf-ops-setting-desc kf-main-pane">
          <h3>Who can see the members page of this team?</h3>
          <p>Select who is able to see the team's members page. "Anyone" means it's also
          discoverable in other search engine's results like Google.</p>
        </div>
        <select 
          class="kf-ops-setting-select kf-side-pane"
          ng-model="settings.view_members"
          ng-options="key as value for ( key, value ) in options"
        >
        </select>
      </div>
      
      <div class="kf-ops-setting kf-row">
        <div class="kf-ops-setting-desc kf-main-pane">
          <h3>Who can invite members to join the team?</h3>
          <p>Members of the team have access to your team visible libraries. In most
          scenarios they can also keep to any public or team visible library.</p>
        </div>
        <select 
          class="kf-ops-setting-select kf-side-pane"
          ng-model="settings.invite_members"
          ng-options="key as value for ( key, value ) in options"
        >
        </select>
      </div>
      
      <h2>Features</h2>
      
      <div class="kf-ops-setting kf-row">
        <div class="kf-ops-setting-desc kf-main-pane">
          <h3>Who can message everyone in the team?</h3>
          <p>Send a same page chat to everyone in the team with just a couple of clicks.</p>
        </div>
        <select 
          class="kf-ops-setting-select kf-side-pane"
          ng-model="settings.group_messaging"
          ng-options="key as value for ( key, value ) in options"
        >
        </select>
      </div>
      
      <h2>Integrations</h2>
      
      <div class="kf-ops-setting kf-row">
        <div class="kf-ops-setting-desc kf-main-pane">
          <h3>Who can create a slack integration with Kifi?</h3>
          <p>Send all of your keeps from a particular library, automatically, to a slack channel.</p>
        </div>
        <select class="kf-ops-setting-select kf-side-pane">
        </select>
      </div>

      <h1 id="team-plan">Team Plan</h1>
      <h1 id="team-contacts">Contacts</h1>
      <h1 id="credit-card">Credit Card</h1>
      <h1 id="history">History</h1>
      <div class="kf-ops-push"></div>
    </div>
  </div>
</main>

