<div class="kf-org-profile-libraries" smart-scroll scroll-distance="'100%'" scroll-disabled="!hasMoreLibraries()" scroll-next="fetchLibraries()">
  <div class="kf-upl-card-list">
    <button ng-if="canCreateLibraries" class="kf-upl-card kf-upl-create-card" ng-click="openCreateLibrary()">
      <span class="kf-upl-create-card-add-icon svg-create-library"></span>
      <span class="kf-upl-create-card-text">Create a Library</span>
    </button>
    <div ng-if="libraries.length > 0" kf-user-profile-library-card="::library" ng-repeat="library in libraries" profile-id="{{::me.id}}"></div>
    <div ng-show="shouldShowMoveCard()" class="kf-upl-card kf-opl-move-libraries ng-hide">
      <div class="kf-opl-move-libraries-wrapper">
        <div class="kf-opl-move-libraries-text">
          <span class="kf-upl-move-card-text">Move a Library</span>
          <p>Move <a href="{{ me | profileUrl }}">libraries</a> between spaces by clicking their settings icon <span class="kf-upl-gear-icon-example svg-settings-gear"></span>.
        </div>
      </div>
    </div>
  </div>
</div>
