.kf-org-profile-slack-library
  display: inline-flex
  margin: 0 auto
  padding: 10px
  justify-content: center
  margin-bottom: 5px

.kf-org-profile-slack-library-message
  display: inline-block
  max-width: 500px

.kf-org-profile-slack-library-user
  margin-right: 10px

.kf-org-profile-slack-library-owner
.kf-org-profile-slack-library-name
.kf-org-profile-slack-library-team
  font-weight: bold

.kf-org-profile-slack-library-name
  &:after
  &:before
    content: '"'
