.kf-ops
  padding-top: 35px
  text-align: left

  .kf-ops-row
    flex-direction: column

    @media (min-width: 480px)
      flex-direction: row

.kf-ops-nav
  flex: 3
  margin-bottom: auto

.kf-ops-nav-item
  box-sizing: border-box
  display: block
  width: 100%
  padding: 5px 15px
  border-left: 2px solid transparent
  overflow: hidden
  transition: border-color .2s
  font-size: 15px

  &.ng-enter
  &.ng-leave
    transition: .25s

  &.ng-enter
    opacity: 0
    height: 0
    padding-top: 0
    padding-bottom: 0

  &.ng-enter-active
    opacity: 1
    height: 100%
    padding-top: 5px
    padding-bottom: 5px

  &.ng-leave
    opacity: 1
    height: 100%
    padding-top: 5px
    padding-bottom: 5px

  &.ng-leave-active
    opacity: 0
    height: 0
    padding-top: 0
    padding-bottom: 0
    line-height: 0

.kf-ops-nav-active
  border-color: accentGreen

.kf-ops-nav-item-inner
  padding-left: 30px

.kf-ops-main
  flex: 9
  position: relative

.kf-ops-nav + .kf-ops-main
  margin-top: 20px

  @media (min-width: 480px)
    margin-top: 0
    margin-left: 20px

.kf-ops-push
  display: block
  height: 80vh

.kf-ops-main > [ui-view]
  width: 100%

  &.ng-enter
  &.ng-leave
    position: absolute
    transition: .33s

  &.ng-enter
    opacity: 0
    transform: translate(5vw, 0)

  &.ng-enter-active
    opacity: 1
    transform: translate(0, 0)

  &.ng-leave
    transition: .25s
    opacity: 1

  &.ng-leave-active
    opacity: 0
