<main class="kf-ops kf-wrapper">
  <div class="kf-row kf-row-responsive">
    <div class="kf-ops-nav">
      <nav class="kf-ops-nav-box kf-container" kf-follow-scroll kf-follow-scroll-disabled="{{ state.current.activenav !== 'team-settings' }}">
        <div class="kf-container-header">
          <h1>Settings</h1>
        </div>
        <ul>
          <li class="kf-ops-nav-item" ng-class="{ 'kf-ops-nav-active': state.current.activenav === 'team-settings' }">
            <a class="kf-link" ui-sref="orgProfile.settings.team({ '#': 's-' })">Member Privileges</a>
          </li>
          <!-- sublisting -->
          <li ng-if="state.current.activenav === 'team-settings'" class="kf-ops-nav-item kf-ops-nav-item-inner">
            <a
              class="kf-link"
              ui-sref="orgProfile.settings.team({ '#': 'team-profile-' })"
            >Team Profile</a>
          </li>
          <li ng-if="state.current.activenav === 'team-settings'" class="kf-ops-nav-item kf-ops-nav-item-inner">
            <a
              class="kf-link"
              ui-sref="orgProfile.settings.team({ '#': 'libraries-' })"
            >Libraries</a>
          </li>
          <li ng-if="state.current.activenav === 'team-settings'" class="kf-ops-nav-item kf-ops-nav-item-inner">
            <a
              class="kf-link"
              ui-sref="orgProfile.settings.team({ '#': 'members-' })"
            >Members</a>
          </li>
          <li ng-if="state.current.activenav === 'team-settings'" class="kf-ops-nav-item kf-ops-nav-item-inner">
            <a
              class="kf-link"
              ui-sref="orgProfile.settings.team({ '#': 'integrations-' })"
            >Integrations</a>
          </li>
          <!-- -->
          <li ng-if="isAdminExperiment && canManagePlan" class="kf-ops-nav-item" ng-class="{ 'kf-ops-nav-active': state.current.activenav === 'payment-plan' }">
            <a
              class="kf-link"
              ui-sref="orgProfile.settings.plan"
            >Payment Plan</a>
          </li>
          <li ng-if="isAdminExperiment && canManagePlan" class="kf-ops-nav-item" ng-class="{ 'kf-ops-nav-active': state.current.activenav === 'activity-log' }">
            <a
              class="kf-link"
              ui-sref="orgProfile.settings.activity"
            >Activity Log</a>
          </li>
          <li ng-if="isAdminExperiment && canManagePlan" class="kf-ops-nav-item" ng-class="{ 'kf-ops-nav-active': state.current.activenav === 'billing-contacts' }">
            <a
              class="kf-link"
              ui-sref="orgProfile.settings.contacts"
            >Billing Contacts</a>
          </li>
          <li ng-if="canExportKeeps" class="kf-ops-nav-item" ng-class="{ 'kf-ops-nav-active': state.current.activenav === 'export-keeps' }">
            <a
              class="kf-link"
              ui-sref="orgProfile.settings.export"
              ng-if="canExportKeeps"
            >Export Keeps</a>
          </li>
          <!-- <li><a class="kf-link" href="#credit-card">Credit Card</a></li>
          <li><a class="kf-link" href="#history">History</a></li> -->
        </ul>
      </nav>
      <div class="kf-ops-fixed-nav-fix">&nbsp;<!-- prevent the layout from jumping --></div>
    </div>
    <div class="kf-ops-main">
      <div ui-view></div>
      <div class="kf-ops-push"></div>
    </div>
  </div>
</main>
