<div class="organization-invite-search dialog-content">
  <a class="dialog-x organization-invites-close-x" ng-click="close()"></a>
  <div class="dialog-body-wrap">
    <h1 class="dialog-header">Add Team Members</h1>
    <div class="dialog-body">
      <div class="opi-header">
        <p class="opi-large-team">Large team? <button class="kf-link kf-link-underline" ng-click="modalData.addMany = true">Add many emails at once...</button></p>
        <p class="opi-lead-in">Invite individuals suggested below</p>
      </div>
      <!-- Search -->
      <div class="opi-search-box">
        <img ng-src="/img/spinner_32.gif" ng-show="showSpinner" class="opi-spinner">
        <input type="text" ng-model="search.name" class="opi-input opi-search-input" placeholder="Search for people or email" ng-change="onSearchInputChange()" ng-keydown="processKeyEvent($event)" ng-focus="onSearchInputFocus()">
        <span class="opi-search-icon svg-search-icon-gray"></span>
      </div>

      <!-- Contact List -->
      <ul class="opi-contact-list" kf-wheel-allow>
        <li class="opi-contact" ng-repeat="result in results" ng-mouseenter="onResultHover(result)" ng-mouseleave="onResultUnhover(result)" ng-class="{'opi-invite-selected': result.selected, 'opi-invite-actionable': result.actionable}">

          <!-- Kifi friend -->
          <div ng-if="::result.id" class="opi-contact-container opi-invite-user">
            <a href="{{result|profileUrl}}" ng-click="close()" kf-track-origin="{{currentPageOrigin}}/invitationDropdown">
              <img ng-src="{{result|pic:100}}" class="opi-contact-image">
            </a>
            <div class="opi-contact-summary">
              <div class="opi-contact-name" ng-bind-html="result.name"></div>
              <div class="opi-contact-network">Kifi user</div>
            </div>
            <button ng-show="!result.sent && !result.isInvited" ng-click="inviteKifiFriend(result)" class="opi-contact-button">
              <svg kf-symbol-sprite icon="share" class="opi-content-button-icon"></svg>
              <span class="opi-content-button-label">Invite</span>
            </button>
            <div ng-show="!result.sent && result.isInvited" class="opi-invite-invited">Invited</div>
            <div ng-show="result.sent" class="opi-invite-sent">Sent!</div>
          </div>

          <!-- Existing email contact -->
          <div ng-if="::!result.id && !result.custom" class="opi-contact-container opi-contact-email">
            <div class="opi-contact-email-icon"></div>
            <div class="opi-contact-summary">
              <div class="opi-contact-name" ng-bind-html="result.name || result.emailFormatted"></div>
              <div class="opi-contact-network" ng-bind-html="result.name ? result.emailFormatted : 'An email contact'"></div>
            </div>
            <button ng-show="!result.sent && !result.isInvited" ng-click="inviteExistingEmail(result)" class="opi-contact-button">Invite</button>
            <div ng-show="!result.sent && result.isInvited" class="opi-invite-sent">Invited</div>
            <div ng-show="result.sent" class="opi-invite-sent">Sent!</div>
          </div>

          <!-- Send to any email -->
          <div ng-if="::result.custom === 'email'" class="opi-contact-container opi-contact-new-email">
            <div class="opi-contact-new-email-icon"></div>
            <div class="opi-contact-summary">
              <div class="opi-contact-name">{{query || 'Send to any email'}}</div>
              <div class="opi-contact-network">{{queryIsValidEmail ? 'An email address' : query ? 'Keep typing the email address' : 'Type the email address'}}</div>
            </div>
            <button ng-show="!result.sent && !result.isInvited && !result.hideButton" ng-click="inviteNewEmail(result)" class="opi-contact-button">Invite</button>
            <div ng-show="!result.sent && result.isInvited" class="opi-invite-invited">Invited</div>
            <div ng-show="result.sent" class="opi-invite-sent">Sent!</div>
          </div>

          <!-- Import from Gmail -->
          <div ng-if="result.custom === 'importGmail'" ng-click="importGmail()" class="opi-contact-container opi-import-gmail">
            <div class="opi-contact-gmail-icon"></div>
            <div class="opi-contact-summary">
              <div class="opi-contact-import-gmail">Import Gmail contacts</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
