.kf-org-profile-members-wrapper.kf-org-profile-members-wrapper
  padding: 20px 0

  > * + *
    margin-top: 15px
    margin-bottom: 0

.kf-org-member-manage
  box-sizing: border-box
  width: 80%;
  max-width: 700px
  min-width: 320px
  margin: auto
  overflow: hidden

.kf-org-members
  margin: -(defaultPadding)

.kf-org-member
  padding: 10px defaultPadding

  &:nth-child(odd)
    background: whitesmoke

.kf-org-members-autojoin
  font-size: 15px
  color: textBlackColor
  margin: 0

.kf-org-member-invite-row
  position: relative
  box-sizing: border-box
  display: flex
  justify-content: center
  align-items: center
  height: 56px
  border: 2px dashed rgba(textLightGrey, .5)
  margin: -3px -5px
  border-radius: 12px
  background: 0

.symbol-sprite.kf-org-member-invite-icon
  position: absolute
  top: 0
  bottom: 0
  left: 3px
  width: 42px
  height: 42px
  margin: auto
  border-radius: 50%
  background-color: #fff

.kf-org-member-invite-text
  font-size: 14px
  text-transform: uppercase
  font-smoothing: antialiased

.kf-org-member-email
  width: 42px
  height: 42px
  background-repeat: no-repeat
  background-position: center
  background-color: #eeeeee
  border: 1px solid #ebebeb
  border-radius: 50%

.dialog-content[kf-org-profile-member-remove]
  .dialog-buttons
    justify-content: flex-end
    padding-right: 25px

    button
      box-sizing: border-box
      width: auto
      min-width: 100px
      padding: 10px

.kf-opmr-wrapper
  display: flex
  align-items: center

.kf-opmr-member-pic
  flex: 1 0 0
  margin-right: 10px

  img
    border-radius: 50%
    width: 65px
    height: 65px

.kf-opmr-member-descriptions
  flex: 3 0 0
  text-align: left
  font-size: 13px
