.kf-org-member-owner-transfer

  .kf-flow-horizontal-right
    display: flex
    margin-bottom: 10px
    justify-content: center

    img
      width: 50px
      height: 50px
      border-radius: 50% 
      box-sizing: border-box

  p
    font-size: 1rem
    margin: 0
    margin-bottom: 15px

  .opis-contact-button
    float: none

  .kf-org-actions
    text-align: right

  .symbol-sprite
    stroke: accentGreen
    fill: transparent
    stroke-width: 20px
    width: 50px
    height: 50px
    margin: 0px 10px
