.kf-org-create
  .kf-org-create-title
    heading_xl()
    margin: 20px 0

  .kf-org-create-name
    width: 280px

  p
    line-height: 1.4rem
    color: textBlackColor

  .kf-org-create-field
    margin-bottom: 20px

    label
      font-weight: bold
      margin-bottom: 10px
      display: block

.kf-org-create-or
  margin-left: 12px
  margin-right: 12px

.kf-org-create-slack-header
  font-weight: bold
  color: black

.kf-org-create-slack-text
  margin-top: 20px
  margin-bottom: 20px

.kf-org-create-slack-icon
  display: inline-block
  height: 20px
  width: 20px

.kf-org-create-btn
  margin-right: 6px

.kf-org-create-slack-btn
  height: 22px
  padding: 8px
  padding-top: 4px
  margin-left: 0px

.kf-org-create-slack-hash
  display: inline-block
  position: relative
  height: 18px
  width: 18px
  margin-right: 5px
  margin-left: 2px
  top: 3px

.kf-org-create-error
  margin-top: 10px
  margin-left: 20px
  color: red

