.kf-org-profile-slack-upsell-logos
  display: flex
  justify-content: space-around
  margin: 0 15px

.kf-org-profile-slack-upsell-logo
  width: 64px
  height: 64px
  background-size: contain
  background-position: center
  background-repeat: no-repeat

.kf-org-profile-slack-upsell-slack
  background-image: url('/img/svg/slack.svg')

.kf-org-profile-slack-upsell-arrow
  background-image: url('/img/svg/arrow-right.svg')

.kf-org-profile-slack-upsell-kifi
  background-image: url('/img/svg/kifi-clover-logo.svg')
