.kf-ops
  padding-top: 35px
  text-align: left

  // Prevent the fixed header from covering up any #anchored headings.
  // via https://css-tricks.com/hash-tag-links-padding/
  h1,h2,h3,h4
    &[id]:before
      display: block
      content: " "
      margin-top: -80px
      height: 80px
      visibility: hidden

.kf-ops-nav
  flex: 3

  .kf-ops-nav-inner
    margin-top: 5px

    > li
      margin-left: 10px
      margin-bottom: 7px

.kf-ops-main
  flex: 9
  position: relative

.kf-ops-push
  display: block
  height: 80vh

.kf-ops-main > [ui-view]
  width: 100%

  &.ng-enter
  &.ng-leave
    position: absolute
    transition: .5s

  &.ng-enter
    opacity: 0
    transform: translate(40vw, 0)

  &.ng-enter-active
    opacity: 1
    transform: translate(0, 0)

  &.ng-leave
    opacity: 1
    transform: translate(0, 0)


  &.ng-leave-active
    opacity: 0
    transform: translate(40vw, 0)
