<div class="kf-oph">
  <div
    ng-if="shouldShowInviteBanner()"
    kf-generic-banner
    text="You've been invited to join {{profile.name}}'s organization."
    actions="bannerButtons"
  ></div>
  <div
    ng-if="notification == 'save'"
    kf-generic-banner
    text="Saved successfully"
    icon="'save'"
  ></div>
  <div
    ng-if="notification == 'error'"
    kf-generic-banner
    text="We're sorry, there was a problem saving your information. Please try again"
    icon="'error'"
    variation="'kf-generic-banner-error'"
  ></div>
  <div class="kf-oph-top" ng-class="editing ? 'kf-editing' : ''">
    <div class="kf-oph-pic-wrapper" ng-click="onOrgProfileImageClick($event)">
      <img class="kf-oph-pic" ng-src="{{profile|pic:200}}" alt="{{profile.name}}" itemprop="image">
      <input style="display: none;" class="kf-oph-pic-file" type="file" accept="image/jpeg,image/png,image/gif" kf-file-change="onOrgProfileImageFileChosen">
    </div>
    <div class="kf-oph-about">
      <div class="kf-oph-about-info">
        <div class="kf-oph-name" kf-click-to-edit on-save="save" value="profile.name"></div>
        <div class="kf-oph-description" kf-click-to-edit on-save="save" value="profile.description"></div>
        <p class="kf-oph-url">
          <span kf-click-to-edit on-save="save" input-placeholder="'e.g. http://example.com'" value="profile.url"></span>
        </p>
      </div>
      <nav class="kf-oph-stats">
        <a class="kf-oph-stats-a" ui-sref="orgProfile.boards">
          <div class="kf-oph-stats-name">Libraries</div>
          <div class="kf-oph-stats-count">{{profile.numLibraries|num}}</div>
        </a>
        <a class="kf-oph-stats-a" ui-sref="orgProfile.members">
          <div class="kf-oph-stats-name">Members</div>
          <div class="kf-oph-stats-count">{{profile.numMembers|num}}</div>
        </a>
      </nav>
      </table>
    </div>
  </div>
</div>
