.kf-org-member
  text-align: left
  font-size: 14px
  color: textBlackColor

.kf-org-member-info
  p
    margin: 0

    + p
      margin-top: 5px

.kf-org-member-info,
.kf-org-member-link img
  display: inline-block
  vertical-align: middle

.kf-org-member-info-name
  font-weight: bold
  color: textBlackColor

  &:hover
    text-decoration: underline

.kf-org-member-info-role
  text-decoration: none
  color: lighten(textBlackColor, 15%)

.kf-org-member-info-email
  font-style: italic

.kf-org-member-upper-left
  float: left
  width: 70%

.kf-org-member-upper-right
  float: right

.kf-org-member-lower
  clear: both
  margin-top: 10px

.kf-org-member-lower-left
  float: left
  width: 50%

.kf-org-member-lower-right
  float: right

.kf-org-member-email
.kf-org-member-pic
  display: inline-block
  width: 42px
  height: 42px
  margin-right: 10px
  border-radius: 50%

.kf-org-member-action-button
  border: 0
  background: none
  font-size: 14px
  color: textBlackColor

  .kf-org-member-action-icon
  .kf-org-member-action-title
    fill: white
    display: inline-block
    vertical-align: middle

.kf-org-membership-action
  text-decoration: underline

.kf-org-member-admin-action
  border-radius: 5px
  font-size: 0.75rem
  padding: 5px 10px
  background: pageHeaderColor
  color: white


.kf-org-member-invite-sent
  color: #56b263

.kf-dropdown-arrow-icon
  width: 20px
  height: 20px
  fill: lightgray

.kf-org-member-action-button:hover
  text-decoration: underline

  .kf-dropdown-arrow-icon
    stroke: clearBlueColor

.kf-dropdown-arrow-icon-inverted
  transform: scaleY(-1)
