.kf-org-profile-slack-keep
  display: inline-flex
  margin: 0 auto
  padding: 10px
  justify-content: center
  margin-bottom: 5px

.kf-org-profile-slack-keep-message
  display: inline-block
  max-width: 500px

.kf-org-profile-slack-keep-user
  margin-right: 10px

.kf-org-profile-slack-keep-team
.kf-org-profile-slack-keep-username
.kf-org-profile-slack-keep-title
  font-weight: bold

.kf-org-profile-slack-keep-title
  &:after
  &:before
    content: '"'
