ophSmallMaxDim = 736px // for @media max-height and max-width
ophImageWidth = 100px

.kf-oph
  background: pageHeaderColor
  color: #fff
  position: relative

  @media (max-height: ophSmallMaxDim) and (max-width: ophSmallMaxDim)
    padding-bottom: 12px

.kf-oph-wrapper
  wrapper()
  position: relative

.kf-oph-top
  padding-top: 50px
  max-width: 480px
  margin: 0 auto
  display: flex
  flex-direction: column

  @media (max-height: ophSmallMaxDim) and (max-width: ophSmallMaxDim)
    padding-top: 12px
    margin-left: 20px
    margin-right: 20px

  @media (max-width: appMobileWidth)
    flex-direction: column

  textarea.kf-edit-field
    background: transparent

  &.kf-editing
    textarea.kf-edit-field
      background: white
      color: textDarkGrey


  .profile-image-widget
    width: ophImageWidth
    height: ophImageWidth
    overflow: hidden
    border-radius: 5%
    margin: auto
    margin-bottom: 15px

.kf-oph-invite-button.kf-link
  position: absolute
  top: 25px
  right: 25px
  color: rgba(255, 255, 255, 0.8)

  svg
    fill: rgba(255, 255, 255, 0.8)

  &:hover
    color: white

    svg
      fill: white

.kf-oph-pic-wrapper
  position: relative
  overflow: hidden
  border-radius: 10px
  cursor: pointer

.kf-oph-pic-wrapper:hover:before
  content: 'Upload Logo'
  position: absolute
  right: 0
  bottom: 0
  left: 0
  height: 50px
  line-height: 50px
  color: #000
  background-color: rgba(255, 255, 255, .5);

.kf-oph-pic-wrapper:hover:before:hover
  background-color: rgba(255, 255, 255, 1);

.kf-oph-about
  flex: 1
  text-align: left

  @media (max-width: appMobileWidth)
    margin-right: 25px
    margin-top: 25px

  .kf-oph-input
    width: 100%
    text-align: center

  .kf-click-to-edit .kf-click-to-edit-p
    text-align: center
    width: 100%

.kf-oph-about-info
  margin-bottom: 40px

.kf-oph-name
  line-height: 31px
  font-size: 30px
  font-weight: normal
  color: inherit
  box-sizing: border-box

  @media (max-height: ophSmallMaxDim) and (max-width: ophSmallMaxDim)
    line-height: 20px
    font-size: 14px

  @media screen and (min-width: ophSmallMaxDim)
    &.kf-click-to-edit .kf-click-to-edit-textarea
      height: 45px

.kf-oph-description
  color: #d8d8d8
  line-height: 1.6em
  font-size: 0.9em
  font-smoothing: antialiased
  word-break: break-word
  width: 100%
  margin-bottom: 10px

  @media (max-height: ophSmallMaxDim) and (max-width: ophSmallMaxDim)
    line-height: 16px
    font-size: 10px

  &>a[href]
    color: inherit

    &:hover
      text-decoration: underline

.kf-oph-admin-link
  margin-top: -24px
  display: block

.kf-oph-url
.kf-click-to-edit-p
  margin-top: 0
  color: lighten(accentGreen, 15%)

  textarea, a
    font-size: 0.85rem
    color: lighten(accentGreen, 15%)
    text-decoration: underline

  a
    text-decoration: none

    &:hover
      text-decoration: underline

.kf-oph-stats
  text-align: center
  margin: 10px auto 0

  @media (max-height: uphSmallMaxDim) and (max-width: uphSmallMaxDim)
    margin-top: 2px

  @media (max-height: uphSmallMaxDim) and (max-width: uphSmallMaxDim)
    &::before
      transform: scale(1,.5)  // half-pixel border workaround crbug.com/236371

.kf-oph-stats-a
  display: inline-block
  padding: 6px 10px
  color: #9fa3aa
  background-color: alpha(#fff, 5%)
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  padding-left: 20px
  padding-right: 20px

  &:not(.active)[href]:hover
    background-color: alpha(#fff, 10%)

  &:not([href])
    color: accentGreen
    cursor: default

  &:focus
    outline: none

  &.active
    background: appBackgroundColor
    color: textBlackColor

    .kf-oph-stats-count
      color: inherit

  @media (max-height: uphSmallMaxDim) and (max-width: uphSmallMaxDim)
    padding: 3px 5px

  .kf-oph-stats-count
  .kf-oph-stats-name
    display: inline-block
    vertical-align: middle

.kf-oph-stats-name
  line-height: 24px
  font-size: 14px

  @media (max-height: uphSmallMaxDim) and (max-width: uphSmallMaxDim)
    line-height: 12px
    font-size: 7px

.kf-oph-stats-count
  color: #fff
  line-height: 24px
  font-size: 14px
  margin-right: 5px

  @media (max-height: uphSmallMaxDim) and (max-width: uphSmallMaxDim)
    line-height: 15px
    font-size: 11px

  :not([href])>&
    color: inherit

.profile-image.editable
  overflow: hidden
  position: relative

  &:after
    content: 'Upload new'
    position: absolute
    right: 5%
    left: 5%
    background: white
    font-size: 0.85rem
    padding: 7px
    background: secondaryTextGray
    border-top-left-radius: defaultBorderRadius
    border-top-right-radius: defaultBorderRadius
    bottom: -50px
    transition: bottom 0.25s ease-out

  &:hover
    &:after
      bottom: 0

