<div class="kf-org-profile-libraries" smart-scroll scroll-distance="'100%'" scroll-disabled="!hasMoreLibraries()" scroll-next="fetchLibraries()">
  <div kf-org-profile-slack-box organization="organization" show-new-slack-button="showNewSlackButton" ng-if="organization.slackTeam && !viewer.membership.role && !viewer.invite"></div>
  <div class="kf-upl-card-list">
    <button ng-show="loaded" ng-if="canCreateLibraries" class="kf-upl-card kf-opl-create-card kf-link-parent" ng-click="openCreateLibrary()">
      <span class="kf-opl-create-card-add-icon"><svg kf-symbol-sprite icon="plus"></svg></span>
      <span class="kf-opl-create-card-text kf-link kf-link-black">Create a Library</span>
    </button>
    <div kf-loading-spinner class="kf-opl-loading-spinner" hide="loaded"></div>
    <div ng-if="libraries.length > 0" kf-user-profile-library-card="::library" ng-repeat="library in libraries" profile-id="{{::me.id}}"></div>
    <div ng-show="shouldShowMoveCard()" class="kf-upl-card kf-opl-move-libraries ng-hide">
      <div class="kf-opl-move-libraries-wrapper">
        <div class="kf-opl-move-libraries-text">
          <svg class="kf-opl-move-libraries-box" kf-symbol-sprite icon="box-open"></svg>
          <span class="kf-opl-move-card-title">Move a Library</span>
          <p class="kf-opl-move-libraries-description">Go to <a href="{{ me | profileUrl }}">your profile</a> to move libraries into this team.</p>
          <button class="kf-opl-move-libraries-more-info" ng-click="openMoveLibraryHelp()">More Info</button>
        </div>
      </div>
    </div>
    <div class="kf-opl-empty" ng-if="libraries.length === 0">
      {{ profile | name }} doesn't have any libraries you have access to.
    </div>
    <div class="kf-opl-nonmember" ng-if="!viewer.membership.role && !viewer.invite">
      If you are a member of this team, please contact the team's administrator and request an invitation.
    </div>
  </div>
</div>
