<li class="kf-organization-member">
  <div class="kf-organization-member-upper clearfix">
    <div class="kf-organization-member-upper-left">
      <a href="{{member|profileUrl}}" class="kf-organization-member-link" kf-track-origin="{{currentPageOrigin}}/member" ng-click="close()">
        <img ng-src="{{member | pic:100}}" alt="{{member|name}}" class="kf-organization-member-pic" ng-if="member.id">
        <div class="kf-organization-member-email svg-envelope" ng-if="!member.id"></div>
      </a>
      <div class="kf-organization-member-info">
        <div class="kf-organization-member-info-name">{{ member.firstName ? member.firstName + ' ' + member.lastName : member.email }}</div>
        <div class="kf-organization-member-info-email">{{ member.email || (member.username + '@kifi.com') }}</div>
      </div>
    </div>
    <div class="kf-organization-member-upper-right">
      <button class="kf-organization-member-action-button" ng-click="toggleControls()">{{ member.role === 'owner' ? 'Owner' : 'Member' }}</button>
      {{ isOpen() ? 'V' : '>'}}
    </div>
  </div>
  <div class="kf-organization-member-lower clearfix" ng-style="isOpen() ? null : { 'display': 'none' }">
    <p class="kf-organization-member-no-actions" ng-if="!shouldShowMakeAdmin() && !shouldShowInvite() && !shouldShowRemove()">
      There are no actions to perform
    </p>
    <div class="kf-organization-member-lower-left">
      <button ng-if="shouldShowMakeAdmin()" class="kf-organization-member-action-button kf-organization-member-admin-action" ng-click="triggerMakeAdmin(member)">Make admin</button>
    </div>
    <div class="kf-organization-member-lower-right">
      <button ng-if="shouldShowInvite()" class="kf-organization-member-action-button kf-organization-membership-action" ng-click="triggerInvite(member)">resend invite</button>
      <button ng-if="shouldShowRemove()" class="kf-organization-member-action-button kf-organization-membership-action" ng-click="triggerRemove(member)">{{ member.username === me.username ? 'leave organization' : 'remove member' }}</button>
    </div>
  </div>
</li>
