.kf-org-profile-slack-welcome
  display: inline-flex
  margin: 0 auto
  padding: 10px
  justify-content: center
  margin-bottom: 5px

.kf-org-profile-slack-welcome-message
  display: inline-block
  max-width: 500px

.kf-org-profile-slack-welcome-user
  margin-right: 10px

.kf-org-profile-slack-welcome-username
.kf-org-profile-slack-welcome-team
  font-weight: bold
