<div class="kf-org-profile-slack">
  <div class="kf-org-profile-slack-box">
    <p class="kf-org-profile-slack-title">Get access to your Slack team's libraries of links on Kifi</p>
    <a
      class="kf-button kf-button-large kf-org-profile-slack-button"
      href="https://www.kifi.com/link/slack"
      target="_self"
      ng-click="linkSlack($event)"
    >
      Continue with <img class="kf-org-profile-slack-image" src="/img/slack-monochrome-white.2x.png" />
    </a>
    <p ng-if="!userLoggedIn" class="kf-org-profile-slack-login">Already a Kifi member? <a class="kf-link kf-link-underline kf-link-blue" ng-href="{{ 'https://www.kifi.com/login/slack?slackTeamId=' + slackTeamId" target="_self">Log in</a></p>
  </div>
</div>
