<div class="kf-cta-hover" ng-if="whyShowing">
  <a class="dialog-x" href="javascript:" ng-click="onClickX()" ng-if="whyShowing === 'timer'"></a>
  <div class="kf-cta-hover-content">
    <div class="kf-cta-hover-main-text">{{title}}</div>
    <!-- bring this back as a message at some point perhaps for simple ctas-->
    <!--<div class="kf-cta-hover-user-quote-container">-->
      <!--<q class="kf-cta-hover-user-quote">From business to personal,<br>Kifi has been instrumental<br>in my day-to-day life.</q>-->
      <!--<footer class="kf-cta-hover-user-quote-by">Remy Weinstein, California</footer>-->
    <!--</div>-->
  </div>
</div>