<div class="kf-body-container">
    <div id="kf-body-container-content" class="kf-body-container-content" ng-class="{'kf-user-logged-out': !$root.userLoggedIn}">
        <header ng-if="!showSimpleHeader"
                ng-include="$root.userLoggedIn ? 'leftHandNav/loggedInNavHeader.tpl.html' : 'header/loggedOutHeader.tpl.html'"></header>
        <div class="kf-body-container-content-main" ng-include="'layout/main/main.tpl.html'"></div>
    </div>
    <div kf-left-hand-nav ng-show="$root.userLoggedIn"></div>
</div>


