<h2>Getting Started with kifi</h2>
<ul class="about-kifi splash-list">
	<li>
		<a class="kifi-tutorial" href="#">
			<span class="kifi-icon kifi-icon-tutorial"></span>
			Quick guide to get started
		</a>
	</li>
	<li class="install-kifi">
		<a href="/install">
			<span class="kifi-icon kifi-icon-install"></span>
			Install the extension
		</a>
	</li>
	<li>
		<a href="friends/invite">
			<span class="kifi-icon kifi-icon-friends"></span>
			Find friends
		</a>
	</li>
</ul>
<h2>kifi Support and Updates</h2>
<ul class="about-us splash-list">
	<li>
		<a href="http://support.kifi.com" class="support-center">
			<span class="kifi-icon kifi-icon-support"></span>
			Support center
		</a>
	</li>
	<li>
		<a href="http://support.kifi.com/customer/portal/emails/new" class="contact-us">
			<span class="kifi-icon kifi-icon-contact"></span>
			Contact us
		</a>
	</li>
	<li>
		<a href="http://blog.kifi.com" class="updates-features">
			<span class="kifi-icon kifi-icon-blog"></span>
			kifi blog
		</a>
	</li>
</ul>
<div class="footer">
	<a href="/privacy">Privacy</a>
	<span class="footer-sep">|</span>
	<a href="/terms">Terms</a>
	<span class="footer-sep">|</span>
	<a href="/about">About kifi</a>
	<span class="footer-sep">|</span>
	<a href="http://www.42go.com">About FortyTwo</a></li>
</div>
