.person {
  float: left;
  margin-right:25px;
}
.person img {
  height:20px;
  width:20px;
  margin:0 auto;
}

.comment a {
  display: block;
}

.activity-table {
  width: 900px;
}

.time {
  width:75px;
}

.kind {
  width:100px;
}

.bookmark .label a {
  color: #fff;
}


.event-family {
  width:100px;
}

.event-name {
  width:100px;
}