.descriptors {
  margin: 10px 0;
  vertical-align: top;
}

.descriptors th,
.descriptors td {
  width: 7%;
  text-align: center;
}

.descriptors input[type=text] {
  padding-right: 20px;
  margin: 0;
  width: 100%;
}

