
.center {
  margin: auto;
}

#queryForm{
  margin-left:20%;
  margin-right:15%;
}

table
{
  margin:auto;
  border-collapse:collapse;
  width:50%;
}

table, td, th
{
  border:1px solid black;
  text-align:center;
  padding: 5px;
}

#result{
  color:blue;
}
