/* HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp { border: 0; margin: 0; padding: 0; font-size: 100%; zoom: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote { list-style:none; }

h1, h2, h3, h4, h5, h6 { line-height:normal; font-weight:normal; }

a { text-decoration: none; outline:none; cursor:pointer; }

b, strong { font-weight: bold; }

img { color: transparent; font-size: 0; vertical-align: middle; border:none; -ms-interpolation-mode: bicubic; max-width:100%; height:auto;}

ul, li { display: list-item; list-style:none; }

table { border-collapse: collapse; border-spacing: 0; }

th, td, caption { font-weight: normal; vertical-align: top; text-align: left; }

svg { overflow: hidden; }

/* Form Elements */

input[type="checkbox"] { margin:0 4px; width: 13px; height: 13px; padding: 0; vertical-align: middle; position: relative; top: -1px; *overflow: hidden;} /*checkbox alignement*/

input, textarea, select { outline:none; margin:0; }

textarea{ overflow:auto; resize:none;}

/* Buttons */

.button{ display:inline-block; height:34px; line-height:34px; padding:0 28px; border:1px solid; border-radius:3px;}

.button.bigger{ height:62px; line-height:62px; padding:0 56px; border-width:2px; border-radius:5px; font-size:22px; font-weight:600;}

.button.blue{ background:#6fa6ef; border-color:#6fa6ef; color:#fff;}

.button.blue:hover{ background:#8cb8f2;}

.button.blue_inverted{ background:#fff; border-color:#6fa6ef; color:#6fa6ef; }

.button.blue_inverted:hover{ background:#8cb8f2; color:#fff;}

.button.green{ background:#93c059; color:#fff; border-color:#93c059;}

.button.green:hover{ background:#a9cd7a;}

.button.simple{ border-color:transparent; color:#333333;}

.button.simple:hover{ color:#6fa6ef}

.duration{
-webkit-transition: all 0.35s ease-out;
-moz-transition: all 0.35s ease-out;
-o-transition: all 0.35s ease-out;
transition: all 0.35s ease-out;
}


/* General Stlyes*/

html{overflow-y: scroll;}

body { font:16px/1.5 avalonregular, Arial, Helvetica, sans-serif; background: url(../images/bg.png) #f5f5f5; color:#515051; text-align:left;}

a, .avatars li, img, .tabs_nav li{-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}

a:active { -webkit-transition: all 0.05s ease-out; -moz-transition: all 0.05s ease-out; -o-transition: all 0.05s ease-out; transition: all 0.05s ease-out;}

.profile_desc{-webkit-transition: all 0.3s 0.3s ease-out; -moz-transition: all 0.3s 0.3s ease-out; -o-transition: all 0.3s 0.3s ease-out; transition: all 0.3s 0.3s ease-out;}

a { color:#1c92e6; }

a:hover{color:#000;}

/*floats*/

.right { float:right; }

.left { float:left; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.clearfix:before, .clearfix:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.clearfix:after { clear: both; }

.clearfix { zoom: 1; }

img.right{ margin:0 0 10px 10px;}

img.left{ margin:0 10px 10px 0;}



/* Tyopgraphy Styles*/

@font-face {
    font-family: 'avalonregular';
    src: url('fonts/Avalon-Book-webfont.eot');
    src: url('fonts/Avalon-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Avalon-Book-webfont.woff') format('woff'),
         url('fonts/Avalon-Book-webfont.ttf') format('truetype'),
         url('fonts/Avalon-Book-webfont.svg#avalonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.text_left{ text-align:left;}

.text_center{ text-align:center;}

.text_right{ text-align:right;}

h1, h2{ color:#515051; font-size:44px; line-height:1.1; margin-bottom:15px;}

h2{ font-size:30px;}

h3{ font-size:22px; margin-bottom:5px;}

h4{ font-size:18px; margin-bottom:8px;}

p{ margin-bottom:15px; line-height:1.4;}

.blue{ color:#1C92E6;}

.list{ margin-bottom:15px; margin-left: 5px;}

.list li{ list-style-type:disc; list-style-position:outside; margin-left: 15px; }

blockquote{ font:17px "Donegal One", "Times New Roman", Times, serif; margin-bottom:25px;}

.button blue, .grey_btn{  margin-top: 29px; margin-right:3px; font-size:16px; line-height:36px; height:36px; padding:0 25px; text-align:center;  display:inline-block; 
}

.button blue.big, .grey_btn.big{ height:54px; line-height:54px;}

.button blue.large, .grey_btn.large{ height:106px; line-height:106px; padding:0 140px; font-size:32px;}

.button blue.large:hover, .grey_btn.large:hover{ background:#62b7f6; color:#fff;}

.main_btn { display: none; }

.main_btn, .button blue{border-radius:5px; -webkit-border-radius:5px; color:#fff; background:#3ba5f4; }

.main_btn2, .button blue2, .grey_btn2{border:1px solid #3483b9; box-shadow:inset 0 1px 0 0 #6fdefb, 0 2px 3px 0 rgba(0,0,0,0.2); -webkit-box-shadow:inset 0 1px 0 0 #6fdefb, 0 2px 3px 0 rgba(0,0,0,0.2); border-radius:5px; -webkit-border-radius:5px; color:#fff;
background: #46b5f6;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ2YjVmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTlkZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #46b5f6 0%, #359df4 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#46b5f6), color-stop(100%,#359df4));
background: -webkit-linear-gradient(top,  #46b5f6 0%,#359df4 100%);
background: -o-linear-gradient(top,  #46b5f6 0%,#359df4 100%);
background: -ms-linear-gradient(top,  #46b5f6 0%,#359df4 100%);
background: linear-gradient(to bottom,  #46b5f6 0%,#359df4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46b5f6', endColorstr='#359df4',GradientType=0 );}


.main_btn2:hover, .button blue2:hover{background: #5dc0f7;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVkYzBmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZGFkZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #5dc0f7 0%, #4dadf6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5dc0f7), color-stop(100%,#4dadf6));
background: -webkit-linear-gradient(top,  #5dc0f7 0%,#4dadf6 100%);
background: -o-linear-gradient(top,  #5dc0f7 0%,#4dadf6 100%);
background: -ms-linear-gradient(top,  #5dc0f7 0%,#4dadf6 100%);
background: linear-gradient(to bottom,  #5dc0f7 0%,#4dadf6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5dc0f7', endColorstr='#4dadf6',GradientType=0 );

}

.main_btn2:active, .button blue2:active, .main_btn2.active, .button blue2.active{
	box-shadow:inset 0 0 8px 2px rgba(0,0,0,0.25), 0 1px 0 0 #F4F4F4;
	-webkit-box-shadow:inset 0 0 8px 2px rgba(0,0,0,0.25), 0 1px 0 0 #F4F4F4;
	background: #46b5f6;
	background: -moz-linear-gradient(top,  #46b5f6 0%, #359df4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#46b5f6), color-stop(100%,#359df4));
	background: -webkit-linear-gradient(top,  #46b5f6 0%,#359df4 100%);
	background: -o-linear-gradient(top,  #46b5f6 0%,#359df4 100%);
	background: -ms-linear-gradient(top,  #46b5f6 0%,#359df4 100%);
	background: linear-gradient(to bottom,  #46b5f6 0%,#359df4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46b5f6', endColorstr='#359df4',GradientType=0 );
	}
	
.button blue:active{ position:relative; top:1px;}	

.grey_btn {
	box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.5), 0 2px 3px 0 rgba(0,0,0,0.2);
	border:1px solid #9d9d9d;
	background: #c5c5c5;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1YzVjNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiM2IzYjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #c5c5c5 0%, #b3b3b3 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5c5c5), color-stop(100%,#b3b3b3));
background: -webkit-linear-gradient(top,  #c5c5c5 0%,#b3b3b3 100%);
background: -o-linear-gradient(top,  #c5c5c5 0%,#b3b3b3 100%);
background: -ms-linear-gradient(top,  #c5c5c5 0%,#b3b3b3 100%);
background: linear-gradient(to bottom,  #c5c5c5 0%,#b3b3b3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5c5c5', endColorstr='#b3b3b3',GradientType=0 );
}

.grey_btn:hover{background: #cfcfcf;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NmY2ZjZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMGMwYzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #cfcfcf 0%, #c0c0c0 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(100%,#c0c0c0));
background: -webkit-linear-gradient(top,  #cfcfcf 0%,#c0c0c0 100%);
background: -o-linear-gradient(top,  #cfcfcf 0%,#c0c0c0 100%);
background: -ms-linear-gradient(top,  #cfcfcf 0%,#c0c0c0 100%);
background: linear-gradient(to bottom,  #cfcfcf 0%,#c0c0c0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#c0c0c0',GradientType=0 );
}

.grey_btn:active{
	position:relative;
	top:1px;
	box-shadow:inset 0 0 8px 2px rgba(0,0,0,0.25), 0 1px 0 0 #F4F4F4;
	-webkit-box-shadow:inset 0 0 8px 2px rgba(0,0,0,0.25), 0 1px 0 0 #F4F4F4;
	background: #c5c5c5;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1YzVjNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiM2IzYjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #c5c5c5 0%, #b3b3b3 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5c5c5), color-stop(100%,#b3b3b3));
background: -webkit-linear-gradient(top,  #c5c5c5 0%,#b3b3b3 100%);
background: -o-linear-gradient(top,  #c5c5c5 0%,#b3b3b3 100%);
background: -ms-linear-gradient(top,  #c5c5c5 0%,#b3b3b3 100%);
background: linear-gradient(to bottom,  #c5c5c5 0%,#b3b3b3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5c5c5', endColorstr='#b3b3b3',GradientType=0 );

}

.buttons_row{ margin-bottom:15px;}

hr{ border:none; background:#e5e5e5; height:5px; margin:30px 0;}

/* Main Styles*/

.non_mobile{ display:block;}
	
.mobile{ display:none;}


.wrap, .wrap2, .wrap3{ position:relative; margin:0 auto; max-width:980px; padding:0 10px; }

.wrap2{ max-width:800px;}

.wrap3{ max-width:600px;}

#header_bar{ padding:16px 0; height: 36px; background:#fff; background: rgba(255,255,255,0.95); z-index: 10002; position: fixed; left: 0; width: 100%; top: 0; z-index: 20000;}

#header_bar .wrap{ max-width:1170px;}

.slide_team #header_bar{ left:-240px;}

.slide_nav #header_bar{ left:244px;}

#header_bar h2{ line-height: 36px; float: left; margin: 0; position:relative; left:-21px; opacity:0;}

#header_bar h2.animate{ left:0; opacity:1; }

#header_bar .right{ }

#header_bar .right .button{ margin-left:4px;}

#header{ position: fixed; left:0; right:0; top: 68px; z-index: 1000;}

body.header_shadow #header{ box-shadow: 0 1px 4px 0 rgba(0,0,0,0.07);}

#logo{ width:63px; height:36px; border-right: 1px solid #e5e5e5; padding-right: 20px; margin-right: 20px;}

.main_nav{ padding: 18px 0; text-align: center; border-bottom: 1px solid #e2e2e2; background: #f5f5f5; background: rgba(245,245,245,0.95);}

.main_nav li{ padding:0 7px; border-left:1px solid #d9d9d9; display: inline-block;}

.main_nav li.mobile{ display:none;}

.main_nav li:first-child{ border:none;}

.main_nav li a{ color:#000; font-size:16px; line-height:16px;}

.main_nav li a{}

.main_nav li:hover a, .main_nav li.current a{ color:#1c92e6;}

#main_content{ padding-top: 160px; padding-bottom: 30px;}

#main_content.team{ padding-top:0;}

#main_content.culture_page{ padding-top:128px;}

#main_content.team .tabs_content{ padding-top: 160px;}

.primary{ }

/* home */

.overflow_h{ overflow:hidden; }

.homepage{ padding:100px 0 0;}

.homepage h2, .homepage p{ margin-bottom:25px;}

.homepage .left{ width:18.4%; margin-right:55px;}

.home_image{position:fixed; width:353px; height:473px; left:50%; top:50%; margin:-236px 0 0 -176px;}

.home_container{ width:353px; height:473px; overflow:hidden; margin:0 auto; position: relative; background: url(../images/logo.svg) no-repeat;}

/* using div with a few extra transparent pixels on the right to avoid banding artifacts in Chrome (bg_image.jpg is 1412 wide) */
.home_container .image { position:absolute; top:-110px; left:0; height: 600px; width:1420px; background: url(../images/bg_image.jpg) no-repeat; -webkit-transition: left 7s linear; -moz-transition: left 7s linear; -o-transition: left 7s linear; transition: left 7s linear }

.home_container .image.loaded { left:-1412px }

.home_container .mask{ background:url(../images/logo_mask.png) no-repeat; width:359px; height:479px; position:absolute; left: -3px; top: -3px; z-index:100;}

.know_more{ position: absolute; right: -280px; top: 8%; text-align: left; width: 170px; font-size: 14px;}

.know_more h3{ margin-bottom:10px;}

.kifi_intro{ max-width:660px; position:fixed; left:50%; top:50%; margin-left:-330px; margin-top:-250px; }

.kifi_logo{ margin:45px 0 15px;}

.kifi_intro .button blue{ margin-right:0;}

/* culture */

.tabs_banners .banner, .tab{ display:none;}

.tabs_banners{ overflow:hidden; width:100%; position:relative; height:403px; margin-bottom: 20px;}

.tabs_banners .banner{ margin:0 auto; position:relative; text-align:left; font-size:0; height: 403px; overflow:hidden;}
.tabs_banners .banner.values{ max-width: 1815px;}
.tabs_banners .banner.tech{ max-width: 2420px;}
.tabs_banners .banner.benefits{ max-width: 3025px;}
.tabs_banners .banner:after,
.tabs_banners .banner_gradient {
  content: "\0020";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 47px;
  background: rgba(245,245,245,.4);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjVmNWY1IiBzdG9wLW9wYWNpdHk9IjAuNzUiLz4KICAgIDxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjZjVmNWY1IiBzdG9wLW9wYWNpdHk9IjAuOSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjVmNWY1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(rgba(245,245,245,.4),rgba(245,245,245,.75) 50%,rgba(245,245,245,.9) 80%,#f5f5f5);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,.4)), color-stop(50%,rgba(245,245,245,.75)), color-stop(80%,rgba(245,245,245,.9)), color-stop(100%,#f5f5f5));
  background: -webkit-linear-gradient(rgba(245,245,245,.4),rgba(245,245,245,.75) 50%,rgba(245,245,245,.9) 80%,#f5f5f5);
  background: -ms-linear-gradient(rgba(245,245,245,.4),rgba(245,245,245,.75) 50%,rgba(245,245,245,.9) 80%,#f5f5f5);
  background: -o-linear-gradient(rgba(245,245,245,.4),rgba(245,245,245,.75) 50%,rgba(245,245,245,.9) 80%,#f5f5f5);
  background: linear-gradient(rgba(245,245,245,.4),rgba(245,245,245,.75) 50%,rgba(245,245,245,.9) 80%,#f5f5f5);
  border-top: 1px solid rgba(245,245,245,.95);
}
.tabs_banners .banner_gradient {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66f5f5f5',endColorstr='#f5f5f5',GradientType=0);
  border-top: 1px solid #f0f0f0;
}

.tabs_banners .banner .img{ position:absolute; width:605px; height:403px; box-shadow:0 0 10px 8px rgba(0,0,0,.3)}
.ltie9 .tabs_banners .banner .img{ z-index: -1;}
.tabs_banners .banner .img[data-dir="-"]{ left:-50%;}
.tabs_banners .banner .img[data-dir="+"]{ left:120%;}
.tabs_banners .banner .values_1{ background: url(../images/values_1.jpg) 70%; width: 33.33%; left: 0;}
.tabs_banners .banner .values_2{ background: url(../images/values_2.jpg) 60%; width: 33.33%; left: 33.33%;}
.tabs_banners .banner .values_3{ background: url(../images/values_3.jpg) 50%; width: 33.33%; left: 66.67%;}
.tabs_banners .banner .tech_1{ background: url(../images/technologies_1.jpg) center; width: 20%; left: 0;}
.tabs_banners .banner .tech_2{ background: url(../images/technologies_2.jpg) 25%; width: 20%; left: 20%;}
.tabs_banners .banner .tech_3{ background: url(../images/technologies_3.jpg) 65%; width: 20%; left: 40%;}
.tabs_banners .banner .tech_4{ background: url(../images/technologies_4.jpg) 78%; width: 20%; left: 60%;}
.tabs_banners .banner .tech_5{ background: url(../images/technologies_5.jpg) 75%; width: 20%; left: 80%;}
.tabs_banners .banner .benefits_1{ background: url(../images/benefits_1.jpg) 70%; width: 25%; left: 0;}
.tabs_banners .banner .benefits_2{ background: url(../images/benefits_2.jpg) 70%; width: 25%; left: 25%;}
.tabs_banners .banner .benefits_3{ background: url(../images/benefits_3.jpg) 15%; width: 25%; left: 50%;}
.tabs_banners .banner .benefits_4{ background: url(../images/benefits_4.jpg); width: 25%; left: 75%;}

.tabs_banners .banner.current, .tab.current{ display:block;}

.culture_tabs .tabs_nav{ float:left; width:170px; margin-right:25px; line-height:30px; font-size:18px;}

.tabs_nav li, .tabs_nav a{ color:#515051;}

.tabs_nav li.current, .tabs_nav li:hover, .tabs_nav a:hover{ color:#1c92e6; cursor:pointer;}

.tabs_nav li.current{ cursor:default;}

.culture_tabs .tabs_container{ overflow:hidden; padding:0 5px 5px;}


/* team */

.viewport {width: 100%; overflow: hidden; position:relative;}

.avatars{ background:#f6f6f6; background:rgba(255,255,255,0.3); position:fixed; padding: 8px; width: auto; left:50%; margin-left: -756px; bottom:67px; border:1px solid #d3d3d3; border-radius: 12px; -webkit-border-radius: 12px; box-shadow:0 5px 9px 0 rgba(0,0,0,0.1); -webkit-box-shadow:0 5px 9px 0 rgba(0,0,0,0.1); z-index:10000;}

.ltie9 .avatars{ background:url(../images/white30.png);}

.avatars li{ float:left; margin: 0 3px; cursor:pointer; position:relative; border-radius:10px; -webkit-border-radius:10px;}

.avatars .avatar_divider{display:none;}

.avatars li .mobile{ display:none;}

.avatars li:hover, .avatars li.active{ box-shadow:0 1px 8px 0 rgba(0,0,0,0.5); -webkit-box-shadow:0 1px 8px 0 rgba(0,0,0,0.5);}

#avatars_tooltip{ display:none; position:absolute; top:-70px; left:-59px; background:#1c92e6; color: white; border-radius:4px; -webkit-border-radius:4px; padding:10px; width:180px; font-size:14px; line-height:1.3;}

#avatars_tooltip:after{ content:""; background:url(../images/tooltip_line.png) no-repeat; width:16px; height:30px; position:absolute; bottom:-30px; left:28%;}

#avatars_tooltip .position{ font-size:12px;}

.scrolling_down .tabs_content{ padding:15px 0 40px;}

.tabs .tabs_content{ margin-bottom:0; border:none; display:none; float:none;}

.tabs .tabs_content.active{ display:block;}

.tabs_content .profile_img{ width:453px; float:left; margin-right:30px;}

.tabs_content .profile_img img{ width:100%; height:auto;}

.profile_img .main_info, .tabs_content .profile_img img.mobile{ display:none;}

.profile_desc{ overflow:hidden; padding-left: 5px;}

.tabs_content.visible .profile_img img, .ie .tabs_content .profile_img img{ opacity:1; right:0;}

.tabs_content.visible .profile_desc, .ie .tabs_content .profile_desc{opacity:1; bottom:0;}

.tabs_content .position{ font-size:16px; position:relative; top:-15px;}

.tabs_content h3{ margin-bottom:5px;}

.tabs_content .workplaces{ font-size:22px; color:#1C92E6; margin-bottom:15px;}

.culture_tabs .mobile_banners{ display:none;}
		

/* investors */

.investors .investor{ float: left; width:226px; height:191px; background:url(../images/investors_frame.png) right bottom; position:relative; padding:0 10px 0 205px; margin:0 18px; margin-bottom:50px;}

.investors .row{ }

.investors .investor h2{ margin-top:30px; color:#a12a78; font-size:26px;}

.investors .investor img{ left:0; bottom:1px; position: absolute;}

.investors .investor li{ line-height:1.3; font-size:14px; margin-bottom:10px; }


/* footer */

#footer{ margin-top: 30px; background:url(../images/bg.png);}

#footer.home{ margin-top:700px;}

#footer.fixed{ position:fixed; left:0; right:0; bottom:0; z-index:1000;}

#footer .wrap{ border-top:5px solid #e5e5e5;}

#footer .copy{ margin-top:9px; line-height:26px;}

#footer .divider{ color:#c2c2c2; display:inline-block; margin:0 8px;}

#footer .social{ position:absolute; right:0; top:9px;}

#footer.join { margin-top: 50px; }

.social .icon{ display:inline-block; margin-left:2px; background:url(../images/social.png); width:27px; height:27px;}

.social .facebook{ background-position:0 0;}

.social .linkedin{ background-position:-30px 0;}

.social .twitter{ background-position:-60px 0;}

.social .pinterest{ background-position:-90px 0;}

.social .github{ background-position:-120px 0;}

.social .facebook:hover, .social .facebook:active{ background-position:0 -30px;}

.social .linkedin:hover, .social .linkedin:active{ background-position:-30px -30px;}

.social .twitter:hover, .social .twitter:active{ background-position:-60px -30px;}

.social .pinterest:hover, .social .pinterest:active{ background-position:-90px -30px;}

.social .github:hover, .social .github:active{ background-position:-120px -30px;}


/* media queries */

@media screen and (max-width: 1560px) {

		.avatars {margin-left: -372px; text-align:center;}
		.avatars .avatar_divider{ display:block;}
		.avatars li{ display:inline-block; margin:0 0 6px 0; float:none;}
		.avatars .avatar_divider ~ li{ margin-bottom:0}

}


@media screen and (max-width: 1024px) {
		.wrap{margin:0 10px;}
		.profile_img{ max-width:50%;}
		.know_more { right:-200px;}
		.home_image{ margin-left:-190px;}
		
		h1{ font-size:38px;}
		.button blue.large, .grey_btn.large{ height:80px; line-height:80px; font-size:28px; padding:0 110px;}
		.kifi_intro { margin-top:-206px;}
		.kifi_logo img{ width:200px; height:auto;}
}


@media screen and (max-width: 767px) {
	
		.homepage{ padding-top:0;}
	
		.non_mobile{ display:none;}
		
		.mobile{ display:block;}
		
		.primary{ padding-top:0;}
	
		html{ overflow:auto;}
		
		#header{ padding: 0 0 15px 0; z-index: 20000; background: none; height: auto; padding: 0;}
		
		.main_nav li.mobile{ display:block;}
		
		.main_nav li.non_mobile, #logo{ display:none;}
		
		.home_image .main_nav, .home .main_nav.mobile{ position:relative; left:auto; background:none; height:auto; width:auto; display:block; box-shadow: none; -webkit-box-shadow: none; top: auto; margin-top:40px;}
		
		.home_image .main_nav, .home .main_nav.mobile{ padding:0 0.625em; } 
		
		.home_image .main_nav ul, .home .main_nav ul{ /*display:block;*/}
		
		#main_content{ padding-top: 20px;}
		
		.know_more{ display:none;}
		
		.home_container .mask{ background-size:179px 239px; left:-1px; top:-1px;}
		
		.home_container{ width:176px; height:236px; background-size:176px 236px; margin-bottom: 8px;}
		
		.home_image{ position:relative; margin:0 auto; top:auto; left:auto; width: auto; padding-top: 20px;}
		
		.home_container .image{
    height: 300px;
    width: 710px;
    background-size: 710px 300px;
    top: -55px;
}
			
		.avatars, #logo, .page, nav, nav *, #header_bar{
			-webkit-transition: all 600ms ease;
			-moz-transition: all 600ms ease;
			-ms-transition: all 600ms ease;
			-o-transition: all 600ms ease;
			transition: all 600ms ease;
		}
		
		.avatars{ bottom:0; top:0; right: -15.3em; left:auto; width:15.25em; padding: 0; z-index: 20000;
		 border-radius: 0; -webkit-border-radius: 0; overflow: auto; -webkit-overflow-scrolling: touch; background: rgb(204,204,204);
background: -moz-linear-gradient(left,  rgba(204,204,204,1) 0%, rgba(235,235,235,1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(235,235,235,1)));
background: -webkit-linear-gradient(left,  rgba(204,204,204,1) 0%,rgba(235,235,235,1) 100%);
background: -o-linear-gradient(left,  rgba(204,204,204,1) 0%,rgba(235,235,235,1) 100%);
background: -ms-linear-gradient(left,  rgba(204,204,204,1) 0%,rgba(235,235,235,1) 100%);
background: linear-gradient(to right,  rgba(204,204,204,1) 0%,rgba(235,235,235,1) 100%);
		}
		
		.slide_team .avatars{ right:0;}
		
		.avatars li > img{ display:none; }
		
		.avatars li{ border-radius: 0; margin:0; -webkit-border-radius: 0; overflow:hidden; border-bottom: 1px solid #ababab; border-top:1px solid #ebebeb; float: none; display:block;}
		
		.avatars li:hover, .avatars li:active, .avatars li.active{ box-shadow: none; -webkit-box-shadow: none; background: #e7e7e7;}
		
		.avatars li .mobile{ display:block; height: 40px; text-align:left; padding: 18px 80px 18px 10px;  border-left:11px solid #3ea8f5;}
		
		.avatars .mobile img{ height:97%; position:absolute; right:0; bottom:0; } 
			
		.avatars .name{ font: bold 15px/1.1 Arial, Helvetica, sans-serif; display:block; position:relative; z-index:10; margin-bottom: 2px; padding-top: 4px;}
		
		.avatars .position{ font: 13px/1.1 Arial, Helvetica, sans-serif; display:block; position:relative; z-index:10;}
		
		#avatars_tooltip{ display:none !important;}
		
		.main_nav{ float:none; margin:0; position:fixed; left: -17em; top: -10%; height: 120%; padding:0.625em; width: 14em; background: rgb(204,204,204); box-shadow: inset -3px 0 9px 0 rgba(0, 0, 0, 0.2); -webkit-box-shadow: inset -3px 0 9px 0 rgba(0, 0, 0, 0.2); display:table; 
 background: -moz-linear-gradient(left,  rgba(204,204,204,1) 0%, rgba(222,222,222,1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(222,222,222,1)));
background: -webkit-linear-gradient(left,  rgba(204,204,204,1) 0%,rgba(222,222,222,1) 100%);
background: -o-linear-gradient(left,  rgba(204,204,204,1) 0%,rgba(222,222,222,1) 100%);
background: -ms-linear-gradient(left,  rgba(204,204,204,1) 0%,rgba(222,222,222,1) 100%);
background: linear-gradient(to right,  rgba(204,204,204,1) 0%,rgba(222,222,222,1) 100%);
		}
		
		.slide_nav .main_nav{ left:0;}
		
		.main_nav .wrap{ display:table-cell; vertical-align:middle; }
		
		.main_nav ul li{ display: block; border: none; float: none; text-align: right; margin: 0.8em 0;}
		
		.main_nav ul li a{ padding-right: 2.375em; font-size:1.500em; position:relative;}
		
		.main_nav ul li a::after{content:""; background:url(../images/mobile/icons.png) no-repeat -104px 0; width: 21px; height: 21px; position:absolute; right: 0.5em; top:50%; margin-top:-10px;}
		
		.main_btn{ display:block; width:55px; height:55px; position: fixed; bottom:8px; z-index: 20000;}
		
		.main_btn::after{ content:""; width:32px; height:30px; background: url(../images/mobile/icons.png); position:absolute; left:50%; top:50%; margin:-15px 0 0 -16px;}
		
		.main_btn:active, .main_btn.active{ box-shadow:inset 0 0 8px 2px rgba(0,0,0,0.3), 0 1px 0 0 #F4F4F4; -webkit-box-shadow:inset 0 0 8px 2px rgba(0,0,0,0.3), 0 1px 0 0 #F4F4F4; bottom:7px;}
		
		#menu_btn{ right:8px; }
		
		#team_btn{ left:8px; }
		
		#team_btn::after{ background: url(../images/mobile/icons.png) no-repeat -61px 0; width: 27px; height: 24px; margin:-12px 0 0 -14px;}
		
		.page{ position:fixed; left:0; right:0; bottom:0; top:0; padding-top: 70px; overflow: scroll; box-shadow: -3px 0 9px 0 rgba(0, 0, 0, 0.2); z-index:10001; -webkit-overflow-scrolling: touch;}
		 
		.slide_nav .page, .slide_nav #logo{
			-webkit-transform: translateX(15.25em);
			-moz-transform: translateX(15.25em);
			-ms-transform: translateX(15.25em);
			-o-transform: translateX(15.25em);
			transform: translateX(15.25em);
		}

		.slide_team .page, .slide_team #logo{
			-webkit-transform: translateX(-15.25em);
			-moz-transform: translateX(-15.25em);
			-ms-transform: translateX(-15.25em);
			-o-transform: translateX(-15.25em);
			transform: translateX(-15.25em);
		}
		
		#main_content.team .tabs_content { padding-top: 100px;}
		
		.tabs_content .workplaces{ margin-bottom:0; line-height: 1.1; font-size: 16px;}
		
		.tabs_content h2{ font-size: 26px; margin-bottom: 10px;}
		
		.tabs_content h3{ font-size: 20px;}
		
		.tabs_content .position{top: -8px;line-height: 1.1;}

		.profile_desc .main_info, .tabs_content .profile_img img{ display:none;}
		
		.tabs_content .profile_img img.mobile{ display:block;}
		
		.profile_img .main_info{ display:block; width:60%; min-height: 50%;}
			
		.tabs_content .profile_img{ width:auto; float:none; max-width: 1024px; margin-right:0; overflow: hidden; position: relative; margin-bottom: 20px;}
		
		.profile_img img.mobile{ float:right; max-width: 50%;}
		
		.profile_img::after{content:""; width: 320px; height:22px; background:url(../images/mobile/profile_shadow.png) center bottom no-repeat; position:absolute; bottom:0; left:50%; margin-left: -160px; background-size:cover;}		
		
		.investors .investor img{ max-width: 110px; height:auto;}
		
		.investors .investor h2{ margin-top:0; font-size:18px;}
				
		.investors .investor{ float:none; margin:0 auto 40px; padding-left: 110px; height: 130px; width: 180px;}

		.investors .investor li{ font-size:12px; line-height: 1.2; margin-bottom: 5px;}	
		
		.culture_tabs{ position:relative; top:-20px;}
		
		.culture_tabs .tabs_banners{ display:none;}
		
		.culture_tabs .mobile_banners{ display:block;}
		
		.mobile_banners .mobile_banner{ background-size:410px 232px; height:232px; background-repeat:no-repeat; background-position:center top; display:none;}
		
		.mobile_banners .mobile_banner.current{ display:block;}
		
		.mobile_banners .mobile_banner.values{ background-image: url(../images/mobile/values_mobile.jpg);}
		
		.mobile_banners .mobile_banner.tech{ background-image: url(../images/mobile/values_mobile.jpg);}
		
		.mobile_banners .mobile_banner.benefits{ background-image: url(../images/mobile/values_mobile.jpg);}
		
		.mobile_banners .title{ position:absolute; top:122px; left: 10px; color:#fff; font-size: 32px; text-shadow: 0 0 7px rgba(0, 0, 0, 1), 0 0 12px rgba(0, 0, 0, 1);}
		
		#footer .divider, #footer a, #footer .social, .culture_tabs .tabs_nav{ display:none;}
		
		#footer .copy{ margin: 4px 0;}
		
}


@media screen and (max-width: 680px) {

	.kifi_intro{left:auto; margin:0; top:auto; padding:0 0 40px; position:relative; }	
	
	
}

@media screen and (max-width: 599px) {
		
		h1{ font-size:28px;}
	
		h2{ font-size:26px;}
		
		h3{ font-size:20px;}
		
		#header_bar h2{ text-align:left; margin: 0; font-size: 1.250em;}
		
		.kifi_logo img{ width:170px;}
		
		.button blue.large, .grey_btn.large{ height:64px; line-height:64px; padding:0 70px; font-size:26px;}
		
		.kifi_logo{ margin-top:30px;}

}

@media screen and (max-width: 400px) {
		
	.kifi_logo{ margin:25px 0 0}
	
	#header_bar{ padding: 10px 0;}
	
	#header_bar .button{ padding: 0 20px;}
	
	.homepage .left{ float:none; width:50%; margin-bottom:30px;}
	
	#main_content.team .tabs_content{ padding-top:80px;}

}


@media screen and (max-width: 320px) {
	
	
		.tabs_content .workplaces{ margin-bottom:0; line-height: 1.1; font-size: 14px;}
		
		.tabs_content h2{ font-size: 17px; margin-bottom: 10px;}
		
		.tabs_content h3{ font-size: 16px;}
		
		.tabs_content .position{top:-10px;line-height: 1.1;}

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  #menu_btn::after{background: url(../images/mobile/icons_retina.png) no-repeat 0 0; background-size: 125px 30px;}
  
  #team_btn::after{background: url(../images/mobile/icons_retina.png) no-repeat -61px 0; background-size: 125px 30px;}
  
  .main_nav ul li a::after{background: url(../images/mobile/icons_retina.png) no-repeat -104px 0; background-size: 125px 30px;}

}


@media screen and (max-height: 700px) {
	.kifi_intro{ position:relative; left:auto; top:auto; margin:0 auto; }
	
	#footer.fixed{ position:static;}
}
