
//
// Styles.
//

@keyframes jump-spin
  0%
    transform: rotate(0deg)
  12.5%
    transform: rotate(10deg)
  25%
    transform: rotate(90deg)
  37.5%
    transform: rotate(100deg)
  50%
    transform: rotate(180deg)
  62.5%
    transform: rotate(190deg)
  75%
    transform: rotate(270deg)
  87.5%
    transform: rotate(280deg)
  100%
    transform: rotate(360deg)

@keyframes fade-in
  from
    opacity: 0
  to
    opacity: 1
