//
// Mobile styles, logged out
//

.kf-mobile
  &>body
    width: 800px

  .kf-app
    padding-top: 120px

  .kf-width-bounded
    min-width: initial !important
    max-width: initial !important
    padding: 0

  .kf-min-width-bounded
    min-width: initial !important

  // logged-out header

  .kf-loh
    height: 120px
    width: 800px

  .kf-loh-inner
    width: 85%

  .kf-loh-left
    width: 410px

  .kf-loh-logo
    width: 180px
    height: 68px
    background-size: 170px auto

  .kf-loh-tagline
    width: 200px
    line-height: 24px
    font-size: 20px
    font-smoothing: antialiased

  .kf-loh-right
    vertical-align middle
    width: 215px
    font-size: 28px
    line-height: 120px

  .kf-loh-link
    color: #1990ea

  .kf-loh-dot
    display: inline-block
    position: relative
    top: -2px
    font-size: 20px

  // library header

  .kf-lh
    margin-bottom: -10px

  .kf-lh-card
    overflow: hidden
    padding: 0 60px 20px

  .kf-lh-name
    padding-top: 48px
    font-size: 55px

  div.kf-lh-color
    margin: 10px 0 0

  .kf-lh-cover-image
    height: 300px
    margin: 0 0 36px

  .kf-lh-owner
    text-align: center

  .kf-lh-owner-image
    display: block
    text-align: center
    margin: 0 auto
    width: 160px
    height: 160px

  .kf-lh-owner-label
    margin-top: 30px
    font-size: 30px
    line-height 35px

  .kf-lh-owner-name
    font-size: 30px
    line-height 35px

  .kf-lh-desc-wrap
    padding-bottom: 25px

  .kf-lh-desc
    font-size: 30px
    line-height 40px

  .kf-lh-stats-line
    display: block
    height: 230px
    padding-top: 6px

  .kf-lh-stats
    display block
    width: auto
    height: auto
    margin: 30px auto
    padding-top: 0
    font-size: 30px
    line-height 30px
    text-align: center

  .kf-lh-stat
    font-size: 30px
    line-height 30px

  .kf-lh-stat-val
    font-size: 35px
    line-height: 42px

  .kf-lh-stats-line
    &>.kf-lfp
      display: block
      width: auto
      margin: 0 0 30px
      text-align: center

    .kf-lfp-pic
      margin-right: 30px
      width: 80px
      height: 80px

    .kf-lfp-more
      width: 80px
      height: 80px

    .kf-lfp-more-text
      line-height: 80px
      font-size: 24px

  button-height = 68px

  .kf-lh-buttons
    padding-top: 34px

    .kf-button
      height: button-height
      line-height: button-height

    .kf-button-text-optional
      width: 96px
      padding: 0
      font-size: 0
      text-align: center

    .kf-button-icon
      width: 38px
      margin: 0

  .kf-lh-follow-btn
    width: 260px
    height: button-height
    line-height: button-height
    font-size: 28px
    border-radius: 7px

  .kf-loh-right>.kf-lh-follow-btn
    top: 25px

  // library columns

  .kf-lib-cols
    display: block
    min-width: initial
    padding-left: 0
    padding-right: 0

  .kf-lib-col
    display: block
    max-width: none
    width: auto

  // library keeps

  .kf-my-keeps
    padding-left: 30px
    padding-right: 30px

  .kf-keep-description
    font-size 30px
    line-height 42px

  .kf-keep
     border-radius 30px
     margin-top: 40px

  .kf-keep-contents
    padding 55px 10px 35px

  .kf-keep-title
    font-size: 46px
    line-height 52px
    margin-bottom: 20px

  .kf-keep-subtitle
    font-size: 32px
    height: 50px
    line-height 28px
    overflow: hidden

  .kf-keep-dot
  .kf-keep-time
    display: none

  .kf-keep-read-time
    margin-left: 15px

    .sprite-small-clock
      display: none

  .kf-keep-url
    font-size: 32px
    height: 40px

  .kf-keep-who
    margin-bottom: 40px

    .kf-keep-who-text
      font-size: 28px
      margin-left: 10px

  .kf-keep-who-libs-and-pics
    padding-top: 20px

    .kf-keep-who-pic-box
      white-space: nowrap

    .kf-keep-who-pic
      width: 42px
      height: 42px

    .kf-keep-who-lib
      font-size: 25px
      line-height: 35px
      vertical-align: middle
      max-width: 230px

  .kf-keep-tag-new
    margin: 5px 8px
    padding: 10px 8px
    max-width: 200px

  .kf-keep-tag-link-new > a
    line-height: 36px
    font-size: 28px

  .kf-keeps-load-more
    font-size: 42px
    line-height: 100px
    margin-bottom: 30px

  // library footer

  .kf-lib-footer
    width: 535px
    margin: 0 auto 50px auto
    font-size: 40px

  .kf-lib-footer-1
    display: table
    margin: 0 auto
    line-height: 65px

  .kf-lib-footer-2
    display: table
    margin: 0 auto
    line-height: 65px
