// Mobile styles, logged out


.kf-logged-out.kf-mobile

  .kf-header.public-header
    height: 120px

    .public-header-link
      color: #1990EA

    .public-header-dot
      display: inline-block
      position: relative
      top: -2px

    .kf-header-left
      width: 410px
      margin-top: 23px

      .public-header-tagline
        font-size: 20px
        width: 200px
        display inline-block
        line-height: 24px
        vertical-align middle

      .kifi-clover-logo-icon
        height: 75px
        width 75px

      .kf-header-logo
        margin: 0 15px 0 20px
        width: 80px
        height 42px

    .kf-header-right
      vertical-align middle
      font-size: 28px
      line-height: 120px

      .public-header-dot
        font-size: 20px

    .public-header-search-icon
      position: absolute
      top: 43px
      right: 230px
      width: 31px
      height: 42px
      display: block
      background-image: url('/img/sprites.png')
      background-position: -159px -205px
      background-size: 310px auto

      &:hover
        cursor: pointer

  .kf-col-island
    margin-top: 40px

  .kf-main-library-keeps

    .kf-library-card-header
      margin-bottom: -10px

      .library-card
        overflow: hidden

        .kf-keep-lib-name-container
          padding-top: 70px

          .kf-keep-lib-name
            font-size 55px

        .kf-keep-lib-info

          .kf-keep-lib-owner
            text-align center

            .kf-keep-lib-user-image
              display: block
              text-align center
              margin: 0 auto
              width: 160px
              height: 160px

            .kf-keep-lib-curator
              margin-top: 30px
              font-size: 30px
              line-height 35px

            .kf-keep-lib-owner-name
              font-size: 30px
              line-height 35px

          .kf-keep-lib-description-container
            padding-bottom: 25px

            .kf-keep-lib-description
              font-size: 30px
              line-height 40px

          .kf-keep-lib-stats-and-followers
            padding-top: 6px

          .kf-keep-lib-metrics
            display block
            margin: 0 auto
            text-align: center
            font-size: 30px
            line-height 30px
            margin: 30px 0 38px

            .kf-keep-lib-keeps-followers-stats
              font-size: 30px
              line-height 30px

            .kf-keep-lib-stats-number
              font-size: 35px
              line-height: 42px

          .kf-keep-lib-follower-preview
            text-align: center
            margin: 0 auto
            display block
            margin: 0 0 30px

        .kf-keep-lib-search-input
          display: none

        .kf-keep-footer
          padding-top: 34px

          .library-button-with-icon
            width: 90px
            height: 68px

            .kf-keep-lib-footer-button-icon
              top: 15px
              left: 26px
              width: 38px
              height: 38px

          .kf-keep-lib-footer-button-follow
            font-size: 28px
            padding: 18px 50px
            border-radius: 7px


    .kf-main-keeps

      .kf-keep-description
        font-size 30px
        line-height 42px

      .kf-keep
         border-radius 30px
         margin-top: 40px

        .kf-keep-contents
          padding 55px 10px 35px

          .kf-keep-title
            font-size: 46px
            line-height 52px
            margin-bottom: 20px


          .kf-keep-subtitle
            font-size: 32px
            height: 50px
            line-height 28px
            overflow: hidden

            .kf-keep-dot
            .kf-keep-time
              display: none

            .kf-keep-read-time
              margin-left: 15px

              .sprite-small-clock
                display: none

            .kf-keep-url
              font-size: 32px
              height: 40px

        .kf-keep-who
          margin-bottom: 40px

          .kf-keep-who-text
            font-size: 28px
            margin-left: 10px

            .svg-button-keep-heart-green
              background-size: 30px 32px
              padding-left: 45px

        .kf-keep-who-libs-and-pics
          padding-top: 20px

          .kf-keep-who-pic-box
            white-space: no-wrap

            .kf-keep-who-pic
              width: 42px
              height: 42px

            .kf-keep-who-lib
              font-size: 25px
              line-height: 35px
              vertical-align: middle
              max-width: 230px

      .kf-keeps-load-more
        font-size: 42px
        line-height: 100px
        margin-bottom: 30px

  .kf-main-library-keeps
    .kf-library-card-header
      .library-search .library-card
      .library-card.library-search-in-progress
        top: 121px
        overflow: visible

        .kf-keep-lib-owner
          position: relative  // placeholder for now.
          left: 0

          .kf-keep-lib-user-image
          .kf-keep-lib-owner-text
            display: none

          .kf-keep-lib-search
            position: relative
            top: -4px
            right: 0

          .kf-keep-lib-search-input
            display: block
            width: 100%
            font-size: 28px

          .dialog-x
            top: -15px
            right: -30px
            width: 30px
            height: 30px


