//
// Mobile styles, logged out
//
.kf-mobile
  .kf-loh
    height: 120px

    .kf-loh-link
      color: #1990EA

    .kf-loh-dot
      display: inline-block
      position: relative
      top: -2px

    .kf-loh-left
      width: 410px
      margin-top: 23px

      .kf-loh-tagline
        font-size: 20px
        width: 200px
        display inline-block
        line-height: 24px
        vertical-align middle

      .kf-loh-clover-logo
        height: 75px
        width 75px

      .kf-loh-kifi-logo
        margin: 0 15px 0 20px
        width: 80px
        height 42px

    .kf-loh-right
      vertical-align middle
      font-size: 28px
      line-height: 120px

      .kf-loh-dot
        font-size: 20px

  div.kf-lh-color
    margin: 10px 0 0

  .kf-lh-cover-image
    height: 300px
    margin: 0 0 36px

  .kf-col-island
    margin-top: 120px

  .kf-lh
    margin-bottom: -10px

    .kf-lh-card
      overflow: hidden

      .kf-lh-name
        font-size: 55px

      .kf-lh-info

        .kf-lh-owner
          text-align: center

          .kf-lh-owner-image
            display: block
            text-align: center
            margin: 0 auto
            width: 160px
            height: 160px

          .kf-lh-owner-label
            margin-top: 30px
            font-size: 30px
            line-height 35px

          .kf-lh-owner-name
            font-size: 30px
            line-height 35px

        .kf-lh-desc-wrap
          padding-bottom: 25px

          .kf-lh-desc
            font-size: 30px
            line-height 40px

        .kf-lh-stats-line
          padding-top: 6px
          height: 230px

        .kf-lh-stats
          display block
          margin: 30px auto
          height: auto
          font-size: 30px
          line-height 30px
          text-align: center

          .kf-lh-stat
            font-size: 30px
            line-height 30px

          .kf-lh-stat-val
            font-size: 35px
            line-height: 42px

        .kf-lfp-pic
          margin-right: 30px
          width: 80px
          height: 80px

        .kf-lfp-more
          width: 80px
          height: 80px

        .kf-lfp-more-text
          font-size: 1.5em
          line-height: 80px

        .kf-lfp
          text-align: center
          margin: 0 auto
          display block
          margin: 0 0 30px

      .kf-lh-buttons
        padding-top: 34px

        .kf-button
          height = 68px
          height: height
          line-height: height

        .kf-button-text-optional
          width: 96px
          padding: 0
          font-size: 0
          text-align: center

        .kf-button-icon
          width: 38px
          margin: 0

        .kf-lh-follow-btn
          font-size: 28px
          border-radius: 7px
          width: 280px

  .kf-main-library-keeps

    .kf-main-keeps

      .kf-keep-description
        font-size 30px
        line-height 42px

      .kf-keep
         border-radius 30px
         margin-top: 40px

        .kf-keep-contents
          padding 55px 10px 35px

          .kf-keep-title
            font-size: 46px
            line-height 52px
            margin-bottom: 20px

          .kf-keep-subtitle
            font-size: 32px
            height: 50px
            line-height 28px
            overflow: hidden

            .kf-keep-dot
            .kf-keep-time
              display: none

            .kf-keep-read-time
              margin-left: 15px

              .sprite-small-clock
                display: none

            .kf-keep-url
              font-size: 32px
              height: 40px

        .kf-keep-who
          margin-bottom: 40px

          .kf-keep-who-text
            font-size: 28px
            margin-left: 10px

        .kf-keep-who-libs-and-pics
          padding-top: 20px

          .kf-keep-who-pic-box
            white-space: no-wrap

            .kf-keep-who-pic
              width: 42px
              height: 42px

            .kf-keep-who-lib
              font-size: 25px
              line-height: 35px
              vertical-align: middle
              max-width: 230px

        .kf-keep-tag-new
          margin: 5px 8px
          padding: 10px 8px
          max-width: 200px

          .kf-keep-tag-link-new > a
            line-height: 36px
            font-size: 28px

      .kf-keeps-load-more
        font-size: 42px
        line-height: 100px
        margin-bottom: 30px

  .kf-lib-info-footer
    width: 535px
    margin: 0 auto 50px auto
    font-size: 40px

    .first-line
      display: table
      margin: 0 auto
      line-height: 65px

    .second-line
      display: table
      margin: 0 auto
      line-height: 65px

  //
  // In mobile, hide desktop search box.
  //
  .kf-lh
    .kf-lh-card
      .kf-lh-search
        display: none
