.modal-dialog
  &.modal-dialog
    position: fixed
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: auto
    margin: 0

    .modal.in &
      transform: translate(-50%, -50%)

    .modal.fade &
      transform: translate(-50%, -50%)

.modal-content
  &.modal-content
    width: 100%
    height: 100%
    border: 1px solid #f2eeed
    box-shadow: 12px 12px 0 rgba(0, 40, 90, 0.2)


.kifi-onboarding-iframe
  position: fixed
  top: 0
  left: 0
  margin: 0 auto
  width: 100%
  height: 100%
  background: transparent
  z-index: 10000


.dialog-content
  color: #66829b
  line-height: 1.5

  h1
    margin: 0 0 0
    font-size: 28px
    font-weight: 300
    color: #333
    -webkit-font-smoothing: antialiased
    text-align: center

  button:hover
    background-color: #7faeef

  button
    width: 200px
    height: 58px
    line-height: 58px
    padding: 0
    background-color: #6fa5ef
    color: #fff
    border: none
    border-radius: 6px
    font-size: 17px
    font-weight: 300
    -webkit-font-smoothing: antialiased
    cursor: pointer
    transition: background-color .1s

    &.dialog-cancel
      background-color: #b8c5d1
    &.dialog-cancel:focus
    &.dialog-cancel:hover
      background-color: #C5D2DE
    &.dialog-cancel:active
      background-color: #9FACB8

  .action-wrap
    margin: 0 auto 15px
    width: 100%
    text-align: center

  .email-address
    color: #73787f;

.dialog-title
  color: #515051
  background: url('../img/kifi-logo-color.png') 30px 50% / 32px no-repeat
  font-size: 0
  background-color: #eff2f7
  line-height: 50px
  margin-bottom: 15px
  border-radius: 6px 6px 0 0

  .dialog-x
    font-size: 13px
    float: right
    margin: 0 15px
    color: #888
    cursor: pointer
    padding: 0px 8px

    &:hover
      color: #000

.dialog-body-wrap
  min-width: 400px
  margin: 20px 35px
  color: #333
  font-size: 18px

  .dialog-body
    margin: 0 auto

