.modal-dialog
  &.modal-dialog
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: auto
    margin: 0

    .modal.in &
      transform: translate(-50%, -50%)

    .modal.fade &
      transform: translate(-50%, -50%)
