.sprite-add-a-link-default {
  display: inline-block
  vertical-align: middle
  sprite2x($add-a-link-default)
}
.sprite-add-a-tag-button-active {
  display: inline-block
  vertical-align: middle
  sprite2x($add-a-tag-button-active)
}
.sprite-add-a-tag-button-default {
  display: inline-block
  vertical-align: middle
  sprite2x($add-a-tag-button-default)
}
.sprite-add-a-tag-button-hover {
  display: inline-block
  vertical-align: middle
  sprite2x($add-a-tag-button-hover)
}
.sprite-checkbox-icon-active {
  display: inline-block
  vertical-align: middle
  sprite2x($checkbox-icon-active)
}
.sprite-checkbox-icon-default {
  display: inline-block
  vertical-align: middle
  sprite2x($checkbox-icon-default)
}
.sprite-checkbox-icon-hover {
  display: inline-block
  vertical-align: middle
  sprite2x($checkbox-icon-hover)
}
.sprite-close-x-icon-default {
  display: inline-block
  vertical-align: middle
  sprite2x($close-x-icon-default)
}
.sprite-close-x-icon-hover {
  display: inline-block
  vertical-align: middle
  sprite2x($close-x-icon-hover)
}
.sprite-edit-pencil-icon {
  display: inline-block
  vertical-align: middle
  sprite2x($edit-pencil-icon)
}
.sprite-find-friends-icon {
  display: inline-block
  vertical-align: middle
  sprite2x($find-friends-icon)
}
.sprite-friends-active {
  display: inline-block
  vertical-align: middle
  sprite2x($friends-active)
}
.sprite-friends-default {
  display: inline-block
  vertical-align: middle
  sprite2x($friends-default)
}
.sprite-friends-hover {
  display: inline-block
  vertical-align: middle
  sprite2x($friends-hover)
}
.sprite-grabbericon {
  display: inline-block
  vertical-align: middle
  sprite2x($grabbericon)
}
.sprite-guide-icon {
  display: inline-block
  vertical-align: middle
  sprite2x($guide-icon)
}
.sprite-heart-icon {
  display: inline-block
  vertical-align: middle
  sprite2x($heart-icon)
}
.sprite-import-bookmarks-icon {
  display: inline-block
  vertical-align: middle
  sprite2x($import-bookmarks-icon)
}
.sprite-import-from-other-services-icon {
  display: inline-block
  vertical-align: middle
  sprite2x($import-from-other-services-icon)
}
.sprite-install-extension-icon {
  display: inline-block
  vertical-align: middle
  sprite2x($install-extension-icon)
}
.sprite-kifi-logo-white {
  display: inline-block
  vertical-align: middle
  sprite2x($kifi-logo-white)
}
.sprite-lock-private-icon {
  display: inline-block
  vertical-align: middle
  sprite2x($lock-private-icon)
}
.sprite-my-keeps-library-active {
  display: inline-block
  vertical-align: middle
  sprite2x($my-keeps-library-active)
}
.sprite-my-keeps-library-default {
  display: inline-block
  vertical-align: middle
  sprite2x($my-keeps-library-default)
}
.sprite-search-icon-active {
  display: inline-block
  vertical-align: middle
  sprite2x($search-icon-active)
}
.sprite-search-icon-default {
  display: inline-block
  vertical-align: middle
  sprite2x($search-icon-default)
}
.sprite-settings-active {
  display: inline-block
  vertical-align: middle
  sprite2x($settings-active)
}
.sprite-settings-default {
  display: inline-block
  vertical-align: middle
  sprite2x($settings-default)
}
.sprite-settings-hover {
  display: inline-block
  vertical-align: middle
  sprite2x($settings-hover)
}
.sprite-tag-blue-active {
  display: inline-block
  vertical-align: middle
  sprite2x($tag-blue-active)
}
.sprite-tag-blue-default {
  display: inline-block
  vertical-align: middle
  sprite2x($tag-blue-default)
}
.sprite-tag-new-plus-icon {
  display: inline-block
  vertical-align: middle
  sprite2x($tag-new-plus-icon)
}
