import-from-other-services-icon = ('/img/sprites.png' -2px -2px 74px 70px sprites)
import-bookmarks-icon@2x = ('/img/sprites.png' -80px -2px 74px 70px sprites)
guide-icon@2x = ('/img/sprites.png' -2px -76px 68px 68px sprites)
kifi-logo-white@2x = ('/img/sprites.png' -74px -76px 68px 40px sprites)
settings-active@2x = ('/img/sprites.png' -158px -2px 62px 64px sprites)
add-a-link-default@2x = ('/img/sprites.png' -158px -70px 62px 64px sprites)
settings-hover@2x = ('/img/sprites.png' -2px -148px 62px 64px sprites)
settings-default@2x = ('/img/sprites.png' -68px -148px 62px 64px sprites)
friends-hover@2x = ('/img/sprites.png' -134px -148px 64px 64px sprites)
friends-default@2x = ('/img/sprites.png' -224px -2px 64px 64px sprites)
find-friends-icon@2x = ('/img/sprites.png' -224px -70px 64px 64px sprites)
friends-active@2x = ('/img/sprites.png' -224px -138px 64px 64px sprites)
grabbericon@2x = ('/img/sprites.png' -2px -216px 26px 60px sprites)
my-keeps-library-active@2x = ('/img/sprites.png' -32px -216px 52px 52px sprites)
my-keeps-library-default@2x = ('/img/sprites.png' -88px -216px 52px 52px sprites)
add-a-tag-button-default@2x = ('/img/sprites.png' -144px -216px 48px 28px sprites)
add-a-tag-button-active@2x = ('/img/sprites.png' -196px -216px 48px 28px sprites)
add-a-tag-button-hover@2x = ('/img/sprites.png' -292px -2px 48px 28px sprites)
heart-icon@2x = ('/img/sprites.png' -292px -34px 44px 40px sprites)
checkbox-icon-hover@2x = ('/img/sprites.png' -292px -78px 42px 40px sprites)
checkbox-icon-default@2x = ('/img/sprites.png' -292px -122px 42px 40px sprites)
search-icon-active@2x = ('/img/sprites.png' -292px -166px 40px 42px sprites)
search-icon-default@2x = ('/img/sprites.png' -292px -212px 40px 42px sprites)
checkbox-icon-active@2x = ('/img/sprites.png' -2px -280px 42px 40px sprites)
tag-blue-active@2x = ('/img/sprites.png' -48px -280px 40px 40px sprites)
tag-blue-default@2x = ('/img/sprites.png' -92px -280px 40px 40px sprites)
lock-private-icon@2x = ('/img/sprites.png' -136px -280px 36px 36px sprites)
close-x-icon-default@2x = ('/img/sprites.png' -248px -216px 26px 26px sprites)
close-x-icon-hover@2x = ('/img/sprites.png' -176px -280px 26px 26px sprites)
edit-pencil-icon@2x = ('/img/sprites.png' -74px -120px 24px 24px sprites)
tag-new-plus-icon@2x = ('/img/sprites.png' -292px -258px 12px 12px sprites)
