.page.install {

}

@media screen and (min-width: 600px) and (min-height: 750px) {
  .page.install {
    margin-top: 175px;
  }
}

.install-wrapper {
  text-align: center;
}

.install-title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 1.7em;
}

.install-button-content {
  margin: 0 auto;
  width: 300px;
  line-height: 50px;
  background-color: #2CB4E9;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 300;
}
.install-button-content:hover {
  background-color: #3ebaeb;
}

.continue-link a {
  display: block;
  width: 200px;
  line-height: 40px;
  margin: 0 auto;
  background-color: #2CB4E9;
  border-radius: 5px;
  font-size: 20px;
  color: white;
}
.continue-link a:hover {
  background-color: #3ebaeb;
}

.chrome-webstore-badge {
  width: 206px;
  height: 58px;
  margin: 40px auto;
}

.chrome-webstore-badge img {
  width: 100%;
  height: 100%;
}

.browser-newer {
  line-height: 28px;
}

.browser-button {
  display: inline-block;
  margin: 15px 15px 0 15px;
  padding: 10px 20px;
  background-color: #2CB4E9;
  color: white;
  border-radius: 5px;
}

.browser-button:hover {
  color: white;
  background-color: #3ebaeb;
}
