<div class="dialog-content">
  <a class="dialog-x" ng-click="closeAndCancel()"></a>
  <div class="dialog-body-wrap">
    <h1 class="dialog-header" ng-if="title.length" ng-bind-html="title"></h1>
    <div class="dialog-body" kf-wheel-allow ng-transclude ng-class="{ 'dialog-centered': centered }"></div>
  </div>
  <div class="dialog-buttons" ng-if="!withoutButtons">
    <button
      class="kf-button kf-button-large dialog-cancel"
      tabindex="0"
      ng-if="withCancel"
      ng-class="{
        'dialog-buttons-constant': equalButtons
      }"
      ng-click="closeAndCancel()"
      ng-bind="cancelText || 'Cancel'"
    ></button>
    <button
      class="kf-button kf-button-large kf-action-button"
      tabindex="0"
      ng-if="withOk"
      ng-class="{
        'kf-button-cta-red': withWarning,
        'kf-button-cta-blue': withCta,
        'dialog-buttons-constant': equalButtons
      }"
      ng-click="closeAndAction()"
      ng-bind="actionText || 'OK'"
    ></button>
  </div>
</div>
