<div ng-if="show" >
  <div class="modal-backdrop fade in" style="z-index: 1040;" ng-click="hideModal($event)" ng-style="backdropStyle"></div>
  <div tabindex="-1" index="0" class="modal-dialog" ng-style="dialogStyle">
    <div class="modal-content">
      <div class="dialog-content">
        <div class="dialog-title">kifi<span class="dialog-x" ng-click="hideModal()">✕</span></div>
        <h1 ng-if="title">{{title}}</h1>
        <div class="dialog-body-wrap">
          <div class="dialog-body" ng-transclude></div>
        </div>
        <div class="action-wrap" ng-if="singleAction">
          <button ng-click="hideModal()">{{actionText || 'Okay'}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
