<div kf-modal kf-width="560px" class="import-file-modal" force-close="forceClose">
  <div kf-basic-modal-content title="Import your links to Kifi" without-buttons cancel="cancelBookmarkUpload()">
    <div class="import-library-explanation">
      <img src="/img/others.png" class="import-file-others-icon">
      <div class="arrow-right-icon svg-arrow-right"></div>
      <div class="kifi-clover-icon svg-kifi-clover-logo"></div>

      <div class="dialog-text">
        Import your links from other sites into your Kifi library. Choose a public or private library as needed.
      </div>
    </div>

    <div class="import-library-how-to">
      <p class="import-library-how-to-heading">3 easy steps to import your content into Kifi:</p>
      <table>
        <tr class="import-library-how-to-row">
          <td class="import-library-how-to-row-heading">Step 1</td>
          <td class="import-library-how-to-row-content">Export your links from
            <a href="https://getpocket.com/export" ng-click="openExportPopup($event)">Pocket</a>,
            <a href="http://export.delicious.com/settings/bookmarks/export" ng-click="openExportPopup($event)">Delicious</a>,
            <a href="https://kippt.com/export/" ng-click="openExportPopup($event)">Kippt</a>,
            <a href="https://www.instapaper.com/user/export" ng-click="openExportPopup($event)">Instapaper</a>, or
            <a href="https://pinboard.in/export/" ng-click="openExportPopup($event)">Pinboard</a> (the format should be HTML).
          </td>
        </tr>

        <tr class="import-library-how-to-row">
          <td class="import-library-how-to-row-heading">Step 2</td>
          <td class="import-library-how-to-row-content">Select
            <a ng-click="openBookmarkFileSelector($event)" href="javascript:">the file you downloaded</a>.
            <input class="bookmark-file-upload" type="file" name="bookmark-file" accept=".html,text/html,.zip" kf-file-change="allowUpload">
            <span ng-if="importFilename" class="bookmark-file-upload-name"><i>{{importFilename}}</i> selected.</span>
          </td>
        </tr>

        <tr class="import-library-how-to-row">
          <td class="import-library-how-to-row-heading">Step 3</td>
          <td class="import-library-how-to-row-content">Choose a library to import to</td>
        </tr>
      </table>
    </div>

    <div class="import-library-selection">
      <div class="add-keep-to-library-dropdown"
        kf-keep-to-library-widget widget-action-text="Import keeps" library-select-action="onImportLibrarySelected(selectedLibrary)"
        lib-select-down-offset="0" lib-select-max-up-offset="220" lib-select-left-offset="0">
        <span ng-switch="importLibrary.kind" class="keep-to-library-lib-icon-container">
          <div class="kf-klw-library-card" ng-style="{'background-color': importLibrary.color}">
            <div ng-if="importLibrary.kind === 'system_main'" class="kf-klw-star-icon svg-card-star"></div>
            <div ng-if="importLibrary.visibility === 'secret'" class="kf-klw-lock-icon svg-card-lock"></div>
          </div>
        </span>
        {{importLibrary.name}}
        <span class="add-keep-to-library-dropdown-arrow"></span>
      </div>
    </div>

    <div ng-if="importFileStatus" class="bookmark-file-upload-status" >{{importFileStatus}}</div>

    <div class="dialog-buttons">
      <button class="import-button" ng-class="{'disabled': disableBookmarkImport || !importFilename}" ng-click="importBookmarkFileToLibrary(importLibrary)">Import</button>
    </div>
  </div>
</div>
