<div kf-modal kf-width="590px" class="import-file-modal" force-close="forceClose">
  <div kf-basic-modal-content title="Import your links to Kifi" single-action="false" cancel="cancelBookmarkUpload()">
    <div class="file-import-inner">
      <img src="/img/bookmark-to-kifi@2x.png" class="import-kippt-to-kifi">
      <ul class="file-import-info">
        <li>The "keep engine" indexes each word of each page so that you can easily find it later when searching on Google or kifi.com</li>
        <li><b>Public Keeps</b> are only discoverable by friends when searching and never displayed anywhere else</li>
      </ul>
      <div class="file-import-well">
        <p class="import-how-to">How to import your content into Kifi:</p>
        <div class="import-inset">
          <p>Step 1: Export your links from
          <a href="https://getpocket.com/export" ng-click="openExportPopup($event)">Pocket</a>,
          <a href="http://export.delicious.com/settings/bookmarks/export" ng-click="openExportPopup($event)">Delicious</a>,
          <a href="https://kippt.com/export/" ng-click="openExportPopup($event)">Kippt</a>,
          <a href="https://www.instapaper.com/user/export" ng-click="openExportPopup($event)">Instapaper</a>, or
          <a href="https://pinboard.in/export/" ng-click="openExportPopup($event)">Pinboard</a> (the format should be HTML).</p>
          <p class="import-file-link">Step 2: <a ng-click="openBookmarkFileSelector($event)" href="javascript:">Click here to select the file you downloaded</a>.
          <input class="bookmark-file-upload" type="file" name="bookmark-file" accept=".html,text/html" onchange="angular.element(this).scope().allowUpload(this)"></p>
          <div ng-show="importFilename">Step 3: Upload your bookmarks
            <div class="dialog-buttons">
              <button ng-click="uploadBookmarkFile($event)" ng-class="{'disabled': disableBookmarkImport }">Import privately</button>
              <button ng-click="uploadBookmarkFile($event, true)" ng-class="{'disabled': disableBookmarkImport }">Import publicly</button>
            </div>
          </div>
          <div ng-click="openBookmarkFileSelector($event)" class="import-file-status">
            <div ng-if="importFilename"><i>{{importFilename}}</i> selected.</div>
            <div ng-if="!importFilename && !importFileStatus">Please select a file to get started.</div>
            <div ng-if="importFileStatus">{{importFileStatus}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
