.kf-main-keeps:before
  content: " "
  border-top: 1px none #f9f9f9
  z-index: 1

.kf-keeps-load-more
  display: block
  margin: 10px 0
  font-size: 16px
  line-height: 30px
  text-align: center
  background-color: #fcfdff

  &:hover
    background-color: #f3fbff

  &:active
    background-color: #f3f5f9

.kf-keeps-loading
.kf-friends-loading
  position: relative
  left: -22px
  width: 44px
  height: 8px
  margin: 21px 50%

.kf-shadow-dragged-keeps
  position: absolute
  left: 0
  top: 0
  z-index: -1

.kf-my-keeps
  padding: 0 25px 0 30px
  padding-bottom: 20px
