.kf-utt
  position: absolute
  left: -40px
  top: -90px
  background-color: #fff
  color: #faf9f9
  box-shadow: 0 3px 5px rgba(0,0,0,.1)
  border: 1px solid #b8c5d2
  border-radius: 3px
  text-align: left
  cursor: default
  z-index: 10

  &.ng-enter
  &.ng-leave
    transition: transform 90ms, opacity 90ms
    transform-origin: 15% bottom

  &.ng-enter:not(.ng-enter-active)
  &.ng-leave-active
    transform: translate(0, 3px) scale(.9)
    opacity: 0

  &::after
    content: ''
    position: absolute
    height: 16px
    width: 16px
    bottom: -6px
    left: 29px
    box-sizing: border-box
    border: 1px solid
    border-color: inherit
    background-color: #fff
    box-shadow: 2px 2px 3px rgba(0,0,0,.1)
    transform: rotate(45deg)

.kf-utt-top
  display: table
  table-layout: fixed
  border-collapse: collapse
  max-width: 320px
  position: relative
  z-index: 1  // to cover triangle below
  border-radius: 2px
  background: #fff

.kf-utt-pic
  display: table-cell
  height: 72px
  width: 72px
  margin: 1px
  border-radius: 2px 0 0 2px

.kf-utt-info
  display: table-cell
  vertical-align: middle
  padding: 0 14px
  font-size: 12px
  line-height: 13px
  color: #808080

.kf-utt-name
  font-size: 16px
  line-height: 18px
  white-space: nowrap
  color: #444
  margin-bottom: 4px

.kf-utt-desc
  white-space: nowrap
  color: #929496
