cardBorderRadius = 16px  // from smallLibraryCard.styl

.kf-ult
  position: absolute
  z-index: 1
  top: -296px
  left: -95px
  text-align: left
  border-radius: cardBorderRadius
  box-shadow: 0 10px 9px rgba(0,0,0,.3)
  line-height: initial

  &.ng-enter
  &.ng-leave
    transition: transform 150ms, opacity 150ms
    transform-origin: 10% bottom

  &.ng-enter:not(.ng-enter-active)
  &.ng-leave-active
    transform: translate(0, 3px) scale(.95)
    opacity: 0

  &::before // invisible buffer so tooltip won't disappear when moving mouse pointer to it
    content: ''
    position: absolute
    left: 40px
    bottom: -16px
    height: 16px
    width: 128px
