.kf-compact-friend-image
  height: 40px
  width: 40px
  border-radius: 5px
  padding: 1px 1px

.kf-footer-friends-links
  margin-top: 10px

  .kf-friends-links-divider
    display: inline-block
    padding: 0px 3px
    color: linkColor
