<div kf-modal class="kf-register-modal" ng-class="{'register-active-request': requestActive}" disable-scroll="true">
  <div class="kf-register-modal-loading">
    <div class="kf-logo-pulse svg-small-new-logo"></div>
  </div>
  <a class="dialog-x" ng-click="close()"></a>
  <div class="register-modal-wrap">
      <div class="dialog-body">
        <div class="kf-register-header">Join Kifi to get updates to this library</div>

        <div class="register-modal-social-block">
          <div class="kf-fb-register-button" ng-click="fbAuthFromLibrary()" ng-mouseover="fbInit()">Continue with Facebook</div>
          <div class="register-modal-we-are-nice">We will never post without your explicit permission.</div>
        </div>

        <div class="kf-or-separator">
          <div class="kf-or-separator-circle">OR</div>
          <div class="kf-modal-line"></div>
        </div>

        <div class="kf-register-header">Continue with email</div>
        <form name="regEmailForm" class="register-email-form" ng-submit="submitEmail(regEmailForm)" novalidate>
          <span class="register-validation">
            <input type="email" name="email" ng-model="userData.email" placeholder="Email" class="register-email-box register-placeholder" required><!--
         --><span ng-show="fieldHasError(regEmailForm.email)" class="register-help-block">Enter a valid email address</span>
          </span><!--
       --><input type="submit" value="Continue" class="register-submit register-continue">
        </div>

        <div class="register-tagline-login">Already a member of Kifi? <a href="https://www.kifi.com/login" target="_self">Log in</a></div>

      </div>
  </div>
</div>
