
.kf-register-modal
  .modal-dialog
    width: 560px

    @media screen and (max-width: 700px)
      width: calc(100% - 25px)

.kf-register-inviter-pic
  border-radius: 100%
  margin: 0px 10px
  width: 64px
  display: inline-block

.kf-register-modal-invite-text
  color: #687A8D
  font-size: 15px
  display: inline-block
  width: calc(100% - 100px)
  vertical-align: middle

.register-modal-wrap
  padding: 53px 59px 58px

  @media screen and (max-width: 400px)
    padding: 25px

  @media screen and (max-height: 500px)
    padding-top: 10px
    padding-bottom: 10px

.register-active-request
  .kf-register-modal-loading
    display: block

  .register-modal-wrap
    filter: blur(2px)
    -webkit-filter: blur(2px)

.kf-register-modal-loading
  display: none
  width: 100%
  height: 100%
  position: absolute
  z-index: 4
  animation: 2s fade-in

  .kf-logo-pulse
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5
    animation: jump-spin 2s linear infinite
    transform: translate(-50%, -50%) rotate(0deg)

.kf-register-header
  color: #687A8D
  font-size: 24px
  font-weight: 300

.kf-register-header-centered
  margin: auto
  width: 90px

  @media screen and (max-height: 500px)
    display: none

.register-modal-social-block
  margin: 21px 0 0

.register-modal-we-are-nice
  margin-top: 23px
  color: #687A8D
  font-size: 15px

.kf-register-button
  width: 100%
  height: 58px
  margin-bottom: 20px
  border-radius: 6px
  color: #FFF
  font-size: 18px
  font-weight: 500
  text-align: center
  line-height: 58px
  cursor: pointer

  @media screen and (max-height: 600px)
    height: 50px
    line-height: 50px
    margin-bottom: 15px

  &.facebook
    background-color: #4F6CA7

    &:hover
      background-color: lighten(#4F6CA7, 10%)

  &.twitter
    background-color: #55acee

    &:hover
      background-color: lighten(#55acee, 10%)

.kf-or-separator
  padding: 20px 0 20px

  @media screen and (max-height: 600px)
    padding: 10px 0 15px

  @media screen and (max-height: 500px)
    padding: 5px 0 5px

.kf-or-separator-circle
  margin: 0 auto
  width: 42px
  height: 42px
  line-height: 42px
  border-radius: 27px
  font-size: 14px
  color: #687A8D
  background-color: #E7EAEE
  text-align: center
  z-index: 2
  position: relative

.kf-modal-line
  height: 1px
  background-color: #E7EAEE
  position: relative
  top: -20px
  z-index: 0

.register-validation
  position: relative

.register-help-block
  pop-over 35px 0 #3DA9F5

.register-email-form
  margin-top: 20px

.register-placeholder

  &::-webkit-input-placeholder
    font-size: 14px
    font-style: normal
    color: #C4CDD6

  &:-moz-placeholder
    font-size: 14px
    font-style: normal
    color: #C4CDD6

  &::-moz-placeholder
    font-size: 14px
    font-style: normal
    color: #C4CDD6

  &:-ms-input-placeholder
    font-size: 14px
    font-style: normal
    color: #C4CDD6

input.register-email-box
  width: calc(100% - 210px)
  background-color: #fff
  border: 2px solid #E7EAEE
  border-radius: 6px
  color: #000
  font-size: 14px
  padding: 13px 20px

  @media screen and (max-width: 400px)
    width: calc(100% - 160px)

.register-submit
  width: 150px
  background-color: #3DA9F5
  border-radius: 6px
  color: #FFF
  font-size: 17px;
  font-weight: 200;
  font-family: Helvetica, Arial, sans-serif
  padding: 12px 0
  border: 0
  text-decoration: none

  @media screen and (max-width: 600px)
    width: 100px

  &:hover, &:active
    background-color: lighten(#3DA9F5, 10%)

.register-continue
  margin-left: 16px

.register-tagline-login
  font-size: 15px
  margin-top: 25px
  color: #687A8D

  @media screen and (max-height: 500px)
    margin-top: 10px


// 2nd page


.register-field-wrap
  padding: 9px 0

.register-first-block
  padding-top: 27px

input.register-name-box
  width: calc(50% - 55px)
  background-color: #fff
  border: 2px solid #E7EAEE
  border-radius: 6px
  color: #000
  font-size: 14px
  padding: 13px 20px

  &.right-space
    margin-right: 15px

input.register-full-input
  width: calc(100% - 50px)
  background-color: #fff
  border: 2px solid #E7EAEE
  border-radius: 6px
  color: #000
  font-size: 14px
  padding: 13px 20px

.register-password-restrict
  font-size: 15px
  margin-top: 5px
  color: #687a8d

.register-field-submit-wrap
  margin: 25px
  text-align: center


.register-install-ext-btn
  cursor: pointer
  width: 245px
  text-align: center
  margin: 34px auto
  background-color: #3DA9F5
  border-radius: 6px
  color: #FFF
  font-size: 16px;
  font-weight: 200;
  font-family: Helvetica, Arial, sans-serif
  padding: 12px 0
  border: 0
  text-decoration: none

  &:hover, &:active
    background-color: lighten(#3DA9F5, 10%)

.register-logo
  width: 88px
  height: 88px
  margin: 40px auto 0

.register-logo-name
  width: 75px
  height: 40px
  margin: 0 auto

.register-chrome-webstore
  width: 154px
  display: block
  margin: 0 auto

.register-unsupported
  padding-top: 30px

.register-unsupported-p
  font-size: 18px
  color: #333
