.kf-register-modal .modal-dialog {
  width: 560px;
}
@media screen and (max-width: 700px) {
  .kf-register-modal .modal-dialog {
    width: calc(100% - 25px);
  }
}
.register-modal-wrap {
  padding: 53px 59px 58px;
}
.kf-register-header {
  color: #687a8d;
  font-size: 24px;
  font-weight: 300;
}
.register-modal-social-block {
  margin: 31px 0 10px;
}
.register-modal-we-are-nice {
  margin-top: 23px;
  color: #687a8d;
  font-size: 15px;
}
.kf-fb-register-button {
  width: 100%;
  height: 58px;
  background-color: #4f6ca7;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 58px;
  cursor: pointer;
}
.kf-fb-register-button:hover {
  background-color: #5e7ab3;
}
.kf-or-separator {
  padding: 20px 0 27px;
}
.kf-or-separator-circle {
  margin: 0 auto;
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 27px;
  font-size: 14px;
  color: #687a8d;
  background-color: #e7eaee;
  text-align: center;
  z-index: 2;
  position: relative;
}
.kf-modal-line {
  height: 1px;
  background-color: #e7eaee;
  position: relative;
  top: -20px;
  z-index: 0;
}
.register-validation {
  position: relative;
}
.register-help-block {
  position: absolute;
  background-color: #3da9f5;
  border-radius: 5px;
  padding: 3px 5px;
  width: auto;
  display: inline-block;
  left: 0;
  color: #fff;
  top: 35px;
  font-size: 13px;
  z-index: 10;
}
.register-help-block:before {
  position: absolute;
  top: -7px;
  left: 28px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #3da9f5;
  border-left: 7px solid transparent;
  border-bottom-color: #3da9f5;
  content: '';
  z-index: 10;
}
.register-email-form {
  margin-top: 20px;
}
.register-placeholder::-webkit-input-placeholder {
  font-size: 14px;
  font-style: normal;
  color: #c4cdd6;
}
.register-placeholder:-moz-placeholder {
  font-size: 14px;
  font-style: normal;
  color: #c4cdd6;
}
.register-placeholder::-moz-placeholder {
  font-size: 14px;
  font-style: normal;
  color: #c4cdd6;
}
.register-placeholder:-ms-input-placeholder {
  font-size: 14px;
  font-style: normal;
  color: #c4cdd6;
}
input.register-email-box {
  width: calc(100% - 210px);
  background-color: #fff;
  border: 2px solid #e7eaee;
  border-radius: 6px;
  color: #000;
  font-size: 14px;
  padding: 13px 20px;
}
.register-submit {
  width: 150px;
  background-color: #3da9f5;
  border-radius: 6px;
  color: #fff;
  font-size: 17px;
  font-weight: 200;
  font-family: Helvetica, Arial, sans-serif;
  padding: 12px 0;
  border: 0;
  text-decoration: none;
}
.register-submit:hover,
.register-submit:active {
  background-color: #50b2f6;
}
.register-continue {
  margin-left: 16px;
}
.register-tagline-login {
  font-size: 15px;
  margin-top: 25px;
  color: #687a8d;
}
.register-field-wrap {
  padding: 9px 0;
}
.register-first-block {
  padding-top: 27px;
}
input.register-name-box {
  width: calc(50% - 55px);
  background-color: #fff;
  border: 2px solid #e7eaee;
  border-radius: 6px;
  color: #000;
  font-size: 14px;
  padding: 13px 20px;
}
input.register-name-box.right-space {
  margin-right: 15px;
}
input.register-full-input {
  width: calc(100% - 50px);
  background-color: #fff;
  border: 2px solid #e7eaee;
  border-radius: 6px;
  color: #000;
  font-size: 14px;
  padding: 13px 20px;
}
.register-password-restrict {
  font-size: 15px;
  margin-top: 5px;
  color: #687a8d;
}
.register-field-submit-wrap {
  margin: 25px;
  text-align: center;
}
.register-install-ext-btn {
  cursor: pointer;
  width: 245px;
  text-align: center;
  margin: 34px auto;
  background-color: #3da9f5;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  font-family: Helvetica, Arial, sans-serif;
  padding: 12px 0;
  border: 0;
  text-decoration: none;
}
.register-install-ext-btn:hover,
.register-install-ext-btn:active {
  background-color: #50b2f6;
}
