<div kf-modal class="kf-register-modal" ng-class="{'register-active-request': requestActive}" disable-scroll="true">
  <div class="kf-register-modal-loading">
    <div class="kf-logo-pulse svg-small-new-logo"></div>
  </div>
  <a class="dialog-x" ng-click="close()"></a>
  <div class="register-modal-wrap">
      <div class="dialog-body">
        <div ng-if="userData.invite">
          <div class="kf-register-header kf-register-header-centered">Join Kifi</div>
          <div>
            <img class="kf-register-inviter-pic" ng-src="{{userData.invite.inviter|pic}}"></img>
            <span class="kf-register-modal-invite-text"> {{userData.invite.inviter.firstName}} invited you to {{userData.invite.access === 'read_only' ? 'follow' : 'collaborate on'}} this library. </span>
          </div>
        </div>
        <div ng-if="!userData.invite">
          <div class="kf-register-header" ng-if="!userData.toConnectWith">Join Kifi to get updates to this library</div>
          <div class="kf-register-header" ng-if="userData.toConnectWith">Join Kifi to connect with {{userData.toConnectWith.firstName}}</div>
        </div>

        <div class="register-modal-social-block">
          <a ng-href="{{facebookSignupPath}}" target="_self" ng-click="fbAuth()">
            <div class="kf-register-button facebook">Continue with Facebook</div>
          </a>
          <a ng-href="{{twitterSignupPath}}" target="_self" ng-click="twAuth()">
            <div class="kf-register-button twitter">Continue with Twitter</div>
          </a>
          <div class="register-modal-we-are-nice">We will never post without your explicit permission.</div>
        </div>

        <div class="kf-or-separator">
          <div class="kf-or-separator-circle">OR</div>
          <div class="kf-modal-line"></div>
        </div>

        <div class="kf-register-header">Continue with email</div>
        <form name="regEmailForm" class="register-email-form" ng-submit="submitEmail(regEmailForm)" novalidate>
          <span class="register-validation">
            <input type="email" name="email" ng-model="userData.email" placeholder="Email" class="register-email-box register-placeholder" required><!--
         --><span ng-show="fieldHasError(regEmailForm.email)" class="register-help-block">Enter a valid email address</span>
          </span><!--
       --><input type="submit" value="Continue" class="register-submit register-continue">
        </div>

        <div class="register-tagline-login">Already a Kifi member?&nbsp; <a href="/login" target="_self" ng-click="onLoginClick()">Log in</a></div>
      </div>
  </div>
</div>
