<div kf-modal class="kf-register-modal">
  <a class="dialog-x" ng-click="close()"></a>
  <div class="register-modal-wrap">
      <div class="dialog-body">
        <div class="kf-register-header">Experience the full power of Kifi</div>

        <div class="register-kifi-under-clover svg-kifi-under-clover"></div>

        <div class="register-install-ext-btn" ng-click="installExtension()">Get Kifi for {{platformName}}</div>

        <a href="https://chrome.google.com/webstore/detail/kifi/fpjooibalklfinmkiodaamcckfbcjhin?hl=en" title="Kifi in the Chrome Web Store"><img src="/img/available-in-chrome-webstore.png" class="register-chrome-webstore" ng-if="platformName === 'Chrome'"></a>

      </div>
  </div>
</div>
