@()

    <footer id="footer">
      <div class="wrap">
        <nav class="footer_nav">
          <span class="non_mobile">
            <a href="/about" data-track-action="clickAbout">About</a>
            <span class="dot">•</span>
          </span>
          <a href="http://blog.kifi.com/" data-track-action="clickBlog">Blog</a>
          <span class="dot">•</span>
          <a href="http://support.kifi.com/" data-track-action="clickSupport">Support</a>
          <span class="dot">•</span>
          <span class="non_mobile">
            <a href="/terms" data-track-action="clickToS">Terms of Service</a>
            <span class="dot">•</span>
            <a href="/privacy" data-track-action="clickPrivacy">Privacy</a>
            <span class="dot">•</span>
          </span>
          <a href="http://support.kifi.com/customer/portal/emails/new" data-track-action="clickContact">Contact Us</a>
        </nav>
        <div class="copy">
          © 2014 <span class="dot">•</span> All rights reserved
          <span class="dot">•</span> made with <span class="heart_icon"></span> in Mountain View
        </div>
      </div>
    </footer>
