// General keep-who styling

.kf-keep-who-libs-and-pics
  margin-bottom: 6px

.kf-keep-who
  padding: 7px 0
  display: inline-block

.kf-keep-who-text
  margin: 8px 0
  font-size: 12px
  color: #99a3b3

  @media (max-width: 479px)
    margin: 6px 0
    font-size: 11px
    font-smoothing: antialiased

.kf-keep-who-pic-box
  display: inline-block
  margin: 4px 4px 0 0
  height: 23px
  border-radius: (23px / 2)

  @media (max-width: 479px)
    margin: 2px 1px 0 0
    height: 18px
    border-radius: 9px

.kf-keep-who-lib
  vertical-align: top
  line-height: 23px
  font-size: 10px
  margin-left: 1px
  padding-right: 11px
  color: white
  overflow: ellipsis
  display: inline-block
  max-width: 200px
  font-weight: 700

  @media (max-width: 479px)
    margin-left: 0
    padding-right: 9px
    line-height: 18px
    font-weight: normal

.kf-keep-who-pic
  position: relative
  display: inline-block
  vertical-align: top
  border-radius: 100%
  background-size: 100%
  width: 23px
  height: 23px

  @media (max-width: 479px)
    width: 18px
    height: 18px

// Tooltip
.kifi-fr-kcard
  position: absolute
  left: -21px
  top: -90px
  background-color: #fff
  color: #faf9f9
  box-shadow: rgba(103,130,156,.35) 2px 3px
  border: 1px solid #b8c5d2
  border-radius: 3px
  text-align: left
  cursor: default
  z-index: 10

.kifi-fr-kcard.showing
  opacity: 1

.kifi-fr-kcard-top
  display: table
  table-layout: fixed
  border-collapse: collapse
  max-width: 320px

.kifi-fr-kcard-pic
  display: table-cell
  height: 72px
  width: 72px
  margin: 1px
  border-radius: 2px 0 0 2px

.kifi-fr-kcard-info
  display: table-cell
  vertical-align: middle
  padding: 0 14px
  font-size: 12px
  line-height: 13px
  color: #808080

.kifi-fr-kcard-name
  font-size: 16px
  line-height: 18px
  color: #444
  margin-bottom: 4px

.kifi-fr-kcard-desc
  color: #929496

.kifi-fr-kcard-tri
  position: absolute
  height: 14px
  width: 28px
  bottom: -14px
  left: 40px
  margin-left: -14px
  overflow: hidden
  border-color: inherit

.kifi-fr-kcard-tri::after
  content: ' '
  position: absolute
  height: 14px
  width: 14px
  left: 7px
  top: -7px
  -webkit-transform: rotate(45deg)
  transform: rotate(45deg)
  -moz-box-sizing: border-box
  box-sizing: border-box
  box-shadow: rgba(103, 130, 156, .35) 2px 1px
  border: 1px solid
  border-color: inherit
  background-color: #fff

// Tooltip animation
.tooltip-show-hide.ng-hide-add
.tooltip-show-hide.ng-hide-remove
  transition: opacity linear, padding-top linear
  transition-duration: 50ms
  display:block!important

.tooltip-show-hide.ng-hide-add.ng-hide-add-active
.tooltip-show-hide.ng-hide-remove
  opacity:0
  padding-top:3px

.tooltip-show-hide.ng-hide-add
.tooltip-show-hide.ng-hide-remove.ng-hide-remove-active
  opacity:1
  padding-top:0
