<span ng-if="!library.hidden">
  <span ng-if="!isBot">
    <span class="kf-keep-who-pic-box" ng-class="{ 'secret': library.visibility === 'secret' }">
      <a href="{{library.keeper||library.owner|profileUrl}}" kf-track-origin="{{currentPageOrigin}}/alsoKeptInLibraryBy">
        <span class="kf-keep-who-pic" ng-attr-style="background-image:url({{library.keeper || library.owner | pic:100}})"></span>
      </a>
      <a href="{{library.absPath}}" ng-click="onLibraryAttributionClicked()" kf-track-origin="libraryAttributionChip">
        <span class="kf-keep-who-lib">{{library.name}}</span>
      </a>
      <span kf-tooltip position="top" padding="10">
        <span kf-library-mini-card library="library"></span>
      </span>
    </span>
  </span>
  <span ng-if="isBot" class="kf-keep-who-pic-box">
    <a href="{{library.absPath}}" target="_self">{{library.name}}</a>
  </span>
</span>
