.kf-generic-banner
  display: inline-block
  margin: 0 auto
  border-radius: 8px
  padding: 0 10px
  overflow: hidden
  background-color: libraryGreen
  line-height: 16px
  font-size: 13px
  color: white
  padding-left: 15px
  padding-right: 15px

  &.kf-generic-banner-error
    background-color: errorRed

  &.ng-leave
    transition: margin-top .2s, opacity .2s

  &.ng-leave-active
    margin-top: -28px  // TODO: should be actual offsetHeight on small screens too
    opacity: 0

.kf-generic-banner-text,
.kf-generic-banner-thumb,
.kf-generic-banner-icon.symbol-sprite,
.kf-generic-banner-btns
  margin: 6px 0
  display: inline-block
  vertical-align: middle

  + *
    margin-left: 10px

.kf-generic-banner-thumb
  width: 35px
  border-radius: 20px

.kf-generic-banner-icon.symbol-sprite
  fill: white
  margin-left: -5px // Optical alignment

  + .kf-generic-banner-text
    margin-left: 3px

.kf-generic-banner-btns
  display: inline-block
  white-space: nowrap

.kf-generic-banner-btn + .kf-generic-banner-btn
  margin-left: 10px

.kf-generic-banner-btn
  display: inline
  padding: 5px 15px
  border: 1px solid white
  border-radius: 4px
  font-size: 11px
  cursor: pointer

  &.kf-accept
    background-color: alpha(#fff, .9)
    color: libraryGreen

    &:hover:not(:active)
      background-color: #fff

  &.kf-decline
    background-color: transparent
    color: #fff

    &:hover:not(:active)
      background-color: alpha(#fff, .1)
