.kf-footer
  font-size: 13px
  font-smoothing: antialiased
  padding: 0 40px 0 20px
  @media screen and (max-width: 1280px)
    padding: 0 10px 0 10px

  .sprite-heart-icon
    margin-right: 8px

  .sprite-guide-icon,
  .sprite-install-extension-icon
    margin-left: 2px
    margin-right: 12px

  .sprite-import-bookmarks-icon,
  .sprite-import-from-other-services-icon
    margin-right: 12px

  a:hover
    text-decoration: underline

  a:active
    text-decoration: underline

.kf-help-rank-help
  font-weight: 300
  font-size: 115%

  .kf-emph
    font-weight: 400

  .kf-block
    margin: 10px 0px

.kf-rightcol-header
  margin: 0 0 5px
  font-size: 16px
  font-weight: 400
  line-height: 36px

.kf-footer-help-rank-header
  display: inline

.kf-footer-help-rank-icon
  width: 26px
  margin-right: 7px

.kf-footer-help-rank-wrapper
  display: table

.kf-footer-help-rank-item
  margin-bottom: 10px
  display: table-row

.kf-footer-help-rank-number
.kf-footer-help-rank-description
  display: table-cell
  vertical-align: top
  padding: 5px 5px 5px 5px

  a
    color: linkBlueColor

.kf-footer-help-rank-number
  font-size: 28px
  margin-right: 14px
  font-family: Lato, Arial, sans-serif
  font-weight: bold
  width: 15%

.kf-footer-help-rank-description
  white-space: pre-wrap
  line-height: 18px
  padding-left: 10px
  width: 85%

.kf-footer-essentials-list
  line-height: 40px

.kf-info-footer
  margin-bottom: 30px

  a
    margin: 0 8px
    line-height: 25px
    color: linkBlueColor

.kf-footer-item-link
  display: inline-block
  cursor: pointer

.kf-footer-item-link:link
  color: linkBlueColor

  &:hover
    text-decoration: underline

  &:active
    text-decoration: underline

html[data-kifi-ext] .install-kifi
  display: none

.sprite-white-lock-private
  position: relative
  margin-right: 10px
  top: -3px
