<footer class="kf-col-inner" ng-controller="RightColCtrl">
  <div class="kf-footer" ng-show="readyToDraw()">

    <h2 class="kf-footer-header"><span class="sprite sprite-heart-icon"></span><span class="kf-footer-help-rank-header">Your help rank</span></h2>

    <div class="kf-footer-help-rank-item" ng-if="me.totalKeepsClicked > 0" ng-click="openHelpRankHelp()">
        <div class="kf-footer-help-rank-number">{{me.totalKeepsClicked}}</div>
        <div class="kf-footer-help-rank-description">You helped {{me.totalKeepsClicked}} people discover new things in the last week</div>
    </div>
    <div kf-modal ng-if="data.showHelpRankHelp" show="data.showHelpRankHelp">
      <div kf-basic-modal-content centered="true" single-action="false">
        <div class="kf-help-rank-help">
          <div class="kf-block-top">The vision of Kifi is about people helping people. <br> Here's where you come in:</div>
          <div class="kf-block"><span class="kf-emph">{{me.uniqueKeepsClicked}}</span> of your public keeps have been clicked on <span class="kf-emph">{{me.totalKeepsClicked}}</span> times by your friends <br> when they searched on Google or Kifi.com</div>
          <div class="kf-block-bottom">Do you like this feedback?
            <div class="dialog-buttons">
              <button ng-click="yesLikeHelpRank()">Yes</button>
              <button ng-click="noLikeHelpRank()">No</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="kf-horizontal-separator"></div>

    <h2 class="kf-footer-header">Friends on Kifi</h2>
    <div kf-compact-friends-view></div>


    <div class="kf-horizontal-separator"></div>

    <h2 class="kf-footer-header">Essentials</h2>
    <ul class="kf-footer-essentials-list about-kifi">
      <li>
        <a class="kf-footer-item-link kifi-tutorial" href="#" ng-click="data.showGettingStarted = true">
          <span class="sprite sprite-guide-icon"></span>Kifi Step-by-step guide
        </a>
        <div ng-if="data.showGettingStarted">
          <iframe class="kifi-onboarding-iframe" ng-src="https://www.kifi.com/assets/onboarding.html" frameborder="0"></iframe>
        </div>
      </li>
      <li class="install-kifi">
        <a class="kf-footer-item-link" href="javascript:" ng-click="triggerInstall()">
          <span class="sprite sprite-install-extension-icon"></span><span ng-show="!installInProgress()">Install the extension</span><span ng-show="installInProgress()">Installing...</span><span ng-show="installed()">Installed!</span>
        </a>
      </li>
      <li class="import-bookmarks">
        <a class="kf-footer-item-link" href="javascript:" ng-click="importBookmarks()">
          <span class="sprite sprite-import-bookmarks-icon"></span>Import your bookmarks
        </a>
      </li>
      <li class="import-bookmark-file">
        <a class="kf-footer-item-link" href="javascript:" ng-click="importBookmarkFile()">
          <span class="sprite sprite-import-from-other-services-icon"></span>Import Delicious / Kippt / Pocket
        </a>
      </li>
    </ul>

    <div kf-modal show="data.showInstallErrorModal" ng-if="data.showInstallErrorModal">
      <div kf-basic-modal-content>
        <div>Something seems to have gone wrong installing the browser extension.</div>
        <div>Please try again later, or <a href="http://support.kifi.com/customer/portal/emails/new">contact us</a>.</div>
      </div>
    </div>

    <div class="kf-horizontal-separator"></div>

    <h2 class="kf-footer-header">Info and support</h2>
    <ul class="kf-footer-more-list about-us">
      <li>
        <a class="kf-footer-item-link support-center" href="http://support.kifi.com">Support center</a>
      </li>
      <li>
        <a class="kf-footer-item-link contact-us" href="http://support.kifi.com/customer/portal/emails/new">Contact us</a>
      </li>
      <li>
        <a class="kf-footer-item-link updates-features" href="http://blog.kifi.com">Kifi blog</a>
      </li>
      <li>
        <a class="kf-footer-item-link updates-features" href="https://www.kifi.com/privacy">Privacy</a>
      </li>
      <li>
        <a class="kf-footer-item-link updates-features" href="https://www.kifi.com/terms">Terms</a>
      </li>
      <li>
        <a class="kf-footer-item-link updates-features" href="http://www.42go.com">About us</a>
      </li>
    </ul>
  </div>
</footer>
