.kf-col-right
  width: 31%
  min-width: 330px
  background: #fff

.kf-top-right-nav
  height: 70px
  padding: 26px 18px 0 0
  background-color: #67829c
  text-align: right
  font-size: 14px
  box-sizing: border-box

  a[href]
    padding: 10px 15px
    color: white
    vertical-align: middle

    &:hover
      background-color: #a0b1c2

    &:active
      background-color: #8699ab

    &:focus
      box-shadow: inset 0 0 0 2px #a0b1c2
