<div class="kf-col-inner" ng-controller="RightColCtrl">
  <div class="kf-footer" ng-show="readyToDraw()">

    <div class="kf-helprank" ng-if="me.clickCount > 0 || me.rekeepTotalCount > 0">
      <h2 class="kf-rightcol-header"><span class="sprite sprite-heart-icon"></span><span class="kf-footer-help-rank-header">Your most helpful keeps</span></h2>
      <div class="kf-footer-help-rank-wrapper" ng-if="me.clickCount > 0">
        <div class="kf-footer-help-rank-item">
          <span class="kf-footer-help-rank-number">{{me.clickCount}}</span>
          <span class="kf-footer-help-rank-description">
            You've helped friends discover keeps <a class="kifi-footer-item-link" href="/helprank/click" ng-click="trackClickOnClicks()">{{me.clickCount}} times</a> this month
          </span>
        </div>
        <div class="kf-footer-help-rank-item" ng-if="me.rekeepTotalCount > 0">
          <span class="kf-footer-help-rank-number">{{me.rekeepTotalCount}}</span>
          <span class="kf-footer-help-rank-description">
            Your keeps have been rekept by others <a class="kifi-footer-item-link" href="/helprank/rekeep" ng-click="trackClickOnReKeeps()">{{me.rekeepTotalCount}} times</a>
          </span>
        </div>
      </div>
      <div class="kf-horizontal-separator"></div>
    </div>

    <div class="kf-rightcol-friends">
      <div ng-if="hasNoFriendsOrConnections()" kf-no-friends-or-connections-view></div>
      <div ng-if="!hasNoFriendsOrConnections()" ng-include="'friends/rightColFriendsView.tpl.html'"></div>
    </div>

    <div class="kf-horizontal-separator"></div>

    <h2 class="kf-rightcol-header">Essentials</h2>
    <ul class="kf-footer-essentials-list about-kifi">
      <li kf-min-version="3.3.0" class="start-guide">
        <div kf-callout class="kf-callout-bubble-left kf-callout-guide" rel-pos ng-if="showCallout()">
            <div>The new turbo charged extension allows you to create and update your libraries from any webpage. If you would like a quick tour click below.</div>
            <div class="kf-callout-bubble-action">
              <div class="kf-callout-decline" ng-click="closeCallout()">No thanks</div><div class="kf-callout-bubble-button" ng-click="closeCalloutOpenGuide()">Show me</div>
            </div>
        </div>
        <a class="kf-footer-item-link kifi-tutorial" href="javascript:" ng-click="triggerGuide(true)">
          <span class="sprite sprite-guide-icon"></span>Kifi Step-by-step guide
        </a>
      </li>
      <li class="install-kifi">
        <a class="kf-footer-item-link" href="javascript:" ng-click="triggerInstall()">
          <span class="sprite sprite-install-extension-icon"></span><!--
       --><span ng-show="!installInProgress() && !installed()">Install the extension</span><!--
       --><span ng-show="installInProgress() && !installed()">Installing...</span><!--
       --><span ng-show="installed()">Installed!</span>
        </a>
      </li>
      <li class="import-bookmarks">
        <a class="kf-footer-item-link" href="javascript:" ng-click="importBookmarks()">
          <span class="sprite sprite-import-bookmarks-icon"></span>Import your bookmarks
        </a>
      </li>
      <li class="import-bookmark-file">
        <a class="kf-footer-item-link" href="javascript:" ng-click="importBookmarkFile()">
          <span class="sprite sprite-import-from-other-services-icon"></span>Import Delicious/Kippt/Pocket/...
        </a>
      </li>
    </ul>

    <div class="kf-horizontal-separator"></div>

      <div class="kf-info-footer">
        <a class="kf-footer-item-link" target="_top" href="https://www.kifi.com/how_it_works">How it works</a> &middot;
        <a class="kf-footer-item-link" target="_top" href="http://support.kifi.com">Support</a> &middot;
        <a class="kf-footer-item-link" target="_top" href="https://www.kifi.com/about">About</a> <br>

        <a class="kf-footer-item-link" target="_top" href="http://blog.kifi.com">Blog</a> &middot;
        <a class="kf-footer-item-link" target="_top" href="https://www.kifi.com/privacy">Privacy</a> &middot;
        <a class="kf-footer-item-link" target="_top" href="https://www.kifi.com/terms">Terms</a>
      </div>

  </div>
</div>
