.kifi-comment-wrapper .kifi-control-bar {
  font-size: 11px;
  color: #8C7E7E;
  padding: 4px;
  clear: both;
}
.kifi-comment-wrapper .kifi-control-bar a {
  display: inline-block;
  padding: 6px;
  color: inherit !important;
  text-decoration: none !important;
}
.kifi-comment-wrapper .kifi-control-bar a:hover {
  background-color: #eee;
}
.kifi-comment-wrapper .kifi-control-bar .kifi-follow:before {
  content: ".";
  display: inline-block;
  color: transparent;
  font: 8px/8px serif;
  width: 8px;
  border-radius: 4px;
  vertical-align: 2px;
  margin-right: 4px;
  background-color: #ccc;
}
.kifi-comment-wrapper .kifi-control-bar .kifi-following:before {
  background-color: #0c0;
}
.kifi-comment-wrapper .kifi-control-bar .kifi-following:after {
  content: "ing";
}
.kifi-comment-wrapper .kifi-control-bar .kifi-filter-by {
  float: right;
}

.kifi-comment-wrapper .kifi-comments-body {
  background-color: #FAF9F9;
  min-height: 40px;
  overflow: auto;
  max-height:245px;
  font-size:11px;
  line-height: 14px;
}

.kifi-comment-wrapper .kifi-comments-post {
  border-top: 1px solid #e2e2e2;
}

.kifi-comment-wrapper .kifi-comment-avatar {
  float: left;
  width: 35px;
  height: 35px;
  margin: 0 8px 5px 0;
  border-radius: 2px;
}

.kifi-comment-wrapper .kifi-comment-wrap {
  border-top: 1px solid #e2e2e2;
  position: relative;
}
.kifi-comment-wrapper .kifi-comment-wrap:first-child {
  border-top: none;
}

.kifi-comment-wrapper .kifi-comment {
  background-color: #fafafa;
  padding: 10px;
}

.kifi-comment-wrapper .kifi-thread-info {
  cursor: pointer;
}
.kifi-comment-wrapper .kifi-thread-info:hover {
  background-color: #f1f1f1;
}

.kifi-comment-wrapper .kifi-comment-meta {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 6px 10px;
  background-color: rgba(0,0,0,.5);
  border-top-right-radius: 10px;
  font-size: 10px;
  color: #eee;
  -webkit-transform: translate(-100%,0);
  -webkit-transition: all .2s ease-in-out;
  transform: translate(-100%,0);
  transition: all .2s ease-in-out;
}
.kifi-comment-wrapper .kifi-comment-wrap:hover .kifi-comment-meta {
  -webkit-transform: none;
  -webkit-transition-delay: 2.5s;
  transform: none;
  transition-delay: 2.5s;
}

.kifi-comment-wrapper .kifi-comment-text {
  margin-left: 43px;
  min-height: 35px;
  line-height: 14px;
  color: #524D4D;
  word-wrap: break-word;
}
.kifi-comment-wrapper .kifi-comment-text p {
  line-height: 14px;
  word-wrap: break-word;
}

.kifi-comment-wrapper .kifi-comment-text strong {
  padding-bottom:2px;
  line-height:11px;
  font-weight: bold;
}

.kifi-comment-wrapper strong.kifi-recipient {
  white-space: nowrap;
  font-weight: bold;
}

.kifi-more-recipients {
  font-weight: bold;
  color: #68b3de;
  cursor: pointer;
  white-space: nowrap;
}

.kifi-more-recipient-list-wrapper {
  position: relative;
  display: none;
}

div.kifi-more-recipient-list {
  display: block;
  position: absolute;
  top: 15px;
  right: 0px;
  background: #414b52;
  color: #fafafa;
  z-index: 2;
  width:140px;
  padding: 3px;
  border-radius: 3px;
  display: none;
  -webkit-font-smoothing: antialiased;
}

.kifi-comment-wrapper .kifi-thread-info-text {
  max-height: 50px;
  overflow: hidden;
}

.kifi-comment-wrapper .kifi-thread-info-text {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAQCAYAAADAvYV+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpDQzMxNENGOTMzNjYxMUUyQkJCMEFFNzQzN0EyMENBRSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpDQzMxNENGQTMzNjYxMUUyQkJCMEFFNzQzN0EyMENBRSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkNDMzE0Q0Y3MzM2NjExRTJCQkIwQUU3NDM3QTIwQ0FFIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkNDMzE0Q0Y4MzM2NjExRTJCQkIwQUU3NDM3QTIwQ0FFIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+zhdK5QAAAMtJREFUeNpskTEKwkAURFebEILeQrBJkdOIhW0w2AS9QkoRK6OWNkEvI1gJuUUghFQ6C1P8/fwHrxkmYXd2cqyqh3Nu40J28KIyN4UF/Kr8BDOr3MMVHEQewSec67LnA0v1owW8WmXPHTbqgzXMrbJnC1uVnWFqlTuefxRZDF8w0WXPGx5UtoS1Vfb8rNAqZ9xZ4t+h0OUZ941ENvAevS7fuK+k5DsEx8i5q6Th/sGZU+4pabl7cMGEO8YiH3nOTpdr7ijZc++AvwADAHCFJLSD/IIoAAAAAElFTkSuQmCC);
  background-position: 97% 50%;
  background-repeat: no-repeat;
  background-size: 5px 8px;
}

.kifi-comment-wrapper .replies:hover, .hearts-thank:hover {
  color: #666;
  text-decoration: underline;
  cursor: pointer;
}

.kifi-comment-wrapper .hearts-thank-hover {
  color: #666;
  text-decoration: underline;
  cursor: pointer;
}

.kifi-comment-wrapper .hearts-glyph-thanked {
  color: #D26464;
}

.kifi-comment-wrapper .kifi-comment-text .first-line {
  display: inline;
}

.kifi-comment-wrapper .kifi-comment-text p {
  margin: 5px 0 0;
}

.kifi-comment-wrapper .kifi-comments-post form {
  margin: 0;
}

.kifi-comment-wrapper .kifi-comment-box {
  min-height: 45px;
  padding: 10px;
  font-size: 12px;
  outline: none;
  clear: both;
}

.kifi-comment-wrapper .kifi-thread-back {
  padding: 4px;
}

.kifi-comment-wrapper .kifi-thread-back a {
  color: #8c8484;
  font-size: 11px;
  display: inline-block;
  padding: 6px;
  color: inherit !important;
  text-decoration: none !important;
}

.kifi-comment-wrapper .kifi-thread-back:hover a {
  background-color: #eee;
}

.kifi-comment-wrapper .kifi-recipient-list {
  display: block;
}

.kifi-comment-wrapper .kifi-recipient-list strong {
  font-weight: bold;
}

.kifi-comment-wrapper .kifi-thread-recipients div.kifi-recipient-list {
  padding: 10px;
  line-height: 14px;
  border-top: 1px solid #e5e5e5;
  display: block;
}

.kifi-comment-wrapper .kifi-compose-wrapper {
  overflow: hidden;
}

.kifi-comment-wrapper .kifi-comment-box .kifi-comment-compose {
  margin: 0;
  border: 1px solid #e2e2e2;
  border-radius: 3px 3px 0 0;
  padding: 5px;
  background-color: #fff;
  min-height: 36px;
  max-height: 130px;
  overflow: auto;
  outline: none;
  box-shadow: none;
  font: 11px/12px "helvetica neue", Helvetica, Arial, sans-serif;
}

.kifi-comment-wrapper .kifi-comment-box .kifi-comment-compose .kifi-placeholder {
  color: #a9a9a9;
}

.kifi-comment-wrapper .kifi-comment-box .kifi-compose-social {
  background-color: #F2F2F2;
  border: 1px solid #e2e2e2;
  border-top: 0px;
  border-radius: 0px 0px 3px 3px;
  padding:5px;
  font-size: 11px;
}

.kifi-post-to-network span.kifi-network {
  width: 17px;
  height: 17px;
  display: inline-block;
  background-size: 68px;
  margin-bottom: -3px;
  cursor: pointer;
}
.kifi-post-to-network span.kifi-network-fb { background-position: 0 17px }
.kifi-post-to-network span.kifi-network-in { background-position: -17px 17px }
.kifi-post-to-network span.kifi-network-tw { background-position: -34px 17px }
.kifi-post-to-network span.kifi-network-pn { background-position: -51px 17px }
.kifi-post-to-network span.kifi-network-fb:hover { background-position: 0 0 }
.kifi-post-to-network span.kifi-network-in:hover { background-position: -17px 0 }
.kifi-post-to-network span.kifi-network-tw:hover { background-position: -34px 0 }
.kifi-post-to-network span.kifi-network-pn:hover { background-position: -51px 0 }

.kifi-comment-wrapper .kifi-submit-bar {
  margin-top: 5px;
  text-align: right;
}

.kifi-comment-wrapper .kifi-submit-comment {
  outline: none;
  display: inline-block;
  font-size: 11px;
  color: #FAFAFA !important;
  background: #414b52;
  border-radius: 3px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  padding: 0 6px;
  text-decoration: none !important;
}
.kifi-comment-wrapper .kifi-submit-comment:focus,
.kifi-comment-wrapper .kifi-submit-comment:hover {
  background: #515b62;
  color: #fff !important;
}
.kifi-comment-wrapper .kifi-submit-comment:active {
  background: #000;
}

.kifi-comment-wrapper .kifi-take-snapshot {
  float: left;
  height: 20px;
  width: 20px;
  border-radius: 3px;
}
.kifi-comment-wrapper .kifi-take-snapshot:hover {
  box-shadow: inset 0 0 2px rgba(0,0,0,.3);
  background-color: #fff;
  background-position: -20px 0;
}
.kifi-comment-wrapper .kifi-take-snapshot:active {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
  background-color: inherit;
  background-position: -40px 0;
}
.kifi-snapshot-mode body {
  position: relative;
}
body .kifi-snapshot-glass {
  position: absolute;
  z-index: 2147483639;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 5px 1px #fff;
  cursor: crosshair;
}
body .kifi-snapshot-shade {
  background-color: rgba(0,0,0,.4);
  position: absolute;
  z-index: 2147483639;
  cursor: crosshair;
}
body .kifi-snapshot-shade-t { left: 0; right: 0; top: 0; bottom: 0; }
body .kifi-snapshot-shade-b { left: 0; right: 0; bottom: 0; }
body .kifi-snapshot-shade-l { left: 0; }
body .kifi-snapshot-shade-r { right: 0; }

body .kifi-snapshot-bar-wrap {
  position: fixed;
  z-index: 2147483639;
  left: 0;
  right: 0;
  bottom: 80px;
  height: 0;
  text-align: center;
}
body .kifi-snapshot-bar-wrap .kifi-snapshot-bar {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: move;
}
body .kifi-snapshot-bar-wrap .kifi-snapshot-bar .kifi-snapshot-cancel {
  display: inline-block;
  padding: 2px 6px 3px;
  border-image: initial;
  background-color: buttonface;
  color: buttontext;
  font: -webkit-small-control;
  -webkit-box-align: center;
  text-align: center;
  cursor: pointer;
}
body .kifi-snapshot-bar-wrap .kifi-snapshot-bar .kifi-snapshot-cancel:active {
  border-image: initial;
}
body .kifi-snapshot-highlight {
  position: absolute;
  z-index: 2147483639;
  background: rgba(255,255,0,.15);
  border: 3px solid rgba(255,255,0,.7);
  border-radius: 6px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.kifi-comment-wrapper img.kifi-user-avatar {
  float: left;
  border-radius: 50px;
}
.kifi-comment-wrapper img.kifi-self-avatar {
  border-radius: 100px !important;
}

ul.token-input-list-kifi {
  overflow: hidden;
  height: auto !important;
  height: 1%;
  width: 255px;
  border: 1px solid #e2e2e2;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  cursor: text;
  font: inherit;
  font-size: 11px;
  min-height: 1px;
  z-index: 2147483647;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #fff;
  list-style-type: none;
  clear: left;
  color: #524d4d;
  list-style: none;
}
form.kifi-message-form div.kifi-compose-wrapper input {
  width: 100px;
  height: auto;
  margin: 0;
  border: none;
  padding: 5px;
  background-color: #fff;
  font: inherit;
  font-size: 11px;
  box-shadow: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form.kifi-message-form div.kifi-compose-wrapper input.kifi-to-list { /* shown temporarily until $.tokenInput called */
  width: 100%;
  border: 1px solid #e2e2e2;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
}
input.kifi-to-list:-moz-placeholder,
#token-input-to-list:-moz-placeholder {
  color: #a9a9a9 !important;
}
li.token-input-token-kifi {
  overflow: hidden;
  margin: 3px !important;
  padding: 1px 3px !important;
  background-color: #eaeaea;
  color: #524d4d;
  cursor: default;
  border: 1px solid #e2e2e2;
  font-size: 11px;
  border-radius: 2px;
  float: left;
  white-space: nowrap;
}
li.token-input-token-kifi p {
  display: inline;
  padding: 0;
  margin: 0;
}
li.token-input-token-kifi span {
  color: #524d4d;
  margin-left: 5px;
  font-weight: normal;
  cursor: pointer;
}
li.token-input-selected-token-kifi {
  background-color: #fafafa;
  border-color: #e2e2e2;
  color: #414B52;
}
li.token-input-selected-token-kifi span {
  color: #414B52;
  margin-left: 5px;
  cursor: pointer;
}
li.token-input-input-token-kifi {
  float: left;
  margin: 0 !important;
  padding: 0 !important;
  list-style-type: none;
}
div.token-input-dropdown-kifi {
  position: absolute;
  width: 240px;
  background-color: #fff;
  overflow: hidden;
  border: 1px solid #ccc;
  border-top: none;
  cursor: default;
}
div.token-input-dropdown-kifi p {
  margin: 0 !important;
  padding: 5px;
  font-weight: bold;
  color: #777;
}
div.token-input-dropdown-kifi ul {
  position: static;
  float: none;
  margin: 0 !important;
  padding: 0 !important;
}
div.token-input-dropdown-kifi ul li {
  background: #fff;
  position: static;
  float: none;
  margin: 0 !important;
  padding: 3px !important;
  list-style-type: none;
  text-align: left;
  font: 11px "helvetica neue",Helvetica,Arial,sans-serif;
}
div.token-input-dropdown-kifi ul li.token-input-dropdown-item-kifi,
div.token-input-dropdown-kifi ul li.token-input-dropdown-item2-kifi {
  background-color: #fff;
}
div.token-input-dropdown-kifi ul li.token-input-selected-dropdown-item-kifi {
  background-color: #FAF9F9;
  color: #414B52;
}
