.kifi-kcard {
  position: absolute;
  left: -100px;  /* chrome size/position workaround */
  background-color: #fff;
  color: #faf9f9;
  box-shadow: 1px 2px 16px rgba(0,0,0,.12);
  border: 1px solid #e2e2ea;
  border-radius: 4px !important;
  padding: 1px;
  text-align: left;
  cursor: default;
  opacity: 0;
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  transition: opacity linear, -webkit-transform ease-in-out;
  transition: opacity linear, transform ease-in-out;
  transition-duration: 100ms;
}
.kifi-kcard.kifi-showing {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  transition-duration: 60ms;
}
.kifi-kcard-top {
  position: relative;
  height: 110px;
  min-width: 150px;
  max-width: 320px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 24px 15px 0 110px;
}
.kifi-kcard-pic {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 80px;
  width: 80px;
  border-radius: 50% !important;
  background-size: contain;
  box-shadow: inset 0 0 2px rgba(0,0,0,.1);
}
.kifi-kcard-name {
  line-height: 18px;
  font-size: 15px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  color: #333;
  margin-bottom: 4px;
}
.kifi-kcard-desc {
  line-height: 15px;
  font-size: 13px;
  font-weight: normal;
  color: #8092a6;
  white-space: nowrap;
}
.kifi-kcard-tri {
  position: absolute;
  height: 18px;
  width: 36px;
  bottom: -18px;
  left: 50%;
  margin-left: -18px;
  overflow: hidden;
  border-color: inherit;
}
.kifi-kcard-tri::after {
  content: '';
  position: absolute;
  height: 18px;
  width: 18px;
  left: 9px;
  top: -9px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 1px 2px 12px rgba(0,0,0,.1);
  border: 1px solid;
  border-color: inherit;
  border-radius: 0 0 2px;
  background-color: #fff;
}
