.kifi-kcard:last-child { /* :last-child for specificity boost (always matches) */
  position: absolute;
  min-width: 300px;
  background-color: #fff;
  color: #faf9f9;
  box-shadow: 2px 5px 12px rgba(0,0,0,.3);
  border: 1px solid #929496;
  text-align: left;
  line-height: normal;
  cursor: default;
  opacity: 0;
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-transition: opacity 100ms ease-in-out, -webkit-transform 100ms ease-out;
  transition: opacity 100ms ease-in-out, -webkit-transform 100ms ease-out, transform 100ms ease-out;
}
.kifi-hover-showing>.kifi-kcard {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  -webkit-transition-duration: 60ms;
  transition-duration: 60ms;
}
.kifi-kcard::before,
.kifi-kcard::after {
  content: " ";
  position: absolute;
  top: 100%;
  height: 0;
  width: 0;
  left: 50%;
  border: solid transparent;
}
.kifi-kcard::before {
  margin-left: -9px;
  border-width: 9px;
  border-top-color: inherit;
}
.kifi-kcard::after {
  margin-left: -8px;
  border-width: 8px;
  border-top-color: #fff;
}
.kifi-kcard .kifi-kcard-top {
  display: table;
  padding: 20px 14px;
}
.kifi-kcard .kifi-kcard-pic {
  display: table-cell;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 100px;
  width: 100px;
  padding: 1px;
  background-color: #fff;
  border: 2px solid #dbdbdb;
  border-radius: 5px;
  float: left;
}
.kifi-kcard .kifi-kcard-info {
  display: table-cell;
  vertical-align: top;
  padding-left: 14px;
  font-size: 12px;
  line-height: 13px;
  color: #808080;
}
.kifi-kcard .kifi-kcard-name {
  font-size: 16px;
  color: #2d2d2d;
  white-space: nowrap;
}
.kifi-kcard-label {
  margin: 15px 0 3px;
}
.kifi-kcard-interests {
  color: #aaa;
}
.kifi-kcard-networks {
  font-size: 0;
  line-height: 0;
}
.kifi-kcard-networks a.kifi-kcard-nw {
  width: 17px;
  height: 17px;
  display: inline-block;
  background-size: 68px !important;
  margin-right: 2px;
}
.kifi-kcard-networks a.kifi-kcard-nw-fb {background-position: 0px 0px !important}
.kifi-kcard-networks a.kifi-kcard-nw-in {background-position: -17px 17px !important}
.kifi-kcard-networks a.kifi-kcard-nw-tw {background-position: -34px 17px !important}
.kifi-kcard-networks a.kifi-kcard-nw-pn {background-position: -51px 17px !important}
