#kifi-res {
  margin-bottom: 18px;
}
.kifi-res-bar {
  position: relative;
  cursor: default;
  border: 1px solid #e5e7e8;
  border-radius: 6px;
  background: #fafafa;
  color: #929496;
  font-size: 11px !important; /* FF */
  line-height: 27px !important; /* FF */
  height: 27px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.kifi-res-bar a:active,
.kifi-filter:active {
  color: inherit !important;
}
.kifi-res-bar-kifi {
  color: #777;
  font-size: 13px;
  font-weight: bold;
  line-height: inherit;
  margin: 0 12px;
  position: relative;
  bottom: 1px;
}
.kifi-res-bar-status {
  vertical-align: 1px;
}
.kifi-res-bar-status[data-n] {
  border-radius: 50%;
}
.kifi-res-bar-status[href],
.kifi-filter[href] {
  color: #6fa6ef;
  text-decoration: none;
}
.kifi-res-bar-status[href]:active,
.kifi-filter[href]:active {
  color: #76aaf0 !important;
}
:not(.kifi-loading):not(.kifi-preview):not(.kifi-collapsed):not([data-n])>.kifi-res-bar-status {
  display: none;
}
.kifi-res-bar-status[data-n]:not([data-n='0'])::before {
  content: attr(data-n);
  display: inline-block;
  width: 11px;
  height: 11px;
  line-height: 11px;
  border: 1px solid currentColor;
  border-radius: 50%;
  text-align: center;
}
.kifi-collapsed>.kifi-res-bar-status::after {
  content: 'Expand again';
}
.kifi-loading>.kifi-res-bar-status::after {
  content: 'Loading relevant keeps...';
}
.kifi-res-bar-status[data-n='0']::after {
  content: 'No top keeps';
}
.kifi-res-bar-status[href][data-n]::after {
  content: 'Top keeps for you';
  margin-left: 3px;
}
.kifi-res-bar-status[href][data-n='1']::after {
  content: 'Top keep for you';
}
.kifi-res-bar-status[href]:hover::after,
.kifi-filter[href]:hover {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAYAAAD0In+KAAAAEElEQVQIW2NgAIL8Ze//AwAGlAMEWWp0lgAAAABJRU5ErkJggg==);
  background-size: auto 1px;
  background-position: right bottom;
  background-repeat: repeat-x;
}
.kifi-res-bar-arrow {
  position: absolute;
  top: -1px;
  right: 28px;
  width: 29px;
  height: 27px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid;
  border-color: inherit;
  text-align: center;
}
.kifi-res-bar-arrow[href]:hover,
.kifi-res-bar-arrow[href]:focus,
.kifi-res-bar-menu-a:hover,
.kifi-res-bar-menu-a:focus,
.kifi-res-bar-menu-item:hover,
.kifi-res-bar-menu-item:focus,
.kifi-res-bar-menu-item.kifi-hover {
  background-color: #fdfdfd;
}
.kifi-res-bar-arrow[href]:active,
.kifi-res-bar-menu-a:active,
.kifi-res-bar-menu-a.kifi-active,
.kifi-res-bar-menu-item:active {
  background-color: #f2f2f2;
}
.kifi-res-bar-arrow::before {
  content: '\bb';
  display: inline-block;
  font-size: 13px;
  line-height: 14px;
  color: #c3ced8;
  -webkit-transform: translate(1px,0) rotate(90deg) scale(-1,1.5);
  transform: translate(1px,1px) rotate(90deg) scale(-1,1.5);
  transition: -webkit-transform .2s;
  transition: transform .2s;
}
.kifi-collapsed>.kifi-res-bar-arrow::before {
  -webkit-transform: translate(1px,0) rotate(90deg) scale(1,1.5);
  transform: translate(1px,1px) rotate(90deg) scale(1,1.5);
}
.kifi-res-bar-arrow:not([href])::before {
  opacity: .4;
}
.kifi-res-bar-menu-a {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 30px;
  height: 27px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid;
  border-color: inherit;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: center/auto 7px no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAHCAYAAADam2dgAAAAFElEQVQYV2PccfTSfwa6AcZBaB0ApDYJ7ikaooQAAAAASUVORK5CYII=);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
.kifi-res-bar-menu-a {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAOCAYAAAAi2ky3AAAAHUlEQVQoz2PYcfTSf2pgBqoZNAoIg9FYG401KmAAaSJk+Aie37YAAAAASUVORK5CYII=);
}
}
.kifi-res-bar-menu {
  right: 4px;
  top: 25px;
  white-space: nowrap;
  font-size: 13px;
  line-height: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.kifi-res-bar-menu,
.kifi-res-bar-submenu {
  display: none;
  position: absolute;
  z-index: 1;
  border-style: solid;
  border-color: inherit;
  border-width: 1px 1px 0;
  background-color: inherit;
}
.kifi-res-bar-submenu {
  left: 100%;
  top: -1px;
}
.kifi-res-bar-submenu:hover,
.kifi-res-bar-submenu.kifi-hover,
.kifi-res-bar-submenu-a:hover+.kifi-res-bar-submenu,
.kifi-res-bar-submenu-a.kifi-hover+.kifi-res-bar-submenu {
  display: block;
}
.kifi-res-bar-submenu-a,
.kifi-res-bar-menu-item {
  display: block;
  padding: 0 20px;
  color: inherit !important;
  text-decoration: none !important;
  border-bottom: 1px solid;
  border-color: inherit;
}
.kifi-res-bar-submenu-a {
  cursor: default;
}
.kifi-res-bar-menu-item.kifi-checkable {
  padding-left: 14px;
}
.kifi-res-bar-menu-item.kifi-checkable::before {
  content: '\2713';
  margin-right: 6px;
  visibility: hidden;
}
.kifi-res-bar-menu-item.kifi-checkable.kifi-checked::before {
  visibility: visible;
}

.kifi-collapsed+.kifi-res-box,
.kifi-preview+.kifi-res-box>.kifi-filters {
  display: none;
}
.kifi-filters {
  padding: 0 12px;
  color: #929496;
  font-size: 11px;
  line-height: 28px;
  text-align: right;
  border-bottom: 1px solid #f2f3f3;
}
.kifi-filter {
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}
.kifi-filter[href]:hover {
  background-position: right bottom 8px;
  cursor: pointer;
}
.kifi-filter-all {
  float: left;
}
.kifi-filter-all[data-top]::before {
  content: attr(data-top) ' top keeps';
}
.kifi-filter-all[data-of]::after {
  content: attr(data-of) ' keeps';
}
.kifi-filter-all[data-of][data-n]::after {
  content: attr(data-n) ' of ' attr(data-of) ' keeps';
}
.kifi-filter-yours::after,
.kifi-filter-friends::after {
  content: attr(data-n);
  margin-left: 4px;
}
.kifi-filter-sep {
  margin: 0 3px;
}

#kifi-res-list {
  margin-top: 18px !important; /* FF */
}
#kifi-res-list.kifi-res-none {
  margin: 0 !important;
  text-align: center;
  font-size: 12px;
  color: #666;
}
#kifi-res-list.kifi-res-none::before {
  content: " ";
  display: block;
  height: 20px;
}
#kifi-res-list.kifi-res-none::after {
  content: " ";
  display: block;
  height: 12px;
}
.kifi-res-more-heading {
  margin: -10px 0 20px;
  padding: 0 12px;
  color: #929496;
  font-size: 11px;
  line-height: 28px;
  border-bottom: 1px solid #f2f3f3;
}
#kifi-res-list a:visited {
  color: #2518b5;
}

.kifi_resurl {
  white-space: nowrap;
  overflow-x: hidden;
}

.formatted_site {
  height: 15px;
  width: 15px;
  display: inline-block;
  top: 2px;
  position: relative;
  margin-right: 5px;
}

.kifi-who {
  margin-top: 3px;
  height: 25px;
  background-color: #fafafa;
  border-radius: 20px;
  padding-right: 8px;
  font-size: 0;
}
.kifi-who:before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  height: inherit;
}
.kifi-face {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  margin-left: 1px;
  background-color: #fff;
  vertical-align: middle;
}
.kifi-face.kifi-self {
  margin-left: 0;
  border-radius: 50% 0 0 50%;
}
.kifi-face.kifi-self.kifi-only {
  border-radius: 50%;
}
.kifi-face.kifi-friend {
  display: inline-block;
  background-size: 25px;
  background-repeat: no-repeat;
  position: relative;
}
.kifi-kcard {
  z-index: 999;
}
.kifi-globe {
  margin-left: 6px;
  width: 21px;
  height: 21px;
  vertical-align: middle;
}
.kifi-who-text {
  margin-left: 12px;
  font-size: 12px;
  color: #666;
  vertical-align: middle;
}
.kifi-face.kifi-self.kifi-only+.kifi-who-text {
  margin-left: 10px;
}
.kifi-res-private {
  margin: 0 1px;
  padding: 0 5px;
  border-radius: 4px;
  background-color: #e8e8e8;
  color: #999;
}
a.kifi-res-friends {
  color: inherit !important;
  text-decoration: none !important; /* FF */
  position: relative;
}
.kifi-res-friends-hover {
  position: absolute;
  padding: 4px 8px;
  background-color: #282828;
  color: #fff;
  font-size: 11px;
  cursor: default;
  z-index: 99;
  opacity: 0;
  -webkit-transform: translate(0,3px);
  transform: translate(0,3px);
  transition: opacity linear, -webkit-transform ease-in-out;
  transition: opacity linear, transform ease-in-out;
  transition-duration: 120ms;
}
.kifi-res-friends-hover.kifi-showing {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  transition-duration: 60ms;
}
.kifi-res-friends-hover::after {
  content: ' ';
  position: absolute;
  left: 50%;
  margin-left: -4px;
  bottom: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #282828 transparent;
  border-width: 5px 4px 0;
}
.kifi-res-friends-list {
  margin: 0;
}
.kifi-res-friends-name {
  display: block;
  list-style: none;
  padding: 0;
  white-space: nowrap;
}

.kifi-res-end {
  min-height: 9px;
}
.kifi-res-end:empty {
  border-bottom: 1px solid #dedede;
  background: none !important;
}
.kifi-res-more {
  display: table;
}
.kifi-res-more-l,
.kifi-res-more-r {
  display: table-cell;
  width: 49%;
  background-repeat: no-repeat;
  transition: border-top-width 70ms;
}
.kifi-res-more-l {
  background-position: right top, right 9px top;
}
.kifi-res-more-r {
  background-position: left top, 9px top;
}
.kifi-over>.kifi-res-more-l,
.kifi-over>.kifi-res-more-r {
  border-top: 3px solid transparent;
}
.kifi-res-more-c {
  display: table-cell;
  background-position: 0 bottom;
  background-repeat: repeat-x;
  padding-bottom: 4px;
  transition: padding-bottom 70ms;
}
.kifi-over>.kifi-res-more-c {
  padding-bottom: 7px;
}
a.kifi-res-more-a {
  display: inline-block;
  border: 1px solid #e5e7e8;
  border-radius: 6px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAQAAABQ+cdNAAAAW0lEQVQIHTXBsQ7BYAAGwO9/my461IJOJhvpWO9nEYNIJBIWi8VtEpt3QdLexdpZk4HK3jaJmbuTqcoOy4xsvHz0Sv50buYZmDjqk2hcXSzUDh7ajKw8vXVKfr7Ccy8ryIFvtAAAAABJRU5ErkJggg==);
  background-size: 10px 6px;
  background-position: right 11px center;
  background-repeat: no-repeat;
  background-color: #fafafa;
  padding: 1px 28px 0 15px;
  position: relative;
  top: -2px;
  font-size: 12px;
  line-height: 28px;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: none;
  color: #999 !important;
}
a.kifi-res-more-a:hover {
  background-color: #fcfcfc;
  color: #888 !important;
}
a.kifi-res-more-a:active {
  background-color: #f0f0f0;
  color: #888 !important;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  a.kifi-res-more-a {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAQAAADIBVVwAAAA3klEQVQYGXXBQSsDcBwA0N8sy064zJGD2i4O2J2jT8BF+QBy9A3cODlN2mkLt4VSiptSesWZk5PkplHLtr+UtC17L2RVXCrFEAqqanIhr6qjraYYAxTsakoaJuOHOReStrpi/FKwpym5tRS9LLuTdNSVTNnzIXmyKhODZKx5knR8St5sycUwcja9eLdjIvoZVXdjMXrIxh/TTjSMhTH7WrpOLcQA0ypaOo6Mxw+zjnV1nSnHLzMOtCRX5qOXRdeSrnNlMw61JA9W4j9W3EuSL8mzDSMxjBHrHr3alo8+398UpBIo7jwOAAAAAElFTkSuQmCC);
  }
}
