#kifi-res {
  margin-bottom: 18px;
}
.kifi-res-title {
  margin: 0 -6px !important;
  text-align: center;
  color: #929496;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  position: relative;
}
.kifi-res-title:hover {
  background-color: #fdfdfd;
}
.kifi-res-title:active {
  background-color: #fefefe;
}
.kifi-res-title,
.kifi-res-filter-keeps {
  border: 1px solid #e5e7e8;
  border-radius: 20px;
  background: #fafafa;
  padding: 5px !important; /* FF */
  font-size: 12px !important; /* FF */
}
.kifi-res-filter-keeps {
  position: absolute;
  top: 0;
  left: -6px;
  padding-left: 16px !important; /* FF */
  padding-right: 16px !important; /* FF */
  color: #b2b2b2 !important; /* FF */
  text-decoration: none !important; /* FF */
}
.kifi-res-filter-keeps:hover {
  background: #fdfdfd;
  color: #929496;
}
#gsr .kifi-res-filter-keeps:active {
  background: #fefefe;
  color: #929496;
}
.kifi-res-filter-keeps.kifi-expanded:after {
  content: " ";
  position: absolute;
  left: 11px;
  right: 11px;
  bottom: -1px;
  border-bottom: 1px solid #fafafa;
}
.kifi-res-title-arrow {
  display: none;
  position: absolute;
  top: 3px;
  right: 16px;
  font-size: 16px;
  color: #ddd;
  -webkit-transform: rotate(90deg) scale(-1,1.2);
  transform: rotate(90deg) scale(-1,1.2);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}
.kifi-collapsed .kifi-res-title-arrow {
  -webkit-transform: rotate(90deg) scale(1,1.2);
  transform: rotate(90deg) scale(1,1.2);
}
.kifi-res-title:hover .kifi-res-title-arrow {
  display: block;
}
.kifi-res-filters,
.kifi-res-filter-custom {
  position: relative;
  display: none;
  margin: 0 5px;
  border: 1px solid #e5e7e8;
  border-top: none;
  padding: 6px 8px;
  background-color: #fafafa;
  color: #b2b2b2;
}
.kifi-res-filter {
  list-style: none;
  display: inline-block;
  width: 108px;
  margin-right: 5px;
  border: 1px solid #e5e7e8;
  border-radius: 8px;
  padding: 2px 0;
  text-align: center;
  font-size: 12px;
  color: #b2b2b2;
  white-space: nowrap;
  cursor: pointer;
}
.kifi-res-filter.kifi-selected {
  background-color: #4c8ffb;
  border-color: transparent;
  color: #fff;
  cursor: default;
}
.kifi-res-filter:not(.kifi-selected):hover {
  background: #fdfdfd;
  color: #929496;
}
.kifi-res-filters-x,
.kifi-res-filter-custom-x {
  font-size: 17px;
  position: absolute;
  top: 7px;
  right: 8px;
  cursor: pointer;
}
.kifi-res-filter-custom-x {
  top: 10px;
}
.kifi-res-filters-x:hover,
.kifi-res-filter-custom-x:hover {
  color: #929496;
}
.kifi-res-filter-custom {
  display: none;
}

input#kifi-res-filter-cust,
input#token-input-kifi-res-filter-cust {
  width: 120px;
  height: auto;
  margin: 0;
  border: none;
  outline: none;
  -moz-appearance: none;
  padding: 5px !important; /* FF */
  background-color: #fff;
  font: inherit;
  font-size: 11px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input#kifi-res-filter-cust { /* shown temporarily until $.tokenInput called */
  box-sizing: border-box;
  width: 467px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
}
input#token-input-kifi-res-filter-cust {
  padding-top: 2px !important; /* FF */
}
input#kifi-res-filter-cust:-moz-placeholder,
input#token-input-kifi-res-filter-cust:-moz-placeholder {
  color: #a9a9a9;
}
ul.token-input-list-googly {
  overflow: hidden;
  box-sizing: border-box;
  width: 467px;
  margin: 0;
  padding: 3px 0 0 !important; /* FF */
  border: 1px solid #e2e2e2 !important; /* FF */
  border-radius: 3px;
  background-color: #fff;
  cursor: text;
  font-size: 11px;
  list-style: none;
  color: #524d4d;
  -webkit-user-select: none;
  -moz-user-select: none;
}
li.token-input-token-googly {
  float: left;
  margin: 0 0 3px 3px !important; /* FF */
  border-radius: 6px;
  padding: 2px 0 2px 8px !important; /* FF */
  background-color: #4c8ffb;
  color: #fff;
  cursor: default;
  white-space: nowrap;
}
li.token-input-selected-token-googly {
  background-color: #639dfb;
}
li.token-input-token-googly p {
  display: inline;
  padding: 0;
  margin: 0;
}
li.token-input-token-googly .token-input-delete-token-googly {
  color: #fff;
  margin-left: 5px;
  padding: 1px 5px;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font: bold 13px/92% arial;
  vertical-align: text-bottom;
  cursor: pointer;
}
li.token-input-token-googly .token-input-delete-token-googly:hover {
  background-color: #7eaefb;
}
li.token-input-input-token-googly {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}
div.token-input-dropdown-googly {
  position: absolute;
  background-color: #fff;
  overflow: hidden;
  border: 1px solid #ccc;
  cursor: default;
}
div.token-input-dropdown-googly p {
  margin: 0;
  padding: 5px;
  font-weight: bold;
  color: #777;
}
div.token-input-dropdown-googly ul {
  margin: 0;
  padding: 0;
}
div.token-input-dropdown-googly ul li {
  background: #fff;
  padding: 3px;
  margin: 0;
  list-style-type: none;
  text-align: left;
  font: 11px "helvetica neue",Helvetica,Arial,sans-serif;
}
div.token-input-dropdown-googly ul li.token-input-dropdown-item-googly,
div.token-input-dropdown-googly ul li.token-input-dropdown-item2-googly {
  background-color: #fff;
}
div.token-input-dropdown-googly ul li.token-input-selected-dropdown-item-googly {
  background-color: #c9dcfb;
}

#kifi-res-list {
  margin-top: 18px !important; /* FF */
}
#kifi-res-list.kifi-res-none {
  margin: 20px 0 12px;
  text-align: center;
  font-size: 12px;
  color: #666;
}

.kifi_resurl {
  white-space: nowrap;
  overflow-x: hidden;
}

.formatted_site {
  height: 15px;
  width: 15px;
  display: inline-block;
  top: 2px;
  position: relative;
  margin-right: 5px;
}

.kifi-who {
  margin-top: 3px;
  height: 27px;
  background-color: #fafafa;
  border-radius: 20px;
  padding-right: 8px;
  font-size: 0;
}
.kifi-who:before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  height: inherit;
}
.kifi-face {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 27px;
  height: 27px;
  margin-left: 1px;
  border: 2px solid #dbdbdb;
  border-radius: 2px;
  background-color: #fff;
  padding: 1px;
  vertical-align: middle;
}
.kifi-face.kifi-self {
  margin-left: 0;
  border-radius: 20px 2px 2px 20px;
}
.kifi-face.kifi-self.kifi-only {
  border-radius: 20px;
}
.kifi-face.kifi-friend {
  display: inline-block;
  background-size: 21px;
  background-position: 1px 1px;
  background-repeat: no-repeat;
  position: relative;
}
.kifi-face.kifi-friend .kifi-kcard {
  bottom: 36px;
  left: -22px;
  z-index: 999;
}
.kifi-face.kifi-friend .kifi-kcard::before,
.kifi-face.kifi-friend .kifi-kcard::after {
  left: 33px;
}
.kifi-globe {
  margin-left: 6px;
  width: 21px;
  height: 21px;
  vertical-align: middle;
}
.kifi-who-text {
  margin-left: 7px;
  font-size: 12px;
  color: #666;
  vertical-align: middle;
}
.kifi-res-private {
  margin: 0 1px;
  padding: 0 5px;
  border-radius: 4px;
  background-color: #e8e8e8;
  color: #999;
}
a.kifi-res-friends {
  color: inherit !important;
  text-decoration: none !important; /* FF */
  position: relative;
}
.kifi-res-friends-hover {
  position: absolute;
  bottom: 20px;
  padding: 4px 8px;
  background-color: #282828;
  color: #fff;
  font-size: 11px;
  cursor: default;
  z-index: 99;
  opacity: 0;
  -webkit-transition: opacity 80ms ease-in-out, bottom 80ms ease-out;
  transition: opacity 80ms ease-in-out, bottom 80ms ease-out;
}
.kifi-hover-showing .kifi-res-friends-hover {
  bottom: 22px;
  opacity: 1;
}
.kifi-res-friends-▾ {
  position: absolute;
  left: 50%;
  margin-left: -4px;
  bottom: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #282828 transparent;
  border-width: 5px 4px 0;
}
.kifi-res-friends-list {
  margin: 0;
}
.kifi-res-friends-name {
  display: block;
  list-style: none;
  padding: 0;
  white-space: nowrap;
}
.kifi-chatter {
  float: right;
  margin-top: 6px;
  width: 18px;
  height: 16px;
  background-position: right 0;
  position: relative;
  cursor: pointer;
}
.kifi-chatter:hover,
.kifi-chatter.kifi-hover-showing {
  background-position: right -16px;
}
.kifi-chatter-hover {
  position: absolute;
  bottom: 21px;
  left: -40px;
  width: 78px;
  height: 42px;
  padding: 6px 10px;
  background-color: #4c8ffb;
  color: #fff;
  font-size: 11px;
  cursor: default;
  z-index: 99;
  opacity: 0;
  -webkit-transition: opacity 80ms ease-in-out, bottom 80ms ease-out;
  transition: opacity 80ms ease-in-out, bottom 80ms ease-out;
}
.kifi-hover-showing .kifi-chatter-hover {
  bottom: 24px;
  opacity: 1;
}
.kifi-chatter-hover::after {
  content: " ";
  position: absolute;
  left: 45px;
  bottom: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #4c8ffb transparent;
  border-width: 5px 4px 0;
  font-size: 0;
}
.kifi-chatter-title {
  display: block;
  margin-bottom: 2px;
}
.kifi-chatter-hover a {
  color: #fff !important;
  text-decoration: none !important;
}
.kifi-chatter-hover a:hover {
  text-decoration: underline !important;
}

.kifi-res-end {
  border-bottom: 1px solid #dedede;
  min-height: 9px;
}
.kifi-res-end:after {
  content: " ";
  font-size: 0;
  visibility: none;
  display: block;
  clear: both;
}
.kifi-res-more {
  float: right;
  margin: 0 20px -1px 0;
  border: 1px solid #dedede;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 8px 28px 5px 16px;
  background-color: #fff;
  position: relative;
  font-size: 12px;
  cursor: pointer;
  color: #4c8ffb;
}
.kifi-res-more:hover {
  color: #3380fb;
}
.kifi-res-more-arrow {
  position: absolute;
  top: 8px;
  right: 13px;
  -webkit-transform: rotate(90deg) scale(1,1.2);
  transform: rotate(90deg) scale(1,1.2);
}

.kifi-debug .kifi-res-debug {
  display: inline-block;
}
.kifi-res-debug {
  display: none;
  width: 0;
  position: relative;
  left: 6px;
  font-size: 8px;
  opacity: .3;
  text-decoration: none;
}
.kifi-res-debug:hover {
  opacity: .5;
}
