.kifi-root.kifi-root.kifi-root,
.kifi-root.kifi-root.kifi-root::before,
.kifi-root.kifi-root.kifi-root::after,
.kifi-root.kifi-root.kifi-root *,
.kifi-root.kifi-root.kifi-root *::before,
.kifi-root.kifi-root.kifi-root *::after {
  -moz-appearance: initial;
  -moz-background-inline-policy: initial;
  -moz-binding: initial;
  -moz-border-bottom-colors: initial;
  -moz-border-left-colors: initial;
  -moz-border-right-colors: initial;
  -moz-border-top-colors: initial;
  -moz-box-sizing: initial;
  -moz-columns: initial;
  -moz-float-edge: initial;
  -moz-font-feature-settings: initial;
  -moz-font-language-override: initial;
  -moz-force-broken-image-icon: initial;
  -moz-hyphens: initial;
  -moz-image-region: initial;
  -moz-orient: initial;
  -moz-outline-radius: initial;
  -moz-stack-sizing: initial;
  -moz-tab-size: initial;
  -moz-text-align-last: initial;
  -moz-text-size-adjust: initial;
  -moz-user-focus: initial;
  -moz-user-input: initial;
  -moz-user-modify: initial;
  -moz-user-select: initial;
  -moz-window-shadow: initial;
  -webkit-animation: initial;
  -webkit-app-region: initial;
  -webkit-appearance: initial;
  -webkit-backface-visibility: initial;
  -webkit-background-clip: initial;
  -webkit-background-composite: initial;
  -webkit-background-origin: initial;
  -webkit-background-size: initial;
  -webkit-border-fit: initial;
  -webkit-border-horizontal-spacing: initial;
  -webkit-border-image: initial;
  -webkit-border-vertical-spacing: initial;
  -webkit-box-decoration-break: initial;
  -webkit-box-reflect: initial;
  -webkit-box-shadow: initial;
  -webkit-clip-path: initial;
  -webkit-columns: initial;
  -webkit-filter: initial;
  -webkit-font-kerning: initial;
  -webkit-font-smoothing: initial;
  -webkit-font-variant-ligatures: initial;
  -webkit-highlight: initial;
  -webkit-hyphenate-character: initial;
  -webkit-line-align: initial;
  -webkit-line-box-contain: initial;
  -webkit-line-break: initial;
  -webkit-line-clamp: initial;
  -webkit-line-grid: initial;
  -webkit-line-snap: initial;
  -webkit-locale: initial;
  -webkit-margin-collapse: initial;
  -webkit-marquee: initial;
  -webkit-mask: initial;
  -webkit-mask-box-image: initial;
  -webkit-perspective: initial;
  -webkit-perspective-origin: initial;
  -webkit-print-color-adjust: initial;
  -webkit-rtl-ordering: initial;
  -webkit-tap-highlight-color: initial;
  -webkit-text-combine: initial;
  -webkit-text-emphasis: initial;
  -webkit-text-fill-color: initial;
  -webkit-text-orientation: initial;
  -webkit-text-security: initial;
  -webkit-text-stroke: initial;
  -webkit-transform-origin: initial;
  -webkit-transform-style: initial;
  -webkit-transform: initial;
  -webkit-transition: initial;
  -webkit-user-drag: initial;
  -webkit-user-modify: initial;
  -webkit-user-select: initial;
  -webkit-writing-mode: initial;
  align-content: initial;
  align-items: initial;
  align-self: initial;
  alignment-baseline: initial;
  animation: initial;
  backface-visibility: initial;
  background: initial;
  baseline-shift: initial;
  border: initial;
  border-collapse: initial;
  border-image: initial;
  border-radius: initial;
  border-spacing: initial;
  bottom: initial;
  box-shadow: initial;
  box-sizing: initial;
  buffered-rendering: initial;
  caption-side: initial;
  clear: initial;
  clip: initial;
  clip-path: initial;
  clip-rule: initial;
  color: initial;
  color-interpolation: initial;
  color-interpolation-filters: initial;
  color-rendering: initial;
  content: initial;
  counter-increment: initial;
  counter-reset: initial;
  cursor: initial;
  direction: initial;
  dominant-baseline: initial;
  empty-cells: initial;
  fill: initial;
  fill-opacity: initial;
  fill-rule: initial;
  filter: initial;
  flex: initial;
  float: initial;
  flood-color: initial;
  flood-opacity: initial;
  font: initial;
  font-size-adjust: initial;
  font-stretch: initial;
  glyph-orientation-horizontal: initial;
  glyph-orientation-vertical: initial;
  height: initial;
  image-rendering: initial;
  ime-mode: initial;
  justify-content: initial;
  kerning: initial;
  left: initial;
  letter-spacing: initial;
  lighting-color: initial;
  list-style: initial;
  margin: initial;
  marker-end: initial;
  marker-mid: initial;
  marker-offset: initial;
  marker-start: initial;
  mask: initial;
  mask-type: initial;
  max-height: initial;
  max-width: initial;
  min-height: initial;
  min-width: initial;
  opacity: initial;
  order: initial;
  orphans: initial;
  outline: initial !important;
  outline-offset: initial;
  overflow: initial;
  overflow-wrap: initial;
  padding: initial;
  page-break-after: initial;
  page-break-before: initial;
  page-break-inside: initial;
  perspective: initial;
  perspective-origin: initial;
  pointer-events: initial;
  position: initial;
  quotes: initial;
  resize: initial;
  right: initial;
  shape-rendering: initial;
  speak: initial;
  stop-color: initial;
  stop-opacity: initial;
  stroke: initial;
  stroke-dasharray: initial;
  stroke-dashoffset: initial;
  stroke-linecap: initial;
  stroke-linejoin: initial;
  stroke-miterlimit: initial;
  stroke-opacity: initial;
  stroke-width: initial;
  tab-size: initial;
  table-layout: initial;
  text-align: initial;
  text-anchor: initial;
  text-decoration: initial !important;
  text-indent: initial;
  text-orientation: initial;
  text-overflow: initial;
  text-rendering: initial;
  text-shadow: initial;
  text-transform: initial;
  top: initial;
  transform: initial;
  transform-origin: initial;
  transform-style: initial;
  transition: initial;
  unicode-bidi: initial;
  user-select: initial;
  vector-effect: initial;
  vertical-align: initial;
  visibility: initial;
  white-space: initial;
  widows: initial;
  width: initial;
  word-break: initial;
  word-spacing: initial;
  word-wrap: initial;
  writing-mode: initial;
  z-index: initial;
  zoom: initial;
}
.kifi-root.kifi-root.kifi-root::before,
.kifi-root.kifi-root.kifi-root::after,
.kifi-root.kifi-root.kifi-root *,
.kifi-root.kifi-root.kifi-root *::before,
.kifi-root.kifi-root.kifi-root *::after {
  -moz-hyphens: inherit;
  -moz-image-region: inherit;
  -moz-tab-size: inherit;
  -moz-text-align-last: inherit;
  -moz-text-size-adjust: inherit;
  -moz-user-input: inherit;
  -moz-user-modify: inherit;
  -webkit-font-smoothing: inherit;
  -webkit-text-combine: inherit;
  -webkit-text-orientation: inherit;
  -webkit-user-modify: inherit;
  -webkit-writing-mode: inherit;
  border-collapse: inherit;
  border-spacing: inherit;
  caption-side: inherit;
  color: inherit;
  cursor: inherit;
  direction: inherit;
  empty-cells: inherit;
  font: inherit;
  font-family: inherit !important;
  font-size-adjust: inherit;
  font-stretch: inherit;
  letter-spacing: inherit;
  list-style: inherit;
  orphans: inherit;
  quotes: inherit;
  tab-size: inherit;
  text-align: inherit;
  text-indent: inherit;
  text-orientation: inherit;
  text-rendering: inherit;
  text-shadow: inherit;
  text-transform: inherit;
  visibility: inherit;
  white-space: inherit;
  widows: inherit;
  word-break: inherit;
  word-spacing: inherit;
  word-wrap: inherit;
  writing-mode: inherit;
}
.kifi-root.kifi-root.kifi-root {
  font-family: Arial,sans-serif !important;
  display: block;
}
.kifi-root.kifi-root p,
.kifi-root.kifi-root ol,
.kifi-root.kifi-root ul,
.kifi-root.kifi-root li,
.kifi-root.kifi-root div {
  display: block;
}
.kifi-root.kifi-root a,
.kifi-root.kifi-root b,
.kifi-root.kifi-root span,
.kifi-root.kifi-root time {
  display: inline;
}
.kifi-root.kifi-root img,
.kifi-root.kifi-root button {
  display: inline-block;
}
.kifi-root.kifi-root.kifi-root b {
  font-weight: bold;
}
.kifi-root.kifi-root :link,
.kifi-root.kifi-root :visited,
.kifi-root.kifi-root :link:hover,
.kifi-root.kifi-root :visited:hover {
  color: -webkit-link;
  color: -moz-hyperlinktext;
  cursor: pointer;
}
.kifi-root.kifi-root ::-moz-placeholder {
  font: inherit !important;
  color: #a9a9a9;
}
.kifi-root.kifi-root ::-webkit-input-placeholder {
  font: inherit !important;
  color: #a9a9a9;
}
.kifi-root.kifi-root ::selection {
  background: rgba(128,184,255,.59);
  color: initial;
  text-shadow: initial;
}
.kifi-root.kifi-root ::-moz-selection {
  background: rgba(128,184,255,.59);
  color: initial;
  text-shadow: initial;
}
@media print {
  .kifi-root.kifi-root.kifi-root {
    display: none !important;
  }
}
.kifi-root input:not([type]),
.kifi-root input[type=text] {
  background: #fff !important;
  color: #2d2d2d !important;
  box-shadow: none !important;
}
