@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(//themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//themes.googleusercontent.com/static/fonts/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
/*
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(//themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(//themes.googleusercontent.com/static/fonts/lato/v6/2HG_tEPiQ4Z6795cGfdivLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(//themes.googleusercontent.com/static/fonts/lato/v6/RYyZNoeFgb0l7W3Vu1aSWOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(//themes.googleusercontent.com/static/fonts/lato/v6/HkF_qI1x_noxlxhrhMQYELO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
*/

.kifi-slider2 {
  position: fixed;
  z-index: 2147483640;
  bottom: 0;
  right: 0;
  height: 62px;
  width: 120px;
  font-size: 12px;
  opacity: 1;
}
.kifi-slider2.kifi-visible {
  width: 320px;
  -webkit-transition: width 100ms ease-out;
  transition: width 100ms ease-out;
}
.kifi-slider2.kifi-growing {
  overflow: hidden;
}
.kifi-slider2.kifi-hidden {
  overflow: hidden;
  width: 0;
  opacity: 0;
  -webkit-transition: width 100ms ease-in, opacity 60ms ease-in 40ms;
  transition: width 100ms ease-in, opacity 60ms ease-in 40ms;
}
.kifi-slider2-keep {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 120px;
  height: 42px;
  border-radius: 5px;
}
.kifi-slider2-keep-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 42px;
  line-height: 42px;
  border-radius: inherit;
  background: #34495e;
  color: #fff;
  font-family: Lato,sans-serif;
  text-align: center;
  cursor: pointer;
}
.kifi-unkept .kifi-slider2-keep-btn::before {
  content: "keep";
}
.kifi-public .kifi-slider2-keep-btn::before,
.kifi-private .kifi-slider2-keep-btn::before,
.kifi-public .kifi-slider2-keep-btn.kifi-hoverless:hover::before,
.kifi-private .kifi-slider2-keep-btn.kifi-hoverless:hover::before {
  content: "kept";
}
.kifi-private .kifi-slider2-keep-btn::after,
.kifi-private .kifi-slider2-keep-btn.kifi-hoverless:hover::after {
  content: "(private)";
  font-size: 9px;
  margin-left: 3px;
}
.kifi-public .kifi-slider2-keep-btn:hover::before,
.kifi-private .kifi-slider2-keep-btn:hover::before {
  content: "unkeep";
}
.kifi-private .kifi-slider2-keep-btn:hover::after {
  content: "";
}
.kifi-slider2-keep-btn:hover {
  background: #36526f;
}
.kifi-slider2-keep-btn:active {
  background: #304357;
}
.kifi-slider2-lock {
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 26px;
  border-top-left-radius: inherit;
  border-bottom-right-radius: 21px;
  background-color: #465f78;
  background-repeat: no-repeat;
  background-position: 0 999px;
  cursor: pointer;
}
.kifi-slider2-lock:hover {
  background-color: #4c6c8c;
}
.kifi-private .kifi-slider2-lock {
  background-color: #a00;
}
.kifi-private .kifi-slider2-lock:hover {
  background-color: #b00;
}
.kifi-slider2-lock::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 7px;
  height: 9px;
  background-image: inherit;
  background-size: auto 17px;
  background-repeat: no-repeat;
  background-position: -91px 0;
  font-size: 0;
}
.kifi-slider2-lock:hover::before {
  background-position: -98px 0;
}

.kifi-slider2-dock {
  position: absolute;
  bottom: 10px;
  right: 133px;
  width: 177px;
  height: 42px;
  background: #67829c;
  border-radius: 5px;
  font: 0/0 serif;
  text-align: right; /* keeps contents still during transition */
}
.kifi-slider2-dock-btn {
  display: inline-block;
  height: 42px;
  background-color: #67829c;
  background-position: 0 999px;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  position: relative;
}
.kifi-slider2-dock-btn:first-child {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.kifi-slider2-dock-btn:last-child {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.kifi-slider2-dock-btn:hover {
  background-color: #7492af;
}
.kifi-slider2-dock-btn:active {
  background-color: #627b94;
}
.kifi-slider2-dock-btn::before {
  content: " ";
  position: absolute;
  top: 15px;
  background-image: inherit;
  background-size: auto 17px;
  background-repeat: no-repeat;
  height: 17px;
}
.kifi-slider2-dock-btn.kifi-slider2-noti {
  width: 48px;
}
.kifi-slider2-dock-btn.kifi-slider2-noti::before {
  background-position: 0 0;
  width: 14px;
  left: 18px;
  top: 14px;
}
.kifi-slider2-dock-btn.kifi-slider2-comm {
  width: 48px;
}
.kifi-slider2-dock-btn.kifi-slider2-comm::before {
  background-position: -14px 0;
  width: 17px;
  left: 15px;
}
.kifi-slider2-dock-btn.kifi-slider2-mess {
  width: 48px;
}
.kifi-slider2-dock-btn.kifi-slider2-mess::before {
  background-position: -31px 0;
  width: 22px;
  left: 13px;
}
.kifi-slider2-dock-btn.kifi-slider2-pane {
  width: 30px;
}
.kifi-slider2-dock-btn.kifi-slider2-pane::before {
  background-position: -53px 0;
  width: 19px;
  left: 6px;
}
.kifi-slider2-dock-btn.kifi-slider2-pane.kifi-slider2-pane-hide::before {
  background-position: -72px 0;
}
.kifi-slider2-dock-count {
  display: inline-block;
  position: relative;
  top: -12px;
  box-sizing: content-box;
  min-width: 16px;
  border-radius: 12px;
  padding: 0 3px;
  background: #e74c3c;
  color: #fff;
  font: 10px/21px sans-serif;
}
.kifi-slider2.kifi-growing .kifi-slider2-dock-count,
.kifi-slider2.kifi-hidden .kifi-slider2-dock-count {
  display: none;
}
.kifi-slider2-dock-sep {
  display: inline-block;
  width: 1px;
  height: 34px;
  margin-top: 4px;
  background: #506982;
}
.kifi-slider2-tip {
  position: absolute;
  bottom: 100%;
  width: auto;
  height: auto;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 16px 24px 18px;
  background-color: #2c3e50;
  color: #fff;
  font: 12px/16px Lato,sans-serif;
  text-align: center;
  white-space: nowrap;
  cursor: default;
  display: none;
}
.kifi-hover-showing .kifi-slider2-tip {
  display: block;
}
.kifi-slider2-tip::before {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  font: 0/0 serif;
  border-style: solid;
  border-width: 8px 8px 0;
  border-color: #2c3e50 transparent;
}

.kifi-pane {
  position: fixed;
  top: 0;
  right: -320px;
  bottom: 0;
  left: auto;
  width: 320px;
  height: 100%;
  background: #1f272f;
  z-index: 2147483639;
  -webkit-transition: right .25s ease-in;
  transition: right .25s ease-in;
}
html.kifi-pane-parent.kifi-with-pane .kifi-pane {
  right: 0;
}
html.kifi-pane-parent {
  position: relative;
  width: auto;
  min-width: 0;
  margin-right: 0;
  -webkit-transition: margin-right .25s ease-in;
  transition: margin-right .25s ease-in;
}
html.kifi-pane-parent.kifi-with-pane {
  margin-right: 320px;
}
.kifi-pane-head {
  height: 52px;
  background: #141c24;
  font: 300 14px/52px Lato,sans-serif;
  color: #f8f8f8;
}
.kifi-pane-head-logo {
  padding-left: 18px;
  cursor: default;
}
a.kifi-pane-head-settings {
  float: right;
  padding: 0 18px;
  color: inherit !important;
  text-decoration: none !important;
}
a.kifi-pane-head-settings:hover {
  color: #fff;
  background: #283949;
}
.kifi-pane input[type=text].kifi-pane-search {
  margin: 16px 18px;
  width: 284px;
  height: auto;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  background: #fff;
  padding: 12px 14px;
  font: 300 16px/20px Lato,sans-serif;
  color: #333;
}
.kifi-pane-page-title {
  margin: 22px 18px 6px;
  color: #f8f8f8;
  font: 300 15px Lato,sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.kifi-pane-page-url {
  margin: 0 18px;
  color: #f8f8f8;
  font: 300 13px Lato,sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.kifi-pane-actions {
  position: absolute;
  bottom: 100px;
  left: 10px;
  width: 300px;
  height: auto;
  font: 300 14px Lato,sans-serif;
  color: #f8f8f8;
}
a.kifi-pane-action {
  display: block;
  padding: 10px 8px;
  color: inherit !important;
  text-decoration: none !important;
}
a.kifi-pane-action:hover {
  color: #fff !important;
  background: #283949;
}
