#kifi-notify-notice-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 315px;
  z-index: 999999999990;
  text-transform: none;
}

html[kifi-with-pane] #kifi-notify-notice-wrapper {
  right: 342px;
}

.kifi-notify-item-wrapper {
  position: relative;
  margin: 0 0 10px;
}

.kifi-notify-item {
  display: block;
  background-color: #1f272f;
  opacity: .9;
  color: #eee;
  padding: 15px;
  font-size: 11px;
  border-radius: 10px !important;
  border: 1px solid #ddd;
  cursor: pointer;
}
.kifi-notify-item:hover {
  opacity: 1;
}
.kifi-notify-item::after {
  content: '';
  display: block;
  clear: both;
}

.kifi-notify-close {
  position: absolute;
  top: 6px;
  right: 6px;
  color: #ddd;
  cursor: pointer;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
}
.kifi-notify-close:hover {
  color: #333;
  background-color: #ddd;
  border-radius: 10px !important;
}

.kifi-notify-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 2px;
  padding: 0 0 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.kifi-notify-subtitle {
  font-size: 13px;
}

.kifi-notify-link {
  margin: 0 0 4px;
  display: block;
  font-size: 13px;
  font-style: italic;
  color: #76c5ff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.kifi-notify-text {
  margin-top: 8px;
  display: block;
  font-size: 13px;
  color: #fff;
  padding-right: 8px;
  overflow: hidden;
  word-wrap: break-word;
}
.kifi-notify-message .kifi-notify-text {
  font-style: italic;
}
.kifi-notify-message .kifi-notify-text::before {
  content: '“';
}
.kifi-notify-message .kifi-notify-text::after {
  content: '”';
}

.kifi-notify-image,
.kifi-notify-email-icon {
  float: left;
  width: 42px;
  height: 42px;
  margin: 0;
  border: none;
  border-radius: 2px !important;
  padding: 0;
}

.kifi-notify-email-icon {
  text-align: center;
  line-height: 42px;
  font-size: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.kifi-on-page {
  font-size: 13px;
  margin-top: 8px;
}

.kifi-notify-footer {
  float: right;
  margin: -7px 0 -5px;
  position: relative;
  font-size: 11px;
  color: #999;
}

.kifi-notify-with-image {
  float: right;
  width: 230px;
}
