@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(//themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(//themes.googleusercontent.com/static/fonts/lato/v6/oUan5VrEkpzIazlUe5ieaA.woff) format('woff');
}

#kifi-notify-notice-wrapper {
	position:fixed;
	top:20px;
	right:20px;
	width:315px;
	z-index:9999;
}

#kifi-notify-notice-wrapper .kifi-notify-item-wrapper {
	position:relative;
	margin:0 0 10px;
}

#kifi-notify-notice-wrapper .kifi-notify-item {
	display:block;
  background-color:#1f272f;
  opacity: .9;
	color:#eee;
  padding:15px;
	font-size: 11px;
	font-family:verdana;
  border-radius: 10px;
}
#kifi-notify-notice-wrapper .kifi-notify-item p {
	padding:0;
	margin:0;
	word-wrap:break-word;
}
#kifi-notify-notice-wrapper .kifi-notify-close {
	position:absolute;
	top:5px;
	right:3px;
  color:#ddd;
	cursor:pointer;
	width:15px;
	height:15px;
}
#kifi-notify-notice-wrapper .kifi-notify-title {
  font: 300 16px/16px Lato,sans-serif;
  margin-top: -3px;
	display:block;
}
#kifi-notify-notice-wrapper .kifi-notify-link {
  font: 400 13px Lato, sans-serif;
  font-style: italic;
  display:block;
  color:#76c5ff;
  margin:4px 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#kifi-notify-notice-wrapper .kifi-notify-text {
  font: 300 13px Lato, sans-serif;
  font-style: italic;
  display:block;
  color:#fff;
  margin-top: 6px;
  padding-right: 8px;
}
#kifi-notify-notice-wrapper .kifi-notify-image {
	width:42px;
	height:42px;
  border-radius: 2px;
	float:left;
}
#kifi-notify-notice-wrapper .kifi-notify-with-image,
#kifi-notify-notice-wrapper .kifi-notify-without-image {
	padding:0;
}
#kifi-notify-notice-wrapper .kifi-notify-with-image {
	width:230px;
	float:right;
}
