/* a weak blank-slate (insulation) attempt */
.kifi-slider * {
  float: none;
  width: auto;
  line-height: 1;
  letter-spacing: normal;
  word-spacing: normal;
  position: static;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  min-width: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  text-align: left;
  direction: ltr;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
  -webkit-transition: none;
  transition: none;
}
.kifi-slider div {
  display: block;
}
.kifi-slider a,
.kifi-slider b,
.kifi-slider span {
  display: inline;
}
.kifi-slider img {
  display: inline-block;
}
.kifi-slider a:link,
.kifi-slider a:visited,
.kifi-slider a:link:hover,
.kifi-slider a:visited:hover {
  color: -webkit-link;
  color: -moz-hyperlinktext;
  text-decoration: underline;
  cursor: pointer;
}
.kifi-slider input:not([type]),
.kifi-slider input[type=text] {
  background: #fff !important;
  color: #2D2D2D !important;
  box-shadow: none;
  outline: none;
}

/* slider widget */
.kifi-slider {
  position: fixed;
  bottom: 35px;
  right: -350px;
  z-index: 2147483640;
  opacity: 0;
  width: auto;
  border: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  background: transparent;
  min-width: 0;
  font-size: 14px;
}
.kifi-slider-border {
  background-color: #faf9f9;
  border: 2px solid #414b52;
  border-right: 0;
  border-radius: 12px 0 0 12px;
  -webkit-box-shadow: 2px 2px 2px rgba(50,50,50,.5);
  -moz-box-shadow: 2px 2px 2px rgba(50,50,50,.5);
  box-shadow: 2px 2px 2px rgba(50,50,50,.5);
  width: 330px;
  position: relative;
  display: table;
}
.kifi-table-row-group {
  display: table-row-group;
}
.kifi-table-row {
  display: table-row;
  padding: 0;
  margin: 0;
}

/* header */
.kifi-slider-title-bar {
  margin: 0;
  padding: 9px 16px 9px 40px;
  cursor: move;
  font: lighter 14px/14px "helvetica neue", Helvetica, Arial, sans-serif;
  background-color: #414b52;
  color: #faf9f9;
}
.kifi-slider-title-pic-border {
  position:absolute;
  top:-15px;
  left:-20px;
  width: 45px;
  height: 45px;
  border: 5px solid #414b52;
  border-radius: 50px;
  background-color: #fff;
}
.kifi-slider-title-pic {
  border: 2px solid white;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color:#ff0000;
  position:relative;
  top:-2px;
  left:-2px;
}

.kifi-slider-title-actions {
  float: right;
  margin: 6px 16px 0 0;
  position: relative;
}
.kifi-slider-title-actions .kifi-slider-x,
.kifi-slider-title-actions .kifi-slider-▾ {
  display: inline-block;
  width: 15px;
  height: 18px;
  vertical-align: top;
  color: #faf9f9;
  cursor: pointer;
}
.kifi-slider-title-actions:hover .kifi-slider-x,
.kifi-slider-title-actions:hover .kifi-slider-▾,
.kifi-slider-title-actions.kifi-active .kifi-slider-x,
.kifi-slider-title-actions.kifi-active .kifi-slider-▾ {
  border-color: #414b52;
  background-color: #6b7d8a;
}
.kifi-slider-title-actions .kifi-slider-x:hover,
.kifi-slider-title-actions .kifi-slider-▾:hover {
  background-color: #faf9f9;
  color: #414b52;
}
.kifi-slider-title-actions .kifi-slider-x:active,
.kifi-slider-title-actions .kifi-slider-▾:active {
  background-color: #e0e0e0;
  color: #414b52;
}
.kifi-slider-title-actions .kifi-slider-▾:hover::before,
.kifi-slider-title-actions .kifi-slider-▾:active::before {
  border-color: #414b52 transparent;
}
.kifi-slider-x {
  padding-right: 5px;
  border-radius: 7px 0 0 7px;
  text-align: right;
}
.kifi-slider-x::before {
  content: "\00D7";
  font: 14px/14px serif;
  vertical-align: text-bottom;
  position: relative;
  top: 1px;
}
.kifi-slider-▾ {
  border-left: 1px solid #6b7d8a;
  padding-left: 5px;
  border-radius: 0 7px 7px 0;
  text-align: left;
  position: relative;
}
.kifi-slider-▾::before {
  content: " ";
  position: absolute;
  top: 7px;
  left: 5px;
  border-color: #faf9f9 transparent;
  border-style: solid;
  border-width: 4px 4px 0 4px;
}
div.kifi-slider-▾-box {
  position: absolute;
  width: auto;
  right: 0;
  top: 18px;
  border-top: 1px solid #414b52;
  white-space: nowrap;
  background: white;
  padding: 3px 0;
  font: 12px 'helvetica neue',Helvetica,Arial,sans-serif;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.3);
  display: none;
  user-select: none;
}
.kifi-slider-never {
  padding: 6px 10px 6px 6px;
  border: 1px solid transparent;
}
.kifi-slider-never:hover,
.kifi-slider-never.kifi-hover {
  background: -moz-linear-gradient(top, #6389f8, #1f60f6);
  background: -webkit-linear-gradient(#6389f8, #1f60f6);
  background: linear-gradient(#6389f8, #1f60f6);
  border-top-color: #5980ef;
  border-bottom-color: #0a54ec;
  color: #fff;
  cursor: pointer;
}
.kifi-slider-never::before {
  content: "\2713";
  margin-right: 3px;
  visibility: hidden;
}
.kifi-slider-never.kifi-checked::before {
  visibility: visible;
}

/* footer */
.kifi-slider-footer {
  border-top: 1px solid #E2E2E2;
  padding: 10px 0 0 20px;
  height: 20px;
  font-family: "helvetica neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #8c8484;
}
.kifi-footer-close,
.kifi-footer-keep,
.kifi-footer-unkeep {
  cursor: pointer;
}
.kifi-footer-logo {
  margin-right: 20px;
  padding: 10px 25px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 25px;
  float: right;
}

/* content */
.kifi-slider .kifi-content {
  padding: 5px 5px 5px 10px;
  font-family: "helvetica neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding-right:20px;
}

/* tab bar */
ul.kifi-tab-bar {
  margin: 0 !important;
  padding: 0 20px 0 0 !important;
  text-align: right;
  background: #E0E0E0;
}
.kifi-tab-bar li {
  list-style: none;
  display: inline-block;
  margin: 0 !important;
  padding: 10px !important;
  font: 11px "helvetica neue", Helvetica, Arial, sans-serif;
  color: #8c8484;
  text-decoration: none;
  cursor: pointer;
  background-color: #E0E0E0;
}
.kifi-tab-bar li:hover {
  background-color: #ECECEC;
}
.kifi-tab-bar li:active,
.kifi-public li.kifi-tab-comments,
.kifi-message li.kifi-tab-messages {
  background-color: #FAFAFA;
}
.kifi-tab-bar .kifi-tab-count {
  background-color: #666;
  border-radius: 5px;
  color: #FAFAFA;
  padding: 2px 6px;
  margin-right: 3px;
}
.kifi-tab-bar .kifi-tab-count-comments {
  background-color: #6BB4DC;
}
.kifi-tab-bar .kifi-tab-count-messages {
  background-color: #EF8299;
}

.kifi-main-message {
  padding: 7px 10px;
  margin: 10px;
  font-size: 14px;
  color: #414b52;
  text-align: center;
}
.kifi-slider .kifi-keepers {
  padding: 5px 5px 5px 0;
  white-space: nowrap;
  width: 250px;
  cursor: default;
}
.kifi-slider .kifi-keeper {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-size: 100%;
  border-radius: 2px;
  position: relative;
}
.kifi-slider .kifi-keeper .kifi-kcard {
  bottom: 48px;
  left: -132px;
}

/* buttons */
.kifi-slider .kifi-buttons {
  text-align: center;
  padding: 10px;
}
.kifi-slider .kifi-button {
  outline: none;
  cursor: pointer;
  vertical-align: baseline;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  border: solid 1px #B8B8B8;
  color: #4F4F4F;
  border-color: #E0E0E0 #D7D7D7 #CCC;
  background: -moz-linear-gradient(top, white, #E9E9E9);
  background: -webkit-linear-gradient(white, #E9E9E9);
  background: linear-gradient(white, #E9E9E9);
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,.08), inset 0 1px 0 rgba(255,255,255,.3);
  background-clip: padding-box;
  padding: 5px;
}
.kifi-slider .kifi-button:hover,
.kifi-slider .kifi-button:active {
  box-shadow: 0 1px 2px rgba(0,0,0,.15), inset 0 1px 0 rgba(255,255,255,.2);
  border-color: #d5d5d5 #cccccc #c2c2c2;
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #ffffff,  #ededed);
  background: -webkit-linear-gradient(#ffffff, #ededed);
  background: linear-gradient(#ffffff, #ededed);
}
.kifi-slider .kifi-button:active {
  background: #f7f7f7;
}
.kifi-slider .kifi-button-keep {
  padding: 5px 30px;
  border-radius: 2px 0 0 2px;
  border-right: 0;
}
.kifi-slider .kifi-button-dropdown {
  border-radius: 0 2px 2px 0;
  padding: 5px 10px;
}

.kifi-slider .kifi-keep-options {
  padding: 7px 10px;
  background-color:white;
  margin: 0 10px 10px;
  border-radius: 0 0 3px 3px;
  box-shadow: #ddd 0 1px;
  font-size: 14px;
  color: #414b52;
  display: none;
}
input.kifi-keep-private {
  display: inline;
  border: 1px solid #D9D9D9;
  margin: 9px 1px 0 0;
  border-radius: 2px;
}

.kifi-slider .kifi-comment-wrapper {
  position: relative;
  margin-right: 10px;
  background-color: #faf9f9;
  font: 12px/12px "helvetica neue", Helvetica, Arial, sans-serif;
  color: #2d2d2d;
  display: none;
}

@media print {
  .kifi-slider {
    display: none !important;
  }
}
