<div class="kf-add-keep-body">
  <div class="kf-add-keep-hint">Did you know: You can easily keep any page using the kifi keeper</div>
  <input kf-autofocus class="kf-add-keep-input" placeholder="http://..." ng-model="addKeepInput.url"></input>
  <div class="kf-add-keep-private-container" tabindex="0"><span class="kf-add-keep-private-checkbox sprite" ng-class="{ 'sprite-checkbox-icon': !addKeepCheckedPrivate, 'sprite-checkbox-icon-active': addKeepCheckedPrivate }" ng-click="addKeepTogglePrivate()"></span><span class="kf-add-keep-private-label">Private</span></div>
</div>
