<li class="kf-keep" ng-click="clickAction({keep: keep, event: $event})"
  ng-hide="keep.unkept"
  ui-draggable="true" drag-channel="keepDragChannel" ui-on-drop="onTagDrop($data)" drop-channel="tagDragChannel" drag-enter-class="kf-candidate-drag-target"
  ng-class="{ 'kf-dragged': isDragging, 'kf-drag-target': isDragTarget , 'editing': editMode.enabled }">
  <div class="kf-keep-edit-tools">
    <div class="kf-keep-checkbox-icon sprite sprite-checkbox-icon" ng-if="!isSelected()" ng-click="toggleSelect({keep: keep})"></div>
    <div class="kf-keep-checkbox-icon sprite sprite-checkbox-icon-active" ng-if="isSelected()" ng-click="toggleSelect({keep: keep})"></div>
    <div class="kf-keep-handle sprite sprite-grabbericon">
      <div class="kf-keep-checkbox" ng-click="onCheck($event)"></div>
    </div>
  </div>
  <div class="kf-keep-body">
    <div class="kf-keep-contents">
      <div class="kf-keep-content-line">
        <div class="kf-keep-small-image" ng-if="hasSmallImage()">
          <img class="kf-keep-image" ng-src="{{keep.summary.imageUrl}}">
        </div>
        <div class="kf-keep-info">
          <div class="kf-keep-title">
            <a class="kf-keep-title-link" ng-href="{{keep.url}}" target="_blank" ng-attr-title="{{getTitle()}}" ng-bind-html="keep.titleHtml">
            </a>
          </div>
          <div class="kf-keep-subtitle">
            <div class="kf-keep-url" ng-attr-title="{{keep.url}}" ng-bind-html="keep.descHtml"></div>
            <time class="kf-keep-time" ng-attr-datetime="{{keep.createdAt}}" ng-show="keep.createdAt" am-time-ago="keep.createdAt"></time>
          </div>
          <div class="kf-keep-description">
            {{keep.summary.description}}
          </div>
        </div>
      </div>
      <img class="kf-keep-big-image" ng-if="hasBigImage()" ng-src="{{keep.summary.imageUrl}}"></img>
    </div>
    <div class="kf-keep-who" ng-if="showSocial()">
      <span kf-keep-who-pics me="me" keepers="keep.keepers" keep="keep"></span>
      <span class="kf-keep-who-others" ng-if="showOthers()"></span>
      <span kf-keep-who-text keep="keep"></span>
    </div>
    <div kf-tag-list class="kf-keep-tag-list" get-selected-keeps="getSingleSelectedKeep()" adding-tag="addingTag" ng-show="showTags()"></div>
  </div>
  <div class="kf-keep-footer">
    <span class="kf-keep-footer-link"><a>Send</a></span>
    <span class="kf-keep-footer-link" ng-if="!hasTag()" ng-click="showAddTag()"><a>Tag</a></span>
    <span class="kf-keep-footer-link" ng-click="togglePrivate()" ng-if="!isPrivate()"><a>Make Private</a></span>
    <span class="kf-keep-footer-link" ng-click="togglePrivate()" ng-if="isPrivate()"><a>Make Public</a></span>
    <span class="kf-keep-footer-link" ng-click="unkeep()"><a>Unkeep</a></span>
    <div class="kf-keep-private" ng-if="isPrivate()"><span class="kf-keep-private-label">Private</span><span class="sprite sprite-lock-private-icon"></span></div>
  </div>
  <div class="kf-drag-mask"></div>
</li>
