section-border = defaultBorder
section-border-radius = 10px

.kf-right-hand-widget-container
  border-radius: section-border-radius
  border: section-border
  background-color: #fff
  padding: 10px 16px
  font-size: 13px
  color: #333
