.kf-smk-head
  position: relative
  padding-top: 10px
  max-width: 496px  // ideal keep card width
  margin: 0 auto

.kf-smk-filters
  padding-bottom: 10px

.kf-smk-filter
  color: #ccc
  text-decoration: none
  font-smoothing: antialiased
  color: textDarkColor
  font-size: 14px

  @media (min-width: 480px)
    font-size: 17px

  &.enabled
    color: linkColor

    &:hover
      text-decoration: underline

  &.selected
    color: #333

  &:not(:first-child)
    border-left: defaultBorder
    padding-left: 10px
    margin-left: 10px

.kf-smk-top
  padding: 10px 0
  font-size: 13px
  line-height: 20px
  font-smoothing: antialiased

.kf-smk-heading
  color: #999
  vertical-align: middle

.kf-smk-bulk-add
  padding-left: 16px
  float: right
  vertical-align: middle

  &>.sprite-edit-pencil-icon
    margin-right: 5px

.kf-smk-bulk-add-text
  color: linkColor
  cursor: pointer
  user-select: none
