.kf-smk-head
  position: relative
  padding-top: 10px
  max-width: 496px  // ideal keep card width
  margin: 0 auto

.kf-smk-filters
  padding-bottom: 10px

.kf-smk-filter
  color: #ccc
  text-decoration: none
  font-smoothing: antialiased
  color: textDarkColor
  font-size: 14px

  @media (min-width: 480px)
    font-size: 17px

  &.enabled
    color: accentGreen

    &:hover
      text-decoration: underline

  &.selected
    color: #333

  &:not(:first-child)
    border-left: defaultBorder
    padding-left: 10px
    margin-left: 10px

.kf-smk-order-by-option
  margin: 2px 0px
  width: auto
  text-align: center

.kf-smk-top
  display: flex
  flex-direction: row
  align-items: center
  padding: 10px 0
  font-size: 13px
  font-smoothing: antialiased

  .kf-card-style-selector
    float: right
    padding-left: 10px

  .kf-smk-dropdown-parent
    position: relative
    display: inline-block

    .kf-dropdown-menu
      left: -14px
      right: -14px

    &:not(.kf-open)>.kf-dropdown-menu
      dur = .16s
      visibility: hidden
      opacity: 0
      transform: scale(.9)
      transition-duration: 0s, dur, dur
      transition-delay: dur, 0s, 0s

    &.kf-open::before
      content: ''
      position: absolute
      top: 'calc(100% - %s)' % menuGap
      left: -10px
      right: -10px
      height: 20px

.kf-smk-heading
  color: #999
  flex-grow: 1
  vertical-align: middle

.kf-smk-bulk-add
  padding-left: 16px
  float: right
  vertical-align: middle

  &>.sprite-edit-pencil-icon
    margin-right: 5px

.kf-smk-bulk-add-icon
  width: 15px
  height: 15px
  margin-right: 5px
  fill: accentGreen
  stroke-width: 10px

.kf-smk-bulk-add-text
  color: accentGreen
  cursor: pointer
  user-select: none
