<div class="kf-main-search">
  <div class="kf-main-head">
    <div ng-if="$root.userLoggedIn" class="kf-search-filters">
      <a class="kf-search-filter" ng-class="{ selected: isFilterSelected('a'), enabled: isEnabled('a') }" ng-href="{{getFilterUrl('a')}}">All keeps</a>
      <a class="kf-search-filter" ng-class="{ selected: isFilterSelected('m'), enabled: isEnabled('m') }" ng-href="{{getFilterUrl('m')}}">Your keeps ({{resultTotals.myTotal}})</a>
      <a class="kf-search-filter" ng-class="{ selected: isFilterSelected('f'), enabled: isEnabled('f') }" ng-href="{{getFilterUrl('f')}}">Friends keeps ({{resultTotals.friendsTotal}})</a>
    </div>
    <div class="kf-subtitle">
      <span class="kf-subtitle-text">{{getSubtitle()}}</span>
      <div ng-if="$root.userLoggedIn" class="kf-edit-keeps" ng-click="toggleEdit()">
        <span class="sprite sprite-edit-pencil-icon"></span>
        <span class="kf-edit-keeps-label">{{editKeepsLabel()}}</span>
      </div>
    </div>
  </div>

  <div ng-if="!loading && !resultKeeps.length" class="kf-mobile-search-no-results-message">Sorry, no search results found.</div>

  <div
    kf-keeps
    keeps="resultKeeps"
    keeps-loading="loading"
    keeps-has-more="hasMore"
    scroll-disabled="!hasMore"
    scroll-next="getNextKeeps()"
    keep-click="analyticsTrack"
    edit-mode="editMode"
    edit-options="editOptions"
    selected-keeps-filter="selectedKeepsFilter"
    toggle-edit="toggleEdit"
    update-selected-count="updateSelectedCount(numSelected)"
  ></div>
</div>
