<div class="kf-col-inner" ng-controller="MainCtrl" ng-switch="errorStatus">
  <div ng-switch-default>
    <div kf-delighted-survey ng-show="showDelightedSurvey" class="delighted-survey" ng-class="{ 'delighted-visible': showDelightedSurvey }" show-survey="showDelightedSurvey"></div>
    <div ui-view></div>
    <div class="kf-small-tooltip" ng-if="undo.isSet() || tooltipMessage">
      <span class="kf-small-tooltip-box">
        <span class="kf-small-tooltip-message">{{undo.message || tooltipMessage}}</span>
        <a class="kf-small-tooltip-link" href="javascript:" ng-click="undo.undo()" ng-if="undo.isSet()">Undo</a>
      </span>
    </div>
  </div>
  <div ng-switch-when="404" kf-error-not-found></div>
</div>
