input::-ms-clear
  display: none

.import-modal
.import-file-modal
  .dialog-body
    padding: 0

  .kifi-clover-icon
    display: inline-block
    margin-right: 25px
    width: 50px
    height: 50px
    background-repeat: no-repeat

.import-modal
  .import-star-to-kifi
    margin: 12px 168px 16px
    width: 127px
    height: 37px

  .dialog-text
    padding: 10px 30px
    font-size: 14px
    line-height: 1.2
    color: kifiBlack
    text-align: center

  .import-button
    margin: 0
    width: 100px

  .import-library-explanation
    border-bottom: 1px solid #e7e7e7
    padding: 35px 27px
    text-align: center

    .import-bookmarks-icon
      display: inline-block
      margin: 0 20px 0 0
      width: 77px
      height: 50px
      background-repeat: no-repeat

    .dialog-text
      display: inline-block
      padding: 14px 0 0
      width: 316px
      font-size: 14px
      line-height: 1.2
      color: kifiBlack

  .import-library-selection
    margin: 20px 0

  .add-keep-to-library-dropdown
    margin: 10px auto 0

.import-error-text
  padding: 0 20px
  font-size: 14px
  line-height: 1.2
  color: kifiBlack

.import-file-modal

  .import-how-to
    font-weight: 800
    margin: 10px 0

  .import-file-progress
    color: #333
    font-size: 14px
    padding: 0 20px

  button
    width: 100px
    margin: 5px 10px

.import-file-modal
  font-size: 14px
  line-height: 1.4
  color: kifiBlack

  .import-library-explanation
    border-bottom: 1px solid #e7e7e7
    padding: 20px 27px
    text-align: center

    .import-file-others-icon
      height: 79px
      width: 83px
      border-radius: 9px

    .arrow-right-icon
      display: inline-block
      margin: 0 10px 0 15px
      width: 27px
      height: 22px
      background-repeat: no-repeat
      vertical-align: middle

    .kifi-clover-icon
      vertical-align: middle

    .dialog-text
      display: inline-block
      padding: 14px 0 0
      width: 280px
      font-size: 14px
      line-height: 1.4
      color: kifiBlack
      vertical-align: middle

  .import-library-how-to
    padding: 0 27px
    font-size: 14px
    line-height: 1.4
    color: kifiBlack

  .import-library-how-to-heading
  .import-library-how-to-row-heading
    color: #5c6373
    font-weight: 700

  .import-library-how-to-heading
    margin-bottom: 5px

  .import-library-how-to-row
    border-bottom: 1px solid #e7e7e7
    height: 40px

  .import-library-how-to-row-heading
    padding-top: 10px
    width: 55px
    vertical-align: top

  .import-library-how-to-row-content
    padding: 10px 0
    width: 430px

  .bookmark-file-upload
    opacity: 0
    visibility: hidden
    position: absolute
    top: -3000px

  .bookmark-file-upload-name
  .bookmark-file-upload-status
    display: block
    padding-left: 30px

  .bookmark-file-upload-status
    color: redColor

  .add-keep-to-library-dropdown
    margin: 10px auto 15px

.install-extension-error
  .dialog-body-wrap
    .dialog-body
      padding-top: 50px

.kf-feed-modal
  text-align: left

  .kf-feed-how-to
    text-align: left
    font-size: 14px
    line-height: .2

  .kf-feed-text
    text-align: left

    label
      font-weight: bold

.import-file-safari-logo
  width: 60px
  height: 60px
  margin-right: -8px

.import-file-safari-demo
  display: block
  width: 160px
  margin: 0 auto 10px
  transition: transform .5s, box-shadow .5s

  box-shadow: 0 0 4px rgba(0, 0, 0, .5)
  cursor: pointer

  &:hover
    transform: scale(1.75)
    box-shadow: 0 0 8px rgba(0, 0, 0, .5)

  &:hover:active
    transform: scale(1.743)
    transition-duration: .05s
    box-shadow: 0 0 6px rgba(0, 0, 0, .5)
