input::-ms-clear
  display: none

.kf-small-tooltip
  position: fixed
  left: 0
  right: 0
  top: 52px
  text-align: center
  z-index: 500

.kf-small-tooltip-box
  display: inline-block
  height: 18px
  padding: 0 12px
  border: 1px solid #f8f4e8
  border-radius: 2px
  font-size: 13px
  font-weight: 300
  line-height: 17px
  background-color: #ffc
  white-space: nowrap

.kf-small-tooltip-link
  font-weight: 500
  margin-left: 4px

  &:hover
    text-decoration: underline

.import-modal
.import-file-modal
  .dialog-body
    padding: 0

  .kifi-clover-icon
    display: inline-block
    margin-right: 25px
    width: 50px
    height: 50px
    background-repeat: no-repeat

.import-modal
  .import-star-to-kifi
    margin: 12px 168px 16px
    width: 127px
    height: 37px

  .dialog-text
    padding: 10px 30px
    font-size: 14px
    line-height: 1.2
    color: kifiBlack
    text-align: left

  button
    width: 160px
    margin: 10px

  .import-button
    margin: 0
    width: 150px

  .import-library-explanation
    border-bottom: 1px solid #e7e7e7
    padding: 35px 27px
    text-align: left

    .import-bookmarks-icon
      display: inline-block
      margin: 0 20px 0 0
      width: 77px
      height: 50px
      background-repeat: no-repeat

    .dialog-text
      display: inline-block
      padding: 0
      width: 316px
      font-size: 14px
      line-height: 1.2
      color: kifiBlack

  .import-library-selection
    margin: 20px 0

  .add-keep-to-library-dropdown
    margin: 10px auto 0

.import-error-text
  padding: 0 20px
  font-size: 14px
  line-height: 1.2
  color: kifiBlack

.import-file-modal

  .import-file-link
    cursor: pointer
    margin-bottom: 12px

  .import-file-status
    text-align: center
    cursor: pointer

  .import-kippt-to-kifi
    display: block
    margin: 20px auto 30px
    height: 37px

  .file-import-info
    padding: 0 25px

  .file-import-well
    background-color: #eff2f7
    border-radius: 10px
    padding: 10px 20px 15px 20px
    margin: 20px 10px 30px

  .file-import-inner
    padding: 20px 20px 0
    color: #333
    font-size: 14px

    ul
      list-style: initial

  .import-how-to
    font-weight: 800
    margin: 10px 0

  .import-file-progress
    color: #333
    font-size: 14px
    padding: 0 20px

  h3.pitch
    font-size: 14px
    font-weight: 800
    margin-bottom: 10px

  li.import-benefit
    list-style-type: disc
    margin-left: 15px

  .import-inset input
    opacity: 0
    visibility: hidden
    position: absolute
    top: -3000px

  .disabled
    background-color: #a6b5c8

  .disabled:hover
    background-color: #a6b5c8
    cursor: inherit

  button
    width: 145px
    margin: 5px 10px

.import-file-modal
  font-size: 14px
  line-height: 1.4
  color: kifiBlack

  .import-library-explanation
    border-bottom: 1px solid #e7e7e7
    padding: 20px 27px
    text-align: left

    .import-file-others-icon
      height: 79px
      width: 83px
      border-radius: 9px

    .arrow-right-icon
      display: inline-block
      margin: 0 10px 0 15px
      width: 27px
      height: 22px
      background-repeat: no-repeat
      vertical-align: middle

    .kifi-clover-icon
      vertical-align: middle

    .dialog-text
      display: inline-block
      padding: 0
      width: 280px
      font-size: 14px
      line-height: 1.4
      color: kifiBlack
      vertical-align: middle

  .import-library-how-to
    padding: 0 27px
    font-size: 14px
    line-height: 1.4
    color: kifiBlack

  .import-library-how-to-heading
  .import-library-how-to-row-heading
    color: #5c6373
    font-weight: 700

  .import-library-how-to-heading
    margin-bottom: 5px

  .import-library-how-to-row
    border-bottom: 1px solid #e7e7e7
    height: 40px

  .import-library-how-to-row-heading
    padding-top: 10px
    width: 55px
    vertical-align: top

  .import-library-how-to-row-content
    padding: 10px 0
    width: 430px

  .bookmark-file-upload
    opacity: 0
    visibility: hidden
    position: absolute
    top: -3000px

  .bookmark-file-upload-name
  .bookmark-file-upload-status
    display: block
    padding-left: 10px

  .bookmark-file-upload-status
    color: redColor

  .add-keep-to-library-dropdown
    margin: 10px auto 15px

.install-extension-error
  .dialog-body-wrap
    .dialog-body
      padding-top: 50px
