@(emailAddress: String, picturePath: String)

@content = {
<div class="curtain-l"></div>
<div class="curtain-r"></div>

<h1 class="main-logo">kifi</h1>
<h2 class="page-title">Finalize Your Account</h2>

<!-- @picturePath -->

<form class="signup-2 signup-2-email" novalidate>
  <div class="static-email-addr">@emailAddress</div>
  <div class="form-name">
    <input class="form-first-name" type="text" name="first-name" placeholder="First name" required>
    <input class="form-last-name" type="text" name="last-name" placeholder="Last name" required>
  </div>
  <div class="form-pic">
    <div class="form-photo"><div class="form-photo-progress"></div></div>
    <div class="form-photo-controls">
      <a class="form-photo-a facebook" href="javascript:">Use Facebook photo</a>
      <a class="form-photo-a linkedin" href="javascript:">Use LinkedIn photo</a>
      <label class="form-photo-a upload">
        Upload a photo
        <input class="form-photo-file" type="file" name="photo">
      </label>
    </div>
    <div class="form-photo-drop">Drop picture here</div>
  </div>
  <button class="form-submit">Done</button>
  <p class="terms">
    By signing up, you agree to Kifi’s <a target="_blank" href="">Terms of Service</a>.
  </p>
</form>
}

@postScript = {
<script async defer>
$('body').addClass('curtains-drawn');
setTimeout(function() {
  $('input').first().focus().select();
}, 100);
</script>
}
@helper.page("kifi.com • Finalize Your Account", content, postScript)
