
.kf-ftue-fl-follow-spinner
  margin-left: 5px
  width: 50px
  height: 50px

.kf-ftue-fl-container
  max-width: 600px
  height: 100px
  width: 100%
  margin-top: 20px
  
  @media (min-width: appMinWidth)
    width: 75%

.kf-ftue-fl-follow-btn
  cursor: pointer
  border-radius: 4px
  font-family: Arial
  color: #ffffff
  font-size: 16px
  left: 0px
  width: 120px
  line-height: 40px
  text-align: center
  text-decoration: none

.kf-ftue-fl-follow-btn-enabled
  background-color: followBlue

.kf-ftue-fl-follow-btn-enabled:hover
  background-color: followBlueHover

.kf-ftue-fl-follow-btn-disabled
  background-color: lightgrey

.kf-ftue-fl-follow-btn-disabled:hover
  background-color: lightgrey

.kf-ftue-fl-follow-btn-wrap
  display: flex
  flex-direction: row
  align-items: center
  height: 40px


.kf-ftue-fl-meta-wrap
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  padding-left: 15px
  height: 50px


.kf-ftue-fl-select-all-checkbox
  display: flex
  align-items: center
  margin-right: 15px
  user-select: none

.kf-ftue-fl-select-all-checkbox-text
  color: #555
  font-size: 16px
  margin-right: 10px
  font-weight: bold

//  LIBRARY ROW

.kf-ftue-fl-library-row
  height: 80px
  display: flex
  justify-content: space-between
  align-items: center

.kf-ftue-fl-message
  width: auto
  margin-top: 25px
  margin-bottom: 25px
  display: block
  color: #555
  font-size: 24px
  text-align: center

.kf-ftue-fl-library-row-left
  flex-grow: 1
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  outline: none !important

.kf-ftue-lib-card
  border-style: none
  border=0
  margin-left: 15px
  display: inline
  height: 50px
  width: 40px
  border-radius: 4px
  background-color: libraryGray
  box-shadow: 0 1px #fff, 0 2px #c9ccc0, 0 3px #fff, 0 4px #c9ccc0

.kf-ftue-lib-card-data
  flex-grow: 1
  margin-left: 10px
  flex-direction: column
  font-size: 14px
  display:flex
  position: relative  
  margin-right: 50px

.kf-ftue-lib-card-library-name
  display: block  
  font-size: 14px
  font-weight: bold
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  color: #333
  
.kf-ftue-lib-card-owner-name
  display: block  
  margin-top: 2px
  font-size: 12px
  font-weight: normal
  color: #666

.kf-ftue-lib-card-updated-at
  display: block
  margin-top: 2px
  font-size: 12px
  font-weight: normal
  color: #999

.kf-ftue-fl-library-divider
  height: 1px
  background-color: #CCC
  
.kf-ftue-fl-library-bottom-spacing
  margin-bottom: 10px

.kf-ftue-fl-checkbox-wrap
  margin-right: 15px

.kf-ftue-fl-checkbox
  display: none

.kf-ftue-fl-checkbox + label
  height: 24px
  width: 24px
  display:inline-block
  align-self: center

.kf-ftue-fl-checkbox-bg
  background-size: contain
  background-repeat: no-repeat

.kf-ftue-fl-skip
  color: #AAA
  cursor: pointer
  margin-left: 15px

.kf-ftue-fl-skip:hover
  color: #888