.kf-credit-banner
  padding: 15px
  border-radius: 15px
  background: #fff
  border: 1px solid lightgray

.symbol-sprite.kf-credit-icon
  width: 32px
  height: 32px
  fill: darkgreen
  margin-right: 5px
  margin-top: -15px
  position: relative
  top: 8px
