<li class="kf-tag">
  <div class="kf-tag-container">
    <div ng-class="{ renaming: isRenaming, hover: isHovering, 'kf-drag-target': isDragTarget }" ng-show="!isFake">
      <div class="kf-tag-info" ng-click="navigateToTag($event)">
        <div class="kf-tag-count" ng-show="!isWaiting">{{tag.keeps}}</div>
        <div class="kf-tag-name-holder">
          <div class="kf-tag-icon"></div>
          <div class="kf-tag-name" ng-show="!isRenaming">{{tag.name}}</div>
          <div class="kf-tag-rename-container"><input class="kf-tag-rename" type="text" placeholder="Type new tag name" ng-model="renameTag.value" ng-keydown="onRenameKeydown($event)" ng-show="isRenaming"></div>
        </div>
        <div class="kf-tag-waiting" ng-show="isWaiting"></div>
      </div>
      <div class="kf-tag-tool kf-tag-dropdown-toggle" ng-click="toggleDropdown($event)"></div>
      <div class="kf-tag-tool kf-tag-handle"></div>
      <ul class="kf-dropdown-menu" ng-show="isDropdownOpen" ng-click="cancelNavigation($event)">
        <li>
          <a href="javascript:" ng-mousedown="setRenaming()">Rename</a>
      </li>
        <li>
          <a href="javascript:" ng-mousedown="removeTag(tag)">Remove</a>
        </li>
      </ul>
    </div>
    <div class="kf-keep-drag-mask"></div>
  </div>
  <div class="kf-tag-drag-mask"></div>
</li>
