<div class="kf-keep-tags">
  <ul class="kf-tag-list">
    <li class="kf-keep-tag" data-id="{{tag.id}}" ng-repeat="tag in getCommonTags()">
      <div class="kf-keep-tag-x-container"><a class="keep-tag-x" href="javascript:" ng-click="removeTag(tag)">×</a></div>
      <div class="kf-keep-tag-link-container"><a class="kf-keep-tag-link" href="/tag/{{tag.id}}">{{tag.name}}</a></div>
    </li>
    <li class="kf-keep-tag-new">
      <span class="kf-keep-add-tag-button sprite sprite-add-a-tag-button" ng-click="showAddTagDropdown()" ng-if="!isAddingTag"></span>
      <span kf-tag-suggestions ng-if="isAddingTag">
        <input focus-when="shouldGiveFocus" class="kf-keep-tag-input" type="text" placeholder="Tag name..." ng-model="tagFilter.name" ng-keydown="onKeydown($event)" ng-blur="hideAddTagDropdown()">
        <div class="kf-keep-tag-opts-container">
          <ul class="kf-keep-tag-opts">
            <li class="kf-keep-tag-opt" ng-repeat="tag in tagTypeAheadResults" ng-class="{ current: isTagHighlighted(tag) }" ng-mousedown="addTag(tag)" ng-bind-html="tag.prettyHtml" ng-mouseover="highlightTag(tag)"></li>
            <li class="kf-keep-tag-opt kf-keep-tag-opt-new" ng-if="isAddTagShown()" ng-mousedown="createAndAddTag()" ng-class="{ current: isTagHighlighted(null) }" ng-mouseover="highlightTag(null)"><div class="kf-keep-tag-opt-new-label">{{newTagLabel}}</div><div class="kf-keep-tag-opt-new-text">{{tagFilter.name}}</div></li>
          </ul>
          <span class="kf-keep-tag-hidden"></span>
        </div>
      </span>
    </li>
  </ul>
</div>
