<div class="kf-tags">
  <div class="kf-nav-group-name">TAGS</div>
  <div class="kf-tag-input-box" ng-class="{'focused': isFilterFocused}">
    <a class="kf-tag-input-clear" href="javascript:" ng-click="clearFilter(true)" ng-show="filter.name">&times;</a>
    <input class="kf-tag-filter-input" kf-no-drag-input name="filterName" placeholder="Find or add a tag..." maxlength="32" ng-model="filter.name" ng-change="onFilterChange()" ng-keydown="onKeydown($event)" ng-focus="focusFilter()" ng-blur="blurFilter()">
  </div>
  <div class="kf-tag-list-hidden"></div>

  <div class="kf-scrollable-tags" antiscroll="{ autoHide: false }" ng-class="{'kf-add-tag-shown': showAddTag()}">
    <ul class="kf-sidebar-tag-list" smart-scroll scroll-distance="scrollDistance" scroll-disabled="isScrollDisabled()" scroll-next="scrollNext()">
      <!-- We add a "null" tag at the end of the tag list. This is used to handle tag reordering via drag-and-drop.-->
      <li kf-tag-item tag="tag" watch-tag-reorder="watchTagReorder()" view-tag="viewTag(tagId)" remove-tag="removeTag(tag)" ng-class="{ active: isActiveTag(tag), highlight: isHighlight(tag), new: tag.isNew }" index="{{$index}}" ng-repeat="tag in tags.concat([null]) | limitTo: tagLimit track by tag.id" tag-drag-source="data.tagDragSource" target-idx="data.targetIdx" ng-mousedown="disableClearFilter()" ng-mouseup="enableClearFilter()"></li>
    </ul>
    <div class="kf-tag-new" ng-show="showAddTag()" ng-click="createTag()" ng-mousedown="disableClearFilter()" ng-mouseup="enableClearFilter()">
      <div class="kf-tag-new-inner" ng-class="{ highlight: isHighlightNew() }">
        <div class="kf-tag-new-icon">
          <div class="sprite sprite-tag-add-plus"></div>
        </div>
        <div class="kf-tag-new-contents">
          <div class="kf-tag-caption">Add as a new tag:</div>
          <div class="kf-tag-name">{{filter.name}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
