@(threadInfo: com.keepit.eliza.model.ThreadEmailInfo, messages: Seq[com.keepit.eliza.model.ExtendedThreadItem], isAdded: Boolean)

<td class="txt_p" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#999999;line-height:16px;">@if(isAdded) {
  @if(threadInfo.invitedByUser.nonEmpty){<span class="txt_p" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#333333;line-height:16px;font-weight:bold;">@threadInfo.invitedByUser.get.fullName</span> added you} else {You were added} to a discussion with
  @smartEmailParticipantsList(threadInfo.participants, threadInfo.invitedByUser.map(_.fullName).toSeq)
  on
  <a class="txt_p" href="@threadInfo.pageUrl" target="_blank" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#999999;line-height:16px;text-decoration:underline;">this page</a>
  using <a class="txt_p" href="https://www.kifi.com/?utm_source=extmsg" target="_blank" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#999999;line-height:16px;text-decoration:underline;">Kifi</a>
} else {
  @if(threadInfo.isInitialEmail) {
    <span class="txt_p" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#333333;line-height:16px;font-weight:bold;">@{threadInfo.conversationStarter}</span>
    shared <a href="@threadInfo.pageUrl" target="_blank" class="txt_p" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#999999;line-height:16px;text-decoration:underline;">this page</a> with
    @smartEmailParticipantsList(threadInfo.participants, Seq(threadInfo.conversationStarter))
    using <a class="txt_p" href="https://www.kifi.com/?utm_source=extmsg" target="_blank" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#999999;line-height:16px;text-decoration:underline;">Kifi</a>
  } else {
    @smartEmailParticipantsList(messages.map(_.senderFullName).distinct) commented on <a class="txt_p" href="@threadInfo.pageUrl" target="_blank" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#999999;line-height:16px;text-decoration:underline;">this page</a> with @smartEmailParticipantsList(threadInfo.participants, messages.map(_.senderFullName).distinct) using <a class="txt_p" href="https://www.kifi.com/?utm_source=extmsg" target="_blank" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#999999;line-height:16px;text-decoration:underline;">Kifi</a>
  }
}</td>
