@(lookerName: String, segment: com.keepit.eliza.util.TextLookHereSegment)
  <table>
      <tr>
        <td width="18">&nbsp;</td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td valign="top"><img src="https://djty7jcqog9qu.cloudfront.net/assets/email-big-quotes.jpg" width="32" height="24" style="display:block;" border="0" /></td>
              <td width="10">&nbsp;</td>
              <td style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:16px;font-style:italic;line-height:24px;color:#333333;">@segment.pageText</td>
            </tr>
          </table></td>
        <td width="18">&nbsp;</td>
      </tr>
  </table>
