@(lookerName: String, segment: com.keepit.eliza.commanders.TextLookHereSegment)
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td bgcolor="#fafafa"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="14" style="line-height:1px;font-size:1px;">&nbsp;</td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="18">&nbsp;</td>
                      <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#85a4ea;line-height:16px;">
                              <span style="text-decoration: underline; font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#85a4ea;line-height:16px;">@segment.msgText</span>:
                              @lookerName highlighted this specific part of the page
                            </td>
                          </tr>
                          <tr>
                            <td height="16" style="line-height:1px;font-size:1px;">&nbsp;</td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td valign="top" width="35"><img src="https://djty7jcqog9qu.cloudfront.net/assets/email-big-quotes.jpg" width="32" height="24" style="display:block;" border="0" /></td>
                                  <td width="5">&nbsp;</td>
                                  <td style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:16px;font-style:italic;line-height:24px;color:#333333;">@segment.pageText</td>
                                </tr>
                              </table></td>
                          </tr>
                          <tr>
                            <td height="24"></td>
                          </tr>
                        </table></td>
                      <td width="24">&nbsp;</td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
