@(imageUrl: Option[String], shortName: String, fullName: String, segments: Seq[com.keepit.eliza.util.MessageSegment])
  <tr>
    <td bgcolor="#f3f3f3"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="2" bgcolor="#FFFFFF" style="line-height:1px;font-size:1px;">&nbsp;</td>
        </tr>
        <tr>
          <td height="34"></td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="14">&nbsp;</td>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <!-- Image -->
                      <td width="73" valign="top">@imageUrl.map{ iUrl =>
                        <img src="https:@imageUrl" alt="@shortName" width="73" height="73" style="display:block;" border="0" />
                      }.getOrElse{
                        <div style="font-family: Arial; font-size: 62px; font-weight: 600; background-color: #DCD6D6; color: #ffffff; width: 73px; height: 73px; text-align: center; vertical-align: middle; border-radius: 3px;">
                          @{shortName(0).toUpper}
                        </div>
                      }</td>
                      <!-- //Image -->
                      <td width="28">&nbsp;</td>
                      <!-- Content -->
                      <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#333333;line-height:16px;font-weight:bold;text-decoration:none;">@fullName</td>
                          </tr>
                          <tr>
                            <td height="16" style="line-height:1px;font-size:1px;">&nbsp;</td>
                          </tr>
                          <tr>
                            <td style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:18px;color:#333333;line-height:24px;">@segments.map(_.txt).mkString(" ")</td>
                          </tr>
                          <tr>
                            <td height="40">&nbsp;</td>
                          </tr>
                        </table></td>
                      <!-- //Content -->
                    </tr>
                  </table></td>
                <td width="20">&nbsp;</td>
              </tr>
            </table></td>
        </tr>
        <!-- Look-heres -->
        @for(segment <- segments.filter(_.kind != "txt")){
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <!-- /*look-here offset for wide screen */ <td width="102" class="hide">&nbsp;</td>-->
                  <td width="30" class="hide">&nbsp;</td>
                  <td bgcolor="#fafafa"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="14" style="line-height:1px;font-size:1px;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="18">&nbsp;</td>
                              <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#85a4ea;line-height:16px;">@shortName highlighted this specific part of the page</td>
                                  </tr>
                                  <tr>
                                    <td height="16" style="line-height:1px;font-size:1px;">&nbsp;</td>
                                  </tr>
                                </table>
                              </td>
                              <td width="24">&nbsp;</td>
                            </tr>
                          </table></td>
                      </tr>
                      <tr>
                        <td>
                          @if(segment.kind=="tlh") {
                            @emailTextLookHereBlock(shortName, segment.asInstanceOf[com.keepit.eliza.util.TextLookHereSegment])
                          }
                          @if(segment.kind=="ilh"){
                            @emailImageLookHereBlock(shortName, segment.asInstanceOf[com.keepit.eliza.util.ImageLookHereSegment])
                          }
                        </td>
                      </tr>
                      <tr>
                        <td height="14">&nbsp;</td>
                      </tr>
                    </table></td>
                  <td width="30" class="hide">&nbsp;</td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td height="10" style="line-height:1px;font-size:1px;">&nbsp;</td>
          </tr>
        }
      </table></td>
  </tr>
