@(lookerName: String, segment: com.keepit.eliza.commanders.ImageLookHereSegment)
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="450" border="0" cellspacing="0" cellpadding="0" align="left" class="wrapper" bgcolor="#fafafa">
                    <tr>
                      <td class="aside"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="28" class="hide">&nbsp;</td>
                            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td height="16" style="line-height:1px;font-size:1px;">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#85a4ea;line-height:16px;">
                                    <span style="text-decoration: underline; font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#85a4ea;line-height:16px;">@segment.txt</span>:
                                    @lookerName highlighted this specific image on the page
                                  </td>
                                </tr>
                                <tr>
                                  <td height="24"></td>
                                </tr>
                                <tr>
                                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td width="28" class="hide"></td>
                                        <td width="240"  align="center"><img src="@segment.imgUrl" width="240" style="display:block;" border="0" /></td>
                                        <td width="64" class="hide"></td>
                                      </tr>
                                    </table></td>
                                </tr>
                                <tr>
                                  <td height="30"></td>
                                </tr>
                              </table></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
