@(lookerName: String, segment: com.keepit.eliza.util.ImageLookHereSegment)
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="28" class="hide"></td>
      <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><img src="@segment.imgUrl" width="240" style="display:block;" border="0" /></td>
          </tr>
        </table>
      </td>
      <td width="28" class="hide"></td>
    </tr>
  </table>
