@(user: User, email: Option[String], justVerified: Boolean, friendsOnKifi: Set[ExternalId[User]])

@styles = {
<style>
.log-out {
  position: absolute;
  top: 30px;
  left: 8.25%;
  margin-left: -50px;
  width: 100px;
  line-height: 36px;
  font-size: 16px;
  font-weight: 300;
  z-index: 10;
  color: #fff;
  background-color: rgba(0, 0, 0, .08);
  border-radius: 3px;
}
.log-out:hover,
.log-out:focus {
  background-color: rgba(0,0,0,.12);
}
.log-out:active {
  background-color: rgba(0,0,0,.16);
}
h3 {
  margin: -10px auto 20px;
  max-width: 90%;
  color: #747976;
  line-height: 32px;
  font-size: 28px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
section {
  width: 96%;
  margin: 0 auto;
  padding-bottom: 40px;
  color: #515051;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
section>p {
  margin: 0;
}
label.email-address {
  margin: 16px 0;
  display: inline-block;
  height: 40px;
  position: relative;
}
span.email-address,
input.email-address {
  display: inline-block;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  height: inherit;
  padding: 0 .8em;
  color: inherit;
  min-width: 190px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
span.email-address {
  border: 2px solid transparent;
  line-height: 36px;
}
.editing>input.email-address {
  width: 270px;
}
.editing>span.email-address,
.not-editing>input.email-address {
  position: absolute;
  visibility: hidden;
  left: 0;
}
.email-button {
  display: inline-block;
  vertical-align: text-bottom;
  background: #b8c5d2;
  color: #fff;
  padding: 2px 4px 2px 1px;
  line-height: 16px;
  font-size: 14px;
  position: relative;
  left: 6px;
}
.email-button:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: -8px;
  height: 0;
  width: 0;
  font-size: 0;
  border-style: solid;
  border-color: transparent #b8c5d2;
  border-width: 10px 8px 10px 0;
}
.email-button:after {
  content: 'Edit';
}
.email-button:hover,
.email-button:focus {
  background: #c6d1db;
  outline-color: #888;
}
.email-button:focus:before,
.email-button:hover:before {
  border-right-color: #c6d1db;
}
.email-button:active {
  background: #a6b1bd;
}
.email-button:active:before {
  border-right-color: #a6b1bd;
}
.editing>.email-button {
  background: #6fa6ef;
}
.editing>.email-button:before {
  border-right-color: #6fa6ef;
}
.editing>.email-button:hover,
.editing>.email-button:focus {
  background: #7daff1;
}
.editing>.email-button:hover:before,
.editing>.email-button:focus:before {
  border-right-color: #7daff1;
}
.editing>.email-button:active {
  background: #6495d7;
}
.editing>.email-button:active:before {
  border-right-color: #6495d7;
}
.editing>.email-button:after {
  content: 'Save';
}
.friends {
  display: inline-block;
  margin-top: 42px;
  padding: 4px 30px 16px;
  background: #e5e5e5;
  color: #747976;
  line-height: 36px;
  font-size: 18px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
.friends-pics {
  padding: 0;
  font-size: 0;
  line-height: 0;
}
.friends-pics>li {
  display: inline-block;
  margin: 0 0 1px 1px;
}
.friends-pics>li:first-child {
  margin-left: 0;
}
.friends-pics>li,
.friends-pics img {
  height: 70px;
  width: 70px;
}
.friends-more {
  font-size: 18px;
  line-height: 70px;
  vertical-align: bottom;
  background: #eee;
  color: #888;
}
</style>
}

@content = {
  <h1 class="main-logo">kifi</h1>
  <h2 class="page-title">Thank you!</h2>
  @if(justVerified) {
    <h3>Thanks for verifying your email address</h3>
  } else {
    <h3>Thanks for your interest in our private beta</h3>
  }

  <section>
    <p>When you’re approved, we’ll email you at:</p>
    <label class="email-address @if(email.isEmpty) {editing} else {not-editing}" data-uri="@com.keepit.controllers.website.routes.UserController.updateCurrentUser()">
      <span class="email-address">@email.getOrElse("")</span>
      <input class="email-address" value="@email.getOrElse("")" type="email" placeholder="email address">
      <a class="email-button" href="javascript:"></a>
    </label>
    <p>We are constantly reviewing requests and apologize for the wait.</p>

    @if(friendsOnKifi.nonEmpty) {
      <div class="friends">
        Your friends who use Kifi
        <ul class="friends-pics">
          @for(friend <- friendsOnKifi.take(if (friendsOnKifi.size > 8) 7 else 8)) {
            <li><img src="@com.keepit.controllers.assets.routes.UserPictureController.get(66, friend)">
          }
          @if(friendsOnKifi.size > 8) {
            <li class="friends-more">+@{friendsOnKifi.size - 7}
          }
        </ul>
      </div>
    }
  </section>
}

@scripts = {
<a class="log-out" href="/logout">Log out</a>
<script src="/assets/js/jquery-ui-position.min.js"></script>
<script src="/assets/js/auth.js"></script>
<script>
$(function () {
  var $label = $('label.email-address');
  var $span = $('span.email-address');
  var $input = $('input.email-address').on('input keyup', function () {
    $span.text($input.val());
    updateInputWidth();
  }).on('keydown blur', function (e) {
    if (e.which === 13) {
      $button.triggerHandler('click');
    }
  });
  var $button = $('.email-button').click(function (e) {
    if ($label.hasClass('editing')) {
      var addr = kifi.form.validateEmailAddress($input);
      if (addr) {
        $input.css('width', '');
        $label.toggleClass('editing not-editing');
        if (addr !== $input.data('val')) {
          $.postJson($label.data('uri'), {emails: [addr]});
        }
      }
    } else {
      var addr = $.trim($span.text());
      $input.val(addr).data('val', addr);
      updateInputWidth();
      $label.toggleClass('editing not-editing');
      $input.focus().select();
    }
  });
  function updateInputWidth() {
    $input.css('width', 2 + $span.outerWidth());
  }
});
if (window.history && history.replaceState) {
  history.replaceState(null, null, location.pathname);
}
</script>
}

@views.html.auth.helper.page(title = "kifi.com | Thank You", styles = styles, content = content, scripts = scripts)
