<div kf-library-header
  library="library"
  username="username"
  library-slug="librarySlug"
  image-loaded="libraryImageLoaded"
  edit-mode="edit.enabled"
  library-search="librarySearch"
  gallery-view="galleryView"
></div>

<div class="kf-lib-content">
  <div class="kf-lib-content-1" ui-view></div>
  <section class="kf-lib-content-2">

    <div class="kf-lib-slack" ng-if="$root.userLoggedIn">
      <div ng-click="processSlackRequest()" class="kf-cta-hover-element kf-lib-slack-btn-bg">
        <img  ng-src="{{slackIntegrations.length == 0 ? '/img/add-to-slack.png' : '/img/edit-slack-sync.png'}}"
              class="kf-lib-slack-btn">
      </div>

      <span class="kf-lib-slack-integration-text" ng-if="slackIntegrations.length > 0">
        <ng-pluralize count="slackIntegrations.length"
                      when="{'0': '',
                     'one': '1 Slack Integration',
                     'other': '{} Slack Integrations'}">
        </ng-pluralize>
      </span>
    </div>

    <div kf-suggested-searches library="library" ng-if="library.suggestedSearches.length"></div>
    <div kf-related-libraries related-libraries="::relatedLibraries" library-id="{{::library.id}}" ng-if="::relatedLibraries"></div>
  </section>
</div>

<footer class="kf-lib-footer" ng-if="!$root.userLoggedIn">
  <div class="kf-lib-footer-1">
    <a class="kf-lib-footer-a" target="_top" href="/how_it_works">How it works</a> &middot;
    <a class="kf-lib-footer-a" target="_top" href="/about">About</a> &middot;
    <a class="kf-lib-footer-a" target="_top" href="http://blog.kifi.com">Blog</a>
  </div>
  <span ng-if="!isMobile">&middot;</span>
  <div class="kf-lib-footer-2">
    <a class="kf-lib-footer-a" target="_top" href="/privacy">Privacy</a> &middot;
    <a class="kf-lib-footer-a" target="_top" href="/terms">Terms</a>
  </div>
</footer>
