<div>
  <div class="kf-lk-empty" ng-if="keeps.length === 0" ng-show="!loading">
    <div ng-if="userIsOwner">
      You don’t have any keeps in this library yet. You can:
      <ul>
        <li>
          <button class="kf-lk-empty-btn" ng-click="callAddKeep()">
            <span class="sprite sprite-add-link"></span>Add any page by pasting the URL here
          </button>
        </li>
        <li>
          <button class="kf-lk-empty-btn" ng-click="callImportBookmarks()">
            <span class="sprite sprite-import-bookmarks-icon"></span>Import your bookmarks from your browser
          </button>
        </li>
        <li>
          <button class="kf-lk-empty-btn" ng-click="callImportBookmarkFile()">
            <span class="sprite sprite-import-from-other-services-icon"></span>Import links from sites like Delicious, Pocket, Pinboard
          </button>
        </li>
        <li class="kf-lk-empty-install">
          <button class="kf-lk-empty-btn" ng-click="triggerInstall()">
            <span class="sprite sprite-install-extension-icon"></span>Install our browser extension on Chrome and Firefox
          </button>
        </li>
      </ul>
    </div>
    <div ng-if="!userIsOwner">
      <p>{{library.owner.firstName || 'The curator'}} hasn’t added anything to this library yet.</p>
      <p ng-hide="$root.userLoggedIn">
        Want to create and share your own libraries? <a href="/signup" target="_self">Sign up</a> to join the Kifi family.
      </p>
    </div>
  </div>

  <div class="kf-keeps" kf-keeps
    library="library"
    keeps="keeps"
    keeps-loading="loading"
    keeps-has-more="hasMore"
    scroll-disabled="!hasMore"
    scroll-distance="scrollDistance"
    scroll-next="getNextKeeps"
    edit="edit"
    keep-click="libraryKeepClicked"
    current-page-origin="libraryPage"
  ></div>
</div>
