.kf-lfp
  white-space: nowrap
  font-size: 0

.kf-lfp-pic-wrap
  display: inline-block
  border-radius: 50%
  position: relative // for tooltip

  &:not(:last-child)
    margin-right: 8px

  &>.kf-utt
    margin-left: 24px

.kf-lfp-pic-a
  display: inline-block
  border-radius: 50%

.kf-lfp-pic
  display: inline-block
  border-radius: 50%
  width: 42px
  height: 42px

.kf-lfp-more
  display: inline-block
  border-radius: 50%
  height: 42px
  min-width: 42px
  border: none
  padding: 0
  background-color: kifiBlack
  color: #fff
  vertical-align: top
  text-align: center
  cursor: pointer

.kf-lfp-more-text
  padding: 0 5px
  line-height: 42px
  font-size: 15px

  &.kf-3
    font-size: 13px

  &.kf-4
    font-size: 11px

  &.kf-5
  &.kf-6
    font-size: 10px

  &::before
    content: '+\2009'
