<div class="library-members dialog-content">
  <a class="dialog-x" ng-click="close()"></a>

  <div class="dialog-body-wrap">
    <h1 class="dialog-header" ng-if="library.numFollowers > 0 || library.numCollaborators > 0">
      <ng-pluralize count="library.numCollaborators" when="
        {'0' : '', 'one': '1 collaborator', 'other': '{} collaborators'}
        "></ng-pluralize>
      <span ng-if="library.numCollaborators > 0 && library.numFollowers > 0">&nbsp;and&nbsp;</span>
      <ng-pluralize count="library.numFollowers" when="
        {'0' : '', 'one': '1 follower', 'other': '{} followers'}
        "></ng-pluralize>
    </h1>
    <h1 class="dialog-header" ng-if="library.numFollowers === 0 && library.numCollaborators === 0">{{library.name}}</h1>
    <div class="dialog-body">

      <div class="lmm-search-box">
        <input type="text" class="lmm-input" placeholder="Search for people">
      </div>

      <div class="lmm-members-content">
        <div class="lmm-members-content-list" kf-wheel-allow smart-scroll scroll-distance="memberScrollDistance" scroll-disabled="isMemberScrollDisabled()" scroll-next="memberScrollNext()">
          <ul class="lmm-members-list">
            <!-- Owner -->
            <li class="lmm-member-item">
              <a href="{{library.owner|profileUrl}}" class="lmm-member-link" kf-track-origin="{{currentPageOrigin}}/curator" ng-click="close()">
                <img ng-src="{{library.owner | pic:100}}" alt="{{library.owner|name}}" class="lmm-member-pic">
              </a>
              <div class="lmm-member-info-wrapper">
                <div class="lmm-member-info-name">{{library.owner|name}}</div>
                <span class="lmm-member-info-icon svg-collaborator-green"></span><span class="lmm-member-info-stat collab">Contributor</span>
              </div>
            </li>

            <!-- Members -->
            <li class="lmm-member-item" ng-repeat="member in memberList">
              <a href="{{member|profileUrl}}" class="lmm-member-link" kf-track-origin="{{currentPageOrigin}}/member" ng-click="close()">
                <img ng-src="{{member | pic:100}}" alt="{{member|name}}" class="lmm-member-pic">
              </a>
              <div class="lmm-member-info-wrapper">
                <div class="lmm-member-info-name">{{member|name}}</div>
                <span class="lmm-member-info-icon svg-collaborator-green" ng-if="member.isCollaborator"></span>
                <span class="lmm-member-info-stat" ng-class="{'collab' : member.isCollaborator}">{{member.isCollaborator ? 'Contributor' : 'Follower'}}</span>
              </div>
            </li>

          </ul>
        </div>
      </div>

      <div class="lmm-set-who-can-invite" ng-if="amOwner">
        <input type="checkbox" ng-model="collabCanInvite" ng-change="toggleWhoCanInvite()">
        Allow collaborators to invite other collaborators
      </div>

    </div>
  </div>
</div>
