<div class="kf-library-mini-card">

  <div ng-switch="visibility()">
    <div ng-switch-when="published" class="kf-library-mini-card-visbility svg-public-library-icon"></div>
    <div ng-switch-when="secret" class="kf-library-mini-card-visbility svg-private-library-icon"></div>
    <div ng-switch-when="discoverable" class="kf-library-mini-card-visbility svg-yellow-card-with-globe"></div>
  </div>

  <div class="kf-library-mini-card-header">
    <div class="kf-library-mini-card-curator">
      <img ng-src="{{curatorImage() || 'https://www.kifi.com/assets/img/ghost.200.png'}}">
      <span style="display: inline-block;">
        <div style="font-weight: 200;">Library Curator:</div>
        <div>{{curatorName()}}</div>
      </span>
    </div>
  </div>

  <div class="kf-library-mini-card-body">
    <div class="kf-library-mini-card-name">
      {{libraryName()}}
    </div>

    <div>
      <span class="kf-library-mini-card-stat">
        <div class="kf-library-mini-card-stat-title">Keeps</div>
        <div class="kf-library-mini-card-stat-num">{{numKeeps() || 0}}</div>
      </span>

      <span class="kf-library-mini-card-vdivider"></span>

      <span class="kf-library-mini-card-stat">
        <div class="kf-library-mini-card-stat-title">Followers<div>
        <div class="kf-library-mini-card-stat-num">{{numFollowers() || 0}}</div>
      </span>

      <span class="kf-library-mini-card-vdivider" ng-if="numNewKeeps()"></span>

      <span class="kf-library-mini-card-stat" ng-if="numNewKeeps()">
        <div class="kf-library-mini-card-stat-title">New Keeps<div>
        <div class="kf-library-mini-card-stat-num">{{numNewKeeps()}}</div>
      </span>
    </div>
  </div>

  <div class="kf-library-mini-card-hdivider"></div>

  <div>
    <button ng-if="!isMine()"
      ng-class="{'kf-library-mini-card-button-follow': !following() && !isMine(), 'kf-library-mini-card-button-unfollow': following()}"
      class="kf-library-mini-card-button"
      ng-click="toggleFollow()"
    ></button>

    <button ng-if="isMine()"
      class="kf-library-mini-card-button kf-library-mini-card-button-view"
      ng-click="view()"
    >View my Library</button>
  </div>

</div>
