.kf-lh
  line-height: 1.4
  font-size: 12px

  @media (min-width: 480px)
    font-size: 13px

  @media (min-width: 560px)
    font-size: 14px

  @media (min-width: 720px)
    font-size: 16px

colorBarHeight = .4em

.kf-lh-cover
  height: 22em
  background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0))
  position: relative

  @media (min-width: 480px)
    height: 32em

    &.kf-system-main
    &.kf-system-secret
      height: 16em


inviteSidePad = 20px
inviteMaxWidth = 496px  // chosen to make youtube videos (16:9 aspect ratio) come out to whole pixels, 496x279
maxWindowWidthForNarrowKeeps = inviteMaxWidth + 2 * (inviteSidePad + appSidePad1) - 1 // = 559px

.kf-lh-invite-banner
  position: absolute
  left: 50%
  transform: translateX(-50%)
  max-width: 776px
  width: 100%
  height: 60px
  margin-top: -14px
  padding-left: 25px
  box-sizing: border-box
  border-radius: 10px
  z-index: 2
  font-size: .8em
  text-align: initial
  overflow: hidden
  opacity: 1.0

  &.ng-leave
    transition: transform .25s, opacity .25s

  &.ng-leave-active
    transform: translate(-50%, -125%)
    opacity: 0

  @media (max-width: 796px)
    max-width: 2 * (1 + inviteSidePad) + inviteMaxWidth
    font-size: 0.76em

  @media (max-width: maxWindowWidthForNarrowKeeps)
    max-width: inviteMaxWidth
    font-size: 0.8em

  @media (max-width: 536px)
    width: calc(100% - 24px)

  @media (max-width: 479px)
    font-size: 0.87em

.kf-lh-invite-pic
  position: relative
  top: -1px
  display: inline-block
  width: 36px
  height: 36px
  border-radius: 50%

  @media (max-width: 479px)
    display: none

.kf-lh-invite-banner-text
  display: inline-block
  margin-left: 15px
  line-height: 60px
  color: #fff

  @media (max-width: 479px)
    margin-left: 0px

  @media (max-width: 795px)
    position: relative
    top: 12px
    line-height: 18px

  & span
    @media (max-width: 795px)
      display: block


.kf-lh-invite-banner-button
  position: relative
  top: 50%
  transform: translateY(-50%)
  float: right
  margin-left: .8em
  border: 1px solid #fff
  border-radius: 4px
  padding: .44em 1.3em

  @media (max-width: 479px)
    padding: .44em 1.1em

  &.kf-accept
    background: alpha(#fff, .9)

    &:hover:not(:active)
      background-color: #fff

  &.kf-ignore
  &.kf-continue
    margin-right: 2em
    background: transparent
    color: #fff

    &:hover:not(:active)
      background-color: alpha(#fff, .1)

.kf-lh-top
  box-sizing: border-box
  max-width: appMaxWidth
  margin: 0 auto
  border: solid transparent
  border-width: 1.6em appSidePad1 0
  position: relative

  @media (min-width: appSidePad2MinWidth)
    border-width: 2em appSidePad2 0

.kf-lh-followers
  position: absolute
  top: 0
  right: 0

  @media (max-width: 479px)
    font-size: 1.5em

followerPicDiam = 2.2em

.kf-lh-followers-a
  display: inline-block
  width: followerPicDiam + .4em
  text-align: center

  &:not(:last-child)
    margin-right: .3em

  &:focus
    outline-color: alpha(#fff,.5)

  &:active:hover
    box-shadow: none

.kf-lh-followers-pic
  height: followerPicDiam
  width: followerPicDiam
  border-radius: 50%
  box-shadow: 0 0 .3em rgba(0,0,0,.16)

.kf-lh-followers-name
  display: none
  margin-top: .2em
  color: #fff
  font-size: .6em
  text-shadow: 0 1px 1px rgba(0,0,0,.4)
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  font-smoothing: auto

  @media (min-width: 480px)
    display: block

.kf-lh-view-members
  position: relative
  padding: 3px 15px
  border-radius: 20px
  font-size: 12px
  color: white
  line-height: 28px
  background: rgba(255,255,255,0.0)
  outline: none
  border: 1px solid white

  &:hover
    background: rgba(255,255,255,0.1)

    .kf-lh-more-members-text
      text-decoration: underline

  @media (max-width: 719px)
    line-height: 24px
    padding: 3px 12px
    font-size: 11px

  @media (max-width: 559px)
    line-height: 22px
    padding: 2px 10px
    font-size: 10px

  @media (max-width: 479px)
    line-height: 20px
    padding: 1px 10px
    font-size: 10px

.kf-lh-followers-more
  display: inline-block
  vertical-align: top
  height: followerPicDiam
  min-width: followerPicDiam
  border-radius: (followerPicDiam / 2)
  border: 0
  padding: 0
  background-color: rgba(0,0,0,.1)
  color: #fff
  line-height: followerPicDiam
  text-align: center
  cursor: pointer
  boxShadowBorder = inset 0 0 0 1px #fff
  box-shadow: boxShadowBorder, 0 0 .3em rgba(0,0,0,.1)

  &:active:hover
    box-shadow: boxShadowBorder

  &:focus
    outline: thin dotted alpha(#fff,.5)

.kf-lh-followers-more-text
  padding: 0 .2em
  font-size: .75em
  text-shadow: 0 1px 1px rgba(0,0,0,.6)
  vertical-align: top

  &.kf-3
    font-size: .7em

  &.kf-4
    font-size: .65em

  &.kf-5
  &.kf-6
    font-size: .6em

  &::before
    content: '+'
    vertical-align: top

.kf-lh-manage-btn
  vertical-align: top
  width: 2em
  height: 2em
  border: none
  background: center no-repeat
  background-size: contain
  padding: 0
  opacity: .8

  &:hover
  &:focus
    opacity: .9

  &:hover:active
    opacity: 1

.kf-lh-cover-menu-parent
  display: inline-block
  vertical-align: top
  margin-left: .8em
  position: relative

  menuGap = 2px

  &>.kf-dropdown-menu
    dur = .1s
    top: 'calc(100% + %s)' % menuGap
    left: -15px
    transform-origin: 20% top
    transition: visibility 0s, opacity linear dur, transform dur

  &:not(.kf-open)>.kf-dropdown-menu
    dur = .16s
    visibility: hidden
    opacity: 0
    transform: scale(.9)
    transition-duration: 0s, dur, dur
    transition-delay: dur, 0s, 0s

  &.kf-open::before
    content: ''
    position: absolute
    top: 'calc(100% - %s)' % menuGap
    left: -10px
    right: -10px
    height: 2 * menuGap

  .kf-dropdown-menu-item
    text-align: left

.kf-lh-cover-menu-btn
  vertical-align: top
  height: 2em
  width: (2em * 32 / 28)
  border: none
  padding: 0
  background-color: transparent
  background-repeat: no-repeat
  background-position: center
  background-size: auto 1.8em
  outline: none
  position: relative // to cover ::before on parent
  opacity: .8

  &:hover
  &:focus
  .kf-open>&
    opacity: .9

  &:hover:active
    opacity: 1

.kf-lh-subscribe-btn-wrap
  display: inline-block
  vertical-align: top
  position: relative // for .kf-lh-subscribed-msg
  opacity: .7

  &.for-owner
    margin-left: 0.9em

  &:hover
    opacity: .85

.kf-lh-subscribe-btn
  width: 1.8em
  height: 2em
  border: 0
  padding: 0
  background-color: transparent
  background-size: contain
  background-repeat: no-repeat

  &.svg-notification-off-white
    background-position: right

.kf-lh-subscribe-msg
  position: absolute
  left: 140%
  top: 50%
  transform: translateY(-50%)
  padding: 2px 7px 3px
  border-radius: 2px
  background-color: #fff
  font-size: 13px
  line-height: 17px
  color: #3e4955
  white-space: nowrap
  transition: opacity linear .1s, visibility .1s

  :not(:hover)+&
    opacity: 0
    visibility: hidden

.kf-lh-private
  display: inline-block
  margin-right: 1em
  line-height: 2em
  border-radius: 1em
  padding: 0 1em 0 2.3em
  background-position: .9em .46em
  background-size: .9em auto
  background-repeat: no-repeat
  background-color: libraryRed

  .kf-system-secret &
    display: none

  &::before
    content: 'Private'
    font-size: .9em
    color: #fff

coverPreviewDur = .6s

.kf-lh-cover-image
.kf-lh-cover-preview
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-size: cover
  background-repeat: no-repeat

.kf-lh-cover-image.ng-enter.kf-fade-in
.kf-lh-cover-image.ng-leave
.kf-lh-cover-preview.ng-enter
.kf-lh-cover-preview.ng-leave
  transition: opacity coverPreviewDur

.kf-lh-cover-image.ng-enter:not(.ng-enter-active)
.kf-lh-cover-image.ng-leave-active
.kf-lh-cover-preview.ng-enter:not(.ng-enter-active)
.kf-lh-cover-preview.ng-leave-active
  opacity: 0

coverDragShadeHeight = 3em

.kf-lh-cover-glass
  position: absolute
  z-index: 1
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.25)) 0 0 no-repeat
  background-size: 100% coverDragShadeHeight
  padding-top: .54em
  color: #fff
  text-align: center
  user-select: none

  &.ng-enter
  &.ng-leave
    transition: transform coverPreviewDur, opacity coverPreviewDur

  &.ng-enter:not(.ng-enter-active)
  &.ng-leave.ng-leave-active
    transform: translate(0, (-(coverDragShadeHeight)))
    opacity: 0

  &.kf-ns
    cursor: ns-resize
    cursor: -webkit-grab
    cursor: -moz-grab
    cursor: grab

  &.kf-ew
    cursor: ew-resize
    cursor: -webkit-grab
    cursor: -moz-grab
    cursor: grab

  &.kf-dragging
    cursor: -webkit-grabbing
    cursor: -moz-grabbing
    cursor: grabbing

.kf-lh-cover-prompt
  display: inline-block
  vertical-align: middle
  font-size: .9em

.kf-lh-cover-apply
.kf-lh-cover-cancel
  display: inline-block
  vertical-align: middle
  margin-left: 8px
  width: 56px
  border: 0
  border-radius: 4px
  line-height: 1.8
  font-size: .9em
  text-align: center
  user-select: none

.kf-lh-cover-apply
  $bg = #428bca
  background-color: $bg
  color: white
  margin-left: 16px

  &:hover:not([disabled])
    background-color: lighten($bg, 6%)

    &:active
      background-color: darken($bg, 4%)

.kf-lh-cover-cancel
  background-color: #fff
  color: #777

  &:hover:not([disabled])
    color: #333

    &:active
      background-color: darken(#fff, 4%)

.kf-lh-cover-progress
  height = 3px
  position: absolute
  top: coverDragShadeHeight
  left: 0
  width: 0
  height: height
  margin-top: (-(height))
  background: #7bacf1
  transition: width .2s linear

.kf-lh-cover-file
  position: absolute;
  height: 0
  width: 0
  overflow: hidden

.kf-lh-mid
  position: absolute
  bottom: -5.5em
  left: 0
  width: 100%
  text-align: center

  @media (max-width: 479px)
    z-index: 1

  @media (min-width: 480px)
    bottom: 9em

    .kf-system-main>&
    .kf-system-secret>&
      bottom: 3em

.kf-lh-icon
  position: absolute
  bottom: 100%
  left: 0
  right: 0
  height: 2.8em
  margin-bottom: .6em
  background-repeat: no-repeat
  background-position: center top
  background-size: contain
  opacity: .5

.kf-lh-name
  max-width: 96%
  width: 13.5em
  margin: 0 auto
  font: bold 3.2em/1.1 Lato, Helvetica, Arial, sans-serif
  color: #fff
  text-shadow: 1px 1px 1px rgba(0,0,0,.5)
  word-break: break-word

  &.kf-long-1
    width: 14.5em
    font-size: 2.8em

  &.kf-long-2
    width: 16em
    font-size: 2.6em

  @media (max-width: 479px)
    width: 94%
    font-size: 2.6em

    &.kf-long-1
      font-size: 2.4em

    &.kf-long-2
      font-size: 2.2em

.kf-lh-stats
  margin: 1.5em auto 0
  font-size: 1.4em
  white-space: nowrap

  @media (min-width: 480px)
    margin: .75em auto 0
    font-size: 1.2em

.kf-lh-stat
  color: #fff
  text-shadow: 1px 1px 1px rgba(0,0,0,.2)

  button&
    padding: 0
    border: 0
    background-color: transparent

    &:focus
      outline: thin dotted alpha(#fff,.5)

    &:hover
      text-decoration: underline

  &:not(:last-child)::after
    content: '\2022'
    margin: 0 .6em 0 .9em
    font-size: .5em
    vertical-align: .2em

    @media (min-width: 480px)
      margin: 0 1em 0 1.5em

.kf-lh-owner
.kf-lh-collabs
  margin-top: 2em

  @media (min-width: 480px)
    margin-top: 1.8em

    .kf-system-main &
    .kf-system-secret &
      display: none

.kf-lh-owner-image-wrap
  position: relative
  display: block
  margin: 0 5px

.kf-lh-collab-image-wrap
  position: relative
  display: inline-block
  margin: 0 5px

ownerImageDiam1 = 8em
ownerImageDiam2 = 3.6em
collabImageDiam1 = 4.6em
collabImageDiam2 = 3.6em

.kf-lh-owner-image-a
  display: block
  margin: 0 auto
  width: ownerImageDiam1

  &:focus
    outline-color: alpha(#fff,.5)

  @media (min-width: 480px)
    width: ownerImageDiam2
    margin-bottom: .4em

.kf-lh-collab-image-a
  display: block
  margin: 0 auto 3.2em
  width: collabImageDiam1

  &:focus
    outline-color: alpha(#fff,.5)

  @media (min-width: 480px)
    width: collabImageDiam2
    margin-bottom: .4em

.kf-lh-owner-image
  width: ownerImageDiam1
  height: ownerImageDiam1
  border-radius: 50%
  background-color: #555
  box-shadow: 0 1px 5px rgba(0,0,0,.2)

  @media (min-width: 480px)
    width: ownerImageDiam2
    height: ownerImageDiam2

.kf-lh-collab-image
  width: collabImageDiam1
  height: collabImageDiam1
  border-radius: 50%
  background-color: #555
  box-shadow: 0 1px 5px rgba(0,0,0,.2)

  @media (min-width: 480px)
    width: collabImageDiam2
    height: collabImageDiam2

.kf-lh-owner-name-wrap
  display: inline-block
  position: relative

.kf-lh-collab-name-wrap
  display: block
  position: relative

.kf-lh-owner-name
.kf-lh-collab-name
  color: #fff
  text-shadow: 1px 1px 1px rgba(0,0,0,.2)
  font-smoothing: auto

  &:hover
    text-decoration: underline

  &:focus
    outline-color: alpha(#fff,.5)

  @media (max-width: 479px)
    display: none

.kf-lh-owner-twitter-a
  position: absolute
  background-repeat: no-repeat

  @media (max-width: 479px)
    bottom: 2.6em
    left: -11.6em
    width: 4.8em
    height: 4.8em
    background-size: 2.5em auto
    background-color: #e1e8ed
    background-position: center
    border-radius: 50%
    box-shadow: 0 0 1px rgba(0,0,0,0.4)

    &:hover:not(:active)
      transform: scale(1.02)

  @media (min-width: 480px)
    top: .14em
    right: 100%
    margin-right: .3em
    width: 1.2em
    height: 1em
    background-size: contain

    &:hover:not(:active)
      transform: scale(1.1)

.kf-lh-more-collab
  width: 3.4em
  height: 3.4em
  padding: 0px
  margin-left: 5px
  border-radius: 50%
  border: 1px solid white
  color: white
  outline: none
  vertical-align: top
  box-shadow: 0 1px 5px rgba(0,0,0,.2)

  @media (min-width: 480px)
    background: none !important

  @media (max-width: 479px)
    width: 4.4em
    height: 4.4em
    margin-bottom: .4em

.kf-lh-add-collab-msg
  position: absolute
  top: 50%
  transform: translateY(-50%)
  width: 115px
  margin-left: 35px
  padding: 2px 7px 3px
  border-radius: 2px
  background-color: #fff
  font-size: 13px
  color: #3E4955
  opacity: 0
  visibility: hidden
  transition: opacity linear 0.1s, visibility linear 0.1s

.kf-lh-add-collab-button
  position: relative
  width: 3.4em
  height: 3.4em
  padding: 0px
  margin-left: 5px
  border: 1px dashed white
  outline: none
  border-radius: 50%
  vertical-align: top
  transition: opacity linear 0.1s
  box-shadow: 0 1px 5px rgba(0,0,0,.2)

  &:hover .kf-lh-add-collab-msg
    opacity: 1
    visibility: visible

  &.next-to-owner
    position: absolute
    top: 0px
    left: calc(50% + 35px)
    transform: translateX(-10px) scale(0.7)
    opacity: 1.0

    &:hover
      opacity: 1.0

  @media (min-width: 480px)
    background: none !important

  @media (max-width: 479px)
    width: 4.4em
    height: 4.4em
    opacity: 1
    margin-bottom: .4em

.kf-lh-add-collab-icon
  width: 1.73em
  height: 1em
  margin: 0 auto
  background-repeat: no-repeat
  background-size: cover

.kf-lh-desc-wrap-2
  position: relative
  border-top: .4em solid transparent
  text-align: center

  @media (max-width: 479px)
    padding: 5em 1.5em 0
    transition: padding-bottom .2s

    &.kf-long
      padding-bottom: 3em

  @media (min-width: 480px)
    border-top: none
    border-bottom: .4em solid transparent

.kf-lh-desc-wrap
  overflow: hidden

  @media (max-width: 479px)
    line-height: 1.4
    font-size: 1.4em
    color: #777
    font-smoothing: antialiased
    background-color: transparent !important

    .kf-long>&
      height: 4.2em

    :not(.kf-long)>&
      max-height: 4.2em

  width = 38em
  sideBorderWidth = 1em

  @media (min-width: 480px)
    position: absolute
    bottom: 0
    left: 50%
    transform: translate(-50%)
    width: width
    height: 5.2em
    line-height: 1.8
    border: solid transparent
    border-width: 0 sideBorderWidth 3em
    border-radius: 8px 8px 0 0
    color: #fff
    text-shadow: 1px 1px 1px rgba(0,0,0,.2)

    &.kf-expanded
    &.kf-expanded-add
    &.kf-expanded-remove
      border-top-width: 2.4em

  @media (min-width: 480px) and (max-width: 539px)
    // shaving a total of 3em from sideBorderWidth and .kf-lh-desc sidePad in order to
    // fully fit the desc within the small window width and avoid horizontal scrollbar.
    // taking ems from sides instead of from content to avoid changing wrapping and
    // thus potentially whether or not the description is elided.
    width: width - 3em
    border-left-width: sideBorderWidth - .5em
    border-right-width: sideBorderWidth - .5em

  &.kf-expanded-add
  &.kf-expanded-remove
    transition: height, background-color  // values and duration set from JS

.kf-lh-desc
  sidePad = 2.2em
  @media (min-width: 480px)
    max-height: 21em
    padding: 0 sidePad
    overflow: hidden

  @media (min-width: 480px) and (max-width: 539px)
    padding: 0 (sidePad - 1em)

  :not(.kf-expanded):not(.kf-expanded-add)>&
    display: -webkit-box
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical
    text-overflow: ellipsis

  .kf-expanded:not(.kf-expanded-remove)>&
    overflow: scroll

  &>p
    margin: 0

  a[href]
    color: inherit

    &:hover
      text-decoration: underline

.kf-lh-desc-toggle
  position: absolute
  left: 50%
  transform: translate(-50%)
  margin-top: .5em
  border: 0
  padding: .5em 1em
  background: transparent
  font-smoothing: antialiased

  @media (max-width: 479px)
    margin-top: 1em
    background-color: #e8e8e8
    border-radius: 8px
    color: #777

    &:hover
      background-color: #ececec

      &:active
        background-color: #e4e4e4

  @media (min-width: 480px)
    bottom: 1.3em
    color: #fff
    font-size: .75em
    text-shadow: 1px 1px 1px rgba(0,0,0,.2)

    &:hover
      text-decoration: underline

  :not(.kf-long)>&
    display: none

.kf-lh-desc-add
  border: 2px dashed
  border-radius: 16px
  background-color: transparent

  @media (max-width: 479px)
    display: block
    width: 80%
    margin: .5em auto 0
    border-color: #ccc
    line-height: 4
    font-size: 1.4em
    color: #777

  @media (min-width: 480px)
    position: absolute
    bottom: 2em
    left: 50%
    transform: translate(-50%)
    width: 30em
    line-height: 5
    border-color: #fff
    color: #fff
    text-shadow: 1px 1px 1px rgba(0,0,0,.2)

    &:hover
      background-color: alpha(#fff, .1)

      &:active
        background-color: alpha(#fff, .05)

.kf-lh-buttons
  padding-top: 1.8em
  text-align: center

buttonHeight = 32px
buttonFontSize = 13px
buttonBorderRadius = 12px
buttonSidePad = 15px
followBtnWidth = 7.6em

.kf-lh-follow-btn
.kf-lh-unfollow-btn
.kf-lh-buttons .library-share-button
  height: buttonHeight
  border-radius: buttonBorderRadius
  background-color: transparent
  padding: 0 buttonSidePad
  font-size: buttonFontSize

  &:hover
    background-color: alpha(#fff, .5)

    &:active
      background-color: alpha(#000, .02)

.kf-lh-follow-btn-wrap
  display: inline-block
  vertical-align: top
  line-height: 0
  position: relative // for .kf-lh-fbc

.kf-lh-follow-btn
  width: followBtnWidth
  border: 1px solid followBlue
  color: followBlue
  position: relative  // to stack in front of its hover callout

subsWidth = 32px
subsDur = .4s

.kf-lh-unfollow-btn-wrap
  display: inline-block
  vertical-align: top
  border-radius: buttonBorderRadius
  font-size: 13px  // same size as .kf-lh-follow-btn (a .kf-button)
  position: relative // for .kf-lh-subs and .kf-lh-subs-msg
  transform: translate(0) // crbug.com/157218

  &:not(.kf-overflowing)
    overflow: hidden

.kf-lh-unfollow-btn
  width: followBtnWidth
  border: 1px solid followBlue
  background-color: transparent
  background-image: none
  color: #20a1f1

  &::before
    content: 'Following'
    transition: transform subsDur

  :not(.kf-no-unfollow):hover>&
    border-color: redColor

    &::before
      content: 'Unfollow'
      display: inline-block
      transform: translate(subsWidth / -2.5)  // .5 fudge factor compensates for lack of rounded corners on right
      color: redColor

.kf-lh-subs-btn
  position: absolute
  top: 0
  right: 0
  bottom: 0
  width: subsWidth
  border: 0
  border-radius: 0 buttonBorderRadius buttonBorderRadius 0
  background-color: followBlue
  background-position: right 0.64em center
  background-size: 1.1em 1.01em
  background-repeat: no-repeat
  padding: 0
  transition: transform subsDur
  transform: translate(subsWidth)

  :not(.kf-no-unfollow):hover>&
    transform: none
    background-color: redColor

    &:hover
      background-color: tint(redColor, 5%)

      &:active
        background-color: shade(redColor, 2%)

  &.svg-notification-off-white
    background-position: right 0.62em center

.kf-lh-subs-msg
  position: absolute
  bottom: 120%
  left: 50%
  transform: translate(-50%)
  padding: 2px 7px 3px
  border-radius: 2px
  background-color: #fff
  color: #3e4955
  font-size: 13px
  white-space: nowrap
  box-shadow: 0 1px 3px rgba(0,0,0,.2)
  transition: opacity linear .1s, visibility .1s

  :not(:hover)+&
    opacity: 0
    visibility: hidden

.kf-lh-buttons
  .kf-library-share-search
    vertical-align: top
    text-align: left
    margin-left: 1em

  .library-share-button
    border-color: accentGreen
    color: accentGreen
    padding: 0 1.5em

    &>.kf-button-icon
      width: 15px
      margin-right: 2px

.kf-lh-edit-keeps
  float: left
  border-color: transparent
  border-left: 0
  border-right: 0
  padding-left: 29px
  padding-right: 0
  background-position: left center
  background-size: auto 15px
  background-repeat: no-repeat
  color: accentGreen

  &
  &:hover
  &:hover:active
    background-color: transparent

  &:hover
    text-decoration: underline

.kf-lh-buttons.kf-my-lib
  max-width: 538px // matching max-width of .kf-keep
  margin: 0 auto
  border: solid transparent
  border-width: 0 appSidePad1
  text-align: right

  @media (min-width: 796px)
    padding-right: 234px  // rightColWidth + colGapWidth


.kf-lh-invite-search-button
  height: buttonHeight
  padding: 0 buttonSidePad
  margin-left: 1em
  outline: none
  background: none
  border: 1px solid #56b263
  border-radius: buttonBorderRadius
  color: #56b263
  font-size: 13px
  vertical-align: top

  & .svg-share-arrow-green
    display: inline-block
    vertical-align: top
    width: 15px
    height: 16px
    background-size: cover
    margin-right: 5px
