<div class="kf-library-share-search" kf-wheel-stop>
  <button ng-if="!manageLibInvite" class="kf-button kf-button-text-optional library-share-button" ng-click="toggleMenu()">
    <span class="kf-button-icon {{btnIconClass || (isOwn ? 'svg-plus-people-green' : 'svg-share-icon')}}"></span> {{isOwn ? 'Invite followers' : 'Share'}}
  </button>
  <div class="library-share-menu">
    <header ng-if="!manageLibInvite" class="library-share-menu-header">{{isOwn ? 'Invite people to follow' : 'Share'}} this library</header>
    <div class="library-share-menu-content">
      <textarea ng-if="!manageLibInvite" class="library-share-input-box library-share-input library-share-message-input" ng-model="share.message" placeholder="Write something?"></textarea>
      <div class="library-share-input-box">
        <img ng-src="/img/spinner_32.gif" ng-show="showSpinner" class="library-share-search-spinner">
        <input type="text" ng-model="search.name" class="library-share-input library-share-search-input" placeholder="Search people" ng-change="onSearchInputChange()" ng-keydown="processKeyEvent($event)" ng-focus="onSearchInputFocus()">
        <span ng-if="manageLibInvite" class="library-share-search-icon svg-search-icon-gray"></span>
      </div>
      <ul class="library-share-contact-list" kf-wheel-allow>
        <li class="library-share-contact" ng-repeat="result in results" ng-mouseenter="onResultHover(result)" ng-mouseleave="onResultUnhover(result)" ng-class="{'library-share-selected': result.selected, 'library-share-actionable': result.actionable}">
          <!-- Kifi friend -->
          <div ng-if="result.id" class="library-share-contact-container library-share-kifi">
            <a href="{{result|profileUrl}}" ng-click="close()" kf-track-origin="{{currentPageOrigin}}/invitationDropdown">
              <img ng-src="{{result | pic:100}}" class="library-share-contact-image">
            </a>
            <div class="library-share-contact-summary">
              <div class="library-share-contact-name" ng-bind-html="result.name"></div>
              <div class="library-share-contact-network">Kifi user</div>
            </div>
            <button ng-show="!result.sent && !result.isFollowing" ng-click="shareLibraryKifiFriend(result)" class="kf-button library-share-contact-button">
              <span class="kf-button-icon svg-share-icon"></span>Send
            </button>
            <div ng-show="result.isFollowing" class="library-share-following">Following</div>
            <div ng-show="result.sent" class="library-share-sent">Sent!</div>
          </div>
          <!-- Existing email contact -->
          <div ng-if="!result.id && !result.custom" class="library-share-contact-container library-share-email">
            <div class="library-share-contact-email-icon"></div>
            <div class="library-share-contact-summary">
              <div class="library-share-contact-name" ng-bind-html="result.name || result.emailFormatted"></div>
              <div class="library-share-contact-network" ng-bind-html="result.name ? result.emailFormatted : 'An email contact'"></div>
            </div>
            <button ng-show="!result.sent" ng-click="shareLibraryExistingEmail(result)" class="kf-button library-share-contact-button">
              <span class="kf-button-icon svg-share-icon"></span>Send
            </button>
            <div ng-show="result.sent" class="library-share-sent">Sent!</div>
          </div>
          <!-- Send to any email -->
          <div ng-if="result.custom === 'email'" class="library-share-contact-container library-share-new-email">
            <div class="library-share-contact-new-email-icon"></div>
            <div class="library-share-contact-summary">
              <div class="library-share-contact-name">{{email}}</div>
              <div class="library-share-contact-network">{{emailHelp}}</div>
            </div>
            <button ng-show="!result.sent && !result.hideButton" ng-click="shareLibraryNewEmail(result)" class="kf-button library-share-contact-button">
              <span class="kf-button-icon svg-share-icon"></span>Send
            </button>
            <div ng-show="result.sent" class="library-share-sent">Sent!</div>
          </div>
          <!-- Import from Gmail -->
          <div ng-if="result.custom === 'importGmail'" ng-click="importGmail()" class="library-share-contact-container library-share-import-gmail">
            <div class="library-share-contact-gmail-icon"></div>
            <div class="library-share-contact-summary">
              <div class="library-share-contact-import-gmail">Import Gmail contacts</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
