.kf-library-mini-card
  position: relative
  height: 265px
  width: 350px
  border-radius: 5px
  box-shadow: 5px 5px 7px 4px rgba(0, 0, 0, .3)
  display: inline-block
  background-color: white
  opacity: 1.0

.kf-library-mini-card-curator
  position: relative
  top: 56px
  left: 20px
  color: white
  letter-spacing: 0.5px
  font-size: 16px

  .kf-library-mini-card-curator-img
    height: 36px
    width: 36px
    border: 2px solid #fff
    border-radius: 100%
    vertical-align: top
    margin-right: 7px

  .kf-library-mini-card-curator-info
    display: inline-block
    vertical-align: -18px
    font-size: 14px
    text-shadow: 0 0 8px #000

  .kf-library-mini-card-curator-heading
    font-weight: 200

  .kf-library-mini-card-curator-name
    font-weight: 800

.kf-library-mini-card-header
  height: 108px
  border-radius: 5px 5px 0 0
  border-bottom: 3px solid pageHeaderColor  // library color set inline
  background-color: pageHeaderColor
  background-size: cover

.kf-library-mini-card-name
  margin-left: 5px
  margin-right: 5px
  font-size: 15px
  font-weight: 700
  color: black
  cursor: pointer
  white-space: no-wrap
  overflow: hidden
  text-overflow: ellipsis

.kf-library-mini-card-stat
  display: inline-block
  height: 46px
  margin: 5px
  vertical-align: text-bottom

.kf-library-mini-card-vdivider
  background-color: #E2E7EC
  width: 1px
  margin: 11px
  height: 33px
  display: inline-block

.kf-library-mini-card-hdivider
  background-color: #E2E7EC
  width: 90%
  margin: auto
  height: 1px
  display: block

.kf-library-mini-card-body
  height: 88px
  padding-left: 30px
  padding-top: 18px

.kf-library-mini-card-stats-container
  margin-top: 12px

.kf-library-mini-card-stat-title
  font-weight: 400
  font-size: 14px
  color: #4F5864

.kf-library-mini-card-stat-num
  font-weight: 500
  font-size: 18px
  text-align: center
  color: #4F5864

.kf-library-mini-card-button
  color: #7eac4e
  float: right
  font-size: 12px
  padding: 5px 11px
  margin: 10px 17px
  border-radius: 3px
  background-color: #FBFBFB
  border: 1px solid #bbb

.kf-library-mini-card-button-follow::before
  content: "Follow"
  color: #FFFFFF

.kf-library-mini-card-button-follow
  background-color: #262626

.kf-library-mini-card-button-unfollow::before
  content: "Following"

.kf-library-mini-card-button-unfollow:hover::before
  content: "Unfollow"
  color: #F06A6E

.kf-library-mini-card-button-view
  color: #535353
