.library-visibility-input
  display: none

.library-visibility-custom-input
  position: relative
  display: inline-block
  margin: 0 10px 0 15px
  border-radius: 18px
  width: 55px
  height: 28px
  background-color: #6FCA72
  vertical-align: middle
  cursor: pointer

  &.kf-transitions
    transition: background-color 0.2s

  .library-visibility-input:checked ~ &
    background-color: libraryRed

    &::after
      transform: translate(28px)

  &::after
    position: absolute;
    bottom: 0
    left: 0
    border: 1px solid #eee
    border-radius: 50%
    width: 26px
    height: 26px
    background-color: #fff
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px
    content: '';

  &.kf-transitions::after
    transition: transform 0.2s

  &:focus::after
  &:hover::after
    background-color: #fefcf1

.library-visibility-custom-input-secret-background
  position: absolute
  left: 4px
  width: 50%
  height: 100%
  background-position: 8px 7px
  background-size: auto 12px
  background-repeat: no-repeat
