<div class="library-visibility-radio-settings-option clearfix">
  <label class="library-visibility-radio-label">
    <input type="radio" class="library-visibility-radio-input" ng-model="library.visibility" ng-value="'published'">
    <span class="library-visibility-radio-check"></span>
    <span class="library-visibility-option-text">Public</span>
  </label>
  <label class="library-visibility-radio-label">
    <input type="radio" class="library-visibility-radio-input" ng-model="library.visibility" ng-value="'organization'">
    <span class="library-visibility-radio-check"></span>
    <span class="library-visibility-option-text">Visible to Org</span>
  </label>
  <label class="library-visibility-radio-label">
    <input type="radio" class="library-visibility-radio-input" ng-model="library.visibility" ng-value="'secret'">
    <span class="library-visibility-radio-check"></span>
    <span class="library-visibility-option-text">Private</span>
  </label>
</div>
