.kf-library-visibility-selector
  max-width: 250px

  &.team-disabled
    .kf-library-visibility-selector-team
      .kf-library-visibility-selector-icon
        fill: textLightGrey

      .kf-library-visibility-selector-caption
        color: textLightGrey

.kf-triptych
  border-radius: defaultBorderRadius
  padding: defaultPadding
  box-sizing: border-box

.kf-library-visibility-selector-icon
  display: block
  margin: 0px auto
  width: 30px
  height: 30px

.kf-library-visibility-selector-caption
  text-align: center
  display: block
