<div kf-library-header ng-if="!librarySearch || !$root.userLoggedIn"
  library="library"
  username="username"
  library-slug="librarySlug"
  loading="loading"
  toggle-edit="toggleEdit"
  library-search="librarySearch"
></div>

<div class="kf-main-library-keeps" ng-class="{'library-search': librarySearch}">
  <div class="kf-library-body clearfix">
    <div ui-view></div>
    <div kf-related-libraries ng-if="relatedLibraries" ng-hide="librarySearch"
      related-libraries="relatedLibraries" parent-library="library">
    </div>
  </div>
</div>

<div class="kf-lib-info-footer" ng-if="!$root.userLoggedIn">
  <div class="first-line">
    <a class="kf-footer-item-link" target="_top" href="https://www.kifi.com/how_it_works">How it works</a> &middot;
    <a class="kf-footer-item-link" target="_top" href="https://www.kifi.com/about">About</a> &middot;
    <a class="kf-footer-item-link" target="_top" href="http://blog.kifi.com">Blog</a>
  </div>
  <span ng-if="!isMobile"> &middot; </span>
  <div class="second-line">
    <a class="kf-footer-item-link" target="_top" href="https://www.kifi.com/privacy">Privacy</a> &middot;
    <a class="kf-footer-item-link" target="_top" href="https://www.kifi.com/terms">Terms</a>
  </div>
</div>
