rightColWidth = 210px

.kf-lib-cols
  display: table
  margin: 0 auto
  padding: 10px appSidePad 0
  min-height: 100vh  // for auto-scrolling down to search results
  table-layout: fixed

.kf-lib-col
  display: table-cell
  vertical-align: top
  width: appMinWidth - rightColWidth
  max-width: appMinWidth - rightColWidth

.kf-lib-right-col
  display: table-cell
  vertical-align: top
  width: rightColWidth
  padding: 20px 0 0
  .kf-mobile &
    display: block
    width: auto
    padding: 0
    text-align: center

.kf-lib-footer
  padding-bottom: 30px
  text-align: center
  font-size: 13px

.kf-lib-footer-1
  display: inline-block

.kf-lib-footer-2
  display: inline-block

.kf-lib-footer-a
  color: linkBlueColor
  margin: 0 10px
