.kf-lh-wrapper
  background: #fff

.kf-lh
  max-width: appMaxWidth
  box-sizing: border-box
  margin: 0 auto
  padding: 0 appSidePad1

  @media (min-width: appSidePad2MinWidth)
    padding: 0 appSidePad2

lh-cover-image-dur = .6s

.kf-lh-color
  height: 1px

  @media (min-width: 480px)
    height: 2px

  @media (min-width: 720px)
    height: 3px

  .kf-loaded &
    transition: height
    transition-duration: lh-cover-image-dur

  &.kf-above-image
    height: 3px

    @media (min-width: 480px)
      height: 4px

    @media (min-width: 560px)
      height: 5px

    @media (min-width: 720px)
      height: 6px

.kf-lh-cover-image
  height: 120px
  background-color: #eee
  background-size: cover
  position: relative

  @media (min-width: 480px)
    height: 150px

  @media (min-width: 560px)
    height: 180px

  @media (min-width: 720px)
    height: 210px

  .kf-loaded &.ng-enter
  .kf-loaded &.ng-leave
    overflow: hidden
    transition: height, margin, opacity
    transition-duration: lh-cover-image-dur

  .kf-loaded &.ng-enter:not(.ng-enter-active)
  .kf-loaded &.ng-leave.ng-leave-active
    height: 0
    margin: 0
    opacity: 0

  &.kf-ns
    cursor: ns-resize
    cursor: -webkit-grab
    cursor: -moz-grab
    cursor: grab

  &.kf-ew
    cursor: ew-resize
    cursor: -webkit-grab
    cursor: -moz-grab
    cursor: grab

  &.kf-dragging
    cursor: -webkit-grabbing
    cursor: -moz-grabbing
    cursor: grabbing

cover-image-adjust-width = 35px
cover-image-adjust-right = 24px
.kf-lh-cover-image-adjust
  position: absolute
  bottom: 12px
  right: cover-image-adjust-right
  height: 31px
  width: cover-image-adjust-width
  background: url(/img/camera-over.svg) center no-repeat
  background-size: 33px 29px
  outline: none
  transform: scale(.8)
  transition: opacity, transform
  transition-duration: .2s

  :hover>&
    transition-duration: 20ms

  &:not(:hover):not(:focus):not(.kf-active)
    opacity: .8

  :not(:hover):not(.kf-fake-hover)>&:not(:focus):not(.kf-active)
    transform: scale(.3)
    opacity: 0

  &.ng-enter
    transition-duration: .16s
    transform-origin: center bottom
    &:not(.ng-enter-active)
      transform: scale(.3) translate(0, 40%) !important

  &:hover:active
  &.kf-active
    opacity: 1 !important

.kf-lh-cover-image-menu
  width = 100px
  position: absolute
  bottom: 52px
  right: ((cover-image-adjust-width - width) / 2) + cover-image-adjust-right
  width: width
  border: 1px solid #ccc
  border-radius: 6px
  padding: 3px 0
  background: #fff
  box-shadow: 0 1px 4px rgba(0,0,0,.2)

  &.ng-enter
  &.ng-leave
    transition: opacity .16s, transform .16s
    transform-origin: center bottom

  &.ng-enter:not(.ng-enter-active)
  &.ng-leave.ng-leave-active
    transform: scale(.4) translate(0,16px)
    opacity: 0

.kf-lh-cover-image-menu-opt
  display: block
  font-size: 13px
  line-height: 28px
  text-align: center
  color: #333

  &:not(:last-of-type)
    border-bottom: 1px solid #ccc

  &:hover
  &.kf-hover
    background-color: #f2f2f2

.kf-lh-cover-image-menu-tri
  position: absolute
  height: 18px
  width: 36px
  left: 50%
  margin-left: -18px
  bottom: -18px
  overflow: hidden
  border-color: inherit

  &::after
    content: ''
    position: absolute
    height: 18px
    width: 18px
    left: 9px
    top: -14px
    box-sizing: border-box
    box-shadow: 1px 2px 12px rgba(0,0,0,.2)
    border: 1px solid
    border-color: inherit
    background-color: #fff
    transform: rotate(45deg)

.kf-lh-cover-image-preview
  height = 44px
  position: absolute
  bottom: 0
  left: 0
  right: 0
  height: height
  line-height: height
  overflow: hidden
  padding: 0 16px
  background-color: rgba(0,0,0,.25)
  color: #fff
  text-align: right
  font-size: 14px
  user-select: none
  transition: height, opacity
  transition-duration: .2s

  &.ng-enter:not(.ng-enter-active)
  &.ng-leave.ng-leave-active
    height: 0
    opacity: 0

.kf-lh-cover-image-apply
.kf-lh-cover-image-cancel
  display: inline-block
  vertical-align: top
  margin: 8px 0 8px 8px
  width: 56px
  border-radius: 4px
  line-height: 28px
  font-size: 12px
  text-align: center
  user-select: none

.kf-lh-cover-image-apply
  $bg = #428bca
  background-color: $bg
  color: white
  margin-left: 16px

  &:hover
    background-color: lighten($bg, 6%)

    &:active
      background-color: darken($bg, 4%)

.kf-lh-cover-image-cancel
  background-color: #fff
  color: #777

  &:hover
    color: #333

    &:active
      background-color: darken(#fff, 4%)

.kf-lh-cover-image-progress
  position: absolute
  top: 100%
  left: 0
  width: 0
  height: 3px
  background: #7bacf1
  transition: width .2s linear

  &.kf-done
    width: 100% !important
    transition: width .16s ease-in

  &.kf-fail
    background: #b00
    width: 0 !important
    transition: width .4s ease-in

  &.ng-leave
    transition: transform .6s

  &.ng-leave-active
    transform-origin: top
    transform: scale(1, 0)

.kf-lh-cover-image-error
  position: absolute
  right: 24px
  border-radius: 5px
  margin-top: 44px
  padding: 3px 10px
  background-color: redColor
  font-size: 13px
  color: #fff
  z-index: 10

  .kf-lh-cover-image+&
    margin-top: -6px

  &.ng-enter
  &.ng-leave
    transition: opacity .5s

  &.ng-enter:not(.ng-enter-active)
  &.ng-leave.ng-leave-active
    opacity: 0

.kf-lh-cover-image-add
  float: right
  margin-top: 15px
  line-height: 36px
  padding: 0 6px 0 40px
  color: #333
  font-size: 14px
  outline: none !important
  position: relative
  z-index: 1

  &:hover
  &:focus
    color: #006bb2

  .kf-loaded &.ng-enter
  .kf-loaded &.ng-leave
    transition: opacity lh-cover-image-dur, transform lh-cover-image-dur

  .kf-loaded &.ng-enter:not(.ng-enter-active)
  .kf-loaded &.ng-leave.ng-leave-active
    transform: scale(.4)
    opacity: 0

  &::before
    content: ''
    position: absolute
    height: 31px
    width: 35px
    top: 2px
    left: 2px
    background: url(/img/camera-line.svg) center no-repeat
    background-size: 33px 29px
    transform: scale(.8)

  &:not(:hover):not(:focus)::before
    opacity: .8

.kf-lh-cover-image-file
  position: absolute;
  height: 0
  width: 0
  overflow: hidden

invite-banner-orange = #ff7c3c

.kf-lh-invite-banner
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px
  padding: 10px 32px
  max-height: 200px
  background-color: invite-banner-orange
  opacity: 1

  &.ng-hide
    transition: opacity .4s, max-height .4s .4s
    max-height: 0
    opacity: 0

.kf-lh-invite-banner-info
  font-size: 13px
  color: #fff
  line-height: 25px

.kf-lh-invite-banner-button
  float: right
  margin-left: 10px
  border: 1px solid #fff
  border-radius: 5px
  padding: 5px 15px
  font-size: 11px

  &.kf-lh-invite-banner-accept
    background: #fff
    color: invite-banner-orange

  &.kf-lh-invite-banner-ignore
    background: invite-banner-orange
    color: #fff

.kf-lh-name
  padding: 20px 0 12px
  font: bold 22px/1.23em Merriweather, Lato, Helvetica, Arial, sans-serif
  text-align: center
  word-break: break-word

  @media (min-width: 480px)
    padding: 23px 0 14px
    font-size: 28px

  @media (min-width: 560px)
    padding: 26px 0 17px
    font-size: 36px

  @media (min-width: 720px)
    padding: 28px 0 19px
    font-size: 42px

.kf-lh-info
  margin-top: 16px
  color: kifiBlack
  vertical-align: top

  @media (min-width: 480px)
    padding-top: 5px

.kf-lh-private-wrap
  position: absolute
  left: 0
  right: 0
  text-align: center

.kf-lh-private
  display: inline-block
  line-height: 42px
  border-radius: 21px
  padding: 0 20px 0 44px
  background-position: 19px 11px
  background-size: 14px auto
  background-repeat: no-repeat
  background-color: libraryRed
  color: #fff
  font-size: 16px

.kf-lh-owner
  position: relative
  padding-bottom: 2px
  text-align: center

  @media (min-width: 480px)
    padding-bottom: 10px
    text-align: initial

.kf-lh-owner-image-a
  display: inline-block

  @media (min-width: 480px)
    margin-right: 10px

.kf-lh-owner-image
  display: inline-block
  width: 64px
  height: 64px
  border-radius: 50%

  @media (min-width: 480px)
    width: 42px
    height: 42px

.kf-lh-owner-text
  margin-top: 10px
  line-height: 14px
  font-size: 12px

  @media (min-width: 480px)
    margin-top: 0
    display: inline-block
    vertical-align: middle
    line-height: 18px
    font-size: 14px

.kf-lh-owner-name
.kf-lh-twitter-screenname
  color: #939393

.kf-lh-twitter
  display: inline-block
  margin-left: 15px

  &:hover .kf-lh-twitter-img
    background-color: #e0e0e0

  @media (max-width: 480px)
    margin-left: 0px

  .kf-lh-twitter-text
    display: inline-block
    vertical-align: middle
    margin-left: 8px

    @media (max-width: 480px)
      margin-top: -15px
      margin-left: 0px

.kf-lh-twitter-img
  display: inline-block
  background-color: #ededed
  border-radius: 50%
  height: 42px
  width: 42px
  vertical-align: -17px

  @media (max-width: 480px)
    display: none

.kf-lh-twitter-logo
  position: relative
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 20px
  height: 18px
  background-size: cover

.kf-lh-desc-wrap
  padding-bottom: 5px

.kf-lh-desc-more
  font-size: 11px

.kf-lh-desc
  margin: 1em 0
  line-height: 1.42
  font-size: 12px

  @media (min-width: 480px)
    font-size: 13px

  @media (min-width: 560px)
    font-size: 14px

  @media (min-width: 720px)
    font-size: 16px

  &>p
    margin: .5em 0

.kf-lh-stats-line
  box-shadow: 0 -.5px #dadae2
  text-align: center

  @media (min-width: 480px)
    box-shadow: 0 -1px #dadae2
    display: table
    width: 100%
    height: 72px
    text-align: initial

.kf-lh-stats
  padding-top: 10px
  white-space: nowrap

  @media (min-width: 480px)
    display: table-cell
    padding-top: 15px
    vertical-align: top
    width: 1%

.kf-lh-stat
  display: inline-block
  padding: 0 10px
  font-size: 10px

  @media (min-width: 480px)
    padding: 0 20px 0 5px
    font-size: 12px

a.kf-lh-stat
  color: inherit
  font-smoothing: inherit

.kf-lh-stat-name
  display: block
  color: textDarkGrey
  text-transform: uppercase

.kf-lh-stat-val
  display: block
  padding-top: 3px
  font-size: 15px
  font-weight: bold
  text-align: center

  @media (min-width: 480px)
    font-size: 16px

  :hover>&
    text-decoration: underline

.kf-lh-stats-line>.kf-lfp
  padding: 10px 0

  @media (min-width: 480px)
    display: table-cell
    width: 99%
    vertical-align: middle

.kf-lh-buttons
  border-top: 1px solid #f5f5f5
  padding: 12px 0
  line-height: 26px
  font-size: 0

  @media (min-width: 480px)
    border-top-width: 2px
    padding: 15px 0
    line-height: 37px

  .kf-button
    &:not(:last-child):not(.library-share-contact-button)
      margin-right: 10px

      @media (min-width: 480px)
        margin-right: 15px

  .kf-button-text-optional
    @media (max-width: (480px - 1px))
      font-size: 0

      .kf-button-icon
        margin: 0

  a:active
    color: #92add3

  .kf-library-share-search
    vertical-align: top

.kf-lh-share-external
  .kf-logged-out &
    background: #5b6273
    border-color: #5b6273
    color: #fff
    font-smoothing: antialiased

  .kf-logged-in &>.svg-twitter-white
  .kf-logged-in &>.svg-facebook-white
  .kf-logged-out &>.svg-twitter
  .kf-logged-out &>.svg-facebook
    display: none

  @media (max-width: (480px - 1px))
    .kf-button-icon
      width: 16px

.kf-lh-buttons .library-share-button
.kf-lh-manage-btn
  @media (max-width: 640px)
    font-size: 0

    .kf-button-icon
      margin: 0

.kf-lh-follow-btn-wrap
  display: inline-block
  vertical-align: top
  line-height: 0
  z-index: 501

  .kf-logged-out &
    position: relative

  .kf-loh-right>&
    position: absolute
    top: 14px
    right: 0

    @media (max-height: appHeaderHeight1MaxDim) and (max-width: appHeaderHeight1MaxDim)
      top: 10px

.kf-lh-buttons .kf-button
.kf-lh-follow-btn
.kf-lh-unfollow-btn
  @media (max-width: (480px - 1px))
    height: 26px
    line-height: 26px
    border-radius: 3px
    padding: 0 10px

.kf-lh-follow-btn
.kf-lh-unfollow-btn
  width: 92px

  @media (max-width: (480px - 1px))
    width: 84px
    font-size: 11px

.kf-lh-follow-btn
  border-color: transparent
  background: #008aee
  color: #fff
  position: relative  // to stack in front of its hover callout

  &::before  // moves the text slightly right
    content: ''
    padding-left: 2px

.kf-lh-unfollow-btn
  border-color: #20a1f1
  background: #fff
  color: #20a1f1

  &:hover
    border-color: redColor

  &::after
    content: 'Following'

  &:hover::after
    content: 'Unfollow'
    color: redColor
