

.kf-library-mini-card
  position: relative
  height: 265px
  width: 350px
  border-radius: 5px
  box-shadow: 5px 5px 7px 4px #ccc
  display: inline-block
  background-color: white
  opacity: 1.0

  hr
    width: 95%

.kf-library-mini-card-visbility
  background-color: #62BD70
  height: 56px
  width: 43px
  position: absolute
  top: -20px
  left: 20px

.kf-library-mini-card-curator
  position: relative
  top: 57px
  left: 20px
  color: white
  letter-spacing: 0.5px
  font-size: 16px

  img
    height: 36px
    width: 36px
    border-radius: 100%
    vertical-align: top
    margin-right: 7px

.kf-library-mini-card-header
  height: 105px
  background-color: #262626
  border-radius: 5px 5px 0px 0px

.kf-library-mini-card-name
  font-size: 15px
  color: black

.kf-library-mini-card-stat
  display: inline-block
  height: 46px
  margin: 5px
  vertical-align: text-bottom

.kf-library-mini-card-divider
  background-color: #E2E7EC
  width: 1px
  margin: 11px
  height: 33px
  display: inline-block

.kf-library-mini-card-body
  height: 90px
  padding-left: 30px
  padding-top: 25px


.kf-library-mini-card-stat-title
  font-weight: 400
  font-size: 14px
  color: #4F5864

.kf-library-mini-card-stat-num
  font-weight: 500
  font-size: 18px
  text-align: center
  color: #4F5864

.kf-library-mini-card-button
  color: #7eac4e
  float: right
  font-size: 12px
  padding: 5px 11px
  margin: -2px 10px
  border-radius: 3px
  background-color: #FBFBFB
  border: 1px solid #bbb

.kf-library-mini-card-button::before
  content: "Following"

.kf-library-mini-card-button:hover::before
  content: "Unfollow"
  color: #F06A6E


