.library-followers
  .dialog-content
    padding-bottom: 0

  .dialog-body-wrap
    margin: 0
    padding: 0

  .dialog-body
    padding: 0
    overflow: hidden

  .lib-followers-info
    padding: 25px 115px
    background-color: #f3f5f7
    text-align: center

  .lib-followers-stats
    margin: 0 0 8px 0
    font-size: 14px
    font-weight: 700
    color: #5c6373

  .lib-followers-content
    margin-bottom: 10px
    position: relative
    height: 350px
    overflow: hidden

  .lib-followers-content-list
    margin-top: 10px
    height: 100%
    overflow-y: auto
    overflow-x: hidden

  .lib-follower
    position: relative
    box-sizing: border-box
    margin: 0 20px
    padding: 12px 20px
    border-bottom: 1px solid #c7c7c7
    width: calc(100% - 40px)
    height: 65px
    background: #fff

    &.lib-owner
      font-weight: bold
      background-color: #f8f8f8

  .lib-follower-image
    display: inline-block
    margin-right: 20px
    border-radius: 100%
    width: 42px
    height: 42px

  .lib-follower-name
    display: inline-block
