.kf-lk-empty
  margin-left: 32px
  margin-top: 25px
  line-height: 2.7em
  font-weight: 300

  .sprite-add-link
    margin-right: 17px
    position: relative
    left: 4px

  .sprite-import-bookmarks-icon
  .sprite-import-from-other-services-icon
    margin-right: 12px

  .sprite-install-extension-icon
    margin-right:16px
    position: relative
    left: 3px

.kf-lk-empty-btn
  border: 0
  padding: 0
  background-color: transparent
  color: linkColor
  font-smoothing: antialiased

  &:hover
    text-decoration: underline

html[data-kifi-ext] .kf-lk-empty-install
  display: none
