<form class="kf-lpp-message">
  <p class="kf-lpp-header">This is a private library. To access:</p>
  <ul class="kf-lpp-directions">
    <li>1. Copy the pass phrase from the invitation email</li>
    <li>2. Paste it below and hit the 'Let me in' button</li>
  </ul>
  <br>
  <span class="kf-lpp-input-box">
    <span class="kf-lpp-lock-icon sprite svg-white-lock"></span>
    <input ng-model="passphrase.value" type="text" name="name" placeholder="Enter pass phrase here" autocomplete="off" novalidate>
  </span>
  <button class="kf-lpp-button" ng-click="submitPassPhrase()">
    <span class="kf-lpp-key-icon sprite svg-white-key"></span>
    <span class="kf-lpp-key-text">Let me in</span>
  </button>
  <div class="kf-lpp-example">Example: "hot yellow car"</div>
  <div class="kf-lpp-error clearfix" ng-if="showErrorMessage">
    Oops, that didn’t work. Try again?<br>
    Check the email you received for the correct pass phrase.
  </div>
</form>
