<div class="kf-keep library-card" ng-class="{ 'loggedOutUser': isUserLoggedOut, 'library-search-in-progress': librarySearchInProgress }">
  <div ng-show="library.invite && !library.invite.actedOn" class="library-card-invite-header">
    <button class="library-card-invite-header-button library-card-invite-header-accept" ng-click="acceptInvitation(library)">Accept</button>
    <button class="library-card-invite-header-button library-card-invite-header-ignore" ng-click="ignoreInvitation(library)">Ignore</button>
    <span class="library-card-invite-header-info">{{library.invite.inviterName}} has invited you to follow this library</span>
  </div>
  <div class="kf-keep-body">
    <div class="kf-keep-lib-header">
      <div ng-if="!isUserLoggedOut" ng-switch="library.kind" class="kf-keep-lib-icon-container">
        <div ng-switch-when="system_main" class="kf-keep-lib-icon svg-main-library-big"></div>
        <div ng-switch-when="system_secret" class="kf-keep-lib-icon svg-secret-library-big"></div>
        <div ng-switch-default ng-switch="library.visibility">
          <div ng-switch-when="published" class="kf-keep-lib-icon svg-public-library-big"></div>
          <div ng-switch-when="secret" class="kf-keep-lib-icon svg-private-library-big"></div>

          <!-- TODO: remove this when we've converted all discoverable libraries to public libraries in the db. -->
          <div ng-switch-when="discoverable" class="kf-keep-lib-icon svg-yellow-card-with-globe"></div>
        </div>
      </div>

      <div ng-switch="recommendation" class="kf-keep-lib-name-container kf-keep-title">
        <a ng-switch-when="true" class="kf-keep-lib-name" ng-href="{{library.url}}" ng-attr-title="{{library.name}}" ng-bind-html="library.name"></a>
        <span ng-switch-when="false" class="kf-keep-lib-name" title="{{library.name}}" kf-ellipsis full-text="library.name" max-num-lines=2 num-reloads=3></span>
      </div>
    </div>

    <div class="kf-keep-lib-info">
      <div class="kf-keep-lib-owner" itemscope itemtype="http://data-vocabulary.org/Person">
        <img ng-src="{{library.owner.picUrl || 'https://www.kifi.com/assets/img/ghost.200.png'}}" class="kf-keep-lib-user-image" itemprop="photo" alt="{{library.owner.firstName}} {{library.owner.lastName}}">
        <div class="kf-keep-lib-owner-text">
          <div class="kf-keep-lib-curator">Curator:</div>
          <div class="kf-keep-lib-owner-name" itemprop="name">{{library.owner.firstName}} {{library.owner.lastName}}</div>
        </div>

        <div ng-if="!recommendation && isUserLoggedOut" class="kf-keep-lib-search">
          <input class="kf-keep-lib-search-input" type="text" placeholder="Search this library" ng-model="search.text" ng-focus="onSearchInputFocus()" ng-blur="" ng-change="onSearchInputChange(search.text)" ng-keydown="">
        </div>

        <a class="dialog-x" href="javascript:" ng-click="onSearchExit()"></a>
      </div>

      <div ng-switch="clippedDescription" class="kf-keep-lib-description-container">
        <p ng-switch-when="true" class="kf-keep-lib-description">
          <span ng-bind-html="library.shortDescription"></span>&hellip;
          <a href="javascript:" class="kf-desc-more" ng-click="showLongDescription()">More</a>
        </p>
        <p ng-switch-when="false" class="kf-keep-lib-description" ng-bind-html="library.formattedDescription"></p>
      </div>

      <div class="kf-keep-lib-stats-and-followers">
        <div class="kf-keep-lib-metrics">
          <div class="kf-keep-lib-keeps-followers-stats">
            <span class="kf-keep-lib-stats-heading">Keeps</span>
            <span class="kf-keep-lib-stats-number">{{library.numKeeps}}</span>
          </div>

          <div ng-if="isUserLibrary(library)" class="kf-keep-lib-keeps-followers-stats">
            <span class="kf-keep-lib-stats-heading">Followers</span>
            <span class="kf-keep-lib-stats-number">{{library.numFollowers}}</span>
          </div>
        </div>

        <div class="kf-keep-lib-follower-preview">
          <div class="kf-keep-lib-follower-pics">
            <span ng-repeat="follower in followersToShow" itemscope itemtype="http://data-vocabulary.org/Person">
              <img ng-src="{{follower.picUrl || 'https://www.kifi.com/assets/img/ghost.200.png'}}"
                class="kf-keep-lib-user-image"
                kf-who-tooltip
                keeper="follower"
                ng-mouseenter="showTooltip()"
                ng-mouseleave="hideTooltip()"
                ng-click="hideTooltip()"
                itemprop="photo"
                alt="{{follower.firstName}} {{follower.lastName}}"
              ><meta itemprop="name" content="{{follower.firstName}} {{follower.lastName}}" />
            </span>
          </div>
          <div ng-if="numAdditionalFollowers" class="kf-keep-lib-additional-followers" ng-click="showFollowers()">
            <span class="kf-keep-lib-additional-followers-text">+ {{numAdditionalFollowers}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img ng-if="magicImage" class="kf-keep-lib-image" ng-src="{{magicImage}}" alt="{{library.name}}">
  <div class="kf-keep-footer clearfix">
    <button ng-if="isMyLibrary(library) && isUserLibrary(library)" class="kf-keep-lib-footer-button kf-keep-lib-footer-button-right library-button-with-icon" ng-click="manageLibrary()">
      <span class="kf-keep-lib-footer-button-icon svg-pen"></span>Manage Library
    </button>
    <button ng-if="isMyLibrary(library) && library.numKeeps > 0" class="kf-keep-lib-footer-button kf-keep-lib-footer-button-right kf-keep-lib-edit-keeps-button" ng-click="toggleEditKeeps()">
      {{editKeepsText}}
    </button>
    <button kf-sticky sticky-if="isUserLoggedOut" max-top="followButtonMaxTop" sticky-width-mode="ignored" on-stick="followStick"
        ng-class="{stickable: isUserLoggedOut}" ng-if="canFollowLibrary(library)" ng-click="followLibrary(library)"
        class="kf-keep-lib-footer-button kf-keep-lib-footer-button-right kf-keep-lib-footer-button-follow-unfollow kf-keep-lib-footer-button-follow">
      Follow Library
    </button>
    <button ng-if="alreadyFollowingLibrary(library)" class="kf-keep-lib-footer-button kf-keep-lib-footer-button-right kf-keep-lib-footer-button-follow-unfollow kf-keep-lib-footer-button-unfollow" ng-click="unfollowLibrary(library)"></button>
    <div ng-if="canBeShared(library)" kf-library-share-search library="library" class="kf-keep-lib-footer-button-right"></div>

    <button ng-if="isPublic(library)" class="kf-keep-lib-footer-button library-button-with-icon kf-keep-lib-footer-twitter-button">
      <a class="kf-keep-lib-footer-share-link" ng-href="https://twitter.com/intent/tweet?original_referer={{library.shareUrl}}&text={{library.shareText}}&tw_p=tweetbutton&url={{library.shareTwitterUrl}}" ng-click="shareTwitter()">
        <span class="kf-keep-lib-footer-button-icon svg-twitter"></span>
        <span class="kf-keep-lib-footer-button-icon svg-twitter-white"></span><!-- for non-logged-in users -->
        <span class="kf-keep-lib-footer-share-link-text">Tweet</span>
      </a>
    </button>
    <button ng-if="isPublic(library)" ng-click="shareFB()" class="kf-keep-lib-footer-button library-button-with-icon kf-keep-lib-footer-facebook-button">
      <span class="kf-keep-lib-footer-button-icon svg-facebook"></span>
      <span class="kf-keep-lib-footer-button-icon svg-facebook-white"></span><!-- for non-logged-in users -->
      <a class="kf-keep-lib-footer-share-link-text" href="javascript:">Post</a>
    </button>
  </div>
</div>
