.kf-library-visibility-selector
  .kf-row
    max-width: 335px
    margin-left: -20px
    margin-top: -20px

  .kf-triptych.disabled
    cursor: no-drop

    .kf-library-visibility-selector-icon
      fill: textLightGrey

    .kf-library-visibility-selector-caption
      color: textLightGrey

    &:hover
      background: none

  input[type="radio"]
    display: none

.kf-triptych
  border-radius: defaultBorderRadius
  padding: defaultPadding
  box-sizing: border-box
  text-align: center


  &:hover
    background: lighten(textLightGrey, 75%)
    cursor: pointer

.kf-library-visibility-selector-icon
  display: block
  margin: 0px auto
  width: 30px
  height: 30px

.kf-library-visibility-selector-checkbox
  display: block

.kf-library-visibility-selector-caption
  display: inline-block

.kf-library-visibility-selector-team.active
  .kf-library-visibility-selector-icon
    fill: readableYellowColor

  .kf-library-visibility-selector-caption
    color: readableYellowColor

.kf-library-visibility-selector-public.active
  .kf-library-visibility-selector-icon
    fill: accentGreen

  .kf-library-visibility-selector-caption
    color: accentGreen

.kf-library-visibility-selector-private.active
  .kf-library-visibility-selector-icon
    fill: libraryRed

  .kf-library-visibility-selector-caption
    color: libraryRed

.kf-library-visibility-selector-helptext
  color: libraryGray
  margin-top: 0
