<div class="kf-keep-lib-follower-preview">
  <div class="kf-keep-lib-follower-pics">
    <span ng-repeat="follower in followersToShow">
      <a href="{{follower.profileUrl}}"
         kf-track-origin origin="{{currentPageOrigin}}/follower">
        <img ng-src="{{follower.picUrl || 'https://www.kifi.com/assets/img/ghost.200.png'}}"
          class="kf-keep-lib-user-image"
          kf-who-tooltip
          keeper="follower"
          ng-mouseenter="showTooltip()"
          ng-mouseleave="hideTooltip()"
          ng-click="hideTooltip()"
          alt="{{follower.firstName}} {{follower.lastName}}"
        ></a>
    </span>
  </div>
  <div ng-if="numAdditionalFollowers" class="kf-keep-lib-additional-followers" ng-click="showFollowers()">
    <span class="kf-keep-lib-additional-followers-text">+ {{numAdditionalFollowers}}</span>
  </div>
</div>
