<div>
  <button class="kf-library-share-btn">Send</button>
  <div class="kf-library-share-menu social-invite-search">
    <input type="text" ng-model="search.name" placeholder="Search for users" ng-focus="onInputFocus()" ng-change="change()" ng-keydown="processKeyEvent($event)">
    <ul class="social-invite-dropdown">
      <li class="social-invite-element" ng-repeat="result in results" ng-click="shareLibrary(result)" ng-mouseenter="onResultHover(result)" ng-class="{'selected': result.selected}">
        <div ng-if="result.id">
          <img ng-src="{{result.image || 'https://www.kifi.com/assets/img/ghost.200.png'}}" class="social-invite-image">
          <div>
            <div class="social-invite-summary">
              <div class="social-invite-name">{{result.name}}</div>
              <div class="social-invite-network">
                Your friend on Kifi
              </div>
            </div>
          </div>
          <div ng-show="result.sent" class="kf-library-share-sent">Sent!</div>
        </div>
        <div ng-if="!result.id">
          <!-- TODO: use a better class name than cant-find; it actually shrinks the image and 
               is not necessarily related to not being able to find contacts.-->
          <img src="/img/email-icon.png" class="social-invite-image cant-find">
          <div class="social-invite-summary">
            <div class="social-invite-name">Email to</div>
            <div class="social-invite-network">
              {{result.name || result.email}}
            </div>
          </div>
          <div ng-show="result.sent" class="kf-library-share-sent">Sent!</div>
        </div>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>
</div>
