<div class="kf-lh-wrapper">
  <div class="kf-lh kf-width-bounded" itemscope itemtype="http://schema.org/CollectionPage">
    <meta itemtype="url" content="{{library.shareUrl}}" />
    <div class="kf-lh-card">
      <div class="kf-lh-invite-banner" ng-if="library.invite && !library.invite.actedOn">
        <button class="kf-lh-invite-banner-button kf-lh-invite-banner-accept" ng-click="acceptInvitation()">Accept</button>
        <button class="kf-lh-invite-banner-button kf-lh-invite-banner-ignore" ng-click="ignoreInvitation()">Ignore</button>
        <span class="kf-lh-invite-banner-info">{{library.invite.inviterName}} has invited you to follow this library</span>
      </div>
      <div class="kf-lh-body">
        <h1 class="kf-lh-name" itemtype="name">{{library.name}}</h1>

        <div class="kf-lh-color" ng-class="{'kf-above-image': coverImageUrl || coverImagePreview}" style="background-color:{{library.color}}"></div>
        <div ng-if="coverImageUrl || coverImagePreview" class="kf-lh-cover-image" ng-style="{'background-image':'{{coverImageUrl ? 'url(' + coverImageUrl + ')' : ''}}','background-position':'{{coverImagePos}}'}" itemtype="image">
          <a ng-if="isMyLibrary() && !coverImagePreview" class="kf-lh-cover-image-adjust" href="javascript:" ng-mousedown="onCoverImageAdjustEngage($event)" ng-click="onCoverImageAdjustEngage($event)"></a>
          <div ng-if="coverImageMenuShowing" class="kf-lh-cover-image-menu">
            <a class="kf-lh-cover-image-menu-opt kf-lh-cover-image-remove" href="javascript:" kf-hover ng-mouseup="onRemoveCoverImageMouseUp($event)">Remove</a>
            <a class="kf-lh-cover-image-menu-opt kf-lh-cover-image-change" href="javascript:" kf-hover onmouseup="angular.element(this).scope().onChangeCoverImageMouseUp(event)">Change</a>
            <a class="kf-lh-cover-image-menu-opt kf-lh-cover-image-move" href="javascript:" kf-hover ng-mouseup="onMoveCoverImageMouseUp($event)">Move</a>
            <div class="kf-lh-cover-image-menu-tri"></div>
          </div>
          <div ng-if="coverImagePreview && !coverImageProgress" class="kf-lh-cover-image-preview">
            Drag to position image
            <a class="kf-lh-cover-image-apply" href="javascript:" ng-click="applyCoverImageChange()">Apply</a>
            <a class="kf-lh-cover-image-cancel" href="javascript:" ng-click="cancelCoverImageChange()">Cancel</a>
          </div>
          <div ng-if="coverImageProgress" class="kf-lh-cover-image-progress"></div>
        </div>
        <div ng-if="coverImageError" class="kf-lh-cover-image-error">{{coverImageError}}</div>
        <input ng-if="isMyLibrary() && isUserCreatedLibrary()" type="file" class="kf-lh-cover-image-file" accept="image/jpeg,image/png,image/gif" onchange="angular.element(this).scope().onCoverImageFileChosen(this.files[0]);this.value=null">
        <a ng-if="isMyLibrary() && isUserCreatedLibrary() && !coverImageUrl" class="kf-lh-cover-image-add" href="javascript:" onclick="angular.element(this).scope().onClickAddCoverImage(event)">
          Add a cover photo
        </a>

        <div class="kf-lh-info">
          <div class="kf-lh-private-wrap" ng-if="library.visibility === 'secret'">
            <span class="kf-lh-private svg-card-lock">Private</span>
          </div>

          <div class="kf-lh-owner" itemprop="creator" itemscope itemtype="http://schema.org/Person">
            <a href="{{library.owner|profileUrl}}" itemprop="url"
               kf-track-origin="libraryPage/curator">
              <img class="kf-lh-owner-image" ng-src="{{library.owner | pic:100}}" itemprop="image" alt="{{library.owner.firstName}} {{library.owner.lastName}}">
            </a>
            <div class="kf-lh-owner-text">
              <div class="kf-lh-owner-label">Curator:</div>
              <div class="kf-lh-owner-name" itemprop="name">{{library.owner.firstName}} {{library.owner.lastName}}</div>
            </div>
          </div>

          <div ng-switch="clippedDescription" class="kf-lh-desc-wrap">
            <p ng-switch-when="true" class="kf-lh-desc">
              <span ng-bind-html="library.shortDescription" itemtype="description"></span>&hellip;
              <a href="javascript:" class="kf-lh-desc-more" ng-click="showLongDescription()">More</a>
            </p>
            <p ng-switch-when="false" class="kf-lh-desc" ng-bind-html="library.formattedDescription"></p>
          </div>

          <div class="kf-lh-stats-line">
            <div class="kf-lh-stats">
              <div class="kf-lh-stat">
                <span class="kf-lh-stat-name">Keeps</span>
                <span class="kf-lh-stat-val">{{library.numKeeps | number}}</span>
              </div>
              <a class="kf-lh-stat" ng-click="showFollowers()" ng-if="isUserCreatedLibrary()" href="javascript:">
                <span class="kf-lh-stat-name">Followers</span>
                <span class="kf-lh-stat-val">{{library.numFollowers | number}}</span>
              </a>
            </div>
            <div kf-library-follower-pics num-followers="library.numFollowers" followers="library.followers"
              show-followers="showFollowers()" current-page-origin="libraryPage"></div>
          </div>
        </div>
      </div>
      <div class="kf-lh-buttons clearfix">
        <div style="float:right">
          <div kf-library-share-search ng-if="canBeShared()" library="library" current-page-origin="libraryPage"></div>
          <div class="kf-lh-follow-btn-wrap" kf-sticky sticky-if="!$root.userLoggedIn" sticky-top="isMobile ? 25 : 14" sticky-toggle="followButtonToggleStuck" sticky-near="followButtonNearlyStuck" sticky-near-px="isMobile ? 90 : 40" ng-if="canFollowLibrary()">
            <div kf-library-header-follow-button-cta library="library" ng-if="!isMobile && library.abTest.name === 'exp_follow_popup' && library.abTestTreatment.data"></div>
            <button class="kf-button kf-lh-follow-btn" ng-click="followLibrary()">{{library.abTestTreatment.data.buttonText || 'Follow Library'}}</button>
          </div>
          <button class="kf-button kf-lh-unfollow-btn" ng-click="unfollowLibrary()" ng-if="alreadyFollowingLibrary()"></button>
          <button class="kf-button" ng-click="toggleEditKeeps()" ng-if="isMyLibrary() && library.numKeeps > 0">{{editKeepsText}}</button>
          <button class="kf-button kf-button-text-optional" ng-click="manageLibrary()" ng-if="isMyLibrary() && isUserCreatedLibrary()">
            <span class="kf-button-icon svg-pen"></span> Manage Library
          </button>
        </div>
        <a ng-if="isPublic()" class="kf-button kf-button-text-optional kf-lh-share-external" ng-focus="preloadTwitter()" ng-mouseenter="preloadTwitter()" ng-click="shareTwitter()" ng-href="https://twitter.com/intent/tweet?original_referer={{library.shareUrl}}&text={{library.shareText}}&tw_p=tweetbutton&url={{library.shareTwitterUrl}}">
          <span class="kf-button-icon svg-twitter"></span>
          <span class="kf-button-icon svg-twitter-white"></span><!-- for non-logged-in users -->
          Tweet
        </a>
        <button ng-if="isPublic()" class="kf-button kf-button-text-optional kf-lh-share-external" ng-focus="preloadFB()" ng-mouseenter="preloadFB()" ng-click="shareFB()">
          <span class="kf-button-icon svg-facebook"></span>
          <span class="kf-button-icon svg-facebook-white"></span><!-- for non-logged-in users -->
          Post
        </button>
      </div>
    </div>
  </div>
</div>
