twoColMinWidth = 720px
rightColWidth = 210px
colGapWidth = 24px

.kf-lib-content
  margin: 0 auto
  min-height: 100vh  // for auto-scrolling down to search results
  max-width: appMaxWidth
  padding: 10px appSidePad1 0

  @media (min-width: appSidePad2MinWidth)
    padding-left: appSidePad2
    padding-right: appSidePad2

  @media (min-width: twoColMinWidth)
    display: table
    table-layout: fixed

  &:last-child
    padding-bottom: 40px

.kf-lib-content-1
  @media (min-width: twoColMinWidth)
    display: table-cell
    vertical-align: top
    width: appMinWidth - rightColWidth
    max-width: appMinWidth - rightColWidth
    box-sizing: border-box
    padding-right: colGapWidth

.kf-lib-content-2
  margin-top: 20px
  text-align: center

  @media (min-width: twoColMinWidth)
    margin-top: 0
    display: table-cell
    vertical-align: top
    width: rightColWidth
    padding: 20px 0 0
    text-align: initial

.kf-lib-tweet
.kf-lib-fpost
  display: none

  @media (min-width: 720px)
    display: block
    box-sizing: border-box
    border-radius: 4px
    background-repeat: no-repeat
    color: #fff
    line-height: 2.4
    font-size: .85em
    font-smoothing: antialiased
    text-align: center

.kf-lib-tweet
  background-color: #24c5f6
  margin-bottom: .75em

  &::after
    content: 'Tweet'
    vertical-align: middle
    margin-left: .5em

.kf-lib-fpost
  width: 100%
  border: 0
  padding: 0
  background-color: #3a57a1
  margin-bottom: 2.5em

  &::after
    content: 'Post'
    vertical-align: middle
    margin-left: .6em

.kf-lib-tweet-icon
.kf-lib-fpost-icon
  display: inline-block
  vertical-align: middle
  width: 1.2em
  height: 1.1em
  background-repeat: no-repeat
  background-size: contain
  margin-left: -.2em

.kf-lib-footer
  padding-bottom: 30px
  text-align: center
  font-size: 15px
  line-height: 24px
  color: #bbb

  @media (min-width: 480px)
    font-size: 13px
    line-height: 18px

.kf-lib-footer-1
  display: inline-block

.kf-lib-footer-2
  display: inline-block

.kf-lib-footer-a
  color: linkBlueColor
  margin: 0 6px

  @media (min-width: 480px)
    margin: 0 10px
