<div class="kf-lh" itemscope itemtype="http://schema.org/CollectionPage">
  <div class="kf-lh-cover" ng-class="{'kf-system-main': library.kind === 'system_main', 'kf-system-secret': library.kind === 'system_secret'}" ng-style="{'background-color': library.color}">
    <meta itemtype="image" content="{{library.image|libImageUrl}}" ng-if="library.image"/>
    <meta itemtype="url" content="{{library.absUrl}}"/>

    <div class="kf-lh-cover-image" ng-class="{'kf-fade-in': !settingImage}" ng-attr-style="{{library.image|shadedBackgroundImage:.2:.6}}" ng-if="library.image && imageLoaded"></div>

    <div class="kf-lh-top">
      <div class="kf-lh-private" ng-if="library.visibility === 'secret'">
        <svg
          kf-symbol-sprite
          icon="lock"
        ></svg>
      </div>
      <div class="kf-lh-public" ng-if="library.kind !== 'system_main' && library.visibility === 'published'">
        <svg
          kf-symbol-sprite
          icon="globe"
        ></svg>
      </div>
      <div class="kf-lh-org-private" ng-if="library.visibility === 'organization'">
        <svg
          kf-symbol-sprite
          icon="org"
        ></svg>
      </div>
      <span
        ng-if="((!!library.org && library.org.viewer.membership.role === 'admin') || hasPermission(LIB_PERMISSION.EDIT_LIBRARY)) && isMutable()"
        ng-class="{
          'kf-tooltip-parent kf-tooltip-parent-noclose': library.org.viewer.membership.role === 'admin' && !hasPermission(LIB_PERMISSION.EDIT_LIBRARY)
        }"
        data-kf-tooltip-position="bottom"
      >
        <span
          class="kf-tooltip-body"
          ng-if="library.org.viewer.membership.role === 'admin' && !hasPermission(LIB_PERMISSION.EDIT_LIBRARY)"
          ng-click="onClickUpsellEditLibrary(library)"
          ng-hover="onHoverUpsellEditLibrary(library)"
        >
          <span ng-if="!getMeOrg().config.showUpsells">
            <span ng-if="getMeOrg().viewer.membership.role === 'admin' && getMeOrg().config.settings.force_edit_libraries.setting === ORG_SETTING_VALUE.DISABLED">
              Only library owners can edit library settings.<br />Change this in <a class="kf-link" ui-sref="orgProfile.settings.team({ handle: library.org.handle })">settings</a>
            </span>
            <span ng-if="getMeOrg().viewer.membership.role === 'admin' && getMeOrg().config.settings.force_edit_libraries.setting === ORG_SETTING_VALUE.ADMIN">
              Admins and the library owner can edit library settings.<br />Change this in <a class="kf-link" ui-sref="orgProfile.settings.team({ handle: library.org.handle })">settings</a>
            </span>
            <span ng-if="getMeOrg().viewer.membership.role === 'admin' && getMeOrg().config.settings.force_edit_libraries.setting === ORG_SETTING_VALUE.MEMBER">
              All team members can edit library settings.<br />Change this in <a class="kf-link" ui-sref="orgProfile.settings.team({ handle: library.org.handle })">settings</a>
            </span>
          </span>
          <span ng-if="getMeOrg().config.showUpsells">
            Enable admins or all team members to edit library settings by <a class="kf-link" ui-sref="orgProfile.settings.plan({ handle: library.org.handle, upgrade: true })">upgrading your plan</a>.
          </span>
        </span>
        <button
          class="kf-lh-manage-btn svg-settings-gear-filled"
          ng-click="manageLibrary()"
          ng-disabled="!hasPermission(LIB_PERMISSION.EDIT_LIBRARY)"
        ></button>
      </span>
      <div class="kf-lh-cover-menu-parent" kf-click-menu ng-if="isOwner() && !library.isSystem">
        <button class="kf-lh-cover-menu-btn svg-camera-filled" ng-mouseup="onCameraCoverImageMouseUp($event)"></button>
        <menu class="kf-dropdown-menu kf-lh-cover-menu">
          <button class="kf-dropdown-menu-item kf-lh-cover-move" ng-if="library.image" ng-mouseup="onMoveCoverImageMouseUp($event)">Reposition cover image</button>
          <button class="kf-dropdown-menu-item kf-lh-cover-change" ng-if="library.image" ng-mouseup="onChangeCoverImageMouseUp($event)" onmouseup="event.button?null:angular.element('.kf-lh-cover-file').click()">Change cover image</button>
          <button class="kf-dropdown-menu-item kf-lh-cover-remove" ng-if="library.image" ng-mouseup="onRemoveCoverImageMouseUp($event)">Remove cover image</button>
        </menu>
      </div>
      <input class="kf-lh-cover-file" type="file" accept="image/jpeg,image/png,image/gif" kf-file-change="onCoverImageFileChosen" ng-if="isOwner() && !library.isSystem">
      <div class="kf-lh-subscribe-btn-wrap">
        <button ng-attr-class="kf-lh-subscribe-btn {{library.membership.subscribed ? 'svg-notification-on-white' : 'svg-notification-off-white'}}" ng-click="changeSubscription()"></button>
        <div class="kf-lh-subscribe-msg">Notifications {{library.membership.subscribed ? 'enabled' : 'disabled'}}</div>
      </div>

      <div class="kf-lh-authors">
        <a class="kf-lh-authors-a" href="{{ library.org|profileUrl }}" itemprop="url" kf-track-origin="libraryPage/curator" ng-if="library.org">
          <img class="kf-lh-organization-pic" ng-src="{{ library.org|pic:100 }}" itemprop="image" alt="{{library.org|name}}">
          <span class="kf-lh-authors-name">{{::library.org.name}}</span>
        </a>
        <a class="kf-lh-authors-a" ng-repeat="author in authorsToShow" href="{{::author|profileUrl}}" kf-track-origin="libraryPage/author">
          <img class="kf-lh-authors-pic" ng-src="{{::author|pic:100}}" alt="{{::author|name}}">
          <span class="kf-lh-authors-name">{{::author.firstName}}</span>
        </a>
        <button class="kf-lh-members-more" ng-if="!isSystem" ng-click="showFollowers()">
          <span class="kf-lh-members-more-text">See all</span>
        </button>
      </div>
    </div>

    <div class="kf-lh-cover-preview" ng-attr-style="{{imagePreview|shadedBackgroundImage:.2:.6}}" ng-if="imagePreview"></div>
    <div class="kf-lh-cover-glass" ng-class="{'kf-ew': imagePreview.progress === undefined && imagePreview.w / imagePreview.natural.w < imagePreview.h / imagePreview.natural.h, 'kf-ns': imagePreview.progress === undefined && imagePreview.w / imagePreview.natural.w >= imagePreview.h / imagePreview.natural.h}" ng-mouseover="onImagePreviewMouseOver($event)" ng-mousedown="onImagePreviewMouseDown($event)" ng-if="imagePreview">
      <span class="kf-lh-cover-prompt">Drag to position image</span>
      <button class="kf-lh-cover-apply" ng-click="applyCoverImageChange()">Apply</button>
      <button class="kf-lh-cover-cancel" ng-click="cancelCoverImageChange()">Cancel</button>
      <div class="kf-lh-cover-progress" ng-style="{width: imagePreview.progress + '%', 'background-color': imagePreview.progress === 0 ? '#b00' : null, 'transition-timing-function': imagePreview.progress % 100 ? null : 'ease-in', 'transition-duration': imagePreview.progress === 0 ? '.6s' : null}" ng-if="imagePreview.progress >= 0"></div>
    </div>

    <div class="kf-lh-mid">
      <div class="kf-lh-icon" ng-class="{'svg-card-star': library.kind === 'system_main', 'svg-card-lock': library.kind === 'system_secret'}"></div>
      <h1 class="kf-lh-name" ng-class="{'kf-long-1': library.name.length > 24, 'kf-long-2': library.name.length > 36}" itemtype="name">{{library.name|preventOrphans:16:0.6}}</h1>

      <div class="kf-lh-stats">
        <span class="kf-lh-stat" ng-pluralize count="library.numKeeps" when="{'one': '1 keep', 'other': '{{library.numKeeps|number}} keeps'}" ng-if="library.numKeeps"></span>
        <button class="kf-lh-stat" ng-if="numMembers > 1" ng-bind="(numMembers|num) + ' members'" ng-click="openMembersModal('followers_only')"></button>
      </div>

    </div>
  </div>

  <div class="kf-lh-desc-wrap-2" ng-class="{'kf-long': descFits === false}" ng-attr-style="border-color:{{library.color}}">
    <div class="kf-lh-desc-wrap" kf-wheel-stop="{{descScrollable}}">
      <div class="kf-lh-desc" ng-bind-html="library.descriptionHtml" itemtype="description" kf-wheel-allow></div>
    </div>
    <button class="kf-lh-desc-toggle" ng-click="descExpanded === false ? expandDescription() : descExpanded === true ? collapseDescription() : null">
      {{descExpanded === false ? 'Continue reading…' : descExpanded === true ? 'Show less' : ''}}
    </button>
    <button class="kf-lh-desc-add" ng-click="manageLibrary()" ng-if="!library.description && isOwner() && !library.isSystem">Add a description</button>
  </div>

  <div class="kf-lh-buttons" ng-if="!isOwnerOrCollaborator()">
    <div kf-card-style-selector></div>

    <div class="kf-lh-invite-banner" ng-style="{'background-color': library.color}" ng-if="library.invite && $root.userLoggedIn">
      <img class="kf-lh-invite-pic" ng-src="{{library.invite.inviter|pic:100}}" alt="{{library.invite.inviter|name}}">
      <div class="kf-lh-invite-banner-text">{{library.invite.inviter|name}} {{library.invite.access === 'read_only' ? ' has invited you' : 'would like to'}}<span></span> {{ library.invite.access === 'read_only' ? ' to follow' : ' collaborate with you on'}} this library</div>
      <button class="kf-lh-invite-banner-button kf-ignore" ng-click="ignoreInvitation()" ng-if="$root.userLoggedIn">Ignore</button>
      <button class="kf-lh-invite-banner-button kf-accept" ng-click="acceptInvitation()" ng-style="{'color': library.color}" ng-if="$root.userLoggedIn">Accept</button>
    </div>
    <div class="kf-lh-buttons-divider"></div>
    <div class="kf-lh-follow-btn-wrap" ng-if="$root.userLoggedIn && !isMember() && library.visibility !== 'secret'">
      <button class="kf-lh-follow-btn" ng-click="followLibrary({via: 'followBtn'})">Follow</button>
    </div>
    <div class="kf-lh-unfollow-btn-wrap" ng-class="{'kf-no-unfollow': followBtnJustClicked, 'kf-overflowing': overSubsBtn}" ng-if="isFollowing() || isCollaborating()">
      <button class="kf-lh-unfollow-btn" ng-click="unfollowLibrary()" ng-mouseleave="followBtnJustClicked = false"></button>
      <button ng-attr-class="kf-lh-subs-btn {{library.membership.subscribed ? 'svg-notification-on-white' : 'svg-notification-off-white'}}" ng-click="changeSubscription()" ng-mouseenter="overSubsBtn = true" ng-mouseleave="overSubsBtn = false"></button>
      <div class="kf-lh-subs-msg">Notifications {{library.membership.subscribed ? 'enabled' : 'disabled'}}</div>
    </div>

    <button class="kf-lh-invite-search-button" ng-click="openInviteModal('follow')" ng-if="!library.isSystem && hasPermission(LIB_PERMISSION.INVITE_FOLLOWERS)">
      <div class="svg-share-arrow-green"></div>
      Invite members
    </button>

  </div>
  <div class="kf-lh-buttons kf-my-lib clearfix" ng-if="isOwnerOrCollaborator()">
    <div kf-card-style-selector></div>
    <button class="kf-lh-edit-keeps svg-edit-keeps-green" ng-click="toggleEditKeeps()" ng-if="library.numKeeps > 0 && !librarySearch">{{editMode ? 'Done editing' : 'Edit keeps'}}</button>
    <div class="kf-lh-buttons-divider"></div>
    <button class="kf-lh-invite-search-button" ng-click="openInviteModal('follow')" ng-if="!library.isSystem && hasPermission(LIB_PERMISSION.INVITE_FOLLOWERS)">
      <div class="svg-share-arrow-green"></div>
      Invite members
    </button>
  </div>


</div>
