<div class="manage-library dialog-content">
  <a class="dialog-x manage-library-close-x" ng-click="close()"></a>

  <div class="dialog-body-wrap">
    <h1 class="dialog-header">
      <button ng-if="showFollowers" class="go-back-button" ng-click="hideFollowersPanel()">
        <span class="go-back-left-arrow"></span>Back
      </button>
      {{modalTitle}}
    </h1>
    <div class="dialog-body">
      <div ng-if="modifyingExistingLibrary" class="manage-lib-followers-info">
        <p class="manage-lib-followers-stats">
          <span ng-pluralize count="library.numFollowers"
                when="{'0': '0 people are ', 'one': '1 person is ', 'other': '{} people are '}"></span>
          following your library
        </p>
        <button ng-if="!showFollowers" class="manage-lib-followers-button" ng-click="showFollowersPanel()">Invite and manage followers</button>
        <div ng-if="showFollowers" class="manage-lib-invite"
             kf-library-share-search library="library" manage-lib-invite="true" close="close()" current-page-origin="{{currentPageOrigin}}"></div>
      </div>

      <div class="manage-lib-content">
        <div ng-hide="showFollowers" ng-if="!viewFollowersFirst" class="dialog-text manage-lib-default-content">
          <div class="manage-lib-input-wrapper">
            <span class="manage-lib-heading">Name</span>
            <input class="manage-lib-input manage-lib-name-input ng-pristine ng-valid" ng-model="library.name" type="text" name="name" placeholder="Type a name for your library..." autocomplete="off" novalidate>
            <span ng-show="$error.name" class="manage-lib-name-error">{{$error.name}}</span>
            <label class="manage-lib-slug">
              <span class="manage-lib-slug-1">kifi.com/{{username}}/</span>
              <span class="manage-lib-slug-2">
                <input ng-change="editSlug()" class="manage-lib-slug-input ng-pristine ng-valid" ng-model="library.slug" ng-class="{ 'non-empty-slug': !emptySlug }" type="text" name="slug" placeholder="new-library" novalidate>
              </span>
            </label>
          </div>

          <div class="manage-lib-input-wrapper">
            <span class="manage-lib-heading">Description</span><!-- for removing space between inline-block
         --><textarea class="manage-lib-input manage-lib-description-input ng-pristine ng-valid" ng-model="library.description" name="description" placeholder="Add a description..." novalidate></textarea>
          </div>

          <div class="manage-lib-input-wrapper">
            <div class="manage-lib-heading">Privacy</div>
            <div class="manage-lib-create-visibility-input-container">
              <span kf-library-visibility-checkbox library="library"></span>
            </div>
            <div ng-switch="library.visibility" class="manage-lib-visibility-description">
              <div ng-switch-default class="manage-lib-visibility-description-content">
                Anyone can see and follow this library
                <div class="manage-lib-listed-visibility">
                  <input type="checkbox" id="listed-visibility-checkbox" ng-model="library.listed">
                  <label for="listed-visibility-checkbox">
                    <span></span>
                    List this library on my public profile
                  </label>
                </div>
              </div>
              <div ng-switch-when="secret" class="manage-lib-visibility-description-content">
                Only people you invite can see this library
              </div>
            </div>
          </div>

          <div class="manage-lib-input-wrapper kf-color">
            <div class="manage-lib-heading">Color</div>
            <label ng-repeat="hex in colors" class="manage-lib-color" style="background-color:{{hex}}">
              <input type="radio" class="manage-lib-color-radio" value="{{hex}}" ng-model="library.color">
              <span class="svg-checkmark-thin"></span>
            </label>
          </div>

          <div ng-if="$error.general" class="manage-lib-error">{{$error.general}}</div>
        </div>

        <div class="manage-lib-members-content" kf-wheel-allow smart-scroll scroll-distance="memberScrollDistance" scroll-disabled="isMemberScrollDisabled()" scroll-next="memberScrollNext()">
          <ul class="manage-lib-members">
            <a href="{{library.owner|profileUrl}}" class="manage-lib-member manage-lib-owner" ng-click="close()" kf-track-origin="{{currentPageOrigin}}/curator">
              <img ng-src="{{library.owner | pic:100}}" class="manage-lib-member-image">
              <div class="manage-lib-member-name">{{library.owner|name}}</div>
              <div class="manage-lib-member-status">Owner</div>
            </a>

            <li class="manage-lib-member" ng-repeat="member in memberList">
              <a ng-if="member.id" href="{{member|profileUrl}}" ng-click="close()" class="manage-lib-member-user" kf-track-origin="{{currentPageOrigin}}/follower">
                <img ng-src="{{member | pic:100}}" class="manage-lib-member-image">
                <div class="manage-lib-member-name">{{member|name}}</div>
              </a>

              <div class="manage-lib-member-email" ng-if="member.email">
                <div class="manage-lib-member-email-image svg-envelope"></div>
                <div class="manage-lib-member-name">{{member.email}}</div>
              </div>
              <div class="manage-lib-member-status" ng-class="{'invitee': member.status=='Invitation Pending'}">{{member.status}}</div>
            </li>

          </ul>
        </div>
      </div>

      <div class="dialog-buttons">
        <button ng-if="!modifyingExistingLibrary" class="manage-lib-create-button" ng-click="saveLibrary()">Create Library</button>
        <button ng-if="modifyingExistingLibrary" class="manage-lib-delete-button" ng-click="openDeleteLibraryModal()">Delete library</button>
        <button ng-if="modifyingExistingLibrary" class="manage-lib-save-button" ng-click="saveLibrary()">Save</button>
      </div>
    </div>
  </div>
</div>
