<div class="manage-library dialog-content">
  <a class="dialog-x manage-library-close-x" ng-click="close()"></a>

  <div class="dialog-body-wrap">
    <h1 class="dialog-header">{{modalTitle}}</h1>
    <div class="dialog-body">
      <div class="dialog-text">

        <div class="manage-lib-input-wrapper">
          <div class="manage-lib-input-title">
            <span class="manage-lib-heading">Name</span>
            <span class="manage-lib-error manage-lib-name-error" ng-if="$error.name">{{$error.name}}</span>
          </div>
          <input class="manage-lib-input manage-lib-name-input ng-pristine ng-valid" ng-model="library.name" type="text" name="name" placeholder="Type a name for your library..." autocomplete="off" novalidate>
          <span class="manage-lib-slug">kifi.com/{{username}}/
            <input ng-change="editSlug()" class="manage-lib-slug-input ng-pristine ng-valid" ng-model="library.slug" ng-class="{ 'slug-edited': userHasEditedSlug }" type="text" name="slug" placeholder="new-library" novalidate>
          </span>
        </div>

        <div class="manage-lib-input-wrapper">
          <span class="manage-lib-heading manage-lib-input-title manage-lib-description-title-input">Description<span class="manage-lib-error" ng-if="$error.description">{{$error.description}}</span></span><!-- for removing space between inline-block --><textarea
          class="manage-lib-input manage-lib-description-input ng-pristine ng-valid" ng-model="library.description" name="description" placeholder="Add a description..." novalidate>
        </div>

        <div class="manage-lib-input-wrapper">
          <div class="manage-lib-heading">Choose who can view your library</div>
            <div class="manage-lib-visibility">
              <div class="manage-lib-choice-card">
                <div class="manage-lib-choice-card-img svg-green-card-with-globe"></div>
                <input type="radio" id="manage-lib-radio-published" class="manage-lib-choice-input" ng-model="library.visibility" value="published">
                <label for="manage-lib-radio-published" class="manage-lib-custom-radio"><span class="manage-lib-custom-radio-check"></span>L</label>
                <span class="manage-lib-choice-card-text">Published</span>
              </div>
              <div class="manage-lib-choice-card">
                <div class="manage-lib-choice-card-img svg-red-card-with-lock"></div>
                <input type="radio" id="manage-lib-radio-secret" class="manage-lib-choice-input" ng-model="library.visibility" value="secret">
                <label for="manage-lib-radio-secret" class="manage-lib-custom-radio"><span class="manage-lib-custom-radio-check"></span>L</label>
                <span class="manage-lib-choice-card-text">Secret</span>
              </div>
              <div class="manage-lib-choice-card">
                <div class="manage-lib-choice-card-img svg-yellow-card-with-globe"></div>
                <input type="radio" id="manage-lib-radio-discoverable" class="manage-lib-choice-input" ng-model="library.visibility" value="discoverable">
                <label for="manage-lib-radio-discoverable" class="manage-lib-custom-radio"><span class="manage-lib-custom-radio-check"></span>L</label>
                <span class="manage-lib-choice-card-text">Discoverable</span>
              </div>
              <div class="manage-lib-visibility-description">
                <span class="manage-lib-visibility-description-title">{{(visibility[library.visibility]).title}}:</span>
                <div class="manage-lib-visibility-description-content">{{(visibility[library.visibility]).content}}</div>
              </div>
            </div>
        </div>

        <div ng-if="$error.general" class="manage-lib-input-wrapper manage-lib-error">{{$error.general}}</div>
      </div>

      <div class="manage-lib-heading">Invite followers</div>
      <div kf-library-share-search library="library" manage-lib-invite="true" class="manage-lib-invite"></div>

      <!-- <ul class="manage-lib-followers">
        <li class="manage-lib-follower manage-lib-owner">
          <img ng-src="{{user.image || 'https://www.kifi.com/assets/img/ghost.200.png'}}" class="manage-lib-follower-image">
          <div class="manage-lib-follower-name">{{user.name}}</div>
          <div class="manage-lib-follower-status">Owner</div>
        </li>

        <li class="manage-lib-follower" ng-repeat="follower in library.followers">
          <img ng-src="{{follower.image || 'https://www.kifi.com/assets/img/ghost.200.png'}}" class="manage-lib-follower-image">
          <div class="manage-lib-follower-name">{{follower.name}}</div>
          <div class="manage-lib-follower-status">{{follower.status}}</div>
        </li>
      </ul> -->

      <button class="manage-lib-create-button" ng-if="!modifyingExistingLibrary" ng-click="saveLibrary()">Create</button>
      <button class="manage-lib-save-button" ng-if="modifyingExistingLibrary" ng-click="saveLibrary()">Save</button>
      <a class="manage-lib-delete-link" href="javascript:" ng-click="deleteLibrary()">Delete library</a>
    </div>
  </div>
</div>
