.manage-library

  .dialog-buttons
    padding: 20px 0 0 0

  .create-button
    width: 180px

  .manage-lib-input-wrapper
    margin-bottom: 15px
    margin-top: 25px

  .manage-lib-input-title
    color: #333
    font-size: 16px
    font-weight: 200
    letter-spacing: 1px
    font-family: "Georgia", Arial, sans-serif
    font-style: italic

  input.manage-lib-input
    height: 29px
    display: inline-block
    font: inherit
    letter-spacing: 0.5px
    border: 0
    margin: 0
    width: 100%
    color: textBlackColor
    padding: 6px 2px
    background-color: transparent
    box-sizing: border-box
    border-bottom: 1px solid #d2dae3
    transition: all .3s ease

    &:focus
      padding-left: 7px
      border: 1px solid blueColor
      border-radius: 2px

    &.manage-lib-partial
      width: 50%

    &.manage-lib-calced
      color: textGreyColor

      &:focus
        color: textBlackColor


  .manage-lib-error
    color: redColor
