.kf-quick-add-keep
  width: 100%
  margin-bottom: 25px
  text-align: left
  border: 1px dashed #dadae2
  padding: 20px
  border-radius: 8px
  background-color: #fff
  box-sizing: border-box

.kf-quick-add-keep-explain
  font-size: 14px
  margin-left: 5px
  margin-bottom: 2px
  color: #808080

.kf-quick-add-keep-input
  width: calc(100% - 115px)
  border: 2px solid #e7eaee
  border-radius: 6px
  font-size: 12px
  padding: 12px
  box-sizing: border-box


.kf-quick-add-keep-button
  width: 100px
  margin-left: 10px
  background-color: #57C065
  color: #FFF
  border-radius: 100px
  padding: 12px 0px
  border: none
  letter-spacing: 0.2px
  font-size: 12px
  vertical-align: middle

  .svg-hearts-white
    display: inline-block
    vertical-align: top
    width: 18px
    height: 18px
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    margin-right: 6px

.kf-quick-add-keep-error
  margin: -5px 0px -17px 0px
  font-size: 12px
  padding: 6px 0px 0px 10px
  color: red

.kf-quick-add-keep-get-extension
  margin: 20px -20px -20px -20px
  font-size: 14px
  background-color: #FEF8B8
  border-radius: 0px 0px 8px 8px
  padding: 6px 10px
  color: #2F3844

  a
    color: #45A84D


html[data-kifi-ext] .kf-quick-add-keep-get-extension
  display: none
