
.kf-register-modal
  .modal-dialog
    width: 560px

    @media screen and (max-width: 700px)
      width: calc(100% - 25px)

.register-modal-wrap
  padding: 53px 59px 58px

.kf-register-header
  color: #687A8D
  font-size: 24px
  font-weight: 300

.register-modal-social-block
  margin: 31px 0 10px

.register-modal-we-are-nice
  margin-top: 23px
  color: #687A8D
  font-size: 15px

.kf-fb-register-button
  width: 100%
  height: 58px
  background-color: #4F6CA7
  border-radius: 6px
  color: #FFF
  font-size: 18px
  font-weight: 500
  text-align: center
  line-height: 58px


.kf-or-separator
  padding: 20px 0 27px

.kf-or-separator-circle
  margin: 0 auto
  width: 42px
  height: 42px
  line-height: 42px
  border-radius: 27px
  font-size: 14px
  color: #687A8D
  background-color: #E7EAEE
  text-align: center
  z-index: 2
  position: relative

.kf-modal-line
  height: 1px
  background-color: #E7EAEE
  position: relative
  top: -20px
  z-index: 0