.kf-related-library-explore-more-header
  text-transform: uppercase
  color: #4e4754
  display: block
  font-size: 14px
  font-weight: bold
  text-align: center
  margin-bottom: -6px

  @media (max-width: 479px)
    margin-left: (-(appSidePad1))
    margin-right: (-(appSidePad1))
    padding: 10px 0
    background-color: #e8e8e8

.kf-related-library-card
  display: inline-block
  margin: 23px 0 0

.kf-related-library-footer
  margin: 23px auto 40px
  width: 210px

  @media (max-width: 479px)
    margin-top: 32px

.kf-related-libraries-see-more
  margin: 0 4px
  font-size: 15px
  color: #74a6e5
  text-decoration: none

.kf-related-libraries-card-your-own-card
  background: #73c785
  border-radius: 19px
  font-size: 20px
  text-align: center
  color: #fff
  padding: 21px 10px
  margin-top: 40px

.kf-related-libraries-card-your-own-card-btn
  display: inline-block
  margin-top: 18px
  border-radius: 4px
  padding: 6px 16px
  background: #418cc9
  color: #fff
  font-size: 16px
  font-weight: bold
