desktopBorderRadius = 19px
mobileBorderRadius = 54px

.kf-small-library-card {
  position: relative;
  border-radius: desktopBorderRadius desktopBorderRadius;
  z-index: 1;
  text-align: center;
  color: #fff;
  font-family: Lato;

  .kf-mobile & {
    border-radius: mobileBorderRadius mobileBorderRadius;
  }

  &:hover {
    cursor: pointer;
  }
}

.kf-small-library-card-bottom {
  position: absolute;
  top: desktopBorderRadius * 2;
  left: 0;
  right: 0;
  background: transparent;
  border: 1px solid #CCC;
  border-radius: desktopBorderRadius;
  border-width: 0 0 1px;
  z-index: 0;
  &.card-1 {
    bottom: -3px;
  }
  &.card-2 {
    bottom: -6px;
  }
  .kf-mobile & {
    top: mobileBorderRadius * 2;
    border-radius: mobileBorderRadius;
    border-color: #999;
    &.card-1 {
      bottom -8px;
    }
    &.card-2 {
      bottom -16px;
    }
  }
}

.kf-small-library-card-header {
  border-radius: desktopBorderRadius desktopBorderRadius 0 0;
  padding-top: 36px;
  height: 122px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  .kf-mobile & {
    border-radius: mobileBorderRadius mobileBorderRadius 0 0;
    padding-top: 100px;
    height: 432px;
  }
}

.kf-small-library-name {
  &, &:link, &:visited, &:hover {
    color: #FFFFFF;
    text-decoration: none;
  }
  display: block;
  font: 21px Lato;
  font-weight: 900;
  text-align: center;
  padding: 0 15px;
  line-height: 25px;
  max-height: 50px;
  overflow: hidden;
  .kf-mobile & {
    font-size: 72px;
    padding: 0 15%;
    line-height: 74px;
    max-height: 148px;
  }
}

.kf-small-library-counts-row {
  margin-top: 6px;
  font-family: 'Helvetica Neue';
  color: rgba(255,255,255,0.70);
  font-size: 11px;
  .kf-mobile & {
    margin-top: 38px;
    font-size: 35px;
  }
}

.kf-small-library-count {
  padding: 0 4px;
}

.kf-small-library-owner {
  margin-top: 16px;
  position: relative;
  z-index: 1;
  .kf-mobile & {
    margin-top: 100px;
  }
}

.kf-small-library-owner-pic {
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 100%;
  background-size: 100%;
  .kf-mobile & {
    width: 200px;
    height: 200px;
  }
}

.kf-small-library-owner-name {
  margin: 10px 0 0;
  padding: 0 6px 14px;
  font: 10px 'Helvetica Neue';
  color: #FFFFFF;
  white-space: nowrap;
  border-bottom: 1px solid rgba(255,255,255,.3);
  b {
    font-family: Lato;
    padding-left: 2px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .kf-mobile & {
    margin: 46px 0 0;
    padding: 0 10px 88px;
    font-size: 36px;
    b {
      letter-spacing: 3px;
      padding-left: 6px;
    }
  }
}

.kf-small-library-image-wrapper {
  border-radius: 0 0 desktopBorderRadius desktopBorderRadius;
  position: relative;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 167px;

  &.has-image::after {
    position: absolute;
    background: rgba(0,0,0,.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
  }

  .kf-mobile & {
    border-radius: 0 0 mobileBorderRadius mobileBorderRadius;
    height: 611px;
  }
}

.kf-small-library-image {
  position: absolute;
  z-index: 0;
  background-size: cover;
  background-position: center center;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.kf-small-library-followers {
  border-top: 1px solid rgba(255,255,255,.3);
  text-align: left;
  padding: 9px 10px 0;

  .kf-mobile & {
    border-color: #fff;
    padding: 26px 26px 0;
  }
}

.kf-small-library-followers-chip {
  width: 23px;
  height: 23px;
  background-size: cover;
  background-position: center center;
  float: left;
  display: block;
  border-radius: 100%;
  margin-right: 4px;
  .kf-mobile & {
    width: 80px;
    height: 80px;
    margin-right: 12px;
  }
}

.kf-small-library-followers-text {
  float: left;
  display: block;
  line-height: 23px;
  font-size: 12px;
  .kf-mobile & {
    padding-left: 10px;
    font-size: 30px;
    line-height: 80px;
    font-size: 38px;
  }
}
