.kf-slc-card
  width: 210px
  height: 280px
  background: libraryGray
  background-size: cover
  border-radius: 16px
  vertical-align: top
  position: relative
  overflow: hidden
  text-align: center
  box-shadow: 0 3px #f5f5f5, 0 4px #c9ccc0, 0 6px #e5e5e5, 0 7px #c4c6cb, 0 8px #d4d4d4, 0 9px #bec1c5

.kf-slc-card-link
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  user-select: none

name-line-height = 22px

.kf-slc-card-name-align
  display: table
  position: absolute
  top: 18px
  left: 0
  width: 100%
  height: 3 * name-line-height

.kf-slc-card-name
  display: table-cell
  padding: 0 16px
  color: #fff
  font-weight: bold
  font-size: 18px
  line-height: name-line-height
  word-wrap: break-word
  vertical-align: middle

.kf-slc-card-name-clip
  max-height: 3 * name-line-height
  overflow: hidden

owner-pic-diam = 32px

.kf-slc-card-owner
  position: absolute
  top: 98px
  left: 0
  right: 0
  height = 42px
  height: height
  background-color: rgba(255,255,255,.1)
  white-space: nowrap
  font-size: 0
  line-height: height
  color: #fff

.kf-slc-card-owner-pic
  width: owner-pic-diam
  height: owner-pic-diam
  border-radius: 50%
  box-shadow: 0 0 3px rgba(0,0,0,.3) inset
  vertical-align: middle
  margin-right: 6px

.kf-slc-card-by
  vertical-align: middle
  font-size: 11px
  font-style: italic
  margin-right: 5px

.kf-slc-card-by-name
  display: inline-block
  vertical-align: middle
  text-align: left
  max-width: 140px
  font-size: 11px
  font-weight: bold
  text-transform: uppercase
  letter-spacing: .2px
  overflow: hidden
  text-overflow: ellipsis

  :hover>&
    text-decoration: underline

.kf-slc-counts
  position: absolute
  top: 184px
  left: 50%
  transform: translate(-50%)
  font-size: 0
  color: #fff
  white-space: nowrap
  text-shadow: 0 0 3px rgba(0,0,0,.6)

.kf-slc-count
  font-size: 13px
  font-weight: bold
  color: inherit
  &[href]:hover
    color: #fff
    text-decoration: underline

.kf-slc-count-dot
  padding: 0 5px
  font-size: 14px
  cursor: default

.kf-slc-card-cover
  position: absolute
  left: 0
  right: 0
  bottom: 0
  height: 50%
  overflow: hidden

  &::after
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0,0,0,.2)
    content: ''

.kf-slc-card-cover-image
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #eee
  background-size: cover

.kf-slc-card-foot
  position: absolute
  left: 0
  right: 0
  bottom: 0
  height: 35px
  border-top: 1px solid rgba(255,255,255,.3)
  font-smoothing: antialiased
  text-align: center
  color: rgba(255,255,255,.8)
  text-shadow: 0 0 6px rgba(0,0,0,.3)
  font-size: 13px
  line-height: 35px
