<div class="kf-small-library-card" ng-attr-style="background-color: {{library.color}}">
  <div class="kf-small-library-card-header">
    <a ng-href="{{library.libraryUrl}}" ng-click="clickLibraryReco($event)" class="kf-small-library-name">{{ library.name }}</a>
    <div class="kf-small-library-counts-row">
      <span class="kf-small-library-count" ng-if="library.numKeeps > 0">
        <ng-pluralize count="library.numKeeps" when="{'1':'{} Keep','other':'{} Keeps'}"></ng-pluralize>
      </span>
      <span class="kf-small-library-count-sep" ng-if="library.numKeeps > 0">·</span>
      <span class="kf-small-library-count" ng-if="library.numFollowers > 0">
        <ng-pluralize count="library.numFollowers" when="{'1':'{} Follower','other':'{} Followers'}"></ng-pluralize>
      </span>
    </div>
  </div>
  <div class="kf-small-library-image-wrapper" ng-class="{'has-image': library.image}" ng-attr-style="background-color: {{library.color}}">
    <div class="kf-small-library-owner">
      <div class="kf-small-library-owner-pic" ng-attr-style="background-image: url({{library.ownerPicUrl}})"></div>
      <div class="kf-small-library-owner-name">by <b>{{ library.ownerFullName }}</b></div>
      <div class="kf-small-library-followers" ng-if="followersToShow">
        <span ng-repeat="user in followersToShow" ng-attr-style="background-image:url({{user.picUrl}})"
          class="kf-small-library-followers-chip"></span>
        <span ng-if="otherFollowersCount > 0" class="kf-small-library-followers-text">
          + &nbsp;<ng-pluralize count="otherFollowersCount" when="{'1':'{} other ','other':'{} others '}"></ng-pluralize>
          follow this
        </span>
      </div>
    </div>
    <div ng-if="library.image"  class="kf-small-library-image"
      ng-attr-style="background-image: url({{library.imageUrl}});background-position:{{library.image.x + '% ' + library.image.y + '%'}};"></div>
  </div>
  <div class="kf-small-library-card-bottom card-1"></div>
  <div class="kf-small-library-card-bottom card-2"></div>
</div>
