<div class="kf-slc-card" ng-style="{'background-color': library.color}">
  <a class="kf-slc-card-link" href="{{library.path}}" ng-click="clickCard($event)" ng-attr-title="{{library.description}}">
    <div class="kf-slc-card-cover">
      <div class="kf-slc-card-cover-image" ng-attr-style="background-image:url({{library.imageUrl}});background-position:{{library.image.x}}% {{library.image.y}}%" ng-if="library.image"></div>
    </div>
    <div class="kf-slc-card-name-align">
      <div class="kf-slc-card-name">
        <div class="kf-slc-card-name-clip">
          {{library.name}}
        </div>
      </div>
    </div>
    <div class="kf-slc-counts">
      <ng-pluralize class="kf-slc-count" count="library.numKeeps" when="{'1':'{} Keep','other':'{} Keeps'}" ng-if="library.numKeeps > 0"></ng-pluralize>
      <ng-pluralize class="kf-slc-count" count="library.numFollowers" when="{'1':'{} Follower','other':'{} Followers'}" ng-if="library.numFollowers > 0"></ng-pluralize>
    </div>
    <div itemscope itemtype="http://data-vocabulary.org/Person">
      <span class="kf-slc-card-owner-pic-a">
        <img class="kf-slc-card-owner-pic" ng-src="{{library.ownerPicUrl}}" alt="{{library.owner.firstName}} {{library.owner.lastName}}" itemprop="photo">
      </span>
      <span class="kf-slc-card-byline">
        <span class="kf-slc-card-by">by</span> <span class="kf-slc-card-by-name" itemprop="name">{{library.owner.firstName}} {{library.owner.lastName}}</span>
      </span>
    </div>
    <div class="kf-slc-card-foot" ng-switch on="library.reason">
      <span ng-switch-when="owner">More from this curator</span>
      <span ng-switch-when="popular">Globally popular</span>
      <span ng-switch-when="topic">Related</span>
    </div>
  </a>
</div>
