.suggested-searches
  border-radius: 10px
  border: 1px solid #dadae2
  padding: 10px 16px
  background: #fff
  margin-bottom: 15px

.suggested-searches-header
  padding: 6px 0 10px
  font-size: 14px
  font-weight: bold

.suggested-search
  color: #74c485
  line-height: 20px
  cursor: pointer
  font-size: 14px

  &:hover
    text-decoration: underline
