.kf-lss
  border-radius: 10px
  border: 1px solid #dadae2
  padding: 10px 16px
  background: #fff
  margin-bottom: 15px

  @media (max-width: 719px)
    display: none

.kf-lss-title
  padding: 6px 0 10px
  font-size: 14px
  font-weight: bold
  text-transform: uppercase

.kf-lss-query
  line-height: 20px
  font-size: 14px

.kf-lss-query-a
  color: #74c485

  &:hover
    text-decoration: underline
