.kf-int
  display: flex
  justify-content: center

.kf-int-container
  display: flex
  padding: 20px

  .kf-right-hand-widget-container
    max-width: 250px

.kf-int-left
  display: flex
  flex-direction: column
  padding: 10px
  max-width: 585px

  .kf-int-header
    text-align: center

    * + *
      margin-top: 5px

  .kf-int-header-keeps
    font-size: 22px
    margin: 10px 0px 20px 0px

  .kf-int-header-nokeeps
    font-size: 18px
    color: alpha(black, .95)

  .kf-int-header-morekeeps
    font-size: 16px
    color: alpha(green, .8)
    margin: 10px 0px

  .kf-int-header-gohome
    font-size: 17px

  .kf-int-keeps
    display: flex
    flex-direction: column
    width: 500px

    .kf-int-onthispage
      min-width: 400px
      align-self: center

    .kf-right-hand-widget-container
      margin: auto

  .kf-int-keep + .kf-int-keep
    margin-top: 10px

.kf-int-right
  display: flex
  flex-direction: column
  padding: 10px

  .kf-int-header
    margin: 10px auto 14.5px auto

  .kf-right-hand-widget-container
    border-radius: 8px


