keepBorderWidth = 1px
keepBorderRadius = 8px
keepBorderRadiusEditing = 3px
keepEditToolsWidth = 28px

.kf-main-keeps
  position: relative
  padding-top: 10px

  @media (min-width: 480px)
    padding-top: 14px

  @media (min-width: 720px)
    padding-top: 20px

  &::before
    content: ''
    border-top: 1px none #f9f9f9
    z-index: 1

.kf-keep
.kf-keep-selection-tools
  box-sizing: border-box
  margin-bottom: 10px
  background-color: white
  box-shadow: 0 0 0 .5px defaultBorderColor  // half-pixel border workaround crbug.com/236371

  @media (min-width: 480px)
    box-shadow: none
    border: defaultBorder

.kf-keep-selection-tools
  border-radius: keepBorderRadius keepBorderRadiusEditing keepBorderRadiusEditing keepBorderRadius
  margin-left: keepBorderWidth - keepEditToolsWidth

.kf-keep-selection-tools-body
  padding: 0 0 7px 27px

.kf-keep-selected-count
  text-align: center
  font-size: 14px
  padding: 10px 0 5px

.kf-keep-selected-count-number
  font-size: 28px
  font-family: Lato, Arial, sans-serif
  font-weight: bold

.kf-keep-selection-options
  position: relative
  background-color: #eee
  color: linkColor
  font-size: 13px
  font-smoothing: antialiased
  text-align: center
  user-select: none
  padding: 12px 20px
  margin: 7px 20px

.kf-keep-selection-options-mask
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: none

.kf-keep-selection-options.disabled
  background-color: #f5f5f5

  .kf-keep-selection-option
    color: textLightGrey

  .kf-keep-selection-options-mask
    display: block

.kf-keep-selection-option
  display: inline-block
  color: linkBlueColor

  span
    cursor: pointer

.kf-keep-selection-option + .kf-keep-selection-option::before
  content: "|"
  padding: 5px

.kf-keep
  position: relative
  border-radius: keepBorderRadius
  padding: 10px 3px

  @media (min-width: 480px)
    padding: 20px

  &.detailed
    background-color: #eff2f7

  &.selected.detailed
    background-color: #F7F7F5

  &.ng-hide-add
  &.ng-hide-remove
    transition: max-height 0.3s
    display: block !important
    overflow: hidden

  &.ng-hide-add.ng-hide-add-active
  &.ng-hide-remove
    max-height: 0

  &.ng-hide-add
  &.ng-hide-remove.ng-hide-remove-active
    max-height: 400px

  &.editing
    border-radius: 0 keepBorderRadiusEditing keepBorderRadiusEditing

    .kf-keep-edit-tools
      display: block

.kf-keep-edit-tools
  display: none
  position: absolute
  top: -1px
  left: -(keepEditToolsWidth)
  width: keepEditToolsWidth
  background-color: #fff
  border: defaultBorder
  border-right: none
  border-radius: keepBorderRadius 0 0 keepBorderRadius
  box-sizing: border-box

.kf-keep-checkbox-icon
  float: left
  margin: 20px 0 20px 5px

.kf-keep-top
  display: table
  width: 100%
  margin-bottom: 16px

.kf-keep-top-menu-container
  position: absolute
  top: 12px
  right: 12px

  .kf-dropdown-menu
    top: 20px
    right: 0
    font-size: 14px
    transform-origin: 80% top
    transition: visibility 0s, opacity linear dur, transform dur ease-out

  &:not(.kf-open)>.kf-dropdown-menu
    dur = .08s
    visibility: hidden
    opacity: 0
    transform: scale(.9)
    transition-duration: 0s, dur, dur
    transition-delay: dur, 0s, 0s

  .kf-dropdown-menu-item
    display: block
    padding: 0 16px
    color: #556179
    white-space: nowrap
    cursor: pointer

    &:hover
      background-color: #eee

    &:active
      background-color: #ccc

.kf-keep-top-menu-btn
  position: relative
  width: 18px
  height: 13px
  border: 0
  background: transparent

  &::before
  &::after
    content: ''
    position: absolute;
    left: 50%
    width: 3px;
    top: 4px
    bottom: 4px
    border-top-left-radius: 2px
    border-top-right-radius: 2px
    background: #c7c7c7
    font-size: 0

  &::before
    transform: translate(-4px) rotate(-45deg)

  &::after
    transform: translate(2px) rotate(45deg)

  &:hover::before
  &:hover::after
  &:focus::before
  &:focus::after
    background: #aaa

  &:active::before
  &:active::after
   background: #888

.kf-keep-keeper-pic
  display: table-cell
  height: 48px
  width: 48px
  border-radius: 50%
  background-size: cover

  &:focus
    outline-color: #ccc

.kf-keep-top-r
  display: table-cell
  vertical-align: middle
  padding-left: 12px

.kf-keep-keeper-name
  color: accentGreen
  font-weight: bold

  &:hover
    text-decoration: underline

.kf-keep-time
  color: #808080
  font-size: 14px
  font-smoothing: antialiased

noteFontSize = 16px
noteLineHeight = 1.5
noteMargin = -6px 0 18px

.kf-keep-note
  font-size: noteFontSize
  line-height: noteLineHeight
  white-space: pre-wrap
  word-wrap: break-word

  .kf-knf+&
    display: none

  &:not(:empty)
    margin: noteMargin

.kf-keep-note-hashtag
  color: accentGreen

  &:hover
    text-decoration: underline

.kf-knf
  margin: noteMargin

.kf-knf-editor
  font-size: noteFontSize
  line-height: noteLineHeight

.kf-keeps-load-more
  display: block
  margin: 10px 0
  padding: 4px 0
  font-size: 16px
  line-height: 30px
  text-align: center
  border-radius: keepBorderRadius
  background-color: #fff
  box-shadow: 0 0 0 .5px defaultBorderColor  // half-pixel border workaround crbug.com/236371
  color: linkBlueColor

  &:hover:active
    background-color: #fdfdfd

  &:focus
    outline-color: alpha(linkBlueColor, .5)

.kf-keeps-loading
  display: block
  width: 44px
  height: 8px
  margin: 40px auto
