<div class="kf-main-head">
	<h1 class="kf-main-title">{{page.title}}</h1>
	<div class="kf-subtitle">
		<span class="kf-check-all" ng-class="{ enabled: checkEnabled, checked: checked }" ng-click="toggleCheck()"></span>
		<span class="kf-subtitle-text">{{getSubtitle()}}</span>
		<span class="kf-search-filters" ng-if="subtitle.type === 'query' || true">
			<a class="kf-search-filter" ng-class="{ selected: isSelected('m'), enabled: isEnabled('m') }" ng-href="{{getFilterUrl('m')}}">You ({{results.myTotal}})</a>
			<a class="kf-search-filter" ng-class="{ selected: isSelected('f'), enabled: isEnabled('f') }" ng-href="{{getFilterUrl('f')}}">Friends ({{results.friendsTotal}})</a>
			<a class="kf-search-filter" ng-class="{ selected: isSelected('a'), enabled: isEnabled('a') }" ng-href="{{getFilterUrl('a')}}">All ({{results.myTotal + results.friendsTotal + results.othersTotal}})</a>
		</span>
	</div>
	<div class="main-keeps">
		<div class="antiscroll-inner">
			<ol id="search-results"></ol>
			<ol id="my-keeps">
				<div kf-keep ng-repeat="keep in keeps"></div>
			</ol>
			<div class="keep-group-title-fixed"></div>
			<img class="keeps-loading" src="/assets/img/wait.gif">
			<a class="keeps-load-more hidden" href="javascript:">Show more</a>
		</div>
	</div>
</div>
