keepBorderWidth = 1px
keepBorderRadius = 8px
keepSidePad = 20px
keepCardMaxWidth = 496px  // chosen to make youtube videos (16:9 aspect ratio) come out to whole pixels, 496x279
maxWidthForNarrowKeep = keepCardMaxWidth + 2 * (keepSidePad + appSidePad1) - 1 // = 559px

.kf-main-keeps
  position: relative
  padding-top: 10px

  @media (min-width: 480px)
    padding-top: 14px

  @media (min-width: 720px)
    padding-top: 20px

  &::before
    content: ''
    border-top: 1px none #f9f9f9
    z-index: 1

.kf-keep
.kf-keep-selection-tools
  box-sizing: border-box
  max-width: 2 * (keepBorderWidth + keepSidePad) + keepCardMaxWidth
  margin: 0 auto 10px
  border: defaultBorder
  background-color: white

  @media (max-width: maxWidthForNarrowKeep)
    max-width: keepCardMaxWidth

.kf-keep-selection-tools
  border-radius: 0 keepBorderRadius keepBorderRadius keepBorderRadius
  position: relative  // for checkbox

.kf-keep-selection-tools-body
  padding-bottom: 7px

.kf-keep-selected-count
  text-align: center
  font-size: 14px
  padding: 10px 0 5px

.kf-keep-selected-count-number
  font-size: 28px
  font-family: Lato, Arial, sans-serif
  font-weight: bold

.kf-keep-selection-options
  position: relative
  background-color: #eee
  color: linkColor
  font-size: 13px
  font-smoothing: antialiased
  text-align: center
  user-select: none
  padding: 12px 20px
  margin: 7px 20px

.kf-keep-selection-options-mask
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: none

.kf-keep-selection-options.disabled
  background-color: #f5f5f5

  .kf-keep-selection-option
    color: textLightGrey

  .kf-keep-selection-options-mask
    display: block

.kf-keep-selection-option
  display: inline-block
  color: linkBlueColor

  span
    cursor: pointer

.kf-keep-selection-option + .kf-keep-selection-option::before
  content: '|'
  padding: 5px

.kf-keep
  position: relative
  border-radius: keepBorderRadius
  padding: 0 keepSidePad 20px

  &.detailed
    background-color: #eff2f7

  &.selected.detailed
    background-color: #F7F7F5

  &.ng-hide-add
  &.ng-hide-remove
    transition: max-height 0.3s
    display: block !important
    overflow: hidden

  &.ng-hide-add.ng-hide-add-active
  &.ng-hide-remove
    max-height: 0

  &.ng-hide-add
  &.ng-hide-remove.ng-hide-remove-active
    max-height: 400px

  &.editing
    border-top-left-radius: 0

  @media (max-width: maxWidthForNarrowKeep)
    padding-bottom: 0

    &>.kf-keep-body
      margin-left: -(keepSidePad)
      margin-right: -(keepSidePad)

.kf-keep-checkbox-wrap
  position: absolute
  top: -1px
  left: -15px
  width: 15px
  height: 32px
  background-color: #fff
  border: defaultBorder
  border-right: none
  border-radius: 5px 0 0 5px
  box-sizing: border-box

  .kf-keep:not(.editing)>&
    display: none

.kf-keep-checkbox-icon
  position: absolute
  top: 5px
  left: 5px
  cursor: pointer

.kf-keep-top
  display: table
  table-layout: fixed
  width: 100%
  padding-top: 16px
  margin-bottom: 16px

  &:empty
    padding-top: 4px

  @media (max-width: maxWidthForNarrowKeep)
    padding-top: 12px
    margin-bottom: 12px

    &:empty
      display: none

.kf-keep-top-menu-container
  position: absolute
  top: 12px
  right: 12px

  .kf-dropdown-menu
    top: 20px
    right: 0
    font-size: 14px
    transform-origin: 80% top
    transition: visibility 0s, opacity linear dur, transform dur ease-out

  &:not(.kf-open)>.kf-dropdown-menu
    dur = .08s
    visibility: hidden
    opacity: 0
    transform: scale(.9)
    transition-duration: 0s, dur, dur
    transition-delay: dur, 0s, 0s

  .kf-dropdown-menu-item
    display: block
    padding: 0 16px
    color: #556179
    white-space: nowrap
    cursor: pointer

    &:hover
      background-color: #eee

    &:active
      background-color: #ccc

.kf-keep-top-menu-btn
  position: relative
  width: 18px
  height: 13px
  border: 0
  background: transparent

  &::before
  &::after
    content: ''
    position: absolute;
    left: 50%
    width: 3px;
    top: 4px
    bottom: 4px
    border-top-left-radius: 2px
    border-top-right-radius: 2px
    background: #c7c7c7
    font-size: 0

  &::before
    transform: translate(-4px) rotate(-45deg)

  &::after
    transform: translate(2px) rotate(45deg)

  &:hover::before
  &:hover::after
  &:focus::before
  &:focus::after
    background: #aaa

  &:active::before
  &:active::after
   background: #888

.kf-keep-keeper-pic
  display: table-cell
  height: 48px
  width: 48px
  border-radius: 50%
  background-size: cover
  position: relative // for ::after

  @media (max-width: maxWidthForNarrowKeep)
    height: 36px
    width: 36px

  &:focus
    outline-color: #ccc

  &::after
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    border-radius: '%s' % inherit
    box-shadow: inset 0 0 1px rgba(0,0,0,.2)

.kf-keep-top-r
  display: table-cell
  vertical-align: middle
  padding-left: 12px

.kf-keep-keeper-name
  color: accentGreen
  font-weight: bold
  font-size: 16px

  @media (max-width: maxWidthForNarrowKeep)
    font-size: 14px

  &:hover
    text-decoration: underline

  &:focus
    outline-color: tint(accentGreen, 50%)

.kf-keep-time
  color: #808080
  line-height: 18px
  font-size: 14px
  font-smoothing: antialiased
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

  @media (max-width: maxWidthForNarrowKeep)
    font-size: 12px

twitterBlue = #00aced

.kf-keep-tweet-link
  margin-left: 10px
  color: shade(twitterBlue, 10%)
  font-size: 12px

  &:focus
    outline-color: tint(twitterBlue, 70%)

.kf-keep-twitter-logo
  display: inline-block
  width: 14px
  height: 12px
  margin-right: 5px
  background-size: cover
  vertical-align: -2px

noteMargin = -6px 0 18px

.kf-keep-note
  white-space: pre-wrap
  word-wrap: break-word

  .kf-knf+&
    display: none

  &:not(:empty)
    margin: noteMargin

    @media (max-width: maxWidthForNarrowKeep)
      margin: -4px 0 12px

.kf-keep-note-hashtag
  color: accentGreen

  &:hover
    text-decoration: underline

.kf-knf
  margin: noteMargin

.kf-keep-add-note
  margin: noteMargin

  .kf-keep-note:not(:empty)+&
  .kf-knf~&
    display: none

.kf-keep-add-note-btn
  border: 0
  padding: 0
  color: #ccc //linkColor
  background-color: transparent
  font-smoothing: antialiased

  &:hover
    color: #aaa

    &:active
      color: #8f8f8f

.kf-keep-note
.kf-knf-editor
.kf-keep-add-note-btn
  font-size: 16px
  line-height: 1.5

  @media (max-width: maxWidthForNarrowKeep)
    font-size: 14px

  @media (max-width: 479px)
    font-size: 13px

.kf-keeps-load-more
  display: block
  margin: 10px 0
  padding: 4px 0
  font-size: 16px
  line-height: 30px
  text-align: center
  border-radius: keepBorderRadius
  background-color: #fff
  box-shadow: 0 0 0 .5px defaultBorderColor  // half-pixel border workaround crbug.com/236371
  color: linkBlueColor

  &:hover:active
    background-color: #fdfdfd

  &:focus
    outline-color: alpha(linkBlueColor, .5)

.kf-keeps-loading
  display: block
  width: 44px
  height: 8px
  margin: 40px auto
