@(dupes: Seq[com.keepit.controllers.admin.DisplayedDuplicates])(implicit flash: Flash)
@import com.keepit.model.NormalizedURI

@admin("Document Integrity") {

    <script>
      function handleDuplicate(action, id, element, cb) {
        $.post("@com.keepit.controllers.admin.routes.ScraperController.handleDuplicate",
          { 'action': action, 'id': id },
          function(data) {
            cb && cb(element);
        });
        return true;
      }
      function handleDuplicates(action, id, element, cb) {
        $.post("@com.keepit.controllers.admin.routes.ScraperController.handleDuplicates",
          { 'action': action, 'id': id },
          function(data) {
            console.log(data);
            cb && cb(element);
        });
        return true;
      }

      $(document).ready(function() {
          $(".table").on("click", ".ignore_all", function() {
            handleDuplicates("ignore", $(this).data("id"), this, function(element) { $(element).parents("tbody").hide(); });
          }).on("click", ".ignore", function() {
            handleDuplicate("ignore", $(this).data("id"), this, function(element) { $(element).parents("tr").hide(); });
          }).on("click", ".merge_all", function() {
            handleDuplicates("merge", $(this).data("id"), this, function(element) { $(element).parents("tbody").hide(); });
          }).on("click", ".merge", function() {
            handleDuplicate("merge", $(this).data("id"), this, function(element) { $(element).parents("tr").hide(); });
          }).on("click", ".unscrapable", function() {
            document.location = "@com.keepit.controllers.admin.routes.ScraperController.getUnscrapable"
          });
      });
    </script>

    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="@com.keepit.controllers.admin.routes.ScraperController.getUnscrapable()">Unscrapables</a></li>
                <li><a href="@com.keepit.controllers.admin.routes.ScraperController.orphanCleanup()">Clean up Orphans</a></li>
                <li><a href="@com.keepit.controllers.admin.routes.UrlController.renormalize()">Renormalize</a></li>
                <li><a href="@com.keepit.controllers.admin.routes.ScraperController.duplicateDocumentDetection()">De-duplicate Documents</a></li>
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>URL</th>
                <th>Match %</th>
                <th></th>
            </tr>
            @for(dupeGroup <- dupes) {
            <tbody>
                <tr class="info">
                    <td>@dupeGroup.normUriId</td>
                    <td><a href="@dupeGroup.url">@dupeGroup.url</a></td>
                    <td>@dupeGroup.dupes.size Duplicates</td>
                    <td>
                        <div class="btn-group">
                            <div class="btn btn-info ignore_all" data-id="@dupeGroup.normUriId">Ignore All</div>
                            <div class="btn btn-info merge_all" data-id="@dupeGroup.normUriId">Merge All</div>
                            <div class="btn btn-info unscrapable" data-id="@dupeGroup.normUriId">Unscrapable</div>
                        </div>
                    </td>
                </tr>
                @for(dupe <- dupeGroup.dupes) {
                    <tr>
                        <td>@dupe.normUriId</td>
                        <td><a href="@dupeGroup.url">@dupe.url</a></td>
                        <td>@{dupe.percentMatch*100}%</td>
                        <td>
                            <div class="btn-group">
                                <div class="btn ignore" data-id="@dupe.id">Ignore</div>
                                <div class="btn merge" data-id="@dupe.id">Merge</div>
                                <div class="btn unscrapable" data-id="@dupe.id">Unscrapable</div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
            }
        </table>
    </div>

}
