@admin("Engineering Dashboard", scripts = List("graphite")) {
<div style="float: right" class="form-horizontal">
  <select class="input-medium" id="timerange"></select>
  <button class="btn btn-primary" type="button" id="update">Update Now</button>
</div>

<p>
  <a href="@com.keepit.controllers.admin.routes.AdminSearchPerformanceController.viewSearchPerformance"><font size="5">Search Performance</font></a>
  <p><img id="search" class="img-polaroid"></p>
</p>
<p>
  <a href="@com.keepit.controllers.admin.routes.AdminCacheController.serviceView"><font size="5">Cache Performance</font></a>
  <p><img id="cache" class="img-polaroid"></p>
</p>

<script>

  var timeranges = {
  "24 Hours": "-24h",
  "12 Hours": "-12h",
  "6 Hours": "-6h",
  "3 Hours": "-3h",
  "1 Hour": "-1h",
  "30 Minutes": "-0h30min",
  "10 Minutes": "-0h10min",
  };

  $.each(timeranges, function (name, timerange) {
  $("#timerange").append($("<option>").val(timerange).text(name));
  });

  function renderCharts() {
  var options = $.fn.graphite.defaults = {
  url: "https://www.hostedgraphite.com/a3d638f9/b4e709e5-45b0-4b89-904b-a6cc7e517e04/graphite/render/",
  lineMode: "connected",
  width: 1100,
  height: 400,
  hideGrid: "true",
  from: $("#timerange").val()
  };

  var baseTargets = ["drawAsInfinite(counters.*.deploys.count)"];

  // Search Chart

  var searchTargets = baseTargets.concat('summarize(counters.search.extSearch.total.count,"1hour")').concat(["secondYAxis(timers.search.extSearch.total.mean)"]);
  options.drawNullAsZero = "false";
  options.target = searchTargets;
  options.title = "Searches per Hour vs Mean Time in Milliseconds"
  $("#search").graphite(options);

  // Cache Chart

  function sumSeries(metric) {
    return "sumSeries(" + ["counters.*.*", metric, "count"].join(".") + ")"
  }

  var cacheCountTargets = ["hits", "misses", "sets"].map(function (metric) {return sumSeries(metric)});
  var cacheRatioTarget = ["secondYAxis(scale(divideSeries(" + sumSeries("hits") + "," + sumSeries("{hits,misses}") + "),100))"];
  var cacheTargets = baseTargets.concat(cacheCountTargets).concat(cacheRatioTarget);

  options.drawNullAsZero = "true";
  options.target = cacheTargets;
  options.title = "Hits - Misses - Sets per Minute vs Hit Ratio"
  $("#cache").graphite(options);
}

  $("#timerange").change(renderCharts);
  $("#update").click(renderCharts);
  setInterval(renderCharts, 300000);
  renderCharts()
</script>
}


