@(articleIndexInfo: com.keepit.controllers.search.ArticleIndexInfo,
  uriGraphInfo: com.keepit.controllers.search.URIGraphIndexInfo)

@admin("Index") {
  <h2>Article Index</h2>
  <div>
    <b>num documents indexed:</b> @{articleIndexInfo.numDocs}<br>
    <b>last committed at:</b> @{articleIndexInfo.committedAt.getOrElse("N/A")}<br>
    <b>last sequence number:</b> @{articleIndexInfo.sequenceNumber.getOrElse("N/A")}<br>
  </div>
  <h2>URI Graph</h2>
  <div>
    <b>num documents indexed:</b> @{uriGraphInfo.numDocs}<br>
    <b>last committed at:</b> @{uriGraphInfo.committedAt.getOrElse("N/A")}<br>
    <b>last sequence number:</b> @{uriGraphInfo.sequenceNumber.getOrElse("N/A")}<br>
  </div>
}
