@(uriAndUsers: Seq[(User, Comment, NormalizedURI, Seq[com.keepit.model.User])], page: Int, count: Long, pageCount: Int))

@pagination(page: Int, pageCount: Int) = {
  <div class="pagination pagination-centered pagination-mini">
    <ul>
      <li>
        @if(page > 0) {
          <a href="@com.keepit.controllers.admin.routes.AdminCommentController.messagesView(page - 1)">
        } else {
         <a href="#">
        }
        Prev
        </a>
      </li>
      @for(i <- 0 to (pageCount - 1)) {
        @if(i == page) {
	        <li class="disabled">
	          <a href="@com.keepit.controllers.admin.routes.AdminCommentController.messagesView(i)">@{i + 1}</a>
	        </li>
        } else {
	        <li class="active">
	          <a href="@com.keepit.controllers.admin.routes.AdminCommentController.messagesView(i)">@{i + 1}</a>
	        </li>
	      }
      }
      <li>
        @if(uriAndUsers.size > 0) {
          <a href="@com.keepit.controllers.admin.routes.AdminCommentController.messagesView(page + 1)">
        } else {
         <a href="#">
        }
        Next
        </a>
      </li>
    </ul>
  </div>
}

@admin(count + " Total Messages") {
  <h2>showing @uriAndUsers.size (page @{page + 1})</h2>
  @pagination(page, pageCount)
  <table class="table table-bordered">
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Recipients</th>
      <th>Page Title</th>
      <th>Page</th>
      <th>Creation</th>
    </tr>
  @for(((user, comment, article, recipients), i) <- uriAndUsers.zipWithIndex) {
    <tr>
      <td rowspan="2">@{i+1}</td>
      <td>@adminHelper.userDisplay(user)</td>
      <td>@for(recipient <- recipients) { @adminHelper.userDisplay(recipient) }</td>
      <td>@comment.pageTitle</td>
      <td>@adminHelper.articleDisplay(article)</td>
      <td>@adminHelper.dateTimeDisplay(comment.createdAt)</td>
    </tr>
    <tr>
      <td colspan="5">@comment.text</td>
    </tr>
  }
  </table>
  @pagination(page, pageCount)
}
