
@admin("Search Performance", scripts = List("graphite")) {


<div align="center">
<figure>
<img id="chart">
<figcaption><font size="5">Main Search Performance</font></figcaption>
</fiugre>
<select id="metric"></select>
<select id="yscale"></select>
</div>



<div align="center">
<figure>
<img id="chart2">
<figcaption><font size="5">Ext Search Performance</font></figcaption>
</fiugre>
<select id="metric2"></select>
<select id="yscale2"></select>
</div>


<script>

//var baseTargets = ["drawAsInfinite(stats.counters.search.deploys.count)"];
var baseTargets = [""];

// make offsets so log will always work
var metrics = {
  "social graph info" : "offset(stats.timers.search.mainSearch.socialGraphInfo.mean_99, 1.0)",
  "get clickboost" : "offset(stats.timers.search.mainSearch.getClickboost.mean_99, 1.0)",
  "query parsing" : "offset(stats.timers.search.mainSearch.queryParsing.mean_99, 1.0)",
  "personalized searcher" : "offset(stats.timers.search.mainSearch.personalizedSearcher.mean_99, 1.0)",
  "Lucene Search" : "offset(stats.timers.search.mainSearch.LuceneSearch.mean_99, 1.0)",
  "processHits" : "offset(stats.timers.search.mainSearch.processHits.mean_99, 1.0)",
  "mainSearch total" : "offset(stats.timers.search.mainSearch.total.mean_99, 1.0)" 
};

var yscales = {
  "Linear Scale": "linear",
  "log": "log"
};

$.each(metrics, function (name, metric) {
  $("#metric").append($("<option>").val(metric).text(name));
});


$.each(yscales, function (name, scale) {
  $("#yscale").append($("<option>").val(scale).text(name));
});

var options = $.fn.graphite.defaults = {
  url: "https://www.hostedgraphite.com/a3d638f9/b4e709e5-45b0-4b89-904b-a6cc7e517e04/graphite/render/",
  lineMode: "connected",
  width: 1200,
  height: 600
};

$("#metric").change(function () {
  var targets = baseTargets.concat([$(this).val()])
  options.target = targets;
  renderChart();
}).change();


$("#yscale").change(function () {
  options.logBase = $(this).val() == "log" ? 2 : null;
  renderChart();
});


function renderChart() {
  $("#chart").graphite(options);
}


var metrics2 = {
  "search factory": "offset(stats.timers.search.extSearch.factory.mean_99, 1.0)",
  "mainSearch": "offset(stats.timers.search.extSearch.searching.mean_99, 1.0)",
  "postsearch": "offset(stats.timers.search.extSearch.postSearchTime.mean_99, 1.0)",
  "ext search total": "offset(stats.timers.search.extSearch.total.mean_99, 1.0)"
};

  var yscales2 = {
    "Linear Scale": "linear",
    "log": "log"
  };

  $.each(metrics2, function (name, metric) {
    $("#metric2").append($("<option>").val(metric).text(name));
  });


  $.each(yscales2, function (name, scale) {
    $("#yscale2").append($("<option>").val(scale).text(name));
  });

  var options2 = $.fn.graphite.defaults = {
    url: "https://www.hostedgraphite.com/a3d638f9/b4e709e5-45b0-4b89-904b-a6cc7e517e04/graphite/render/",
    lineMode: "connected",
    width: 1200,
    height: 600
  };

  $("#metric2").change(function () {
    var targets = baseTargets.concat([$(this).val()])
    options2.target = targets;
    renderChart2();
  }).change();


  $("#yscale2").change(function () {
    options2.logBase = $(this).val() == "log" ? 2 : null;
    renderChart2();
  });


  function renderChart2() {
    $("#chart2").graphite(options2);
  }

  renderChart2();



</script>
}
