
@admin("Search Performance", scripts = List("graphite")) {


<p>
<figure>
<img id="chart">
<figcaption>Main Search Performance</figcaption>
</fiugre>
<select id="metric"></select>
<select id="yscale"></select>
</p>

<script>



var metrics = {
  "social graph info" : "gauges.search.mainSearch.socialGraphInfo",
  "get clickboost" : "gauges.search.mainSearch.getClickboost",
  "query parsing" : "gauges.search.mainSearch.queryParsing",
  "personalized searcher" : "gauges.search.mainSearch.personalizedSearcher",
  "Lucene Search" : "gauges.search.mainSearch.LuceneSearch",
  "processHits" : "gauges.search.mainSearch.processHits",
  "mainSearch total" : "gauges.search.mainSearch.total" 
};

var yscales = {
  "Linear Scale": "linear",
  "log": "log"
};

$.each(metrics, function (name, metric) {
  $("#metric").append($("<option>").val(metric).text(name));
});


$.each(yscales, function (name, scale) {
  $("#yscale").append($("<option>").val(scale).text(name));
});

var options = $.fn.graphite.defaults = {
  url: "https://www.hostedgraphite.com/a3d638f9/b4e709e5-45b0-4b89-904b-a6cc7e517e04/graphite/render/",
  lineMode: "connected",
  width: 600,
  height: 400
};

$("#metric").change(function () {
  options.target = [$(this).val()];
  renderChart();
}).change();


$("#yscale").change(function () {
  options.logBase = $(this).val() == "log" ? 2 : null;
  renderChart();
});


function renderChart() {
  $("#chart").graphite(options);
}

renderChart();

</script>
}
