@(currentService: com.keepit.common.service.ServiceType,
  currentVersion: com.keepit.common.service.ServiceVersion,
  compilationTime: String, started: String, errorCount: Int,
  recentErrors: Seq[com.keepit.common.healthcheck.HealthcheckError],
  cacheStats: Seq[(String, Int, Int, Int)], totalHits: Int, totalMisses: Int, totalSets: Int)

@admin(currentService + " service") {
   <table class="table table-bordered">
      <tr>
        <th>Version</th><td>@currentVersion</td>
      </tr>
      <tr>
        <th>Compiled at</th><td>@compilationTime</td>
      </tr>
      <tr>
        <th>Started at</th><td>@started</td>
      </tr>
      <tr>
        <th>Error count (<a href="@com.keepit.common.healthcheck.routes.AdminHealthController.resetErrorCount()">reset</a>)</th><td>@errorCount</td>
      </tr>
      <tr>
        <th>Recent errors</th>
        <td>
          @for(e <- recentErrors) {
            @e.id : @e.signature.value
            <br/>
            @Html(e.titleHtml)
            <hr/>
          }
        </td>
      </tr>
      <tr>
        <th>Cache Health</th>
        <td>Since start: @totalHits hits, @totalMisses misses, @totalSets updates
        <table>
          <thead>
            <tr>
              <td>Name</td>
              <td>Hits</td>
              <td>Misses</td>
              <td>Updates</td>
            </tr>
          </thead>
          <tbody>
          @for(stat <- cacheStats) {
            <tr>
              <th>@stat._1</th>
              <td>@stat._2</td>
              <td>@stat._3</td>
              <td>@stat._4</td>
            </tr>
          }
          </tbody>
        </table>
        </td>
      </tr>
  </table>

  <div id="video"/>
  <script type="text/javascript">
	  var videos = [
	                's6KWnVh-JDs',
	                'MbGNcoB2Y4I',
	                'sdUwlSwifHw',
	                'KUQGYMvI5sk',
	                'kyYS-GzBSIg',
	                'ojydNb3Lrrs'
	              ];

    var index=Math.floor(Math.random() * videos.length);
    var html='<center><iframe width="600px" height="400px" src="http://www.youtube.com/embed/' + videos[index] + '" frameborder="0" allowfullscreen></iframe></center>';
    $('#video').append(html);

  </script>
}
