@(socialUserInfo: SocialUserInfo, socialConnections: Seq[SocialUserInfo], rawInfo: Option[SocialUserRawInfo])

@userWithFacebookDisplay(socialUserInfo: SocialUserInfo) = {
  <span style="margin:2px">
    <a data-hover="tooltip" title="@socialUserInfo.fullName+" class="name_tooltip_link" href="http://www.facebook.com/@socialUserInfo.socialId.id" target="_blank">
      <img class="img-rounded user-avatar" src="https://graph.facebook.com/@socialUserInfo.socialId.id/picture?type=square"/>
      @socialUserInfo.fullName (@socialUserInfo.socialId.id)
    </a>
  </span>
}

@admin("Social User: " + socialUserInfo.fullName) {
  <h2>Social User details</h2>
   Name: @socialUserInfo.fullName<br/>
   Id: @socialUserInfo.id.get<br/>
   Facebook Account: @userWithFacebookDisplay(socialUserInfo)<br/>
   State: @socialUserInfo.state<br/>
   Credentials:<br/><textarea rows="3" cols="400">@socialUserInfo.credentials</textarea><br/>
   Social Raw info: <br/><textarea rows="7" cols="400">@rawInfo</textarea><br/>
   Account created at: @adminHelper.dateTimeDisplay(socialUserInfo.createdAt)<br/>
   Last updated: @adminHelper.dateTimeDisplay(socialUserInfo.updatedAt)

   @if(socialUserInfo.userId.isDefined) {
     <h3>Forty Two User: @adminHelper.socialUserDisplay(socialUserInfo)</h3>
   }
   <p>
    <button class="btn btn-primary" onclick="refreshSociaUserInfo()">Refresh Social User Info!</button>

    <button class="btn"onclick="resetSociaUserInfo()">Reset Social User Info credentials!</button>
   </p>
   <h2>FortyTwo User Connections</h2>
   <div class="scrollArea">
     <ol>
      @for(socialConnection <- socialConnections) {
        @if(socialConnection.userId.isDefined) {
          <li>@adminHelper.socialUserDisplay(socialConnection)</li>
        }
      }
    </ol>
   </div>

   <h2>User connected to @socialConnections.size Social Users</h2>
   <div class="scrollArea">
    <ol>
     @for(socialConnection <- socialConnections) {
       <li>@adminHelper.socialUserDisplay(socialConnection, true)</li>
     }
    </ol>
   </div>

    <script type="text/javascript">
      function refreshSociaUserInfo() {
        location.href="@com.keepit.controllers.admin.routes.AdminSocialUserController.refreshSocialInfo(socialUserInfo.id.get)"
      }
      function resetSociaUserInfo() {
        location.href="@com.keepit.controllers.admin.routes.AdminSocialUserController.resetSocialUser(socialUserInfo.id.get)"
      }
    </script>
}
