.kf-body-container
  display: flex

  .kf-body-container-content
    flex-grow: 1
    display: flex
    flex-direction: column
    height: calc(100vh - 54px)
    overflow: scroll

  .kf-body-container-content-main
    width: 100%
    position: relative
