<div class="kf-left-hand-nav">
    <div class="kf-left-hand-nav-user-container">
        <div class="kf-left-hand-nav-item-header">
            <img ng-src="{{ me|pic:100 }}" />
            <div class="kf-left-hand-nav-user-img"></div><span ng-bind="me|name"></span>
        </div>
        <div class="kf-left-hand-nav-libraries-container">
            <div class="kf-left-hand-nav-library-header">Libraries</div>
            <div class="kf-left-hand-nav-library-container"  ng-repeat="library in libraries" ng-style="{'border-left-color': library.color}">
                <div class="kf-left-hand-nav-library">{{library.name}}</div>
            </div>
            <div class="kf-left-hand-nav-view-more-libraries">view more</div>
        </div>

    </div>
    <div class="kf-left-hand-nav-org-container" ng-repeat="org in orgs">
        <div class="kf-left-hand-nav-item-header">
            <img ng-src="{{ org|pic:100 }}" />
            <div class="kf-left-hand-nav-user-img"></div><span ng-bind="org.name"></span>
        </div>
        <div class="kf-left-hand-nav-libraries-container">
            <div class="kf-left-hand-nav-library-header">Libraries</div>
            <div class="kf-left-hand-nav-library-container"  ng-repeat="library in org.libraries" ng-style="{'border-left-color': library.color}">
                <div class="kf-left-hand-nav-library">{{library.name}}</div>
            </div>
            <div class="kf-left-hand-nav-view-more-libraries">view more</div>
        </div>

    </div>
</div>