<div class="kf-left-hand-nav" ng-if="$root.leftHandNavIsOpen">
    <div class="kf-left-hand-nav-header">
        <a class="kf-left-hand-nav-logo svg-kifi-clover-white-text" ui-sref="home.feed"></a>
        <div class="kifi-guide-target-1"></div><!-- TODO: remove all kifi-guide-target-# after all extension users at 3.3.50 -->
        <svg class="kf-left-hand-nav-close-icon" kf-symbol-sprite icon="error" ng-if="$root.leftHandNavIsOpen" ng-click="$root.leftHandNavIsOpen = false"></svg>
    </div>
    <div class="kf-left-hand-nav-content" scrollable>
        <div class="kf-left-hand-nav-content-spinner-container" ng-if="!showUserAndOrgContent && !initialFetchFailed">
            <!--TODO: make a directive-->
            <div class="kf-left-hand-nav-spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>

        <div class="kf-left-hand-nav-load-error" ng-if="initialFetchFailed">
            Woops there was an error
            <div class="kf-left-hand-nav-load-error-reload" ng-click="reloadData()">Retry</div>
        </div>

        <div ng-if="showUserAndOrgContent" class="kf-left-hand-nav-inner-content">
            <div class="kf-left-hand-nav-user-container">
                <a class="kf-left-hand-nav-item-header" ng-click="onClickedMyProfile()" ng-href="{{ me|profileUrl }}">
                    <img ng-src="{{ me|pic:100 }}" />
                    <div class="kf-left-hand-nav-user-img"></div><span ng-bind="me|name"></span>
                </a>
                <div class="kf-left-hand-nav-libraries-container">
                    <div class="kf-left-hand-nav-library-header">Libraries</div>
                    <a class="kf-left-hand-nav-library-container" ng-click="onClickedMyLibrary(library)" ng-href="{{library.path}}" ng-repeat="library in libraries">
                        <div class="kf-left-hand-nav-library-container-bg" ng-style="{'background': library.color}"></div>
                        <div class="kf-left-hand-nav-library-color" ng-style="{'background': library.color}"></div>
                        <div class="kf-left-hand-nav-library" ng-bind="library.name"></div>
                    </a>
                    <div lass="kf-left-hand-nav-actions-container">
                        <div class="kf-left-hand-nav-action" ng-click="viewMoreOwnLibraries()"  ng-if="hasMoreUserLibaries">view more</div>
                        <div class="kf-left-hand-nav-spinner kf-left-hand-nav-spinner-scale" ng-if="fetchingUserLibraries">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <div class="kf-left-hand-nav-action" ng-click="createOwnLibrary()"  ng-if="libraries.length < 6">+ create a library</div>
                    </div>

                </div>

            </div>
            <div class="kf-left-hand-nav-org-container" ng-repeat="org in orgs">
                <a class="kf-left-hand-nav-item-header" ng-click="onClickedTeam(org)" ng-href="{{ org.handle }}">
                    <img ng-src="{{ org|pic:100 }}" />
                    <div class="kf-left-hand-nav-user-img"></div><span ng-bind="org.name"></span>
                </a>
                <div class="kf-left-hand-nav-libraries-container" ng-if="!org.pending && !org.potential">
                    <div class="kf-left-hand-nav-library-header">Libraries</div>
                    <a class="kf-left-hand-nav-library-container" ng-click="onClickedTeamLibrary(org, library)" ng-href="{{library.path}}" ng-repeat="library in org.libraries">
                        <div class="kf-left-hand-nav-library-container-bg" ng-style="{'background': library.color}"></div>
                        <div class="kf-left-hand-nav-library-color" ng-style="{'background': library.color}"></div>
                        <div class="kf-left-hand-nav-library" ng-bind="library.name"></div>
                    </a>
                    <div class="kf-left-hand-nav-actions-container">
                        <div class="kf-left-hand-nav-action" ng-click="viewMoreOrgLibraries(org)" ng-if="org.hasMoreLibraries">view more</div>
                        <!--TODO: make a directive-->
                        <div class="kf-left-hand-nav-spinner kf-left-hand-nav-spinner-scale"  ng-if="org.fetchingLibraries">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <div class="kf-left-hand-nav-action" ng-click="createOrgLibrary(org)" ng-if="org.libraries.length < 6">+ create a library</div>
                    </div>
                </div>
                <div class="kf-left-hand-nav-org-message" ng-if="org.pending">
                    You are invited to join this team!
                    <div class="kf-left-hand-nav-button-container">
                        <span class="kf-left-hand-nav-button-accept" ng-click="joinOrg(org)">Accept</span>
                        <span class="kf-left-hand-nav-button-decline" ng-click="declineOrg(org)">Decline</span>
                    </div>
                </div>

                <div class="kf-left-hand-nav-org-message" ng-if="org.potential && !org.declined">
                    Verify your email to join this team
                    <div ng-repeat="email in org.viewer.emails">
                        <p class="kf-left-hand-nav-org-email" ng-bind="email"></p>
                        <div class="kf-left-hand-nav-button-container">
                            <span class="kf-left-hand-nav-button-accept" ng-click="sendMemberConfirmationEmail(email, org)">Verify</span>
                            <span class="kf-left-hand-nav-button-decline" ng-click="hideOrgDomain(org)">Decline</span>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="showCreateTeam">
                <span class="kf-left-hand-nav-create-team">+
                    <span ng-bind="'Create a team' + (companyName ? ' for ' + companyName : '')" ng-click="createTeam()"></span>
                    <!--[<span class="kf-left-hand-nav-create-team-learn-more" ng-click="openLearnMoreModal()">learn more</span>]-->
                </span>
            </div>
        </div>
    </div>
</div>
