<div class="kf-logged-in-nav-header kf-lih" ng-controller="LoggedInHeaderCtrl" ng-class="{'kf-logged-in-nav-header-drawer-open': $root.leftHandNavIsOpen}">
  <div class="kf-lih-inner-flex">
    <div class="kf-lih-left-flex">
      <div class="kf-logged-in-nav-header-left-menu-button" ng-if="!$root.leftHandNavIsOpen" ng-click="$root.leftHandNavIsOpen = true">
        <svg class="kf-logged-in-nav-header-left-menu-icon" kf-symbol-sprite icon="nav-menu"></svg>
      </div>
      <a class="kf-logged-in-nav-header-logo kf-lih-logo svg-kifi-clover-dark-text" ui-sref="home.feed" ng-if="!$root.leftHandNavIsOpen"></a>
    </div>
    <div class="kf-lih-center-flex">
      <label class="kf-lih-search kf-lih-search-lhn kifi-guide-target-2 kifi-guide-1" ng-class="{'kf-lit': search.focused || search.text, 'kf-instant': search.transitionOff}">
        <span class="kf-lih-search-left">
          <span class="kf-lih-search-icon svg-search-icon-gray"></span>
          <span class="kf-lih-search-icon-lit svg-search-icon-blue"></span>
    `      <a class="kf-lih-search-lib-owner-img" ng-if="search.libraryChip" ng-style="{ 'background-image': 'url(' + (library.owner|pic:100) + ')' }" href="{{library.owner|profileUrl}}" title="{{library.owner|name}}"></a>
          <span class="kf-lih-search-lib-name" ng-if="search.libraryChip" ng-style="{ 'background-color': library.color }">{{library.name}}</span>
          <a class="kf-lih-search-lib-x" ng-if="search.libraryChip" ng-style="{ 'background-color': library.color }" ng-mousedown="onMouseDownLibX($event)" ng-click="onClickLibX()" href="javascript:">&times;</a>
        </span>
        <span class="kf-lih-search-center">
          <input class="kf-lih-search-input" type="text" placeholder="Search" ng-model="search.text" ng-focus="onInputFocus()" ng-blur="onInputBlur($event)" ng-change="onQueryChange()" ng-keydown="onKeydown($event)" ng-click="onSearchBarClicked()">
        </span>
        <span class="kf-lih-search-right" ng-if="search.text">
          <button class="kf-lih-search-clear" ng-click="clearInput($event)">Clear</button>
        </span>
      </label>
      <div class="kf-lih-search-suggestions" kf-search-suggest="search" library-id="library.id" ng-if="search.suggesting"></div>
      <div class="kf-callout-search kf-callout-bubble kf-callout-bubble-bottom" ng-if="calloutVisible">
        <p>We’ve tidied up a bit.<p>You can now click the search bar or<br>press <span class="kf-callout-key">/</span> to access your libraries.
        <div class="kf-callout-bubble-action">
          <button class="kf-callout-bubble-button" ng-click="closeCallout()">Got it</button>
        </div>
      </div>
    </div>
    <div class="kf-lih-right-flex">
      <div class="kf-logged-in-nav-header-guide-target-3 kifi-guide-target-3 kifi-guide-2"></div>
      <div class="kf-lih-dropdown-parent" kf-click-menu toggle-open="true">
        <button class="kf-lih-add-link sprite sprite-add-link-2">Add a link</button>
        <!-- <button class="kf-lih-friends"><span class="svg-friends-white"></span>Connections</button> -->
        <menu class="kf-dropdown-menu">
          <button class="kf-dropdown-menu-item" ng-click="maybeShowWindingDown() || addKeeps()">
            <span class="kf-lih-create-icon kf-lih-create-org">
              <svg kf-symbol-sprite icon="hearts"></svg>
            </span><!--
         -->Add a keep
          </button>
          <button class="kf-dropdown-menu-item" ng-click="maybeShowWindingDown() || createLibrary()">
            <span class="kf-lih-create-icon kf-lih-create-org">
              <svg kf-symbol-sprite icon="create-library"></svg>
            </span><!--
         -->Create a library
          </button>
          <button class="kf-dropdown-menu-item" ng-click="maybeShowWindingDown() || createTeam()">
            <span class="kf-lih-create-icon kf-lih-create-org">
              <svg kf-symbol-sprite icon="team"></svg>
            </span><!--
         -->Create a team
          </button>
          <a class="kf-dropdown-menu-item" href="/invite" ng-click="maybeShowWindingDown($event)">
            <span class="kf-lih-create-icon kf-lih-create-org">
              <svg kf-symbol-sprite icon="invite-friend"></svg>
            </span><!--
         -->Invite someone to Kifi
          </a>
          <button class="kf-dropdown-menu-item" ng-click="maybeShowWindingDown() || importBookmarks()">
            <span class="kf-lih-create-icon kf-lih-create-org">
              <svg kf-symbol-sprite icon="import-bookmarks"></svg>
            </span><!--
         --> Import browser bookmarks
          </button>
          <button class="kf-dropdown-menu-item" ng-click="maybeShowWindingDown() || importBookmarkFile()">
            <span class="kf-lih-create-icon kf-lih-create-org">
              <svg kf-symbol-sprite icon="import"></svg>
            </span><!--
         --> Import from 3rd parties
          </button>
        </menu>
      </div>
      <div class="kf-lih-dropdown-parent" kf-click-menu toggle-open="true">
        <button class="kf-lih-profile" ng-style="{ 'background-image': 'url(' + (me|pic:100) + ')' }">Profile actions</button>
        <menu class="kf-dropdown-menu" ng-class="me.orgs.length ? 'kf-dropdown-menu_split' : ''">
          <nav class="kf-dropdown-menu-nav kf-lih-profiles" ng-if="me.orgs.length">
            <a class="kf-dropdown-menu-item" href="{{me|profileUrl}}">
              <img ng-src="{{ me|pic:100 }}" />
              <h1>Your Profile</h1>
            </a>
            <a class="kf-dropdown-menu-item" ng-repeat="org in me.orgs" ng-href="{{org|profileUrl}}">
              <img class="kf-lih-profiles-org" ng-src="{{ org|pic:100 }}" />
              <h1>{{org.name}}</h1>
            </a>
          </nav>
          <nav class="kf-dropdown-menu-nav">
            <a ng-if="!me.orgs.length" class="kf-dropdown-menu-item" href="{{me|profileUrl}}">Your Profile</a>
            <a class="kf-dropdown-menu-item" href="/tags/manage">Manage Tags</a>
            <a class="kf-dropdown-menu-item" href="http://support.kifi.com/" target="_self">Support</a>
            <a class="kf-dropdown-menu-item" ui-sref="settings">Settings</a>
            <a class="kf-dropdown-menu-item" ng-click="viewGuide()" href="#" ng-if="hasExtension">View Guide</a>
            <a class="kf-dropdown-menu-item" ng-click="triggerExtensionInstall()" href="#" ng-if="showExtensionInstall">Get Extension</a>
            <a class="kf-dropdown-menu-item" href="/logout" target="_top">Log out</a>
          </nav>
        </menu>
      </div>
    </div>
  </div>
  <div kf-mobile-interstitial></div>
</div>
