.kf-logged-in-nav-header-drawer-open
  width: 'calc(100vw - %s)' % leftHandNavWidth !important

.kf-logged-in-nav-header
  position: fixed
  top: 0
  width: 100%
  height: appHeaderHeightWithNav !important
  background-color: white
  z-index: 500
  user-select: none
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05)

  [kifi-pane-parent] &
    transition: width .25s ease-in

  [kifi-with-pane] &
    width: calc(100% - 322px)

  .kf-logged-in-nav-header-logo
    display: block

  .kf-logged-in-nav-header-left-menu-icon
    width: 23px
    height: 23px
    margin-right: 10px
    cursor: pointer
    fill: #AAA

  .kf-lih-search-lhn
    border-style: solid
    border-color: lightgray
    border-width: 1px
    background-color: #F5F5F5

  .kf-lih-add-link
    &:hover
      sprite2x($add-link-2-active)

  .kf-lih-center-flex
    padding-left: 15%
    padding-right: 15%

  .kf-logged-in-nav-header-left-menu-button:hover
    .kf-logged-in-nav-header-left-menu-icon
      fill: #777