.kf-logged-in-nav-header
  position: fixed
  top: 0
  width: 'calc(100vw - %s)' % leftHandNavWidth
  height: appHeaderHeightWithNav
  background-color: white
  z-index: 500
  user-select: none
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05)

  @media (max-width: appMobileWidth)
    width: 100%

  @media (max-height: appHeaderHeight1MaxDim) and (max-width: appHeaderHeight1MaxDim)
    height: appHeaderHeight1

  [kifi-pane-parent] &
    transition: width .25s ease-in

  [kifi-with-pane] &
    width: calc(100% - 322px)

  .kf-logged-in-nav-header-logo
    display: none
    @media (max-width: appMobileWidth)
      display: block

.kf-left-hand-nav-container

  .kf-lih-search-lhn
    background-color: #F5F5F5 !important


  .kf-lih-add-link
    &:hover
      sprite2x($add-link-2-active)

  .kf-lih-center-flex
    padding-left: 15%
    padding-right: 15%