.kf-simple-loading-spinner
  display: inline-block
  width: 24px
  height: 24px
  vertical-align: middle

  svg
    width: auto
    height: auto
    fill: accentGreen
    animation: pulse-spin 2s infinite linear
