@import "lesshat";
@import "common";
@import "retina-1.1.0";

@import "header";
@import "footer";

@green: #a0bf67;
@gray: #737980;
@blue: #5e98e2;
@blue2: #6fa6ef;
@green2: #93c059;

@maxWidth: 730px;

body {
	text-align: center;
}

.kifi-splash-bg {
	background: #f6f6f6;
	.at2x('/assets/static/images/header2.png', auto, auto);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: top right;
}

.kifi-splash {
	position: relative;
	.centered-content;
	.padding-top(200px);
	.padding-bottom(300px);
	.padding-lr(35px);

	h2 {
		@fontSize: 58px;
		.font-size(58px);
		color: black;
		.letter-spacing(2.5px, @fontSize);
		margin: 0;
	}

	h3 {
		@fontSize: 26px;
		.font-size(@fontSize);
		.letter-spacing(2px, @fontSize);
		.margin-top(10px, @fontSize);
	}
}

.kifi-about-page {
	position: relative;
	.padding-lr(35px);
	margin: 0 auto;
	.margin-top(150px);
	.margin-bottom(62px);
	.max-width(@maxWidth);
	text-align: left;

	h2 {
		@fontSize: 50px;
		.font-size(@fontSize);
		font-weight: 100;
		.margin-bottom(30px, @fontSize);
		text-align: center;
	}

	p {
		@fontSize: 24px;
		.font-size(@fontSize);
		font-weight: 300;
		.line-height(42px, @fontSize);
		.padding-tb(20px);
		margin: 0;
		color: @gray;
	}

	p:first-child:first-letter {
		.font-size(48px);
		color: #fe9999;
	}
}

.kifi-image-what-is-kifi {
	position: absolute;
	top: -11px;
	right: -8px;
	width: 217px;
	height: 79px;
	background: #d4e4f9;
	z-index: -1;
}

.kifi-image-vision-behind-kifi {
	position: absolute;
	top: -60px;
	right: -31px;
	width: 139px;
	height: 147px;
	background: #d4e4f9;
	z-index: -1;
}

.kifi-about-page-more {
	@fontSize: 26px;
	.font-size(@fontSize);
	font-weight: 200;
	.line-height(42px, @fontSize);
	.header-font;
	.letter-spacing(1px, @fontSize);
	.margin-top(25px, @fontSize);
	.margin-left(5px, @fontSize);

	a {
		.margin-left(10px, @fontSize);
		font-weight: 300;
		text-decoration: none;
		color: @blue2;
		white-space: nowrap;

		.kifi-vision-behind-kifi & {
			color: @green2;
		}
	}

	.kifi-about-page-more-icon {
		display: inline-block;
		.size(30px, @fontSize);
		.margin-right(9px, @fontSize);
		vertical-align: text-bottom;
		background: @blue2;
	}

	.kifi-link-text {
		display: inline-block;
		.height(40px, @fontSize);

		&:hover {
			.at2x('/assets/static/images/bluedots.png', auto, 2px);
			background-size: auto 2px;
			background-repeat: repeat-x;
			background-position: 0 unit(35px / @fontSize, em);

			&.kifi-join-kifi {
				.at2x('/assets/static/images/greendots.png', auto, 2px);
			}
		}

		.kifi-vision-behind-kifi & {
			border-color: @green2;
		}
	}

	.kifi-vision-behind-kifi & {
		.margin-top(82px, @fontSize);
	}
}

.kifi-available {
	text-align: left;
	.padding-top(26px);
	.padding-lr(90px);
	.padding-bottom(46px);
	margin: 0 auto;
	.margin-bottom(8px);
	.max-width(645px);
	background: #fbfbfb;

	h3 {
		@fontSize: 24px;
		.font-size(@fontSize);
		.line-height(42px, @fontSize);
		color: @gray;
		.letter-spacing(1px, @fontSize);
		color: @gray;
		font-weight: 200;
	}

	.kifi-separator {
		color: #fbd1d2;
		.margin-lr(9px);
		font-weight: 400;
	}
}

.kifi-platform {
	.margin-top(19px);
	.header-font;
}

.kifi-platform-type {
	@fontSize: 18px;
	.font-size(@fontSize);
	.line-height(24px, @fontSize);
	color: @gray;
	.letter-spacing(0.5px, @fontSize);
	font-weight: 400;
}

.kifi-platform-vendors {
	@fontSize: 16px;
	.font-size(@fontSize);
	font-weight: 300;
	.line-height(24px, @fontSize);
	color: @gray;
	.letter-spacing(0.5px, @fontSize);

	a {
		color: @gray;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.kifi-content-divider-wrapper {
	.max-width(@maxWidth);
	.padding-lr(35px);
	margin: 0 auto;
}
.kifi-content-divider {
	border: 2px solid #eaeaea;
}

.kifi-learn-more-box {
	margin: 0 auto;
}

.kifi-learn-more {
	@fontSize: 26px;
	text-align: left;
	.font-size(@fontSize);
	font-weight: 100;
	.line-height(42px, @fontSize);
	.letter-spacing(1.5px, @fontSize);
	.padding-lr(35px, @fontSize);
	margin: 0 auto;
	.margin-top(53px, @fontSize);
	.margin-bottom(164px, @fontSize);
	.max-width(@maxWidth, @fontSize);
	list-style: none;
	color: @green2;

	a {
		color: @green2;
		text-decoration: none;

		display: inline-block;
		.height(40px, @fontSize);
		background-repeat: repeat-x;
		.at2x('/assets/static/images/greendots.png', auto, 2px);
		background-size: auto 2px;
		background-position: 0 unit(38px / @fontSize, em);
	}

	li {
		.margin-bottom(28px, @fontSize);
	}

	.kifi-learn-more-icon {
		display: inline-block;
		.size(35px, @fontSize);
		.margin-right(37px, @fontSize);
		vertical-align: text-bottom;
		background: @green2;
	}
}
