.clearfix() {
	&:after {
		content: ' ';
		display: block;
		clear: both;
		font-size: 0;
	}
}

.clear {
	display: block;
	clear: both;
}

.centered-content {
	max-width: 1349px;
	margin: 0 auto;
	.box-sizing(border-box);
}
