.kifi-footer {
	padding: 50px 20px 39px;
	background: #424242;
	text-transform: uppercase;
}

.kifi-footer-menu {
	margin: 0;
	color: white;
	letter-spacing: 2px;

	li {
		display: inline-block;
	}

	a {
		color: white;
		text-decoration: none;
	}
}

.kifi-footer-menu-dot {
	margin: 0 6px;
}

.kifi-footer-caption {
	font-size: 14px;
	margin-top: 24px;
	color: #929292;
}
