.kifi-footer {
	padding: 47px 20px 38px;
	background: #424242;
	text-transform: uppercase;
}

.kifi-footer-menu {
	padding: 0;
	margin: 0;
	color: white;
	letter-spacing: 2px;

	li {
		display: inline-block;
	}

	a {
		color: white;
		text-decoration: none;
	}
}

.kifi-footer-menu-dot {
	margin: 0 6px;
}

.kifi-footer-caption {
	font-size: 14px;
	margin-top: 21px;
	color: #929292;
	letter-spacing: 2px;
}

.kifi-love-icon {
	display: inline-block;
	position: relative;
	top: 1px;
	width: 15px;
	height: 13px;
	background: #ec7f75;
}
