@green: #a0bf67;

.kifi-header-bg {
	position: fixed;
	top: 0;
	width: 100%;
	background: #f6f6f6;
	z-index: 1;
}

.kifi-header {
	max-width: 1349px;
	padding: 26px 65px;
	margin: 0 auto;
	.box-sizing(border-box);
	.centered-content;
}

.kifi-header-logo {
	float: left;
	font-size: 4em;
	color: transparent;
	background: #71a7ec;
}

.kifi-header-right {
	float: right;
	font-size: 18px;
	line-height: 37px;
	margin: 18px 0;
}

.kifi-header-right-link {
	display: inline-block;
	text-decoration: none;
	color: black;
	font-weight: 300;
	padding: 0 8px;
}

.kifi-header-signup {
	font-weight: 500;
	padding: 0 53px;
	border: 2px solid @green;
	.border-radius(21px);
	margin-right: 13px;
	background: white;
}

.kifi-header-right-separator {
	color: @green;
}
