@green: #a0bf67;

.kifi-header-bg {
	position: fixed;
	top: 0;
	width: 100%;
	background: #f6f6f6;
	z-index: 1;
}

.kifi-header {
	max-width: 1349px;
	.padding-tb(26px);
	.padding-lr(65px);
	margin: 0 auto;
	.box-sizing(border-box);
	.centered-content;
	.transition(padding 0.3s ease);
	white-space: nowrap;
}

.kifi-header-logo {
	float: left;
	font-size: 4em;
	color: transparent;
	background: #71a7ec;
}

@rightFontSize: 18px;

.kifi-header-right {
	float: right;
	.font-size(@rightFontSize);
	.line-height(37px, @rightFontSize);
	margin: 0;
	.margin-tb(@rightFontSize, @rightFontSize);
	.transition(font-size 0.3s ease);
}

.kifi-header-right-link {
	display: inline-block;
	text-decoration: none;
	color: black;
	font-weight: 300;
	padding: 0;
	.padding-lr(8px, @rightFontSize);
}

.kifi-header-signup {
	font-weight: 500;
	padding: 0;
	.padding-lr(53px, @rightFontSize);
	border: 2px solid @green;
	.border-radius(21px);
	.margin-right(13px, @rightFontSize);
	background: white;
	white-space: nowrap;
}

.kifi-header-right-separator {
	color: @green;
}
