@import "lesshat";
@import "common";

@green: #a0bf67;
@gray: #737980;
@blue: #5e98e2;

@import "header";
@import "footer";

.kifi-content {
	margin-top: 131px;
}

.kifi-video-bg {
	background: #f6f6f6;
}

.kifi-video {
	position: relative;
	.centered-content;
	padding-bottom: 187px;

	h2 {
		font-size: 42px;
		color: black;
		letter-spacing: 1.5px;
		padding: 36px 0 34px;
		margin: 0;
	}
}

.kifi-video-play {
	display: inline-block;
	width: 149px;
	height: 149px;
	margin-bottom: 14px;
	background: #a3c6f2;
	cursor: pointer;
}

.kifi-video-caption {
	font-size: 16px;
	letter-spacing: 1px;
}

.kifi-while {
	padding: 80px 20px 43px;

	h3 {
		font-size: 26px;
		color: @gray;
		letter-spacing: 0.5px;
		margin: 0;
		margin-left: 2px;
		text-align: left;
		font-weight: 100;
		.body-font;
	}

	h2 {
		font-size: 38px;
		margin: 0;
		margin-top: 6px;
	}

	img {
		display: block;
		margin: 0 auto;
		margin-top: 64px;
	}
}

.kifi-while-text {
	display: inline-block;
	margin: 0 auto;
}

.kifi-image-keep-it {
	display: block;
	width: 837px;
	max-width: 100%;
	height: 291px;
	margin: 0 auto;
	background: #e7e7e7;
}

.kifi-image-search {
	display: block;
	width: 611px;
	max-width: 100%;
	height: 429px;
	margin: 0 auto;
	background: #e7e7e7;
}

.kifi-image-message {
	display: block;
	width: 507px;
	max-width: 100%;
	height: 421px;
	margin: 0 auto;
	background: #e7e7e7;
}

.kifi-try-kifi {
	padding: 54px 20px;
	margin-top: 76px;
	background: #f6f6f6;

	h3 {
		font-size: 22px;
		font-weight: 400;
		color: @gray;
		letter-spacing: 1px;
		margin: 0;

		a {
			font-size: 0.9em;
			color: @blue;
			margin-left: 10px;
		}
	}

	hr {
		display: inline-block;
		margin: 38px 0 16px;
		width: 120px;
		border: 1px solid #dddddd;
	}

	h2 {
		margin: 0;
		font-size: 42px;
		letter-spacing: 2.5px;
	}
}

.kifi-try-kifi-button {
	display: inline-block;
	font-size: 19px;
	color: @blue;
	padding: 13px 28px;
	border: 2px solid @blue;
	margin-top: 23px;
	.border-radius(4px);
	background-clip: padding-box;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 4px;
	font-weight: 500;
}

.kifi-two-more-things {
	position: relative;
	padding: 136px 0 192px;
	.centered-content;

	h2 {
		font-size: 36px;
		letter-spacing: 2px;
		margin: 0;
		margin-bottom: 80px;
	}
}

.kifi-more-column {
	width: 50%;
	.box-sizing(border-box);
	padding: 0 30px;
	float: left;

	h2 {
		margin: 0;
		margin-bottom: 40px;
		font-size: 35px;
		letter-spacing: 2.5px;

		a {
			color: @blue;
			text-decoration: none;
		}
	}

	h3 {
		margin-top: 50px;
		font-size: 22px;
		letter-spacing: 1.5px;
		color: @gray;
	}
}

.kifi-mobile-links {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;

	li {
		padding: 12px 0;
	}
}

.kifi-image-laptop {
	display: block;
	width: 481px;
	max-width: 100%;
	height: 276px;
	margin: 0 auto;
	background: #d2d3d5;
}

.kifi-mobile-images {
	margin: 0 auto;
	border-spacing: 0;
	border-collapse: collapse;

	td, th {
		padding: 0;
	}
}

@cell-spacing: 45px / 2;

.kifi-image-iphone {
	display: inline-block;
	width: 130px;
	max-width: 100%;
	height: 278px;
	margin: 0 auto;
	margin-right: @cell-spacing;
	background: #ced4dc;
}

.kifi-mobile-links {
	display: inline-block;
	margin-left: @cell-spacing;
}

.kifi-mobile-link {
	display: inline-block;
	color: white;
	background: #dddddd;
	width: 150px;
	padding: 8px 11px;
	line-height: 1;
	.border-radius(3px);
	text-decoration: none;
	.box-sizing(border-box);
}

.kifi-mobile-link-status {
	display: block;
	font-size: 10px;
	text-transform: uppercase;
}

.kifi-mobile-link-device {
	display: block;
	font-size: 17px;
	margin-top: 4px;
}
