@import "lesshat";
@import "common";
@import "retina-1.1.0";

@import "header";
@import "footer";

@green: #a0bf67;
@gray: #737980;
@blue: #5e98e2;

body {
	text-align: center;
}

.kifi-video-bg {
	background: #f6f6f6;
	.at2x('/assets/static/images/header.png', 100%, 100%);
	background-repeat: repeat;
}

.kifi-video {
	position: relative;
	.centered-content;
	padding-top: 131px;
	.padding-bottom(127px);

	h2 {
		@fontSize: 42px;
		.font-size(@fontSize);
		color: black;
		padding: 36px 0 34px;
		.padding-lr(35px, @fontSize);
		margin: 0;
	}
}

.video-still {
	color: black;
	text-decoration: none;
	display: block;
	width: 256px;
	margin: 0 auto;
}

.kifi-video-play-box {
	position: relative;
	text-align: center;
}

.kifi-video-play {
	display: inline-block;
	width: 149px;
	height: 222px;
	.at2x('/assets/static/images/play.png', 100%, 100%);
	background-size: 100%;
	background-repeat: no-repeat;

	.kifi-video-play-box:hover & {
		.at2x('/assets/static/images/playhover.png', 100%, 100%);
	}
}

.kifi-video-caption {
	position: relative;
	.font-size(16px);
	font-weight: 400;
	letter-spacing: 0.25px;
	top: -60px;
	margin: 0 auto;
}

.kifi-while {
	.padding-top(80px);
	.padding-lr(20px);
	.padding-bottom(43px);

	h3 {
		.font-size(26px);
		color: @gray;
		letter-spacing: 1px;
		margin: 0;
		margin-left: 2px;
		text-align: left;
		font-weight: 300;
		.body-font;
	}

	h2 {
		.font-size(38px);
		margin: 0;
		margin-top: 6px;
	}

	img {
		display: block;
		margin: 0 auto;
		.margin-top(64px);
	}
}

.kifi-while-text {
	display: inline-block;
	margin: 0 auto;
}

.kifi-while-searching {
	h2 {
		.max-width(470px, 38px);
	}
}

.kifi-while-on-the-page {
	h2 {
		.max-width(640px, 38px);
	}
}

.kifi-image-keep-it {
	display: block;
	width: 837px;
	max-width: 100%;
	margin: 0 auto;
}

.kifi-image-search {
	display: block;
	width: 611px;
	max-width: 100%;
	margin: 0 auto;
}

.kifi-image-message {
	display: block;
	width: 507px;
	max-width: 100%;
	margin: 0 auto;
}

.kifi-try-kifi {
	.padding-tb(54px);
	.padding-lr(20px);
	.margin-top(76px);
	background: #f6f6f6;

	h3 {
		@fontSize: 22px;
		.font-size(@fontSize);
		font-weight: 500;
		color: @gray;
		letter-spacing: 1px;
		margin: 0;

		a {
			@fontSize2: 20px;
			.font-size(@fontSize2, @fontSize);
			color: @blue;
			.margin-left(10px, @fontSize2);
			white-space: nowrap;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	hr {
		display: inline-block;
		.margin-top(38px);
		.margin-bottom(16px);
		.width(120px);
		border: 1px solid #dddddd;
	}

	h2 {
		@fontSize: 42px;
		margin: 0 auto;
		.font-size(@fontSize);
		font-weight: 200;
		letter-spacing: 2px;
		.max-width(715px, @fontSize);
	}
}

.kifi-try-kifi-button {
	@fontSize: 19px;
	display: inline-block;
	.font-size(@fontSize);
	color: @blue;
	.padding-tb(13px, @fontSize);
	.padding-lr(28px, @fontSize);
	border: 2px solid @blue;
	.margin-top(23px, @fontSize);
	.border-radius(4px);
	background-clip: padding-box;
	text-transform: uppercase;
	text-decoration: none;
	.letter-spacing(5px, @fontSize);
	font-weight: 600;

	&:hover {
		background: white;
	}
}

.kifi-two-more-things {
	position: relative;
	.padding-top(136px);
	.padding-bottom(112px);
	.centered-content;

	h2 {
		@fontSize: 36px;
		.font-size(@fontSize);
		font-weight: 200;
		.letter-spacing(2px, @fontSize);
		.padding-lr(35px, @fontSize);
		margin: 0;
		.margin-bottom(80px, @fontSize);
	}
}

.kifi-more-column {
	float: left;
	width: 50%;
	.box-sizing(border-box);
	.padding-lr(30px);
	.padding-bottom(80px);

	h2 {
		@fontSize: 35px;
		margin: 0 auto;
		.font-size(@fontSize);
		.margin-bottom(40px, @fontSize);
		.letter-spacing(2.5px, @fontSize);

		a {
			color: @blue;
			text-decoration: none;
		}
	}

	h3 {
		@fontSize: 22px;
		margin: 0 auto;
		.font-size(@fontSize);
		.margin-top(50px, @fontSize);
		.letter-spacing(1.5px, @fontSize);
		color: @gray;
	}
}

@media screen and (max-width: 639px) {
.kifi-more-column {
	width: 100%;
}
}

.kifi-kifi-com {
	h2 {
		.max-width(585px, 35px);
	}

	h3 {
		.max-width(515px, 22px);
	}
}

.kifi-mobile {
	h2 {
		.max-width(450px, 35px);
	}

	h3 {
		.max-width(530px, 22px);
	}
}

.kifi-image-laptop {
	display: block;
	width: 482px;
	max-width: 100%;
	margin: 0 auto;
}

.kifi-mobile-images {
	margin: 0 auto;
	border-spacing: 0;
	border-collapse: collapse;

	td, th {
		padding: 0;
	}
}

.kifi-mobile-links {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;

	li {
		.padding-tb(12px);
	}
}

@cell-spacing: 45px / 2;

.kifi-image-iphone {
	display: inline-block;
	width: 130px;
	max-width: 100%;
	margin: 0 auto;
	margin-right: @cell-spacing;
}

.kifi-mobile-link {
	display: inline-block;
	color: white;
	.border-radius(3px);
	text-decoration: none;
	.box-sizing(border-box);

	img {
		max-width: 150px;
	}
}

.kifi-mobile-links {
	.padding-left(22px);
}
