.kf-main-tag-keeps .kf-main-title
  padding-left: 28px
  background-image: url(/img/tag-icon-blue.2x.png)
  background-repeat: no-repeat
  background-size: auto 26px
  background-position: 0 center

.kf-empty-state
  margin-left: 32px
  margin-top: 25px
  line-height: 2.7em
  font-weight: 300

.kf-circle-border
  display: inline-block
  background-color: #eee
  width: 35px
  height: 35px
  vertical-align: middle
  margin-right: 10px
  border-radius: 50%
  border: dashed #ccc 1px
  box-sizing: border-box

  .sprite-add-a-tag-button-hover
  .sprite-arrow-gray-down
    display: block
    position: relative

  .sprite-add-a-tag-button-hover
    top: 10px
    left: 6px

  .sprite-arrow-gray-down
    top: 15px
    left: 12px
