<div class="kf-main-tag-keeps">
  <div class="kf-main-head">
    <h1 class="kf-main-title">Tags / {{tag.name}}</h1>
    <div class="kf-subtitle">
      <div class="kf-edit-keeps" ng-click="toggleEdit()" ng-if="hasLoaded && !showEmptyState()">
        <span class="sprite sprite-edit-pencil-icon"></span>
        <span class="kf-edit-keeps-label">{{editKeepsLabel()}}</span>
      </div>
      <span class="kf-subtitle-text">{{getSubtitle()}}</span>
    </div>
  </div>
  <div class="kf-empty-state" ng-if="showEmptyState()">
    You don't have any keeps tagged with "{{tag.name}}". You can:
    <ul>
      <li><div class="kf-circle-border"><span class="sprite sprite-add-a-tag-button-hover"></span></div> Tag any keep within your keep library</li>
      <li><div class="kf-circle-border"><span class="sprite sprite-arrow-gray-down"></span></div>Remove this tag via the drop down menu</li>
    </ul>
  </div>
  <div ng-if="!showEmptyState()" kf-keeps
    keeps="keeps"
    keeps-loading="loading"
    keeps-has-more="hasMore()"
    scroll-distance="scrollDistance"
    scroll-disabled="scrollDisabled"
    scroll-next="getNextKeeps()"
    edit-mode="editMode"
    toggle-edit="toggleEdit"
  ></div>
</div>
