.manage-persona

  .dialog-header
    padding-top: 0
    padding-bottom: 10px
    text-align: center
    border-bottom: none

  .dialog-body
    padding: 20px 20px

  .dialog-body-wrap
    margin: 0
    padding: 0

  .persona-table
    margin: 0 auto
    padding-left: 13px

  .persona-icon
    display: inline-block
    margin: 5px
    border-radius: 3px
    border: 1px solid libraryGreen
    background-color: #fff
    cursor: pointer
    color: libraryGreen
    text-align: center
    line-height: 13px
    font-size: 11px
    font-weight: 100

    &.active
      background-color: libraryGreen
      color: white
    &.active:hover
      background-color: #81cd91

    &:hover
      background-color: #f1f9f3

  .persona-icon-image-wrapper
    width: 85px
    height: 55px
    border-radius: 3px

  .persona-icon-image
    width: 100%
    height: 100%

  .persona-icon-display-name
    padding-bottom: 5px

  .dialog-button
    margin-top: 15px

  .manage-persona-exit-button
    position: relative
    left: calc(50% - 22px)
    background-color: #fff
    color: #ddd
    border: none
    cursor: inherit

    &.active
      color: libraryGreen
      cursor: pointer

