.manage-persona

  .dialog-header
    padding: 10px 0 20px
    text-align: center
    border-bottom: none

  .dialog-body
    padding: 20px 20px

  .dialog-body-wrap
    margin: 0
    padding: 0

  .persona-table
    margin: 0 auto
    padding-left: 13px

  .persona-icon
    display: inline-block
    width: 75px
    height: 55px
    margin: 5px
    padding: 10px
    border-radius: 3px
    border: 1px solid libraryGreen
    background-color: #fff
    cursor: pointer
    color: libraryGreen
    text-align: center
    line-height: 13px
    font-size: 10px
    font-weight: 100

    &.active
      background-color: libraryGreen
      color: white
    &.active:hover
      background-color: #81cd91

    &:hover
      background-color: #f1f9f3

  .persona-icon-image
    width: 40px
    height: 40px

  .persona-icon-display-name
    margin-top: 8px

  .dialog-button
    margin-top: 20px

  .manage-persona-exit-button
    position: relative
    left: calc(50% - 22px)
    background-color: #fff
    color: #ddd
    border: none
    cursor: inherit

    &.active
      color: libraryGreen
      cursor: pointer

