<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Kifi | FAQ</title>

    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/assets/ml/css/authentication.css">
    <link rel="stylesheet" type="text/css" href="/assets/ml/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/assets/ml/css/faq.css">
  </head>

  <body>
    <header id="header_bar">
      <div id="header-wrapper">
        <a href="/" id="kifi_logo"></a>
      </div>
    </header>

    <div class="page">
      <h1 class="faq-h1">FAQ</h1>
      <h3 class="faq-h3">Kifi announced that it will be joining Google.
        We're incredibly excited for the opportunity to accelerate the vision of Kifi alongside some of the brightest minds in the industry.
        Here are a few FAQs related to the announcement:
      </h3>
      <ul>
        <li><h4>When will the Kifi service shut down?</h4>
          <ul>
            <li>The last fully operational day of Kifi will be Monday, August 22nd, 2016.  After that, you’ll be able to log in and export all of your data for several weeks before we shut the site down completely.</li>
            <li>We'll be notifying and reminding the user base about the shutdown through several channels between now and August 22nd.</li>
          </ul>
        </li>
        <li><h4>How do I export all of my data?</h4>
          <ul>
            <li>Visit <a href="https://www.kifi.com/keepmykeeps">www.kifi.com/keepmykeeps</a> to start the process of exporting all of your data. This may take a few hours or a few days.</li>
            <li>The export will contain 3 different file types:
              <ul>
                <li>HTML export that can be imported by your browser and many other bookmarking services</li>
                <li>JSON file for those looking to do something a little more custom with their data</li>
                <li>Interactive page that allows you to explore your libraries and generate exports for single libraries</li>
              </ul>
            </li>
          </ul>
        </li>
        <li><h4>What data does the export include?</h4>
          <ul>
            <li>Your Keeps including the link and all the messages you had on those keeps</li>
            <li>Keeps are grouped by libraries - i.e. the classification and organization work you have done is not gone</li>
            <li>Libraries are grouped by teams or personal spaces</li>
          </ul>
        </li>
        <li><h4>Where will my export be once it's complete?</h4>
          <ul>
            <li>
              Once your export has been processed, you'll be able to download your data from <a href="https://www.kifi.com/keepmykeeps">www.kifi.com/keepmykeeps</a>.
              It may take several days for some of our larger data sets, so we'll send you an email once it's finished.
            </li>
          </ul>
        </li>
        <li><h4>Where can I export it to and how?</h4>
          <ul>
            <li>Use <span class="bold-italics">importableBookmarks.html</span> to import to your browser and other services similar to Kifi. When looking to import to another tool, look for an option labeled "Chrome" or "Netscape HTML".</li>
          </ul>
        </li>
        <li><h4>Where is the Kifi team going?</h4>
          <ul>
            <li>
              The team will be joining Google; specifically helping to build <a href="https://get.google.com/spaces/">Google Spaces</a>. We will continue to work on and
              even accelerate our mission of connecting the world through knowledge by building the next generation of tools Google releases around group sharing and discussion.
            </li>
          </ul>
        </li>
        <li><h4>Does Google get access to Kifi user data? What's happening to our data?</h4>
          <ul>
            <li>
              Google will not receive any of Kifi's data. All data within Kifi's servers will be deleted when the service is fully shut down.
              If you'd like to expedite the deletion of your data, you can email us at support@@kifi.com. We highly recommend that you export your data before doing this.
              For more information see <a href="https://www.kifi.com/privacy">Kifi's privacy policy</a>.
            </li>
          </ul>
        </li>
        <li><h4>Will we miss you?</h4>
          <ul>
            <li>Yes. This journey has been both challenging and exciting, but overall it has been incredibly rewarding. Shutting down will be bittersweet.</li>
          </ul>
        </li>
        <li><h4>Any other questions?</h4>
          <ul>
            <li>Please don't hesitate to reach out to us at support@@kifi.com.</li>
          </ul>
        </li>
      </ul>
    </div>
  </body>
</html>
