@(url: String, locator: String)
<!doctype html>

<html data-kifi-deep-link='{"url":"@url","locator":"@locator"}'>

<script>
var osSupportApp = (navigator.userAgent.match(/(iPod|iPhone)/g) ? true : false );

if (osSupportApp) {
  //If the app is not installed the script will wait for 2sec and redirect to web.
  var loadedAt = +new Date;
  setTimeout(
    function(){
      if (+new Date - loadedAt < 2000) {
        window.location = "@url";
      }
    }
    ,25);
    //Try launching the app using URL schemes
  window.open("kifi://open@locator", "_self");
} else {
  //Launch the website
  window.location = "@url";
}
</script>
It appears that you don't have the Kifi app installed, sending you to the App store.
We will try to send you to @url at @locator
</html>
