@(user: User, friendsOnKifi: Set[ExternalId[User]])

@views.html.website.helper.main(title = "Installing Kifi", scripts = Seq("website/onboarding", "jquery-ui-autocomplete")) {
  <div class="user_avatar">
  <img src="@com.keepit.controllers.assets.routes.UserPictureController.get(112, user.externalId)" width="112" height="112">
  </div>

  <section class="content clearfix">
  <header class="content_header">
        <h2>Hi, @user.firstName</h2>
        <h3 class="blue">You can invite some facebook friends to the KiFi private beta</h3>
        
        @if(friendsOnKifi.nonEmpty) {
          <div class="fb_friends_small clearfix">
            <h4>Your facebook friends using KiFi: @friendsOnKifi.size</h4>
            <div class="friends">
              @for(friend <- friendsOnKifi.take(7)) {
                <a href="#"><img src="@com.keepit.controllers.assets.routes.UserPictureController.get(30, friend)" width="30" height="30"></a>
              }
              @if(friendsOnKifi.size > 7) {
                <a href="#"><span class="more_friends">+@{friendsOnKifi.size-7}</span></a>
              }
            </div>
          </div>
        }

    </header>
  </section>

  <section id="invites">
  <ul class="invites_status clearfix">
      <li>Invites Left <span class="amount">6</span></li>
        <li>Invites Sent <span class="amount blue_bg">4</span></li>
        <li>Invites Accepted <span class="amount green_bg">1</span></li>
    </ul>
    
    <div class="invites_list clearfix">
      <ul>
          <li class="waiting clearfix">
              <div class="avatar">
                  <img src="images/fb_friend_invite1.jpg" width="75" height="75">
                </div>
                <div class="avatar_info">
                    <div class="name">Dandrew Conner</div>
                    <div class="status">Invited - waiting approval</div>
                </div>
            </li>
          <li class="joined clearfix">
              <div class="avatar">
                  <img src="images/fb_friend_invite2.jpg" width="75" height="75">
                </div>
                <div class="avatar_info">                            
                  <div class="name">Yasuhiro Matsuda</div>
                  <div class="status">Joined</div>
                </div>
            </li>
          <li class="rejected clearfix">
              <div class="avatar">
                  <img src="images/fb_friend_invite3.jpg" width="75" height="75">
                </div>
                <div class="avatar_info">                            
                  <div class="name">Ori Zaltzman</div>
                  <div class="status">Not Approved</div>
                  <a class="btn small red reset">Reset</a>
                </div>
            </li>
        </ul>
      <ul>
          <li class="waiting clearfix">
              <div class="avatar">
                  <img src="images/fb_friend_invite4.jpg" width="75" height="75">
                </div>
                <div class="avatar_info">                            
                  <div class="name">Tamila Stavinsky </div>
                  <div class="status">Invited - waiting approval</div>
                </div>
            </li>
          <li class="clearfix">
              <div class="avatar">
                  <img src="@routes.Assets.at("images/default_avatar.png")" width="75" height="75">
                </div>
                <div class="avatar_info">                             
                  <input type="text" class="invite_field" value="Select a facebook friend to invite">
                    <a href="#" class="btn blue small invite_btn">Invite</a>
                </div>
            </li>
          <li class="clearfix">
              <div class="avatar">
                  <img src="@routes.Assets.at("images/default_avatar.png")" width="75" height="75">
                </div>
                <div class="avatar_info">                             
                  <input class="invite_field" type="text" value="Select a facebook friend to invite">
                    <a href="#" class="btn blue small invite_btn">Invite</a>
                </div>
            </li>
        </ul>
        
    </div>
  </section>


}