@()

@helper.main(title = "Kifi Home") {
  <div class="user_avatar">
    <img src="images/effi.jpg" width="112" height="112">
  </div>

  <section class="content clearfix">
    <header class="content_header">
        <h2>Hi, Effi</h2>
        <h3>Welcome to your KiFi Private beta page</h3>
        <div class="fb_friends_small clearfix">
          <h4>Your facebook friends using KiFi: 82</h4>
            <div class="friends">
              <a href="#"><img src="images/fb_friend_small1.jpg" width="30" height="30"></a>
                <a href="#"><img src="images/fb_friend_small2.jpg" width="30" height="30"></a>
                <a href="#"><img src="images/fb_friend_small3.jpg" width="30" height="30"></a>
                <a href="#"><img src="images/fb_friend_small4.jpg" width="30" height="30"></a>
                <a href="#"><img src="images/fb_friend_small5.jpg" width="30" height="30"></a>
                <a href="#"><img src="images/fb_friend_small6.jpg" width="30" height="30"></a>
                <a href="#"><img src="images/fb_friend_small7.jpg" width="30" height="30"></a>
                <a href="#"><span class="more_friends">+70</span></a>
            </div>
        </div>
    </header>

    <h2>What would you like to do today?</h2>

    <ul class="links_list">
      <li><a href="#">Invite friends to the Private beta</a></li>
        <li><a href="#">Watch the kifi demo video</a></li>
        <li><a href="#">Send Feedback</a></li>
        <li><a href="#">I want to know more about you guys</a></li>
        <li><a href="#">Nothing, just like watching this page for no reason</a></li>
    </ul>
  </section>
}