@()

@helper.main(title = "Welcome to Kifi!", hiddenElements = Seq("header")) {
  <section class="content clearfix text_center welcome">
    <h1>Welcome to the <img src="@routes.Assets.at("images/logo2.png")" width="103" height="58" class="logo2"> private beta!</h1>

    <p>KiFi is still in stealth-mode and is open for<br>beta tester upon invitations only.</p>

    <div class="welcome_btn">
      <a href="#" class="btn blue big">Let me in</a>
        <div class="powered">Powered by facebook connect</div>
    </div>
  </section>
}