@(id: String, amazonInstanceInfo: com.keepit.common.amazon.AmazonInstanceInfo)

@showInstanceInfo = {
<table class="table table-bordered">
    <tr>
        <th>Instance</th><td><a href="https://console.aws.amazon.com/ec2/home?region=@{amazonInstanceInfo.availabilityZone}#s=Instances">@{amazonInstanceInfo.instanceId}</a></td>
    </tr>
    <tr>
        <th>Name</th><td>@{amazonInstanceInfo.name.getOrElse("-")}</td>
    </tr>
    <tr>
        <th>Service</th><td>@{amazonInstanceInfo.service.getOrElse("-")}</td>
    </tr>
    <tr>
        <th>Tags</th><td>@{amazonInstanceInfo.tags.mkString(", ")}</td>
    </tr>
    <tr>
        <th>Local Hostname</th><td>@{amazonInstanceInfo.localHostname}</td>
    </tr>
    <tr>
        <th>Public Hostname</th><td>@{amazonInstanceInfo.publicHostname}</td>
    </tr>
    <tr>
        <th>Local IP</th><td>@{amazonInstanceInfo.localIp}</td>
    </tr>
    <tr>
        <th>Public IP</th><td>@{amazonInstanceInfo.publicIp}</td>
    </tr>
    <tr>
        <th>Instance Type</th><td><a href="http://www.ec2instances.info/">@{amazonInstanceInfo.instanceType}</a></td>
    </tr>
    <tr>
        <th>AvailabilityZone</th><td><a href="http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.RegionsAndAvailabilityZones.html">@{amazonInstanceInfo.availabilityZone}</a></td>
    </tr>
    <tr>
        <th>Security Groups</th><td>@{amazonInstanceInfo.securityGroups}</td>
    </tr>
    <tr>
        <th>Ami Id</th><td>@{amazonInstanceInfo.amiId}</td>
    </tr>
    <tr>
        <th>Ami Launch Index</th><td>@{amazonInstanceInfo.amiLaunchIndex}</td>
    </tr>
</table>
}

<div id="@id" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">AWS Instance Details</h3>
    </div>
    <div class="modal-body">
        <p>@showInstanceInfo</p>
    </div>
</div>