@(orgs: Seq[Organization])

<ul>
    @for( org <- orgs ) {
        <li>
        <span style="margin : 2 px">
            <a data-hover="tooltip" title="@org.description+"
            class="name_tooltip_link" href="@com.keepit.controllers.admin.routes.AdminOrganizationController.organizationViewById(org.id.get)">
            @org.name
            </a> <a href="https://www.kifi.com/@{org.getHandle.value}"><span style="font-family : 'Segoe UI Symbol' ; color : black ; font-size : 10 px ;">♡</span></a>
        </span>
        </li>
    }
</ul>
