@(page: Int, elementsCount: Int, pageSize: Int, otherPagesRoute: Int => Html)(content: Html)

@pageCount = @{
    Math.ceil(elementsCount.toFloat / pageSize.toFloat).toInt
}

@maxPage = @{
    pageCount - 1
}

@pagesDisplayed = @{
    20
}

@paginationControl = {
    <ul class="pagination text-center">
        <li>
            <a href="@if(page > 0) { @otherPagesRoute(page - 1) } else { # }">
                Prev
            </a>
        </li>
        @if(page > 20) {
            <li class="disabled">
                <a href="@otherPagesRoute(0)">...</a>
            </li>
        }
        @for(i <- 0.max(page - pagesDisplayed) to maxPage.min(page + 20)) {
            @if(i == page) {
                <li class="active">
                    <a href="@otherPagesRoute(i)">@{i + 1}</a>
                </li>
            } else {
                <li>
                    <a href="@otherPagesRoute(i)">@{i + 1}</a>
                </li>
            }
        }
        @if(page < maxPage - pagesDisplayed) {
            <li>
                <a href="@otherPagesRoute(pageCount - 1)">...</a>
            </li>
        }
        <li>
            <a href=" @if(page < maxPage) { @otherPagesRoute(page + 1) } else { # }">
                Next
            </a>
        </li>
    </ul>
}

@paginationControl
@content
@paginationControl
