@(socialUserInfo: SocialUserBasicInfo, socialOnly: Boolean = false)

@networkLogo = {
  <img src="/assets/securesocial/images/providers/@{socialUserInfo.networkType}.png"
    alt="@{socialUserInfo.networkType}" width="16" height="16">
}

@avatar = {
  @for(img <- socialUserInfo.getPictureUrl(75, 75)) {
    <img class="user-avatar" src="@img"/>
  }
}

<span style="margin:2px">
@if(socialUserInfo.userId.isDefined && !socialOnly) {
  <a data-hover="tooltip" title="@socialUserInfo.fullName"
     class="name_tooltip_link" href="@com.keepit.controllers.admin.routes.AdminUserController.userView(socialUserInfo.userId.get)">
    @avatar <b>@socialUserInfo.fullName</b> @networkLogo
  </a>
} else {
  <a data-hover="tooltip" title="@socialUserInfo.fullName"
     class="name_tooltip_link" href="@com.keepit.controllers.admin.routes.AdminSocialUserController.socialUserView(socialUserInfo.id)">
    @avatar @socialUserInfo.fullName @networkLogo
  </a>
}
</span>
