@(availableVertexKinds: Seq[String],
  wanderlust: com.keepit.graph.wander.Wanderlust,
  timing: Option[scala.util.Try[Long]],
  users: Seq[(com.keepit.model.User, Int)],
  socialUsers: Seq[(com.keepit.model.SocialUserInfo, Int)],
  libraries: Seq[(com.keepit.model.Library, com.keepit.model.User, Int)],
  uris: Seq[(com.keepit.model.NormalizedURI, Int)],
  extras: Seq[(String, Int)]
)(implicit request: com.keepit.common.controller.UserRequest[_])

@import scala.util.{Success, Failure}

@views.html.admin.admin("Hopeful Wanderer") {

    <form class="form-inline" action="@com.keepit.controllers.admin.routes.WanderingAdminController.wander()" method = "POST">
        @availableVertexKinds.map { kind => <input type="hidden" name="availableVertexKinds" value=@kind> }
        <div class="form-group">
            <label for="kind">Start from: </label>
            <select class="input-medium" name="kind">
                @availableVertexKinds.map { kind => <option value=@kind @if(kind == wanderlust.startingVertexKind) {selected}>@kind }
            </select>
            <input class="input-small" type="number" name="id" value=@wanderlust.startingVertexDataId>
        </div>
        <div class="form-group">
            <label for="kind">Preferred Collisions: </label>
            <select class="input-medium" name="preferredCollisions">
                <option value="" @if(wanderlust.preferredCollisions.isEmpty) {selected}>I don't care.
                @availableVertexKinds.map { kind => <option value=@kind @if(wanderlust.preferredCollisions.contains(kind)) {selected}>@kind }
            </select>
        </div>
        <div class="form-group">
            <label for="avoidTrivialCollisions">Avoid Trivial Collisions: </label>
            <input type="checkbox" name="avoidTrivialCollisions" @if(wanderlust.avoidTrivialCollisions) {checked} >
        </div>
        <div class="form-group">
            <label for="steps">Number of Steps: </label>
            <input class="input-small" type="number" name="steps" min="0" value=@wanderlust.steps>
        </div>
        <div class="form-group">
            <label for="restartProbability">Restart Probability: </label>
            <input class="input-small" type="number" step="0.01" max="1" min="0" name="restartProbability" value=@wanderlust.restartProbability>
        </div>
        <div class="form-group">
            <label for="recency">Recency: </label>
            <select class="input-medium" name="recency">
                <option value="" @if(wanderlust.recency.isEmpty) {selected}>Ever
                @Seq("Today" -> 1, "This Week" -> 7, "This Month" -> 30, "3 Months" -> 90, "6 Months" -> 180).map { case (period, days) => <option value=@days @if(wanderlust.recency.exists(_.toDays == days)) {selected}> @period }
            </select>
        </div>
        <div class="form-group">
            <label for="recency">Decay: </label>
            <select class="input-medium" name="decay">
                <option value="" @if(wanderlust.halfLife.isEmpty) {selected}>None
                @Seq("Daily" -> 1, "Weekly" -> 7, "Monthly" -> 30).map { case (period, days) => <option value=@days @if(wanderlust.halfLife.exists(_.toDays == days)) {selected}> @period }
            </select>
        </div>


        <button type="submit" class="btn btn-primary">Wander!</button>
    </form>

    @{timing.map {
        case Success(timing) => <div class="text-success">You have successfully wandered for {timing} ms.</div>
        case Failure(ex) => <div class="text-error">{ex}</div>
    }}

    @if(libraries.nonEmpty) {
        <table class = "table table-bordered">
            <tr><th colspan="3"><h3>Library Collisions</h3></th></tr>
            <tr> <th>Public Id</th> <th>Title</th> <th>Owner</th><th>Score</th> </tr>
            @libraries.map { case (library, owner, count) => <tr> <td>@library.id.get</td> <td><a href=https://www.kifi.com@{com.keepit.model.Library.formatLibraryPath(owner.username, library.slug)}>@library.name</a></td><td>@owner.fullName</td> <td>@count</td> </tr> }
        </table>
    }

    @if(uris.nonEmpty) {
        <table class = "table table-bordered">
            <tr><th colspan="3"><h3>Content Collisions</h3></th></tr>
            <tr> <th>Uri Id</th> <th>Page</th> <th>Score</th> </tr>
            @uris.map { case (uri, count) => <tr> <td>@uri.id.get</td> <td><a href=@uri.url>@uri.title.getOrElse(uri.url.trim)</a></td> <td>@count</td> </tr> }
        </table>
    }

    @if(users.nonEmpty) {
        <table class = "table table-bordered">
            <tr><th colspan="3"><h3>Kifi User Collisions</h3></th></tr>
            <tr> <th>User Id</th> <th>Name</th> <th>Score</th> </tr>
            @users.map { case (user, count) => <tr> <td>@user.id.get</td> <td>@user.fullName</td> <td>@count</td> </tr> }
        </table>
    }

    @if(socialUsers.nonEmpty) {
        <table class = "table table-bordered">
            <tr><th colspan="4"><h3>Facebook / LinkedIn Collisions</h3></th></tr>
            <tr> <th>SocialUserInfoId</th> <th>Network</th> <th>Name</th> <th>Score</th> </tr>
            @socialUsers.map { case (socialUser, count) => <tr> <td>@socialUser.id.get</td> <td>@socialUser.networkType</td> <td>@socialUser.fullName</td> <td>@count</td> </tr> }
        </table>
    }

    @if(extras.nonEmpty) {
        <table class = "table table-bordered">
            <tr><th colspan="2"><h3>Other Collisions</h3></th></tr>
            <tr> <th>Vertex</th> <th>Score</th> </tr>
            @extras.map { case (vertex, count) => <tr> <td>@vertex</td> <td>@count</td> </tr> }
        </table>
    }
}
