@(title: String, scripts: List[String] = Nil, stylesheets: List[String] = Nil)(content: Html)

@quote(daQuote: com.keepit.common.admin.DouglasAdamsQuote) = {
  <br>
  <br>
  <blockquote>
    @daQuote.quote.map{ line =>
      <p>@line</p>
    }
    <small>Douglas Adams <cite title="Source Title">"@daQuote.cite"</cite></small>
  </blockquote>
}

<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.min.css")" />
    @for(stylesheet <- "admin_main" :: stylesheets) {
      <link rel="stylesheet" href="@routes.Assets.at("stylesheets/" + stylesheet + ".css")">
    }
    @defining(if (play.api.Play.isDev(play.api.Play.current)) ".js" else ".min.js") { ext =>
      <script src="@routes.Assets.at("javascripts/jquery-1.7.1" + ext)"></script>
      <script src="@routes.Assets.at("bootstrap/js/bootstrap" + ext)"></script>
      @for(script <- scripts) {
        <script src="@routes.Assets.at("javascripts/" + script + ext)"></script>
      }
    }
  </head>
  <body>
		<a id="scrlTop" title="Top" href="#" style="position: fixed; top: 100px; right: 20px;"><i class="icon-chevron-up"></i></a>
		<a id="scrlBotm" title="Bottom" href="#" style="position: fixed; top: 133px; right: 20px;"><i class="icon-chevron-down"></i></a>
		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
		    <ul class="nav">
		    
		      <li class="dropdown">
		        <a class="dropdown-toggle" data-toggle="dropdown" >Dashboards</a>
		        <ul class="dropdown-menu" role="menu">
		          <li><a href="@com.keepit.controllers.admin.routes.AdminDashboardController.index">Product</a>
		          <li><a href="@com.keepit.controllers.admin.routes.AdminEngineeringDashboardController.overview">Engineering</a>
		        </ul>
		      </li>    
		      		      
		      <li><a href="@com.keepit.controllers.admin.routes.AdminBookmarksController.bookmarksView(0)">Keeps</a>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" href="#">Users</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="@com.keepit.controllers.admin.routes.AdminUserController.usersView">All Users</a>
              <li><a href="@com.keepit.controllers.admin.routes.AdminSocialUserController.socialUsersView(0)">Social Users</a>
              <li><a href="@com.keepit.controllers.admin.routes.AdminInvitationController.displayInvitations()">Invitations</a>
            </ul>
		      <li><a href="@com.keepit.controllers.admin.routes.AdminCommentController.followsView">Follows</a>
		      <li><a href="@com.keepit.controllers.admin.routes.AdminCommentController.commentsView(0)">Comments</a>
		      <li><a href="@com.keepit.controllers.admin.routes.AdminCommentController.messagesView(0)">Messages</a>
		      <li><a href="@com.keepit.controllers.admin.routes.ElectronicMailController.electronicMailsView(0)">Emails</a>
		      <li class="divider-vertical">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" href="#">Keeper</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="@com.keepit.controllers.admin.routes.SliderAdminController.getRules">Rules for Showing</a>
              <li><a href="@com.keepit.controllers.admin.routes.SliderAdminController.getPatterns">URL Exclude Patterns</a>
              <li><a href="@com.keepit.controllers.admin.routes.SliderAdminController.getDomainTags">Domain Tags</a>
              <li><a href="@com.keepit.controllers.admin.routes.SliderAdminController.getDomainOverrides">Domain Overrides</a>
              <li><a href="@com.keepit.controllers.admin.routes.SliderAdminController.getImportEvents">Domain Import Events</a>
              <li><a href="@com.keepit.controllers.admin.routes.SliderAdminController.getClassifications(None)">Domain Classifications</a>
              <li><a href="@com.keepit.controllers.admin.routes.SliderAdminController.getVersionForm">Hasten Update</a>
            </ul>

		      <li><a href="@com.keepit.controllers.admin.routes.AdminEventController.reportList">Reports</a>
              <li><a href="@com.keepit.controllers.admin.routes.AdminSearchConfigController.getExperiments">Search Experiments</a>

               <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" >Search Lab</a>
                <ul class="dropdown-menu" role="menu">
                   <li><a href="@com.keepit.controllers.admin.routes.AdminSearchLabsController.friendMap()">Friend Map</a>
                   <li><a href="@com.keepit.controllers.admin.routes.PhraseController.displayPhrases()">Phrases</a>
                   <li><a href="@com.keepit.controllers.admin.routes.AdminSpellCorrectorController.spellController()">SpellCorrector</a>
                   <li><a href="@com.keepit.controllers.admin.routes.ScraperController.searchScraper">Scraper</a>
                </ul>
               </li>


              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"  href="@com.keepit.common.healthcheck.routes.AdminHealthController.serviceView">Service</a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="@com.keepit.common.healthcheck.routes.AdminHealthController.serviceView">General Health</a>
                  <li><a href="@com.keepit.common.healthcheck.routes.AdminBenchmarkController.benchmarks">Benchmarks</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AmazonInstanceController.instanceInfo">Amazon Instance Info</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AdminEventController.activityViewer">Activity viewer</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AdminEventController.eventViewer">Event viewer</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AdminArticleIndexerController.indexInfo">Index</a>
                  <li><a href="@com.keepit.controllers.admin.routes.AdminSearchPerformanceController.viewSearchPerformance">Search Performance</a>
                  
                </ul></li>
		    </ul>
		  </div>
		</div>
		<header class="admin-head" id="overview">
		  <div class="container">
		    <h1>@title</h1>
		  </div>
		</header>
		<div class="container">
	    @content
	    @quote(com.keepit.common.admin.DouglasAdamsQuotes.random)
		</div>
    <script>
    $(function() {
      $("#scrlBotm").click(function() {
        $("html,body").animate({scrollTop: $(document).height()}, 500);
        return false;
      });
      $("#scrlTop").click(function() {
        $("html,body").animate({scrollTop: 0}, 500);
        return false;
      });
      $(".navbar").on("mouseenter mouseleave", ".dropdown", function(e) {
        if ($(this).hasClass("open") != (e.type == "mouseenter")) {
          var $a = $(this).find(".dropdown-toggle").dropdown("toggle");
          if (e.type == "mouseleave") {
            $a.blur();
          }
        }
      });
    });
    </script>
  </body>
</html>
