@()(implicit request: RequestHeader)


@admin("What's Happening on Kifi?", stylesheets = List("admin_activity")) {

<h3 id="metrics">
  Total keeps: <span id="total-keeps">0</span>, 
  total Kifi clicked: <span id="total-kifi-clicked">0</span>, 
  total Google clicked: <span id="total-google-clicked">0</span>. 
  Running for <span id="total-time">00:00:00</span>.
</h3>

<table class="table activity-table">
  <thead>
    <tr>
      <td>Time</td><td>Event</td><td>Body</td>
    </tr>
  </thead>
  <tbody id="event_body">
    
  </tbody>
</table>

<script type="text/javascript" charset="utf-8">
  $(function() {

    var formatTime = function (dateStr) {
      var date = new Date(dateStr)
      var hours   = date.getHours()
      var minutes = date.getMinutes()
      var seconds = date.getSeconds()

      if (hours   < 10) {hours   = "0"+hours;}
      if (minutes < 10) {minutes = "0"+minutes;}
      if (seconds < 10) {seconds = "0"+seconds;}
      var time    = hours+':'+minutes+':'+seconds;
      return time;
    }

    var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
    var wsLocation = "@com.keepit.controllers.admin.routes.AdminEventController.eventStream.webSocketURL()"
    //var wsLocation = "wss://keepitfindit.com/admin/realtime/event/stream"


    var startWS = function(location) {
      var eventSocket = new WS(location)
      var intervalId = 0;

      var echoInterval = setInterval(function() {
        console.log("Sending echo at: " + (+new Date))
        eventSocket.send(JSON.stringify({echo: (+new Date)}))
      }, 10000)

      eventSocket.onmessage = receiveEvent
      eventSocket.onclose = function() {
        clearInterval(echoInterval)
        clearInterval(intervalId)
        setTimeout(function(){ startWS(location) }, 2500)
        console.log("Restarting connected because of onclose")
      }
      eventSocket.onopen = function() {
        intervalId = setInterval(function() {
          if (eventSocket.readyState === undefined || eventSocket.readyState > 1) {
            clearInterval(echoInterval)
            console.log("Restarting connected because of readyState ", eventSocket.readyState)
            eventSocket.close()
            clearInterval(intervalId)
            startWS(location)
          }
        }, 5000)
      }
    }

    var totalKeeps = 0, totalKifiClicks = 0, totalGoogleClicks = 0
    
    var receiveEvent = function(event) {
      var data = JSON.parse(event.data)

      if(data.echo !== undefined) {
        console.log("Echo reply at: " + (+ new Date))
        return;
      }

      var el = $('<tr><td class="time"></td><td class="event-family"></td><td class="event-name"></td><td class="body"></td></tr>')

      $("td.time", el).text(formatTime(data.time))

      var family = data.family
      var name = data.name
      var user = data.user

      $("td.event-family", el).text(family)
      $("td.event-name", el).text(name)

      var person = '<div class="person"><a href="/admin/user/' + user.id + '"><img src="' + user.avatar + '">' + user.name + '</a></div>'
      $("td.body", el).html(person)

      $('#event_body').prepend(el).children(":nth-child(n+50)").remove();

      calculateTotals(name)
    }

    var calculateTotals = function(name) {
      if(name == "keep") totalKeeps++
      else if(name == "kifiResultClicked") totalKifiClicks++
      else if(name == "googleResultClicked") totalGoogleClicks++

      var $metrics = $("#metrics")
      $metrics.find("#total-keeps").text(totalKeeps)
      $metrics.find("#total-kifi-clicked").text(totalKifiClicks)
      $metrics.find("#total-google-clicked").text(totalGoogleClicks)
    }

    var startTime = new Date();
    setInterval(function() {
      var now = new Date()
      var diff = (now - startTime)/1000
      var time = new Date(Math.round(diff) * 1000).toUTCString().split(" ")[4];
      $("#total-time").text(time)
    }, 1000)

    startWS(wsLocation)

      
  });
</script>

}