@(result: ArticleSearchResult, metas: Seq[com.keepit.controllers.admin.ArticleSearchResultHitMeta])

@admin("Article Search Result: " + result.uuid) {

		<div class="alert">
		  <h4>Privacy Notice!</h4>
		   We don't know who did that search. We don't store this information for privacy reasons!
		   If you wish to share this page you may want to share the user its related to.
		</div>

   <table class="table table-bordered">
      <tr>
        <th>Query</th><td>@result.query</td>
      </tr>
      <tr>
        <th>Hit Count</th><td>@result.hits.size</td>
      </tr>
      <tr>
        <th>My Links</th><td>@result.myTotal</td>
      </tr>
      <tr>
        <th>Friends Links</th><td>@result.friendsTotal</td>
      </tr>
      <tr>
        <th>Got More</th><td>@result.mayHaveMoreHits</td>
      </tr>
      <tr>
        <th>Processing Time</th><td>@result.millisPassed Millis</td>
      </tr>
      <tr>
        <th>Page Number</th><td>@{result.pageNumber + 1}</td>
      </tr>
      <tr>
        <th>Creation time</th><td>@adminHelper.dateTimeDisplay(result.time)</td>
      </tr>
      <tr>
        <th>semantic variance</th><td>@{result.svVariance}</td>
      </tr>
   </table>

   <table class="table table-bordered">
     <tr>
       <th>URI</th>
       <th>Score</th>
       <th>Friends</th>
       <th>Text Score / Normalized / Boosted</th>
       <th>Bookmark Score / Boosted</th>
       <th>Recency Score / Boosted</th>
       <th>My bookmark</th>
       <th>Private</th>
       <th>Count</th>
       <th> </th>
     </tr>
     @for(meta <- metas) {
      <tr>
        <td><a href="@meta.uri.url">@{if(meta.uri.title.getOrElse("NO TITLE").length > 50) meta.uri.title.get.substring(0, 50) else meta.uri.title.getOrElse("NO TITLE") }</a></td>
        <td>@meta.hit.score</td>
        <td>@meta.users.size</td>
        <td>@{meta.scoring.textScore} / @{meta.scoring.normalizedTextScore} / @{meta.scoring.boostedTextScore}</td>
        <td>@{meta.scoring.bookmarkScore} / @{meta.scoring.boostedBookmarkScore}</td>
        <td>@{meta.scoring.recencyScore} / @{meta.scoring.boostedRecencyScore}</td>
        <td>@{meta.hit.isMyBookmark}</td>
        <td>@{meta.hit.isPrivate}</td>
        <td>@{meta.hit.bookmarkCount}</td>
        <td>
          <form action="@com.keepit.controllers.admin.routes.AdminSearchController.explain(result.query, meta.uri.id.get)" method="GET" class="form-inline">
            <input type="hidden" name="query" value="@{result.query}"/>
            <input type="hidden" name="uriId" value="@{meta.uri.id}"/>
            <button type="submit" class="btn">Explain</button> </td>
          </form>
      </tr>
     }
   </table>


}
