@(article: com.keepit.search.Article, uri: NormalizedURI, info: ScrapeInfo)

@admin("Article: " + article.title) {
  <table class="table table-bordered">
      <tr>
        <th>First introduced</th><td>@adminHelper.dateTimeDisplay(uri.updatedAt)</td>
      </tr>
      <tr>
        <th>Last scrape</th><td>@adminHelper.dateTimeDisplay(info.lastScrape)</td>
      </tr>
      <tr>
        <th>URL</th><td><a href="@uri.url">@uri.url</a></td>
      </tr>
      <tr>
        <th>URI title</th><td><a href="@uri.url">@uri.title</a></td>
      </tr>
      <tr>
        <th>Article title</th><td>@article.title</td>
      </tr>
      <tr>
        <th>Article description</th><td>@article.description.getOrElse("")</td>
      </tr>
      <tr>
        <th>Article media</th><td>@article.media.getOrElse("")</td>
      </tr>
      <tr>
        <th>Http ContentType</th><td>@article.httpContentType</td>
      </tr>
      <tr>
        <th>Http Original ContentCharset</th><td>@article.httpOriginalContentCharset</td>
      </tr>
      <tr>
        <th>State</th><td>@article.state</td>
      </tr>
      <tr>
        <th>Error message</th><td>@article.message</td>
      </tr>
      <tr>
        <th>Article content</th><td>@article.content</td>
      </tr>
  </table>
}
