@(userWithSocial: UserWithSocial, bookmark: Bookmark, normalizedUri: NormalizedURI, scrapeInfo: Option[ScrapeInfo])

@import com.keepit.controllers.admin.routes

@admin("Bookmark: " + bookmark.title.getOrElse("")) {
   <table class="table table-bordered">
      <tr>
        <th>Title</th><td><a href="@bookmark.url">@{bookmark.title.getOrElse("NO TITLE")}</a></td>
      </tr>
      <tr>
        <th>Page Content</th><td>@adminHelper.articleDisplay(normalizedUri)</td>
      </tr>
      <tr>
        <th>Bookmark ID</th><td>@bookmark.id.get.id</td>
      </tr>
      <tr>
        <th>State/Visibility</th><td>@adminHelper.bookmarkBadge(bookmark)</td>
      </tr>
      <tr>
        <th>Saved by</th><td>@adminHelper.userDisplay(userWithSocial.user, userWithSocial.socialUserInfo)</td>
      </tr>
      <tr>
        <th>Creation time</th><td>@adminHelper.dateTimeDisplay(bookmark.createdAt)</td>
      </tr>
      <tr>
        <th>Last scrape</th><td>@scrapeInfo.map(si => adminHelper.dateTimeDisplay(si.lastScrape)).mkString</td>
      </tr>
      <tr>
        <th>Next scrape</th><td>@scrapeInfo.map(si => adminHelper.dateTimeDisplay(si.nextScrape)).mkString</td>
      </tr>
   </table>
   <p><input type="button" id="rescrape" value="Rescrape"></p>
   <script>
     $("#rescrape").click(function () {
       var button = $(this);
       var val = button.val();
       button.val("Scraping...");
       $.ajax({
         type: "POST",
         url: "@com.keepit.controllers.admin.routes.AdminBookmarksController.rescrape",
         contentType: "application/json; charset=utf-8",
         data: JSON.stringify({ id: @bookmark.id.get.id }),
         complete: function (jqXHR, status) {
           button.val(status == "success" ? val : "Error!");
           window.location.reload();
         }
       });
     });
   </script>
   <p>
     @helper.form(action = com.keepit.controllers.admin.routes.AdminBookmarksController.delete(bookmark.id.get)) {
       <input type="submit" value="Delete">
     }
   </p>
}
