@(bookmarksAndUsers: Seq[((User, SocialUserInfo), (Bookmark, NormalizedURI, Option[ScrapeInfo]))], page: Int, count: Long, pageCount: Int)
@import com.keepit.model.NormalizedURIStates._
@import com.keepit.controllers.admin.routes

@pagination(page: Int, pageCount: Int) = {
  <div class="pagination pagination-centered pagination-mini">
    <ul>
      <li>
        @if(page > 0) {
          <a href="@routes.AdminBookmarksController.bookmarksView(page - 1)">
        } else {
         <a href="#">
        }
        Prev
        </a>
      </li>
      @if(page - 20 > 0) {
        <li class="disabled">
          <a href="@routes.AdminBookmarksController.bookmarksView(0)">...</a>
        </li>
      }
      @for(i <- (0.max(page - 20) to (pageCount - 1).min(page + 20))) {
        @if(i == page) {
	        <li class="disabled">
	          <a href="@routes.AdminBookmarksController.bookmarksView(i)">@{i + 1}</a>
	        </li>
        } else {
	        <li class="active">
	          <a href="@routes.AdminBookmarksController.bookmarksView(i)">@{i + 1}</a>
	        </li>
	      }
      }
      @if(page + 20 < pageCount - 1) {
        <li class="disabled">
          <a href="@routes.AdminBookmarksController.bookmarksView(pageCount - 1)">...</a>
        </li>
      }
      <li>
        @if(bookmarksAndUsers.size > 0) {
          <a href="@routes.AdminBookmarksController.bookmarksView(page + 1)">
        } else {
         <a href="#">
        }
        Next
        </a>
      </li>
    </ul>
  </div>
}

@admin(count + " Total Keeps") {
  <h2>showing @bookmarksAndUsers.size (page @{page + 1})</h2>
  @pagination(page, pageCount)
  <table class="table table-bordered">
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Title</th>
      <th>Source</th>
      <th>Creation</th>
      <th>State</th>
      <th>Last Scrape</th>
    </tr>
  @for((((user, socialUserInfo), (bookmark, uri, scrapeInfo)), i) <- bookmarksAndUsers.zipWithIndex) {
    <tr>
      <td>@{i+1}</td>
      <td>@adminHelper.userDisplay(user, socialUserInfo)</td>
      <td>@adminHelper.bookmarkDisplay(bookmark)</td>
      <td>
        @{bookmark.source.value match {
          case "INIT_LOAD" => {
            <span class="label">Init Load</span>
          }
          case "HOVER_KEEP" => {
            <span class="label label-success">Slider</span>
          }
          case "PLUGIN_START" => {
            <span class="label label-info">Plugin Restart</span>
          }
        }}
      </td>
      <td>@adminHelper.dateTimeDisplay(bookmark.createdAt)</td>
      <td>@adminHelper.uriStateDisplay(uri)</td>
      <td>@scrapeInfo.map(si => adminHelper.dateTimeDisplay(si.lastScrape)).mkString</td>
    </tr>
  }
  </table>
  @pagination(page, pageCount)
}

<script type="text/javascript">
  $.get("@routes.ArticleIndexerController.getSequenceNumber", function (data) {
    var sequenceNumber = data.sequenceNumber
    $(".uri-state").each(function () {
      var seq = $(this).data('seq');
      var indexed = seq <= sequenceNumber
      $(this)
        .find('.if-indexed').toggle(indexed).end()
        .find('.if-not-indexed').toggle(!indexed);
    });
  });
</script>
