@(uriAndUsers: Seq[(UserWithSocial, Follow, NormalizedURI)])

@admin("Followed Web Pages") {
  <h2>Showing @uriAndUsers.size follows</h2>
  <table class="table table-bordered">
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Title</th>
      <th>Creation</th>
    </tr>
  @for(((userWithSocial, follow, article), i) <- uriAndUsers.zipWithIndex) {
    <tr>
      <td>@{i+1}</td>
      <td>@adminHelper.userDisplay(userWithSocial.user, userWithSocial.socialUserInfo)</td>
      <td>@adminHelper.articleDisplay(article)</td>
      <td>@adminHelper.dateTimeDisplay(follow.createdAt)</td>
    </tr>
  }
  </table>
}
