@(availableReports: List[String], activityData: com.keepit.controllers.admin.ActivityData)

@userDisplay(user: User) = {
<a title="@user.firstName @user.lastName" style="margin: 4px"
    href="@com.keepit.controllers.admin.routes.AdminUserController.userView(user.id.get)">
  @user.firstName @user.lastName
</a>
}

@admin("Reports") {
   <table class="table table-bordered">
      <tr>
        <th>Reports</th>
        <td>
          <form action="@com.keepit.controllers.admin.routes.AdminEventController.buildReport" method="POST">
            <div><input type="hidden" name="reportName" value="daily"><input type="submit" value="Build Daily Reports"></div>
          </form>
            <form action="@com.keepit.controllers.admin.routes.AdminEventController.buildReport" method="POST">
                <div><input type="hidden" name="reportName" value="active_users"><input type="submit"
                value="Build Active Users Reports"></div>
            </form>
          <form action="@com.keepit.controllers.admin.routes.AdminEventController.buildReport" method="POST">
            <div><input type="hidden" name="reportName" value="admin"><input type="submit" value="Build Admin Reports"></div>
          </form>
          <form action="@com.keepit.controllers.admin.routes.AdminEventController.buildReport" method="POST">
            <div><input type="hidden" name="reportName" value="experiment">
                <input type="submit" value="Build Search Experiment Reports"></div>
          </form>
           <form action="@com.keepit.controllers.admin.routes.AdminEventController.buildReport" method="POST">
                <div><input type="hidden" name="reportName" value="daily_search_statisitcs"><input type="submit"
                value="Build Daily Search Statistics Reports"></div>
            </form>
        </td>
      </tr>
      <tr>
        <th>Generated Reports</th>
        <td>
          @for(a <- availableReports.reverse) {
            <div><a href="@com.keepit.controllers.admin.routes.AdminEventController.getReport(a)">@a</a></div>
          }
        </td>
      </tr>
  </table>

<h2>User activity</h2>

<p>
  <a class="btn" href="@com.keepit.controllers.admin.routes.AdminEventController.activityDataAsCsv">
    Get data as CSV
  </a>
</p>

<table class="table table-bordered">
  <tr><th>parameter</th><th>last 7 days</th><th>last 30 days</th></tr>
  <tr><td>active keepers</td><td>@activityData.keeping1Wk/@activityData.numUsers</td><td>@activityData.keeping1Mo/@activityData.numUsers</td></tr>
  <tr><td>active commenters and messagers</td><td>@activityData.commenting1Wk/@activityData.numUsers</td><td>@activityData.commenting1Mo/@activityData.numUsers</td></tr>
  <tr><td>active users (keep, comment and message)</td><td>@activityData.activeUsers1Wk.size/@activityData.numUsers</td><td>@activityData.activeUsers1Mo.size/@activityData.numUsers</td></tr>
  <tr>
    <td>active name list</td>
    <td>@activityData.activeUsers1Wk.map { user => @userDisplay(user) }</td>
    <td>@activityData.activeUsers1Mo.map { user => @userDisplay(user) }</td>
  </tr>
  <tr>
    <td>inactive name list</td>
    <td>@activityData.inactiveUsers1Wk.map { user => @userDisplay(user) }</td>
    <td>@activityData.inactiveUsers1Mo.map { user => @userDisplay(user) }</td>
  </tr>
</table>

}
