@(userWithSocial: UserWithSocial,
  totalBookmarks: Int,
  bookmarks: Seq[(Bookmark, NormalizedURI)],
  socialConnections: Seq[SocialUserInfo],
  fortyTwoConnections: Seq[UserWithSocial],
  kifiInstallations: Seq[KifiInstallation],
  historyUpdateCount: Int,
  bookmarkSearch: Option[String])

@userWithFacebookDisplay(userWithSocial: UserWithSocial) = {
  <a data-hover="tooltip" title="@userWithSocial.user.firstName @userWithSocial.user.lastName+" class="name_tooltip_link" href="http://www.facebook.com/@userWithSocial.socialUserInfo.socialId.id" target="_blank">
    <img class="user-avatar" src="https://graph.facebook.com/@userWithSocial.socialUserInfo.socialId.id/picture?type=square">@userWithSocial.socialUserInfo.socialId.id
  </a>
}

@admin("User: " + userWithSocial.user.firstName + " " + userWithSocial.user.lastName, stylesheets = List("admin_user")) {
    <button class="btn" id="refresh_sui" onclick="refreshAllSocialUserInfo()">Refresh Social User Info!</button>
    <button class="btn" onclick="impersonate()">Impersonate User</button>
    <button class="btn" onclick="unimpersonate()">Stop Impersonating</button>
    <button class="btn" onclick="configSearch()">Config Search</button>
    <br/>
    <table class="user-summary table table-bordered">
      <tr>
        <th>Name</th><td>@userWithSocial.user.firstName @userWithSocial.user.lastName</td>
      </tr>
      <tr>
        <th>Id</th><td>@userWithSocial.user.id</td>
      </tr>
      <tr>
        <th>Facebook Account</th><td>@userWithFacebookDisplay(userWithSocial)</td>
      </tr>
      <tr>
        <th>Created At</th><td>@adminHelper.dateTimeDisplay(userWithSocial.user.createdAt)</td>
      </tr>
      <tr>
        <th>Last Update</th><td>@adminHelper.dateTimeDisplay(userWithSocial.user.updatedAt)</td>
      </tr>
      <tr>
        <th>Last Social User Update</th><td>
          @userWithSocial.socialUserInfo.lastGraphRefresh.map(adminHelper.dateTimeDisplay(_)).mkString
        </td>
      </tr>
      <tr>
        <th>Email</th>
        <td>
          <form action="@com.keepit.controllers.admin.routes.AdminUserController.updateUser(userWithSocial.user.id.get)" method="POST" class="form-inline">
            <input type="text" name="emails" value="@{userWithSocial.emails.map(_.address).mkString(",")}">
            <input type="submit" value="Save">
          </form>
        </td>
      </tr>
      <tr>
        <th>Experiments</th>
        <td id="experiments" class="form-inline">
          @for(exp <- Seq(ExperimentTypes.ADMIN, ExperimentTypes.BLOCK, ExperimentTypes.METRO,
              ExperimentTypes.NO_SEARCH_EXPERIMENTS, ExperimentTypes.INACTIVE)) {
            <label class="checkbox">
              <input type="checkbox" data-exp="@exp.value" @if(userWithSocial.experiments.contains(exp)) {checked}>@exp.value
            </label>
          }
        </td>
      </tr>
      <tr>
        <th>State</th>
        <td class="form-inline">
          <select id="state">
          @for(state <- Seq(UserStates.ACTIVE, UserStates.INACTIVE, UserStates.PENDING, UserStates.BLOCKED)) {
            <option  @if(userWithSocial.user.state.value == state.value){selected}>@state.value</option>
          }
          </select>
        </td>
      </tr>
      <tr>
        <th>Useful page update count</th>
        <td>@historyUpdateCount</td>
      </tr>
    </table>
    <p>
      <a href="@com.keepit.controllers.admin.routes.AdminUserController.moreUserInfoView(userWithSocial.user.id.get)">More User Info</a>
    </p>

	<div class="row-fluid">
	  <ul class="thumbnails">
      <li class="span6 well">
        <h2>@socialConnections.size Social Users</h2>
        <div class="scrollArea">
          <ol>
          @for(socialConnection <- socialConnections) {
            <li>@adminHelper.socialUserDisplay(socialConnection)</li>
          }
          </ol>
        </div>
      </li>
	    <li class="span6 well">
	      <h2>@fortyTwoConnections.size FortyTwo Users</h2>
	      <div class="scrollArea">
	        <ol>
	        @for(userWithSocial <- fortyTwoConnections) {
	          <li>@adminHelper.userDisplay(userWithSocial.user, userWithSocial.socialUserInfo)</li>
	        }
	        </ol>
	      </div>
	    </li>
	  </ul>
	</div>

  <h2>User kept @totalBookmarks Bookmarks</h2>
  <h3>Showing @bookmarks.size Bookmarks of total @totalBookmarks</h3>
  <form class="form-inline" action="@com.keepit.controllers.admin.routes.AdminUserController.userView(userWithSocial.user.id.get)" method="POST">
    @if(bookmarkSearch.isDefined){
      <input type="text" name="bookmarkSearch" value="@{bookmarkSearch.get}"/>
    } else {
      <input type="text" name="bookmarkSearch" placeholder="query"/>
    }
    <input type="submit" value="Search"/>
  </form>
  <form class="navbar-form" action="@com.keepit.controllers.admin.routes.AdminBookmarksController.updateBookmarks()"
  method="POST">
    <button type="submit" class="btn">Update</button><br/><br/>
			<table class="table table-bordered">
		    <tr>
		      <th>#</th>
		      <th>BID</th>
		      <th>Private</th>
		      <th>Active</th>
		      <th>Bookmark</th>
		      <th>Source</th>
          <th>Created At</th>
          <th>State</th>
		    </tr>
			 @for(((bookmark, uri), i) <- bookmarks.zipWithIndex) {
			   <tr>
		        <td>@{i+1}</td>
		        <td><span class="badge">@bookmark.id.get.id</span></td>
		        <td>
		          <input type="hidden" name="private_@{bookmark.id.get.id}" value="0" />
  					  <center><input type="checkbox" id="private_@bookmark.id.get.id" name="private_@{bookmark.id.get.id}" value="1" @if(bookmark.isPrivate) {checked="checked"}"></input></center>
		        </td>
		        <td>
              <input type="hidden" name="active_@{bookmark.id.get.id}" value="0" />
							<center><input type="checkbox" id="active_@bookmark.id.get.id" name="active_@{bookmark.id.get.id}" value="1" @if(bookmark.state.value == "active") {checked="checked"}"></input></center>
		        </td>
		        <td>@adminHelper.bookmarkDisplay(bookmark)</td>
		        <td>@bookmark.source</td>
            <td>@adminHelper.dateTimeDisplay(bookmark.createdAt)</td>
            <td>@adminHelper.uriStateDisplay(uri)</td>
			   </tr>
			 }
			</table>
    <button type="submit" class="btn">Update</button>
  </form>

  <script type="text/javascript">
    function refreshAllSocialUserInfo() {
      $("#refresh_sui").prop("disabled", true).text("Refreshing Social User Info...");
      location.href="@com.keepit.controllers.admin.routes.AdminUserController.refreshAllSocialInfo(userWithSocial.user.id.get)"
    }
    function impersonate() {
      $.post("@com.keepit.controllers.admin.routes.AdminAuthController.impersonate(userWithSocial.user.id.get)")
    }
    function unimpersonate() {
      $.post("@com.keepit.controllers.admin.routes.AdminAuthController.unimpersonate()")
    }
    function configSearch() {
      location.href="@com.keepit.controllers.admin.routes.AdminSearchConfigController.showUserConfig(userWithSocial.user.id.get)"
    }
    $(function() {
      $("#state").change(function() {
        var $td = $(this).closest("td");
        var $sp = $("<img src=/assets/images/spinner.15.gif>").appendTo($td);
          $.post('@com.keepit.controllers.admin.routes.AdminUserController.changeState(userWithSocial.user.id.get, "~")'.replace("~", $(this).val()))
            .done(function () {
              $sp.after($("<i class=icon-ok-sign>").delay(1000).fadeOut()).remove();
            });
      });
      
      $("#experiments").on("click", "input", function() {
        var $td = $(this).closest("#experiments");
        var $sp = $("<img src=/assets/images/spinner.15.gif>").appendTo($td);
        if (this.checked) {
          $.post('@com.keepit.controllers.admin.routes.AdminUserController.addExperiment(userWithSocial.user.id.get, "~")'.replace("~", $(this).data("exp")))
            .done(done).fail(fail);
        } else {
          $.ajax('@com.keepit.controllers.admin.routes.AdminUserController.removeExperiment(userWithSocial.user.id.get, "~")'.replace("~", $(this).data("exp")),
            {type: "DELETE"}).done(done).fail(fail);
        }
        function done() {
          $sp.after($("<i class=icon-ok-sign>").delay(1000).fadeOut()).remove();
        }
        function fail() {
          $sp.after($("<i class=icon-exclamation-sign></i> Error. Reload?").delay(3000).fadeOut()).remove();
        }
      });
    });
  </script>
}
