@(userStatisticsList: Seq[com.keepit.controllers.admin.UserStatistics])

@kifiInstallations(kifiInstallations: Seq[KifiInstallation]) = {
  <ul>
    @for(installation <- kifiInstallations) {
      <li>@{installation.version}; @{installation.userAgent.name} @{installation.userAgent.version}; @{installation.userAgent.operatingSystemName}</li>
    }
  </ul>
}

@admin("All " + userStatisticsList.size + " Users") {
  <table class="table table-bordered">
    <tr>
      <th>#</th>
      <th>Id</th>
      <th>User</th>
      <th># of bookmarks</th>
      <th>Date joined</th>
      <th>Experiments</th>
      <th>Version</th>
    </tr>
  @for((userStatistics, i) <- userStatisticsList.zipWithIndex) {
    <tr>
      <td>@{i+1}</td>
      <td><span class="badge">@userStatistics.user.id.get.id</span></td>
      <td>@adminHelper.userDisplay(userStatistics.userWithSocial.user, userStatistics.userWithSocial.socialUserInfo)</td>
      <td>@userStatistics.userWithSocial.bookmarksCount</td>
      <td>@adminHelper.dateDisplay(userStatistics.user.createdAt)</td>
      <td>@userStatistics.userWithSocial.experiments.mkString(", ")</td>
      <td>@kifiInstallations(userStatistics.kifiInstallations)</td>
    </tr>
  }
  </table>

  <h2>Global notification</h2>
  <form class="form-horizontal" action="@com.keepit.controllers.admin.routes.AdminUserController.sendNotificationToAllUsers()" method="POST">
    <div class="control-group">
      <label class="control-label" for="inputTitle">Title</label>
      <div class="controls">
        <input type="text" name="title" id="inputTitle" value="Hey Kifi beta tester!">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputLink">Link text</label>
      <div class="controls">
        <input type="text" name="linkText" id="inputLink" value="Kifi.com">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputUrl">Link URL</label>
      <div class="controls">
        <input type="text" name="url" id="inputUrl" value="http://www.42go.com/">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBody">Text Body</label>
      <div class="controls">
        <input type="text" name="bodyHtml" id="inputBody" value="Check out our new features. They're really great.">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputImage">Image</label>
      <div class="controls">
        <input type="text" name="image" id="inputImage" value="http://www.42go.com/images/favicon.png">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" name="sticky"> Sticky
        </label>
        <button type="submit" class="btn">Send to everyone!</button>
        <div>This is the point of no return.</div>
      </div>
    </div>
  </form>
}
