@admin("Latest KiFi Extension Version", stylesheets = List("admin_slider")) {
  <form class="kifi-ver-form form-inline" action="@com.keepit.controllers.admin.routes.SliderAdminController.broadcastLatestVersion("X")" method="POST">
    <input name="ver" type="text" class="input-small" autofocus autocomplete="off" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}" title="The current latest version (e.g. &quot;2.3.99)&quot;">
    <button>Broadcast</button>
  </form>
}

<script>
$(function() {
  var $f = $(".kifi-ver-form").submit(function(e) {
    e.preventDefault();
    $.post(this.action.replace("X", this.querySelector("input[name=ver]").value))
     .done(function() {
      $f.find("button").after($("<i class=icon-ok-sign style=margin-left:10px>").delay(1000).fadeOut(function() {
        $(this).rmeove();
      }));
    });
  });
});
</script>
