.kf-library-slack-integration-modal
  overflow: auto
  display: flex
  flex-direction: column
  text-align: left

  .kf-library-slack-integration-modal-scroller
    max-height: 400px
    overflow-y: scroll

  .kf-library-slack-integration-modal-item-left-space
    margin-left: 5px

  .kf-library-slack-integration-modal-item-right-space
    margin-right: 5px

  .kf-library-slack-integration-modal-nowrap
    white-space: nowrap

  .kf-library-slack-integration-modal-title
    font-size: 24px
    font-weight: bold
    color: #333

  .kf-library-slack-integration-modal-subtitle
    margin-bottom: 4px
    font-size: 16px
    color: #999

  .kf-library-slack-integration-modal-divider
    position: relative
    margin-bottom: 10px
    height: 1px
    background-color: #DDD

  .kf-library-slack-integration-modal-divider-half
    margin-top: 10px
    width: 100%

  .kf-library-slack-integration-modal-space-title
    font-size: 18px
    color: #333
    font-weight: bold

  .kf-library-slack-integration-modal-item-title-wrap
    display: flex
    flex-direction: row
    align-items: baseline


    .kf-library-slack-integration-modal-item-title
      margin-right: 5px
      font-size: 18px
      color: #333
      //font-weight: bold

  .kf-library-slack-integration-modal-item-delete
    font-size: 14px
    color: #AAA
    text-decoration: underline
    cursor: pointer
    margin-left: 10px

  .kf-library-slack-integration-modal-item-delete:hover
    color: #888

  .kf-library-slack-integration-modal-item-content
    font-size: 16px
    color: #333
    word-wrap: normal

    .kf-library-slack-integration-modal-move-dropdown-container

      .kf-dropdown-menu-item
        display: flex
        align-items: center

      .kf-library-slack-integration-modal-move-dropdown-item-img
        margin-right: 5px
        width: 20px
        height: 20px
        background-color: #DDD
        border-radius: 15%


      .kf-library-slack-integration-modal-move-dropdown-menu
        position: absolute
        box-shadow: 0px 2px 5px #888888;
        background: white
        border: 1px solid separatorColor
        z-index: 1
        display: flex
        flex-direction: column
        line-height: 150%
        padding: 4px 0
        border-radius: 4px
        transform-origin: top
        transition: opacity .12s linear, transform .12s ease-in
        font-size: 14px
        transition: visibility 0s, opacity linear dur, transform dur ease-out

      &:not(.kf-open)>.kf-library-slack-integration-modal-move-dropdown-menu
        dur = .08s
        visibility: hidden
        opacity: 0
        transform: scale(.9)
        transition-duration: 0s, dur, dur
        transition-delay: dur, 0s, 0s

      .kf-dropdown-menu-item
        text-align: left
        padding: 5px 6px 5px 6px
        color: #333
        font-size: 16px
        font-weight: bold
        white-space: nowrap
        cursor: pointer

        &:hover
          background-color: #eee

        &:active
          background-color: #ccc

    .kf-library-slack-integration-modal-cursor-pointer
      cursor: pointer

    .kf-library-slack-integration-modal-item-content-text
      margin-left: 20px
      margin-top: 7px
      display: flex
      flex-direction: row



      .kf-library-slack-integration-modal-checkbox-wrap
        margin-right: 10px
        display: inline-block
        display-self: flex-start
        margin-top: 2px

      .kf-library-slack-integration-modal-checkbox
        display: none

      .kf-library-slack-integration-modal-checkbox + label
        height: 16px
        width: 16px
        display: inline-block
        align-self: center

      .kf-library-slack-integration-modal-checkbox-bg
        background-size: contain
        background-repeat: no-repeat

      .kf-library-slack-integration-modal-item-lib-card
        border-style: none
        display: inline-block
        border: 0
        height: 18px
        width: 14px
        margin-right: 5px
        border-radius: 3px
        background-color: libraryGray
        box-shadow: 0 1px #fff, 0 2px #c9ccc0, 0 3px #fff, 0 4px #c9ccc0

      span
        color: #333
        //font-weight: bold


  //.kf-library-slack-integration-modal-item-content.ng-leave
  //  opacity: 1.0
  //  transition: .3s
  //
  //.kf-library-slack-integration-modal-item-content.ng-leave-active
  //  opacity: 0.0
  //  height: 0 !important

  .kf-library-slack-integration-modal-item-arrow
    width: 22px
    height: 22px
    margin-top: -3px

  .kf-library-slack-integration-modal-item-subtext
    font-size: 14px
    color: #AAA
    margin-left: 45px

  .kf-library-slack-integration-modal-add-channel
    margin-top: 20px
    font-size: 14px
    opacity: 0.5
    cursor: pointer
    width: intrinsic
  
    &:hover
      opacity: 1.0
  
    span
      text-decoration: underline

.kf-library-slack-text-wrap
  height: 50px
  overscroll-y: scroll

.kf-library-slack-text
  height: auto