<div kf-modal class="kf-library-slack-modal" kf-width="500px">
  <div class kf-basic-modal-content without-buttons="true" centered="false" title="You're almost there!">
		<span class="kf-library-slack-text">
			Slack integration is available to members of a team on our standard plan. To add this library to Slack please
			<a href="http://kifi.com/teams/new" ng-click="close()"><b>create a team</b></a> and <a
      href="http://kifi.com/pricing" ng-click="close()"><b>upgrade</b></a>
			it to the standard plan.
		</span>
  </div>
</div>
