<div kf-modal kf-width="700px">
    <div kf-basic-modal-content >
    <div class="kf-library-slack-integration-modal">

      <span class="kf-title">Slack Integration</span>
      <span class="kf-subtitle">Send keeps and links to and from Slack</span>

      <div class="kf-divider"></div>
      <div kf-set-height-px ng-repeat="si in slackIntegrations" class="kf-item-content">
        <div>
          <div class="kf-divider"
               ng-style="{'position': 'relative', 'width': '50%', 'opacity': ($index > 0) ? '0.5' : '0.0', 'margin-top':'10px', 'margin-bottom': '10px'}"></div>
        </div>

        <div class="kf-item-title-wrap">
          <span class="kf-item-title">{{si.data.channelName}}</span>
          <a class="kf-item-delete" ng-click="si.guardDeleteIntegration()">delete</a>
        </div>

        <div class="kf-item-content-text">
          <div class="kf-checkbox-wrap">

            <input class="kf-checkbox" id="cb-1-{{$index}}" type="checkbox" ng-model="si.keepToSlack"
                   ng-checked="si.keepToSlack" ng-change="si.onkeepToSlackChanged(si.keepToSlack)"/>
            <label ng-mouseenter="si.keepToSlackHover = true"
                   ng-mouseleave="si.keepToSlackHover = false" for="cb-1-{{$index}}"
                   ng-class="{'svg-checkbox_checked': si.keepToSlack && !si.keepToSlackHover,
               'svg-checkbox_checked_active': si.keepToSlack && si.keepToSlackHover,
               'svg-checkbox_unchecked': !si.keepToSlack && !si.keepToSlackHover,
               'svg-checkbox_unchecked_active': !si.keepToSlack && si.keepToSlackHover,
               'kf-checkbox-bg': true}"></label>

          </div>

          <div>
            Send Keeps from&nbsp
            <div class="kf-item-lib-card"
                 ng-attr-style="background-color:{{library.color}}"></div>
            <span>{{si.library.name}}</span>&nbsp&nbsp<img class="kf-item-arrow"
                                                           src="/img/lined-right-arrow.png"/>&nbsp&nbsp<span><nobr>
            {{si.data.channelName}}
          </nobr></span>
          </div>
        </div>
        <div class="kf-item-content-text">
          <div class="kf-checkbox-wrap">
            <input class="kf-checkbox" id="cb-2-{{$index}}" type="checkbox" ng-model="si.slackToKeep"
                   ng-checked="si.slackToKeep" ng-change="si.onSlackToKeepChanged(si.slackToKeep)"/>
            <label ng-mouseenter="si.slackToKeepHover = true"
                   ng-mouseleave="si.slackToKeepHover = false" for="cb-2-{{$index}}"
                   ng-class="{'svg-checkbox_checked': si.slackToKeep && !si.slackToKeepHover,
					   'svg-checkbox_checked_active': si.slackToKeep && si.slackToKeepHover,
					   'svg-checkbox_unchecked': !si.slackToKeep && !si.slackToKeepHover,
					   'svg-checkbox_unchecked_active': !si.slackToKeep && si.slackToKeepHover,
					   'kf-checkbox-bg': true}"></label>

          </div>

          <div>
            Keep links from
            <span><nobr>{{si.data.channelName}}</nobr></span>&nbsp&nbsp<img class="kf-item-arrow"
                                                                       src="/img/lined-right-arrow.png"/>&nbsp&nbsp
            <div class="kf-item-lib-card"
                 ng-attr-style="background-color:{{library.color}}"></div>
            <span>{{si.library.name}}</span>
          </div>
        </div>
      </div>

      <a class="kf-add-channel" ng-href="{{getSlackLink()}}">+
        <span>Add a channel</span></a>
    </div>
  </div>
</div>