.kf-detail-pane
  position: absolute
  top: 70px
  left: 0
  right: 0
  bottom: 0
  background: #eff2f7
  color: #556179
  transition: transform 0.3s ease-out

  &.ng-hide
    transform: translate(100%, 0)

  &.ng-hide-add
  &.ng-hide-remove
    display: block !important

  .antiscroll-inner
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: auto !important
    height: auto !important
    overflow: scroll
    overflow-x: hidden
    overflow-y: scroll

  .kf-detail-scroll
    position: relative
    height: 100%
    width: 100%


.kf-detail-inner
  padding: 20px

.kf-detail-header
  min-height: 24px
  color: inherit
  font-size: 16px
  line-height: 24px
  font-smoothing: antialiased
  long-text()

.kf-detail-x
  position: absolute
  top: 8px
  right: 16px
  width: 17px
  height: 17px
  border-radius: 50%
  font-size: 16px
  line-height: 1
  text-align: center

  &.kf-detail-x
    color: #b8c5d2

  &:hover
    color: white
    background-color: #a0b1c2

  &:active
    color: white
    background-color: #8699ab

  &:before
    content: "\d7"
    position: relative
    top: -1px

.kf-page-meta
  // needed for width: 50% for keep and private buttons
  font-size: 0

.kf-page-keep.kf-page-keep
.kf-page-priv.kf-page-priv
  display: inline-block
  margin-top: 5px
  color: white
  background-color: #b8c5d2
  font-size: 13px
  line-height: 30px
  width: 50%
  box-sizing: border-box
  text-align: center
  font-smoothing: antialiased

  &:hover
    background-color: #a0b1c2

  &:active
    background-color: #8699ab

.kf-page-keep
  border-right: 1px solid #eff2f7

.kf-page-priv
  border-left: 1px solid #eff2f7

.kf-page-keep:before
.kf-page-priv:before
  content: " "
  display: inline-block
  height: 13px
  width: 11px
  background: url(../img/keep-icons.png) 0 0/auto 16px content-box
  vertical-align: -1px
  margin-right: 8px

.kf-page-keep:before
  background-position: -21px 0
  width: 13px

.public .kf-page-keep:before
.private .kf-page-keep:before
  background-position: 0 0
  width: 11px

.kf-page-priv:before
  width: 10px
  background-position: -11px 0

  .private &
    width: 13px
    background-position: -21px 0

.kf-page-keep:after
  content: "Keep"

  .public &
  .private &
    content: "Unkeep"

  .multiple &
    content: "Keep all"

  .multiple.has-bookmark &
    content: "Unkeep all"

.kf-page-priv:after
  content: "Keep privately"

  .public &
    content: "Make private"

  .private &
    content: "Make public"

  .multiple &
    content: "Keep all privately"

  .multiple.public &
    content: "Make all private"

  .multiple.private &
    content: "Make all public"

.kf-page-who
.kf-page-chatter
  padding: 11px 0 0
  border-top: 1px solid #cdd6e0
  margin: 18px 0 5px

.kf-page-chatter
  margin-bottom: -6px

  h2
    margin-bottom: 8px

.kf-page-chatter-messages
  display: inline
  font-size: 13px
  margin-right: 16px
  white-space: nowrap

  &.kf-page-chatter-messages
    color: inherit

  .chatter-count
    font-size: 25px
    font-weight: bold
    margin-right: 5px
    vertical-align: -3px
    color: #b8c5d2
    font-smoothing: antialiased

  &:hover
    color: #0089d5

    &:before
      color: rgba(0,137,213,.35)

.page-colls
  margin: 18px 0 5px
  border-top: 1px solid #cdd6e0
  padding: 11px 0 0

  .page-coll-list
    margin-top: 10px

  .page-coll-list>li
    display: inline-block

  li
    line-height: 24px
    vertical-align: top

  a[href]
    color: #fff
    vertical-align: top

.page-coll
  position: relative
  overflow: hidden
  white-space: nowrap
  background-color: #b8c5d2
  margin: 0 3px 3px 0
  font-size: 13px
  line-height: 24px
  -webkit-font-smoothing: antialiased

  a:hover
    background-color: #a0b1c2
    display: inline-block

  a:active
    background-color: #8699ab

  &.removed
    width: 0 !important
    -webkit-transition: width .12s ease-in-out
    transition: width .12s ease-in-out

.page-coll-a
  padding: 0 16px
  long-text()

.page-coll:hover > .page-coll-a
  padding: 0 25px 0 7px


.page-coll-x
  position: absolute
  right: 0
  top: 0
  bottom: 0
  width: 0
  text-align: center
  background-color: inherit
  transition: width .05s ease-in-out

  .page-coll:hover> &
    width: 18px

.page-coll-new
  position: relative

.page-coll-add-circle
  display: inline-block
  white-space: nowrap
  font-size: 0
  vertical-align: top
  width: 18px
  height: 18px
  border-radius: 50%
  vertical-align: bottom
  position: relative
  bottom: 3px
  background: url("data:image/gif;base64,R0lGODlhCAAIAIABAO/y9////yH5BAEKAAEALAAAAAAIAAgAAAINjAGmgXv5kJxUNXdXLgA7") center/8px no-repeat, #b8c5d2
  image-rendering: -moz-crisp-edges
  image-rendering: -webkit-optimize-contrast
  image-rendering: crisp-edges
  margin-top: 6px

  &:hover
    background: url("data:image/gif;base64,R0lGODlhCAAIAIABAO/y9////yH5BAEKAAEALAAAAAAIAAgAAAINjAGmgXv5kJxUNXdXLgA7") center/8px no-repeat, #a0b1c2

.page-coll-add
  position: relative
  overflow: hidden
  white-space: nowrap
  background-color: #b8c5d2
  margin: 0 3px 3px 0
  font-size: 13px
  line-height: 24px
  -webkit-font-smoothing: antialiased
  display: inline-block
  padding-right: 12px
  color: #fff
  font-size: 13px

  &:hover
    background-color: #a0b1c2
    display: inline-block

  &:active
    background-color: #8699ab

  .page-coll-add-circle
    width: 16px
    height: 16px
    bottom: 4px
    margin-left: 8px
    margin-right: 4px
    background-color: #f7fafe
    background-image: url("data:image/gif;base64,R0lGODlhCAAIAIABALjF0v///yH5BAEKAAEALAAAAAAIAAgAAAINjAGmgXv5kJxUNXdXLgA7")


.page-coll-sizer
  position: absolute
  visibility: hidden


.page-coll-sizer,
input.page-coll-input
  display: inline-block
  border: 1px solid #cdd6e0
  padding: 0 16px
  height: 24px
  vertical-align: top
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  color: inherit
  font-family: inherit
  font-size: 13px
  -webkit-font-smoothing: antialiased
  -webkit-transition: width 60ms ease-in-out
  transition: width 60ms ease-in-out
  min-width: 150px

.page-coll-opt-hidden
  @extend input.page-coll-input
  visibility: hidden
  position: absolute
  long-text()

.page-coll-opts
  display: none
  position: absolute
  border: 1px solid #cdd6e0
  border-top: none
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  background-color: #fff
  font-size: 13px
  width: 100%

.page-coll-opts:not(:empty)
  display: block

.page-coll-opt
  position: relative
  padding: 0 16px
  font-size: 13px
  color: #888b93
  -webkit-font-smoothing: antialiased
  cursor: pointer
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.page-coll-opt.current
  background-color: #f1f2f6

.new-label
  position: absolute
  right: 8px
  top: 5px
  height: 14px
  line-height: 13px
  padding: 1px 4px
  font-size: 9px
  font-weight: bold
  background-color: #b8c5d2
  color: white
  border-radius: 2px
  -webkit-font-smoothing: subpixel-antialiased

.page-coll-opt[data-id=""]:not(:first-child)
  border-top: 1px solid #cdd6e0
