<div class="kf-keep-detail">
  <h2 class="kf-detail-header page-title" ng-bind="keep.title"></h2>
  <a class="kf-keep-detail-url long-text" ng-href="{{keep.url}}" target="_blank">{{keep.url}}</a>
  <div class="kf-page-pic-wrap">
    <div class="kf-page-pic-special" ng-class="{ 'kf-page-pic-special-cell': keep.isEmbed }" ng-if="keep.isEmbed">
      <div kf-youtube video-id="keep.videoId"></div>
    </div>
    <a class="kf-page-pic" ng-if="!keep.isEmbed" ng-href="{{keep.url}}" target="_blank" ng-attr-style="background-image: url({{keep.screenshot}})">
      <div class="kf-page-pic-1">
        <div class="kf-page-pic-2">
          <div class="kf-page-pic-3">
            <div class="kf-page-pic-soon">Preview of this page<br>not yet available</div>
            <span class="kf-page-pic-tip">Visit page</span>
          </div>
        </div>
      </div>
    </a>
    <div class="kf-page-how">
      <div class="kf-page-how-0">
        <div class="kf-page-how-pub">
          <div class="kf-page-how-1">
            <div class="kf-page-how-2">
              <div class="kf-page-how-3">Public</div>
            </div>
          </div>
        </div>
        <div class="kf-page-how-pri">
          <div class="kf-page-how-1">
            <div class="kf-page-how-2">
              <div class="kf-page-how-3">Private</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
