.kf-keep-detail-url
  display: inline-block
  max-width: 100%
  margin-bottom: 12px
  font-size: 12px
  line-height: 20px
  font-smoothing: antialiased
  long-text()

  &.kf-keep-detail-url
    color: inherit

  &:hover
    text-decoration: underline

.kf-page-pic-wrap
  display: table
  table-layout: fixed
  width: 100%
  position: relative
  overflow: hidden

.kf-page-pic-special
  display: none
  width:100%
  height: 100%
  z-index: 1

.kf-page-pic-special-cell
  display: table-cell

.kf-youtube
  position: relative
  padding-bottom: 54.25% /* 16:9 */
  height: 0
  z-index: 2

  object
  embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.kf-page-pic[href]
  display: table-cell
  background-color: rgba(black, .05)
  background-size: 100% auto
  width: 100%
  min-height: 135px
  padding-top: 47%
  color: inherit
  cursor: pointer
  box-sizing: border-box

.kf-page-pic-1
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 48px

.kf-page-pic-2
  display: table
  width: 100%
  height: 100%

.kf-page-pic-3
  display: table-cell
  vertical-align: middle
  text-align: center

.kf-page-pic-soon
  font-size: 16px
  font-weight: 300
  font-smoothing: antialiased

  &:not(.showing)
  .kf-page-pic:hover &
    display: none

.kf-page-pic-tip
  display: inline-block
  padding: 0 16px
  border-radius: 4px
  text-transform: uppercase
  background-color: #b8c5d2
  color: #fff
  font-size: 11px
  line-height: 24px
  font-smoothing: antialiased

  .kf-page-pic:not(:hover) &
    display: none

.kf-page-how
  display: table-cell
  position: relative
  vertical-align: middle
  text-align: center
  white-space: nowrap
  width: 0
  max-width: 0
  transition: width .18s, max-width .18s

  .public &
  .private &
    width: 48px
    max-width: 48px

.kf-page-how-0
  position: absolute
  top: 0
  right: 0
  bottom: 0
  width: 48px
  overflow: hidden

.kf-page-how-pub
.kf-page-how-pri
  position: absolute
  top: 0
  right: 0
  width: 100%
  height: 100%
  z-index: 1
  transform: scale(.001, 1)
  transform-origin: right
  transition: transform .18s, top .18s

  .public &
  .private &
    transform: none

.kf-page-how-pub
  background-color: #accc98

  .private &
    top: 100%
    z-index: 0

.kf-page-how-pri
  background-color: #e78881

  .public &
    top: -100%
    z-index: 0

.kf-page-how-1
  display: table
  height: 100%
  width: 100%

.kf-page-how-2
  display: table-cell
  vertical-align: middle
  text-align: center

.kf-page-how-3
  margin: 0 -50px
  color: #fff
  font-size: 18px
  line-height: 22px
  height: 22px
  font-smoothing: antialiased
  transform: rotate(90deg)

  .kf-page-how-pub &:before
  .kf-page-how-pri &:before
    content: " "
    display: inline-block
    height: 16px
    width: 16px
    background: url(../img/keep-icons.png) -46px 0/auto 16px
    vertical-align: -2px
    margin-right: 9px
    transform: rotate(-90deg)

  .kf-page-how-pri &:before
    width: 12px
    background-position: -34px 0
