// keep-who styling specific to detail pane
.kf-detail-pane

  .kf-keep-who-text
    line-height: 12px
    color: #556179

  .kf-keep-who-pics
    margin: 5px 0 13px
    white-space: nowrap

    .kf-keep-who-pic
      width: 38px
      height: 38px
      margin-right: 2px
