<div class="page-colls">
  <h2 class="kf-detail-header" ng-show="commonTags.length > 0">Tags:</h2>
  <ul class="page-coll-list">
    <li class="page-coll" data-id="{{tag.id}}" ng-repeat="tag in commonTags">
      <a class="page-coll-a" href="/tag/{{tag.id}}">{{tag.name}}</a>
      <a class="page-coll-x" href="javascript:" ng-click="removeTagFromSelectedKeeps(tag)">×</a>
    </li>
    <li class="page-coll-new">
      <span ng-show="!isAddingTag">
        <a class="page-coll-add-circle" href="javascript:" ng-show="hasTags()" ng-click="showAddTagDropdown()">+</a>
        <a class="page-coll-add" href="javascript:" ng-show="!hasTags()" ng-click="showAddTagDropdown()"><span class="page-coll-add-circle">+</span> {{addTagLabel()}}</a>
      </span>
      <span ng-show="isAddingTag" kf-tag-suggestions>
        <input focus-when="shouldGiveFocus" class="page-coll-input" type="text" placeholder="tag name" ng-model="tagFilter.name" ng-keydown="onKeydown($event)" ng-blur="hideAddTagDropdown()">
        <ul class="page-coll-opts">
          <li class="page-coll-opt" ng-repeat="tag in tagTypeAheadResults" ng-class="{ current: isTagHighlighted(tag) }" ng-mousedown="addTag(tag, keep)" ng-bind-html="tag.prettyHtml" ng-mouseover="highlightTag(tag)"></li>
          <li class="page-coll-opt" ng-if="isAddTagShown()" ng-mousedown="createAndAddTag(keep)" ng-class="{ current: isTagHighlighted(null) }" ng-mouseover="highlightTag(null)">{{tagFilter.name}}<span class="new-label">{{newTagLabel}}</span></li>
        </ul>
        <span class="page-coll-opt-hidden"></span>
      </span>
    </li>
  </ul>
</div>