
/* An attempt to normalize CSS */
.kifi_hover * {
  width:auto;
  line-height: 1;
  letter-spacing: normal;
  word-spacing: normal;
  position: static;
  -font-weight:normal;

  background-position: 0% 0%;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  background-attachment: scroll;
  background-image: none;
  border: 0px;
  border-top: 0px;
  margin: 0px;
  padding: 0px;
  box-shadow: none;
  border-radius: 0px;
  -background: transparent;
  min-width: 0px;
  box-sizing: content-box;
  text-align: left;
  direction: ltr;
}

.kifi_hover div {
  -display: block;
}

.kifi_hover span {
  display: inline;
}

.kifi_hover {
  position: fixed;
  bottom:35px;
  right:-350px;
  z-index:2147483640;
  opacity:0;
  width:auto;
  border:0px;
  margin: 0px;
  padding: 0px;
  box-shadow: none;
  border-radius: 0px;
  background: transparent;
  min-width: 0px;
  font-size: 14px;
}

/*Rounded corner with shadow*/
.kifi_hover .roundedbox {
  background-color: #faf9f9;  
  border: 2px solid #414b52;
  border-right:0px;
  border-radius: 12px 0px 0px 12px;
  -moz-box-shadow: 2px 2px 2px rgba(50,50,50,0.5);
  -webkit-box-shadow: 2px 2px 2px rgba(50,50,50,0.5);
  box-shadow: 2px 2px 2px rgba(50,50,50,0.5);

  width: 330px;
  position:relative;
}
/*Header*/
.kifi_hover .roundedbox .kifihdr {                        
  margin:0; 
  padding:9px 5px 9px 10px;          
  padding-left:40px;
  padding-right:25px;
  cursor: move;
}
/*footer*/
.kifi_hover .roundedbox .kififtr {                        
  margin:0; 
  bottom: 0px;
  border-top: 1px solid #E2E2E2;
  padding-top: 15px;
}
/*content*/
.kifi_hover .roundedbox .kifi-content {
  padding: 5px 5px 5px 10px;    
  font-family: Calibri, Helvetica, sans-serif;
  font-size: 12px;
  padding-right:20px;
}
/*Color scheme*/
.kifi_hover .color_a {
  font-family: Calibri, Helvetica, sans-serif;
  background-color: #414b52;
  color: #faf9f9;
  font-size:14px;
  font-weight:lighter;
}

.kifi_hover .kififtr {
text-align:right;
}

.kifi_hover .kifilogo {
  margin-right: 20px;
  padding:5px 25px;
  background-position: top;
  background-size: 25px;
}

.kifi_hover .kept {
  color: #a0a5a9;
}

.kifi_hover ul.interaction-bar {
  margin:0px;
  padding:0px;
  padding-right: 20px;
  text-align:right;
  background: #E0E0E0;
}

.kifi_hover .interaction-bar li {
  list-style:none;
  display:inline;
  margin:0px;
  font-family: Calibri, Helvetica, sans-serif;
  font-size: 11px;
  color:#666;
  padding:10px 10px;
  display:inline-block;
  text-decoration:none;
  background-color: #E0E0E0;
}

.kifi_hover .interaction-bar li:hover {
  background: #ECECEC;
}

.kifi_hover .interaction-bar li:active {
  background: #FAFAFA;
}

.kifi_hover .interaction-bar li.active {
  background-color: #FAFAFA;
}

.kifi_hover .interaction-bar span {

}

.kifi_hover .interaction-bar .notify-count {
  background-color: #666;
  border-radius: 5px;
  color: #FAFAFA;
  padding: 2px 6px;
  margin-right: 3px;
}
.kifi_hover .interaction-bar .comments-count {
  background-color: #6BB4DC;
}
.kifi_hover .interaction-bar .messages-count {
  background-color: #EF8299;
}

.kifi_hover .friendlist {
  padding:5px;
  padding-left:0px;
  white-space: nowrap;
  overflow: hidden;
}

.kifi_hover .friendlist .friendlist_fade {
  position:absolute;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255,255,255,0)), to(rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  top: 65px;
  height: 36px;
  right: 40px;
  width: 36px;
}

.kifi_hover .kifi-header-actions {
  position:relative;
  float:right;
  margin-top:-2px;
  margin-right:10px;
  cursor: default;
}


.kifi_hover .xlink {
  padding:1px;
  padding-right:5px;
  padding-left:5px;
  margin-top:3px;
  background-color: #414b52;  
  border: 0px;
  border-radius: 12px 12px 12px 12px;
  font-size:12px;
  color: #faf9f9;
  font-weight: 800;
  cursor: pointer;
    text-align: center;

}

.kifi_hover .xlink:hover {
    background-color: #faf9f9;
    color: #414b52;
}

.kifi_hover .xlink:active {
    background-color: #e0e0e0;
    color: #414b52;
}



.kifi_hover .circular {
  border: 2px solid white;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color:#ff0000;
  position:relative;
  top:-2px;
  left:-2px;
}
.kifi_hover .imageborder {
  border: 5px solid #414b52;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  position:absolute;
  top:-15px;
  left:-20px;
}

.kifi_hover .socialinnerbox {
  padding:7px 10px;
  background-color: #FAFAFA;
  margin:10px;
  border-radius: 3px;
  font-size:14px;
  color: #414b52;
}


.kifi_hover .social_friend {
  width:36px;
  height:36px;
  border-radius: 2px;
}

.kifi_hover .innerbox {
  padding:7px 10px;
  margin:10px;
  font-size:14px;
  color: #414b52;
  text-align: center;
}


.kifi_hover .kbutton {
  zoom: 1;
  outline: none;
  cursor: pointer;
  vertical-align: baseline;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  border: solid 1px #B8B8B8;
  color: #4F4F4F;
  border-color: #E0E0E0 #D7D7D7 #CCC;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#E9E9E9));
  background: -moz-linear-gradient(top, white, #E9E9E9);
  background: linear-gradient(white, #E9E9E9);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .08), inset 0 1px 0 rgba(255, 255, 255, .3);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.08), inset 0 1px 0 rgba(255,255,255,.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .08), inset 0 1px 0 rgba(255, 255, 255, .3);
  background-clip: padding-box;
  padding:5px 5px;

}

.kifi_hover .kbutton:hover, .kbutton:active { 
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15), inset 0 1px 0 rgba(255,255,255,.2); 
  -moz-box-shadow:  0 1px 2px rgba(0,0,0,.15), inset 0 1px 0 rgba(255,255,255,.2); 
  box-shadow:     0 1px 2px rgba(0,0,0,.15), inset 0 1px 0 rgba(255,255,255,.2);
  border-color: #d5d5d5 #cccccc #c2c2c2;
  background: #f7f7f7;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
  background: -moz-linear-gradient(top, #ffffff,  #ededed);
  background: linear-gradient(#ffffff, #ededed);
}

.kifi_hover .kbutton:active {
  background: #f7f7f7;

}

.kifi_hover .keepitbtn {
  padding:5px;
  padding-left:30px;
  padding-right:30px;
  border-radius: 2px 0px 0px 2px;
  border-right: 0px;
}


.kifi_hover .buttonwrapper {
  text-align: center;
  padding:10px;
}

.kifi_hover .dropdownbtn {
  border-radius: 0px 2px 2px 0px;
}

.kifi_hover .kifi_toggle,.kifi_toggle:hover {
  width: 100%;
  height: 100%;
  padding:10px 5px;
}

.kifi_hover .noselect {
  /*-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
}

.kifi_hover .profilepic {
  cursor: pointer;
}

.kifi_hover .moreinnerbox {
  padding:7px 10px;
  background-color:white;
  margin:10px;
  margin-top:0px;
  border-radius: 0px 0px 3px 3px;
  box-shadow: #dddddd 0px 1px ;
  font-size:14px;
  color: #414b52;
  display: none;
}


/*.kifi_hover .friend_tooltip {
  display:none;
  position:absolute;
  top:0px;
  height:50px;
  width:100px;
  background-color: #faf9f9;
}*/

.kifi_hover .friend_tooltip {
  display:none;
  position:absolute;
  top:-50px;
  left:-100px;
  height:100px;
  width:350px;
  background-color: #fff;
  color: #faf9f9;
  border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: 2px 2px 2px rgba(50,50,50,0.5);
  -webkit-box-shadow: 2px 2px 2px rgba(50,50,50,0.5);
  box-shadow: 5px 5px 15px rgba(50,50,50,0.5);
  border: 1px solid #2d2d2d;
}
.kifi_hover .friend_tooltip:before, .kifi_hover .friend_tooltip:after {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.kifi_hover .friend_tooltip:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}

.kifi_hover .friend_tooltip:before {
  border-color: rgba(45, 45, 45, 0);
  border-top-color: #2d2d2d;
  border-width: 9px;
  left: 50%;
  margin-left: -9px;
}

.kifi_hover .keepit_private {
  display: inline;
}



.kifi_social_hover div {
  -display: block;
}

.kifi_social_hover span {
  display: inline;
}

.kifi_social_hover {

}


.kifi_social_hover .hover_friend {
  padding: 5px;
  clear: both;
  position:relative;
}

.kifi_social_hover .hover_friend_picture {
  position:relative;
  float:left;
}

.kifi_social_hover .hover_friend_description {
  position:relative;
  float:left;
  padding:10px;
}

.kifi_social_hover .hover_friend_view_keeps {
  position:relative;
  float:right;

  margin-top:30px;
  width: 80px;
}

.kifi_social_hover .hover_picture_frame {
  border: 1px solid #c2c2c2;
  border-radius: 4px;
}

.kifi_social_hover .hover_picture_frame img {
  margin: 3px;
  height: 70px;
  width: 70px;
  background-color: #ccc;
}

.hover_friend_name {
  font-size: 16px;
  color: #2d2d2d;
}

.hover_connected_message {
  font-size: 12px;
  color: #808080;
  margin:6px 0px 4px 0px;
}

.hover_connected_networks {
  /*background: url(connected_networks.png);*/
}

.kn_facebook {
  background-position: 0px 0px;
}

.kn_linkedin {
  background-position: -34px 34px;
}
.kn_twitter {
  background-position: -68px 34px;
}
.kn_pinterest {
  background-position: -102px 34px;
}

span.kn_social {
  width: 34px;
  height: 34px;
  display: inline-block;
  background-size: 136px;
}

.kifi_selection {
  background: rgba(50,100,150,.3) !important;
}

.kifi_hover .kifi_comment_wrapper {
  background-color: #faf9f9;
  color: #2d2d2d;
  font-size: 12px;
  display:none;
  margin-top: 5px;
}

.kifi_comment_wrapper .kifi_comment {
  /*border-bottom:1px solid #B8B8B8;*/
  display: block;
  clear: both;
  min-height: 35px;
  margin: 8px 3px 8px 3px;
}


.kifi_comment_wrapper #comment_text {
  width:250px;
  margin: 0;
  height:35px;
  display: block;
  background-color: #fff;
  border: 1px solid rgb(190, 190, 190);
  font-size: 12px;
  resize:none;
  max-height: 40px;
  padding:5px;
}



.kifi_comment_wrapper .comment_user img {
  width:30px;
  height:30px;
  border-radius: 2px;
  float:left;
  position: relative;
  margin-right: 5px;
  clear: both;
}

.kifi_comment_wrapper .kifi_comment {
  font-size: 12px;
  font-family: 'helvetica neue', arial, sans-serif;
  line-height: 13px;
}

.kifi_comment_wrapper .comment_body {

}

.kifi_comment_wrapper .comment_body b {
  font-weight: 800;
}

.kifi_comment_wrapper .postbtn {
  padding:5px;
  padding-left:30px;
  padding-right:30px;
  border-radius: 2px 0px 0px 2px;
  margin-top:2px;
}

.kifi_comment_wrapper #comment_list {
  max-height: 270px;
  width:260px;
  border: 1px solid rgb(190, 190, 190);
  overflow:auto;
  border-bottom: 0px;
}

.kifi-content .comments_label, .kifi-content .messages_label {
  margin-top: 6px;
  font-size: 12px;
  text-decoration: none;
  color: #7E7E7E;
}
.kifi-content .comments_label:hover, .kifi-content .messages_label:hover {
  text-decoration: underline;
  color: #666;
  cursor: pointer;
}


/* BEGIN MENTIONS
 * TODO
 *//*
.mentions-input-box {
  position: relative;
  background: #fff;
}

.mentions-input-box textarea {
  width: 100%;
  display: block;
  height: 50px;
  padding: 9px;
  border: 1px solid #dcdcdc;
  border-radius:3px;
  overflow: hidden;
  background: transparent;
  position: relative;
  outline: 0;
  resize: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.mentions-input-box .mentions-autocomplete-list {
  display: none;
  background: #fff;
  border: 1px solid #b2b2b2;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10000;
  margin-top: -2px;

  border-radius:5px;
  border-top-right-radius:0;
  border-top-left-radius:0;

  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
     -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
}

.mentions-input-box .mentions-autocomplete-list ul {
    margin: 0;
    padding: 0;
}

.mentions-input-box .mentions-autocomplete-list li {
  background-color: #fff;
  padding: 0 5px;
  margin: 0;
  width: auto;
  border-bottom: 1px solid #eee;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  cursor: pointer;
  list-style: none;
  white-space: nowrap;
}

.mentions-input-box .mentions-autocomplete-list li:last-child {
  border-radius:5px;
}

.mentions-input-box .mentions-autocomplete-list li > img,
.mentions-input-box .mentions-autocomplete-list li > div.icon {
  width: 16px;
  height: 16px;
  float: left;
  margin-top:5px;
  margin-right: 5px;
  -moz-background-origin:3px;

  border-radius:3px;
}

.mentions-input-box .mentions-autocomplete-list li em {
  font-weight: bold;
  font-style: none;
}

.mentions-input-box .mentions-autocomplete-list li:hover,
.mentions-input-box .mentions-autocomplete-list li.active {
  background-color: #f2f2f2;
}

.mentions-input-box .mentions-autocomplete-list li b {
  background: #ffff99;
  font-weight: normal;
}

.mentions-input-box .mentions {
  position: absolute;
  left: 1px;
  right: 0;
  top: 1px;
  bottom: 0;
  padding: 9px;
  color: #fff;
  overflow: hidden;

  white-space: pre-wrap;
  word-wrap: break-word;
}

.mentions-input-box .mentions > div {
  color: #fff;
  white-space: pre-wrap;
  width: 100%;
}

.mentions-input-box .mentions > div > strong {
  font-weight:normal;
  background: #d8dfea;
}

.mentions-input-box .mentions > div > strong > span {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.mention {
  height: 50px;
}

.commentbox * {
  font-size: 12px;
}*/
/* END MENTIONS
 * TODO
 */

.tabs li {
  list-style:none;
  display:inline;
}

.tabs span {
  padding:5px 10px;
  display:inline-block;
  border: 1px solid rgb(190, 190, 190);
  text-decoration:none;
  top:1px;
  position:relative;
  border-radius: 5px 5px 0px 0px;
}

.tabs .active {
    border-bottom: 1px solid #FAF9F9;
}

@media print {
  .kifi_hover {
      display:none;
  }
}