#kpt_main {
  margin: 20px 200px 40px 200px;
}

#keepit_hover {
  position: fixed;
  top: 180px;
  right: -150px;
  height: 120px;
  width: 150px;

  -webkit-border-top-left-radius: 10px;
     -moz-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
     -moz-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px;

  background-color: #3A5998;
  color: #D8DFEA;
  border-top: 1px solid #00FF00;
  border-left: 1px solid #00FF00;
  border-bottom: 1px solid #00FF00;

  padding: 20px 10px 20px 20px;

}