.kf-team-activity-table
  border-radius: 5px
  border-collapse: separate
  border-spacing: 2px

  thead
    th
      border-bottom: 1px solid black
      text-align: center

  tbody
    tr:nth-child(odd)
      background-color: whitesmoke

    td
      border-radius: 7px
      padding: 8px 4px
      font-size: 14px
      font-smoothing: antialiased
