<div class="kf-billing-summary">
  <ul class="kf-list">
    <li>
      <p>
        <span ng-if="!preview">You currently have</span>
        <span ng-if="preview">You will have</span>
        <a class="kf-link kf-link-black kf-link-underline" ui-sref="orgProfile.members" ng-click="trackOverviewClick('overview:team_members')">
          <span ng-bind="billingState.users"></span>
          team
          <span
            ng-pluralize
            count="billingState.users"
            when="{
              1: 'member',
              other: 'members'
            }"
          ></span>
        </a>
        on the
        <a
          class="kf-link kf-link-black kf-link-underline"
          ui-sref="orgProfile.settings.plan({ '#': 'select-plan-' })"
          ng-click="trackOverviewClick('overview:plan')"
        >
          <span ng-bind="billingState.plan.fullName"></span> plan
        </a>.
      </p>
    </li>
    <li ng-if="isPaidPlan()">
      <p>
        <span ng-if="!preview">As of today, your</span>
        <span ng-if="preview">Your</span>
        <span>plan will renew on</span>
        <b ng-bind="billingState.planRenewal | date:'yyyy-MM-dd'"></b>
        <span>for</span>
        <b ng-bind="billingState.planRenewalCost | money"></b>.
      </p>
      <ul ng-if="billingState.balance | isNegativeMoney">
        <li>
          You <b>owe <span ng-bind="((billingState.balance | moneyUnwrap) * -1) | money"></span></b>
          from previous invoices.
        </li>
      </ul>
    </li>
    <li>
      <p>
        <span ng-if="!preview">You have a</span>
        <span ng-if="preview">You will have a</span>
        <a
          class="kf-link kf-link-black kf-link-underline"
          ui-sref="orgProfile.settings.credits"
          ng-click="trackOverviewClick('overview:credits')"
        >
          credit of
          <span ng-bind="!(billingState.balance | isPositiveMoney) ? (0 | money) : (billingState.balance | money)"></span>
        </a><!--
     --><span ng-if="!(isPaidPlan() && billingState.card)">.</span>
        <span ng-if="isPaidPlan() && billingState.card">
          which will be applied before your
          <a
            class="kf-link kf-link-black kf-link-underline"
            ui-sref="orgProfile.settings.plan({ '#': 'select-plan-' })"
            ng-click="trackOverviewClick('overview:card_ending')"
          >
            credit card ending in
            <b ng-bind="'' + billingState.card.lastFour"></b>
          </a>
          is charged.
        </span>
      </p>
    </li>
    <li ng-if="preview && billingState.paymentStatus === 'pending' && (billingState.balance | isNegativeMoney)">
      <p>
        Your
        <a
          class="kf-link kf-link-black kf-link-underline"
          ui-sref="orgProfile.settings.plan({ '#': 'select-plan-' })"
          ng-click="trackOverviewClick('overview:card_ending')"
        >
          credit card ending in
          <b ng-bind="'' + billingState.card.lastFour"></b>
        </a>
        will immediately be charged for
        <b ng-bind="((billingState.balance | moneyUnwrap) * -1) | money"></b>
        from previous invoices.
      </p>
    </li>
  </ul>
</div>
