.kf-earn-credits-top-header
  margin-bottom: 15px
  margin-left: 15px

.kf-earn-credits-refer
  margin-bottom: 20px

.kf-referral-code-txt
  color: black
  border-color: lightGrey
  border-style: solid
  border-width: 2px
  border-radius: 8px
  padding: 10px 10px 10px
  margin-right: 20px
  width: 180px

.kf-referral-btn
  border-radius: 8px
  border-color: white
  border-style: none
  width: 40px
  color: white
  padding: 9px 10px 10px
  background-color: alpha(libraryGreen, .9)

  &:disabled
    background-color: lightGrey

  &:hover:not(:active):not(:disabled)
    background-color: libraryGreen


.kf-earn-credits-activity
  text-align: center
  color: alpha(grey, .9)

.kf-earn-credits-activity-header
  margin-top: 30px

.kf-main-pane-earn-credits
  text-align: left

.kf-referral-copy-msg
  margin-left: 20px
  display: inline-block
  color: libraryGreen

  &.ng-enter
    transition: all .04s
    opacity: 0

  &.ng-enter-active
    opacity: 1

  &.ng-leave
    transition: all 3s
    opacity: 1

  &.ng-leave-active
    opacity: 0


