<div class="kf-earn-credits">
  <h1 class="kf-heading kf-earn-credits-top-header">Earn Credit</h1>
  <section class="kf-container kf-earn-credits-refer">
    <div class="kf-container-header">
      <h2 class="kf-heading">Refer a team to Kifi and earn credit</h2>
    </div>
    <div class="kf-main-pane-earn-credits">
      <p>
        Share Kifi with other teams and they’ll receive a $100 credit.
        We’ll credit your team with $100 for the referral when they upgrade
        after joining with your referral code or link.
      </p>
      <div class="kf-main-pane-earn-credits-inputs">
        <input type="text" class="kf-textbox kf-earn-credits-referral kf-earn-credits-referral-link" clipboard readonly text="referralUrl" ng-model="referralUrl" ng-click="showCopied('link')">
        <button clipboard text="referralUrl" ng-click="showCopied('link')" class="kf-button kf-button-large kf-button-cta-green kf-referral-link-btn"><div ng-if="copiedLink">Copied!</div><div ng-if="!copiedLink">Copy Link</div></button>
        <button clipboard text="referralCode" ng-click="showCopied('code')" class="kf-button kf-button-large kf-referral-link-btn"><span ng-if="copiedCode">Copied!</span><span ng-if="!copiedCode">Copy Code</span></button>
      </div>
      <div class="kf-main-pane-earn-credits-social">
        <a class="kf-button kf-button-large kf-earn-credits-share-twitter" ng-click="shareTwitter($event)" href="https://twitter.com/intent/tweet">Share on Twitter</a>
        <button class="kf-button kf-button-large kf-earn-credits-share-fb" ng-click="shareFB($event)">Share on Facebook</button>
        <a class="kf-button kf-button-large kf-earn-credits-share-email" ng-href="mailto:?subject=Invitation%20to%20join%20Kifi&amp;body=I%20created%20a%20team%20on%20Kifi%20to%20collect%20and%20organize%20my%20company%E2%80%99s%20web%20content.%20If%20you%20use%20this%20link%20to%20sign%20up,%20you%20can%20create%20a%20team%20for%20free%20and%20receive%20a%20$100%20credit%20that%20can%20be%20used%20if%20you%20choose%20to%20upgrade%20the%20team.%20{{referralUrlEncoded}}">Share with Email</a>
      </div>
  </section>
  <div kf-redeem-credits profile="profile" standalone="true" on-apply="trackApplyCodeClick" autofocus="true"></div>
  <div ng-if="hasPermission(ORG_PERMISSION.MANAGE_PLAN)" kf-reward-credits profile="profile"></div>
</div>
