<div class="kf-earn-credits">
  <h1 class="kf-heading kf-earn-credits-top-header">Earn Credit</h1>
  <section class="kf-container kf-earn-credits-refer">
    <div class="kf-container-header">
      <h2 class="kf-heading">Refer a team to Kifi and earn credit</h2>
    </div>
    <div class="kf-main-pane-earn-credits">
      <p>
        Share Kifi with other teams and they'll receive a $100 credit.
        We'll credit your team with $100 for the referral when they upgrade
        after joining with your referral code.
      </p>
      <div class="kf-main-pane-earn-credits-inputs">
        <input class="kf-textbox kf-textbox-auto kf-earn-credits-referral" readonly clipboard text="referralCode" ng-model="referralCode" ng-click="showCopied()">
        <button clipboard text="referralCode" ng-click="showCopied()" class="kf-button kf-button-large kf-button-cta-green">Copy Code</button>
        <span class="kf-referral-copy-msg" ng-if="copied">Copied!</span>
      </div>
    </div>
  </section>
  <div kf-redeem-credits profile="profile" standalone="true" on-apply="trackApplyCodeClick" autofocus="true"></div>
  <div ng-if="hasPermission(ORG_PERMISSION.MANAGE_PLAN)" kf-reward-credits profile="profile"></div>
</div>
