.kf-export-keeps-container
  font-size: 14px
  color: textBlackColor

  input[type="radio"]
    margin: 5px 0

  button
    margin: 5px 0

.kf-export-keeps-message
  margin-left: 5px
  color: accentGreen
