<div>
    <div ng-if="!canEditIntegrations" style="text-align: center">
        Sadly, you are not allowed to be on this page, ask a team admin / owner for more information!
    </div>
    <div ng-if="canEditIntegrations">
        <h1 class="kf-heading kf-ts-integrations-header">Integrations</h1>
        <div class="kf-ts-integrations">

            <span class="kf-ts-integrations-desc">Slack</span>
            <span class="kf-ts-integrations-marketing-text">Integrate with Slack to automatically keep links messaged within slack.  Sync all of your team's Slack channels with Kifi (not including private groups or direct messages).  Kifi will create a library for each Slack Channel.</span>
            <span class="kf-ts-integrations-marketing-support">Learn more.  <a href="http://support.kifi.com/hc/en-us/articles/206873486-Getting-started-with-the-Kifi-Slack-Integeration">Support</a></span>
            <button
                    class="kf-button kf-button-large kf-action-button kf-button-cta-blue kf-ts-integrations-sync"
                    tabindex="0"
                    ng-click="onClickedSyncAllSlackChannels()"
                    ng-bind="'Sync all Slack Channels'"></button>

            <span class="kf-ts-integrations-marketing-text">To integrate 1 library or channel at a time, visit a library and click on the "Add to Slack" button</span>
            <div ng-if="canEditIntegrations" class="kf-ts-integrations-checkrow">
                <input ng-model="slackIntegrationReactionModel.enabled" ng-change="onSlackIntegrationReactionChanged()"  type="checkbox" />
                <span>Show the emoji reaction <strong>:heavy checkmark:</strong> on slack messages after it's been successfully saved into Kifi</span>
            </div>

            <div ng-if="integrations.length" class="kf-container" style="margin-top: 20px">
                <div class="kf-container-header"><span>Integrations</span></div>
                <!--scroll-disabled="billingEvents === null || !hasMore()" scroll-next="fetch()"-->
                <table class="kf-ts-integrations-table" smart-scroll scroll-distance="'100%'">
                    <thead>
                    <tr>
                        <th style="text-align: left">Library & Slack Channel</th>
                        <th>Kifi -> Slack</th>
                        <th>Slack -> Kifi</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="integration in integrations">
                        <td style="text-align: left"><strong>{{integration.library.name}}</strong> <span class="kf-ts-integrations-subtext">(Kifi)</span>  - <strong>{{integration.integration.channelName}}</strong> <span class="kf-ts-integrations-subtext">(Slack)</span></td>
                        <td>
                            <input ng-model="integration.kifiToSlack" ng-change="onKifiToSlackChanged(integration)"  type="checkbox" />
                        </td>
                        <td>
                            <input ng-model="integration.slackToKifi" ng-change="onSlackToKifiChanged(integration)"  type="checkbox" />
                        </td>
                    </tr>
                </table>

            </div>
        </div>

    </div>
</div>
