.kf-ts-integrations
  margin-top: 20px
  width: 100%
  display: flex
  flex-direction: column

  .kf-ts-integrations-desc
    margin-top: 10px
    font-size: 22px
    font-weight: bold
    color: #444

  .kf-ts-integrations-marketing-text
    line-height: 22px
    margin-top: 15px
    color: #777

    .kf-lib-slack-btn-sm
      width: 110px
      position: relative
      display: inline-block

      img
        width: 110px
        position: absolute
        top: -21px

  .kf-ts-integrations-fetch-date
    color: #999
    font-size: 12px
    margin-top: 4px

  .kf-ts-integrations-checkrow
    display: flex
    align-items: center
    margin-top: 15px

    span
      margin-left: 10px
      color: #777

  .kf-ts-integrations-marketing-support
    margin-top: 15px
    color: #777


  .kf-ts-integrations-sync
    margin-top: 5px
    text-align: center

.kf-ts-integrations-row
  margin-top: 8px
  margin-bottom: 8px

.kf-ts-integrations-table
  width: 100%
  border-radius: 5px
  color: textBlackColor

  thead
    th
      vertical-align: top
      text-align: center
      padding-bottom: 15px

  tbody
    tr:nth-child(odd)
      background-color: whitesmoke

    tr:first-child td:first-child
      border-top-left-radius: 7px

    tr:first-child td:last-child
      border-top-right-radius: 7px

    tr:last-child td:first-child
      border-bottom-left-radius: 7px

    tr:last-child td:last-child
      border-bottom-right-radius: 7px

    td
      text-align:center
      vertical-align:middle
      height: 2.0em
      padding: 8px 4px
      font-size: 14px

    td:first-child
      width: 60%
      white-space: pre-wrap


.kf-ts-integrations-checkbox-wrap

  .kf-ts-integrations-checkbox + label
    height: 30px
    width: 30px

.kf-ts-integrations-subtext
  font-size: 11px
  color: #888