<div>
  <div ng-if="!canEditIntegrations" style="text-align: center">
    Sadly, you are not allowed to be on this page, ask a team admin / owner for more information!
  </div>
  <div ng-if="canEditIntegrations">
    <h1 class="kf-heading kf-ts-integrations-header">Slack Integrations</h1>
    <div class="kf-ts-integrations">

      <span>
        Connect with <a href="https://slack.com/" target="_blank">Slack</a> to automatically save links messages or send new keeps to your Slack team.
      </span>

      <div kf-loading-spinner class="kf-loading-spinner-center" hide="integrationsLoaded"></div>

      <div class="kf-container kf-container-toppad" ng-if="integrationsLoaded && !slackTeam">
        <div class="kf-container-header"><h2 id="slack-sync">Connect your team to Slack</h2></div>
        <span class="kf-ts-integrations-marketing-text">Team members will be able to join your team using Slack, share links more easily, and sync Kifi libraries and Slack channels.</span>
        <div class="kf-ts-integrations-sync"><button
          class="kf-button kf-button-large kf-action-button kf-button-cta-blue"
          tabindex="0"
          ng-click="onClickedConnectSlack()">Connect <span ng-bind="profile.name"></span> with Slack</button></div>
      </div>

      <div class="kf-container kf-container-toppad" ng-if="integrationsLoaded && slackTeam && !slackTeam.publicChannelsLastSyncedAt">
        <div class="kf-container-header"><h2 id="slack-sync">Sync channels to Kifi</h2></div>
        <span class="kf-ts-integrations-marketing-text">Automatically keep links messaged in your channels. Kifi will create a library for each public (not private or direct message) Slack Channel.</span>
        <div class="kf-ts-integrations-marketing-text">
          To integrate one library or channel at a time, visit <a ui-sref="orgProfile.libraries">any library</a> and click <br>the
        <span class="kf-lib-slack-btn-sm kf-ts-integrations-slack-btn-img"><img src="/img/add-to-slack.png" title="Add to Slack"></span> button.</div>

        <div class="kf-ts-integrations-sync">
          <div class="kf-ts-integrations-sync-public">
            <button class="kf-button kf-button-large kf-action-button kf-button-cta-blue kf-ts-integrations-sync-public-btn"
              tabindex="0"
              ng-click="onClickedSyncAllSlackChannels('public')">Sync all Slack Public Channels<svg class="kf-ts-integrations-sync-public-svg symbol-sprite" kf-symbol-sprite icon="org"></svg></button>
          </div>
          <div class="kf-ts-integrations-sync-private">
            <button class="kf-button kf-button-large kf-action-button kf-button-cta-red kf-ts-integrations-sync-private-btn" tabindex="0"
              ng-click="onClickedSyncAllSlackChannels('private')">Sync all Slack Private channels<svg class="kf-ts-integrations-sync-private-svg symbol-sprite" kf-symbol-sprite icon="lock"></svg></button>
          </div>
        </div>
      </div>

      <div class="kf-container kf-container-toppad" ng-if="integrationsLoaded && slackTeam && slackTeam.publicChannelsLastSyncedAt">
        <div class="kf-container-header"><h2 id="slack-sync">Fetch channels to sync</h2></div>
        <span class="kf-ts-integrations-marketing-text">
          Refetch your Slack channels to automatically create Kifi libraries.
          You can always connect one channel at a time with  the
          <span class="kf-lib-slack-btn-sm"><img src="/img/add-to-slack.png" title="Add to Slack"></span> button on your libraries.
        </span>
        <div class="kf-ts-integrations-sync">
          <div class="kf-ts-integrations-sync-public">
            <button
              class="kf-button kf-button-large kf-action-button kf-button-cta-blue kf-ts-integrations-sync-public-btn"
              tabindex="0"
              ng-click="onClickedSyncAllSlackChannels('public')">Sync new Slack Public channels<svg class="kf-ts-integrations-sync-public-svg symbol-sprite" kf-symbol-sprite icon="org"></svg></button>
            <div class="kf-ts-integrations-fetch-date">Last fetched:&nbsp;<time am-time-ago="::slackTeam.publicChannelsLastSyncedAt" ng-if="slackTeam.publicChannelsLastSyncedAt"></time><span ng-if="!slackTeam.publicChannelsLastSyncedAt">never</span></div>
          </div>
          <div class="kf-ts-integrations-sync-private">
            <button
              class="kf-button kf-button-large kf-action-button kf-button-cta-red kf-ts-integrations-sync-private-btn"
              tabindex="0"
              ng-click="onClickedSyncAllSlackChannels('private')">Sync new Slack Private channels<svg class="kf-ts-integrations-sync-private-svg symbol-sprite" kf-symbol-sprite icon="lock"></svg></button>
            <div class="kf-ts-integrations-fetch-date">Last fetched:&nbsp;<time am-time-ago="::slackMembership.privateChannelsLastSyncedAt" ng-if="slackMembership.privateChannelsLastSyncedAt"></time><span ng-if="!slackMembership.privateChannelsLastSyncedAt">never</span></div>
          </div>
        </div>
      </div>

      <div class="kf-container kf-container-toppad" ng-if="integrationsLoaded && slackTeam">
        <div class="kf-container-header"><h2 id="slack-settings">Teamwide Slack settings</h2></div>
        <div class="kf-ts-integrations-checkrow">
          <input class="kf-ts-integrations-checkbox" ng-model="slackIntegrationReactionModel.enabled" ng-change="onSlackIntegrationReactionChanged()"  type="checkbox" />
          <span>Show the <img src="/img/robot-face.png"/> emoji on links after they have been successfully saved in Kifi.</span>
        </div>
        <div class="kf-ts-integrations-checkrow">
          <input class="kf-ts-integrations-checkbox" ng-model="slackIntegrationDigestModel.enabled" ng-change="onSlackIntegrationDigestChanged()"  type="checkbox" />
          <span ng-bind="'Receive a welcome message & updates about ' + slackTeam.name + '\'s usage in the #general channel (max 2 times per week)'"></span>
        </div>
        <div class="kf-ts-integrations-checkrow">
          <input class="kf-ts-integrations-checkbox" ng-model="slackCommentMirroringModel.enabled" ng-change="onSlackIntegrationMirroringChanged()"  type="checkbox" />
          <span>Send comments on Keeps to Slack channels.</span>
        </div>
      </div>

      <div class="kf-container kf-container-toppad" ng-if="integrationsLoaded && slackMembership">
        <div class="kf-container-header"><h2>Personal Slack settings<span ng-bind="' for @' + slackMembership.username"></span></h2></div>
        <div class="kf-ts-integrations-checkrow">
          <input class="kf-ts-integrations-checkbox" type="checkbox" ng-model="slackPersonalDigestModel.enabled" ng-change="onPersonalDigestChanged()">
          <span class="kf-ts-integrations-personal-txt">Receive weekly personal stats via Kifi BOT</span>
        </div>
      </div>

      <div class="kf-container kf-container-toppad" ng-if="integrationsLoaded && slackTeam">
        <div class="kf-container-header"><h2 id="blacklist">Link ingestion blacklist</h2></div>
        <span class="kf-ts-integrations-marketing-text">
          Control which domains are pulled into Kifi from Slack. Links matching the patterns below will be ignored.
        </span>
        <table class="kf-ts-integrations-table" ng-if="blacklist.existing.length > 0">
          <thead>
            <tr><th>URL path</th><th>Added at</th><th></th></tr>
          </thead>
          <tr ng-repeat="entry in blacklist.existing | limitTo: blacklist.limit">
            <td ng-bind="::entry.path" class="kf-ts-slack-url"></td>
            <td><time am-time-ago="entry.createdAt" ng-if="entry.createdAt"></time><span ng-if="!entry.createdAt" class="kf-ts-slack-default">default</span></td>
            <td><button class="kf-link" ng-click="removeBlacklistEntry(entry.path)" ng-show="blacklist.editable">×</button></td>
          </tr>
          <tr ng-if="blacklist.existing.length > blacklist.limit"><td colspan="3">
            <button class="kf-button-textonly kf-link" ng-click="expandBlacklist()">Show all <span ng-bind="blacklist.existing.length"></span> blacklisted paths</button>
          </td></tr>
        </table>
        <div ng-if="blacklist.editable">
          <span class="kf-ts-integrations-marketing-text">
            As you change your blacklist, you can delete existing keeps shared via Slack which match the rules defined by the blacklist. <button type="submit" class="kf-button-textonly kf-link" ng-click="backfillBlacklistWarning()" ng-disabled="blacklist.backfillInProg">Delete blacklisted keeps.</button>
          </span>
        </div>

        <div ng-if="blacklist.editable">
          <h3 class="kf-ts-blacklist-header">Blacklist custom URLs</h3>
          <div>
            <form ng-submit="addBlacklistEntry()">
              <input type="text" class="kf-textbox kf-textbox-auto kf-ts-integations-blacklist-input" placeholder="URL path to blacklist" ng-model="blacklist.newPath">
              <button type="submit" class="kf-button kf-button-large kf-button-cta-green">Add to Blacklist</button>
            </form>
          </div>
          <span class="kf-ts-integrations-marketing-text kf-ts-integrations-blacklist-ex">Example: <code>github.com</code>, <code>*.acme-corp.com/internal</code>.</span>
          <div ng-if="blacklist.error" ng-bind="blacklist.error"></div>
        </div>
      </div>

      <div ng-if="integrations.length" class="kf-container kf-container-toppad">
        <div class="kf-container-header"><h2 id="slack-integrations">Library integrations</h2></div>
        <!--scroll-disabled="billingEvents === null || !hasMore()" scroll-next="fetch()"-->
        <table class="kf-ts-integrations-table" smart-scroll scroll-distance="'100%'">
          <thead>
          <tr>
            <th style="text-align: left">Library &amp; Slack Channel</th>
            <th>Kifi → Slack</th>
            <th>Slack → Kifi</th>
          </tr>
          </thead>
          <tr ng-repeat="integration in integrations">
            <td style="text-align: left"><strong><a ng-href="{{integration.library.path}}">{{integration.library.name}}</a></strong> <span class="kf-ts-integrations-subtext">(Kifi)</span>  - <strong>{{integration.integration.channelName}}</strong> <span class="kf-ts-integrations-subtext">(Slack)</span></td>
            <td>
              <input ng-model="integration.kifiToSlack" ng-change="onKifiToSlackChanged(integration)" type="checkbox" ng-disabled="!integration.kifiToSlackMutable" />
            </td>
            <td>
              <input ng-model="integration.slackToKifi" ng-change="onSlackToKifiChanged(integration)" type="checkbox" ng-disabled="!integration.slackToKifiMutable" />
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
