<div class="kf-payment-plan">
  <h1 class="kf-payment-plan-top-header">Payment Plan</h1>
  <div kf-billing-summary billing-state="billingState"></div>
  <div class="kf-container">
    <div class="kf-container-header"><h3>Select your plan</h3></div>
    <div class="kf-row kf-payment-plan-cards">
      <div class="kf-payment-plan-card kf-payment-plan-card-free">
        <div class="kf-payment-plan-card-title">Free</div>
        <div class="kf-payment-plan-card-cost">0</div>
        <div class="kf-payment-plan-card-bottom">
          <p class="kf-payment-plan-card-description"><a class="kf-link kf-link-white kf-link-underline" href="#">Details</a></p>
          <p class="kf-payment-plan-card-current" ng-if="isFreePlanName(plan.name)">Your current plan</p>
          <button
            class="kf-payment-plan-card-cta"
            ng-if="!isFreePlanName(plan.name)"
            ng-bind="isNoPlanName(plan.name) ? 'Choose plan' : 'Downgrade'"
            ng-click="changePlanToFree()"
          ></button>
        </div>
      </div>
      <div class="kf-payment-plan-card kf-payment-plan-card-basic">
        <div class="kf-payment-plan-card-title">Standard</div>
        <div class="kf-payment-plan-card-cost">6.67</div>
        <p class="kf-payment-plan-card-description">per user per month when billed annually</p>
        <p class="kf-payment-plan-card-description">$8 billed monthly</p>
        <div class="kf-payment-plan-card-bottom">
          <p class="kf-payment-plan-card-description"><a class="kf-link kf-link-white kf-link-underline" href="#">Details</a></p>
          <p class="kf-payment-plan-card-current" ng-if="isPaidPlanName(plan.name)">Your current plan</p>
          <button
            class="kf-payment-plan-card-cta"
            ng-if="!isPaidPlanName(plan.name)"
            ng-click="changePlanToStandard()"
            ng-bind="(isFreePlanName(plan.name) ? 'Upgrade now' :
              (isNoPlanName(plan.name) ? 'Choose Plan' : 'Downgrade'))"
          ></button>
        </div>
      </div>
      <div class="kf-payment-plan-card kf-payment-plan-card-enterprise">
        <div class="kf-payment-plan-card-title">Enterprise</div>
        <p class="kf-payment-plan-card-soon">Coming Soon</p>
        <div class="kf-payment-plan-card-bottom">
          <p class="kf-payment-plan-card-description"><a class="kf-link kf-link-white kf-link-underline" href="#">Details</a></p>
          <a class="kf-payment-plan-card-cta kf-link kf-link-white" href="mailto:enterprise@kifi.com">Contact us</a>
        </div>
      </div>
    </div>
    <form class="kf-container-section" name="planSelectsForm">
      <p>Select your team's plan. Get details on the plans we offer on the <a class="kf-link" href="/pricing" target="_self">pricing page</a></p>
      <div class="custom-select kf-button">
        <select
          class="kf-payment-plan-select"
          ng-model="plan.name"
          ng-options="tier.value as tier.label for tier in availableTiers"
        ></select>
      </div>
      <div ng-show="isPaidPlanName(plan.name)">
        <h2 class="kf-heading">Choose your Payment Frequency</h2>
        <p>You're paying for <b ng-bind="profile.numMembers"></b> users. With worry-free billing, we'll automatically charge or credit your account with a change in team members.</p>
        <div class="custom-select kf-button">
          <select
            class="kf-payment-plan-select"
            ng-model="plan.cycle"
            ng-options="cycle.value as cycle.label for cycle in availableCycles"
          ></select>
        </div>
      <h2 class="kf-heading">Manage your Credit Card Information</h2>
      <p>
        <span ng-if="!card">You haven't added a card yet, and you'll need to add a card to upgrade your plan.</span>
        <span ng-if="card">
          Your current card is <b ng-bind="card.brand"></b> ****<b ng-bind="card.lastFour"></b>.
        </span>
      </p>
      <p>If you have credits available, we'll apply those before charging your card.</p>
      <div>
        <button
          class="kf-button kf-button-large"
          ng-class="{
            'kf-button-error': cardError
          }"
          ng-click="openStripeCheckout()"
          ng-bind="(card ? 'Change' : 'Add') + ' credit card'"
        ></button>
        <span class="kf-text-accent kf-payment-plan-card-ready" ng-if="plan.newCard">Your new card is ready to save</span>
      </div>
      <p class="kf-payment-plan-error-text" ng-if="cardError">You must enter a credit card in order to update your plan.</p>
    </div>
  </form>
  <div class="kf-container-section">
    <button
      class="kf-button kf-button-large kf-payment-plan-save"
      ng-click="warningModalOrSave()"
    >Save my plan preferences</button>
  </div>
</div>
