freePlanColor = #5ab7e7
basicPlanColor = #56b362
enterprisePlanColor = #f69256

.kf-payment-plan
  h2
    font-size: 20px

  p
    font-size: 14px

.kf-payment-plan-top-header
  margin-bottom: 10px

.kf-payment-plan-cards
  justify-content: space-around

.kf-payment-plan-card
  box-sizing: border-box
  position: relative
  display: inline-block
  width: 150px
  height: 150px  * (7/5)
  margin: 5px
  padding: 5px 10px
  border-radius: 12px
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, .5)
  color: #fff
  text-align: center
  font-smoothing: antialiased
  transition: transform .33s ease-in-out, box-shadow .33s ease-in-out

  p
    font-size: 12px

  &:hover
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, .33)
    transform: scale(1.05, 1.05)

.kf-payment-plan-card-description
  margin: 0
  font-smoothing: antialiased

  + .kf-payment-plan-card-description
    margin-top: 5px

.kf-payment-plan-card-current
  margin: 11px

.kf-payment-plan-card-title
  heading_lg()
  font-weight: bold

.kf-payment-plan-card-cost
  position: relative
  display: inline-block
  font-size: 36px
  font-weight: bold

  &::first-letter
    font-size: 48px

  &:before
    content: '$'
    position: absolute
    top: 0
    right: 100%
    font-size: 24px

.kf-payment-plan-card-bottom
  position: absolute
  right: 0
  bottom: 0
  left: 0
  margin-bottom: 10px

.kf-payment-plan-card-cta
  margin-top: 8px
  padding: 5px 10px
  background: none
  border: 1px solid #fff
  border-radius: 5px
  color: #fff
  font-size: 14px
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .15)
  transition: box-shadow .33s
  font-smoothing: antialiased

  &:hover
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, .15)
    text-decoration: underline

  &:active
    transition: none
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .15)

  &.ng-leave
    transition: none


.kf-payment-plan-card-soon
  width: 100%
  margin: 0 -10px
  padding: 18px 10px
  background-color: rgba(255, 255, 255, .25)
  font-size: 18px

.kf-payment-plan-card-free
  background-color: freePlanColor

.kf-payment-plan-card-basic
  background-color: basicPlanColor

.kf-payment-plan-card-enterprise
  background-color: enterprisePlanColor

.kf-payment-plan-select
  width: 100%
  padding: 10px

.kf-payment-plan-card-ready
  margin-left: 5px

.kf-button.kf-button-large.kf-payment-plan-save
  display: block
  margin: 0 auto
  background: linear-gradient(linkBlueColor, darken(linkBlueColor, 20%))
  color: #fff

  transition: opacity .5s

  &:hover:not(:active)
    background: linear-gradient(linkBlueColor, darken(linkBlueColor, 20%))

  &:active
    background: darken(linkBlueColor, 20%)

.kf-payment-plan-save-wrapper
  border-top: 1px solid #ccc
  padding-top: 15px
  margin-top: 17px
