.kf-redeem-credits-form
  display: inline-block

.kf-redeem-credits-confirm-txt
.kf-redeem-credits-error-txt
  margin-left: 20px

.kf-redeem-credits-confirm-txt
  color: libraryGreen

  &.ng-enter
    transition: all .3s
    transform: translate(150px, 0)
    opacity: 0

  &.ng-enter-active
    margin-right: 110px
    opacity: 1
    transform: translate(0px, 0)

.kf-redeem-credits-error-txt
  color: errorRed
