

.kf-slack-confirm-ext-btn
  display: block
  margin: 0 auto

.kf-slack-confirm-team-link-wrapper
  max-width: 80%
  margin: 0 auto
  display: block
  position: relative

  input
    text-align: center

  .kf-slack-confirm-copied
    top: 13px
    right: -56px
    color: #0aa
    font-size: 14px
    position: absolute
