<div id="team-email-mapping" class="kf-team-email-mapping">
  <button ng-disabled="!enabled" class="kf-button-textonly kf-link-parent kf-team-email-mapping-toggle" ng-click="toggleOpen()">
    <span class="kf-team-email-mapping-toggle-sign">
      <span ng-if="!open">+</span>
      <span ng-if="open">-</span>
    </span>
    <span
      class="kf-link"
      ng-pluralize
      count="emailDomains.length"
      when="{
        '0': 'Add email domains',
        '1': '1 enabled domain (edit)',
        'other': '{} enabled domains (edit)'
      }"
    ></span>
  </button>
  <div ng-show="open">
    <p class="kf-team-settings-desc">
      Add company email domains that will enable your coworkers to automatically join this team.
      When a user verifies their email address with Kifi, they will automatically be added to the team.
    </p>
    <h3>Enabled email domains</h3>
    <div class="kf-team-email-mapping-domains">
      <ul ng-if="emailDomains.length > 0">
        <li class="kf-flex-row kf-team-email-mapping-domain kf-link-parent" ng-repeat="domain in emailDomains" ng-click="removeOrgDomain(domain, $index)">
          <span class="kf-team-email-mapping-check svg-checkmark-green"></span>
          <span class="kf-link" ng-bind="domain"></span>
        </li>
      </ul>
      <p class="kf-team-settings-desc" ng-if="emailDomains.length === 0">Your team owns no domains</p>
    </div>
    <h3>Your email domains</h3>
    <div class="kf-team-email-mapping-addresses">
      <ul ng-if="getClaimableEmails(me.emails).length > 0">
        <li
          class="kf-flex-row kf-team-email-mapping-address"
          ng-repeat="email in getClaimableEmails(me.emails)"
        >
          <div class="kf-flex-row kf-link-parent" ng-click="email.isVerified ? addOrgDomain(email, $index) : addUnverifiedOrgDomain(email, $index)">
            <span class="kf-team-email-mapping-check svg-checkmark-green"></span>
            <button class="kf-link kf-link-black" ng-bind="email.address"></button>
            <span ng-if="!email.isVerified">(unverified, click to verify &amp; enable)</span>
          </div>
        </li>
      </ul>
      <p class="kf-team-settings-desc" ng-if="getClaimableEmails(me.emails).length === 0">You have no domains for your team to own</p>
    </div>
    <div class="kf-flex-row kf-team-email-mapping-new">
      <input class="kf-textbox kf-textbox-auto" ng-model="model.email" placeholder="name@company.com"/>
      <button class="kf-button kf-button-large kf-button-cta-green" ng-click="addEmailAccount(model.email)">New address</button>
    </div>
    <p class="kf-team-email-mapping-verify" ng-if="verificationMessage" ng-bind="verificationMessage"></p>
  </div>
</div>
