
h2.kf-team-settings-heading
  heading_lg()

h3.kf-team-settings-heading
  font-size: 16px

.kf-credit-banner + .kf-team-settings-fields
  margin-top: 15px

.kf-team-settings-desc
  margin: 10px 0 20px
  font-size: 14px
  color: #666

.kf-team-settings-select
  width: 100%
