.kf-team-settings-field
  margin-top: 20px

.kf-team-settings-top-header
  margin: 10px 0

h2.kf-team-settings-heading
  heading_lg()
  margin-top: 15px

  // Don't have two margins
  + .kf-team-settings-field
    margin-top: 0

h3.kf-team-settings-heading
  font-size: 16px

.kf-credit-banner + .kf-team-settings-fields
  margin-top: 15px

.kf-team-settings-desc
  margin: 10px 0 5px
  font-size: 14px
  color: #666

.kf-team-settings-select
  width: 100%
