@(socialUserInfo: SocialUserInfo, socialOnly: Boolean = false)

@networkLogo = {
  <img src="/assets/securesocial/images/providers/@{socialUserInfo.networkType}.png"
    alt="@{socialUserInfo.networkType}" width="20" height="20">
}

<span style="margin:2px">
@if(socialUserInfo.userId.isDefined && !socialOnly) {
  <a data-hover="tooltip" title="@socialUserInfo.fullName"
     class="name_tooltip_link" href="@com.keepit.controllers.admin.routes.AdminUserController.userView(socialUserInfo.userId.get)">
    @for(creds <- socialUserInfo.credentials; img <- creds.avatarUrl) {
      <img class="user-avatar" src="@img"/>
    }<b>@socialUserInfo.fullName</b> @networkLogo
  </a>
} else {
  <a data-hover="tooltip" title="@socialUserInfo.fullName"
     class="name_tooltip_link" href="@com.keepit.controllers.admin.routes.AdminSocialUserController.socialUserView(socialUserInfo.id.get)">
    @for(creds <- socialUserInfo.credentials; img <- creds.avatarUrl) {
      <img class="user-avatar" src="@img"/>
    } @socialUserInfo.fullName @networkLogo
  </a>
}
</span>
