@(socialUserInfo: SocialUserInfo, socialOnly: Boolean = false)

<span style="margin:2px">
@if(socialUserInfo.userId.isDefined && !socialOnly) {
  <a data-hover="tooltip" title="@socialUserInfo.fullName"
     class="name_tooltip_link" href="@com.keepit.controllers.admin.routes.AdminUserController.userView(socialUserInfo.userId.get)">
    @for(creds <- socialUserInfo.credentials; img <- creds.avatarUrl) {
      <img class="user-avatar" src="@img"/>
    }<b>@socialUserInfo.fullName</b>
  </a>
} else {
  <a data-hover="tooltip" title="@socialUserInfo.fullName"
     class="name_tooltip_link" href="@com.keepit.controllers.admin.routes.AdminSocialUserController.socialUserView(socialUserInfo.id.get)">
    @for(creds <- socialUserInfo.credentials; img <- creds.avatarUrl) {
      <img class="user-avatar" src="@img"/>
    } @socialUserInfo.fullName
  </a>
}
</span>
