html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}


/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

body {
font:1em/1.625em "PT Serif","lucida grande","lucida sans unicode", sans-serif; background-color:#F0F0ED;
font-size-adjust:none;
font-style:normal;
font-variant:normal;
font-weight:normal;
width: 36em;
margin: 1em auto;
}

p { padding:0 0 1em 0; color:#111; font-weight:300; display: inline-block;}

p img       { float: left; margin: 0.5em 0.8125em 0.8125em 0; padding: 0; }
p img.right { float: right; margin: 0.5em  0 0.8125em 0.8125em }


h1,h2{ line-height: 1.3em; font-weight:normal; color: #333; font-family:"PT Serif",Georgia, serif;  }
h3,h4,h5,h6 { font-weight: normal; color: #333; font-family:"PT Serif",Georgia, serif; }


h1 { font-size: 2.0em; margin-bottom: 0.5em; margin-top: 0.5em; }
h2 { font-size: 1.9em;  margin-bottom: 0.7em; }
h3 { font-size: 1.7em;  margin-bottom: 0.8em; }
h4 { font-size: 1.4em;  margin-bottom: 1em; }
h5,h6 { font-size: 1.313em;  margin-bottom: 1.1em; }



ul{list-style-position:outside;}
li ul,
li ol  { margin:0 1.625em;  }
ul, ol { margin: 0 0 1.625em 0; }


dl { margin: 0 0 1.625em 0; }
dl dt { font-weight: bold; }
dl dd { margin-left: 1.625em; }

a { color:#005AF2; text-decoration:none; }
a:hover { text-decoration: underline; }


table { margin-bottom:1.625em; border-collapse: collapse; }
th { font-weight:bold; }
tr,th,td { margin:0; padding:0 1.625em 0 1em; height:26px; }
tfoot { font-style: italic; }
caption { text-align:center; font-family:Georgia, serif; }


abbr, acronym { border-bottom:1px dotted #000; }
address {

}
del {color:#000;}


blockquote { padding:1em 1em 1.625em 1em; font-family:georgia,serif;font-style: italic;  }
blockquote:before { content:"\201C";font-size:3em;margin-left:-.625em; font-family:georgia,serif;color:#aaa;line-height:0;}/* From Tripoli  */
blockquote > p {padding:0; margin:0; }

strong { font-weight: bold; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
pre, code { margin: 1.625em 0; white-space: pre; }
pre, code, tt { font: 1em monospace; line-height: 1.5; }
tt { display: block; margin: 1.625em 0; }
hr {
margin:1.625em;
border: 0;
height: 1px;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}



.oldbook { font-family:"Warnock Pro","Goudy Old Style","Book Antiqua","Palatino",Georgia,serif; }
.note { font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; font-size:0.9em; margin:0.1em; color:#333; }
.mono { font-family:"Courier New", Courier, monospace; }


footer {
font-size: .8em;
line-height: 1.2em;
color:#666;
}
footer a {
color: #66C;
}

img {
max-width: 75%;
margin: 1em;
}

hr.fin {
border-top: 1px solid #8c8b8b;
text-align: center;
}
hr.fin:after {
content: '§';
display: inline-block;
position: relative;
top: -14px;
padding: 0 10px;
background: #f0f0f0;
color: #8c8b8b;
font-size: 18px;
-webkit-transform: rotate(60deg);
-moz-transform: rotate(60deg);
transform: rotate(60deg);
}

iframe.embedly-embed {
  width: 36em;
  height: 21em;
}

