.kf-logged-in .kf-scrollable-pane
  width: calc(100% - 270px)
  min-height: 100%
  padding-left: 270px
  background-color: appBackgroundColor

@media only screen and (max-width: 1024px)
  .kf-scrollable-pane.kf-scrollable-pane
    width: 100%
    padding-left: 270px
    -webkit-transition: padding-left sidebarTransitionDuration;
    transition: padding-left sidebarTransitionDuration;

  .kf-sidebar-inactive .kf-scrollable-pane
      padding-left: 0px
