@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(359deg)

@keyframes pulse-spin
  50%
    transform: scale(.8) rotate(180deg)
  100%
    transform: scale(1) rotate(360deg)
