.kf-button
  padding: 4px defaultPadding
  border-radius: 5px
  background: #f3f3f3 linear-gradient(#fff, alpha(#fff, 0))
  border: 1px solid #bbb
  color: #666
  height: auto
  line-height: normal
  appearance: none
  font-size: 13px

  &:not([disabled]):not(.disabled)
    &:hover
      background: #f3f3f3

    &:active
      background: darken(#f3f3f3, 5%)

  &.disabled,
  &[disabled]
    color: #fff
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3)
    background: #ddd linear-gradient(alpha(#fff, 0), alpha(#fff, .5))
    cursor: no-drop
    opacity: .5

  span
  .symbol-sprite
    display: inline-block
    vertical-align: middle
    line-height: 1.6rem

  .symbol-sprite
    width: 25px
    height: 25px
    fill: #666

.kf-button-small
  padding: 2px 9px

.kf-button-large
  padding: 8px (defaultPadding*1.5)
  font-size: 0.9rem

.kf-button-dialog
  border: 2px solid textLightGrey
  background: lightGray
  font-size: 12px
  line-height: 12px
  font-weight: bold

.kf-button-textonly
  background: 0
  border: 0
  padding: 0
  margin: 0
