.kf-button
  padding: 3px defaultPadding
  border-radius: 10px
  background: white

.kf-button-dialog
  border: 2px solid textLightGrey
  background: lightGray
  font-size: 12px
  line-height: 12px
  font-weight: bold
