.kf-container
  border: defaultBorder
  padding: defaultPadding
  border-radius: defaultBorderRadius
  background: white

.kf-container + .kf-container
  margin-top: 15px

.kf-container-header
.kf-container-footer
  margin: -(defaultPadding)
  padding: (defaultPadding/2) defaultPadding
  display: flex
  justify-content: space-between
  align-items: center

.kf-container-header
  border-top-left-radius: defaultBorderRadius
  border-top-right-radius: defaultBorderRadius
  border-bottom: 1px solid textLightGrey
  margin-bottom: defaultPadding

  h1,h2,h3,h4,h5,h6,span
    heading_rg()
    margin-bottom: 0
    color: textGreyColor
    font-weight: bold
    font-smoothing: antialiased

.kf-container-header-right // Right-aligned alternative
  justify-content: flex-end

.kf-container-main
  margin: -(defaultPadding)
  padding: defaultPadding

.kf-container-section
  margin-top: defaultPadding
  padding-top: defaultPadding
  border-top: 1px solid textLightGrey

  > :first-child
    margin-top: 0

.kf-container-footer
  margin-top: defaultPadding
  border-bottom-left-radius: defaultBorderRadius
  border-bottom-right-radius: defaultBorderRadius
  background: lightGray

.kf-container-menu
  li
    display: inline-block
    vertical-align: middle

    + li
      margin-left: 10px
