.kf-row
  row()

.kf-row-responsive
  flex-direction: column

  @media (min-width: 480px)
    flex-direction: row

.kf-main-pane
  column(8)

.kf-triptych
.kf-side-pane
  column(4)

.kf-full-pane
  column(12)

.kf-wrapper
  wrapper()

.kf-split-pane
  column(6)
