.kf-link
  display: inline-block
  padding: 0
  border: 0
  background: 0
  cursor: pointer

.kf-link-parent:hover .kf-link
.kf-link:hover
.kf-link-underline
  text-decoration: underline

.kf-link-parent:hover:not(:active)
.kf-link-underline:hover:not(:active)
  text-decoration: none

.kf-link-parent:hover:not(:active) .kf-link
.kf-link:hover:not(:active)
  color: darken(accentGreen, 20%)

kf-link-color(linkColor)
  color: linkColor

  .kf-link-parent:hover:not(:active) &
  &:hover:not(:active)
    color: lighten(linkColor, 20%)

// regular
.kf-link
  kf-link-color(accentGreen)

.kf-link-white
  kf-link-color(#fff)

.kf-link-black
  kf-link-color(textSoftBlackColor)
