.kf-link
  display: inline-block
  padding: 0
  border: 0
  color: accentGreen
  background: 0

.kf-link-parent:hover .kf-link
.kf-link:hover
.kf-link-underline
  text-decoration: underline

.kf-link-parent:hover:not(:active) .kf-link
.kf-link:hover:not(:active)
  color: lighten(accentGreen, 20%)
