// weird, but increases specificity over input[type="text"] reset
.kf-textbox.kf-textbox
  display: inline-block
  box-sizing: border-box
  border: 1px solid #c7c7c7
  border-radius: 5px
  padding: 10px 15px
  width: 100%
  color: textBlackColor
  vertical-align: top
  margin-bottom: 5px
  placeholder secondaryTextGray

  &:focus
    border: 1px solid blueColor

.kf-textbox-static
  resize: none
