<div class="dialog-content">
  <a class="dialog-x" ng-click="resetAndHide()"></a>
  <div class="dialog-body-wrap">
    <h1 class="dialog-header">Add a keep</h1>

    <div class="dialog-body dialog-centered">
      <div class="kf-add-keep-body">
        <div class="kf-add-keep-error" ng-show="state.invalidUrl">Please enter a valid URL</div>
        <input class="kf-add-keep-input" placeholder="http://..." ng-model="state.input" ng-focus="resetFocusState()"></input>

        <!-- TODO(yiping): Use button instead of div. Styles have been cleaned up but we need a way to not trigger the form submission. -->
        <!-- TODO(yiping): DRY this up. It's being used elsewhere too. -->
        <div class="add-keep-to-library-dropdown"
          kf-keep-to-library-widget widget-action-text="Add keep" library-select-action="onLibrarySelected(selectedLibrary)"
          lib-select-down-offset="0" lib-select-max-up-offset="110" lib-select-left-offset="0">
          <span ng-switch="selectedLibrary.kind" class="keep-to-library-lib-icon-container">
            <span ng-switch-when="system_main" class="keep-to-library-lib-icon svg-main-library-icon"></span>
            <span ng-switch-when="system_secret" class="keep-to-library-lib-icon svg-secret-library-icon"></span>
            <span ng-switch-default ng-switch="selectedLibrary.visibility">
              <span ng-switch-when="published" class="keep-to-library-lib-icon svg-public-library-icon"></span>
              <span ng-switch-when="secret" class="keep-to-library-lib-icon svg-private-library-icon"></span>

              <!-- TODO: remove this when we've converted all discoverable libraries to public libraries in the db. -->
              <span ng-switch-when="discoverable" class="keep-to-library-lib-icon svg-yellow-card-with-globe"></span>
            </span>
          </span>
          {{selectedLibrary.name}}
          <span class="add-keep-to-library-dropdown-arrow"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="dialog-buttons">
    <button class="kf-action-button" ng-click="keepToLibrary()" tabindex="0">&#10084; Keep it</button>
  </div>
</div>
