<div class="dialog-content">
  <a class="dialog-x" ng-click="resetAndHide()"></a>
  <div class="dialog-body-wrap">
    <h1 class="dialog-header">Add a keep</h1>

    <div class="dialog-body dialog-centered">
      <div class="kf-add-keep-body">
        <div class="kf-add-keep-error" ng-show="state.invalidUrl">Please enter a valid URL</div>
        <input class="kf-add-keep-input" placeholder="http://..." ng-model="state.input" ng-focus="resetFocusState()"></input>

        <!-- TODO(yiping): Use button instead of div. Styles have been cleaned up but we need a way to not trigger the form submission. -->
        <!-- TODO(yiping): DRY this up. It's being used elsewhere too. -->
        <div class="add-keep-to-library-dropdown"
          kf-keep-to-library-widget widget-action-text="Add keep" library-select-action="onLibrarySelected(selectedLibrary)"
          lib-select-down-offset="0" lib-select-max-up-offset="110" lib-select-left-offset="0">
          <span ng-switch="selectedLibrary.kind" class="keep-to-library-lib-icon-container">
            <div class="kf-klw-library-card" ng-style="{'background-color': selectedLibrary.color}">
              <div ng-if="selectedLibrary.kind === 'system_main'" class="kf-klw-star-icon svg-card-star"></div>
              <div ng-if="selectedLibrary.visibility === 'secret'" class="kf-klw-lock-icon svg-card-lock"></div>
            </div>
          </span>
          {{selectedLibrary.name}}
          <span class="add-keep-to-library-dropdown-arrow"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="dialog-buttons">
    <button class="kf-action-button kf-ak-button" ng-class="{'kept-public': keptPublic, 'kept-private': keptPrivate, 'in-animation': inAnimation}"
      ng-click="keepToLibrary()" ng-disabled="keptPublic || keptPrivate" tabindex="0">
      <span class="kf-ak-button-text">&#10084;&nbsp;&nbsp;</span>
    </button>
  </div>
</div>
