.keep-to-library-create-header
  position: relative
  box-sizing: border-box
  padding: 17px 25px 15px 46px
  font-weight: 600
  background-color: #fff
  white-space: nowrap
  overflow: hidden
  cursor: pointer

.keep-to-library-back-arrow
  position: absolute
  top: 13px
  left: 15px
  border-radius: 100%
  width: 20px
  height: 20px
  background-color: #c8ced7
  cursor: pointer

  &:hover
  &:focus
    background-color: #bbc1ca

  &:active
    background-color: #afb5be

  &::before
  &::after
    content: ' '
    position: absolute;
    left: 47%
    border-radius: 2px
    width: 2px;
    background: #fff
    font-size: 0

  &::before
    top: 4px
    bottom: 8px
    transform: translate(-1px) rotate(45deg)

  &::after
    top: 8px
    bottom: 4px
    transform: translate(-1px) rotate(-45deg)

.keep-to-library-create-heading
  box-sizing: border-box
  padding: 8px 15px
  font-weight: 600
  background-color: #f3f5f7

.keep-to-library-create-name-input-container
  position: relative
  box-sizing: border-box
  padding: 20px 16px 20px 15px
  font-weight: 600
  background-color: #fff
  white-space: nowrap

input.keep-to-library-create-name-input
  border: none
  width: 302px
  font-size: 12px
  placeholder secondaryTextGray

.keep-to-library-create-name-error
  pop-over 40px 18px redColor
  font-size: 11px
  font-weight: 500

.keep-to-library-create-org-selector
  padding-left: 15px
  padding-right: 15px

  .org-selector-org
    height: 40px

    h1
      font-size: 12px

.keep-to-library-create-visibility
  width: 100%
  text-align: center

  .kf-library-visibility-selector .kf-row
    margin: 10px auto
    width: 100%
    max-width: 230px

.keep-to-library-create-visibility-switch
.keep-to-library-create-visibility-explanation
  display: inline-block
  vertical-align: middle
  font-size: 12px
  color: textGreyColor

.kf-library-visibility-selector-checkbox
  margin-bottom: 15px

.keep-to-library-create-general-error
  padding: 10px
  background-color: redColor
  color: #fff
  text-align: center

.keep-to-library-create-button-container
  padding: 10px
  background-color: #f3f5f7
  text-align: center
