.kf-edit-keep-title-body
  text-align: left
  padding: 5px

.kf-edit-keep-title-input
  width: 328px
  margin: 10px 15px
  border: 2px solid #e7eaee
  border-radius: 6px
  font-size: 12px
  padding: 12px
  box-sizing: border-box