<div kf-modal show="data.showImportModal" kf-width="620px" class="import-modal">
  <div kf-basic-modal-content centered="true" title="Import your browser bookmarks as keeps" single-action="false" cancel="cancelImport()">
    <img src="/img/bookmark-to-kifi@2x.png" class="import-star-to-kifi">
    <div class="dialog-text">
      Get pages you bookmarked in your browser into your personal Kifi library. Public imports mean that your keeps can be discovered by friends, but will never automatically be displayed as a list anywhere.
    </div>
    <div class="dialog-buttons">
      <button ng-click="importBookmarks()"><span class="sprite sprite-white-lock-private"></span>Import Privately</button>
      <button ng-click="importBookmarks(true)">Import Publicly</button>
    </div>
  </div>
</div>
<div kf-modal show="data.showImportModal2" kf-width="540px" class="import-modal">
  <div kf-basic-modal-content centered="true" title="Importing your bookmarks to Kifi" action-text="Awesome">
    <img src="/img/bookmark-to-kifi@2x.png" class="import-star-to-kifi">
    <p>This might take a few minutes (especially if you have a lot of bookmarks). Feel free to browse around — we’re syncing in the background.</p>
  </div>
</div>
<div kf-modal show="data.showImportError" kf-width="540px" class="import-modal">
  <div kf-basic-modal-content title="Whoops! We're having a problem." action-text="Done">
    <p>We're having trouble importing your bookmarks because it seems that you aren't running an up-to-date Kifi extension.</p>
    <p>If you think this is an error, <a href="http://support.kifi.com/customer/portal/emails/new">contact support</a> and we'll sort things out. Thanks!</p>
  </div>
</div>
