<div class="kf-keep" ng-hide="keep.unkept && !keep.isProtected && keep.itemType !== 'reco'" ng-class="{'editing': selectable}">
  <div class="kf-keep-edit-tools">
    <div class="kf-keep-checkbox-icon sprite sprite-checkbox-icon" ng-if="!isSelected({keep: keep})" ng-click="toggleSelect({keep: keep})"></div>
    <div class="kf-keep-checkbox-icon sprite sprite-checkbox-icon-active" ng-if="isSelected({keep: keep})" ng-click="toggleSelect({keep: keep})"></div>
  </div>

  <div class="kf-keep-body">
    <div class="kf-keep-contents">
      <div class="kf-keep-title">
        <a class="kf-keep-title-link" ng-href="{{keep.url}}" target="_blank" ng-attr-title="{{keep.titleAttr}}" ng-bind-html="keep.titleHtml" ng-click="clickCallback({ 'keep': keep, event: $event })" rel="nofollow" click-action="clickedArticleTitle"></a>
      </div>
      <div class="kf-keep-subtitle">
        <span class="kf-keep-url" ng-attr-title="{{keep.url}}" ng-bind-html="keep.descHtml"></span>
        <span class="kf-keep-twitter-attr" ng-if="keep.sourceAttribution.twitter.screenName">
          <a ng-click="trackTweet()" href="https://www.twitter.com/{{keep.sourceAttribution.twitter.screenName}}/status/{{keep.sourceAttribution.twitter.idString}}" target="_blank">
            <span class="kf-keep-twitter-logo svg-twitter-blue"></span>@{{keep.sourceAttribution.twitter.screenName}}
          </a>
        </span>
        <span class="kf-keep-time" ng-show="keep.createdAt">kept&nbsp;<time ng-attr-datetime="{{keep.createdAt}}" am-time-ago="keep.createdAt"></time></span>
        <span class="kf-keep-length" ng-show="keep.summary.wordCount && keep.readTime && cardType !== 'youtube'"><span class="sprite sprite-small-clock"></span>{{keep.readTime}} read</span>
      </div>

      <!-- Description only or Description + Small Image-->
      <div class="kf-keep-content-line">
        <div class="kf-keep-small-image" ng-if="showSmallImage(keep)">
          <a ng-href="{{keep.url}}" target="_blank" rel="nofollow">
            <img class="kf-keep-image" ng-src="{{keep.summary.imageUrl}}" ng-click="clickCallback({ 'keep': keep, event: $event })" click-action="clickedArticleImage" alt="{{keep.titleAttr}}">
          </a>
        </div>

        <div class="kf-keep-info-wrap" ng-if="cardType=='small'">
          <div kf-ellipsis full-text="keep.summary.description" max-num-lines="linesToShow" class="kf-keep-description"></div>
        </div>
      </div>

      <!-- Large Image or Special Card -->
      <a ng-href="{{keep.url}}" target="_blank" rel="nofollow"><img class="kf-keep-big-image" ng-if="showBigImage(keep)" ng-src="{{keep.summary.imageUrl}}" ng-click="clickCallback({ 'keep': keep, event: $event })" click-action="clickedArticleImage"></a>

      <div ng-if="cardType=='youtube'" class="kf-keep-youtube-content">
        <div ng-click="clickCallback({keep: keep, event: $event})"><div kf-youtube video-id=youtubeId></div></div>
        <div kf-ellipsis full-text="keep.summary.description" max-num-lines=3 class="kf-keep-description"></div>
      </div>
    </div>

    <div class="kf-keep-who" ng-if="keep.keepersTotal || keep.keepers.length">
      <span class="kf-keep-who-text" ng-if="keep.keepersTotal" ng-pluralize count="keep.keepersTotal" when="{'one': 'Kept 1 time', 'other': 'Kept {} times'}"></span>
      <span class="kf-keep-who-pic-box" ng-if="!keeper.hidden" ng-repeat="keeper in keep.keepers | limitTo:9" kf-user-tooltip ng-mouseenter="showTooltip()" ng-mouseleave="hideTooltip()" ng-click="hideTooltip()">
        <a class="kf-keep-who-pic" ng-attr-style="background-image:url({{keeper|pic:100}})" href="{{keeper|profileUrl}}" kf-track-origin="{{currentPageOrigin}}/alsoKeptBy"></a>
      </span>
    </div>

    <div kf-tag-list get-selected-keeps="getSingleSelectedKeep(keep)" adding-tag="addingTag" is-shown="showTags(keep)" ng-show="showTags(keep)" keep="keep" read-only-mode="!isTaggable(keep)" user-logged-in="userLoggedIn" library="library"></div>
  </div>

  <div class="kf-keep-footer kf-keep-footer-buttons-wrapper clearfix" ng-if="userLoggedIn">
    <span kf-keep-master-button keep="keep" ng-if="keep" library="library" libraries="libraries"></span>
    <span kf-keep-share-button keep="keep" show-install-extension-modal="showInstallExtensionModal()" ng-if="keep"></span>
    <span kf-keep-tag-button keep="keep" ng-show="isTaggable(keep) && !hasTag(keep)" show-add-tag="showAddTag()"></span>
  </div>
</div>
