<li class="kf-keep" ng-click="clickAction({keep: keep, event: $event})"
  ng-hide="keep.unkept"
  ui-draggable="true" drag-channel="keepDragChannel" ui-on-drop="onTagDrop($data)" drop-channel="tagDragChannel" drag-enter-class="kf-candidate-drag-target"
  ng-class="{ 'kf-dragged': isDragging, 'kf-drag-target': isDragTarget }">
  <time class="kf-keep-time" ng-attr-datetime="{{keep.createdAt}}" ng-show="keep.createdAt" am-time-ago="keep.createdAt"></time>
  <div class="kf-keep-handle">
    <div class="kf-keep-checkbox" ng-click="onCheck($event)"></div>
  </div>
  <div class="kf-keep-title">
    <span class="kf-example-tag">Example keep</span>
    <a class="kf-keep-title-link" ng-href="{{keep.url}}" target="_blank" ng-attr-title="{{getTitle()}}" ng-bind-html="keep.titleHtml">
    </a>
  </div>
  <div class="kf-keep-url" ng-attr-title="{{keep.url}}" ng-bind-html="keep.descHtml"></div>
  <div class="kf-keep-tags">
    <ul class="page-coll-list">
      <li class="kf-keep-tag" data-id="{{tag.id}}" ng-repeat="tag in keep.tagList">
        <a class="kf-keep-tag-link" href="/tag/{{tag.id}}">{{tag.name}}</a>
        <a class="page-coll-x" href="javascript:" ng-click="removeTagFromSelectedKeeps(tag)">×</a>
      </li>
    </ul>
  </div>
  <div class="kf-keep-who">
    <span kf-keep-who-pics me="me" keepers="keep.keepers" keep="keep"></span>
    <span class="kf-keep-who-others" ng-if="showOthers()"></span>
    <span kf-keep-who-text keep="keep"></span>
  </div>
  <div class="kf-drag-mask"></div>
</li>
