<div class="kf-keep-card-activity-attribution">
  <div class="kf-keep-card-activity-attribution-wrapper"
       ng-if="keep.activity.latestEvent">
    <a class="kf-keep-card-attribution-keeper-pic"
      ng-href="{{::keep.activity.latestEvent.author.url|pathFromUrl}}"
      ng-style="{ 'background-image' : 'url(' + (keep.activity.latestEvent.author.picture) + ')' }"></a>
    <div class="kf-keep-card-activity-attribution-message">
      <span kf-structured-text segments="keep.activity.latestEvent.header"></span>
      <span ng-if="::keep.activity.latestEvent.timestamp" class="kf-keep-card-activity-attribution-time">·
        <a class="kf-keep-card-activity-attribution-page-link" ng-if="showKeepPageLink" ng-href="{{::keep.path}}">
          <time ng-attr-datetime="{{::keep.activity.latestEvent.timestamp}}" am-time-ago="::keep.activity.latestEvent.timestamp"
            title="{{::keep.activity.latestEvent.timestamp|localTime}}"></time>
        </a>
        <span ng-if="!showKeepPageLink"><time ng-attr-datetime="{{::keep.activity.latestEvent.timestamp}}" am-time-ago="::keep.activity.latestEvent.timestamp"
            title="{{::keep.activity.latestEvent.timestamp|localTime}}"></time></span>
        <a ng-class="{
            'kf-keep-card-activity-attribution-page-link': keep.activity.latestEvent.source.url
           }"
           ng-if="::keep.activity.latestEvent.source.kind"
           ng-href="{{::keep.activity.latestEvent.source.url}}"
           ng-bind-template=" via {{::keep.activity.latestEvent.source.kind}}"></a>
      </span>
    </div>
  </div>
  <div class="kf-keep-card-activity-attribution-wrapper"
       ng-if="!keep.activity.latestEvent && lastComment">
    <a class="kf-keep-card-attribution-keeper-pic"
      ng-href="{{::lastComment.sentBy|profileUrl}}"
      ng-style="{ 'background-image' : 'url(' + (lastComment.sentBy|pic:100) + ')' }"></a>
    <div class="kf-keep-card-activity-attribution-message">
      <!--This is wrapped in a span to make sure there is a space after the name in safari :(-->
      <span><a class="kf-link"
        ng-href="{{::lastComment.sentBy|profileUrl}}"
        ng-bind="::lastComment.sentBy|name"/>
      </a></span>
      commented on this
      <span ng-if="::lastComment.sentAt">·
        <a class="kf-keep-card-attribution-page-link kf-link" ng-if="showKeepPageLink" ng-href="{{::keep.path}}">
          <time ng-attr-datetime="{{::lastComment.sentAt}}" am-time-ago="::lastComment.sentAt"
            title="{{::lastComment.sentAt|localTime}}"></time>
        </a>
        <span ng-if="!showKeepPageLink"><time ng-attr-datetime="{{::lastComment.sentAt}}" am-time-ago="::lastComment.sentAt"
            title="{{::lastComment.sentAt|localTime}}"></time></span>
      </span>
    </div>
  </div>
  <div kf-keep-card-attribution
       keep="keep"
       show-library-attribution="false"
       is-first-item="::isFirstItem"
       title-only="false"
       short-message="true"
       ng-if="!keep.activity.latestEvent && !lastComment"></div>
</div>
