keepBorderRadius = 8px // from keeps.styl
keepRectBorderRadius = 4px // inner "page" box
keepFooterMarginTop = 16px
eeeOverlay = rgba(0,0,0,.065)  // makes #eee over white
defaultBorderColorOverlay = rgba(0,0,60,.141)  // makes #dadae2 (defaultBorderColor) over white
defaultBorderColorOverEee = rgba(0,0,100,.08)  // makes #dadae2 (defaultBorderColor) over #eee
maxWidthForNarrowKeep = 559px // see derivation in keeps.styl
minWidthForBoxed = maxWidthForNarrowKeep + 1px

.kf-keep-card-participant-pic
  width: 20px
  height: 20px
  border-radius: 50%
  display: inline-block
  background: #3e495533
  flex-shrink: 0
  background-size: cover
  position: relative

.kf-keep-card-participants-more
  color: #333
  font-size: 13px
  cursor: pointer
  position: relative

.kf-keep-card-add-btn
  display: inline-block
  position: relative
  background-color: transparent
  border: none
  padding: 0px
  width: 32px
  height: 32px
  transform: scale(.66)
  right: 5px

  &:hover
    opacity: .7

.kf-keep-card-actions
  align-items: center

.kf-keep-card-participants-more:hover
  .kf-keep-card-participants-more-tooltip
    display: block
    position: absolute

.kf-keep-card-participants-more-tooltip
  display: none
  left: calc(50% - 70px)
  top: 25px
  width: 140px
  text-align: left
  padding: 10px
  color: black

.kf-keep-card-initial-message-container
  display: flex
  flex-direction: row
  flex-grow: 1
  align-items: flex-start

  > a
    margin-top: 0
    margin-right: 10px

  > div
    width: 100%
    align-self: center

.kf-keep-container
  display: inline-block
  width: 100%
  margin: 0 auto

.kf-my-keeps
  > * + *
    margin-top: 15px

.kf-keep-body
  &.kf-side-by-side
  &.kf-text-only
    border-top: 1px solid eeeOverlay

    .kf-keep-top:empty+&
      border-top: 0

  @media (min-width: minWidthForBoxed)
    &.kf-boxed
      border-top: 0
      border-radius: keepRectBorderRadius
      box-shadow: 0 1px 2px rgba(0,0,0,.05), inset 0 0 0 1px eeeOverlay

      &:not(.kf-side-by-side) // increasing top border-radius to ensure box-shadow does not bleed through corners of image/video
        border-radius: (keepRectBorderRadius + 2px) (keepRectBorderRadius + 2px) keepRectBorderRadius keepRectBorderRadius

.kf-keep-card-library-chip
  border-radius: 3px
  font-size: 12px
  max-width: 120px
  background: gray
  display: inline-flex
  padding: 2px 6px
  color: white

  > svg
    width: 15px
    height: 15px
    margin: auto 3px auto 0px
    flex-shrink: 0
    fill: white

  > span
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  > img
    width: 12px
    height: 12px
    flex-shrink: 0;
    margin-top: 1.5px
    margin-right: 5px

.kf-keep-header
  border-bottom: 1px solid defaultBorderColor
  display: block
  width: calc(100% + 40px)
  margin: 0px -20px
  margin-bottom: 15px
  height: 40px
  display: flex
  justify-content: space-between

  .kf-keep-header-l
    margin: 8px 20px

    .kf-keep-keeper-pic
      margin-right: 5px

  .kf-keep-header-r
    margin: 8px 20px

    button, time
      background: transparent
      border: 0px
      padding: 0px 3px
      vertical-align: middle
      display: inline-block
      color: textLightGrey
      font-size: 14px

    time
      margin-right: 5px

.mine .kf-keep-header-r
  margin-right: 45px

.kf-keep-content
  padding: 0 20px

  .kf-side-by-side>&
    overflow: hidden

defaultBorderColorOverlayUsingBefore(borderWidth)  // slightly darkens an image's transparent edge overlays
  position: relative
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    border: solid defaultBorderColorOverEee
    border-width: borderWidth
    border-radius: '%s' % inherit

.kf-keep-image
  display: block
  margin: 0 -1px // cover container's 1px side borders
  padding-top: 34.6%  // enforcing 21:9 ratio, like kf-keep-video
  background-size: cover
  background-position: center
  box-shadow: inset 0 0 0 1px eeeOverlay // provides subtle boundary for white image

  :not(.kf-boxed):not(.kf-side-by-side)>&
    defaultBorderColorOverlayUsingBefore(0 1px)

  .kf-boxed:not(.kf-side-by-side)>&
    @media (max-width: (minWidthForBoxed - 1px))
      .kf-keep-top:not(:empty)+&  // keeper above
        defaultBorderColorOverlayUsingBefore(0 1px)

      .kf-keep-top:empty+&  // no keeper above
        defaultBorderColorOverlayUsingBefore(1px 1px 0)
        border-radius: keepBorderRadius keepBorderRadius 0 0
        margin-top: -1px // cover container's 1px top border

    @media (min-width: minWidthForBoxed)
      border-radius: keepRectBorderRadius keepRectBorderRadius 0 0
      margin: 0

  .kf-side-by-side>&
    float: left
    margin: 15px 0 5px 15px
    border-radius: 4px

  &.kf-bottom-clip
    background-position: center top

.kf-keep-video
  margin: 0 -1px // cover container's 1px side borders
  position: relative

  &::before
    content: ''
    display: block
    padding-top: 56.25% // enforcing 16:9 ratio, ideally 496px x 279px

  &::after  // faint top border overlay to provide shape to white videos
    content: ''
    position: absolute
    top: 0
    left: 1px // avoiding overlap with side overlays
    right: 1px
    height: 0
    border: solid eeeOverlay
    border-width: 1px 0 0
    border-radius: '%s' % inherit

  .kf-boxed>&
    @media (max-width: (minWidthForBoxed - 1px))
      .kf-keep-top:empty+&  // no keeper above
        margin-top: -1px // cover container's 1px top border
        border-radius: keepBorderRadius keepBorderRadius 0 0

        &::after
          left: 0
          right: 0
          height: keepBorderRadius
          border-width: 1px 1px 0
          border-color: defaultBorderColorOverlay

    @media (min-width: minWidthForBoxed)
      border-radius: keepRectBorderRadius keepRectBorderRadius 0 0
      margin: 0

      &::after
        left: 0
        right: 0
        height: keepRectBorderRadius
        border-width: 1px 1px 0

.kf-youtube
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  cursor: pointer

  .kf-boxed &
    @media (max-width: (minWidthForBoxed - 1px))
      .kf-keep-top:empty+&  // no keeper above
        border-radius: keepBorderRadius keepBorderRadius 0 0
        overflow: hidden

    @media (min-width: minWidthForBoxed)
      border-radius: keepRectBorderRadius keepRectBorderRadius 0 0
      overflow: hidden

  &::before  // faint left/right border overlays to provide shape to white videos
  &::after
    content: ''
    position: absolute
    z-index: 1
    top: 0
    bottom: 0
    width: 0
  &::before
    left: 0
    border-left: 1px solid defaultBorderColorOverlay
  &::after
    right: 0
    border-right: 1px solid defaultBorderColorOverlay

  .kf-boxed &
    @media (max-width: (minWidthForBoxed - 1px))
      .kf-keep-top:empty+&  // no keeper above
        &::before
        &::after
          top: keepBorderRadius + 1px  // avoiding overlap with top

    @media (min-width: minWidthForBoxed)
      &::before
      &::after
        top: keepRectBorderRadius + 1px  // avoiding overlap with top
        border-color: eeeOverlay

.kf-youtube-iframe
  background-color: #000
  // prevents black background from bleeding through rounded top corners in Firefox,
  // but causes iframe to overflow in Chrome, hence -moz- prefix
  -moz-transform: translate3d(0,0,0)

.kf-youtube-bottom-overlay
  position: absolute
  bottom: 0
  left: 1px // avoiding overlap with side overlays
  right: 1px
  border-bottom: 1px solid eeeOverlay

.kf-youtube-img
  width: 100%
  height: 100%
  background-position: center
  background-size: cover

.kf-youtube-play
  width = 70px
  height = 50px
  position: absolute
  top: 'calc(50% - %s)' % (height / 2)
  left: 'calc(50% - %s)' % (width / 2)
  width: width
  height: height
  background: url(/img/youtube-play-red.png)
  background-size: 70px 50px
  background-repeat: no-repeat
  opacity: 0.8

  &:hover
    opacity: 1.0

.kf-keep-card-footer
  display: flex
  width: 100%
  line-height: 16px
  font-size: 14px
  min-height: 30px
  margin-left: 15px
  margin-bottom: 5px

  @media (max-width: maxWidthForNarrowKeep)
    line-height: 14px
    font-size: 12px
    min-height: 30px

.kf-keep-actions
  display: inline-block
  vertical-align: middle
  text-align: left
  padding: 0px 12px

.kf-keep-keep-btn
.kf-keep-share-btn
  sidePad = 8px
  border: 0
  padding: 6px sidePad
  background: none
  border-radius: 4px
  color: accentGreen
  cursor: pointer

  &:first-child
    margin-left: -(sidePad)

  &:focus
  &:hover
    box-shadow: inset 0 0 0 1px #f6f6f6

    &:active
      background-color: #fcfcfc

.kf-keep-keep-btn
  &.state-kept-private
    color: libraryRed


  &>.svg-hearts-green
  &>.svg-hearts-green-empty
    display: inline-block
    vertical-align: top
    width: 18px
    height: 18px
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    margin-right: 3px
    transform: translate(0, 1px)

    @media (max-width: 479px)
      width: 15px
      height: 15px

  &>.svg-small-lock
    display: inline-block
    vertical-align: top
    width: 10px
    height: 13px
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    margin: 2px 3px 0 0

    @media (max-width: 479px)
      width: 9px
      height: 11px

.kf-keep-share-btn
  &>.svg-share-arrow-green
    display: inline-block
    vertical-align: top
    width: 18px
    height: 18px
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    margin-right: 1px

    @media (max-width: 479px)
      width: 15px
      height: 15px

.kf-keeps-search
  .kf-keep-who
    display: table-cell

  .compact
    .kf-keep-who
      display: inline-block

.kf-keep-who
  display: none
  vertical-align: middle
  text-align: right
  padding-right: 20px
  margin-left: auto

  &::after
    content: 'kept this'
    vertical-align: middle
    color: #888
    font-smoothing: antialiased

.kf-keep-who-pic-box
  display: inline-block
  vertical-align: middle
  height: 23px
  border-radius: 50%
  margin: 0 4px 0 0
  position: relative // for user hovercard

  @media (max-width: 479px)
    margin-left: 1px
    height: 18px

  &>.kf-utt
    margin-left: 14px

.kf-keep-who-pic
  position: relative
  display: inline-block
  vertical-align: top
  border-radius: 50%
  background-size: 100%
  width: 23px
  height: 23px

  @media (max-width: 479px)
    width: 18px
    height: 18px

  &::after
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    border-radius: 50%
    box-shadow: inset 0 0 1px rgba(0,0,0,.15)

.kf-keep-who-num
  color: #888
  font-smoothing: antialiased
  vertical-align: middle
  margin: 0 4px 0 -2px

  @media (max-width: 479px)
    font-smoothing: antialiased

  &:not(:first-child)::before
    content: '+ '

.kf-keep-meta
  padding-top: 16px
  height: 1.2em
  line-height: 1.2em
  font-size: 12px
  font-smoothing: antialiased
  color: #909aa8
  overflow: hidden

  @media (min-width: 480px)
    font-size: 14px

    .kf-side-by-side &
      font-size: 12px

.kf-keep-length
  white-space: nowrap  // hides entire element (including bullet) if it does not fit
  color: #999
  font-size: 12px
  flex-shrink: 0

  @media (max-width: 479px)
    font-size: 11px

  &::before
    content: '\2022'
    vertical-align: 2px
    padding: 0 9px 0 6px
    font-size: 7px

    @media (max-width: 479px)
      padding: 0 4px 0 3px
      font-size: 6px

.kf-keep-card-description
  font: 13px/18px Lato,Helvetica,Arial,sans-serif
  font-smoothing: antialiased
  color: textBlackColor
  word-break: break-word
  margin-top: 6px

.kf-keep-card-flex-row
  display: flex
  flex-direction: row

.kf-keep-card-flex-column
  display: flex
  flex-direction: column

.kf-keep-card-flex-grow
  flex-grow: 1
  width: 1px

.kf-keep-card-page-content
  margin-right: 2px
  border-radius: 5px
  box-shadow: 0 1px 2px rgba(0,0,0,.05), 0 0 0 1px eeeOverlay

.compact
  .kf-keep-card
    .kf-keep-who
      align-self: center
      flex-grow: 1
      padding-right: 10px
      font-size: 13px
      margin-bottom: 1px

    .kf-keep-card-note
      white-space: nowrap

    .kf-keep-who-pic-box
      height: auto

    .kf-keep-who-pic
      height: 20px
      width: 20px

    .kf-keep-card-title
      margin-top: 2px

    .kf-keep-card-title-link[href]
      font: 15px/17px Lato,sans-serif

    .kf-keep-card-expand-button
      transform: rotate(90deg)

.kf-keep-card

  > * + *
    margin-top: 5px
  .kf-keep-card-view-activity
  .kf-keep-card-view-comments
    font-size: 12px
    font-weight: normal
    font-smoothing: antialiased
    margin-right: auto

  .kf-keep-card-menu-button
    svg
      margin-bottom: 2px
      fill: #a7a7a7

  .kf-keep-card-expand-button
    transform: rotate(0deg)
    svg
      fill: #a7a7a7

  .kf-side-by-side
    .kf-keep-card-gallery-content
      padding-top: 14px

  .kf-keep-card-gallery-content
    display: flex
    flex-direction: column
    padding: 10px 15px 2px 15px

    > * + *
      margin-top: 6px

  .kf-keep-card-attribution-container
    justify-content: flex-end
    margin-top: 10px
    margin-right: 2px
    margin-left: 2px
    color: #777

  .kf-keep-card-activity-attribution-container
  .kf-keep-card-attribution-container
    display: flex
    flex-direction: row
    flex-flow: wrap
    align-items: center
    margin-bottom: 0px

    +hack-ie11()
      height: 100%

    > * + *
      margin-left: 6px
      margin-top: 2px

  .kf-keep-keeper-pic
    margin-right: 10px

  .kf-keep-card-image-container
    width: 50px
    height: 50px
    border-right-style: solid
    border-width: 1px
    border-right-color: eeeOverlay
    overflow: hidden
    border-radius: 5px 0 0 5px
    margin-right: 8px

  .kf-keep-card-image-placeholder
    width: 70%
    height: 70%
    margin: 15%
    fill: accentGreen

  .kf-keep-card-image
    align-self: center
    width: 100%
    height: 100%
    display: inline-block
    background-size: cover
    background-position: center

  .kf-keep-card-content
    display: flex
    flex-direction: column
    flex-grow: 1
    justify-content: flex-start
    padding-left: 0px
    margin-right: 5px
    > * + *
      margin-top: 1px

  .kf-keep-card-title
    margin-left: 0px
    overflow: hidden
    text-overflow: ellipsis
    display: flex
    align-items: center
    width: 100%

  .kf-keep-card-title-link[href]
    font: 18px/17px Lato,sans-serif
    height: 18px
    color: #111
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .kf-keep-card-source
    font-size: 13px
    font-smoothing: antialiased
    color: textGreyColor

  .kf-knf
    margin-top:0px
    margin-bottom: 4px

  .kf-keep-card-note-container
    .kf-knf-editor
      font-size: 14px

  .kf-keep-card-add-note
  .kf-keep-card-note
    font: 14px Lato,sans-serif
    color: #333
    vertical-align: top
    line-height: 15px
    margin-bottom: 2px
    white-space: pre-wrap
    word-wrap: break-word
    overflow: hidden
    text-overflow: ellipsis

  .kf-keep-card-note-via
    font-size: 13px
    color: #aaa
    white-space: nowrap

  .kf-keep-card-add-note
    border: 0
    padding: 0
    color: #ccc //linkColor
    background-color: transparent
    font-smoothing: antialiased
    margin-top: 0

    &:hover
      color: #aaa

    &:active
      color: #8f8f8f

  .kf-knf ~ *
    display: none

  .kf-keep-keep-btn
  .kf-keep-share-btn
    font-size: 13px
    padding-top: 5px
    padding-bottom: 5px

    &>.svg-hearts-green
    &>.svg-hearts-green-empty
    &>.svg-share-arrow-green
      width: 14px
      height: 14px

  .kf-keep-card-menu-container
    margin-left: auto
    padding-left: 10px
    .kf-dropdown-menu
      top: 40px
      right: 0px
      font-size: 14px
      transform-origin: 80% top
      transition: visibility 0s, opacity linear dur, transform dur ease-out

    &:not(.kf-open)>.kf-dropdown-menu
      dur = .08s
      visibility: hidden
      opacity: 0
      transform: scale(.9)
      transition-duration: 0s, dur, dur
      transition-delay: dur, 0s, 0s

    .kf-dropdown-menu-item
      display: block
      padding: 0 16px
      color: #556179
      white-space: nowrap
      cursor: pointer

      &:hover
        background-color: #eee

      &:active
        background-color: #ccc
