<div class="kf-keep" ng-hide="keep.unkept && !keep.isProtected && keep.itemType !== 'reco'"
    ng-class="{ 'editing': editMode.enabled, 'kf-dragged': isDragging, 'kf-drag-target': isDragTarget }" draggable="!!editOptions.draggable">
  <div class="kf-keep-edit-tools">
    <div class="kf-keep-checkbox-icon sprite sprite-checkbox-icon" ng-if="!isSelected({keep: keep})" ng-click="toggleSelect({keep: keep})"></div>
    <div class="kf-keep-checkbox-icon sprite sprite-checkbox-icon-active" ng-if="isSelected({keep: keep})" ng-click="toggleSelect({keep: keep})"></div>
    <div ng-if="editOptions().draggable" class="kf-keep-handle sprite sprite-grabbericon">
      <div class="kf-keep-checkbox" ng-click="onCheck($event, keep)"></div>
    </div>
  </div>

  <div class="kf-keep-body">
    <div class="kf-keep-contents">
      <div class="kf-keep-title">
        <div class="kf-keep-loader" ng-show="false"></div>
        <a class="kf-keep-title-link" ng-href="{{keep.url}}" target="_blank" ng-attr-title="{{keep.titleAttr}}" ng-bind-html="keep.titleHtml" ng-click="clickCallback({ 'keep': keep, event: $event })" rel="nofollow" click-action="clickedArticleTitle"></a>
      </div>
      <div class="kf-keep-subtitle">
        <span class="kf-keep-subtitle-element kf-keep-url" ng-attr-title="{{keep.url}}" ng-bind-html="keep.descHtml"></span>
        <span class="kf-keep-subtitle-element kf-keep-dot" ng-if="keep.createdAt">·</span>
        <span class="kf-keep-time" ng-show="keep.createdAt">kept&nbsp;<time class="kf-keep-subtitle-element" ng-attr-datetime="{{keep.createdAt}}" am-time-ago="keep.createdAt"></time></span>
        <span class="kf-keep-subtitle-element kf-keep-dot" ng-if="keep.summary.wordCount && keep.readTime">·</span>
        <div class="kf-keep-subtitle-element kf-keep-read-time" ng-show="keep.summary.wordCount && keep.readTime"><span class="sprite sprite-small-clock"></span>{{keep.readTime}} read</div>
      </div>

      <!-- Description only or Description + Small Image-->
      <div class="kf-keep-content-line">
        <div class="kf-keep-small-image" ng-if="showSmallImage(keep)">
          <a ng-href="{{keep.url}}" target="_blank" rel="nofollow">
            <img class="kf-keep-image" ng-src="{{keep.summary.imageUrl}}" ng-click="clickCallback({ 'keep': keep, event: $event })" click-action="clickedArticleImage" alt="{{keep.titleAttr}}">
          </a>
        </div>

        <div class="kf-keep-info-wrap" ng-if="cardType=='small'">
          <div kf-ellipsis full-text="keep.summary.description" max-num-lines="linesToShow" class="kf-keep-description"></div>
        </div>

      </div>

      <!-- Large Image or Special Card -->
      <a ng-href="{{keep.url}}" target="_blank" rel="nofollow"><img class="kf-keep-big-image" ng-if="showBigImage(keep)" ng-src="{{keep.summary.imageUrl}}" ng-click="clickCallback({ 'keep': keep, event: $event })" click-action="clickedArticleImage"></a>

      <div ng-if="cardType=='youtube'" class="kf-keep-youtube-content">
        <div ng-click="clickCallback({ 'keep': keep, event: $event })"><div kf-youtube video-id=youtubeId></div></div>
        <div kf-ellipsis full-text="keep.summary.description" max-num-lines=3 class="kf-keep-description"></div>
      </div>

    </div>

    <div class="kf-keep-who" ng-if="keep.showSocial">
      <div kf-keep-who-text keep="keep"></div>
      <div kf-keep-who-libs-and-pics keep="keep" current-page-origin="{{currentPageOrigin}}" class="kf-keep-who-libs-and-pics"></div>
    </div>

    <div kf-tag-list class="kf-keep-tag-list" get-selected-keeps="getSingleSelectedKeep(keep)" adding-tag="addingTag" is-shown="showTags(keep)" ng-show="showTags(keep)" keep="keep" read-only-mode="!isTaggable(keep)" user-logged-in="userLoggedIn" library="library"></div>
  </div>

  <div class="kf-keep-footer kf-keep-footer-buttons-wrapper clearfix" ng-if="userLoggedIn">
    <span kf-keep-master-button keep="keep" ng-if="keep" class="kf-keep-footer-button-wrapper" library="library" libraries="libraries"></span>
    <span kf-keep-share-button keep="keep" show-install-extension-modal="showInstallExtensionModal()" ng-if="keep" class="kf-keep-footer-button-wrapper"></span>
    <span kf-keep-tag-button keep="keep" ng-show="isTaggable(keep) && !hasTag(keep)" class="kf-keep-footer-button-wrapper" show-add-tag="showAddTag()"></span>
  </div>

  <div class="kf-keep-drag-mask"></div>
</div>
