//keep-who styling specific to my-keeps pane
.kf-my-keeps
.kf-recos

  .kf-keep-who-pic
    width: 23px
    height: 23px
    margin-right: 1px
    vertical-align: middle

  .kf-keep-who-text
    margin-left: 4px
    color: #99a3b3
    vertical-align: middle

    .kf-keep.mine .me + &
      margin-left: 7px

    .kf-keep:not(.mine) .me + &
      margin-left: 0
