.kf-keep
  position: relative
  //border-top: 1px solid #f9f9f9
  box-sizing: border-box
  box-shadow: defaultBoxShadow
  border: defaultBorder
  background-color: white
  border-radius: 3px
  margin-top: 10px

  &.detailed
    background-color: #eff2f7

  &.selected.detailed
    background-color: #F7F7F5

  &.ui-draggable-dragging
    border-top: none

  &.toggling
    overflow: hidden
    transition: height .3s ease-in-out

  &.ng-hide-add
  &.ng-hide-remove
    transition: max-height 0.3s linear
    display: block !important

  &.ng-hide-add.ng-hide-add-active
  &.ng-hide-remove
    max-height: 0

  &.ng-hide-add
  &.ng-hide-remove.ng-hide-remove-active
    max-height: 200px

.kf-keep-body
  padding: 0 20px

.kf-keep-description
  padding: 10px 0

.kf-keep-footer
  background-color: #f9f9f9
  font-size: 12px
  font-weight: 200
  color: #5983bd
  padding: 0 20px
  line-height: 37px

  a:active
    color: #92add3

.kf-keep-tags
  padding: 7px 0
  border-top: separatorBorder

.kf-keep-footer-link a
  cursor: pointer

.kf-keep-footer-link + .kf-keep-footer-link:before
    content: "·"
    color: textGreyColor
    padding: 0 6px 0 5px

.kf-keep.selected
.kf-shadow-keep-ellipsis
  background-color: #fffcf1
  border-color: #f0f0f0

.kf-keep-time
  float: right
  margin: 0 16px 0 4%
  font-size: 12px
  line-height: 28px
  color: #99a3b3

.kf-keep-handle
  display: none
  position: absolute
  top: 0
  bottom: 0
  left: 0
  width: 21px
  background: url(../img/drag-handle.png) center/10px no-repeat
  cursor: move

  &:hover
  .kf-keep.detailed &
  .kf-keep.selected &
  .kf-keep.ui-draggable-dragging &
    background-color: #e3e6ee

  .kf-keep:hover &
  .kf-keep.detailed &
  .kf-keep.selected &
  .kf-keep.ui-draggable-dragging &
    display: block

.kf-keep-checkbox
  display: none
  position: absolute
  left: 3px
  top: 4px
  width: 15px
  height: 15px
  background: url(../img/check.png) 99px/12px 8px no-repeat #fff
  cursor: pointer

  .kf-keep-handle:hover &
  .kf-keep.detailed &
  .kf-keep.selected &
  .kf-keep.ui-draggable-dragging &
    display: block

  .kf-keep.selected &
    background-position: 2px 4px

.kf-keep-title
  max-width: 100%
  font-size: 14px
  font-weight: 200
  line-height: 24px
  font-smoothing: antialiased
  long-text()

  a[href]
    color: textBlackColor

.kf-keep-url
  font-size: 12px
  line-height: 14px
  color: #99a3b3
  long-text()

  .kf-keep.example &
    color: #c6cbd3

// tag
.kf-keep-tags

  &:empty
    border-bottom-width: 0

@-moz-document url-prefix()
  .kf-keep-tags
    background-position: 0 1px

.kf-keep-tag
  display: inline-block
  position: relative
  vertical-align: middle
  overflow: hidden
  white-space: nowrap
  color: blueColor
  border: 1px solid blueColor
  border-radius: 3px
  padding: 2px 6px 1px
  margin-right: 4px
  font-size: 12px
  font-smoothing: antialiased

  &.removed
    width: 0 !important
    transition: width .12s ease-in-out

.kf-keep-tag-link
  padding: 0 5px

  &:not(:hover)
    color: #99a3b3

    .kf-keep-tag.example &
      color: #c3dba8

  &:hover
    text-decoration: underline
    font-smoothing: antialiased

.kf-keep-add-tag
  display: inline-block
  vertical-align: middle
  height: 17px
  width: 17px
  background: url(../img/placeholder-icon.png) left center / 17px no-repeat

.kf-keep-private
  float: right
  padding-right: 21px
  margin: 0 2px
  background: url(../img/private.png) right center/17px no-repeat

// preview button
.kf-keep-hover-button-wrapper
  display: none
  position: absolute
  right: 0
  top: 0
  width: 1px
  height: 100%

  .kf-keep:hover &
    display: block

.kf-keep-hover-button-table
  display: table
  width: 100%
  height: 100%

.kf-keep-hover-button-cell
  display: table-cell
  vertical-align: middle

.kf-keep-hover-button
  position: absolute
  right: 16px
  padding: 7px 12px
  border: 1px solid transparent
  border-radius: 9px
  font-size: 11px
  color: #fff
  background: #67829c
  cursor: pointer
  user-select: none

  .kf-keep.detailed &
    background: #67829c

.kf-keep-button-close
  display: none

  .kf-keep.detailed &
    display: block

.kf-keep.detailed .kf-keep-button-preview
  display: none

.kf-drag-target
  background-color: #E2E6EC

.kf-keep.kf-dragged-keep
  box-sizing: border-box
  border-width: 1px
  border-color: #d2d2d2
  border-style: solid

.kf-shadow-keep-first
.kf-shadow-keep-second
.kf-shadow-keep-ellipsis
.kf-shadow-keep-last
  position: absolute
  top: 0
  left: 0
  width: 100%

.kf-shadow-keep-ellipsis
  display: none
  box-sizing: border-box
  border-width: 1px
  border-style: solid
  border-bottom: none
  border-color: #d2d2d2

  &.active
    display: inline

.kf-shadow-keep-ellipsis-line
  position: relative
  top: 50%
  height: 50%
  width: 100%
  border: inherit
  border-left: none
  border-right: none
  margin-top: -1px

.kf-shadow-keep-ellipsis-counter
.kf-shadow-keep-ellipsis-counter-hidden
  position: absolute
  font-size: 13px
  color: #818692
  background-color: inherit
  height: 80%
  top: 20%
  padding: 0 3px

.kf-shadow-keep-ellipsis-counter-hidden
  visibility: hidden

.page-coll-list>li
  display: inline-block

