.kf-keep-card-attribution-message-tooltip-target
  position: relative

  > .kf-utt
    left: calc(50% - 40px)

  > .kf-ult
    left: calc(50% - 105px)

.kf-keep-card-attribution
  display: flex
  flex-direction: row
  flex-grow: 1
  align-items: center
  font-size: 13px
  color: textGreyColor
  font-weight normal
  font-smoothing: antialiased

  .kf-privacy-icon
    display: inline-block
    width: 18px
    height: 18px
    margin-top: -2px
    margin-left: -2px
    margin-right: -2px
    fill: none
    stroke: black
    stroke-width: 10px

  .kf-privacy-container
    display: inline-block

.kf-keep-card-attribution-discussion-members-list-item:after
  content: ", "

.kf-keep-card-attribution-discussion-members-list-item:last-child:after
  content: ""

.kf-keep-card-attribution-discussion-members-list-item:nth-last-child(2):after
  content: " & "

.kf-keep-card-attribution-message
  display: block
  width: 1px
  flex-grow: 1

.kf-keep-card-attribution-keeper-pic
  display: inline-block
  flex-shrink: 0
  height: 34px
  width: 34px
  border-radius: 50%
  background-size: cover
  margin-right: 12px
  margin-top: auto
  margin-bottom: auto

  &:focus
    outline-color: #ccc

.kf-keep-card-attribution-no-border
  border-radius: 0

//.compact
//  .kf-keep-card-attribution
//    font-size: 13px
//  .kf-keep-card-attribution-keeper-pic
//    height: 24px
//    width: 24px
//    margin-right: 6px

.kf-keep-card-attribution-slack-icon
  display: inline-block
  position: relative
  top: 2px
  width: 15px
  height: 15px
  margin-right: 4px
  margin-top: -5px
  margin-left: 2px

.kf-keep-card-attribution-page-link
  color: grey
  display: inline

  &.kf-link
    &:hover
      text-decoration: none
      color: grey
      opacity: .7
