//keep-who styling specific to my-keeps pane
.kf-my-keeps

  .kf-keep-who-pic
  .kf-keep-who-others
    width: 23px
    height: 23px
    margin-right: 1px
    vertical-align: middle

  .kf-keep-who-others
    background-image: url(../img/globe.png)

    .kf-keep.mine &
      display: none

  .kf-keep-who-pic.me
    border-radius: 50% 0 0 50%

    &:last-of-type
      border-radius: 50%

  .kf-keep-who-text
    margin-left: 4px
    color: #99a3b3
    vertical-align: middle

    .kf-keep.mine .me + &
      margin-left: 7px

    .kf-keep:not(.mine) .me + &
      margin-left: 0
