keepRectBorderRadius = 4px
keepFooterMarginTop = 16px

.kf-keep-body
  border-radius: keepRectBorderRadius
  overflow: hidden
  box-shadow: 0 1px 2px rgba(0,0,0,.05), inset 0 0 0 1px #eee // dfdfdf

.kf-keep-content
  padding: 0 20px

  .kf-side-by-side>&
    overflow: hidden

.kf-keep-image
  display: block
  height: 280px
  background-size: cover
  background-position: center
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.05)

  .kf-side-by-side>&
    float: left
    margin: 16px 0 keepFooterMarginTop 20px

  &.kf-bottom-clip
    background-position: center top

.kf-keep-video
  position: relative

  &::before
    content: ''
    display: block
    padding-top: 56.25% // enforcing 16:9 ratio, 496px x 279px at time of writing

.kf-youtube
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  cursor: pointer
  background-color: #000

  &.kf-with-video  // webkit needs this block to hide iframe corners
    -webkit-transform: translate3d(0)
    border-radius: (keepRectBorderRadius + 2px) (keepRectBorderRadius + 2px) 0 0
    overflow: hidden

.kf-youtube-img
  width: 100%
  height: 100%
  background-position: center
  background-size: cover

.kf-youtube-play
  width = 70px
  height = 50px
  position: absolute
  top: 'calc(50% - %s)' % (height / 2)
  left: 'calc(50% - %s)' % (width / 2)
  width: width
  height: height
  background: url(/img/youtube-play-red.png)
  background-size: 70px 50px
  background-repeat: no-repeat
  opacity: 0.8

  &:hover
    opacity: 1.0

.kf-keep-footer
  display: table
  width: 100%
  margin-top: keepFooterMarginTop
  border-top: 1px solid #eee // dfdfdf
  line-height: 16px
  font-size: 14px
  min-height: 42px

.kf-keep-actions
  display: table-cell
  vertical-align: middle
  text-align: left
  padding-left: 20px

  &>button
    sidePad = 8px
    border: 0
    padding: 6px sidePad
    background: none
    border-radius: 4px
    color: accentGreen
    cursor: pointer

    &:first-child
      margin-left: -(sidePad)

    &:hover
      box-shadow: inset 0 0 0 1px #f6f6f6

      &:active
        background-color: #fcfcfc

.kf-keep-keep-btn
  &.state-kept-private
    color: libraryRed

  &>.svg-hearts-green
    display: inline-block
    vertical-align: top
    width: 18px
    height: 18px
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    margin-right: 3px
    transform: translate(0, 1px)

  &>.svg-small-lock
    display: inline-block
    vertical-align: top
    width: 10px
    height: 13px
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    margin: 2px 3px 0 0

.kf-keep-share-btn
  &>.svg-share-arrow-green
    display: inline-block
    vertical-align: top
    width: 18px
    height: 18px
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    margin-right: 1px

.kf-keep-who
  display: table-cell
  vertical-align: middle
  text-align: right
  padding-right: 20px

.kf-keep-who-pic-box
  display: inline-block
  vertical-align: middle
  height: 23px
  border-radius: 50%
  margin-left: 4px

  @media (max-width: 479px)
    margin-left: 1px
    height: 18px

.kf-keep-who-pic
  position: relative
  display: inline-block
  vertical-align: top
  border-radius: 50%
  background-size: 100%
  width: 23px
  height: 23px

  @media (max-width: 479px)
    width: 18px
    height: 18px

  &::after
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    border-radius: 50%
    box-shadow: inset 0 0 1px rgba(0,0,0,.15)

.kf-keep-who-text
  color: #888
  font-smoothing: antialiased
  vertical-align: middle
  margin-left: 2px

  @media (max-width: 479px)
    font-smoothing: antialiased

  &:not(:first-child)::before
    content: '+ '

.kf-keep-title
  margin: 12px 0
  font: bold 20px/24px Lato,sans-serif
  font-smoothing: antialiased
  word-break: break-word

  @media (max-width: 479px)
    line-height: 22px
    font-size: 18px

.kf-keep-title-link[href]
  color: textBlackColor
  outline-color: #ddd

.kf-keep-meta
  padding-top: 16px
  height: 1.2em
  line-height: 1.2em
  font-size: 12px
  font-smoothing: antialiased
  color: #909aa8
  overflow: hidden

  @media (min-width: 480px)
    font-size: 14px

    .kf-side-by-side &
      font-size: 12px

.kf-keep-source
  white-space: nowrap
  color: accentGreen

.kf-keep-twitter-attr
  a
    color: #909aa8
    outline: none

.kf-keep-twitter-logo
  display: inline-block
  width: 16px
  height: 14px
  margin-right: 5px
  background-size: cover
  vertical-align: text-bottom

  @media (max-width: 479px)
    width: 14px
    height: 12px

.kf-keep-length
  white-space: nowrap  // hides entire element (including bullet) if it does not fit

  .sprite-clock
    margin-right: 2px

    .kf-side-by-side &
      transform: translate(0, -0.6px)

  @media (max-width: 479px)
    font-size: 11px

    .sprite-clock
      display: none

.kf-keep-twitter-attr::before
.kf-keep-length::before
  content: '\2022'
  vertical-align: 2px
  padding: 0 9px 0 6px
  font-size: 7px

  @media (max-width: 479px)
    padding: 0 4px 0 3px
    font-size: 6px

.kf-keep-description
  font: 12px/18px Lato,Helvetica,Arial,sans-serif
  font-smoothing: antialiased
  color: textBlackColor
  word-break: break-word

  @media (min-width: 480px)
    line-height: 19px
    font-size: 13px

  @media (min-width: 560px)
    line-height: 20px
    font-size: 14px
