<li class="keep" ng-class="{ mine: isMine(), example: isExample(), private: isPrivate() }">
	<time ng-attr-datetime="{{keep.createdAt}}" ng-show="keep.createdAt" am-time-ago="keep.createdAt"></time>
	<div class="handle">
		<div class="keep-checkbox"></div>
	</div>
	<div class="keep-title long-text">
		<span class="example-tag">Example keep</span>
		<a ng-href="{{keep.url}}" target="_blank" ng-attr-title="{{getTitle()}}" ng-bind-html="keep.titleHtml"></a>
	</div>
	<div class="keep-url long-text" ng-attr-title="{{keep.url}}" ng-bind-html="descHtml"></div>
	<div class="keep-colls">
		<span class="keep-coll" ng-class="{ example: isExampleTag(tag) }" ng-repeat="tag in keep.collections">
			<a class="keep-coll-a" ng-href="/tag/{{tag.id}}">{{tag.name}}</a>
		</span>
	</div>
	<div class="keep-who">
		<a class="pic me" title="You! You look great!" ng-attr-style="background-image: url({{getPicUrl(me)}})"></a>
		<a class="pic" href="javascript:" data-id="{{id}}" data-name="{{getName(keeper)}}" ng-attr-style="background-image: url({{getPicUrl(keeper)}})" ng-repeat="keeper in keep.keepers"></a>
		<span class="others" ng-show="showOthers()"></span>
		<span class="keep-who-text">
			<span class="keep-you">
				You
				<span class="keep-private" ng-class="{ on: isPrivate() }" ng-show="hasKeepers()">Private</span>
			</span>
			<span class="keep-friends" ng-show="hasKeepers()">{{getFriendText()}}</span>
			{% if others > 1 %}
			<span class="keep-others">{{others}} others</span>
			{% endif %}{% if others == 1 %}
			<span class="keep-others">1 other</span>
			{% endif %}
			<span class="keep-kept-this">kept this</span>
			{% if !keepers.length && !others && isPrivate %}
			<span class="keep-private on">Private</span>
			{% endif %}{% if !keepers.length && !others && !isPrivate %}
			<span class="keep-private">Private</span>
			{% endif %}
		</span>
	</div>
	<div class="keep-arrow-1"><div class="keep-arrow-2"><div class="keep-arrow-3"><div class="keep-arrow-4"></div></div></div></div>
	<div class="keep-hover-button-wrapper">
		<div class="keep-hover-button-table">
			<div class="keep-hover-button-cell">
				<div class="keep-hover-button"><span class="keep-button-preview">Preview</span><span class="keep-button-close">Close</span></div>
			</div>
		</div>
	</div>
</li>
