keepBorderRadius = 3px
tagOutlineColor = #bdc4c9
kifiGreen = #73c583

.kf-my-keeps
  .kf-keep
  .kf-keep-selection-tools
    margin-top: 10px

.kf-keep
.kf-keep-selection-tools
  box-sizing: border-box
  box-shadow: defaultBoxShadow
  border: defaultBorder
  background-color: white
  border-radius: keepBorderRadius

.kf-keep-selection-tools-body
  padding: 0 0 7px 27px

.kf-keep-selection-tags
  overflow: hidden

.kf-keep-selection-tags-list
  overflow: hidden

.kf-keep-selection-tags-done
  float: right

.kf-edit-keeps-label
.kf-keep-selection-tags-done
  color: linkColor
  cursor: pointer
  user-select: none

.kf-keep-selection-tags-done
  vertical-align: middle
  font-size: 13px
  font-smoothing: antialiased
  line-height: 33px

.kf-keep-selection-tools
  margin-left: 3px
  margin-right: 25px

.kf-keep-selected-count
  text-align: center
  font-size: 14px
  padding: 10px 0 5px

.kf-keep-selected-count-number
  font-size: 28px
  font-family: Lato, Arial, sans-serif
  font-weight: bold

.kf-keep-selection-options
  position: relative
  background-color: #eee
  color: linkColor
  font-size: 13px
  font-smoothing: antialiased
  text-align: center
  user-select: none
  padding: 12px 20px
  margin: 7px 20px

.kf-keep-selection-options-mask
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: none

.kf-keep-selection-options.disabled
  background-color: #f5f5f5

  .kf-keep-selection-option
    color: textLightGrey

  .kf-keep-selection-options-mask
    display: block

.kf-keep-selection-tags
  margin: 0px 20px

.kf-keep-selection-option
  display: inline-block
  color: linkBlueColor

  span
    cursor: pointer

.kf-keep-selection-option + .kf-keep-selection-option::before
  content: "|"
  padding: 5px

.kf-keep
  position: relative

  &.detailed
    background-color: #eff2f7

  &.selected.detailed
    background-color: #F7F7F5

  &.toggling
    overflow: hidden
    transition: height .3s ease-in-out

  &.ng-hide-add
  &.ng-hide-remove
    transition: max-height 0.3s linear
    display: block !important

  &.ng-hide-add.ng-hide-add-active
  &.ng-hide-remove
    max-height: 0

  &.ng-hide-add
  &.ng-hide-remove.ng-hide-remove-active
    max-height: 200px

  &.editing
    border-radius: 0 3px 3px

    .kf-keep-edit-tools
      display: block

.kf-keep-body
  padding: 0 30px 5px

.kf-keep-contents
  padding: 20px 0 0
  overflow: hidden

.kf-keep-who
  padding: 6px 35px 5px 0
  background-size: 9px 10px
  background-repeat: no-repeat
  background-position: 0 0

.kf-keep-tag-new
  margin-top: 3px

.kf-keep-footer
  background-color: #f9f9f9
  font-size: 12px
  font-weight: 200
  color: #5983bd
  padding: 0 20px
  line-height: 37px

  a:active
    color: #92add3

.kf-keep-footer-buttons-wrapper
  .kf-keep-lib-footer-button
    float: right
    box-sizing: border-box
    padding-left: 0
    padding-right: 0
    text-align: center

.kf-keep-footer.kf-keep-footer-buttons-wrapper
  padding: 7px 5px

.kf-keep-footer-button-wrapper
  .kf-keep-lib-footer-button
    margin-right: 10px
    padding-left: 10px
    padding-right: 10px

.kf-keep-tag-button
  span
    background-size: 17px 14px
    background-repeat: no-repeat
    background-position: 0 0
    padding-left: 23px

.kf-keep-share-button
  margin-right: 10px
  span
    background-size: 17px 14px
    background-repeat: no-repeat
    background-position: 0 0
    padding-left: 23px

.kf-keep-master-btn
  margin-right: 10px
  &.state-kept-public
    span
      color: #73c885
      background-size: 16px 14px
      background-repeat: no-repeat
      padding-left: 21px
  &.state-kept-private
    span
      color: libraryRed
      background-size: 10px 14px
      background-repeat: no-repeat
      padding-left: 15px

  &.state-not-kept
    span
      background-size: 16px 14px
      background-repeat: no-repeat
      padding-left: 21px

.kf-keep-footer-link a
  color: linkBlueColor
  cursor: pointer

  &:hover
    text-decoration: underline

  &:active
    text-decoration: underline

.kf-keep-footer-link + .kf-keep-footer-link:before
    content: "·"
    color: textGreyColor
    padding: 0 6px 0 5px

.kf-keep-subtitle-element
  display: inline-block

.kf-keep-edit-tools
  display: none
  position: absolute
  top: -1px
  bottom: 0
  left: -28px
  width: 28px
  height: 110px
  background-color: #fff
  border: defaultBorder
  border-right: none
  border-radius: keepBorderRadius 0 0 keepBorderRadius
  box-sizing: border-box

.kf-keep-checkbox-icon
  float: left
  margin: 15px 0 0 5px

.kf-keep-handle
  cursor: move
  margin-left: 9px
  margin-top: 18px

.kf-keep-big-image-container
  width: 100%

.kf-keep-content-line
  width: 100%
  position: relative

.kf-keep-big-image
  margin: 4px 0 11px

.kf-keep-big-image
  display: block
  max-width: 100%
  max-height: 400px
  margin: 0 auto

.kf-keep-small-image
  width: 150px
  vertical-align: top
  float: right
  padding-top: 5px
  padding-left: 20px
  min-width: 90px

  @media screen and (min-width: 1150px) and (max-width: 1250px)
    width: 150px

  @media screen and (min-width: 1024px) and (max-width: 1149px)
    width: 100px

  @media screen and (min-width: 800px) and (max-width: 950px)
    width: 150px

  @media screen and (max-width: 319px)
    display: none

.kf-keep-image
  width: 100%

.kf-keep-small-image + .kf-keep-info
  padding-left: 20px

.kf-keep-info-wrap
  position: relative
  display: block
  overflow: hidden
  margin-right: 30px

.kf-keep-title
  margin-bottom: 12px
  font-family: 'Lato', serif
  max-width: 100%
  font-size: 27px
  font-weight: 900
  line-height: 30px
  font-smoothing: antialiased
  word-break: break-word

  a[href]
    color: textBlackColor

.kf-keep-youtube-content
  width: 100%

.kf-youtube
  height: 350px
  margin-bottom: 5px

.kf-keep-loading
  padding-right: 5px

.kf-keep-subtitle
  margin-bottom: 14px
  line-height: 11px
  color: #909aa8
  vertical-align: middle
  font-smoothing: antialiased
  font-size: 13px

.kf-keep-dot
  font-size: 16px
  top: 2px;
  position: relative
  padding: 0 3px

.kf-keep-description
  font-size: 16px
  line-height: 23px
  font-family: Lato, "Helvetica", Arial, sans-serif
  font-smoothing: antialiased
  color: textBlackColor
  word-break: break-word

.kf-dyn-positioned
  overflow: hidden

.kf-keep-description-sizer
  position: absolute
  visibility: hidden
  z-index: -1
  top: -999px
  left: -999px

.kf-keep-url
  font-size: 13px
  height: 13px
  font-weight: 500
  long-text()
  max-width: calc(100% - 100px)
  vertical-align: middle
  color: #74C485

  .kf-keep.example &
    color: #c6cbd3

// tag

.kf-keep-tags-new
  padding: 7px 0

  &:empty
    border-bottom-width: 0

@-moz-document url-prefix()
  .kf-keep-tags-new
    background-position: 0 1px

.kf-tag-list-new > li
  display: inline-block

.kf-tag-list-new
  margin-right: 10px

.kf-keep-tags-new
  border-top: 1px solid #e7e7e7
  box-sizing: border-box
  padding: 20px 0
  margin-top: 16px


.kf-keep-tag-link-new > a
  line-height: 21px
  padding: 0 7px
  color: #777
  font-size: 12px

.kf-keep-add-tag-link
  background-size: 20px 20px
  background-repeat: no-repeat
  background-position: 0 2px
  width: 20px
  height: 23px
  display: block
  cursor: pointer

.kf-keep-tag-new
input.kf-keep-tag-input-new
  border: 1px solid tagOutlineColor
  border-radius: 3px
  margin-right: 4px
  vertical-align: middle

.kf-keep-tag-new
input.kf-keep-tag-input-new
.kf-keep-tag-opt
.kf-keep-tag-hidden
  max-width: 150px
  box-sizing: border-box
  font-size: 12px
  font-smoothing: antialiased
  color: linkBlueColor

.kf-keep-tag-add-tag-wrapper
.kf-keep-tag-new
input.kf-keep-tag-input-new
  padding: 2px 6px 1px
  margin-bottom: 3px

.kf-keep-tag-opt
  padding: 3px 6px 3px

input.kf-keep-tag-input-new
.kf-keep-tag-opt
  long-text()

input.kf-keep-tag-input-new
  width: 100%
  min-width: 141px

.kf-keep-tag-new
  display: inline-block
  position: relative
  overflow: hidden
  white-space: nowrap
  float: left

  &.removed
    width: 0 !important
    transition: width .12s ease-in-out

.kf-keep-tag-link-new
  padding: 0
  font-smoothing: antialiased
  long-text()

  &:active
    color: clearBlueColor

.kf-keep-tag-x-new
  display: none
  position: absolute
  right: 2px
  top: -2px
  cursor: pointer
  color: kifiGreen

.kf-keep-tag-new:hover .kf-keep-tag-x-new
  display: block

.kf-keep-tag-opts-container
  position: absolute

.kf-keep-tag-opts-new
  position: relative
  top: -4px
  border: 1px solid tagOutlineColor
  border-radius: 3px
  background-color: #fff
  z-index: 1
  min-width: 150px
  box-sizing: border-box

.kf-keep-tag-opt
  cursor: pointer

.kf-keep-tag-opt.current
  background-color: #eee

.kf-keep-tag-opt-new
  padding: 2px 3px 1px 6px

.kf-keep-tag-opt-new-text
  long-text()

.kf-keep-tag-opt-new-label
  float: right
  font-size: 9px
  padding: 2px 3px 1px 3px
  margin-left: 5px
  background-color: blueColor
  color: #fff

.kf-keep-tag-hidden
  position: absolute
  white-space: nowrap
  visibility: hidden

.kf-keep-private
  float: right
  margin: 0 2px

  .kf-keep-private-label
    padding-right: 6px
    color: textDarkGrey
    font-size: 13px
    font-weight: 200
    font-smoothing: antialiased
    font-style: italic
    vertical-align: middle

// preview button
.kf-keep-hover-button-wrapper
  display: none
  position: absolute
  right: 0
  top: 0
  width: 1px
  height: 100%

  .kf-keep:hover &
    display: block

.kf-keep-hover-button-table
  display: table
  width: 100%
  height: 100%

.kf-keep-hover-button-cell
  display: table-cell
  vertical-align: middle

.kf-keep-hover-button
  position: absolute
  right: 16px
  padding: 7px 12px
  border: 1px solid transparent
  border-radius: 9px
  font-size: 11px
  color: #fff
  background: #67829c
  cursor: pointer
  user-select: none

  .kf-keep.detailed &
    background: #67829c

.kf-keep-button-close
  display: none

  .kf-keep.detailed &
    display: block

.kf-keep.detailed .kf-keep-button-preview
  display: none

.kf-tag-list>li
  display: inline-block

.kf-keep-tag-add-tag-wrapper
  float: left
  padding-top: 2px
  margin-top: 3px

.kf-keep-add-tag-button-new
.kf-keep-add-tag-button-new
  cursor: pointer
  width: 20px
  height: 20px
  display: inline-block

.kf-keep-loader
  position: relative
  top: 2px
  width: 16px
  height: 16px
  border-radius: 50%
  display: inline-block
  vertical-align: middle
  background-color: #6fa6ef
  margin: 0 8px 5px 0

.kf-keep-loader
.kf-keep-loader:before
.kf-keep-loader:after
    animation: 1s infinite linear

.kf-keep-loader:before
.kf-keep-loader:after
    width: 100%
    height: 100%
    border-radius: 50%
    position: absolute
    top: 0
    left: 0

.kf-keep-loader
  animation-name: kf-keep-loader

@keyframes kf-keep-loader {
  from {
    transform: scale(0)
    opacity: 1
  }
  to {
    transform: scale(1)
    opacity: 0
  }
}
