<div class="kf-keep-card-attribution">
  <a class="kf-keep-card-attribution-keeper-pic" ng-href="{{::keep.author.url|pathFromUrl}}"
     ng-style="{ 'background-image' : 'url(' + (keep.author.picture) + ')' }"
     ng-if="!titleOnly"></a>
  <div class="kf-keep-card-attribution-message">
    <!--Add an empty span here to make safari render the whitespace in the following spans correctly-->
    <span></span>
    <a class="kf-link" ng-href="{{::keep.author.url|pathFromUrl}}" ng-bind="::keep.author.name"></a>
    <span ng-if="::keep.sourceAttribution.slack && !showAsDiscussion">
      added this
    </span>
    <span ng-if="::!keep.sourceAttribution.slack && !showAsDiscussion">kept this</span>
    <span ng-if="::showAsDiscussion">started a discussion</span>
    <span ng-if="::showAsDiscussion && !shortMessage && keep.participants.length > 1">with
      <span class="kf-keep-card-attribution-discussion-members-list-item"
            ng-repeat="participant in keep.participants | filter:({id: '!'+keep.author.id}) | limitTo: (keep.participants.length > 4 ? 2 : 3)">
        <a class="kf-link" ng-href="{{::participant|profileUrl}}" ng-bind="participant.firstName"></a>
      </span>
      <span class="kf-keep-card-attribution-discussion-members-list-item"
            ng-if="::keep.participants.length > 4"
            ng-bind="(keep.participants.length - 3)+' others'"></span>
    </span>
    <span ng-if="::showLibraryAttribution && keep.library">
    into
    </span>
    <span ng-if="::showLibraryAttribution && keep.library.visibility === 'secret'"
         data-kf-tooltip="This library is only viewable to those you invite"
         data-kf-tooltip-position="{{ !isFirstItem ? 'top' : 'bottom' }}">
      <svg kf-symbol-sprite
           icon="lock"
           class="kf-privacy-icon"
           ng-class="{'kf-collab': keep.library.numCollaborators}"
           title="A private library"></svg>
    </span>
    <span ng-if="::showLibraryAttribution && keep.library.visibility === 'discoverable'"
          data-kf-tooltip="This library is viewable to others in search results"
          data-kf-tooltip-position="{{ !isFirstItem ? 'top' : 'bottom' }}">
      <svg kf-symbol-sprite
           icon="star"
           class="kf-privacy-icon"
           ng-class="{'kf-collab': lib.numCollaborators}"
           title="A discoverable library"
           ng-show="keep.library.visibility === 'discoverable'"></svg>
    </span>
    <a ng-if="::showLibraryAttribution && keep.library"
       class="kf-feed-tooltip-target kf-link"
       ng-href="{{ keep.library.path }}"
       kf-user-tooltip="::keep.author"
       library="::keep.library"
       ng-bind="keep.library.name"
       ng-click="keepClick(null, $event)"
       click-action="clickedLibrary"></a>

    <span ng-if="::showLibraryAttribution && keep.library.org.name">in</span>
    <a class="kf-keep-card-attribution-message-tooltip-target kf-link"
       ng-href="{{::keep.library.org.handle}}"
       kf-user-tooltip="::keep.library.org"
       ng-bind="::keep.library.org.name"
       ng-click="keepClick(null, $event)"
       ng-if="::showLibraryAttribution && keep.library.org.name"
       click-action="clickedOrganization"></a>

    <span class="kf-keep-card-attribution-slack" ng-if="::keep.sourceAttribution.slack && !shortMessage">
      <a class="kf-link" ng-href="{{::keep.sourceAttribution.slack.message.permalink}}" target="_blank" ng-click="trackSlack()">
        <span class="svg-slack kf-keep-card-attribution-slack-icon"></span><span ng-bind="keep.sourceAttribution.slack.message.channel.name"></span>
      </a>
    </span>

    <a class="kf-keep-tweet-link"
       ng-if="::keep.sourceAttribution.twitter.tweet.user.screen_name && !shortMessage"
       ng-href="{{::keep.sourceAttribution.twitter.tweet.permalink}}"
       target="_blank" ng-click="trackTweet()"><span class="kf-keep-twitter-logo svg-twitter-blue"></span><span ng-bind="'@' + keep.sourceAttribution.twitter.tweet.user.screen_name"></span>
    </a>
    <span ng-if="isAdmin && keep.summary.hasContent">·</span>
    <span ng-if="isAdmin && keep.summary.hasContent"><a
      ng-href="https://www.kifi.com/k/cached?id={{keep.id}}" target="_blank">Saved</a></span>
    <span ng-if="::attributionTime">·</span>
    <a class="kf-keep-card-attribution-page-link kf-link" ng-if="showKeepPageLink" ng-href="{{::keep.path}}">
      <time ng-attr-datetime="{{::attributionTime}}" am-time-ago="::attributionTime"
            title="{{attributionTime|localTime}}" ng-if="::attributionTime"></time>
    </a>
    <time ng-attr-datetime="{{::attributionTime}}" am-time-ago="::attributionTime"
           title="{{attributionTime|localTime}}" ng-if="::attributionTime && !showKeepPageLink"></time>
  </div>
</div>
