<div class="kf-keep-body" ng-class="::{'kf-side-by-side': image.w}">
  <div class="kf-keep-video" ng-if="::youtubeId" ng-click="clickCallback({keep: keep, event: $event})">
    <div kf-youtube video-id="youtubeId"></div>
  </div>
  <a class="kf-keep-image" ng-if="::image" ng-class="::{'kf-bottom-clip': image.clipBottom}"
    ng-style="::{'background-image': 'url(\'' + image.url + '\')', width: image.w ? image.w + 'px' : '', height: image.h ? image.h + 'px' : ''}"
    ng-href="{{::keep.url}}" target="_blank" rel="nofollow" tabindex="-1"
    ng-click="clickCallback({keep: keep, event: $event})" click-action="clickedArticleImage">
  </a>
  <div class="kf-keep-content">
    <div class="kf-keep-meta">
      <span class="kf-keep-source">{{::keepSource}}</span>
      <span class="kf-keep-twitter-attr" ng-if="::keep.sourceAttribution.twitter.screenName">
        <a href="https://www.twitter.com/{{::keep.sourceAttribution.twitter.screenName}}/status/{{::keep.sourceAttribution.twitter.idString}}" target="_blank" ng-click="trackTweet()">
          <span class="kf-keep-twitter-logo svg-twitter-blue"></span>@{{::keep.sourceAttribution.twitter.screenName}}
        </a>
      </span>
      <span class="kf-keep-length" ng-if="::keep.summary.wordCount > 0 && !youtubeId">{{::keep.summary.wordCount|timeToRead}} read</span>
    </div>
    <div class="kf-keep-title">
      <a class="kf-keep-title-link" ng-href="{{::keep.url}}" target="_blank" ng-click="clickCallback({keep: keep, event: $event})" rel="nofollow" click-action="clickedArticleTitle">{{displayTitle}}</a>
    </div>
    <div class="kf-keep-description" kf-ellipsis full-text="::keep.summary.description" max-num-lines="::image.maxDescLines || 8"></div>
  </div>

  <div class="kf-keep-footer">
    <div class="kf-keep-actions" ng-if="$root.userLoggedIn">
      <button ng-attr-class="kf-keep-keep-btn {{howKept ? 'state-kept-' + howKept : 'state-not-kept'}}"
        kf-keep-to-library-widget widget-action-text="Keep" library-click-action="onWidgetLibraryClicked(clickedLibrary)"
        kept-to-library-ids="keptToLibraryIds" lib-select-down-offset="180" lib-select-left-offset="20">
        <span ng-attr-class="{{howKept === 'private' ? 'svg-small-lock' : 'svg-hearts-green'}}"></span>
        {{howKept === 'private' ? 'Kept Private' : howKept ? 'Kept' : 'Keep'}}
      </button>
      <button class="kf-keep-share-btn" ng-click="shareAction()">
        <span class="svg-share-arrow-green"></span> Share
      </button>
    </div>
    <div class="kf-keep-who" ng-if="keep.keepersTotal || keep.keepers.length">
      <span class="kf-keep-who-pic-box" ng-repeat="keeper in keep.keepers | limitTo:9" kf-user-tooltip ng-mouseenter="showTooltip()" ng-mouseleave="hideTooltip()" ng-click="hideTooltip()">
        <a class="kf-keep-who-pic" ng-attr-style="background-image:url({{::keeper|pic:100}})" href="{{::keeper|profileUrl}}" kf-track-origin="{{::currentPageOrigin}}/alsoKeptBy"></a>
      </span>
      <span class="kf-keep-who-text" ng-if="keep.keepersTotal > (keep.keepers.length || 0)">
        {{keep.keepersTotal - (keep.keepers.length || 0) | num}} kept
      </span>
    </div>
  </div>
</div>
