<li class="kf-keep"
  ng-hide="keep.unkept"
  ui-draggable="true" drag="keep" drag-channel="keepDragChannel" ui-on-drop="onTagDrop($data)" drop-channel="tagDragChannel">
  <time class="kf-keep-time" ng-attr-datetime="{{keep.createdAt}}" ng-show="keep.createdAt" am-time-ago="keep.createdAt"></time>
  <div class="kf-keep-handle">
    <div class="kf-keep-checkbox" ng-click="onCheck($event)"></div>
  </div>
  <div class="kf-keep-title">
    <span class="kf-example-tag">Example keep</span>
    <a class="kf-keep-title-link" ng-href="{{keep.url}}" target="_blank" ng-attr-title="{{getTitle()}}" ng-bind-html="keep.titleHtml">
    </a>
  </div>
  <div class="kf-keep-url" ng-attr-title="{{keep.url}}" ng-bind-html="keep.descHtml"></div>
  <div class="kf-keep-tags">
    <span class="kf-keep-tag" ng-class="{ example: isExampleTag(tag) }" ng-repeat="tag in getTags()">
      <a class="kf-keep-tag-link" ng-href="/tag/{{tag.id}}">{{tag.name}}</a>
    </span>
  </div>
  <div class="kf-keep-who">
    <span kf-keep-who-pics me="me" keepers="keep.keepers"></span>
    <span class="kf-keep-who-others" ng-if="showOthers()"></span>
    <span kf-keep-who-text keep="keep"></span>
  </div>
  <div class="kf-keep-arrow-1">
    <div class="kf-keep-arrow-2">
      <div class="kf-keep-arrow-3">
        <div class="kf-keep-arrow-4"></div>
      </div>
    </div>
  </div>
  <div class="kf-keep-hover-button-wrapper">
    <div class="kf-keep-hover-button-table">
      <div class="kf-keep-hover-button-cell">
        <div class="kf-keep-hover-button">
          <span class="kf-keep-button-preview">Preview</span>
          <span class="kf-keep-button-close">Close</span>
        </div>
      </div>
    </div>
  </div>
</li>
