<div class="kf-send-keep-widget" kf-wheel-stop ng-click="onClick()" ng-keydown="processKeyEvent($event)">
  <div class="kf-skw-send-body" ng-hide="showCreateLibrary">
    <div class="kf-skw-header">
      <header class="kf-skw-header-txt">Send</header>
      <svg class="kf-skw-close symbol-sprite" kf-symbol-sprite icon="error" ng-click="removeWidget()">
    </div>

    <ul class="kf-skw-suggestions" smart-scroll kf-wheel-allow scroll-distance="'40%'" scroll-next="fetchSuggestions()">
      <li ng-repeat="suggestion in suggestions" ng-click="selectSuggestion(suggestion)"
          ng-class="{'highlighted': suggestion.isHighlighted }" ng-mouseenter="onHoverSuggestion(suggestion)" ng-mouseleave="onUnhoverSuggestion(suggestion)">
        <div class="kf-skw-suggestion" ng-include="'keep/sendKeepSuggestionItem.tpl.html'"></div>
      </li>
      <li class="kf-skw-suggestion" ng-if="suggestions.length <= 2">
        <div class="kf-skw-suggestion-img-container">
          <div class="kf-skw-suggestion-img kf-skw-suggestion-img-email kf-skw-suggestion-img-newemail"></div>
        </div>
        <span class="kf-skw-suggestion-content" ng-click="validEmail ? selectSuggestion({ email: typeahead, kind: 'email' }): null;">
          <div class="kf-skw-suggestion-name" ng-bind="typeahead"></div>
          <div class="kf-skw-suggestion-subname" ng-bind="validEmail ? 'An email address' : ((typeahead ? 'Keep' : 'Start') + ' typing an email address')"></div>
        </span>
      </li>
    </ul>

    <span class="kf-skw-lib-create-container" ng-click="onClickCreateLibrary()">
      <span class="kf-skw-lib-create-icon sprite sprite-add-link-2-active"></span>
      <span class="kf-skw-lib-create-txt">Create library</span>
    </span>

    <div class="kf-skw-input-container">
      <span class="kf-skw-recipient-container" ng-repeat="selection in selections">
        <span class="kf-skw-recipient kf-skw-recipient-library" ng-init="library = selection;" ng-if="selection.kind === 'library'" ng-style="{'background-color': library.color || 'grey' }">
          <svg kf-symbol-sprite
               ng-if="library.visibility !== 'discoverable'"
               icon="{{library|libPrivacyIcon}}"></svg>
          <img
            class="kf-skw-recipient-library-slack"
            ng-if="library && library.slack"
            src="/img/slack-hash-white.png"/>
          <span class="kf-skw-recipient-txt" ng-bind="library.name"></span>
          <span class="kf-skw-recipient-remove" ng-click="removeSelection(selection)">x</span>
        </span>
        <span class="kf-skw-recipient kf-skw-recipient-user" ng-init="user = selection;" ng-if="selection.kind === 'user'">
          <img class="kf-skw-recipient-user-img" ng-src="{{user|pic:100}}"/>
          <span class="kf-skw-recipient-txt" ng-bind="user.name"></span>
          <span class="kf-skw-recipient-remove" ng-click="removeSelection(selection)">x</span>
        </span>
        <span class="kf-skw-recipient kf-skw-recipient-email" ng-init="email = selection;" ng-if="selection.kind === 'email'">
          <span class="kf-skw-recipient-txt" ng-bind="email.email"></span>
          <span class="kf-skw-recipient-remove" ng-click="removeSelection(selection)">x</span>
        </span>
      </span>
      <input class="kf-skw-input" ng-model="typeahead" ng-change="onTypeaheadInputChanged()" autofocus="autofocus" placeholder="{{ selections.length ? '' : 'Enter a user, library, or email...' }}">
      <div class="kf-skw-input-shadow" contenteditable="true"></div>
      <div class="kf-skw-loading-spinner" kf-loading-spinner hide="!sending"></div>
      <div class="kf-skw-success-txt" ng-if="!sending && success">Success!</div>
      <button class="kf-skw-send-btn" ng-if="!sending && !success" ng-click="onSend()" ng-disabled="selections.length === 0">Send</button>
    </div>
  </div>
  <div class="kf-skw-send-body" ng-if="showCreateLibrary">
    <div kf-create-library-widget once-library-created="onceLibraryCreated" on-exit="exitCreateLibrary()"></div>
  </div>
</div>
