.kf-send-keep-widget
  position: absolute
  border: 1px solid alpha(black, 1)
  border-radius: 8px
  overflow: hidden
  background: white
  text-align: left
  z-index: 2
  width: 300px
  font-size: 12px

  .org-selector-org
    height: 40px

    h1
      font-size: 12px

.kf-skw-send-body.ng-enter
  transition: all .5s linear
  opacity: 0

.kf-skw-send-body.ng-enter.ng-enter-active
  opacity: 1

.kf-skw-header
  display: flex
  justify-content: space-between
  align-items: center
  background-color: #333
  padding 12px 10px

.kf-skw-header-txt
  font-size: 14px
  color: white

.kf-skw-close
  height: 16px
  width: 16px
  margin-left: auto
  cursor: pointer

  &:hover
    fill: white
    opacity: .8

  &:active
    fill: grey
    opacity: 1

.kf-skw-suggestions
  max-height: 175px
  overflow: scroll

  &:last-child
    border-bottom: none

.kf-skw-suggestion-email
  &[disabled]
    cursor: default

  &:hover:not([disabled])
    background-color: #e7e7e7

.highlighted
  background-color: #e7e7e7

.kf-skw-lib-create-container
  display: inline-flex
  align-items: center
  height: 50px
  width: 100%
  cursor: pointer
  font-weight: 600
  border-top: 1px solid lightGrey
  border-bottom: 1px solid lightGrey

  &:hover
    background-color: #fafafa

.kf-skw-lib-create-icon
  margin-left: 8px
  width: 32px
  height: 32px
  transform: scale(.7)

.kf-skw-lib-create-txt
  font-size: 12px
  margin-left: 10px

.kf-skw-input-container
  display: flex
  flex-wrap: wrap
  background-color: #fcfcfc
  padding: 10px

.kf-skw-recipient-container
  display: inline-flex
  align-items: center
  margin-bottom: 4px
  margin-right: 3px

.kf-skw-recipient
  display: inline-flex
  align-items: center
  justify-content: space-between
  cursor: default
  font-size: 12px
  padding: 3px 4px
  border: 0px
  border-radius: 4px
  color: white

  * + *
    margin-left: 3px

.kf-skw-recipient-txt
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  max-width: 210px

.kf-skw-recipient-email
  background-color: linkBlueColor

.kf-skw-recipient-library
  > svg
    width: 15px
    height: 15px
    fill: white

  > img
    width: 12px
    height: 12px
    margin-top: -1px

.kf-skw-recipient-user
  background: alpha(gray, .5)
  color: white
  border-radius: 4px

  > img
    position: relative
    width: 15px
    height: 15px
    border-radius: 100%
    bottom: 1px

.kf-skw-recipient-remove
  display: inline
  position: relative
  cursor: pointer
  bottom: .5px

  &:hover
    color: alpha(black, .2)

.kf-skw-input
  display: inline
  position: relative
  bottom: 2px
  border: 0px
  font-size: 12px
  background-color: inherit
  width: 162px // fit placeholder text width

.kf-skw-input-shadow
  position: absolute
  visibility: hidden

.kf-skw-send-btn
.kf-skw-loading-spinner
.kf-skw-success-txt
  margin-right: 5px
  margin-left: auto
  margin-top: auto
  margin-bottom: 0px

.kf-skw-send-btn
  border: 1px solid alpha(libraryGreen, .7)
  border-radius: 5px
  padding: 5px 10px
  background: white
  color: libraryGreen
  font-size: 12px
  text-align: center
  position: relative
  height: 15px
  margin-top: 2px

  &:hover
    border: 1px solid lightGrey

  &:active
    background-color: alpha(grey, .1)

  &:disabled
    background-color: alpha(grey, .1)
    opacity: .5
    border: 1px solid grey
    color: grey

.kf-skw-loading-spinner
  position: relative
  right: 10px

  > svg
    width: 27px
    height: 27px

  > p
    display: none

.kf-skw-success-txt
  color: libraryGreen
  font-size: 12px
  margin-bottom: 5px
