red1 = #f00
textDarkColor = #333343
textGreyColor = #808A92
textLightGrey = #ccd0d3
textDarkGrey = #818692
textBlackColor = #26292C
linkColor = #006BB2
countColor = #8eb4cc
countGreyColor = #818692
kifiHeadColor = #99ccf2
sidebarTransitionDuration = 0.3s
blueColor = #6fa6ef
greenColor = #41c482
clearBlueColor = #7daff1
clearGreenColor = #6bd19e
darkBlueColor = #478eeb
appBackgroundColor = #f5f5f5
editYellowColor = #fcf8c8
defaultBoxShadow = 0 1px 1px 0 #dadae2
defaultBorder = 1px solid #dadae2
separatorColor = #dbdee3
separatorBorder = 1px solid separatorColor
appMaxWidth = 1400px
