$add-a-tag-button-active_x = 50px;
$add-a-tag-button-active_y = 318px;
$add-a-tag-button-active_offset_x = -50px;
$add-a-tag-button-active_offset_y = -318px;
$add-a-tag-button-active_width = 48px;
$add-a-tag-button-active_height = 28px;
$add-a-tag-button-active_total_width = 388px;
$add-a-tag-button-active_total_height = 346px;
$add-a-tag-button-active_image = '/img/sprites.png';
$add-a-tag-button-active = 50px 318px -50px -318px 48px 28px 388px 346px '/img/sprites.png';

$add-a-tag-button-default_x = 268px;
$add-a-tag-button-default_y = 274px;
$add-a-tag-button-default_offset_x = -268px;
$add-a-tag-button-default_offset_y = -274px;
$add-a-tag-button-default_width = 48px;
$add-a-tag-button-default_height = 28px;
$add-a-tag-button-default_total_width = 388px;
$add-a-tag-button-default_total_height = 346px;
$add-a-tag-button-default_image = '/img/sprites.png';
$add-a-tag-button-default = 268px 274px -268px -274px 48px 28px 388px 346px '/img/sprites.png';

$add-a-tag-button-hover_x = 0px;
$add-a-tag-button-hover_y = 318px;
$add-a-tag-button-hover_offset_x = 0px;
$add-a-tag-button-hover_offset_y = -318px;
$add-a-tag-button-hover_width = 48px;
$add-a-tag-button-hover_height = 28px;
$add-a-tag-button-hover_total_width = 388px;
$add-a-tag-button-hover_total_height = 346px;
$add-a-tag-button-hover_image = '/img/sprites.png';
$add-a-tag-button-hover = 0px 318px 0px -318px 48px 28px 388px 346px '/img/sprites.png';

$add-link-active_x = 218px;
$add-link-active_y = 0px;
$add-link-active_offset_x = -218px;
$add-link-active_offset_y = 0px;
$add-link-active_width = 62px;
$add-link-active_height = 64px;
$add-link-active_total_width = 388px;
$add-link-active_total_height = 346px;
$add-link-active_image = '/img/sprites.png';
$add-link-active = 218px 0px -218px 0px 62px 64px 388px 346px '/img/sprites.png';

$add-link-default_x = 152px;
$add-link-default_y = 66px;
$add-link-default_offset_x = -152px;
$add-link-default_offset_y = -66px;
$add-link-default_width = 62px;
$add-link-default_height = 64px;
$add-link-default_total_width = 388px;
$add-link-default_total_height = 346px;
$add-link-default_image = '/img/sprites.png';
$add-link-default = 152px 66px -152px -66px 62px 64px 388px 346px '/img/sprites.png';

$burger-default_x = 142px;
$burger-default_y = 318px;
$burger-default_offset_x = -142px;
$burger-default_offset_y = -318px;
$burger-default_width = 40px;
$burger-default_height = 26px;
$burger-default_total_width = 388px;
$burger-default_total_height = 346px;
$burger-default_image = '/img/sprites.png';
$burger-default = 142px 318px -142px -318px 40px 26px 388px 346px '/img/sprites.png';

$burger-hover_x = 100px;
$burger-hover_y = 318px;
$burger-hover_offset_x = -100px;
$burger-hover_offset_y = -318px;
$burger-hover_width = 40px;
$burger-hover_height = 26px;
$burger-hover_total_width = 388px;
$burger-hover_total_height = 346px;
$burger-hover_image = '/img/sprites.png';
$burger-hover = 100px 318px -100px -318px 40px 26px 388px 346px '/img/sprites.png';

$burger-open-default_x = 320px;
$burger-open-default_y = 248px;
$burger-open-default_offset_x = -320px;
$burger-open-default_offset_y = -248px;
$burger-open-default_width = 40px;
$burger-open-default_height = 30px;
$burger-open-default_total_width = 388px;
$burger-open-default_total_height = 346px;
$burger-open-default_image = '/img/sprites.png';
$burger-open-default = 320px 248px -320px -248px 40px 30px 388px 346px '/img/sprites.png';

$burger-open-hover_x = 320px;
$burger-open-hover_y = 280px;
$burger-open-hover_offset_x = -320px;
$burger-open-hover_offset_y = -280px;
$burger-open-hover_width = 40px;
$burger-open-hover_height = 30px;
$burger-open-hover_total_width = 388px;
$burger-open-hover_total_height = 346px;
$burger-open-hover_image = '/img/sprites.png';
$burger-open-hover = 320px 280px -320px -280px 40px 30px 388px 346px '/img/sprites.png';

$checkbox-icon-active_x = 320px;
$checkbox-icon-active_y = 168px;
$checkbox-icon-active_offset_x = -320px;
$checkbox-icon-active_offset_y = -168px;
$checkbox-icon-active_width = 42px;
$checkbox-icon-active_height = 40px;
$checkbox-icon-active_total_width = 388px;
$checkbox-icon-active_total_height = 346px;
$checkbox-icon-active_image = '/img/sprites.png';
$checkbox-icon-active = 320px 168px -320px -168px 42px 40px 388px 346px '/img/sprites.png';

$checkbox-icon-default_x = 320px;
$checkbox-icon-default_y = 126px;
$checkbox-icon-default_offset_x = -320px;
$checkbox-icon-default_offset_y = -126px;
$checkbox-icon-default_width = 44px;
$checkbox-icon-default_height = 40px;
$checkbox-icon-default_total_width = 388px;
$checkbox-icon-default_total_height = 346px;
$checkbox-icon-default_image = '/img/sprites.png';
$checkbox-icon-default = 320px 126px -320px -126px 44px 40px 388px 346px '/img/sprites.png';

$checkbox-icon-hover_x = 320px;
$checkbox-icon-hover_y = 84px;
$checkbox-icon-hover_offset_x = -320px;
$checkbox-icon-hover_offset_y = -84px;
$checkbox-icon-hover_width = 42px;
$checkbox-icon-hover_height = 40px;
$checkbox-icon-hover_total_width = 388px;
$checkbox-icon-hover_total_height = 346px;
$checkbox-icon-hover_image = '/img/sprites.png';
$checkbox-icon-hover = 320px 84px -320px -84px 42px 40px 388px 346px '/img/sprites.png';

$checkbox-icon-partial_x = 320px;
$checkbox-icon-partial_y = 42px;
$checkbox-icon-partial_offset_x = -320px;
$checkbox-icon-partial_offset_y = -42px;
$checkbox-icon-partial_width = 42px;
$checkbox-icon-partial_height = 40px;
$checkbox-icon-partial_total_width = 388px;
$checkbox-icon-partial_total_height = 346px;
$checkbox-icon-partial_image = '/img/sprites.png';
$checkbox-icon-partial = 320px 42px -320px -42px 42px 40px 388px 346px '/img/sprites.png';

$close-x-icon-default_x = 362px;
$close-x-icon-default_y = 280px;
$close-x-icon-default_offset_x = -362px;
$close-x-icon-default_offset_y = -280px;
$close-x-icon-default_width = 26px;
$close-x-icon-default_height = 26px;
$close-x-icon-default_total_width = 388px;
$close-x-icon-default_total_height = 346px;
$close-x-icon-default_image = '/img/sprites.png';
$close-x-icon-default = 362px 280px -362px -280px 26px 26px 388px 346px '/img/sprites.png';

$close-x-icon-hover_x = 362px;
$close-x-icon-hover_y = 248px;
$close-x-icon-hover_offset_x = -362px;
$close-x-icon-hover_offset_y = -248px;
$close-x-icon-hover_width = 26px;
$close-x-icon-hover_height = 26px;
$close-x-icon-hover_total_width = 388px;
$close-x-icon-hover_total_height = 346px;
$close-x-icon-hover_image = '/img/sprites.png';
$close-x-icon-hover = 362px 248px -362px -248px 26px 26px 388px 346px '/img/sprites.png';

$edit-pencil-icon_x = 364px;
$edit-pencil-icon_y = 42px;
$edit-pencil-icon_offset_x = -364px;
$edit-pencil-icon_offset_y = -42px;
$edit-pencil-icon_width = 24px;
$edit-pencil-icon_height = 24px;
$edit-pencil-icon_total_width = 388px;
$edit-pencil-icon_total_height = 346px;
$edit-pencil-icon_image = '/img/sprites.png';
$edit-pencil-icon = 364px 42px -364px -42px 24px 24px 388px 346px '/img/sprites.png';

$find-friends-icon_x = 66px;
$find-friends-icon_y = 208px;
$find-friends-icon_offset_x = -66px;
$find-friends-icon_offset_y = -208px;
$find-friends-icon_width = 64px;
$find-friends-icon_height = 64px;
$find-friends-icon_total_width = 388px;
$find-friends-icon_total_height = 346px;
$find-friends-icon_image = '/img/sprites.png';
$find-friends-icon = 66px 208px -66px -208px 64px 64px 388px 346px '/img/sprites.png';

$friends-active_x = 0px;
$friends-active_y = 208px;
$friends-active_offset_x = 0px;
$friends-active_offset_y = -208px;
$friends-active_width = 64px;
$friends-active_height = 64px;
$friends-active_total_width = 388px;
$friends-active_total_height = 346px;
$friends-active_image = '/img/sprites.png';
$friends-active = 0px 208px 0px -208px 64px 64px 388px 346px '/img/sprites.png';

$friends-default_x = 152px;
$friends-default_y = 0px;
$friends-default_offset_x = -152px;
$friends-default_offset_y = 0px;
$friends-default_width = 64px;
$friends-default_height = 64px;
$friends-default_total_width = 388px;
$friends-default_total_height = 346px;
$friends-default_image = '/img/sprites.png';
$friends-default = 152px 0px -152px 0px 64px 64px 388px 346px '/img/sprites.png';

$friends-hover_x = 132px;
$friends-hover_y = 142px;
$friends-hover_offset_x = -132px;
$friends-hover_offset_y = -142px;
$friends-hover_width = 64px;
$friends-hover_height = 64px;
$friends-hover_total_width = 388px;
$friends-hover_total_height = 346px;
$friends-hover_image = '/img/sprites.png';
$friends-hover = 132px 142px -132px -142px 64px 64px 388px 346px '/img/sprites.png';

$grabbericon_x = 218px;
$grabbericon_y = 66px;
$grabbericon_offset_x = -218px;
$grabbericon_offset_y = -66px;
$grabbericon_width = 26px;
$grabbericon_height = 60px;
$grabbericon_total_width = 388px;
$grabbericon_total_height = 346px;
$grabbericon_image = '/img/sprites.png';
$grabbericon = 218px 66px -218px -66px 26px 60px 388px 346px '/img/sprites.png';

$guide-icon_x = 70px;
$guide-icon_y = 72px;
$guide-icon_offset_x = -70px;
$guide-icon_offset_y = -72px;
$guide-icon_width = 68px;
$guide-icon_height = 68px;
$guide-icon_total_width = 388px;
$guide-icon_total_height = 346px;
$guide-icon_image = '/img/sprites.png';
$guide-icon = 70px 72px -70px -72px 68px 68px 388px 346px '/img/sprites.png';

$heart-icon_x = 84px;
$heart-icon_y = 274px;
$heart-icon_offset_x = -84px;
$heart-icon_offset_y = -274px;
$heart-icon_width = 44px;
$heart-icon_height = 40px;
$heart-icon_total_width = 388px;
$heart-icon_total_height = 346px;
$heart-icon_image = '/img/sprites.png';
$heart-icon = 84px 274px -84px -274px 44px 40px 388px 346px '/img/sprites.png';

$import-bookmarks-icon_x = 76px;
$import-bookmarks-icon_y = 0px;
$import-bookmarks-icon_offset_x = -76px;
$import-bookmarks-icon_offset_y = 0px;
$import-bookmarks-icon_width = 74px;
$import-bookmarks-icon_height = 70px;
$import-bookmarks-icon_total_width = 388px;
$import-bookmarks-icon_total_height = 346px;
$import-bookmarks-icon_image = '/img/sprites.png';
$import-bookmarks-icon = 76px 0px -76px 0px 74px 70px 388px 346px '/img/sprites.png';

$import-from-other-services-icon_x = 0px;
$import-from-other-services-icon_y = 0px;
$import-from-other-services-icon_offset_x = 0px;
$import-from-other-services-icon_offset_y = 0px;
$import-from-other-services-icon_width = 74px;
$import-from-other-services-icon_height = 70px;
$import-from-other-services-icon_total_width = 388px;
$import-from-other-services-icon_total_height = 346px;
$import-from-other-services-icon_image = '/img/sprites.png';
$import-from-other-services-icon = 0px 0px 0px 0px 74px 70px 388px 346px '/img/sprites.png';

$install-extension-icon_x = 0px;
$install-extension-icon_y = 72px;
$install-extension-icon_offset_x = 0px;
$install-extension-icon_offset_y = -72px;
$install-extension-icon_width = 68px;
$install-extension-icon_height = 68px;
$install-extension-icon_total_width = 388px;
$install-extension-icon_total_height = 346px;
$install-extension-icon_image = '/img/sprites.png';
$install-extension-icon = 0px 72px 0px -72px 68px 68px 388px 346px '/img/sprites.png';

$kifi-logo-white_x = 320px;
$kifi-logo-white_y = 0px;
$kifi-logo-white_offset_x = -320px;
$kifi-logo-white_offset_y = 0px;
$kifi-logo-white_width = 68px;
$kifi-logo-white_height = 40px;
$kifi-logo-white_total_width = 388px;
$kifi-logo-white_total_height = 346px;
$kifi-logo-white_image = '/img/sprites.png';
$kifi-logo-white = 320px 0px -320px 0px 68px 40px 388px 346px '/img/sprites.png';

$lock-private-icon_x = 320px;
$lock-private-icon_y = 210px;
$lock-private-icon_offset_x = -320px;
$lock-private-icon_offset_y = -210px;
$lock-private-icon_width = 36px;
$lock-private-icon_height = 36px;
$lock-private-icon_total_width = 388px;
$lock-private-icon_total_height = 346px;
$lock-private-icon_image = '/img/sprites.png';
$lock-private-icon = 320px 210px -320px -210px 36px 36px 388px 346px '/img/sprites.png';

$lock-private-white_x = 282px;
$lock-private-white_y = 0px;
$lock-private-white_offset_x = -282px;
$lock-private-white_offset_y = 0px;
$lock-private-white_width = 36px;
$lock-private-white_height = 43px;
$lock-private-white_total_width = 388px;
$lock-private-white_total_height = 346px;
$lock-private-white_image = '/img/sprites.png';
$lock-private-white = 282px 0px -282px 0px 36px 43px 388px 346px '/img/sprites.png';

$my-keeps-library-active_x = 218px;
$my-keeps-library-active_y = 128px;
$my-keeps-library-active_offset_x = -218px;
$my-keeps-library-active_offset_y = -128px;
$my-keeps-library-active_width = 52px;
$my-keeps-library-active_height = 52px;
$my-keeps-library-active_total_width = 388px;
$my-keeps-library-active_total_height = 346px;
$my-keeps-library-active_image = '/img/sprites.png';
$my-keeps-library-active = 218px 128px -218px -128px 52px 52px 388px 346px '/img/sprites.png';

$my-keeps-library-default_x = 198px;
$my-keeps-library-default_y = 208px;
$my-keeps-library-default_offset_x = -198px;
$my-keeps-library-default_offset_y = -208px;
$my-keeps-library-default_width = 52px;
$my-keeps-library-default_height = 52px;
$my-keeps-library-default_total_width = 388px;
$my-keeps-library-default_total_height = 346px;
$my-keeps-library-default_image = '/img/sprites.png';
$my-keeps-library-default = 198px 208px -198px -208px 52px 52px 388px 346px '/img/sprites.png';

$search-icon-active_x = 42px;
$search-icon-active_y = 274px;
$search-icon-active_offset_x = -42px;
$search-icon-active_offset_y = -274px;
$search-icon-active_width = 40px;
$search-icon-active_height = 42px;
$search-icon-active_total_width = 388px;
$search-icon-active_total_height = 346px;
$search-icon-active_image = '/img/sprites.png';
$search-icon-active = 42px 274px -42px -274px 40px 42px 388px 346px '/img/sprites.png';

$search-icon-default_x = 0px;
$search-icon-default_y = 274px;
$search-icon-default_offset_x = 0px;
$search-icon-default_offset_y = -274px;
$search-icon-default_width = 40px;
$search-icon-default_height = 42px;
$search-icon-default_total_width = 388px;
$search-icon-default_total_height = 346px;
$search-icon-default_image = '/img/sprites.png';
$search-icon-default = 0px 274px 0px -274px 40px 42px 388px 346px '/img/sprites.png';

$settings-active_x = 0px;
$settings-active_y = 142px;
$settings-active_offset_x = 0px;
$settings-active_offset_y = -142px;
$settings-active_width = 64px;
$settings-active_height = 64px;
$settings-active_total_width = 388px;
$settings-active_total_height = 346px;
$settings-active_image = '/img/sprites.png';
$settings-active = 0px 142px 0px -142px 64px 64px 388px 346px '/img/sprites.png';

$settings-default_x = 66px;
$settings-default_y = 142px;
$settings-default_offset_x = -66px;
$settings-default_offset_y = -142px;
$settings-default_width = 64px;
$settings-default_height = 64px;
$settings-default_total_width = 388px;
$settings-default_total_height = 346px;
$settings-default_image = '/img/sprites.png';
$settings-default = 66px 142px -66px -142px 64px 64px 388px 346px '/img/sprites.png';

$settings-hover_x = 132px;
$settings-hover_y = 208px;
$settings-hover_offset_x = -132px;
$settings-hover_offset_y = -208px;
$settings-hover_width = 64px;
$settings-hover_height = 64px;
$settings-hover_total_width = 388px;
$settings-hover_total_height = 346px;
$settings-hover_image = '/img/sprites.png';
$settings-hover = 132px 208px -132px -208px 64px 64px 388px 346px '/img/sprites.png';

$small-checked-box_x = 358px;
$small-checked-box_y = 210px;
$small-checked-box_offset_x = -358px;
$small-checked-box_offset_y = -210px;
$small-checked-box_width = 30px;
$small-checked-box_height = 30px;
$small-checked-box_total_width = 388px;
$small-checked-box_total_height = 346px;
$small-checked-box_image = '/img/sprites.png';
$small-checked-box = 358px 210px -358px -210px 30px 30px 388px 346px '/img/sprites.png';

$tag-add-plus-default_x = 214px;
$tag-add-plus-default_y = 274px;
$tag-add-plus-default_offset_x = -214px;
$tag-add-plus-default_offset_y = -274px;
$tag-add-plus-default_width = 52px;
$tag-add-plus-default_height = 40px;
$tag-add-plus-default_total_width = 388px;
$tag-add-plus-default_total_height = 346px;
$tag-add-plus-default_image = '/img/sprites.png';
$tag-add-plus-default = 214px 274px -214px -274px 52px 40px 388px 346px '/img/sprites.png';

$tag-blue-active_x = 172px;
$tag-blue-active_y = 274px;
$tag-blue-active_offset_x = -172px;
$tag-blue-active_offset_y = -274px;
$tag-blue-active_width = 40px;
$tag-blue-active_height = 40px;
$tag-blue-active_total_width = 388px;
$tag-blue-active_total_height = 346px;
$tag-blue-active_image = '/img/sprites.png';
$tag-blue-active = 172px 274px -172px -274px 40px 40px 388px 346px '/img/sprites.png';

$tag-blue-default_x = 130px;
$tag-blue-default_y = 274px;
$tag-blue-default_offset_x = -130px;
$tag-blue-default_offset_y = -274px;
$tag-blue-default_width = 40px;
$tag-blue-default_height = 40px;
$tag-blue-default_total_width = 388px;
$tag-blue-default_total_height = 346px;
$tag-blue-default_image = '/img/sprites.png';
$tag-blue-default = 130px 274px -130px -274px 40px 40px 388px 346px '/img/sprites.png';

$tag-new-plus-icon_x = 364px;
$tag-new-plus-icon_y = 68px;
$tag-new-plus-icon_offset_x = -364px;
$tag-new-plus-icon_offset_y = -68px;
$tag-new-plus-icon_width = 12px;
$tag-new-plus-icon_height = 12px;
$tag-new-plus-icon_total_width = 388px;
$tag-new-plus-icon_total_height = 346px;
$tag-new-plus-icon_image = '/img/sprites.png';
$tag-new-plus-icon = 364px 68px -364px -68px 12px 12px 388px 346px '/img/sprites.png';




spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

spriteBackgroundSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
  spriteBackgroundSize($sprite)
}

spriteWidth2x($sprite) {
  width: ceil((($sprite[4] + 1)/2));
}

spriteHeight2x($sprite) {
  height: ceil((($sprite[5] + 1)/2));
}

spritePosition2x($sprite) {
  background-position: ceil(($sprite[2]/2)) ceil(($sprite[3]/2));
}

spriteBackgroundSize2x($sprite) {
  background-size: ceil(($sprite[6]/2)) ceil(($sprite[7]/2));
}

sprite2x($sprite) {
  spriteImage($sprite)
  spritePosition2x($sprite)
  spriteWidth2x($sprite)
  spriteHeight2x($sprite)
  spriteBackgroundSize2x($sprite)
}
