html
  height: 100%
  text-align: left
  overflow: visible

body
  position: relative
  overflow: visible
  min-height: calc(100% - 62px)
  width: 100%
  padding: 0
  margin: 0;
  background: appBackgroundColor
  font-family: Lato, Helvetica, Arial, sans-serif

  &.modal-open
    overflow: hidden

*, :after, :before
  box-sizing: content-box

h1, h2, h3, h4, h5, label
  margin: 0
  font-weight: normal
  font-smoothing: antialiased

h1, h2
  title-text()

input[type="text"]
  padding: 0
  border: none
  margin: 0
  background: #fff

img
  border: none
  vertical-align: middle

menu, ol, ul
  list-style: none
  padding: 0
  margin: 0

:link,
:visited
  color: linkColor
  text-decoration: none
  font-smoothing: antialiased

::-webkit-input-placeholder
  color: #aaaaaa
  font-style: italic
:-moz-placeholder
  color: #aaaaaa
  font-style: italic
::-moz-placeholder
  color: #aaaaaa
  font-style: italic
:-ms-input-placeholder
  color: #aaaaaa
  font-style: italic

:focus
  outline: none

.clearfix
  zoom: 1

  &::before
  &::after
    content: ''
    display: table

  &::after
    clear: both

.kf-app
  padding-top: appHeaderHeight

.ng-cloak
  display: none !important

.kf-width-bounded
  margin: 0 auto
  min-width: appMinWidth
  max-width: appMinWidth
  padding: 0 appSidePad

  .kf-866-966 &
    min-width: 866px
    max-width: 966px

.kf-min-width-bounded
  min-width: appMinWidth + 2 * appSidePad

  .kf-866-966 &
    min-width: 866px + 2 * appSidePad

.kf-button
  display: inline-block
  vertical-align: top
  height = 32px
  height: height
  border: 1px solid #bbb
  border-radius: 5px
  padding: 0 15px
  background: linear-gradient(to top, #f3f3f3, #fff)
  font: 13px\/height Lato, Helvetica, Arial, sans-serif
  color: #666
  a&
    font-smoothing: auto

    &:focus
      outline: none

.kf-button-icon
  display: inline-block
  vertical-align: top
  width: 18px
  height: inherit
  background-repeat: no-repeat
  background-position: center center
  background-size: contain
  margin: 0 5px 0 -3px

@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 400
  src: url(https://djty7jcqog9qu.cloudfront.net/fonts/la400.woff) format('woff')

@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 700
  src: url(https://djty7jcqog9qu.cloudfront.net/fonts/la700.woff) format('woff')

@font-face
  font-family: 'Merriweather'
  font-style: normal
  font-weight: 400
  src: url(//djty7jcqog9qu.cloudfront.net/fonts/mw400.woff) format('woff')

@font-face
  font-family: 'Merriweather'
  font-style: normal
  font-weight: 700
  src: url(//djty7jcqog9qu.cloudfront.net/fonts/mw700.woff) format('woff')
