html
  height: 100%
  text-align: center
  overflow-x: auto
  overflow-y: hidden

body
  position: relative
  height: 100%
  min-width: 1024px
  padding: 0
  margin: 0 auto
  background: #fafafa
  font-family: Arial, sans-serif

.mac &
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

*, :after, :before
  box-sizing: content-box

h1, h2, h3, h4, h5, label
  margin: 0
  font-weight: normal

input[type="text"]
  padding: 0
  border: none
  margin: 0
  background: #fff

img
  border: none
  vertical-align: middle

menu, ol, ul
  list-style: none
  padding: 0
  margin: 0

a[href]
  color: linkColor
  text-decoration: none

::-webkit-input-placeholder
  color: #b6c3cc

:-moz-placeholder
  color: #b6c3cc

::-moz-placeholder
  color: #b6c3cc

:-ms-input-placeholder
  color: #b6c3cc

:focus
  outline: none

.clearfix
  &::before
  &::after
    content: ""
    display: table

  &::after
    clear: both

  zoom: 1

.kf-cols
  display: table
  table-layout: fixed
  min-width: 100%
  height: 100%
  overflow: hidden
  text-align: left
  text-align: start

.kf-col
  position: relative
  display: table-cell
  vertical-align: top

.kf-col-inner
  position: relative
  height: 100%
  width: 100%
