.slider-rules {
  margin: 10px 20px;
  min-width: 660px;
  max-width: 760px;
}
.slider-rules td {
  vertical-align: middle;
}
.slider-rules th:first-child,
.slider-rules td:first-child,
.slider-rules th:nth-child(2),
.slider-rules td:nth-child(2) {
  text-align: center;
}
.slider-rules select,
.slider-rules input {
  margin: 0;
  vertical-align: middle;
  text-align: end;
}
.slider-rules input[type=number] {
  width: 50px;
}
.slider-rules td.y:before {
  content: "Y";
  color: green;
}
.slider-rules td.n:before {
  content: "N";
  color: red;
}

.slider-patterns {
  margin: 10px 0;
}
.slider-patterns th:first-child,
.slider-patterns td:first-child,
.slider-patterns th:last-child,
.slider-patterns td:last-child {
  width: 5%;
  text-align: center;
  vertical-align: middle;
}
.slider-patterns td:nth-child(2),
.slider-patterns td:nth-child(3) {
  padding-right: 20px;
}
.slider-patterns input[type=text] {
  margin: 0;
  width: 100%;
}
.slider-patterns .match-y:before {
  content: "\2714";
  font-size: 24px;
  line-height: 24px;
  color: green;
}
.slider-patterns .match-n:before {
  content: "\2297";
  font-size: 36px;
  line-height: 24px;
  color: red;
}

.domain-tags {
  margin: 10px 0;
  min-width: 600px;
  max-width: 700px;
}

.domain-tags th,
.domain-tags td {
  width: 70%;
  text-align: left;
  vertical-align: middle;
}

.domain-tags th:first-child,
.domain-tags td:first-child {
  width: 5%;
  text-align: center;
}

.domain-overrides {
  margin: 10px 0;
  min-width: 600px;
  max-width: 700px;
}

.domain-overrides input {
  margin: 0;
}

.domain-overrides th,
.domain-overrides td {
  text-align: left;
  vertical-align: middle;
}

.domain-overrides th:first-child,
.domain-overrides td:first-child,
.domain-overrides th:last-child,
.domain-overrides td:last-child {
  width: 5%;
  text-align: center;
}

