.kf-mobile-interstitial
  width: 300px
  height: 400px
  max-width: calc(100vw - 30px)
  max-height: calc(100vh - 30px)
  position: absolute
  top: 15px
  z-index: 2000
  box-sizing: border-box
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.75)
  margin: 0 15px

  @media screen and (min-width: 330px) and (min-height: 430px)
    left: 50%
    margin: 0
    margin-left: -150px

  p.kf-mobile-interstitial-banner
    margin-top: 0
    background: accentGreen
    color: white
    padding: 15px
    margin: -15px -16px
    margin-bottom: 0

  img
    width: 150px
    height: 150px
    margin: 0px auto
    display: block

  .kf-button
    display: block
    margin: 0 auto

  .kf-mobile-interstitial-secondary-action
    font-size: 0.85rem
    line-height: 1.2rem
    margin-bottom: 0

  .kf-container-main
    display: flex
    flex-direction: column
    justify-content: space-between
    height: calc(100% - 35px)
    margin-bottom: 0

