<div class="kf-mobile-interstitial kf-container" ng-if="show">
  <header class="kf-container-header">
    <h1>Download Kifi Mobile</h1>
  </header>
  <main class="kf-container-main">
    <p class="kf-mobile-interstitial-banner">Kifi in the browser isn't quite ready for small screens but we do have an excellent app for your phone.</p>
    <img src="/img/kifi-mobile.png" />
    <button class="kf-button kf-button-large">Download the App</button>
    <p class="kf-mobile-interstitial-secondary-action" ng-click="permanentlyHide()">
      <a href="#">No thank you, I understand the road ahead might be bumpy</a>
    </p>
  </main>
</div>
