<div class="dialog-content">
  <a class="dialog-x" ng-click="hide()"></a>
  <div class="dialog-body-wrap">
    <div class="dialog-body dialog-centered">
    	<h1 class="dialog-header ng-binding">Copying Keeps</h1><br>
	    	We're copying your tagged keeps over, but it might take a second...<br>
	    	Feel free to continue managing your tags or head straight to the library!
	   	</div>
    </div>
  </div>
</div>
<div class="dialog-buttons">
  <button class="manage-tag-action-button" ng-click="hide()">Close</button>
  <button class="manage-tag-action-button" ng-click="navigateToLibrary()">Go to Library!</button>
</div>
