<div class="dialog-content">
  <a class="dialog-x sprite-close-x-icon" ng-click="hide()"></a>
  <div class="dialog-body-wrap">
    <div class="dialog-body dialog-centered">
	    <div>We're copying your tagged keeps over, but it might take a second...</div>
	    <div>Feel free to continue managing your tags or head straight to the library!</div>
    </div>
  </div>
</div>
<div class="manage-tag-action">
  <button class="manage-tag-action-button" ng-click="hide()">Manage Tags</button>
  <button class="manage-tag-action-button" ng-click="navigateToLibrary()">Go to Library!</button>
</div>
