.kf-footer
  position: absolute
  top: 70px
  left: 0
  right: 0
  bottom: 0
  font-size: 14px
  background-color: white
  font-smoothing: antialiased

  .antiscroll-inner
    padding: 6px 0 0 36px
    box-sizing: border-box
