<div class="kf-footer" antiscroll="{ autoHide: false }">
  <h2 class="kf-footer-header">Getting Started with Kifi</h2>
  <ul class="kf-footer-list about-kifi">
    <li>
      <a class="kf-footer-item-link kifi-tutorial" href="#" ng-click="data.showGettingStarted = true">
        <span class="kf-footer-item-icon kf-footer-item-icon-tutorial"></span>
        Quick guide to get started
      </a>
      <div ng-if="data.showGettingStarted">
        <iframe class="kifi-onboarding-iframe" ng-src="https://www.kifi.com/assets/onboarding.html" frameborder="0"></iframe>
      </div>
    </li>
    <li class="install-kifi">
      <a class="kf-footer-item-link" href="#"  ng-click="data.showInstall = true">
        <span class="kf-footer-item-icon kf-footer-item-icon-install"></span>
        Install the extension
      </a>
      <div kf-modal show="data.showInstall">
        <div kf-basic-modal-content centered="true" title="Email verified" action-text="Continue">
          Thanks for verifying your email address.
        </div>
      </div>
    </li>
    <li>
      <a class="kf-footer-item-link" href="friends/invite">
        <span class="kf-footer-item-icon kf-footer-item-icon-friends"></span>
        Find friends
      </a>
    </li>
  </ul>

  <h2 class="kf-footer-header">Kifi Support and Updates</h2>
  <ul class="kf-footer-list about-us">
    <li>
      <a class="kf-footer-item-link support-center" href="http://support.kifi.com">
        <span class="kf-footer-item-icon kf-footer-item-icon-support"></span>
        Support center
      </a>
    </li>
    <li>
      <a class="kf-footer-item-link contact-us" href="http://support.kifi.com/customer/portal/emails/new">
        <span class="kf-footer-item-icon kf-footer-item-icon-contact"></span>
        Contact us
      </a>
    </li>
    <li>
      <a class="kf-footer-item-link updates-features" href="http://blog.kifi.com">
        <span class="kf-footer-item-icon kf-footer-item-icon-blog"></span>
        Kifi blog
      </a>
    </li>
  </ul>

  <div class="kf-footer-more">
    <a href="/privacy">Privacy</a>
    <span class="kf-footer-sep">|</span>
    <a href="/terms">Terms</a>
    <span class="kf-footer-sep">|</span>
    <a href="/about">About Kifi</a>
    <span class="kf-footer-sep">|</span>
    <a href="http://www.42go.com">About FortyTwo</a></li>
  </div>
</div>
