.kf-footer
  position: absolute
  top: 70px
  left: 0
  right: 0
  bottom: 0
  font-size: 14px
  background-color: white
  font-smoothing: antialiased

  .antiscroll-inner
    padding: 6px 0 0 36px
    box-sizing: border-box

.kf-footer-header
  margin: 30px 0 6px
  font-size: 20px
  font-weight: 400
  line-height: 36px
  color: #556179

.kf-footer-list
  padding: 0
  margin: 0
  list-style: none
  line-height: 46px

.kf-footer-item-link
  display: inline-block
  padding: 0 24px 0 10px
  margin-left: -10px

  &.kf-footer-item-link
    color: #556179

  &:hover
    background-color: #f7fafe

  &:active
    background-color: #eff2f7

.kf-footer-item-icon
  display: inline-block
  font-size: 0
  width: 30px
  margin-right: 16px
  background-repeat: no-repeat
  vertical-align: middle

.kf-footer-item-icon-tutorial
  background-image: url(../img/viewtutorial.png)
  background-size: 24px 23px
  height: 23px

.kf-footer-item-icon-install
  background-image: url(../img/splash.png)
  background-position: 0 -246px
  background-size: 30px auto
  height: 30px

.kf-footer-item-icon-file-import
  background-image: url(../img/splash.png)
  background-position: 0 -217px
  background-size: 30px auto
  height: 30px

.kf-footer-item-icon-friends
  background-image: url(../img/splash.png)
  background-position: 0 -48px
  background-size: 30px auto
  height: 24px

.kf-footer-item-icon-support
  background-image: url(../img/supporticon.png)
  background-size: 24px 24px
  height: 24px

.kf-footer-item-icon-contact
  background-image: url(../img/contacticon.png)
  background-size: 23px 18px
  height: 18px

.kf-footer-item-icon-blog
  background-image: url(../img/blogicon.png)
  background-size: 25px 19px
  height: 19px

html[data-kifi-ext] .install-kifi
  display: none

.import-bookmarks
  display: none

html[data-kifi-ext] .import-bookmarks
  display: block

.kf-footer-more
  display: inline-block
  font-size: 14px
  padding: 22px 0
  border-top: 1px solid #dbdee3
  margin-top: 40px
  color: #99a3b3

  a
    color: #99a3b3

.kf-footer-sep
  padding: 0 2px
  color: #dbdee3
