<div class="kf-footer" antiscroll="{ autoHide: false }">
  <div class="kf-helprank" ng-if="me.clickCount > 0">
        <div class="kf-footer-header"><span class="kf-heart">♥</span> Your help rank</div>
        <div class="kf-footer-item">
          <span class="kf-footer-item-num">{{me.clickCount}}</span>
          <span class="kf-footer-item-text">
            You have helped friends discover {{me.clickCount}} new things in the last month
          </span>
        </div>
        <div class="kf-footer-item">
          <span class="kf-footer-item-num">{{me.rekeepCount}}</span>
          <span class="kf-footer-item-text">
            {{me.rekeepCount}} people have kept new discoveries into their libraries because of you
          </span>
        </div>
  </div>
  <h2 class="kf-footer-header">Getting Started with Kifi</h2>
  <ul class="kf-footer-list about-kifi">
    <li>
      <a class="kf-footer-item-link kifi-tutorial" href="#" ng-click="data.showGettingStarted = true">
        <span class="kf-footer-item-icon kf-footer-item-icon-tutorial"></span>
        Quick guide to get started
      </a>
      <div ng-if="data.showGettingStarted">
        <iframe class="kifi-onboarding-iframe" ng-src="https://www.kifi.com/assets/onboarding.html" frameborder="0"></iframe>
      </div>
    </li>
    <li class="install-kifi">
      <a class="kf-footer-item-link" href="javascript:" ng-click="triggerInstall()">
        <span class="kf-footer-item-icon kf-footer-item-icon-install"></span>
        <span ng-show="!installInProgress()">Install the extension</span>
        <span ng-show="installInProgress()">Installing...</span>
        <span ng-show="installed()">Installed!</span>
      </a>
    </li>
    <li class="import-bookmarks">
      <a class="kf-footer-item-link" href="javascript:" ng-click="importBookmarks()">
        <span class="kf-footer-item-icon kf-footer-item-icon-install"></span>
        Import your bookmarks
      </a>
    </li>
    <li class="import-bookmark-file">
      <a class="kf-footer-item-link" href="javascript:" ng-click="importBookmarkFile()">
        <span class="kf-footer-item-icon kf-footer-item-icon-file-import"></span>
        Import Delicious / Kippt / Pocket
      </a>
    </li>
    <li>
      <a class="kf-footer-item-link" href="/invite">
        <span class="kf-footer-item-icon kf-footer-item-icon-friends"></span>
        Find friends
      </a>
    </li>
  </ul>

  <div kf-modal show="data.showInstallErrorModal">
    <div kf-basic-modal-content>
      <div>Something seems to have gone wrong installing the browser extension.</div>
      <div>Please try again later, or <a href="http://support.kifi.com/customer/portal/emails/new">contact us</a>.</div>
    </div>
  </div>

  <h2 class="kf-footer-header">Kifi Support and Updates</h2>
  <ul class="kf-footer-list about-us">
    <li>
      <a class="kf-footer-item-link support-center" href="http://support.kifi.com">
        <span class="kf-footer-item-icon kf-footer-item-icon-support"></span>
        Support center
      </a>
    </li>
    <li>
      <a class="kf-footer-item-link contact-us" href="http://support.kifi.com/customer/portal/emails/new">
        <span class="kf-footer-item-icon kf-footer-item-icon-contact"></span>
        Contact us
      </a>
    </li>
    <li>
      <a class="kf-footer-item-link updates-features" href="http://blog.kifi.com">
        <span class="kf-footer-item-icon kf-footer-item-icon-blog"></span>
        Kifi blog
      </a>
    </li>
  </ul>

  <div class="kf-footer-more">
    <a href="https://www.kifi.com/privacy" target="_self">Privacy</a>
    <span class="kf-footer-sep">|</span>
    <a href="https://www.kifi.com/terms" target="_self">Terms</a>
    <span class="kf-footer-sep">|</span>
    <a href="https://www.kifi.com/about" target="_self">About Kifi</a>
    <span class="kf-footer-sep">|</span>
    <a href="http://www.42go.com">About FortyTwo</a></li>
  </div>
</div>
