.kf-tooltip-body
  position: relative
  z-index: 2000

.kf-tooltip-bg
  position: absolute
  z-index: 1998
  width: 100%
  height: 100%

.kf-tooltip
  position: fixed
  visibility: hidden
  z-index: 1999
  opacity: 0
  transition: opacity 0.3s, visibility 0s 0.3s


.kf-tooltipped:hover > .kf-tooltip
  transition: opacity 0.3s 1.5s
  visibility: visible
  opacity: 1
