.kifi-comments-posted {
  padding: 10px 12px 4px;
  overflow-y: auto;
  max-height: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.kifi-comments-none {
  display: none;
}
div.kifi-comments-none:only-child {
  display: block;
}
.kifi-comment-posted {
  border-top: 1px solid #d2d2d2;
  padding: 14px 10px 12px 0;
  position: relative;
}
.kifi-comment-posted:last-child {
  padding-bottom: 0;
}
.kifi-comment-posted time {
  position: absolute;
  right: 10px;
  top: -6px;
  line-height: 11px;
  font-size: 11px;
  padding: 0 3px;
  background-color: #fafafa;
  color: #a9a9a9;
  display: none;
}
.kifi-comment-posted:hover time,
.kifi-comments-posted-inner:not(:hover) .kifi-comment-posted:last-child time {
  display: block;
}
img.kifi-comment-pic {
  float: left;
  width: 35px;
  height: 35px;
  background-color: rgba(0,0,0,.1);
  border-radius: 2px;
}
img.kifi-comment-pic.kifi-self {
  border-radius: 20px;
}
.kifi-comment-body {
  margin-left: 45px;
  word-wrap: break-word;
}
.kifi-comment-name {
  position: relative;
  top: -2px;
  margin-bottom: 2px;
  font-weight: bold;
}
.kifi-comment-posted p {
  line-height: 16px;
  color: #444;
}
.kifi-comment-posted p a[href] {
  text-decoration: underline;
}
.kifi-comment-posted::after {
  content: " ";
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
div.kifi-comment-x {
  position: absolute;
  right: 16px;
  top: 13px;
  padding: 0 3px;
  border-radius: 9px;
  line-height: 13px;
  color: #d2d2d2;
  cursor: pointer;
  display: none;
  -webkit-transition: right ease-in-out 60ms, background-color linear 60ms;
  transition: right ease-in-out 60ms, background-color linear 60ms;
}
div.kifi-comment-x:hover,
div.kifi-comment-x.kifi-confirm {
  background-color: #d2d2d2;
  color: #fff;
}
div.kifi-comment-x.kifi-confirm,
div.kifi-comment-x.kifi-confirmed {
  right: 32px;
  background-color: #c00;
}
.kifi-comment-posted:hover .kifi-comment-x {
  display: block;
}
.kifi-comment-x::before {
  content: "\00d7";
}
