.kifi-comments-posted {
  margin: 0 12px;
  padding-top: 10px;
  overflow-y: auto;
  max-height: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.kifi-comments-none {
  display: none;
}
div.kifi-comments-none:only-child {
  display: block;
}
.kifi-comment-posted {
  border-top: 1px solid #d2d2d2;
  padding: 7px 0;
  position: relative;
}
.kifi-comment-posted:last-child {
  padding-bottom: 0;
}
.kifi-comment-posted time {
  position: absolute;
  right: 10px;
  top: -7px;
  line-height: 11px;
  font-size: 11px;
  padding: 0 3px;
  background-color: #fafafa;
  color: #a9a9a9;
  display: none;
}
.kifi-comment-posted:hover time {
  display: block;
}
img.kifi-comment-pic {
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 2px;
}
img.kifi-comment-pic.kifi-self {
  border-radius: 20px;
}
.kifi-comment-body {
  margin-left: 43px;
}
.kifi-comment-name {
  font-weight: 400;
  position: relative;
  top: -2px;
}
.kifi-comment-posted::after {
  content: " ";
  display: block;
  font: 0/0 serif;
  visibility: hidden;
  clear: both;
}
