a.kifi-pane-mark-notices-read {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0 12px;
  font-size: 12px;
  line-height: 40px;
  color: #fff !important;
  display: none;
}
a.kifi-pane-mark-notices-read:hover {
  text-decoration: none;
  background-color: #67829c;
}
a.kifi-pane-mark-notices-read:active {
  background-color: #607991;
}
.kifi-notices {
  overflow-y: auto;
  max-height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.kifi-pane-notices .kifi-scrollable-above.kifi-can-scroll {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}
.kifi-notices+.kifi-scrollable-below {
  height: 6px;
  position: relative;
}
.kifi-notices+.kifi-scrollable-below.kifi-can-scroll {
  box-shadow: 0 -2px 3px 0 rgba(0,0,0,.2);
}
div.kifi-notices-none {
  margin: 10px 12px;
  display: none;
}
div.kifi-notices-none:only-child {
  display: block;
}
.kifi-notice {
  position: relative;
  border-bottom: 1px solid #d2d2d2;
  padding: 10px 12px 10px 58px;
  min-height: 10px;
  cursor: pointer;
  background: #e5ebf1;
}
.kifi-notice:hover {
  background: #dfe7ef;
}
.kifi-notice-visited {
  background: #fefefe;
}
.kifi-notice-visited:hover {
  background: #f8fafd;
}
.kifi-notice-new,
.kifi-notice-new:hover {
  background: #f7f0d0;
}
.kifi-notice time {
  margin: 4px 0 0 0;
  font-size: 11px;
  color: #ccc;
  display: block;
}
.kifi-notice-avatar {
  position: absolute;
  top: 12px;
  left: 8px;
  width: 40px;
  height: 40px;
}
.kifi-notice-name {
  font-size: 12px;
  margin: 0 0 2px 0;
  color: #333;
}
.kifi-notice-name .kifi-author-name {
  font-weight: bold;
}
.kifi-notice-action {
  font-size: 12px;
  margin: 2px 0 4px;
  color: #333;
}
.kifi-notice-page {
  font-size: 12px;
  margin: 8px 0;
}
.kifi-notice-page a.kifi-link,
.kifi-notice-page a.kifi-link:hover,
.kifi-notice-page a.kifi-link:visited,
.kifi-notice-page a.kifi-link:active {
  display: block;
  color: #97a1ac;
  width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.kifi-notice-text {
  margin: 6px 0;
  font-size: 13px;
  color: #3a3c3d;
  word-wrap: break-word;
}
