/* a weak blank-slate (insulation) attempt */
.kifi-slider2 *,
.kifi-pane * {
  float: none;
  width: auto;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  position: static;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background: transparent;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  min-width: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  text-align: inherit;
  direction: inherit;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
  -webkit-transition: none;
  transition: none;
}
.kifi-slider2,
.kifi-pane {
  color: #000;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.kifi-slider2 div,
.kifi-pane div {
  display: block;
}
.kifi-slider2 a,
.kifi-slider2 span,
.kifi-pane a,
.kifi-pane span {
  display: inline;
}
.kifi-slider2 img,
.kifi-pane img {
  display: inline-block;
}
.kifi-slider2 a:link,
.kifi-slider2 a:visited,
.kifi-slider2 a:link:hover,
.kifi-slider2 a:visited:hover,
.kifi-pane a:link,
.kifi-pane a:visited,
.kifi-pane a:link:hover,
.kifi-pane a:visited:hover {
  color: -webkit-link;
  color: -moz-hyperlinktext;
  text-decoration: none;
  font-weight: inherit;
  border: none;
  cursor: pointer;
}

#kifi-tile>.kifi-slider2-tip {
  right: 0;
  margin-bottom: 13px;
  -webkit-transform: translate(0,20px);
  transform: translate(0,20px);
  -webkit-transition: opacity .8s ease-out, -webkit-transform .8s ease-out;
  transition: opacity .8s ease-out, -webkit-transform .8s ease-out, transform .8s ease-out;
}
#kifi-tile.kifi-hover-showing>.kifi-slider2-tip {
  -webkit-transform: none;
  transform: none;
  -webkit-transition: opacity .5s ease-in, -webkit-transform .5s ease-out;
  transition: opacity .5s ease-in, -webkit-transform .5s ease-out, transform .5s ease-out;
}
#kifi-tile.kifi-with-count>.kifi-slider2-tip {
  margin-bottom: 23px;
}
#kifi-tile>.kifi-slider2-tip::before {
  left: auto;
  right: 13px;
}
#kifi-tile>.kifi-slider2-tip::before {
  left: auto;
  right: 13px;
}
#kifi-tile>.kifi-slider2-tip a.kifi-slider2-keeper {
  cursor: default;
}
#kifi-tile.kifi-with-slider>.kifi-slider2-tip {
  display: none;
}

.kifi-slider2 {
  position: absolute;
  bottom: 6px;
  right: 6px;
  height: 42px;
  width: 136px;
  border: 6px solid transparent;
  margin: -6px;
  font: 12px "Helvetica Neue",arial,sans-serif;
  direction: ltr;
}
.kifi-slider2:hover {
  border-width: 14px 6px 14px 14px;
  margin: -14px -6px -14px -14px;
}
#kifi-tile .kifi-slider2 {
  bottom: 0;
  right: 0;
}
.kifi-pane .kifi-slider2:hover {
  border-left-width: 6px;
}
.kifi-slider2.kifi-tiny {
  width: 42px;
}
.kifi-slider2.kifi-auto {
  width: 136px;
  -webkit-transition: width 200ms ease-out;
  transition: width 200ms ease-out;
}
.kifi-slider2.kifi-wide {
  width: 310px;
  -webkit-transition: width 100ms ease-out;
  transition: width 100ms ease-out;
}
.kifi-slider2.kifi-growing {
  overflow: hidden;
}
.kifi-slider2.kifi-hiding {
  overflow: hidden;
  width: 0;
  opacity: 0;
  -webkit-transition: width 100ms ease-in, opacity 60ms ease-in 40ms;
  transition: width 100ms ease-in, opacity 60ms ease-in 40ms;
}
.kifi-slider2.kifi-hiding.kifi-auto {
  -webkit-transition: width 200ms ease-in, opacity 120ms ease-in 80ms;
  transition: width 200ms ease-in, opacity 120ms ease-in 80ms;
}
html>.kifi-slider2.kifi-wide {
  position: fixed;
  z-index: 999999999991;
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: -webkit-transform .25s ease-out, transform .25s ease-out;
}
.kifi-slider2-x {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 42px;
  width: 0;
  border-radius: 5px;
  background-position: 8px 15px;
  background-size: auto 13px;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: width .25s ease-in;
  transition: width .25s ease-in;
}
.kifi-with-pane .kifi-slider2-x {
  width: 29px;
}
.kifi-slider2-x .kifi-slider2-tip {
  right: 0;
}
.kifi-slider2-x .kifi-slider2-tip::before {
  left: auto;
  right: 10px;
}

.kifi-slider2-keep {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 136px;
  height: 42px;
  border-radius: 5px;
}
.kifi-pane-parent .kifi-slider2-keep {
  left: 174px;
  right: auto;
}
.kifi-with-pane .kifi-slider2-keep {
  width: 104px;
}
.kifi-slider2-keep,
.kifi-slider2-dock { /* width for .kifi-slider2-keep only */
  -webkit-transition: width .25s ease-in, -webkit-transform 50ms ease-in, box-shadow 50ms ease-in;
  transition: width .25s ease-in, -webkit-transform 50ms ease-in, transform 50ms ease-in, box-shadow 50ms ease-in;
}
#kifi-tile.ui-draggable .kifi-slider2-keep,
#kifi-tile.ui-draggable .kifi-slider2-dock {
  box-shadow: 0 8px 7px -4px rgba(0,0,0,.7);
  -webkit-transform: translate(0,-4px);
  transform: translate(0,-4px);
}
.kifi-slider2-keep-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 42px;
  line-height: 42px;
  border-radius: inherit;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.kifi-unkept .kifi-slider2-keep-btn,
.kifi-unkept .kifi-slider2-keep-btn.kifi-hoverless:hover,
.kifi-unkept .kifi-slider2-keep-btn.kifi-hoverless:active {
  background: #22303f;
}
.kifi-unkept .kifi-slider2-keep-btn:hover {
  background: #263647;
}
.kifi-unkept .kifi-slider2-keep-btn:active {
  background: #1f2b39;
}
.kifi-unkept .kifi-slider2-keep-btn::before {
  content: "keep it";
}
.kifi-public .kifi-slider2-keep-btn,
.kifi-private .kifi-slider2-keep-btn,
.kifi-public .kifi-slider2-keep-btn.kifi-hoverless:hover,
.kifi-private .kifi-slider2-keep-btn.kifi-hoverless:hover,
.kifi-public .kifi-slider2-keep-btn.kifi-hoverless:active,
.kifi-private .kifi-slider2-keep-btn.kifi-hoverless:active {
  background: #2980b9;
}
.kifi-public .kifi-slider2-keep-btn:hover,
.kifi-private .kifi-slider2-keep-btn:hover {
  background: #2c88c4;
}
.kifi-public .kifi-slider2-keep-btn:active,
.kifi-private .kifi-slider2-keep-btn:active {
  background: #2676ab;
}
.kifi-public .kifi-slider2-keep-btn::before,
.kifi-private .kifi-slider2-keep-btn::before,
.kifi-public .kifi-slider2-keep-btn.kifi-hoverless:hover::before,
.kifi-private .kifi-slider2-keep-btn.kifi-hoverless:hover::before {
  content: "kept";
}
.kifi-private .kifi-slider2-keep-btn::before,
.kifi-private .kifi-slider2-keep-btn.kifi-hoverless:hover::before {
  display: block;
  line-height: 32px;
}
.kifi-private .kifi-slider2-keep-btn::after,
.kifi-private .kifi-slider2-keep-btn.kifi-hoverless:hover::after {
  content: "(private)";
  display: block;
  margin-top: -5px;
  font-size: 9px;
  line-height: 0;
}
.kifi-public .kifi-slider2-keep-btn:hover::before,
.kifi-private .kifi-slider2-keep-btn:hover::before {
  content: "unkeep";
  line-height: 42px;
}
.kifi-private .kifi-slider2-keep-btn:hover::after {
  content: "";
}
.kifi-slider2-lock {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 24px;
  border-top-left-radius: inherit;
  border-bottom-right-radius: 18px;
  background-color: #465f78;
  background-repeat: no-repeat;
  background-position: 0 999px;
  cursor: pointer;
}
.kifi-slider2-lock:hover {
  background-color: #7897b5;
}
.kifi-slider2-lock:active {
  background-color: #6e8aa6;
}
.kifi-private .kifi-slider2-lock {
  background-color: #00bb00;
}
.kifi-private .kifi-slider2-lock:hover {
  background-color: #00c800;
}
.kifi-private .kifi-slider2-lock:active {
  background-color: #00b800;
}
.kifi-slider2-lock::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 7px;
  height: 9px;
  background-image: inherit;
  background-size: auto 9px;
  background-repeat: no-repeat;
  font-size: 0;
  opacity: .4;
}
.kifi-slider2-lock:hover::before,
.kifi-private .kifi-slider2-lock::before {
  opacity: 1;
}
.kifi-slider2-keep-btn .kifi-slider2-tip::before {
  left: auto;
  right: 62px;
}
.kifi-with-pane .kifi-slider2-keep-btn .kifi-slider2-tip::before {
  -webkit-transform: translate(-16px,0);
  transform: translate(-16px,0);
}
.kifi-slider2-keepers-intro {
  font-size: 14px;
  line-height: normal;
  text-align: left;
}
.kifi-slider2-keepers {
  margin: 6px 0;
  text-align: left;
  direction: rtl;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  cursor: default;
  position: relative;
}
a.kifi-slider2-keeper {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-left: 1px;
  background-size: 100%;
  border-radius: 2px;
}
.kifi-slider2-keeper .kifi-kcard {
  bottom: 50px;
  right: -6px;
  direction: ltr;
}
.kifi-slider2-keeper:first-child .kifi-kcard::before,
.kifi-slider2-keeper:first-child .kifi-kcard::after {
  left: auto;
  right: 15px;
}
.kifi-slider2-keeper:nth-child(2) .kifi-kcard::before,
.kifi-slider2-keeper:nth-child(2) .kifi-kcard::after {
  left: auto;
  right: 52px;
}
.kifi-slider2-keeper:nth-child(3) .kifi-kcard::before,
.kifi-slider2-keeper:nth-child(3) .kifi-kcard::after {
  left: auto;
  right: 89px;
}
.kifi-slider2-keeper:nth-child(4) .kifi-kcard::before,
.kifi-slider2-keeper:nth-child(4) .kifi-kcard::after {
  left: auto;
  right: 126px;
}
.kifi-slider2-keeper:nth-child(n+5) {
  position: relative;
}
.kifi-slider2-keeper:nth-child(n+5) .kifi-kcard {
  right: -134px;
}
.kifi-slider2-keepers-caption {
  clear: right;
  font-size: 12px;
  text-align: right;
}

.kifi-slider2-dock {
  position: absolute;
  bottom: 0;
  right: 139px;
  width: 171px;
  height: 42px;
  background: #67829c;
  border-radius: 5px;
  font-size: 0;
  line-height: 0;
  text-align: right; /* keeps contents still during transition */
}
.kifi-slider2.kifi-auto .kifi-slider2-dock {
  display: none;
}
.kifi-slider2-dock-btn {
  display: inline-block !important;
  height: 42px;
  width: 42px;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  position: relative;
}
.kifi-slider2-dock-btn.kifi-slider2-notices {
  background-size: auto 16px;
  background-position: 15px 14px;
}
.kifi-slider2-dock-btn.kifi-slider2-comments {
  background-size: auto 16px;
  background-position: 12px 15px;
}
.kifi-slider2-dock-btn.kifi-slider2-messages {
  background-size: auto 17px;
  background-position: 10px 15px;
}
.kifi-slider2-dock-btn.kifi-slider2-general {
  background-size: auto 14px;
  background-position: 12px 15px;
}
.kifi-slider2-x,
.kifi-slider2-dock-btn {
  background-color: #67829c;
}
.kifi-slider2-x:hover,
.kifi-slider2-dock-btn:hover {
  background-color: #7492af;
}
.kifi-slider2-x:active,
.kifi-slider2-dock-btn:active,
.kifi-slider2-dock-btn.kifi-at {
  background-color: #5e778f;
}
.kifi-slider2-dock-btn:first-child {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.kifi-slider2-dock-btn:last-child {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.kifi-slider2.kifi-growing .kifi-count,
.kifi-slider2.kifi-hiding .kifi-count {
  display: none;
}
.kifi-slider2-dock-sep {
  display: inline-block !important;
  width: 1px;
  height: 34px;
  margin-top: 4px;
  background: #506982;
}

.kifi-slider2-tip {
  position: absolute;
  bottom: 100%;
  width: auto;
  height: auto;
  margin-bottom: 14px;
  border-radius: 6px;
  padding: 8px 12px 10px;
  background-color: rgba(53,60,67,.9);
  color: #fff;
  font-size: 12px;
  line-height: normal;
  text-align: left;
  white-space: nowrap;
  cursor: default;
  opacity: 0;
  -webkit-transform: translate(0, 2px);
  transform: translate(0, 2px);
  -webkit-transition: opacity 90ms ease-in-out, -webkit-transform 90ms ease-out;
  transition: opacity 90ms ease-in-out, -webkit-transform 90ms ease-out, transform 90ms ease-out;
}
.kifi-hover-showing .kifi-slider2-tip {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  -webkit-transition-duration: 50ms;
  transition-duration: 50ms;
}
.kifi-slider2-tip-below {
  bottom: auto;
  top: 100%;
  margin-bottom: 0;
  margin-top: 20px;
  -webkit-transform: translate(0,-2px);
  transform: translate(0,-2px);
}
.kifi-slider2-tip::before {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  font-size: 0;
  line-height: 0;
  border-style: solid;
  border-width: 8px 8px 0;
  border-color: rgba(53,60,67,.9) transparent;
}
.kifi-slider2-tip-below::before {
  top: auto;
  bottom: 100%;
  border-width: 0 8px 8px;
}
.kifi-titled-tip {
  margin-top: 4px;
  border-top: 1px solid #fff;
  padding-top: 6px;
}

.kifi-slider2-drag-glass {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999999993;
  cursor: move;
}
