.kifi-tile,
.kifi-tile * {
  background: transparent;
}
.kifi-tile {
  position: fixed;
  z-index: 999999999991;
  bottom: 0;
  right: 0;
  left: auto;
  top: auto;
  width: 42px;
  height: 42px;
  border: 6px solid transparent;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;
  font-family: "Helvetica Neue",arial,sans-serif;
  -webkit-transition: -webkit-transform 90ms ease-in-out;
  transition: transform 90ms ease-in-out;
  -webkit-perspective: 200px;
  perspective: 200px;
}
.kifi-tile-flip {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.kifi-tile[data-kept] .kifi-tile-flip {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.kifi-tile-keep,
.kifi-tile-kept {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  opacity: .4;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: visibility 0s .125s; /* broken backface-visibility workaround */
  transition: visibility 0s .125s;
}
.kifi-tile-keep {
  background-color: #263f5c;
  background-size: 26px auto;
  background-position: center;
  background-repeat: no-repeat;
}
.kifi-tile-kept {
  background-color: #0a5aab;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.kifi-tile[data-kept] .kifi-tile-keep,
.kifi-tile:not([data-kept]) .kifi-tile-kept {
  visibility: hidden;
}
.kifi-tile .kifi-tile-kept::before {
  content: "kept";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 42px;
}
.kifi-tile.ui-draggable .kifi-tile-flip,
.kifi-tile.kifi-behind-slider .kifi-tile-flip {
  display: none;
}
.kifi-count,
.kifi-slider2 .kifi-count {
  display: inline-block;
  position: relative;
  top: -12px;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  min-width: 20px;
  border-radius: 15px;
  background: #e74c3c padding-box;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
}
.kifi-tile.kifi-with-slider>.kifi-count {
  display: none;
}
