#kifi-tile {
  position: fixed;
  z-index: 999999999991;
  bottom: 0;
  right: 0;
  left: auto;
  top: auto;
  width: 42px;
  height: 42px;
  border: 6px solid transparent;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;
  font-family: "Helvetica Neue",arial,sans-serif;
  -webkit-transition: -webkit-transform ease-in-out 90ms;
  transition: -webkit-transform ease-in-out 90ms, transform ease-in-out 90ms;
  -webkit-perspective: 200px;
  perspective: 200px;
}
.kifi-tile-keep,
.kifi-tile-kept {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  opacity: .4;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
}
.kifi-tile-keep {
  background-color: #263f5c;
  background-size: 26px auto;
  background-position: center;
  background-repeat: no-repeat;
}
#kifi-tile .kifi-tile-kept {
  background-color: #0a5aab;
}
#kifi-tile .kifi-tile-kept::before {
  content: "kept";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 14px;
  line-height: 42px;
}
#kifi-tile.ui-draggable .kifi-tile-keep,
#kifi-tile.ui-draggable .kifi-tile-kept,
#kifi-tile.kifi-behind-slider .kifi-tile-keep,
#kifi-tile.kifi-behind-slider .kifi-tile-kept {
  display: none;
}
#kifi-tile[data-kept] .kifi-tile-keep {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
#kifi-tile:not([data-kept]) .kifi-tile-kept {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.kifi-count,
.kifi-slider2 .kifi-count {
  display: inline-block;
  position: relative;
  top: -12px;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  min-width: 20px;
  border-radius: 15px;
  background: #e74c3c padding-box;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
}
#kifi-tile.kifi-with-slider>.kifi-count {
  display: none;
}
