#kifi-tile {
  position: fixed;
  z-index: 999999999991;
  bottom: 0;
  right: 0;
  left: auto;
  top: auto;
  width: 42px;
  height: 42px;
  border: 6px solid transparent;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;
  font-family: "Helvetica Neue",arial,sans-serif;
  -webkit-transition: -webkit-transform ease-in-out 90ms;
  transition: -webkit-transform ease-in-out 90ms, transform ease-in-out 90ms;
}
.kifi-tile-transparent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  background-color: #263f5c;
  background-size: 26px auto;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .4;
}
#kifi-tile[data-kept] .kifi-tile-transparent {
  background-color: #0a5aab;
  background-image: none !important;
}
#kifi-tile[data-kept] .kifi-tile-transparent::before {
  content: "kept";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 14px;
  line-height: 42px;
}
#kifi-tile.ui-draggable .kifi-tile-transparent {
  display: none;
}

.kifi-count,
.kifi-slider2 .kifi-count {
  display: inline-block;
  position: relative;
  top: -12px;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  min-width: 20px;
  border-radius: 15px;
  background: #e74c3c padding-box;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
}
#kifi-tile.kifi-with-slider>.kifi-count {
  display: none;
}
