<div class="kf-gd clearfix">
  <div class="kf-gd-top clearfix">
    <h2 class="kf-gd-title">Goodies</h2>
    <button class="kf-gd-btn" ng-click="triggerGuide(true)" kf-min-version="3.3.0">
      <span class="sprite sprite-guide-icon"></span>
      <span class="kf-gd-line-1">Learn the ropes</span>
      <span class="kf-gd-line-2">Start our step-by-step guide</span>
    </button>
    <button class="kf-gd-btn" ng-click="triggerInstall()">
      <span class="sprite sprite-install-extension-icon"></span>
      <span class="kf-gd-line-1">Get the full browser experience</span>
      <span class="kf-gd-line-2" ng-if="!installed() && !installInProgress()">Install the Kifi extension</span>
      <span class="kf-gd-line-2" ng-if="!installed() && installInProgress()">Installing…</span>
      <span class="kf-gd-line-2" ng-if="installed()">Installed!</span>
    </button>
    <button class="kf-gd-btn" ng-click="importBookmarks()">
      <span class="sprite sprite-import-bookmarks-icon"></span>
      <span class="kf-gd-line-1">Get better recommendations</span>
      <span class="kf-gd-line-2">Import your browser bookmarks</span>
    </button>
    <button class="kf-gd-btn" ng-click="importBookmarkFile()">
      <span class="sprite sprite-import-from-other-services-icon"></span>
      <span class="kf-gd-line-1">Jumpstart your Kifi</span>
      <span class="kf-gd-line-2">Import from Delicious, Pocket, Kippt, etc.</span>
    </button>
  </div>
  <div class="kf-gd-bottom">
    <a class="kf-gd-help clearfix" href="http://support.kifi.com" target="_blank">
      <span class="kf-gd-help-qn-mark">?</span>
      <span class="kf-gd-line-1">Get the help you need</span>
      <span class="kf-gd-line-2">Visit our Help Center</span>
    </a>
  </div>
</div>
