.kf-rcl
  margin-bottom: 10px

rcl-side-pad = 30px

.kf-rcl-color
  height: 3px
  margin-top: -10px

  &.kf-above-image
    transform: scale(1,2)
    transform-origin: center bottom
    margin: 0 (-(rcl-side-pad))

.kf-rcl-cover-image
  display: block
  height: 210px
  margin: 0 (-(rcl-side-pad))
  background-color: #eee
  background-size: cover

.kf-rcl-card
  border: defaultBorder
  border-top: none
  border-radius: 0 0 10px 10px
  background-color: #fff

  .kf-rcl-body
    padding: 0 rcl-side-pad

  .kf-rcl-name-wrap-2
    padding-top: 4px
    padding-bottom: 10px

  .kf-rcl-name-wrap-1
    display: inline-block
    width: 100%
    margin-top: 8px
    margin-bottom: 9px
    vertical-align: top
    overflow: hidden
    font: 900 27px/30px Lato,sans-serif
    font-smoothing: antialiased
    word-break: break-word

  .kf-rcl-name
    display: inline-block
    width: calc(100% - 30px)
    font-size: 26px
    font-weight: bold
    vertical-align: middle
    color: textBlackColor

  .kf-rcl-info
    margin-top: 16px
    color: kifiBlack
    vertical-align: top

    @media screen and (max-width: 800px)
      margin: 0 8px

  .kf-rcl-owner
    position: relative
    padding-bottom: 10px
    padding-top: 5px

  .kf-rcl-owner-image
    display: inline-block
    margin-right: 10px
    border-radius: 50%
    width: 42px
    height: 42px

  .kf-rcl-owner-text
    display: inline-block
    font-size: 14px
    line-height: 1.3em
    vertical-align: middle

  .kf-rcl-owner-name
    color: #939393

  .kf-rcl-desc-wrap
    padding-bottom: 5px

    .kf-rcl-desc-more
      font-size: 11px

  .kf-rcl-desc
    margin: 1em 0
    line-height: 23px

    &>p
      margin: .5em 0

  .kf-rcl-stats-line
    display: table
    width: 100%
    height: 72px
    border-top: 1px solid #dadae2

  .kf-rcl-stats
    display: table-cell
    vertical-align: top
    padding-top: 15px
    width: 1%
    white-space: nowrap

  .kf-rcl-stat
    display: inline-block
    padding: 0 20px 0 5px
    font-size: 12px

  a.kf-rcl-stat
    color: inherit
    font-smoothing: inherit

    &:hover
      .kf-rcl-stat-val
        text-decoration: underline

  .kf-rcl-stat-name
  .kf-rcl-stat-val
    display: block

  .kf-rcl-stat-name
    color: textDarkGrey
    text-transform: uppercase

  .kf-rcl-stat-val
    padding-top: 3px
    font-size: 16px
    font-weight: bold
    text-align: center

  .kf-rcl-followers
    display: table-cell
    width: 99%
    padding: 15px 0

    &>.kf-lfp
      position: absolute

  .kf-rcl-buttons
    border-top: 2px solid #f5f5f5
    padding: 15px 20px
    line-height: 37px
    font-size: 0

    .kf-button:not(:last-child):not(.library-share-contact-button)
      margin-right: 15px

  .kf-library-share-search
    vertical-align: top

  follow-unfollow-width = 112px

  .kf-rcl-follow-btn
    border-color: transparent
    width: follow-unfollow-width
    padding: 0
    background: #008aee
    color: white

    &::before  // moves the text slightly right
      content: ''
      padding-left: 2px

  .kf-rcl-unfollow-btn
    border: 1px solid #20a1f1
    width: follow-unfollow-width
    padding: 0
    background: #fff
    color: #20a1f1

    &:hover
      border-color: redColor

    &::after
      content: 'Following'

    &:hover::after
      content: 'Unfollow'
      color: redColor
