<div class="kf-recos-view kf-width-bounded" ng-controller="RecosCtrl">

  <div class="kf-recos-persona-overlay" ng-if="autoShowPersona">
    <div class="view-overlay">
      <div class="persona-wrapper">
        <div kf-manage-persona close-action="closeAutoShowPersonas"></div>
      </div>
    </div>
  </div>
  <div ng-if="!autoShowPersona">
    <div kf-delighted-survey hide="hideDelightedSurvey" ng-if="showDelightedSurvey"></div>

    <h1 class="kf-recos-title">Recommendations</h1>
    <div class="kf-reco-cols">
      <div class="kf-reco-col-1">

        <a href="javascript:" class="kf-recos-update-personas" ng-click="showPersonaModal()">
          <span class="kf-recos-update-personas-icon sprite sprite-update-personas"></span>
          Update your interests
        </a>

        <div class="kf-reco kf-reco-info kf-reco-cta" ng-if="recosState === 'noRecos' || showHints" ng-hide="initialCardClosed">
          <span class="kf-reco-cta-text">To get started, simply click the follow button on some of&nbsp;the libraries below</span>
          <img class="kf-reco-cta-image" src="/img/webapp-ftui-follow-button-image.png">
        </div>

        <div class="kf-reco kf-reco-info" ng-if="recosState === 'noMoreRecos'">
          <h4>No more recommendations for now :)</h4>
          <p>Kifi works by recommending things based on what you've kept. We'll cater to your interests over time and we can recommend more relevant and timely things if you <a href="/invite">connect with more friends</a>. Think about your most inspiring, interesing and knowledgeable friends and invite them to Kifi! Keep on keeping things that matter to you too!</p>
          <p>In the meantime, you can enjoy popular things being kept on Kifi.</p>
          <a href="javascript:" ng-click="showPopular()">See Popular Keeps on Kifi</a>
        </div>

        <div class="kf-recos" ng-if="!loading">
          <div class="kf-reco kf-reco-recommended" ng-repeat="reco in recos" reco="reco" ng-controller="RecoCtrl" ng-class="{'kf-reco-with-invite':!!reco.recoLib.invite}">
            <header class="kf-reco-top">
              <span class="kf-reco-icon kf-reco-close-x" ng-click="trash(reco)" ng-if="reco.recoData.type === 'recommended'"></span>
              <div ng-if="reco.recoData.type === 'recommended'" kf-reco-dropdown-menu reco="reco" show-improvement-modal="showImprovementModal()"></div>
              <span ng-if="reco.recoData.kind === 'keep'">
                {{reco.recoData.type | titlecase}}
              </span>
              <span ng-switch on="reco.recoData.type" ng-if="reco.recoData.kind === 'library'">
                <span ng-switch-when="popular">Featured</span>
                <span ng-switch-default>Recommended Library</span>
              </span>
            </header>

            <div class="kf-reco-keep" ng-if="::reco.recoData.kind === 'keep'">
              <div kf-keep-card="reco.recoKeep" keep-callback="trackRecoKeep(keep)" click-callback="trackRecoClick(reco)" current-page-origin="recommendationsPage"></div>
            </div>
            <div ng-if="::reco.recoData.kind === 'library'" kf-reco-library-card library="reco.recoLib"
            follow-callback="trackLibraryFollow(reco.recoLib)" click-library-callback="trackRecoClick(reco)"></div>
          </div>
        </div>

        <div ng-if="!loading" class="kf-reco-get-more-container" ng-click="addMore()">
          <span ng-if="!moreLoading && !noMoreRecos" class="kf-reco-get-more">See more</span>
          <span ng-if="!moreLoading && noMoreRecos" class="kf-reco-no-more">No more recommendations right now.</span>
          <span ng-if="moreLoading" class="kf-reco-get-more-loading">Loading...</span>
        </div>

        <div class="kf-reco-loading-logo svg-small-new-logo" ng-if="loading"></div>
      </div>
      <div class="kf-reco-col-2">
        <div kf-people-you-may-know></div>
        <div kf-goodies></div>
      </div>
    </div>

  </div>
</div>
