.kf-recos-view-header
  padding: 25px 25px 10px 30px
  min-height: 50px

  .kf-recos-clover-icon
    float: left
    margin-right: 8px
    width: 35px
    height: 34px

  .kf-main-title
    position: relative

  &::after
    content: ''
    display: block
    clear: both

  &::after
    content: ''
    display: block
    clear: both

.kf-recos-title
  float: left
  margin-bottom: 20px
  min-width: 260px

.kf-reco-recency
  position: relative
  float: left
  margin-left: 60px
  width: calc(100% - 330px)
  min-width: 240px

.kf-reco-refresh-btn
  position: absolute
  top: 8px
  right: 0
  padding: 3px 12px
  border: 1px solid #c7c7c7
  border-radius: 5px
  height: 26px
  background-color: #fff

.kf-reco-refresh-btn
.kf-reco-recency-all-time
.kf-reco-recency-recent
  font-size: 14px
  color: #9b9b9b

.kf-reco-recency-slider
  position: relative
  width: calc(100% - 95px)
  height: 50px

.kf-reco-recency-all-time
.kf-reco-recency-recent
  position: absolute
  top: 2px

.kf-reco-recency-all-time
  left: 0

.kf-reco-recency-recent
  right: 0

.kf-reco-slider-container
  position: absolute
  left: 0
  bottom: 20px
  display: inline-block
  width: 100%

  .ui-slider-horizontal
    border: none
    height: 6px
    background-color: #e4e4e4

  .ui-slider-handle
    top: -8px
    border: 1px solid #bbb
    border-radius: 12px
    background-color: #fff
    cursor: pointer

.kf-recos
  padding: 0 25px 20px 30px

.kf-reco
  box-sizing: border-box
  margin: 0 auto 20px

  // reduce the top padding of a library recommendation
  .kf-keep-lib-header
    padding-top: 4px

.kf-reco.ng-leave
  opacity: 1
  transition: opacity 0.5s ease

.kf-reco.ng-leave.ng-leave-active
  opacity: 0

.kf-reco.ng-enter
  opacity: 0
  transition: opacity 0.5s ease

.kf-reco.ng-enter.ng-enter-active
  opacity: 1

.kf-reco-info
  margin: 0 25px 20px 30px
  border: defaultBorder
  border-radius: 3px
  padding: 25px 20px
  background-color: #fafafa
  box-shadow: defaultBoxShadow
  font-size: 18px

  h4
    font-weight: bold

.kf-reco-cta
  background-color: #5ab86d
  position: relative
  margin-bottom: 40px
  border-radius: 4px

.kf-reco-cta-text
  display: inline-block
  color: white
  letter-spacing: 0.5px
  line-height: 150%
  width: 40%
  font-size: 20px
  padding: 25px 0px 25px 25px

.kf-reco-cta-image
  display: inline-block
  width: 28%
  padding: 5% 10%
  float: right

.kf-reco-cta::after
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;
  height: 0;
  width: 0;
  border: solid;
  margin-left: -16px;
  border-width: 16px 20px 0;
  border-color: #5ab86d transparent transparent;

.kf-reco-top
  padding: 20px 20px 0px

.kf-reco-top
.kf-reco-bottom
  border-left: 1px solid #dadae2
  border-right: 1px solid #dadae2

.kf-reco-top
  position: relative
  border-top: 1px solid #dadae2
  border-top-left-radius: 3px
  border-top-right-radius: 3px
  background-color: #fff
  font-size: 13px
  font-weight: 400
  color: #9d9d9d
  span
    display: inline-block

.kf-reco-bottom
  position:relative
  margin: 0 auto
  border-bottom: 1px solid #dadae2
  border-bottom-left-radius: 3px
  border-bottom-right-radius: 3px
  padding: 15px 0 15px
  width: 90%
  box-shadow: defaultBoxShadow
  font-size: 13px
  text-align: center

  &.kf-reco-multiple-reasons
    padding-bottom: 10px

.kf-reco-reason
  margin: 0 auto
  width: calc(100% - 120px);
  line-height: 1.5em
  height: 19px
  overflow: hidden

  a
    color: linkBlueColor

  time
    white-space: nowrap

.kf-reco-multiple-reasons
  .kf-reco-reason
    position: relative
    left: -15px

.kf-reco-reason-topic
    white-space: nowrap

.kf-reason-bullet-container
  margin: 0px 40px -5px 0

.kf-reason-bullet
  padding: 0 1px
  font-size: 19px
  color: #ddd

  &.kf-dark-reason-bullet
    color: #bbb

// Icons
.kf-reco-icon
  position: relative
  float: right
  margin: -8px 0 0 10px
  width: 18px
  height: 18px

.kf-reco-recommended
  .kf-reco-top
    padding-top: 10px
  .kf-keep
    margin-bottom: 0
    border-top: 0
  .kf-reco-icon
    margin-top: 0
  .kf-reco-dropdown-menu-container .kf-dropdown-menu
    top: 18px
  .kf-keep-contents
    padding-top: 10px

.kf-reco-top-title
  font-size: 14px
  line-height: 27px

.kf-reco-icon:hover
  cursor: pointer

.kf-reco-icon::before
.kf-reco-icon::after
  content: ' '
  position: absolute;
  left: 50%
  width: 3px;
  background: #c7c7c7
  font-size: 0

.kf-reco-icon:hover::before
.kf-reco-icon:hover::after
.kf-reco-icon:focus::before
.kf-reco-icon:focus::after
  background: #aaa

.kf-reco-icon:active::before
.kf-reco-icon:active::after
  background: #888

// X icon
.kf-reco-close-x::before
.kf-reco-close-x::after
  top: 1px
  bottom: 1px
  border-radius: 2px
.kf-reco-close-x::before
  transform: translate(-1px) rotate(45deg)
.kf-reco-close-x::after
  transform: translate(-1px) rotate(-45deg)

// Down arrow icon
.kf-reco-dropdown-menu-down::before
.kf-reco-dropdown-menu-down::after
  top: 4px
  bottom: 4px
  border-top-left-radius: 2px
  border-top-right-radius: 2px
.kf-reco-dropdown-menu-down::before
  transform: translate(-4px) rotate(-45deg)
.kf-reco-dropdown-menu-down::after
  transform: translate(2px) rotate(45deg)

// Left and right arrow Icons
.kf-reco-reasons-left::before
.kf-reco-reasons-left::after
.kf-reco-reasons-right::before
.kf-reco-reasons-right::after
  top: 4px
  bottom: 4px
  border-top-left-radius: 2px
  border-top-right-radius: 2px

// Left arrow icon
.kf-reco-reasons-left
  right: 41px
.kf-reco-reasons-left::before
  transform: translate(-2px, -3px) rotate(45deg)
.kf-reco-reasons-left::after
  transform: translate(-2px, 3px) rotate(135deg)

// Right arrow icon
.kf-reco-reasons-right
  right: 20px
.kf-reco-reasons-right::before
  transform: translate(-2px, -3px) rotate(-45deg)
.kf-reco-reasons-right::after
  transform: translate(-2px, 3px) rotate(-135deg)

.kf-reco-bottom
  .kf-reco-icon
    position: absolute
    top: 20px
    margin: auto

// Dropdown menu
.kf-reco-dropdown-menu-container
  position: relative

  .kf-dropdown-menu
    display: none
    top: 10px
    right: 20px

    & li
      display: block
      padding: 0 25px 0 16px
      color: #556179
      transition: background .2s ease
      white-space: nowrap
      font-size: 15px
      line-height: 30px
      cursor: pointer

      &:hover
        background: #eee

      &:active
        background: #ccc

// Modal
.kf-reco-improve-modal
  p
    font-size: 15px

  label
    margin-left: 5px


.kf-reco-loading-logo
  width: 50px
  height: 50px
  margin: 20px auto
  opacity: 0.5
  animation: jump-spin 2s linear infinite
  transform: translate(-50%, -50%) rotate(0deg)
