// Note: The responsive two-column structure of this page is similar to the library page and
//       the general search results page.

leftColWidth = 498px  // chosen so that inner keep card width (youtube video, specifically) comes out to exactly 496px
rightColWidth = 256px // chosen to avoid text wrapping
colGapWidth = 20px
twoColMinWidth = appSidePad1 + leftColWidth + colGapWidth + rightColWidth + appSidePad1 // = 798px

.kf-recos-view
  box-sizing: border-box
  max-width: twoColMinWidth
  margin: 0 auto
  padding: 0 appSidePad1

.kf-recos-wrap
  @media (max-width: (twoColMinWidth - 1px))
    max-width: leftColWidth
    margin: 0 auto;

.kf-recos-title
  font-size: 25px
  line-height: 30px
  font-weight: 300
  padding: 16px 0

.kf-reco-cols
  @media (min-width: twoColMinWidth)
    display: table
    width: 100%
    table-layout: fixed

.kf-reco-col-1
  position: relative // for .kf-recos-update-personas

  @media (min-width: twoColMinWidth)
    display: table-cell
    vertical-align: top
    width: leftColWidth
    max-width: leftColWidth

.kf-reco-col-2
  margin: 0 auto 50px
  max-width: rightColWidth + 20px

  @media (min-width: twoColMinWidth)
    display: table-cell
    vertical-align: top
    margin: 0
    width: rightColWidth
    padding-left: colGapWidth

.kf-reco
  margin-bottom: 20px

.kf-reco.ng-leave
  opacity: 1
  transition: opacity 0.5s ease

.kf-reco.ng-leave.ng-leave-active
  opacity: 0

.kf-reco.ng-enter
  opacity: 0
  transition: opacity 0.5s ease

.kf-reco.ng-enter.ng-enter-active
  opacity: 1

.kf-reco-info
  margin-bottom: 20px
  border: defaultBorder
  border-radius: 10px
  padding: 25px 20px
  background-color: #fafafa
  font-size: 18px

  h4
    font-weight: bold

.kf-reco-cta
  background-color: #5ab86d
  position: relative
  margin-bottom: 40px
  border: none
  padding: 12px 20px 20px

  &::after
    content: ''
    position: absolute
    left: 50%
    bottom: -15px
    height: 0
    width: 0
    margin-left: -16px
    border: solid
    border-width: 16px 20px 0
    border-color: #5ab86d transparent transparent

.kf-reco-cta-text
  display: inline-block
  color: white
  letter-spacing: 0.5px
  line-height: 150%
  width: 48%
  font-size: 20px
  padding: 25px 0px 25px 25px

.kf-reco-cta-image
  display: inline-block
  width: 28%
  padding: 6% 9%
  float: right

.kf-reco-top
  position: relative
  border: defaultBorder
  border-bottom: 0
  border-radius: 10px 10px 0 0
  padding: 20px 20px 0
  background-color: #fff
  font-size: 13px
  font-weight: 400
  color: #9d9d9d

  // library recos with invite need additional spacing between the control header and the invite banner
  .kf-reco-with-invite &
    padding-bottom: 10px

  span
    display: inline-block

.kf-reco-keep
  background-color: #fff
  border: defaultBorder
  border-top: 0
  border-radius: 0 0 10px 10px
  padding: 10px 0 0

// Icons
.kf-reco-icon
  position: relative
  float: right
  margin: -8px 0 0 10px
  width: 18px
  height: 18px

.kf-reco-recommended
  .kf-reco-top
    padding-top: 10px
  .kf-reco-icon
    margin-top: 0
  .kf-reco-dropdown-menu-container .kf-dropdown-menu
    top: 18px
    right: 8px

.kf-reco-icon:hover
  cursor: pointer

.kf-reco-icon::before
.kf-reco-icon::after
  content: ' '
  position: absolute;
  left: 50%
  width: 3px;
  background: #c7c7c7
  font-size: 0

.kf-reco-icon:hover::before
.kf-reco-icon:hover::after
.kf-reco-icon:focus::before
.kf-reco-icon:focus::after
  background: #aaa

.kf-reco-icon:active::before
.kf-reco-icon:active::after
  background: #888

// X icon
.kf-reco-close-x::before
.kf-reco-close-x::after
  top: 1px
  bottom: 1px
  border-radius: 2px
.kf-reco-close-x::before
  transform: translate(-1px) rotate(45deg)
.kf-reco-close-x::after
  transform: translate(-1px) rotate(-45deg)

// Down arrow icon
.kf-reco-dropdown-menu-down::before
.kf-reco-dropdown-menu-down::after
  top: 4px
  bottom: 4px
  border-top-left-radius: 2px
  border-top-right-radius: 2px
.kf-reco-dropdown-menu-down::before
  transform: translate(-4px) rotate(-45deg)
.kf-reco-dropdown-menu-down::after
  transform: translate(2px) rotate(45deg)

// Dropdown menu
.kf-reco-dropdown-menu-container
  position: relative

  .kf-dropdown-menu
    display: none
    top: 10px
    right: 20px

    & li
      display: block
      padding: 0 25px 0 16px
      color: #556179
      transition: background .2s ease
      white-space: nowrap
      font-size: 15px
      line-height: 30px
      cursor: pointer

      &:hover
        background: #eee

      &:active
        background: #ccc

// Modal
.kf-reco-improve-modal
  p
    font-size: 15px

  label
    margin-left: 5px

.kf-reco-get-more-container
  margin-bottom: 20px
  border: 1px solid #dadae2
  border-radius: 10px
  padding: 12px 0
  text-align: center
  background: #fff
  cursor: pointer

  @media (min-width: twoColMinWidth)
    margin-bottom: 70px

.kf-reco-get-more
.kf-reco-get-more-loading
.kf-reco-no-more
  font-size: 16px
  font-weight: bold
  color: #006bb2

.kf-reco-get-more:hover
  text-decoration: underline
  cursor: pointer

.kf-reco-loading-logo
  position: relative
  left: 30px
  width: 50px
  height: 50px
  margin: 60px auto 0
  opacity: 0.5
  animation: jump-spin 2s linear infinite

personasPopupWidth = 650px

.kf-recos-update-personas
  position: absolute
  top: -38px
  right: 0
  padding: 0
  color: libraryGreen
  font-size: 15px
  cursor: pointer
  border: none
  background: transparent

  &:hover
    color: #81cd91

  @media (max-width: (personasPopupWidth - 1px))
    display: none

.kf-recos-update-personas-icon
  position: relative
  top: -2px
  margin-right: 5px

.kf-recos-persona-overlay
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: 501

  & .view-overlay
    position: absolute
    top: appHeaderHeight2
    width: 100%
    height: 100%
    background-color: white

  & .persona-wrapper
    width: personasPopupWidth
    height: 470px
    margin: 50px auto 0
    border: 1px solid #8197ac
    border-radius: 10px
    overflow: hidden
