<div class="kf-delighted-wrap" ng-show="showSurvey">
  <div class="kf-delighted-body">
    <div ng-switch="surveyStage">
      <div class="kf-delighted-score-chooser" ng-switch-when="score">
        <div class="kf-delighted-title">How likely are you to recommend Kifi to a friend?</div>
        <div class="kf-delighted-options">
          <div class="kf-delighted-option-left-wrapper">
            <div class="kf-delighted-label">Not likely</div>
            <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="0">0</label>
          </div>
          <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="1">1</label>
          <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="2">2</label>
          <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="3">3</label>
          <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="4">4</label>
          <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="5">5</label>
          <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="6">6</label>
          <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="7">7</label>
          <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="8">8</label>
          <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="9">9</label>
          <div class="kf-delighted-option-right-wrapper">
            <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="10">10</label>
            <div class="kf-delighted-label">Very likely</div>
          </div>
        </div>
      </div>
      <div class="kf-delighted-comment-area" ng-switch-when="comment">
        <div class="kf-delighted-title">Tell us why you chose {{delighted.score}}</div>
        <textarea class="kf-delighted-comment-area-input" ng-model="delighted.comment" name="delighted-comment" placeholder="Enter a comment (optional)"></textarea>
        <div class="kf-delighted-comment-actions">
          <button class="kf-delighted-comment-back dialog-cancel" ng-click="goBack()">Change score</button>
          <button class="kf-delighted-comment-submit" ng-click="submitComment()">Submit</button>
        </div>
      </div>
      <div class="kf-delighted-end" ng-switch-when="end">
        <div class="kf-delighted-title">Thank you for your feedback!</div>
      </div>
    </div>
    <div class="sprite sprite-close-x-icon kf-delighted-cancel" ng-click="cancelSurvey()"></div>
  </div>
</div>
