<div class="kf-delighted-wrap" ng-show="showSurvey">
  <div class="kf-delighted-body">
    <div class="kf-delighted-score-chooser" ng-show="!showCommentArea">
      <div class="kf-delighted-title">How likely are you to recommend Kifi to a friend?</div>
      <div class="kf-delighted-options">
        <div class="kf-delighted-option-left-wrapper">
          <div class="kf-delighted-label">Not likely</div>
          <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="0">0</label>
        </div>
        <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="1">1</label>
        <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="2">2</label>
        <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="3">3</label>
        <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="4">4</label>
        <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="5">5</label>
        <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="6">6</label>
        <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="7">7</label>
        <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="8">8</label>
        <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="9">9</label>
        <div class="kf-delighted-option-right-wrapper">
          <label class="kf-delighted-option"><input type="radio" ng-model="delighted.score" name="delighted-score" value="10">10</label>
          <div class="kf-delighted-label">Very likely</div>
        </div>
      </div>
    </div>
    <div class="kf-delighted-comment-area" ng-show="showCommentArea">
      <div class="kf-delighted-title">Why?</div>
      <textarea class="kf-delighted-comment-area-input" ng-model="delighted.comment" name="delighted-comment" placeholder="Enter a comment (optional)"></textarea>
      <div class="kf-delighted-comment-actions">
        <div class="kf-delighted-comment-back" ng-click="goBack()">Change score</div>
        <div class="kf-delighted-comment-submit" ng-click="submit()">Submit</div>
      </div>
    </div>
    <div class="sprite sprite-close-x-icon kf-delighted-cancel" ng-click="cancelSurvey()"></div>
  </div>
</div>
