//
// Mixins and functions.
//
font-smoothing(val)
  if val in (antialiased grayscale)
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
  else if val in (inherit auto unset)
    -webkit-font-smoothing: val
    -moz-osx-font-smoothing: val
  else
    -webkit-font-smoothing: initial
    -moz-osx-font-smoothing: initial

title-text()
  font-family: Lato, Arial, sans-serif
  font-smoothing: antialiased
  color: textDarkColor

placeholder(color)
  &::-webkit-input-placeholder
    font-style: normal
    color: color
  &::-moz-placeholder
    font-style: normal
    color: color
  &:-ms-input-placeholder
    font-style: normal
    color: color

pop-over(top, left, color)
  position: absolute
  top: top
  left: left
  display: inline-block
  border-radius: 5px
  padding: 3px 5px
  width: auto
  background-color: color
  font-size: 13px
  color: #fff
  z-index: 10

  &::before
    position: absolute
    top: -6px
    left: 28px
    display: inline-block
    border-right: 7px solid transparent
    border-bottom: 7px solid color
    border-left: 7px solid transparent
    border-bottom-color: color
    content: ''
    z-index: 10
