//
// Mixins and functions.
//
long-text()
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

title-text()
  font-family: Lato, Arial, sans-serif
  font-smoothing: antialiased
  color: textDarkColor

placeholder(color)
  &::-webkit-input-placeholder
    font-style: normal
    color: color
  &::-moz-placeholder
    font-style: normal
    color: color
  &:-ms-input-placeholder
    font-style: normal
    color: color

pop-over(top, left, color)
  position: absolute
  top: top
  left: left
  display: inline-block
  border-radius: 5px
  padding: 3px 5px
  width: auto
  background-color: color
  font-size: 13px
  color: #fff
  z-index: 10

  &::before
    position: absolute
    top: -6px
    left: 28px
    display: inline-block
    border-right: 7px solid transparent
    border-bottom: 7px solid color
    border-left: 7px solid transparent
    border-bottom-color: color
    content: ''
    z-index: 10

.kf-button
  display: inline-block
  position: relative
  vertical-align: top
  margin-right: 15px
  border: 1px solid #bbb
  border-radius: 5px
  padding: 8px 15px 8px 40px
  background: linear-gradient(to top, #f3f3f3, #fff)
  font: 13px Lato, Helvetica, Arial, sans-serif
  color: #666
  a&
    font-smoothing: auto

    &:focus
      outline: none

.kf-button-icon
  position: absolute
  top: 7px
  left: 12px
  width: 18px
  height: 18px
  background-repeat: no-repeat
  background-position: center center
  background-size: contain
