//
// Colors.
//
accentGreen = #5ab166
appBackgroundColor = #f5f5f5
blueColor = #6fa6ef
borderLightGray = #eaeaea
clearBlueColor = #7daff1
clearGreenColor = #6bd19e
clearYellowColor = #fdfbe2
countColor = #8eb4cc
countGreyColor = #818692
darkBlueColor = #478eeb
defaultBorderColor = #dadae2
greenColor = #41c482
kifiBlack = #333
kifiHeadColor = #99ccf2
libraryRed = #f06463
libraryGreen = #57c065
libraryGray = #808080
linkColor = #006BB2
linkBlueColor = #1990ea
pageHeaderColor = #3e4954
redColor = #f38283
secondaryTextGray = #a9a9a9
separatorColor = #dbdee3
textBlackColor = #26292C
textDarkColor = #333343
textDarkGrey = #818692
textGreyColor = #808A92
textLightGrey = #ccd0d3
yellowColor = #fcf8c8

//
// Borders.
//
defaultBorder = 1px solid defaultBorderColor

//
// Other constants.
//
appSidePad1 = 12px
appSidePad2 = 20px
appSidePad2MinWidth = 480px // for @media min-width

appMinWidth = 866px  // for pages not responsive to width
appMaxWidth = appMinWidth + (2 * appSidePad2)

appHeaderHeight1 = 48px
appHeaderHeight2 = 54px
appHeaderHeight1MaxDim = 736px // for @media max-height and max-width
