red1 = #f00
textDarkColor = #333343
textGreyColor = #808A92
textDarkGrey = #818692
linkColor = #006BB2
countColor = #006BB2
countGreyColor = #818692
kifiHeadColor = #99ccf2
borderColor = #dbdee3
sidebarTransitionDuration = 0.3s
