phone = 360px
phablet = 480px
tablet = 796px
tablet_landscape = 960px
desktop = 1024px
large_monitor = 1200px
xl-monitor = 1400px
xxl-monitor = 1800px

space = 20px

// Media query generator
gt(query = phone)
  @media screen and (min-width: query)
    {block}

grid_columns = 12
grid_gutter = 15px

// Grid breakpoints
// ----------------
// Critical breakpoints where offsets and alternative grid styles will
// be displayed

showOffsets =        tablet           // Offsets render at this breakpoint
showColumns =        phablet          // Allow < 12 columns
showPartialColumns = tablet           // Simpler alternative to actual columns
showFullColumns =    desktop          // Actual user-defined column measurement

wrapper(fluid = false)
  margin: 0px auto
  padding-left: space
  padding-right: space

  if (fluid == false)
    max-width: 780px

row()
  display: inline-flex
  width: "calc(100% + %s)" % grid_gutter
  justify-content: flex-start
  align-items: stretch
  flex-wrap: wrap
  margin-left: (-1 * grid_gutter/2)
  margin-right: (-1 * grid_gutter/2)

column-universals()
  // For smaller CSS, this can be applied in one rule, rather
  // than in a loop for every type of column.
  clear: none
  display: block
  margin-left: grid_gutter/2
  margin-right: grid_gutter/2

measure-columns(columns, prop)
  if (prop == "width")
    width: "calc(%s - %s)" % ((columns/grid_columns)*100% grid_gutter)

  else if (prop == "margin-left")
    margin-left: "calc(%s + %s)" % ((columns/grid_columns)*100% (grid_gutter/2))

  else if (prop == "margin-right")
    margin-right: "calc(%s - %s)" % ((columns/grid_columns)*100% (((grid_columns/columns)-1)*grid_gutter)/(grid_columns/columns)-grid_gutter)

set-offset(columns, side = "margin-right")
  // Never show leftes and rights on mobile
  measure-columns(0, side)

  // Look for keywords
  if (columns == "half")
    +gt(showPartialColumns)
      measure-columns(6, side)

  else if (columns == "third")
    +gt(showPartialColumns)
      measure-columns(6, side)

    +gt(showFullColumns)
      measure-columns(4, side)

  else if (columns == "twothirds")
    +gt(showPartialColumns)
      measure-columns(6, side)

    +gt(showFullColumns)
      measure-columns(8, side)

  else
    +gt(showPartialColumns)
      measure-columns(columns, side)

// Convenience mixins
make-right(columns)
  set-offset(columns, "margin-right")
make-left(columns)
  set-offset(columns, "margin-left")

set-column(columns, left, right)
  measure-columns(columns, "width")

  if (right != 0)
    set-offset(right, "margin-right")

  if (left != 0)
    set-offset(left, "margin-left")

column(columns = 12, left = 0, right = 0, constants = true)
  // Everything is a full width column on mobile by default
  set-column(12, 0, 0)

  if (constants == true)
    column-universals()

  // Look for keywords
  if (columns == "half")
    +gt(showPartialColumns)
      set-column(grid_columns/2, left, right)

  else if (columns == "third")
    +gt(showPartialColumns)
      set-column(grid_columns/2, left, right)

    +gt(showFullColumns)
      set-column(grid_columns/3, left, right)

  else if (columns == "twothirds")
    +gt(showPartialColumns)
      set-column(grid_columns/2, left, right)

    +gt(showFullColumns)
      set-column((grid_columns * 2/3), left, right)

  else
    // No keywords found, pass in values.
    +gt(showColumns)
      set-column(columns, left, right)
