$add-a-link-default_x = 0px;
$add-a-link-default_y = 1159px;
$add-a-link-default_offset_x = 0px;
$add-a-link-default_offset_y = -1159px;
$add-a-link-default_width = 62px;
$add-a-link-default_height = 63px;
$add-a-link-default_total_width = 73px;
$add-a-link-default_total_height = 1568px;
$add-a-link-default_image = '/img/sprites.png';
$add-a-link-default = 0px 1159px 0px -1159px 62px 63px 73px 1568px '/img/sprites.png';

$add-a-tag-button-active_x = 0px;
$add-a-tag-button-active_y = 155px;
$add-a-tag-button-active_offset_x = 0px;
$add-a-tag-button-active_offset_y = -155px;
$add-a-tag-button-active_width = 47px;
$add-a-tag-button-active_height = 28px;
$add-a-tag-button-active_total_width = 73px;
$add-a-tag-button-active_total_height = 1568px;
$add-a-tag-button-active_image = '/img/sprites.png';
$add-a-tag-button-active = 0px 155px 0px -155px 47px 28px 73px 1568px '/img/sprites.png';

$add-a-tag-button-default_x = 0px;
$add-a-tag-button-default_y = 95px;
$add-a-tag-button-default_offset_x = 0px;
$add-a-tag-button-default_offset_y = -95px;
$add-a-tag-button-default_width = 47px;
$add-a-tag-button-default_height = 28px;
$add-a-tag-button-default_total_width = 73px;
$add-a-tag-button-default_total_height = 1568px;
$add-a-tag-button-default_image = '/img/sprites.png';
$add-a-tag-button-default = 0px 95px 0px -95px 47px 28px 73px 1568px '/img/sprites.png';

$add-a-tag-button-hover_x = 0px;
$add-a-tag-button-hover_y = 125px;
$add-a-tag-button-hover_offset_x = 0px;
$add-a-tag-button-hover_offset_y = -125px;
$add-a-tag-button-hover_width = 47px;
$add-a-tag-button-hover_height = 28px;
$add-a-tag-button-hover_total_width = 73px;
$add-a-tag-button-hover_total_height = 1568px;
$add-a-tag-button-hover_image = '/img/sprites.png';
$add-a-tag-button-hover = 0px 125px 0px -125px 47px 28px 73px 1568px '/img/sprites.png';

$checkbox-icon-active_x = 0px;
$checkbox-icon-active_y = 222px;
$checkbox-icon-active_offset_x = 0px;
$checkbox-icon-active_offset_y = -222px;
$checkbox-icon-active_width = 42px;
$checkbox-icon-active_height = 39px;
$checkbox-icon-active_total_width = 73px;
$checkbox-icon-active_total_height = 1568px;
$checkbox-icon-active_image = '/img/sprites.png';
$checkbox-icon-active = 0px 222px 0px -222px 42px 39px 73px 1568px '/img/sprites.png';

$checkbox-icon-default_x = 0px;
$checkbox-icon-default_y = 263px;
$checkbox-icon-default_offset_x = 0px;
$checkbox-icon-default_offset_y = -263px;
$checkbox-icon-default_width = 42px;
$checkbox-icon-default_height = 39px;
$checkbox-icon-default_total_width = 73px;
$checkbox-icon-default_total_height = 1568px;
$checkbox-icon-default_image = '/img/sprites.png';
$checkbox-icon-default = 0px 263px 0px -263px 42px 39px 73px 1568px '/img/sprites.png';

$checkbox-icon-hover_x = 0px;
$checkbox-icon-hover_y = 304px;
$checkbox-icon-hover_offset_x = 0px;
$checkbox-icon-hover_offset_y = -304px;
$checkbox-icon-hover_width = 42px;
$checkbox-icon-hover_height = 39px;
$checkbox-icon-hover_total_width = 73px;
$checkbox-icon-hover_total_height = 1568px;
$checkbox-icon-hover_image = '/img/sprites.png';
$checkbox-icon-hover = 0px 304px 0px -304px 42px 39px 73px 1568px '/img/sprites.png';

$close-x-icon-default_x = 0px;
$close-x-icon-default_y = 39px;
$close-x-icon-default_offset_x = 0px;
$close-x-icon-default_offset_y = -39px;
$close-x-icon-default_width = 26px;
$close-x-icon-default_height = 26px;
$close-x-icon-default_total_width = 73px;
$close-x-icon-default_total_height = 1568px;
$close-x-icon-default_image = '/img/sprites.png';
$close-x-icon-default = 0px 39px 0px -39px 26px 26px 73px 1568px '/img/sprites.png';

$close-x-icon-hover_x = 0px;
$close-x-icon-hover_y = 67px;
$close-x-icon-hover_offset_x = 0px;
$close-x-icon-hover_offset_y = -67px;
$close-x-icon-hover_width = 26px;
$close-x-icon-hover_height = 26px;
$close-x-icon-hover_total_width = 73px;
$close-x-icon-hover_total_height = 1568px;
$close-x-icon-hover_image = '/img/sprites.png';
$close-x-icon-hover = 0px 67px 0px -67px 26px 26px 73px 1568px '/img/sprites.png';

$edit-pencil-icon_x = 0px;
$edit-pencil-icon_y = 14px;
$edit-pencil-icon_offset_x = 0px;
$edit-pencil-icon_offset_y = -14px;
$edit-pencil-icon_width = 23px;
$edit-pencil-icon_height = 23px;
$edit-pencil-icon_total_width = 73px;
$edit-pencil-icon_total_height = 1568px;
$edit-pencil-icon_image = '/img/sprites.png';
$edit-pencil-icon = 0px 14px 0px -14px 23px 23px 73px 1568px '/img/sprites.png';

$find-friends-icon_x = 0px;
$find-friends-icon_y = 1224px;
$find-friends-icon_offset_x = 0px;
$find-friends-icon_offset_y = -1224px;
$find-friends-icon_width = 64px;
$find-friends-icon_height = 64px;
$find-friends-icon_total_width = 73px;
$find-friends-icon_total_height = 1568px;
$find-friends-icon_image = '/img/sprites.png';
$find-friends-icon = 0px 1224px 0px -1224px 64px 64px 73px 1568px '/img/sprites.png';

$friends-active_x = 0px;
$friends-active_y = 769px;
$friends-active_offset_x = 0px;
$friends-active_offset_y = -769px;
$friends-active_width = 63px;
$friends-active_height = 63px;
$friends-active_total_width = 73px;
$friends-active_total_height = 1568px;
$friends-active_image = '/img/sprites.png';
$friends-active = 0px 769px 0px -769px 63px 63px 73px 1568px '/img/sprites.png';

$friends-default_x = 0px;
$friends-default_y = 899px;
$friends-default_offset_x = 0px;
$friends-default_offset_y = -899px;
$friends-default_width = 63px;
$friends-default_height = 63px;
$friends-default_total_width = 73px;
$friends-default_total_height = 1568px;
$friends-default_image = '/img/sprites.png';
$friends-default = 0px 899px 0px -899px 63px 63px 73px 1568px '/img/sprites.png';

$friends-hover_x = 0px;
$friends-hover_y = 964px;
$friends-hover_offset_x = 0px;
$friends-hover_offset_y = -964px;
$friends-hover_width = 63px;
$friends-hover_height = 63px;
$friends-hover_total_width = 73px;
$friends-hover_total_height = 1568px;
$friends-hover_image = '/img/sprites.png';
$friends-hover = 0px 964px 0px -964px 63px 63px 73px 1568px '/img/sprites.png';

$grabbericon_x = 0px;
$grabbericon_y = 707px;
$grabbericon_offset_x = 0px;
$grabbericon_offset_y = -707px;
$grabbericon_width = 26px;
$grabbericon_height = 60px;
$grabbericon_total_width = 73px;
$grabbericon_total_height = 1568px;
$grabbericon_image = '/img/sprites.png';
$grabbericon = 0px 707px 0px -707px 26px 60px 73px 1568px '/img/sprites.png';

$guide-icon_x = 0px;
$guide-icon_y = 1359px;
$guide-icon_offset_x = 0px;
$guide-icon_offset_y = -1359px;
$guide-icon_width = 67px;
$guide-icon_height = 67px;
$guide-icon_total_width = 73px;
$guide-icon_total_height = 1568px;
$guide-icon_image = '/img/sprites.png';
$guide-icon = 0px 1359px 0px -1359px 67px 67px 73px 1568px '/img/sprites.png';

$heart-icon_x = 0px;
$heart-icon_y = 386px;
$heart-icon_offset_x = 0px;
$heart-icon_offset_y = -386px;
$heart-icon_width = 44px;
$heart-icon_height = 39px;
$heart-icon_total_width = 73px;
$heart-icon_total_height = 1568px;
$heart-icon_image = '/img/sprites.png';
$heart-icon = 0px 386px 0px -386px 44px 39px 73px 1568px '/img/sprites.png';

$import-bookmarks-icon_x = 0px;
$import-bookmarks-icon_y = 1499px;
$import-bookmarks-icon_offset_x = 0px;
$import-bookmarks-icon_offset_y = -1499px;
$import-bookmarks-icon_width = 73px;
$import-bookmarks-icon_height = 69px;
$import-bookmarks-icon_total_width = 73px;
$import-bookmarks-icon_total_height = 1568px;
$import-bookmarks-icon_image = '/img/sprites.png';
$import-bookmarks-icon = 0px 1499px 0px -1499px 73px 69px 73px 1568px '/img/sprites.png';

$import-from-other-services-icon_x = 0px;
$import-from-other-services-icon_y = 1428px;
$import-from-other-services-icon_offset_x = 0px;
$import-from-other-services-icon_offset_y = -1428px;
$import-from-other-services-icon_width = 73px;
$import-from-other-services-icon_height = 69px;
$import-from-other-services-icon_total_width = 73px;
$import-from-other-services-icon_total_height = 1568px;
$import-from-other-services-icon_image = '/img/sprites.png';
$import-from-other-services-icon = 0px 1428px 0px -1428px 73px 69px 73px 1568px '/img/sprites.png';

$install-extension-icon_x = 0px;
$install-extension-icon_y = 1290px;
$install-extension-icon_offset_x = 0px;
$install-extension-icon_offset_y = -1290px;
$install-extension-icon_width = 67px;
$install-extension-icon_height = 67px;
$install-extension-icon_total_width = 73px;
$install-extension-icon_total_height = 1568px;
$install-extension-icon_image = '/img/sprites.png';
$install-extension-icon = 0px 1290px 0px -1290px 67px 67px 73px 1568px '/img/sprites.png';

$kifi-logo-white_x = 0px;
$kifi-logo-white_y = 345px;
$kifi-logo-white_offset_x = 0px;
$kifi-logo-white_offset_y = -345px;
$kifi-logo-white_width = 68px;
$kifi-logo-white_height = 39px;
$kifi-logo-white_total_width = 73px;
$kifi-logo-white_total_height = 1568px;
$kifi-logo-white_image = '/img/sprites.png';
$kifi-logo-white = 0px 345px 0px -345px 68px 39px 73px 1568px '/img/sprites.png';

$lock-private-icon_x = 0px;
$lock-private-icon_y = 185px;
$lock-private-icon_offset_x = 0px;
$lock-private-icon_offset_y = -185px;
$lock-private-icon_width = 35px;
$lock-private-icon_height = 35px;
$lock-private-icon_total_width = 73px;
$lock-private-icon_total_height = 1568px;
$lock-private-icon_image = '/img/sprites.png';
$lock-private-icon = 0px 185px 0px -185px 35px 35px 73px 1568px '/img/sprites.png';

$my-keeps-library-active_x = 0px;
$my-keeps-library-active_y = 599px;
$my-keeps-library-active_offset_x = 0px;
$my-keeps-library-active_offset_y = -599px;
$my-keeps-library-active_width = 52px;
$my-keeps-library-active_height = 52px;
$my-keeps-library-active_total_width = 73px;
$my-keeps-library-active_total_height = 1568px;
$my-keeps-library-active_image = '/img/sprites.png';
$my-keeps-library-active = 0px 599px 0px -599px 52px 52px 73px 1568px '/img/sprites.png';

$my-keeps-library-default_x = 0px;
$my-keeps-library-default_y = 653px;
$my-keeps-library-default_offset_x = 0px;
$my-keeps-library-default_offset_y = -653px;
$my-keeps-library-default_width = 52px;
$my-keeps-library-default_height = 52px;
$my-keeps-library-default_total_width = 73px;
$my-keeps-library-default_total_height = 1568px;
$my-keeps-library-default_image = '/img/sprites.png';
$my-keeps-library-default = 0px 653px 0px -653px 52px 52px 73px 1568px '/img/sprites.png';

$search-icon-active_x = 0px;
$search-icon-active_y = 511px;
$search-icon-active_offset_x = 0px;
$search-icon-active_offset_y = -511px;
$search-icon-active_width = 40px;
$search-icon-active_height = 42px;
$search-icon-active_total_width = 73px;
$search-icon-active_total_height = 1568px;
$search-icon-active_image = '/img/sprites.png';
$search-icon-active = 0px 511px 0px -511px 40px 42px 73px 1568px '/img/sprites.png';

$search-icon-default_x = 0px;
$search-icon-default_y = 555px;
$search-icon-default_offset_x = 0px;
$search-icon-default_offset_y = -555px;
$search-icon-default_width = 40px;
$search-icon-default_height = 42px;
$search-icon-default_total_width = 73px;
$search-icon-default_total_height = 1568px;
$search-icon-default_image = '/img/sprites.png';
$search-icon-default = 0px 555px 0px -555px 40px 42px 73px 1568px '/img/sprites.png';

$settings-active_x = 0px;
$settings-active_y = 834px;
$settings-active_offset_x = 0px;
$settings-active_offset_y = -834px;
$settings-active_width = 62px;
$settings-active_height = 63px;
$settings-active_total_width = 73px;
$settings-active_total_height = 1568px;
$settings-active_image = '/img/sprites.png';
$settings-active = 0px 834px 0px -834px 62px 63px 73px 1568px '/img/sprites.png';

$settings-default_x = 0px;
$settings-default_y = 1094px;
$settings-default_offset_x = 0px;
$settings-default_offset_y = -1094px;
$settings-default_width = 62px;
$settings-default_height = 63px;
$settings-default_total_width = 73px;
$settings-default_total_height = 1568px;
$settings-default_image = '/img/sprites.png';
$settings-default = 0px 1094px 0px -1094px 62px 63px 73px 1568px '/img/sprites.png';

$settings-hover_x = 0px;
$settings-hover_y = 1029px;
$settings-hover_offset_x = 0px;
$settings-hover_offset_y = -1029px;
$settings-hover_width = 62px;
$settings-hover_height = 63px;
$settings-hover_total_width = 73px;
$settings-hover_total_height = 1568px;
$settings-hover_image = '/img/sprites.png';
$settings-hover = 0px 1029px 0px -1029px 62px 63px 73px 1568px '/img/sprites.png';

$tag-blue-active_x = 0px;
$tag-blue-active_y = 469px;
$tag-blue-active_offset_x = 0px;
$tag-blue-active_offset_y = -469px;
$tag-blue-active_width = 40px;
$tag-blue-active_height = 40px;
$tag-blue-active_total_width = 73px;
$tag-blue-active_total_height = 1568px;
$tag-blue-active_image = '/img/sprites.png';
$tag-blue-active = 0px 469px 0px -469px 40px 40px 73px 1568px '/img/sprites.png';

$tag-blue-default_x = 0px;
$tag-blue-default_y = 427px;
$tag-blue-default_offset_x = 0px;
$tag-blue-default_offset_y = -427px;
$tag-blue-default_width = 40px;
$tag-blue-default_height = 40px;
$tag-blue-default_total_width = 73px;
$tag-blue-default_total_height = 1568px;
$tag-blue-default_image = '/img/sprites.png';
$tag-blue-default = 0px 427px 0px -427px 40px 40px 73px 1568px '/img/sprites.png';

$tag-new-plus-icon_x = 0px;
$tag-new-plus-icon_y = 0px;
$tag-new-plus-icon_offset_x = 0px;
$tag-new-plus-icon_offset_y = 0px;
$tag-new-plus-icon_width = 12px;
$tag-new-plus-icon_height = 12px;
$tag-new-plus-icon_total_width = 73px;
$tag-new-plus-icon_total_height = 1568px;
$tag-new-plus-icon_image = '/img/sprites.png';
$tag-new-plus-icon = 0px 0px 0px 0px 12px 12px 73px 1568px '/img/sprites.png';




spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

spriteBackgroundSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
  spriteBackgroundSize($sprite)
}

spriteWidth2x($sprite) {
  width: ceil((($sprite[4] + 1)/2));
}

spriteHeight2x($sprite) {
  height: ceil((($sprite[5] + 1)/2));
}

spritePosition2x($sprite) {
  background-position: ceil(($sprite[2]/2)) ceil(($sprite[3]/2));
}

spriteBackgroundSize2x($sprite) {
  background-size: ceil(($sprite[6]/2)) ceil(($sprite[7]/2));
}

sprite2x($sprite) {
  spriteImage($sprite)
  spritePosition2x($sprite)
  spriteWidth2x($sprite)
  spriteHeight2x($sprite)
  spriteBackgroundSize2x($sprite)
}
