$add-a-link-default_x = 150px;
$add-a-link-default_y = 65px;
$add-a-link-default_offset_x = -150px;
$add-a-link-default_offset_y = -65px;
$add-a-link-default_width = 62px;
$add-a-link-default_height = 63px;
$add-a-link-default_total_width = 323px;
$add-a-link-default_total_height = 298px;
$add-a-link-default_image = '/img/sprites.png';
$add-a-link-default = 150px 65px -150px -65px 62px 63px 323px 298px '/img/sprites.png';
$add-a-tag-button-active_x = 168px;
$add-a-tag-button-active_y = 259px;
$add-a-tag-button-active_offset_x = -168px;
$add-a-tag-button-active_offset_y = -259px;
$add-a-tag-button-active_width = 47px;
$add-a-tag-button-active_height = 28px;
$add-a-tag-button-active_total_width = 323px;
$add-a-tag-button-active_total_height = 298px;
$add-a-tag-button-active_image = '/img/sprites.png';
$add-a-tag-button-active = 168px 259px -168px -259px 47px 28px 323px 298px '/img/sprites.png';
$add-a-tag-button-default_x = 119px;
$add-a-tag-button-default_y = 259px;
$add-a-tag-button-default_offset_x = -119px;
$add-a-tag-button-default_offset_y = -259px;
$add-a-tag-button-default_width = 47px;
$add-a-tag-button-default_height = 28px;
$add-a-tag-button-default_total_width = 323px;
$add-a-tag-button-default_total_height = 298px;
$add-a-tag-button-default_image = '/img/sprites.png';
$add-a-tag-button-default = 119px 259px -119px -259px 47px 28px 323px 298px '/img/sprites.png';
$add-a-tag-button-hover_x = 70px;
$add-a-tag-button-hover_y = 259px;
$add-a-tag-button-hover_offset_x = -70px;
$add-a-tag-button-hover_offset_y = -259px;
$add-a-tag-button-hover_width = 47px;
$add-a-tag-button-hover_height = 28px;
$add-a-tag-button-hover_total_width = 323px;
$add-a-tag-button-hover_total_height = 298px;
$add-a-tag-button-hover_image = '/img/sprites.png';
$add-a-tag-button-hover = 70px 259px -70px -259px 47px 28px 323px 298px '/img/sprites.png';
$checkbox-icon-active_x = 279px;
$checkbox-icon-active_y = 41px;
$checkbox-icon-active_offset_x = -279px;
$checkbox-icon-active_offset_y = -41px;
$checkbox-icon-active_width = 42px;
$checkbox-icon-active_height = 39px;
$checkbox-icon-active_total_width = 323px;
$checkbox-icon-active_total_height = 298px;
$checkbox-icon-active_image = '/img/sprites.png';
$checkbox-icon-active = 279px 41px -279px -41px 42px 39px 323px 298px '/img/sprites.png';
$checkbox-icon-default_x = 279px;
$checkbox-icon-default_y = 82px;
$checkbox-icon-default_offset_x = -279px;
$checkbox-icon-default_offset_y = -82px;
$checkbox-icon-default_width = 42px;
$checkbox-icon-default_height = 39px;
$checkbox-icon-default_total_width = 323px;
$checkbox-icon-default_total_height = 298px;
$checkbox-icon-default_image = '/img/sprites.png';
$checkbox-icon-default = 279px 82px -279px -82px 42px 39px 323px 298px '/img/sprites.png';
$checkbox-icon-hover_x = 279px;
$checkbox-icon-hover_y = 123px;
$checkbox-icon-hover_offset_x = -279px;
$checkbox-icon-hover_offset_y = -123px;
$checkbox-icon-hover_width = 42px;
$checkbox-icon-hover_height = 39px;
$checkbox-icon-hover_total_width = 323px;
$checkbox-icon-hover_total_height = 298px;
$checkbox-icon-hover_image = '/img/sprites.png';
$checkbox-icon-hover = 279px 123px -279px -123px 42px 39px 323px 298px '/img/sprites.png';
$close-x-icon-default_x = 279px;
$close-x-icon-default_y = 201px;
$close-x-icon-default_offset_x = -279px;
$close-x-icon-default_offset_y = -201px;
$close-x-icon-default_width = 26px;
$close-x-icon-default_height = 26px;
$close-x-icon-default_total_width = 323px;
$close-x-icon-default_total_height = 298px;
$close-x-icon-default_image = '/img/sprites.png';
$close-x-icon-default = 279px 201px -279px -201px 26px 26px 323px 298px '/img/sprites.png';
$close-x-icon-hover_x = 279px;
$close-x-icon-hover_y = 229px;
$close-x-icon-hover_offset_x = -279px;
$close-x-icon-hover_offset_y = -229px;
$close-x-icon-hover_width = 26px;
$close-x-icon-hover_height = 26px;
$close-x-icon-hover_total_width = 323px;
$close-x-icon-hover_total_height = 298px;
$close-x-icon-hover_image = '/img/sprites.png';
$close-x-icon-hover = 279px 229px -279px -229px 26px 26px 323px 298px '/img/sprites.png';
$edit-pencil-icon_x = 242px;
$edit-pencil-icon_y = 130px;
$edit-pencil-icon_offset_x = -242px;
$edit-pencil-icon_offset_y = -130px;
$edit-pencil-icon_width = 23px;
$edit-pencil-icon_height = 23px;
$edit-pencil-icon_total_width = 323px;
$edit-pencil-icon_total_height = 298px;
$edit-pencil-icon_image = '/img/sprites.png';
$edit-pencil-icon = 242px 130px -242px -130px 23px 23px 323px 298px '/img/sprites.png';
$find-friends-icon_x = 69px;
$find-friends-icon_y = 71px;
$find-friends-icon_offset_x = -69px;
$find-friends-icon_offset_y = -71px;
$find-friends-icon_width = 64px;
$find-friends-icon_height = 64px;
$find-friends-icon_total_width = 323px;
$find-friends-icon_total_height = 298px;
$find-friends-icon_image = '/img/sprites.png';
$find-friends-icon = 69px 71px -69px -71px 64px 64px 323px 298px '/img/sprites.png';
$friends-active_x = 214px;
$friends-active_y = 0px;
$friends-active_offset_x = -214px;
$friends-active_offset_y = 0px;
$friends-active_width = 63px;
$friends-active_height = 63px;
$friends-active_total_width = 323px;
$friends-active_total_height = 298px;
$friends-active_image = '/img/sprites.png';
$friends-active = 214px 0px -214px 0px 63px 63px 323px 298px '/img/sprites.png';
$friends-default_x = 129px;
$friends-default_y = 140px;
$friends-default_offset_x = -129px;
$friends-default_offset_y = -140px;
$friends-default_width = 63px;
$friends-default_height = 63px;
$friends-default_total_width = 323px;
$friends-default_total_height = 298px;
$friends-default_image = '/img/sprites.png';
$friends-default = 129px 140px -129px -140px 63px 63px 323px 298px '/img/sprites.png';
$friends-hover_x = 64px;
$friends-hover_y = 140px;
$friends-hover_offset_x = -64px;
$friends-hover_offset_y = -140px;
$friends-hover_width = 63px;
$friends-hover_height = 63px;
$friends-hover_total_width = 323px;
$friends-hover_total_height = 298px;
$friends-hover_image = '/img/sprites.png';
$friends-hover = 64px 140px -64px -140px 63px 63px 323px 298px '/img/sprites.png';
$grabbericon_x = 214px;
$grabbericon_y = 130px;
$grabbericon_offset_x = -214px;
$grabbericon_offset_y = -130px;
$grabbericon_width = 26px;
$grabbericon_height = 60px;
$grabbericon_total_width = 323px;
$grabbericon_total_height = 298px;
$grabbericon_image = '/img/sprites.png';
$grabbericon = 214px 130px -214px -130px 26px 60px 323px 298px '/img/sprites.png';
$guide-icon_x = 0px;
$guide-icon_y = 71px;
$guide-icon_offset_x = 0px;
$guide-icon_offset_y = -71px;
$guide-icon_width = 67px;
$guide-icon_height = 67px;
$guide-icon_total_width = 323px;
$guide-icon_total_height = 298px;
$guide-icon_image = '/img/sprites.png';
$guide-icon = 0px 71px 0px -71px 67px 67px 323px 298px '/img/sprites.png';
$heart-icon_x = 279px;
$heart-icon_y = 0px;
$heart-icon_offset_x = -279px;
$heart-icon_offset_y = 0px;
$heart-icon_width = 44px;
$heart-icon_height = 39px;
$heart-icon_total_width = 323px;
$heart-icon_total_height = 298px;
$heart-icon_image = '/img/sprites.png';
$heart-icon = 279px 0px -279px 0px 44px 39px 323px 298px '/img/sprites.png';
$import-bookmarks-icon_x = 75px;
$import-bookmarks-icon_y = 0px;
$import-bookmarks-icon_offset_x = -75px;
$import-bookmarks-icon_offset_y = 0px;
$import-bookmarks-icon_width = 73px;
$import-bookmarks-icon_height = 69px;
$import-bookmarks-icon_total_width = 323px;
$import-bookmarks-icon_total_height = 298px;
$import-bookmarks-icon_image = '/img/sprites.png';
$import-bookmarks-icon = 75px 0px -75px 0px 73px 69px 323px 298px '/img/sprites.png';
$import-from-other-services-icon_x = 0px;
$import-from-other-services-icon_y = 0px;
$import-from-other-services-icon_offset_x = 0px;
$import-from-other-services-icon_offset_y = 0px;
$import-from-other-services-icon_width = 73px;
$import-from-other-services-icon_height = 69px;
$import-from-other-services-icon_total_width = 323px;
$import-from-other-services-icon_total_height = 298px;
$import-from-other-services-icon_image = '/img/sprites.png';
$import-from-other-services-icon = 0px 0px 0px 0px 73px 69px 323px 298px '/img/sprites.png';
$kifi-logo-white_x = 0px;
$kifi-logo-white_y = 259px;
$kifi-logo-white_offset_x = 0px;
$kifi-logo-white_offset_y = -259px;
$kifi-logo-white_width = 68px;
$kifi-logo-white_height = 39px;
$kifi-logo-white_total_width = 323px;
$kifi-logo-white_total_height = 298px;
$kifi-logo-white_image = '/img/sprites.png';
$kifi-logo-white = 0px 259px 0px -259px 68px 39px 323px 298px '/img/sprites.png';
$lock-private-icon_x = 279px;
$lock-private-icon_y = 164px;
$lock-private-icon_offset_x = -279px;
$lock-private-icon_offset_y = -164px;
$lock-private-icon_width = 35px;
$lock-private-icon_height = 35px;
$lock-private-icon_total_width = 323px;
$lock-private-icon_total_height = 298px;
$lock-private-icon_image = '/img/sprites.png';
$lock-private-icon = 279px 164px -279px -164px 35px 35px 323px 298px '/img/sprites.png';
$my-keeps-library-active_x = 0px;
$my-keeps-library-active_y = 205px;
$my-keeps-library-active_offset_x = 0px;
$my-keeps-library-active_offset_y = -205px;
$my-keeps-library-active_width = 52px;
$my-keeps-library-active_height = 52px;
$my-keeps-library-active_total_width = 323px;
$my-keeps-library-active_total_height = 298px;
$my-keeps-library-active_image = '/img/sprites.png';
$my-keeps-library-active = 0px 205px 0px -205px 52px 52px 323px 298px '/img/sprites.png';
$my-keeps-library-default_x = 54px;
$my-keeps-library-default_y = 205px;
$my-keeps-library-default_offset_x = -54px;
$my-keeps-library-default_offset_y = -205px;
$my-keeps-library-default_width = 52px;
$my-keeps-library-default_height = 52px;
$my-keeps-library-default_total_width = 323px;
$my-keeps-library-default_total_height = 298px;
$my-keeps-library-default_image = '/img/sprites.png';
$my-keeps-library-default = 54px 205px -54px -205px 52px 52px 323px 298px '/img/sprites.png';
$search-icon-active_x = 150px;
$search-icon-active_y = 205px;
$search-icon-active_offset_x = -150px;
$search-icon-active_offset_y = -205px;
$search-icon-active_width = 40px;
$search-icon-active_height = 42px;
$search-icon-active_total_width = 323px;
$search-icon-active_total_height = 298px;
$search-icon-active_image = '/img/sprites.png';
$search-icon-active = 150px 205px -150px -205px 40px 42px 323px 298px '/img/sprites.png';
$search-icon-default_x = 108px;
$search-icon-default_y = 205px;
$search-icon-default_offset_x = -108px;
$search-icon-default_offset_y = -205px;
$search-icon-default_width = 40px;
$search-icon-default_height = 42px;
$search-icon-default_total_width = 323px;
$search-icon-default_total_height = 298px;
$search-icon-default_image = '/img/sprites.png';
$search-icon-default = 108px 205px -108px -205px 40px 42px 323px 298px '/img/sprites.png';
$settings-active_x = 150px;
$settings-active_y = 0px;
$settings-active_offset_x = -150px;
$settings-active_offset_y = 0px;
$settings-active_width = 62px;
$settings-active_height = 63px;
$settings-active_total_width = 323px;
$settings-active_total_height = 298px;
$settings-active_image = '/img/sprites.png';
$settings-active = 150px 0px -150px 0px 62px 63px 323px 298px '/img/sprites.png';
$settings-default_x = 214px;
$settings-default_y = 65px;
$settings-default_offset_x = -214px;
$settings-default_offset_y = -65px;
$settings-default_width = 62px;
$settings-default_height = 63px;
$settings-default_total_width = 323px;
$settings-default_total_height = 298px;
$settings-default_image = '/img/sprites.png';
$settings-default = 214px 65px -214px -65px 62px 63px 323px 298px '/img/sprites.png';
$settings-hover_x = 0px;
$settings-hover_y = 140px;
$settings-hover_offset_x = 0px;
$settings-hover_offset_y = -140px;
$settings-hover_width = 62px;
$settings-hover_height = 63px;
$settings-hover_total_width = 323px;
$settings-hover_total_height = 298px;
$settings-hover_image = '/img/sprites.png';
$settings-hover = 0px 140px 0px -140px 62px 63px 323px 298px '/img/sprites.png';
$tag-blue-active_x = 192px;
$tag-blue-active_y = 205px;
$tag-blue-active_offset_x = -192px;
$tag-blue-active_offset_y = -205px;
$tag-blue-active_width = 40px;
$tag-blue-active_height = 40px;
$tag-blue-active_total_width = 323px;
$tag-blue-active_total_height = 298px;
$tag-blue-active_image = '/img/sprites.png';
$tag-blue-active = 192px 205px -192px -205px 40px 40px 323px 298px '/img/sprites.png';
$tag-blue-default_x = 234px;
$tag-blue-default_y = 205px;
$tag-blue-default_offset_x = -234px;
$tag-blue-default_offset_y = -205px;
$tag-blue-default_width = 40px;
$tag-blue-default_height = 40px;
$tag-blue-default_total_width = 323px;
$tag-blue-default_total_height = 298px;
$tag-blue-default_image = '/img/sprites.png';
$tag-blue-default = 234px 205px -234px -205px 40px 40px 323px 298px '/img/sprites.png';
$tag-new-plus-icon_x = 307px;
$tag-new-plus-icon_y = 201px;
$tag-new-plus-icon_offset_x = -307px;
$tag-new-plus-icon_offset_y = -201px;
$tag-new-plus-icon_width = 12px;
$tag-new-plus-icon_height = 12px;
$tag-new-plus-icon_total_width = 323px;
$tag-new-plus-icon_total_height = 298px;
$tag-new-plus-icon_image = '/img/sprites.png';
$tag-new-plus-icon = 307px 201px -307px -201px 12px 12px 323px 298px '/img/sprites.png';



spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

spriteBackgroundSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
  spriteBackgroundSize($sprite)
}

spriteWidth2x($sprite) {
  width: ceil(($sprite[4]/2));
}

spriteHeight2x($sprite) {
  height: ceil(($sprite[5]/2));
}

spritePosition2x($sprite) {
  background-position: floor(($sprite[2]/2)) floor(($sprite[3]/2));
}

spriteBackgroundSize2x($sprite) {
  background-size: floor(($sprite[6]/2)) floor(($sprite[7]/2));
}

sprite2x($sprite) {
  spriteImage($sprite)
  spritePosition2x($sprite)
  spriteWidth2x($sprite)
  spriteHeight2x($sprite)
  spriteBackgroundSize2x($sprite)
}
