heading_xl()
  font-size: 25px
  margin: 0
  margin-bottom: 10px

heading_lg()
  font-size: 20px
  margin: 0
  margin-bottom: 10px

heading_rg()
  font-size: 15px
  margin: 0
  margin-bottom: 10px

heading_sm()
  font-size: 13px
  margin: 0
  margin-bottom: 10px

heading_xs()
  font-size: 10px
  margin: 0
  margin-bottom: 10px

// TODO: Gulp requires that stylus files output something
body
  display: inherit
