heading_xl()
  font-size: 25px
  margin: 0
  margin-bottom: 10px

heading_lg()
  font-size: 20px
  margin: 0
  margin-bottom: 10px

heading_rg()
  font-size: 15px
  margin: 0
  margin-bottom: 10px

heading_sm()
  font-size: 13px
  margin: 0
  margin-bottom: 10px

heading_xs()
  font-size: 10px
  margin: 0
  margin-bottom: 10px

paragraph()
  font: 12px/18px Lato,Helvetica,Arial,sans-serif

  @media (min-width: 480px)
    line-height: 19px
    font-size: 13px

  @media (min-width: 560px)
    line-height: 20px
    font-size: 14px
    
// TODO (Adam): Gulp requires that stylus files output something
body
  display: inherit
