.kf-nav-item
  padding: 20px 0 10px 0
  font-size: 13px
  user-select: none

  &.active
    .kf-nav-count
      color: countColor

.kf-nav-name
.kf-nav-count
  line-height: 26px

.kf-nav-name
  display: inline-block
  color: textDarkColor
  font-weight: 400
  font-smoothing: antialiased
  padding: 0 10px

.kf-nav-count
  float: right
  font-size: 12px
  font-weight: 200
  padding: 0 0 0 12px
  color: countGreyColor

  &.empty
    display: none

.kf-nav-icon-library
  width: 21px

.kf-nav-group-name
  font-size: 14px
  line-height: 36px
  color: textDarkColor
  font-weight: 400
  font-smoothing: antialiased
