<ul class="kf-nav-group" ng-if="!librariesEnabled">
  <li class="kf-nav-item kf-nav-recos" ng-class="{ active: isActive('/recommendations') }">
    <a class="kf-nav-link" href="/recommendations" ng-if="inRecoExperiment()">
      <span class="sprite sprite-clover-small"></span>
      <span class="kf-nav-name pre-libraries-style">Recommendations</span>
    </a>
  </li>
  <li class="kf-nav-item kf-nav-keeps" ng-class="{ active: isActive('/') }">
    <a class="kf-nav-link" href="/">
      <span class="sprite sprite-cards-small"></span>
      <span class="kf-nav-name pre-libraries-style">Keeps Library</span>
      <span class="kf-nav-count" ng-class="{ empty: !counts.keepCount }">{{counts.keepCount}}</span>
    </a>
  </li>
</ul>

<div ng-if="librariesEnabled">
  <div class="kf-nav-lib-recos" ng-class="{ active: isActive('/recommendations') }">
    <a class="kf-nav-link" href="/recommendations" ng-if="inRecoExperiment()">
      <span class="sprite sprite-clover-small"></span>
      <span class="kf-nav-name">Recommendations</span>
    </a>
  </div>
  <ul class="kf-nav-lib-system">
    <li class="kf-nav-lib-item" ng-class="{ active: isActive('mainLib.url') }">
      <a class="kf-nav-link" ng-href="{{mainLib.url}}">
        <div class="library-card svg-library-card"></div>
        <div class="kf-nav-lib-info">
          <div class="kf-nav-lib-name">{{mainLib.name}}</div>
          <div class="kf-nav-lib-text" ng-class="{ empty: !mainLib.numKeeps }">{{mainLib.numKeeps}} keeps </div>
        </div>
      </a>
    </li>
    <li class="kf-nav-lib-item" ng-class="{ active: isActive('secretLib.url') }">
      <a class="kf-nav-link" ng-href="{{secretLib.url}}">
        <div class="library-card svg-library-card"></div>
        <div class="kf-nav-lib-info">
          <div class="kf-nav-lib-name">{{secretLib.name}}</div>
          <div class="kf-nav-lib-text" ng-class="{ empty: !secretLib.numKeeps }">{{secretLib.numKeeps}} keeps </div>
        </div>
      </a>
    </li>
  </ul>

  <div class="kf-nav-lib-item">
    <a class="kf-nav-link">
      <span class="library-card svg-new-library-card"></span>
      <span class="kf-nav-name" ng-click="addLibrary()">Create a new Library</span>
    </a>
  </div>

  <div class="kf-lib-input-box" ng-class="{ 'focused': isFilterFocused }">
      <a class="kf-lib-input-clear" href="javascript:" ng-click="clearFilter(true)" ng-show="filter.name">&times;</a>
      <input class="kf-lib-filter-input" placeholder="Find a library..." maxlength="32">
  </div>

  <div class="kf-scrollable-libs" ng-click="scrollAround()">
    <ul class="kf-nav-lib-users">
      <li ng-repeat="library in userLibs" class="kf-nav-lib-item" ng-class="{ active: isActive(library.url) }">
        <a class="kf-nav-link" ng-href="{{library.url}}">
          <div class="library-card svg-red-card-with-lock" ng-if="library.visibility=='secret'"></div>
          <div class="library-card svg-yellow-card-with-globe" ng-if="library.visibility=='discoverable'"></div>
          <div class="library-card svg-green-card-with-globe" ng-if="library.visibility=='published'"></div>
          <div class="kf-nav-lib-info">
            <div class="kf-nav-lib-name">{{library.name}}</div>
            <div class="kf-nav-lib-text">
              <ng-pluralize count="library.numKeeps"
                            when="{'0': '',
                                   'one': '1 keep',
                                   'other': '{} keeps'}"></ng-pluralize>
              <ng-pluralize count="library.numFollowers"
                            when="{'0': '',
                                   'one': ' 1 follower',
                                   'other':' {} followers'}"></ng-pluralize>
            </div>
          </div>
        </a>
      </li>
      <li ng-repeat="library in invitedLibs" class="kf-nav-lib-item" ng-class="{ active: isActive(library.url) }">
        <a class="kf-nav-link" ng-href="{{library.url}}">
          <div class="library-card svg-library-card"></div>
          <div class="kf-nav-lib-info">
            <div class="kf-nav-lib-name">{{library.name}}</div>
            <div class="kf-nav-lib-text">invitation pending</div>
          </div>
        </a>
      </li>
    </ul>
  </div>

</div>
