<ul class="kf-nav-group" ng-if="!librariesEnabled">
  <li class="kf-nav-item kf-nav-recos" ng-class="{ active: isActive('/recommendations') }">
    <a class="kf-nav-link" href="/recommendations">
      <span class="sprite sprite-clover-small"></span>
      <span class="kf-nav-name pre-libraries-style">Recommendations</span>
    </a>
  </li>
  <li class="kf-nav-item kf-nav-keeps" ng-class="{ active: isActive('/') }">
    <a class="kf-nav-link" href="/">
      <span class="sprite sprite-cards-small"></span>
      <span class="kf-nav-name pre-libraries-style">Keeps Library</span>
      <span class="kf-nav-count" ng-class="{ empty: !counts.keepCount }">{{counts.keepCount}}</span>
    </a>
  </li>
</ul>

<div class="kf-nav-group" ng-if="librariesEnabled">
  <div class="kf-nav-lib-recos" ng-class="{ active: isActive('/recommendations') }">
    <a class="kf-nav-link" href="/recommendations">
      <span class="sprite sprite-clover-small"></span>
      <span class="kf-nav-name">Recommendations</span>
    </a>
  </div>

  <div ng-show="mainLib.numKeeps >= 0">
    <ul class="kf-nav-lib-system">
      <li class="kf-nav-lib-item" ng-class="{ active: isActive('mainLib.url') }">
        <a class="kf-nav-link" ng-href="{{mainLib.url}}">
          <div class="library-icon svg-main-library-icon"></div>
          <div class="kf-nav-lib-info">
            <div class="kf-nav-lib-name">{{mainLib.name}}</div>
            <div class="kf-nav-lib-text" ng-class="{ empty: !mainLib.numKeeps }">
              <ng-pluralize count="mainLib.numKeeps"
                      when="{'0': '',
                             'one': '1 keep',
                             'other': '{} keeps'}">
              </ng-pluralize>
            </div>
          </div>
        </a>
      </li>
      <li class="kf-nav-lib-item" ng-class="{ active: isActive('secretLib.url') }">
        <a class="kf-nav-link" ng-href="{{secretLib.url}}">
          <div class="library-icon svg-secret-library-icon"></div>
          <div class="kf-nav-lib-info">
            <div class="kf-nav-lib-name">{{secretLib.name}}</div>
            <div class="kf-nav-lib-text" ng-class="{ empty: !secretLib.numKeeps }">
              <ng-pluralize count="secretLib.numKeeps"
                      when="{'0': '',
                             'one': '1 keep',
                             'other': '{} keeps'}">
              </ng-pluralize>
          </div>
        </a>
      </li>
    </ul>

    <div class="kf-nav-lib-item">
      <a class="kf-nav-link">
        <span class="library-icon svg-add-a-library-icon"></span>
        <span class="kf-nav-name" ng-click="addLibrary()">Create a new Library</span>
      </a>
    </div>

    <div class="kf-lib-search">
      <div class="kf-lib-input-box" ng-class="{ 'focused': isFilterFocused }">
        <a class="kf-lib-input-clear" href="javascript:" ng-click="clearFilter(true)" ng-show="filter.name">&times;</a>
        <input class="kf-lib-filter-input" kf-no-drag-input name="filterName" placeholder="Find a library..." maxlength="32" ng-model="filter.name" ng-change="onFilterChange()" ng-focus="focusFilter()" ng-blur="blurFilter()">
      </div>
      <div class="kf-sort-libs-by">
        <div class="kf-sort-img sprite sprite-arrow-gray-down"></div>
        <div class="dropdown-menu">
          <ul class="dropdown-menu-content">
            <li class="dropdown-option" ng-click="sortByNumKeeps()">Number of Keeps</li>
            <li class="dropdown-option" ng-click="sortByNumFollowers()">Number of followers</li>
            <li class="dropdown-option" ng-click="sortByName()">Alphabetical</li>
            <!-- <li class="dropdown-option" ng-click="sortByNameReverse()">Z-A</li> -->
            <li class="dropdown-option" ng-click="sortByLastViewed()">Last Viewed</li>
            <li class="dropdown-option" ng-click="sortByLastKept()">Last Kept To</li>
          </ul>
        </div>
      </div>

      </div>
    </div>
    <div class="kf-scrollable-libs" antiscroll="{ autoHide: false }">
      <ul class="kf-nav-lib-users">
        <li ng-repeat="library in userLibsToShow" class="kf-nav-lib-item" ng-class="{ active: isActive(library.url) }">
          <a class="kf-nav-link" ng-href="{{library.url}}">
            <div class="library-icon-holder">
              <div class="library-icon svg-red-card-with-lock" ng-if="library.visibility=='secret'"></div>
              <div class="library-icon svg-yellow-card-with-globe" ng-if="library.visibility=='discoverable'"></div>
              <div class="library-icon svg-green-card-with-globe" ng-if="library.visibility=='published'"></div>
              <img class="library-icon-owner-img" ng-if="!library.isMine" ng-src="{{library.owner.image || 'https://www.kifi.com/assets/img/ghost.200.png'}}" title="{{library.owner.firstName + ' ' + library.owner.lastName}}"></img>
            </div>
            <div class="kf-nav-lib-info">
              <div class="kf-nav-lib-name">{{library.firstLine}}</div>
              <div class="kf-nav-lib-name">{{library.secondLine}}</div>
              <div class="kf-nav-lib-text">
                <ng-pluralize count="library.numKeeps"
                              when="{'0': '',
                                     'one': '1 keep',
                                     'other': '{} keeps'}"></ng-pluralize>
                <ng-pluralize count="library.numFollowers"
                              when="{'0': '',
                                     'one': ' 1 follower',
                                     'other':' {} followers'}"></ng-pluralize>
              </div>
            </div>
          </a>
        </li>
        <li ng-repeat="library in invitedLibsToShow" class="kf-nav-lib-item" ng-class="{ active: isActive(library.url) }">
          <a class="kf-nav-link" ng-href="{{library.url}}">
            <div class="library-icon-holder">
              <div class="library-icon svg-library-card"></div>
              <img class="library-icon-owner-img" ng-if="!library.isMine" ng-src="{{library.owner.image || 'https://www.kifi.com/assets/img/ghost.200.png'}}" title="{{library.owner.firstName + ' ' + library.owner.lastName}}"></img>
            </div>
            <div class="kf-nav-lib-info">
              <div class="kf-nav-lib-name">{{library.firstLine}}</div>
              <div class="kf-nav-lib-name">{{library.secondLine}}</div>
              <div class="kf-nav-lib-text">invitation pending</div>
            </div>
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
