.kf-nav-item
  padding: 20px 0 10px 0
  font-size: 13px
  user-select: none

  &.active
    .kf-nav-count
      color: countColor

.kf-nav-name
.kf-nav-count
  line-height: 26px
  display: inline-block

.kf-nav-name
  display: inline-block
  color: textDarkColor
  font-weight: 400
  font-smoothing: antialiased
  padding: 0 10px

.kf-nav-count
  font-size: 12px
  font-weight: 200
  padding: 0 0 0 8px
  color: countGreyColor

  &.empty
    display: none

.kf-nav-icon-library
  sprite2x($my-keeps-library-active)
  display: inline-block

.kf-nav-group-name
  margin: 0 40px 0 20px
  font-size: 14px
  line-height: 36px
  color: textDarkColor
  font-weight: 400
  font-smoothing: antialiased
