.kf-nav-lib-recos
  border-bottom: 1px solid separatorColor
  padding: 10px 0 8px 0
  font-size: 13px

.kf-nav-lib-system
  border-bottom: 1px solid separatorColor
  padding: 8px 0 8px 0

.kf-nav-lib-item
  height: 45px
  padding: 12px 0 0 0
  user-select: none
  font-size: 12px



////////////////////////////
////// Library Icons ///////
////////////////////////////

.kf-nav-lib-info
  display: inline-block

.kf-nav-lib-name
  padding: 0 0 0 9px
  vertical-align: 5px
  font-size: 12px
  font-weight: 400
  color: textDarkColor

.kf-nav-lib-text
  padding: 0 0 0 9px
  font-size: 11px
  font-weight: 200
  color: countGreyColor
.library-icon-holder
  width: 27px
  height: 35px
  display: inline-block
  vertical-align: top
  padding-right: 8px

.library-icon
  width: 27px
  height: 35px
  display: inline-block
  vertical-align: top
  background-repeat: no-repeat

.library-icon-owner-img
  width: 23px
  height: 23px
  position: relative
  vertical-align: middle
  left: 13px
  top: -15px
  z-index: 1
  border-radius: 100% 



//////////////////////////////////////
////// Scrollable Library Pane ///////
//////////////////////////////////////

.kf-scrollable-libs
  width: calc(100% + 40px)

  // This is a hack to hide the scrollbar
  // (cf. comments in scrollbar.js)
  overflow: hidden
  .antiscroll-inner
    .kf-nav-lib-users
      width: calc(100%)



////////////////////////////////////
////// Library Filtering Box ///////
////////////////////////////////////

.kf-lib-search
  width: calc(100% + 40px)

.kf-lib-input-box
  height: 25px
  width: calc(100% - 42px)
  float: left
  margin-bottom: 8px
  box-sizing: border-box
  border: 1px solid #e6e6e6
  border-top-left-radius: 4px
  border-bottom-left-radius: 4px
  background: #eeeeee
  font-weight: 200
  cursor: text
  transition: all .16s

  &.focused
    background: #fff
    border-color: blueColor

  input
    width: calc(100% - 20px)
    margin: 0
    border: 0
    padding: 3px 10px
    box-sizing: border-box
    background-color: transparent
    color: textDarkGrey
    white-space: nowrap
    font-size: 13px
    font-weight: 200
    font-smoothing: antialiased
    line-height: 18px

.kf-lib-input-clear
  float: right
  width: 20px
  box-sizing: border-box
  font-size: 17px
  line-height: 20px
  cursor: pointer



////////////////////////////////////////////
////// Sorting Library Dropdown Menu ///////
////////////////////////////////////////////

.kf-sort-img
  position: relative
  left: 6px
  top: 3px

.kf-sort-libs-by
  width: 24px
  height: 25px
  float: right
  margin-right: 14px
  box-sizing: border-box
  border: 1px solid #e6e6e6
  border-radius: 0 4px 4px 0
  background: #eeeeee

.kf-sort-libs-by:hover
  transition: all .16s
  background-color: #fff
  border: 1px solid blueColor

.kf-sort-libs-by:hover .dropdown-menu-content
  visibility: visible

.kf-sort-libs-by:active
  color: #fff
  background-color: blueColor
  width: 24px
  
.dropdown-menu
  height: 30px
  width: 24px

.dropdown-menu-content
  width: 120px
  position: relative
  top: 10px
  left: -58px
  z-index: 1
  border: 1px solid #e6e6e6
  border-radius: 8px
  visibility: hidden
  
.dropdown-menu-content > li:first-child
  border-radius: 8px 8px 0 0

.dropdown-menu-content > li:last-child
  border-radius: 0 0 8px 8px

.dropdown-option
  height: 36px
  width: 120px
  padding-top: 11px
  box-sizing: border-box
  border-bottom: 1px solid separatorColor
  background-color: #fff
  text-align: center
  font-size: 11px
  font-weight: 200
  color: countGreyColor
  cursor: pointer

.dropdown-option:hover
  padding-top: 10px
  padding-bottom: 9px
  border: 1px solid blueColor
  background-color: #fff

.dropdown-option:active
  color: #fff
  background-color: blueColor
