.kf-nav-lib-recos
  border-bottom: 1px solid separatorColor
  padding: 10px 0 8px 0
  font-size: 13px

.kf-nav-lib-system
  border-bottom: 1px solid separatorColor
  padding: 8px 0 8px 0

.kf-nav-lib-item
  height: 45px
  padding: 12px 0 0 0
  user-select: none
  font-size: 12px

.kf-nav-lib-info
  display: inline-block

.kf-nav-lib-name
  padding: 0 0 0 9px
  vertical-align: 5px
  font-size: 12px
  font-weight: 400
  color: textDarkColor

.kf-nav-lib-text
  padding: 0 0 0 9px
  font-size: 11px
  font-weight: 200
  color: countGreyColor

.kf-nav-lib-bar
  border-bottom: 1px solid separatorColor
  padding: 8px 0 8px 0

.library-icon-holder
  width: 27px
  height: 35px
  display: inline-block
  vertical-align: top
  padding-right: 8px

.library-icon
  width: 27px
  height: 35px
  display: inline-block
  vertical-align: top
  background-repeat: no-repeat

.library-icon-owner-img
  position: relative
  vertical-align: middle
  left: 13px
  top: -15px
  z-index: 1
  width: 23px
  height: 23px
  border-radius: 100% 

.kf-scrollable-libs
  width: calc(100% + 40px)

  // This is a hack to hide the scrollbar
  // (cf. comments in scrollbar.js)
  overflow: hidden
  .antiscroll-inner
    .kf-nav-lib-users
      width: calc(100%)

.kf-lib-search
  width: calc(100% + 40px)

.kf-lib-input-box
  float: left
  margin-bottom: 8px
  cursor: text
  border-radius: 12px
  border-style: none
  background: #eeeeee
  transition: all .16s
  height: 24px
  font-weight: 200
  box-sizing: border-box
  border: 1px solid #e6e6e6

  &.focused
    background: #fff
    border-color: blueColor

  input
    width: calc(100% - 20px)
    white-space: nowrap
    margin: 0
    border: 0
    padding: 3px 10px
    background-color: transparent
    color: textDarkGrey
    font-size: 13px
    font-weight: 200
    font-smoothing: antialiased
    line-height: 18px
    box-sizing: border-box

.kf-lib-input-clear
  float: right
  width: 20px
  font-size: 17px
  line-height: 20px
  cursor: pointer
  box-sizing: border-box

.kf-sort-libs-by select
  display: inline-block
  width: 27px
  vertical-align: middle
  float: right
  margin-right: 5px
  font-size: 10px
  font-weight: 20
