.org-selector
  margin-top: 15px
  margin-bottom: 15px

  .org-selector-org
    display: flex
    justify-content: flex-start
    flex-direction: row
    align-items: center
    height: 48px
    cursor: pointer

    &:hover:not(.disabled):not(.selected)
      background-color: #EEEEEE

    &.selected
        background-color: #DEDEDE

    &.disabled:not(.selected)
      cursor: no-drop

      h1
        color: #aaa

      img
        opacity: .5

    img
      margin: 8px
      width: 32px
      height: 32px
      border-radius: 10%
      box-shadow: 0px 1px 1px 1px #00000022

    h1
      font-size: 14px
      line-height: 15px
      text-align: center
      margin-right: 5px
