.kf-twitter-sync-status-dialog
  .dialog-body-wrap
    margin: 0

  .dialog-header
    padding: 8px 10px
    display: flex
    align-items: center

  .dialog-body
    padding-top: 0

  p
    margin: 10px 0

  .kf-button
    display: block
    margin: 0 auto

.kf-twitter-sync-status-dialog-title-image
  display: inline-block
  width: 35px
  height: 35px
  margin-right: 13px
  background-size: cover
  vertical-align: -3px

.kf-twitter-sync-status-dialog-delay-text
  font-weight: bold
  font-style: italic