.kf-twitter-sync-dialog
  .dialog-body-wrap
    margin: 0

  .dialog-header
    padding: 10px 12px
    display: flex
    align-items: center

  .dialog-body
    padding-top: 0

  p
    margin: 10px 0

  .kf-button
    display: block
    margin: 0 auto

.kf-twitter-sync-dialog-title-image
  display: inline-block
  width: 28px
  height: 25px
  margin-right: 10px
  background-size: cover
  vertical-align: -3px

.kf-twitter-sync-dialog-site-text
  font-weight: bold
  font-style: italic
