.kf-keep-comment-container
  width: 100%
  height: auto
  display: flex
  flex-direction: row

  .kf-keep-comment-img
    align-self: flex-start
    width: 34px
    height: 34px
    background: #3E495533
    border-radius: 17px
    background-size: cover
    flex-shrink: 0
    margin-right: 10px

  .kf-keep-comment-content
    display: flex
    flex-direction: column
    font-size: 14px

    .kf-keep-comment-commenter-text
      white-space: pre-wrap
      word-wrap: break-word
      flex-grow: 1
      color: #3E4955FF
      margin-top: 2px

    .kf-keep-comment-commenter-name
      font-weight: bold
      color: accentGreen
      margin-right: 5px

      &:hover
        text-decoration: underline
        cursor: pointer

    .kf-keep-comment-time
      color: #BCBCBC
      font-size: 12px