.kf-keep-comment-embedded-data
  display: flex
  flex-direction: column

.kf-keep-comment-container
  width: 100%
  height: auto
  display: flex
  flex-direction: row

  .kf-keep-comment-img
    align-self: flex-start
    width: 30px
    height: 30px
    background: #3E495533
    border-radius: 17px
    background-size: cover
    flex-shrink: 0
    margin-right: 10px

  .kf-keep-comment-content
    display: flex
    width: 1px
    flex-grow: 1
    flex-direction: column
    font-size: 14px

    .kf-keep-comment-look-here-container
      margin-top: 5px
      margin-bottom: 5px
      background-color: #F9F6DE
      display: flex
      flex-direction: row
      padding: 10px
      color: #898989
      font-style: italic

      .kf-keep-comment-look-here-inside
        width: 1px
        flex-grow: 1

    .kf-keep-comment-look-here-left-divider
      background-color: #CDCDCD
      width: 3px
      height: auto
      margin-right: 10px


    .kf-keep-comment-look-here-link
      font-weight: bold
      font-style: italic


    .kf-keep-comment-embedded-img
      max-width: 100px
      max-height: 100px

    .kf-keep-comment-commenter-text
      white-space: pre-wrap
      word-wrap: break-word
      flex-grow: 1
      color: #333333
      margin-top: 2px

    .kf-keep-comment-inline
      display: inline

    .kf-keep-comment-block
      display: block

    .kf-keep-comment-v-space
      margin-bottom: 4px

    .kf-keep-comment-v-space-top
      margin-top: 4px

    .kf-keep-comment-commenter-name
      font-weight: normal
      color: accentGreen
      margin-right: 5px

      &:hover
        text-decoration: underline
        cursor: pointer

    .kf-keep-comment-time
      color: #ABABAB
      font-size: 12px
      -webkit-font-smoothing: antialiased

    .kf-keep-comment-page-link
      &.kf-link
        &:hover
          text-decoration: none
          opacity: .7

.kf-keep-comment-actions
  position: relative
  float: right

  .kf-keep-comment-actions-menu
    position: absolute
    top: 15px
    right: 5px
    font-size: 14px
    transform-origin: 80% top
    transition: visibility 0s, opacity linear dur, transform dur ease-out

  &:not(.kf-open)>.kf-keep-comment-actions-menu
    dur = .08s
    visibility: hidden
    opacity: 0
    transform: scale(.9)
    transition-duration: 0s, dur, dur
    transition-delay: dur, 0s, 0s

.kf-keep-comment-actions-item
  padding: 0 16px
  color: #556179
  white-space: nowrap
  cursor: pointer

  &:hover
    background-color: #eee

  &:active
    background-color: #ccc

.kf-keep-comment-actions-button
  display: none
  float: right

  .kf-keep-comment-actions-icon
    width: 15px
    height: 15px

.kf-keep-comment-container:hover .kf-keep-comment-actions-button
.kf-keep-comment-actions.kf-open .kf-keep-comment-actions-button
  display: block
