<div class="kf-keep-comment-container">

  <a ng-href="{{::comment.sentBy|profileUrl}}"
     ng-attr-style="background-image:url({{::comment.sentBy|pic:100}})" class="kf-keep-comment-img"></a>

  <div class="kf-keep-comment-content">
    <div>
      <a class="kf-keep-comment-commenter-name"
         ng-href="{{::comment.sentBy|profileUrl}}"
         ng-bind="::comment.sentBy|name"></a> </span>
      <a class="kf-keep-comment-page-link kf-link" ng-if="showKeepPageLink" ng-href="{{::keep.path}}">
        <time class="kf-keep-comment-time"
              ng-attr-datetime="{{::comment.sentAt}}" am-time-ago="::comment.sentAt"
              title="{{::comment.sentAt|localTime}}" ng-href="{{::keep.path}}" ng-if="::comment.sentAt"></time>
      </a>
      <time class="kf-keep-comment-time"
            ng-attr-datetime="{{::comment.sentAt}}" am-time-ago="::comment.sentAt"
            title="{{::comment.sentAt|localTime}}" ng-if="::comment.sentAt && !showKeepPageLink"></time>
      <span class="kf-keep-comment-actions" kf-click-menu ng-if="commentActionItems.length > 0  && canSeeCommentActions">
        <menu class="kf-dropdown-menu kf-keep-comment-actions-menu">
          <button class="kf-dropdown-menu-item kf-keep-comment-actions-item"
            ng-click="item.action($event, keep.pubId, comment.id)"
            ng-repeat="item in commentActionItems"
            ng-bind="item.title">
          </button>
        </menu>
        <button class="kf-keep-comment-actions-button kf-button kf-button-image">
          <svg kf-symbol-sprite class="kf-keep-comment-actions-icon" icon="dropdown-arrow"></svg>
        </button>
      </span>
    </div>
    <div class="kf-keep-comment-commenter-text">
      <div ng-repeat="part in commentParts" class="kf-keep-comment-inline">

        <div  ng-if="part.type === 'IMAGE'"
              class="kf-keep-comment-block"
              ng-class="{'kf-keep-comment-v-space': !$last, 'kf-keep-comment-v-space-top': $index - 1 >= 0 && commentParts[$index - 1].type !== 'IMAGE'}">
          <img class="kf-keep-comment-embedded-img" ng-src="{{part.data.src}}"/>
        </div>

        <div ng-if="part.type === 'TEXT_PLAIN'" ng-bind-html="part.data.text|noteHtml" class="kf-keep-comment-inline"></div>

        <div ng-if="part.type === 'EMAIL'" class="kf-keep-comment-inline">
          <a ng-href="mail-to:{{part.data.text}}" ng-bind="part.data.text" class="kf-link-blue kf-keep-comment-inline"></a>
        </div>

        <div ng-if="part.type === 'LINK'" class="kf-keep-comment-inline">
          <a  ng-href="{{part.data.link}}"  ng-bind="part.data.text" class="kf-link-blue kf-keep-comment-inline"></a>
        </div>

        <div ng-if="part.type === 'LOOK_HERE'" class="kf-keep-comment-inline">
          <a   ng-href="#" ng-click="openLookHere($event)" title="{{part.data.title}}" ng-bind="part.data.text" class="kf-link-blue kf-keep-comment-look-here-link kf-keep-comment-inline"/>
        </div>
        <div ng-if="part.type === 'LOOK_HERE'" >

          <div class="kf-keep-comment-look-here-container">
            <div class="kf-keep-comment-look-here-left-divider"></div>
            <div class="kf-keep-comment-look-here-inside">
              <div ng-repeat="lookHerePart in part.data.parts" class="kf-keep-comment-inline">
                <div  ng-if="lookHerePart.type === 'IMAGE'"
                      class="kf-keep-comment-block"
                      ng-class="{'kf-keep-comment-v-space': !$last, 'kf-keep-comment-v-space-top': $index - 1 >= 0 && part.data.parts[$index - 1].type !== 'IMAGE'}">
                  <img class="kf-keep-comment-embedded-img" ng-src="{{lookHerePart.data.src}}"/>
                </div>

                <div ng-if="lookHerePart.type === 'TEXT_PLAIN'" ng-bind="lookHerePart.data.text" class="kf-keep-comment-inline"></div>

                <div ng-if="lookHerePart.type === 'EMAIL'" class="kf-keep-comment-inline">
                  <a ng-href="mail-to:{{part.data.text}}" ng-bind="lookHerePart.data.text" class="kf-link-blue kf-keep-comment-inline"></a>
                </div>

                <div ng-if="lookHerePart.type === 'LINK'" class="kf-keep-comment-inline">
                  <a  ng-href="{{lookHerePart.data.link}}"  ng-bind="lookHerePart.data.text" class="kf-link-blue kf-keep-comment-inline"></a>
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

</div>
