@()

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Oops! We can’t find that.</title>
  <meta name="robots" content="noindex">
  <style>
    body {
      background-color: #f1f1f1;
      font-family: Helvetica, Arial, sans;
    }
    .body-wrap {
      max-width: 600px;
      margin: 0 auto;
      padding-top: 100px;
      text-align: center;
      color: #555;
      font-size: 16px;
    }
    h1 {
      font-size: 22px;
    }
    a {
      text-decoration: none;
      color: #6888AD;
    }
    a:hover {
      text-decoration: underline;
    }
    p {
      padding: 0 50px;
    }
  </style>
</head>

<body>
  <div class="body-wrap">
    <h1>Whomp. We can’t find the page you’re looking for.</h1>
    <p>It may have been removed or had its name changed. In the meantime, check out our <a href="http://support.kifi.com/">support center</a> or head back to our <a href="https://www.kifi.com/">homepage</a>.</p>
    <footer>
      <a href="http://support.kifi.com/customer/portal/emails/new">Contact support</a> — <a href="https://www.kifi.com/">Homepage</a> — <a href="https://twitter.com/kifi">@@kifi</a>
    </footer>
  </div>
</body>
</html>
