.kf-col-left
  width: 18%
  min-width: 240px
  background: #fff

.kf-col-inner-left
  background: #eff2f7

.kf-header-left
  position: relative
  height: 70px
  padding-top: 18px
  background-color: #333
  box-sizing: border-box
  text-align: center
  z-index: 2

.kf-header-logo
  position: relative
  display: inline-block
  width: 51px
  height: 29px
  background: url(/img/kifi-logo.png) 0/100%

.kf-header-callout-wrap
  position: relative

a.kf-header-callout
  position: absolute
  left: 3px
  bottom: 5px
  width: 60px
  font-size: 10px
  line-height: 10px
  font-weight: 300
  font-style: italic
  font-smoothing: antialiased
  color: #fff
  text-decoration: none

a.kf-header-callout:hover
  text-decoration: underline
