@(user: User)

<div style="color:#333;font:13px 'Helvetica Neue',Helvetica,Arial,sans-serif">
<p>Hey @user.firstName @user.lastName,

<p>Welcome to the KiFi beta group. We are extremely excited to have you join us.

<p>KiFi is short for “Keep it. Find it.” Our mission is to help you easily keep and find anything online.

<p>With KiFi you can keep any page, video, article, photo and much more with click of a button. You can easily find what you or your friends have kept by searching in Google. 

<p>You can also chat with your friends and leave them comments on every page.

<p><a href="https://www.kifi.com/install">Let's get started.</a>

<p>Cheers,

<p>The KiFi team

</div>
