/* CSS Reset
----------------------------------------------------------------------------------------------------*/

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp { border: 0; margin: 0; padding: 0; font-size: 100%; zoom: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section { display: block; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote { list-style:none; }

h1, h2, h3, h4, h5, h6 { line-height:normal; font-weight:normal; }

a { text-decoration: none; outline:none; cursor:pointer; }

b, strong { font-weight: bold; }

img { color: transparent; font-size: 0; vertical-align: middle; border:none; -ms-interpolation-mode: bicubic; max-width:100%; height:auto;}

ul, li { display: list-item; list-style:none; }

table { border-collapse: collapse; border-spacing: 0; }

th, td, caption { font-weight: normal; vertical-align: top; text-align: left; }

svg { overflow: hidden; }

/* Form Elements */

input[type="checkbox"] { margin:0 4px; width: 13px; height: 13px; padding: 0; vertical-align: middle; position: relative; top: -1px; *overflow: hidden;} /*checkbox alignement*/

input, textarea, select { outline:none; margin:0; font-family:inherit;}

textarea{ overflow:auto; resize:none;}


/* General Stlyes*/

body { font: 15px/1.5 "Open Sans", Arial, Helvetica, sans-serif; background: #eeeeee; color: #646464; text-align:left; }

a, .video-still:before, .slide_content *{-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}

.duration1{ -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }

.duration2{-webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}

.duration3{-webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; transition: all 0.5s ease-out;}


a:active{-webkit-transition: all 0.05s ease-out; -moz-transition: all 0.05s ease-out; -o-transition: all 0.05s ease-out; transition: all 0.05s ease-out;}

a { }

a:hover { }

/*floats*/

.right { float:right; }

.left { float:left; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.clearfix:before, .clearfix:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.clearfix:after { clear: both; }

.clearfix { zoom: 1; }


/* Tyopgraphy Styles*/

.align_left{ text-align:left;}

.align_center{ text-align:center;}

.align_right{ text-align:right;}

h1{font:700 38px/1.2 "Open Sans"; margin-bottom:30px;}

h2{ font: 600 1.533em/1.4 "Open Sans"; margin-bottom: 20px; color: #50575e;}

h3{font: 1.533em/1.4 "Open Sans"; margin-bottom:20px;color: #50575e;}

p{ font-weight:300; line-height: 1.6; text-align: left;}


/* Buttons */

.button{ display:inline-block; height:34px; line-height:34px; padding:0 28px; border:1px solid; border-radius:3px; font-family:"Open Sans"; font-size: 0.778em;}

.button.bigger{ height:62px; line-height:62px; padding:0 56px; border-width:2px; border-radius:5px; font-size:22px; font-weight:600;}

.button.blue{ background:#6fa6ef; border-color:#fff; color:#fff;}

.button.blue:hover{ background:#8cb8f2;}

.button.blue_inverted{ background:#fff; border-color:#6fa6ef; color:#6fa6ef; }

.button.blue_inverted:hover{ background:#8cb8f2; color:#fff;}

.button.green{ background:#93c059; color:#fff; border-color:#93c059;}

.button.green:hover{ background:#a9cd7a;}


/* Main Styles*/

.white_bg { background:#fff;}

.wrap, .wrap2, .wrap3{ position:relative; margin:0 auto; max-width:1170px; padding:0 10px;}

.wrap2{max-width:700px;}

.wrap3{max-width:880px;}

#header{ padding:16px 0; background:#fff;}

#header .right{ margin-top:2px;}

#logo .mobile{ display:none;}

#main_content{ padding:480px 0 40px; }

.home_banner{ background:url(../images/banner_background.jpg) no-repeat; background-size:cover; position:absolute; left:0; right:0; top:0; z-index:10000;}

.fixed_banner .home_banner{ position:fixed; top:auto;}

.home_banner .wrap{height:480px;}

.home_banner h1{ font: 600 1.389em/1.2 "Open Sans"; color:#fff; text-shadow:1px 1px 1px rgba(0,0,0,0.50); margin-bottom:90px; padding-top: 40px; z-index:1000; position:relative;}

.home_banner .button{ width:124px; position:absolute; bottom: 30px; left:50%; margin-left:-120px; z-index: 100;}

.home_banner .video-still{ background:url(../images/video_button.png) no-repeat; width:110px; height:110px; display:block; margin:0 auto; background-size:contain; cursor:pointer; position: relative; z-index: 100;}

.video-still:hover{ opacity:1;}

.block{ padding: 35px 0;}

.no_top_padding{ padding-top:0;}

.no_bottom_padding{ padding-bottom:0;}

.kifi_features{ border-top:1px solid #d4d2d2; padding-top: 40px;}

.kifi_features li{ margin-bottom: 40px; padding-bottom: 40px; border-bottom: 1px solid #d4d2d2;}

.kifi_features .image{ text-align: center; margin-bottom: 10px;}

.kifi_features img { width: 106px; }

.kifi_features .description{ overflow:hidden;}

.home_phone{ width:274px; height:auto; position:absolute; right:0; bottom:30px;}


/* video popup */

.video-popup { display: table; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255,255,255,.8); z-index: 100000; visibility: hidden; opacity: 0; -webkit-transition: visibility 0 .18s, opacity .18s linear; -moz-transition: visibility 0 .18s, opacity .18s linear; -o-transition: visibility 0 .18s, opacity .18s linear; -ms-transition: visibility 0 .18s, opacity .18s linear; transition: visibility 0 .18s, opacity .18s linear }

.video-popup.showing { visibility: visible; opacity: 1; -webkit-transition: visibility .36s, opacity .36s linear; -moz-transition: visibility .36s, opacity .36s linear; -o-transition: visibility .36s, opacity .36s linear; -ms-transition: visibility .36s, opacity .36s linear; transition: visibility .36s, opacity .36s linear }

.video-cell { display: table-cell; vertical-align: middle; text-align: center }

.video-width { width: 96%; margin: 0 auto }

.video-height { width: 100%; position: relative; -webkit-transform: scale(.2, .2); -moz-transform: scale(.2, .2); -o-transform: scale(.2, .2); -ms-transform: scale(.2, .2); transform: scale(.2, .2); -webkit-transition: -webkit-transform .18s ease-in; -moz-transition: -moz-transform .18s ease-in; -o-transition: -o-transform .18s ease-in; -ms-transition: -ms-transform .18s ease-in; transition: transform .18s ease-in }

.video-popup.showing .video-height { background:#ccc; -webkit-transform: scale(1, 1); -moz-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); transform: scale(1, 1); -webkit-transition: -webkit-transform .36s ease-out; -moz-transition: -moz-transform .36s ease-out; -o-transition: -o-transform .36s ease-out; -ms-transition: -ms-transform .36s ease-out; transition: transform .36s ease-out }

.video-iframe { position: absolute; top: 0; left: 0; height: 100%; width: 100%; -webkit-box-shadow: rgba(0,0,0,.15) 0 10px 25px; box-shadow: rgba(0,0,0,.15) 0 10px 25px; }

.video-x { position: absolute; top: -15px; right: -15px; height: 32px; width: 32px; line-height: 32px; font-size: 24px; text-align:center; background: #7b796a; border-radius: 50%; -webkit-box-shadow: rgba(0,0,0,.3) 0 2px 3px; -moz-box-shadow: rgba(0,0,0,.3) 0 2px 3px; box-shadow: rgba(0,0,0,.3) 0 2px 3px ; color:#fff;}

.video-x::after { content: '\2716'; }

.video-x:hover { background: #888679 }

.video-x:active { background: #757365; -webkit-box-shadow: rgba(0,0,0,.3) 0 1px 2px; -moz-box-shadow: rgba(0,0,0,.3) 0 1px 2px; box-shadow: rgba(0,0,0,.3) 0 1px 2px }


/* footer */


#footer { background: #424242; color: #929292; text-transform: uppercase; text-align: center; padding: 40px 0; }

#footer .footer_nav { margin-bottom: 16px; }

#footer .footer_nav a { color: #ffffff; font-size: 0.889em; }

#footer .dot { display: inline-block; margin: 0 3px; }

#footer .copy{font-size:0.778em;}

.heart_icon { background: url(../images/heart_icon.png) no-repeat; width: 15px; height: 13px; display: inline-block; position: relative; top: 2px; margin: 0 4px; background-size: 100%;}

.mobile{ display:none;}

@media only screen and (max-height: 440px) {
	.home_banner h1{ padding-top:30px; margin-bottom:40px; color:red;}
	
	.home_banner .button{ bottom:20px;}
}

