<div class="kf-library-menu" kf-wheel-stop>
  <div class="kf-nav-group">
    <div class="kf-lm-libraries">
      <ul class="kf-nav-lib-system">
        <li class="kf-nav-lib-item" ng-class="{ active: isActive(mainLib.url) }">
          <a class="kf-nav-link" ng-href="{{mainLib.url}}" ng-click="closeMenu()">
            <div class="kf-lm-library-card" ng-style="{'background-color': mainLib.color}">
              <div class="kf-lm-star-icon svg-card-star"></div>
            </div>
            <div class="kf-nav-lib-info">
              <div class="kf-nav-lib-name">My Main Library</div>
              <div class="kf-nav-lib-text" ng-class="{ empty: !mainLib.numKeeps }">
                <ng-pluralize count="mainLib.numKeeps"
                        when="{'0': '',
                               'one': '1 keep',
                               'other': '{} keeps'}">
                </ng-pluralize>
              </div>
            </div>
          </a>
        </li>
        <li class="kf-nav-lib-item" ng-class="{ active: isActive(secretLib.url) }">
          <a class="kf-nav-link" ng-href="{{secretLib.url}}" ng-click="closeMenu()">
            <div class="kf-lm-library-card" ng-style="{'background-color': secretLib.color}">
              <div class="kf-lm-lock-icon svg-card-lock"></div>
            </div>
            <div class="kf-nav-lib-info">
              <div class="kf-nav-lib-name">My Private Library</div>
              <div class="kf-nav-lib-text" ng-class="{ empty: !secretLib.numKeeps }">
                <ng-pluralize count="secretLib.numKeeps"
                        when="{'0': '',
                               'one': '1 keep',
                               'other': '{} keeps'}">
                </ng-pluralize>
              </div>
            </div>
          </a>
        </li>
      </ul>

      <div class="kf-lib-search">
        <div class="kf-lib-input-box" ng-class="{ 'focused': isFilterFocused }">
          <a class="kf-lib-input-clear" href="javascript:" ng-click="clearFilter(true)" ng-show="filter.name">&times;</a>
          <input class="kf-lib-filter-input" kf-no-drag-input name="filterName" placeholder="Type a library name" maxlength="32" ng-model="filter.name" ng-change="onFilterChange()" ng-focus="focusFilter()" ng-blur="blurFilter()">
        </div>

        <div class="kf-sort-libs">
          <div class="kf-sort-libs-button" ng-class="{'on': sortingMenu.show }">
            <div class="kf-sort-img sprite sprite-arrow-gray-down"></div>
          </div>

          <div class="dropdown-menu-content" ng-show="sortingMenu.show">
            <div class="dropdown-menu-title">Sort By:</div>
            <ul class="dropdown-menu-option-list">
              <li class="dropdown-option" ng-class="{'set':sortingMenu.option=='name'}" ng-click="sortingMenu.option='name'">Library Name</li>
              <li class="dropdown-option" ng-class="{'set':sortingMenu.option=='last_viewed'}" ng-click="sortingMenu.option='last_viewed'">Last Viewed</li>
              <li class="dropdown-option" ng-class="{'set':sortingMenu.option=='last_kept'}" ng-click="sortingMenu.option='last_kept'">Date of Last Keep</li>
              <li class="dropdown-option" ng-class="{'set':sortingMenu.option=='num_keeps'}" ng-click="sortingMenu.option='num_keeps'">Number of Keeps</li>
              <li class="dropdown-option" ng-class="{'set':sortingMenu.option=='num_followers'}" ng-click="sortingMenu.option='num_followers'">Number of Followers</li>
            </ul>
            <div class="dropdown-menu-switch">
              <span>Your Libraries first:&nbsp;</span>
              <span class="dropdown-switch-option" ng-class="{ 'set':sortingMenu.myLibsFirst }" ng-click="toggleMyLibsFirst()">ON</span>
              <span class="dropdown-switch-option" ng-class="{ 'set':!sortingMenu.myLibsFirst }" ng-click="toggleMyLibsFirst()">OFF</span>
            </div>
          </div>
        </div>
      </div>

      <div class="kf-scrollable-libs">
        <ul class="kf-nav-lib-users antiscroll-inner" kf-wheel-allow>

          <li class="kf-nav-lib-separator" ng-if="sortingMenu.myLibsFirst && myLibsToShow.length > 0">
            <div class="kf-nav-lib-separator-title">YOUR LIBRARIES</div>
          </li>

          <li ng-show="sortingMenu.myLibsFirst" ng-repeat="library in myLibsToShow" class="kf-nav-lib-item" ng-class="{ active: isActive(library.url) }">
            <a class="kf-nav-link" ng-href="{{library.url}}" ng-click="closeMenu()">
              <div class="kf-lm-library-card" ng-style="{'background-color': library.color}">
                <div ng-if="library.visibility === 'secret'" class="kf-lm-lock-icon svg-card-lock"></div>
              </div>
              <div class="kf-nav-lib-info">
                <div kf-ellipsis full-text="library.name" max-num-lines=2 class="kf-nav-lib-name"></div>
                <div class="kf-nav-lib-text">
                  <ng-pluralize count="library.numKeeps"
                                when="{'0': '',
                                       'one': '1 keep',
                                       'other': '{} keeps'}"></ng-pluralize>
                  <ng-pluralize count="library.numFollowers"
                                when="{'0': '',
                                       'one': ' 1 follower',
                                       'other':' {} followers'}"></ng-pluralize>
                </div>
              </div>
            </a>
          </li>


          <li class="kf-nav-lib-separator" ng-if="!sortingMenu.myLibsFirst && userLibsToShow.length > 0">
            <div class="kf-nav-lib-separator-title">ALL LIBRARIES</div>
          </li>
          <li class="kf-nav-lib-separator" ng-if="sortingMenu.myLibsFirst && userLibsToShow.length > 0">
            <div class="kf-nav-lib-separator-title">LIBRARIES YOU FOLLOW</div>
          </li>
          <li ng-repeat="library in userLibsToShow" class="kf-nav-lib-item" ng-class="{ active: isActive(library.url) }">
            <a class="kf-nav-link" ng-href="{{library.url}}" ng-click="closeMenu()">
              <div class="kf-lm-library-card" ng-style="{'background-color': library.color}">
                <div ng-if="library.visibility === 'secret'" class="kf-lm-lock-icon svg-card-lock"></div>
              </div>
              <div class="kf-nav-lib-info">
                <div kf-ellipsis full-text="library.name" max-num-lines=2 class="kf-nav-lib-name"></div>
                <div class="kf-nav-lib-text">
                  <ng-pluralize count="library.numKeeps"
                                when="{'0': '',
                                       'one': '1 keep',
                                       'other': '{} keeps'}"></ng-pluralize>
                  <ng-pluralize count="library.numFollowers"
                                when="{'0': '',
                                       'one': ' 1 follower',
                                       'other':' {} followers'}"></ng-pluralize>
                </div>
              </div>
            </a>
            <a href="{{library.owner|profileUrl}}" kf-track-origin="libraryList/followed">
              <img class="library-icon-owner-img" ng-if="!isMyLibrary(library)" ng-src="{{library.owner|pic:100}}" title="{{library.owner.firstName}} {{library.owner.lastName}}"></img>
            </a>
          </li>
          <li class="kf-nav-lib-separator" ng-if="invitedLibsToShow.length > 0">
            <div class="kf-nav-lib-separator-title">INVITATIONS</div>
          </li>
          <li ng-repeat="library in invitedLibsToShow" class="kf-nav-lib-item" ng-class="{ active: isActive(library.url) }">
            <a class="kf-nav-link" ng-href="{{library.url}}" ng-click="closeMenu()">
              <div class="kf-lm-library-card" ng-style="{'background-color': library.color}">
                <div ng-if="library.visibility === 'secret'" class="kf-lm-lock-icon svg-card-lock"></div>
              </div>
              <div class="kf-nav-lib-info">
                <div kf-ellipsis full-text="library.name" max-num-lines=2 class="kf-nav-lib-name"></div>
                <div class="kf-nav-lib-text">invitation pending</div>
              </div>
            </a>
            <a href="{{library.owner|profileUrl}}" kf-track-origin="libraryList/invited">
              <img class="library-icon-owner-img" ng-src="{{library.owner|pic:100}}" title="{{library.owner.firstName}} {{library.owner.lastName}}"></img>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <footer class="kf-lm-footer">
    <a class="kf-lm-footer-link" target="_top" href="http://support.kifi.com">Help Center</a> &middot;
    <a class="kf-lm-footer-link" target="_top" href="https://www.kifi.com/about">About</a> &middot;
    <a class="kf-lm-footer-link" target="_top" href="http://blog.kifi.com">Blog</a> &middot;
    <a class="kf-lm-footer-link" target="_top" href="https://www.kifi.com/privacy">Privacy</a> &middot;
    <a class="kf-lm-footer-link" target="_top" href="https://www.kifi.com/terms">Terms</a>
  </footer>
</div>
