.kf-library-menu
  position: absolute
  top: 100%
  left: -13px
  margin-top: -4px
  border: 1px solid #e6e6e6
  border-radius: 16px
  padding: 0 15px
  width: 252px
  background: #fff
  box-shadow: 0 0 7px rgba(0, 40, 90, 0.2)
  overflow: hidden
  z-index: 1
  opacity: 1
  transform: none
  transform-origin: left top
  transition: opacity ease 0.2s, transform ease 0.2s

  &.ng-hide
    opacity: 0
    transform: scale(0.95)
    transform-origin: left top

.kf-nav-item
  font-size: 13px
  user-select: none
  margin-top: 10px

.kf-nav-link
  display: block

  .active &
    cursor: default

.kf-nav-name
.kf-nav-count
  line-height: 26px
  vertical-align: top

.pre-libraries-style
  text-transform: uppercase

.kf-nav-name
  display: inline-block
  padding: 0 5px
  color: textDarkColor
  font-weight: 400
  font-smoothing: antialiased

  .active &
    font-weight: bold

.kf-nav-count
  font-size: 12px
  font-weight: 200
  padding: 2px 0
  color: countGreyColor
  float: right

  &.empty
    display: none

.kf-nav-group
  padding-top: 10px
  height: calc(100% - 47px)

.kf-nav-group-name
  margin: 0 40px 0 20px
  font-size: 14px
  line-height: 36px
  color: textDarkColor
  font-weight: 400
  font-smoothing: antialiased

// Formerly, navLibs.styl
.kf-nav-lib-recos
  border-bottom: 1px solid separatorColor
  padding-bottom: 8px
  font-size: 13px

.kf-lm-libraries
  height: calc(100% - 5px)

.kf-nav-lib-item
  position: relative
  height: 45px
  width: 252px
  padding-top: 10px
  user-select: none
  font-size: 12px

  & a
    outline: 0

.kf-create-new-library
  padding: 8px 0 0 0

  .kf-nav-name
    padding-top: 3px

.kf-nav-lib-separator
  padding: 6px 0
  line-height: 28px
  width: 252px
  background-color: #fff
  position: relative  // avoids a Chrome repaint bug
  z-index: 3  // for when stuck to top

.kf-nav-lib-separator-title
  border-radius: 4px
  font-size: 11px
  font-weight: bold
  text-transform: uppercase
  color: #5d5d5d

////////////////////////////
////// Library Icons ///////
////////////////////////////

.kf-nav-lib-info
  display: inline-block
  padding-left: 12px

.kf-nav-lib-name
  width: 165px
  font-size: 13px
  font-weight: 400
  color: textDarkColor

  .active &
    font-weight: bold

.kf-nav-lib-item:hover:not(.active)
  .kf-nav-lib-name
    color: #71c885

.kf-nav-lib-text
  font-size: 11px
  font-weight: 200
  color: countGreyColor

.kf-lm-library-card
  display: inline-block
  border-radius: 4px
  width: 27px
  height: 35px
  vertical-align: top
  box-shadow: 0 1px #f5f5f5, 0 3px #c9ccc0

.kf-lm-lock-icon
.kf-lm-star-icon
  display: block
  margin: 8px auto 0
  background-size: 100%
  background-repeat: no-repeat

.kf-lm-lock-icon
  width: 14px
  height: 18px

.kf-lm-star-icon
  width: 18px
  height: 18px

.reco-icon
  width: 26px
  height: 26px
  display: inline-block

.library-icon-owner-img
  position: absolute
  top: 32px
  left: 12px
  width: 23px
  height: 23px
  z-index: 1
  border-radius: 100%


//////////////////////////////////////
////// Scrollable Library Pane ///////
//////////////////////////////////////

.kf-scrollable-libs
  position: relative
  height: calc(100% - 160px)
  overflow: hidden  // for antiscroll

  &>.antiscroll-scrollbar
    z-index: 3

.kf-nav-lib-users
  box-sizing: border-box  // for antiscroll

////////////////////////////////////
////// Library Filtering Box ///////
////////////////////////////////////

.kf-lib-search
  position: relative
  display: inline-block
  padding-top: 10px
  width: 100%
  height: 33px
  background-color: #fff
  z-index: 5

.kf-lib-input-box
  height: 25px
  width: calc(100% - 30px)
  float: left
  margin-bottom: 8px
  box-sizing: border-box
  border: 1px solid #e6e6e6
  border-radius: 4px
  font-weight: 200
  cursor: text
  transition: all .16s

  &.focused
    background: #fff
    border-color: blueColor

  input
    width: calc(100% - 20px)
    margin: 0
    border: 0
    padding: 3px 10px
    box-sizing: border-box
    background-color: transparent
    color: textDarkColor
    white-space: nowrap
    font-size: 13px
    font-weight: 200
    font-smoothing: antialiased
    line-height: 18px

.kf-lib-input-clear
  position: relative
  top: 2px
  float: right
  width: 20px
  box-sizing: border-box
  font-size: 17px
  line-height: 20px
  cursor: pointer



////////////////////////////////////////////
////// Sorting Library Dropdown Menu ///////
////////////////////////////////////////////

.kf-sort-img
  position: relative
  left: 6px
  top: 2px

.kf-sort-libs
  position: relative

.kf-sort-libs-button
  position: relative
  float: right
  width: 24px
  height: 25px
  box-sizing: border-box
  cursor: pointer
  user-select: none

.dropdown-menu-content
  position: absolute
  top: 30px
  left: 65px
  width: 185px
  z-index: 6
  background-color: #fff
  border-radius: 8px
  border: 1px solid separatorColor

.dropdown-menu-title
  padding-left: 10px
  line-height: 35px
  color: #5d5d5d
  font-size: 13px

.dropdown-menu-switch
  padding-left: 10px
  line-height: 40px
  font-size: 13px
  color: #5d5d5d
  border-top: 1px solid separatorColor

.dropdown-switch-option
  color: textLightGrey
  font-weight: 200
  font-size: 12px
  cursor: pointer

  &.set
    color: blueColor
    cursor: default
    font-weight: bold

.dropdown-option
  padding-left: 10px
  line-height: 27px
  color: textLightGrey
  font-weight: 200
  font-size: 13px
  cursor: pointer

  &:hover
    color: blueColor

  &:active
    background-color: blueColor
    color: #fff

  &.set
    color: blueColor
    background-color: #fff
    cursor: default

.kf-lm-footer
  border-top: 1px solid #e8e8e8
  padding-top: 9px
  font-size: 12px

.kf-lm-footer-link
  display: inline-block
  margin: 0 2px

  &:hover
  &:active
    text-decoration: underline
