@()
@headHtml = {
  <link rel="stylesheet" type="text/css" href="/assets/ml/css/authentication.css">
}
@content = {
  <div class="install-wrapper">
    <style>
    .wrapper {
        text-align: center;
        width: 100%;
        padding: 25px 0px;
    }

    .connect_body {
        width: 390px;
        font: normal normal normal normal 16px / normal Lato, Helvetica, Arial, sans-serif;
        margin: 0px auto;
    }

    .promo {
        color: rgb(95, 104, 111);
        font: normal normal normal normal 24px / normal Lato, Helvetica, Arial, sans-serif;
    }

    .connect-btn {
        color: rgb(255, 255, 255);
        cursor: pointer;
        display: inline-block;
        height: 18px;
        text-decoration: none;
        width: 153.578px;
        background: rgb(104, 200, 158) none repeat scroll 0% 0% / auto padding-box border-box;
        border-radius: 5px 5px 5px 5px;
        font: normal normal bold normal 14px / normal Lato, Helvetica, Arial, sans-serif;
        margin: 15px 0px 0px;
        padding: 10px 22.5px;
    }

    .slack_logo {
        color: rgb(255, 255, 255);
        cursor: pointer;
        display: inline-block;
        height: 17px;
        text-align: center;
        vertical-align: middle;
        width: 60px;
        font: normal normal bold normal 14px / normal Lato, Helvetica, Arial, sans-serif;
        margin: -2px 0px 0px 2px;
    }

    .being-decent-humans {
      color: rgb(140, 140, 140);
    }


    </style>
    <div class="wrapper">
      <div class="connect_body">
        <p class="promo">
          Connect with Slack to get access to your team’s content
        </p>
        <a href="https://www.kifi.com/link/slack" class="connect-btn">Continue with<img src="https://d1dwdv9wd966qu.cloudfront.net/img/slack-monochrome-white.2x.468839c.png" class="slack_logo" alt="" /></a>
        <p>You will be able to automatically save links posted in Slack and fully search through your team’s content.</p>
        <p class="being-decent-humans">We will not access your channels without your permission.</p>
      </div>
    </div>
  </div>
}
@scripts = {}

@minimal.layout(title = "Kifi | Connect Slack", content = content, htmlClass = "", headHtml = headHtml, scripts = scripts, footerClass = "", dataTrack = "slackConnect")
