@(provider: String, email: String)
@import com.keepit.controllers.core.routes.{AuthController => authRoutes}
@headHtml = {
  <link rel="stylesheet" type="text/css" href="/assets/ml/css/authentication.css">
}
@providerName = {
  @{provider.substring(0,1).toUpperCase + provider.substring(1)}
}
@content = {
  <div class="page claim-account">
    <div class="claim-account-wrapper">
      <h1 class="ca-h1">Link Your Social Account</h1>
      <h2 class="ca-h2">Connect @providerName</h2>
      <p class="ca-text">
        We already have an account for <b>@email</b>.<br>
        Please enter your Kifi password to connect @providerName.
      </p>

      <form class="login-form login-email-pass" method="POST" action="@authRoutes.logInWithUserPass()">
        <div class="input-wrapper">
          <input type="email" name="email" class="form-input login-email" placeholder="@email" value="@email">
          <div id="error-login-email" class="error"></div>
        </div>
        <div class="input-wrapper">
          <input type="password" name="password" class="form-input login-password" placeholder="Your password">
          <div id="error-login-password" class="error"></div>
        </div>
        <div class="ca-action">
          <a href="#" class="forgot-password-link">Forgot your password?</a>
          <button id="login-btn" class="btn-authentication btn-login" type="submit" data-track-action="clickedLoginButton">Log In</button>
        </div>
      </form>

    </div>
  </div>
  <div class="modal-overlay forgot-password">
    <div class="modal-cell">
      <div class="modal forgot-password-modal">
        <div class="modal-x">&times;</div>
        <div class="modal-title">I forgot my password</div>

        <form class="fp-form" action="@com.keepit.controllers.core.routes.AuthController.forgotPassword()" novalidate>
          <p class="modal-text">
            To reset your password, please enter<br>
            the email address you use to log in.
          </p>

          <input class="fp-input form-input" type="email" name="forgot-password-email" value="@email">
          <div id="error-fp" class="error"></div>
          <div class="modal-buttons">
            <span><button class="modal-button-cancel" type="button" data-track-action="clickedCancelPassword">Cancel</button></span>
            <span>
              <button class="modal-button-action" type="submit" data-track-action="clickedSubmitPassword">Submit</button>
            </span>
          </div>
        </form>

        <div class="fp-success">
          <p class="modal-text">We just sent instructions for resetting your password to:</p>
          <div class="fp-address"></div>
          <div class="modal-buttons">
            <button class="modal-button-cancel" type="button" data-track-action="clickedClosePassword">Close</button>
          </div>
        </div>

      </div>
    </div>
  </div>
}
@scripts = {
  <script src="/assets/ml/js/authentication.js"></script>
}

@minimal.layout(title = "Kifi | Link Social Account", content = content, htmlClass = "signup-page", headHtml = headHtml, scripts = scripts, footerClass = "join", dataTrack = "linkSocial")


