@()
@import com.keepit.controllers.core.routes.{AuthController => authRoutes}
@headHtml = {
  <link rel="stylesheet" type="text/css" href="/assets/ml/css/authentication.css">
}
@content = {
  <div class="page">
    <h1 class="login-h1">Log in to your Kifi Account</h1>
    <div id="center_container">
      <div class="left">
        <h3>Use your social network</h3>
        <a href="/login/twitter" class="auth_button twitter" data-track-action="clickedAuthTwitter"><span class="twitter"><i class="i-tbtn"></i></span><span class="twittertext">Twitter</span></a>
        <a href="/login/facebook" class="auth_button facebook" data-track-action="clickedAuthFacebook"><span class="fb"><i class="i-fbtn"></i></span><span class="fbtext">Facebook</span></a>
        <a href="/login/linkedin" class="auth_button linkedin" data-track-action="clickedAuthLinkedin"><span class="linked"><i class="i-lbtn"></i></span><span class="linkedintext">LinkedIn</span></a>
      </div>
      <div class="right border-left">
        <h3>Use your email address</h3>
        <form class="login-form login-email-pass" method="POST" action="@authRoutes.logInWithUserPass()">
          <div class="input-wrapper">
            <input type="email" name="email" class="form-input login-email" placeholder="Your email address">
            <div id="error-login-email" class="error"></div>
          </div>
          <div class="input-wrapper">
            <input type="password" name="password" class="form-input login-password" placeholder="Your password">
            <div id="error-login-password" class="error"></div>
          </div>
          <a href="#" class="forgot-password-link" data-track-action="clickedForgotPassword">Forgot your password?</a>
          <button id="login-btn" class="btn-authentication btn-login" type="submit" data-track-action="clickedLoginButton">
            <span class="progress"></span>
            <span class="text">Log in</span>
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-overlay forgot-password">
    <div class="modal-cell">
      <div class="modal forgot-password-modal">
        <div class="modal-x">&times;</div>
        <div class="modal-title">I forgot my password</div>

        <form class="fp-form" action="@com.keepit.controllers.core.routes.AuthController.forgotPassword()" method="POST" novalidate>
          <p class="modal-text">
            To reset your password, please enter<br>
            the email address you use to log in.
          </p>
          <input class="fp-input form-input" type="email" name="forgot-password-email" placeholder="Your email address">
          <div id="error-fp" class="error"></div>
          <div class="modal-buttons">
            <span><button class="modal-button-cancel" type="button" data-track-action="clickedCancelPassword">Cancel</button></span>
            <span><button class="modal-button-action" type="submit" data-track-action="clickedSubmitPassword">
              <span class="progress"></span>
              <span class="text">Submit</span>
            </button></span>
          </div>
        </form>

        <div class="fp-success">
          <p class="modal-text">We just sent instructions for resetting your password to:</p>
          <div class="fp-address"></div>
          <div class="modal-buttons">
            <button class="modal-button-close" type="button" data-track-action="clickedClosePassword">Close</button>
          </div>
        </div>

      </div>
    </div>
  </div>

}
@scripts = {
  <script src="/assets/ml/js/authentication.js"></script>
}

@minimal.layout(title = "Kifi | Log In", content = content, htmlClass = "signup-page", headHtml = headHtml, scripts = scripts, footerClass = "join", headerLink = "signup", dataTrack = "login")


