@(code: String = "", error: String = "")
@import com.keepit.controllers.core.routes.{AuthController => authRoutes}
@headHtml = {
  <link rel="stylesheet" type="text/css" href="/assets/ml/css/authentication.css">
}

@content = {
  <div class="page reset-password">
    <div class="reset-password-wrapper">
      <h1 class="rp-h1">Reset Your Password</h1>
      @error match {
        case "" => {
          <p>Enter a new password to complete the reset process.</p>
          <form action="@com.keepit.controllers.core.routes.AuthController.setPassword()" method="POST" data-code="@code" class="form-reset-password">
            <input type="password" class="form-input" name="password-1" placeholder="New Password" autofocus>
            <div id="error-reset-password1" class="error"></div>
            <input type="password" class="form-input" name="password-2" placeholder="New Password (again)">
            <div id="error-reset-password2" class="error"></div>
            <button class="reset-password-button">Submit</button>
          </form>
        }
        case "already_used" => {
          <p> The link you followed has already been used. </p>
        }
        case "expired" => {
          <p> The link you followed has expired. </p>
        }
        case _ => {
          <p> The link you followed is not valid. </p>
        }
      }

    </div>
  </div>
}

@scripts = {
  <script src="/assets/ml/js/authentication.js"></script>
}

@minimal.layout(title = "Kifi | Reset Your Password", content = content, htmlClass = "signup-page", headHtml = headHtml, scripts = scripts, footerClass = "join", dataTrack = "resetPassword")


