@(code: String = "", error: String = "")
@import com.keepit.controllers.core.routes.{AuthController => authRoutes}
@headHtml = {
  <link rel="stylesheet" type="text/css" href="/assets/ml/css/authentication.css">
}

@tryAgain = {
  <form class="fp-form" action="@com.keepit.controllers.core.routes.AuthController.forgotPassword()" method="POST" novalidate>
    <input class="fp-input form-input" type="email" name="forgot-password-email" placeholder="Your email address">
    <div id="error-fp" class="error"></div>
    <div>
      <button class="reset-password-button" type="submit" data-track-action="clickedSubmitPassword">Submit</button>
    </div>
  </form>
  <div class="reset-password-submitted">Reset password request submitted!</div>
}

@content = {
  <div class="page reset-password">
    <div class="reset-password-wrapper">
      <h1 class="rp-h1">Reset Your Password</h1>
      @error match {
        case "" => {
          <div id="rp-reset">
            <p> Enter a new password to complete the reset process. </p>
            <form action="@com.keepit.controllers.core.routes.AuthController.setPassword()" method="POST" data-code="@code" class="form-reset-password">
              <input type="password" class="form-input" name="password-1" placeholder="New Password" autofocus>
              <div id="error-reset-password1" class="error"></div>
              <input type="password" class="form-input" name="password-2" placeholder="New Password (again)">
              <div id="error-reset-password2" class="error"></div>
              <button class="reset-password-button" type="submit">Submit</button>
            </form>
          </div>
          <div class="rp-try-again-message" style="display:none">
            <p>
              Woops! Looks like an error occured. To try again,<br>
              please enter your email address to reset your password.
            </p>
            @tryAgain
          </div>
        }
        case "already_used" => {
          <p id="rp-already-used">
            The link you followed has already been used.<br>
            Try logging in again.
          </p>
          <a href="/login">Log In</a>
        }
        case "expired" => {
          <p id="rp-expired">
            The link you followed has expired. To try again,<br>
            please enter your email address to reset your password.
          </p>
          <div class="rp-try-again">
            @tryAgain
          </div>
        }
        case _ => {
          <p id="rp-invalid">
            The link you followed is not valid. To try again,<br>
            please enter your email address to reset your password.
          </p>
          <div class="rp-try-again">
            @tryAgain
          </div>
        }
      }

    </div>
  </div>
}

@scripts = {
  <script src="/assets/ml/js/authentication.js"></script>
}

@minimal.layout(title = "Kifi | Reset Your Password", content = content, htmlClass = "signup-page", headHtml = headHtml, scripts = scripts, footerClass = "join", dataTrack = "resetPassword")


