@(kifiClosed: Boolean)
@import com.keepit.controllers.core.routes.{AuthController => authRoutes}
@headHtml = {
  <link rel="stylesheet" type="text/css" href="/assets/ml/css/authentication.css">
  <meta itemprop="name" content="Kifi makes organizing, discovering, and sharing knowledge a snap! Now available for desktop, iOS, and Android. Sign up today!">
  <meta itemprop="description" content="Kifi: Sign up">
  <meta itemprop="image" content="https://d120ofs0tant1t.cloudfront.net/img/google_plus.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@@kifi">
  <meta name="twitter:title" content="Kifi: Sign up">
  <meta name="twitter:description" content="Kifi makes organizing, discovering, and sharing knowledge a snap! Now available for desktop, iOS, and Android. Sign up today!">
  <meta name="twitter:creator" content="@@kifi">
  <meta name="twitter:image:src" content="https://d120ofs0tant1t.cloudfront.net/img/facebook_og4.png">

  <meta property="og:title" content="Kifi: Sign up" />
  <meta property="og:url" content="https://www.kifi.com" />
  <meta property="og:image" content="https://d120ofs0tant1t.cloudfront.net/img/facebook_og4.png" />
  <meta property="og:description" content="Kifi makes organizing, discovering, and sharing knowledge a snap! Now available for desktop, iOS, and Android. Sign up today!" />
  <meta property="og:site_name" content="Kifi" />
  <meta property="fb:app_id" content="104629159695560" />
}
@content = {
  <div class="page">
    <h1 class="login-h1">Signups are closed.</h1>
    <div id="center_container">
      <h3>The Kifi team is joining Google. We have closed all new registrations. If you have an existing Kifi account, you may <a href="/login">log in here</a>. The Kifi service will remain fully functional for existing users until August 22nd, 2016. Learn more.</h3>
    </div>
  </div>
}
@scripts = {
  <script src="/assets/ml/js/authentication.js"></script>
}

@minimal.layout(title = "Kifi | Sign Up", content = content, htmlClass = "signup-page", headHtml = headHtml, scripts = scripts, footerClass = "join", headerLink = "login", dataTrack = "signup")


