@()
@import com.keepit.controllers.core.routes.{AuthController => authRoutes}
@headHtml = {
  <link rel="stylesheet" type="text/css" href="/assets/ml/css/authentication.css">
}
@content = {
<div class="page signup">
  <div id="photo-upload-step1">
    <div id="center_container" class="small">
      <div class="inner">
        <div class="image_container target">
          <div class="image-inner"></div>
          <div class="image-upload-wrapper">
            <a id="upload-image-btn" href="#" class="image-upload"><span class="plus">+</span></a>
          </div>
        </div>
        <h3>Your name</h3>
        <form class="signup-form signup-name" method="POST" action="@authRoutes.userPassFinalizeAccountAction()">
          <div class="input-wrapper inline-wrap">
            <input type="text" name="first-name" class="form-input inline right2 first-name" placeholder="First">
            <div id="signup-firstname" class="error"></div>
          </div>
          <div class="input-wrapper inline-wrap">
            <input type="text" name="last-name" class="form-input inline last-name" placeholder="Last">
            <div id="signup-lastname" class="error"></div>
          </div>

          <button id="signup-btn" class="btn-authentication btn-done" type="submit">Done</button>
        </form>
      </div>
    </div>
  </div>

  <div id="photo-upload-step2" style="display:none;">
    <div id="center_container" class="small upload-container">
      <div class="inner photo">
        <h3>Grab photo from</h3>
        <div class="social-btn-wrap">
          <a href="#" class="photo-facebook"><i class="i-fbtn"></i></a>
          <a href="#" class="photo-linkedin"><i class="i-lbtn"></i></a>
          <a href="#" class="file-upload">Upload from your computer</a>
          <a id="back-btn" href="#" class="btn-authentication btn-back">Go back</a>
        </div>
      </div>
    </div>
  </div>
</div>
}
@scripts = {
  <script src="/assets/ml/js/authentication.js"></script>
}

@minimal.layout(title = "Kifi | Sign Up", content = content, htmlClass = "signup-page", headHtml = headHtml, scripts = scripts, footerClass="join signup1")

