@(kifiClosed: Boolean)
@import com.keepit.controllers.core.routes.{AuthController => authRoutes}
@headHtml = {
  <link rel="stylesheet" type="text/css" href="/assets/ml/css/authentication.css">
  <meta itemprop="name" content="Kifi makes organizing, discovering, and sharing knowledge a snap! Now available for desktop, iOS, and Android. Sign up today!">
  <meta itemprop="description" content="Kifi: Sign up">
  <meta itemprop="image" content="https://d120ofs0tant1t.cloudfront.net/img/google_plus.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@@kifi">
  <meta name="twitter:title" content="Kifi: Sign up">
  <meta name="twitter:description" content="Kifi makes organizing, discovering, and sharing knowledge a snap! Now available for desktop, iOS, and Android. Sign up today!">
  <meta name="twitter:creator" content="@@kifi">
  <meta name="twitter:image:src" content="https://d120ofs0tant1t.cloudfront.net/img/facebook_og4.png">

  <meta property="og:title" content="Kifi: Sign up" />
  <meta property="og:url" content="https://www.kifi.com" />
  <meta property="og:image" content="https://d120ofs0tant1t.cloudfront.net/img/facebook_og4.png" />
  <meta property="og:description" content="Kifi makes organizing, discovering, and sharing knowledge a snap! Now available for desktop, iOS, and Android. Sign up today!" />
  <meta property="og:site_name" content="Kifi" />
  <meta property="fb:app_id" content="104629159695560" />
}
@content = {
  <div class="page">
    @if(!kifiClosed) {
      <h1 class="login-h1">Create your Kifi account</h1>
      <div id="center_container">
        <div class="left">
          <h3>Use a social network</h3>
          <a href="/signup/slack" class="auth_button slack" data-track-action="clickedAuthSlack"><span class="fb"><i class="icon-slack"></i></span><span class="slacktext">Slack</span></a>
          <a href="/signup/twitter" class="auth_button twitter" data-track-action="clickedAuthTwitter"><span class="twitter"><i class="icon-twitter"></i></span><span class="twittertext">Twitter</span></a>
          <a href="/signup/facebook" class="auth_button facebook" data-track-action="clickedAuthFacebook"><span class="fb"><i class="icon-facebook"></i></span><span class="fbtext">Facebook</span></a>
        </div>
        <div class="right border-left">
          <h3>Use your email address</h3>
          <form class="signup-form signup-email-pass" method="POST" action="@authRoutes.userPasswordSignup">
            <div class="input-wrapper">
              <input type="email" name="email" class="form-input signup-email" placeholder="Your email address">
              <div id="login-email" class="error"></div>
            </div>
            <div class="input-wrapper">
              <input type="password" name="password" class="form-input signup-password" placeholder="Your password">
              <div id="login-password" class="error"></div>
            </div>
            <button id="login-btn" class="btn-authentication btn-login" type="submit" data-track-action="clickedsignUpButton">
              <span class="progress"></span>
              <span class="text">Sign up</span>
            </button>
          </form>
        </div>
      </div>
    } else {
      <div id="center_container">
        <h3>Signups closed</h3>
      </div>
    }
  </div>
}
@scripts = {
  <script src="/assets/ml/js/authentication.js"></script>
}

@minimal.layout(title = "Kifi | Sign Up", content = content, htmlClass = "signup-page", headHtml = headHtml, scripts = scripts, footerClass = "join", headerLink = "login", dataTrack = "signup")


