@(firstName: String, lastName: String, picture: String, purposeDrivenInstall: Boolean = false)
@import com.keepit.controllers.core.routes.{AuthController => authRoutes}
@headHtml = {
  <link rel="stylesheet" type="text/css" href="/assets/ml/css/authentication.css">
}
@content = {
  <div class="page signup">
    <div id="center_container" class="small">
      <div class="inner">
        <div class="image_container target">
          <div class="image-inner"></div>
          <div class="image-upload-wrapper">
            <span class="image-upload placeholder" style="background-image:url('@picture');"></span>
          </div>
        </div>
        <h3 class="light small">Almost done, <span class="weight400">@firstName</span></h3>
        @if(purposeDrivenInstall) {
          <h3 class="small">Where should we send instructions?</h3>
        } else {
          <h3 class="small">What’s your email address?</h3>
        }
        <form class="signup-form signup-email" method="POST" action="@authRoutes.socialFinalizeAccountAction()">
          <div class="input-wrapper">
            <input type="email" name="email" class="form-input email" placeholder="Enter email address">
            <input type="hidden" class="form-first-name" name="firstName" value="@firstName">
            <input type="hidden" class="form-last-name" name="lastName" value="@lastName">
            <div id="error-signup-email" class="error"></div>
          </div>

          <button id="signup-complete-btn" class="btn-authentication btn-done" type="submit" data-track-action="clickedsignUpButton">Done</button>
        </form>
      </div>
    </div>
  </div>
}
@scripts = {
  <script src="/assets/ml/js/authentication.js"></script>
}

@minimal.layout(title = "Kifi | Sign Up", content = content, htmlClass = "signup-page", headHtml = headHtml, scripts = scripts, footerClass = "join")


