.kf-loading-spinner
  display: inline-block
  vertical-align: middle
  margin: 25px

  svg
    width: 100px
    height: 100px
    fill: accentGreen
    animation: spin 5s infinite linear

  p
    font-size: 1rem
    color: accentGreen
    margin-top: 5px
    text-align: center

