.kf-error-body-wrap
  max-width: 600px
  margin: 0 auto
  padding-top: 100px
  text-align: center
  color: #555
  font-size: 16px
  min-height: 220px

.kf-error-header
  font-size: 22px
  margin-bottom: 2em

.kf-error-link
  text-decoration: none
  color: #6888AD

  &:hover
    text-decoration: underline

.kf-error-para
  padding: 0 50px
