<div class="kf-error-body-wrap">
  <div ng-if="!errorState.errorView" ng-include="'errors/whomp.tpl.html'"></div>
  <div ng-if="errorState.errorView" proxy="errorState.errorView" state="errorState" params="errorParams" status="errorStatus"></div>
  <footer>
    <a href="http://support.kifi.com/hc/en-us/requests/new" class="kf-error-link">Contact support</a> —
    <a href="https://www.kifi.com/" class="kf-error-link" target="_self">Homepage</a> —
    <a href="https://twitter.com/kifi" class="kf-error-link">@kifi</a>
  </footer>
</div>
