@()

    <footer id="footer" class="align_center">

      <div class="wrap">

            <nav class="footer_nav">
              <span class="non_mobile">
              <a href="https://www.kifi.com/about" data-track-action="clickAbout">About</a>
                <span class="dot">•</span>
              </span>
              <a href="http://blog.kifi.com/" data-track-action="clickBlog">Blog</a>
                <span class="dot">•</span>
              <a href="http://support.kifi.com/" data-track-action="clickSupport">Support</a>
                <span class="dot">•</span>
              <span class="non_mobile">
              <a href="https://www.kifi.com/terms" data-track-action="clickToS">Terms of Service</a>
                <span class="dot">•</span>
              <a href="https://www.kifi.com/privacy" data-track-action="clickPrivacy">Privacy</a>
                <span class="dot">•</span>
              </span>
              <a href="http://support.kifi.com/customer/portal/emails/new" data-track-action="clickContact">Contact Us</a>

            </nav>

            <div class="copy">© 2014 | All rights reserved <span class="dot">•</span> made with <span class="heart_icon"></span> In mountain view</div>
        </div>

    </footer>
