@(isLoggedIn: Boolean)

    <header id="header">

      <div class="wrap clearfix">
          <a href="/" class="left" id="logo" data-track-action="clickLogo"><img class="non_mobile" src="//djty7jcqog9qu.cloudfront.net/assets/site/logo.svg"><img class="mobile" src="//djty7jcqog9qu.cloudfront.net/assets/site/logo_mobile.svg"></a>
            @if(isLoggedIn) {
            <div class="right">
            	<a href="about_us/mission.html" class="button simple">About us</a>
              <a href="/" class="button blue_inverted">Home</a>
            </div>
            } else {
            <div class="right">
            	<a href="about_us/mission.html" class="button simple">About us</a>
              <a href="/login" class="button blue_inverted" data-track-action="clickLogIn">Log In</a>
            </div>
            }
        </div>

    </header>
