/* CSS Reset
----------------------------------------------------------------------------------------------------*/

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp { border: 0; margin: 0; padding: 0; font-size: 100%; zoom: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section { display: block; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote { list-style:none; }

h1, h2, h3, h4, h5, h6 { line-height:normal; font-weight:normal; }

a { text-decoration: none; outline:none; cursor:pointer; }

b, strong { font-weight: bold; }

img { color: transparent; font-size: 0; vertical-align: middle; border:none; -ms-interpolation-mode: bicubic; max-width:100%; height:auto;}

ul, li { display: list-item; list-style:none; }

table { border-collapse: collapse; border-spacing: 0; }

th, td, caption { font-weight: normal; vertical-align: top; text-align: left; }

svg { overflow: hidden; }

/* Form Elements */

input[type="checkbox"] { margin:0 4px; width: 13px; height: 13px; padding: 0; vertical-align: middle; position: relative; top: -1px; *overflow: hidden;} /*checkbox alignement*/

input, textarea, select { outline:none; margin:0; font-family:inherit;}

textarea{ overflow:auto; resize:none;}


/* General Stlyes*/

body { font:18px/1.5 "Open Sans", Arial, Helvetica, sans-serif; background: #eeeeee; color:#333333; text-align:left; }

a, .video-still:before, .slide_content *{-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}

.duration1{ -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }

.duration2{-webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}

.duration3{-webkit-transition: all 0.35s ease-out; -moz-transition: all 0.35s ease-out; -o-transition: all 0.35s ease-out; transition: all 0.35s ease-out;}


a:active{-webkit-transition: all 0.05s ease-out; -moz-transition: all 0.05s ease-out; -o-transition: all 0.05s ease-out; transition: all 0.05s ease-out;}

a { }

a:hover { }

/*floats*/

.right { float:right; }

.left { float:left; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.clearfix:before, .clearfix:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.clearfix:after { clear: both; }

.clearfix { zoom: 1; }


/* Tyopgraphy Styles*/

.align_left{ text-align:left;}

.align_center{ text-align:center;}

.align_right{ text-align:right;}

h1{font:700 38px/1.2 "Open Sans"; margin-bottom:30px;}

h2{ font: 600 1.778em/1.2 "Open Sans"; margin-bottom: 20px;}

h3{font: 1.778em/1.2 "Open Sans"; margin-bottom:20px;}

p{ font-weight:300;}


/* Buttons */

.button{ display:inline-block; height:34px; line-height:34px; padding:0 28px; border:1px solid; border-radius:3px; font-family:"Open Sans"; font-size: 0.778em;}

.button.bigger{ height:62px; line-height:62px; padding:0 56px; border-width:2px; border-radius:5px; font-size:22px; font-weight:600;}

.button.blue{ background:#6fa6ef; border-color:#fff; color:#fff;}

.button.blue:hover{ background:#8cb8f2;}

.button.blue_inverted{ background:#fff; border-color:#6fa6ef; color:#6fa6ef; }

.button.blue_inverted:hover{ background:#8cb8f2; color:#fff;}

.button.green{ background:#93c059; color:#fff; border-color:#93c059;}

.button.green:hover{ background:#a9cd7a;}

.button.simple{ border-color:transparent; color:#333333;}

.button.simple:hover{ color:#6fa6ef}

/* Main Styles*/

.white_bg { background:#fff;}

.wrap, .wrap2, .wrap3{ position:relative; margin:0 auto; max-width:1170px; padding:0 10px;}

.wrap2{max-width:700px;}

.wrap3{max-width:880px;}

#header{ padding:16px 0; background:#fff;}

#header .right{ margin-top:2px;}

#logo .mobile{ display:none;}

#main_content{ padding-bottom:40px;}

/* slider */


.home_slider_container{ height:522px; background-color: #fff;}

.slider{width: 100%; height: 522px; list-style: none; overflow-y: auto; overflow-x: hidden; }

.slider ul{ margin:0; list-style: none; overflow-y: auto; overflow-x: hidden;}

.anythingSlider li{ display: block; overflow: hidden; padding: 0; margin: 0; position:absolute; left:0; top:0;}

.anythingSlider .anythingWindow { overflow: hidden; position: relative; width: 100%; height: 100%; }

.anythingSlider .anythingBase { background: transparent; list-style: none; position: absolute; overflow: visible !important; top: 0; left: 0; margin: 0; padding: 0; }

.slider .slide_img{ position:absolute; left:0; right:0; top:0; bottom:0; background-size:cover; background-repeat:no-repeat; background-position:center top;}

.slider .slide_img.slide_img1{ background-image:url(//djty7jcqog9qu.cloudfront.net/assets/site/homeslider/slide1.jpg);}

.slider .slide_img.slide_img2{ background-image:url(//djty7jcqog9qu.cloudfront.net/assets/site/homeslider/slide2.jpg);}

.slider .slide_img.slide_img3{ background-image:url(//djty7jcqog9qu.cloudfront.net/assets/site/homeslider/slide3.jpg);}

.slider .slide_img.slide_img4{ background-image:url(//djty7jcqog9qu.cloudfront.net/assets/site/homeslider/slide4.jpg);}

.slider .slide_img.slide_img5{ background-image:url(//djty7jcqog9qu.cloudfront.net/assets/site/homeslider/slide5.jpg);}

.slider .slide_img.slide_img6{ background-image:url(//djty7jcqog9qu.cloudfront.net/assets/site/homeslider/slide6.jpg);}

.slider .slide_content{ position:absolute; z-index:100; top:135px; width:430px; text-align:center; font-family:"Open Sans";}

.slider h1{ font: 600 2em/1.2 "Open Sans"; color:#fff; text-shadow:1px 1px 1px rgba(0,0,0,0.50); margin-bottom:30px;}

.slider .video-still{ text-shadow:1px 1px 1px rgba(0,0,0,0.50); color:#fff; font-size:16px; font-weight:600; text-align:left; width:244px; margin:30px auto 0; cursor:pointer;}

.video-still:before{ content:""; background:url(//djty7jcqog9qu.cloudfront.net/assets/site/video_button.png) no-repeat; width:60px; height:60px; display:inline-block; vertical-align:middle; margin-right:19px; opacity:0.7;}

.video-still:hover:before{ opacity:1;}

.slider .panel h1{left:-40px; opacity:0; position:relative;}

.slider .panel.activePage h1{ left:0; opacity:1;}


.block{ padding:80px 0;}

.kifi_features{}

.kifi_features li{ margin-bottom:115px;}

.kifi_features .image{ margin-right:68px;}

.kifi_features .description{ overflow:hidden;}

.home_laptop{ position:absolute; background:url(//djty7jcqog9qu.cloudfront.net/assets/site/laptop.png) no-repeat; width: 532px; height: 298px; z-index: 1000; bottom: -17px; right: 85px;}

.home_laptop .laptop_slides_container{position:absolute; top: 62px; right: 94px; width: 101px; height: 59px;}

.home_laptop .laptop_slide{ position:absolute; left:0; top:0; width: 100%; height: 100%; overflow:hidden;}

.home_laptop .laptop_slide img{ width:100%; height:auto;}

.home_laptop .laptop_slide{ display:none;}

.home_laptop .laptop_slide:first-child{ display:block;}

.home_phone{ background:url(//djty7jcqog9qu.cloudfront.net/assets/site/phone_large.png) no-repeat; width:208px; height:439px; position:absolute; right: 30px; bottom:-27px; z-index:2000;}


/* video popup */

.video-popup { display: table; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255,255,255,.8); z-index: 100002; visibility: hidden; opacity: 0; -webkit-transition: visibility 0 .18s, opacity .18s linear; -moz-transition: visibility 0 .18s, opacity .18s linear; -o-transition: visibility 0 .18s, opacity .18s linear; -ms-transition: visibility 0 .18s, opacity .18s linear; transition: visibility 0 .18s, opacity .18s linear }

.video-popup.showing { visibility: visible; opacity: 1; -webkit-transition: visibility .36s, opacity .36s linear; -moz-transition: visibility .36s, opacity .36s linear; -o-transition: visibility .36s, opacity .36s linear; -ms-transition: visibility .36s, opacity .36s linear; transition: visibility .36s, opacity .36s linear }

.video-cell { display: table-cell; vertical-align: middle; text-align: center }

.video-width { width: 96%; margin: 0 auto }

.video-height { width: 100%; position: relative; -webkit-transform: scale(.2, .2); -moz-transform: scale(.2, .2); -o-transform: scale(.2, .2); -ms-transform: scale(.2, .2); transform: scale(.2, .2); -webkit-transition: -webkit-transform .18s ease-in; -moz-transition: -moz-transform .18s ease-in; -o-transition: -o-transform .18s ease-in; -ms-transition: -ms-transform .18s ease-in; transition: transform .18s ease-in }

.video-popup.showing .video-height { background:#ccc; -webkit-transform: scale(1, 1); -moz-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); transform: scale(1, 1); -webkit-transition: -webkit-transform .36s ease-out; -moz-transition: -moz-transform .36s ease-out; -o-transition: -o-transform .36s ease-out; -ms-transition: -ms-transform .36s ease-out; transition: transform .36s ease-out }

.video-iframe { position: absolute; top: 0; left: 0; height: 100%; width: 100%; -webkit-box-shadow: rgba(0,0,0,.15) 0 10px 25px; box-shadow: rgba(0,0,0,.15) 0 10px 25px }

.video-x { position: absolute; top: -15px; right: -15px; height: 32px; width: 32px; line-height: 32px; font-size: 24px; text-align:center; background: #7b796a; border-radius: 50%; -webkit-box-shadow: rgba(0,0,0,.3) 0 2px 3px; -moz-box-shadow: rgba(0,0,0,.3) 0 2px 3px; box-shadow: rgba(0,0,0,.3) 0 2px 3px ; color:#fff;}

.video-x::after { content: '\2716'; }

.video-x:hover { background: #888679 }

.video-x:active { background: #757365; -webkit-box-shadow: rgba(0,0,0,.3) 0 1px 2px; -moz-box-shadow: rgba(0,0,0,.3) 0 1px 2px; box-shadow: rgba(0,0,0,.3) 0 1px 2px }


/* footer */


#footer { background: #424242; color: #929292; text-transform: uppercase; text-align: center; padding: 40px 0; }

#footer .footer_nav { margin-bottom: 16px; }

#footer .footer_nav a { color: #ffffff; font-size: 0.889em; }

#footer .dot { display: inline-block; margin: 0 3px; }

#footer .copy{font-size:0.778em;}

.heart_icon { background: url(//djty7jcqog9qu.cloudfront.net/assets/site/heart_icon.png) no-repeat; width: 15px; height: 13px; display: inline-block; position: relative; top: 2px; margin: 0 4px; background-size: 100%;}

.mobile{ display:none;}

@media only screen and (max-width: 1306px) {

	.home_phone{ right: 10px;}

	.home_laptop{ right: 65px;}

}


@media only screen and (max-width: 1200px) {

	.home_slider_container .wrap3{ max-width:1024px;}

	.slider .slide_content{ width:380px;}

	.slider .panel h1{ font-size: 1.778em;}

}


@media only screen and (max-width: 1024px) {

	.wrap, .wrap2, .wrap3{ padding:0 25px;}

	.button{ font-size: 1em;}

	.button.bigger{ height:52px; line-height:52px; font-size:18px;}

	.slider .video-still{ width:220px;}

	.home_phone{ background:url(//djty7jcqog9qu.cloudfront.net/assets/site/phone_medium.png) no-repeat; width:137px; height:289px; bottom:-24px; right:10px;}

	.home_laptop{ right:100px;}

	.slider .slide_content{ top:85px;}

	.home_slider_container{ height:410px;}

	.slider .slide_img.slide_img1{ background-image:url(//djty7jcqog9qu.cloudfront.net/assets/site/homeslider/slide1_tablet.jpg); background-position:left top;}

	.slider .slide_img.slide_img2{ background-image:url(//djty7jcqog9qu.cloudfront.net/assets/site/homeslider/slide2_tablet.jpg); background-position:right top;}

	.slider .slide_img.slide_img3{ background-image:url(//djty7jcqog9qu.cloudfront.net/assets/site/homeslider/slide3_tablet.jpg); background-position:left top;}

	.slider .slide_img.slide_img4{ background-image:url(//djty7jcqog9qu.cloudfront.net/assets/site/homeslider/slide4_tablet.jpg); background-position:center top;}

	.slider .slide_img.slide_img5{ background-image:url(//djty7jcqog9qu.cloudfront.net/assets/site/homeslider/slide5_tablet.jpg); background-position:left top;}

	.slider .slide_img.slide_img6{ background-image:url(//djty7jcqog9qu.cloudfront.net/assets/site/homeslider/slide6_tablet.jpg); background-position:center top;}

	.home_laptop{ background:url(//djty7jcqog9qu.cloudfront.net/assets/site/laptop_tablet_view.png) no-repeat; width:360px; height:201px; bottom:-14px; right:0;}

	.home_laptop .laptop_slides_container{ right:63px; top:42px; width:69px; height:40px; }

	.video-still:before{ background:url(//djty7jcqog9qu.cloudfront.net/assets/site/video_button_mobile.png) no-repeat; height:48px; width:48px; background-size:contain;}

	.block{ padding:55px 0;}

}


@media only screen and (max-width: 800px) {


	.home_laptop{ right:10px;}

}

@media only screen and (max-width: 700px) {

	body{ font-size:16px;}

	.slider .slide_content{ left:15px; right:15px; width:auto;}

	.home_slider_container .button{ position: relative; top: 135px;}

	.slider .panel h1{ font-size: 23px;}

	.home_laptop, .home_phone{ display:none;}

	.slider .video-still{ text-align:center; position: relative; top: -70px;}

	.video-still:before{ width:86px; height:86px; margin:0;}

	.video-still .text{ display:none;}

	.kifi_features img{ width:128px; }

	.kifi_features .image{ margin-right:30px;}
}
