<div class="friend-not-found-modal">
  <div class="friend-not-found-heading">We couldn't find any connections matching</div>
  <div class="friend-not-found-name"> '{{searchFriendName}}' </div>
  <div class="friend-not-found-sub-heading"> How to fix it </div>
  <ul>
    <li ng-if="!hasNetworks()" class="friend-not-found-suggestion">You don’t have any networks connected to Kifi yet.
      <a class="friend-not-found-link" href="javascript:" ng-click="connectNetworks()"> Get started by connecting.</a> </li>
    <li ng-if="hasNetworks()" class="friend-not-found-suggestion">Your connections list might not be up to date. <a class="friend-not-found-link" href="javascript:" ng-click="refreshFriends()">Try refreshing it.</a></li>
    <li ng-if="hasNetworks()" class="friend-not-found-suggestion">Some of your connections may have privacy settings that prevent us from showing them. <br>Tell them to go to kifi.com and sign up.
  </ul>
</div>
