.kf-connection-card-container
  .kf-connection-card
    @media screen and (min-width: 1200px)
      width: calc(50% - 20px)

    @media screen and (max-width: 1200px)
      width: calc(100% - 10px)

.kf-connection-card
  background-color: #EFF2F7
  display: inline-block
  margin: 5px
  padding: 5px
  min-width: 250px
  position: relative
  transition: opacity 0.4s ease
  opacity: 1
  height: 64px
  border-radius: 3px

  &:hover
    background-color: #DEEBFC

  &.ng-hide
    opacity: 0

  &.ng-hide-add
    display: inline-block !important

  &.kf-connection-invited
    background-color: #BDD8FA

  .kf-connection-card-image
    float: left
    margin-right: 5px
    height: 64px
    width: 64px
    border-radius: 3px

  .kf-connection-card-who

    .kf-main-label
      font-size: 120%

    .kf-byline-icon
      vertical-align: middle
      margin-right: 2px
      margin-bottom: 2px
      height: 10px
      width: 10px

    .kf-byline
      font-size: 90%

  .kf-connection-card-action
    cursor: pointer
    position: absolute
    right: 5px
    bottom: 5px
    background-color: #6FA6EF
    border-radius: 3px
    padding: 4px 20px
    color: #FFFFFF
    font-weight: 300
    font-size: 13px
    letter-spacing: .5px



    &.kf-connection-invited
      background-color: initial
      text-decoration: underline
      color: #4B6F9F
      padding-right: 7px


  .kf-connection-card-close
    cursor: pointer
    float: right
    position: absolute
    top: 0px
    right: 5px
