.kf-icon-micro
  background-image: url(/img/networks2.png)
  background-size: auto 100%
  background-repeat: no-repeat
  border-radius: 1px

.kf-facebook-icon-micro
  background-color: #576EB1

.kf-email-icon-micro
  background-color: #e36767
  background-position: -63px top

.kf-twitter-icon-micro
  background-color: #55ACEE
  background-position: -31px top

.kf-show-more
  float: right
  text-decoration: underline
  cursor: pointer
  color: #4B6F9F
  font-weight: 300
  font-size: 13px
  letter-spacing: .5px
  margin-right: 5px

.kf-connection-card
  display: inline-block
  min-width: 250px
  width: calc(50% - 5px)
  height: 102px
  box-sizing: border-box
  margin: 5px 0
  border-radius: 10px
  border: defaultBorder
  padding: 5px
  background-color: #fff
  position: relative
  opacity: 1
  transition: opacity 0.4s ease

  &:nth-child(2n)
    margin-left: 10px

  &:hover
    background-color: #E5F1FF

  &.ng-hide
    opacity: 0

  &.ng-hide-add
    display: inline-block !important

  &.kf-connection-invited
    background-color: #E5F1FF

  .kf-connection-card-image
    float: left
    margin-right: 12px
    margin-top: 15px
    margin-left: 5px
    height: 60px
    width: 60px
    border-radius: 3px

    &.kf-connection-card-email-image
      width: 60px
      height: initial
      padding: 10px

  .kf-connection-card-who
    display: inline-block
    padding-top: 20px
    width: 60%
    vertical-align: top

    .kf-main-label
      font-size: 120%
      display: inline-block
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      color: black
      width: 100%

    .kf-byline-icon
      vertical-align: middle
      margin-right: 5px
      height: 15px
      width: 15px
      display: inline-block

    .kf-byline
      font-size: 90%
      overflow: hidden
      text-overflow: ellipsis
      display: inline-block
      white-space: nowrap
      vertical-align: bottom
      color: #7A899C
      width: 80%

  .kf-connection-card-action
    cursor: pointer
    position: absolute
    right: 10px
    bottom: 39px
    background-color: #6FA6EF
    border-radius: 3px
    color: #fff
    font-weight: 300
    font-size: 13px
    letter-spacing: .5px
    width: 60px
    text-align: center
    padding 4px 0px

    &.kf-connection-invited
      background-color: initial
      text-decoration: underline
      color: #4B6F9F
      bottom: 7px

  .kf-connection-card-close
    cursor: pointer
    float: right
    position: absolute
    top: 6px
    right: 8px
    color: #B7C3D1
    font-size: 70%
    font-weight: 500
