<div class="kf-connection-card" ng-class="{'kf-connection-invited': invited}" ng-hide="hidden"> <!-- Should really be ng-if but that causes some error for some reason -->
  <img class="kf-connection-card-image" ng-src="{{mainImage}}"></img>
  <span class="kf-connection-card-who">
    <span class="kf-main-label">{{mainLabel}}</span><br>
    <span class="kf-byline-icon kf-icon-micro" ng-class="{'kf-facebook-icon-micro': facebook, 'kf-linkedin-icon-micro': linkedin, 'kf-email-icon-micro': email}"></span><span class="kf-byline">{{byline}}</span>
  </span>
  <span class="kf-connection-card-action" ng-class="{'kf-connection-invited': invited}" ng-click="action()">{{actionText}}</span>
  <span class="kf-connection-card-close" ng-click="closeAction()">x</span>
</div>
