<div class="invite-friend-request-banner-wrap"
    ng-show="showFriendRequestBanner" ng-switch="state"
    ng-class="{hide: hideBanner}">

  <div class="invite-friend-request-banner-body">

    <div ng-switch-when="user-load-error">
      There was an error finding this user.
    </div>

    <div class="user-loaded-wrapper " ng-show="user">
      <img class="invite-friend-request-banner-avatar"
          onerror="this.src='https://www.kifi.com/assets/img/ghost.100.png'"
          ng-src="{{ user.picUrl }}" title="{{ name }}"/>

      <div class="user-info state-user-loaded" ng-switch-when="user-loaded">
        <div class="banner-title">
          Want to connect with {{ user.firstName }} {{ user.lastName }}?
        </div>

        <div class="social-invite-action clickable">
          <div class="social-invite-button user-add-button" ng-click="confirmFriendRequest()">
            <span class="sprite sprite-tag-new-plus-icon"></span> Add
          </div>
        </div>
      </div>

      <div class='user-info state-friend-request-complete' ng-switch-when="friend-request-complete">
        <div class="banner-title">
          Friend request send to {{ user.firstName }}
        </div>
      </div>

      <div class='user-info state-friend-request-error' ng-switch-when="friend-request-error">
        <div class="banner-title">
          Error adding {{ user.firstName }}
        </div>
      </div>

    </div>

    <div class="sprite sprite-close-x-icon invite-friend-request-banner-cancel" ng-click="close()"></div>

  </div>
</div>
