<div class="kf-add-friend-banner-wrap kf-add-friend-banner-container"
    ng-show="showFriendRequestBanner"
    ng-class="{hidden: hidden}">

  <h2 class="kf-add-friend-banner-title">{{friendRequestBannerHeader}}</h2>

  <div class="kf-add-friend-banner">
    <div itemscope itemtype="http://data-vocabulary.org/Person">
      <a href="{{userProfileUrl}}" itemprop="url">
        <img class="kf-add-friend-banner-image" onerror="this.src='/assets/img/ghost.200.png'" ng-src="{{mainImage}}" itemprop="photo" />
      </a>
      <span class="kf-add-friend-banner-who">
        <a href="{{userProfileUrl}}" class="kf-add-friend-banner-main-label" title="{{mainLabel}}" itemprop="name">{{mainLabel}}</a>
        <div class="kf-friend-card-count" title="{{user.friendCount}}" ng-show="user.friendCount > 0">
          <span ng-pluralize count="friendCount" when="{'one': '1 friend ', 'other': '{} friends '}"></span>on Kifi
        </div>
        <div class="kf-friend-card-count" ng-show="friendCount < 1">Kifi user</div>
      </span>
    </div>

    <div kf-social-invite-action class="clickable kf-add-friend-banner-action" result="result" on-after-invite="onAfterInvite()">
      <div class="kf-add-friend-banner-add-button clickable-target" href="javascript:" ng-click="invite(result, $event)">
        <span class="sprite sprite-tag-new-plus-icon"> </span>Add
      </div>
    </div>
    <span class="kf-add-friend-banner-close" ng-click="close()">✕</span>
  </div>

</div>
