.kf-add-friend-banner-wrap
  overflow: hidden
  max-height: 200px
  margin: 0 0 15px

  &.hidden
    transition: opacity .4s, max-height .4s .4s
    max-height: 0
    opacity: 0

.kf-add-friend-banner-container
  padding-right: 4px
  @media screen and (max-width: 1365px)
    padding-right: 7px

  .kf-add-friend-banner
    @media screen and (min-width: 1365px)
      width: calc(50% - 28px)

    @media screen and (max-width: 1365px)
      width: calc(100% - 25px)

.kf-add-friend-banner-title
  margin-bottom: 10px

.kf-add-friend-banner
  background-color: #FFFFFF
  border: defaultBorder
  display: inline-block
  margin: 5px 6px
  margin-left: 10px
  padding: 5px
  min-width: 250px
  position: relative
  transition: opacity 0.4s ease
  opacity: 1
  height: 90px
  border-radius: 5px

  &:hover
    background-color: #E5F1FF

  .kf-add-friend-banner-image
    float: left
    margin-right: 12px
    margin-top: 15px
    margin-left: 5px
    height: 60px
    width: 60px
    border-radius: 3px

  .kf-add-friend-banner-who

    padding-top: 20px
    display: inline-block
    width: 60%

    .kf-add-friend-banner-main-label
      font-size: 120%
      display: inline-block
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      color: black
      width: 100%

  .kf-add-friend-banner-action
    cursor: pointer
    position: absolute
    right: 10px
    bottom: 39px
    background-color: #6FA6EF
    border-radius: 3px
    color: #FFFFFF
    font-weight: 300
    font-size: 13px
    letter-spacing: .5px
    width: 60px
    text-align: center
    padding 4px 0px

  .kf-add-friend-banner-close
    cursor: pointer
    float: right
    position: absolute
    top: 6px
    right: 8px
    color: #B7C3D1
    font-size: 70%
    font-weight: 500

  .kf-add-friend-banner-add-button
    display: block
    background-color: #6fa6ef
    border-radius: 3px
    color: #fff
    font-weight: 300
    font-size: 13px

    .sprite
      margin-right: 4px

  .kf-friend-card-count
    font-size: 90%
    padding-top: 3px;
