<div class="invite-friend-request-banner-wrap kf-connection-card-container"
    ng-show="showFriendRequestBanner" ng-switch="state"
    ng-class="{hide: hideBanner}">

  <h2 class="invite-title">Send a friend request to your email contact</h2>

  <div class="kf-connection-card" ng-class="{'kf-connection-invited': invited}" ng-hide="hidden">
    <img class="kf-connection-card-image" onerror="this.src='/assets/img/ghost.200.png'" ng-src="{{mainImage}}" ng-class="{'kf-connection-card-email-image': email}"/>
    <span class="kf-connection-card-who">
      <span class="kf-main-label" title="{{user.name}}">{{user.name}}</span>
      <div class="kf-friend-card-count" title="{{friendCount}}"><ng-pluralize count="friendCount" when="{'one': '1 friend ', 'other': '{} friends '}"></ng-pluralize>on Kifi</div>
    </span>
    <div test="test" kf-social-invite-action class="social-invite-action clickable" result="result">
      <div class="social-invite-button" ng-click="invite(result, $event)"><span class="sprite sprite-tag-new-plus-icon"> </span>Add</div>
    </div>
    <span class="kf-connection-card-close" ng-click="close()">✕</span>
  </div>

</div>
