<div class="social-invite-search">
  <input type="text" ng-model="search.name" placeholder="Find friends to add to Kifi" ng-change="change($event)" ng-blur="blur()">
  <ul class="social-invite-dropdown" ng-show="search.showDropdown">
    <li class="social-invite-element" ng-repeat="result in results" ng-class="'social-invite-{{result.status === 'joined' && result.network === 'fortytwoNF' ? '' : result.status}}'">

      <div ng-if="!result.custom">
        <div ng-if="result.networkType !== 'email'"><img ng-src="{{result.image || 'https://www.kifi.com/assets/img/ghost.200.png'}}" class="social-invite-image"></div>

        <div ng-if="!result.status">
          <div class="social-invite-summary">
            <div class="social-invite-name">{{result.label}}</div>
            <div class="social-invite-network">
              <span class="social-network-icon kf-icon-micro" ng-class="result.iconStyle"></span>{{result.network}}
            </div>
          </div>
          <div class="social-invite-action">
            <div class="social-invite-button" ng-click="invite(result)">Add</div>
          </div>
        </div>

        <div ng-if="result.status === 'joined' && result.networkType === 'fortytwo'">
          <div class="social-invite-summary">
            <div class="social-invite-name">{{result.label}}</div>
            <div class="social-invite-network">
              Your friend on Kifi
            </div>
          </div>
        </div>

        <div ng-if="result.status === 'joined' && result.networkType === 'fortytwoNF'">
          <div class="social-invite-summary">
            <div class="social-invite-name">{{result.label}}</div>
            <div class="social-invite-network">
              Kifi user
            </div>
          </div>
          <div class="social-invite-action">
            <div class="social-invite-button" ng-click="invite(result)">Add</div>
          </div>
        </div>

        <div ng-if="result.status === 'invited'">
          <div class="social-invite-summary">
            <div class="social-invite-name">{{result.label}}</div>
            <div class="social-invite-network">
              <span class="social-network-icon kf-icon-micro" ng-class="result.iconStyle"></span>invited 8 days ago
            </div>
          </div>
          <div class="social-invite-action">
            <div class="social-invite-button" ng-click="invite(result)">Resend</div>
          </div>
        </div>

      </div>

      <div ng-if="result.custom === 'email'">
        <img src="https://graph.facebook.com/619841083/picture?width=75&height=75" class="social-invite-image">
        <div class="social-invite-summary">
          <div class="social-invite-name social-invite-custom-email">Email to {{result.label}}</div>
        </div>
        <div class="social-invite-action">
          <div class="social-invite-button" ng-click="invite(result)">Add</div>
        </div>
      </div>

      <div class="clearfix"></div>
    </li>
  </ul>
  <div ng-click="data.showModalX = true">Show me the Modal!</div>
  <div kf-modal show="data.showModalX">
    <div kf-basic-modal-content class="friend-not-found-modal">
      <h1> We couldn't find any friends matching </h1>
      <h2> '{{search.name}}' </h2>
      <h3> How to fix it </h3>
      <ul>
        <li>Your friends list might not be up to date. <a href="javascript:">Try refreshing it.</a></li>
        <li>Some of your friends may have privacy settings that prevent us from showing them. Tell them to go to kifi.com and sign up.
        <li>Or just <a href="http://support.kifi.com/customer/portal/emails/new">contact us.</a></li>
      </ul>

    </div>
  </div>
</div>
