
.social-invite-search
  display: inline-block

  input
    padding: 10px
    font-size: 14px
    width: 285px
    border: 1px solid #c5d0da

  .social-invite-search-explain
    font-size: 90%
    margin-top: 7px
    margin-left: 10px
    color: #B6C3CC

  .social-invite-dropdown
    position: absolute
    box-sizing: border-box
    z-index: 2

    .social-invite-element
      background: #fff
      width: 289px
      border: 1px solid #c5d0da
      border-bottom: 0
      padding: 4px
      padding-left: 12px
      height: 56px

      &.social-invite-invited
        background-color: #E5F1FF

      &.social-invite-joined
        background-color: #FFFFFF

      &:first-child
        border-top: 0

      &:last-child
        border-bottom: 1px solid #c5d0da

.social-invite-image
  width: 55px
  height: 55px
  border-radius: 4px
  display: inline-block
  float: left
  margin-right: 15px

.social-invite-image.cant-find
  width: 42px
  height: 28px
  display: inline-block
  float: left
  margin-top: 13px
  margin-right: 19px
  margin-left: 10px

.social-invite-summary
  float: left

.social-invite-name
  font-size: 14px
  padding-top: 10px
  color: #000
  text-overflow: ellipsis
  overflow: hidden
  width: 150px
  white-space: nowrap
  text-align: left

.social-invite-name-long
  font-size: 14px
  padding-top: 10px
  color: #000
  text-overflow: ellipsis
  overflow: hidden
  width: 190px
  white-space: nowrap
  text-align: left

.social-invite-network
  font-size: 12px
  color: #628196
  vertical-align: bottom
  text-overflow: ellipsis
  overflow: hidden
  width: 154px
  white-space: nowrap
  text-align: left


  .social-network-icon
    vertical-align: middle
    margin-right: 5px
    height: 16px
    width: 16px
    display: inline-block

  .kf-email-icon-micro
    background-color: #e36767

.social-invite-action
  position absolute
  right: 0
  display: block
  background-color: #6fa6ef
  border-radius: 3px
  padding: 4px 12px
  color: #fff
  font-weight: 300
  font-size: 13px
  margin: 15px 8px

.social-invite-custom-email
  padding-top: 18px

.social-invite-button
  .sprite
    margin-right: 4px

.social-invite-button.user-add-button
  padding-left: 3px

.friend-not-found-modal
  margin: 0px 25px;

  .friend-not-found-heading
    text-align: center
    font-weight: 300
    font-size: 24px
    color: #4C6C85

  .friend-not-found-name
    text-align: center
    font-weight: 500
    font-size: 24px
    margin-bottom: 25px
    color: #4C6C85

  .friend-not-found-sub-heading
    color: #42C380
    padding: 10px 0px
    font-size: 19px
    font-weight: 300
    margin-bottom: 15px

  .friend-not-found-suggestion:before
    content: "• "
    color: #42C380
    padding-right: 5px
    font-size: 16px

  .friend-not-found-suggestion
    text-indent: -17px;
    padding-left: 17px;
    font-size: 15px
    font-weight: 200
    color: #8F9CAF
    margin-bottom: 10px

    .friend-not-found-link
      text-decoration: underline
      line-height: 1.2
      color: #66A9DD
