.social-invite-well
  padding: 25px 15px
  padding-bottom: 15px
  background-color: #FFFFFF
  position: relative
  border-radius: 3px
  margin: 15px 10px
  box-shadow: defaultBoxShadow
  border: defaultBorder
  @media screen and (max-width: 1245px)
    text-align: center

.social-networks-display
  float: right
  display: inline-block
  margin-top: 10px
  @media screen and (max-width: 1245px)
    float: initial
    margin: 20px 25px 0px


.social-networks-summary
  font-size: 14px

.social-networks-add
  font-size: 14px
  background-color: #41C381
  color: #fff
  border-radius: 3px
  padding: 5px 15px
  margin-left: 15px
  cursor: pointer
