<div class="social-invite-search">
  <label class="social-invite-search-label">
    <input class="social-invite-search-input" type="text" ng-model="search.name" placeholder="Type a name or email address" ng-change="change($event)">
    <span class="social-invite-search-icon svg-search-icon-gray"></span>
  </label>
  <ul class="social-invite-dropdown" ng-show="search.showDropdown">
    <li class="social-invite-element" ng-repeat="result in results" ng-class="'social-invite-{{result.status === 'joined' && result.network === 'fortytwoNF' ? '' : result.status}}'">

      <div ng-if="!result.custom">
        <div ng-if="result.networkType !== 'email'">
          <a href="{{result|profileUrl}}">
            <img ng-src="{{result.image || 'https://www.kifi.com/assets/img/ghost.200.png'}}" onerror="this.src='https://www.kifi.com/assets/img/ghost.200.png'" class="social-invite-image">
          </a>
        </div>

        <div ng-if="!result.status">
          <div class="social-invite-summary">
            <div class="social-invite-name">{{result.label}}</div>
            <div class="social-invite-network">
              <span class="social-network-icon kf-icon-micro" ng-class="result.iconStyle"></span>{{result.network}}
            </div>
          </div>
          <div kf-social-invite-action class="social-invite-action clickable" result="result">
            <div class="social-invite-button clickable-target" ng-click="invite(result, $event)"><span class="sprite sprite-tag-new-plus-icon"> </span>Invite</div>
          </div>
        </div>

        <div ng-if="result.status === 'joined' && result.networkType === 'fortytwo'">
          <div class="social-invite-summary">
            <div class="social-invite-name">{{result.label}}</div>
            <div class="social-invite-network">
              Your connection on Kifi
            </div>
          </div>
        </div>

        <div ng-if="result.status === 'requested' && result.networkType === 'fortytwoNF'">
          <div class="social-invite-summary">
            <div class="social-invite-name">{{result.label}}</div>
            <div class="social-invite-network">
              Kifi user — request sent
            </div>
          </div>
        </div>

        <div ng-if="result.status === 'joined' && result.networkType === 'fortytwoNF'">
          <div class="social-invite-summary">
            <div class="social-invite-name">{{result.label}}</div>
            <div class="social-invite-network">
              Kifi user
            </div>
          </div>
          <div kf-social-invite-action class="social-invite-action clickable" result="result">
            <div class="social-invite-button user-add-button clickable-target" ng-click="invite(result, $event)"><span class="sprite sprite-tag-new-plus-icon"></span> Connect</div>
          </div>
        </div>

        <div ng-if="result.status === 'invited'">
          <div class="social-invite-summary">
            <div class="social-invite-name-long">{{result.label}}</div>
            <div class="social-invite-network">
              <span class="social-network-icon kf-icon-micro" ng-class="result.iconStyle"></span>{{result.inviteText}}
            </div>
          </div>
          <div kf-social-invite-action class="social-invite-action clickable" result="result">
            <div class="social-invite-button clickable-target" ng-click="invite(result, $event)">Resend</div>
          </div>
        </div>

      </div>

      <div ng-if="result.custom === 'email'">
        <img src="/img/email-icon.png" class="social-invite-image cant-find">
        <div class="social-invite-summary">
          <div class="social-invite-name">Email to</div>
          <div class="social-invite-network">
            {{result.label}}
          </div>
        </div>
        <div kf-social-invite-action class="social-invite-action clickable" result="result">
          <div class="social-invite-button clickable-target" ng-click="invite(result, $event)"><span class="sprite sprite-tag-new-plus-icon"></span> Invite</div>
        </div>
      </div>

      <div ng-if="result.custom === 'cant_find'" class="fill-parent clickable" ng-click="showCantFindFriendModal()">
        <img src="/img/friend-missing@2x.png" class="social-invite-image cant-find">
        <div class="social-invite-summary">
          <div class="social-invite-name social-invite-custom-email">Can't find your connection?</div>
        </div>
      </div>

      <div class="clearfix"></div>
    </li>
  </ul>
</div>
