<div ng-controller="InviteCtrl">
  <div class="invite-wrapper" antiscroll="{ autoHide: false }">
    <div class="invite">
      <h2>Find people to invite to Kifi</h2>
      <p>Search by name or email address</p>
      <div kf-social-invite-well></div>

      <h3>People you may want to add to Kifi</h3>

      <div class="kf-connection-card-container" smart-scroll scroll-distance="wtiScrollDistance" scroll-disabled="isWTIScrollDisabled()" scroll-next="wtiScrollNext()">
        <div kf-connection-card ng-repeat="friend in whoToInvite" friend="friend"></div>
        <span ng-click="wtiScrollNext()" ng-hide="isWTIScrollDisabled()" class="kf-show-more">Show more</span>
      </div>

    </div>
  </div>
</div>
