.invite-wrapper
  top: 70px
  left: 0
  right: 0
  bottom: 0
  font-size: 14px
  font-weight: 300
  color: #566278

  h2
    clear: both
    font-size: 26px
    line-height: 1.2
    font-smoothing: antialiased

.invite
  padding: 16px 12px 0
  position: relative

.invite-list-header
  margin-bottom: 10px
  font-size: 16px
  font-weight: 200

.import-wrapper
  position: relative
  float: right
  margin-right: 20px

.invite-title
  margin-bottom: 10px

.social-connect-friends
  margin: 30px 0
