.social-invite-well
  margin: 15px 0
  border-radius: 10px
  border: defaultBorder
  padding: 15px
  background-color: #fff
  position: relative

a.invite-well-find-friends-button
  float: right
  display: inline-block
  margin-top: 5px
  color: #4372B1
  cursor: pointer
  font-smoothing: auto

.invite-well-find-friends-icon
  margin-left: 6px
