.social-invite-well
  margin: 15px 0
  padding: 25px 15px 15px
  background-color: #FFFFFF
  position: relative
  border-radius: 10px
  border: defaultBorder

a.invite-well-find-friends-button
  float: right
  display: inline-block
  margin-top: 5px
  color: #4372B1
  cursor: pointer
  font-smoothing: auto
