<div class="social-invite-search">
  <input type="text" ng-model="search.name" placeholder="Search for friends" ng-change="change($event)">
  <ul class="social-invite-dropdown" ng-show="search.showDropdown">
    <li class="social-invite-element" ng-repeat="result in results" ng-class="'social-invite-{{result.status === 'joined' && result.network === 'fortytwoNF' ? '' : result.status}}'">

      <div ng-if="!result.custom">
        <div ng-if="result.networkType !== 'email'"><img ng-src="{{result.image || 'https://www.kifi.com/assets/img/ghost.200.png'}}" class="social-invite-image"></div>

        <div ng-if="!result.status">
          <div class="social-invite-summary">
            <div class="social-invite-name">{{result.label}}</div>
            <div class="social-invite-network">
              <span class="social-network-icon kf-icon-micro" ng-class="result.iconStyle"></span>{{result.network}}
            </div>
          </div>
          <div class="social-invite-action clickable">
            <div class="social-invite-button" ng-click="invite(result, $event)"><span class="sprite sprite-tag-new-plus-icon"> </span>Invite</div>
          </div>
        </div>

        <div ng-if="result.status === 'joined' && result.networkType === 'fortytwo'">
          <div class="social-invite-summary">
            <div class="social-invite-name">{{result.label}}</div>
            <div class="social-invite-network">
              Your friend on Kifi
            </div>
          </div>
        </div>

        <div ng-if="result.status === 'requested' && result.networkType === 'fortytwoNF'">
          <div class="social-invite-summary">
            <div class="social-invite-name">{{result.label}}</div>
            <div class="social-invite-network">
              Kifi user — request sent
            </div>
          </div>
        </div>

        <div ng-if="result.status === 'joined' && result.networkType === 'fortytwoNF'">
          <div class="social-invite-summary">
            <div class="social-invite-name">{{result.label}}</div>
            <div class="social-invite-network">
              Kifi user
            </div>
          </div>
          <div class="social-invite-action clickable">
            <div class="social-invite-button user-add-button" ng-click="invite(result, $event)"><span class="sprite sprite-tag-new-plus-icon"></span> Add</div>
          </div>
        </div>

        <div ng-if="result.status === 'invited'">
          <div class="social-invite-summary">
            <div class="social-invite-name-long">{{result.label}}</div>
            <div class="social-invite-network">
              <span class="social-network-icon kf-icon-micro" ng-class="result.iconStyle"></span>{{result.inviteText}}
            </div>
          </div>
          <div class="social-invite-action clickable">
            <div class="social-invite-button" ng-click="invite(result, $event)">Resend</div>
          </div>
        </div>

      </div>

      <div ng-if="result.custom === 'email'">
        <img src="/img/email-icon.png" class="social-invite-image cant-find">
        <div class="social-invite-summary">
          <div class="social-invite-name">Email to</div>
          <div class="social-invite-network">
            {{result.label}}
          </div>
        </div>
        <div class="social-invite-action clickable">
          <div class="social-invite-button" ng-click="invite(result, $event)"><span class="sprite sprite-tag-new-plus-icon"></span> Invite</div>
        </div>
      </div>

      <div ng-if="result.custom === 'cant_find'" class="fill-parent clickable" ng-click="data.showCantFindModal = true">
        <img src="/img/friend-missing@2x.png" class="social-invite-image cant-find">
        <div class="social-invite-summary">
          <div class="social-invite-name social-invite-custom-email">Can't find your friend?</div>
        </div>
      </div>

      <div class="clearfix"></div>
    </li>
  </ul>
  <div class="social-invite-search-explain">Search by name or email address</div>
  <div kf-modal show="data.showCantFindModal" kf-width="670px">
    <div kf-basic-modal-content single-action="false">
      <div class="friend-not-found-modal">
        <div class="friend-not-found-heading">We couldn't find any friends matching</div>
        <div class="friend-not-found-name"> '{{search.name}}' </div>
        <div class="friend-not-found-sub-heading"> How to fix it </div>
        <ul>
          <li ng-if="!hasNetworks()" class="friend-not-found-suggestion">You don't have any networks connected to Kifi yet.
            <a class="friend-not-found-link" href="javascript:" ng-click="connectNetworks()"> Get started by connecting.</a> </li>
          <li ng-if="hasNetworks()" class="friend-not-found-suggestion">Your friends list might not be up to date. <a class="friend-not-found-link" href="javascript:" ng-click="refreshFriends()">Try refreshing it.</a></li>
          <li ng-if="hasNetworks()" class="friend-not-found-suggestion">Some of your friends may have privacy settings that prevent us from showing them. <br>Tell them to go to kifi.com and sign up.
          <li class="friend-not-found-suggestion">Or just <a class="friend-not-found-link" href="http://support.kifi.com/customer/portal/emails/new">contact us.</a></li>
        </ul>
        <div class="dialog-buttons">
          <button class="friend-not-found-modal-done" ng-click="data.showCantFindModal = false">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>
