.invite-wrapper
  top: 70px
  left: 0
  right: 0
  bottom: 0
  font-size: 14px
  font-weight: 300
  color: #566278

  h2
    clear: both
    font-size: 26px
    line-height: 1.2
    font-smoothing: antialiased
    margin-left: 10px

.invite
  padding-top: 10px
  padding-right: 23px
  padding-left: 23px
  position: relative

  .invite-list-header
    margin-bottom: 10px
    margin-left: 10px
    font-size: 120%
    font-weight: 200

.import-wrapper
  position: relative
  float: right
  margin-right: 20px

.invite-title
  margin-bottom: 10px

.invite-auto-friend-request-message
  text-align: center
  padding: 1em
  font-weight: bold
