.social-networks-status
  color: #4372B1
  cursor: pointer

  @media screen and (max-width: 1100px)
    position: static
    padding-left: 10px
    padding-top: 5px

.friends-networks-status
  position: absolute
  right: 15px
  top: 20px
