<div class="extension-upsell-banner" ng-show="showBanner">
  <svg class="extension-upsell-banner-close"
       kf-symbol-sprite
       icon="error"
       ng-click="dismiss()"></svg>

  <div class="extension-upsell-banner-content">
    <img class="extension-upsell-banner-image"
      src="/img/extension-upsell.png"></img>
    <div class="extension-upsell-banner-message">
      Kifi's browser add-on integrates your keeps with Google Search Results
    </div>
  </div>
  <div class="extension-upsell-banner-button" ng-click="triggerInstall()">
    Get it
  </div>
</div>