@(emailData: com.keepit.curator.commanders.email.RecommendedEmailData)


Hello @emailData.toUser.firstName,<br/><br/>

Kifi recommends @emailData.recos.size items for you:

<ol>
    @emailData.recos.map { reco =>
    <li>
        <h3>@reco.title</h3>
        <div>
            How is this recommendation?
            <form method="post" action="https://www.kifi.com/site/recos/vote?url=@helper.urlEncode(reco.url)">
                <input type="hidden" name="vote" value="true"/>
                <input type="submit" value="Good"/>
            </form>
            <form method="post" action="https://www.kifi.com/site/recos/vote?url=@helper.urlEncode(reco.url)">
                <input type="hidden" name="vote" value="false"/>
                <input type="submit" value="Bad"/>
            </form>
        </div>
        <div>URL: @reco.url</div>
        <div>Description: @reco.description</div>
        <div>Score: @reco.score</div>
        <div>Score Explained: @reco.explain</div>
        @reco.imageUrl.map { imageUrl =>
        <img src="@imageUrl"/>
        }
    </li>
    }
</ol>

