@(allRecos: com.keepit.curator.commanders.email.AllDigestItems)
@import com.keepit.common.mail.template.helpers._

This Week’s Recommended List

This digest is a recommended list based on your interests and recent activity on Kifi.
@if(!allRecos.isFacebookConnected) {
You can also Connect Facebook to access recommendations from your friends’ best keeps.
@baseUrl/link/facebook?redirect=recommendations
}

@allRecos.items.map { item =>
@partials.feedRecommendationText(item)
}

View Full List: @baseUrl/recommendations
