@(allRecos: com.keepit.curator.commanders.email.AllDigestRecos, ctx: email.helpers.Context)
@import email.helpers.black.assetUrl

@email.black.layout(ctx) {

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
                <td align="center">
                    <table width="625" border="0" cellspacing="0" cellpadding="0" align="center" class="wrapper">
                        <tr>
                            <td height="25">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="center" style="font-family:Arial, sans-serif; font-size:20px; text-align:center; color:#000000; line-height:18px; font-weight:bold;">Today's Recommended List</td>
                        </tr>
                        <tr>
                            <td height="21">&nbsp;</td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <table width="625" border="0" cellspacing="0" cellpadding="0" align="center" class="wrapper">
                                    <tr>
                                        <td width="72" class="side1">&nbsp;</td>
                                        <td align="left" valign="top"  style="font-family:Arial, sans-serif; font-size:16px;  text-align:left; color:#000000; line-height:21px; ">
                                            This daily digest is a recommended
                                            <a href="https://www.kifi.com/kifeeed" target="_blank" style="font-family:Arial, sans-serif; font-size:16px; color:#000000; line-height:21px; text-decoration:underline;">list</a>
                                            based on your interests and recent Kifi activity.
                                            @{ /* TODO(josh) remove below line if user connected FB already */ }
                                            You can also connect your Kifi account to Facebook to get recommendations from your friends' best keeps.<br />
                                        </td>
                                        <td width="67" class="side1">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td height="35">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>

@allRecos.recos.map { reco =>
<tr><td bgcolor="#ffffff">@partials.feedRecommendation(reco, ctx)</td></tr>
}

<tr>
    <td bgcolor="#ffffff">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
                <td height="37">&nbsp;</td>
            </tr>
            <tr>
                <td align="center">
                    <table width="193" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                            <td><a href="https://www.kifi.com/kifeeeed" target="_blank"><img src="@assetUrl("digest/viewfulllist.jpg")" alt="View Full list" width="193" height="47"  style="display:block;" border="0" /></a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="33">&nbsp;</td>
            </tr>
        </table>
    </td>
</tr>

@if(allRecos.friendRecos.size > 0) {
<tr>
    <td bgcolor="#f3f3f3" style="font-size:1px;line-height:1px;">&nbsp;</td>
</tr>
<tr><td>@partials.friendRecommendations(allRecos.friendRecos, ctx)</td></tr>
}
<tr>
    <td bgcolor="#f3f3f3" style="font-size:1px;line-height:1px;">&nbsp;</td>
</tr>
</table>

}
