@(firstName: String, recos: Seq[com.keepit.curator.commanders.email.RecommendedUriSummary])


Hello @firstName,<br/><br/>

Kifi recommends @recos.size items for you:

<ol>
    @recos.map { reco =>
    <li>
        <h3>@reco.title</h3>
        <div>URL: @reco.url</div>
        <div>Description: @reco.description</div>
        <div>Score: @reco.score</div>
        <div>Score Explained: @reco.explain</div>
        @reco.imageUrl.map { imageUrl =>
        <img src="@imageUrl"/>
        }
    </li>
    }
</ol>

