/*
@dark-blue: #204b69;
@light-blue: #628196;
@active: #3da9f5;
@inactive: #b6c3cc; 
*/

/* overrides */
* {font-family: 'Lato', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
*:focus {outline: none;}
html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}
body {margin:0; padding: 0; background: #f8f8f8; height: 100%; width: 100%; text-align: center;  font-size: 16px;}
h1,h2,h3,h4,h5,label, select { font-weight: normal; color: #204b69}
h1 {font-size: 1.7em; text-align: left;}
label { font-size: .9em; color: #628196}
img {vertical-align: middle; border: 0px}
a {color: #0074c5; text-decoration: none}
select {background: #eeeeee; border: 0; -webkit-appearance: none; -moz-appearance: none; width: 110%}
header { width: 1260px;  height: 48px; padding: 0px; position: relative; left: 50%; margin-left: -630px; text-align: left}
nav {float: right}
::-webkit-input-placeholder{ color: #b6c3cc;}
:-moz-placeholder { color: #b6c3cc;}
::-moz-placeholder { color: #b6c3cc;}
:-ms-input-placeholder { color: #b6c3cc;}

/* common layout */
.gray {color: #999a9c;}
.dark-gray {color: #66676a}
.green {color: #27ae60}
span.light {color: #628196}
.fs9 {font-size: .8em}
div.header-wrapper {position: fixed; z-index: 10; background: #204b69; width: 100%}
.centered {width: 1260px; text-align: left; margin: 0 auto;}
.container {position:relative; top: 48px; }
header .logo {margin: 6px 15px}
nav a {color: #ffffff; font-size: 1.1em; display: inline-block; line-height: 48px; padding: 0 30px}
nav a.invite{background: #7a8096 url(../img/invite.png) 15px 50% no-repeat; padding-left: 50px;}
nav a.feedback {background: #27ae60}

aside.left {width: 200px; height: 100%;  position:fixed; padding-right: 10px;}
aside.right {width: 270px; padding: 20px; height: 100%; position: fixed; margin-left: 940px }
section.main {width: 700px; height: 100%; float: left; margin-left: 210px; background: #ffffff; }
aside.right textarea {width: 265px; margin-top: 10px; background: transparent}
div.custom-select {
    position: relative;
    display: inline-block; overflow: hidden; width: 275px;
}
div.custom-select:after {
content: url('../img/down.png');
position: absolute;
top: 6px;
right: 0;
bottom: 0;
padding: 0 7px;
pointer-events:none;
}
aside.left .active a {background: #3da9f5; color: #ffffff}
aside.left .active a span {color: #ffffff}
aside.left h3 a {display: block; padding: 10px; font-size: 1em; }
aside.left .large-avatar {position: relative; overflow: hidden; height: 130px; width: 100%;}
aside.left .large-avatar img {margin-top: -20%}
aside.left .large-avatar .name {color: #ffffff; background: #204b69; text-align: center; position: absolute; bottom: 0; width: 200px; line-height: 1.5em}
aside.right label {display: block}
aside.right select {padding: 5px;}
span.right {float: right}
input.search {z-index: 1; position: relative; font-size: 1.6em; padding: 10px 50px 10px 100px; width: 550px; border: none; background: url('../img/search.png') 15px 50% no-repeat}

.sticky-wrapper {float: left}

div.search-wrapper {position: relative; background: #eeeeee; overflow: hidden;}
div.search-wrapper:before {
	content:'';
	position: absolute;
	top: 5px;
	left: 30px;
	width: 80px; 
   height: 80px; 
   background: #b6c3cc;
   /* Rotate */
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
   /* Rotate Origin */
   -webkit-transform-origin: 0 100%;
   -moz-transform-origin: 0 100%;
   -ms-transform-origin: 0 100%;
   -o-transform-origin: 0 100%;
   transform-origin: 0 100%;
}
div.search-wrapper.active:before {background: #3da9f5}
.long-text { display: block; white-space: nowrap; overflow: hidden; text-overflow:    ellipsis;}
ol {list-style: none; padding: 0; margin: 0}
.small-avatar {max-width: 30px; max-height: 30px;}
.keep {clear: left; padding: 10px; border-top: 1px solid #f9f9f9}
.keep .small-avatar {vertical-align: bottom; float: left;}
.keep .small-avatar.me {margin-right: 3px;}
.keep .bottom {margin-top: 5px;}
.keep .bottom span { float: left; margin-left: 10px}
div.search {position: fixed; padding: 30px 20px 0px 20px; width: 660px; height: 110px; background: #ffffff; }
.kifi-pane-parent header {margin-left: -790px}

div.search .num-results {display: none; font-size: .8em; color: #204b69; text-align: left; padding: 10px 0;}
.search-section {color: #b6c3cc; background: #f9f9f9 url('../img/clock.png') 5px 50% no-repeat; padding: 5px 30px; }
div.scrollable {margin-top: 100px; padding: 50px 20px; text-align: left;  width: 660px;  overflow: hidden; }
div.loading {text-align: center; display: none;}
.clearfix {clear: both}


@media all and (max-width: 1590px) {
	.kifi-pane-parent .container, .kifi-pane-parent header {margin-left: 0px; left:0; width: 100%; }
	.kifi-pane-parent header nav {margin-right: 320px}
	.kifi-pane-parent aside.left {width: 200px;}
	.kifi-pane-parent aside.right {margin-left: 800px;}
	.kifi-pane-parent section.main {width: 600px; margin-left: 210px}
	.kifi-pane-parent div.search {padding: 30px 20px 0 20px; left: 210px; width: 560px;}
	.kifi-pane-parent div.scrollable { padding: 50px 20px; width: auto; left: 0; margin-left: 0}
	.kifi-pane-parent div.custom-select { width: 90%}
}
@media all and (max-width: 1270px)
{
	.centered, header {width: 100%}
	.container, header {left: 0; margin-left: 0px}
	aside.left {width: 17%}
	aside.right {width: 20%; margin-left: 72%}
	section.main {width: 54%; margin-left: 18%}
	div.scrollable { padding: 50px 20px; width: auto; left: 0; margin-left: 0}
	div.search {padding: 30px 2% 0 2%; left: 18%; width: 50%;}
	div.custom-select { width: 90%}
	aside.right textarea {width: 200px}
}
@media all and (max-width: 1024px) {
	aside.left {width: 150px; }
	aside.right {width: 200px;  padding: 10px}
	section.main {width: 580px}
	body {overflow-x: hidden;}
}
 