<div>
  <h2 class="kf-footer-header">Friends on Kifi</h2>
  <div class="kf-footer-friends-links">
    <a ng-href="{{friendsLink()}}"><ng-pluralize count="friendCount()" when="{'one': '1 friend', 'other': '{} friends'}"></ng-pluralize></a>
  </div>
  <div class="kf-compact-friends-image-row" ng-if="friends.length > 0">
    <a href="/friends" ng-repeat="friend in friends | limitTo: friendsDisplayLimit">
      <img class="kf-compact-friend-image" title="{{friend.firstName}}" ng-src="{{friend.pictureUrl}}">
    </a>
  </div>
</div>
