<div>
  <h2 class="kf-rightcol-header">Friends on Kifi</h2>
  <div class="kf-rightcol-friends-links">
    <div><ng-pluralize count="friendCount()" when="{'one': '1 friend', 'other': '{} friends'}"></ng-pluralize></div>
    <a ng-href="{{friendsLink()}}">See all &#0187;</a>
  </div>
  <div class="kf-compact-friends-image-row" ng-if="friends.length > 0">
    <a href="/friends" ng-repeat="friend in friends | limitTo: friendsDisplayLimit">
      <img class="kf-compact-friend-image" title="{{friend.firstName}}" ng-src="{{friend.pictureUrl}}">
    </a>
  </div>
</div>
