<div class="kf-friend-card kf-friend-request-card"> <!-- Should really be ng-if but that causes some error for some reason -->
  <a href="{{friend|profileUrl}}" kf-track-origin="friendsPage">
    <img class="kf-friend-card-image" ng-src="{{friend | pic:200}}" onerror="this.src='https://www.kifi.com/assets/img/ghost.200.png'">
  </a>
  <span class="kf-friend-card-who">
    <div class="kf-friend-card-name">{{friend.firstName}} {{friend.lastName}}</div>
    <div>Accept invitation to connect on Kifi?</div>
  </span>
  <span class="kf-friend-request-card-buttons">
    <span class="kf-accept" ng-click="accept()">Accept</span>
    <span class="kf-ignore" ng-click="ignore()">Ignore<span>
  </span>
</div>
