.kf-friend-card
  display: inline-block
  width: calc(50% - 5px)
  box-sizing: border-box
  border: defaultBorder
  border-radius: 10px
  height: 102px
  margin: 5px 0
  padding: 5px
  position: relative
  background-color: #fff

  &:nth-child(2n+1)
    margin-left: 10px

  .kf-friend-card-image
    float: left
    margin-right: 12px
    height: 60px
    width: 60px
    border-radius: 3px
    margin-top: 15px
    margin-left: 5px

  .kf-friend-card-who
    display: inline-block
    padding-top: 20px
    overflow: hidden
    white-space: nowrap
    width: calc(100% - 162px)

    .kf-friend-card-name
      font-size: 120%
      color: black
      text-overflow: ellipsis;
      overflow: hidden;

    .kf-friend-card-count
      font-size: 90%
      padding-top: 3px;

  .kf-friend-card-button
    background-color: greenColor
    color: #fff
    position: absolute
    right: 15px
    top: 39px
    padding: 4px 12px
    cursor: pointer
    border-radius: 2px

    &:hover + .kf-friend-card-menu
      display: block

  .kf-friend-card-menu
    right: 15px
    display: none
    top: 60px
    border: defaultBorder

    &:hover
      display: block

.kf-unfriend-confirm-ul
  list-style: disc
  padding: 10px 0 0 30px