<div class="kf-friend-card kf-friend-request-card"> <!-- Should really be ng-if but that causes some error for some reason -->
  <a ng-if="inUserProfileBeta" href="{{friendProfileUrl}}">
  	<img class="kf-friend-card-image" onerror="this.src='https://www.kifi.com/assets/img/ghost.100.png'" ng-src="{{mainImage}}">
  </a>
  <img ng-if="!inUserProfileBeta" class="kf-friend-card-image" onerror="this.src='https://www.kifi.com/assets/img/ghost.100.png'" ng-src="{{mainImage}}">
  <span class="kf-friend-card-who">
    <div class="kf-friend-card-name" title="{{name}}">{{name}}</div>
    <div>Accept as your Kifi friend?</div>
  </span>
  <span class="kf-friend-request-card-buttons">
    <span class="kf-accept" ng-click="accept()">Accept</span>
    <span class="kf-ignore" ng-click="ignore()">Ignore<span>
  </span>
</div>
