.kf-friend-card
  @media screen and (min-width: 1365px)
    width: calc(50% - 24px)

  @media screen and (max-width: 1365px)
    width: calc(100% - 25px)

  border-style: solid
  border-width: 1px
  border-radius: 2px
  border-color: #43C481
  display: inline-block
  height: 80px
  margin: 5px 6px
  padding: 5px
  position: relative

  .kf-friend-card-image
    float: left
    margin-right: 12px
    height: 80px
    width: 80px
    border-radius: 3px

  .kf-friend-card-who

    display: inline-block
    padding-top: 20px
    overflow: hidden
    white-space: nowrap
    width: calc(100% - 100px)

    .kf-friend-card-name
      font-size: 120%
      color: black
      text-overflow: ellipsis;
      overflow: hidden;


    .kf-friend-card-count
      font-size: 90%
      padding-top: 3px;

  .kf-friend-card-button
    border-style: solid
    border-width: 1px
    border-radius: 2px
    border-color: #43C481
    color: #40C087
    position: absolute
    right: 10px
    top: 33px
    padding: 2px 10px

    &:hover + .kf-friend-card-menu {
      display: block
    }

  .kf-friend-card-menu
    border-color: #43C481
    right: 10px
    display: none
    top: 55px
    box-shadow: 4px 4px 0px 0px #DADAE2

    &:hover {
      display: block
    }
