.kf-friend-card
  @media screen and (min-width: 1200px)
    width: calc(50% - 24px)

  @media screen and (max-width: 1200px)
    width: calc(100% - 25px)

  border-style: solid
  border-width: 1px
  border-radius: 2px
  border-color: #43C481
  display: inline-block
  height: 80px
  margin: 5px 6px
  padding: 5px

  .kf-friend-card-image
    float: left
    margin-right: 12px
    height: 80px
    width: 80px
    border-radius: 3px

  .kf-friend-card-who

    display: inline-block
    padding-top: 20px
    overflow: hidden
    white-space: nowrap
    width: calc(100% - 100px)

    .kf-friend-card-name
      font-size: 120%
      color: black
      text-overflow: ellipsis;
      overflow: hidden;


    .kf-friend-card-count
      font-size: 90%
      padding-top: 3px;
