<div ng-controller="FriendsCtrl">
  <div class="friends-wrapper kf-width-bounded">
    <div class="friends">
      <h2>Kifi Friends <span ng-show="totalFriends() > 0">({{totalFriends()}})</span></h2>
      <div class="friends-networks-status">
        <div kf-social-networks-status ng-if="!isRefreshingSocialGraph"></div>
        <div class="import-wrapper" ng-if="isRefreshingSocialGraph">
          <div class="kf-bouncy-ball">
            <div class="pace pace-active"><div class="pace-progress"></div><div class="pace-activity"></div></div>
          </div> Importing your contacts
        </div>
      </div>
      <div kf-social-invite-well show-find-friends="true"></div>

      <div kf-networks-need-attention></div>

      <div class="friend-requests" ng-show="requests.length > 0" ng-class="'unfold'">
        <div class="friends-list-header">
          <span class="friend-requests-badge">{{requests.length || 0}}</span> Pending Friend
          <span ng-pluralize count="requests.length" when="{'one': 'Request', 'other': 'Requests'}"></span>
          <span ng-show="requests.length>2"> | <a href="javascript:" ng-click="toggleRequestExpansion()">{{requestsToggleText}}</a> </span>
        </div>
        <div kf-friend-request-card ng-repeat="request in requests | limitTo: requestsToShow" request="request"></div>
      </div>
      <div class="friends-list" ng-show="friends.length > 0" smart-scroll scroll-distance="friendsScrollDistance" scroll-disabled="isFriendsScrollDisabled()" scroll-next="friendsScrollNext()">
        <div class="friends-list-header"><ng-pluralize count="totalFriends()" when="{'one': '1 Kifi friend', 'other': '{} Kifi friends'}"></ng-pluralize></div>
        <div kf-friend-card ng-repeat="friend in friends" friend="friend"></div>
        <span ng-click="friendsScrollNext()" ng-hide="isFriendsScrollDisabled()" class="kf-show-more">Show more</span>
      </div>

      <div ng-if="friends.length <= 10 && friendsHasRequested" class="social-connect-friends">
        <div kf-social-connect-networks></div>
      </div>

    </div>
  </div>
</div>
