.kf-friend-request-card

  .kf-friend-card-who
    padding-top: 10px

  .kf-friend-request-card-buttons
    position: absolute
    right: 15px
    bottom: 15px

    span
      border-radius: 2px
      color: white
      cursor: pointer

    .kf-accept
      background-color: #41C482
      padding: 4px 9px

    .kf-ignore
      background-color: #B9C7D4
      padding: 4px 10px
