.friends-wrapper
  margin: 0 auto
  max-width: appMaxWidth
  font-size: 14px
  font-weight: 300
  color: #566278

  h2
    clear: both
    font-size: 26px
    line-height: 1.2
    font-smoothing: antialiased

    span
      font-size: 20px

.friends-list
  padding-right: 4px
  padding-bottom: 15px
  @media screen and (max-width: 1365px)
    padding-right: 7px

.friends
  padding: 10px 12px 0
  position: relative

  .friends-list-header
    margin-bottom: 10px
    margin-left: 15px
    font-size: 120%
    font-weight: 200


  .friend-requests
    margin-top: 30px
    margin-bottom: 40px
    opacity: 0
    transition: all 0.3s ease-in
    transform: translateY(-30px)

    &.unfold
      margin-top: 20px
      margin-bottom: 20px
      opacity: 1
      transform: translateY(0px)

    .friend-requests-badge
      background-color: #F58182
      color: white
      border-radius: 100%
      padding: 3px 8px;

.social-connect-friends
  margin: 30px 0

