.kf-friends
  text-align: center

  .kf-footer-header
    text-align: left

  .kf-friends-content
    color: #555
    line-height: 1.2
    margin: 10px 5px

  .social-connect-button
    font-size: 14px
    padding: 10px 10px 10px 40px
    position: relative
    width: 85px

  .social-connect-button::before
    background-image: url(../img/networks2.png)
    background-size: auto 35px;
    background-color: rgba(0, 0, 0, 0.1)
    content: ''
    display: inline-block
    height: 100%
    left: 0
    position: absolute
    top: 0;
    width: 35px



