<div ng-if="peopleYouMayKnow.length > 0" class="kf-people-you-may-know clearfix">
  <h2 class="kf-rightcol-header">{{header}}</h2>
  <div class="kf-pymk" ng-repeat="person in peopleYouMayKnow | limitTo: 3">
    <div class="kf-pymk-info">
      <span class="kf-pymk-close-icon" ng-click="remove(person)">x</span>
      <a href="javascript:" class="kf-pymk-action-icon" ng-click="action(person)" ng-class="{clickable: person.clickable}"><span class="sprite sprite-tag-new-plus-icon"></span>{{person.actionText}}</a>
      <div class="kf-pymk-info-content">
        <span class="kf-pymk-name">{{person.fullName}}</span>
        <span class="kf-pymk-via">{{person.via}}
          <a ng-if="person.numMutualFriends > 0" href="javascript:" ng-click="showMutualFriends(person)">
            <ng-pluralize count="person.numMutualFriends" when="{'one': '1 mutual friend', 'other': '{} mutual friends'}"></ng-pluralize>
          </a>
        </span>
      </div>
    </div>
    <a ng-if="inUserProfileBeta" href="{{person.profileUrl}}" kf-track-origin origin="pymk/pymk">
      <img class="kf-pymk-image" title="{{person.fullName}}" ng-src="{{person.pictureUrl}}" onerror="this.src='https://www.kifi.com/assets/img/ghost.100.png'">
    </a>
    <img ng-if="!inUserProfileBeta" class="kf-pymk-image" title="{{person.fullName}}" ng-src="{{person.pictureUrl}}" onerror="this.src='https://www.kifi.com/assets/img/ghost.100.png'">
  </div>
  <a href="/invite" class="kf-pymk-invite-link">See more &#0187;</a>
 </div>
