<div class="kf-pymk">
  <div class="kf-pymk-top clearfix">
    <h2 class="kf-pymk-title">People you might find interesting</h2>
    <div class="kf-pymk-person" ng-repeat="person in people | limitTo: 3">
      <a class="kf-pymk-image-a" href="{{person|profileUrl}}" kf-track-origin="pymk/pymk">
        <img class="kf-pymk-image" ng-src="{{person.pictureUrl}}" onerror="this.src='https://www.kifi.com/assets/img/ghost.100.png'">
      </a>
      <div class="kf-pymk-name">{{person.fullName}}</div>
      <div class="kf-pymk-via">
        {{person.via}}
        <button class="kf-pymk-mutual" ng-if="person.numMutualFriends > 0" ng-click="showMutualFriends(person)">
          <ng-pluralize count="person.numMutualFriends" when="{'one': '1 mutual connection', 'other': '{} mutual connections'}"></ng-pluralize>
        </button>
      </div>
      <button class="kf-pymk-action" ng-click="action(person)" ng-class="{clickable: person.clickable}">{{person.actionText}}</button>
      <button class="kf-pymk-x" ng-click="remove(person)"></button>
    </div>
  </div>
  <div class="kf-pymk-bottom">
    <button class="kf-pymk-network-btn" ng-click="connect(network)" ng-if="network">
      <span class="kf-pymk-network-icon svg-facebook-f" ng-if="network === 'fb'"></span>
      <span class="kf-pymk-network-icon svg-twitter-white" ng-if="network === 'tw'"></span>
      <span class="kf-pymk-network-icon svg-gmail-envelope" ng-if="network === 'gm'"></span>
      <span class="kf-pymk-network-1">Find people you already know</span>
      <span class="kf-pymk-network-2" ng-switch="network">
        <span ng-switch-when="fb">Check my Facebook friends</span>
        <span ng-switch-when="tw">Check my Twitter contacts</span>
        <span ng-switch-when="gm">Check my Gmail contacts</span>
      </span>
    </button>
    <div class="kf-pymk-network-other">
      <a class="kf-pymk-network-other-a" href="/invite" ng-if="network">Connect other address books</a>
      <a class="kf-pymk-network-other-a" href="/invite" ng-if="!network">See more &raquo;</a>
    </div>
  </div>
</div>
