<div class="kf-rightcol-friends-connect" ng-if="showConnect">
  <div class="kf-friends-content">Find friends already on Kifi</div>
  <div kf-facebook-connect-button ng-show="showFacebookConnect" class="social-connect-button facebook" ng-click="connectFacebook()">Connect</div>
  <div kf-linkedin-connect-button ng-show="showLinkedInConnect" class="social-connect-button linkedin" ng-click="connectLinkedIn()">Connect</div>
  <div ng-show="showGmailImport" class="social-connect-button gmail" ng-click="importGmail()">Import</div>
  <div class="kf-friends-content"><a href="/invite">See more connection options &#0187;</a></div>
</div>