<div class="kf-rightcol-friends-connect" ng-if="network">
  <div class="kf-friends-content">Find friends already on Kifi</div>
  <div kf-facebook-connect-button ng-show="network === 'facebook'" class="social-connect-button facebook" ng-click="connectFacebook()"><a href="javascript:">Connect</a></div>
  <div kf-linkedin-connect-button ng-show="network === 'linkedin'" class="social-connect-button linkedin" ng-click="connectLinkedIn()"><a href="javascript:">Connect</a></div>
  <div ng-show="network === 'gmail'" class="social-connect-button gmail" ng-click="importGmail()"><a href="javascript:">Connect</a></div>
  <div class="kf-friends-content"><a href="/invite">See more connection options &#0187;</a></div>
</div>
