.kf-rightcol-friends
  text-align: center

  a:hover
    text-decoration: underline

  a:active
    text-decoration: underline

  .kf-rightcol-header
    text-align: left

  .kf-friends-content-title
    margin-bottom: 15px
    color: #555
    line-height: 1.2

  .kf-friends-content-link
    margin-top: 15px
    a
      color: linkBlueColor

  .kf-friends-content-bigger
    font-size: 14px

  .kf-compact-friends-image-row
    text-align: left

  a.social-connect-button:hover,
  a.social-connect-button:active
    text-decoration: none

  .social-connect-button
    position: relative
    width: 85px
    border-radius: 5px
    padding: 10px 35px 10px 65px
    font-size: 14px
    color: white

    &.facebook
      background-color: #597AB1

    &.linkedin
      background-color: #2786C4

    &.gmail
      background-color: #E36767

    &.twitter
      background-color: #55acee

  .social-connect-button::before
    position: absolute
    top: 0
    left: 0
    width: 35px
    height: 100%
    background-image: url(/img/networks2.png)
    background-size: auto 35px;
    background-color: rgba(0, 0, 0, 0.1)
    display: inline-block
    content: ''

  .social-connect-button.twitter::before
    background-image: url(/img/svg/twitter-icon.svg) // more ideal if was in networks2.png
    background-size: 20px
    background-repeat: no-repeat
    background-position: 8px 11px

  .social-connect-button.linkedin::before
    background-position: -35px 0px

  .social-connect-button.gmail::before
    background-position: -140px 0px

  .kf-compact-friend-image,
  .kf-pymk-image
    width: 40px
    height: 40px
    padding: 1px 1px
    border-radius: 50px

  .kf-rightcol-friends-links
    float: right
    width: 70px
    margin-top: 5px
    text-align: left

    a
      color: linkBlueColor

  .kf-rightcol-friends-connect
    margin: 15px 15px
    padding: 0
    border: 1px solid #999
    border-radius: 10px
    background-color: #fdfdfd

  .kf-people-you-may-know
    margin-top: 10px
    text-align: left

  .kf-pymk
    padding-bottom: 5px

  .kf-pymk-info
    position: relative
    float: right
    width: 200px
    margin-top: 2px
    font-size: 12px
    line-height: 12px

  .kf-pymk-info-content
    width: 135px
    margin-top: 6px

  .kf-pymk-name
    text-overflow: ellipsis
    max-width: 120px
    overflow: hidden
    white-space: nowrap
    display: inline-block

  .kf-pymk-via
    display: block
    margin-top: 3px
    font-size: 11px
    text-overflow: ellipsis
    max-width: 120px
    overflow: hidden
    white-space: nowrap


    a
      color: linkBlueColor

  .kf-pymk-action-icon
    position: relative
    float: right
    margin: 12px 20px 0 0
    border-radius: 3px
    padding: 3px 5px 3px 3px
    background-color: linkBlueColor
    color: #fff
    font-size: 12px

    .sprite-tag-new-plus-icon
      display: inline-block
      margin: 0 3px

  a.kf-pymk-action-icon:hover,
  a.kf-pymk-action-icon:active
    text-decoration: none

  .kf-pymk-close-icon
    display: none
    position: absolute
    top: -2px
    right: 0
    padding: 0 5px 5px 5px
    font-size: 14px
    font-weight: 500
    color: #777f88
    cursor: pointer

  .kf-pymk-info:hover .kf-pymk-close-icon
    display: inline

  .kf-pymk-invite-link
    float: right
    margin: 5px 6px 0 0
    color: linkBlueColor
