<div>
  <a ng-show="network === 'Facebook'" href="javascript:" class="social-connect-button facebook" ng-click="connectFacebook()">Connect</a>
  <a ng-show="network === 'Twitter'" href="javascript:" class="social-connect-button twitter" ng-click="connectTwitter()">Connect</a>
  <a ng-show="network === 'LinkedIn'" href="javascript:" class="social-connect-button linkedin" ng-click="connectLinkedIn()">Connect</a>
  <a ng-show="network === 'Gmail'" href="javascript:" class="social-connect-button gmail" ng-click="importGmail()">Connect</a>
</div>
