<div class="kf-mutual-friends">
  <!-- Person who has mutual friends with the user -->
  <div class="kf-mutual-friends-pymk">
    <a href="{{this|profileUrl}}" ng-click="close()" kf-track-origin="pymk/mutualFriends">
      <img class="kf-mutual-friends-image" title="{{fullName}}" ng-src="{{this|pic:200}}" onerror="this.src='https://www.kifi.com/assets/img/ghost.200.png'">
    </a>
    <a href="javascript:" class="kf-mutual-friends-action" ng-click="addFriend(id)" ng-class="{clickable: clickable}"><span class="sprite sprite-tag-new-plus-icon"></span>{{actionText}}</a>
    <div class="kf-mutual-friends-pymk-info">
      <div class="kf-mutual-friends-pymk-number"><ng-pluralize count="numMutualFriends" when="{'one': '1 mutual connection ', 'other': '{} mutual connections '}"></ng-pluralize>with</div>
      <div class="kf-mutual-friends-pymk-name">{{fullName}}</div>
    </div>
  </div>

  <!-- List of the mutual friends -->
  <div class='kf-mutual-friends-friends' kf-wheel-allow>
    <div ng-repeat="mutualFriendPair in mutualFriendsPairs" class="kf-mutual-friend-pair">
      <div ng-repeat="mutualFriend in mutualFriendPair" class="kf-mutual-friend-card">
        <a href="{{mutualFriend|profileUrl}}" ng-click="close()" kf-track-origin="pymk/mutualFriends">
          <img class="kf-mutual-friends-image" title="{{mutualFriend.firstName}} {{mutualFriend.lastName}}" ng-src="{{mutualFriend | pic:200}}" onerror="this.src='https://www.kifi.com/assets/img/ghost.200.png'">
        </a>
        <div class="kf-mutual-friend-card-info">
          <a class="kf-mutual-friend-card-name" href="{{mutualFriend|profileUrl}}" ng-click="close()" kf-track-origin="pymk/mutualFriends">{{mutualFriend.firstName}} {{mutualFriend.lastName}}</a>
          <div><ng-pluralize count="mutualFriend.connections" when="{'one': '1 connection ', 'other': '{} connections '}"></ng-pluralize>on Kifi</div>
        </div>
      </div>
    </div>
  </div>
</div>
