editButtonWidth = 40px

.kf-click-to-edit:hover:before
  position: absolute
  right: 0
  width: editButtonWidth
  text-align: center
  font-size: 0.85rem
  font-weight: normal
  pointer-events: none
  display: inline-block
  vertical-align: middle
  color: white

.kf-click-to-edit-editing:hover:before
  content: 'save'

.kf-click-to-edit 
  input,
  .kf-click-to-edit-textarea
    width: 'calc(100% - %s)' % editButtonWidth
    box-sizing: border-box
    padding: 2px
    background: none
    border-radius: 2px
    color: inherit
    line-height: normal
    min-height: 15px
    border: 1px dashed transparent
    word-wrap: break-word

    &:not([readonly="readonly"])
      &:hover
        border-color: rgba(255, 255, 255, 0.25)

        &:before
          content: 'edit'

      &:focus,
      &:hover:focus
        border-color: #fff

.kf-click-to-edit
  .kf-click-to-edit-textarea-tester
    box-sizing: border-box
    position: absolute
    top: -9999px
    left: -9999px
