<div class="kf-click-to-edit">
  <input ng-hide="textarea" ng-readonly="readonly" ng-model="view.editableValue" ng-keydown="editEvent($event)" ng-blur="onBlur()" placeholder="{{view.inputPlaceholder}}" />
  <span class="kf-click-to-edit-textarea kf-click-to-edit-textarea-tester" ng-style="view.textareaWidth">{{view.editableValue}}</span>
  <textarea ng-readonly="readonly" class="kf-click-to-edit-textarea" ng-show="textarea" ng-model="view.editableValue" ng-keydown="editEvent($event)" ng-blur="onBlur()" ng-style="view.textareaHeight"></textarea>
</div>
