editButtonWidth = 40px

.kf-click-to-edit:hover:before
  position: absolute
  right: 0
  width: editButtonWidth
  text-align: center
  font-size: 0.85rem
  font-weight: normal
  pointer-events: none
  display: inline-block
  vertical-align: middle
  color: white

.kf-click-to-edit 
  .kf-click-to-edit-textarea
  .kf-click-to-edit-p
    width: 'calc(100% - %s)' % editButtonWidth
    box-sizing: border-box
    padding: 2px
    background: none
    border-radius: 2px
    color: inherit
    line-height: normal
    min-height: 25px
    border: 1px dashed transparent
    word-wrap: break-word
    resize: none

  .kf-click-to-edit-p
    margin-bottom: 0px

    + .kf-click-to-edit-p
      margin-top: 5px

  &.editable
    &:hover
      textarea
        border-color: rgba(255, 255, 255, 0.25)

    &:focus,
    &:hover:focus
      border-color: #fff

.kf-click-to-edit
  .kf-click-to-edit-textarea-tester
    box-sizing: border-box
    position: absolute
    top: -9999px
    left: -9999px
