<div
  class="kf-click-to-edit"
  ng-class="{ 'editable': !readonly, 'focus': focus }"
>
  <div ng-show="!readonly" class="kf-click-to-edit-wrapper" ng-click="selectAll()">
    <span class="kf-click-to-edit-textarea kf-click-to-edit-textarea-tester" ng-bind="view.editableValue"></span>
    <textarea ng-attr-placeholder="{{ inputPlaceholder }}" class="kf-click-to-edit-textarea" ng-model="view.editableValue" ng-keydown="editEvent($event)" ng-focus="onFocus()" ng-blur="onBlur()" ng-style="view.textareaHeight"></textarea>
  </div>
  <p class="kf-click-to-edit-p" ng-if="readonly && !linkable" ng-bind="view.editableValue"></p>
  <p class="kf-click-to-edit-p" ng-if="readonly && linkable">
    <a class="kf-click-to-edit-p-a" ng-href="{{ value }}" target="_blank" ng-bind="view.editableValue"></a>
  </p>
</div>
