@(reco: com.keepit.curator.commanders.email.DigestItem)
@import com.keepit.common.mail.template.helpers._

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" data-reco-id="@reco.uriExternalId">
    <tr>
        <td valign="top">
            <table width="672" border="0" cellspacing="0" cellpadding="0" align="center" class="wrapper">
                @email.tags.trSpacer(17)
                @reco.reasonHeader.map { reasonHeader =>
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
                      <td width="82">&nbsp;</td>
                      <td align="left" style="font-family:Arial,sans-serif;font-size:16px;color:#92938d;text-align:left;line-height:22px;">@reasonHeader</td>
                      <td width="77">&nbsp;</td>
                    </table>
                  </td>
                </tr>
                @email.tags.trSpacer(17)
                }
                <tr>
                    <td align="center" valign="top" width="535">
                        <a href="@reco.viewPageUrl("clickedArticleImage")" target="_blank">
                            <img src="@reco.imageUrl" alt="@reco.title" style="display:block;" border="0" class="banner" width="535"/>
                        </a>
                    </td>
                </tr>
                @email.tags.trSpacer(14)
                <tr>
                    <td valign="top">
                        <table width="672" border="0" cellspacing="0" cellpadding="0" class="wrapper">
                            <tr>
                                <td width="82" class="side1">&nbsp;</td>
                                <td valign="top" >
                                    <table width="513" border="0" cellspacing="0" cellpadding="0" class="wrapper">
                                        <tr>
                                            <td align="left">
                                                <a style="text-decoration:none;font-family:Georgia,'Times New Roman',Times,serif;text-align:left;color:#000000;font-size:30px;line-height:35px;" href="@reco.viewPageUrl("clickedArticleTitle")">@reco.title</a>
                                            </td>
                                        </tr>
                                        @email.tags.trSpacer(4)
                                        <tr>
                                            <td align="left" class="num1">
                                                @reco.domain.map { domain =>
                                                <span style="line-height:22px;font-size:16px;font-family:Arial,sans-serif;color:#888;text-decoration:none;">@escapeAutoLinkText(domain)</span>
                                                }
                                                @reco.readTime.map { readTime =>
                                                <span style="line-height:22px;font-size:16px;font-family:Arial,sans-serif;color:#888;">·</span>
                                                <span style="line-height:22px;font-size:16px;font-family:Arial,sans-serif;color:#888;">@readTime read</span>
                                                }
                                            </td>
                                        </tr>
                                        @email.tags.trSpacer(20)
                                        <tr>
                                            <td align="left" style="line-height:21px; font-size:16px; text-align:justify; font-family:Arial,sans-serif;color:#000000;">
                                                @reco.description
                                            </td>
                                        </tr>
                                        @email.tags.trSpacer(18)
                                        <tr>
                                            <td align="left" class="center1" valign="middle" style="text-align:left;">
                                                <a href="@reco.viewPageUrl("viewPageLink")" style="line-height:18px;font-size:16px;color:#43a0f8;text-decoration:none;font-family:Arial,sans-serif;">View Page</a>
                                            </td>
                                        </tr>
                                        @email.tags.trSpacer(15)
                                        @reco.keepers.messageOpt.map { message =>
                                        <tr>
                                            <td align="left">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
                                                    <tr>
                                                        <td align="left">
                                                            @reco.keepers.friendsToShow.map { userId =>
                                                            <table border="0" cellspacing="0" cellpadding="0" align="left">
                                                                <tr>
                                                                    <td width="28" style="padding-right:1px;"><img src="@avatarUrl(userId)" width="28" height="27" alt="@firstName(userId)" style="display:block;" border="0"/></td>
                                                                </tr>
                                                            </table>
                                                            }
                                                            <table border="0" cellspacing="0" cellpadding="0" align="left" class="wrapper" style="margin-left:6px;">
                                                                <tr>
                                                                    <td align="left" class="top_space">
                                                                        <table border="0" cellspacing="0" cellpadding="0" align="left">
                                                                            <tr>
                                                                                <td height="27" align="left" valign="middle" style="line-height:18px;font-size:16px;color:#a4a2af;text-align:left;font-family:Arial,sans-serif;">
                                                                                    @message
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        @email.tags.trSpacer(18)
                                        }
                                    </table>
                                </td>
                                <td width="77" class="side1">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- divider -->
    <tr>
        <td bgcolor="#f3f3f3" style="font-size:1px;line-height:1px;">&nbsp;</td>
    </tr>
    <!-- /divider -->
</table>
