<div class="comment_body_view">
  {{#comments}}
  <div class="comment-wrapper">
    <div class="comment">
      <img src="https://graph.facebook.com/{{user.facebookId}}/picture?type=square" class="comment-avatar">
      <div class="comment-text">
        <strong>{{user.firstName}} {{user.lastName}}</strong>
        {{#formatComments}}{{text}}{{/formatComments}}
      </div>
      <div class="comment-meta">
        <abbr class="timestamp timeago" title="{{#formatDate}}{{createdAt}}{{/formatDate}}">{{#formatDate}}{{createdAt}}{{/formatDate}}</abbr>
        <span class="meta-links"><span class="replies"><span class="reply-arrow"></span> {{#replyCount}}{{replyCount}} Replies{{/replyCount}}{{^replyCount}}Reply{{/replyCount}}</span><!-- · <span class="hearts">{{>hearts}}</span>--></span>
      </div>
    </div>
    <div class="comment-replies">
    
    {{#replies.length}}
      {{#replies}}
      <div class="reply">
        <div class="comment reply-comment">
          <img src="{{avatar}}" class="comment-avatar reply-avatar">
          <div class="comment-text">
            <strong>{{firstName}} {{lastName}}</strong>
            {{#formatComments}}{{text}}{{/formatComments}}
          </div>
          <div class="comment-meta">
            <abbr class="reply-timestamp timeago" title="{{#formatDate}}{{createdAt}}{{/formatDate}}">{{#formatDate}}{{createdAt}}{{/formatDate}}</abbr>
          </div>
        </div>
      </div>
      {{/replies}}
    {{/replies.length}}
      <div class="reply">
        <div class="comment reply-comment compose-comment">
          <div class="comment-text">
            <form action="">
              <div class="reply-comment-box">
                  <img src="{{user.avatar}}" class="comment-avatar reply-avatar">
                  <textarea class="reply-comment-textarea" placeholder="Reply to {{user.firstName}}'s comment..."></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  {{/comments}}
  {{^comments}}
  <div class="comment-wrapper">
    <div class="comment">
      Be the first to leave a comment!
    </div>
  </div>
  {{/comments}}
</div>