<div class="comment-wrapper" data-externalId="{{externalId}}">
  <div class="comment real-comment">
    <div class="comment-avatar">
      <img src="https://graph.facebook.com/{{user.facebookId}}/picture?type=square">
    </div>
    
    <div class="comment-text">
      <span class="recipient-list"><strong>{{user.firstName}} {{user.lastName}}</strong></span>
      {{#formatComments}}{{text}}{{/formatComments}}
    </div>
    <div class="comment-meta">
      <abbr class="timestamp timeago" title="{{#formatDate}}{{createdAt}}{{/formatDate}}">{{#formatDate}}{{createdAt}}{{/formatDate}}</abbr>
      <span class="meta-links">Meta info!</span>
    </div>
  </div>
</div>