<ul class="kifi_social_tabs">
  <li><span class="active">Comments</span></li>
  <li><span>Messages</span></li>
  <li><span>Notes</span></li>
</ul>
<div class="flexcontainer">
  <div class="comment_body_view">
    {{> comment_body_view}}
  </div>
  <div class="comment_post_view">
    comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here! comment here!
  </div>

</div>
