

.kifi_comment_wrapper .comment_body_view {
  background-color: #FAF9F9;
  min-height: 40px;
  overflow: auto;
  max-height:245px;
  font-size:11px;
  line-height: 14px;
}

.kifi_comment_wrapper .comment_post_view {
  padding-top:5px;
  border-top: 1px solid #e2e2e2;
}

.kifi_comment_wrapper .comment-avatar {
  width:35px;
  position:relative;
  float:left;
  margin:5px;
  margin-left:0px;
  margin-top: 0px;

}

.kifi_comment_wrapper .comment-avatar img {
  width:35px;
  height:35px;
  border-radius: 2px;
}

.kifi_comment_wrapper .flexcontainer {
  position: relative;
  width:310px;
  margin:0px;
  font-family: "helvetica neue", Helvetica, Arial, sans-serif;
}

.kifi_comment_wrapper .comment-wrapper {
    border-top: 1px solid #e2e2e2;
    padding-left: 7px;
}

.kifi_comment_wrapper .comment {
  background-color: #fafafa;
  margin:5px 0px 5px 0px;
  clear:both;
  padding:5px;
  position: relative;
  z-index:2;
}

.kifi_comment_wrapper .meta-links {
  float:right;
}

.kifi_comment_wrapper .timestamp {
  float: left;
  color: #ccc;
}

.kifi_comment_wrapper .comment-meta {
  position: relative;
  height:10px;
  font-size: 10px;
  line-height: 10px;
  color: #aaa;
  clear:both;
}

.kifi_comment_wrapper .meta-links:hover {
  cursor: pointer;
}

.kifi_comment_wrapper .comment-text {
  float:right;
  width: 235px;
  line-height: 14px;
  color: #524D4D;
}
.kifi_comment_wrapper .comment-text p {
  line-height: 14px;
}

.kifi_comment_wrapper .comment-text strong {
  display: block;
  padding-bottom:2px;
  line-height:11px;
}

.kifi_comment_wrapper .replies:hover, .hearts-thank:hover {
  color: #666;
  text-decoration: underline;
  cursor: pointer;
}

.kifi_comment_wrapper .hearts-thank-hover {
  color: #666;
  text-decoration: underline;
  cursor: pointer;
}

.kifi_comment_wrapper .hearts-glyph-thanked {
  color: #D26464;
}


.kifi_comment_wrapper .comment-text .first-line {
  display: inline;
}

.kifi_comment_wrapper .comment-text p {
  margin: 0px;
  margin-top:5px;
}

.kifi_comment_wrapper .comment_post_view form {
  margin: 0;
}

.kifi_comment_wrapper .comment-box {
  width: 300px;
  margin: 0px;
  display: block;
  font-size: 12px;
  padding: 5px;
  outline: none;
  min-height: 45px;
  padding-left: 10px;
  clear:both;
}



.kifi_comment_wrapper .compose-wrapper {
    position:relative;
    float:left;
}

.kifi_comment_wrapper .comment-box .comment-compose {
  border:0px;
  margin:0;
  background-color: #fff;
  font-size: 11px;
  outline: none;
  width:240px;
  height:35px;
  border: 0;
  box-shadow: none;
  font-family: "helvetica neue", Helvetica, Arial, sans-serif;
  border: 1px solid #e2e2e2;
  border-radius: 3px 3px 0px 0px;
  padding: 5px;
  padding-left: 10px;
  overflow: auto;
}

.kifi_comment_wrapper .comment-box .comment-compose .placeholder {
  color: #a9a9a9;
}

.kifi_comment_wrapper .comment-box .compose-social {
  background-color: #F2F2F2;
  border: 1px solid #e2e2e2;
  border-top: 0px;
  border-radius: 0px 0px 3px 3px;
  padding:5px;
  font-size: 11px;
}

.kifi_comment_wrapper .submit-bar {
    height: 30px;
    clear:both;
}

.kifi_comment_wrapper .submit-wrapper {
    position: relative;
    float:right;
}



.kifi_comment_wrapper .comment_post_view .submit-comment {
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  font-size: 11px;
  text-align: center;
  text-decoration: initial;
  color: #FAFAFA;
  background: #414b52;
  padding: 4px 6px;
  border-radius: 3px;
  margin:3px;
}

.kifi_comment_wrapper .comment_post_view .submit-comment:hover {
  background: #515b62;
}


.kifi_comment_wrapper .comment-box .crosshair {
  display:none;
  position:relative;
  width:18px;
  height:18px;
  left:0px;
  bottom:15px;
  /* DEPRICATED! Jared, this is for look here background: url(crosshair-grayed.png) no-repeat;*/
  background-size: 18px;
  background-position:center;
}

.kifi_comment_wrapper .comment-box .crosshair:hover {
  position:relative;
  width:18px;
  height:18px;
  left:0px;
  bottom:15px;
  /* DEPRICATED! Jared, this is for look here background: url(crosshair.png) no-repeat;*/
  background-size: 18px;
  background-position:center;
  cursor: pointer;
}


.kifi_comment_wrapper img.self-avatar {
  border-radius: 100px 100px !important;
}




.kifi_comment_wrapper img.user-avatar {
  float:left;
  border-radius: 50px 50px 50px 50px;
}