<form class="comment_form">
  <div class="comment-box compose-comment">
    <img src="{{kifiuser.avatar}}" class="user-avatar comment-avatar">
    <div class="compose-wrapper">
      <div class="comment-compose" contenteditable="true"></div>
      <div class="compose-social">Post to: fb ln tw pi</div>
    </div>
    <div class="submit-bar">
      <a href="javascript:" class="take-snapshot" style="background-image:url({{snapshotUri}})"></a>
      <input type="submit" class="submit-comment" value="Comment">
    </div>
  </div>
</form>
