<div class="comment-wrapper" data-externalId="{{externalId}}">
  <div class="comment real-comment">
    <div class="comment-avatar">
      <img src="{{threadAvatar}}">
    </div>
    
    <div class="comment-text">
      <span class="recipient-list">{{{recipientText}}}{{#hasMoreRecipients}} and more!{{/hasMoreRecipients}}</span>
      {{#formatComments}}{{digest}}{{/formatComments}}
    </div>
    <div class="comment-meta">
      <abbr class="timestamp timeago" title="{{#formatDate}}{{createdAt}}{{/formatDate}}">{{#formatDate}}{{createdAt}}{{/formatDate}}</abbr>
      <span class="meta-links">Meta info!</span>
    </div>
  </div>
</div>