<div class="comment-wrapper" data-externalId="{{externalId}}">
  <div class="comment real-comment">
    <img class="comment-avatar" src="{{threadAvatar}}">

    <div class="comment-text thread-info-text">
      <span class="recipient-list">{{{recipientText}}}{{#storedRecipients.length}} and <span class="more-recipients">{{storedRecipients.length}} others</span>
      <span class="more-recipient-list-wrapper">
        <div class="more-recipient-list">
          {{#storedRecipients}}
            <div>{{.}}</div>
          {{/storedRecipients}}
        </div>
      </span>{{/storedRecipients.length}}</span>
      {{#formatComments}}{{&digest}}{{/formatComments}}
    </div>
  </div>
  <div class="comment-meta">
    <time datetime="{{#formatIsoDate}}{{createdAt}}{{/formatIsoDate}}">{{#formatDate}}{{createdAt}}{{/formatDate}}</time>
  </div>
</div>
