<div class="comment-wrapper" data-externalId="{{externalId}}">
  <div class="comment real-comment">
    <img class="comment-avatar" src="https://graph.facebook.com/{{user.facebookId}}/picture?type=square">
    
    <div class="comment-text">
      <strong>{{#recipients}}{{firstName}} {{lastName}}, {{/recipients}}</strong>
      {{#formatComments}}{{digest}}{{/formatComments}}
    </div>
    <div class="comment-meta">
      <time class="timestamp timeago" datetime="{{#formatIsoDate}}{{createdAt}}{{/formatIsoDate}}">{{#formatDate}}{{createdAt}}{{/formatDate}}</time>
    </div>
  </div>
</div>
