@(libInfoView: com.keepit.commanders.emails.LibraryInfoFollowersView)
@import views.html.email.tags._
@import com.keepit.common.mail.template.helpers._
@followerNames  = @{libInfoView.followerNamesToDisplay}

<tr>
  <td align="left" valign="top">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
      @trSpacer(20)
      <tr>
        <td align="left" valign="top" class="txt" style="font-family:'Lato', Helvetica, Arial, sans-serif;font-size:17px;line-height:25px;color:#7f7f7f;">
          @followerNames.zipWithIndex.map { case (value, idx) =>
            @if(idx > 0 && idx == followerNames.size - 1){and}
            @value match {
              case Left(num) => {@num others}
              case Right(userId) => {@fullName(userId)}
            }@if(idx < followerNames.size - 1 && followerNames.size > 2){,}
          }
          followed
          <a href="@libraryUrl(libInfoView.url, "otherLibFollowersLibraryName")" target="_blank" style="text-decoration:none;color:#62BE73;">@libInfoView.name</a>
          by @libInfoView.ownerName
        </td>
      </tr>
      @trSpacer(15)
      <tr>
        <td align="left" valign="top">
          <table border="0" cellspacing="0" cellpadding="0" align="left">
            <tr>
              @for(i <- 0 until libInfoView.followerImagesToShow.size; userId = libInfoView.followerImagesToShow(i)) {
              <td width="33" align="left" valign="top">
                <img src="@avatarUrl(userId)" width="33" height="32" alt="@fullName(userId)" style="display:block;border-radius:17px;" border="0"/>
              </td>
              @if(i != libInfoView.followerImagesToShow.size - 1){<td width="9"></td>}
              }
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
