@()

<tr>
  <td align="left" valign="top">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="34" style="font-size:1px; line-height:1px;">&nbsp;</td>
      </tr>
      <tr>
        <td class="title" align="left" valign="top" style="font-family:'Lato', Helvetica, Arial, sans-serif;font-size:19px;line-height:22px;color:#a7adb3;">You are almost a Kifi contributor</td>
      </tr>
      <tr>
        <td height="18" style="font-size:1px; line-height:1px;">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">
          <table width="450" border="0" cellspacing="0" cellpadding="0" align="left" class="wrapper">
            <tr>
              <td align="center" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="txt1" align="left" valign="middle" width="142" height="26" style="font-family:'Lato', Helvetica, Arial, sans-serif;font-size:17px;line-height:20px;color:#7f7f7f;">Keeps 5 things</td>
                    <td align="left" valign="top" style="font-size:0px;line-height:0px;" class="width_1">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="height" height="10" style="line-height:1px;font-size:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td height="7" style="border-radius:9px;background-color:#d7d7d7;line-height:1px;font-size:1px;">
                            <table width="306" border="0" cellspacing="0" cellpadding="0" align="center" class="width_1">
                              <tr>
                                <td>
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td class="width_11" width="118" height="5" style="border-radius:10px;background-color:#56b163;line-height:1px;font-size:1px;">&nbsp;</td>
                                      <td bgcolor="#FFFFFF" height="5" style="line-height:1px;font-size:1px;">&nbsp;</td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="txt1" align="left" valign="middle" width="142" height="26" style="font-family:'Lato', Helvetica, Arial, sans-serif;font-size:17px;line-height:20px;color:#7f7f7f;">Create 2 libraries</td>
                    <td align="left" valign="top" style="font-size:0px;line-height:0px;" class="width_1">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="height" height="10" style="line-height:1px;font-size:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td height="7" style="border-radius:9px;background-color:#d7d7d7;line-height:1px;font-size:1px;">
                            <table width="306" border="0" cellspacing="0" cellpadding="0" align="center" class="width_1">
                              <tr>
                                <td>
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td class="width_12" width="158" height="5" style="border-radius:10px;background-color:#56b163;line-height:1px;font-size:1px;">&nbsp;</td>
                                      <td bgcolor="#FFFFFF" height="5" style="line-height:1px;font-size:1px;">&nbsp;</td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="txt1" align="left" valign="middle" width="142" height="26" style="font-family:'Lato', Helvetica, Arial, sans-serif;font-size:17px;line-height:20px;color:#7f7f7f;">Follow 2 libraries</td>
                    <td align="left" valign="top" style="font-size:0px;line-height:0px;" class="width_1">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="height" height="10" style="line-height:1px;font-size:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td height="7" style="border-radius:9px;background-color:#d7d7d7;line-height:1px;font-size:1px;">
                            <table width="306" border="0" cellspacing="0" cellpadding="0" align="center" class="width_1">
                              <tr>
                                <td>
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td class="width_12" height="5" style="border-radius:10px;background-color:#56b163;line-height:1px;font-size:1px;">&nbsp;</td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="txt1" align="left" valign="middle" width="142" height="26" style="font-family:'Lato', Helvetica, Arial, sans-serif;font-size:17px;line-height:20px;color:#7f7f7f;">Share 1 library</td>
                    <td align="left" valign="top" style="font-size:0px;line-height:0px;" class="width_1">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="height" height="11" style="line-height:1px;font-size:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td height="7" style="border-radius:9px;background-color:#d7d7d7;line-height:1px;font-size:1px;">
                            <table width="306" border="0" cellspacing="0" cellpadding="0" align="center" class="width_1">
                              <tr>
                                <td>
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td class="width_12" height="5" style="border-radius:10px;background-color:#ffffff;line-height:1px;font-size:1px;">&nbsp;</td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td height="35" style="font-size:1px; line-height:1px;">&nbsp;</td>
      </tr>
      <tr>
        <td height="1" bgcolor="#eaeaea" style="font-size:1px; line-height:1px;">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>
