@(libInfoView: com.keepit.commanders.emails.LibraryInfoFollowersView)
@import com.keepit.common.mail.template.helpers._
<tr>
  <td align="left" valign="top">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td height="20" style="font-size:1px; line-height:1px;">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top" class="txt" style="font-family:'Lato', Helvetica, Arial, sans-serif;font-size:17px;line-height:25px;color:#7f7f7f;">
          @libInfoView.numFollowers fellow users followed
          <a href="@libraryUrl(libInfoView.url, "recentLib")" target="_blank" style="text-decoration:none;color:#62BE73;">@libInfoView.name</a>
        </td>
      </tr>
      <tr>
        <td height="15" style="font-size:1px; line-height:1px;">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">
          <table border="0" cellspacing="0" cellpadding="0" align="left">
            <tr>
              @for(i <- 0 until libInfoView.followersToShow.size; userId = libInfoView.followersToShow(i)) {
              <td width="33" align="left" valign="top">
                <a href="@profileUrl(userId, "recentLib")" target="_blank"><img src="@avatarUrl(userId)" width="33" height="32" alt="@fullName(userId)" style="display:block;border-radius:17px;" border="0"/></a>
              </td>
              @if(i != libInfoView.followersToShow.size - 1){<td width="9"></td>}
              }
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
