@()(implicit request: RequestHeader)


@admin("What's Happening on Kifi?", stylesheets = List("admin_activity")) {

<table class="table activity-table">
  <thead>
    <tr>
      <td>Time</td><td>Event</td><td>Body</td>
    </tr>
  </thead>
  <tbody id="event_body">
    
  </tbody>
</table>

<script type="text/javascript" charset="utf-8">
  $(function() {

    var formatTime = function (dateStr) {
      var date = new Date(dateStr)
      var hours   = date.getHours()
      var minutes = date.getMinutes()
      var seconds = date.getSeconds()

      if (hours   < 10) {hours   = "0"+hours;}
      if (minutes < 10) {minutes = "0"+minutes;}
      if (seconds < 10) {seconds = "0"+seconds;}
      var time    = hours+':'+minutes+':'+seconds;
      return time;
    }
      
    var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
    var eventSocket = new WS("@com.keepit.controllers.admin.routes.AdminEventController.activityStream.webSocketURL()")
    
    var receiveEvent = function(event) {
      var data = JSON.parse(event.data)

      var el = $('<tr><td class="time"></td><td class="kind"></td><td class="body"></td></tr>')

      $("td.time", el).text(formatTime(data.time))

      var kind = data.kind
      $("td.kind", el).text(kind)

      if(kind == "comment" || kind == "message") {
        var user = data.activity.user
        var comment = data.activity.comment

        var person = '<div class="person"><a href="/admin/user/' + user.id + '"><img src="' + user.avatar + '">' + user.name + '</a></div>'
        var link = '<a href="' + comment.uri + '">' + comment.title + '</a>'
        var body = '<div class="comment">' + link + comment.text + '</div>'

        var act = person + body
        $("td.body", el).html(act)
      } else if(kind == "bookmark") {
        var user = data.activity.user
        var bookmark = data.activity.bookmark

        var person = '<div class="person"><a href="/admin/user/' + user.id + '"><img src="' + user.avatar + '">' + user.name + '</a></div>'
        var labelClass = "";
        if(bookmark.source == "HOVER_KEEP")
          labelClass = " label-success"
        else if(bookmark.source == "PLUGIN_START")
          labelClass = " label-info"

        var link = '<span class="label' + labelClass + '"><a href="/bookmarks/edit?id=' + bookmark.id + '">' + bookmark.source + '</a></span> <a href="' + bookmark.uri + '">' + bookmark.title + '</a>'
        var isPriv = bookmark.isPrivate ? " (private)": ""
        var body = '<div class="bookmark">' + link + isPriv + '</div>'

        var act = person + body
        $("td.body", el).html(act)
      } else {
        $("td.body", el).html("No formatter for " + kind + ": " + data.activity)
      }

      $('#event_body').prepend(el).children(":nth-child(n+25)").remove();
    }
    eventSocket.onmessage = receiveEvent
      
  });
</script>

}