@(title: String)(content: Html)

<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.min.css")" />         
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin_main.css")">
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script type="text/javascript" language="javascript">
       $(function () {
           $('#scrlBotm').click(function () {
               $('html, body').animate({
                   scrollTop: $(document).height()
               },
               500);
               return false;
           });

           $('#scrlTop').click(function () {
               $('html, body').animate({
                   scrollTop: '0px'
               },
               500);
               return false;
           });
       });
    </script>
  </head>
  <body>
		<a id="scrlTop" title="Top" href="#" style="position: fixed; bottom: 377px; right: 2px;"><i class="icon-chevron-up"></i></a>
		<a id="scrlBotm" title="Bottom" href="#" style="position: fixed; bottom: 300px; right: 2px;"><i class="icon-chevron-down"></i></a>
		<div class="navbar navbar-fixed-top">
		  <div class="navbar-inner">
		    <ul class="nav">
		      <li><a href="@com.keepit.controllers.routes.BookmarksController.bookmarksFirstPageView">All Bookmarks</a></li>
		      <li><a href="@com.keepit.controllers.routes.UserController.usersView">All KiFi Users</a></li>
		      <li><a href="@com.keepit.controllers.routes.SocialUserController.socialUsersView">All Social Users</a></li>
		    </ul>
		  </div>		
		</div>
		<div class="hero-unit">
      <h1>@title</h1>
      @content
		</div>
  </body>
</html>

