@(title: String, scripts: List[String] = Nil, stylesheets: List[String] = Nil)(content: Html)

@quote(daQuote: com.keepit.common.admin.DouglasAdamsQuote) = {
  <br>
  <br>
  <blockquote>
    @daQuote.quote.map{ line =>
      <p>@line</p>
    }
    <small>Douglas Adams <cite title="Source Title">"@daQuote.cite"</cite></small>
  </blockquote>
}

<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.min.css")" />
    @for(stylesheet <- "admin_main" :: stylesheets) {
      <link rel="stylesheet" href="@routes.Assets.at("stylesheets/" + stylesheet + ".css")">
    }
    @defining(if (play.api.Play.isDev(play.api.Play.current)) ".js" else ".min.js") { ext =>
      @for(script <- "jquery-1.7.1" :: scripts) {
        <script src="@routes.Assets.at("javascripts/" + script + ext)"></script>
      }
    }
    <script>
       $(function () {
           $("#scrlBotm").click(function() {
               $("html, body").animate({
                   scrollTop: $(document).height()
               },
               500);
               return false;
           });

           $("#scrlTop").click(function() {
               $("html, body").animate({
                   scrollTop: "0px"
               },
               500);
               return false;
           });
       });
    </script>
  </head>
  <body>
		<a id="scrlTop" title="Top" href="#" style="position: fixed; top: 100px; right: 20px;"><i class="icon-chevron-up"></i></a>
		<a id="scrlBotm" title="Bottom" href="#" style="position: fixed; top: 133px; right: 20px;"><i class="icon-chevron-down"></i></a>
		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
		    <ul class="nav">
		      <li><a href="@com.keepit.controllers.admin.routes.AdminDashboardController.index">Dashboard</a></li>
		      <li><a href="@com.keepit.controllers.routes.BookmarksController.bookmarksView(0)">Bookmarks</a></li>
		      <li><a href="@com.keepit.controllers.routes.UserController.usersView">KiFi Users</a></li>
		      <li><a href="@com.keepit.controllers.routes.SocialUserController.socialUsersView(0)">Social Users</a></li>
		      <li><a href="@com.keepit.controllers.routes.CommentController.followsView">Followings</a></li>
		      <li><a href="@com.keepit.controllers.routes.CommentController.commentsView">Comments</a></li>
		      <li><a href="@com.keepit.controllers.routes.CommentController.messagesView">Messages</a></li>
		      <li class="divider-vertical"></li>
		      <li><a href="@com.keepit.controllers.admin.routes.ArticleIndexerController.indexInfo">Index Info</a></li>
		      <li><a href="@com.keepit.common.healthcheck.routes.HealthController.serviceView">Service</a></li>
		    </ul>
		  </div>
		</div>
		<header class="admin-head" id="overview">
		  <div class="container">
		    <h1>@title</h1>
		  </div>
		</header>
		<div class="container">
	    @content
	    @quote(com.keepit.common.admin.DouglasAdamsQuotes.random)
		</div>
  </body>
</html>
