@(bookmarksAndUsers: Seq[(UserWithSocial, (Bookmark, NormalizedURIStats, Option[ScrapeInfo]))], page: Int, count: Long, pageCount: Int)
@import com.keepit.common.social.UserWithSocial

@pagination(page: Int, pageCount: Int) = {
  <div class="pagination pagination-centered pagination-mini">
    <ul>
      <li>
        @if(page > 0) {
          <a href="@com.keepit.controllers.routes.BookmarksController.bookmarksView(page - 1)">
        } else {
         <a href="#">
        }
        Prev
        </a>
      </li>
      @for(i <- 0 to (pageCount - 1)) {
        @if(i == page) {
	        <li class="disabled">
	          <a href="@com.keepit.controllers.routes.BookmarksController.bookmarksView(i)">@{i + 1}</a>
	        </li>
        } else {
	        <li class="active">
	          <a href="@com.keepit.controllers.routes.BookmarksController.bookmarksView(i)">@{i + 1}</a>
	        </li>
	      }
      }
      <li>
        @if(bookmarksAndUsers.size > 0) {
          <a href="@com.keepit.controllers.routes.BookmarksController.bookmarksView(page + 1)">
        } else {
         <a href="#">
        }
        Next
        </a>
      </li>
    </ul>
  </div>
}

@admin("There are " + count + " bookmarks (displaying " + bookmarksAndUsers.size + ")") {
  <h2>Showing @bookmarksAndUsers.size Bookmarks of total @count (Page @{page + 1})</h2>
  @pagination(page, pageCount)
  <table class="table table-bordered">
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Title</th>
      <th>Source</th>
      <th>Shares</th>
      <th>Creation</th>
      <th>State</th>
      <th>Last Scrape</th>
    </tr>
  @for(((user, (bookmark, uriStat, scrapeInfo)), i) <- bookmarksAndUsers.zipWithIndex) {
    <tr>
      <td>@{i+1}</td>
      <td>@adminHelper.userDisplay(user)</td>
      <td>@adminHelper.bookmarkDisplay(bookmark)</td>
      <td>
        @{bookmark.source.value match {
          case "INIT_LOAD" => {
            <span class="label">Init Load</span>
          }
          case "HOVER_KEEP" => {
            <span class="label label-success">Slider</span>
          }
          case "PLUGIN_START" => {
            <span class="label label-info">Plugin Restart</span>
          }
        }}
      </td>
      <td>@uriStat.bookmarks.size</td>
      <td>@adminHelper.dateDisplay(bookmark.createdAt) @adminHelper.timeDisplay(bookmark.createdAt)</td>
      <td>@adminHelper.uriStateDisplay(uriStat.uri)</td>
      <td>
        @{scrapeInfo.map { si =>
          adminHelper.dateDisplay(si.lastScrape) + " - " + adminHelper.timeDisplay(si.lastScrape)
        }.mkString}
      </td>
    </tr>
  }
  </table>
  @pagination(page, pageCount)
}
