@(bookmarksAndUsers: Seq[(Bookmark, NormalizedURIStats, User)])

<!DOCTYPE html>

<html>
    <head>
        <title>All Bookmarks</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
      <h2>All Bookmarks</h2>
		  <table>
		    <tr>
          <th>Id</th>
		      <th>User</th>
		      <th>Title</th>
		      <th>Shares</th>
		      <th>URI Hash</th>
		      <th>creation</th>
		    </tr>
		  @for((bookmark, uriStat, user) <- bookmarksAndUsers) {
		    <tr>
          <td>@bookmark.id.get.id</td>
		      <td>@adminHelper.userDisplay(user)</td>
		      <td>@adminHelper.bookmarkDisplay(bookmark)</td>
		      <td>@uriStat.bookmarks.size</td>
		      <td>@uriStat.uri.urlHash</td>
		      <td>@bookmark.createdAt</td>
		    </tr>
		  }
		  </table>
    </body>
</html>
