@(bookmark: Bookmark, user: User)

<!DOCTYPE html>

<html>
    <head>
        <title>Bookmark: @bookmark.title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
		  <table>
		    <tr>
		      <th>User</th>
		      <th>Id</th>
		      <th>Title</th>
		    </tr>
		    <tr>
		      <td>
            <span style="margin:2px">
              <a data-hover="tooltip" title="@user.firstName @user.lastName+" class="name_tooltip_link" href="http://www.facebook.com/@user.facebookId" target="_blank">
                <img src="https://graph.facebook.com/@user.facebookId/picture?type=square" width="30" height="30" alt="">
              </a>
            </span>
		      </td>
		      <td>@bookmark.id.get.id</td>
		      <td><a href="@bookmark.url">@bookmark.title</a></td>
		    </tr>
		  </table>
    </body>
</html>
