@(indexer: com.keepit.search.index.Indexer[_])

<!DOCTYPE html>

<html>
    <head>
        <title>Index: </title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
      <b>num documents indexed:</b> @{indexer.numDocs}<br/>
      <b>last committed at:</b> @{indexer.commitData.getOrElse(com.keepit.search.index.Indexer.CommitData.committedAt, "N/A")}<br/>
    </body>
</html>
