@(socialUserInfos: Seq[SocialUserInfo])

@admin("All " + socialUserInfos.size + " Social Users") {
    <h2>All @socialUserInfos.size Social Users</h2>
  <table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Id</th>
        <th>Social User</th>
      <th>FortyTwo User</th>
      <th>creation</th>
    </tr>
  @for((socialUserInfo, i) <- socialUserInfos.zipWithIndex) {
    <tr>
      <td>@{i+1}</td>
      <td><span class="badge">@socialUserInfo.id.get</span></td>
      <td>@adminHelper.socialUserDisplay(socialUserInfo, true)</td>
      <td>@if(socialUserInfo.userId.isDefined) {
        @adminHelper.socialUserDisplay(socialUserInfo)
      }</td>
      <td>@socialUserInfo.createdAt</td>
    </tr>
  }
  </table>
}