@(userWithSocials: Seq[UserWithSocial])

@admin("All " + userWithSocials.size + " Users") {
  <table class="table table-bordered">
    <tr>
      <th>#</th>
      <th>Id</th>
      <th>User</th>
      <th># of bookmarks</th>
      <th>Date joined</th>
      <th>Emails</th>
    </tr>
  @for((userWithSocial, i) <- userWithSocials.zipWithIndex) {
    <tr>
      <td>@{i+1}</td>
      <td><span class="badge">@userWithSocial.user.id.get.id</span></td>
      <td>@adminHelper.userDisplay(userWithSocial)</td>
      <td>@userWithSocial.bookmarksCount</td>
      <td>@adminHelper.dateDisplay(userWithSocial.user.createdAt)</td>
      <td><a href='mailto:@{userWithSocial.emails.map(_.address).mkString(",")}'>@{userWithSocial.emails.map(_.address).mkString(",")}</a></td>
    </tr>
  }
  </table>

  <h3>All user's emails:</h3>
  <a href='mailto:@{userWithSocials.map(_.emails.map(_.address)).flatten.mkString(",")}'>@{userWithSocials.map(_.emails.map(_.address)).flatten.mkString(",")}</a>
}