@(userWithSocial: UserWithSocial, bookmarks: Seq[Bookmark], socialUserInfos: Seq[SocialUserInfo], rawInfos: Seq[SocialUserRawInfo], socialConnections: Seq[SocialUserInfo], fortyTwoConnections: Seq[UserWithSocial])

@userWithFacebookDisplay(userWithSocial: UserWithSocial) = {
  <span style="margin:2px">
    <a data-hover="tooltip" title="@userWithSocial.user.firstName @userWithSocial.user.lastName+" class="name_tooltip_link" href="http://www.facebook.com/@userWithSocial.socialUserInfo.socialId.id" target="_blank">
      <img src="https://graph.facebook.com/@userWithSocial.socialUserInfo.socialId.id/picture?type=square" width="30" height="30" alt=""/>
      @userWithSocial.socialUserInfo.socialId.id
    </a>
  </span>
}

<!DOCTYPE html>

<html>
    <head>
        <title>User: @{userWithSocial.user.firstName} @{userWithSocial.user.lastName}</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script type="text/javascript">
          function refreshAllSociaUserInfo() {
            location.href="@com.keepit.controllers.routes.UserController.refreshAllSocialInfo(userWithSocial.user.id.get)"
          }
        </script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin_main.css")">
    </head>
    <body>
      [<a href="@com.keepit.controllers.routes.UserController.usersView">All Users</a>]<br/><br/>
      <h2>User details</h2>
	      Name: @userWithSocial.user.firstName @userWithSocial.user.lastName<br/>
	      Id: @userWithSocial.user.id<br/>
	      Facebook Account: @userWithFacebookDisplay(userWithSocial)<br/>
	      OAuth: <br/><textarea rows="3" cols="80">@socialUserInfos</textarea><br/>
	      Social Raw info: <br/><textarea rows="7" cols="80">@rawInfos</textarea><br/>
	      Account created at: @adminHelper.dateDisplay(userWithSocial.user.createdAt) @adminHelper.timeDisplay(userWithSocial.user.createdAt)<br/>
	      Last updated: @adminHelper.dateDisplay(userWithSocial.user.updatedAt) @adminHelper.timeDisplay(userWithSocial.user.updatedAt)
        
        <h3>Social User: @for(socialUserInfo <-socialUserInfos) {
          @adminHelper.socialUserDisplay(socialUserInfo, true) &nbsp; 
        }</h3>
	      <button onclick="refreshAllSociaUserInfo()">Refresh Social User Info!</button>
      
      <h2>User kept @bookmarks.size Bookmarks</h2>
      
		  <table>
        <tr>
          <th>BID</th>
          <th>Bookmark</th>
          <th>Source</th>
        </tr>
			  @for(bookmark <- bookmarks) {
			    <tr>
            <td>#@bookmark.id.get.id</td>
            <td>@adminHelper.bookmarkDisplay(bookmark)</td>
            <td>@bookmark.source</td>
			    </tr>
			  }
		  </table>
		  
		  <h2>User connected to @fortyTwoConnections.size FortyTwo Users</h2>
      @for(userWithSocial <- fortyTwoConnections) {
        <tr>
          <td>@userWithSocial.user.id.get.id</td>
          <td>@userWithSocial.user.externalId</td>
          <td>@adminHelper.userDisplay(userWithSocial)</td>
          <td>@userWithSocial.user.createdAt</td>
        </tr>
      }
      <div class="scrollArea">
        @for(userWithSocial <- fortyTwoConnections) {
            @adminHelper.userDisplay(userWithSocial)<br/>
        }
      </div>
      
      
      <h2>User connected to @socialConnections.size Social Users</h2>
      <div class="scrollArea">
        @for(socialConnection <- socialConnections) {
          @adminHelper.socialUserDisplay(socialConnection)<br/>
        }
      </div>
		  
		  
		  
      
      
    </body>
</html>
