@(userWithSocial: UserWithSocial, bookmarks: Seq[Bookmark], socialUserInfos: Seq[SocialUserInfo])

@userWithFacebookDisplay(userWithSocial: UserWithSocial) = {
  <span style="margin:2px">
    <a data-hover="tooltip" title="@userWithSocial.user.firstName @userWithSocial.user.lastName+" class="name_tooltip_link" href="http://www.facebook.com/@userWithSocial.socialUserInfo.socialId" target="_blank">
      <img src="https://graph.facebook.com/@userWithSocial.socialUserInfo.socialId.id/picture?type=square" width="30" height="30" alt=""/>
      @userWithSocial.socialUserInfo.socialId
    </a>
  </span>
}

<!DOCTYPE html>

<html>
    <head>
        <title>User: @{userWithSocial.user.firstName} @{userWithSocial.user.lastName}</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script type="text/javascript">
          function refreshSociaUserInfo() {
            location.href="admin/"
            alert("done!");
          }
        </script>
    </head>
    <body>
      [<a href="@com.keepit.controllers.routes.UserController.usersView">All Users</a>]<br/><br/>
      <h2>User details</h2>
	      Name: @userWithSocial.user.firstName @userWithSocial.user.lastName<br/>
	      Id: @userWithSocial.user.id<br/>
	      Facebook Account: @userWithFacebookDisplay(userWithSocial)<br/>
	      OAuth: @socialUserInfos<br/>
	      Account created at: @adminHelper.dateDisplay(userWithSocial.user.createdAt) @adminHelper.timeDisplay(userWithSocial.user.createdAt)<br/>
	      <br/>
	      <button onclick="refreshSociaUserInfo()">Refresh Social User Info!</button>
      
      <h2>User kept @bookmarks.size Bookmarks</h2>
      
		  <table>
        <tr>
          <th>BID</th>
          <th>Bookmark</th>
          <th>Source</th>
          <th>Social User Info</th>
        </tr>
			  @for(bookmark <- bookmarks) {
			    <tr>
            <td>#@bookmark.id.get.id</td>
            <td>@adminHelper.bookmarkDisplay(bookmark)</td>
            <td>@bookmark.source</td>
            <td>@socialUserInfos.toString()</td>
			    </tr>
			  }
		  </table>
		  
    </body>
</html>
