@import play.api.libs.json.JsObject
@import play.utils.UriEncoding
@import com.keepit.controllers.website.DeepLinkRedirect

@(r: DeepLinkRedirect, deepLinkData: JsObject)
@deepLinkStr = @{UriEncoding.encodePathSegment(deepLinkData.toString(), "ascii")}

<!DOCTYPE html>
@if(r.externalLocator.isDefined) {
<html data-kifi-deep-link='{"url":"@{r.url}","locator":"@{r.externalLocator.get}"}'>
}
<meta charset="utf-8"/>
<meta name="apple-itunes-app" content="app-id=740232575, app-argument=kifi:open?data=@deepLinkStr"/>
<meta name="apple-mobile-web-app-capable" content="no"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
<title>Kifi</title>
<div class="kifi-deep-link-no-extension" style="visibility:hidden">
    It appears that this browser doesn’t have Kifi installed. We’re sending you along to the page anyway.
</div>


<script>
var IS_IPAD = navigator.userAgent.match(/iPad/i) != null,
    IS_IPHONE = !IS_IPAD && ((navigator.userAgent.match(/iPhone/i) != null) || (navigator.userAgent.match(/iPod/i) != null)),
    IS_IOS = IS_IPAD || IS_IPHONE,
    IS_ANDROID = !IS_IOS && navigator.userAgent.match(/android/i) != null,
    IS_MOBILE = IS_IOS || IS_ANDROID;

if (IS_IOS) {
  window.location = 'kifi://open?data=@deepLinkStr';
  setTimeout(function() {
    @* If user is still here, open the App Store *@
    if (!document.hidden && !document.webkitHidden) {
      window.location = 'https://itunes.apple.com/app/id740232575';
    }
  }, 25);

} else if (IS_ANDROID) {
  @if(!r.url.matches("^/*$")) {
    window.location = 'intent://open?data=@deepLinkStr#Intent;package=com.kifi;scheme=kifi;action=com.kifi.intent.action.APP_EVENT;end;';
  } else {
    window.location = 'https://play.google.com/store/apps/details?id=com.kifi';
  }
} else {
    @if(r.externalLocator.isDefined) {
      document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function() {
          window.location = '@{r.url}';
        }, 2000);
      });
    } else {
        window.location = '@{r.url}';
    }
}
</script>
