<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<link rel="shortcut icon" type="image/png" href="/assets/images/kifi-favi-50.png">
<link rel="stylesheet" href="/assets/m/s/iphone-link.css">
<title>Kifi | Search like normal, find like never before</title>
<header>
  <img class="k-logo" src="/assets/m/i/kifi-logo.png" alt="kifi">
  <div class="k-app-name">kifi</div>
  <div class="k-app-by">FortyTwo</div>
  <a class="k-free" href="javascript:">free</a>
</header>
<main>
  <h1 class="k-h1">Get Kifi on your phone <img class="k-arrow k-initial" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA+CAQAAADO6vAGAAACOElEQVRYCdXBf2jMcRzH8de5NuxHw6JkNCXTSKvxjyXlRygrlPwzf2B/zBLK1sU/1v5Y/kCzUrK0tFoKaa1QWinN1sgkZdaSpcTYorVf7e6ekj+wu8/te/d93x8eD8kXFvGUQZYpvcihh1+uKZ3IopPfZihSupBJB3/cU3oQ5Db/2iJ7BLjJbF0EZI1G4jkoW9QT3zsyZIda3KplhSqiuH0hVxaoIEJi9fKP/YSZyzjL5Q+7mMaLZvlBGeN4E6ZYqaKU73jXodSwnmGSs03JYw0fSVYvASWHAt6TisNKBkt5S2oGyZRX5NFH6s7IG7Loxo+v5GluzKcTvy5qLmTQjn8TrFQiBGnDRovcCHADKxE2yoXLWHqk+KjD2k7Fohx7L5mn2Sgnir0KxaKAHVTSQBs9fMbGBxYoMbLZQDmnaKSd14yRqholh25SM8oSJYMRXMJ8IpFL8o4C3PokFlLMPk5yhfu84gd/G5F3HMCtWTHIZzOHCHGdB5yXd1zF7YjsMIjbKllhHW79skMtbnWyQoB+3Ipkhe24vZAd7uB2VlZYywwuYyyWFVpxa5IVSongMs1q2SDIc9yaZIUa3L6RLxsUMYFbpWyQzRvcHhOQDdpwG2aFbHABt2m2ygYnSOS4bHCUMG7nZINqorhEOS0LBGjAbZJjskAOd3EboEQWKGEAlygt5Mg/goSYwuUZZbLAJnqJL8JDdssChdwiQqwwPYQolA328oQhRpkEphhliC5aCbGHXP2PfgIntcqtWcAyKwAAAABJRU5ErkJggg=="></h1>
  <ul class="k-why">
    <li>Easily keep pages you <img class="k-heart" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAYCAYAAADkgu3FAAABIklEQVR4Ab3VoUtDURTH8fsQRLDJ1oZYLIJlUUwGxfSS0f/AoGDTYjKZhmCwaH/BpogaVFi0GFYEhQlT1xwizh2/Jzy44fLevG/3XfiEm76c9DP2+9zfjBAjQRt9dHGDDUzC+LA/NdxBMjxhoUiohhfIEHpY8glFuIb8wweqWEQD93jELQ5Qd4WWIR5eIRkSTNmhE0ggLVTTUAsS0BUiDfUggcUa+i4hdKahdgmhjobOSwgNNLRdQqiroRn8Bg5daEglgUPraWg+4FXPmEhD6jRAZIBVGDtUwduIQzuuPVJrI7wkjThDqlEw0kEMkxcaR9Mj8INDVPKm3DaN9yEDXzjGbP6Uu62gnxF4wJZ9gW9I7TqGbA9zMLaioTFc4gh1GF9/zw9U7FDcsMQAAAAASUVORK5CYII=" alt="love"></li>
    <li>Discover what your friends kept too</li>
    <li>Share &amp; Chat right from your browser</li>
  </ul>
  <img class="k-iphone" src="/assets/m/i/held-iphone.png" alt="iPhone running Kifi">
</main>
<footer>
  <div class="k-continue">Or continue to&hellip;</div>
  <a href="javascript:">High Scalability – Building a Social Music Service Using AWS Scala, Akka&hellip;</a>
</footer>
<script>
setTimeout(function () {
  document.querySelector('.k-arrow').classList.remove('k-initial');
}, 200);
</script>
