@(url: String)
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="apple-itunes-app" content="app-id=740232575, app-argument=kifi:@url"/>
<meta name="apple-mobile-web-app-capable" content="no"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
<title>Kifi</title>
</head>
<body>
<header style="padding:3em 10%;text-align:center;font:22px/1.5 'Open Sans',Arial,Helvetica,sans-serif;">
  <div style="margin:0 auto;font-weight:300;color:#788a95;">
    <img src="https://djty7jcqog9qu.cloudfront.net/assets/site/kifi_logo_clover_gray.svg" alt="kifi logo with four-leaf clover" onload="document.getElementById('txt').style.display='';">
    <div id="txt" style="display:none;">Our social library</div>
  </div>
</header>
<script type="text/javascript">
setTimeout(function () {
	if (!document.webkitHidden) {
		window.location = 'https://itunes.apple.com/app/id740232575'; 
	}
}, 25);
window.location = 'kifi:@url';
</script>
</body>
</html>
