@(url: String)

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, user-scalable=no">
<title>Kifi</title>
<style type="text/css">
#app-btn {
font-family: 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
background: #93c059;
text-align: center;
color: #fff;
display: inline-block;
vertical-align: middle;
padding: 0 1em;
border: 1px solid #ccc;
border-radius: 4px;
font-weight: 400;
height: 1.9em;
line-height: 1.9em;
font-size: 1.5em;
text-decoration: none;
outline: none;
cursor: pointer;
zoom: 1;
margin: 0 auto;
}
</style>
</head>
<body style="display:none;text-align:center;padding:3em 0;">

<div><a id="app-btn" href="https://www.kifi.com" onclick="return openApp();">Load Kifi App</a></div>

<!-- source: http://aawaara.com/post/74543339755/smallest-piece-of-code-thats-going-to-change-the-world -->
<script type="text/javascript">
var timer,
	heartbeat,
	lastInterval,
	isRunning = false,
	btn = document.getElementById('app-btn');

function abortNavigation() {
    clearTimeout(timer);
    clearTimeout(heartbeat);
    isRunning = false;
}

window.addEventListener('pageshow', abortNavigation, false);
window.addEventListener('pagehide', abortNavigation, false);

function getTime() { return (new Date()).getTime(); }

// for browsers except Safari (which do not support pageshow and pagehide properly)
function intervalHeartbeat() {
    var now = getTime(), diff = now - lastInterval - 200;
    lastInterval = now;
    if (diff > 1000) abortNavigation();
}

function openApp() {
	if (!isRunning) {
	    isRunning = true;
		lastInterval = getTime();
		heartbeat = setInterval(intervalHeartbeat, 200);
		document.location = 'kifi:@url';
		// try to prevent a "flicker" of the body immediately before the redirect
		setTimeout(function () { document.body.style.display = ''; }, 200);
		timer = setTimeout(function () { document.location = 'https://itunes.apple.com/app/id740232575'; }, 2000);
	}
	return false;
}

openApp();
</script>
</body>
</html>
