.person {
  float: left;
  margin-right:25px;
}
.person img {
  height:70px;
  width:70px;
  display:block;
  margin:0 auto;
}

.comment a {
  display: block;
}

.activity-table {
  width: 900px;
}

.time {
  width:75px;
}

.kind {
  width:100px;
}