ul.experiments {
  margin: 0;
  padding: 0;
  li {
    border: 1px solid #999;
    margin: 1em 0;
    padding: 0.5em;
    list-style: none;
  }
  .experiment-desc {
    margin: 0 0 1em 0;
  }
  .experiment-settings {
    margin: 1em 0;
    padding: 0;
    border: 2px solid #666;
    display: none;
    input {
      margin: 0;
    }
    td {
      padding: 4px;
    }
  }
  .basic-settings {
    float: right;
    .show-settings {
      margin: 0 1em;
    }
  }
  .experiment-description {
    width: 30em;
  }
  .experiment-weight {
    width: 2em;
  }
  input.search-param {
    width: 4em;
  }
}
