body {
	background-color: #F5F5F7;
}

.admin-head {
  margin-top: 50px;
}

.scrollArea {
  max-height: 400px;
  width: 100%;
  overflow: auto;
}

.json-textArea {
  height: 100px;
  width: 800px;
}

.user-avatar {
  height: 30px;
  width: 30px;
  margin: 1px 1px 1px 1px;
}

.bordered-scrollbox {
	margin: 10px 20px 10px 20px;
	padding: 5px 5px 5px 5px;
	border-radius: 4px;
	border: 1px solid #ddd;
}

.slider-rules {
  margin: 10px 20px;
  width: 70%;
}
.slider-rules td {
  vertical-align: middle;
}
.slider-rules th:first-child,
.slider-rules td:first-child,
.slider-rules th:nth-child(2),
.slider-rules td:nth-child(2) {
  text-align: center;
}
.slider-rules select,
.slider-rules input {
  margin: 0;
  vertical-align: middle;
  text-align: end;
}
.slider-rules td.y:before {
  content: "Y";
  color: green;
}
.slider-rules td.n:before {
  content: "N";
  color: red;
}
