.simple-plot {
	min-width: 400px;
	max-width: 800px;
	height: 500px;
	background: white;
}

svg {
  font: 10px sans-serif;
  margin: 0;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
}
