.simple-plot {
	width: 600px;
	height: 600px;
	background: white;
}

svg {
  font: 10px sans-serif;
  margin: 0;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
}
