.kf-create-keep-widget
  .add-keep-to-library-dropdown,
  .kf-add-keep-input
    width: 100%
    margin: 10px 0 0

  .kf-create-keep-button
    display: block
    width: 100px
    margin: 10px auto 0
    padding: 8px
