.kf-feed-wrapper
  wrapper()
  margin-top: 20px

.kf-feed-title
  font-size: 1.6rem
  margin-bottom: 20px


.kf-feed-sidebar

  > div
    margin-bottom: 20px

.kf-feed-top
  position: relative
  border: defaultBorder
  border-bottom: 0
  border-radius: 10px 10px 0 0
  padding: 20px 20px 0
  background-color: #fff
  font-size: 13px
  font-weight: 400
  color: #9d9d9d

  // library feeds with invite need additional spacing between the control header and the invite banner
  .kf-feed-with-invite &
    padding-bottom: 10px

  span
    display: inline-block

