.cache
.classpath
.history
.idea
.idea_modules
.project
.pydevproject
.settings
.target
app_version.txt
access*
cx.properties
bin
dist
kifi-backend.sublime-project
kifi-backend.sublime-workspace
log
logs
mem.h2.db
mem.trace.db
target
tmp
**/*.iml
