@import "lesshat";

.clearfix() {
  &:after {
    content: ' ';
    display: block;
    clear: both;
    font-size: 0;
  }
}

html,
body {
  height: 100%;
  width: 100%;
}
html {
  font: 16px/140% Arial, sans-serif;
}
html.mac {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  position: relative;
  background-color: #f3f3f3;
}
a:link,
a:visited {
  text-decoration: none;
}
input[type=text],
input[type=email],
input[type=password] {
  .box-sizing(border-box);
  margin-top: 16px;
  margin-bottom: 16px;
  height: 40px;
  border: 0;
  padding: 0 1em;
  line-height: 130%;
  -webkit-font-smoothing: antialiased;
}

@kifi-green: #9fc062;
@kifi-blue: #85a4ea;

/* curtains */
@curtain-time: .42s;
.curtain-l,
.curtain-r {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 100%;
  width: 50%;
  .transition(transform @curtain-time ease-out);
}
.curtain-l {
  left: 0;
  background-color: @kifi-green;
}
.curtain-r {
  right: 0;
  background-color: @kifi-blue;
}
.curtains-drawn>.curtain-l {
  .translate(-67%);
}
.curtains-drawn>.curtain-r {
  .translate(67%);
}

/* stuff on curtains */
.curtain-logo-l,
.curtain-logo-r {
  position: absolute;
  top: 70px;
  height: 144px;
  background: url(../img/out/login.png) no-repeat;
  .transition(opacity (@curtain-time / 2) ease-out);
}
.curtain-logo-l {
  right: 0;
  width: 144px;
  background-position: -2px -2px;
}
.curtain-logo-r {
  left: 0;
  width: 107px;
  background-position: -146px -2px;
}
.curtains-drawn .curtain-logo-l,
.curtains-drawn .curtain-logo-r {
  opacity: 0;
}
.curtain-welcome {
  position: absolute;
  left: 0;
  right: 0;
}
.curtain-welcome-l,
.curtain-welcome-r {
  position: absolute;
  top: 224px;
  width: 50%;
  z-index: 10;
  font-size: 32px;
  line-height: 32px;
  color: #fff;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  .box-sizing(border-box);
  .transition(opacity @curtain-time, visibility @curtain-time, transform @curtain-time ease-out);
}
.curtain-welcome-l {
  left: 0;
  padding-right: 5px;
  text-align: right;
}
.curtain-welcome-r {
  right: 0;
  padding-left: 5px;
}
.curtains-drawn .curtain-welcome-l,
.curtains-drawn .curtain-welcome-r {
  .transition(opacity @curtain-time, visibility 0s @curtain-time, transform @curtain-time ease-out);
  opacity: 0;
  visibility: hidden;
}
.curtains-drawn .curtain-welcome-l {
  .translate(-180%);
}
.curtains-drawn .curtain-welcome-r {
  .translate(180%);
}
.curtain-action {
  position: absolute;
  top: 20%;
  margin-top: 220px;
  padding: 32px 0 38px;
  width: 284px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 18px;
}
.curtain-signup {
  right: 8%;
}
.curtain-login {
  left: 8%;
}
.curtain-action:hover {
  background-color: rgba(0, 0, 0, .16);
}
.curtain-action,
.curtain-action:active,
.curtains-drawn .curtain-action:hover {
  background-color: rgba(0, 0, 0, .08);
}
.curtain-a-title {
  font-size: 32px;
  line-height: 42px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.curtain-note {
  position: absolute;
  top: 20%;
  margin-top: 340px;
  padding: 32px 0 38px;
  width: 284px;
  right: 8%;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
.curtain-action,
.curtain-note {
  .transition(opacity @curtain-time, visibility @curtain-time);
}
.curtains-drawn .curtain-action,
.curtains-drawn .curtain-note {
  .transition(opacity @curtain-time, visibility 0s @curtain-time);
  opacity: 0;
  visibility: hidden;
}

/* back button */
.curtain-back {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 16.5%;
  z-index: 10;
  padding-top: 56px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  .translate(-100%);
  .transition(visibility 0s @curtain-time, opacity @curtain-time ease-in, transform @curtain-time ease-out);
}
.curtains-drawn>.curtain-back {
  visibility: visible;
  opacity: 1;
  .transform(none);
  .transition-delay(0);
}
.curtain-back:before {
  content: ' ';
  display: block;
  height: 42px;
  width: 42px;
  margin: 0 auto;
  background: url(../img/out/login.png) -2px -328px;
  position: relative;
  left: 2px;
}
.curtain-back:hover {
  color: #fff;
}
.curtain-back,
.curtain-back:active {
  color: rgba(255, 255, 255, .8);
}
.curtain-back:hover:before {
  opacity: .8;
}
.curtain-back:before,
.curtain-back:active:before {
  opacity: .6;
}

/* right-side footer */
footer {
  position: absolute;
  top: 56px;
  right: 38px;
  z-index: 10;
  text-align: right;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, .8);
}
.us-on {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin-left: 5px;
  background: url(../img/out/login.png);
  opacity: .5;
}
.us-on:hover {
  opacity: 1;
}
.us-on.facebook {
  background-position: -36px -292px;
}
.us-on.linkedin {
  background-position: -2px -292px;
}
.us-on.twitter {
  background-position: -70px -292px;
}
.copyright {
  line-height: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  margin-bottom: 5px;
}
.contact-us {
  color: inherit;
}
.contact-us:hover {
  color: #fff;
}

/* main page */
.main-logo {
  width: 251px;
  height: 144px;
  margin: 0 auto;
  padding-top: 70px;
  background: url(../img/out/login.png) -2px -148px content-box;
  text-indent: -9999px;
  position: relative;
  left: -10px;
}
.page-title {
  margin: 4px 0;
  text-align: center;
  line-height: 44px;
  font-size: 38px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: #aaa;
  opacity: 0;
  .translate(0, -70%);
  .transition(opacity 0 @curtain-time, transform 0 @curtain-time);
}
.curtains-drawn>.page-title {
  .transform(none);
  opacity: 1;
  .transition(opacity (.6 * @curtain-time) (.4 * @curtain-time) linear, transform @curtain-time ease-in-out);
}

/* form errors */
@form-error-color: #ef6f6e;
.form-error {
  position: absolute;
  padding: 10px 18px;
  background-color: @form-error-color;
  color: #fff;
  line-height: 16px;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}
.form-error:before {
  content: ' ';
  position: absolute;
  top: -8px;
  width: 0;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 8px;
  border-color: transparent transparent @form-error-color;
  font-size: 0;
}
.form-error-title {
  display: block;
  font-weight: 500;
}
.form-error-explanation {
  margin-top: 6px;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
}

/* forms */
.signup,
.login {
  display: none;
  text-align: center;
  margin: 0 16.5%;
  position: relative;
}
.form-sides {
  display: table;
  margin: 36px auto 60px;
  width: 100%;
  max-width: 800px;
}
.form-l,
.form-r {
  display: table-cell;
  width: 50%;
  text-align: left;
  border: 0px solid #e5e5e5;
  padding: 0 5% 10px;
  .box-sizing(border-box);
}
.form-l {
  border-right-width: 3px;
}
.form-r {
  border-left-width: 3px;
}
.form-sides h3 {
  margin: 0 0 24px;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #5a5a5a;
}
.form-network {
  display: table;
  width: 100%;
  margin-top: 16px;
}
@facebook-color: #597ab1;
@linkedin-color: #2786c5;
.form-network.facebook {
  background: @facebook-color;
}
.form-network.facebook:hover {
  background: tint(@facebook-color, 10%);
}
.form-network.facebook:active {
  background: shade(@facebook-color, 10%);
}
.form-network.linkedin {
  background: @linkedin-color;
}
.form-network.linkedin:hover {
  background: tint(@linkedin-color, 10%);
}
.form-network.linkedin:active {
  background: shade(@linkedin-color, 10%);
}
.form-network-icon {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  .box-sizing(border-box);
  width: 30%;
  padding: 0 8%;
}
.form-network-icon:before {
  content: ' ';
  display: inline-block;
  font-size: 0;
  height: 32px;
  width: 32px;
  background-image: url(../img/out/login.png);
}
.facebook>.form-network-icon:before {
  background-position: -187px -294px;
}
.linkedin>.form-network-icon:before {
  background-position: -221px -294px;
}
.form-network-text {
  display: table-cell;
  height: 68px;
  vertical-align: middle;
  text-align: left;
  color: #fff;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  padding-right: 16px;
}
.form-email-addr,
.form-password {
  display: block;
  width: 100%;
}
@primary-button-color: #92c152;
.form-submit {
  display: block;
  width: 50%;
  border: 0;
  padding: 0;
  background: @primary-button-color;
  color: #fff;
  height: 40px;
  line-height: 40px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
.form-submit:hover {
  background: tint(@primary-button-color, 10%);
}
.form-submit:active {
  background: shade(@primary-button-color, 10%);
}
.terms {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #515151;
}

/* finalize new account */
.signup-2 {
  text-align: center;
}
.signup>.signup-2 {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.static-email-addr {
  margin: 24px 0 20px;
}
.form-creds,
.form-name,
.form-pic {
  margin: 0 auto;
  max-width: 320px;
}
.form-creds {
  margin: 32px auto 16px;
}
.form-name {
  .clearfix;
}
.form-name>input {
  margin: 0;
  width: 49%;
}
.form-first-name {
  float: left;
}
.form-last-name {
  float: right;
}
.form-pic {
  margin: 32px auto;
  text-align: left;
  position: relative;
  .clearfix;
}
.form-photo {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
  background: #ccc url(../img/out/ghost.100.png);
  position: relative;
}
.form-photo-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  background: rgba(255,255,255,.8);
}
.form-photo-controls {
  overflow: hidden;
}
.form-photo-a {
  display: block;
  color: #fff;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 300;
  padding-left: 40px;
  white-space: nowrap;
  margin-bottom: 5px;
  position: relative;
}
.form-photo-a.facebook {
  background-color: @facebook-color;
  &:hover {
    background-color: tint(@facebook-color, 10%);
  }
  &:active {
    background-color: shade(@facebook-color, 10%);
  }
}
.form-photo-a.linkedin {
  background-color: @linkedin-color;
  &:hover {
    background-color: tint(@linkedin-color, 10%);
  }
  &:active {
    background-color: shade(@linkedin-color, 10%);
  }
}
@upload-color: #888;
.form-photo-a.upload {
  margin-bottom: 0;
  cursor: pointer;
  background-color: @upload-color;
  &:hover {
    background-color: tint(@upload-color, 10%);
  }
  &:active {
    background-color: shade(@upload-color, 10%);
  }
}
.form-photo-a:before {
  content: ' ';
  font-size: 0;
  position: absolute;
  top: 6px;
  left: 10px;
  height: 16px;
  width: 16px;
  background: url(../img/out/login.png);
}
.form-photo-a.facebook:before {
  background-position: -201px -328px;
}
.form-photo-a.linkedin:before {
  background-position: -219px -328px;
}
.form-photo-a.upload:before {
  background-position: -237px -328px;
}
.form-photo-file {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
}
.form-photo-drop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: fade(#fff, 90%);
  border: 5px dashed #ccc;
  padding-top: 30px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #777;
  cursor: copy;
  display: none;
}
.form-photo-drop.over {
  background: fade(#fff, 93%);
  color: #555;
  border-color: #bbb;
}
@final-button-color: #84a2ec;
.signup-2>.form-submit {
  margin: 20px auto 40px;
  width: 200px;
  background: @final-button-color;
  &:hover {
    background: tint(@final-button-color, 10%);
  }
  &:active {
    background: shade(@final-button-color, 10%);
  }
}

/* finalize transition */
@finalize-time: .24s;
.finalizing>.curtain-back {
  visibility: hidden;
  opacity: 0;
  .translate(-110px);
  .transition(visibility 0s @finalize-time, opacity @finalize-time linear, transform @finalize-time ease-in);
}
.page-title.obsolete {
  position: absolute;
  width: 100%;
  .transition(opacity (.6 * @finalize-time) linear, visibility 0s @finalize-time, transform @finalize-time ease-in-out);
}
.obsolete+.page-title {
  opacity: 0;
  .translate(0, 70%);
  .transition(opacity (.8 * @finalize-time) (.2 * @finalize-time) linear, transform @finalize-time ease-in-out);
}
.finalizing>.page-title.obsolete {
  opacity: 0;
  visibility: hidden;
  .translate(0, -70%);
}
.finalizing>.obsolete+.page-title {
  opacity: 1;
  .transform(none);
}
.form-l,
.form-r {
  .transition(opacity @finalize-time linear, visibility 0s @finalize-time, transform @finalize-time ease-in);
}
.finalizing .form-l {
  opacity: 0;
  visibility: hidden;
  .translate(-100%);
}
.finalizing .form-r {
  opacity: 0;
  visibility: hidden;
  .translate(100%);
}
.signup>.signup-2 {
  visibility: hidden;
  opacity: 0;
  .translate(0, 60px);
  .transition(opacity @finalize-time linear, transform @finalize-time ease-out);
}
.finalizing .signup-2 {
  visibility: visible;
  opacity: 1;
  .transform(none);
}
.finalizing .terms {
  .translate(0, 20px);
  .transition(transform @finalize-time ease-out);
}

/* retina image overrides */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .curtain-logo-l:before,
  .curtain-logo-r:before,
  .curtain-back:before,
  .us-on,
  .main-logo,
  .form-network-icon:before,
  .form-photo-a:before {
    background-image: url(../img/out/login.2x.png);
    background-size: 255px auto;
  }
  .form-photo {
    background-image: url(../img/out/ghost.200.png);
    background-size: 100px auto;
  }
}
