@import "common";
@import "retina-1.1.0";
@import "auth-header";
@import "video";

.kifi-footer {
	display: none;
	position: static;
	left: 0;
	right: 0;
	bottom: 0;
	.padding-tb(38px);
	.padding-lr(20px);
	background: #eeeeee;
	text-transform: uppercase;
	text-align: center;
}

.kifi-footer-caption {
	@fontSize: 14px;
	.font-size(@fontSize);
	font-weight: 300;
	color: #444444;
	.letter-spacing(0.75px, @fontSize);

	.kifi-love-icon {
		display: inline-block;
		position: relative;
		.top(1px);
		width: unit(15px / @fontSize, em);
		height: unit(13px / @fontSize, em);
		.at2x('/assets/images/heart.png', 100%, 100%);
		background-size: 100%;
		background-repeat: no-repeat;
	}
}

body {
	overflow: auto;
}

main {
	height: auto;
	padding-top: 102px;
	padding-bottom: 70px;
	margin: 0;
}

.main-logo {
	margin-bottom: 5px;
}

.form-sides h3 {
	font-weight: 400;
}

.form-network-text {
	font-weight: 400;
}

.page-title {
	position: static;
}
