@import "lesshat";

.clearfix() {
  &:after {
    content: ' ';
    display: block;
    clear: both;
    font-size: 0;
  }
}

html {
  height: 100%;
  font: 16px/140% Arial, sans-serif;
}
html.mac {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  height: 100%;
  position: relative;
  background-color: #f3f3f3;
  text-align: center;
  overflow: hidden;
}
main {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0 16.5%;
  position: relative;
}
a:link,
a:visited {
  text-decoration: none;
}
@input-hor-padding: .8em;
input[type=text],
input[type=email],
input[type=password] {
  .box-sizing(border-box);
  margin-top: 16px;
  margin-bottom: 16px;
  height: 40px;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  padding: 0 @input-hor-padding;
  font-size: 16px;
  line-height: 130%;
  -webkit-font-smoothing: antialiased;
}
@placeholder-color: #a9a9a9;
::-webkit-input-placeholder {
  color: @placeholder-color;
}
::-moz-placeholder {
  color: shade(@placeholder-color, 10%);
}

@kifi-green: #9fc062;
@kifi-blue: #85a4ea;

body.still>.curtain-l,
body.still>.curtain-r,
body.still .curtain-logo-l,
body.still .curtain-logo-r,
body.still .curtain-welcome-l,
body.still .curtain-welcome-r,
body.still .curtain-panel,
body.still>.curtain-back,
body.still .pate-title {
  .transition(none);
}

// curtains
@curtain-time: .42s;
.curtain-l,
.curtain-r {
  position: absolute;
  z-index: 10;
  top: 0;
  height: 100%;
  width: 50%;
  .transition(transform @curtain-time ease-out);
}
.curtain-l {
  left: 0;
  background-color: @kifi-green;
}
.curtain-r {
  right: 0;
  background-color: @kifi-blue;
}
.curtains-drawn>.curtain-l {
  .translate(-67%);
}
.curtains-drawn>.curtain-r {
  .translate(67%);
}

// stuff on curtains
.curtain-logo-l,
.curtain-logo-r {
  position: absolute;
  top: 70px;
  height: 144px;
  background: url(../img/auth.png) no-repeat;
  .transition(opacity (@curtain-time / 2) ease-out);
}
.curtain-logo-l {
  right: 0;
  width: 144px;
  background-position: -2px -2px;
}
.curtain-logo-r {
  left: 0;
  width: 107px;
  background-position: -146px -2px;
}
.curtains-drawn .curtain-logo-l,
.curtains-drawn .curtain-logo-r {
  opacity: 0;
}
.curtain-welcome {
  position: absolute;
  top: 222px;
  left: 0;
  width: 100%;
  z-index: 10;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  overflow: hidden;
  margin: 0;
}
.curtain-welcome-l,
.curtain-welcome-r {
  display: table-cell;
  width: 50%;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  .box-sizing(border-box);
  .transition(opacity @curtain-time, visibility @curtain-time, transform @curtain-time ease-out);
}
.curtain-welcome-l {
  padding-right: 5px;
  text-align: right;
}
.curtain-welcome-r {
  padding-left: 5px;
  text-align: left;
}
.curtains-drawn .curtain-welcome-l,
.curtains-drawn .curtain-welcome-r {
  .transition(opacity @curtain-time, visibility 0s @curtain-time, transform @curtain-time ease-out);
  opacity: 0;
  visibility: hidden;
}
.curtains-drawn .curtain-welcome-l {
  .translate(-180%);
}
.curtains-drawn .curtain-welcome-r {
  .translate(180%);
}
.curtain-panel {
  position: absolute;
  top: 20%;
  margin-top: 220px;
  color: #fff;
  width: 300px;
}
.curtain-l>.curtain-panel {
  right: 8%;
}
.curtain-r>.curtain-panel {
  left: 8%;
}
.curtain-question {
  margin: 0 0 16px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  white-space: nowrap;
}
.curtain-action {
  display: block;
  margin: 0 auto;
  padding: 12px 0;
  width: 130px;
  border-radius: 3px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  color: #fff;
}
.curtain-action:hover {
  background-color: rgba(0, 0, 0, .16);
}
.curtain-action,
.curtain-action:active,
.curtains-drawn .curtain-action:hover {
  background-color: rgba(0, 0, 0, .08);
}
.curtain-note {
  display: inline-block;
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 6px 2px 0;
  line-height: 17px;
  font-size: 14px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  text-align: left;
  white-space: nowrap;
}
.curtain-note:before {
  content: 'PLEASE NOTE:';
  display: block;
  font-size: 12px;
  margin-bottom: 3px;
}
.curtain-panel {
  .transition(opacity @curtain-time, visibility @curtain-time);
}
.curtains-drawn .curtain-panel {
  .transition(opacity @curtain-time, visibility 0s @curtain-time);
  opacity: 0;
  visibility: hidden;
}

// back button
.curtain-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 16.5%;
  z-index: 10;
  padding-top: 56px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  .translate(-100%);
  .transition(visibility 0s @curtain-time, opacity @curtain-time ease-in, transform @curtain-time ease-out);
}
.curtains-drawn>.curtain-back {
  visibility: visible;
  opacity: 1;
  .transform(none);
  .transition-delay(0s);
}
.curtain-back:before {
  content: ' ';
  display: block;
  height: 42px;
  width: 42px;
  margin: 0 auto;
  background: url(../img/auth.png) -2px -328px;
  position: relative;
  left: 2px;
}
.curtain-back:hover,
.curtain-back:focus {
  color: #fff;
}
.curtain-back,
.curtain-back:active {
  color: rgba(255, 255, 255, .8);
}
.curtain-back:hover:before,
.curtain-back:focus:before {
  opacity: .8;
}
.curtain-back:before,
.curtain-back:active:before {
  opacity: .6;
}
.curtain-back-1,
.curtain-back-2 {
  position: absolute;
  left: 0;
  right: 0;
}

// right-side footer
footer {
  position: absolute;
  top: 30px;
  right: -40px;
  margin-right: 6%;
  z-index: 10;
  text-align: right;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, .8);
}
.us-on {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin-left: 5px;
  background: url(../img/auth.png);
  opacity: .5;
}
.us-on:hover {
  opacity: 1;
}
.us-on.facebook {
  background-position: -36px -294px;
}
.us-on.linkedin {
  background-position: -2px -294px;
}
.us-on.twitter {
  background-position: -70px -294px;
}
.copyright {
  line-height: 30px;
  font-size: 13px;
  font-weight: 300;
  padding-left: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  margin-bottom: 12px;
}
.contact-us {
  font-size: 16px;
  font-weight: 300;
  color: inherit;
}
.contact-us:hover {
  color: #fff;
}

// main page
.main-logo {
  width: 251px;
  height: 144px;
  margin: 0 auto 84px;
  padding-top: 70px;
  background: url(../img/auth.png) -2px -148px content-box;
  text-indent: -9999px;
}
.page-title {
  position: absolute;
  top: 218px;
  width: 100%;
  margin: 0;
  text-align: center;
  line-height: 44px;
  font-size: 38px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: #aaa;
  opacity: 0;
  .translate(0, -70%);
  .transition(opacity 0 @curtain-time, transform 0 @curtain-time);
}
.curtains-drawn .page-title {
  .transform(none);
  opacity: 1;
  .transition(opacity (.6 * @curtain-time) (.4 * @curtain-time) linear, transform @curtain-time ease-in-out);
}

// buttons
.primary-button {
  @bg-color: #92c152;
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  background: @bg-color;
  border-radius: 3px;
  &:hover,
  &:focus {
    background: tint(@bg-color, 10%);
  }
  &:active {
    background: shade(@bg-color, 10%);
  }
  &:focus {
    outline-color: #888;
  }
}
.alt-button {
  @bg-color: #6fa6ef;
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  background: @bg-color;
  border-radius: 3px;
  &:hover,
  &:focus {
    background: tint(@bg-color, 10%);
  }
  &:active {
    background: shade(@bg-color, 10%);
  }
  &:focus {
    outline-color: #888;
  }
}
.cancel-button {
  @bg-color: #e8e8e8;
  display: inline-block;
  white-space: nowrap;
  color: #888;
  background: @bg-color;
  border-radius: 3px;
  &:hover,
  &:focus {
    background: tint(@bg-color, 20%);
  }
  &:active {
    background: shade(@bg-color, 10%);
  }
}

.intro-header {
  margin: 0 0 24px;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #5a5a5a;
}
a.video-frame {
  border: 8px solid #aaa;
  border-radius: 10px;
}
.video-still {
  display: block;
  width: 325px;
  height: 182px;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1) url(/assets/img/video-still.jpg);
  background-size: cover;
  position: relative;
}
.video-still:before {
  content: ' ';
  position: absolute;
  top: 59px;
  left: 125px;
  height: 68px;
  width: 68px;
  background-color: #6fa6ef;
  border-radius: 4px;
}
.video-still:hover:before,
.video-still:focus:before {
  background: #7daff1;
}
.video-still:active:before {
  background: #699ee3;
}
.video-still:after {
  content: ' ';
  position: absolute;
  top: 76px;
  left: 145px;
  border-style: solid;
  border-color: transparent #fff;
  border-width: 17px 0 17px 34px;
}

// form errors
@form-error-color: #ef6f6e;
.form-error {
  position: absolute;
  z-index: 10;
  padding: 10px 18px;
  background-color: @form-error-color;
  color: #fff;
  line-height: 16px;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}
.form-error:before {
  content: ' ';
  position: absolute;
  top: -8px;
  width: 0;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 8px;
  border-color: transparent transparent @form-error-color;
  font-size: 0;
}
.form-error-title {
  display: block;
  font-weight: 500;
}
.form-error-explanation {
  margin-top: 6px;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
}

// forms
.signup,
.login {
  display: none;
  text-align: center;
  position: relative;
}
.form-sides {
  display: table;
  margin: 36px auto 60px;
  width: 100%;
  max-width: 800px;
}
.form-l,
.form-r {
  display: table-cell;
  width: 50%;
  text-align: left;
  border: 0px solid #e5e5e5;
  padding: 0 5% 10px;
  .box-sizing(border-box);
}
.form-l {
  border-right-width: 3px;
}
.form-r {
  border-left-width: 3px;
}
.form-sides h3 {
  margin: 0 0 24px;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #5a5a5a;
}
.form-network {
  display: table;
  width: 100%;
  margin-top: 16px;
  border-radius: 3px;
}
@facebook-color: #597ab1;
@linkedin-color: #2786c5;
.form-network.facebook {
  background: @facebook-color;
}
.form-network.facebook:hover {
  background: tint(@facebook-color, 10%);
}
.form-network.facebook:active {
  background: shade(@facebook-color, 10%);
}
.form-network.linkedin {
  background: @linkedin-color;
}
.form-network.linkedin:hover {
  background: tint(@linkedin-color, 10%);
}
.form-network.linkedin:active {
  background: shade(@linkedin-color, 10%);
}
.form-network-icon {
  display: table-cell;
  height: 68px;
  width: 72px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(0,0,0,.1);
  line-height: 0;
}
.form-network-icon:empty:before {
  content: ' ';
  display: inline-block;
  font-size: 0;
  height: 32px;
  width: 32px;
  background-image: url(../img/auth.png);
}
.facebook>.form-network-icon:empty:before {
  background-position: -187px -294px;
}
.linkedin>.form-network-icon:empty:before {
  background-position: -221px -294px;
}
.form-network-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.form-network-text {
  display: table-cell;
  height: 68px;
  padding: 0 5px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  padding-right: 16px;
}
.password-label {
  display: block;
  position: relative;
}
.password-label:after {
  content: ' ';
  position: absolute;
  top: 11px;
  right: 14px;
  width: 12px;
  height: 16px;
  background: url(../img/auth.png) -241px -328px;
}
.form-email-addr,
.form-password {
  display: block;
  width: 100%;
}
.password-forgot {
  position: absolute;
  bottom: -28px;
  right: 0;
  color: @placeholder-color;
  line-height: 14px;
  font-size: 13px;
  font-weight: 300;
}
.password-forgot:hover {
  text-decoration: underline;
}
.form-submit {
  display: block;
  width: 50%;
  border: 0;
  padding: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
.terms {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #515151;
  padding-bottom: 20px;
}

// finalize new account
@signup-label-color: #6c839b;
@signup-box-color: #ededed;
.signup-2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 10px;
}
.signup-2-label {
  display: block;
  color: @signup-label-color;
  font-size: 20px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 6px;
}
.signup-resume,
.form-name,
.form-pic {
  margin: 0 auto;
  max-width: 340px;
  text-align: left;
}
.signup-resume {
  position: relative;
  margin: -12px auto 24px;
}
.signup-resume-email {
  line-height: 40px;
  text-align: center;
  background: @signup-box-color;
  color: @signup-label-color;
  font-size: 16px;
  font-weight: 300;
}
.signup-resume-not-you {
  position: absolute;
  right: 2px;
  bottom: -20px;
  line-height: 16px;
  font-size: 12px;
  color: @signup-label-color;
  -webkit-font-smoothing: antialiased;
}
.form-name {
  .clearfix;
}
.form-name>input {
  margin: 0;
  width: 49%;
}
.form-first-name {
  float: left;
}
.form-last-name {
  float: right;
}
.form-pic {
  margin: 24px auto 32px;
  text-align: left;
}
.form-photo-box {
  padding: 8px 10px;
  background: @signup-box-color;
  border-radius: 3px;
  position: relative;
  .clearfix;
}
.form-photo {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 20px;
  background: #fff url(../img/ghost.100.png);
  background-size: cover;
  position: relative;
}
.form-photo.unset:after {
  content: 'Drag photo here';
  position: absolute;
  bottom: 42px;
  left: 0;
  right: 0;
  text-align: center;
  white-space: nowrap;
  font-size: 12px;
  line-height: 14px;
  color: @signup-label-color;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
.form-photo-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  background: rgba(255,255,255,.8);
}
.form-photo-grab {
  font-size: 16px;
  font-weight: 300;
  color: @signup-label-color;
  margin: 4px 0 8px;
}
.form-photo-a {
  display: inline-block;
  height: 48px;
  width: 48px;
  position: relative;
  margin-right: 6px;
  border-radius: 2px;
}
.form-photo-a.facebook {
  background-color: @facebook-color;
  &:hover {
    background-color: tint(@facebook-color, 10%);
  }
  &:active {
    background-color: shade(@facebook-color, 10%);
  }
}
.form-photo-a.linkedin {
  background-color: @linkedin-color;
  &:hover {
    background-color: tint(@linkedin-color, 10%);
  }
  &:active {
    background-color: shade(@linkedin-color, 10%);
  }
}
.form-photo-a:before {
  content: ' ';
  font-size: 0;
  position: absolute;
  top: 8px;
  left: 8px;
  height: 32px;
  width: 32px;
  background: url(../img/auth.png);
}
.form-photo-a.facebook:before {
  background-position: -187px -294px;
}
.form-photo-a.linkedin:before {
  background-position: -221px -294px;
}
.form-photo-drop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: fade(#fff, 93%);
  border: 5px dashed #ccc;
  padding-top: 38px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #777;
  cursor: copy;
  display: none;
}
.form-photo-drop.over {
  border-color: #999;
}
.form-photo-upload {
  margin-top: 6px;
  text-align: right;
  color: @signup-label-color;
  font-size: 16px;
  font-weight: 300;
}
.form-photo-upload>label {
  text-decoration: underline;
  cursor: pointer;
}
.form-photo-file {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
}
.form-photo-file-a {
  color: inherit;
}
.signup-2>.form-submit {
  margin: 20px auto 40px;
  width: 200px;
}

// finalize transition
@finalize-time: .24s;
.curtain-back-1,
.curtain-back-2 {
  .transition(visibility 0s, opacity @finalize-time linear);
}
.finalizing .curtain-back-1,
.curtain-back-2 {
  opacity: 0;
  visibility: hidden;
  .transition-delay(@finalize-time, 0s);
}
.finalizing .curtain-back-2 {
  opacity: 1;
  visibility: visible;
  .transition-delay(0s);
}
.page-title.obsolete,  // navigating forward from
.page-title.abandoned {  // navigating back from
  position: absolute;
  width: 100%;
  .transition(opacity (.6 * @finalize-time) linear, visibility 0s @finalize-time, transform @finalize-time ease-in-out);
}
.finalizing .page-title.obsolete {  // navigated forward from
  opacity: 0;
  visibility: hidden;
  .translate(0, -70%);
}
.finalizing .page-title.abandoned,  // about to navigate back from
.finalizing .obsolete+.page-title {  // navigated forward to
  opacity: 1;
  visibility: visible;
  .transform(none);
}
.page-title.abandoned,  // navigated back from
.obsolete+.page-title {  // about to navigate forward to
  opacity: 0;
  visibility: hidden;
  .translate(0, 70%);
}
.finalizing .obsolete+.page-title,  // navigated forward to
.page-title.returned {  // navigated back to
  .transition(opacity (.8 * @finalize-time) (.2 * @finalize-time) linear, visibility @finalize-time, transform @finalize-time ease-in-out);
}
.form-l,
.form-r {
  .transition(opacity @finalize-time linear, visibility, transform @finalize-time ease-in);
}
.finalizing .form-l,
.finalizing .form-r {
  opacity: 0;
  visibility: hidden;
  .transition-delay(0s, @finalize-time);
}
.finalizing .form-l {
  .translate(-100%);
}
.finalizing .form-r {
  .translate(100%);
}
.signup-2 {
  opacity: 0;
  visibility: hidden;
  .translate(0, 60px);
  .transition(opacity @finalize-time linear, visibility 0s @finalize-time, transform @finalize-time ease-in);
}
.finalizing .signup-2 {
  opacity: 1;
  visibility: visible;
  .transform(none);
  .transition(opacity @finalize-time linear, visibility, transform @finalize-time ease-out);
}
.terms {
  .transition(opacity (@finalize-time / 2) linear (@finalize-time / 2), visibility, transform (@finalize-time / 2) ease-out (@finalize-time / 2));
}
.finalizing .terms {
  opacity: 0;
  visibility: hidden;
  .translate(0, 20px);
  .transition(opacity (@finalize-time / 2) linear, visibility 0s @finalize-time, transform 0s @finalize-time);
}

// dialogs (reusable stuff)
@dialog-time: .25s;
@dialog-text-color: #515051;
.dialog {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0,0,0,.5);
  opacity: 0;
  .transition(opacity @dialog-time linear);
}
.dialog-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.dialog-box {
  margin: 0 auto;
  background: white;
  text-align: left;
  border-radius: 6px;
  position: relative;
  .scale(.7, .7);
  .transition(transform @dialog-time ease-in);
}
.dialog-showing {
  opacity: 1;
  .dialog-box {
    .transform(none);
    .transition-timing-function(ease-out);
  }
}
.dialog-x {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 24px;
  width: 24px;
  z-index: 2;
  border-radius: 50%;
  &:before,
  &:after {
    content: ' ';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 50%;
    width: 1px;
    background: #aaa;
    font-size: 0;
  }
  &:before {
    .transform(translate3d(-.5px,0,0) rotate(45deg));
  }
  &:after {
    .transform(translate3d(-.5px,0,0) rotate(-45deg));
  }
  &:hover {
    background: #e8e8e8;
  }
  &:active {
    background: #d8d8d8;
  }
  &:focus {
    outline-color: #ccc;
  }
}
.dialog-title {
  padding: 20px 0 10px;
  line-height: 32px;
  font-size: 28px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: @dialog-text-color;
}
.dialog-text {
  margin: 0;
  line-height: 19px;
  font-size: 15px;
  font-weight: 300;
  color: @dialog-text-color;
}

// photo dialog
@photo-size: 200px;
@photo-padding: 40px;
@canvas-margin: 12px;
.photo-dialog .dialog-box {
  width: (@photo-size + 2 * @photo-padding + 2 * @canvas-margin);
}
.photo-dialog-title {
  padding: 4px 0;
  background: #f1f1f1;
  color: @signup-label-color;
  text-align: center;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  font-weight: 300;
  position: relative;
}
.photo-dialog-x {
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: inherit;
  padding: 3px 8px 5px 10px;
  color: #999;
  .user-select(none);
  &:hover {
    background-color: #ddd;
  }
  &:active {
    background-color: #ccc;
    color: #555;
  }
}
.photo-dialog-canvas {
  margin: 20px @canvas-margin 16px;
  width: (@photo-size + 2 * @photo-padding);
  height: (@photo-size + 2 * @photo-padding);
  overflow: hidden;
  position: relative;
}
.photo-dialog-mask {
  position: relative;
  width: 100%;
  height: 100%;
  .box-shadow(inset 0 0 0 @photo-padding #fff, inset 0 0 0 (@photo-padding + 1) rgba(0,0,0,.1), inset 0 0 (@photo-padding / 2) (@photo-padding + 2) rgba(0,0,0,.2));
  opacity: .75;
  cursor: move;
}
.photo-dialog.dragging,
.photo-dialog.dragging .photo-dialog-x,
.photo-dialog.dragging .photo-dialog-cancel,
.photo-dialog.dragging .photo-dialog-submit {
  cursor: move;
}
.photo-dialog-img {
  position: absolute;
}
.photo-dialog-slider {
  height: 7px;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  margin: 0 52px 0 48px;
  .box-shadow(inset 0 0 3px rgba(0,0,0,.15));
  position: relative;
}
.photo-dialog-slider:before,
.photo-dialog-slider:after {
  content: ' ';
  position: absolute;
  background: #ccc;
  .box-shadow(inset 0 0 0 1px #ddd, inset 0 0 0 2px #fff);
}
.photo-dialog-slider:before {
  left: -28px;
  bottom: -2px;
  width: 12px;
  height: 11px;
}
.photo-dialog-slider:after {
  right: -33px;
  bottom: -5px;
  width: 20px;
  height: 17px;
}
.photo-dialog-slider>.ui-slider-handle {
  position: absolute;
  top: -5px;
  height: 16px;
  width: 16px;
  margin-left: -10px;
  border: 1px solid #c5c5c5;
  border-radius: 50%;
  background: #fff;
  .background-image(linear-gradient(#fff, #e0e0e0));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e0e0e0',GradientType=0);
  .box-shadow(0 0 3px rgba(0,0,0,.1));
  outline: none;
  cursor: default;
  &.ui-state-active {
    background: #e9e9e9;
  }
}
.photo-dialog-buttons {
  margin-top: 24px;
  border-top: 1px solid #e8e8e8;
  padding: 14px 12px 16px;
  text-align: center;
}
.photo-dialog-cancel,
.photo-dialog-submit {
  padding: 6px 16px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  margin-left: 4px;
}

// reset password dialog
.reset-password .dialog-box {
  width: 480px;
  text-align: center;
  overflow: hidden;
}
.reset-password .dialog-box:before,
.reset-password .dialog-box:after {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 70px;
  z-index: 1;
  border-radius: inherit;
}
.reset-password .dialog-box:before {
  left: 0;
  .background-image(linear-gradient(to right, #fff, rgba(255,255,255,0)));
}
.reset-password .dialog-box:after {
  right: 0;
  .background-image(linear-gradient(to left, #fff, rgba(255,255,255,0)));
}
.reset-password-email {
  width: 300px;
}
.reset-password-buttons {
  padding: 2px 0 20px;
}
.reset-password-cancel,
.reset-password-submit {
  display: inline-block;
  margin: 0 4px;
  padding: 10px 30px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
.reset-password-success {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  .translate(80%);
  visibility: hidden;
  &>.dialog-text {
    margin: 16px 0 0;
  }
}
.reset-password-sent {
  .reset-password-form {
    .translate(-80%);
    visibility: hidden;
    .transition(visibility 0s .2s, transform .2s ease-in-out);
  }
  .reset-password-success {
    .transform(none);
    visibility: visible;
    .transition(visibility 0s, transform .2s ease-in-out);
  }
}
.reset-password-addresses {
  margin: 10px 0 20px;
  padding: 0;
  font-size: 15px;
  line-height: 19px;
  list-style: none;
}
.reset-password-address:only-child {
  padding: 8px 0 10px;
}

// social signup 2
.social-info,
.form-creds {
  margin: 0 auto;
  max-width: 360px;
  width: 100%;
  text-align: left;
}
.social-info {
  display: table;
  border-collapse: collapse;
  background-color: @signup-box-color;
  position: relative;  // bugzil.la/63895
}
.social-photo {
  display: table-cell;
  background-clip: content-box;
  background-origin: content-box;
  margin: 0;
  padding: 12px;
}
.social-text-info {
  display: table-cell;
  width: 99%;
  vertical-align: top;
  padding: 12px 0 0 12px;
  position: relative;
}
.social-name {
  margin: 14px 0 2px;
  color: @signup-label-color;
  line-height: 20px;
  font-size: 20px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
input.social-email {
  display: block;
  width: 100%;
  margin: 0 (-@input-hor-padding);
  border: 0;
  height: 30px;
  font-size: 14px;
  &[disabled] {
    background: transparent;
  }
}
.social-change-email {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px 8px;
  background-color: #e5e5e5;
  color: @signup-label-color;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  &:hover {
    background: #e0e0e0;
  }
  &:active {
    background: #d8d8d8;
  }
  &.clicked {
    opacity: 0;
    visibility: hidden;
    .transition(opacity .2s linear, visibility 0s .2s)
  }
}
.social-claim-account:link {
  margin-left: 4px;
  color: inherit;
  font-weight: bolder;
  text-decoration: underline;
}
.form-creds {
  margin: 24px auto 16px;
}
@social-2-password-width: 220px;
.password-label.signup-2-label {
  line-height: 22px;
}
.password-label.signup-2-label:after {
  top: 40px;
  left: (@social-2-password-width - 26px);
}
.form-creds .form-password {
  display: inline-block;
  margin: 6px 0 0;
  width: @social-2-password-width;
}
.signup-2-social .form-submit {
  margin-top: 40px;
  height: 66px;
  width: 260px;
  font-size: 24px;
  font-weight: 300;
}
.form-password-tip {
  position: absolute;
  left: (@social-2-password-width + 16px);
  bottom: 12px;
  line-height: 15px;
  font-size: 13px;
  font-weight: normal;
}

// claim account dialog
.claim-account .dialog-box {
  width: 480px;
  text-align: center;
  overflow: hidden;
}
.claim-account-form>.form-email-addr {
  width: 270px;
  margin: 16px auto 0;
}
.claim-account-form>.password-label {
  width: 270px;
  margin: 0 auto 20px;
}
.claim-account-buttons {
  padding: 2px 0 20px;
}
.claim-account-cancel,
.claim-account-submit {
  display: inline-block;
  margin: 0 4px;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 19px;
  -webkit-font-smoothing: antialiased;
}

// retina image overrides
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .curtain-logo-l,
  .curtain-logo-r,
  .curtain-back:before,
  .us-on,
  .main-logo,
  .form-network-icon:empty:before,
  .password-label:after,
  .form-photo-a:before {
    background-image: url(../img/auth.2x.png);
    background-size: 255px auto;
  }
  .form-photo {
    background-image: url(../img/ghost.200.png);
    background-size: cover;
  }
}
