@import "lesshat";
@import "common-mobile";
@import "retina-1.1.0";

@phone: ~"(max-width: 767px)";
@tablet: ~"(min-width: 768px)";
@retina: ~"(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx)";
@retinaTablet: ~"(min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min--moz-device-pixel-ratio: 1.5), (min-width: 768px) and (-o-min-device-pixel-ratio: 3/2), (min-width: 768px) and (min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx)";

@phcolor: #c4c4c4;
@phfw: 300;
::-webkit-input-placeholder {
	color: @phcolor;
	font-weight: @phfw;
}

:-moz-placeholder { /* Firefox 18- */
	color: @phcolor;
	font-weight: @phfw;
}

::-moz-placeholder { /* Firefox 19+ */
	color: @phcolor;
	font-weight: @phfw;
}

:-ms-input-placeholder {
	color: @phcolor;
	font-weight: @phfw;
}

body {
	padding-top: 60px;
}

.kifi-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 0;
	padding: 13.5px 29px;
	background-color: white;
	z-index: 10;

	html.scroll & {
		.box-shadow(0 0 3px 0 rgba(0,0,0,0.15));
	}
}

.clear {
	clear: both;
}

.kifi-header-logo {
	display: inline-block;
	font-size: 0;
	width: 58px;
	height: 33px;
	margin-right: 8px;
	color: transparent;
	vertical-align: bottom;
	background-image: url(/assets/img/mobile/kifilogo.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;

	@media @retina {
		background-image: url(/assets/img/mobile/kifilogo@2x.png);
	}
}

.kifi-header-text {
	position: relative;
	font-size: 16px;
	top: 5px;
	color: #424242;
	vertical-align: bottom;
}

.kifi-footer {
	background: #424242;
	color: white;
	text-align: center;
}

@ffs: 24px / 2;
.kifi-footer-menu {
	list-style: none;
	font-size: @ffs;
	font-weight: 600;
	letter-spacing: .75px;
	padding: 19.5px;
	margin: 0;
	text-transform: uppercase;

	li {
		display: inline;
	}

	a {
		color: white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.kifi-footer-menu-dot {
	padding: 0 4px;
}

.kifi-arrow-down {
	position: absolute;
	display: block;
	@h: 13px;
	bottom: -@h + 4px;
	width: 25px;
	height: @h;
	z-index: 1;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100%;

	@media @tablet {
		left: 50% !important;
		margin-left: -25px / 2;
		bottom: -13px;
	}
}

.kifi-arrow-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;

	@media @tablet {
		display: none;
	}
}


.kifi-coming-soon {
	position: relative;
	@bg: #424242;
	background: @bg;
	color: white;
	text-align: center;
	.padding-top(20px);
	.padding-bottom(35px);

	h1 {
		font-size: 40px / 2;
		font-weight: 400;
		line-height: 1.2;
		margin: 0;
		@media @tablet {
			font-size: 30px;
		}
	}

	.kifi-arrow-down {
		.left(36px);
		background-image: url(/assets/img/mobile/blackcaret.png);
		background-size: 100%;

		@media @retina {
			background-image: url(/assets/img/mobile/blackcaret@2x.png);
		}
	}

	.kifi-arrow-cover {
		background: @bg;
	}

	@media @tablet {
		padding-top: 66px;
		padding-bottom: 61px;

		.kifi-add-form,
		.kifi-added {
			margin-left: -234px;
		}
		.kifi-add-form,
		.kifi-added {
			html.iphone & {
				margin-left: 0;
			}
		}
		.kifi-added {
			margin-top: 11px;
		}
	}
}

@dateFs: 150px / 2;
.kifi-countdown-numbers {
	position: relative;
	.font-size(@dateFs);
	.margin-top(10px, @dateFs);
	font-weight: 300;
	line-height: 1;
}

.kifi-time {
	color: #4b4b4b;
}

.kifi-date {
	position: absolute;
	top: 0;
	width: 100%;
	color: #c4c4c4;
	//.letter-spacing(-10px, @dateFs);
}

.kifi-date-left {
	position: relative;
	@fs: 28px / 2;
	.font-size(@fs);
	.top(-5px, @fs);
	.letter-spacing(-0.5px, @fs);
	font-weight: 400;
	color: #c4c4c4;
}

.kifi-not-ready {
	padding-bottom: 8px;

	html.iphone & {
		display: none;
	}

	@media @tablet {
		h1 {
			margin-left: -234px;
		}
	}
}

.kifi-lab-img {
	@size: 74px;
	width: @size;
	height: @size;
	margin: 0 auto;
	margin-top: 24px;
	background-image: url(/assets/img/mobile/beakeriphone.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;

	@media @retina {
		background-image: url(/assets/img/mobile/beakeriphone@2x.png);
	}

	@media @tablet {
		position: absolute;
		left: 50%;
		top: 50%;
		@size: 164px;
		width: @size;
		height: @size;
		margin-left: 95px;
		margin-top: -@size / 2 + 4px;
		background-image: url(/assets/img/mobile/beakeripad.png);

	}

	@media @retinaTablet {
		background-image: url(/assets/img/mobile/beakeripad@2x.png);
	}
}

.kifi-waiting-text {
	@fs: 30px / 2;
	font-size: @fs;
	font-weight: 600;
	color: white;
	.margin-top(12px, @fs);
}

.kifi-waiting-input-box {
	position: relative;
	.padding-lr(28px);
	margin: 0 auto;
	max-width: 264px;
}

.kifi-waiting-email,
.kifi-desktop-email {
	display: block;
	@fs: 30px / 2;
	font-size: @fs;
	font-weight: 400;
	width: 100%;
	.padding-tb(12px, @fs);
	.padding-lr(15px, @fs);
	border: 2px solid transparent;
	.border-radius(2px);
	margin: 0;
	.margin-top(11px, @fs);
	text-align: left;
	.letter-spacing(0.65px, @fs);
	.box-sizing(border-box);
}

.kifi-waiting-email {
	.border-radius(4px);
}

.kifi-desktop-email {
	@fs: 30px / 2;
	.margin-top(16px, @fs);
	border-color: #85b34b;
}

.kifi-add-form,
.kifi-add-form-2 {
	html.submitted & {
		display: none;
	}
}

.kifi-added,
.kifi-added-2 {
	display: none;
	margin: 0 auto;
	text-align: right;

	html.submitted & {
		display: inline-block;
	}
}

.kifi-added {
	margin-top: 13px;
	font-size: 26px / 2;

	h1 {
		font-size: 56px / 2;
		line-height: 1;
		color: #93c059;
	}

	.kifi-added-email {
		font-weight: 400;
		line-height: normal;
		margin-top: 5px;
		color: #c4c4c4;
	}

	.kifi-change-email {
		display: inline-block;
		font-weight: 400;
		line-height: normal;
		margin-top: 6px;
		color: #93c059;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.kifi-good-news {
	position: relative;
	padding: 22px 28px 24px;
	color: white;
	@bg: #93c059;
	background-color: @bg;
	
	h2 {
		@fs: 36px / 2;
		font-size: @fs;
		font-weight: 600;
		text-transform: uppercase;
		margin: 0;

		@media @tablet {
			@fs: 56px / 2;
			font-size: @fs;
			font-weight: 600;
			margin-top: 25px;
		}
	}

	p {
		@fs: 34px / 2;
		font-size: @fs;
		margin: 0;

		@media @tablet {
			@fs: 46px / 2;
			font-size: @fs;
			margin-top: -6px;
		}
	}

	.what-is-kifi {
		@fs: 34px / 2;
		font-size: @fs;
		margin-top: 31px;
		font-weight: 400;
	}

	.kifi-arrow-down {
		.left(28px);
		background-image: url(/assets/img/mobile/greencaret.png);
		background-size: 100%;

		@media @retina {
			background-image: url(/assets/img/mobile/greencaret@2x.png);
		}
	}

	.kifi-arrow-cover {
		background: @bg;
	}

	@media @tablet {
		text-align: center;
		padding-bottom: 21px;
	}
}

.kifi-watch-video {
	color: #424242;
	background-color: #f6f6f6;
	text-align: center;
	padding-top: 36px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 94px;
	background-image: url(/assets/img/mobile/mainimageiphone.png);
	background-size: 778px 209px;
	background-repeat: no-repeat;
	background-position: bottom 35px right -8px;

	@media @retina {
		background-image: url(/assets/img/mobile/mainimageiphone@2x.png);
	}
	
	h2 {
		@fs: 48px / 2;
		.font-size(@fs);
		font-weight: 300;
		line-height: 1.22;
		margin: 0;
	}

	@media @tablet {
		padding-top: 52px;
		padding-bottom: 63px;
		background-image: url(/assets/img/mobile/mainimageipad.png);
		background-size: 756px 212px;
		background-position: bottom 27px right 84px;
	}

	@media @retinaTablet {
		background-image: url(/assets/img/mobile/mainimageipad@2x.png);
	}
}

.wistia_embed {
	position: absolute;
	top: 25%;
	left: 5%;
	width: 90% !important;
	height: 50% !important;
	z-index: -10;

	/*
	&.playing {
		position: fixed;
		z-index: 5;
	}
	*/
}

.kifi-play {
	position: relative;
	display: inline-block;
	@size: 95px;
	width: @size;
	height: @size;
	margin: 0 auto;
	margin-top: 28px;
	background-image: url(/assets/img/mobile/playbuttoniphone.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
	overflow: hidden;

	@media @retina {
		background-image: url(/assets/img/mobile/playbuttoniphone@2x.png);
	}

	@media @tablet {
		@size: 130px;
		width: @size;
		height: @size;
		margin-top: 17px;
		background-image: url(/assets/img/mobile/playbuttonipad.png);
		background-size: 100%;
		background-repeat: no-repeat;
	}

	@media @retinaTablet {
		background-image: url(/assets/img/mobile/playbuttonipad@2x.png);
	}
}

.kifi-desktop {
	position: relative;
	padding-bottom: 41px;
	color: white;
	background-color: #93c059;
	text-align: center;

	@media @tablet {
		padding-bottom: 82px;
	}

	html.submitted & {
		@media @tablet {
			padding-bottom: 39px;
		}
	}
}

.kifi-desktop-img {
	position: relative;
	@w: 258px;
	@h: 152px;
	display: inline-block;
	margin: 0 auto;
	.margin-top(-23px);
	width: @w;
	height: @h;
	background-image: url(/assets/img/mobile/flatmacbookiphone.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;

	@media @retina {
		background-image: url(/assets/img/mobile/flatmacbookiphone@2x.png);
	}

	@media @tablet {
		@w: 321px;
		@h: 186px;
		width: @w;
		height: @h;
		margin-left: -381px;
		margin-top: -72px;
		background-image: url(/assets/img/mobile/flatmacbookipad.png);
	}

	@media @retinaTablet {
		background-image: url(/assets/img/mobile/flatmacbookipad@2x.png);
	}
}

.kifi-desktop-text {
	@fs: 34px / 2;
	font-size: @fs;
	font-weight: 400;
	line-height: 1.45;
	.margin-top(9px, @fs);

	@media @tablet {
		@fs: 46px / 2;
		font-size: @fs;
		margin-top: -95px;
		margin-left: 268px;
		margin-bottom: 24px;
		line-height: 1.2;
	}
}

.kifi-desktop {
	.kifi-waiting-input-box {
		@media @tablet {
			display: inline-block;
			padding: 0;
			width: 268px;
			margin-left: -56px;
			margin-right: 3px;
		}
	}
}

.kifi-desktop-button {
	@fs: 32px / 2;
	font-size: @fs;
	font-weight: 200;
	letter-spacing: 1px;
	.margin-top(20px, @fs);
	.padding-tb(12px, @fs);
	.padding-lr(26px, @fs);
	border: 1px solid #4f8ad9;
	.border-radius(2px);
	color: white;
	@bg: #6fa6ef;
	background-color: @bg;

	&:hover {
		background-color: tint(@bg, 5%);
	}

	&:active {
		background-color: shade(@bg, 5%);
	}
}

.kifi-added-2 {
	font-size: 26px / 2;
	margin-top: 17px;
	margin-bottom: 20px;

	@media @tablet {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 0;
	}

	h1 {
		font-size: 56px / 2;
		font-weight: 300;
		margin: 0;

		@media @tablet {
			font-weight: 400;
		}
	}

	.kifi-added-email {
		margin-top: 10px;
		color: white;

		@media @tablet {
			font-size: 36px / 2;
			margin-top: 5px;
		}
	}

	.kifi-change-email {
		display: inline-block;
		margin-top: 11px;
		color: white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.hidden {
	display: none;
}

.iphone-only {
	display: none;

	html.iphone & {
		display: block;
	}
}

@media @phone {
	.tablet-only {
		display: none !important;
	}
}

@media @tablet {
	.phone-only {
		display: none !important;
	}
}
