@import "lesshat";
@import "common";
@import "retina-1.1.0";

.kifi-header {
	background-color: white;
	padding: 27px 44px;
}

.clear {
	clear: both;
}

.kifi-header-logo {
	display: inline-block;
	width: 115px;
	height: 66px;
	margin-right: 13px;
	background: gray;
	color: transparent;
	vertical-align: text-bottom;
}

.kifi-header-text {
	font-size: 26px;
	color: #424242;
}

.kifi-footer {
	background: #424242;
	color: white;
	text-align: center;
}

.kifi-footer-menu {
	padding: 39px 0;
	margin: 0;
	list-style: none;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;

	li {
		display: inline;
	}

	a {
		color: white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.kifi-footer-menu-dot {
	padding: 0 8px;
}

.kifi-coming-soon {
	background: #424242;
	color: white;
	text-align: center;
	padding: 54px 50px 54px;
}

.kifi-good-news {
	padding: 50px;
	color: white;
	background-color: #93c059;
}

.kifi-watch-video {
	padding: 80px;
	color: #424242;
	background-color: #f6f6f6;
	text-align: center;
}

.kifi-desktop {
	padding: 30px;
	color: white;
	background-color: #93c059;
	text-align: center;
}
