@import "lesshat";
@import "retina-1.1.0";

@fontSize: 24px;
@factor: unit(1px / @fontSize, em);
@blueGray: #b8c5d2;
@viewAnimationTime: 0.75s;

.gpu() {
	.transform(translateZ(0));
	.backface-visibility(hidden);
	.perspective(1000);
	.transform(translate3d(0, 0, 0));
}

.body-font() {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.header-font() {
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.notransition {
	.transition(~'none !important');
}

.kifi-onboarding-shade {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: @blueGray;
	.opacity(.8);
}

@fontFactor: 0.8;

.kifi-onboarding-modal {
	position: relative;
	font-size: @fontSize;
	width: 90%;
	height: 85%;
	min-width: 440 / @fontFactor * @factor;
	max-width: 1130 * @factor;
	max-height: 653 * @factor;
	margin: 0 auto;
	margin-top: 5%;
	border: 2px solid @blueGray;
	.border-radius(5px);
	color: #979a9e;
	background: #f9fafb;
	.box-shadow(6 * @factor 9 * @factor 0 rgba(103, 130, 156, 0.41));
	.body-font;
	text-align: center;
}

@media (max-width: 800px) {
	.kifi-onboarding-modal {
		font-size: @fontFactor * @fontSize;
	}
}

.kifi-onboarding-pic {
	position: absolute;
	top: 0;
	left: 0;
	@size: 123 * @factor;
	width: @size;
	height: @size;
	@borderWidth: 20;
	border: @borderWidth * @factor solid #c6d1d8;
	background: white;
	.border-radius(100%);
	.transition(all @viewAnimationTime ease);
	.gpu();
	z-index: 1;

	.kifi-onboarding-modal.page-1 &,
	.kifi-onboarding-modal.page-7 & {
		border-width: @borderWidth * @factor;
		left: 50%;
		top: 78 * @factor;
		margin-left: -(123 + 2 * @borderWidth) / 2 * @factor;
	}

	.kifi-onboarding-modal.page-2 &,
	.kifi-onboarding-modal.page-3 &,
	.kifi-onboarding-modal.page-4 &,
	.kifi-onboarding-modal.page-5 &,
	.kifi-onboarding-modal.page-6 & {
		@borderWidth: 10;
		border-width: @borderWidth * @factor;
		@size: 133 * @factor;
		width: @size;
		height: @size;
		left: -40 * @factor;
		top: -40 * @factor;
	}
}

@media (max-width: 680px) {
	.kifi-onboarding-pic {
		.kifi-onboarding-modal.page-2 &,
		.kifi-onboarding-modal.page-3 &,
		.kifi-onboarding-modal.page-4 &,
		.kifi-onboarding-modal.page-5 &,
		.kifi-onboarding-modal.page-6 & {
			@size: 80 * @factor;
			width: @size;
			height: @size;
		}
	}
}

@headerFontSize: 20;
@headerFactor: unit(1 / @headerFontSize, em);

.kifi-onboarding-header-container {
	position: relative;
	overflow: hidden;
}

.kifi-onboarding-header {
	position: relative;
	display: inline-block;
	.header-font();
	font-size: @headerFontSize * @factor;
	line-height: 40 * @headerFactor;
	margin: 0 auto;
	margin-top: 42 * @headerFactor;
	color: #737980;
	text-align: center;
	.transition(all @viewAnimationTime ease);
	.gpu();

	.kifi-onboarding-modal.page-1 &,
	.kifi-onboarding-modal.page-7 & {
		top: -42 * @headerFactor;
		.opacity(0);
	}
}

.kifi-onboarding-header-section {
	margin: 0 36 * @headerFactor;
}

.kifi-onboarding-section-bar {
	position: absolute;
	bottom: 0;
	width: 101 * @headerFactor;
	height: 4 * @headerFactor;
	margin-left: 36 * @headerFactor;
	background: #c9ea9b;
	.transition(all @viewAnimationTime ease);
	.gpu();
}

@media (max-width: 1024px) {
	.kifi-onboarding-header-section {
		margin: 0 18 * @headerFactor;
	}
	.kifi-onboarding-section-bar {
		margin-left: 18 * @headerFactor;
	}
}

.kifi-onboarding-section-progress-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: #92c152;
	.transition(all @viewAnimationTime ease);
	.gpu();
}

.kifi-onboarding-close {
	position: absolute;
	@pos: 22 * @factor;
	top: @pos;
	right: @pos;
	@size: 13 * @factor;
	width: @size;
	height: @size;
	.at2x('/assets/img/onboarding/slidermag.png', 100%, 100%);
	z-index: 2;
}

.kifi-onboarding-buttons {
	position: absolute;
	@padding: 22 * @factor;
	bottom: @padding;
	left: @padding;
	right: @padding;

	a {
		position: absolute;
		bottom: 0;
		@myFontSize: 18;
		@myFactor: unit(1 / @myFontSize, em);
		font-size: @myFontSize * @factor;
		padding: 9 * @myFactor 49 * @myFactor;
		line-height: 40 * @myFactor;
		.border-radius(5px);
		color: white;
		text-decoration: none;
		.transition(background .1s ease);

		.kifi-onboarding-modal.page-2 &,
		.kifi-onboarding-modal.page-3 &,
		.kifi-onboarding-modal.page-4 &,
		.kifi-onboarding-modal.page-5 &,
		.kifi-onboarding-modal.page-6 & {
			padding: 10 * @myFactor 53 * @myFactor;
		}

		.kifi-onboarding-modal.page-7 & {
			padding: 10 * @myFactor 77 * @myFactor;
		}
	}
}

@iconFactor: unit(1 / 18, em);
.kifi-onboarding-next-icon,
.kifi-onboarding-heart-icon {
	position: absolute;
}

.kifi-onboarding-next-icon {
	top: (60 - 22) / 2 * @iconFactor;
	right: 19 * @iconFactor;
	width: 10 * @iconFactor;
	height: 22 * @iconFactor;
	.at2x('/assets/img/onboarding/arrowright.png', 100%, 100%);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top left;
}

.kifi-onboarding-heart-icon {
	top: (60 - 27) / 2 * @iconFactor;
	right: 36 * @iconFactor;
	width: 31 * @iconFactor;
	height: 27 * @iconFactor;
	.at2x('/assets/img/onboarding/heart2.png', 100%, 100%);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top left;
}

.kifi-onboarding-prev.kifi-onboarding-prev {
	left: 0;
	color: white;
	@bgColor: #b8c5d2;
	background: @bgColor;

	&:hover {
		background: tint(@bgColor, 10%);
	}

	&:active {
		background: shade(@bgColor, 10%);
	}

	.kifi-onboarding-modal.page-1 & {
		color: #444444;
		@bgColor: #d5dde5;
		background: @bgColor;

		&:hover {
			background: tint(@bgColor, 10%);
		}

		&:active {
			background: shade(@bgColor, 10%);
		}
	}
}

.kifi-onboarding-next {
	right: 0;
	@bgColor: #6ca4f2;
	background: @bgColor;

	&:hover {
		background: tint(@bgColor, 10%);
	}

	&:active {
		background: shade(@bgColor, 10%);
	}
}

.kifi-onboarding-button-text {
	.kifi-onboarding-modal.page-1 & {
		position: relative;
		left: -5px;
	}
}

.kifi-onboarding-view {
	position: absolute;
	top: 150 * @factor;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}

@numSlides: 7;

.kifi-onboarding-views {
	position: absolute;
	top: 0;
	left: 0;
	width: @numSlides * 100%;
	height: 100%;
	.transition(all @viewAnimationTime ease);
	.gpu();

	& > div {
		float: left;
		width: 100% / @numSlides;
		height: 100%;
		text-align: center;
	}

	h1 {
		@myFontSize: 36;
		@myFactor: unit(1 / @myFontSize, em);
		font-size: @myFontSize * @factor;
		font-weight: 600;
		padding: 0 30 * @myFactor;
		margin: 0 auto;
		color: #444444;
		line-height: 40 * @myFactor;
	}

	p {
		@myFontSize: 24;
		@myFactor: unit(1 / @myFontSize, em);
		font-size: @myFontSize * @factor;
		padding: 0 30 * @myFactor;
		margin: 0 auto;
		color: #979a9e;
		line-height: 36 * @myFactor;
	}

	img {
		position: relative;
		display: block;
		width: 100%;
		margin: 0 auto;
		.box-sizing(border-box);
	}
}

@myFontSize: 36;
@myFactor: unit(1 / @myFontSize, em);

.kifi-onboarding-welcome,
.kifi-onboarding-finish {
	h1 {
		margin-top: 121 * @myFactor;
	}
}

.kifi-onboarding-welcome {
	p {
		max-width: 510 * @factor;
	}
}

.kifi-onboarding-welcome,
.kifi-onboarding-keeping-1,
.kifi-onboarding-keeping-2,
.kifi-onboarding-finding {
	p {
		margin-top: 20 * @factor;
	}
}

.kifi-onboarding-keeping-1 {
	p {
		max-width: 735 * @factor;
	}

	img {
		max-width: 509 * @factor;
		max-height: 196 * @factor;
	}
}

.kifi-onboarding-keeping-2 {
	img {
		max-width: 439 * @factor;
		max-height: 128 * @factor;
	}
}

.kifi-onboarding-keeping-1,
.kifi-onboarding-keeping-2,
.kifi-onboarding-finding {
	img {
		margin-top: 52 * @factor;
		padding: 0 30 * @factor;
	}
}

.kifi-onboarding-finding {
	p {
		max-width: 575 * @factor;
	}

	img {
		max-width: 720 * @factor;
		max-height: 395 * @factor;
	}
}

.kifi-onboarding-chatting,
.kifi-onboarding-organizing {
	p {
		margin-top: 30 * @factor;
	}
}

.kifi-onboarding-chatting {
	h1 {
		max-width: 620 * @myFactor;
	}

	p {
		max-width: 390 * @factor;
	}

	img {
		top: -60px;
		max-width: 501 * @factor;
		max-height: 500 * @factor;
	}

	.kifi-onboarding-texts,
	.kifi-onboarding-img {
		display: inline-block;
		max-width: 49%;
		vertical-align: top;
	}
}

.kifi-onboarding-organizing {
	h1 {
		max-width: 405 * @myFactor;
	}

	p {
		max-width: 390 * @factor;
	}

	img,
	.kifi-onboarding-texts {
		display: inline-block;
		max-width: 49%;
		vertical-align: top;
	}
}

.kifi-onboarding-finish {
	p {
		.header-font();
		@myFontSize: 36;
		@myFactor: unit(1 / @myFontSize, em);
		font-size: @myFontSize * @factor;
		line-height: normal;
		margin-top: 23 * @myFactor;
		max-width: 610 * @myFactor;
	}
}

.kifi-onboarding-quote {
	display: inline-block;
	margin: 0 auto;
}

.kifi-onboarding-author {
	text-align: right;
	@myFontSize: 12;
	@myFactor: unit(1 / @myFontSize, em);
	font-size: @myFontSize * @factor;
	margin-top: 16 * @myFactor;
	margin-right: 97 * @myFactor;
}

.kifi-onboarding-button-texts {
	display: none;
}
