.kifi-toaster {
  position: absolute;
  z-index: 1;
  top: 44px;
  bottom: 54px;
  left: 6px;
  right: 6px;
  background: rgba(255,255,255,.94);
  transition: background-color .2s linear, visibility 0s;
  overflow: hidden;
}
.kifi-toaster.kifi-down {
  background: rgba(255,255,255,0);
  visibility: hidden;
  transition-delay: 0s, .2s;
}
.kifi-toast {
  position: absolute;
  bottom: 0;
  left: 4px;
  right: 4px;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
}
.kifi-down>.kifi-toast {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition-timing-function: ease-in;
}

.kifi-toast-other {
  position: absolute;
  top: -48px;
  left: 0;
  right: 0;
  line-height: 36px;
  font-size: 12px;
  text-align: center;
  background-color: #d4dce3;
  border-radius: 3px !important;
  color: #3b485c;
  cursor: pointer;
}
.kifi-toast-other:not(.kifi-showing) {
  display: none;
}
.kifi-toast-other:hover,
.kifi-toast-other:focus {
  background-color: #d8e0e6; /* tint 10% */
}
.kifi-toast-other:active {
  background-color: #c9d1d8; /* shade 5% */
}
.kifi-toast-other-n {
  text-decoration: underline;
  color: inherit !important;
}
.kifi-toast-other-n::before {
  content: attr(data-n) ' ';
}
.kifi-toast-other-n:not([data-n='1'])::after {
  content: 's';
}

.kifi-toast-intro {
  position: absolute;
  left: 12px;
  right: 12px;
  top: -180px;
  height: 150px;
  border: 1px solid #b8c5d2;
  border-radius: 5px !important;
  background: #fff;
  box-shadow: rgba(103, 130, 156, .41) 4px 6px;
  text-align: center;
  transition: opacity .2s linear, -webkit-transform .2s ease-out;
  transition: opacity .2s linear, transform .2s ease-out;
}
.kifi-toast-intro:not(.kifi-showing) {
  opacity: 0;
  -webkit-transform: scale(.7,.7);
  transform: scale(.7,.7);
  transition-timing-function: linear, ease-out;
}
.kifi-toast-intro-h {
  margin-top: 20px;
  font-size: 16px;
  color: #6fa6ef;
  -webkit-font-smoothing: antialiased;
}
.kifi-toast-intro-p {
  margin: 20px 20px 20px 24px;
  text-align: left;
  font-size: 13px;
  line-height: 21px;
  color: #444;
}
.kifi-toast-intro-x {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 22px;
  width: 22px;
  border-radius: 50% !important;
}
.kifi-toast-intro-x:before,
.kifi-toast-intro-x:after {
  content: ' ';
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 50%;
  width: 1px;
  background: #b1b8c1;
  font-size: 0;
}
.kifi-toast-intro-x:before {
  -webkit-transform: translate(-.5px) rotate(45deg);
  transform: translate(-.5px) rotate(45deg);
}
.kifi-toast-intro-x:after {
  -webkit-transform: translate(-.5px) rotate(-45deg);
  transform: translate(-.5px) rotate(-45deg);
}
.kifi-toast-intro-x:hover:before,
.kifi-toast-intro-x:hover:after,
.kifi-toast-intro-x:focus:before,
.kifi-toast-intro-x:focus:after {
  background: #8e939a;
}
.kifi-toast-intro-x:active:before,
.kifi-toast-intro-x:active:after {
  background: #fff;
}
.kifi-toast-intro-x:active {
  background: #d0d4da;
}

.kifi-toast-top {
  border-radius: 3px 3px 0 0 !important;
  padding: 0 9px;
  background: #34495e;
}
.kifi-toast-title {
  line-height: 28px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
.kifi-toast-x {
  position: absolute;
  top: 0;
  right: 0;
  height: 28px;
  width: 28px;
  border-top-right-radius: inherit !important;
}
.kifi-toast-x:before,
.kifi-toast-x:after {
  content: ' ';
  position: absolute;
  top: 9px;
  bottom: 9px;
  left: 50%;
  width: 2px;
  background: #ddd;
  font-size: 0;
}
.kifi-toast-x:before {
  -webkit-transform: translate(-1px) rotate(45deg);
  transform: translate(-1px) rotate(45deg);
}
.kifi-toast-x:after {
  -webkit-transform: translate(-1px) rotate(-45deg);
  transform: translate(-1px) rotate(-45deg);
}
.kifi-toast-x:hover,
.kifi-toast-x:focus {
  background: #5d6d7e;
}
.kifi-toast-x:active {
  background: #485b6e;
}

.kifi-toast>.kifi-compose {
  padding: 0 0 4px;
}
.kifi-toast input.kifi-compose-to, /* initial input */
.kifi-toast .kifi-ti-list {
  border-top: none !important;
}
.kifi-toast .kifi-compose-draft {
  min-height: 64px;
  max-height: 142px;
}
