.kifi-compose {
  padding: 10px 6px;
  font-size: 12px;
  line-height: 14px;
}
.kifi-compose-draft {
  -webkit-user-modify: read-write;
  border: 1px solid #d2d2d2;
  border-bottom: none;
  border-radius: 0 !important;
  background-color: #fff;
  padding: 6px 8px;
  min-height: 21px;
  max-height: 114px;
  overflow: auto;
  outline: none;
  box-shadow: none;
  cursor: text; /* ff */
  word-wrap: break-word;
}
.kifi-compose.kifi-empty .kifi-compose-draft:focus {
  -webkit-animation: paddingLeft10 .16s ease-out;
  animation: paddingLeft10 .16s ease-out;
}
@-webkit-keyframes paddingLeft10 {
  50% {padding-left: 10px}
}
@keyframes paddingLeft10 {
  50% {padding-left: 10px}
}
.kifi-ti-token-for-input:only-child>input:focus {
  -webkit-animation: paddingLeft2 .14s ease-out;
  animation: paddingLeft2 .14s ease-out;
}
@-webkit-keyframes paddingLeft2 {
  50% {padding-left: 2px}
}
@keyframes paddingLeft2 {
  50% {padding-left: 2px}
}
.kifi-compose-draft:first-child {
  border-radius: 3px 3px 0 0 !important;
}
.kifi-compose.kifi-empty .kifi-compose-draft::after {
  content: attr(data-placeholder);
  color: #a9a9a9;
}
.kifi-compose-draft a[href] {
  text-decoration: underline;
}
.kifi-compose-bar {
  border: 1px solid #d2d2d2;
  border-top: none;
  border-radius: 0 0 3px 3px !important;
  background: #f2f4f7;
  text-align: right;
  position: relative;
}
a.kifi-compose-snapshot[href] {
  float: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 35px;
  height: 28px;
  padding: 4px 7px;
  background-clip: content-box;
  background-origin: content-box;
  background-repeat: no-repeat;
  transition: none;
  outline: none; /* for tooltip */
}
a.kifi-compose-snapshot:hover {
  background-position: -20px 0;
}
a.kifi-compose-snapshot:active {
  background-position: -40px 0;
}
.kifi-compose.kifi-empty .kifi-compose-tip {
  display: none;
}
.kifi-compose-tip {
  display: inline-block;
  position: relative;
  margin: -1px 0;
  border: 1px solid transparent;
  padding: 0 8px 0 12px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 11px;
  line-height: 27px;
  color: #999;
  cursor: pointer;
}
.kifi-compose-tip::before,
.kifi-compose-tip-alt::before {
  content: attr(data-prefix);
}
.kifi-compose-tip.kifi-active {
  border-color: #d2d2d2;
  cursor: default;
}
.kifi-compose-tip.kifi-active:hover,
.kifi-compose-tip-alt:hover,
.kifi-compose-tip-alt.kifi-hover {
  background-color: #fff;
  color: #000;
}
span.kifi-compose-tip-tri {
  display: inline-block;
  line-height: inherit;
  vertical-align: bottom;
  margin-left: 7px;
}
.kifi-compose-tip.kifi-active>.kifi-compose-tip-tri {
  visibility: hidden;
}
span.kifi-compose-tip-menu {
  display: inline-block;
  position: relative;
  line-height: 28px;
  vertical-align: top;
}
span.kifi-compose-tip-alt {
  position: absolute;
  z-index: 101;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  padding: 0 22px 0 12px;
  background-color: #fafafa;
  border: 1px solid #d2d2d2;
  border-bottom: none;
  white-space: nowrap;
  font-size: 11px;
  line-height: inherit;
  color: #999;
  cursor: default;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.kifi-compose a.kifi-compose-submit[href] {
  display: inline-block;
  margin: 0 -1px -1px 0;
  padding: 0 18px;
  color: #fff !important;
  background-color: #6fa6ef;
  border: 1px solid #6fa6ef;
  border-top: none;
  border-bottom-right-radius: inherit !important;
  line-height: 28px;
}
.kifi-compose.kifi-empty a.kifi-compose-submit[href] {
  background-color: #bdc3c7;
  border-color: #d2d2d2;
}
a.kifi-compose-submit:focus {
  outline: 1px dashed #aaa;
  outline: 5px auto -webkit-focus-ring-color;
}
a.kifi-compose-submit:hover {
  background-color: #b6bbbf;
}
a.kifi-compose-submit:active,
a.kifi-compose-submit.kifi-active {
  background-color: #a2a7ab;
}

body.kifi-snapshot-root {
  position: relative; /* replace viewport as absolute positioning root */
  overflow: visible;
}
.kifi-snapshot-glass {
  position: absolute;
  z-index: 999999999991;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 5px 1px #fff;
  cursor: crosshair;
}
.kifi-snapshot-shade {
  background-color: rgba(0,0,0,.4);
  position: absolute;
  z-index: 999999999991;
  cursor: crosshair;
}
.kifi-snapshot-shade-t { left: 0; right: 0; top: 0; bottom: 0; }
.kifi-snapshot-shade-b { left: 0; right: 0; bottom: 0; }
.kifi-snapshot-shade-l { left: 0; }
.kifi-snapshot-shade-r { right: 0; }

.kifi-snapshot-bar-wrap {
  position: fixed;
  z-index: 999999999991;
  left: 0;
  right: 0;
  bottom: 80px;
  height: 0;
  overflow: visible;
  text-align: center;
}
.kifi-snapshot-bar {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 15px !important;
  font-size: 14px;
  cursor: move;
}
.kifi-snapshot-cancel {
  display: inline-block;
  padding: 2px 6px 3px;
  border: none;
  border-image: initial;
  border-radius: 3px;
  background-color: buttonface;
  color: buttontext;
  -webkit-box-align: center;
  text-align: center;
  font-size: 13px;
  line-height: 13px;
  cursor: pointer;
}
.kifi-snapshot-cancel:active {
  border-image: initial;
}
.kifi-snapshot-highlight {
  position: absolute;
  z-index: 999999999993;
  background: rgba(255,255,0,.15);
  border: 3px solid rgba(255,255,0,.7);
  border-radius: 6px !important;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.kifi-compose input[type=text] { /* either input */
  height: auto;
  min-height: 0;
  margin: 0;
  border: none !important;
  background-color: #fff;
  box-shadow: none !important;
}
.kifi-compose input.kifi-compose-to, /* initial input */
.kifi-ti-list {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d2d2d2 !important;
  margin: 0 0 -1px !important;
}
.kifi-compose input.kifi-compose-to { /* initial input */
  padding: 6px 8px;
}
.kifi-compose .kifi-ti-token-for-input>input {  /* token input */
  width: 100px;
  padding: 2px 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: none;
  transition: none;
}
.kifi-compose input[type=text]::-moz-placeholder {
  color: #a9a9a9 !important;
}
.kifi-compose input[type=text]::-webkit-input-placeholder {
  color: #a9a9a9 !important;
}
.kifi-ti-list {
  padding: 4px 3px 1px !important;
  height: auto !important;
  min-height: 1px;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  color: #524d4d;
  cursor: text;
}
.kifi-ti-token-for-input { /* input wrapper */
  float: left;
  margin: 0 0 3px 5px !important;
  padding: 0 !important;
  list-style-type: none;
}
.kifi-ti-token {
  overflow: hidden;
  margin: 0 0 3px 3px !important;
  padding: 2px 0 2px 5px !important;
  background-color: #6fa6ef;
  color: #fff;
  cursor: default;
  float: left;
  white-space: nowrap;
}
.kifi-ti-token-selected {
  background-color: #4c8ffb;
}
.kifi-ti-token-x {
  margin-left: 5px;
  padding: 1px 4px 3px;
  position: relative;
  bottom: 1px;
  cursor: pointer;
}
.kifi-ti-token-x:hover {
  background-color: #4c8ffb;
}
.kifi-ti-token-selected>.kifi-ti-token-x:hover {
  background-color: #6fa6ef;
}
.kifi-ti-dropdown {
  z-index: 999999999992;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  overflow: hidden;
  cursor: default;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.kifi-ti-dropdown:not(.kifi-ti-dropdown-searching) {
  background-image: none !important;
}
.kifi-ti-dropdown-searching {
  background: #fff left 6px bottom 6px/44px 8px no-repeat;
  padding-bottom: 20px;
}
.kifi-ti-dropdown>ul {
  margin: 0 !important;
  padding: 0 !important;
}
.kifi-ti-dropdown-item {
  position: relative;
  margin: 0 !important;
  padding: 2px 6px 2px 42px !important;
  background: -9999px no-repeat;
  height: 28px;
  line-height: 28px;
}
.kifi-ti-dropdown-item-selected {
  background-color: #6fa6ef;
  color: #fff;
}
.kifi-ti-dropdown-item:not(.kifi-ti-dropdown-invite-email):not(.kifi-ti-dropdown-invite-social)+.kifi-ti-dropdown-invite-email,
.kifi-ti-dropdown-item:not(.kifi-ti-dropdown-invite-email):not(.kifi-ti-dropdown-invite-social)+.kifi-ti-dropdown-invite-social {
  border-top: 1px solid #ccc;
}
.kifi-ti-dropdown-invite-email,
.kifi-ti-dropdown-invite-social {
  cursor: pointer;
}
.kifi-ti-dropdown-item::before {
  content: ' ';
  position: absolute;
  top: 2px;
  left: 6px;
  height: 28px;
  width: 28px;
  border-radius: 2px;
  background: 0 0/28px no-repeat;
  background-image: inherit;
}
.kifi-ti-dropdown-invite-email::before {
  background: #e36767 6px 7px/16px 14px no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAQAAACMJlQBAAAAW0lEQVR4AX3NoQ0CMABE0ZuEkNqy/wJ0DAySOsIAD8sJeva/5GI57R5Ppz1i2v5tu0UTnSUuTTq7xjZ/SOfpFZp0JjTpTGjSmVBkGH0XmnQmNOlM9N4+NFhOW18UF5AlmfH20gAAAABJRU5ErkJggg==);
}
@media (min-resolution: 1.3dppx) {
  .kifi-ti-dropdown-invite-email::before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAcCAQAAACqy3WpAAAAr0lEQVR4AaXOMVnEQACE0Um2QANSsHA2wAenIDU4yClBCZeTANWjop1iM/37v1ld3M3ucFnc85z5HYufPGV+v2s+c2YfMdzM7mZET+hcoid0LtETOpeYSez/XOLdKInOh2uwl0TnO6EnOif0ROeEnuic0BOdE3qic0JPdE7oVzsn1MRma5xQE5HGCT3ROaEnOif0ROeEnuichbR9JXlJ2UJObc2RM3usecsjs/vO6x9F5JZWip8jRwAAAABJRU5ErkJggg==);
  }
}
.kifi-ti-dropdown-invite-email::after,
.kifi-ti-dropdown-invite-social::after {
  content: 'Invite to Kifi';
  position: absolute;
  top: 6px;
  right: 10px;
  bottom: 6px;
  font-size: 9px;
  line-height: 20px;
  text-transform: uppercase;
}
.kifi-ti-dropdown-invited::after {
  content: 'Invited';
  background: left 5px/11px 8px no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAICAYAAAAvOAWIAAAAdUlEQVQY02NgIAAmHQySAuJrQFxFSKEcEN8G4v9AvB8myIxFoQIQ34MqPAjEPCDBaVBBBSSFSkD8EKpwDxBzwSS2QwVBkspArA7ET6BiIDlOZOs4kTSAFD2DsjcDMRs2j7BBJf9D8VqsCtE0LAfiJUDMgk0NAPgmab8gBSMYAAAAAElFTkSuQmCC);
  padding-left: 15px;
}
.kifi-ti-dropdown-invited.kifi-ti-dropdown-item-selected::after {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAICAQAAACFMc0DAAAAY0lEQVQIHQXBQQoBAQBA0SeaIiew0MTCjZ1AWVlZzGZKzqGUkmt87y0AANqZXQAA7XtVD7QEaOxdPdvq3LsROvSp5jZoqj4dO/WtptagdVP17VfdGwA0dK/q1gAAGrp2aQXAHw0zSLJT6Y6XAAAAAElFTkSuQmCC);
}
@media (min-resolution: 1.3dppx) {
  .kifi-ti-dropdown-invited::after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAYAAAAS7Y8mAAAA50lEQVQ4y2NgoBKYdDAoDYg/AnEpAxUNzQHif0D8H4orqWFoEZqhIHybUkPL0QwE4XdAbEKJodVYDH0NxIbIihiBWJIEQ5uwGPoSiHWRFbEB8QpoONUSYWgHFkOfAbEmusJVaIpacBgI8lUPFkOfALEaNg33sSjuwGLoJCzqHgCxEi6vqUNtRdfUCzUQhKdjkb8HxPKEwk0Jaju65slAPAeL+E0gliU2puWB+C4WQ9DxNVJSEMxwWahrcBl6GYjFyU34klBXoRt6DohFKM2qYlDXwQw9A8RC1CqxRID4ABDvBGJ+UvUDAHUvWe4FPe0wAAAAAElFTkSuQmCC);
  }
  .kifi-ti-dropdown-invited.kifi-ti-dropdown-item-selected::after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAQAAAC45EetAAAAxklEQVQoFY3BP0rDcBzG4fe3uAoSLBlCoENLhw4Fz+TUSZAixUU6ZGiXdnDxAOIN3DyAdAkEglgzFKEIghfIp6ThW7V/0j6PdAQu+eFax6BLTuFGh3BFTulN1ehhvrlQFfqYLzoq4PC1A3eYBW0VOOGRnFttIMJ80lKJJ0oDreEYYuY0ZPjARFrBMcZk1PWLJnPMCIfjHjMj1H/UyTATHjApgbYR8s6mBF+7EZDyV0xN++GTYKZ4qsY5MYVXznQYHi88c6o9ljMk+9nu+/6xAAAAAElFTkSuQmCC);
  }
}
.kifi-ti-dropdown-invite-name {
  line-height: 14px;
  white-space: nowrap;
}
.kifi-ti-dropdown-invite-sub {
  font-size: 11px;
  line-height: 13px;
  color: #999;
  white-space: nowrap;
}
.kifi-ti-dropdown-item-selected>.kifi-ti-dropdown-invite-sub {
  color: #eee;
}
.kifi-ti-dropdown-tip {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 25px;
  padding: 3px 10px !important;
  line-height: 18px;
  text-align: right;
  vertical-align: middle;
  background-color: #fff9e4;
  color: #666;
  cursor: pointer;
}
.kifi-ti-dropdown-tip:not(:first-child) {
  border-top: 1px solid #ccc;
}
.kifi-ti-dropdown-tip::before {
  position: static;
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: top;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAxklEQVQ4y2NgwAOeXJlVCMTFDOQAoEZOIH4GxM9BbHIMyATi/1CcSapmFiC+i2QAiM1CigFRSJphOAqXYg0gDgXiGiBeAsSngPgrFgO+QuWWQNWC9GiADDiLRTGx+AzIADEgvkaG5qtALArzhiQQ3yBB802QHvSwkAbi20RoBqmRwRWgvkQY4Icv+vKJMCAfnwEziTBgJj4DDqMp3gfFyGKH8RnwFimKPJDEPaBiILm3uDRzA/FDIE4CYiYs8kxQOZAabpg4AHfM2MuHHzKuAAAAAElFTkSuQmCC);
  background-size: 16px;
  margin-right: 6px;
}
.kifi-ti-dropdown-tip.kifi-ti-dropdown-item-selected {
  background-color: #fff2c5;
  color: #000;
}
.kifi-ti-tip-invite {
  text-decoration: underline;
}
@media (min-resolution: 1.3dppx) {
  .kifi-ti-dropdown-tip::before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABe0lEQVR4AcXUP0tqcRjA8Z/gIoi1iQhy2x219+DiVEM4FAXZEFG6uF6Ee9/AbdAsBKdexZlqcE5fQRwXSUtw0c7TdzjD5eDx6O/8Ufg824Pf4fwe5ef3/tZ+wiOULu1F5GHZ8rsI6EFsvagDfmEBsS1wEGXAP4jDfVQBacwhDnOkowj4A3HxN+yAPUwgLibYDzOgAfHQCCsggRHEwwgJvwEpFFBBE88YQjY0tHeaqKCAlFtAEXW0YMCEhMSEgRbqKCrGGLIjY8U4xhISsSWOFEOhEnHEEifOj/AM3xH9+anbK7iABQmJhXOvZ3gZUoSF6qZ34DrgCAs3217CW0hA7nRPcQviUxtKN6AL8anrJ6AP8amvGxDDF8SnGWI6ATlIQHI6ASVIQEo6ATWIB8smHmo6AR3IGgYOUYQBWaOjE/AKWWGAMpRDGQPICi86AVPIf0xcIQ7lIo4qTMfudNuArOMZ/UYSakNJe2cGsWW3DfjAAzJQmjJo49Mt4AdEPwZU+7t3/gAAAABJRU5ErkJggg==);
  }
}
.kifi-ti-dropdown b {
  font-weight: bold;
}
