.kifi-toaster {
  position: absolute;
  z-index: 1;
  top: 8px;
  bottom: 62px;
  left: 9px;
  right: 9px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background: rgba(255,255,255,.94);
  transition: background-color .2s linear, visibility 0s;
  overflow: hidden;
}
.kifi-toaster.kifi-down {
  background: rgba(255,255,255,0);
  visibility: hidden;
  transition-delay: 0s, .2s;
}
.kifi-toast {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
}
.kifi-down>.kifi-toast {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition-timing-function: ease-in;
}

.kifi-toast-other {
  position: absolute;
  top: -62px;
  left: 6px;
  right: 6px;
  line-height: 54px;
  background-color: #ececec;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.7 26.2"><path fill="%23464646" d="M19.9,0C12.2,0,6,5.2,6,11.5c0,3.9,2.4,7.4,6,9.5c-0.2,1.5-1,3.3-3,5.2c0,0,5.2,0,8.1-3.4c0.9,0.2,1.9,0.2,2.8,0.2c7.7,0,13.9-5.2,13.9-11.5C33.7,5.2,27.5,0,19.9,0z"/><path fill="%23464646" d="M4,11.5c0-3.3,1.4-6.4,3.7-8.7C3.2,4.2,0,7.8,0,12.1c0,3.4,2,6.4,5,8.1c-0.2,1.3-0.9,2.8-2.5,4.5c0,0,4.4,0,6.8-2.9c0.1,0,0.2,0,0.4,0C6.1,19.3,4,15.6,4,11.5z"/></svg>');
  background-position: 8px 10px;
  background-size: 45px 35px;
  background-repeat: no-repeat;
  border-radius: 10px !important;
  padding-left: 61px;
  color: #333;
  font-size: 13px;
  cursor: pointer;
}
.kifi-toast-other:not(.kifi-showing) {
  display: none;
}
.kifi-toast-other:hover,
.kifi-toast-other:focus {
  background-color: #eee; /* tint 10% */
}
.kifi-toast-other:active {
  background-color: #e0e0e0; /* shade 5% */
}
.kifi-toast-other-n::before {
  content: attr(data-n);
  position: absolute;
  top: 10px;
  left: 16px;
  width: 37px;
  line-height: 31px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.kifi-toast-other-n:not([data-n='1'])::after {
  content: 's';
}
.kifi-toast-other::after {
  content: '';
  position: absolute;
  right: 13px;
  bottom: 20px;
  height: 10px;
  width: 10px;
  border: 2px solid #afafaf;
  border-width: 3px 3px 0 0;
  border-radius: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.kifi-toast-top {
  border-radius: 8px 8px 0 0 !important;
  padding-left: 16px;
  line-height: 37px;
  font-size: 13px;
  background: #333;
  color: #fff;
  font-weight: 300;
  letter-spacing: .3px;
}
.kifi-toast-x {
  position: absolute;
  top: 7px;
  right: 7px;
  height: 24px;
  width: 24px;
  border-radius: 50% !important;
}
.kifi-toast-x::before,
.kifi-toast-x::after {
  content: '';
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: 50%;
  width: 2px;
  background: #ddd;
  font-size: 0;
}
.kifi-toast-x::before {
  -webkit-transform: translate(-1px) rotate(45deg);
  transform: translate(-1px) rotate(45deg);
}
.kifi-toast-x::after {
  -webkit-transform: translate(-1px) rotate(-45deg);
  transform: translate(-1px) rotate(-45deg);
}
.kifi-toast-x:hover,
.kifi-toast-x:focus {
  background: #5d6d7e;
}
.kifi-toast-x:active {
  background: #485b6e;
}

.kifi-toast>.kifi-compose {
  padding: 0;
}
.kifi-toast input.kifi-compose-to, /* initial input */
.kifi-toast .kifi-ti-list {
  border-top: none !important;
}
.kifi-toast .kifi-compose-draft {
  min-height: 64px;
  max-height: 142px;
}
