@box-width: 302px;
@view-swipe-duration: .21s;

.kifi-keep-box {
  position: absolute;
  bottom: 56px;
  right: 2px;
  width: @box-width;
  border-radius: 4px 4px 12px 12px !important;
  text-align: left;
  -webkit-transform-origin: 85% bottom;
  transform-origin: 85% bottom;
  transition: opacity linear, -webkit-transform ease-out;
  transition: opacity linear, transform ease-out;
  transition-duration: .2s;
}
.kifi-keep-box.kifi-down {
  opacity: 0;
  -webkit-transform: scale(.1);
  transform: scale(.1);
  transition-timing-function: ease-in;
}
.kifi-keep-box-top {
  border-radius: inherit !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background: #333;
}
.kifi-keep-box-title-wrap {
  display: inline-block;
  vertical-align: top;
  margin-left: 6px;
  width: 220px;
  line-height: 37px;
  position: relative;
}
.kifi-keep-box-title {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: .3px;
  transition: opacity @view-swipe-duration;
  &:not(:last-child) {
    position: absolute;
    opacity: 0;
  }
}
@box-top-btn-diam: 24px;
.kifi-keep-box-back,
.kifi-keep-box-x {
  height: @box-top-btn-diam;
  width: @box-top-btn-diam;
  border-radius: 50% !important;
  &:hover,
  &:focus {
    background-color: #555;
    &:active {
      background-color: #4b4b4b;
    }
  }
}
.kifi-keep-box-back {
  display: inline-block;
  vertical-align: top;
  margin: 7px 0 0 7px;
  .angle-bracket-background(5, 2, #fff);
  background-position: 8px center;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  transition: -webkit-transform, margin-right, opacity;
  transition: transform, margin-right, opacity;
  transition-duration: @view-swipe-duration;
  &.kifi-hidden {
    -webkit-transform: scale(.0001);
    transform: scale(.0001);
    margin-right: -@box-top-btn-diam;
    opacity: 0;
  }
}
.kifi-keep-box-x {
  position: absolute;
  top: 7px;
  right: 7px;
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 50%;
    width: 2px;
    background: #eee;
    font-size: 0;
  }
  &::before {
    -webkit-transform: translate(-1px) rotate(45deg);
    transform: translate(-1px) rotate(45deg);
  }
  &::after {
    -webkit-transform: translate(-1px) rotate(-45deg);
    transform: translate(-1px) rotate(-45deg);
  }
}

@view-width: @box-width - 2px;
.kifi-keep-box-viewport {
  border: solid rgba(0,0,0,.3);
  border-width: 0 1px 1px;
  border-radius: inherit !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  -webkit-transform: scale(1); // crbug.com/157218
  transition: height @view-swipe-duration;
}
.kifi-keep-box-cart {
  background: linear-gradient(to right, #ddd, #fff 50%, #ddd);
  &.kifi-animated {
    position: absolute;
    top: 0;
    left: 0;
    width: (2 * @view-width);
    bottom: 0;
    transition: -webkit-transform @view-swipe-duration ease-in-out;
    transition: transform @view-swipe-duration ease-in-out;
  }
  &.kifi-back:not(.kifi-roll),
  &.kifi-roll.kifi-forward {
    -webkit-transform: translate3d(-@view-width,0,0);
    transform: translate3d(-@view-width,0,0);
  }
}
.kifi-keep-box-view {
  background: #fff;
  width: @view-width;
  .kifi-animated>& {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .kifi-back>&:last-child,
  .kifi-forward>&:nth-child(2) {
    left: @view-width;
  }
}

.angle-bracket-background(@width: 10, @stroke-width: 2, @color: #000) {
  @hsw: @stroke-width / 2;
  @angle-bracket-url: %('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="%D %D %D %D"><path fill="none" stroke="%D" stroke-width="%D" stroke-linecap="round" stroke-linejoin="round" d="M%D 0L0 %Dl%D %D"/></svg>', -@hsw, -@hsw, @width + @stroke-width, 2 * @width + @stroke-width, @color, @stroke-width, @width, @width, @width, @width);
  background-image: url(@angle-bracket-url);
  background-repeat: no-repeat;
  background-size: unit(@width + @stroke-width, px) unit(2 * @width + @stroke-width, px);
}

@svgFindDataUrl: 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.6 13.6"><ellipse fill="none" stroke="%D" cx="5.5" cy="5.5" rx="5" ry="5"/><line fill="none" stroke="%D" stroke-width="1.2" stroke-linecap="round" x1="13" y1="13" x2="9.6" y2="9.6"/></svg>';
@svgCheckDataUrl: 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 8"><path fill="%D" d="M10.8,0.8l-0.7-0.7C9.9,0,9.6,0,9.4,0.1L4,5.4L1.6,3.1C1.4,2.9,1,2.9,0.9,3.1L0.1,3.7C0,3.9,0,4.2,0.1,4.4l3.5,3.4C3.8,8,4.1,8,4.3,7.8l6.5-6.3C11,1.3,11,1,10.8,0.8z"/></svg>';
@svgLibCardWorldDataUrl: 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89.6 117.5"><path fill="%D" stroke="%D" stroke-width="2" d="M27.4,9.5h43.1c10,0,18.1,8.1,18.1,18.1v70.7c0,10-8.1,18.1-18.1,18.1H27.4c-10,0-18.1-8.1-18.1-18.1V27.6C9.2,17.6,17.4,9.5,27.4,9.5z"/><path fill="%D" stroke="%D" stroke-width="2" d="M19.1,1h41.1c10,0,18.1,8.1,18.1,18.1v70.7c0,10-8.1,18.1-18.1,18.1H19.1C9.1,108,1,99.8,1,89.8V19.1C1,9.1,9.1,1,19.1,1z"/><path fill="%D" d="M39.8,77.9c-12.8,0-23.2-10.4-23.2-23.2C16.6,42,27,31.6,39.8,31.6c12.8,0,23.2,10.4,23.2,23.2C62.9,67.5,52.6,77.9,39.8,77.9z M39.8,34.5c-11.2,0-20.3,9.1-20.3,20.3c0,11.2,9.1,20.3,20.3,20.3C51,75,60,65.9,60,54.7C60,43.6,51,34.5,39.8,34.5z M48.3,65.2l-0.5,0.3l-1.5,0.9L45.4,67c-0.6,0.3-1.3,0.5-2,0.8v-0.9l-0.2-2c0,0-0.1-1.1-0.3-1.4c-0.2-0.3-0.6-0.7-1-0.9c-0.4-0.2-0.7-0.2-1-0.5c-0.2-0.3-0.4-0.8-0.7-1.3c-0.3-0.5-0.7-1-0.7-1.2c0-0.2,0-2.7,0-2.7l0.3-2.3l0.7-0.5l0.8-0.9l0.6-0.2l1.9,0.4H45l0.6,1.1l1.3,1l0.8,1.3l1,0.4h1.2l0.8,1l0.5,1l0.2,0.7v1.2l-0.1,0.7C50.4,63.1,49.4,64.2,48.3,65.2z M43.5,44.6l-1.3,0.7l-0.5,1.4l-0.8,0.7h-2.6L37,47.9l-0.1,1l-0.5,0.8l-0.1,0.8l0.2,0.7l0.3,0.7c0,0,0.7,0.8,0,1.4c0,0-0.9,0-1.1-0.3c-0.2-0.3-1.5-1.1-1.8-1.4c-0.2-0.2-1-0.5-1-0.5l-1-0.4l-0.9-0.1l0.1-1.3l-0.1-1.1l-0.4-0.8l-1-0.8l-0.1-0.8l0.1-0.5c2.5-2.4,5.9-3.9,9.7-3.9c2.1,0,4.1,0.5,5.9,1.4l0,0.3L43.5,44.6z"/></svg>';
@svgLibCardLockDataUrl: 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89.6 117.5"><path fill="%D" stroke="%D" stroke-width="2" d="M27.4,9.5h43.1c10,0,18.1,8.1,18.1,18.1v70.7c0,10-8.1,18.1-18.1,18.1H27.4c-10,0-18.1-8.1-18.1-18.1V27.6C9.2,17.6,17.4,9.5,27.4,9.5z"/><path fill="%D" stroke="%D" stroke-width="2" d="M19.1,1h41.1c10,0,18.1,8.1,18.1,18.1v70.7c0,10-8.1,18.1-18.1,18.1H19.1C9.1,108,1,99.8,1,89.8V19.1C1,9.1,9.1,1,19.1,1z"/><path fill="%D" d="M32.1,43.2c0-4.4,1.8-8,7.6-8c5.8,0,7.6,3.6,7.6,8v5.3h5.1v-5.3c0-6.5-4.7-11.7-12.7-11.7c-8,0-12.7,5.2-12.7,11.7v5.3h5.1V43.2z"/><path fill="%D" d="M52.8,48.5H26.6c-2.6,0-4.6,2-4.6,4.4v20.2c0,2.4,2.1,4.4,4.6,4.4h26.2c2.6,0,4.6-2,4.6-4.4V52.9C57.4,50.5,55.4,48.5,52.8,48.5z M52.4,70.3c0,1.7-1.5,3.1-3.3,3.1H30.3c-1.8,0-3.3-1.4-3.3-3.1v-14c0-1.7,1.5-3.1,3.3-3.1h18.7c1.8,0,3.3,1.4,3.3,3.1V70.3z"/></svg>';
@svgLibCardPlusDataUrl: 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89.6 117.5"><path fill="%D" stroke="%D" stroke-width="2" d="M27.4,9.5h43.1c10,0,18.1,8.1,18.1,18.1v70.7c0,10-8.1,18.1-18.1,18.1H27.4c-10,0-18.1-8.1-18.1-18.1V27.6C9.2,17.6,17.4,9.5,27.4,9.5z"/><path fill="%D" stroke="%D" stroke-width="2" d="M19.1,1h41.1c10,0,18.1,8.1,18.1,18.1v70.7c0,10-8.1,18.1-18.1,18.1H19.1C9.1,108,1,99.8,1,89.8V19.1C1,9.1,9.1,1,19.1,1z"/><path fill="%D" d="M57.5,60.5H45.7v11.8c0,3.3-2.6,5.9-5.9,5.9s-5.9-2.6-5.9-5.9V60.5H22.1c-3.3,0-5.9-2.6-5.9-5.9c0-3.3,2.6-5.9,5.9-5.9h11.8V37c0-3.3,2.6-5.9,5.9-5.9s5.9,2.6,5.9,5.9v11.8h11.8c3.3,0,5.9,2.6,5.9,5.9C63.4,57.9,60.8,60.5,57.5,60.5z"/></svg>';

@lib-border-color: #e7e7e7;

.kifi-keep-box-lib-input {
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 18px 10px 17px 42px !important;
  line-height: 15px;
  font-size: 13px;
  @url: %(@svgFindDataUrl, #b3b3b3, #b3b3b3);
  background: url(@url) 13px center / 18px 18px no-repeat !important;
  border-bottom: 1px solid @lib-border-color;
}
.kifi-keep-box-libs {
  position: relative;
  overflow: hidden;
  &>.kifi-scroll-inner {
    max-height: 320px;
    min-height: 240px;
    overflow: hidden !important;
    overflow-y: auto !important;
    position: relative;
    &:not(:last-child) {
      margin-bottom: -1px;  // avoids double border when scrolled to bottom
    }
  }
  &>.kifi-scrollbar {
    z-index: 1;
  }
}

.kifi-keep-box-lib-head,
.kifi-keep-box-new-lib-head {
  background-color: #f3f3f3;
  line-height: @lib-head-height;
  font-size: 12px;
  font-weight: bold;
  color: #777;
  -webkit-font-smoothing: antialiased;
  padding-left: 10px;
}
.kifi-keep-box-lib-head {
  border-bottom: 1px solid @lib-border-color;
  &.kifi-already {
    border: none;
    background-color: #73c785;
    color: #fff;
    &.kifi-unkeeping {
      margin-top: -@lib-head-height;
      transition: margin-top @unkeep-duration;
    }
  }
}

@lib-head-height: 26px;
@lib-height: 44px;
@lib-bg-height: 31px;
@lib-pad-left: 52px;
@lib-font-size: 13px;
@lib-font-weight: 300;
@lib-color: #333;
@unkeep-duration: .2s;

.kifi-keep-box-lib-kept {
  position: relative;
  background-color: #fff;
  transition: -webkit-transform @unkeep-duration;
  transition: transform @unkeep-duration;
  &.kifi-unkeeping {
    position: absolute;
    left: 0;
    right: 0;
    height: @lib-height + 1px; // bottom border
    z-index: 1;
    &>.kifi-keep-box-progress {
      transition: opacity @unkeep-duration;
      opacity: 0;
    }
  }
}
.kifi-unkeeping+.kifi-keep-box-lib-unkept-from {
  height: @lib-height + 1px; // bottom border
  transition: height @unkeep-duration;
  &.kifi-unkeeping {
    height: 0;
  }
}
.kifi-keep-box-lib-unkept-to {
  height: 0;
  transition: height @unkeep-duration;
  &.kifi-unkeeping {
    height: @lib-height + 1px; // bottom border
  }
}
.kifi-keep-box-lib {
  display: block;
  border-bottom: 1px solid @lib-border-color;
  background: 13px center / auto @lib-bg-height no-repeat;
  line-height: @lib-height;
  font-size: @lib-font-size;
  font-weight: @lib-font-weight;
  padding-left: @lib-pad-left;
  padding-right: 10px;
  color: @lib-color !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  .kifi-keep-box-view-keep>& {
    border-bottom-color: #ccc;
  }
  &.kifi-create {
    background-color: #f3f3f3;
    border-bottom: none;
    border-top: 1px solid @lib-border-color;
  }
  &.kifi-highlighted {
    background-color: #e8e8e8;
    &:active {
      background-color: #e3e3e3;
    }
  }
  .kifi-keep-box-lib-kept>& {
    padding-right: 85px;
  }
}
.kifi-keep-box-with-lib-icon {
  @url: %(@svgLibCardWorldDataUrl, #fff, #b5bbc4, #73c885, #73c885, #fff);
  background-image: url(@url) !important;
  &.kifi-system {
    @url: %(@svgLibCardWorldDataUrl, #fff, #7dadef, #fff, #7dadef, #7dadef);
    background-image: url(@url) !important;
    &.kifi-secret {
      @url: %(@svgLibCardLockDataUrl, #fff, #7dadef, #fff, #7dadef, #7dadef, #7dadef);
      background-image: url(@url) !important;
    }
  }
  &.kifi-secret {
    @url: %(@svgLibCardLockDataUrl, #fff, #b5bbc4, #f16564, #f16564, #fff, #fff);
    background-image: url(@url) !important;
  }
  &.kifi-create {
    @url: %(@svgLibCardPlusDataUrl, #fff, #7dadef, #fff, #7dadef, #7dadef, #7dadef);
    background-image: url(@url) !important;
  }
}
.kifi-keep-box-button {
  padding: 0 15px;
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 4px;
  background-image: linear-gradient(#fff, #f3f3f3);
  &:focus {
    outline: 0 !important;
    box-shadow: 0 0 4px #5b9dd9 !important;
  }
  &:hover:active,
  &:focus:active {
    background-image: none;
    background-color: #f3f3f3;
  }
  &:not([href]) {
    background: transparent;
    cursor: default;
  }
  color: #464646 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.kifi-keep-box-lib-unkeep {
  position: absolute;
  top: 7px;
  right: 9px;
  width: 70px;
  text-align: center;
  line-height: 28px;
  font-size: 11px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.kifi-keep-box-new-lib-name {
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: (@lib-font-size + 4px);
  font-size: @lib-font-size;
  font-weight: @lib-font-weight;
  padding: 20px 0;
  text-indent: 24px;
  color: @lib-color !important;
}
.kifi-keep-box-new-lib-visibility {
  padding: 16px 24px 0;
  min-height: 140px;
  line-height: 17px;
  font-size: 13px;
  color: #777;
  position: relative;
  &.kifi-checked>.kifi-n,
  &:not(.kifi-checked)>.kifi-y {
    display: none;
  }
}
@new-lib-secret-height: 36px;
.kifi-keep-box-new-lib-secret {
  @duration: .2s;
  vertical-align: middle;
  height: @new-lib-secret-height;
  width: 66px;
  background-color: #70c983; // #48b07a;
  border-radius: 18px;
  position: relative;
  cursor: pointer;
  transition: background-color @duration;
  .kifi-checked>& {
    background-color: #f06463 !important;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    background-color: #fff;
    transition: -webkit-transform @duration;
    transition: transform @duration;
  }
  &:hover:active::after,
  &:focus:active::after {
    -webkit-transform: translate(4px);
    transform: translate(4px);
  }
  .kifi-checked>&:hover:active::after,
  .kifi-checked>&:focus:active::after {
    -webkit-transform: translate(26px);
    transform: translate(26px);
  }
  .kifi-checked>&::after {
    -webkit-transform: translate(30px);
    transform: translate(30px);
  }
  &:hover::after,
  &:focus::after {
    background-color: #fefcf1;
  }
  &:hover:active::after,
  &:focus:active::after {
    background-image: radial-gradient(#fcfcfc, rgba(243,243,243,0));
  }
}
.kifi-keep-box-new-lib-label {
  display: inline-block;
  line-height: @new-lib-secret-height;
  margin-left: 12px;
}
.kifi-keep-box-new-lib-vis {
  margin-top: 20px;
  background-position: left center !important;
  background-size: auto @lib-bg-height !important;
  background-repeat: no-repeat !important;
  padding-left: 36px;
}
.kifi-keep-box-footer {
  height: @lib-height;
  border-top: 1px solid @lib-border-color;
  background-color: #f3f3f3;
  text-align: center;
}
.kifi-keep-box-new-lib-create,
.kifi-keep-box-done {
  display: inline-block;
  margin-top: 7px;
  line-height: 28px;
  font-size: 12px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.kifi-keep-box-keep-title {
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px 6px 4px 10px;
  line-height: 19px;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.kifi-keep-box-page-site {
  margin: 0 0 16px 10px;
  line-height: 13px;
  font-size: 11px;
  color: #777;
}
@image-height: 240px;
.kifi-keep-box-keep-image-picker {
  height: @image-height;
  position: relative;
  overflow: hidden;
}
.kifi-keep-box-keep-image-cart {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &.kifi-animated {
    @duration: .2s;
    transition: -webkit-transform @duration ease-in-out;
    transition: transform @duration ease-in-out;
  }
  &.kifi-back:not(.kifi-roll),
  &.kifi-roll.kifi-forward {
    -webkit-transform: translate3d(-@view-width,0,0);
    transform: translate3d(-@view-width,0,0);
  }
}
.kifi-keep-box-keep-image {
  position: absolute;
  top: 0;
  left: 0;
  width: @view-width;
  bottom: 0;
  .kifi-back>&:last-child,
  .kifi-forward>&:nth-child(2) {
    left: @view-width;
  }
  background-color: #f3f3f3;
  background-position: center;
  background-size: cover;
  &.kifi-none {
    text-align: center;
    line-height: @image-height;
    font-size: 24px;
    color: rgba(0,0,0,.2);
    &::before {
      content: 'no image';
    }
  }
}
.kifi-keep-box-image-prev,
.kifi-keep-box-image-next {
  position: absolute;
  top: 50%;
  margin-top: -26px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 3px solid #fff;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .angle-bracket-background(10, 3, #fff);
  background-position: 15px center;
  background-color: rgba(128,128,128,.5);
  transition: background-color .12s;
  &:hover,
  &:focus {
    background-color: rgba(100,100,100,.5);
    &:active {
      background-color: rgba(80,80,80,.5);
    }
  }

}
.kifi-keep-box-image-prev {
  left: 10px;
}
.kifi-keep-box-image-next {
  right: 10px;
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.kifi-keep-box-tags { // initial input
  display: block;
  height: 41px;
  padding: 6px 10px;
  background: #fffaf8;
}
.kifi-keep-box-tags,
.kifi-keep-box-tags-list {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.kifi-keep-box-tags,
.kifi-keep-box-tags-token-for-input>input {
  height: auto;
  min-height: 0;
  margin: 0;
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.kifi-keep-box-tags-token-for-input>input {
  width: 60px;
  padding: 3px 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: none;
  transition: none;
}
.kifi-keep-box-tags-list {
  padding: 12px 10px 9px 7px !important;
  height: auto !important;
  min-height: 54px;
  list-style: none;
  // overflow: hidden;
  background-color: #fff;
  color: #524d4d;
  cursor: text;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    right: 11px;
    top: 50%;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    background: url(/images/spinner_32.gif) no-repeat;
    background-size: contain;
    opacity: 0;
    transition: opacity .2s linear;
  }
  &.kifi-keep-box-tags-searching::before {
    opacity: .5;
    transition-delay: .4s;
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
.kifi-keep-box-tags-token-for-input { // input wrapper
  float: left;
  margin: 0 0 3px 3px !important;
  padding: 0 !important;
  list-style-type: none;
  &:not(:first-child) {
    margin-left: 5px !important;
  }
}
.kifi-keep-box-tags-token {
  overflow: hidden;
  margin: 0 0 3px 3px !important;
  padding: 3px 0 3px 5px !important;
  border-radius: 3px !important;
  background-color: #1990ea;
  color: #fff;
  cursor: default;
  float: left;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.kifi-keep-box-tags-token-selected {
  background-color: #349cf8;
}
.kifi-keep-box-tags-token-x {
  margin-left: 3px;
  padding: 2px 4px 4px 3px;
  position: relative;
  bottom: 1px;
  cursor: pointer;
  &:hover {
    background-color: #349cf8;
  }
  .kifi-keep-box-tags-token-selected>&:hover {
    background-color: #1990ea;
  }
  &:active:hover {
    background-color: #0088e1;
  }
}
.kifi-keep-box-tags-dropdown {
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #fff;
  overflow: hidden;
  cursor: default;
  transition-property: height, opacity;
  transition-timing-function: ease;
  transition-duration: .2s, .12s;
  transition-delay: 0s, .08s;
  &:not(:empty) {
    border: 1px solid #d2d2d2;
  }
}
.kifi-keep-box-tags-dropdown-clone {
  position: absolute;
  z-index: 1;
  transition-duration: .2s;
  transition-delay: 0s;
}
.kifi-keep-box-tags-dropdown-item {
  position: relative;
  margin: 0 !important;
  padding: 3px 6px !important;
  white-space: nowrap;
  &.kifi-keep-box-tags-dropdown-item-selected {
    background-color: #f4f4f4;
  }
}
.kifi-keep-box-done {
  padding: 0 30px;
}

.kifi-keep-box-progress-parent {
  position: relative;
}
.kifi-keep-box-progress {
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 2px;
  width: 0;
  background: #7bacf1;
  &.kifi-done {
    width: 100% !important;
    transition: width .16s ease-in-out;
  }
  &.kifi-fail {
    background: #b00;
    width: 0 !important;
    transition: width .24s ease-in-out;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 5px;
    right: 4px;
    width: 16px;
    height: 12px;
    @url: %(@svgCheckDataUrl, #48b07a);
    background: url(@url) right center/contain no-repeat !important;
    clip: rect(0,0,12px,0);
    transition: clip .16s .16s;
  }
  &.kifi-done::after {
    clip: rect(0,16px,12px,0);
  }
}
