.kifi-keeper.kifi-transit {
  z-index: 1;
}
.kifi-keeper:not(.kifi-transit)+.kifi-tile-card,
.kifi-keeper~.kifi-count {
/*.kifi-keeper.kifi-transit .kifi-count {*/
/*.kifi-keeper+.kifi-tile {*/
  display: none;
}

.kifi-keeper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 322px;
  height: 62px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid transparent;
  border-width: 5px 7px 8px;
  margin: -5px -7px -8px;
  font-size: 12px;
  line-height: 14px;
}
.kifi-tile>.kifi-keeper {
  border: solid transparent;
  border-width: 14px 7px 14px 14px;
  margin: -14px -7px -14px -14px;
  transition: opacity 200ms ease-out;
}
.kifi-tile>.kifi-keeper.kifi-hidden {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
.kifi-keeper-x {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 24px;
  width: 0;
  background-position: 8px 15px;
  background-size: auto 13px;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
  /*transition: width .25s ease-in;*/
}
html[kifi-with-pane] .kifi-keeper-x {
  /*width: 24px;*/
}

.kifi-tip {
  position: fixed;
  z-index: 999999999992;
  width: auto;
  height: auto;
  margin-bottom: 14px;
  border-radius: 6px !important;
  padding: 8px 12px 10px;
  background-color: rgba(53,60,67,.9);
  color: #fff;
  font-size: 12px;
  line-height: normal;
  text-align: left;
  white-space: nowrap;
  cursor: default;
  opacity: 0;
  -webkit-transform: translate(0, 2px);
  transform: translate(0, 2px);
  transition: opacity 90ms ease-in-out, -webkit-transform 90ms ease-out;
  transition: opacity 90ms ease-in-out, transform 90ms ease-out;
}
.kifi-tip-below {
  bottom: auto;
  top: 100%;
  margin-bottom: 0;
  margin-top: 20px;
  -webkit-transform: translate(0,-2px);
  transform: translate(0,-2px);
}
.kifi-tip::before,
.kifi-tip-tri {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  font-size: 0;
  line-height: 0;
  border-style: solid;
  border-width: 8px 8px 0;
  border-color: rgba(53,60,67,.9) transparent;
}
.kifi-tip-below::before {
  top: auto;
  bottom: 100%;
  border-width: 0 8px 8px;
}
.kifi-tip.kifi-showing {
  visibility: visible;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  transition: opacity ease-in, -webkit-transform ease-out;
  transition: opacity ease-in, transform ease-out;
  transition-duration: 50ms;
}
.kifi-keeper-x-tip::before {
  left: auto;
  right: 10px;
}

.kifi-keep-card {
  position: absolute;
  bottom: 0;
  right: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 155px;
  height: 49px;
  -webkit-perspective: 200px;
  perspective: 200px;
}
.kifi-hidden>.kifi-keep-card {
  width: 49px;
}
html[kifi-pane-parent] .kifi-keep-card {
/*
  left: 132px;
  right: auto;
*/
}
html[kifi-with-pane] .kifi-keep-card {
  /*width: 146px;*/
}
.kifi-keep-card,
.kifi-dock-btn { /* width for .kifi-keep-card only */
  transition: width 200ms ease-out, -webkit-transform 50ms ease-in, box-shadow 50ms ease-in;
  transition: width 200ms ease-out, transform 50ms ease-in, box-shadow 50ms ease-in;
}
.kifi-tile.ui-draggable .kifi-keep-card,
.kifi-tile.ui-draggable .kifi-dock-btn {
  box-shadow: 0 8px 7px -4px rgba(0,0,0,.7);
  -webkit-transform: translate(0,-4px);
  transform: translate(0,-4px);
}
.kifi-keep-side,
.kifi-kept-side {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .25s ease-in-out, z-index .25s linear;
  transition: transform .25s ease-in-out, z-index .25s linear;
}
.kifi-keep-card.kifi-private .kifi-keep-side,
.kifi-keep-card.kifi-public .kifi-keep-side {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.kifi-keep-card.kifi-unkept .kifi-kept-side {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.kifi-keep-card.kifi-private .kifi-kept-side,
.kifi-keep-card.kifi-public .kifi-kept-side,
.kifi-keep-card.kifi-unkept .kifi-keep-side {
  z-index: 100;
}
.kifi-keep-btn,
.kifi-kept-btn,
.kifi-dock-btn {
  border: 3px solid rgba(0,0,0,.3);
  border-radius: 24.5px !important;
  background-clip: content-box;
}
.kifi-keep-btn,
.kifi-kept-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 43px;
  color: #333;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
.kifi-keep-btn,
.kifi-keep-btn.kifi-hoverless:hover,
.kifi-keep-btn.kifi-hoverless:active {
  background-color: #f1f1f1;
}
.kifi-keep-btn:hover,
.kifi-keep-lock:hover,
.kifi-kept-lock:hover,
.kifi-keep-tag:hover,
.kifi-kept-tag:hover,
.kifi-keeper-x:hover,
.kifi-dock-btn:hover {
  /*color: #3f9f65;*/
  background-color: #fdf7e1;
}

.kifi-keep-btn:active {
  /*background: #1f2b39;*/
}
.kifi-keep-btn::before {
  content: 'Keep it';
}
.kifi-kept-btn,
.kifi-kept-btn.kifi-hoverless:hover,
.kifi-kept-btn.kifi-hoverless:active {
  background-color: #4daf7c;
  color: #fff;
}
.kifi-kept-btn:hover {
  /*background: #2c88c4;*/
}
.kifi-kept-btn:active {
  /*background: #2676ab;*/
}
.kifi-kept-btn::before,
.kifi-kept-btn.kifi-hoverless:hover::before {
  content: 'Kept';
}
.kifi-private .kifi-kept-btn::before,
.kifi-private .kifi-kept-btn.kifi-hoverless:hover::before {
  display: block;
  line-height: 32px;
}
.kifi-private .kifi-kept-btn::after,
.kifi-private .kifi-kept-btn.kifi-hoverless:hover::after {
  content: "(private)";
  display: block;
  margin-top: -5px;
  font-size: 9px;
  line-height: 0;
}
.kifi-kept-btn:hover::before {
  content: 'Unkeep';
  line-height: 43px;
}
.kifi-private .kifi-kept-btn:hover::after {
  content: '';
}
.kifi-keep-lock,
.kifi-kept-lock,
.kifi-keep-tag,
.kifi-kept-tag {
  position: absolute;
  /*background-color: #465f78;*/
  border: 1px solid rgba(51,51,51,.3);
  border-radius: 50%;
  cursor: pointer;
  background-clip: content-box;
  background-color: inherit;
  background-repeat: no-repeat;
  top: 9px;
  width: 29px;
  height: 29px;
}
.kifi-keep-lock,
.kifi-kept-lock {
  left: 9px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.793 9.018"><path fill="%23464646" d="M5.99,3.064H5.924C5.924,1.375,4.79,0,3.397,0S0.87,1.375,0.869,3.064H0.804C0.362,3.064,0,3.432,0,3.882v4.319c0,0.45,0.362,0.818,0.804,0.818H5.99c0.442,0,0.804-0.368,0.804-0.818V3.882C6.793,3.432,6.432,3.064,5.99,3.064z M3.397,0.987c0.945,0,1.713,0.932,1.713,2.077H1.684C1.684,1.919,2.452,0.987,3.397,0.987z"/></svg>');
  background-size: auto 12px;
  background-position: center 7px;
}
.kifi-keep-lock:active,
.kifi-kept-lock:active,
.kifi-keep-tag:active,
.kifi-kept-tag:active {
  /*background-color: #6e8aa6;*/
}
.kifi-private .kifi-kept-lock {
  /*background-color: #e78881;*/
}
.kifi-private .kifi-kept-lock:hover {
  /*background-color: #e7958f;*/
}
.kifi-private .kifi-kept-lock:active {
  /*background-color: #e77e76;*/
}
.kifi-tagged .kifi-kept-tag {
  /*background-color: #8edf58;*/
}
.kifi-tagged .kifi-kept-tag:hover {
  /*background-color: #a3e278;*/
}
.kifi-tagged .kifi-kept-tag:active {
  /*background-color: #76dc32;*/
}
.kifi-keep-tag,
.kifi-kept-tag {
  right: 9px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 9"><path fill-rule="evenodd" clip-rule="evenodd" fill="%23464646" d="M9.003,0.643c0-0.358-0.285-0.642-0.643-0.642L5.197,0c-0.17-0.005-0.342,0.057-0.472,0.187L0.188,4.719c-0.251,0.251-0.251,0.658,0,0.909l3.183,3.18c0.251,0.251,0.658,0.251,0.909,0l4.537-4.533c0.13-0.13,0.191-0.302,0.187-0.472L9.003,0.643z M7.235,2.249c-0.266,0-0.482-0.216-0.482-0.482c0-0.266,0.216-0.482,0.482-0.482c0.266,0,0.482,0.216,0.482,0.482C7.717,2.034,7.501,2.249,7.235,2.249z"/></svg>');
  background-size: auto 12px;
  background-position: 8px center;
}
/* ::after for invisible expansion */
.kifi-keep-lock::after,
.kifi-keep-tag::after {
  content: ' ';
  display: block;
  height: 100%;
  margin: -10px;
  border: 10px solid transparent;
}
.kifi-keep-lock::after {
  border-radius: 24.5px 0 0 24.5px;
  border-right-width: 0;
  margin-right: 0;
}
.kifi-keep-tag::after {
  border-radius: 0 24.5px 24.5px 0;
  border-left-width: 0;
  margin-left: 0;
}
.kifi-tag-tip::before {
  left: auto;
  right: 7px;
}

.kifi-keepers-box {
  position: fixed;
  z-index: 999999999991;
  right: 16px;
  bottom: 78px;
  height: 122px;
  border: 2px solid #b8c5d2;
  border-radius: 5px !important;
  box-shadow: rgba(0,40,90,.2) 5px 4px 0 2px;
  white-space: nowrap;
  background: #fff right 12px top 12px/24px 14px no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOCAYAAAA1+Nx+AAABI0lEQVR4Aa3TMSiEYRjA8Wf6FumwcJ0u3SCD0zfoBt0mAzarTdksVgO7kaKbZHUlNhslGSxIUiiM+ny4CcM9/sNz9fXkvu46w++d3rd/T2+PHJ1d/0BNCdKmfqzhBI/IQBqEQxPKkCaGsIIQYqYQQRPymMEGRl0gdYJLKGIEKOATaqqYQxbfUNz4QDElcAXFOwJsQc0+xPSgBsV5O4ECVjEOwQPULKAX3RCEWEb2r0AO94jNHQaxi0VUkMMH1HlCCdtYwqEPhDiGmjqmkfEf2STwjDK0wQeq0IR1SAuBU+xhMzXgXCBoMTALMRPpAf+o/UDRB76gHm7R1XHAXaxAE3b+OzCGA2jCfKeBVyjqGEYfXqCmhjwixHjDgNuVSYgZQWyiXxD9z6vZdAj5AAAAAElFTkSuQmCC);
  padding: 0 196px 0 0;
  margin: 0;
}
@media (min-resolution: 1.3dppx) {
  .kifi-keepers-box {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAcCAYAAAAnbDzKAAACGklEQVR4AdXTO2hTURzH8V+sBhuwIr5iwWcDDhIHLRTldhMs1NVBEXSQDg6CUEFwUkRQEIx27KqI4iTFQhGVqKAtCBmigw9EISA1KsVXbfv3O4bDvYcQb9Kb4fPbLofv4R6NPy1NwxzzCKAW24ETGMUYnmAtFEWMRRiEWmAJjqAEC5FfrIAU0pDHRhRhHjshCMuxF7lmBnTgHGYwh7tYBzly+AiDTwChH59gMNxGRszfmAPOwhxFqEYnXsMi/MYECliFFajAHJfEfIs54BUsxGYIwnlYhBGsgWoMwEKUYw/w3OxWCF34CgtxAQoRwEJMNiPgDMzxEIJwFBbiHZZ53tVzmON4MwI6cBW/sIAJdEMQbsJCXIQ8NuAOfuA9hiBfwH7oP6SRgRwvYSGGsa3GLmQhH19AAEFIoYApjz5kcQqdEISlOIkeCB9gdXoEIcAx5xfLYqTegGGYxw0Im2CYwWM8wGcY8g0EFCEMwvAFz1DCHKyegD2YhUV4gy4nwBFbgMsfgNXwHfgHvVASA/oxBvM4DSU14B7M4z5SMQYUcNDR23iAXwXroRgDDkOuZgTMYx/UrgGXoXYOuNXeAcBQAwF9SQr4iTzk6IZFCFodcA3mUUYGqrEySQEBrsM8RpMekMYLmMehJAcIW1CFRfiOnuQGAAewAIswifRiBUzBHLPIQTWuoOoxgAwqqDqmsR3CuOd7RdiNtyHK/wBxDTYwcBDc4gAAAABJRU5ErkJggg==);
  }
}
.kifi-keepers-box.kifi-above-count {
  bottom: 86px;
}
.kifi-keepers-box.kifi-keepers-hover {
  bottom: 70px;
  right: 6px;
}
.kifi-keepers-box.kifi-with-others {
  padding-right: 256px; /* +60 */
}
.kifi-keepers-box.kifi-tip::before {
  content: none;
}
.kifi-keepers-box.kifi-keepers-hover::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 24px;
  -webkit-transform: none;
  transform: none;
  border: none;
  margin: 0;
}
.kifi-keepers-promo {
  -webkit-transform: translate(0,20px);
  transform: translate(0,20px);
}
.kifi-tip.kifi-keepers-promo {
  transition-duration: .5s;
}
.kifi-keepers-pics {
  margin: 17px 0 17px 17px;
  height: 88px;
  position: relative;
}
.kifi-keepers-pics-1,
.kifi-keepers-pics-4 {
  width: 88px;
}
.kifi-keepers-pics-3,
.kifi-keepers-pics-6 {
  width: 133px;
}
.kifi-keepers-pics-2,
.kifi-keepers-pics-8 {
  width: 178px;
}
.kifi-keepers-pic,
.kifi-keepers-more {
  position: absolute;
  width: 43px;
  height: 43px;
  background-size: cover;
}
.kifi-keepers-pics-1>.kifi-keepers-pic,
.kifi-keepers-pics-2>.kifi-keepers-pic,
.kifi-keepers-pics-3>:last-child {
  width: 88px;
  height: 88px;
}
.kifi-keepers-pics-4>:nth-child(2n+2),
.kifi-keepers-pics-6>:nth-child(3n+2),
.kifi-keepers-pics-8>:nth-child(4n+2) {
  left: 45px;
}
.kifi-keepers-pics-6>:nth-child(3n+3),
.kifi-keepers-pics-8>:nth-child(4n+3) {
  left: 90px;
}
.kifi-keepers-pics-2>:last-child,
.kifi-keepers-pics-3>:last-child,
.kifi-keepers-pics-8>:nth-child(4n+4) {
  right: 0;
}
.kifi-keepers-pics-3>:nth-child(2),
.kifi-keepers-pics-4>:nth-child(n+3),
.kifi-keepers-pics-6>:nth-child(n+4),
.kifi-keepers-pics-8>:nth-child(n+5) {
  bottom: 0;
}
.kifi-keepers-more {
  background-color: #b8c5d2;
  text-align: center;
  line-height: 43px;
  color: #fff;
  font-weight: bold;
  -webkit-font-smoothing: bold;
}
.kifi-keepers-who {
  position: absolute;
  top: 40px;
  right: 6px;
  width: 190px;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  color: #444;
  -webkit-font-smoothing: antialiased;
}
.kifi-with-others .kifi-keepers-who {
  width: 250px; /* +60 */
}
.kifi-keepers-kept-by {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 3px;
  -webkit-font-smoothing: inherit;
}
.kifi-keepers-you {
  -webkit-font-smoothing: inherit;
}
.kifi-keepers-you::before {
  content: 'You';
  color: #a0bf67;
  font-weight: bold;
}
.kifi-keepers-you::after {
  content: ' and';
}
.kifi-with-others .kifi-keepers-you::after {
  content: ',';
  color: #a0bf67;
  font-weight: bold;
}
.kifi-keepers-friends {
  color: #85a4ea;
  font-weight: bold;
  -webkit-font-smoothing: inherit;
}
.kifi-keepers-others {
  -webkit-font-smoothing: inherit;
}
.kifi-keepers-friends::after,
.kifi-keepers-others::after {
  content: 's';
}
.kifi-keepers-friends[data-n='1']::after,
.kifi-keepers-others[data-n='1']::after {
  content: '';
}
.kifi-keepers-box::after,
.kifi-keepers-tri-shadow::after {
  content: ' ';
  position: absolute;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: skewX(35deg) scale(.8,1.6) rotate(45deg);
  transform: skewX(35deg) scale(.8,1.6) rotate(45deg);
}
.kifi-keepers-box::after {
  height: 16px;
  width: 16px;
  bottom: 0;
  right: 20px;
  border: inherit;
  border-top-color: transparent;
  border-left-color: transparent;
  background-color: inherit;
}
.kifi-keepers-box.kifi-keepers-hover::after {
  right: 90px; /* +70 */
}
.kifi-keepers-tri-shadow::after {
  top: -20px;
  left: 5px;
  height: 20px;
  width: 20px;
  background-color: rgba(0,40,90,.2);
  border-bottom-right-radius: 6px !important;
}
.kifi-keepers-tri-shadow {
  position: absolute;
  bottom: -28px;
  right: 2px;
  height: 20px;
  width: 36px;
  overflow: hidden;
}
.kifi-keepers-hover>.kifi-keepers-tri-shadow {
  right: 72px; /* +70 */
}

.kifi-dock-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.kifi-dock-site {
  right: 259px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.497 11.249"><path fill="%23464646" d="M1.617,0H0.75C0.336,0,0,0.336,0,0.75v9.749c0,0.414,0.336,0.75,0.75,0.75h0.867c0.414,0,0.75-0.336,0.75-0.75V0.75C2.367,0.336,2.031,0,1.617,0z M5.554,0H4.687c-0.414,0-0.75,0.336-0.75,0.75v9.749c0,0.414,0.336,0.75,0.75,0.75h0.867c0.414,0,0.75-0.336,0.75-0.75V0.75C6.304,0.336,5.968,0,5.554,0z M13.47,10.216l-3.278-9.664c-0.113-0.334-0.547-0.532-0.969-0.442L8.458,0.271C8.036,0.36,7.785,0.703,7.898,1.036l3.278,9.665c0.113,0.334,0.547,0.531,0.969,0.442l0.765-0.162C13.332,10.892,13.583,10.549,13.47,10.216z"/></svg>');
  background-size: 18px auto;
  background-position: center;
  transition: -webkit-transform 200ms ease-out 20ms;
  transition: transform 200ms ease-out 20ms;
}
.kifi-hidden>.kifi-dock-site {
  -webkit-transform: translate(259px) rotate(30deg) scale(.8);
  transform: translate(259px) rotate(30deg) scale(.8);
}
.kifi-dock-messages {
  right: 208px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.998 17.998"><path fill="%23464646" d="M12.748,11.249c0-0.786-0.572-1.5-1.5-2.034V5.999h-0.046c0.017-0.125,0.046-0.246,0.046-0.375c0-1.354-0.981-2.514-2.388-3.051c0.087-0.216,0.138-0.451,0.138-0.698C8.999,0.839,8.159,0,7.124,0S5.249,0.839,5.249,1.875c0,0.247,0.051,0.482,0.138,0.699C3.98,3.111,3,4.27,3,5.624c0,0.128,0.029,0.25,0.046,0.375H3v3.215c-0.928,0.535-1.5,1.248-1.5,2.034h3.787c0.174,0.856,0.93,1.5,1.837,1.5s1.663-0.644,1.837-1.5H12.748z M7.124,0.75c0.621,0,1.125,0.504,1.125,1.125c0,0.133-0.033,0.256-0.076,0.375H6.075C6.033,2.131,5.999,2.008,5.999,1.875C5.999,1.253,6.503,0.75,7.124,0.75z"/></svg>');
  background-size: 20px auto;
  background-position: center 13px;
  transition: -webkit-transform 200ms ease-out 40ms;
  transition: transform 200ms ease-out 40ms;
}
.kifi-hidden>.kifi-dock-messages {
  -webkit-transform: translate(208px) rotate(20deg) scale(.8);
  transform: translate(208px) rotate(20deg) scale(.8);
}
.kifi-dock-compose {
  right: 157px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.497 12.747"><path fill-rule="evenodd" clip-rule="evenodd" fill="%23464646" d="M6.748,0C3.021,0,0,2.511,0,5.609c0,1.912,1.154,3.599,2.912,4.612c-0.114,0.724-0.498,1.605-1.466,2.526c0,0,2.527-0.001,3.922-1.648c0.446,0.077,0.907,0.118,1.38,0.118c3.727,0,6.748-2.511,6.748-5.609S10.475,0,6.748,0z"/></svg>');
  background-size: auto 17px;
  background-position: center;
  transition: -webkit-transform 200ms ease-out 60ms;
  transition: transform 200ms ease-out 60ms;
}
.kifi-hidden>.kifi-dock-compose {
  -webkit-transform: translate(157px) rotate(10deg) scale(.8);
  transform: translate(157px) rotate(10deg) scale(.8);
}
.kifi-hidden>.kifi-dock-btn {
  transition-delay: 0;
}
.kifi-keeper-x,
.kifi-dock-btn {
  background-color: #f6f6f6;
}
.kifi-keeper-x:active,
.kifi-dock-btn:active,
.kifi-dock-btn.kifi-at {
  background-color: blue;
}
.kifi-dock-messages>.kifi-count {
  top: -8px;
  left: -2px;
}

.kifi-titled-tip {
  margin-top: 4px;
  border-top: 1px solid #fff;
  padding-top: 6px;
}

.kifi-drag-glass {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999999993;
  background: transparent;
  cursor: move;
}
