@box-width: 302px;

.kifi-keep-box {
  position: absolute;
  bottom: 56px;
  right: 2px;
  width: @box-width;
  border-radius: 4px 4px 12px 12px !important;
  text-align: left;
  -webkit-transform-origin: 85% bottom;
  transform-origin: 85% bottom;
  transition: opacity linear, -webkit-transform ease-out;
  transition: opacity linear, transform ease-out;
  transition-duration: .2s;
}
.kifi-keep-box.kifi-down {
  opacity: 0;
  -webkit-transform: scale(.1);
  transform: scale(.1);
  transition-timing-function: ease-in;
}
.kifi-keep-box-top {
  border-radius: inherit !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding-left: 16px;
  line-height: 37px;
  font-size: 13px;
  background: #333;
  color: #fff;
  font-weight: 300;
  letter-spacing: .3px;
}
.kifi-keep-box-x {
  position: absolute;
  top: 7px;
  right: 7px;
  height: 24px;
  width: 24px;
  border-radius: 50% !important;
  &:hover,
  &:focus {
    background: #555;
    &:active {
      background: #444;
    }
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 50%;
    width: 2px;
    background: #eee;
    font-size: 0;
  }
  &::before {
    -webkit-transform: translate(-1px) rotate(45deg);
    transform: translate(-1px) rotate(45deg);
  }
  &::after {
    -webkit-transform: translate(-1px) rotate(-45deg);
    transform: translate(-1px) rotate(-45deg);
  }
}

@cart-duration: .21s;

.kifi-keep-box-viewport {
  height: 310px;
  border: solid rgba(0,0,0,.3);
  border-width: 0 1px 1px;
  border-radius: inherit !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.kifi-keep-box-cart {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  &.kifi-forward,
  &.kifi-back {
    width: @box-width;
  }
  &.kifi-animated {
    transition: -webkit-transform @cart-duration ease-in-out;
    transition: transform @cart-duration ease-in-out;
  }
  &.kifi-back:not(.kifi-roll),
  &.kifi-roll.kifi-forward {
    -webkit-transform: translate3d(-@box-width,0,0);
    transform: translate3d(-@box-width,0,0);
  }
}
.kifi-keep-box-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: (@box-width - 2px);
  .kifi-back>&:last-child,
  .kifi-forward>&:nth-child(2) {
    left: @box-width;
  }
}

@svgLockDataUrl: 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.7 9"><path fill="%D" d="M6,3.7L6,3.7L5.9,2.5C5.9,1.2,4.7,0,3.4,0S0.8,1.2,0.8,2.5v1.3H0.7C0.3,3.7,0,4,0,4.5v3.6C0,8.6,0.4,9,0.8,9h5.1c0.4,0,0.8-0.4,0.8-0.9V4.5C6.7,4,6.5,3.7,6,3.7z M1.7,2.5c0-0.7,0.7-1.6,1.7-1.6s1.7,0.9,1.7,1.6v1.3H1.7V2.5z"/></svg>';

@lib-input-height: 31px;
.kifi-keep-box-lib-input {
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  @padding-top-bottom: 8px;
  padding: @padding-top-bottom 10px;
  line-height: (@lib-input-height - 2 * @padding-top-bottom);
  font-size: 13px;
}
.kifi-keep-box-lib-head {
  background-color: #fbf5f3;
  padding-left: 10px;
  line-height: 26px;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
}
@lib-height: 39px;
.kifi-keep-box-lib {
  display: block;
  border: solid #ece8e6;
  border-width: 0 0 1px;
  @height: 26px;
  background: url(/images/keeper/lib_cards.png) 14px ((@lib-height - @height) / 2) / auto @height no-repeat;
  line-height: @lib-height;
  font-size: 13px;
  font-weight: 300;
  padding-left: 52px;
  color: #333 !important;
  &.kifi-highlighted {
    background-color: #e8e8e8;
    &:active {
      background-color: #e3e3e3;
    }
  }
  &:first-child {
    border-top-width: 1px;
  }
  &.kifi-secret {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 12px;
      width: 9px;
      @height: 12px;
      height: @height;
      margin-top: -(@height / 2) - 1px;
      @url: %(@svgLockDataUrl, rgba(0,0,0,.2));
      background-image: url(@url);
      background-size: 9px 12px;
    }
  }
  &.kifi-create {
    background-image: url(/images/keeper/lib_cards_new.png);
    font-weight: 500;
  }
}
.kifi-keep-box-lib-remove {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 10px;
  line-height: @lib-height;
  font-size: 10px;
  color: #a00 !important;
  &:hover,
  &:focus {
    @bg-color: #ffe8e8;
    background-color: @bg-color;
    &:active {
      background-color: shade(@bg-color, 4%);
    }
  }
}

.kifi-keep-box-view-keep {
  &>.kifi-keep-box-lib-head {
    padding-left: 0;
    &::after {
      content: 'Keep into';
    }
    &.kifi-kept::after {
      content: 'Kept in';
    }
  }
  &>.kifi-keep-box-lib {
    border-bottom-color: #ccc;
  }
}
.kifi-keep-box-back {
  display: inline-block;
  line-height: inherit;
  padding: 0 10px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    @radius: 9px;
    width: 2 * @radius;
    height: 2 * @radius;
    border-radius: @radius;
    margin: -@radius 0 0 -@radius;
  }
  &:hover::before,
  &:focus::before {
    background: rgba(0,0,0,.1);
  }
  &:hover:active::before,
  &:focus:active::before {
    background: rgba(0,0,0,.16);
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    @half-height: 4px;
    @half-width: 4px;
    margin: -@half-height 0 0 -(@half-width + 1px);
    border-style: solid;
    border-width: @half-height (2 * @half-width) @half-height 0;
    border-color: transparent #777;
    vertical-align: middle;
  }
  &:hover::after,
  &:focus::after {
    border-right-color: #444;
  }
}
.kifi-keep-box-keep-title {
  margin: 6px 0 2px 10px;
  line-height: 19px;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.kifi-keep-box-page-site {
  margin: 0 0 10px 10px;
  line-height: 13px;
  font-size: 11px;
  color: #999;
}
.kifi-keep-box-image-picker {
  height: 118px;
  background-color: #f0f8ff;
  position: relative;
}
.kifi-keep-box-image-prev,
.kifi-keep-box-image-next {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  background: rgba(0,0,0,.1);
  &:hover,
  &:focus {
    background-color: rgba(0,0,0,.12);
    &:active {
      background-color: rgba(0,0,0,.16);
    }
  }
  &::before {
    content: '';
    border: solid #fff;
    border-width: 2px 2px 0 0;
    position: absolute;
    height: 6px;
    width: 6px;
    top: 50%;
    margin-top: -4px;
  }
}
.kifi-keep-box-image-prev {
  left: 0;
  &::before {
    -webkit-transform: rotate(-135deg);
    left: 50%;
    margin-left: -2px;
  }
}
.kifi-keep-box-image-next {
  right: 0;
  &::before {
    -webkit-transform: rotate(45deg);
    right: 50%;
    margin-right: -2px;
  }
}
.kifi-keep-box-comment {
  display: block;
  width: 100%;
  height: 41px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px 10px;
  background: #fffaf8;
}
.kifi-keep-box-save {
  @bg-color: #9bceff;
  display: block;
  line-height: 35px;
  font-size: 11px;
  background-color: @bg-color;
  color: #fff !important;
  font-weight: 500;
  text-shadow: 0 0 2px rgba(0,0,0,.3);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px;
  position: relative;
  // padding: 8px 24px;
  // font-size: 14px;
  // line-height: 18px;
  // -webkit-font-smoothing: antialiased;
  &:hover,
  &:focus {
    background-color: tint(@bg-color, 8%);
    &:active {
      background-color: shade(@bg-color, 4%);
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: center / auto 12px no-repeat;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 8"><path fill="white" d="M3.646,7.858l-3.5-3.417c-0.195-0.188-0.195-0.494,0-0.684l0.707-0.684c0.195-0.188,0.512-0.188,0.707,0L4,5.467l5.439-5.325c0.195-0.188,0.512-0.188,0.707,0l0.707,0.684c0.195,0.188,0.195,0.495,0,0.683l-6.5,6.351C4.158,8.047,3.842,8.047,3.646,7.858z"/></svg>');
    opacity: 0;
    -webkit-transform: translate(-60px);
    transform: translate(-60px);
  }
  &.kifi-done::after {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transition: opacity .16s linear, -webkit-transform .16s ease-in-out;
    transition: opacity .16s linear, transform .16s ease-in-out;
  }
}
.kifi-keep-box-save-progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background: #4daf7c;
  &.kifi-secret {
    background: #e65b45;
  }
  .kifi-done>& {
    width: 100% !important;
    transition: width .16s ease-in-out;
  }
  .kifi-fail>& {
    background: #b00;
    width: 0 !important;
    transition: width .24s ease-in-out;
  }
}
.kifi-keep-box-save-text {
  display: inline-block;
  position: relative;
  .kifi-doing>&,
  .kifi-done>& {
    opacity: 0;
    -webkit-transform: translate(60px);
    transform: translate(60px);
    transition: opacity .16s linear, -webkit-transform .16s ease-in-out;
    transition: opacity .16s linear, transform .16s ease-in-out;
  }
}
