.kifi-keeper.kifi-transit {
  z-index: 1;
}
.kifi-keeper:not(.kifi-transit)+.kifi-tile-card,
.kifi-keeper~.kifi-count {
/*.kifi-keeper.kifi-transit .kifi-count {*/
/*.kifi-keeper+.kifi-tile {*/
  display: none;
}

@svgLockDataUrl: 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.7 9"><path fill="%D" d="M6,3.7L6,3.7L5.9,2.5C5.9,1.2,4.7,0,3.4,0S0.8,1.2,0.8,2.5v1.3H0.7C0.3,3.7,0,4,0,4.5v3.6C0,8.6,0.4,9,0.8,9h5.1c0.4,0,0.8-0.4,0.8-0.9V4.5C6.7,4,6.5,3.7,6,3.7z M1.7,2.5c0-0.7,0.7-1.6,1.7-1.6s1.7,0.9,1.7,1.6v1.3H1.7V2.5z"/></svg>';
@svgTagDataUrl: 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 9"><path fill="%D" d="M8.7,5l-5-5h-3C0.3,0,0,0.3,0,0.7v3l5,5C5.3,9,5.7,9,6,8.7L8.7,6C9,5.7,9,5.3,8.7,5z M2,2.6C1.7,2.6,1.5,2.3,1.5,2c0-0.3,0.2-0.6,0.6-0.6c0.3,0,0.6,0.2,0.6,0.6C2.6,2.3,2.3,2.6,2,2.6z"/></svg>';
@svgHomeDataUrl: 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.5 12"><path fill="%D" d="M13.5,6.7L7,0.1c-0.2-0.2-0.4-0.2-0.6,0L0,6.7h1.5c0,0,0,0,0,0v4.2c0,0.6,0.3,1.1,0.9,1.1h2.5c0.2,0,0.3-0.2,0.3-0.4V8.6c0-0.2,0.2-0.4,0.4-0.4h2.2c0.2,0,0.4,0.2,0.4,0.4v2.9c0,0.2,0.2,0.4,0.4,0.4h2.4c0.6,0,0.9-0.5,0.9-1.1V6.7c0,0,0,0,0,0H13.5z"/></svg>';
@svgMailDataUrl: 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 10.5"><path fill="%D" d="M10.3,0H1.7C0.7,0,0,0.8,0,1.9v0.7l5.6,4.3C5.8,7,6.2,7,6.4,6.8L12,2.5V1.9C12,0.8,11.3,0,10.3,0z M5.6,8.3L0,3.9v4.7c0,1,0.7,1.9,1.7,1.9h8.5c1,0,1.7-0.8,1.7-1.9V3.9L6.4,8.3C6.2,8.5,5.8,8.5,5.6,8.3z"/></svg>';
@svgSendDataUrl: 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.7 10.5"><path fill="%D" d="M10.8,0H1.9C0.9,0,0,0.8,0,1.9l0,6.8c0,1,0.9,1.9,1.9,1.9h8.9c1.1,0,1.9-0.8,1.9-1.9V1.9C12.7,0.8,11.9,0,10.8,0z M8.2,6.7c0,0,0-0.8,0-1.9C5.7,4.5,4,7.3,4,7.3c0.5-4.9,4.2-4.4,4.2-4.4v0c0-1,0-1.9,0-1.9l3.5,3.1L8.2,6.7z"/></svg>';

.kifi-keeper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 322px;
  height: 64px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid transparent;
  border-width: 7px 7px 8px;
  margin: -7px -7px -8px;
  font-size: 12px;
  line-height: 14px;
}
.kifi-tile>.kifi-keeper {
  border: solid transparent;
  border-width: 0 7px 8px 0;
  margin: 0 -7px -8px 0;
  width: 330px;
  height: 67px;
  border-radius: 24px 0 0 24px !important;
  transition: opacity 200ms ease-out;
}
.kifi-tile>.kifi-keeper.kifi-hidden {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
.kifi-pane>.kifi-keeper {
  margin: 0;
  right: -3px;
}

.kifi-tip {
  position: fixed;
  z-index: 999999999992;
  width: auto;
  height: auto;
  margin-bottom: 14px;
  border-radius: 4px !important;
  padding: 8px 12px 10px;
  background-color: rgba(53,60,67,.9);
  color: #fff;
  font-size: 12px;
  line-height: normal;
  text-align: left;
  white-space: nowrap;
  cursor: default;
  opacity: 0;
  -webkit-transform: translate(0, 2px);
  transform: translate(0, 2px);
  transition: opacity 90ms ease-in-out, -webkit-transform 90ms ease-out;
  transition: opacity 90ms ease-in-out, transform 90ms ease-out;
}
.kifi-tip-below {
  bottom: auto;
  top: 100%;
  margin-bottom: 0;
  margin-top: 20px;
  -webkit-transform: translate(0,-2px);
  transform: translate(0,-2px);
}
.kifi-tip::before,
.kifi-tip-tri {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  font-size: 0;
  line-height: 0;
  border-style: solid;
  border-width: 8px 8px 0;
  border-color: rgba(53,60,67,.9) transparent;
}
.kifi-tip-below::before {
  top: auto;
  bottom: 100%;
  border-width: 0 8px 8px;
}
.kifi-tip.kifi-showing {
  visibility: visible;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  transition: opacity ease-in, -webkit-transform ease-out;
  transition: opacity ease-in, transform ease-out;
  transition-duration: 50ms;
}

.kifi-keep-card {
  position: absolute;
  bottom: 0;
  right: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 155px;
  height: 49px;
  -webkit-perspective: 200px;
  perspective: 200px;
  transition: width 200ms ease-out;
  .kifi-hidden>& {
    width: 49px;
  }
  [kifi-pane-parent] & {
    left: 168px;
    right: auto;
    transition: width .25s ease-in-out;
  }
  [kifi-with-pane] & {
    width: 126px;
  }
  .kifi-pane & {
    left: 153px;
  }
}
.kifi-keep-side,
.kifi-kept-side {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .25s ease-in-out, z-index .25s linear;
  transition: transform .25s ease-in-out, z-index .25s linear;
}
.kifi-keep-card.kifi-private .kifi-keep-side,
.kifi-keep-card.kifi-public .kifi-keep-side {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.kifi-keep-card.kifi-unkept .kifi-kept-side {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.kifi-keep-card.kifi-private .kifi-kept-side,
.kifi-keep-card.kifi-public .kifi-kept-side,
.kifi-keep-card.kifi-unkept .kifi-keep-side {
  z-index: 100;
}
.kifi-keep-btn,
.kifi-kept-btn,
.kifi-dock-btn {
  border: 3px solid rgba(0,0,0,.3);
  border-radius: 24.5px !important;
  background-clip: content-box;
}

@draggable-box-shadow: 0 8px 7px -4px rgba(0,0,0,.6);
@draggable-box-shadow-transition: box-shadow .2s;

.kifi-keep-btn,
.kifi-kept-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 43px;
  color: #333;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  .kifi-pane & {
    border-width: 1px;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
  }
  transition: @draggable-box-shadow-transition;
  .kifi-tile.ui-draggable & {
    box-shadow: @draggable-box-shadow;
  }
}
.kifi-keep-btn {
  background-image: linear-gradient(#fff, #f3f3f3);
  &:hover,
  &:focus {
    color: #3f9f65;
  }
  &:active {
    background-image: none;
    background-color: #f3f3f3;
  }
  &::before {
    content: 'Keep it';
    padding-left: 16px;
  }
}
.kifi-kept-btn {
  @bg-color: #4daf7c;
  background-color: @bg-color;
  color: #fff;
  font-weight: 500;
  text-shadow: 0 0 2px rgba(0,0,0,.3);
  &:hover,
  &:focus {
    background-color: tint(@bg-color, 6%);
  }
  &:active {
    background-color: shade(@bg-color, 4%);
  }
  &::before {
    content: 'Kept';
  }
  &:not(.kifi-hoverless):hover::before {
    content: 'Unkeep';
  }
  .kifi-private &:not(:hover)::before,
  .kifi-private &.kifi-hoverless::before {
    display: block;
    line-height: 32px;
  }
  .kifi-private &:not(:hover)::after,
  .kifi-private &.kifi-hoverless::after {
    content: '(private)';
    display: block;
    margin-top: -5px;
    font-size: 9px;
    line-height: 0;
  }
}
.kifi-keep-lock,
.kifi-kept-lock,
.kifi-kept-tag {
  position: absolute;
  border: 1px solid rgba(51,51,51,.3);
  border-radius: 50% !important;
  cursor: pointer;
  background-clip: content-box;
  background-color: inherit;
  background-repeat: no-repeat;
  top: 9px;
  width: 29px;
  height: 29px;
}
.kifi-keep-lock,
.kifi-kept-lock {
  left: 9px;
  @url: %(@svgLockDataUrl, #464646);
  background-image: url(@url), linear-gradient(#fff, #f3f3f3);
  background-size: 9px 12px, auto;
  background-position: center 8px, 0;
}
.kifi-keep-lock:hover,
.kifi-keep-lock:focus,
.kifi-kept-lock:hover,
.kifi-kept-lock:focus {
  @url: %(@svgLockDataUrl, #e65b45);
  background-image: url(@url), linear-gradient(#fff, #f3f3f3);
}
.kifi-keep-lock:active,
.kifi-kept-lock:active {
  @url: %(@svgLockDataUrl, #e65b45);
  background-image: url(@url);
  background-color: #f3f3f3;
}
.kifi-private .kifi-kept-lock {
  top: 8px;
  left: 8px;
  @bg-color: #e65b45;
  @url: %(@svgLockDataUrl, #fff);
  background-color: @bg-color;
  background-image: url(@url);
  border-color: #d13a22;
  border-width: 2px;
  &:hover,
  &:focus {
    background-color: tint(@bg-color, 6%);
  }
  &:active {
    background-color: shade(@bg-color, 4%);
  }
}
.kifi-kept-tag {
  right: 9px;
  @url: %(@svgTagDataUrl, #464646);
  background-image: url(@url), linear-gradient(#fff, #f3f3f3);
  background-size: 12px 12px, auto;
  background-position: 9px center, 0;
  &:hover,
  &:focus {
    @url: %(@svgTagDataUrl, #6fa6ef);
    background-image: url(@url), linear-gradient(#fff, #f3f3f3);
  }
  &:active {
    @url: %(@svgTagDataUrl, #6fa6ef);
    background-image: url(@url);
    background-color: #f3f3f3;
  }
  .kifi-tagged & {
    top: 8px;
    right: 8px;
    @bg-color: #6fa6ef;
    @url: %(@svgTagDataUrl, #fff);
    background-image: url(@url);
    background-color: @bg-color;
    border-color: #5490df;
    border-width: 2px;
    &:hover,
    &:focus {
      background-color: tint(@bg-color, 6%);
    }
    &:active {
      background-color: shade(@bg-color, 4%);
    }
  }
}

/* ::after for invisible expansion */
.kifi-keep-lock::after,
.kifi-kept-lock::after,
.kifi-kept-tag::after {
  content: '';
  display: block;
  height: 100%;
  margin: -10px;
  border: 10px solid transparent;
}
.kifi-keep-lock::after,
.kifi-kept-lock::after {
  border-radius: 24.5px 0 0 24.5px !important;
  border-right-width: 0;
  margin-right: 0;
}
.kifi-kept-tag::after {
  border-radius: 0 24.5px 24.5px 0 !important;
  border-left-width: 0;
  margin-left: 0;
}
.kifi-tag-tip::before {
  left: auto;
  right: 7px;
}

.kifi-keepers-box {
  position: fixed;
  z-index: 999999999991;
  right: 16px;
  bottom: 78px;
  height: 122px;
  border: 2px solid #b8c5d2;
  border-radius: 5px !important;
  box-shadow: rgba(0,40,90,.2) 5px 4px 0 2px;
  white-space: nowrap;
  background: #fff right 12px top 12px/24px 14px no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOCAYAAAA1+Nx+AAABI0lEQVR4Aa3TMSiEYRjA8Wf6FumwcJ0u3SCD0zfoBt0mAzarTdksVgO7kaKbZHUlNhslGSxIUiiM+ny4CcM9/sNz9fXkvu46w++d3rd/T2+PHJ1d/0BNCdKmfqzhBI/IQBqEQxPKkCaGsIIQYqYQQRPymMEGRl0gdYJLKGIEKOATaqqYQxbfUNz4QDElcAXFOwJsQc0+xPSgBsV5O4ECVjEOwQPULKAX3RCEWEb2r0AO94jNHQaxi0VUkMMH1HlCCdtYwqEPhDiGmjqmkfEf2STwjDK0wQeq0IR1SAuBU+xhMzXgXCBoMTALMRPpAf+o/UDRB76gHm7R1XHAXaxAE3b+OzCGA2jCfKeBVyjqGEYfXqCmhjwixHjDgNuVSYgZQWyiXxD9z6vZdAj5AAAAAElFTkSuQmCC);
  padding: 0 196px 0 0;
  margin: 0;
}
@media (min-resolution: 1.3dppx) {
  .kifi-keepers-box {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAcCAYAAAAnbDzKAAACGklEQVR4AdXTO2hTURzH8V+sBhuwIr5iwWcDDhIHLRTldhMs1NVBEXSQDg6CUEFwUkRQEIx27KqI4iTFQhGVqKAtCBmigw9EISA1KsVXbfv3O4bDvYcQb9Kb4fPbLofv4R6NPy1NwxzzCKAW24ETGMUYnmAtFEWMRRiEWmAJjqAEC5FfrIAU0pDHRhRhHjshCMuxF7lmBnTgHGYwh7tYBzly+AiDTwChH59gMNxGRszfmAPOwhxFqEYnXsMi/MYECliFFajAHJfEfIs54BUsxGYIwnlYhBGsgWoMwEKUYw/w3OxWCF34CgtxAQoRwEJMNiPgDMzxEIJwFBbiHZZ53tVzmON4MwI6cBW/sIAJdEMQbsJCXIQ8NuAOfuA9hiBfwH7oP6SRgRwvYSGGsa3GLmQhH19AAEFIoYApjz5kcQqdEISlOIkeCB9gdXoEIcAx5xfLYqTegGGYxw0Im2CYwWM8wGcY8g0EFCEMwvAFz1DCHKyegD2YhUV4gy4nwBFbgMsfgNXwHfgHvVASA/oxBvM4DSU14B7M4z5SMQYUcNDR23iAXwXroRgDDkOuZgTMYx/UrgGXoXYOuNXeAcBQAwF9SQr4iTzk6IZFCFodcA3mUUYGqrEySQEBrsM8RpMekMYLmMehJAcIW1CFRfiOnuQGAAewAIswifRiBUzBHLPIQTWuoOoxgAwqqDqmsR3CuOd7RdiNtyHK/wBxDTYwcBDc4gAAAABJRU5ErkJggg==);
  }
}
.kifi-keepers-box.kifi-above-count {
  bottom: 86px;
}
.kifi-keepers-box.kifi-keepers-hover {
  bottom: 70px;
  right: 6px;
}
.kifi-keepers-box.kifi-with-others {
  padding-right: 256px; /* +60 */
}
.kifi-keepers-box.kifi-tip::before {
  content: none;
}
.kifi-keepers-box.kifi-keepers-hover::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 24px;
  -webkit-transform: none;
  transform: none;
  border: none;
  margin: 0;
}
.kifi-keepers-promo {
  -webkit-transform: translate(0,20px);
  transform: translate(0,20px);
}
.kifi-tip.kifi-keepers-promo {
  transition-duration: .5s;
}
.kifi-keepers-pics {
  margin: 17px 0 17px 17px;
  height: 88px;
  position: relative;
}
.kifi-keepers-pics-1,
.kifi-keepers-pics-4 {
  width: 88px;
}
.kifi-keepers-pics-3,
.kifi-keepers-pics-6 {
  width: 133px;
}
.kifi-keepers-pics-2,
.kifi-keepers-pics-8 {
  width: 178px;
}
.kifi-keepers-pic,
.kifi-keepers-more {
  position: absolute;
  width: 43px;
  height: 43px;
  background-size: cover;
}
.kifi-keepers-pics-1>.kifi-keepers-pic,
.kifi-keepers-pics-2>.kifi-keepers-pic,
.kifi-keepers-pics-3>:last-child {
  width: 88px;
  height: 88px;
}
.kifi-keepers-pics-4>:nth-child(2n+2),
.kifi-keepers-pics-6>:nth-child(3n+2),
.kifi-keepers-pics-8>:nth-child(4n+2) {
  left: 45px;
}
.kifi-keepers-pics-6>:nth-child(3n+3),
.kifi-keepers-pics-8>:nth-child(4n+3) {
  left: 90px;
}
.kifi-keepers-pics-2>:last-child,
.kifi-keepers-pics-3>:last-child,
.kifi-keepers-pics-8>:nth-child(4n+4) {
  right: 0;
}
.kifi-keepers-pics-3>:nth-child(2),
.kifi-keepers-pics-4>:nth-child(n+3),
.kifi-keepers-pics-6>:nth-child(n+4),
.kifi-keepers-pics-8>:nth-child(n+5) {
  bottom: 0;
}
.kifi-keepers-more {
  background-color: #b8c5d2;
  text-align: center;
  line-height: 43px;
  color: #fff;
  font-weight: bold;
  -webkit-font-smoothing: bold;
}
.kifi-keepers-who {
  position: absolute;
  top: 40px;
  right: 6px;
  width: 190px;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  color: #444;
  -webkit-font-smoothing: antialiased;
}
.kifi-with-others .kifi-keepers-who {
  width: 250px; /* +60 */
}
.kifi-keepers-kept-by {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 3px;
  -webkit-font-smoothing: inherit;
}
.kifi-keepers-you {
  -webkit-font-smoothing: inherit;
}
.kifi-keepers-you::before {
  content: 'You';
  color: #a0bf67;
  font-weight: bold;
}
.kifi-keepers-you::after {
  content: ' and';
}
.kifi-with-others .kifi-keepers-you::after {
  content: ',';
  color: #a0bf67;
  font-weight: bold;
}
.kifi-keepers-friends {
  color: #85a4ea;
  font-weight: bold;
  -webkit-font-smoothing: inherit;
}
.kifi-keepers-others {
  -webkit-font-smoothing: inherit;
}
.kifi-keepers-friends::after,
.kifi-keepers-others::after {
  content: 's';
}
.kifi-keepers-friends[data-n='1']::after,
.kifi-keepers-others[data-n='1']::after {
  content: '';
}
.kifi-keepers-box::after,
.kifi-keepers-tri-shadow::after {
  content: ' ';
  position: absolute;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: skewX(35deg) scale(.8,1.6) rotate(45deg);
  transform: skewX(35deg) scale(.8,1.6) rotate(45deg);
}
.kifi-keepers-box::after {
  height: 16px;
  width: 16px;
  bottom: 0;
  right: 20px;
  border: inherit;
  border-top-color: transparent;
  border-left-color: transparent;
  background-color: inherit;
}
.kifi-keepers-box.kifi-keepers-hover::after {
  right: 90px; /* +70 */
}
.kifi-keepers-tri-shadow::after {
  top: -20px;
  left: 5px;
  height: 20px;
  width: 20px;
  background-color: rgba(0,40,90,.2);
  border-bottom-right-radius: 6px !important;
}
.kifi-keepers-tri-shadow {
  position: absolute;
  bottom: -28px;
  right: 2px;
  height: 20px;
  width: 36px;
  overflow: hidden;
}
.kifi-keepers-hover>.kifi-keepers-tri-shadow {
  right: 72px; /* +70 */
}

.kifi-dock-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 43px;
  height: 43px;
  border-radius: 50% !important;
  background-repeat: no-repeat;
  cursor: pointer;
  .kifi-pane & {
    border-width: 1px;
    bottom: 2px;
    right: 2px;
  }
  .kifi-hidden>& {
    transition-delay: 0;
  }
  // &:active,
  // &.kifi-at {
  //   background-color: blue;
  // }
}
.kifi-dock-site {
  @url: %(@svgHomeDataUrl, #464646);
  background-image: url(@url), linear-gradient(#fff, #f3f3f3);
  background-size: 18px 16px, auto;
  background-position: center 13px, 0;
  -webkit-transform: translate(-259px);
  transform: translate(-259px);
  transition: -webkit-transform 200ms ease-out 20ms, @draggable-box-shadow-transition;
  transition: transform 200ms ease-out 20ms, @draggable-box-shadow-transition;
  .kifi-tile.ui-draggable & {
    box-shadow: @draggable-box-shadow;
  }
  &:hover,
  &:focus {
    @url: %(@svgHomeDataUrl, #3f9f65);
    background-image: url(@url), linear-gradient(#fff, #f3f3f3);
  }
  &:active {
    @url: %(@svgHomeDataUrl, #3f9f65);
    background-image: url(@url);
    background-color: #f3f3f3;
  }
  .kifi-hidden>& {
    -webkit-transform: rotate(30deg) scale(.8);
    transform: rotate(30deg) scale(.8);
  }
}
.kifi-dock-messages {
  @url: %(@svgMailDataUrl, #464646);
  background-image: url(@url), linear-gradient(#fff, #f3f3f3);
  background-size: 16px 14px, auto;
  background-position: center;
  -webkit-transform: translate(-208px);
  transform: translate(-208px);
  transition: -webkit-transform 200ms ease-out 40ms, @draggable-box-shadow-transition;
  transition: transform 200ms ease-out 40ms, @draggable-box-shadow-transition;
  .kifi-tile.ui-draggable & {
    box-shadow: @draggable-box-shadow;
  }
  &:hover,
  &:focus {
    @url: %(@svgMailDataUrl, #3f9f65);
    background-image: url(@url), linear-gradient(#fff, #f3f3f3);
  }
  &:active {
    @url: %(@svgMailDataUrl, #3f9f65);
    background-image: url(@url);
    background-color: #f3f3f3;
  }
  .kifi-hidden>& {
    -webkit-transform: rotate(20deg) scale(.8);
    transform: rotate(20deg) scale(.8);
  }
}
.kifi-dock-compose {
  @url: %(@svgSendDataUrl, #464646);
  background-image: url(@url), linear-gradient(#fff, #f3f3f3);
  background-size: 17px 14px, auto;
  background-position: center;
  -webkit-transform: translate(-157px);
  transform: translate(-157px);
  transition: -webkit-transform 200ms ease-out 60ms, @draggable-box-shadow-transition;
  transition: transform 200ms ease-out 60ms, @draggable-box-shadow-transition;
  .kifi-tile.ui-draggable & {
    box-shadow: @draggable-box-shadow;
  }
  &:hover,
  &:focus {
    @url: %(@svgSendDataUrl, #3f9f65);
    background-image: url(@url), linear-gradient(#fff, #f3f3f3);
  }
  &:active {
    @url: %(@svgSendDataUrl, #3f9f65);
    background-image: url(@url);
    background-color: #f3f3f3;
  }
  .kifi-hidden>& {
    -webkit-transform: rotate(10deg) scale(.8);
    transform: rotate(10deg) scale(.8);
  }
}
.kifi-dock-messages>.kifi-count {
  top: -7px;
  left: -2px;
}

.kifi-titled-tip {
  margin-top: 4px;
  border-top: 1px solid #fff;
  padding-top: 6px;
}

.kifi-drag-glass {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999999993;
  background: transparent;
  cursor: move;
}
