@box-width: 302px;

.kifi-keep-box {
  position: absolute;
  bottom: 56px;
  right: 2px;
  width: @box-width;
  border-radius: 4px 4px 12px 12px !important;
  text-align: left;
  -webkit-transform-origin: 85% bottom;
  transform-origin: 85% bottom;
  transition: opacity linear, -webkit-transform ease-out;
  transition: opacity linear, transform ease-out;
  transition-duration: .2s;
}
.kifi-keep-box.kifi-down {
  opacity: 0;
  -webkit-transform: scale(.1);
  transform: scale(.1);
  transition-timing-function: ease-in;
}
.kifi-keep-box-top {
  border-radius: inherit !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding-left: 16px;
  line-height: 37px;
  font-size: 13px;
  background: #333;
  color: #fff;
  font-weight: 300;
  letter-spacing: .3px;
}
.kifi-keep-box-x {
  position: absolute;
  top: 7px;
  right: 7px;
  height: 24px;
  width: 24px;
  border-radius: 50% !important;
  &:hover,
  &:focus {
    background: #555;
    &:active {
      background: #444;
    }
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 50%;
    width: 2px;
    background: #eee;
    font-size: 0;
  }
  &::before {
    -webkit-transform: translate(-1px) rotate(45deg);
    transform: translate(-1px) rotate(45deg);
  }
  &::after {
    -webkit-transform: translate(-1px) rotate(-45deg);
    transform: translate(-1px) rotate(-45deg);
  }
}

@view-width: @box-width - 2px;
@view-swipe-duration: .21s;
.kifi-keep-box-viewport {
  border: solid rgba(0,0,0,.3);
  border-width: 0 1px 1px;
  border-radius: inherit !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: height @view-swipe-duration;
}
.kifi-keep-box-cart {
  background: linear-gradient(to right, #ddd, #fff 50%, #ddd);
  &.kifi-animated {
    position: absolute;
    top: 0;
    left: 0;
    width: (2 * @view-width);
    bottom: 0;
    transition: -webkit-transform @view-swipe-duration ease-in-out;
    transition: transform @view-swipe-duration ease-in-out;
  }
  &.kifi-back:not(.kifi-roll),
  &.kifi-roll.kifi-forward {
    -webkit-transform: translate3d(-@view-width,0,0);
    transform: translate3d(-@view-width,0,0);
  }
}
.kifi-keep-box-view {
  background: #fff;
  width: @view-width;
  .kifi-animated>& {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .kifi-back>&:last-child,
  .kifi-forward>&:nth-child(2) {
    left: @view-width;
  }
}

@svgLockDataUrl: 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.7 9"><path fill="%D" d="M6,3.7L6,3.7L5.9,2.5C5.9,1.2,4.7,0,3.4,0S0.8,1.2,0.8,2.5v1.3H0.7C0.3,3.7,0,4,0,4.5v3.6C0,8.6,0.4,9,0.8,9h5.1c0.4,0,0.8-0.4,0.8-0.9V4.5C6.7,4,6.5,3.7,6,3.7z M1.7,2.5c0-0.7,0.7-1.6,1.7-1.6s1.7,0.9,1.7,1.6v1.3H1.7V2.5z"/></svg>';

@lib-input-height: 31px;
.kifi-keep-box-lib-input {
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  @padding-top-bottom: 8px;
  padding: @padding-top-bottom 10px;
  line-height: (@lib-input-height - 2 * @padding-top-bottom);
  font-size: 13px;
}
.kifi-keep-box-libs {
  position: relative;
  overflow: hidden;
  &>.kifi-scroll-inner {
    max-height: 400px;
    min-height: 300px;
    overflow: hidden !important;
    overflow-y: auto !important;
  }
}

.kifi-keep-box-lib-head,
.kifi-keep-box-new-lib-head,
.kifi-keep-box-keep-head {
  background-color: #fbf5f3;
  line-height: 26px;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
}
.kifi-keep-box-lib-head,
.kifi-keep-box-new-lib-head {
  padding-left: 10px;
}

@lib-height: 39px;
@lib-bg-height: 26px;
@lib-bg-width: 52px;
@lib-font-size: 13px;
@lib-font-weight: 300;
@lib-color: #333;
.kifi-keep-box-lib {
  display: block;
  border: solid #ece8e6;
  border-width: 0 0 1px;
  background: url(/images/keeper/lib_cards.png) 14px ((@lib-height - @lib-bg-height) / 2) / auto @lib-bg-height no-repeat;
  line-height: @lib-height;
  font-size: @lib-font-size;
  font-weight: @lib-font-weight;
  padding-left: @lib-bg-width;
  color: @lib-color !important;
  .kifi-keep-box-view-keep>& {
    border-bottom-color: #ccc;
  }
  &.kifi-highlighted {
    background-color: #e8e8e8;
    &:active {
      background-color: #e3e3e3;
    }
  }
  &:first-child {
    border-top-width: 1px;
  }
  &.kifi-secret {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 12px;
      width: 9px;
      @height: 12px;
      height: @height;
      margin-top: -(@height / 2) - 1px;
      @url: %(@svgLockDataUrl, rgba(0,0,0,.2));
      background-image: url(@url);
      background-size: 9px 12px;
    }
  }
  &.kifi-create {
    background-image: url(/images/keeper/lib_cards_new.png);
    font-weight: 500;
  }
}
.kifi-keep-box-lib-remove {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 10px;
  line-height: @lib-height;
  font-size: 10px;
  color: #a00 !important;
  &:hover,
  &:focus {
    @bg-color: #ffe8e8;
    background-color: @bg-color;
    &:active {
      background-color: shade(@bg-color, 4%);
    }
  }
}

.kifi-keep-box-new-lib-h1 {
  padding: 10px 16px 10px 6px;
  font-size: 14px;
}
.kifi-keep-box-new-lib-head {
  border: solid #bbb;
  border-width: 1px 0;
  &.kifi-secret::after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 12px;
    margin-left: 6px;
    vertical-align: -1px;
    @url: %(@svgLockDataUrl, rgba(0,0,0,.2));
    background-image: url(@url);
    background-size: 9px 12px;
  }
}
.kifi-keep-box-new-lib-name {
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(/images/keeper/lib_cards_new.png) 14px ((@lib-height - @lib-bg-height) / 2) no-repeat !important;
  background-size: auto @lib-bg-height !important;
  @line-height: (@lib-font-size + 4px);
  line-height: @line-height;
  font-size: @lib-font-size;
  font-weight: @lib-font-weight;
  padding: ((@lib-height - @line-height) / 2) @lib-bg-width;
  padding-right: 0;
  color: @lib-color !important;
  margin-bottom: 4px;
}
.kifi-keep-box-new-lib-visibility {
  margin: 16px 30px 0;
  line-height: 17px;
  color: #aaa;
}
.kifi-keep-box-new-lib-secret {
  @height: 26px;
  display: block;
  height: @height;
  width: 60px;
  background: #e3e3e3;
  box-shadow: inset -2px 3px 1px rgba(0,0,0,.2);
  border-radius: 4px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  &::before {
    content: 'Yes    No ';
    display: inline-block;
    line-height: @height;
    text-align: center;
    width: 100%;
    font-size: 11px;
    font-weight: 500;
    color: #555;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 28px;
    height: 22px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.5);
    background-color: #fff;
    background-image: linear-gradient(#f8f8f8,#fdfdfd 30%,#fdfdfd 50%,#f4f4f4);
    transition: -webkit-transform .2s;
    transition: transform .2s;
  }
  .kifi-checked>&::after {
    -webkit-transform: translate(28px);
    transform: translate(28px);
  }
  &:hover::after,
  &:focus::after {
    background-image: linear-gradient(#fffbe2,#fefcf1 30%,#fefcf1 50%,#f9f4d2);
  }
}
.kifi-checked>.kifi-keep-box-new-lib-desc-1,
:not(.kifi-checked)>.kifi-keep-box-new-lib-desc-2 {
  display: none;
}

.kifi-keep-box-keep-head::after {
  content: 'Keep into';
  .kifi-kept>& {
    content: 'Kept in';
  }
}
.kifi-keep-box-back {
  display: inline-block;
  line-height: inherit;
  padding: 0 10px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    @radius: 9px;
    width: 2 * @radius;
    height: 2 * @radius;
    border-radius: @radius;
    margin: -@radius 0 0 -@radius;
  }
  &:hover::before,
  &:focus::before {
    background: rgba(0,0,0,.1);
  }
  &:hover:active::before,
  &:focus:active::before {
    background: rgba(0,0,0,.16);
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    @half-height: 4px;
    @half-width: 4px;
    margin: -@half-height 0 0 -(@half-width + 1px);
    border-style: solid;
    border-width: @half-height (2 * @half-width) @half-height 0;
    border-color: transparent #777;
    vertical-align: middle;
  }
  &:hover::after,
  &:focus::after {
    border-right-color: #444;
  }
}
.kifi-keep-box-keep-title {
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px 6px 2px 10px;
  line-height: 19px;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.kifi-keep-box-page-site {
  margin: 0 0 10px 10px;
  line-height: 13px;
  font-size: 11px;
  color: #999;
}
@image-height: 240px;
.kifi-keep-box-keep-image-picker {
  height: @image-height;
  position: relative;
  overflow: hidden;
}
.kifi-keep-box-keep-image-cart {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &.kifi-animated {
    @duration: .2s;
    transition: -webkit-transform @duration ease-in-out;
    transition: transform @duration ease-in-out;
  }
  &.kifi-back:not(.kifi-roll),
  &.kifi-roll.kifi-forward {
    -webkit-transform: translate3d(-@view-width,0,0);
    transform: translate3d(-@view-width,0,0);
  }
}
.kifi-keep-box-keep-image {
  position: absolute;
  top: 0;
  left: 0;
  width: @view-width;
  bottom: 0;
  .kifi-back>&:last-child,
  .kifi-forward>&:nth-child(2) {
    left: @view-width;
  }
  background-color: #f0f8ff;
  background-position: center;
  background-size: cover;
  &.kifi-none {
    text-align: center;
    line-height: @image-height;
    font-size: 24px;
    color: rgba(0,0,0,.2);
    &::before {
      content: 'no image';
    }
  }
}
.kifi-keep-box-image-prev,
.kifi-keep-box-image-next {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
  background: rgba(128,128,128,.5);
  &:hover,
  &:focus {
    background-color: rgba(100,100,100,.5);
    &:active {
      background-color: rgba(80,80,80,.5);
    }
  }
  &::before {
    content: '';
    border: solid #fff;
    border-width: 2px 2px 0 0;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 50%;
    margin-top: -7px;
  }
}
.kifi-keep-box-image-prev {
  left: 0;
  &::before {
    -webkit-transform: rotate(-135deg);
    left: 50%;
    margin-left: -4px;
  }
}
.kifi-keep-box-image-next {
  right: 0;
  &::before {
    -webkit-transform: rotate(45deg);
    right: 50%;
    margin-right: -4px;
  }
}

.kifi-keep-box-tags { // initial input
  display: block;
  height: 41px;
  padding: 6px 10px;
  background: #fffaf8;
}
.kifi-keep-box-tags,
.kifi-keep-box-tags-list {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.kifi-keep-box-tags,
.kifi-keep-box-tags-token-for-input>input {
  height: auto;
  min-height: 0;
  margin: 0;
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.kifi-keep-box-tags-token-for-input>input {
  width: 100px;
  padding: 3px 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: none;
  transition: none;
}
.kifi-keep-box-tags-list {
  padding: 3px 10px 0 7px !important;
  height: auto !important;
  min-height: 24px;
  list-style: none;
  // overflow: hidden;
  background-color: #fff;
  color: #524d4d;
  cursor: text;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    right: 11px;
    top: 50%;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    background: url(/images/spinner_32.gif) no-repeat;
    background-size: contain;
    opacity: 0;
    transition: opacity .2s linear;
  }
  &.kifi-keep-box-tags-searching::before {
    opacity: .5;
    transition-delay: .4s;
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
.kifi-keep-box-tags-token-for-input { // input wrapper
  float: left;
  margin: 0 0 3px 3px !important;
  padding: 0 !important;
  list-style-type: none;
  &:not(:first-child) {
    margin-left: 5px !important;
  }
}
.kifi-keep-box-tags-token {
  overflow: hidden;
  margin: 0 0 3px 3px !important;
  padding: 3px 0 3px 5px !important;
  border-radius: 3px !important;
  background-color: #6fa6ef;
  color: #fff;
  cursor: default;
  float: left;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.kifi-keep-box-tags-token-selected {
  background-color: #4c8ffb;
}
.kifi-keep-box-tags-token-x {
  margin-left: 3px;
  padding: 2px 4px 4px 3px;
  position: relative;
  bottom: 1px;
  cursor: pointer;
  &:hover {
    background-color: #4c8ffb;
    .kifi-keep-box-tags-selected>& {
      background-color: #6fa6ef;
    }
  }
}
.kifi-keep-box-tags-dropdown {
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #fff;
  overflow: hidden;
  cursor: default;
  transition-property: height, opacity;
  transition-timing-function: ease;
  transition-duration: .2s, .12s;
  transition-delay: 0s, .08s;
  &:not(:empty) {
    border: 1px solid #d2d2d2;
  }
}
.kifi-keep-box-tags-dropdown-clone {
  position: absolute;
  z-index: 1;
  transition-duration: .2s;
  transition-delay: 0s;
}
.kifi-keep-box-tags-dropdown-item {
  position: relative;
  margin: 0 !important;
  padding: 3px 6px !important;
  white-space: nowrap;
  &.kifi-keep-box-tags-dropdown-item-selected {
    background-color: #f4f4f4;
  }
}
.kifi-keep-box-btn,
.kifi-keep-box-create {
  display: block;
  position: relative;
  line-height: 35px;
  font-size: 11px;
  color: #fff !important;
  font-weight: 500;
  text-shadow: 0 0 2px rgba(0,0,0,.3);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px;
  &::before {
    display: inline-block;
    position: relative;
  }
  &.kifi-doing::before,
  &.kifi-done::before {
    opacity: 0;
    -webkit-transform: translate(60px);
    transform: translate(60px);
    transition: opacity .16s linear, -webkit-transform .16s ease-in-out;
    transition: opacity .16s linear, transform .16s ease-in-out;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    @half-width: 9px;
    @half-height: 6px;
    width: (2 * @half-width);
    height: (2 * @half-height);
    margin: -@half-height 0 0 -@half-width;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 8"><path fill="white" d="M3.646,7.858l-3.5-3.417c-0.195-0.188-0.195-0.494,0-0.684l0.707-0.684c0.195-0.188,0.512-0.188,0.707,0L4,5.467l5.439-5.325c0.195-0.188,0.512-0.188,0.707,0l0.707,0.684c0.195,0.188,0.195,0.495,0,0.683l-6.5,6.351C4.158,8.047,3.842,8.047,3.646,7.858z"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transform: translate(-60px);
    transform: translate(-60px);
  }
  &.kifi-done::after {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transition: opacity .16s linear, -webkit-transform .16s ease-in-out;
    transition: opacity .16s linear, transform .16s ease-in-out;
  }
}
.kifi-keep-box-btn {
  @bg-color: #999;
  background-color: @bg-color;
  transition: background-color .1s;
  &:hover,
  &:focus {
    transition: none;
    background-color: tint(@bg-color, 8%);
    &:active {
      background-color: shade(@bg-color, 4%);
    }
  }
  &::before {
    content: 'Close';
  }
  .kifi-dirty>& {
    @bg-color: #9bceff;
    background-color: @bg-color;
    &:hover,
    &:focus {
      background-color: tint(@bg-color, 8%);
      &:active {
        background-color: shade(@bg-color, 4%);
      }
    }
    &::before {
      content: 'Save';
    }
  }
}
.kifi-keep-box-create {
  @bg-color: #9bceff;
  background-color: @bg-color;
  &:hover,
  &:focus {
    background-color: tint(@bg-color, 8%);
    &:active {
      background-color: shade(@bg-color, 4%);
    }
  }
  &::before {
    content: 'Create Library     ';
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 12 10"><filter id="shadow"><feGaussianBlur in="SourceAlpha" stdDeviation="1" result="a"/><feColorMatrix in="a" result="b" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 .3 0"/><feBlend in="SourceGraphic" in2="b" mode="normal"/></filter><g filter="url(#shadow)"><path fill="white" d="M9.859,3.66L6.498,0.147c-0.188-0.196-0.491-0.196-0.679,0L5.141,0.856c-0.188,0.196-0.188,0.514,0,0.71l2.343,2.449L5.171,6.433c-0.188,0.196-0.188,0.515,0,0.71l0.679,0.71c0.188,0.196,0.491,0.196,0.679,0l3.331-3.481C10.047,4.174,10.047,3.857,9.859,3.66z"/><path fill="white" d="M1.498,0.147c-0.188-0.196-0.491-0.196-0.679,0L0.141,0.856c-0.188,0.196-0.188,0.514,0,0.71l2.343,2.449L0.171,6.433c-0.188,0.196-0.188,0.515,0,0.71l0.679,0.71c0.188,0.196,0.491,0.196,0.679,0l3.331-3.481c0.188-0.197,0.188-0.514,0-0.711L1.498,0.147z"/></g></svg>');
    background-repeat: no-repeat;
    background-size: 12px 10px;
    background-position: right center;
  }
}
.kifi-keep-box-progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background: #4daf7c;
  &.kifi-secret {
    background: #e65b45;
  }
  .kifi-done>& {
    width: 100% !important;
    transition: width .16s ease-in-out;
  }
  .kifi-fail>& {
    background: #b00;
    width: 0 !important;
    transition: width .24s ease-in-out;
  }
}
