.kifi-li {
  position: absolute;
  z-index: -1;
  right: 110%;
  top: 0;
  border-radius: 16px;
  background: #48b07a;
  color: #fff;
  padding: 16px 20px 16px 20px;
  white-space: nowrap;
  line-height: 17px;
  font-size: 13px;
  box-shadow: 4px 4px 20px rgba(0,0,0,.4);
  transition: -webkit-transform .2s, opacity .2s;
  transition: transform .2s, opacity .2s;
  -webkit-transform-origin: right 30%;
  transform-origin: right 30%;
  &:not(.kifi-showing) {
    -webkit-transform: translate(200px) scale(.3);
    transform: translate(200px) scale(.3);
    opacity: 0;
  }
  &::after {
    @width: 15px;
    @half-height: 12px;
    content: '';
    position: absolute;
    right: -@width;
    top: 30%;
    margin-top: -@half-height;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #48b07a;
    border-width: @half-height 0 @half-height @width;
  }
}
.kifi-li-greeting {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
.kifi-li-ul {
  margin-top: 12px;
  padding-left: 18px;
}
.kifi-li-ul-li {
  display: list-item;
  list-style-type: disc;
  margin: 10px 0;
  .kifi-li-2 & {
    margin: 4px 0;
  }
  font-size: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}
.kifi-li-ul-li-text {
  font-size: 13px;
  vertical-align: 1px;
}
.kifi-li-a {
  display: inline-block;
  margin-top: 16px;
  border-radius: 13px;
  padding: 0 20px;
  line-height: 24px;
  font-size: 10px;
  color: #fff !important;
  border: 1px solid #fff;
  &:hover:not(:active),
  &:focus:not(:active) {
    background-color: rgba(255,255,255,.1);
  }
}
.kifi-li-close {
  float: right;
  border-color: transparent;
  background-color: rgba(255,255,255,.95);
  color: #48b07a !important;
  &:hover:not(:active),
  &:focus:not(:active) {
    background-color: #fff;
  }
}
