.kifi-llb-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999999998;
  text-align: center;
}
.kifi-llb-dialog-box {
  position: fixed;
  top: 50%;
  right: 336px;
  width: 316px;
  border: 1px solid #333;
  border-radius: 5px !important;
  box-shadow: 0 2px 8px 1px rgba(0,0,0,.3);
  background: #fff;
  color: #333;
  padding: 20px 24px;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
  line-height: 1.4;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: opacity .34s linear, -webkit-transform .34s ease-in;
  transition: opacity .34s linear, transform .34s ease-in;
}
.kifi-showing>.kifi-llb-dialog-box {
/*
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  transition-timing-function: linear, ease-out;
*/
}
.kifi-llb-dialog-box.kifi-range {
  width: 350px;
}
.kifi-llb-dialog-box.kifi-image {
  text-align: center;
}
.kifi-llb-dialog-body {
  text-align: left;
  color: #888;
}
.kifi-llb-dialog-body:not(:last-child) {
  margin-bottom: 18px;
}
.kifi-llb-dialog-img-a {
  display: block;
  margin: 20px 0 0;
}
.kifi-llb-dialog-img {
  max-width: 400px;
  max-height: 200px;
}
.kifi-llb-dialog-quote-mark {
  position: absolute;
  margin-top: -6px;
  color: #ddd;
  font: 48px/1 'Times New Roman',serif;
}
.kifi-llb-dialog-quote {
  margin-left: 25px;
  max-height: 200px;
  overflow: auto;
}
.kifi-llb-dialog-p+.kifi-llb-dialog-pp {
  padding-top: 6px;
}

.kifi-llb-dialog-x {
  position: absolute;
  top: 3px;
  right: 3px;
  height: 16px;
  width: 16px;
  border-radius: 50% !important;
}
.kifi-llb-dialog-x:hover,
.kifi-llb-dialog-x:focus {
  background: #e0e0e0;
}
.kifi-llb-dialog-x:hover:active {
  background: #ccc;
}
.kifi-llb-dialog-x::before,
.kifi-llb-dialog-x::after {
  content: '';
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 50%;
  width: 1px;
  background: #888;
  font-size: 0;
}
.kifi-llb-dialog-x::before {
  -webkit-transform: translate(-.5px) rotate(45deg);
  transform: translate(-.5px) rotate(45deg);
}
.kifi-llb-dialog-x::after {
  -webkit-transform: translate(-.5px) rotate(-45deg);
  transform: translate(-.5px) rotate(-45deg);
}
.kifi-llb-dialog-x:hover::before,
.kifi-llb-dialog-x:hover::after,
.kifi-llb-dialog-x:focus::before,
.kifi-llb-dialog-x:focus::after {
  background: #888;
}
.kifi-llb-dialog-x:hover:active::before,
.kifi-llb-dialog-x:hover:active::after {
  background: #fff;
}
