@import (reference) 'symbol-sprite.less';

.kifi-message-context-main {
  display: flex;
  flex-flow: row nowrap;
  padding: 5px 8px;
  border-bottom: 1px solid #ccc;
}

.kifi-message-context-image {
  width: 54px;
  height: 54px;
  background-size: cover;
}

.kifi-message-context-controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex: 1 0 0;
  margin-left: 5px;
  overflow: hidden;
}

.kifi-message-context-controls-title {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 2px;
  line-height: 16px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: none!important;
  border-radius: 4px;
  transition: background-color .2s, border-color .2s;
  border: 1px dotted transparent;

  &:focus {
    border-color: #ccc;
    background: rgba(255, 255, 255, .9)!important;
  }
}

.kifi-message-context-controls-location {
  font-size: 14px;
  padding: 0 2px;
  color: #ababab;
}

.kifi-message-context-elide {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.kifi-message-context-edit {
  @url: %(@kifi-symbol-pencil, #333, #333, #333);
  width: 22px;
  height: 22px;
  margin: 8px 0px auto 5px;
  border: 0;
  background: url(@url);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

  &:hover {
    opacity: .6;
  }
  &:active {
    opacity: 1;
  }
}

.kifi-progress-parent {
  position: relative;
}
.kifi-progress {
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 2px;
  width: 0;
  background: #7bacf1;
  &.kifi-done {
    width: 100% !important;
    transition: width .16s ease-in-out;
  }
  &.kifi-fail {
    background: #b00;
    width: 0 !important;
    transition: width .24s ease-in-out;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 5px;
    right: 4px;
    width: 16px;
    height: 12px;
    @url: %(@kifi-symbol-check, #48b07a);
    background: url(@url) right center/contain no-repeat !important;
    clip: rect(0,0,12px,0);
    transition: clip .16s .16s;
  }
  &.kifi-done::after {
    clip: rect(0,16px,12px,0);
  }
}
