.kifi-message-participants {
  position: relative;
  padding: 9px 12px;
  color: #67829c;
  background: #eff2f7;
  border-bottom: 1px solid #e1e8e9;
}
.kifi-message-participants-1 {
  position: relative;
  text-align: center;
}
.kifi-group-conversation .kifi-message-participants-1 {
  display: none;
}
.kifi-message-participants-n {
  display: none;
  position: relative;
}
.kifi-group-conversation .kifi-message-participants-n {
  display: block;
}
.kifi-message-participants-title {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 6px;
}
.kifi-message-participants-1 .kifi-message-participants-title {
  margin-bottom: 2px;
}
.kifi-participant-count {
  font-size: 1.1em;
  font-weight: 400;
}
.kifi-message-recipient-name {
  color: #000000;
}
.kifi-message-participants-avatar-container {
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
}
.kifi-message-participants-avatars {
  display: inline-block;
  white-space: nowrap;
  list-style: none;
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
}
.kifi-message-participant-avatar {
  display: inline-block;
  width: 29px;
  height: 29px;
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 3px;
}
.kifi-message-participant-avatar img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.kifi-message-participants-avatars-expand {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 13px;
  text-align: center;
  text-decoration: none;
  padding: 2px 4px;
  padding-top: 0;
  vertical-align: bottom;
  border-radius: 2px;
  color: #eff2f7;
  background: #b8c5d1;
}
