.kifi-message-keepscussion-header {
  padding: 0 10px;
  border-bottom: 1px lightgray solid;
}

.kifi-message-keepscussion-header-count {
  padding: 5px 0;
  font-size: 13px;
  color: black;
  font-smoothing: antialiased;
}

.kifi-message-keepscussion-header-lib {
  margin: 0 -10px;
  border-top: 1px lightgray solid;
  border-top: 1px lightgray solid;
  background-color: #fff;
}
