.kifi-message-participants {
  position: relative;
  padding: 3px 0px;
  color: #111111;
  background: #eff2f7;
  border-bottom: 1px solid #e1e8e9;
}
.kifi-message-participants-1 {
  position: relative;
  text-align: center;
  padding: 3px 0;
}
.kifi-group-conversation .kifi-message-participants-1 {
  display: none;
}
.kifi-message-participants-n {
  display: none;
  position: relative;
}
.kifi-group-conversation .kifi-message-participants-n {
  display: block;
}
.kifi-message-participants-title {
  font-size: 13px;
  margin-bottom: 6px;
}
.kifi-message-participants-1 .kifi-message-participants-title {
  font-weight: 200;
  margin-bottom: 2px;
  color: #67829c;
}
.kifi-message-participants-n .kifi-message-participants-title {
  font-weight: 500;
  color: #111111;
  padding: 0 7px;
}
.kifi-participant-count {
  font-size: 1.1em;
  color: #67829c;
}
.kifi-participant-count.kifi-highlight {
  -webkit-animation-name: kifi-highlight-count;
  -moz-animation-name: kifi-highlight-count;
  animation-name: kifi-highlight-count;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  animation-duration: 5s;
}
@-webkit-keyframes kifi-highlight-count {
  0% {
    color: #6fa6ef;
  }
  100% {
    color: #67829c;
  }
}
@keyframes kifi-highlight-count {
  0% {
    color: #6fa6ef;
  }
  100% {
    color: #67829c;
  }
}
.kifi-message-recipient-name {
  color: #000000;
}
.kifi-message-participants-avatar-container {
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  padding: 0 7px;
  opacity: 1;
  transition: opacity 0.15s linear;
}
.kifi-message-participants.kifi-expanded .kifi-message-participants-avatar-container {
  position: absolute;
  opacity: 0;
}
.kifi-message-participants-avatars {
  display: inline-block;
  white-space: nowrap;
  list-style: none;
  font-size: 0;
  line-height: 0;
}
.kifi-message-participant-avatar {
  display: inline-block;
  width: 29px;
  height: 29px;
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 3px;
}
.kifi-message-participant-avatar img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.kifi-message-participant-avatar.kifi-highlight {
  -webkit-animation-name: kifi-highlight-shadow;
  -moz-animation-name: kifi-highlight-shadow;
  animation-name: kifi-highlight-shadow;
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  animation-duration: 10s;
}
@-webkit-keyframes kifi-highlight-shadow {
  0% {
    box-shadow: 0 0 3px 2px #6fa6ef;
  }
  100% {
    box-shadow: 0 0 3px 2px transparent;
  }
}
@keyframes kifi-highlight-shadow {
  0% {
    box-shadow: 0 0 3px 2px #6fa6ef;
  }
  100% {
    box-shadow: 0 0 3px 2px transparent;
  }
}
.kifi-message-participants-avatars-expand {
  display: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 13px;
  text-align: center;
  text-decoration: none;
  padding: 2px 4px;
  padding-top: 0;
  vertical-align: bottom;
  border-radius: 2px;
  color: #eff2f7;
  background: #b8c5d1;
}
.kifi-message-participants-avatars-expand:hover,
.kifi-message-participants-avatars-expand:focus {
  background: #a9b8c7;
}
.kifi-message-participants-avatars-expand:active {
  background: #8a9fb3;
}
.kifi-message-participants.kifi-overflow .kifi-message-participants-avatars-expand {
  display: inline-block;
}
.kifi-message-participant-list-root {
  position: relative;
  height: 0;
  transition: height 0.3s ease;
  overflow: hidden;
}
.kifi-message-participant-list-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.kifi-message-participant-list {
  position: relative;
}
.kifi-message-participant-list-inner {
  position: relative;
  max-height: 333px;
  line-height: 0;
  list-style: none;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}
.kifi-message-participant-item {
  position: relative;
  line-height: 35px;
  padding: 2px 7px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 500;
}
.kifi-message-participant-item img {
  width: 35px;
  height: 35px;
  border: 0;
  border-radius: 2px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  float: left;
  vertical-align: middle;
}
.kifi-message-participant-item.kifi-highlight {
  -webkit-animation-name: kifi-highlight-backround;
  -moz-animation-name: kifi-highlight-backround;
  animation-name: kifi-highlight-backround;
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  animation-duration: 10s;
}
@-webkit-keyframes kifi-highlight-backround {
  0% {
    background: #b4d1f7;
  }
  100% {
    background: transparent;
  }
}
@keyframes kifi-highlight-backround {
  0% {
    background: #6fa6ef;
  }
  100% {
    background: transparent;
  }
}
.kifi-message-participant-list-hide {
  display: block;
  color: #eff2f7;
  background: #67829c;
  border-radius: 2px;
  padding: 9px 0;
  margin: 0 7px;
  margin-top: 2px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}
.kifi-message-participant-list-hide:hover,
.kifi-message-participant-list-hide:focus {
  background: #5c758d;
}
.kifi-message-participant-list-hide:active {
  background: #485c6f;
}
.kifi-message-add-participant {
  display: block;
  width: 29px;
  height: 14px;
  border: 8px solid transparent;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAQAAAADQ4RFAAAA0klEQVR4AXXUMW7DMBBE0alE5zhRrm0gMSxLvkfoKyhKYV/hB4ttSITzp34ViVXEOwdXTsiPwicHM0IiyJPoblmQlegZTMxJGuYJycQO0DNLsh9xpm9LZglcxMQyZoZsFOGZIUgkuw2YIYEcq9QRaVGwFVtLAhnmSYc8S+KQKHz/I7UhBtUBmgwy75KtPfOk79YyT/DMkwcPx4T/Y4WNviWZJ0KcxswTGXZlEl94kuxO31nshni252HxJPfWsBcfItjLk4YlmZFIdnBJ4hkLv0HQHxvW+Tv3j7AoAAAAAElFTkSuQmCC);
  background-size: auto 14px;
  vertical-align: middle;
}
.kifi-message-add-participant.kifi-active {
  background: #b8c5d1;
}
.kifi-message-participant-dialog {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  padding: 9px 12px;
  box-sizing: border-box;
  color: white;
  background: #b8c5d1;
}
.kifi-message-participant-dialog .kifi-ti-list {
  padding: 3px !important;
  padding-top: 6px !important;
  border: 0 !important;
  border-radius: 0;
}
.kifi-message-participant-dialog .kifi-ti-token {
  font-size: 13px;
  font-weight: 200;
  letter-spacing: .5px;
  line-height: 16px;
}
.kifi-message-participant-dialog input {
  font-family: 'Helvetica Neue';
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 16px;
  border: 0;
  padding: 0;
}
.kifi-message-participants.kifi-dialog-opened .kifi-message-participant-dialog {
  display: block;
}
.kifi-message-participant-dialog-title {
  font-weight: 100;
  letter-spacing: .5px;
  margin-bottom: 6px;
}
.kifi-message-participant-dialog-button {
  float: right;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: .5px;
  padding: 7px 16px;
  border-radius: 2px;
  margin-top: 8px;
  color: white;
  background: #67829c;
  text-decoration: none;
}
.kifi-message-participant-dialog-button:hover,
.kifi-message-participant-dialog-button:focus {
  background: #5c758d;
}
.kifi-message-participant-dialog-button:active {
  background: #4e6378;
}
.kifi-clear {
  clear: both;
}
.kifi-root kifi-ti-dropdown {
  border: 1px solid #67829c;
  border-bottom-width: 2px;
}
