@import (reference) 'lib_icons.less';

@fgColor: #111111;
@buttonBgColor: #67829c;
@borderColor: #ccc;
@recipientFgColor: black;
@dotBgColor: #b8c5d1;
@dotFgColor: #eff2f7;
@picSize: 29px;
@listPicSize: 35px;
@duration: .3s;
@itemPaddingX: 12px;
@highlightColor: #6fa6ef;

.kifi-message-participants {
  position: relative;
  padding: 8px 0px;
  color: @fgColor;
  border-bottom: 1px solid @borderColor;
}

.kifi-message-participants-1 {
  text-align: center;
  position: relative;
  top: 3px;

  :not([data-kifi-participants="1"])>& {
    display: none;
  }
}

.kifi-message-participants-2 {
  text-align: center;
  padding: 3px 0;

  :not([data-kifi-participants="2"])>& {
    display: none;
  }
}

.kifi-message-participants-n {
  position: relative;

  [data-kifi-participants="1"]>&,
  [data-kifi-participants="2"]>& {
    display: none;
  }
}

.kifi-message-participants-title {
  font-size: 13px;
  margin-bottom: 6px;

  .kifi-message-participants-2 & {
    font-weight: 200;
    margin-bottom: 2px;
    color: @buttonBgColor;
  }

  .kifi-message-participants-n & {
    color: @fgColor;
    padding: 0 @itemPaddingX;
  }
}

.kifi-message-participant-1-or-2-add {
  border-top: 1px solid @borderColor;
  text-align: center;
}

.kifi-message-participant-1-or-2-add-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 8px 0;
  margin-bottom: -8px;
  color: @fgColor!important;
  font-size: 14px;

  &::before {
    content: '+';
    display: inline-block;
    margin-left: -4px;
  }

  &:hover, &:focus {
    background-color: rgba(255,255,255,.6);
  }
  &:active {
    background-color: rgba(0,0,0,.04);
  }
  &.kifi-active {
    background-color: @dotBgColor;
  }
}

.kifi-participant-count {
  font-size: 1.1em;
  color: @buttonBgColor;

  &.kifi-highlight {
    -webkit-animation-name: kifi-highlight-count;
    animation-name: kifi-highlight-count;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
  }
}

@-webkit-keyframes kifi-highlight-count {
	0% {
    color: @highlightColor;
	}
	100% {
    color: @buttonBgColor;
	}
}
@keyframes kifi-highlight-count {
	0% {
    color: @highlightColor;
	}
	100% {
    color: @buttonBgColor;
	}
}

.kifi-message-participant-name {
  color: @recipientFgColor;
}

.kifi-message-participants-avatar-container {
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  padding: 0 @itemPaddingX;
  opacity: 1;
  transition: opacity @duration/2 linear;

  .kifi-message-participants.kifi-expanded & {
    position: absolute;
    opacity: 0;
  }
}

.kifi-message-participants-avatars {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.kifi-message-participant-avatar {
  display: inline-block;
  width: @picSize;
  height: @picSize;
  border: 0;
  padding: 0;
  margin: 0 3px 0 0;

  .kifi-message-participant-avatar-img,
  .kifi-message-participant-email-image {
    border-radius: 50% !important;
  }

  &.kifi-highlight .kifi-message-participant-avatar-img,
  &.kifi-highlight .kifi-message-participant-email-image {
    animation-name: kifi-highlight-shadow;
    animation-duration: 10s;
  }

  .kifi-message-participant-avatar-img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .kifi-message-participant-email-image {
    display: table-cell;
    width: @picSize;
    height: @picSize;
    line-height: 29px;
    text-align: center;
    font-size: 20px;
    color: white;
  }
}

.kifi-message-participant-avatar-lib {
  width: auto;
  height: auto;
  font-size: 13px;
  line-height: 13px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;

  a {
    display: inline-block;
    padding: 5px 7px;
    line-height: 13px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a,
  a:hover,
  a:active {
    color: #fff;
  }

  &.kifi-highlight {
    animation-name: kifi-highlight-shadow;
    animation-duration: 10s;
  }
}

.kifi-message-participant-avatar-lib-visiblity {
  width: 9px;
  height: 14px;
  margin: 0 3px -3px;
  background-position: center;
  background-repeat: no-repeat;
  display: none;

  [data-visibility="secret"] & {
    @url: %(@svgLibCardLockDataUrl, #fff);
    display: inline-block;
    background-image: url(@url);
  }

  [data-visibility="published"] & {
    @url: %(@svgLibCardGlobeDataUrl, #fff);
    display: inline-block;
    margin-bottom: -2px;
    background-image: url(@url);
    background-size: 150%;
  }

  [data-visibility="discoverable"] & {
    @url: %(@svgLibCardStarDataUrl, #fff, 4);
    display: inline-block;
    width: 12px;
    margin: 0 1px -2px;
    background-image: url(@url);
    background-size: 100%;
  }

  [data-visibility="organization"] & {
    @url: %(@svgLibCardOrgPrivateDataUrl, #fff, 4);
    display: inline-block;
    width: 12px;
    background-image: url(@url);
    background-size: 125%;
  }
}

@keyframes kifi-highlight-shadow {
	0% {
    box-shadow: 0 0 3px 2px @highlightColor;
	}
	100% {
    box-shadow: 0 0 3px 2px transparent;
	}
}

.kifi-message-participants-avatars-actions {
  display: inline-block;
  border-radius: 5px !important;
  padding: 4px 5px;
  line-height: 12px;
  font-size: 12px;
  text-align: center;
  color: white;
  background: @dotBgColor;

  &:hover, &:focus {
    color: white;
    background: shade(@dotBgColor, 10%);
  }

  &:active {
    color: white;
    background: shade(@dotBgColor, 20%);
  }
}

.kifi-message-participant-email-image {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.kifi-message-participant-list-root {
  position: relative;
  height: 0;
  width: 100%;
  transition: height @duration ease;
  overflow: hidden;
}

.kifi-message-participant-list-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.kifi-message-participant-list {
  position: relative;
}

.kifi-message-participant-list-inner {
  position: relative;
  min-width: 100%;
  max-height: 333px;
  line-height: 0;
  list-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

.kifi-message-participant-item {
  position: relative;
  line-height: @listPicSize;
  padding: 2px @itemPaddingX;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 500;

  &.kifi-highlight {
    -webkit-animation-name: kifi-highlight-backround;
    animation-name: kifi-highlight-backround;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
  }
}

.kifi-message-participant-a {
  color: inherit !important;
  &:hover {
    text-decoration: underline !important;
  }
}

.kifi-message-participant-img,
.kifi-message-participant-email-image {
  width: @listPicSize;
  height: @listPicSize;
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  float: left;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;

  .kifi-highlight>& {
    animation-name: kifi-highlight-shadow;
    animation-duration: 10s;
  }
}

.kifi-message-participant-img {
  border-radius: 50% !important;
}

.kifi-message-participant-email-image {
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: white;
}

@-webkit-keyframes kifi-highlight-backround {
	0% {
    background: tint(@highlightColor, 15%);
	}
	100% {
    background: transparent;
	}
}

@keyframes kifi-highlight-backround {
	0% {
    background: @highlightColor;
	}
	100% {
    background: transparent;
	}
}

.kifi-message-participant-list-hide {
  display: block;
  color: white;
  background: @buttonBgColor;
  border-radius: 2px !important;
  padding: 9px 0;
  margin: 0 @itemPaddingX;
  margin-top: 2px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;

  &:hover, &:focus {
    color: white;
    background: shade(@buttonBgColor, 10%);
  }

  &:active {
    color: white;
    background: shade(@buttonBgColor, 20%);
  }
}

.kifi-message-show-participant {
  display: table-cell;
  width: 40px;
  height: 29px;
  border-left: 1px solid @borderColor;
  vertical-align: middle;
  text-align: center;
  color: #A6B1BC!important;

  &:before {
    content: '•••';
  }

  &:hover, &:focus {
    background-color: rgba(255,255,255,.6);
  }
  &:active {
    background-color: rgba(0,0,0,.04);
  }
  &.kifi-active {
    background-color: @dotBgColor;
  }
}

.kifi-message-participant-dialog {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 9px 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: white;
  background: @dotBgColor;

  :not(.kifi-dialog-opened)>& {
    display: none;
  }

  &>.kifi-ti-list {
    padding: 3px !important;
    padding-top: 6px !important;
    border: 0 !important;
    border-radius: 0 !important;
    &::before {
      content: none;
    }
  }

  .kifi-ti-token {
    font-size: 13px;
    font-weight: 200;
    letter-spacing: .5px;
    line-height: 16px;
  }

  input {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 18px !important;
    border: 0 !important;
    padding: 3px 0 !important;
  }

  &>.kifi-ti-dropdown {
    // border: 1px solid @buttonBgColor;
    // border-bottom-width: 2px;
  }
}

.kifi-message-participant-dialog-title {
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 6px;
}

.kifi-message-participant-dialog-button {
  float: right;
  font-size: 13px;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  padding: 7px 16px;
  border-radius: 2px !important;
  margin-top: 8px;
  color: white;
  background: @buttonBgColor;

  &:hover, &:focus {
    color: white;
    background: shade(@buttonBgColor, 10%);
  }

  &:active {
    color: white;
    background: shade(@buttonBgColor, 20%);
  }
}
