@import (reference) 'lib_icons.less';
@import (reference) 'symbol-sprite.less';
@fgColor: #111111;
@bgColor: #f6f6f6;
@buttonBgColor: #67829c;
@borderColor: #ccc;
@recipientFgColor: black;
@dotBgColor: #b8c5d1;
@dotFgColor: #eff2f7;
@picSize: 29px;
@listPicSize: 35px;
@duration: .3s;
@itemPaddingX: 12px;
@highlightColor: #6fa6ef;

.kifi-message-participants {
  position: relative;
  padding: 8px 0px;
  color: @fgColor;
  border-bottom: 1px solid @borderColor;
}

@participants-bar-height: 20px;
.kifi-message-participants-togglebar {
  position: absolute;
  top: ~"calc(100% - @{participants-bar-height})";
  right: 0;
  left: 0;
  z-index: -1;
  height: @participants-bar-height;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: @participants-bar-height;
  cursor: pointer;
  color: #888;
  background-color: @bgColor;
  transform: translateY(0);

  transition: transform .3s ease-in-out;
}
.kifi-message-participants-togglebar::before {
  content: 'View/Edit Recipients';
  font-size: 11px;
}
.kifi-message-participants-togglebar::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 25px;
}
.kifi-message-participants-show-togglebar .kifi-message-participants-togglebar {
  transform: translateY(100%);
}

.kifi-message-participants-avatar-container {
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  padding: 0 @itemPaddingX;
}

.kifi-message-participants-avatars {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.kifi-message-participant-avatar {
  display: inline-block;
  width: @picSize;
  height: @picSize;
  border: 0;
  padding: 0;
  margin: 0 3px 0 0;

  .kifi-message-participant-avatar-img,
  .kifi-message-participant-email-image {
    border-radius: 50% !important;
  }

  &.kifi-highlight .kifi-message-participant-avatar-img,
  &.kifi-highlight .kifi-message-participant-email-image {
    animation-name: kifi-highlight-shadow;
    animation-duration: 10s;
  }

  .kifi-message-participant-avatar-img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .kifi-message-participant-email-image {
    display: table-cell;
    width: @picSize;
    height: @picSize;
    line-height: 29px;
    text-align: center;
    font-size: 20px;
    color: white;
  }
}

.kifi-message-participant-avatar-lib {
  width: auto;
  height: auto;
  font-size: 13px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;

  a {
    box-sizing: border-box;
    display: inline-block;
    padding: 7px 8px 8px;
    line-height: 13px;
    max-width: 136px; // ~half the width of the participants pane
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a,
  a:hover,
  a:active {
    color: #fff;
  }

  &.kifi-highlight {
    animation-name: kifi-highlight-shadow;
    animation-duration: 10s;
  }
}
.kifi-message-participant-avatar-lib-source-slack {
  display: inline-block;
  width: 20px;
  height: 14px;
  margin: 0 -3px -3px;
  background-image: url(@url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 115%;
  @url: %(@kifi-symbol-slack-monochrome, #fff, #fff, #fff);
}
.kifi-message-participant-avatar-lib-visiblity {
  width: 9px;
  height: 14px;
  margin-bottom: -3px;
  margin-left: 3px;
  background-position: center;
  background-repeat: no-repeat;
  display: none;

  [data-visibility="secret"] & {
    @url: %(@svgLibCardLockDataUrl, #fff);
    display: inline-block;
    background-image: url(@url);
  }

  [data-visibility="published"] & {
    @url: %(@svgLibCardGlobeDataUrl, #fff);
    display: inline-block;
    margin-bottom: -2px;
    background-image: url(@url);
    background-size: 150%;
  }

  [data-visibility="discoverable"] & {
    @url: %(@svgLibCardStarDataUrl, #fff, 4);
    display: inline-block;
    width: 12px;
    margin: 0 1px -2px;
    background-image: url(@url);
    background-size: 100%;
  }

  [data-visibility="organization"] & {
    @url: %(@svgLibCardOrgPrivateDataUrl, #fff, 4);
    display: inline-block;
    width: 12px;
    background-image: url(@url);
    background-size: 125%;
  }
}

@keyframes kifi-highlight-shadow {
	0% {
    box-shadow: 0 0 3px 2px @highlightColor;
	}
	100% {
    box-shadow: 0 0 3px 2px transparent;
	}
}

.kifi-message-participants-avatars-actions {
  display: flex;
}
.kifi-message-participants-avatars-action {
  display: inline-block;
  border-radius: 50%!important;
  background-color: @dotBgColor;
  width: 28px;
  height: 28px;
  margin-right: 3px;
  font-size: 14px;
  color: #fff!important;
  line-height: 28px;
  text-align: center;

  &:hover, &:focus {
    background-color: shade(@dotBgColor, 10%);
  }

  &:active {
    background-color: shade(@dotBgColor, 20%);
  }
}
.kifi-message-participants-avatars-add {
  @url: %(@kifi-symbol-plus, #fff, #fff, #fff);
  background-image: url(@url);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.kifi-message-participants-avatars-more {
  &[data-elided="0"] {
    display: none;
  }
  &::before {
    content: '+'
  }
  &::after {
    content: attr(data-elided);
  }
}
.kifi-message-participant-email-image {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.kifi-message-participant-list-root {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  overflow: hidden;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 9px 16px -7px rgba(0, 0, 0, 0.5);
  background-color: @bgColor;
  transition: height @duration ease;
}

.kifi-message-participant-list-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
}

.kifi-message-participant-list {
  position: relative;
}

.kifi-message-participant-list-inner {
  position: relative;
  min-width: 100%;
  max-height: 333px;
  line-height: 0;
  list-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

.kifi-message-participant-item {
  position: relative;
  display: flex;
  align-items: center;
  line-height: @listPicSize;
  padding: 2px @itemPaddingX;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 500;
}

.kifi-ti-dropdown-item .kifi-keep-box-lib-name-wrap {
  max-width: 245px;
}

.kifi-message-participant-remove {
  @url: %(@kifi-symbol-error, #fff, #fff, #fff);
  display: inline-block;
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  margin-left: auto;
  border-radius: 50%;

  background-color: #ddd;
  background-size: 65% 65%;
  background-repeat: no-repeat;
  background-image: url(@url);
  background-position: center center;

  cursor: pointer;
}
.kifi-message-participant-remove:hover {
  opacity: .6;
}

.kifi-message-participant-a {
  color: inherit !important;
  &:hover {
    text-decoration: underline !important;
  }
}

.kifi-message-participant-img,
.kifi-message-participant-email-image {
  width: @listPicSize;
  height: @listPicSize;
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  float: left;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
}

.kifi-message-participant-img {
  border-radius: 50% !important;
}

.kifi-message-participant-email-image {
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: white;
}

.kifi-message-participant-list-hide {
  display: block;
  color: white;
  background: @buttonBgColor;
  border-radius: 2px !important;
  padding: 9px 0;
  margin: 2px @itemPaddingX 8px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;

  &:hover, &:focus {
    color: white;
    background: shade(@buttonBgColor, 10%);
  }

  &:active {
    color: white;
    background: shade(@buttonBgColor, 20%);
  }
}

.kifi-message-participant-dialog {
  box-sizing: border-box;
  position: absolute;
  top: ~"calc(100% + 1px)";
  left: 0;
  width: 100%;
  padding: 0 1px 4px 1px;
  border-bottom: 1px solid #aaa;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: @bgColor;
  box-shadow: 0 6px 5px -4px rgba(0, 0, 0, .3);
  color: #000;

  opacity: 0;
  transition: .33s transform;
  transform: translateY(-100%);
  z-index: -1;

  .kifi-dialog-opened > & {
    opacity: 1;
    transform: translateY(0);
  }

  .kifi-ti-list {
    padding: 3px !important;
    padding-top: 6px !important;
    border: 0 !important;
    border-radius: 0 !important;
    &::before {
      content: none;
    }
  }

  .kifi-ti-token {
    font-size: 13px;
    font-weight: 200;
    letter-spacing: .5px;
    line-height: 16px;
  }

  input {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 18px !important;
    border: 0 !important;
    padding: 3px 0 !important;
  }

  .kifi-ti-dropdown.kifi-scroll-inner {
    width: calc(100% + 16px);
    margin-right: -16px;
  }
}

.kifi-message-participant-dialog-button {
  float: right;
  display: inline-block;
  margin: 4px 3px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0 18px;
  color: #333 !important;
  background: linear-gradient(#fff, #f3f3f3);
  line-height: 28px;
  position: relative;
  font-size: 12px;
  font-smoothing: antialiased;
  &:focus {
    outline: 0 !important;
    box-shadow: 0 0 4px #5b9dd9 !important;
  }
  &:active,
  &:not([href]) {
    background: #f3f3f3;
  }
}

.kifi-message-participant-dialog.kifi-non-empty .kifi-ti-list {
  padding-bottom: 9px!important;
  transition: padding-bottom .3s;
}

.kifi-message-participant-dialog-create.kifi-keep-box-lib.kifi-keep-box-lib.kifi-keep-box-lib.kifi-keep-box-lib.kifi-create {
  height: 35px;
  margin-top: -5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid #e7e7e7;
}
