.kifi-message-participants
  position: relative
  padding: 8px 0px
  color: #111111
  background: #eff2f7
  border-bottom: 1px solid #e1e8e9

.kifi-message-participants-1
  text-align: center
  position: relative
  top: 3px

:not([data-kifi-participants="1"]) > .kifi-message-participants-1
  display: none

.kifi-message-participants-2
  text-align: center
  padding: 3px 0

:not([data-kifi-participants="2"]) > .kifi-message-participants-2
  display: none

.kifi-message-participants-n
  position: relative

[data-kifi-participants="1"] > .kifi-message-participants-n,
[data-kifi-participants="2"] > .kifi-message-participants-n
  display: none

.kifi-message-participants-title
  font-size: 13px
  margin-bottom: 6px

.kifi-message-participants-2 .kifi-message-participants-title
  font-weight: 200
  margin-bottom: 2px
  color: #67829c

.kifi-message-participants-n .kifi-message-participants-title
  font-weight: 500
  color: #111111
  padding: 0 12px

.kifi-participant-count
  font-size: 1.1em
  color: #67829c

.kifi-participant-count.kifi-highlight
  -webkit-animation-name: kifi-highlight-count
  -moz-animation-name: kifi-highlight-count
  animation-name: kifi-highlight-count
  -webkit-animation-duration: 5s
  -moz-animation-duration: 5s
  animation-duration: 5s

@keyframes kifi-highlight-count
  0%
    color: #6fa6ef
  100%
    color: #67829c
@keyframes kifi-highlight-count
  0%
    color: #6fa6ef
  100%
    color: #67829c
.kifi-message-participant-name
  color: #000000

.kifi-message-participants-avatar-container
  font-size: 0
  line-height: 0
  white-space: nowrap
  padding: 0 12px
  opacity: 1
  transition: opacity 0.15s linear

.kifi-message-participants.kifi-expanded .kifi-message-participants-avatar-container
  position: absolute
  opacity: 0

.kifi-message-participants-avatars
  display: inline-block
  white-space: nowrap
  list-style: none
  font-size: 0
  line-height: 0

.kifi-message-participant-avatar
  display: inline-block
  width: 29px
  height: 29px
  border: 0
  padding: 0
  margin: 0
  margin-right: 3px

.kifi-message-participant-avatar img,
.kifi-message-participant-avatar .kifi-message-participant-email-image
  border-radius: 2px !important

.kifi-message-participant-avatar img
  display: block
  width: 100%
  height: 100%

.kifi-message-participant-avatar .kifi-message-participant-email-image
  display: table-cell
  width: 29px
  line-height: 29px
  text-align: center
  font-size: 24px
  color: white

.kifi-message-participant-avatar.kifi-highlight
  -webkit-animation-name: kifi-highlight-shadow
  -moz-animation-name: kifi-highlight-shadow
  animation-name: kifi-highlight-shadow
  -webkit-animation-duration: 10s
  -moz-animation-duration: 10s
  animation-duration: 10s

@keyframes kifi-highlight-shadow
  0%
    box-shadow: 0 0 3px 2px #6fa6ef
  100%
    box-shadow: 0 0 3px 2px transparent
@keyframes kifi-highlight-shadow
  0%
    box-shadow: 0 0 3px 2px #6fa6ef
  100%
    box-shadow: 0 0 3px 2px transparent
.kifi-message-participants-avatars-expand
  display: inline-block
  font-size: 20px
  font-weight: 500
  line-height: 13px
  text-align: center
  text-decoration: none
  padding: 2px 4px
  padding-top: 0
  vertical-align: bottom
  border-radius: 2px !important
  color: white
  background: #b8c5d1

.kifi-message-participants-avatars-expand:hover,
.kifi-message-participants-avatars-expand:focus
  color: white
  background: #a6b1bc

.kifi-message-participants-avatars-expand:active
  color: white
  background: #939ea7

.kifi-message-participant-email-image
  cursor: default
  -webkit-user-select: none
  -moz-user-select: none
  user-select: none

.kifi-message-participant-list-root
  position: relative
  height: 0
  width: 100%
  transition: height 0.3s ease
  overflow: hidden

.kifi-message-participant-list-wrapper
  position: absolute
  width: 100%
  bottom: 0

.kifi-message-participant-list
  position: relative

.kifi-message-participant-list-inner
  position: relative
  min-width: 100%
  max-height: 333px
  line-height: 0
  list-style: none
  overflow-x: hidden
  overflow-y: scroll

.kifi-message-participant-item
  position: relative
  line-height: 35px
  padding: 2px 12px
  white-space: nowrap
  font-size: 12px
  font-weight: 500

.kifi-message-participant-item img,
.kifi-message-participant-item .kifi-message-participant-email-image
  width: 35px
  height: 35px
  border: 0
  border-radius: 2px !important
  padding: 0
  margin: 0
  margin-right: 10px
  float: left
  vertical-align: middle

.kifi-message-participant-item .kifi-message-participant-email-image
  line-height: 34px
  text-align: center
  font-size: 30px
  font-weight: 400
  color: white

.kifi-message-participant-item.kifi-highlight
  -webkit-animation-name: kifi-highlight-backround
  -moz-animation-name: kifi-highlight-backround
  animation-name: kifi-highlight-backround
  -webkit-animation-duration: 10s
  -moz-animation-duration: 10s
  animation-duration: 10s

@keyframes kifi-highlight-backround
  0%
    background: #85b3f1
  100%
    background: transparent
@keyframes kifi-highlight-backround
  0%
    background: #6fa6ef
  100%
    background: transparent
.kifi-message-participant-list-hide
  display: block
  color: white
  background: #67829c
  border-radius: 2px !important
  padding: 9px 0
  margin: 0 12px
  margin-top: 2px
  font-size: 12px
  font-weight: 400
  text-align: center
  text-decoration: none

.kifi-message-participant-list-hide:hover,
.kifi-message-participant-list-hide:focus
  color: white
  background: #5d758c

.kifi-message-participant-list-hide:active
  color: white
  background: #52687d

.kifi-message-add-participant
  display: block
  width: 40px
  height: 29px
  border-left: 1px solid #e1e8e9
  background-repeat: no-repeat
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAOCAYAAAAxDQxDAAABC0lEQVR4AZ3TIUsEQRwF8AGDXaxmg8ViVrAqWEQMFj+BaPEjGHQX5guYFsRktAp3HAcHhxZREVy0ieiWRWTX8YWXHvyZGQ9+HDvvP/MYlnWpv+vh7RG0EPh/AC5V6uAWC9Tmf4tmwUMDX7DO9Xuj6I658sy9VXQqB61y/dMo+jCKKuaVVdTIQWuRone9CVxCzbzms9eiIA65PjGKxtZ+pUUvMvAK87ACvWQ9LMv+0rhRqUX7ctgv7BrZHricd6TOOTSFDdiBR70RdPAA2+BEwZkzLZqDE3jiLY5hBkYQEtykfEeL8AaBCoZXEDJcxIoGsmGBYZdZ9BMr0gMdhVyxomcZXmL4nVnSgrP8AeW36kP40A14AAAAAElFTkSuQmCC")
  background-size: auto 14px
  background-position: 50%
  vertical-align: middle

.kifi-message-add-participant:hover,
.kifi-message-add-participant:focus
  background-color: #fafbfd

.kifi-message-add-participant:active
  background-color: #e3e6eb

.kifi-message-add-participant.kifi-active
  background-color: #b8c5d1
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAOCAYAAAAxDQxDAAABCklEQVR4AZ3TMStGURzH8VMGu6xmg8VipqyURTJYvAKxeAkG7q3zBky3ZPIWlJJSyiKk3Nik6xou6V7Hb/hNv/rfcw71Sc/5n3O+nZ4el/rXfH7tQQeB/3fApUrduMaAWv1vaBI8tPABy1y/M0K3nCvPubdCh3LRItcbI/RuhCrOKyvUykVLkdAb6EtOoea85mevoSB2uX5thK7M80JDz7LhBaZhAQaZDTAv50vjRaWGtuWyX9g0Zlvgsr4jccxNN7ACG/CgL4Ie7mEdnCi450hDU3AAj3zFPkzAJYQE5ym/o1l4hUAFh2exgDiJhS7kwAyHfWboJxbSCx2FfOOhJ9k8x+F3ZqQbC/0BUv+pJjRWzTgAAAAASUVORK5CYII=")

@media (min-resolution: 1.3dppx)
  .kifi-message-add-participant
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAAcCAYAAAAuh5ywAAAB+0lEQVR4AdXXP2sUQRjH8bkrYpQQrI2bpLK1TZHGSiGtV3iFICKEiK3oC5BcoRy+hAMrixwnFofWMVUERQiGBDH+I6AQVCSYJT+/xRbhgd3Zcf8cF/h0sxu+x+zss66Kv+H6myms4ReU+ImnmIKrShU3XcQhlOIQi+MSNIcjyOMIc+MQ9A7K6f2ogiZwG+s4SLzCTbMuggJFcDmdxx6U+Iz50KBzeA1ZWDNrO1CgTkDQEmRcCwk6hU0oxSOzfgAFGhQMaocE3YEyrJr1QyjQsM6gjREHRbiKVmIVMh6jdcJsVtAfaIRb7gMU6GtWkDxemvV3oUD3g/+/R1bQ3xwvxxm4xCRiKKdjTNcZtAN5PDTXPINyeg5X55brQR4xlsxLeB/y2McEXIZZtAIPhfmsG17MOZf9xlm4xDR2oRS7dqvVc2wDyzj2PAfLcMYKlGIFruYgz42AA7PdIvSwh9izTT+hh6i+0Qdo4AJ0wkfcwCQcFrAN/adtLOQcTr9AiW95h9MGruAJvpvt1cVpODTRh0rSR7Psz4dLeJvyrNyCSzSxBZVsC80yghroZBwA9wLmvKI2ygjqQik2za/WhirWLhJ02XM0Xw+eIIrbKRL0AsowYy6KoYrFRYJ+QBnsQ6paFAiShxuvIP+8dmbcgh54vn26JqoPVawPFwz/ALvHyrwpn7NVAAAAAElFTkSuQmCC")

  .kifi-message-add-participant.kifi-active
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAAcCAYAAAAuh5ywAAAB+0lEQVR4AdXXv2sUQRiH8ckVMUoI1sZNUtnapkhjpZDWK7xCEBFCxFb0D5BcoRz+CQdWFjkiFkFrTRULEYIhQYy/CCiGKBq8JV+fYovjhd3Zyd7ccYFPN7vhSWZn33Uxfn4e/p3EKn5BmUM8xSRcLDFuuoAjKMcRFkYlaBZdyKOL2VEIegeV9H5YQeO4jVc4yLzGTbMugQIlcCWdxx6U+Yy50KBzeAPBWjVrm1CgZkDQImRcCwk6hU0oxyOzfg0KtFYxqBESdAcqsGLWr0OB1gcZtDHkoARXUc+sQMZj1HvMFAX9gYa45T5Agb4WBcnjpVl/Fwp03/P7gxUF/SvxcpyGy0wghUo6xtQgg3Ygj4fmmmdQSc/hBrnl2pBHikXzEt6HPPYx7gmaQT3wUJgruuHFknPZb5yFy0xhF8qxa7da1GPbWMKx5zlYgjOWoRzLcMMJMjcyDsx2S9DGHlLPNv2ENpLYo481hgtQj4+4gQk4zGMbOqFtzJccTr9AmW9lh9MxXMETfDfbq4XTcKihA/VJB7V+fz5cwtucZ+UWXKaGLajPtqpG9f5XmgUHwL3AOa+KjX4EtaAcm+av1oAia1QJuuw5mq+HTxCV7VQJegEVmDYXpVBkaZWgH1AB+5BqICoEycONWpBvXjszakEPPN8+LRPVgSLrwJ3Ef5eQ0HfIe9gtAAAAAElFTkSuQmCC")

.kifi-message-participant-dialog
  position: absolute
  display: none
  top: -1px
  left: 0
  width: 100%
  padding: 9px 12px
  box-sizing: border-box
  -moz-box-sizing: border-box
  color: white
  background: #b8c5d1

.kifi-message-participant-dialog .kifi-ti-list
  padding: 3px !important
  padding-top: 6px !important
  border: 0 !important
  border-radius: 0 !important

.kifi-message-participant-dialog .kifi-ti-token
  font-size: 13px
  font-weight: 200
  letter-spacing: .5px
  line-height: 16px

.kifi-message-participant-dialog input
  font-size: 14px
  font-weight: 300
  letter-spacing: .5px
  line-height: 16px
  border: 0
  padding: 0

.kifi-message-participants.kifi-dialog-opened .kifi-message-participant-dialog
  display: block

.kifi-message-participant-dialog-title
  font-weight: 200
  -webkit-font-smoothing: antialiased
  margin-bottom: 6px

.kifi-message-participant-dialog-button
  float: right
  font-size: 13px
  font-weight: 200
  -webkit-font-smoothing: antialiased
  padding: 7px 16px
  border-radius: 2px !important
  margin-top: 8px
  color: white
  background: #67829c
  text-decoration: none

.kifi-message-participant-dialog-button:hover,
.kifi-message-participant-dialog-button:focus
  color: white
  background: #5d758c

.kifi-message-participant-dialog-button:active
  color: white
  background: #52687d

.kifi-clear
  clear: both

.kifi-root .kifi-ti-dropdown
  border: 1px solid #67829c
  border-bottom-width: 2px

