@import (reference) 'symbol-sprite.less';

.kifi-message-context-main {
  display: flex;
  flex-flow: row nowrap;
  padding: 5px 8px;
  border-bottom: 1px solid #ccc;
}
.kifi-message-context-image {
  width: 54px;
  height: 54px;
  margin-left: 5px;
  background-size: cover;
}
.kifi-message-context-image-empty {
  border: 1px dashed #aaa;
  border-radius: 5px;
}
.kifi-message-context-controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex: 1 0 0;
  overflow: hidden;
}
.kifi-message-context-controls-title {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 2px;
  line-height: 16px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: none!important;
  border-radius: 4px;
  transition: background-color .2s, border-color .2s;
  border: 1px dotted transparent;

  &:focus {
    border-color: #ccc;
    background: rgba(255, 255, 255, .9)!important;
  }
}
.kifi-message-context-controls-location {
  font-size: 14px;
  padding: 0 2px;
  color: #ababab;
}
.kifi-message-context-elide {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
