.kifi-move-keeper-intro {
  width: 350px;
}

.kifi-move-keeper-intro .kifi-tile-tooltip-tip {
  text-align: center;
}

.kifi-move-keeper-intro-demo {
  height: 128px;
  border-radius: 12px;
  border: 1px solid #ccc;
}
