.kifi-move-keeper-intro {
  width: 350px;
}

.kifi-move-keeper-intro .kifi-tile-tooltip-tip {
  text-align: center;
}

.kifi-move-keeper-intro .kifi-tile-tooltip-tip > * + * {
  margin-top: 10px;
}

.kifi-move-keeper-intro-demo {
  height: 128px;
  border-radius: 12px;
  border: 2px solid #ccc;
  box-shadow: rgba(0,40,90,.2) 3px 3px 0 0px;
}
