.kifi-move-keeper-intro {
  width: 350px;
}

.kifi-move-keeper-intro .kifi-tile-tooltip-tip {
  text-align: center;
}

.kifi-move-keeper-intro-demo {
  height: 128px;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-top: 15px;
}

.kifi-move-keeper-intro-demo-wave-emoji:before {
  content: '\01F44B';
  font-size: 20px;
}

.kifi-move-keeper-intro-demo-arrow-emoji:before {
  content: '\002195';
  font-size: 20px;
}
