.kifi-pane a.kifi-pane-mark-notices-read[href] {
  position: absolute;
  top: 8px;
  right: 0;
  z-index: 2;
  padding: 0 10px;
  font-size: 12px;
  line-height: 26px;
  color: #fff !important;
  display: none;
}
.kifi-pane-v2 .kifi-pane-mark-notices-read {
  display: none !important;
}
a.kifi-pane-mark-notices-read:hover {
  text-decoration: none;
  background-color: #67829c;
}
a.kifi-pane-mark-notices-read:active {
  background-color: #607991;
}
.kifi-notices {
  max-height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.kifi-notices-none {
  margin: 10px 12px;
  display: none;
}
div.kifi-notices-none:only-child {
  display: block;
}
.kifi-notice {
  position: relative;
  border-bottom: 1px solid #d2d2d2;
  padding: 10px 12px 10px 58px;
  min-height: 10px;
  cursor: pointer;
  background: #e5ebf1;
}
.kifi-pane-v2 .kifi-notice {
  padding: 10px 12px 10px 71px;
  min-height: 53px;
  background: #f0f2f6;
}
.kifi-notice:hover {
  background: #dfe7ef;
}
.kifi-notice-visited {
  background: #fefefe;
}
.kifi-pane-v2 .kifi-notice-visited {
  background: #fff;
}
.kifi-notice-visited:hover,
.kifi-pane-v2 .kifi-notice:hover {
  background: #f8fafd;
}

/* v1 */
.kifi-notice time {
  margin: 4px 0 0 0;
  font-size: 11px;
  color: #ccc;
  display: block;
}
.kifi-notice-avatar {
  position: absolute;
  top: 12px;
  left: 8px;
  width: 40px;
  height: 40px;
}
.kifi-notice-name {
  font-size: 12px;
  margin: 0 0 2px 0;
  color: #333;
}
.kifi-notice-name .kifi-author-name {
  font-weight: bold;
}
.kifi-notice-action {
  font-size: 12px;
  margin: 2px 0 4px;
  color: #333;
}
.kifi-notice:not(.kifi-notice-visited) .kifi-notice-action::before {
  content: " ";
  background-color: #6fa6ef;
  display: inline-block;
  font: 0/0 serif;
  height: 9px;
  width: 9px;
  border-radius: 5px;
}
.kifi-notice-message:not(.kifi-notice-visited) .kifi-notice-action::after {
  content: " waiting";
}
.kifi-notice-page {
  font-size: 12px;
  margin: 8px 0;
}
.kifi-notice-page a.kifi-link,
.kifi-notice-page a.kifi-link:hover,
.kifi-notice-page a.kifi-link:visited,
.kifi-notice-page a.kifi-link:active {
  display: block;
  color: #97a1ac !important;
  width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.kifi-notice-text {
  margin: 6px 0;
  font-size: 13px;
  color: #3a3c3d;
  word-wrap: break-word;
}

/* v2 */
.kifi-notice-mosaic {
  position: absolute;
  top: 11px;
  left: 9px;
  height: 53px;
  width: 53px;
}
.kifi-notice-pic {
  position: absolute;
  background-position: center;
  background-size: cover;
}
.kifi-notice-pic-0 {
  top: 0;
  left: 0;
  height: 53px;
  width: 53px;
}
.kifi-notice-mosiac-2>.kifi-notice-pic-0,
.kifi-notice-mosiac-3>.kifi-notice-pic-0 {
  left: 27px;
  width: 26px;
}
.kifi-notice-mosiac-4>.kifi-notice-pic-0 {
  top: 27px;
  left: 27px;
  width: 26px;
  height: 26px;
}
.kifi-notice-sent .kifi-notice-pic-0 {
  top: 26px;
  left: 26px;
  height: 26px;
  width: 26px;
  /* for 2x2 layout
  top: 32px;
  left: 31px;
  height: 33px;
  width: 33px; */
  border: 2px solid #fff;
  border-radius: 50%;
}
.kifi-notice-pic-1 {
  top: 0;
  left: 0;
  width: 26px;
  height: 53px;
}
.kifi-notice-mosaic-2>.kifi-notice-pic-1,
.kifi-notice-mosaic-3>.kifi-notice-pic-1 {
  height: 26px;
}
.kifi-notice-sent>.kifi-notice-mosaic-2>.kifi-notice-pic-1 {
  width: 53px;
  height: 53px;
}

.kifi-notice-pic-1 {
  height: 26px;
  width: 26px;
}
.kifi-notice-pic-tr {
  left: 36px;
  height: 26px;
  width: 26px;
}
.kifi-notice-pic-bl {
  top: 38px;
  height: 26px;
  width: 26px;
}
.kifi-notice-pic-br {
  top: 38px;
  left: 36px;
  height: 26px;
  width: 26px;
}
.kifi-notice-p-names {
  font-size: 12px;
  margin: 0 0 2px;
  color: #333;
}
