.kifi-participant-background-red
  background-color: #e36767

.kifi-participant-background-orange
  background-color: #ffad33

.kifi-participant-background-green
  background-color: #92c152

.kifi-participant-background-purple
  background-color: #d65cad

