.kifi-group {
  &::before, &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

@kifi-lightbluegray: #eff2f7;
@kifi-bluegray: #b8c5d1;
@kifi-bluegray-a: #a0b1c2;
@kifi-bluegray-8: #8699ab;
@kifi-lightblue-d: #d4e4f9;
@kifi-darkbluegray: #68829B;
@kifi-darkbluegray-hover: #7492af;
@kifi-gray-8: #858585;
@kifi-gray-a: #ababab;
@kifi-gray-c: #cccccc;
@kifi-link: #0089d5;
@kifi-highlight: #6fa6ef;
@taggedHeight1: 84px;
@taggedHeight2: @taggedHeight1 + 42px;
@taggedPadding: 15px;

.kifi-tagbox {
  position: absolute;
  bottom: 48px;
  right: 0;
  width: 300px;
  border: 5px solid @kifi-darkbluegray;
  border-radius: 9px !important;
  background: @kifi-darkbluegray;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  opacity: 0;
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(.1);
  transform: scale(.1);
  transition: opacity linear, -webkit-transform ease-in;
  transition: opacity linear, transform ease-in;
  transition-duration: .12s;

  html[kifi-with-pane] & {
    bottom: 54px;
    width: 312px;
    border-bottom: 0;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  &.kifi-in {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transition-timing-function: ease-out;
    transition-duration: .24s;
  }

  &.kifi-tagged {
    .kifi-tagbox-tagged-wrapper {
      height: @taggedHeight2 + 2 * @taggedPadding;
    }

    .kifi-tagbox-suggest, .kifi-tagbox-suggest-inner {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
}

.kifi-tagbox-suggest, .kifi-tagbox-suggest-inner, .kifi-tagbox-tagged, .kifi-tagbox-empty {
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

.kifi-tagbox-title {
  position: relative;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 5px;
}

.kifi-tagbox-title-text {
  color: white;
  text-align: center;
  line-height: inherit; // style leak fix
}

.kifi-tagbox-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 13px;
  height: 13px;
  border: 6px solid transparent;
  border-radius: 20px !important;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAQAAAADQ4RFAAAA0klEQVR4AXXUMW7DMBBE0alE5zhRrm0gMSxLvkfoKyhKYV/hB4ttSITzp34ViVXEOwdXTsiPwicHM0IiyJPoblmQlegZTMxJGuYJycQO0DNLsh9xpm9LZglcxMQyZoZsFOGZIUgkuw2YIYEcq9QRaVGwFVtLAhnmSYc8S+KQKHz/I7UhBtUBmgwy75KtPfOk79YyT/DMkwcPx4T/Y4WNviWZJ0KcxswTGXZlEl94kuxO31nshni252HxJPfWsBcfItjLk4YlmZFIdnBJ4hkLv0HQHxvW+Tv3j7AoAAAAAElFTkSuQmCC);
  background-size: auto 13px;
  vertical-align: middle;

  &:hover {
    background-color: @kifi-darkbluegray-hover;
  }
}

.kifi-tagbox-input-box {
  display: block;
  font-size: 16px;
  padding: 3px 15px;
  background: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: text;

  table {
    border-spacing: 0;
    border-collapse: collapse;

    td, th {
      padding: 0; /* 'cellpadding' equivalent */
    }
  }

  &.kifi-focus .kifi-tagbox-input-placeholder {
    color: tint(@kifi-bluegray, 10%);
  }

  &.kifi-empty .kifi-tagbox-input-placeholder {
    display: block;
  }
}

.kifi-tagbox-tag-icon {
  display: block;
  float: left;
  width: 12px;
  height: 32px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: auto 16px;
  background-position: 0 8px;
}

.kifi-tagbox-input-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAgCAYAAAAIXrg4AAABAUlEQVR42u3NLW4CURSG4SEhrYBQUNSUpBuATYBjAxhSgekaCL6CLgPRHVRNgsDzpwkhNEHUgEN0Tt+bUDO5d86dtrgrHved80bvs6WvZ+ywwZPvnc+ogFdIygsKfw3c4g3iMMHNbwM1TCGKGNW8gQbWEE8rPPgGWviA5LRHUwu0cXIcD/B4McDesjui7Qr0cbYcbVFHlHKPrWV/Rj8dGCKBWPQQOfQcNwmGP4ERJEMtI3Cn3I7M6FMZlTMCZeX2aEai6GYEutq9T2CNkuV5CSu/gG6ODooXHSwg+QK6L0PZaAFdCIRACIRACFgChysGDiYwvmJgbAIVxEgg/yRBjMo3wq1HgvDn6n8AAAAASUVORK5CYII=);
}

.kifi-tagbox-input-cell {
  width: 100%;
  vertical-align: middle; // style leak fix
}

.kifi-tagbox-input-wrapper {
  position: relative;
}

.kifi-tagbox-input {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  color: black;
  background: transparent;
}

.kifi-tagbox-input-placeholder {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  color: @kifi-bluegray;
  transition: color .2s linear;
}

.kifi-tagbox-suggest {
  position: relative;
  overflow: hidden;

  :not(.kifi-suggested):not(.kifi-tagged)>& {
    display: none;
  }
}

.kifi-tagbox-suggest-inner {
  position: relative;
  color: @kifi-gray-8;
  background: @kifi-lightbluegray;
  min-height: 83px;
  max-height: 243px;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 14px;
  transition: height .4s ease;
}

.kifi-tagbox-suggestion {
  display: block;
  padding: 0 15px;
  line-height: 32px;
  color: @kifi-gray-8 !important; // style leak fix
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  transition: opacity .4s ease;

  * {
    line-height: inherit; // style leak fix
  }

  .kifi-tagbox-suggestion-text {
    color: inherit; // style leak fix
    line-height: inherit; // style leak fix
  }

  &.kifi-focus {
    background: @kifi-highlight;
    color: white !important; // style leak fix
    cursor: pointer;

    .kifi-tagbox-suggestion-icon {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAgCAQAAACiV3CzAAAA60lEQVR4Ae3LMU4CQRiG4W83RAt0lVBoo4kX0CtYwCFoiAWNZyD0Nt4CCy6xiTfQQG2IwYLERrShmVeKnezM7KBuYcfzVX/+vIrhlldeuEHViXAJ91h3JL8F+0xwPbD3U9DikVDO8bbgnBkxU85iwRVvbLPgMgw6rJz3gIvNBiywPui4QZ811pwTVOyUOdaavg2GGEo95KxHyTBEYoSv5QVH+EYJ72rLdagvlQ70KdcqVVu+6+hlZSI0o4mKNZkSEFVPdGls1uWZigQUYySlimgoLlXdx/8Hu2AXLFXHMtVYdYxFRo7hLww52TeyrdzuJXPukQAAAABJRU5ErkJggg==);
    }
  }

  &:active {
    background: shade(@kifi-highlight, 10%);
  }

  &.kifi-busy {
    opacity: 0;

    background: @kifi-gray-c;
    cursor: progress;
  }
}

.kifi-tagbox-suggestion-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAgCAYAAAAIXrg4AAABAUlEQVR42u3NPWoCURSG4RFEC8WfKmkiZAO6Ce3cgI2ksHENYp/CLMMimxjIDhTtAiJRwSKN6Syck/eCaYZ759xJYneLp/vOeaP3zc7XGB/Y4Mn3zmdUwAsk5RmFvwbKeIU4zFH6baCJN4giRiNvoIU1xNMKD76BDg6QnPZoa4EuvhzHIzxejbC37E7ougJDnC1HW9whSrnH1rI/Y5gOTJBALAaIHAaOmwSTn8AUkqGZEagrt1Mz+lRG1YxAVbk9mZEo+hmBvnbvE1ijYnlewcovoFugh+JVD0tIvoDuYigbLaALgRAIgRAIAUvgeMPA0QRmNwzMTKCGGAnknySIUfsGLlMukbhYQI0AAAAASUVORK5CYII=);
}

.kifi-tagbox-empty {
  padding: 24px 40px 23px;
  line-height: 36px;
  font-size: 24px;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background: @kifi-lightbluegray;
  color: @kifi-bluegray;
  transition: background .3s linear;

  .kifi-suggested>&,
  .kifi-tagged>& {
    display: none;
  }
}

.kifi-tagbox-new {
  display: block;
  background: @kifi-lightblue-d;
  padding: 10px 15px;
  padding-left: 37px;
  color: @kifi-gray-8 !important; // style leak fix
  text-decoration: none;

  &.kifi-focus {
    background: @kifi-highlight;
    color: white !important; // style leak fix
  }

  &:active {
    background: shade(@kifi-highlight, 10%);
    color: white !important; // style leak fix
  }

  &.kifi-busy {
    background: @kifi-gray-c;
    cursor: progress;
  }
}

.kifi-tagbox-new-caption {
  display: block;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.kifi-tagbox-new-text {
  display: block;
  font-size: 16px;
}

.kifi-tagbox-tagged-wrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .4s ease;
}

.kifi-tagbox-tagged {
  position: relative;
  color: @kifi-bluegray;
  background: white;
  padding: @taggedPadding;
  height: @taggedHeight2;
}

.kifi-tagbox-tagged-title {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 14px;
  color: @kifi-bluegray;
  -webkit-font-smoothing: antialiased;
}

.kifi-tagbox-tag-list {
  position: relative;
  overflow: hidden;
}

.kifi-tagbox-tag-list-inner {
  position: relative;
  height: @taggedHeight1;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}

.kifi-tagbox-tag {
  display: inline-block;
  font-size: 13px;
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 4px;
  text-align: center;
  background: @kifi-bluegray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: transform .3s ease;
  transition: -webkit-transform .3s ease;

  &:hover {
    .kifi-tagbox-tag-name {
      padding: 0 7px;
    }
    .kifi-tagbox-tag-remove {
      width: 18px;
    }
  }

  &.kifi-busy {
    transform: scale(1, 0);
    -webkit-transform: scale(1, 0);
    cursor: progress;

    .kifi-tagbox-tag-name, .kifi-tagbox-tag-remove {
      background: @kifi-gray-c;
    }
  }
}

.kifi-tagbox-tag-name, .kifi-tagbox-tag-remove {
  display: inline-block;
  float: left;
  color: white !important; // style leak fix
  text-decoration: none;
  line-height: inherit; // style leak fix

  &:hover {
    background: @kifi-bluegray-a;
  }

  &:active {
    background: @kifi-bluegray-8;
  }
}

.kifi-tagbox-tag-name {
  padding: 0 16px;
  transition: all .1s linear;
}

.kifi-tagbox-tag-remove {
  width: 0;
  transition: all .1s linear;

  &::before {
    content: "\d7";
  }
}

.kifi-tagbox-clear {
  position: absolute;
  right: 10px;
  bottom: 6px;
  font-size: 13px;
  line-height: normal;
  color: @kifi-gray-a !important; // style leak fix
  text-decoration: none;

  &:hover {
    color: @kifi-link !important; // style leak fix
  }
}

html[kifi-with-pane] {
  .kifi-tagbox-suggest,
  .kifi-tagbox-suggest-inner,
  .kifi-tagbox-tagged-wrapper,
  .kifi-tagbox-tagged,
  .kifi-tagbox-empty {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}
