.kifi-messages-sent {
  max-height: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.kifi-messages-sent-inner {
  max-height: inherit;
}
.kifi-messages-sent-inner.kifi-hidden {
  display: none;
}
.kifi-message-sent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 9px;
  padding: 10px 10px 10px 0;
  position: relative;
}
.kifi-message-sent:first-child {
  margin-top: 4px;
}
.kifi-message-status {
  position: absolute;
  right: 10px;
  top: -6px;
  line-height: 12px;
  font-size: 12px;
  padding: 0 3px;
  background-color: #fafafa;
  display: none;
}
.kifi-message-sent-header-item:not([data-kind="text"]) {
  font-weight: bold;
}
.kifi-message-sent-header-item a[href] {
  color: inherit;
  font-weight: bold;
}
.kifi-message-sent-header-item a[href]:hover {
  text-decoration: underline!important;
}
.kifi-message-sent:last-of-type .kifi-message-sent-stamp {
  display: block;
}
.kifi-message-sent:hover ~ .kifi-message-sent:last-of-type .kifi-message-sent-stamp {
  display: none;
}
.kifi-message-sent.kifi-message-sent.kifi-message-sent:hover .kifi-message-sent-stamp {
  display: block;
}
.kifi-message-sent-stamp {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
  font-size: 10px;
  text-align: right;
  color: #a9a9a9;
}
.kifi-message-source-icon {
  display: none;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.kifi-message-source-icon-Slack {
  display: inline-block;
  background-image: url(/images/slackapp.png);
}
.kifi-message-source-icon-Twitter {
  display: inline-block;
  background-image: url(/images/twitter-blue.svg);
}
.kifi-message-sent .kifi-tag.kifi-tag.kifi-tag {
  color: #6fa6ef;
}
.kifi-message-sent .kifi-tag.kifi-tag.kifi-tag:not(:hover) {
  text-decoration: none!important;
}
a.kifi-message-pic-a,
span.kifi-message-pic-email {
  flex-shrink: 0;
  margin-top: 0;
  margin-bottom: auto;
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
}
img.kifi-message-pic {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.1);
  border-radius: inherit !important;
}
span.kifi-message-pic-email {
  line-height: 30px;
  text-align: center;
  font-size: 25px;
  color: white;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.kifi-message-sent-header {
  background: transparent;
  font-size: 12px;
  margin-bottom: 2px;
}
.kifi-message-sent-header .kifi-message-p {
  display: inline;
}
.kifi-message-body {
  margin-left: 10px;
  word-wrap: break-word;
}
.kifi-message-content {
  position: relative;
  top: -2px;
  width: 100%;
  overflow: hidden;
}
.kifi-message-p {
  line-height: 16px;
  color: #444;
}
.kifi-message-pp {
  margin-top: 6px;
}
.kifi-message-content .kifi-message-p>a[href] {
  text-decoration: underline !important;
}
.kifi-image-in-message {
  max-width: 100%;
}
.kifi-message-sent::after {
  content: " ";
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.kifi-message-tip-keep-link {
  color: inherit;
}
.kifi-message-tip-keep-link:hover {
  text-decoration: underline !important;
  color: inherit;
}
.kifi-message-tip-keep-link:hover:active {
  text-decoration: none !important;
  color: inherit;
}
.kifi-thread-background {
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 100%;
  background-color: #fafafa;
}
.kifi-thread-error {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  text-align: center;
}
.kifi-thread-error.kifi-showing {
  display: flex;
}
.kifi-thread-error-title {
  font-size: 20px;
  color: #999;
}
.kifi-thread-error-subtitle {
  font-size: 14px;
  margin-top: 10px;
  padding: 0 30px;
  color: #ababab;
}
.kifi-message-email-view,
.kifi-message-email-learn {
  color: inherit;
  text-decoration: underline !important;
}
.kifi-message-email-view:hover,
.kifi-message-email-learn:hover {
  color: #a6b1bb;
}
.kifi-message-email-tooltip {
  width: 300px;
  padding: 15px;
  background-color: #fff;
  color: black;
  box-shadow: rgba(103,130,156,.35) 2px 3px;
  border: 1px solid #b8c5d2;
  border-radius: 3px;
  text-align: left;
  font-size: 13px;
  opacity: 0;
  visibility: hidden;
  z-index: 999999999992;
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  transition: opacity linear, -webkit-transform ease-in-out;
  transition: opacity linear, transform ease-in-out;
  transition-duration: 100ms;
}
.kifi-message-email-tooltip.kifi-showing {
  -webkit-transform: none;
  transform: none;
  transition-duration: 60ms;
  opacity: 1;
  visibility: visible;
}
.kifi-message-email-tooltip-tri {
  position: absolute;
  height: 14px;
  width: 28px;
  bottom: -14px;
  right: 40px;
  margin-left: -14px;
  overflow: hidden;
  border-color: inherit;
}
.kifi-message-email-tooltip-tri::after {
  content: ' ';
  position: absolute;
  height: 14px;
  width: 14px;
  left: 7px;
  top: -7px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: rgba(103, 130, 156, .35) 2px 1px;
  border: 1px solid;
  border-color: inherit;
  background-color: #fff;
}
