.kifi-messages-sent {
  max-height: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.kifi-messages-sent-inner {
  max-height: inherit;
}
.kifi-message-sent {
  margin: 0 9px;
  padding: 11px 10px 11px 0;
  position: relative;
}
.kifi-message-sent:first-child {
  margin-top: 10px;
}
.kifi-message-sent:last-child {
  padding-bottom: 0;
  margin-bottom: 4px;
}
.kifi-message-status {
  position: absolute;
  right: 10px;
  top: -6px;
  line-height: 12px;
  font-size: 12px;
  padding: 0 3px;
  background-color: #fafafa;
  display: none;
}
.kifi-message-sent>time {
  position: absolute;
  right: 10px;
  top: 11px;
  line-height: 11px;
  font-size: 11px;
  padding: 0 3px;
  background-color: #fafafa;
  color: #a9a9a9;
  display: none;
}
.kifi-message-sent:hover>time,
.kifi-message-sent:last-child>time {
  display: block;
}
.kifi-message-sent:hover~.kifi-message-sent:last-child>time {
  display: none;
}
img.kifi-message-pic,
span.kifi-message-pic-email {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 2px !important;
}
img.kifi-message-pic {
  background-color: rgba(0,0,0,.1);
}
span.kifi-message-pic-email {
  line-height: 30px;
  text-align: center;
  font-size: 25px;
  color: white;
}
img.kifi-message-pic.kifi-self {
  border-radius: 20px !important;
}
.kifi-message-body {
  margin-left: 40px;
  word-wrap: break-word;
}
.kifi-message-name {
  position: relative;
  top: -2px;
  margin-bottom: 2px;
  font-weight: bold;
}
.kifi-message-p {
  line-height: 16px;
  color: #444;
}
.kifi-message-pp {
  margin-top: 6px;
}
.kifi-message-p>a[href] {
  text-decoration: underline;
}
.kifi-image-in-message {
  max-width: 100%;
}
.kifi-message-sent::after {
  content: " ";
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.kifi-message-aux .kifi-message-body,
.kifi-message-aux .kifi-message-pic {
  display: none;
}
.kifi-message-sent.kifi-message-aux {
  padding: 0;
}
.kifi-message-aux {
  text-align: center;
  color: #b8c5d0;
  border-top: 1px solid #b8c5d0;
  border-bottom: 1px solid #b8c5d0;
  margin-top: 0;
  margin-bottom: 0;
}
.kifi-message-aux>time {
  top: -6px;
}
.kifi-message-aux + .kifi-message-sent {
  border-top: 0;
}
.kifi-aux-message {
  padding: 13px;
}
.kifi-thread-background {
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 100%;
  background-color: #fafafa;
}
