.kifi-tile {
  position: fixed;
  z-index: 999999999991 !important;
  bottom: 0;
  right: 0;
  left: auto;
  top: auto;
  width: 49px;
  height: 49px;
  border: solid transparent;
  border-width: 5px 7px 8px;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;
  transition: -webkit-transform .12s ease-in-out;
  transition: transform .12s ease-in-out;
  -webkit-perspective: 200px;
  perspective: 200px;
}
.kifi-tile[kifi-fullscreen] {
  display: none;
}
.kifi-tile-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.kifi-tile[data-kept] .kifi-tile-card {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.kifi-tile-card.kifi-0s,
.kifi-tile-card.kifi-0s>.kifi-tile-keep,
.kifi-tile-card.kifi-0s>.kifi-tile-kept {
  transition: none;
}
.kifi-tile-keep,
.kifi-tile-kept {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 3px solid rgba(180,180,180,.3);
  border-radius: 50% !important;
  box-shadow: inset 0 0 1px 1px rgba(0,0,0,.15);
  background: rgba(51,51,51,.4) center no-repeat padding-box;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 12"><g fill="%23fff"><path d="M2.8,6.6h0.5l1.6-2.4h3.4L5.5,7.9L8.2,12H4.9L3.2,9.1H2.8V12H0V0.7h2.8V6.6z"/><path d="M10.6,0.5c0.2,0,0.4,0,0.6,0.1c0.2,0.1,0.4,0.2,0.5,0.3c0.1,0.1,0.3,0.3,0.3,0.5c0.1,0.2,0.1,0.4,0.1,0.6c0,0.2,0,0.4-0.1,0.6c-0.1,0.2-0.2,0.4-0.3,0.5c-0.1,0.1-0.3,0.3-0.5,0.3c-0.2,0.1-0.4,0.1-0.6,0.1c-0.2,0-0.4,0-0.6-0.1C9.8,3.5,9.6,3.4,9.5,3.2C9.3,3.1,9.2,2.9,9.2,2.7C9.1,2.5,9,2.3,9,2.1c0-0.2,0-0.4,0.1-0.6c0.1-0.2,0.2-0.4,0.3-0.5C9.6,0.8,9.8,0.7,10,0.6C10.2,0.5,10.4,0.5,10.6,0.5z M12,12H9.2V4.4H12V12z"/><path d="M19.4,4.3h-1.7V4.1c0-0.3,0.1-0.6,0.2-0.7c0.1-0.1,0.3-0.2,0.6-0.2c0.2,0,0.4,0,0.6,0.1c0.1,0,0.3,0.1,0.4,0.2V0.7c-0.2,0-0.3-0.1-0.5-0.1c-0.3,0-0.6-0.1-0.9-0.1c-0.5,0-0.9,0.1-1.2,0.2c-0.4,0.1-0.7,0.4-1,0.6c-0.3,0.3-0.5,0.6-0.6,1.1C15,2.9,14.9,3.4,14.9,4v0.3h-1.3v2.5h1.3l0,5.2h2.8l0-5.2h1.7V4.3z"/><path d="M22.4,0.5c0.2,0,0.4,0,0.6,0.1c0.2,0.1,0.4,0.2,0.5,0.3c0.1,0.1,0.3,0.3,0.3,0.5C24,1.6,24,1.9,24,2.1c0,0.2,0,0.4-0.1,0.6c-0.1,0.2-0.2,0.4-0.3,0.5c-0.1,0.1-0.3,0.3-0.5,0.3c-0.2,0.1-0.4,0.1-0.6,0.1c-0.2,0-0.4,0-0.6-0.1c-0.2-0.1-0.4-0.2-0.5-0.3c-0.1-0.1-0.3-0.3-0.3-0.5c-0.1-0.2-0.1-0.4-0.1-0.6c0-0.2,0-0.4,0.1-0.6c0.1-0.2,0.2-0.4,0.3-0.5s0.3-0.3,0.5-0.3C22,0.5,22.2,0.5,22.4,0.5z M23.8,12H21V4.4h2.8V12z"/></g></svg>');
  background-size: 24px 12px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: visibility 0s .125s; /* broken backface-visibility workaround */
}
.kifi-tile-kept {
  background-color: rgba(77,175,124,.8);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.kifi-tile[data-kept=private] .kifi-tile-kept {
  background-color: rgba(230,91,69,.8);
}
.kifi-tile[data-kept] .kifi-tile-keep,
.kifi-tile:not([data-kept]) .kifi-tile-kept {
  visibility: hidden;
}
.kifi-dot::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 1px solid #cc2413;
  background: #e74c3c;
}

.kifi-shake {
  -webkit-animation: kifi-shake .15s 2 linear;
  -moz-animation: kifi-shake .15s 2 linear;
  animation: kifi-shake .15s 2 linear;
}
@keyframes kifi-shake {
  0% {transform: translate(3px, 0)}
  50% {transform: translate(-3px, 0)}
  100% {transform: none}
}
@-moz-keyframes kifi-shake {
  0% {-moz-transform: translate(3px, 0)}
  50% {-moz-transform: translate(-3px, 0)}
  100% {-moz-transform: none}
}
@-webkit-keyframes kifi-shake {
  0% {-webkit-transform: translate(3px, 0)}
  50% {-webkit-transform: translate(-3px, 0)}
  100% {-webkit-transform: none}
}
