.kifi-tile {
  position: fixed;
  z-index: 999999999991 !important;
  bottom: 0;
  right: 0;
  left: auto;
  top: auto;
  width: 49px;
  height: 49px;
  border: 3px solid transparent;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;
  transition: -webkit-transform .12s ease-in-out;
  transition: transform .12s ease-in-out;
  -webkit-perspective: 200px;
  perspective: 200px;
}
.kifi-tile[kifi-fullscreen] {
  display: none;
}
.kifi-tile-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.kifi-tile[data-kept] .kifi-tile-card {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.kifi-tile-card.kifi-0s,
.kifi-tile-card.kifi-0s>.kifi-tile-keep,
.kifi-tile-card.kifi-0s>.kifi-tile-kept {
  transition: none;
}
.kifi-tile-keep,
.kifi-tile-kept {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 3px solid rgba(255,255,255,.7);
  border-radius: 50% !important;
  box-shadow: inset 0 0 1px 1px rgba(0,0,0,.15);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: visibility 0s .125s; /* broken backface-visibility workaround */
}
.kifi-tile-keep {
  background: rgba(51,51,51,.4) url(/images/keeper/tile_logo.svg) center no-repeat padding-box;
  background-size: 30px auto;
}
.kifi-tile-kept {
  background: #4daf7c padding-box;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.kifi-tile[data-kept=private] .kifi-tile-kept {
  background-color: #e65b45;
}
.kifi-tile[data-kept] .kifi-tile-keep,
.kifi-tile:not([data-kept]) .kifi-tile-kept {
  visibility: hidden;
}
.kifi-tile .kifi-tile-kept::before {
  content: "Kept";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 44px;
  text-shadow: 0 0 2px rgba(0,0,0,.3);
}
.kifi-count,
.kifi-keeper .kifi-count {
  display: inline-block;
  position: relative;
  top: -12px;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  min-width: 20px;
  border-radius: 15px !important;
  background: #e74c3c padding-box;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
}

.kifi-shake {
  -webkit-animation: kifi-shake .15s 2 linear;
  -moz-animation: kifi-shake .15s 2 linear;
  animation: kifi-shake .15s 2 linear;
}
@keyframes kifi-shake {
  0% {transform: translate(3px, 0)}
  50% {transform: translate(-3px, 0)}
  100% {transform: none}
}
@-moz-keyframes kifi-shake {
  0% {-moz-transform: translate(3px, 0)}
  50% {-moz-transform: translate(-3px, 0)}
  100% {-moz-transform: none}
}
@-webkit-keyframes kifi-shake {
  0% {-webkit-transform: translate(3px, 0)}
  50% {-webkit-transform: translate(-3px, 0)}
  100% {-webkit-transform: none}
}
