@(toUserId: Id[User], activityData: com.keepit.commanders.emails.ActivityEmailData)
@import com.keepit.common.db.Id
@import com.keepit.common.mail.template.helpers._

<br/><br/>
Hi @fullName(toUserId),
<br/><br/>
Activity email (still a work in progress)
<br/><br/>

<h1>Libraries you follow have new Keeps </h1>
@activityData.newKeepsInLibraries.map { case (lib, keeps) =>
    <a href="@libraryUrl(lib.libraryId)">@lib.name</a><br/>
    curated by @lib.ownerName<br/>
    @lib.description.getOrElse("")<br/>
    @lib.numKeeps Keeps | @lib.numFollowers Followers<br/>

    New Keeps:<br/>
    @keeps.map { keep =>
        <a href="@keep.url">@keep.title</a><br/>
        @keep.imageUrlAndWidth.map { case (url, width) =>
        <img src="@toHttpsUrl(url)" alt="@keep.title" width="@width"/><br/>
        }
    }
    <br/>
}

<h1>Pending Library Invites</h1>
@activityData.libraryInvites.map { lib =>
    Invited by @{Html(lib.invitedByUsers.map(fullName).mkString(", "))}<br/>
    <a href="@libraryUrl(lib.libraryId)">@lib.name</a> by
    @lib.ownerName<br/>
    @lib.description.getOrElse("")<br/>
    @lib.numKeeps Keeps | @lib.numFollowers Followers<br/>
    @lib.image.map { image =>
        <img src="@libraryImageUrl(image.path)" alt="@lib.name" width="400"/>
    }
}
<br/>

<h1>Pending Unread Messages</h1>
TODO
<br/>

<h1>Pending Friend Requests</h1>
@activityData.pendingFriendRequests.map { senderId =>
    <a href="@kifiFriendsUrl("clickedFriendRequestName")">@fullName(senderId)</a>
}
<br/>

<h1>Your Libraries Have New Followers</h1>
@activityData.newFollowersOfLibraries.map { case (lib, followers) =>
    @followers.zipWithIndex.map { case (id, i) =>
        @if(i == followers.size - 1){and}
        @fullName(id)@if(i < followers.size - 1){,}
    }
    <a href="@libraryUrl(lib.libraryId)">@lib.name</a> by
    @lib.ownerName<br/>
    @lib.description.getOrElse("")<br/>
    @lib.numKeeps Keeps | @lib.numFollowers Followers<br/>
    @lib.image.map { image =>
        <img src="@libraryImageUrl(image.path)" alt="@lib.name" width="400"/>
    }
    <br/>
}
<br/>

<h1>You Helped People Last Week</h1>
TODO
<br/>

<h1>Your Friends created a library</h1>
@activityData.friendCreatedLibraries.map { case (friendId, libraries)  =>
    Your friend @fullName(friendId) created:<br/>
    @libraries.map { lib =>
        <a href="@{baseUrl}@{lib.url}">@lib.name</a><br/>
        @lib.numKeeps Keeps | @lib.numFollowers Followers<br/>
        @lib.image.map { image =>
            <img src="@libraryImageUrl(image.path)" alt="@lib.name" width="400"/>
        }
        <br/><br/>
    }
}

<br/>

<h1>Your Friends followed a library</h1>
@activityData.friendFollowedLibraries.map { case (libraryId, (lib, friendIds)) =>
    Your friends
    @friendIds.zipWithIndex.map { case (id, i) =>
        @if(i == friendIds.size - 1){and}
        @fullName(id)@if(i < friendIds.size - 1){,}
    }
    are following
    <a href="@{baseUrl}@{lib.url}">@lib.name</a><br/>
    curated by @lib.ownerName<br/>
    @lib.numKeeps Keeps | @lib.numFollowers Followers<br/>
    @lib.description.getOrElse("")<br/>
    @lib.image.map { image =>
        <img src="@libraryImageUrl(image.path)" alt="@lib.name" width="400"/>
    }
    <br/>
}
<br/>

<h1>Recommendations</h1>
@activityData.uriRecos.map { reco  =>
    <a href="@reco.itemInfo.url">@reco.itemInfo.title</a><br/>
    @reco.itemInfo.summary.description.getOrElse("")<br/>
    @reco.itemInfo.summary.imageUrl.map { url =>
        <img src="@toHttpsUrl(url)" alt="@reco.itemInfo.title" width="400"/><br/>
    }
    <br/><br/>
}

<h1>Library Recommendations</h1>
@activityData.libraryRecos.map { recoInfo =>
    <a href="@{baseUrl}@{recoInfo.itemInfo.url}">@recoInfo.itemInfo.name</a><br/>
    <a href="@{baseUrl}@{recoInfo.itemInfo.url}">@recoInfo.itemInfo.name</a>
    by @recoInfo.itemInfo.owner.fullName<br/>
    @recoInfo.itemInfo.description.getOrElse("")<br/>
    @recoInfo.itemInfo.image.map { image =>
        <img src="@libraryImageUrl(image.path)" alt="@recoInfo.itemInfo.name" width="400"/>
    }
    <br/><br/>
}
<br/>
