@(toUserId: Id[User], otherUserId: Id[User])
@import com.keepit.common.mail.template.helpers._
@email.tags.contentWrapper() {
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td height="46">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="middle" style="font-family:Arial,sans-serif; font-size:22px; font-weight:bold; color:#333333; line-height:24px;">Hi @firstName(toUserId)</td>
  </tr>
  <tr>
    <td height="22">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="middle" style="font-family:Arial,sans-serif; font-size:16px;color:#333333; line-height:23px;">@fullName(otherUserId) wants to be your kifi friend. Woo hoo</td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#f3f3f3" style="font-size:1px;line-height:1px;">&nbsp;</td>
  </tr>
  <tr>
    <td height="29">&nbsp;</td>
  </tr>
  <tr>
    <td align="left"><table width="230" border="0" cellspacing="0" cellpadding="0" align="left">
      <tr>
        <td valign="top" align="center"><img src="@avatarUrl(otherUserId)" alt="@fullName(otherUserId)" width="73" height="73" style="display:block;" border="0"/></td>
        <td width="39">&nbsp;</td>
        <td width="119" valign="top"  ><table width="119" border="0" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td align="left" valign="middle" style="font-family:Arial,sans-serif; font-size:16px;color:#333333; line-height:20px;">@fullName(otherUserId)</td>
          </tr>
          <tr>
            <td height="10" style="font-size:1px;line-height:1px;">&nbsp;</td>
          </tr>
          <tr>
            <td align="left">
              @email.tags.roundedContainer(119, 40, 8, "#41c381") {
              <a href='@acceptFriendUrl(otherUserId, "acceptBtn")' target="_blank" style="font-family:Arial, sans-serif;font-size:16px;line-height:26px;color:#ffffff;font-weight:bold;text-decoration:none;display:block;">Accept</a>
              }
            </td>
          </tr>
        </table>
        </td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td height="29">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#f3f3f3" style="font-size:1px;line-height:1px;">&nbsp;</td>
  </tr>
  <tr>
    <td height="29">&nbsp;</td>
  </tr>
  <tr>
    <td valign="middle" style="font-family:Arial,sans-serif; font-size:16px;color:#333333; line-height:23px;">Have a great day,<br />The Kifi team</td>
  </tr>
  <tr>
    <td height="70">&nbsp;</td>
  </tr>
</table>
}
