@(toUserId: Id[User], otherUserId: Id[User], category: com.keepit.model.NotificationCategory)
@import com.keepit.common.mail.template.helpers._
@import com.keepit.model.NotificationCategory.User._

Hey @firstName(toUserId),
@if(category == CONNECTION_MADE) {
You are now friends with @fullName(otherUserId) on Kifi. Enjoy @firstName(otherUserId)'s
keeps in your search results and message @firstName(otherUserId) directly on any page!
} else {
@firstName(otherUserId) accepted your Kifi friend request.
}
You and @fullName(otherUserId) are now Kifi friends

Have a great day,
The Kifi team
