@(toUserId: Id[User],
  otherUserId: Id[User],
  emailText: com.keepit.commanders.emails.ConnectionMadeEmailValues)
@import com.keepit.common.mail.template.helpers._
@email.tags.contentWrapper() {
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  @email.tags.trSpacer(46)
  <tr>
    <td align="left" valign="middle" style="font-family:Arial,sans-serif; font-size:22px; font-weight:bold; color:#333333; line-height:24px;">Hi @firstName(toUserId)</td>
  </tr>
  @emailText.line1.map { line1 =>
  <tr>
    <td height="22">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="middle" style="font-family:Arial,sans-serif; font-size:16px;color:#333333; line-height:23px;">@Html(line1)</td>
  </tr>
  }
  @email.tags.trSpacer(20)
  <tr>
    <td bgcolor="#f3f3f3" style="font-size:1px;line-height:1px;">&nbsp;</td>
  </tr>
  @email.tags.trSpacer(29)
  <tr>
    <td align="left">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
        <tr>
          <td valign="top" align="center" class="img-50">
            <a href="@profileUrl(otherUserId, "friendConnectionMade")"><img src="@avatarUrl(otherUserId)" alt="@fullName(otherUserId)" width="73" height="73" style="display:block;" border="0"/></a>
          </td>
          <td width="39">&nbsp;</td>
          <td align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr>
                <td align="left" valign="middle" style="font-family:Arial,sans-serif; font-size:16px;color:#333333; line-height:20px;">@Html(emailText.line2)</td>
              </tr>
              @email.tags.trSpacer(10)
              <tr>
                <td align="left">
                  @email.tags.roundedContainer(150, 40, 8, "#41c381", "left") {
                    <a href="@profileUrl(otherUserId, "friendConnectionMade")" style="font:bold 16px/26px Arial,sans-serif;color:#fff;text-decoration:none;display:block">View Profile</a>
                  }
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  @email.tags.trSpacer(29)
  <tr>
    <td bgcolor="#f3f3f3" style="font-size:1px;line-height:1px;">&nbsp;</td>
  </tr>
  @email.tags.trSpacer(29)
  <tr>
    <td valign="middle" style="font-family:Arial,sans-serif; font-size:16px;color:#333333; line-height:23px;">Have a great day,<br />The Kifi team</td>
  </tr>
  @email.tags.trSpacer(70)
</table>
}
