@(toUserId: Id[User],
  otherUserId: Id[User],
  category: com.keepit.model.NotificationCategory,
  networkNameOpt: Option[String] = None)
@import com.keepit.common.mail.template.helpers._
@import com.keepit.model.NotificationCategory.User._

Hey @firstName(toUserId),
@category match {
case SOCIAL_FRIEND_JOINED => {
Your @networkNameOpt.getOrElse("") friend @firstName(otherUserId) just joined Kifi

You and @fullName(otherUserId) are now Kifi friends
}
case FRIEND_ACCEPTED => {
@firstName(otherUserId) accepted your Kifi friend request.
}
case _ => {
You are now friends with @fullName(otherUserId) on Kifi. Enjoy @firstName(otherUserId)'s
keeps in your search results and message @firstName(otherUserId) directly on any page!
}
}

Have a great day,
The Kifi team
