@(userId: Id[User],
libViews: com.keepit.commanders.emails.GratificationCommander.LibraryCountData,
libFollowers: com.keepit.commanders.emails.GratificationCommander.LibraryCountData,
newConnections: Seq[Id[User]]
)
@import com.keepit.common.mail.template.helpers._
@singularOrPlural(word: String, quantity: Int) = @{ quantity match { case 1 => word; case _ => word + "s" } }
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<p>Hey @firstName(userId),</p>
@if(libViews.totalCount >= 5) {
<p>You had <b>@{libViews.totalCount} views</b> across all of your libraries:</p>
<ul>
    @for((libId, viewCount) <- libViews.countByLibrary) {
    <li>@{viewCount} @singularOrPlural("view", viewCount) on <a href=@libraryUrl(libId, "")>@libraryName(libId)</a></li>
    }
</ul>
}

@if(libFollowers.totalCount >= 1) {
<p>You had <b>@libFollowers.totalCount new @singularOrPlural("follower", libFollowers.totalCount)</b> across all of your libraries:</p>
<ul>
    @for((libId, followCount) <- libFollowers.countByLibrary) {
    <li>@followCount new @singularOrPlural("follower", followCount) on <a href="@libraryUrl(libId, "")">@libraryName(libId)</a></li>
    }
</ul>
}

@if(newConnections.length >= 1) {
<p>You made <b>@newConnections.length new @singularOrPlural("connection", newConnections.length)</b>:</p>
<ul>
@for(userId <- newConnections) {
    <li><a href="@profileUrl(userId, "")">@fullName(userId)</a></li>
}
</ul>
Share a library with them :)
}

</body>
</html>
