@(userId: com.keepit.common.db.Id[User], resetUrl: String)
@import com.keepit.common.mail.template.helpers._

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="70" class="fix1">&nbsp;</td>
    <td valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="46">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" style="font-family:Arial, sans-serif;font-size:16px;color:#333333;line-height:22px;">
            <span style="font-weight:bold;font-size:22px;line-height:24px;">Hi @firstName(userId),</span>
            <br/><br/>
            We received a request to <span style="font-weight:bold;">reset your password</span> on kifi.<br/>
            To choose a new password, please click the link below:
          </td>
        </tr>
        <tr>
          <td height="20">&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#f3f3f3" height="1" style="line-height:1px;font-size:1px;">&nbsp;</td>
        </tr>
        <tr>
          <td height="20">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" class="text" style="font-family:Arial, sans-serif;font-size:14px;color:#6fa6ef;line-height:20px;">
            <a href="@resetUrl" target="_blank" style="text-decoration:underline;color:#6fa6ef;">@resetUrl</a></td>
        </tr>
        <tr>
          <td height="25">&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#f3f3f3" height="1" style="line-height:1px;font-size:1px;">&nbsp;</td>
        </tr>
        <tr>
          <td height="20">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" style="font-family:Arial, sans-serif;font-size:16px;color:#333333;line-height:22px;">Have a
            great day,<br/>
            The Kifi team
          </td>
        </tr>
        <tr>
          <td height="65">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
