@(toUserId: Id[User])
@import com.keepit.common.mail.template.helpers._

Dear @firstName(toUserId),

I’m Kifi’s co-founder and CEO. I would like to personally welcome you to our vibrant community discovering, organizing, and sharing knowledge. We built Kifi (www.kifi.com) to make keeping and sharing web pages from any device a snap, and to that end we’ve made our platform available on web, iOS and Android.

You can learn more by reading our high level overview of how Kifi works (www.kifi.com/how_it_works), and if you have any questions or feedback, please don’t hesitate to contact me directly by responding to this message or connecting with me on Kifi. I would love to hear what you think.

Eishay Smith, CEO
http://www.kifi.com/eishay
