@(toUserId: Id[User], verifyUrl: Option[String], installs: Set[KifiInstallationPlatform])
@import com.keepit.common.mail.template.helpers._
@import play.api.libs.json._
@import com.keepit.model.KifiInstallationPlatform

@homeUrl = @{kifiUrl("kifiHome")}
@kifiGuideUrl = @{htmlUrl("https://www.kifi.com/getting-started?", "kifiTutorials", false)}
@platformSpiel = @{
  val hasExt = installs.contains(KifiInstallationPlatform.Extension)
  val hasMobile = installs.contains(KifiInstallationPlatform.IPhone) || installs.contains(KifiInstallationPlatform.Android)
  val spiel = if (hasExt && !hasMobile) {
    s""" In addition to our browser extensions, we’ve made our platform available on <a href="$iOsAppStoreUrl">iOS</a> and <a href="$googlePlayStoreUrl">Android</a>. """
  } else if (hasMobile && !hasExt) {
    s""" In addition to mobile, we’ve made our platform available on web with must-have <a href="https://www.kifi.com/install">Chrome and Firefox extensions</a>. """
  } else if (!hasMobile && !hasExt) {
    s""" We’ve made our platform available on web (with must-have <a href="https://www.kifi.com/install">Chrome and Firefox extensions</a>), <a href="$iOsAppStoreUrl">iOS</a>, and <a href="$googlePlayStoreUrl">Android</a>. """
  } else {
    ""
  }
  Html(spiel)
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
    <p>Hey @firstName(toUserId),</p>

    <p>Thank you for signing up for Kifi. We built Kifi to make keeping and sharing web pages from any device a snap.
    @platformSpiel

    You can check out our <a href="https://www.kifi.com/getting-started">getting started page</a>,
    or you can view your profile here: <a href="@profileUrl(toUserId)">@profileUrl(toUserId)</a>.

    If you would like to have a different profile URL, please reply and let me know.

    </p>


    @verifyUrl.map { url =>
      <p>To protect your privacy and security, please confirm your email address by clicking the following link: <a href="@url">@url</a>.</p>
    }

    <p>Eishay Smith, CEO<br>
    <a href="https://www.kifi.com/eishay">https://www.kifi.com/eishay</a></p>
    </body>
</html>
