@(toUserId: Id[User])
@import com.keepit.common.mail.template.helpers._
@homeUrl = @{htmlUrl("www.kifi.com?", "kifiHome", false)}
@howKifiWorksUrl = @{htmlUrl("https://www.kifi.com/how_it_works?", "howKifiWorks", false)}
@eishayKifiUrl = @{profileUrl(Id[User](1), "eishayProf")}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
    Dear @firstName(toUserId),<br>

    <p>Thank you for signing up for Kifi.</p>

    <p>I would like to personally welcome you to our vibrant community discovering, organizing,
    and sharing knowledge. We built Kifi to make keeping and sharing web pages from any device a snap, and to that end we’ve made
    our platform available on <a href="@homeUrl">web</a>, <a href="@iOsAppStoreUrl">iOS</a> and <a href="@googlePlayStoreUrl">Android</a>.
    By installing our <a href="@kifiChromeExtensionUrl">Chrome</a> or <a href="@kifiFirefoExtensionUrl">Firefox</a> extension, Kifi becomes seamlessly integrated with your browser.
    </p>

    <p>You can learn more by reading our high level overview of <a href="@howKifiWorksUrl">how Kifi works</a>, and you
        can view your profile here: <a href="@profileUrl(toUserId)">@profileUrl(toUserId)</a>.
        If you would like to have a different profile URL, please reach out to me and let me know.</p>

    <p>Eishay Smith, CEO<br>
    <a href="@eishayKifiUrl">http://www.kifi.com/eishay</a></p>
    </body>
</html>
