.kf-upc-cards
  padding-top: 23px

.kf-upc-card
  display: inline-block
  vertical-align: top
  width: 210px
  height: 350px
  box-sizing: border-box
  border: defaultBorder
  border-radius: 16px
  padding: 20px 16px
  background: #fff
  text-align: center
  margin: 0 9px 15px

.kf-upc-pic-a
  display: block
  height: 100px
  width: 100px
  margin: 0 auto 10px
  border-radius: 50%

.kf-upc-pic
  height: inherit
  width: inherit
  border-radius: '%s' % inherit

.kf-upc-name
  color: inherit
  font-size: 18px
  font-weight: bold
  letter-spacing: -.2px

  &:hover
    color: linkColor
    text-decoration: underline

.kf-upc-stats
  display: table
  width: 100%
  margin: 10px 0 20px

accentGreen = #5ab166

.kf-upc-stat
  display: table-cell
  text-align: center
  font-size: 11px
  font-smoothing: antialiased
  color: #333

  &::after
    content: attr(data-n)
    display: block
    margin-top: 2px
    font-size: 18px
    font-weight: bold
    font-smoothing: none
    color: accentGreen

.kf-upc-count
  font-size: 13px
  font-smoothing: antialiased
  color: #333

  &::before
    content: attr(data-n)
    margin-right: 3px
    font-weight: bold
    font-size: 15px
    color: accentGreen

.kf-upc-connect
  margin-top: 26px
  border-radius: 16px
  border: 1px solid accentGreen
  background: #fff
  padding: 0 22px
  line-height: 36px
  color: accentGreen
  font-size: 14px
