<li class="kf-upu-card" ng-class="{'kf-self': user.id === me.id}">
  <div class="kf-upu-settings" kf-hover-menu ng-if="mutual.isFriend && user.id !== me.id">
    <button class="kf-upu-settings-btn svg-settings-gear-gray"></button>
    <menu class="kf-upu-settings-menu kf-dropdown-menu">
      <button class="kifi-upu-settings-unsearch kf-dropdown-menu-item" ng-click="toggleSearch()">{{mutual.unsearched ? 'Show' : 'Hide'}} {{mutual.firstName}}’s keeps in my search results</button>
      <button class="kifi-upu-settings-unfriend kf-dropdown-menu-item" ng-click="unfriend()">Remove connection</button>
    </menu>
  </div>
  <a class="kf-upu-pic-a" href="{{user|profileUrl}}"><img class="kf-upu-pic" ng-src="{{user|pic:200}}"></a>
  <div class="kf-upu-name-wrap-1">
    <div class="kf-upu-name-wrap-2">
      <div class="kf-upu-name-wrap-3">
        <a class="kf-upu-name" href="{{user|profileUrl}}">{{user.firstName}} {{user.lastName}}</a>
      </div>
    </div>
  </div>
  <ul class="kf-upu-stats">
    <li class="kf-upu-stat" ng-if="user.libraries"><a class="kf-upu-stat-a" href="{{user|profileUrl:'libraries'}}">Libraries<div class="kf-upu-stat-n">{{user.libraries|num}}</div></a></li>
    <li class="kf-upu-stat" ng-if="user.connections"><a class="kf-upu-stat-a" href="{{user|profileUrl:'connections'}}">Connections<div class="kf-upu-stat-n">{{user.connections|num}}</div></a></li>
    <li class="kf-upu-stat" ng-if="user.followers"><a class="kf-upu-stat-a" href="{{user|profileUrl:'followers'}}">Followers<div class="kf-upu-stat-n">{{user.followers|num}}</div></a></li>
  </ul>
  <div class="kf-upu-counts" ng-if="$root.userLoggedIn">
    <div class="kf-upu-counts-title">You and {{mutual.firstName}} have:</div>
    <button class="kf-upu-count" data-n="{{mutual.connections|num}}" ng-click="showMutualConnections()" ng-if="mutual.connections">
      <ng-pluralize count="mutual.connections" when="{'one': 'mutual connection', 'other': 'mutual connections'}"></ng-pluralize>
    </button>
    <span class="kf-upu-count" data-n="0" ng-if="!mutual.connections">mutual connections</span>
    <span class="kf-upu-count" data-n="{{mutual.libraries|num}}">libraries in common</span>
  </div>
  <button class="kf-upu-connect kf-upu-button" ng-class="{'kf-connected': mutual.isFriend, 'kf-sent': mutual.friendRequestSentAt, 'kf-busy': connectBtnChanging, 'kf-transit': connectBtnChanging || connectBtnChanged}" ng-click="onClickPrimaryButton()">
    <span class="kf-upu-connect-text" ng-class="{'svg-checkmark': mutual.isFriend}"></span>
  </button>
  <div class="kf-upu-request" ng-if="mutual.friendRequestReceivedAt">
    <div class="kf-upu-request-text-1">
      <div class="kf-upu-request-text-2">
        {{mutual.firstName}} wants&nbsp;to&nbsp;connect
      </div>
    </div>
    <button class="kf-upu-decline kf-upu-button" ng-click="decline()">Decline</button>
    <button class="kf-upu-accept kf-upu-button" ng-click="accept()">Accept</button>
  </div>
</li>
