<div class="kf-upl-nav-container">
  <nav class="kf-upl-nav">
    <a class="kf-upl-nav-link" ui-sref=".own" ng-class="{'kf-selected': libraryType === 'own', 'kf-my': viewingOwnProfile}"
      ng-click="trackLibraryNav('own')">Libraries</a>
    <a class="kf-upl-nav-link" ui-sref=".following" ng-class="{'kf-selected': libraryType === 'following'}"
      ng-click="trackLibraryNav('following')">Following</a>
    <a class="kf-upl-nav-link" ui-sref=".invited" ng-class="{'kf-selected': libraryType === 'invited'}" ng-if="showInvitedLibraries()"
      ng-click="trackLibraryNav('invited')">Invited</a>
  </nav>
</div>

<div class="kf-upl">
  <div ui-view></div>
</div>
