.kf-upf-title
  background: #e8e8e8
  line-height: 66px  // matches subtabs height on libraries tab
  font-size: 20px

  .kf-mobile &
    line-height: 110px
    font-size: 32px

.kf-upf-cards
  padding-top: 23px
