<div class="kf-user-profile">
  <div kf-user-profile-header profile="profile" intent="intent"></div>
  <div class="kf-up-tab-container">
    <nav class="kf-up-tab">
      <button
        class="kf-up-tab-a kf-button-textonly"
        ui-sref="userProfile.libraries.own"
        ng-class="{ 'active': currentPageName === 'OwnedLibraries'}"
        ng-click="trackLibraryNav('own')"
      >
        <div class="kf-up-tab-count">{{profile.numLibraries|num}}</div>
        <div class="kf-up-tab-name" >Libraries</div>
      </button>
      <button
        class="kf-up-tab-a kf-button-textonly"
        ui-sref="userProfile.libraries.following"
        ng-click="trackLibraryNav('following')"
        ng-class="{ 'active': currentPageName === 'FollowedLibraries'}"
      >
        <div class="kf-up-tab-count">{{profile.numFollowedLibraries|num}}</div>
        <div class="kf-up-tab-name">Following</div>
      </button>
      <button
        class="kf-up-tab-a kf-button-textonly"
        ui-sref="userProfile.libraries.invited"
        ng-click="onClickTrack($event, 'clickedProfileLibraries')"
        ng-class="{ 'active': currentPageName === 'InvitedLibraries'}"
        ng-if="showInvitedLibraries()"
      >
        <div class="kf-up-tab-count">{{profile.numInvitedLibraries|num}}</div>
        <div class="kf-up-tab-name">Invited</div>
      </button>
      
      <button
        class="kf-up-tab-a kf-up-tab-a-left-space kf-button-textonly"
        ng-class="{ 'active': currentPageName === 'Connections'}"
        ui-sref="userProfile.connections"
        ng-click="onClickTrack($event, 'clickedProfileConnections')"
        data-path="connections"
        ng-if="true"
      >
        <div class="kf-up-tab-count">{{profile.numConnections|num}}</div>
        <div class="kf-up-tab-name">Connections</div>
      </button>
      <button
        class="kf-up-tab-a  kf-button-textonly"
        ui-sref="userProfile.followers"
        ng-click="onClickTrack($event, 'clickedProfileFollowers')"
        data-path="followers"
        ng-class="{ 'active': currentPageName === 'Followers'}"
        ng-if="true"
      >
        <div class="kf-up-tab-count">{{profile.numFollowers|num}}</div>
        <div class="kf-up-tab-name">Followers</div>
      </button>
            
    </nav>
  </div>
  <div class="kf-user-profile-content">
    <div ui-view></div>
  </div>
</div>
