<div class="kf-upl-card kf-upl-lib-card" ng-style="{'background-color': lib.color}"
     ng-class="{'justAddedBelow': lib.justAddedBelow, 'justAddedBelowAcross': lib.justAddedBelowAcross}">
  <a class="kf-upl-card-setting svg-settings-gear" ng-if="myProfile && myLibrary && lib.kind !== 'system_main' && lib.kind !== 'system_secret'" href="javascript:" ng-click="openModifyLibrary(lib, currentPageOrigin)"></a>
  <a class="kf-upl-card-link" href="{{lib|libPath}}" ng-click="trackUplCardClick(lib, 'clickedLibraryTitle')">
    <div class="kf-upl-card-icon" ng-class="{system_main: 'kf-sys svg-card-star', system_secret: 'kf-sys svg-card-lock'}[lib.kind] || 'kf-user svg-card-lock'" ng-if="(lib.visibility === 'secret' && myLibrary) || lib.kind === 'system_main'"></div>
    <div class="kf-upl-card-cover">
      <div class="kf-upl-card-cover-image" style="{{lib.image|bgImageAndPos}}" ng-if="lib.image"></div>
    </div>
    <div class="kf-upl-card-name-align">
      <div class="kf-upl-card-name">
        <div class="kf-upl-card-name-clip">{{lib.name|preventOrphans:16:(lib.name.length > 36 ? 1/3 : 0.6)}}</div>
      </div>
    </div>
  </a>
  <!-- owner only -->
  <a class="kf-upl-card-owner" ng-if="::lib.numCollaborators === 0" href="{{::lib.owner|profileUrl}}" kf-track-origin="{{::currentPageOrigin}}/curator" ng-click="trackUplCardClick(lib, 'clickedLibraryCurator')">
    <img class="kf-upl-card-owner-pic" ng-src="{{::lib.owner|pic:100}}" alt="{{::lib.owner|name}}" ng-if="::libraryType !== 'own'">
    <span class="kf-upl-card-by">by</span>
    <span class="kf-upl-card-by-name">{{::lib.owner|name}}</span>
  </a>
  <!-- owner with collaborators -->
  <div class="kf-upl-collabs" ng-if="::lib.numCollaborators > 0">
    <span class="kf-upl-card-by">by</span>
    <a class="kf-upl-collab-pic-a" href="{{::lib.owner|profileUrl}}" kf-track-origin="{{::currentPageOrigin}}/collaborator">
      <img class="kf-upl-collab-pic" ng-src="{{::lib.owner|pic:100}}" alt="{{::lib.owner|name}}">
    </a>
    <a class="kf-upl-collab-pic-a" href="{{::collab|profileUrl}}" kf-track-origin="{{::currentPageOrigin}}/collaborator" ng-repeat="collab in lib.collaborators | limitTo:maxNumCollaboratorsToShow">
      <img class="kf-upl-collab-pic" ng-src="{{::collab|pic:100}}" alt="{{::collab|name}}">
    </a>
    <button class="kf-upl-more-collab" ng-if="lib.numCollaborators > maxNumCollaboratorsToShow" ng-click="openCollaboratorsList(lib)">
      {{lib.numCollaborators - maxNumCollaboratorsToShow|num}}
    </button>
  </div>
  <div ng-class="{'kf-upl-counts': true, 'kf-mine': myLibrary}">
    <a href="{{lib|libPath}}" class="kf-upl-count" ng-click="trackUplCardClick(lib, 'clickedLibraryKeepsTotal')">
      <ng-pluralize count="lib.numKeeps" when="{'1':'{} Keep','other':'{{lib.numKeeps|num}} Keeps'}"></ng-pluralize>
    </a>
    <span class="kf-upl-count-dot" ng-if="lib.numFollowers > 0">·</span>
    <a href="javascript:" class="kf-upl-count kf-upl-count-followers" ng-click="openFollowersList(lib); trackUplCardClick(lib, 'clickedLibraryFollowersTotal')" ng-if="lib.numFollowers > 0">
      <ng-pluralize count="lib.numFollowers" when="{'1':'{} Follower','other':'{{lib.numFollowers|num}} Followers'}"></ng-pluralize>
    </a>
  </div>
  <div class="kf-upl-follow-wrap" ng-class="{'kf-following': lib.membership.access === 'read_only', 'kf-no-unfollow': followBtnJustClicked, 'kf-overflowing': overSubsBtn}" ng-attr-style="background-color:{{lib.color}}" ng-if="!myLibrary">
    <button class="kf-upl-follow-btn"
      ng-click="followBtnJustClicked = !lib.membership || followBtnJustClicked; onFollowButtonClick(lib, $event); trackUplCardClick(lib, 'clickedLibraryFollowButton')"
      ng-mouseleave="followBtnJustClicked = false"></button>
    <button ng-attr-class="kf-upl-subs-btn {{lib.membership.subscribed ? 'svg-notification-on-white' : 'svg-notification-off-white'}}"
      ng-click="toggleSubscribed(lib)" ng-mouseenter="overSubsBtn = true" ng-mouseleave="overSubsBtn = false"></button>
    <div class="kf-upl-subs-msg">Notifications {{lib.membership.subscribed ? 'enabled' : 'disabled'}}</div>
  </div>
  <div class="kf-upl-card-foot" ng-switch="myProfile && myLibrary && lib.visibility === 'published' && !lib.membership.listed ? 'unlisted' : lib.followers.length ? 'followers' : lib.lastKept ? 'updated' : ''">
    <div class="kf-upl-followers" ng-switch-when="followers">
      <a href="{{user|profileUrl}}" class="kf-upl-follower" ng-repeat="user in lib.followers" kf-track-origin="{{currentPageOrigin}}/follower" ng-click="trackUplCardClick(lib, 'clickedLibraryFollowersFace')"
         ng-attr-style="background-image:url({{user | pic:100}})"></a>
      <a class="kf-upl-followers-number" href="javascript:" ng-click="openFollowersList(lib); trackUplCardClick(lib, 'clickedLibraryFollowersMoreFollowing')">
        <span ng-if="lib.numFollowers === lib.followers.length" class="kf-upl-all-followers">{{lib.numFollowers === 1 ? 'follows this library' : 'are following'}}</span>
        <span ng-if="lib.numFollowers > lib.followers.length">
          + {{lib.numFollowers - lib.followers.length | num}}{{lib.numFollowers - lib.followers.length < 1000 ? ' are' : ''}} following
        </span>
      </a>
    </div>
    <div class="kf-upl-updated" ng-switch-when="updated">
      Updated&nbsp;<time ng-attr-datetime="{{lib.lastKept}}" am-time-ago="lib.lastKept"></time>
    </div>
    <div class="kf-upl-unlisted" ng-switch-when="unlisted">
      Hidden on public profile
    </div>
  </div>
</div>
