//
// Desktop styles.
// Note: mobile styles defined at the bottom.
//
.kf-user-profile
  margin: 0 auto
  text-align: center

.kf-user-profile-header
  padding-bottom: 25px
  background: pageHeaderColor
  color: #fff

.kf-up-basic-info-main-content
  position: relative
  padding-top: 40px

.kf-user-profile-available-action
  position: absolute
  top: 10px
  right: 12px

.kf-user-profile-connect
  display: inline-block
  cursor: pointer

  &.friends
    padding: 0
    text-align: right

  &.connect:hover .kf-user-profile-action.connect
    width: 60px

  &.request-sent
    cursor: initial

.kf-user-profile-connect-image
  display: inline-block

  &.add-friend
    sprite2x($add-friend)
    width: 36px

  &.already-friends
    sprite2x($add-friend-active)
    width: 36px

    &.hidden
      opacity: 0

.kf-user-profile-action
  position: relative
  top: 3px
  margin-left: 0px
  vertical-align: top
  font-size: 0.8em
  overflow: hidden

  &.connect
    display: inline-block
    width: 0px
    margin-left: 5px
    transition: 0.1s linear width

  &.hidden
    display: inline-block
    width: 0px
    height: 15px
    margin-left: 3px
    opacity: 0

.kf-user-profile-progress
  position: absolute
  top: 40px
  right: 5px
  width: 100px

.kf-user-profile-progress-bar
  position: absolute
  height: 2px
  width: 0%
  max-width: 70px
  background-color: white

.kf-user-profile-progress-check
  position: absolute
  top: -5px
  left: 75px
  sprite2x($white-checkmark)
  width: 14px
  height: 10px
  opacity: 0

.kf-user-profile-action-menu
  height: 0px
  overflow: hidden
  transition: 0.1s linear height

  &.on
    height: 50px

  .kf-user-profile-action-selection
    padding: 2px 10px 2px 10px
    margin-left: 30px
    margin-right: -8px
    font-size: 0.7em
    font-weight: 100
    line-height: 20px

    &:hover
      background-color: #37414b

.kf-user-profile-settings-link
  position: relative
  font-size: 1.2em
  color: white

  .kf-user-profile-settings-gear
    display: inline-block
    width: 20px
    height: 20px

  .kf-user-profile-action
    position: relative
    top: 1px

.kf-user-profile-friend-request-header
  position: relative
  border-radius: 8px
  height: 40px
  padding: 0 30px
  overflow: hidden
  background-color: libraryGreen
  font-size: 13px
  color: white
  transition: 0.2s linear height

.kf-user-profile-friend-request-msg
  float: left
  margin-top: 12px

.kf-user-profile-friend-respond
  float: right
  padding: 5px 15px
  margin-left: 10px
  margin-top: 8px
  border: 1px solid white
  border-radius: 4px
  font-size: 11px
  cursor: pointer

  &.kf-accept
    background-color: white
    color: libraryGreen

  &.kf-decline
    background-color: transparent
    color: #fff

.kf-user-profile-picture-a
  display: inline-block

.kf-user-profile-picture
  height: 100px
  width: 100px
  border-radius: 100%

.kf-user-profile-name
  font-weight: bold
  font-size: 1.3em
  line-height: 2em
  color: inherit

.kf-user-profile-user-nav-link
  display: inline-block
  color: #9fa3aa

  &:first-child
    margin-right: 5px

    &::after
      margin-left: 5px
      content: '·'


// Mobile styles

.kf-mobile
  .kf-user-profile
    font-size: 1.5em

  .kf-user-profile-header
    padding: 10px 0 40px

  .kf-user-profile-picture
    width: 150px
    height: 150px
