uphSmallMaxDim = 736px // for @media max-height and max-width
cardWidth = 210px
cardSideSpace = 18px

.kf-upl-nav-container
  padding: 14px 0
  background: #e8e8e8
  text-align: center

  @media (max-height: uphSmallMaxDim) and (max-width: uphSmallMaxDim)
    padding: 10px 0

.kf-upl-card-list
  max-width: 3 * (cardWidth + cardSideSpace)
  margin: 0 auto 50px

  @media (max-height: uphSmallMaxDim) and (max-width: uphSmallMaxDim)
    margin: -8px auto 40px

  &:empty
    // maintains page height and thus window scroll position while the list
    // is temporarily empty during sub-tab navigations
    min-height: 100vh

.kf-upl-nav
  display: table
  width: 75%
  max-width: 600px
  margin: 0 auto
  border-radius: 6px
  background: #cbcbcb

  @media (max-height: uphSmallMaxDim) and (max-width: uphSmallMaxDim)
    border-radius: 4px

.kf-upl-nav-link
  display: table-cell
  border-radius: '%s' % inherit  // github.com/tj/nib/issues/271
  width: 33%
  height: 38px
  line-height: 38px
  font-size: 13px
  color: #333539
  font-weight: bold
  text-transform: uppercase

  @media (max-height: uphSmallMaxDim) and (max-width: uphSmallMaxDim)
    height: 24px
    line-height: 24px
    font-size: 10px

  &.kf-selected
    background: #fff
    color: #000
    outline: none

  &:not(.kf-selected):hover
    background: #d0d0d0

  &.kf-my::before
    content: 'My '

.kf-upl-empty
  padding: 30px
  font-size: 16px
  color: #777

  @media (max-height: uphSmallMaxDim) and (max-width: uphSmallMaxDim)
    font-size: 12px

.kf-upl-card
  display: inline-block
  width: cardWidth
  height: 280px
  margin: 23px (cardSideSpace / 2) 0
  background: gray
  background-size: cover
  border-radius: 16px
  vertical-align: top
  position: relative
  overflow: hidden
  text-align: center

.kf-upl-create-card
  box-sizing: border-box
  border: 2px #979797 dashed
  background: #e7e7e7
  cursor: pointer

  &:last-child
    visibility: hidden

.kf-upl-create-card-add-icon
  position: absolute
  top: 75px
  left: 65px
  width: 70px
  height: 66px

.kf-upl-create-card-text
  position: absolute
  top: 150px
  left: 62px
  width: 85px
  font-size: 14px
  color: #333539
  line-height: 23px

  .kf-upl-create-card:hover &
    text-decoration: underline

.kf-upl-lib-card
  box-shadow: 0 3px #f5f5f5, 0 4px #c9ccc0, 0 6px #e5e5e5, 0 7px #c4c6cb, 0 8px #d4d4d4, 0 9px #bec1c5
  transition: transform 0.8s

  &.justAddedBelow
    transform: scale(0.4) translate(0, -765px)

  &.justAddedBelowAcross
    transform: scale(0.4) translate(-573px, -765px)

.kf-upl-card-link
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  user-select: none

.kf-upl-card-icon
  position: absolute
  left: 50%
  width: 20px
  height: 21px
  margin-left: -10px
  opacity: .5
  background-position: center
  background-size: auto 21px
  background-repeat: no-repeat

  &.kf-sys
    top: 25px

  &.kf-user
    radius = 14px
    z-index: 1
    top: 150px
    width: 2 * radius
    height: 2 * radius
    margin-left: -(radius)
    opacity: 1
    border-radius: 50%
    background-position: center 5px
    background-size: auto 16px
    background-color: libraryRed

.kf-upl-card-setting
  position: absolute
  top: 5px
  right: 5px
  width: 20px
  height: 20px
  z-index: 2
  background-position: center
  background-size: 15px 15px
  background-repeat: no-repeat

  :not(:hover)>&
    display: none

  &:not(:hover):not(:focus)
  &:active
    opacity: .7

name-line-height = 22px

.kf-upl-card-name-align
  display: table
  position: absolute
  top: 18px
  left: 0
  width: 100%
  height: 3 * name-line-height

  .kf-sys~&
    height: name-line-height
    top: 52px

.kf-upl-card-name
  display: table-cell
  padding: 0 16px
  color: #fff
  font-weight: bold
  font-size: 18px
  line-height: name-line-height
  word-wrap: break-word
  vertical-align: middle

.kf-upl-card-name-clip
  max-height: 3 * name-line-height
  overflow: hidden

owner-pic-diam = 32px

.kf-upl-card-owner
  position: absolute
  top: 98px
  left: 0
  right: 0
  height = 42px
  height: height
  background-color: rgba(255,255,255,.1)
  white-space: nowrap
  font-size: 0
  line-height: height
  color: #fff

.kf-upl-card-owner-pic
  width: owner-pic-diam
  height: owner-pic-diam
  border-radius: 50%
  box-shadow: 0 0 3px rgba(0,0,0,.3) inset
  vertical-align: middle
  margin-right: 6px

.kf-upl-card-by
  vertical-align: middle
  font-size: 11px
  font-style: italic
  margin-right: 5px

.kf-upl-card-by-name
  display: inline-block
  vertical-align: middle
  text-align: left
  max-width: 140px
  font-size: 11px
  font-weight: bold
  text-transform: uppercase
  letter-spacing: .2px
  overflow: hidden
  text-overflow: ellipsis

  [href]:hover>&
    text-decoration: underline

.kf-upl-counts
  position: absolute
  top: 158px
  left: 50%
  transform: translate(-50%)
  font-size: 0
  color: #fff
  white-space: nowrap
  text-shadow: 0 0 3px rgba(0,0,0,.6)

  &.kf-mine
    top: 184px

.kf-upl-count
  font-size: 13px
  font-weight: bold
  color: inherit

  &[href]:hover
    text-decoration: underline

.kf-upl-count-dot
  padding: 0 5px
  font-size: 14px
  cursor: default

.kf-upl-card-follow
  position: absolute
  top: 192px
  left: 50%
  transform: translate(-50%)
  box-sizing: border-box
  width: 91px
  height = 28px
  padding: 0
  background-color: rgba(220,220,220,.4)
  border: 1px solid rgba(255,255,255,.5)
  border-radius: (height / 2)
  color: #fff
  font-weight: 500
  font-size: 11px
  line-height: height
  text-transform: uppercase
  text-shadow: 0 0 2px rgba(0,0,0,.4)
  letter-spacing: .4px
  text-align: center
  box-shadow: 0 0 8px rgba(0,0,0,.2)

  &:hover
    background-color: rgba(235,235,235,.4)

  &:hover:active
    background-color: rgba(215,215,215,.4)

  &:focus
    border-style: dotted

  &::before
    content: 'Follow'

  &.kf-following
    width: 100px

  &.kf-following::before
    content: 'Following'

  &.kf-following:hover::before
    content: 'Unfollow'

.kf-upl-card-cover
  position: absolute
  left: 0
  right: 0
  bottom: 0
  height: 50%
  overflow: hidden

  &::after
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0,0,0,.2)
    content: ''

.kf-upl-card-cover-image
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #eee
  background-size: cover

.kf-upl-card-foot
  position: absolute
  left: 0
  right: 0
  bottom: 0
  height: 35px
  border-top: 1px solid rgba(255,255,255,.3)
  -webkit-font-smoothing: antialiased
  cursor: default

follower-pic-diameter = 23px

.kf-upl-followers
  padding: 5px 16px 0
  text-align: left
  line-height: follower-pic-diameter
  font-size: 11px
  vertical-align: middle
  color: rgba(255,255,255,.8)
  text-shadow: 0 0 6px rgba(0,0,0,.3)

.kf-upl-followers-number
  color: inherit

  &[href]:hover
    text-decoration: underline

.kf-upl-follower
  display: inline-block
  vertical-align: top
  width: follower-pic-diameter
  height: follower-pic-diameter
  background-size: cover
  background-position: center
  border-radius: 100%
  margin-right: 4px

  &:last-of-type
    margin-right: 3px

.kf-upl-all-followers
  margin-left: 1px

.kf-upl-updated
.kf-upl-unlisted
  line-height: 33px
  font-size: 12px
  color: rgba(255,255,255,.6)
  text-shadow: 0 0 6px rgba(0,0,0,.2)
