textColor = #505459
accentGreen = #5ab166

.kf-upu-card
  display: inline-block
  vertical-align: top
  width: 210px
  height: 360px
  margin: 0 9px 15px
  box-sizing: border-box
  border: defaultBorder
  border-radius: 16px
  padding: 22px 16px
  background: #fff
  text-align: center
  color: textColor

  .kf-logged-out &
    height: 290px

.kf-upu-pic-a
  display: block
  height: 100px
  width: 100px
  margin: 0 auto
  border-radius: 50%

.kf-upu-pic
  height: inherit
  width: inherit
  border-radius: '%s' % inherit

.kf-upu-name-wrap-1
  display: table
  table-layout: fixed
  max-width: 176px
  margin: 2px auto 6px

nameLineHeight = 21px
.kf-upu-name-wrap-2
  display: table-cell
  vertical-align: middle
  line-height: nameLineHeight
  height: 2 * nameLineHeight

.kf-upu-name-wrap-3
  max-height: 2 * nameLineHeight
  overflow: hidden

.kf-upu-name
  color: inherit
  font-size: 18px
  font-weight: bold
  letter-spacing: -.2px
  user-select: none

  &:hover
    color: linkColor

statLine1Height = 12px
statLine2Height = 24px

.kf-upu-stats
  display: table
  margin: 0 auto 10px

  &:empty
    height: statLine1Height + statLine2Height

.kf-upu-stat
  display: table-cell
  text-align: center
  font-size: 11px
  font-smoothing: antialiased
  padding: 0 4px

  &:first-child
    padding-left: 0

  &:last-child
    padding-right: 0

.kf-upu-stat-a
  display: block
  line-height: statLine1Height
  color: accentGreen

  &:hover
    color: linkColor

.kf-upu-stat-n
  content: attr(data-n)
  display: block
  line-height: statLine2Height
  font-size: 16px
  font-weight: bold
  color: textColor

.kf-upu-counts
  font-size: 0
  line-height: 10px

.kf-upu-counts-title
  line-height: 17px
  font-size: 13px
  font-smoothing: antialiased
  color: tint(textColor, 50%)
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.kf-upu-count
  line-height: 17px
  font-size: 13px
  font-smoothing: antialiased
  cursor: default

  button&
    border: none
    padding: 0
    background: transparent
    color: inherit
    cursor: pointer

    &:hover
      color: linkColor

  &::before
    content: attr(data-n)
    margin-right: 4px
    font-weight: bold
    font-size: 14px
    color: accentGreen

.kf-upu-connect
  borderWidth = 1px
  lineHeight = 36px
  margin-top: 20px
  border-radius: (lineHeight / 2) + borderWidth
  border: borderWidth solid accentGreen
  background: #fff
  padding: 0 22px
  line-height: lineHeight
  font-size: 13px
  color: accentGreen

  .kf-logged-out &
    margin-top: 4px
