desktopMinHeight = 740px // for @media min-height
cardWidth = 210px
cardSideSpace = 18px

.kf-upul-title
  background: #e8e8e8
  line-height: 44px  // matches subtabs height on libraries tab
  font-size: 11px
  font-weight: bold
  text-transform: uppercase

  @media (min-height: desktopMinHeight)
    line-height: 66px  // matches subtabs height on libraries tab
    font-size: 15px

topPadding1 = 16px
topPadding2 = 23px

.kf-upul-cards
  max-width: 3 * (cardWidth + cardSideSpace)
  margin: 0 auto 30px

  @media (min-height: desktopMinHeight)
    margin: 0 auto 40px

  &:empty
    // maintains page height and thus window scroll position while the list
    // is temporarily empty during sub-tab navigations
    min-height: 100vh

  &:not(:empty)
    padding-top: topPadding1

  @media (min-height: desktopMinHeight)
    &:not(:empty)
      padding-top: topPadding2

.kf-upul-empty
  padding: (30px - topPadding1) 30px 30px
  font-size: 12px
  color: #777

  @media (min-height: desktopMinHeight)
    padding: (30px - topPadding2) 30px 30px
    font-size: 16px
