//
// Desktop styles.
// Note: mobile styles defined at the bottom.
//
.kf-user-profile
  margin: 0 auto
  text-align: center

  // The following styles are hacky and can be removed when we move to
  // a two-column layout.
  margin-top: -15px  // So that the background will extend to the top
  margin-left: 1px   // Otherwise there is a small area jutting out on the top left

.delighted-visible ~ div .kf-user-profile
  margin-top: 15px  // Push down profile if we're showing the delighted survey.

.kf-user-profile-header
  color: #fff
  background: #3e4954

.kf-user-profile-header-content
  position: relative
  padding: 50px 0 25px

.kf-up-basic-info-main-content
  position: relative
  margin: 0 auto
  width: 500px

.kf-user-profile-optional-action
  position: absolute
  top: 35px
  right: 30px

.kf-user-profile-user-settings
  position: relative
  right: 100px
  display: block
  width: 20px
  height: 20px
  background-repeat: no-repeat

.kf-user-profile-connect
  display: block
  padding: 10px 0 0 50px
  height: 39px
  background-repeat: no-repeat
  text-align: left

  a&
    color: #fff

.kf-user-profile-picture
  height: 100px
  width: 100px
  border-radius: 100%

.kf-user-profile-name
  font-size: 1.3em
  line-height: 2em

.kf-user-profile-user-nav-link
  display: inline-block
  color: #9fa3aa

  &:first-child
    margin-right: 5px

    &::after
      margin-left: 5px
      content: '·'

.kf-upl-nav-container
  height: 54px
  padding-top: 15px
  background: #e8e8e8
  text-align: center

.kf-upl-card-list
  max-width: 800px
  margin: 0 auto 40px

.kf-upl-nav
  display: table
  width: 75%
  max-width: 600px
  margin: 0 auto
  border-radius: 6px
  background: #cbcbcb

.kf-upl-nav-link
  display: table-cell
  width: 33%
  height: 38px
  line-height: 38px
  border-radius: 6px  // should be inherit, see github.com/tj/nib/issues/271
  font-size: 0.8em
  color: #333539
  font-weight: bold
  text-transform: uppercase

  &.kf-selected
    background: #fff
    color: #000
    outline: none

  &:not(.kf-selected):hover
    background: #d0d0d0

  &.kf-my::before
    content: 'My '

.kf-upl-empty
  padding: 30px
  color: #777

.kf-upl-card
  display: inline-block
  width: 210px
  height: 280px
  margin: 23px 9px 0
  background: gray
  background-size: cover
  border-radius: 16px
  vertical-align: top
  position: relative
  overflow: hidden
  text-align: center
  box-shadow: 0 3px #f5f5f5, 0 4px #c9ccc0, 0 6px #e5e5e5, 0 7px #c4c6cb, 0 8px #d4d4d4, 0 9px #bec1c5

.kf-upl-card-link
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

.kf-upl-card-icon
  margin-top: 20px
  height: 21px
  background-position: center
  background-size: auto 21px
  background-repeat: no-repeat

name-line-height = 25px

.kf-upl-card-name-align
  display: table
  position: absolute
  top: 22px
  left: 0
  width: 100%

.kf-upl-card-setting
  position: absolute
  top: 5px
  right: 5px
  width: 20px
  height: 20px
  z-index: 2
  background-position: center
  background-size: 15px 15px
  background-repeat: no-repeat

  :not(:hover)>&
    display: none

  &:not(:hover):not(:focus)
  &:active
    opacity: .7

.kf-upl-card-name
  display: table-cell
  color: #fff
  font-weight: bold
  font-size: 20px
  line-height: name-line-height
  height: 2 * name-line-height
  vertical-align: bottom
  padding: 0 16px

.kf-upl-card-name-clip
  max-height: 2 * name-line-height
  overflow: hidden

.kf-upl-counts
  position: absolute
  top: 78px
  left: 0
  right: 0

.kf-upl-count
  font-size: 10px
  color: rgba(255,255,255,.7)

  .kf-upl-count+&::before
    content: '\00b7'
    padding: 0 4px

.kf-upl-card-byline
  position: absolute
  top: 210px
  left: 20px
  right: 20px
  color: #fff
  font-size: 12px
  font-weight: bold
  letter-spacing: .6px
  text-transform: uppercase
  text-shadow: 0 0 3px rgba(0,0,0,.6)

.kf-upl-card-by
  font-style: italic
  font-weight: normal
  text-transform: none
  letter-spacing: normal
  margin-right: 2px

:hover>.kf-upl-card-by-name
  text-decoration: underline

.kf-upl-card-cover
  position: absolute
  left: 0
  right: 0
  bottom: 0
  height: 56%
  overflow: hidden

  &::after
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0,0,0,.3)
    content: ''

.kf-upl-card-cover-image
  position: absolute
  top: -3px
  left: -3px
  right: -3px
  bottom: -3px
  background-size: cover
  -webkit-filter: blur(3px)
  -moz-filter: blur(3px)
  filter: blur(3px)

.kf-upl-card-owner-pic-a
  diameter = 60px
  position: absolute
  width: diameter
  height: diameter
  top: 50%
  left: 50%
  margin-left: -(diameter / 2)
  border-radius: 50%

  &:hover
    transform: scale(1.03)

.kf-upl-card-owner-pic
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  border-radius: 50%
  box-shadow: 0 0 3px rgba(0,0,0,.3) inset

.kf-upl-card-foot
  position: absolute
  left: 0
  right: 0
  bottom: 0
  height: 35px
  border-top: 1px solid rgba(255,255,255,.3)
  -webkit-font-smoothing: antialiased

follower-pic-diameter = 23px

.kf-upl-followers
  padding: 5px 16px 0
  text-align: left
  line-height: follower-pic-diameter
  font-size: 11px
  vertical-align: middle
  color: rgba(255,255,255,.7)

.kf-upl-follower
  display: inline-block
  vertical-align: top
  width: follower-pic-diameter
  height: follower-pic-diameter
  background-size: cover
  background-position: center
  border-radius: 100%
  margin-right: 4px

  &:last-of-type
    margin-right: 3px

.kf-upl-all-followers
  margin-left: 1px

.kf-upl-updated
.kf-upl-unlisted
  line-height: 33px
  font-size: 12px
  color: rgba(255,255,255,.5)

//
// Mobile styles.
//
.kf-logged-out.kf-mobile
  .kf-user-profile
    font-size: 1.5em

  .kf-user-profile-header-content
    padding: 55px 0 30px

  .kf-upl-nav-container
    height: 70px
    padding-top: 20px

  .kf-upl-nav-link
    height: 45px
    width: 30%
    max-width: 220px
    font-size: 1.1em

  .kf-upl-card
    position: relative
    border-radius: 54px
    width: 85%
    height: auto

    &::before
      display: block
      padding-top: 133%
      content: ''

  .kf-upl-card-name-align
    top: 70px

  .kf-upl-card-name
    height: 150px
    font-size: 72px
    line-height: 75px

  .kf-upl-card-name-clip
    max-height: none

  .kf-upl-counts
    top: 278px

  .kf-upl-count
    font-size: 36px

  .kf-upl-card-byline
    top: 690px
    font-size: 36px

  .kf-upl-card-owner-pic
    width: 200px
    height: 200px
    margin-left: -100px

  .kf-upl-card-foot
    height: 100px

  .kf-upl-updated
    line-height: 82px
    font-size: 28px

