<div class="kf-upc kf-width-bounded" smart-scroll scroll-distance="'100%'" scroll-disabled="!hasMoreConnections()" scroll-next="fetchConnections()">
  <!--h2 class="kf-upc-title">Connections</h2-->
  <ul class="kf-upc-cards">
    <li class="kf-upc-card" ng-repeat="user in users">
      <a class="kf-upc-pic-a" href="{{user|profileUrl}}"><img class="kf-upc-pic" ng-src="{{user|pic:200}}"></a>
      <a class="kf-upc-name" href="{{user|profileUrl}}">{{user.firstName}} {{user.lastName}}</a>
      <ul class="kf-upc-stats">
        <li class="kf-upc-stat"><a class="kf-upc-stat-a" href="{{user|profileUrl:'libraries'}}">Libraries<div class="kf-upc-stat-n">{{user.libs|num}}</div></a>
        <li class="kf-upc-stat"><a class="kf-upc-stat-a" href="{{user|profileUrl:'connections'}}">Connections<div class="kf-upc-stat-n">{{user.connections|num}}</div></a>
        <li class="kf-upc-stat"><a class="kf-upc-stat-a" href="{{user|profileUrl:'followers'}}">Followers<div class="kf-upc-stat-n">{{user.followers|num}}</div></a>
      </ul>
      <div>
        <button class="kf-upc-count" data-n="{{user.mConnections|num}}" ng-click="showMutualConnections(user)">
          <ng-pluralize count="user.mConnections" when="{'one': 'mutual connection', 'other': 'mutual connections'}"></ng-pluralize>
        </button>
      </div>
      <div>
        <button class="kf-upc-count" data-n="{{user.mLibraries|num}}">
          <ng-pluralize count="user.mLibraries" when="{'one': 'library in common', 'other': 'libraries in common'}"></ng-pluralize>
        </button>
      </div>
      <button class="kf-upc-connect">Connect</button>
    </li>
  </ul>
</div>
