<div class="kf-upl-card-list" smart-scroll scroll-distance="'100%'" scroll-disabled="!hasMoreLibraries()" scroll-next="fetchLibraries()">
  <div class="kf-upl-card" ng-repeat="lib in libraries track by lib.id" ng-style="{'background-color': lib.color}">
    <div class="kf-upl-card-setting svg-settings-gear" ng-if="isMyLibrary(lib.owner.id) && lib.kind==='user_created'" ng-click="openModifyLibrary(lib)"></div>
    <a class="kf-upl-card-link" href="{{lib.path}}">
      <div class="kf-upl-card-icon" ng-class="lib.kind === 'system_main' ? 'svg-card-star' : 'svg-card-lock'" ng-if="lib.system"></div>
      <div class="kf-upl-card-cover">
        <div class="kf-upl-card-cover-image" ng-style="{{lib.imageCss}}" ng-if="lib.image"></div>
      </div>
      <span class="kf-upl-card-listed" ng-if="isHidden(lib)">Hidden on Public Profile</span>
      <div class="kf-upl-card-name-align">
        <div class="kf-upl-card-name">
          <div class="kf-upl-card-name-clip">
            {{lib.name}}
          </div>
        </div>
      </div>
      <div class="kf-upl-counts">
        <ng-pluralize class="kf-upl-count" count="lib.numKeeps" when="{'1':'{} Keep','other':'{} Keeps'}" ng-if="lib.numKeeps > 0"></ng-pluralize>
        <ng-pluralize class="kf-upl-count" count="lib.numFollowers" when="{'1':'{} Follower','other':'{} Followers'}" ng-if="lib.numFollowers > 0"></ng-pluralize>
      </div>
      <div class="kf-upl-card-byline"><span class="kf-upl-card-by">by</span> {{lib.owner.firstName}} {{lib.owner.lastName}}</div>
    </a>
    <div itemscope itemtype="http://data-vocabulary.org/Person">
      <a href="{{getUserProfileUrl(lib.owner)}}" itemprop="url">
        <img class="kf-upl-card-owner-pic" ng-src="{{lib.ownerPicUrl}}" alt="{{lib.owner.firstName}} {{lib.owner.lastName}}" itemprop="photo">
      </a>
      <meta itemprop="name" content="{{lib.owner.firstName}} {{lib.owner.lastName}}" />
    </div>
    <div class="kf-upl-card-foot">
      <div class="kf-upl-followers" ng-if="lib.followers.length > 0">
        <a href="{{getUserProfileUrl(user)}}" class="kf-upl-follower" ng-repeat="user in lib.followers" ng-attr-style="background-image:url({{user.picUrl}})"></a>
        <span ng-if="lib.followers.length===1"> follows this library</span>
        <span ng-if="lib.followers.length > 1">
          <ng-pluralize count="lib.numFollowers - lib.followers.length" when="{'0':' follow this library','1':'+{} follower','other':'+{} followers'}"></ng-pluralize>
        </span>
      </div>
      <div class="kf-upl-updated" ng-if="lib.followers.length === 0 && lib.lastKept">
        Updated&nbsp;<time ng-attr-datetime="{{lib.lastKept}}" am-time-ago="lib.lastKept"></time>
      </div>
    </div>
  </div>
  <div class="kf-upl-empty" ng-if="libraries && libraries.length === 0">
    <span ng-if="libraryType == 'own'">{{viewingOwnProfile ? 'You have' : profile.firstName + ' has'}} not created any publicly viewable libraries.</span>
    <span ng-if="libraryType == 'following'">{{viewingOwnProfile ? 'You are' : profile.firstName + ' is'}} not following any libraries.</span>
    <span ng-if="libraryType == 'invited'">{{viewingOwnProfile ? 'You have' : profile.firstName + ' has'}} no pending invitations to follow a library.</span>
  </div>
</div>
