<div class="kf-user-profile">
  <div kf-user-profile-header profile="profile" intent="intent"></div>
  <div class="kf-upl-tab-container">
  <nav class="kf-upl-tab">
          <button
            class="kf-upl-tab-a kf-button-textonly"
            ui-sref="userProfile.libraries.own"
            ng-class="{ 'active': currentPageName === 'OwnedLibraries'}"
            ng-click="trackLibraryNav('own')"
          >
            <div class="kf-upl-tab-name" ng-class="{'kf-my': viewingOwnProfile}">Libraries</div>
          </button>
          <button
            class="kf-upl-tab-a kf-button-textonly"
            ui-sref="userProfile.libraries.following"
            ng-click="trackLibraryNav('following')"
            ng-class="{ 'active': currentPageName === 'FollowedLibraries'}"
          >
            <div class="kf-upl-tab-name">Following</div>
          </button>
          <button
            class="kf-upl-tab-a kf-button-textonly"
            ui-sref="userProfile.libraries.invited"
            ng-click="onClickTrack($event, 'clickedProfileLibraries')"
            ng-class="{ 'active': currentPageName === 'InvitedLibraries'}"
            ng-if="showInvitedLibraries()"
          >
            <div class="kf-upl-tab-name">Invited</div>
          </button>
          
          <button
            class="kf-upl-tab-a kf-upl-tab-a-left-space kf-button-textonly"
            ng-class="{ 'active': currentPageName === 'Connections'}"
            ui-sref="userProfile.connections"
            ng-click="onClickTrack($event, 'clickedProfileConnections')"
            data-path="connections"
            ng-if="true"
          >
            <div class="kf-upl-tab-name">Connections</div>
          </button>
          <button
            class="kf-upl-tab-a  kf-button-textonly"
            ui-sref="userProfile.followers"
            ng-click="onClickTrack($event, 'clickedProfileFollowers')"
            data-path="followers"
            ng-class="{ 'active': currentPageName === 'Followers'}"
            ng-if="true"
          >
            <div class="kf-upl-tab-name">Followers</div>
          </button>
          
        </nav>
</div>
  <div class="kf-user-profile-content">
    <div ui-view></div>
  </div>
</div>
