<div class="kf-upl-card-list kf-width-bounded" smart-scroll scroll-distance="'100%'" scroll-disabled="!hasMoreLibraries()" scroll-next="fetchLibraries()">
  <button ng-if="viewingOwnProfile && libraryType === 'own'" class="kf-upl-card kf-upl-create-card" ng-click="openCreateLibrary()">
    <span class="kf-upl-create-card-add-icon svg-create-library"></span>
    <div class="kf-upl-create-card-text">CREATE A LIBRARY</div>
  </button>
  <div class="kf-upl-card kf-upl-lib-card" ng-repeat="lib in libraries" ng-style="{'background-color': lib.color}"
       ng-class="{'justAddedBelow': lib.justAddedBelow, 'justAddedBelowAcross': lib.justAddedBelowAcross}">
    <a class="kf-upl-card-setting svg-settings-gear" ng-if="profile.id === me.id && lib.owner.id === me.id && lib.kind !== 'system_main' && lib.kind !== 'system_secret'" href="javascript:" ng-click="openModifyLibrary(lib)"></a>
    <a class="kf-upl-card-link" href="{{lib.path}}" ng-click="trackUplCardClick(lib, 'clickedLibraryTitle')">
      <div class="kf-upl-card-icon" ng-class="{system_main: 'kf-sys svg-card-star', system_secret: 'kf-sys svg-card-lock'}[lib.kind] || 'kf-user svg-card-lock'" ng-if="(lib.visibility === 'secret' && lib.owner.id === me.id) || lib.kind === 'system_main'"></div>
      <div class="kf-upl-card-cover">
        <div class="kf-upl-card-cover-image" ng-attr-style="background-image:url({{lib.imageUrl}});background-position:{{lib.image.x}}% {{lib.image.y}}%" ng-if="lib.image"></div>
      </div>
      <div class="kf-upl-card-name-align">
        <div class="kf-upl-card-name">
          <div class="kf-upl-card-name-clip">{{lib.name}}</div>
        </div>
      </div>
    </a>
    <div>
      <a class="kf-upl-card-owner" href="{{lib.owner|profileUrl}}" kf-track-origin="{{currentPageOrigin}}/curator"
        ng-click="trackUplCardClick(lib, 'clickedLibraryCurator')">
        <img class="kf-upl-card-owner-pic" ng-src="{{lib.owner | pic:100}}" alt="{{lib.owner.firstName}} {{lib.owner.lastName}}" ng-if="libraryType !== 'own'">
        <span class="kf-upl-card-by">by</span>
        <span class="kf-upl-card-by-name">{{lib.owner.firstName}} {{lib.owner.lastName}}</span>
      </a>
    </div>
    <div ng-class="{'kf-upl-counts': true, 'kf-mine': lib.owner.id === me.id}">
      <a href="{{lib.path}}" class="kf-upl-count" ng-click="trackUplCardClick(lib, 'clickedLibraryKeepsTotal')">
        <ng-pluralize count="lib.numKeeps" when="{'1':'{} Keep','other':'{{lib.numKeeps|number}} Keeps'}"></ng-pluralize>
      </a>
      <span class="kf-upl-count-dot" ng-if="lib.numFollowers > 0">·</span>
      <a href="javascript:" class="kf-upl-count kf-upl-count-followers" ng-click="openFollowersList(lib); trackUplCardClick(lib, 'clickedLibraryFollowersTotal')" ng-if="lib.numFollowers > 0">
        <ng-pluralize count="lib.numFollowers" when="{'1':'{} Follower','other':'{{lib.numFollowers|number}} Followers'}"></ng-pluralize>
      </a>
    </div>
    <button ng-class="{'kf-upl-card-follow': true, 'kf-following': lib.following}" ng-if="lib.owner.id !== me.id" ng-click="onFollowButtonClick(lib, $event); trackUplCardClick(lib, 'clickedLibraryFollowButton')"></button>
    <div class="kf-upl-card-foot" ng-switch="profile.id === me.id && lib.visibility === 'published' && lib.owner.id === me.id && !lib.listed ? 'unlisted' : lib.followers.length ? 'followers' : lib.lastKept ? 'updated' : ''">
      <div class="kf-upl-followers" ng-switch-when="followers">
        <a href="{{user|profileUrl}}" class="kf-upl-follower" ng-repeat="user in lib.followers" kf-track-origin="{{currentPageOrigin}}/follower" ng-click="trackUplCardClick(lib, 'clickedLibraryFollowersFace')"
           ng-attr-style="background-image:url({{user | pic:100}})"></a>
        <span ng-if="lib.numFollowers === lib.followers.length">
          <a href="javascript:" ng-click="openFollowersList(lib)" class="kf-upl-followers-number">
            <ng-pluralize class="kf-upl-all-followers" count="lib.numFollowers" when="{'1':'follows this library','other':'are following'}"></ng-pluralize>
          </a>
        </span>
        <span ng-if="lib.numFollowers > lib.followers.length">
          <a href="javascript:" ng-click="openFollowersList(lib); trackUplCardClick(lib, 'clickedLibraryFollowersMoreFollowing')" class="kf-upl-followers-number">+ {{lib.numFollowers - lib.followers.length}} are following</a>
        </span>
      </div>
      <div class="kf-upl-updated" ng-switch-when="updated">
        Updated&nbsp;<time ng-attr-datetime="{{lib.lastKept}}" am-time-ago="lib.lastKept"></time>
      </div>
      <div class="kf-upl-unlisted" ng-switch-when="unlisted">
        Hidden on public profile
      </div>
    </div>
  </div>
  <div class="kf-upl-empty" ng-if="libraries && libraries.length === 0">
    <span ng-if="libraryType === 'own'">{{viewingOwnProfile ? 'You have' : profile.firstName + ' has'}} not created any publicly viewable libraries.</span>
    <span ng-if="libraryType === 'following'">{{viewingOwnProfile ? 'You are' : profile.firstName + ' is'}} not following any libraries.</span>
    <span ng-if="libraryType === 'invited'">{{viewingOwnProfile ? 'You have' : profile.firstName + ' has'}} no pending invitations to follow a library.</span>
  </div>
</div>
