<div class="kf-user-profile-header kf-min-width-bounded">
  <div class="kf-width-bounded">
    <div class="kf-user-profile-friend-request-header" ng-if="connectionWithUser==='request_received'">
      <button class="kf-user-profile-friend-respond kf-accept" ng-click="acceptFriendRequest()">Accept</button>
      <button class="kf-user-profile-friend-respond kf-decline" ng-click="ignoreFriendRequest()">Decline</button>
      <span class="kf-user-profile-friend-request-msg">{{profile.firstName}} wants to connect with you on Kifi</span>
    </div>
    <div class="kf-up-basic-info-main-content" itemscope itemtype="http://schema.org/Person">
      <a href="{{userProfileRootUrl}}" itemprop="url">
        <img class="kf-user-profile-picture" ng-src="{{profile | pic:200}}" alt="{{profile.firstName}} {{profile.lastName}}" itemprop="image">
      </a>

      <div ng-if="!isKifiCurator" ng-switch="connectionWithUser" class="kf-user-profile-available-action">
        <div ng-switch-when="not_friends" class="kf-user-profile-connect connect" ng-click="sendFriendRequest()">
          <div class="kf-user-profile-action connect">Connect</div>
          <span class="kf-user-profile-connect-image add-friend"></span>
          <div class="kf-user-profile-action hidden">Invited to connect</div>
        </div>

        <div ng-switch-when="request_sent" class="kf-user-profile-connect request-sent">
          <span class="kf-user-profile-connect-image add-friend"></span>
          <span class="kf-user-profile-action">Invited to connect</span>
        </div>

        <div ng-switch-when="request_received" class="kf-user-profile-connect request-received">
          <span class="kf-user-profile-connect-image already-friends hidden"></span>
        </div>

        <div ng-switch-when="friends" class="kf-user-profile-connect friends" ng-click="toggleFriendMenu()">
          <span class="kf-user-profile-connect-image already-friends"></span>
          <div class="kf-user-profile-action-menu" ng-class="{on: showFriendMenu}">
            <div class="kf-user-profile-action-selection">Remove connection</div>
          </div>
        </div>

        <a ng-switch-when="self" class="kf-user-profile-settings-link" ui-sref="settings" ng-click="trackClickedSettings()">
          <span class="kf-user-profile-settings-gear svg-settings-gear"></span>
          <span class="kf-user-profile-action">Settings</span>
        </a>
      </div>
      <div class="kf-user-profile-progress" ng-if="connectionWithUser==='not_friends'">
        <div class="kf-user-profile-progress-bar"></div>
        <div class="kf-user-profile-progress-check"></div>
      </div>

      <div class="kf-user-profile-name" itemprop="name">{{profile.firstName}} {{profile.lastName}}</div>
    </div>
    <nav class="kf-user-profile-user-nav">
      <!-- For testing AngularUI routing, using <a> tags. However, will make into divs for V1 release. -->
      <!-- Switch back to <a> tags in V2. (use: ui-sref="{{userNavLink.routeState}}") -->
      <div class="kf-user-profile-user-nav-link" ng-repeat="userNavLink in userNavLinks">
        <span class="kf-user-profile-user-nav-item-count">{{userNavLink.count|number}}</span>
        <span class="kf-user-profile-user-nav-item-name">{{userNavLink.name}}</span>
      </div>
    </nav>
  </div>
</div>
