<div class="kf-header-inner" ng-controller="HeaderCtrl">
  <div class="kf-header-left">
    <img class="kf-header-toggle-menu" src="img/placeholder-icon.png" ng-click="toggleMenu()"></img>
    <div class="kf-header-left-separator"></div>
    <a href="/profile"><div class="kf-header-profile-picture" ng-style="{'background-image': 'url(' + me.picUrl + ')'}"></div></a>
    <a href="/"><img class="kf-header-logo" src="/img/kifi-logo.png"></img></a>
  </div>
  <div class="kf-header-right">
    <span class="sprite sprite-add-link">Add a link</span>
    <span class="sprite sprite-friends">Friends</span>
    <span class="sprite sprite-settings">Settings</span>
  </div>
</div>
