<div class="kf-header-inner" ng-controller="HeaderCtrl">
  <div class="kf-header-left">
    <div class="kf-header-toggle-menu closed sprite sprite-burger" ng-click="toggleMenu()"></div>
    <div class="kf-header-toggle-menu open sprite sprite-burger-open" ng-click="toggleMenu()"></div>
    <div class="kf-header-left-separator"></div>
    <a href="/profile"><div class="kf-header-profile-picture" ng-style="{'background-image': 'url(' + me.picUrl + ')'}"></div></a>
    <a href="/"><img class="kf-header-logo" src="/img/kifi-logo.png"></a>
  </div>
  <div class="kf-header-right">
    <div class="sprite sprite-add-link" ng-click="addKeeps()">Add a link</div>
    <div class="kf-header-icon-hover-container">
      <div class="kf-header-icon-friends sprite sprite-friends">
        Friends
        <!--<div class="kf-friend-invite-badge on-icon" ng-if="friendRequests.length && !isActive('/friends')"></div>--></div>
      <ul class="kf-dropdown-menu">
        <li class="kf-dropdown-menu-item" ng-click="navigateToFriends()"><!--<div class="kf-friend-invite-badge on-item" ng-if="friendRequests.length && !isActive('/friends')"></div>--><a class="kf-your-friends-header-link" href="javascript:" ng-class="{'active': isActive('/friends') }">Your Kifi Friends</a></li>
        <li class="kf-dropdown-menu-item" ng-click="navigateToInvite()"><a href="javascript:" ng-class="{'active': isActive('/invite') }">Invite a friend to Kifi</a></li>
      </ul>
    </div>
    <a href="/profile" class="sprite sprite-settings">Settings</div>
  </div>
</div>
