.kf-header
  position: fixed
  top: 0
  width: 100%
  height: 62px
  background-color: #333
  z-index: 500

.kf-header-inner
  height: 100%

.kf-header-left
  float: left
  height: 100%
  margin-left: 30px
  line-height: 62px
  box-sizing: border-box
  text-align: center

.kf-header-toggle-menu
.kf-header-left-separator
.kf-header-profile-picture
.kf-header-logo
  vertical-align: middle

.kf-header-toggle-menu
.kf-header-left-separator
  display: none

.kf-header-profile-picture
.kf-header-logo
  display: inline-block

.kf-header-toggle-menu
  cursor: pointer
  width: 30px
  padding: 0 13px

.kf-header-left-separator
  height: 35px
  border: 1px solid #7d7d7d

.kf-header-profile-picture
  width: 32px
  height: 32px
  margin: 0 6px 0 14px
  border-radius: 100%
  background-size: 100%

.kf-header-logo
  height: 20px

@media (max-width: 1024px)
  .kf-header-toggle-menu
  .kf-header-left-separator
    display: inline-block

  .kf-header-left
    margin-left: 20px

a.kf-header-callout
  position: relative
  top: 12px
  width: 60px
  font-size: 10px
  line-height: 10px
  font-weight: 300
  font-style: italic
  font-smoothing: antialiased
  color: #fff
  text-decoration: none

a.kf-header-callout:hover
  text-decoration: underline

.kf-header-right
  overflow: hidden
  height: 100%
  margin-right: 60px
  line-height: 62px
  text-align: right
  font-size: 14px
  box-sizing: border-box

  .sprite-add-link
    &:hover
      sprite2x($add-link-active)

  a[href]
    padding: 10px 15px
    color: white
    vertical-align: middle

    &:hover
      color: #ccc

    &:active
      color: white
