.kf-keep-comments-container
  display: flex
  width: 100%
  height: auto
  flex-flow: row wrap
  justify-content: space-around

  > * + *
    margin: 15px 0 0

.kf-keep-comments
  display: flex
  flex-direction: column
  width: 100%
  padding: 15px 10px 0px 10px

.kf-keep-comments-view-previous
  font-size: 14px
  font-weight: bold
  color: accentGreen
  font-smoothing: antialiased
  align-self: center
  margin-bottom: 10px

  &:hover
    text-decoration: underline
    cursor: pointer

.kf-keep-comments-input-container
  flex-direction: row
  flex-wrap: nowrap
  display: flex

[contenteditable]:empty:before
  content: attr(placeholder)
  display: block
  font-smoothing: antialiased
  color: #AAA

.kf-keep-comments-input-user-img
  align-self: flex-start
  width: 34px
  height: 34px
  background: #3e495533
  border-radius: 17px
  flex-shrink: 0
  margin-right: 10px
  border: none
  outline: none

.kf-keep-comments-input
  height: auto
  white-space: pre-wrap
  word-wrap: break-word
  background-color: #FBFBFB
  max-height: 300px
  flex-grow: 1
  border: 1px solid #3e495533
  border-radius: 1px
  font-size: 14px
  padding: 7px
  padding-right: 10px
  padding-left: 10px
  color: #333333
  box-sizing: border-box

.kf-keep-comments-error
  margin-right: 15px
  margin-left: auto
  font-size: 14px
  text-align: left
  color: errorRed

.kf-keep-comments-comment + .kf-keep-comments-comment
  margin-top: 15px

.kf-keep-comments-comment + .kf-keep-comments-input-container
  margin-top: 15px
