<div class="kf-social-connect">
  <div class="kf-social-connect-title">Connect your social networks to Kifi</div>
  <p class="kf-social-connect-desc">Connect your networks to quickly find people you may know already using Kifi.</p>
  <div class="kf-social-connect-buttons">

    <!-- Facebook -->
    <div class="kf-social-connect-row">
      <div ng-if="facebook.profileUrl">
        <div class="kf-social-connected-button kf-facebook">Facebook Connected</div>

        <span class="kf-social-notice-badge" ng-if="facebookStatus() === 'kf-good'">
          <span class="kf-notice-button kf-good"></span>
        </span>

        <span class="kf-social-notice-badge" ng-if="facebookStatus() === 'refreshing'">
          <span class="kf-notice-message kf-import">
            <div class="kf-bouncy-ball">
              <div class="pace pace-active"><div class="pace-progress"></div><div class="pace-activity"></div></div>
            </div>
            Importing your contacts
          </span>
        </span>

        <span class="kf-social-notice-badge" ng-if="facebookStatus() === 'expired'"  ng-click="connectFacebook()">
          <span class="kf-notice-button kf-warn">×</span>
          <span class="kf-notice-message kf-refresh">Refresh connection</span>
        </span>

      </div>
      <div ng-if="!facebook.profileUrl">
        <a class="kf-social-connect-button kf-facebook" href="javascript:" ng-click="connectFacebook()">Connect Facebook</a>
      </div>
    </div>

    <!-- Twitter -->
    <div class="kf-social-connect-row">
      <div ng-if="twitter.profileUrl">
        <div class="kf-social-connected-button kf-twitter">Twitter Connected</div>

        <span class="kf-social-notice-badge" ng-if="twitterStatus() === 'kf-good'">
          <span class="kf-notice-button kf-good"></span>
        </span>

        <span class="kf-social-notice-badge" ng-if="twitterStatus() === 'refreshing'">
          <span class="kf-notice-message kf-import">
            <div class="kf-bouncy-ball">
              <div class="pace pace-active"><div class="pace-progress"></div><div class="pace-activity"></div></div>
            </div>
            Importing your contacts
          </span>
        </span>

        <span class="kf-social-notice-badge" ng-if="twitterStatus() === 'expired'"  ng-click="connectTwitter()">
          <span class="kf-notice-button kf-warn">×</span>
          <span class="kf-notice-message kf-refresh">Refresh connection</span>
        </span>

      </div>
      <div ng-if="!twitter.profileUrl">
        <a class="kf-social-connect-button kf-twitter" href="javascript:" ng-click="connectTwitter()">Connect Twitter</a>
      </div>
    </div>

    <!-- Gmail -->
    <div class="kf-social-connect-row" ng-if="gmail.length === 0">
      <a class="kf-social-connect-button kf-gmail" href="javascript:" ng-click="importGmail()">Connect Gmail</a>
    </div>

    <div ng-repeat="account in gmail" ng-if="gmail.length > 0">
      <div class="kf-social-connect-row kf-social-extended">
        <div class="kf-social-connected-button kf-gmail">
          Gmail Connected
          <div class="kf-social-account-name">{{account.ownerEmail}}</div>
        </div>
        <span class="kf-social-notice-badge">
          <span class="kf-notice-button kf-good"></span>
        </span>
      </div>
    </div>

    <div class="kf-social-more-accounts" ng-if="gmail.length > 0" ng-click="importGmail()">Refresh/Add more Gmail accounts</div>

  </div>
</div>
