.kf-social-connect
  min-width: 430px
  margin: 0 auto
  text-align: center
  width: 0px

.kf-social-connect-title
  font-size: 24px
  font-weight: 300
  font-family: Lato, Arial, sans-serif
  font-style: italic

.kf-social-connect-desc
  font-size: 16px
  margin: 15px auto 35px
  max-width: 350px

a.kf-social-connect-button,
a.kf-social-connect-button:hover,
a.kf-social-connect-button:active
  color: #fff
  text-decoration: none

.kf-social-connect-buttons
  text-align: center

.kf-social-connect-button
  padding: 11px
  font-size: 18px
  cursor: pointer
  width: 215px
  border-radius: 4px
  display: inline-block
  text-align: center

  &.kf-facebook
    background-color: #597AB1

  &.kf-gmail
    background-color: #E36767

  &.kf-twitter
    background-color: #55acee

.kf-social-connect-row
  margin: 15px auto

.kf-social-more-accounts
  margin-top: -10px
  font-size: 14px
  color: #486788
  text-decoration: underline
  cursor: pointer

.kf-social-connected-button
  padding: 10px 11px
  font-size: 18px
  width: 215px
  border-radius: 4px
  background-color: #fff
  display: inline-block
  text-align: center

  &.kf-facebook
    color: #597AB1
    border: 1px solid #597AB1

  &.kf-gmail
    color: #E36767
    border: 1px solid #E36767

  &.kf-twitter
    color: #55acee
    border: 1px solid #55acee

  .kf-social-account-name
    font-size: 14px
    color: #999

.kf-social-notice-badge
  position: relative
  text-align: center

  .kf-notice-message
    position: absolute
    width: 200px
    left: 24px
    top: -2px
    text-align: left

    &.kf-import
      color: #40c381
      left: 44px

    &.kf-refresh
      color: #486788
      text-decoration: underline
      cursor: pointer

  .kf-notice-button
    content: ' '
    position: absolute
    top: -8px
    right: -15px
    background-color: #f00
    border-radius: 50px
    width: 30px
    height: 30px
    line-height: 30px
    border: 1px solid #0f0
    user-select: none

    .kf-social-extended &
      top: -16px

    &.kf-good
      background: url(/img/checkmark.png) 7px/18px no-repeat #41C381
      border: 1px solid #41C381

    &.kf-warn
      border: 1px solid #f59989
      font-size: 30px
      color: #f59989
      background: #FFEDA5
      font-weight: 300
      font-family: sans-serif
      line-height: 26px

.kf-bouncy-ball
  transform: scale(.45)
  top: -15px
  left: -30px
  position: absolute
